[2022-10-05 00:28] dcantah commented on #7439
@SyngoPredevelopment Sure, https://github.com/containerd/containerd/blob/main/platforms/defaults_windows.go. And yes! Need to work out any edge cases but yes, it'd be a shame to not allow this functionality if it's supported in the platform now

[2022-10-05 02:40] fuweid commented on #7472
I think we can use relative path to get the `go.mod`, like

[code]

[2022-10-05 02:59] lengrongfu commented on #7472
I can think of has three steps:
1. When the `"$GOPATH"/src/github.com/containerd/containerd/go.mod` file cannot be read, read the `../../go.mod` file in the current directory
2. When the first step fails to read, read the `go.mod` file in the `"$GOPATH"/pkg/mod/github.com/containerd/containerd` directory.
3. When the second read fails, set the default value of `CNI_COMMIT` to main

[2022-10-05 05:54] SyngoPredevelopment commented on #7439
OK, many thanks

[2022-10-05 06:57] lengrongfu commented on #7472
@sparr Can you accept this approach?

The execution of `make install-deps` should be in the development environment, so the `../../go.mod` file should exist.

[2022-10-05 10:39] yan0s opened #7480 "Error collecting metrics on privileged container"
### Description

Can't get task metrics with daemon config "systemdCgroup = true" for privileged containers (all other containers report metrics fine)
[code]
Also, in the container logs I see "level=error msg="collecting metrics for ####" error="cgroups: cgroup deleted: unknown""

If I change daemon config to "systemdCgroup = false", restart contained, and rebuild the container then the command ab

[2022-10-05 13:48] sparr commented on #7472
@lengrongfu I'd probably do a more direct relative access rather than `cd`, but yes I think that's a reasonable approach.

Regarding the priority order, I would prefer to put `../../go.mod` first, then `"$GOPATH"/pkg/mod/github.com/containerd/containerd*/go.mod`, then `"$GOPATH"/src/github.com/containerd/containerd/go.mod`, then fall back to just setting `CNI_COMMIT` to `main`

[2022-10-05 14:10] fuweid commented on #7472
The script is stored in the repo, right? Even if the go mod has been disabled.
If the go.mod is not in the root dir, why do we need to search the pkg dir in GOPATH?
If there is failback step to search GOPATH/pkg/mod, which version of containerd is correct?

Well, just my two cents, the default version should be aligned with go.mod.
If there is no dependence in go.mod (it is unlikely), we should co

[2022-10-05 18:12] nparekh-futurewei commented on #4581
Thou Saved The Day

[2022-10-06 23:31] dcantah commented on #5729
I'm going to close this out as the CNI should be the one concerned with a faulty configuration for any ip info.

[2022-10-06 23:31] #5729 closed

[2022-10-07 16:55] kzys commented on #6174
@Rouzip Sure! Please feel free to take it. Assigned.

[2022-10-07 17:40] sparr commented on #7472
I'm going to close this issue and direct further discussion to #7484 where additional progress has already been made.

[2022-10-07 19:36] ginglis13 commented on #5642
If `-` is not a separator but part of a field, as #6188 and #5657 implemented, then `com.example.some-label` would be parsed into fieldpath `[com, example, some-label]`.

If we treat `-` as a separator, then `com.example.some-label` would be parsed into fieldpath `[com, example, some, label]`. Someone could get the same fieldpath outcome as above if they used the label key in quote: `com.example."

[2022-10-07 23:20] swagatbora90 opened #7493 "Add unit/integration tests coverage for opentelemetry tracing support"
### What is the problem you're trying to solve

Containerd has opentelemetry trace support, but currently there are no unit tests or integration tests related to otel plugin nor tests around individual spans.

This can include:
1. Testing the otel SDK
2. Testing manual instrumentation

There is helper package available already https://pkg.go.dev/go.opentelemetry.io/otel/sdk/trace/tracetest

Having

[2022-10-07 23:23] ginglis13 commented on #7006
Looks like Docker had this discussion a few years back:

https://github.com/moby/moby/issues/13840

https://github.com/moby/moby/pull/20684

https://github.com/moby/moby/pull/22272

Are you still interested in implementing @MagicRB ? otherwise I could give it a try.

[2022-10-08 00:21] MagicRB commented on #7006
Oh you can go ahead, i bypassed this by just not running the thing i wanted to run in containerd, but it's still handy to have. And to be frank, go isn't a language I excell at. Almost anyone will do a much better job than me :). @ginglis13

[2022-10-08 05:08] dhiman360 commented on #7415
@fuweid , @AkihiroSuda , @mikebrow , trying to reach you to see if you can please prioritize this serious memory issue.

[2022-10-08 05:16] #7388 closed

[2022-10-08 09:01] lengrongfu commented on #7412
Can you provide a detailed description of the expected usage scenario? @cbf123

[2022-10-08 09:20] rkonfj opened #7495 "really hope `ctr` supports `rlimits`"
### What is the problem you're trying to solve

I want to use `ctr + systemd` to deploy applications in the production environment, but the default `RLIMIT_NOFILE` is `1024`, causing `too many open files` exception .

### Describe the solution you'd like

`ctr` add parameter to support custom resource limit

### Additional context

_No response_

[2022-10-08 10:53] lengrongfu commented on #7312
About support port forwarding，current having [sandbox_portforward_linux.go](https://github.com/containerd/containerd/blob/main/pkg/cri/sbserver/sandbox_portforward_linux.go) Implemented port forwarding, the `PortForward` logic implemented by `podSandbox.Controller` should be the same, right?

[2022-10-08 11:14] davidwtf opened #7496 "shim process leaked when the host having high disk i/o usage"
### Description

We are processing a test for `containerd` as Kubernetes's CRI for long-term running. A test program will continuously create and delete pods by calling Kubernetes API. And a stress test program will run on the host to simulate heavy disk usage.

We found that the `containerd-shim-runc-v2` process may be leaked if the disk i/o usage is very high. There are hundreds of containerd-sh

[2022-10-08 15:16] lengrongfu commented on #7495
Can you provide steps to reproduce?

[2022-10-09 01:35] tasselsd commented on #7495
`ctr oci spec` get default OCI spec, it's `rlimits` like this:

[code]

[2022-10-09 02:23] lengrongfu commented on #7495
Yes, I mean you can describe how you use ctr+system to deploy the application (so others can quickly reproduce your problem and fix it), and what parameters are expected in that command, `ctr run` or `ctr c create` and so on.

[2022-10-09 04:07] AkihiroSuda commented on #7495
`ctr` is a debugging tool and not expected to be used in production.

nerdctl ( https://github.com/containerd/nerdctl ) provides stable CLI with support for `RLIMIT_NOFILE`:
[code]

[2022-10-09 05:10] tasselsd commented on #7495
nice, `nerdctl` definitely meets my needs. but

i hope ctr natively supports it, in view of every containerd distribution comes with ctr.

[2022-10-09 05:18] tasselsd commented on #7495
#### Now:
[code]
#### Expect:
[code]

[2022-10-09 08:23] lengrongfu commented on #7495
As AkihiroSuda said, `ctr` is a debug tool, it is recommended to use `nerdctl` first.

[2022-10-09 09:35] gojoy opened #7498 "call cni CHECK cmd to probe the status of an existing container"
CNI support [CHECK](https://github.com/containernetworking/cni/blob/spec-v1.0.0/SPEC.md#check-check-containers-networking-is-as-expected) cmd to probe the status of an existing container, is there any plan to implement this feature in containerd?

[2022-10-09 16:29] lengrongfu opened #7500 "Upgrade to Go 1.19"
### What is the problem you're trying to solve

The current Go1.19 version has been released for a while, do you want to upgrade to the Go1.19 version?

I read the PR for [upgrading from 1.17 to 1.18](https://github.com/containerd/containerd/pull/6709) with different opinions, so upgrading to 1.19 needs to be discussed.

[`Go Doc`](https://github.com/golang/proposal/blob/master/design/51082-godocf

[2022-10-09 16:29] lengrongfu commented on #7500
/status/needs-discussion

[2022-10-09 16:30] lengrongfu commented on #7500
/label status/needs-discussion

[2022-10-09 16:30] lengrongfu commented on #7500
/kind status/needs-discussion

[2022-10-09 21:16] ish-xyz commented on #7219
I suspect that your situation is similar to mine where some container run as root, others not. The ones not running as root, are ofc failing.

[2022-10-10 01:45] fuweid commented on #7500
https://github.com/containerd/containerd/pull/7254 😅 closing

[2022-10-10 01:45] #7500 closed

[2022-10-10 02:02] lengrongfu commented on #7500
This PR https://github.com/containerd/containerd/pull/7254 only changes the Go version in CI, the current `Go` version in `go.mod` is still `1.18`

https://github.com/containerd/containerd/blob/4a0ddfa9742b565833e20968bf5169734f1e1517/go.mod#L3

[2022-10-10 02:38] fuweid commented on #7500
If I understand correctly, the go version in go.mod is minimum go version. Go 1.18 is still active, so the user can use go1.18 to build containerd. We can update it to go1.19 when go1.18 is EOF

[2022-10-10 11:26] VGerris commented on #6707
What worked for me on Fedora 36:
sudo vim /lib/systemd/system/containerd.service ->
[code]
Then:
[code]
run again:
docker run --name=mysql1 -d mysql/mysql-server:5.7

After that it worked for me, where with the value set to unlimited, the container crashed in seconds.
This change does not seem to be needed on Ubuntu and derivates, is there anything else messing this up?

[2022-10-10 13:28] abel-von commented on #7312
I merged the codes to the recent main branch and summit a PR, it is still a demo codes so the CI checking is still not passed, but you can download the codes and play it if anyone is interested.

[2022-10-10 14:26] sparr commented on #7472
I've been asked to reopen this until the PR is merged. Discussion should still take place on the PR if it's topical there.

[2022-10-10 14:33] Rouzip commented on #6174
Thanks, I have started read code and I will give my design as soon as possible.

[2022-10-10 16:59] kzys commented on #3369
@memorais @sowmiya1005 Could you reproduce the issue with containerd 1.5.x or 1.6.x? containerd 1.2.4 is really old and there are many changes since the version.

[2022-10-10 22:30] #6249 closed

[2022-10-10 22:33] mxpv commented on #7312
@lengrongfu Right, the logic is same, just need to be moved to `podsandbox` package as an optional interface implementation (see example above)

[2022-10-11 07:46] smileusd opened #7506 "cgroup lost entry on unified and systemd directory when node reboot"
### Description

We use containerd as the container runtime and use systemd as the cgroup v1 driver.
After node upgrade on our cluster nodes, we found some pods can not be exec login because cgroup directory not found:
[code]
From the system log we find systemd delete these containers when containerd upgrade:
[code]
But i not see the containerd relative log of container deletion.
Due to only syste

[2022-10-11 08:46] leiqi96 commented on #7468
can you provide the image of jenkins/inbound-agent/3063.v26e24490f041-2-jdk11

[2022-10-11 11:10] lengrongfu commented on #2231
Can we use a `GraphQL` like structure to specify return fields, e.g.

[code]

[2022-10-11 15:51] kzys commented on #7468
The line 285 is https://github.com/containerd/containerd/blob/v1.6.5/runtime/v2/runc/container.go#L285.

[2022-10-11 16:22] Rouzip commented on #6174
I have read the logic of this code.  [It](https://github.com/containerd/containerd/blob/9b0ab84449c76518bed5273e1d11c7a6c895b9a8/pkg/cri/server/image_pull.go#L470) shows that, the wildcard "*" only would be used in the situation which `host` cannot be matched. The config order of the mirror will not inluence a lot. Am I right? @kzys

[2022-10-11 17:31] kzys commented on #7054
I'm going to backport #7028 to 1.6.x and 1.5.x.

[2022-10-11 17:39] kzys commented on #5142
containerd sends the readiness signal from the below.

https://github.com/containerd/containerd/blob/3d7a93fed8f3153783ba1490f08b9368f8cf9de0/cmd/containerd/command/main.go#L273-L275

We may be able to send the signal before cleaning up dead shims, not I'm not really sure that is the right thing to do.

[2022-10-12 02:58] leiqi96 commented on #7468
maybe c is null  from c.mu.Lock()

[2022-10-12 04:13] folliehiyuki opened #7514 "`failed to extract layer: operation not permitted: unknown` in rootless mode using btrfs snapshotter"
### Description

I'm unable to pull container images or running them, using `btrfs` snapshotter in rootless mode (my system is set up with Btrfs on root).

https://github.com/moby/moby/pull/42203 seems to be relevant. I did try remounting my root subvolume with `user_subvol_rm_allowed` but still get nearly the same result. I didn't try using `docker` rootless yet, but `podman` works fine with `btr

[2022-10-12 08:00] lengrongfu commented on #7506
Friendly reminder, pay attention to hide the docker registry username and password @smileusd

[2022-10-12 21:54] kzys commented on #7468
Right! I thought it wouldn't because Cgroup() was tied to c, but Go's nil could be a typed nil...

[2022-10-13 00:20] lengrongfu commented on #7498
Please add on what is your use case and what problem do you want to solve?

[2022-10-13 01:24] celiawa commented on #6080
We also saw the probelm with containerd 1.5.11 .
[code]

disable_apparmor = false and cri-containerd.apparmor.d profile loaded and in "enforce" mode in our env.

[2022-10-13 03:31] ianlewis commented on #7312
My old PR for port forwarding for reference: https://github.com/containerd/containerd/pull/4814

[2022-10-13 05:20] sli720 commented on #7468
https://hub.docker.com/layers/jenkins/inbound-agent/3063.v26e24490f041-2-jdk11/images/sha256-2a57d0509c1eeabdc851c03ec6d98ee4a5f9c5ac8c8bdbec3067bc50a617f4f0?context=explore

[2022-10-13 12:04] dleporis commented on #6203
Which commands did you use for downgrade? I have the same issue, also on Ubuntu 18.04

[2022-10-13 14:15] #7468 closed

[2022-10-13 15:31] #7442 closed

[2022-10-13 17:36] T-RN-R commented on #5067
Any progress on this? This appears to be affecting Windows container images deployed to Azure Container Instances.

[2022-10-13 18:33] #7297 closed

[2022-10-13 19:59] jterry75 commented on #7431
This is a similar issue to Hypervisor land as well. Basically the "runtime" affects the truth about the image pull/extract. The built-in matcher is the "Windows process container matcher" which only accounts for the rules of Argon's. We could add two more built-in matchers called "The Windows Host Container matcher" and the "Windows Xenon Matcher" I suppose. But it really does feel like only the c

[2022-10-13 19:59] jterry75 commented on #7431
@TBBle - Is the expert here 🤣

[2022-10-13 21:58] swagatbora90 commented on #7422
@kzys I am interested to work on this and investigate the flakiness

[2022-10-13 22:16] marosset commented on #7431
Oh I like this approach!
`PullImageRequest` contains `PodSandboxConfig` which does indicate if the pod is going to be running HostProcess containers and this could be used to pick a HostProcess contianer platform matcher.

`PodSandboxConfig` also contains the runtime handler name which could be used to help pick a different platform matcher for hypervisor isolated containers on Windows too in the

[2022-10-13 23:10] kzys commented on #7514
Hmm, I haven't reached the point yet.

[code]

`/var/lib/containerd` is on btrfs.

[code]

[2022-10-13 23:19] kzys commented on #7514
Decided to use a real device instead of a loopback device, but it is still returning `btrfs subvolume create failed: inappropriate ioctl for device: unknown `

[code]

[2022-10-13 23:30] austinvazquez commented on #6808
@giovannizotta ctr detach logic should be consistent across runtimes. It could be possible runsc `task.Start` is blocking. Are you still experiencing this pain?

[2022-10-13 23:52] kzys commented on #7514
Correct me if I'm wrong. But I believe I had to point something this normal user (`ubuntu`) can write as btrfs snapshotter's root.

Now I can reproduce the original issue.

[code]

[2022-10-14 00:22] swagatbora90 commented on #7422
Error message
[code]

This was caught in [L1009](https://github.com/containerd/containerd/blob/8160a3efc3d75bb927f4be8b19f640690369987b/integration/client/container_linux_test.go#L1009)

which happens after we have restarted the containerd daemon and try to connect to it again,
[code]

`waitForStart()` fast exited while trying to connect to the containerd daemon

[code]

There appears to be a few

[2022-10-14 00:39] swagatbora90 commented on #7422
Adding some retry logic to `waitForStart()` should provide sufficient time for the daemon to come up. Though it is hard to quantify 'sufficient' value

[code]

[2022-10-14 00:57] Kitanotori commented on #7385
Any progress regarding v2 syntax username & password auth support? Without this, v2 syntax breaks existing auth mechanisms, so this is a major issue.

[2022-10-14 02:51] kzys commented on #7514
https://lwn.net/Articles/652468/

Seems btrfs doesn't have FS_USERNS_MOUNT. https://github.com/torvalds/linux/search?p=1&q=FS_USERNS_MOUNT

[2022-10-14 04:17] kzys commented on #4217
btrfs' Usage

https://github.com/containerd/containerd/blob/766e933151afb4179db6c8f5e482dce4bcd0360d/snapshots/btrfs/btrfs.go#L160-L174

overlayfs' Usage (fs.DiskUsage is used here as well)

https://github.com/containerd/containerd/blob/766e933151afb4179db6c8f5e482dce4bcd0360d/snapshots/overlay/overlay.go#L199-L208

devmapper's Usage

https://github.com/containerd/containerd/blob/766e933151afb4179

[2022-10-14 05:01] FollieHiyuki commented on #7514
That's correct. My entire system runs on Btrfs and permissions are already in place so I forgot to mention it.

Great point. I didn't even notice that `containerd` tries to mount the root filesystem itself.

After a quick look at [docker's btrfs driver](https://github.com/moby/moby/blob/ec3c08d61870bae3b85a8d641a579f46ee6e2d8e/daemon/graphdriver/btrfs/btrfs.go#L91) and [how podman does it](https:/

[2022-10-14 05:09] narcoticfresh commented on #7506
@smileusd
i don't really like when people post "i'm having this problem too", but in this case i feel i need to - as i have this problem since many weeks and this is the first reporting i've seen..

i wasn't sure if this was a containerd problem or a linux problem..

in my case, I'm having this problem with k3s on alpine linux, so no systemd involved.. it seems, containerd is looking for cgroup st

[2022-10-14 12:10] iyear opened #7528 "Refactor metastore transaction"
There is an implementation of `withTransaction` in `snapshots/devmapper/snapshotter.go` that I think could be used elsewhere and would make the code more elegant.

I've only refactored `snapshots/btrfs/btrfs.go` so far. If it's ok, I will refactor the rest.

[2022-10-14 12:11] iyear commented on #7528
/assign

[2022-10-14 16:01] #6604 closed

[2022-10-14 16:16] estesp opened #7532 "Flaky test: TestShimOOMScore (on RockyLinux via CirrusCI)"
### Description

Noticing that `TestShimOOMScore` fails somewhat regularly in CirrusCI, maybe most commonly on the RockyLinux/8 configuration.

[code]

### What version of containerd are you using?

`main` branch CI runs

[2022-10-14 16:36] swagatbora90 commented on #7422
Possible cases for connect() to return ECONNREFUSED
1. Target path name is not a socket
2. socket path exists, but no process is listening on it yet
3. read/write permission issues on the socket

[2022-10-14 23:11] samuelkarp opened #7536 "Vagrant BOX:rockylinux/8 workflow is flaky (broken?): `mount.nfs: requested NFS version or transport protocol is not supported`"
I'm seeing multiple runs across PRs failing with the following output:

[code]

* https://github.com/containerd/containerd/pull/7535 ([5 failed runs](https://cirrus-ci.com/task/5644495413313536))
* https://github.com/containerd/containerd/pull/7534 ([failed run](https://cirrus-ci.com/task/5830145911554048))
* https://github.com/containerd/containerd/pull/7530 ([failed run](https://cirrus-ci.com/ta

[2022-10-16 03:29] austinvazquez commented on #7125
@dmcgowan or @samuelkarp, I believe this one has been resolved with #7425 but didn't autoclose on merge.

[2022-10-16 03:54] #7125 closed

[2022-10-16 03:55] champtar commented on #7125
Thanks @Jenkins-J

[2022-10-16 05:26] TBBle commented on #7431
Yeah, that indeed sounds like the same sort of approach that was discussed and agreed as the best option for HyperV/Process isolation choice in https://github.com/containerd/containerd/pull/6491#issuecomment-1056813911.

Reference is https://github.com/containerd/containerd/issues/6862#issuecomment-1137113110 and https://github.com/containerd/containerd/issues/6862#issuecomment-1181318230. I think

[2022-10-16 05:47] TBBle commented on #7431
Separate comment for new question:
Does this mean that HostProcess containers work by ignoring all the OS-type stuff in the container image (since they run in the host's... silo (?)), and just using the requested binary? So they wouldn't even _need_ the OS-level stuff, and could just hold the relevant binary?

If so, that'd make a nice new addition to the use-case list for https://github.com/micro

[2022-10-16 12:22] AkihiroSuda commented on #7536
Past:
[code]

Now:
[code]

Looks like the mount driver was silently changed?

[2022-10-16 20:38] #7536 closed

[2022-10-17 09:47] JohnJAS opened #7540 "containerd should not print the error log that failed to init a tracing processor while the tracing plugin is not loaded"
### Description

When restarting containerd service via systemd, the system log always showed that containerd failed to init the tracing processor but it is acctually not set on the containerd config.
[code]

### Steps to reproduce the issue

1. Start containerd v1.6.6 or newer via systemd
2. restart containerd service by executing `systemctl restart containerd`
3. check system log by executing `j

[2022-10-17 10:38] litios commented on #7415
@Iceber In that case, is this a new issue and https://github.com/containerd/containerd/security/advisories/GHSA-5ffw-gxpp-mxpf is considered complete?

[2022-10-17 12:14] longkai opened #7543 "ctr import digest not found"
### Description

I use the ctr command to export images for later offline usage. The export process is ok but import failed with `ctr: content digest sha256:<sha>: not found`.

However after compiling the ctr from source everything is fine.

I compared many times, same error.

### Steps to reproduce the issue

#### 1. pull an image

[code]

#### 2. export to a tar

[code]

#### 3. import the tar f

[2022-10-17 16:41] ginglis13 commented on #7543
@longkai I believe this is addressed by https://github.com/containerd/containerd/pull/6906 which is not in a release of containerd yet - that'd be why building from source is working for you.

[2022-10-17 20:10] sli720 commented on #7468
Will this change be included in the next version and when is the next release planned?

[2022-10-17 22:00] kzys commented on #7468
Yes. I will backport the change to 1.5.x and 1.6.x. The release dates are still TBD.

[2022-10-18 01:42] cuisongliu opened #7547 "How to disable apparmor (`disable_apparmor` in the CRI config, but presence of `apparmor_parser` binary is still checked)"
### Description

containerd  running kubernetes

ubuntu not install apparmor

tips : Oct 13 22:12:14 racknerd-4f290c kubelet[31773]: E1013 22:12:14.361653   31773 remote_runtime.go:442] "CreateContainer in sandbox from runtime service failed" err="rpc error: code = Unknown desc = failed to create containerd container: get apparmor_parser version: exec: \"apparmor_parser\": executable file not foun

[2022-10-18 01:42] cuisongliu commented on #7547
https://github.com/labring/sealos/issues/1755

[2022-10-18 03:45] #7543 closed

[2022-10-18 04:00] longkai commented on #7543
Hope it will be bundled into the release soon.

[2022-10-18 06:29] lengrongfu opened #7548 "Resolve in the sandbox use TaskEvent"
### What is the problem you're trying to solve

Since the TaskEvent is designed for `shim.Task`， but is current in the sandbox is used in many places.

### Describe the solution you'd like

There are currently two solutions mentioned, first record:
1. to extend the TaskExit with sandboxID here.
2. add a SandboxEvent designed for sandbox, and then make a unified replacement

### Additional context

[2022-10-18 14:23] #7540 closed

[2022-10-19 03:44] huanlongzhou opened #7561 "containerd-shim-runc-v2 for containerd task exec request, hangs"
### Description

I use 500 concurrency in the container to execute the ctr task exec other container command。 As a result, some commands have not been returned, causes the request to remain suspended。

This is  containerd-shim-runc-v2 stack

[code]

### Steps to reproduce the issue

1.  Enter a running container.
2.  Use the `ctr -n k8s.io task exec --exec-id random number other container /test.sh

[2022-10-19 09:58] CharlieR-o-o-t commented on #3334
containerd
revision=0197261a30bf81f1ee8e6a4dd2dea0ef95d67ccb
version=1.6.7

The same behavior, container had backoff on TaskExit and then removed.
"Lost" containerd-shim left unmanaged (few hundreds of them) this results in high mem consumption on the host.

containerd log
{code}
Oct 15 04:20:02 host containerd[1573]: time="2022-10-15T04:20:02.221572339Z" level=info msg="CreateContainer within san

[2022-10-19 15:47] kzys commented on #6148
Resolving since 1.4.x is EOL'd and active versions are working fine.

[2022-10-19 15:47] #6148 closed

[2022-10-19 15:59] kzys commented on #6300
Resolving as duplicate. Let's use #5067.

[2022-10-19 15:59] #6300 closed

[2022-10-19 16:00] kzys commented on #3938
Resolving. Sorry we couldn't check the issue promptly. Feel free to reopen the issue if you still have the issue in 1.5.x or 1.6.x.

[2022-10-19 16:00] #3938 closed

[2022-10-19 16:43] kzys commented on #4672
Docker Hub is fine. It returns the below now.

[code]

[2022-10-19 17:24] ginglis13 commented on #7547
`apparmor_parser` is provided by the `apparmor` package on Ubuntu. You'd need to either install that or disable apparmor in kernel boot params. Similar issue faced here, apparently some Ubuntu kernels are enabling apparmor by default:

https://github.com/rancher/k3os/issues/702#issuecomment-850246749

[2022-10-19 17:33] fangn2 commented on #4109
@lengrongfu  I saw you closed the [PR](https://github.com/containerd/containerd/pull/7295) you created to address issue. Can I get the issue assigned and take a closer look?   @kzys

[2022-10-19 18:01] adefaria opened #7565 "Up arrow works in docker exec but not C-p"
### Description

This has bothered me for a long time. If I `docker exec -it <image> bash` and I execute a command, I can redo the command by using the up arrow. However, being a long-time user of Emacs I prefer to use C-p (that's control-p). This does bring up the previous command but it is not displayed. If I type anything the command gets displayed.

### Steps to reproduce the issue

1. docker

[2022-10-19 18:30] ginglis13 commented on #7565
I also use emacs style shortcuts at the command line and have been frustrated by this same problem :)

My first instinct about this issue is that `ctrl-p` is being captured by for detaching. the key sequence `ctrl+p ctrl+q` is used to detach from a running container.

You can try specifying custom detach keys to get `ctrl-p` to work as you expect, for example:

[code]

[2022-10-19 18:37] adefaria commented on #7565
Interesting. Never knew about these detach keys. Having to specify that for every `docker exec` will be a pita. Is there a way to set it permanently?

(Us Emacs users don't get no respect! I'm tellin ya!)

[2022-10-19 19:51] ginglis13 commented on #7565
You can set it in your Docker config `~/.docker/config.json`, e.g.:

[code]

[2022-10-19 20:06] adefaria commented on #7565
Didn't work:

[code]

[2022-10-19 20:10] ginglis13 commented on #7565
@adefaria that's because the config you've shared isn't valid JSON. you need a comma after `}` before `"detachKeys"`

[2022-10-19 20:13] adefaria commented on #7565
Thanks.

That's a really crappy error message BTW...

[2022-10-19 20:34] kzys commented on #7565
Resolving.

[2022-10-19 20:34] #7565 closed

[2022-10-20 00:41] AkihiroSuda commented on #7547
`apparmor_parser` should not be needed when `disable_apparmor` is specified in the containerd config.
The kernel param does not need to be modified.

[2022-10-20 01:10] cuisongliu commented on #7547
But after I set `disable_apparmour =true`, the installation containerd does not seem to take effect on k8s, or does the error prompt apparmor_parser does not exist?

[2022-10-20 02:08] SignorMercurio commented on #7547
Yes, but it seems `disable_apparmor` will not stop the check for the existence of apparmor userland utilities, though it does disable apparmor functionalities.

As mentioned in https://github.com/rancher/k3os/issues/702#issuecomment-849513559, we can either disable apparmor at kernel boot or install the apparmor userland. And https://github.com/rancher/k3os/pull/709 fixed this in the former way. H

[2022-10-20 15:08] sparr commented on #4834
@klueska can/would you provide a sample CDI configuration file that uses that new functionality to produce a similar result to the current nvidia wrapper? I think that would be sufficient to close this issue.

[2022-10-20 15:17] sparr commented on #5768
5904 merged should fix this for 1.7
Can we remove that milestone with just backport remaining?

[2022-10-20 15:21] klueska commented on #4834
@elezar can you provide what's being asked above and / or point to our generation script coming out in the next toolkit release?

[2022-10-20 15:21] sparr commented on #6485
Discussion in #6488 includes "We could probably wait for 2.0 for this (should be release after 1.7)." from @cpuguy83
Can this issue be removed from milestone 1.7?

[2022-10-20 15:29] sparr commented on #6541
@dims Do you have any further insight on how this transfer of responsibility has progressed? Should we be doing anything specifically or differently with regard to this and related issues?

[2022-10-20 15:53] sparr commented on #6862
Has there been any progress on "Add new test runs for wcow-hypervisor support"? It looks like those test runs are the only thing in the way of marking this complete for 1.7 milestone.

[2022-10-20 16:37] estesp commented on #6541
My suggestion:
 - continue through the 1.x release series with the tarballs as we have them today; this makes sure we don't break current users and don't surprise anyone with tarballs that now have different contents.
 - add something to our docs on limitations regarding how these binaries are built or the default configuration(s) found in our packaging. We are an open source project, not a formal

[2022-10-20 17:01] marosset commented on #6862
@claudiubelu - FYI

[2022-10-20 18:40] amarlearning commented on #7547
@AkihiroSuda I would like to work on this

[2022-10-20 21:33] kzys commented on #6707
MySQL is having https://bugs.mysql.com/bug.php?id=96525.

[2022-10-20 21:43] kzys commented on #7006
Hey @MagicRB,

@ginglis13 is working on the change and I'd like to know your use case better. Do you run containers from Kubernetes, ctr or your own custom agent?

We are a bit cautious about changing the default behavior. However adding a new helper function wouldn't work if you use Kubernetes or some other off-the-shelf agents.

[2022-10-20 21:45] MagicRB commented on #7006
Oh, I'm using this insideNomad but I'm patching the task driver with much worse and ugly things then a function. So it doesn't need to be default :D.

[2022-10-21 05:54] #7471 closed

[2022-10-21 08:17] elezar commented on #4834
@sparr the CDI config file is driver specific, and as such providing a spec that will work across machines is tricky. Instead we are working on tooling that will generate the spec for the current device configuration. The thinking is that depending on the use case, this tooling will be triggered at points where the configuration changes (e.g. node reboot, driver installation) to ensure that this i

[2022-10-21 15:53] Jenkins-J commented on #7412
I have opened a draft pull request, adding support for the `ctrl-p ctrl-q` detach key sequence when using the command `crictl attach -i -t <container-id>`. I am planning on implementing the same support for `crictl exec`. If anyone else would like to help with this issue or offer feedback, let me know.

[2022-10-21 16:10] giovannizotta commented on #6808
@austinvazquez I agree that detach logic should be consistent across runtimes, otherwise they are not drop-in replacements. I wasn't able to solve the issue so I went for a workaround and did not test this anymore, I'm sorry. I will update everything, retry and update you.

[2022-10-22 15:08] amarlearning commented on #7547
I checked the implementation of containerSpecOpts  in both [pkg/cri/sbserver](https://github.com/containerd/containerd/tree/main/pkg/cri/sbserver) and [pkg/cri/server](https://github.com/containerd/containerd/tree/main/pkg/cri/server), It looks fine.

Steps:
- If the `DisableApparmor` property in `cri/config` is set to `true`
- Then `apparmorEnabled()`  of the `criService` will return `false`
- An

[2022-10-24 16:25] dmcgowan opened #7580 "Update release action for `set-output` deprecation"
Output while running release action

[code]

Happening on containerd 1.5 release branch

[2022-10-24 22:37] austinvazquez commented on #7580
/assign

[2022-10-25 01:43] cuisongliu commented on #7547
Thank you very much. I tested it again yesterday, and it actually passed. Just modify disable_apparmor=true.

[2022-10-25 01:43] #7547 closed

[2022-10-25 07:02] amarlearning commented on #7547
@cuisongliu Thanks for confirming 👍🏻

[2022-10-25 07:46] amarlearning commented on #7109
@fuweid I would like to work on this and can you please share the link to @AkihiroSuda's comment from slack?

[2022-10-25 09:41] lerminou commented on #5482
I have the same behaviour for a internal image too.
but more strange, I have multiples image, only 1 is impacted

Fails with:
[code]

[code]

and the same failling image is working with an older containerd version.

[code]

[2022-10-25 12:38] Burning1020 commented on #7312
Figure out how to remove shared CRIService.EnsureImageExists
Does anyone already work on

[2022-10-25 13:14] AkihiroSuda commented on #5482
Probably, this issue should be reported to Kaniko

https://github.com/GoogleContainerTools/kaniko/issues

[2022-10-25 16:48] #7580 closed

[2022-10-25 17:22] austinvazquez commented on #7580
@dmcgowan now that the change has been merged into mainline, can we cherry pick to `release/1.6` and `release/1.5`?

[2022-10-26 01:46] Burning1020 commented on #7312
Figure out how to switch between controller implementations (pod sandbox controller vs remote shim controller)

I'm working on it...

[2022-10-27 01:41] geotransformer opened #7589 "containerd client api to set cpuset_cpus for container"
### Description

is there containerd client api to set container cpuset_cpus, like what we did for docker

Found this
https://github.com/containerd/nerdctl#whale-nerdctl-update
https://github.com/containerd/nerdctl/pull/689/files

[code]

### Steps to reproduce the issue

1.
2.
3.

### Describe the results you received and expected

client api to update container cpuset_cpus

### What version of c

[2022-10-27 07:19] iyear commented on #7589
This is what I've tried to write, not tested and not guaranteed to work.

[code]

[2022-10-27 09:06] fabi200123 commented on #6862
@sparr I believe [#7025](https://github.com/containerd/containerd/pull/7025) is the one needed for the "Add new test runs for wcow-hypervisor support" (which was merged yesterday).

[2022-10-27 09:51] TBBle commented on #6862
A quick note on one of the "future" tasks (not tracked elsewhere AFAIK, so putting it here)

#6899 has landed (fulfilling the part of #6657 we care about), so we can now have per-runtime snapshotters. However, to use that to deliver the above use-case, we also need a way to provide multiple configurations of the one WCOW snapshotter with different PlatformMatchers. #7431 for host process container

[2022-10-27 13:37] jcmcken commented on #7465
@dcantah Ultimately, we'd like to prevent something like this from happening in the first place using quotas, etc. if it's possible. But in the interim, yes, it would be to more easily identify offenders and send automated alerts. In almost all cases we've found, the disk usage was not intended by the tenant (for example, the application writing logs to disk instead of to STDOUT/STDERR). In some c

[2022-10-27 14:33] Jenkins-J commented on #7412
@cbf123  After some feedback on the draft pull request and investigating further, I am opening a new issue and pull request in the [cri-tools](https://github.com/kubernetes-sigs/cri-tools) repository for this feature. It looks like this can be added to `crictl` directly without making any changes to containerd.

[2022-10-27 17:11] kevpar commented on #6862
I agree we should have per-runtime-platform-matcher in addition to per-runtime-snapshotter. However there is also an additional complexity of image management, at least with CRI. CRI API defines image operations that key only off of image name, so we need to figure out what happens when you e.g. pull the same image with two different runtimes/platforms. CRI (and thus kubelet) may need to be enligh

[2022-10-27 18:07] jterry75 commented on #6862
@kevpar - I thought that is why we added annotations to PullImage for CRI so we passed in the sandbox so we knew what type of thing to do here right? I get thats sorta a Windows hack but is there a problem using that?

[2022-10-27 18:45] kevpar commented on #6862
I think the annotations were added to facilitate passing in what runtime class a given pull should use. Kubelet doesn't actually do this right now AFAIK, though.

[2022-10-27 18:52] dmcgowan opened #7592 "Image Transfer service"
# Transfer Service

The transfer service is a simple flexible service which can be used to transfer artifact objects between a source and destination. The flexible API allows each implementation of the transfer interface to determines whether the transfer between the source and destination is possible. This allows new functionality to be added directly by implementations without versioning the API

[2022-10-27 20:38] kzys commented on #7066
The fuzzer has been changed to return arbitrary bytes at fa447368a048cbf75723be25d0e0aa2693925b50.

[2022-10-27 21:33] swagatbora90 commented on #7422
@kzys @askervin The PR adding retry logic to `waitForStart()` has now been merged.

I checked a few recent PRs and have not seen `TestDaemonRestartWithRunningShim` test failing.  I do see some other tests failing ( most common is CRI Integration test in  `CI / Linux Integration (io.containerd.runc.v2, runc, sandboxed)`).

Can we close this issue now, given we have added sufficient retries to allow

[2022-10-28 05:15] askervin commented on #7422
Thank you very much, @swagatbora90! Closing the issue.

[2022-10-28 05:15] #7422 closed

[2022-10-28 06:24] yumingqiao commented on #5768
We meet this issue in our production for v1.5.5, thanks for fixing it @qiutongs. When would the fix being backport to v1.5?

[2022-10-28 18:24] estesp commented on #5768
#7464 is the backport for `release/1.5` and will be merged and available in a future 1.5.x release

[2022-10-28 18:43] TBBle commented on #6862
An image name plus a `PlatformMatcher` (to be chosen by annotation once Kubelet is plumbing it through) should resolve down to a unique SHA256 image ID, I think? So as long as all the CRI operations use the same `ImageSpec` to refer to the manifest or manifest-list, they will end up using the expected image consistently.

I was under the impression that kubelet tracked images by their SHA256 ID (r

[2022-10-28 22:38] dcantah commented on #7465
Gotcha gotcha. Ideally you could use stats to inform your judgement here. Could you use stats and check the rootfs.usedBytes value to sanity check what's going on instead? Maybe this is worth bringing up in one of the community meetings; I can plop this on the next one and bring it up

[2022-11-01 01:06] huoqifeng opened #7612 "Build and release linux s390x architecture binaries"
### What is the problem you're trying to solve

I'd like containerd to build and release assets to support s390x

### Describe the solution you'd like

Use cross platform build to build s390x binaries along side amd64, arm64 etc.

### Additional context

_No response_

[2022-11-01 01:49] huoqifeng commented on #7612
I noticed there is nightly s390x build, like https://github.com/containerd/containerd/actions/runs/3365675042, is there a reason why it's not in released assets?

[2022-11-01 02:15] yrcs commented on #7400
I made a mistake. Leave the current configuration in hosts.toml as is, just change **docker.io** to **docker.io/library** when pulling images.
e.g. ctr images pull --hosts-dir "/etc/containerd/certs.d" docker.io/library/redis:6.2.7
e.g. nerdctl pull --hosts-dir "/etc/containerd/certs.d" docker.io/library/redis:6.2.7

[2022-11-01 15:41] gengwg commented on #4574
Agreed this is confusing. Further, setting this in later version actually gives error:

[code]

Setting to false has no effect (which is the default I think).

[code]

Our version:

[code]

[2022-11-01 18:25] swagatbora90 commented on #6550
I am listing out some of the current and planned items for adding otel spans to Containerd. This should help streamline some of the work, and others can contribute as well.

## Current

- [ ] GC operation - #7448
- [ ] CRI Image service - #7453
- [ ] CRI Runtime service - Pod sandbox APIs #7616
- [ ] Containerd Go client:
   - [ ] client.go (7616)
   - [ ] container.go (7616)
   - [ ] process.go (

[2022-11-01 21:53] fangn2 commented on #6550
@swagatbora90  I can look into the Add Unit/Integration test TODO task if you don't mind.

[2022-11-01 23:28] marosset commented on #7431
Today I made an attempt to solve this issue using platform matchers and ran into a problem.

I was able to create a new platform matcher to match on OS/arch and use the fields in the `*runtime.PullImageRequest` to add the desired platform matcher to the `Pull` call here
https://github.com/containerd/containerd/blob/740c9335be30cc7becd2b8945534dd5f7ccfda6d/pkg/cri/server/image_pull.go#L163

The iss

[2022-11-02 13:38] alfeg commented on #5067
Suddenly we were affected by this issue on AKS.
Removing `CMD ["cmd.exe", "/S", "/C"`  from Dockerfile fixed our unexpectedly failing images

[2022-11-02 14:07] fangn2 commented on #7493
/assign

[2022-11-02 15:43] #7054 closed

[2022-11-02 21:36] #5895 closed

[2022-11-03 09:05] dhiman360 commented on #7415
Any update on prioritizing this issue like taking into development cycle ?

[2022-11-04 09:36] codablock commented on #6362
I believe that I stumbled across the same issue. We have shims randomly hanging and not responding to stats requests anymore. Actually, all requests directed to that specific shim are hanging (e.g. `ctr shim state`). Interestingly, the requests don't hang forever. It looks like the shim is able to process a few requests in one batch every 30s or so.

## Getting stack traces via USR1
Getting stack

[2022-11-04 17:57] kzys commented on #7532
runc was having a similar issue and workarounded by doing some cgroup operations from C.

https://github.com/opencontainers/runc/issues/1884

[2022-11-04 18:05] kzys commented on #7532
runc also retries on EINVAL. Maybe containerd/cgroups needs to do the same.

https://github.com/opencontainers/runc/blob/2a8e5d3c624b3075f02196264cd7e0c4de625456/libcontainer/cgroups/utils.go#L402-L417

[2022-11-04 18:14] kzys commented on #7532
On Linux 4.18 which Rocky Linux uses, cpu_cgroup_can_attach does `task->state == TASK_NEW` check which [the above runc issue mentioned](https://github.com/opencontainers/runc/issues/1884#issuecomment-419000564).

https://github.com/torvalds/linux/blob/v4.18/kernel/sched/core.c#L6483-L6516

[2022-11-06 10:22] changweige commented on #5105
@ktock  I thinks all the remote snapshotters implementations (stargz, nydus, overlaybd and other remote snapshotters that are not in Containerd org yet ) are all suffering the pain getting credentials. There is not a light-weight or efficient way to pass credentials to the remote snapshotter right now especially when deploying the remote snapshotters to the K8s cluster. I believe that solving this

[2022-11-07 20:08] #7612 closed

[2022-11-07 20:28] Jenkins-J commented on #7385
If no one else is currently working on this issue, I would be happy to contribute.

[2022-11-08 06:46] cpuguy83 commented on #7385
Just some thoughts here:

Understand the need, might I suggest as contribution to add the ability to shell out to an auth helper?

I really don't like the idea of storing creds in the containers config but can definitely understand it is convenient.
Maybe if dir perms are checked or something similar to ssh?

[2022-11-08 14:20] dominiksr commented on #4581
I have this bug today.
ubuntu: 20.04 and 22.04
kubectl/kubeadm/kubelet 1.25.3
containerd.io: 1.6.9

[2022-11-08 15:19] dlspears commented on #7506
I wanted to chime in and mention I'm seeing this issue with libvirt on Kubernetes upgrading containerd from 1.5.11 to 1.6.8. I'm able to reproduce the issue with the 1.6.9 containerd as well.

Please see: [https://github.com/dlspears/containerd-issue](https://github.com/dlspears/containerd-issue) to reproduce in vagrant. The test pod deployment works fine on version 1.5.11.

[2022-11-08 16:09] AloisKraus commented on #7218
Is this not supported? How should one test this in a corporate network?

[2022-11-08 16:50] #7305 closed

[2022-11-08 19:46] djdongjin commented on #6174
@kzys seems the issue can be closed, since:

1. The mirrors in config follows the semantic of map (no ordering among given mirrors): containerd does use a map to store them
https://github.com/containerd/containerd/blob/d7ea7de900677d171f107738a5dc98353ee8f851/pkg/cri/config/config.go#L192
2. `*` is used only when no registry is matched, as @Rouzip pointed out.
https://github.com/containerd/contain

[2022-11-09 09:24] javad87 commented on #4068
I deplyed kubernets via microk8s (canonical and snap project) and got the error, seams the error is similar to error mentioned here and related to containerd:

kubelet  Failed to create pod sandbox: rpc error: code = Unknown desc = failed to create containerd task: failed to create shim task: OCI runtime create failed: runc create failed: unable to start container process: can't copy bootstrap dat

[2022-11-09 19:59] Jenkins-J commented on #7385
@cpuguy83 I would be happy to look into supporting an auth helper. I wasn't sure if an auth helper or something similar existed already in containerd, so I did some searching and I found this issue: https://github.com/containerd/containerd/issues/6637. Is this similar to what you had in mind?

[2022-11-09 20:12] cpuguy83 commented on #6637
@dmcgowan The "problem" with the plugin approach is then someone has to run a GRPC service to make creds happen.
I think it would be fine but as a hard requirement for static user/pass pairs is a bit much. Maybe a couple of built-in plugins could handle certain cases?
I could also see a plugin that can use an assigned identity being tremendous.

[2022-11-09 20:13] cpuguy83 commented on #7385
@Jenkins-J Yes, I think so. Maybe let's discuss over there. I left a comment.

[2022-11-10 04:43] ningmingxiao opened #7652 "add a config to disable ttrpc-service in containerd"
### What is the problem you're trying to solve

containerd has a   ttrpc-service to accept shim pushing events,but containerd doesn't use these events to do something.
So I think we can disable  ttrpc-service  in containerd to save some resource. or use these events to update containers' status
at meta.db ，will don't need to get  container status  through shim.

### Describe the solution you'd lik

[2022-11-10 07:10] willzhang opened #7653 "pod process isolation cpu with hostprocess"
### What is the problem you're trying to solve

**features:**
I want to confirm whether containerd supports the following features：
CPU resources used by pod processes are not preempted by containerd and other system processes

**backgroud:**
https://kubernetes.io/docs/tasks/administer-cluster/cpu-management-policies/#static-policy
it say:
Note: System services such as the container runtime and th

[2022-11-10 16:56] dmcgowan opened #7654 "[transfer] OCI Referrers API support"
Add support for fetching referrers and pushing referring manifests with a subject field

See
https://github.com/opencontainers/distribution-spec/blob/v1.1.0-rc1/spec.md#listing-referrers
https://github.com/opencontainers/distribution-spec/blob/v1.1.0-rc1/spec.md#pushing-manifests-with-subject

### Solutions

 - [ ] Add support in remote registry logic (https://github.com/containerd/containerd/pull

[2022-11-10 18:39] ginglis13 commented on #7357
@NikolaBo thanks for the easy to follow steps, I was able to reproduce this.

Are you still interested in opening a PR for this? Otherwise I could take a look.

[2022-11-10 19:48] sparr commented on #7472
Closing since #7484 was merged

[2022-11-10 19:48] #7472 closed

[2022-11-10 20:28] dims commented on #5642
cc @thaJeztah

[2022-11-11 01:24] ruiwen-zhao opened #7658 "Support GetContainerEvents CRI API with Sandbox Server"
### What is the problem you're trying to solve

https://github.com/containerd/containerd/pull/7073 supports GetContainerEvents CRI API only when CRI server is used. We need to add support when Sandbox server is used.

### Describe the solution you'd like

Sandbox server needs to send response to GetContainerEvents upon Sandbox creation/start/stop/deletion.

### Additional context

Update: This is

[2022-11-11 09:49] zyfyy commented on #3847
not work for me containerd just restart failed:
` containerd: failed to load TOML from /etc/containerd/config.toml: invalid plugin key URI "cri" expect io.containerd.x.vx`

[2022-11-11 15:50] turan18 commented on #7357
@ginglis13 I've been taking a look at this issue for a little bit now and have gotten restore to work with a tty. Still working on having it run in a detached setting. If that's cool I can take a look at and hopefully have a PR out pretty soon.

[2022-11-11 19:09] sundayfly commented on #4581
CentOS 7
Linux 5.19.1-1.el7.elrepo.x86_64

**Case 1：Kubernetes 1.2x binary installation and reports this error solution: **
- containerd: v1.6.4
- kubelet: 1.24.6
[code]

**Case 2：kuberspray installs kubernetes 1.25.3 and reports this error solution:**
- containerd: v1.6.9
- kubelet: 1.25.3
[code]
Then rerun kubespray

[2022-11-11 22:00] zkoopmans commented on #7312
@mxpv commenting here that I'm interested in working on a shim implementation of port forward, and possibly helping with other work. BTW, I work on the [gVisor team](gvisor.dev) at google.

[2022-11-11 22:19] mxpv commented on #7312
@zkoopmans Hey! We have a PR for port forwarding: https://github.com/containerd/containerd/pull/7509
PTAL whether it makes sense for you.
In current implementation we're going to just move it to `podsandbox` package.

[2022-11-12 00:45] zkoopmans commented on #7312
@mxpv  Will do. Thanks for the pointer.

[2022-11-14 01:23] fuweid commented on #7264
I filed a pr to cri-tools to fix the issue. @lengrongfu please take a look if you're interested in this.

[2022-11-14 07:38] philipp1992 commented on #6694
hi, can someone please explain, how we can set this in kubernetes? We have windows containers, that need more than 20gb root-fs size, but im unable to find out, what kubernetes label or annotation to set. thanks @dcantah

[2022-11-14 09:11] AbelHu commented on #7075
@kevpar I can easily reproduce this issue on AKS. Do you need any additional info? cc @marosset

kubelet.err.log
[code]

Pod log files:
[code]

Nodes:
[code]

[2022-11-14 11:37] lengrongfu commented on #7658
@ruiwen-zhao  Hi，is anyone following up on this issue.

[2022-11-14 14:24] #7264 closed

[2022-11-14 15:02] #7296 closed

[2022-11-14 19:05] marosset commented on #6694
Currently this cannot be set in Kubernetes. There is a discussion in https://github.com/kubernetes/kubernetes/pull/109702 about this.

For now - can you try using `EmptyDir` volume mounts for your workloads in K8s?

[2022-11-15 00:13] djdongjin commented on #6309
@AkihiroSuda I checked the current logic in containerd. For each manifest, (1). create an image if `name` is obtained (from `manifest.json` in docker tar); (2). create an image if `--digests` is passed & `skip-digest-for-named` is not.

https://github.com/containerd/containerd/blob/f1162b77a391672daee8042c2505b42076cb9b46/import.go#L180-L201

**Do you think if it make sense to add a 3rd option wit

[2022-11-15 00:21] AkihiroSuda commented on #6309
Yes. Can be opt-in with `ImportOpt` if controversial.

[2022-11-15 00:32] #7006 closed

[2022-11-15 17:50] fbuchmeier-abi commented on #4950
Did you find a solution for this yet?

I am also trying to connect containerd to a private registry (Harbor 2.5) without any success so far.

The following configuration is _not_ working for me, I also could not find any documentation (here, on the web or in the issues) on how this is supposed to work with the new `hosts.toml` based approach:

[code]

NOTE: I specifically had to use `override_path

[2022-11-15 18:27] turan18 opened #7672 "ctr restore fails"
### Description

After checkpointing a container and attempting to restore it ctr throws an error:

Error: `[ctr error](ctr: OCI runtime restore failed: cannot allocate tty if runc will detach without setting console socket: unknown)`

Although the restore fails, the task is actually created and can be found using `ctr tasks ls`. The task is in a created state with a PID of 0. Attempting to delete

[2022-11-15 18:45] ginglis13 commented on #7357
@turan18 and I spoke a bit about this issue; they've found a distinct issue that leads to a similar error state as this issue. I'll plan to get a PR out with proposed change for handling a task stuck in CREATED state. I believe @turan18 has some fix in progress for passing --tty option to restore for #7672

[2022-11-15 21:48] geotransformer opened #7674 "ctr failed to load docker images"
### Description

ctr import docker images failed

$ ctr -n=k8s.io images import ./k8s-offline.tar
unpacking k8s.gcr.io/pause:3.5 (sha256:2ffbdbeb8e9a24839bb8ed728e44baecad0fcb3b67eb3dc6bf64af74195ed3b9)...done
unpacking k8s.gcr.io/kube-controller-manager:v1.21.0 (sha256:d9ccf3bb3486cd96c79e0065d09194070ab3cda8c14dcd9ffafa9c86e12a6258)...**ctr: failed to prepare extraction snapshot "extract-8166899

[2022-11-16 01:53] fangn2 commented on #7674
Seems the root issue is
`missing parent "k8s.io/4/sha256:28699c71935fe3ffa56533db44ad93e5a30322639f7be70d5d614e06a1ae6d9b" bucket: not found`
Can you list the steps to create k8s-offline.tar?

[2022-11-16 03:04] geotransformer commented on #7674
[code]

[2022-11-16 06:09] slickwarren opened #7676 "Unable to pull images with nondistributable layers using crictl or ctr on windows"
### Description

For windows in an airgap setup, rancher requires rancher/wins, [which includes nondistributable layers](https://github.com/rancher/wins/blob/main/Dockerfile#L2). However, I run into issues when trying to pull the image. After some investigation, this is due to the image containing non-distributable layer(s)

### Steps to reproduce the issue

1. deploy a registry containing an imag

[2022-11-16 17:42] syurevich opened #7680 "Cannot remove stopped container"
### Description

After containerd is restarted, containerd may fail to remove a container if that container stopped during the downtime of containerd.

After containerd was restarted, we observed the following error message:
[code]
The container with ID `e7170e463a4048bec18d6ac02b307343984c46ca0b32b1b2c6ebf6787a44a90c` completed when containerd was down (or when containerd was going down). We expe

[2022-11-16 19:37] csaltos commented on #4900
After reading several blogs and trying a lot of things I got to find a workaround on a Chinese blog post:

You may use this configuration for `etc/containerd/contig.toml`:

[code]

The important values are `systemd_cgroup` as `true` and the `default_runtime` with `runtime_type` with the old version using `io.containerd.runtime.v1.linux` ... the other values may be different for your environment, p

[2022-11-17 01:07] clcc2019 opened #7681 "failed to run ceph in openEuler 20.03 (LTS)"
### Description

NAME="openEuler"
VERSION="20.03 (LTS)"
ID="openEuler"
VERSION_ID="20.03"
PRETTY_NAME="openEuler 20.03 (LTS)"
ANSI_COLOR="0;31"

kernel:
4.19.90-2003.4.0.0036.oe1.x86_64

kubernetes v1.22.16
container v1.6.9
runc v1.1.4

When running rook-ceph operator, a process call exception occurs when creating an osd pool.ms_dispatch and fn_monstore many bad file descriptor.

We use cri-o crun

[2022-11-17 01:56] saidas3524 opened #7682 "Docker login counterpart in crictl/ctr"
I have always updated my containerd.toml file with auth configuration to username and password to pull the required images from private container registry. Is there a way where I can login with my Azure credentials or repository credentials and then pull images. Just like acr login mentioned here  - https://learn.microsoft.com/en-us/azure/container-registry/container-registry-authentication?tabs=a

[2022-11-17 07:39] AbelHu commented on #7075
I think that we can close this since it is a bug in kubelet. I created a PR to fix it in https://github.com/kubernetes/kubernetes/pull/113970

[2022-11-17 12:21] philipp1992 commented on #6694
Using an emptyDir works great, thank you!

[2022-11-17 13:16] senthilkumaravelu opened #7689 "Not able to start Sanbox Pod"
I am new to K8 and i have using K8 1.22 using CRI-O. trying to start a sandbox pod and getting below error
DEBU[0000] connected successfully using endpoint: unix:///var/run/crio/crio.sock
DEBU[0000] RunPodSandboxRequest: &RunPodSandboxRequest{Config:&PodSandboxConfig{Metadata:&PodSandboxMetadata{Name:nginx,Uid:hdishd83djaidwnduwk28bcsb,Namespace:default,Attempt:1,},Hostname:,LogDirectory:/tmp,DnsC

[2022-11-17 13:56] senthilkumaravelu commented on #7689
Master and Worker node has these folder and same files are present under them
/etc/cni/net.d and its /opt/cni/bin

[7:25](https://cloud-native.slack.com/archives/CFJF9AC3T/p1668693334864249)
/etc/cni/net.d and its /opt/cni/bin

[2022-11-18 08:10] hoyosjs opened #7695 "Default AppArmor profile prevents ptrace calls within containers"
The default apparmour profile doesn't allow for processes within pods to be traced by other processes within the container. This means that diagnostic facilities in processes can't easily collect crash/hang dumps. A usual workflow used by solutions like crashpad and similar projects is that the process that's unresponsive will spawn a process to collect diagnostic data using ptrace. The current pr

[2022-11-18 21:04] geotransformer commented on #7674
the script is good. To just show how the offline.tar is generated. I did remove some irrelevant code. So it is not the production code

[2022-11-18 21:17] pmengelbert opened #7698 "To remove certain images using CRI, containerd requires a restart"
### Description

This bug appears to happen when
- Containerd is the Kubernetes runtime
- An image is loaded from a tarball using `ctr image import`, or other potentially other mechanisms.
- The resulting image has at least one `repoDigest`
- An attempt is made to remove the image via the CRI's `RemoveImage` call

The image is not removed, and the failure is silent. Containerd reports the image re

[2022-11-21 04:59] dhiman360 commented on #7415
@Iceber have you been able to test this out at your end, this seems to be seen everywhere in our deployments. simple exec command failure is making the nodes Not Ready and destabilizing the cluster. Also, in the fix --  https://github.com/containerd/containerd/security/advisories/GHSA-5ffw-gxpp-mxpf -- it is mentioned "Ensure that only trusted images and commands are used.", the explanation is not

[2022-11-21 18:50] kzys commented on #7532
https://github.com/containerd/cgroups/pull/250 is in containerd since #7601. Resolving.

[2022-11-21 18:50] #7532 closed

[2022-11-22 18:15] ginglis13 opened #7711 "`make clean-test` outdated and doesn't always umount rootfs"
### Description

In testing a bug fix I've been looking into, I have been running containerd integration tests `make integration`. After failing test runs, I am using the `make clean-test` rule https://github.com/containerd/containerd/blob/96a39ad53b81f92bc4e75b226059e89282ec60ef/Makefile#L396 The rule is outdated (blame shows about 4 years since it was touched) and there are some edge cases it ma

[2022-11-22 23:41] nikitar commented on #7415
I was able to reproduce the issue locally with minikube, gonna take a look into the cause. I'm new to the project though, so it might take a week or more.

I'll probably have some questions about proper dev setup (e.g. I still haven't figured out how to run minikube with a locally-compiled containerd binary), I assume #containerd-dev is the place to ask them.

[2022-11-22 23:43] nikitar commented on #7415
@dhiman360 Out of curiosity, how does this affect your deployments? Do your kubectl exec's fail on a regular basis?

[2022-11-23 01:30] mathis-m commented on #3762
it fails in user namespace with `containerd github.com/containerd/containerd v1.6.6 10c12954828e7c7c9b6e0ea9b0c02b01407d3ae1`

error
[code]

@AkihiroSuda how can I get this to work within the user namespace?

[2022-11-23 04:21] dhiman360 commented on #7415
@nikitar First of all I wholeheartedly thanking you for taking this issue into priority. In the cluster ~100 pods are running and if there is even one not so well written pod (having execsync with occasional/continuous failures), the whole cluster is getting affected because for each failed execsysnc command, the containerd accumulates and retains the memory, which over time causes node failure. T

[2022-11-23 06:20] AkihiroSuda commented on #3762
@mathis-m Could you open a new issue with details (minimum repro steps, host kernel version, filesystem, etc.)

[2022-11-23 08:02] fuweid opened #7712 "flake test case: snapshots/devmapper TestSnapshotterSuite/RemoveIntermediateSnapshot"
### Description

It is flake test case.

https://github.com/containerd/containerd/actions/runs/3526988813/jobs/5915601489

[code]

### Steps to reproduce the issue

Unknown.

### Describe the results you received and expected

It should pass.

### What version of containerd are you using?

Main branch

### Any other relevant information

NONE

### Show configuration if it is related to CRI plugin.

[2022-11-23 15:12] lgoebkes commented on #6707
Just to give this topic a little push here.
I had the same problem.
In our docker-compose file we need 3 different mysql servers and as they had no memory limits set they killed my whole system (fedora 37).
A simple docker-compose up led to a system freeze and only a hard reset helped.

The change in /lib/systemd/system/containerd.service by setting the LimitNOFILE=1048576 helped!

[2022-11-23 21:31] cji opened #7715 "Create and publish a threat model for containerd"
### What is the problem you're trying to solve

It would be great to create and publish a threat model of containerd to help users understand the project's security posture, as well as potentially identify areas we may want to invest into hardening.

CNCF's Security TAG has [a proposal for a lightweight threat modeling framework](https://github.com/cncf/tag-security/issues/903#issuecomment-1261175

[2022-11-24 03:31] mathis-m opened #7716 "Image pull fails due to failed to convert whiteout file"
### Description

I am trying to setup a rootless kubernetes cluster that is integrated into slurm.
This was successfully done by another Master Thesis at my university. I am tring to execute Jupyter Hub on the k8 cluster.
While doing so I noticed that Image Pull of `docker.io/jupyterhub/configurable-http-proxy:4.5.3` does not work in userns.
I have tested outside the userns, and there it is workin

[2022-11-24 11:39] far-blue opened #7717 "Regular zombie children since my latest containerd update"
### Description

Since updating (via `apt full-upgrade`) to the latest available version of `containerd-shim-runc-v2`, I'm seeing a lot of previously happy health check exec scripts locking up due to "defunct" processes not being reaped by the parent shim process. Across approx 100 containers running check scripts every 10 seconds I see an average of 5 defunct scripts an hour and have to clear the

[2022-11-24 11:39] ulrichb commented on #7375
FYI: We've reported https://github.com/microsoft/hcsshim/issues/1574 because we experience probably the same memory leak in the shim process, but in our case not with Calico but concerning other pods (including a minimal repro, see ticket).

[2022-11-25 07:15] pacoxu commented on #7698
I can reproduce it with the second method `Manually load an image with --digests=true`.
Let me check the code. It seems to be some cache not cleaned.

[2022-11-26 14:22] konvergence commented on #7717
Hi,

Not sure is related to last containerd update.
It seem, that I have the same issue since I upgrade kernel to 5.4.0-132.

I got lot of messages related to "io.containerd.ttrpc.v1.task"
[code]

I have got errors with 2 "docker/containerd" release :
* docker 20.10.18, runc 1.1.4, containerd 1.6.8
* docker 20.10.21, runc 1.1.4, containerd 1.6.10

When I downgrade kernel to 5.4.0-126, I got no mor

[2022-11-26 15:24] konvergence commented on #7717
I got also lot of error "failed to remove runc container"
[code]

[2022-11-26 17:51] konvergence commented on #7717
I use rke1.
I saw lot or error in the kubelet logs
`$ docker logs  kubelet 2>&1 | grep E1126 | grep DeadlineExceeded `

[code]
may be related to this ? https://github.com/containerd/containerd/issues/4604

[2022-11-27 15:40] geotransformer opened #7724 "Is it setting cpu usage or cpu isolation?"
### Description

https://github.com/containerd/containerd/blob/1880b697594294ca39598a1b43d596afa7a0875f/oci/spec_opts_linux.go#L105

### Steps to reproduce the issue

1.
2.
3.

### Describe the results you received and expected

Explicit doc

### What version of containerd are you using?

1.6.4

### Any other relevant information

_No response_

### Show configuration if it is related to CRI plugi

[2022-11-28 03:41] louishlz opened #7727 "should be return the err directly ?"
### Discussed in https://github.com/containerd/containerd/discussions/7726

<div type='discussions-op-text'>

<sup>Originally posted by **louishlz** November 28, 2022</sup>
https://github.com/containerd/containerd/blob/24020812bb1a36b124ec6ac431001d9623e71ecd/container.go#L394

eg: the client can use errdefs.IsNotFound(err) statement!

eg:https://github.com/containerd/nerdctl/blob/main/cmd/nerdctl

[2022-11-28 09:04] kavita1205 opened #7729 "How to Restart Exited Container"
### What is the problem you're trying to solve

Hi Team,

I am trying to restart kube-apiserver container and for the same I am running below command, but I am getting error. Can someone tell me how we can restart an exited container or Kube-apiserver.

1. crictl stop 38a0f753758c5
which is able to stop the container
38a0f753758c5       860f263331c95       16 seconds ago      Exited              k

[2022-11-28 09:06] kavita1205 commented on #7729
@mikebrow can you please help me here.

[2022-11-28 14:28] #7727 closed

[2022-11-28 14:30] louishlz commented on #7727
invalid

[2022-11-28 15:08] mikebrow commented on #7729
you can't restart a stopped container.. once stopped you can remove it with crictl rm containerid... then create/start the container again however it was created/started before..

[2022-11-28 15:09] mikebrow commented on #7729
pls re-open if you have more detail / need more help .. cheers, Mike

[2022-11-28 15:09] #7729 closed

[2022-11-29 06:47] konvergence commented on #7717
I confirm that i have no more issues with kernel 5.4.0-126.
I have not tested kernel.4.0-128 or 5.4.0-131

[2022-11-29 08:34] pacoxu commented on #7676
As I know, `allow-nondistributable-artifacts` took effect for pushing foreign layers.   In Moby, see https://github.com/moby/moby/pull/33151.

https://github.com/containerd/containerd/pull/6424 add the ability to `ctr i push --allow-non-distributable-blobs`.
- Another related issue: https://github.com/containerd/containerd/issues/5887

Could you check that if you can pull `mcr.microsoft.com/window

[2022-11-29 08:39] louishlz opened #7733 "may cause shim leak?"
https://github.com/containerd/containerd/blob/e0be97ccee444c06dc1268df5a99ed80c2cfea76/runtime/v2/manager.go#L430

I happened to get such scenarios that Create got timeout error,and both with  "shimTask.delete" got timeout error. And actually the shim instance is running normally.
Then here  we use "m.manager.shims.Delete" to delete the task from manager,but when we want to delete the container an

[2022-11-29 09:19] pacoxu commented on #7674
I followed to script step to try to reproduce it but failed. For `parent missing` issue, this may be related to snapshooter(the [kernel version](https://github.com/containerd/containerd/issues/1818) seems ok) or inconsistent data(for instance, [root path change](https://github.com/containerd/containerd/issues/5521)/[reboot](https://github.com/containerd/containerd/issues/3671)).

Are there some ot

[2022-11-29 14:05] #7716 closed

[2022-11-29 18:02] RaceFPV commented on #7717
I'm seeing the same here with rke1 nodes, however I believe this is just a biproduct of the zombie processes. The kubelet is trying to collect metrics etc from the zombie container and does not get a response, which causes it to not be able to properly report back to rancher.

[2022-11-29 19:05] slickwarren commented on #7676
I can check pulling that image from an airgapped setup.
Thanks for the links. I did find those before creating this issue, but did not link them as they were for pushing images, not pulling (which is the issue I'm having).

[2022-11-29 20:15] Jenkins-J commented on #7724
It looks like it sets which cpus/cores can be used by a container. Here is the documentation for the Cpus field from the runtime spec (https://github.com/opencontainers/runtime-spec/blob/494a5a6aca782455c0fbfc35af8e12f04e98a55e/specs-go/config.go#L340-L341).

[2022-11-29 23:39] #5844 closed

[2022-11-30 09:21] abel-von opened #7739 "[Proposal] Introduce "sandboxer" plugin"
### What is the problem you're trying to solve

After the work of #4131, the "sandbox" becomes the first class citizen in containerd, and no more "pause container" disguising a sandbox, bravo!

Now the Sandbox Controller has two implementations:
1. pause container, for compatibility of former version.
2. shim sandbox controller, integrating the sandbox controller to shim process.

Except for the p

[2022-11-30 09:23] syurevich commented on #7680
Linux kernel 5.10.141
runc 1.0.3

[2022-11-30 17:05] RaceFPV commented on #7717
Reverting to kernel 5.4.0-126 stopped the zombies from spawning and persisting. This behavior was seen on two separate clusters both matching the same versions listed above. We need to be able to stay up to date on kernel security patches though so this is far from a long term solution. Containerd is the technical owner of the zombie processes and should be the one to reap them, regardless of kern

[2022-11-30 22:50] nikitar commented on #7415
Got the fix in #7738. Who'd be the best person to review it?