[2020-06-30 03:58] AkihiroSuda commented on #3894
Is there anything we need to take an action?

[2020-06-30 04:50] AkihiroSuda commented on #4203
[code]

[2020-06-30 04:50] #4203 closed

[2020-06-30 12:34] estesp commented on #3894
we package both, so I think we are good:
[code]

[2020-06-30 13:24] estesp commented on #4349
Verified with #4352 that the example debian:buster can run the binary:
[code]

We will respin as 1.3.6 with this fix.

[2020-06-30 14:24] mikebrow commented on #3894
If the scope of this issue is our containerd release tar we are good.  If the scope of this issue is containerd.io as distributed by distros we are still stuck at 1.2.13.

[2020-06-30 20:17] cpuguy83 commented on #4119
v1.3.5 also includes Windows binaries now.

[2020-06-30 20:17] #4119 closed

[2020-06-30 21:27] ArraysStartAt2 commented on #3291
I can also confirm this is an issue for us. We are using AWS Fargate 1.4 which uses containerd and we cannot pull images from GPR, and AWS Technical Support pointed us to this issue.

[2020-07-01 03:21] AkihiroSuda commented on #4349
1.3.6 is out now

[2020-07-01 03:21] #4349 closed

[2020-07-02 06:13] mikebrow commented on #4131
I like the idea proposed to host pluggable sandbox types. The design concept shown in the right half of the diagram makes good sense. The left portion isn't really how CRI works today, or at least is an over simplification (probably to save space :-). So I'll just ramble a bit.

As stated CRI includes a Sandbox API set in the runtime service apis, and that API set is already implemented by our cod

[2020-07-02 09:35] fuweid commented on #3667
@ShuYingya Thanks for the link. The `ip netns` will mount `/run/netns` to cover the existing net namespace. I think there is no thing we can do in containerd. I am going to close it.

@kfox1111 Feel free to reopen it if you still have issue about this. Thanks all for reporting this!

[2020-07-02 09:35] #3667 closed

[2020-07-02 09:41] #4285 closed

[2020-07-02 09:42] fuweid commented on #4285
@LinShuicheng We don't handle `/proc/self/ns/net` case and please use `hostNetwork` thanks.

[2020-07-02 12:26] carlreid commented on #3291
Sorry to be annoying, but do you have any update to share @clarkbw as it has been a `couple of weeks` since the last update. Getting tripped up on this again after coming back hoping this would've been resolved by now.

[2020-07-02 18:57] MaxRink opened #4358 "Scope gets broken when using the registry mirror feature"
**Description**

We have Containerd configured to look at an mirror registry (harbor) for images for all major public registries as we run an airgapped environment and populate harbor with securityscanned copy of those registries.
But we are unable to pull images from GCR, as GCR supports imagetags like "gcr.io/image1" and containerd sets an incorrect scope for the mirror
[code]
which means we are

[2020-07-02 20:37] dmcgowan commented on #4358
What is the scope value you are seeing? The pull scope is set by the registry, not by containerd.

[2020-07-02 20:46] MaxRink commented on #4358
this are the http calls that get done by the host, seen from thze registry
`Jul  2 22:44:40 172.28.0.1 proxy[1641]: 10.196.27.4 - "HEAD /v2/gcr/kubernetes-dashboard-amd64/manifests/v1.10.1 HTTP/1.1" 401 0 "-" "containerd/v1.3.4" 0.002 0.004 .
Jul  2 22:44:40 172.28.0.1 proxy[1641]: 10.196.27.4 - "GET /service/token?scope=repository%3Agcr%2Fkubernetes-dashboard-amd64%3Apull&scope=repository%3Akuber

[2020-07-02 21:08] dmcgowan commented on #4358
I agree that `scope=repository%3Akubernetes-dashboard-amd64%3Apull` doesn't look right. Can you curl the `/v2/gcr/kubernetes-dashboard-amd64/manifests/v1.10.1` endpoint and get the `WWW-Authenticate` header? I just want to figure out the source of that value. There were some recent changes related to scoping, but this is unexpected as something containerd would add.

[2020-07-02 21:34] MaxRink commented on #4358
sure, the result ist
[code]

[2020-07-02 21:40] MaxRink commented on #4358
And the Problem might also be in the cri, as we are consuming containerd through it

[2020-07-02 23:48] joejulian opened #4359 "Backport: runc container does not exist fix"
**Description**
Please backport #4214 to release-1.3

[2020-07-06 12:13] #4342 closed

[2020-07-06 19:44] murat-kilic opened #4363 "Build documentation needs update with regards to Go version dependency"
**Description**

containerd build fails with Go version below 1.13. The documentation states "Go 1.10.x or above" as dependecy, but for me it failed with 1.12. After upgrading my Go to 1.13, it built successfully. Looks like documentation needs to be updated for this dependency. It should state:
"Go 1.13.x or above"

**Steps to reproduce the issue:**
1. Use a Go version lower than 1.13, higher tha

[2020-07-06 20:17] michielswaanen commented on #3291
**This is absurd**.

I ❤️ GitHub but this really makes me question the integrity and professionalism of this service.
I'm currently **paying** for a product that **doesn't even work**. It's been a year and literally nothing notably has happened.
Probably moving to Docker Hub this week... 💔

[2020-07-06 22:54] sudomaxime commented on #3291
I have also moved to Dockerhub, but I have been wanting to try out digital ocean package registry, I think it's nice to have the registry on the same "app" than the production artifact.

[2020-07-07 03:51] AkihiroSuda commented on #4363
"Go 1.13.x or above" -> "Go 1.13.x or above except 1.14.x"

[2020-07-07 13:50] murat-kilic commented on #4363
Thanks for clarification about version upper limit  and labeling! I was not totally sure about the label that I used.

[2020-07-07 20:53] clarkbw commented on #3291
Right, thanks; this work is being done by humans with integrity and professionalism. I'm sorry we've let you down.

We are rolling out the feature flag to a number of people. I'm sorry if you've emailed me and haven't gotten into the beta yet.  Still more coming this week.

[2020-07-08 05:34] AkihiroSuda opened #4365 "Deprecate legacy shims (io.containerd.runtime.v1.linux, io.containerd.runc.v1)"
I suggest officially deprecating `io.containerd.runtime.v1.linux` (shim v1) and `io.containerd.runc.v1` (runc v1 implementation of shim v2) in containerd v1.4 or v1.5.

But not sure when is the right time to actually delete them (around v1.6 or v1.7?)

[2020-07-08 07:20] fuweid commented on #4365
1.6, 1.7 SGTM

[2020-07-08 07:27] michielswaanen commented on #3291
Awesome; thank you @clarkbw for your personal involvement and supervision on this issue.
I'm sure a lot of people appreciate that ❤️

[2020-07-08 07:51] hazcod commented on #3291
@clarkbw sorry for hijacking the thread, but this is kind of related to this issue; are public GH package (docker) registries still on the radar?

[2020-07-08 15:33] murat-kilic commented on #4363
@AkihiroSuda , shall I create a new pull request for this? Please bear with me as I'm learning this process (never done it before. I read the contributing guidelines, though)

[2020-07-08 15:34] AkihiroSuda commented on #4363
Yes please

[2020-07-09 03:23] #4363 closed

[2020-07-09 12:10] xujihui1985 opened #4368 "get image layer annotation from snapshotter plugin"
**What is the problem you're trying to solve**

can not get annotation from image layer in proxy snapshotter plugin

**Describe the solution you'd like**

we are developing a proxy snapshotter plugin to accelerate image downloading, meanwhile we need some information from
image layer annotation which will be generated during image build stage, and we found at this moment we are not able to get the

[2020-07-09 17:58] perezjasonr commented on #4180
I'm trying to follow these instructions and im on RHEL8 and not seeing
container_runtime_t as an option. Is there another context I'm supposed to use?

`failed to change context of '/usr/bin/containerd' to ‘system_u:system_r:container_runtime_t:s0’: Invalid argument`

this is all i got so far:

[code]

Also, @cyron did you do anything with the sock or did you leave it alone? I have:

[code]

[2020-07-10 11:51] johnlane commented on #4350
Just a comment, I found this useful trying to get the example to work with ZFS. I could not find any documentation to help describe how to do this, but the information posted above was a great help.
[main-zfs-patch.txt](https://github.com/containerd/containerd/files/4902932/main-zfs-patch.txt)

[2020-07-11 20:11] mikebrow opened #4370 "TOML alternative"
**What is the problem you're trying to solve**
Was trying to get the following to work:
[code]
when I ran `containerd config default` I discovered that the toml code we are using can't encode what it decodes when wrt toml.Primitive (the type we use for said ^ options).. a quick search I found:
https://github.com/BurntSushi/toml/pull/189  (minor note: I tried the PR and it didn't fix my problem mor

[2020-07-12 04:54] dmcgowan commented on #4370
Moving to a different toml project seems reasonable, I think we might need to expand our test coverage there first though.

Replacing is kind of a non-starter and supporting multiple formats doesn't make too much sense since one will always be the lowest common denominator in terms of expressiveness.  By "json/yaml" in conf files, are you meaning that values may themselves be json strings?

[2020-07-12 14:42] mikebrow commented on #4370
makes sense..

"simplicity over expressiveness" ... toml claims that space, but does it really own that space?

Our config is growing fast and is already somewhat complicated, just given the nature of that which is being configured.

I was proposing a discussion to convert from toml `->` to one of json format or yaml format.

[2020-07-13 08:47] anguslees commented on #164
I gather this feature was reverted at some point?

[2020-07-13 10:41] dims commented on #164
@anguslees hmmm https://github.com/containerd/containerd/blob/master/cmd/containerd/command/notify_linux.go#L29-L47 ? ( cc @mxpv )

[2020-07-13 12:39] cyphar commented on #164
Since implementing this, we (speaking more broadly as "the container runtime community") have discovered that socket activation for daemons like `dockerd` and `containerd`is basically a misfeature because it means that after reboot your containers won't start until some process on the system tries to do an *administrative* task that pings the control socket (this is in contrast to socket activatio

[2020-07-13 12:46] dims commented on #164
Ah gotcha. thanks @cyphar !

[2020-07-14 09:53] ktock commented on #4368
Annotations should be passed down to snapshotters as long as you are using `*Client.Pull` API with unpacking. And please make sure that your annotation has a prefix `"containerd.io/snapshot/"`.

[2020-07-14 11:00] STASiAN commented on #3667
@fuweid I sill have same issue with patched iproute...
What information should I provide for debugging?

[2020-07-14 11:19] xujihui1985 commented on #4368
@ktock I'm afraid, it will not

[2020-07-15 06:21] thaJeztah commented on #4365
Wouldn't removing require a v2.0?

[2020-07-15 06:41] hakman opened #4378 "Bundle runc with each release"
**What is the problem you're trying to solve**
[kubernetes/kops](https://github.com/kubernetes/kops) is are adding support for containerd as k8s container runtime. The simplest solution was to use the containerd/cri [release tarballs](https://github.com/containerd/cri/blob/master/docs/installation.md#release-tarball), until now. At the moment those seem not to be built anymore.

I tried asking in

[2020-07-15 07:04] xujihui1985 commented on #4368
@ktock sorry that my code base is a little behind the upstream branch, after update to latest code, I found you are right, it should be passed down to snapshotters with a prefix "containerd.io/snapshot/"

[2020-07-15 11:05] schrodit opened #4379 "GCR authentication error with multiple scopes"
**Description**
OCI image resolver fails when multiple images are fetched from gcr(google container registry) (see code example below).
This error only occurs if the second image is lexically ordered after the first image.

_Our Observations_:
The first image can always be correctly fetched as the docker authorizers [handlers](https://github.com/containerd/containerd/blob/f821b771511e2843109d73f2a

[2020-07-15 19:22] jsturtevant opened #4381 "containerd.exe config default results in parsing error on Windows"
**Description**
If using the the default configuration creation on windows the output file is not formatted correctly and results in error when running or configuring the service:

[code]

**Steps to reproduce the issue:**
From a Windows machine:

[code]

**Describe the results you received:**

**Describe the results you expected:**
Should be able to use the default config.

**Output of `container

[2020-07-16 02:18] AkihiroSuda commented on #4365
PR https://github.com/containerd/containerd/pull/4384

[2020-07-16 02:47] fuweid commented on #4368
@xujihui1985 SGTM.

Right now, the snapshotter is binding with layer and I think it is reasonable to add layer annotation as layer label

[2020-07-16 03:58] cy-zheng opened #4386 "Pulling image failed when using OAuth 2.0 private docker registry"
**Description**
I'm trying to use containerd and crictl to pull docker image from a private image registry, error occurs:
[code]
debug log from containerd:
[code]

my containerd.toml:
[code]

**Output of `containerd --version`:**

[code]

**Any other relevant information:**

AFAIK, the private registry is using OAuth 2.0, and need to get a token from auth server (portus.prod.hulu.com here), like
[

[2020-07-16 04:48] dmcgowan commented on #4386
@cy-zheng Can you see the bearer token which gets sent to the registry after oauth. Don't share the token, but unwrap it with https://jwt.io/ and look at the claims to see whether pull access was granted.

[2020-07-16 05:09] AkihiroSuda opened #4387 "intermittent failure with FUSE mount helper: "wait: no child processes""
**Description**

FUSE-Overlayfs snapshotter intermittently fails with "wait: no child processes"

[code]

**Steps to reproduce the issue:**
* Install [fuse-overlayfs](https://github.com/containers/fuse-overlayfs) v1.1.2
* Install AkihiroSuda/containerd-fuse-overlayfs@d86b677ea0f243cb451939e743dfc5815e8cb65c
* Install containerd @ 4bec2dbd4f23be6d3bc034330df72e45eedc1838
* Set up `/etc/containerd/c

[2020-07-16 05:12] AkihiroSuda commented on #4387
The error is happening here
https://github.com/containerd/containerd/blob/v1.4.0-beta.2/mount/mount_linux.go#L356-L369

[2020-07-16 05:13] AkihiroSuda commented on #4387
@ktock I guess stargz-snapshotter may hitting this issue as well?

[2020-07-16 06:37] cy-zheng commented on #4386
Find that problem is solved in version
[code]

[2020-07-16 06:37] #4386 closed

[2020-07-16 07:33] AkihiroSuda opened #4389 "parseIDMapping should support 32-bit UIDs"
https://github.com/containerd/containerd/blob/4318fa9c1f0d355a63879443a0519ed8e58cdd92/cmd/ctr/commands/run/run_unix.go#L287-L309

The current implementation somehow only accepts the 16-bit UIDs, but should be extended to 32-bit

[2020-07-16 07:33] ktock commented on #4387
We haven't hit it so far (currently we aren't using the mount package for FUSE layers).

[2020-07-16 07:39] AkihiroSuda opened #4391 "`--remap-labels` fails with "permission denied`"
**Description**

`--remap-labels` fails with "permission denied`

**Steps to reproduce the issue:**
* Install [fuse-overlayfs](https://github.com/containers/fuse-overlayfs) v1.1.2
* Install AkihiroSuda/containerd-fuse-overlayfs@d86b677ea0f243cb451939e743dfc5815e8cb65c
* Install containerd @ 4bec2dbd4f23be6d3bc034330df72e45eedc1838
* Set up `/etc/containerd/config.toml`
[code]
* Start the daemons
[

[2020-07-16 07:58] AkihiroSuda commented on #4391
`--uidmap` itself seems broken, doesn't even work for kernel-mode overlayfs

[code]

[2020-07-16 08:00] AkihiroSuda commented on #4391
@liaojh1998 @estesp PTAL?

[2020-07-16 08:31] TBBle opened #4392 "Default windows configuration path is inconsistent"
**Description**

The [default configuration path on Windows](https://github.com/containerd/containerd/blob/2486eb8ff8cf36b189108661d8e7f809fc288b60/defaults/defaults_windows.go#L34-L35) is in `%PROGRAMFILES%\containerd\config.toml`, which should be a read-only directory for program binaries, generally managed by an installer.

The platform-consistent place would be `%PROGRAMDATA%\containerd\config

[2020-07-16 11:35] TBBle opened #4394 "Windows (WCOW) implementation of diff.Comparer"
**What is the problem you're trying to solve**

In order to export images from BuildKit to containerd on Windows, we need to support `diff.Comparer`, which is [currently stubbed as not-implemented](https://github.com/containerd/containerd/blob/4318fa9c1f0d355a63879443a0519ed8e58cdd92/diff/windows/windows.go#L158-L162), and has been since introduced in #1969.

**Describe the solution you'd like**

[2020-07-16 12:00] TBBle commented on #4394
Drilling in deeper, the relevant code in go-winio that's almost 1:1 duplicated in archive/tar_windows.go isn't present in vendor/github.com/Microsoft/go-winio in this repo. It's not new code, so I don't understand what's going on there. I was planning to run a quick experiment by deduplicating the code, and see if my existing exports came out the same...

[2020-07-16 12:25] TBBle commented on #4394
Okay, it looks to me like the reason we didn't use go-winio's backuptar initially is/was that go-winio includes a fork of archive/tar to support custom headers, and this fork was never resolved, so instead go-winio was forked and fixed to use the archive/tar code.

So then my question is, would it be better to use the code in go-winio (which requires the -whitelist parameter to vndr because for wh

[2020-07-16 16:09] estesp commented on #4391
Hmm; must be a more recent `runc` issue; I had a test system with an old "rc4" binary and it works fine:
[code]

Working userns without labels (kernel based overlayfs):
[code]

The basic [userns test](https://github.com/containerd/containerd/blob/master/container_linux_test.go#L1383-L1388) is apparently successful on every PR, although I'm trying to figure out if there are any differences between

[2020-07-16 16:18] estesp commented on #4391
Hmm; can't get it to fail with runc-rc91 (latest release) either:
[code]
Running the container:
[code]
Verifying user namespaces in use:
[code]

Definitely a remapped snapshot:
[code]

[2020-07-16 20:56] #4350 closed

[2020-07-16 20:59] #4186 closed

[2020-07-16 22:43] kzys commented on #4257
Resolving? We've merged #4325.

[2020-07-17 01:55] estesp commented on #4257
Closed by #4325

[2020-07-17 01:55] #4257 closed

[2020-07-17 06:29] AkihiroSuda commented on #4391
The issues (both `fuse-overlayfs` w/ `--uidmap --gidmap --remap-labels`, and `overlayfs` w/ `--uidmap --gidmap`) are no longer reproducible after nuking `/var/lib/containerd` ...

Will reopen if I hit this again.

[2020-07-17 06:29] #4391 closed

[2020-07-17 06:30] AkihiroSuda commented on #3841
Merged in https://github.com/containerd/containerd/pull/4259

[2020-07-17 06:30] #3841 closed

[2020-07-17 06:31] AkihiroSuda commented on #3329
Duplicate of https://github.com/containerd/containerd/issues/759

[2020-07-17 06:31] #3329 closed

[2020-07-17 06:33] AkihiroSuda commented on #3429
Seems covered in https://github.com/containerd/containerd/pull/4207

[2020-07-17 06:33] #3429 closed

[2020-07-17 06:34] AkihiroSuda commented on #3664
duplicate of https://github.com/containerd/containerd/issues/2901

[2020-07-17 06:34] #3664 closed

[2020-07-17 06:36] TBBle commented on #4394
Hmm. There's a bit of a problem with the hcsshim approach... The `Compare` API takes two already-mounted paths, and the hcsshim code for exporting layers appears to rely on the layers not being mounted.

I'm not sure it's reasonable to be given a mounted path by, e.g., [BuildKit](https://github.com/moby/buildkit/blob/97ca82f4c4221c72f89725857b82b7878233c94f/cache/blobs/blobs.go#L105-L142), and the

[2020-07-17 06:37] AkihiroSuda commented on #3854
GitHub Actions has "Re-run" button: https://docs.github.com/en/actions/configuring-and-managing-workflows/managing-a-workflow-run

If it doesn't work, please ask GitHub.

[2020-07-17 06:37] #3854 closed

[2020-07-17 06:38] AkihiroSuda commented on #2987
Let me close this, as the issue is not on containerd side.

[2020-07-17 06:38] #2987 closed

[2020-07-17 06:39] AkihiroSuda commented on #1819
I think we have now good amount of documentation.
If something is still missing, please open new issues.

[2020-07-17 06:39] #1819 closed

[2020-07-17 08:13] TBBle opened #4396 "`ctr image export` should be able to exclude foreign/non-distributable layers"
**What is the problem you're trying to solve**

While playing with `ctr image export` with Windows Containers, I noticed that the export included blobs for the "foreign" layers.

This makes them both larger than I expected, and also may present surprising legal issues if one is unaware that this happened when dealing with the exported tarball, e.g. sharing it with third parties.

**Describe the so

[2020-07-17 11:45] cy-zheng opened #4397 "Containerd CRI cannot pull image from self-build docker registry"
**Description**
We've set up a private docker registry using https://github.com/docker/distribution/tree/master/registry , but I found that containerd cannot pull image from the registry. The root cause is containerd would send a HEAD request to `https://{registry-domain}/v2/{image-name}/manifests/{image-tag}` without HTTP header `Accept: application/vnd.docker.distribution.manifest.v2+json`, that

[2020-07-17 14:45] TBBle commented on #4394
(Removed comment, I had misread the API. The existing `Compare` implementation is doing the mounting, not the caller.)

[2020-07-17 21:09] jterry75 commented on #4394
@kevpar - FYI

[2020-07-18 00:00] cpuguy83 opened #4400 "Shim cleanup events fail due to context.Cancelled"
**Description**

https://github.com/containerd/containerd/blob/4feb8c462393ce6834dda9e3464c4fee8ee73232/runtime/v2/runc/v2/service.go#L772-L774

The shim tries to send an event.
If the send fails, the event is added to a queue and it is retried a few times.

https://github.com/containerd/containerd/blob/4feb8c462393ce6834dda9e3464c4fee8ee73232/runtime/v2/shim/publisher.go#L112-L125

The problem is

[2020-07-18 11:04] smowafy commented on #4389
If possible I would like to take this issue over

[2020-07-18 18:13] cpuguy83 commented on #4400
Looking at this, it seems like what we really want is a per-request timeout rather than a single timeout for all attempts to publish.

I also wonder if it makes sense to be able to block ` err := publisher.Publish(ctx, runc.GetTopic(e), e)` until it's actually sent or given up.

[2020-07-19 02:21] #4397 closed

[2020-07-19 05:33] jayanthvn opened #4402 "Pods stuck in container creating on enabling CNI chaining"
**Pods stuck in container creating on enabling CNI chaining**
Hi,

We recently tried adding CNI chaining to support the upstream bandwidth plugin to the [`amazon-vpc-cni-k8s`](https://github.com/aws/amazon-vpc-cni-k8s/). In the interface list sent with the CNI result we add the pod veth interface ("eni" is the prefix for legacy reasons) and this works fine with Docker but pods get stuck in contain

[2020-07-20 10:39] aalcaraz97 commented on #4215
I am still facing the same issue using the latest containerd release (v1.3.6). Do you know if this issue will be fixed in the next releases? And if there is any plan or schedule for a new release soon?

[2020-07-20 12:29] dagguh commented on #2646
Which release ships the fix?

[2020-07-21 07:11] #3726 closed

[2020-07-21 07:13] #3894 closed

[2020-07-21 08:53] TBBle commented on #2469
I was unaware of this issue when I posted #4394 and #4399, which are focused on the Windows platform code-path.

I think there's a more general problem here, which I touched upon in https://github.com/containerd/containerd/pull/4399#issuecomment-660283335, that currently we have to tell the archive layer externally what kind of layer it's dealing with via some platform-specific magic, so it can do

[2020-07-21 14:07] TBBle commented on #1920
"archive diff is implemented for Windows layers" is #4394 with a PR at #4399

I intend to look at "Commit uses archive diff to turn writable layer into a read only parent layer" next, since that's the next roadblock for https://github.com/moby/buildkit/issues/616.

[2020-07-21 19:00] #4389 closed

[2020-07-22 03:14] #4400 closed

[2020-07-22 17:55] crosbymichael opened #6641 "Add retry for selinux label duplicates"
We need to be able to have selinux allocate / retry allocation for labels that cause a duplicate with an already existing pod/container.

 The selinux package currently does not handle duplicates and it is left to the caller to determine how this is handled as shared labels are needed in different situations.  See the discussion here: https://github.com/opencontainers/selinux/issues/101

We should

[2020-07-22 20:04] jayanthvn commented on #4402
Can anyone please help take a look at this issue?

[2020-07-23 09:11] wi-cuckoo opened #4418 "Is the Single Instance right?"
I see such code in containerd `client.go`:
[code]
Everytime I call client.ContainerService(), the `c.containerStore` always is nil. So the `if` syntax can be removed? If we need a global single instance for `containerStore`, should set c.containerStore after call NewRemoteContainerStore?

**Steps to reproduce the issue:**
1.
2.
3.

**Describe the results you received:**

**Describe the results you

[2020-07-23 17:34] dmcgowan commented on #4418
There are a few important mutability considerations here. `c.containerStore` is not a mutable value and can be safely checked and accessed without locking. On the other hand, the underlying connection can be mutated, such as with Reconnect. For this reason, a lock is acquired and a new instance is created whenever requesting access to the service. Note that while a new instance is created, there i

[2020-07-23 17:34] #4418 closed

[2020-07-23 22:37] kzys commented on #4249
Sorry for the late reply. We are using containerd directly.

[2020-07-24 03:02] Fyko opened #4423 "[systemd unit file] Failed to adjust resource limit LimitNOFILE: Operation not permitted"
**Description**
I'm unable to start docker on a machine where I have manually increased the NOFILE.

**Steps to reproduce the issue:**
1. Increase the NOFILE in `/etc/security/limits.d/custom.conf`, I set it to:
[code]
2. Edit `/etc/sysctl.conf` noting to increase the maximum amount of file handles to be allocated and opened:
[code]
3. Install Docker with the instructions from https://docs.docker.

[2020-07-24 06:20] #4387 closed

[2020-07-24 07:31] #4304 closed

[2020-07-24 14:21] #4078 closed

[2020-07-24 16:53] kazvictor commented on #3291
I'm running into the same issue pulling images from a secured bintray repository. I'm using docker registry secrets in k8s, and the config works in docker for mac/windows however fails with microk8s using containerd:

[code]

Following the thread in this issue I can't figure out is the problem with the container registry or is it with containerd?

[2020-07-24 18:38] clarkbw commented on #3291
The issue of direct sha access is with our current Docker offering.  I've connected nearly everyone who reached out from this thread to the fix we have running. Please reach out to me clarkbw@github.com and I can get you setup as well.  Hopefully soon we'll be able to have a public offering here.

[2020-07-27 09:44] aalcaraz97 opened #4424 "ctr push: 400 Bad Request error only solved on master branch"
**What is the problem you're trying to solve**
I encountered the same problem as the one described in https://github.com/containerd/containerd/issues/4215.
I have tried with the latest releases (1.3.4, 1.3.5 and 1.3.6) and I get the same errors in all of them.
I am now using master branch to build the containerd binaries from source as a workaround, as master branch has the problem fixed.

**Descr

[2020-07-27 20:27] jayanthvn commented on #4402
Moved the issue to containerd/cri. Hence closing here.

[2020-07-27 20:27] #4402 closed

[2020-07-27 23:06] dmcgowan commented on #4344
Not necessarily. This converter has support for the `application/vnd.docker.distribution.manifest.v1+prettyjws` which is defined here https://docs.docker.com/registry/spec/manifest-v2-1/#signed-manifests. The signatures section contains information which is used to get back the original `application/vnd.docker.distribution.manifest.v1+json` type. We do not consider a schema1 manifest without a sig

[2020-07-28 08:53] AkihiroSuda opened #4426 "Use version=2 config syntax in all docs"
We still have documents written in v1 config style, e.g. https://github.com/containerd/containerd/blob/v1.4.0-beta.2/docs/man/containerd-config.toml.5.md

- [x] containerd/containerd
- [x] containerd/cri
- [x] containerd.io

[2020-07-28 13:10] TBBle commented on #2901
It looks like there's an issue with the OpenLab builds, they're failing (for at least the last two weeks) due to what appear to be system issues:
[code]

as the failing host appears to be part of the [node configuration](https://github.com/theopenlab/openlab/issues/194).

I raised this at https://github.com/theopenlab/openlab/issues/563, but it seems that GitHub Actions supports arm64, so perhaps

[2020-07-28 16:41] zenbones commented on #4344
I agree and we plan to update to resolve this. Our problem.

David Berkman

________________________________
From: Derek McGowan <notifications@github.com>
Sent: Monday, July 27, 2020 4:07:13 PM
To: containerd/containerd <containerd@noreply.github.com>
Cc: David Berkman <david.berkman@grenadefish.net>; Author <author@noreply.github.com>
Subject: Re: [containerd/containerd] Failure to pull docker i

[2020-07-28 18:06] #4359 closed

[2020-07-28 18:53] kzys commented on #3901
#4409 will make -999 the default value.

[2020-07-28 21:21] estesp commented on #4424
Opened #4432 to fix this by cherry-picking the master commits

[2020-07-29 02:40] Yikun commented on #2901
@TBBle Thanks for your comment, I submit a pr to change the node set to a stable one.

Not yet, the arm64 is only supported by [self hosted runner](https://github.blog/changelog/2019-12-03-github-actions-self-hosted-runners-on-arm-architectures/) or some 3rd action (like [run-on-arch-action](https://github.com/uraimo/run-on-arch-action), use qemu to create virtual arm64 env). And I remembered the

[2020-07-29 02:40] wangxiyuan commented on #2901
@TBBle fixed now. https://github.com/containerd/containerd/pull/4433

[2020-07-29 05:31] likakuli opened #4434 "containerd-shim hangs"
**Description**
containerd read the pipe passed to runc peocess after runc exited, if runc process write too many bytes to the pipe, boss process will hang
https://github.com/opencontainers/runc/issues/2530

**Steps to reproduce the issue:**
1. containerd execute exec cmd in a container
2. runc receive an abort signal when execute runc init's init()
3. runc init may hang because the error message

[2020-07-29 06:45] AkihiroSuda commented on #4434
v1.1.2 reached EOL. Please try v1.2/v1.3/v1.4.

[2020-07-29 06:50] likakuli commented on #4434
The master branch has the same problem.

[2020-07-29 07:37] TBBle commented on #2901
Ah yes, my mistake about arm64. I saw [a comment](https://github.com/containerd/containerd/issues/3664#issuecomment-564782895) that containerd has [nightly arm64 binaries](https://github.com/containerd/containerd/actions?query=workflow%3ANightly), but I realise now they're cross-compiled (#3829). I had incorrectly assumed that that we had arm64 builders that were building those.

[2020-07-29 15:34] malachibazar commented on #3291
I'm getting the following error when trying to pull with miicrok8s.

`Failed to pull image "docker.pkg.github.com/resplendent-data/front-end/frontend": rpc error: code = NotFound desc = failed to pull and unpack image "docker.pkg.github.com/resplendent-data/front-end/frontend:latest": failed to copy: httpReaderSeeker: failed open: content at https://docker.pkg.github.com/v2/resplendent-data/front-

[2020-07-29 18:30] #4365 closed

[2020-07-30 08:45] #4344 closed

[2020-07-31 03:08] bengbeng-pp commented on #1990
Can containerd set multiple http proxy to download image? Similar to docker，When there is a problem with the first http proxy, downgrade to the second http proxy。

[2020-07-31 03:40] xuxiaodi0 opened #4438 "undefined: reference.ParseDockerRef"
my code

[code]
when the code above in running, the error below raise:

error:

\# github.com/containerd/containerd/images/archive
../../../pkg/mod/github.com/containerd/containerd@v1.3.6/images/archive/reference.go:73:21: undefined: "github.com/docker/distribution/reference".ParseDockerRef

environment:
    go version: go version go1.13.8 linux/amd64

    windows 10 2004 WSL2 Ubuntu 20
    uname

[2020-07-31 04:12] AkihiroSuda commented on #4438
Please use this hash
https://github.com/containerd/containerd/blob/be75852b8d7849474a20192f9ed1bf34fdd454f1/vendor.conf#L57

[2020-07-31 04:12] #4438 closed

[2020-07-31 08:39] ljwlc opened #4441 "cannot find cgroup mount destination in WSL2"
According to the Task section guide in REDEME, when integrating `containerd` into my application, an error occurred. Since there is no more details, I cannot resolve the problem.

error mesage:
[code]

code:
[code]
my environment:

go: 1.13.8 linux/amd64
system: windows 10 2004
linux: WSL Ubuntu 18.04

**Is there any solution?**

[2020-08-03 10:08] tofran commented on #3291
Hello, can anyone provide feedback on the private beta?
Does it involve some workaround / changing anything on your side? Or will it just fix your/your organization's Github and work as expected?
Thank you.

@clarkbw I'm still waiting fort the invite :pray:

[2020-08-03 11:32] demostheneslld commented on #3291
It has been great for me! I had to change references to the new location, and get my kubernetes regcred working, but the beta itself is working smoothly.

[2020-08-03 17:46] #2968 closed

[2020-08-03 17:46] #3552 closed

[2020-08-03 17:47] #3734 closed

[2020-08-03 20:29] oskapt commented on #4011
I have something similar, which I'm posting here instead of opening a new issue. I think it's the same root cause. I opened an issue in rancher/k3s#2088, and I was directed to open the issue here instead.

If I configure containerd with a registry mirror for `*`, the actual configuration is _merged_ with the default configuration, which already contains a mirror for `docker.io`. That appears to ha

[2020-08-03 21:03] kzys commented on #3281
I've fixed devmapper in #4446. I can take a look LCOW (while I don't have Windows nearby) if @jterry75 is busy.

[2020-08-04 04:24] webees opened #4452 "How to configure hosts?"
**Steps to reproduce the issue:**
[code]

[code]

[code]

[code]

**Describe the results you received:**

[code]

**Output of `containerd --version`:**

[code]

**Any other relevant information:**

[code]
![image](https://user-images.githubusercontent.com/5155291/89265367-f265fd80-d666-11ea-9269-877e124ce35d.png)

- The domain resolves correctly on the host, but is resolved to the wrong ip in cont

[2020-08-04 04:40] AkihiroSuda commented on #4452
Probably you didn't include your host in the SANs

[2020-08-04 04:46] webees commented on #4452
It's not my domain, I was just trying to use it through custom hosts, but it was resolved to the ip where venture.com is located.

[2020-08-04 04:55] webees commented on #4452
# crictl info

[code]

[2020-08-04 05:04] AkihiroSuda opened #4453 "release note: remove full commit logs or fold with <details></details>"
https://github.com/containerd/containerd/releases/tag/v1.4.0-beta.2

I don't think we need to fill up the release notes with full git commit logs.
Can we remove them or fold with `<details></details>`?

[2020-08-04 12:42] ten-lac commented on #3291
@clarkbw, can you add me to the invite for the `@tenna-llc` org?

[2020-08-05 00:41] clarkbw commented on #3291
Pushed out all the latest invites. Was out on holiday last week so apologies for the delay.

Please send feedback, good or bad. Thanks!

[2020-08-05 04:59] AkihiroSuda commented on #4453
PR: https://github.com/containerd/release-tool/pull/15

@dmcgowan @estesp PTAL

[2020-08-05 07:30] thaJeztah commented on #4424
https://github.com/containerd/containerd/pull/4432 was merged, and included in v1.3.7

[2020-08-05 07:30] #4424 closed

[2020-08-05 07:33] thaJeztah commented on #4215
A cherry-pick of the fix (https://github.com/containerd/containerd/pull/4432) has now been merged and included in containerd v1.3.7

[2020-08-05 17:16] dweomer commented on #4180
I've opened https://github.com/containers/container-selinux/pull/98 to address a policy gap on Fedora 32. My next task is to back-port this to CentOs 7.

Additionally, the 1.3 series branch of containerd does not yet have all of the selinux-related code backported to it. We have worked on back-porting the selinux bits from master to a 1.3 series branch at [rancher/containerd@k3s-release/1.3](https

[2020-08-05 18:48] jterry75 commented on #3281
@ambarve - Could you inspect this. Basically anywhere that assumes "amd64" replace with `runtime.GOARCH`

[2020-08-06 03:14] lining2020 opened #4458 "[Question] How to understand the 'task' concept in containerd？"
Hi community:

I have already read through the documents but I still have some confusions.

How to understand the 'task' concept in containerd？What's the relationship between task and container, and process in container?

Any  recommended blogs or your own understanding are welcome！Thanks~

[2020-08-06 03:16] lining2020 commented on #4458
/kind question

[2020-08-06 12:41] dweomer opened #4460 "selinux: critest still failing for 'Security Context / NamespaceOption / runtime should support HostIpc is true'"
But is this on purpose? I believe cri-o avoids this issue with this bit of code: https://github.com/cri-o/cri-o/blob/6913db94057003374008502da76d070cdf6d3cc5/server/sandbox_run_linux.go#L240-L245

In discussing this with @ibuildthecloud late last week he was under the impression that this failure in containerd/cri when running critest is the result of a deliberate decision. Any pointers?

This pat

[2020-08-06 21:12] dweomer commented on #4460
I gather what is happening here is that the container in the pod with `hostIPC=true` has the process label `container_t` instead of the expected `spc_t`. If this is a bug I can take a stab at fixing it. If it is on purpose I will leave it alone.

[2020-08-07 19:38] #4453 closed

[2020-08-07 19:39] thaJeztah commented on #4453
Thanks! Yes, I was considering this as well 👍

[2020-08-11 23:37] estesp commented on #4378
See the latest [1.4.0 RC.1 release](https://github.com/containerd/containerd/releases/tag/v1.4.0-rc.1) for our initial fixup for full release packaging directly on our GH Releases page. Once we validate this is working properly for the 1.4.0 release we will take these [release updates/fixes](https://github.com/containerd/containerd/pull/4465) back to `release/1.3`.

[2020-08-12 05:09] hakman commented on #2901
The c6g, m6g and r6g are now GA in AWS for some time. Any chance there will be official ARM64 packages released for 1.4.x?

[2020-08-13 07:43] yylt opened #4474 "import image which no tag will not display by ctr"
**Description**
In the docker, Image has only hash value, example:

[code]
when use ctr to import the image, there are no any error, but 'ctr i ls` can not find this image

**Steps to reproduce the issue:**
1. `docker save -o tmp.tar 621ba461ce0f`
2. `ctr i import tmp.tar`
3. `ctr i ls`

**Describe the results you received:**
`ctr i ls` display nothing

**Describe the results you expected:**
shoul

[2020-08-13 20:03] mthird commented on #3291
@clarkbw can you add activengage org, too?

[2020-08-13 22:00] caniszczyk opened #4477 "Create a SECURITY.md"
The current security disclosure process is buried here: https://github.com/containerd/containerd#reporting-security-issues

I recommend creating a SECURITY.md file that outlines the process in containerd/containerd or .github/containerd so it is applied to all repos in the org.

[2020-08-14 08:51] iwilltry42 opened #4478 "[Feature] Reload Plugin Config"
**What is the problem you're trying to solve**

I'm running k3s in docker (`k3d`), which uses containerd as the container runtime.
Now we want to dynamically add new registries to the `config.toml`, however we'd need a way to easily reload this configuration without having large service interruptions.
I tried sending a `SIGHUP` to containerd, but it seems that this just kills it (it was worth a tr

[2020-08-14 12:59] csantanapr commented on #3291
@clarkbw Do you have an ballpark ETA for public fix?

Expecting more people would be giving GitHub container package registry another chance now that dockerhub updated their usage terms. https://www.docker.com/pricing/retentionfaq

[2020-08-14 14:53] clarkbw commented on #3291
We'll have more public news in September. Not far now.

[2020-08-14 17:30] TomSweeneyRedHat commented on #4477
FWIW,
I concur.  We recently went through a similar exercise and leveraged the Kubernetes SECURITY.md in our github.com/containers/* projects.  The majority of those projects point to this SECURITY.md file [https://github.com/containers/common/blob/master/SECURITY.md](https://github.com/containers/common/blob/master/SECURITY.md).  The ones that don't already had one in play prior to that exercise

[2020-08-14 18:07] alexellis commented on #3291
I would like access to test this with [faasd](https://github.com/openfaas/faasd) please @clarkbw

[2020-08-14 18:08] clarkbw commented on #3291
Please email me for access!

[2020-08-17 07:30] HirazawaUi opened #4482 "Use containerd as cri to join the k8s cluster, the container fails to start"
1. ##### Description

   1. I got an ARM platform development board from a partner, and the partner pre-installed a simplified version of Linux on the development board. My purpose is to add this ARM development board to the completed K8S cluster and work normally.
   2. I started the containerd and kubelet of arm on it,  I will show my startup parameters later. After starting kubelet and containe

[2020-08-17 17:08] iggyvolz opened #4483 "[Arch Linux package] Error response from daemon: ttrpc: closed: unknown"
**Description**

After upgrading to containerd 1.4.0, I am unable to run any docker images with the error `docker: Error response from daemon: ttrpc: closed: unknown.`.  Downgrading to 1.3.4 does not have any error and runs successfully.  Not sure if this is a bug with the software or a packaging issue for Arch.

**Steps to reproduce the issue:**
1. `docker run hello-world`

**Describe the results

[2020-08-17 17:35] AkihiroSuda commented on #4483
Does `ctr` work?

e.g.
[code]

[2020-08-17 17:35] AkihiroSuda commented on #4483
Also please provide the daemon log

[2020-08-17 17:38] AkihiroSuda commented on #4483
This commit hash be75852b8d7849474a20192f9ed1bf34fdd454f1 doesn't seem to be v1.4.0.

Could you try the official binary? https://github.com/containerd/containerd/releases/download/v1.4.0/containerd-1.4.0-linux-amd64.tar.gz

[2020-08-17 18:14] pagdot commented on #4483
Also got this issue, also on Arch:

[code]

I'm trying the official binary now

[2020-08-17 18:15] pagdot commented on #4483
It seems like a wrong commit has was chosen....

[2020-08-17 18:16] weimdall commented on #4483
I got the exact same issue on Arch.
The daemon log on my side are :

And the ctr command result is :

[2020-08-17 18:19] iggyvolz commented on #4483
The ctr command returns:
[code]

Unpacking the official binary works:
[code]
So it's clear this is some sort of packaging problem - will report this to the Arch downstream https://bugs.archlinux.org/task/67621

The hash not matching does not appear to be related - changing it on the PKGBUILD does not affect the issue while just changing the commit https://github.com/archlinux/svntogit-community/bl

[2020-08-17 18:19] pagdot commented on #4483
The official binary works

[2020-08-17 18:34] thaJeztah commented on #4483
I think the arch packages have modifications to the source code, different Go versions being used to build, and possibly different Go build dependencies. It's indeed best to report this issues to the Arch linux package maintainers as they would know best what source is used to build, and what modifications were made.

[2020-08-17 18:42] AkihiroSuda opened #4484 "Merge containerd/zfs repo into containerd/containerd"
As we discussed in https://github.com/containerd/cri/issues/1479, we are going to merge https://github.com/containerd/cri into https://github.com/containerd/containerd soon.

Can we also merge back https://github.com/containerd/zfs into https://github.com/containerd/containerd ?
It would help implementing snapshot quota in containerd 1.5: https://github.com/containerd/containerd/issues/759

Also,

[2020-08-17 19:48] chaitan94 commented on #4483
I can confirm the issue. Rolling back to containerd 1.3.4 fixes the issue for now:

[code]

[2020-08-17 20:01] benmezger commented on #4483
I can confirm this issue too after upgrading to `containerd github.com/containerd/containerd v1.4.0.m be75852b8d7849474a20192f9ed1bf34fdd454f1.m`

[2020-08-17 20:15] Foxboron commented on #4483
Yo, Arch containerd maintainer.

Just to clear up any confusion the correct commit is https://github.com/containerd/containerd/commit/09814d48d50816305a8e6c1a4ae3e2bcc4ba725a, I didn't update the commit hash from the previous release.

[2020-08-17 20:36] cviebig commented on #4483
Thank you @chaitan94. Package version 1.3.4 works indeed. I was able to fetch it from the ArchLinux package archive: https://archive.archlinux.org/packages/c/containerd/containerd-1.3.4-2-x86_64.pkg.tar.zst

[2020-08-17 21:27] Foxboron commented on #4483
For the sake of completeness `containerd` fails building any docker container having a `RUN` directive with the given compiler settings below.

[code]
This is with `go-1.15` without any source modifications to either.

The relevant change from the go compiler is changing from `-linkmode=external` to `-linkmode=internal` when building with `-buildmode=pie`, this prevents binary hardening which is w

[2020-08-17 23:17] jolmg commented on #4483
It seems the package has been fixed a few minutes ago. The broken version was `1.4.0-1`, and the fixed version is `1.4.0-2`.

[2020-08-18 00:52] estesp commented on #4483
The fix has been handled by the Arch community

[2020-08-18 00:52] #4483 closed

[2020-08-18 06:34] zhangguanzhang commented on #4474
use the latest is ok
[code]

[2020-08-18 07:21] #3897 closed

[2020-08-18 15:55] cdenneen commented on #3291
While I appreciate the GH team putting together “workaround” for this limitation it is much larger issue in my opinion for containerd. Artifactory uses HTTP v2 api and so does the GitLab registry. HTTP v2 has been around since I believe 2015 so I would expect support for it in containerd by now.

[2020-08-18 15:58] cpuguy83 commented on #3291
@cdenneen The issue is the GH registry does not support the registry protocol fully, not that containerd does not.

[2020-08-18 16:11] cdenneen commented on #3291
Same 401 issue happens with these. So the patch for GH registry was a workaround but seems like the problem was actually upstream rather than downstream which is what this described private beta accomplished

[2020-08-18 16:18] kfox1111 commented on #3291
I've been using containerd successfully with Artifactory and GitLab for a long time now. The issue seems to be limited to just GitHub.

[2020-08-18 18:16] cdenneen commented on #3291
Containerd or Docker?

Containerd and Docker pull images differently. OCI complaint images and HTTP v2 api.
Seems the former is the support needed to be added by all the registry providers.

EKS Fargate for example uses the OCI method which against Artifactory causes 401

[2020-08-18 18:23] kfox1111 commented on #3291
I have many Kubernetes clusters with only containerd installed (no docker at all) as a runtime, and they seem to pull/run images just fine from a private Artifactory and multiple gitlab instances. I have not tried pulling from GitHub yet.

[2020-08-18 19:53] willdeuschle opened #4485 "CreateContainer timing out, stuck on umount syscall"
**Description**
Has anyone ever seen the `umount` syscall hang, causing `CreateContainer` to time out?

We have a few hosts with many `CreateContainer` failures (timeouts, specifically). Some of the `CreateContainer` calls succeed on these hosts quickly, while many of them hang.

Taking a goroutine dump of containerd, I find that many goroutines are stuck in an unmount syscall:

[code]

[The last

[2020-08-19 18:56] crosbymichael commented on #4485
What is your kernel version and filesystem type that is running on the host?

[2020-08-19 19:06] ashrayjain commented on #4485
We are on `4.15.0-1079-aws` and filesystem is ext4

[2020-08-20 09:34] huimxu opened #4488 "how contaninerd interacts with runc"
哪位大神可以指点一下containerd是在哪里调用了runc create和runc start?
我在运行docker run -it [images] /bin/bash时，没有任何输出。。（正常情况下会打印root@container-id吧。。）直到我输入exit后退出容器时，我在容器里执行的所有的命令都打印出来了。
我猜想可能原因是在读写的时候堵塞了。。原因是runc create 完成之后，没有收到runc start的命令？

所以，有没有指导的。。。万分感谢！

[2020-08-20 20:32] smira opened #4489 "race condition/bug with stdinCloser"
**Description**

While developing against containerd Go API feels like we hit a bug with stdin closer. At least it seems suspicious.

When passing something as stdin to the container, we are expected to call `process.CloseIO` function to signal the EOF to containers' stdin.

Implementation in `ctr` is the following: https://github.com/containerd/containerd/blob/master/cmd/ctr/commands/tasks/tasks_

[2020-08-20 22:16] #4488 closed

[2020-08-24 12:13] payall4u opened #4494 "[Feature] Add the http header while pulling the image to indicate the origin ref."
**What is the problem you're trying to solve**
When pulling image from mirrors, the image ref transfered to mirror server will be modified from <origin-host>/xxxx to <mirror-host>/xxxx . When we use a single mirror server to proxy multiple registry (containerd-cri config is as follows), the server can't figure out what the origin ref of the image is.

[code]

**Describe the solution you'd like**
W

[2020-08-25 06:52] malc0lm commented on #4494
I think this feature is very useful！

[2020-08-25 08:03] hongli-my opened #4498 "crictl pull image failed, failed to unpack image"
**Description**

crictl pull  xxxxxx/honglichang/test:pull_fail

[code]
pull this image by docker success,   build containerd by `go1.14`

here ```os.RemoveAll(path)``` failed.
https://github.com/containerd/containerd/blob/release/1.2/archive/tar.go#L250

**Steps to reproduce the issue:**
1.
2.
3.

**Describe the results you received:**

**Describe the results you expected:**

**Output of `contain

[2020-08-25 10:13] boddumanohar commented on #4498
Does this happen with all the images or only for specific images?

[2020-08-25 10:48] boddumanohar commented on #4494
@payall4u This feature looks interesting. But I have a few questions (as a user)

1. Typically, `Origin` request header is typically sent for `CORS` and `POST` requests --> [reference](https://developer.mozilla.org/en-US/docs/Web/HTTP/Headers/Origin).
2. What would be the behaviour if the server cannot figure out what the origin reference of the image?

[2020-08-25 11:09] hongli-my commented on #4498
only one.

[2020-08-25 13:41] fuweid commented on #4494
cc @dmcgowan

[2020-08-25 13:43] fuweid commented on #4498
@hongli-my could you mind to try it with release 1.3/1.4/master ？thanks

[2020-08-25 16:10] dmcgowan commented on #4494
This was a feature I pushed for for a long time and we finally got it added in 1.4 https://github.com/containerd/containerd/pull/4413. See the distribution spec for specification change definition (note it has been approved but will officially be part of the 1.0.1 release) https://github.com/opencontainers/distribution-spec/pull/66.

The implementation uses a query parameter rather than a header b

[2020-08-25 16:10] #4494 closed

[2020-08-25 17:55] ashrayjain opened #4500 "Allow configuring location of overlayfs"
**What is the problem you're trying to solve**
We have encountered issues with containers that end up doing a lot of disk i/o on the overlayfs (instead of using a proper mount via a k8s emptyDir etc) and end up starving containerd leading to timeouts on various CRI operations. For things like k8s emptyDirs, we have been able to isolate containerd by keeping the containerd root location on a differ

[2020-08-25 17:58] ashrayjain commented on #4500
Related to https://github.com/containerd/containerd/issues/4485 which is where we saw the effects of this problem

[2020-08-25 17:58] AkihiroSuda commented on #4500
Two workarounds:
* Substitute `root = "/var/lib/containerd"` in `/etc/containerd/config.toml` to an arbitrary path
* Bind-mount an arbitrary directory on `/var/lib/containerd/io.containerd.snapshotter.v1.overlayfs`

[2020-08-25 19:47] willdeuschle commented on #4485
Closing as this was an issue with a workload exceeding the IOPS allowed on the device being written to. We've resolved the issue by symlinking the overlayfs to a different device.

Remaining follow-up tracked here: https://github.com/containerd/containerd/issues/4500

[2020-08-25 19:47] #4485 closed

[2020-08-25 20:44] ashrayjain commented on #4500
@AkihiroSuda thanks for suggesting the workarounds.

1. We found that doing this doesn't really fix the core problem here which is that we would like to isolate containerd's disk i/o from disk i/o being driven by workloads inside a container that can compete for resources.
2. This is precisely what we are currently doing as a workaround to this problem :)

The reason for this feature request was b

[2020-08-25 20:56] AkihiroSuda commented on #4500
:+1:

[2020-08-26 04:13] dmcgowan commented on #4477
@caniszczyk can you take a look at https://github.com/containerd/project/pull/55 ? We can link to there from the different repos after it's merged.

[2020-08-26 06:47] hongli-my commented on #4498
I try this version:
```containerd github.com/containerd/containerd v1.4.0-4-g881db9b 881db9b52d6e25ca446febbb141497e4983e1c34```

pull  this image success, but  find waring log:

[code]

[2020-08-26 17:57] mikebrow commented on #4460
bug/dependency on a particular chosen behavior

[2020-08-26 22:02] caniszczyk commented on #4477
@dmcgowan here's what I propose: https://github.com/containerd/.github/commit/fd43f5f992651403b8c0864d9471bb36e0083289

Another option could be to rename containerd/project -> containerd/.github and just use the .github as the repo for common project files and other things

[2020-08-27 01:31] #4500 closed

[2020-08-27 11:47] thaJeztah opened #4507 "Review the default OOM-score for containerd; consider less extreme value"
Opening a ticket for this as continuation of the discussion in https://github.com/containerd/containerd/pull/4409

https://github.com/containerd/containerd/commit/1c7312e5da1ae8ca3cf238397939ed1d24f60758 (part of https://github.com/containerd/containerd/pull/4465) updated the systemd unit file to include a `-999` OOMScoreAdjust.

This value was picked based on existing unit-files as used in contai

[2020-08-28 14:17] whiskerch commented on #4011
@Cellebyte  - Did you ever get round this issue? - I am in a similar situation with an isolated domain

[2020-08-28 19:10] firecat53 opened #4509 "Containers with curl based health checks becoming unresponsive"
**Description**

After containerd update to 1.4.0, running a Docker container with a health check using curl (specifically bitwardenrs/server and plex images) will result in an 'unhealthy' status after 15 minutes or so. The container is unable to be stopped without killing the applicable `containerd-shim` process.

**Steps to reproduce the issue:**

1. `docker run -d --rm --name bitwarden -v ~/.lo

[2020-08-28 20:12] cpuguy83 commented on #4458
A `Task` is the runtime state of the container.

In the process of building Docker, one huge pain point we found is the mixing of runtime state (container status) with things like config state (container configuration).

When building containerd it was decided to split these things so they can be managed separately.
So a "container" in containerd is configuration/metadata.

A `Task` encapsulates a

[2020-08-28 20:56] johnc219 commented on #4509
I ran into same behavior on Archlinux but with a different container and healtcheck: I had a `redis-cli ping` healthcheck running for my redis container. After several minutes, the container became unhealthy due to timeout. I tried modifying my healthcheck test to something simple - `echo 'hello'` - and even then it would eventually time out. Downgrading to containerd 1.3.4 also fixed it for me.

[2020-08-28 23:08] SanjayVas opened #4510 "Docker image imported by ctr gets unexpected "docker.io/" repo prefix"
**Description**
When I load a Docker image tar via `ctr import`, the image ref unexpectedly has a "docker.io/" prefix on the repo. I would expect that only to be true for images pulled from the Docker container registry.

If it's relevant, I'm using image tars produced by Bazel using [rules_docker](https://github.com/bazelbuild/rules_docker).

**Steps to reproduce the issue:**
1. Run `ctr import b

[2020-08-28 23:55] SanjayVas commented on #4510
Nevermind, this appears to be intentional. https://github.com/containerd/containerd/blob/f823c377086bccc8c35a0ddfe12a02a0c6c112af/images/archive/importer.go#L61-L63

[2020-08-28 23:55] #4510 closed

[2020-08-29 00:47] doy commented on #4297
i'm also seeing this - i noticed it because these processes just keep building up until my system runs out of memory and swaps itself to death. is there anything i can do to help this ticket make progress?

[2020-08-29 03:42] lining2020 commented on #4458
@cpuguy83  Wow, it's greet!   Now I understand why containerd need `Task`. Very helpfull ！
I am not very understanding the pain point about the mixing of container status and configuration.  Many thanks if you can share more details about the pain point. : )

[2020-08-29 04:11] cpuguy83 commented on #4458
The issue is there are many things in the runtime stack that can't really be controlled.
As an example, calls to the system can get hung (system calls, netlink calls, etc).
These hangs ultimately manifest as deadlocks up the call chain and cause all sorts of problems.

The way containerd manages a task is not terribly different in practice, loosely speaking, than the kernel itself.
For instance, c

[2020-08-29 05:08] lining2020 commented on #4458
Very nice！I get it. To avoid certain runtime stack (syscalls etc) that make us unable to mange (query, update, etc) the container configuration, we need to separate task execution and configuration of a container.

[2020-08-29 05:09] #4458 closed

[2020-08-29 14:08] perosb commented on #4509
Same here. on Archlinux both on amd64 and arm32

[code]

[2020-08-29 14:12] cpuguy83 commented on #4509
I am not able to reproduce this on Docker HEAD after several hours.

[2020-08-29 14:16] cpuguy83 commented on #4297
Shims stick around until their exit status has been collected (barring any sort of bug in the shim).

I see the one shim seems to be stuck in the "forward" call, which would be forwarding the exit event (most likely).

I'm wondering if during this time period there are some logs from the Docker side?

[2020-08-29 16:01] rcgoodfellow commented on #4133
Hitting this as well, in the Debian packaged ContainerD. It seems as through `ctr c rm <name>` does not always delete all the state associated with a container.

[code]

[2020-08-29 16:56] lateparty commented on #4509
I am facing this issue as well. Healthchecks works when the healthcheck points to a shell script, but when it's just a command, I'm facing the same behaviour

`
pacman -Qi containerd
Name            : containerd
Version         : 1.4.0-2
`
`
pacman -Qi linux
Name            : linux
Version         : 5.8.5.arch1-1
`

[2020-08-30 18:21] seblu commented on #4509
Well, I have the issue with my containers with healthchecks too. They cannot be stopped or restart via the docker CLI.
They even survive to  `systemctl stop docker containerd` and `systemctl kill docker containerd`.

[2020-08-31 03:36] AkihiroSuda opened #4513 "snapshotters: separate implementation pkg from plugin pkg"
https://github.com/containerd/containerd/pull/4506 moved the plugin init from `github.com/containerd/containerd/snapshots/overlay` to `"github.com/containerd/containerd/snapshots/overlay/plugin`.

We should do this for all the plugins.

- [x] aufs: https://github.com/containerd/containerd/pull/4533
- [x] btrfs
- [X] devicemapper: https://github.com/containerd/containerd/pull/4573
- [x] native
- [X

[2020-08-31 03:38] AkihiroSuda opened #4514 "snapshotters: allow setting root_path"
https://github.com/containerd/containerd/pull/4505 introduced a configuration knob for  `plugins.overlayfs.root_path`.

We should do this for all the plugins.

- [x] aufs: https://github.com/containerd/containerd/pull/4533
- [x] btrfs
- [X] devicemapper: https://github.com/containerd/containerd/pull/3022
- [x] native
- [X] overlay: https://github.com/containerd/containerd/pull/4505
- [x] zfs: http

[2020-08-31 10:35] nohaapav commented on #3291
Just my few cents:

Repository digest fetching fails from Github Registry:

For `application/vnd.docker.distribution.manifest.list.v2+json` =>
[code]

For `application/vnd.docker.distribution.manifest.v2+json` =>
[code]

And looks like v1 signed manifest `prettyjws` is not supported as well(missing history tag...):
[code]
So far Amazon ECR, Azure ACR, Gitlab, Dockerhub & custom v2 reg supporting t

[2020-08-31 12:29] chinazj opened #4515 "Containerd automatically exits after a few minutes"
**Description**

When I use systemctl start containerd. Containerd automatically exits after a few minutes

ctr plugin ls
[code]

 journalctl -f containerd. service -no-pager

[code]

**Steps to reproduce the issue:**

1. These errors suddenly appear, it may be related to the hardware。

**Describe the results you received:**

Just give me some directions. It would be better if you indicate where e

[2020-08-31 12:33] AkihiroSuda commented on #4515
[code]

The snapshot errors are negligible (unless you want to use them) and unrelated to the crashing

[2020-08-31 12:43] chinazj commented on #4515
thanks

Please give me a direction. Apart from the logs obtained by `journalctl -f containerd. service -no-pager`, are there other logs?

[2020-08-31 12:47] AkihiroSuda commented on #4515
Maybe oom, dmesg is worth trying

[2020-08-31 13:02] chinazj commented on #4515
thank you very much。

[2020-08-31 13:43] chinazj commented on #4515
Make sure it is an OOM problem

[2020-08-31 13:43] #4515 closed

[2020-08-31 15:03] mikebrow opened #6644 "Document / Support better defaulting for case where config runc options.systemd_cgroup = true"

[2020-08-31 15:19] nkukard commented on #4509
I have also encountered issues when using 1.4.0, in my case with docker compose using exec I get hangs after the command finishes.

[2020-08-31 17:15] cpuguy83 commented on #4509
Can we get some goroutine dumps?

You should be able to do `kill -s USR1 <dockerd pid>; kill -s USR1 <containerd pid>; kill -s USR1 <shim pid>`.

Dockerd will output the goroutine stack to a file in the host, the location will be in the logs.
For containerd/containerd-shim, this will go to the logs of containerd.

Please post these to a gist (bonus points if you fix formatting for things like lite

[2020-08-31 17:32] clarkbw commented on #3291
If I run the following:

[code]

I get this as a return. Its not returning the correct mediaTypes but the methods are allowed.

[code]

[2020-08-31 20:07] firecat53 commented on #4509
Happy to, but it'll be a couple of days. On vacation at the moment!

[2020-09-01 03:26] nkukard commented on #4509
Here is a goroutine stack from a 2nd system after stopping all containers...

dockerd - https://gist.github.com/nkukard/ceb2f5796252b43100bfdc02ca0c4c0f

And the associated ps ...

https://gist.github.com/nkukard/3fa747d888e149eb89973d4245ebe4ee

[2020-09-01 07:27] nohaapav commented on #3291
@clarkbw You are using GET for each .. I'm using HEAD for manifest check see official api doc https://docs.docker.com/registry/spec/api/

And `GET v1+prettyjws` (signed manifest) should return different data. See https://docs.docker.com/registry/spec/manifest-v2-1/#example-manifest

[2020-09-01 11:37] qbaze commented on #4509
Same issue here after containerd updated to 1.4.0.

archlinux

[2020-09-01 11:43] clarkbw commented on #3291
Ah, sorry I missed that.  Thanks.

Yes that's not all the required data.

I'll look into this for the upcoming service.

Here's the updated version with the same errors but at least I'm running the commands correctly.

[code]

[2020-09-01 12:02] thaJeztah commented on #3291
@nohaapav make sure to check the OCI distribution spec, which (although based on the original spec as used by Docker Hub and the Docker open source registry), may differ; https://github.com/opencontainers/distribution-spec/

Docker Hub provides support for pulling some legacy content (e.g. deprecated V1 manifests), which may no longer be in the spec; the OCI distribution spec should be the canonic

[2020-09-01 12:38] Zhang-Jianming opened #4516 "snapshot metadata should only be stored in the snapshotter"
**What is the problem you're trying to solve**
If the metadata of the remote snapshot is corrupted, all data in the containerd needs to be cleaned up for snapshot recovery.

**Describe the solution you'd like**
Snapshot metadata is stored both in containerd and snapshotter, which increases the complexity of snapshot recovery.
Snapshot metadata should only be stored in the snapshotter.

**Additiona

[2020-09-01 15:49] cryptoluks commented on #4509
Same here. Noticed it on different Arch Linux systems with bitwarden_rs, Overleaf/Sharelatex Mongo Container and pihole.

[2020-09-01 16:27] cpuguy83 commented on #4509
This goroutine makes me think the v1 shim is having an issue: https://gist.github.com/nkukard/1fc9e69cb16b7e2ebc06a2eacb1b70cd#file-gistfile1-txt-L543-L571

This could explain why I can't reproduce on the docker HEAD since that is using the v2 shim by default now.
Sadly the shim stdio does not seem to be wired up to anything when containerd is run in its own systemd unit.

[2020-09-01 17:38] clarkbw commented on #3291
We can close this issue out now.  [GHCR was released today](https://github.blog/2020-09-01-introducing-github-container-registry/).

I ran this again.

[code]

- List support is not yet implemented, should land next week.
- `v2+json` HEAD works as expected
- `v1+prettyjws` / `v1` only returns the v2 manifest so I'll look into this

<details>
<summary>shell output</summary>

[code]
</details>

[2020-09-01 18:56] csantanapr commented on #3291
Hi @clarkbw thanks for the update with the great news 🎉

Would you mind sharing where are you tracking the reminder issues you pointed out?

[2020-09-01 19:04] alexellis commented on #3291
The curl looks pretty, but has anyone tried it out e2e yet?

[2020-09-01 19:27] csantanapr commented on #3291
I tried this and is not working for me @clarkbw

I tried with 2 different images (hello-knative, nginx)
I tried 2 different versions of containerd
I tried 2 different access tokens (read, read/write/delete) packages

Same errors
[code]

Versions of containerd
`kubectl get node <node> -o template={{.status.nodeInfo.containerRuntimeVersion}}`
Using `kind`
[code]
Using IBM IKS
[code]

Anyone got it w

[2020-09-01 19:30] dfreilich commented on #3291
@csantanapr As per https://docs.github.com/en/packages/getting-started-with-github-container-registry/migrating-to-github-container-registry-for-docker-images#domain-changes, the domain for the registry is `ghcr.io`, in place of `docker.pkg.github.com`. Try it with that?

[2020-09-01 19:58] csantanapr commented on #3291
Thanks @dfreilich for the tip the change to use `ghcr.io` and also moving from docker package registry per repo to the new container registry without repo made it work.

My example is now working @clarkbw 🌮 🎉

[code]

I didn't read that there were changes

Set fine-grained permissions and visibility independent of repository permissions and visibility.
Access public container images anonymously.

[2020-09-01 20:04] clarkbw commented on #3291
I'm tracking these issues internally at GitHub. I don't have a good way of tracking them publicly right now.

All major ships for GHCR will be tracked on the public roadmap https://github.com/github/roadmap/projects/1?card_filter_query=label%3Apackages

[2020-09-01 20:08] csantanapr commented on #3291
We can leave this issue open and track, or open 2 new issues in this repo since these things affect contained users.

[2020-09-01 20:11] clarkbw commented on #3291
I'd personally opt for this seeing as this issue has so many subscribers over a certain issue that is now fixed. I'd be happy to update the other issues with status.

[2020-09-01 20:12] csantanapr commented on #3291
Can someone test this? I made the image public

Run this on a kubernetes with containerd, no need for pull image secret. the image is supposed to be public
[code]

[2020-09-01 20:13] csantanapr commented on #3291
I'm fine closing this one, also allows for Celebration 🥳

 @clarkbw could you open the 2 new issues, I would not know how to describe the issue or reproduce.

[2020-09-01 20:17] clarkbw commented on #3291
[code]

[2020-09-01 20:35] csantanapr commented on #3291
thanks for confirming @clarkbw I made the image public, but when visiting the packages page from incognito window it didn't show the nginx image as public

![image](https://user-images.githubusercontent.com/1094878/91903388-2be35600-ec71-11ea-8df5-a08c1257af71.png)

[2020-09-01 20:36] alexellis commented on #3291
Working nicely, however the docs are pointing at the original domain name

[code]

Older docs?

<img width="916" alt="Screenshot 2020-09-01 at 21 35 13" src="https://user-images.githubusercontent.com/6358735/91903378-0f5c1380-ec9b-11ea-9188-e5fc5cb42a7f.png">

[2020-09-01 20:38] csantanapr commented on #3291
@alexellis I would say older docs, the new registry, you don't use a git `repository-name`

Once you create an image the docs are correct there
![image](https://user-images.githubusercontent.com/1094878/91903672-9c8a7280-ec71-11ea-9f87-11acc6168f6c.png)

[2020-09-01 21:29] clarkbw commented on #3291
New [GHCR docs are up](https://docs.github.com/en/packages/getting-started-with-github-container-registry/)

You can continue to namespace images down to the repo with GHCR but it is no longer required.  Here are our [recommended migration steps](https://docs.github.com/en/packages/getting-started-with-github-container-registry/migrating-to-github-container-registry-for-docker-images)

[2020-09-01 22:42] robin-rpr commented on #3291
Thank's so much @clarkbw ! I'm absolutely trilled to see this issue being resolved now! 🎉

[2020-09-01 23:43] csantanapr commented on #3291
I validated that this now works on my kubernetes cluster running containerd

Closing thanks a lot @clarkbw 👍

[2020-09-01 23:43] #3291 closed

[2020-09-01 23:56] clarkbw opened #4520 "GHCR doesn't support manifest list"
Coming from https://github.com/containerd/containerd/issues/3291#issuecomment-685068085

**Description**

I'm not sure if this is a blocker for containerd or not. If this is a bug or blocker feel free to leave this open and I'll continue to update this ticket on the situation from the GitHub Container Registry side. If this isn't a bug or blocker for containerd please feel free to close this issue

[2020-09-02 00:02] clarkbw opened #4521 "GHCR doesn't support v1 manifests"
Coming from https://github.com/containerd/containerd/issues/3291#issuecomment-685068085

**Description**

I'm not sure if this is a blocker for containerd or not. If this is a bug or blocker feel free to leave this open and I'll continue to update this ticket on the situation from the GitHub Container Registry side. If this isn't a bug or blocker for containerd please feel free to close this issue

[2020-09-02 00:03] clarkbw commented on #3291
I filed both https://github.com/containerd/containerd/issues/4520 and https://github.com/containerd/containerd/issues/4521 to track the other outstanding issues mentioned here. I'm not sure if those issues belong in this repo so I'll let @thaJeztah or others decide that.  Happy to update them if its useful.

[2020-09-02 01:09] dmcgowan commented on #4521
I am going to close this issue. We only care about v1 manifest support in the context of older images which were pushed to registries before v2 manifest existed. containerd has never supported pushing v1 manifests and internally do not support v1 manifest (we convert any v1 manifests to v2 manifests before storing the image in containerd). Since GHCR is a newer registry, I wouldn't expect it to ha

[2020-09-02 01:09] #4521 closed

[2020-09-02 01:24] dmcgowan commented on #4520
What is most important to containerd is that the API is fully implemented. Pulling a manifest list normally involves pulling down a manifest list by tag, then pulling the referenced manifests by digest. The issue before was pull by hash not working. With pull by digest working, the containerd client can pull just fine.

Not supporting manifest lists won't cause any blockers for containerd. Where u

[2020-09-02 01:24] #4520 closed

[2020-09-02 03:07] vizhur commented on #4520
@dmcgowan I'm sorry I might not completely understand your point, but other Microsoft container registries like MCR and ACR support multiarch, even more Windows releases their images as multi-arch but GH looks like too cool to support that?

[2020-09-02 05:40] dmcgowan commented on #4520
@vizhur this is the containerd issue tracker, not the place to discuss individual registry features. From my perspective, Github has followed through in delivering an API compliant registry and it makes sense for them to continue to expand artifact support and multiarch support like the other registries you mentioned. You are welcome to open up a Github discussion to discuss registry feature compa

[2020-09-02 09:19] seblu commented on #4509
Side question: why containerd 1.4 use shim v1 by default and prints these messages?

[code]

[2020-09-02 12:28] cpuguy83 commented on #4509
Docker hardcover shim v1.
This will be fixed in Docker 20.x.

[2020-09-02 12:40] nohaapav commented on #3291
@clarkbw I've tried new domain `ghcr.io` but looks like i can't push if

[code]
`OWNER` is organization i belongs to.

[code]
Pushing to my user account works just fine.

[2020-09-02 16:38] choose27 commented on #4509
I am experiencing the same issue as well. Archlinux with latest docker. All of my containers with health checks stop working entirely after ~1hr. Can't stop or restart containers but I can remove them. I have networking errors when I run my compose file until I delete the network they were using and re-create OR if I reboot the entire machine.

[2020-09-02 19:01] crosbymichael opened #4816 "Add better debug logging around CNI plugins"
Right now, it is hard to see what plugins, config path, or actions and errors coming from calling CNI plugins.  CRI just doesn't have logging in this area.  We should add this behind the `debug` level to help people troubleshoot network related issues.

These changes may span into our `go-cni` library so that stderr or typed errors can be send to the main daemon's log stream.

[2020-09-02 19:27] tianon commented on #4489
Just ran into this too :sweat_smile:

Easiest way I've found to reproduce is something simple like (using `/dev/null` because it's a simple way to close stdin immediately, but something like `echo ... | sudo ctr ...` works just as well):

[code]

I was also kind of surprised at the implementation in #3462 -- I would've expected `cio.WithStdio` to handle the input closing somehow (but I understood

[2020-09-02 20:58] tianon commented on #4489
It's not perfect, but I've fixed this race for my code with the following changes to the `StdinCloser` interface:

[code]

(Happy to make a PR with this, but I think there's probably a better fix that should maybe be applied elsewhere and/or a warning on `cio.WithStdio` :sweat_smile:)

[2020-09-03 02:26] insidewhy commented on #4509
Also running arch and my containers stop working (and get into a state where they can't be stopped) after 5 minutes sometimes. I need to use `docker rm -f <id>` followed by `sudo systemctl restart docker` to be able to use docker again after this happens.

[2020-09-03 02:33] firecat53 commented on #4509
Hey y'all, if you're having the same issue, just hit the thumbs up on the initial post unless you have more logs to provide. We all have about the same symptoms and it looks like the issue may be fixed in the next Docker release (if I'm reading that right) (see @cpuguy83 comments above).

[2020-09-03 02:39] cpuguy83 commented on #4509
Sorry the only thing that's fixed is that Docker 20.x will use the v2 shim.

I have not been able to reproduce this yet.
So far I've only tried with the v1 shim on Docker master branch.

[2020-09-03 02:40] seblu commented on #4509
Did you use go 1.5 to reproduce?

[2020-09-03 11:20] Seoka commented on #4509
@cpuguy83 I fetched the exact package versions of all dependencies, mayby you can reproduce the error with those version:
[code]

[2020-09-04 00:10] troygraben commented on #4434
I've bisected `v1.4.0` to this commit https://github.com/containerd/containerd/commit/e3ab8bda604dbafb6c69f4c42979e92ead445138. On my set up, the hang goes away after reverting this commit on `v1.4.0`.

Following git blame to a previous change https://github.com/containerd/containerd/commit/38d7d59e8ab35bd627d4e34ffe2198ac71c451d3. The commit message says `allProcesses` is meant to avoid a deadloc

[2020-09-04 00:11] troygraben commented on #4509
I've bisected `v1.4.0` to this commit https://github.com/containerd/containerd/commit/e3ab8bda604dbafb6c69f4c42979e92ead445138. On my set up, the hang goes away after reverting this commit on `v1.4.0`.

Following git blame to a previous change https://github.com/containerd/containerd/commit/38d7d59e8ab35bd627d4e34ffe2198ac71c451d3. The commit message says `allProcesses` is meant to avoid a deadloc

[2020-09-04 02:19] insidewhy commented on #4509
Can that commit be reverted. At my work we're using docker-compose to build our development environments and the inability to reliably kill containers broke a lot of our scripting. Now I'm having to manually lookup containers with `docker ps` and then `docker rm -f` them followed by a `systemctl restart docker` more than ten times every day.

[2020-09-04 08:36] cryptoluks commented on #4509
Just kill them (`ps aux | grep ID` and `kill -9 PID`), no need to restart the whole docker service.

[2020-09-04 09:14] ktock commented on #4516
If you are aiming to the recovery of an unavailable snapshot, what do you think about achieving it on the client side rather than metadata store? One possible way is making snapshotter return typed error on snapshot unavailability and making the containerd client deal with it (e.g. re-pulling image).

[2020-09-04 09:16] lateparty commented on #4509
Alternatively re-deploy with the healthcheck flags disabled. All my
containers have been running fine since removing that from the
configuration. It was a bit of a pain with bitwarden due to the volume of
services in the compose file, but no real hassle.

On Fri, 4 Sep 2020 at 18:36, cryptoluks <notifications@github.com> wrote:

Cheers,
Aleks

[2020-09-04 14:54] dmcgowan commented on #4516
Recovering from data corruption is one of the reasons that snapshot metadata should not only be in the snapshotter. The metadata store holds the relationship between snapshots and other objects in containerd in a consistent manner. This issue can be rephrased to mention more resilience against snapshot data corruption and errors. Remote snapshotters and other implementations will introduce a large

[2020-09-04 18:29] rfay commented on #4509
BTW, I don't think this has anything to do with curl-based healthchecks, just healthchecks in general. One of ddev's affected images does not have a curl in the healthcheck.

[2020-09-04 19:51] SeaLife commented on #4509
Hey,

you probably need to try that with an Arch-Based OS.
Any other OS so far does not seems to be affected.
My Ubuntu Server is not running into those issues with the same docker version but with a lower containerd and runc version.

We'v successfully installed a new arch server with only docker installed and run into this issue in less than an hour.

[2020-09-04 20:00] kevin-hanselman commented on #4509
I completely agree with @rfay on healthchecks. Traefik uses an embedded healthcheck command, and it was also becoming unresponsive.

As I noted in github.com/docker/for-linux/issues/1097, downgrading to containerd 1.3.4 makes my symptoms go away; containerd 1.4.0 seems like the smoking gun.

[2020-09-04 20:08] Foxboron commented on #4509
Arch containerd maintaner here:

The smoking gun is Go 1.15, not containerd 1.4.0. As noted above this issue doesn't affect Ubuntu, and I'm fairly sure they have not pushed Go 1.15 yet.

[2020-09-04 20:31] Foxboron commented on #4509
Go binaries are statically compiled, so each binary has no runtime dependency on any go version. Containerd `1.3.4` doesn't pull down go `1.13.8` because it's not needed.

Yes, go 1.15 is 24 days old. Ubuntu hasn't pushed this yet AFAIK.

We don't do that as the `go` package in Arch is not versioned and we don't push multiple versions of the same package. The `containerd` test suite is passing wit

[2020-09-04 20:35] smira commented on #4489
our solution was somewhat similar to avoid the race: https://github.com/talos-systems/talos/blob/master/internal/app/machined/pkg/system/runner/containerd/containerd.go#L253-L282

[2020-09-04 21:16] cpuguy83 commented on #4509
I would tend to agree it's most likely around go1.15

Since go1.14 there are changes in the go runtime that enables forced goroutine preemption. This has not been tested (and actively avoided, even) with anything in the container runtime stack.
The result of the change is that sometimes a system call can return SIGINTR, which previously was never handled.

Just testing some basic things with `ctr

[2020-09-04 21:17] cpuguy83 commented on #4509
That said, still haven't reproduced with containerd on go1.15.

[2020-09-04 21:38] cpuguy83 commented on #4509
Oh right, I forgot about buiildmode=pie and the linkmode changes.

I'm using the `Makefile` in this repo to build, which builds without cgo and no buildmode=pie

[2020-09-04 21:39] cpuguy83 commented on #4509
Sounds like this is possibly an issue specifically with how packages are built for Arch.

[2020-09-04 21:41] Foxboron commented on #4509
That is how the previous issue got closed. Is there any general issues/milestones for go1.15 issues?

[2020-09-04 22:11] Foxboron commented on #4509
Interesting note, but during some debugging I discovered that the issue can be fast-tracked by increasing `--health-interval`. Default with `30s` spent quite a while being healthy, but with `1s` it got an unhealthy container within ~3 minutes.

[2020-09-04 22:15] cpuguy83 commented on #4509
Yep, reproduced with buildmode=pie.

There's an open PR to update to go1.15 -> https://github.com/containerd/containerd/pull/4050

However I'm not sure build issues seem not related to the repo since you have to use settings that are called specifically in the Makefile already. Maybe we can update BUILDING.md to call out issues like this, why it's an issue, etc.

The community can have a open a di

[2020-09-04 22:19] Foxboron commented on #4509
I think we can keep Arch build issues on our tracker. I don't see the need to bother upstream with that :smiley:

Generally I think you can have a note that any `PIE` or `RELRO` (`-buildmode=pie` along with `-ldflags=-linkmode=external`) is unsupported and might introduce race conditions.

The downstream bug report for this issue is: https://bugs.archlinux.org/task/67755?dev=25983

[2020-09-04 22:48] Foxboron commented on #4509
Ah, removing `-buildmode=pie` along with any other build flag additions doesn't solve the issue in Arch. So this is going to be a **fun** thing to figure out.

@cpuguy83 Which docker version are you testing with?

[2020-09-04 23:04] cpuguy83 commented on #4509
@Foxboron I reproduced just with `ctr` using your build options.

Please make sure to set `CGO_ENABLED=0` as well.

[2020-09-04 23:10] weikinhuang opened #4531 "Registry mirror fallbacks immediately errors if response code is 5xx instead of connection timeout/fail"
**Description**

Attempting to run a docker pull through cache mirror in kubernetes to pull nodes on a host, I'm running into an issue where when the ingress controller is ready but the pod isn't ready, it'll return a 503 error instead. This is causing images to fail to be pulled by containerd, even though the configuration has 2 mirrors, it never goes to the next mirror.

**Steps to reproduce the

[2020-09-04 23:12] Foxboron commented on #4509
The default build is pretty much vanilla without any weird CGO flags and so on at this point.

[code]

I have only been testing stuff through docker, never played with `ctr` itself. If you have some quick commands to easily reproduce that would be great. Else I'll figure it out tomorrow!

Thanks for the help so far, and feel free to close whenever this gets uninteresting for upstream.

[2020-09-06 03:31] predakanga commented on #4203
@AkihiroSuda The snippet you provided isn't working for me on v1.3.3

So far I've tested all the snippets in this issue, as well as
[code]

Specifically, I'm using containerd and runc as bundled with Ubuntu 20.04.1:
[code]

I'm testing by creating an nginx container as follows:
`ctr run docker.io/library/nginx:latest ngx`

I'm confirming that systemd cgroups aren't in use with lscgroup:
[code]

[2020-09-06 03:42] AkihiroSuda commented on #4203
ctr is not for cri

[2020-09-06 04:12] predakanga commented on #4203
Thanks for that clarification! After testing with crictl runp, it appears that your snippet is working properly.

It's still strange that `crictl info` reports SystemdCgroups: false, but I'm not sure this is the right place to report that.

[2020-09-06 12:03] sedflix commented on #4514
Hey @AkihiroSuda and @knight42 ,

I would like to do the reaming part of it, i.e. zfs and aufs, as my first contribution here. Is it alright, if I go ahead with it?

[2020-09-06 12:04] AkihiroSuda commented on #4514
Yes thanks

[2020-09-06 13:29] sedflix commented on #4513
Hey @AkihiroSuda ,

This is regarding previous pr #4518 as well as for implementing the same in aufs and zfs. Since I've almost no knowledge about this project, I'm simply trying to replicate what was done by @knight42.

From #4506 , I understand that we want to totally remove the dependency on plugin package in some files. With #4518 , dependency on plugin still remains at https://github.com/cont

[2020-09-06 13:35] AkihiroSuda commented on #4513
1 but keep ErrSkipPlugin in plug-in init()

[2020-09-06 23:49] andrew-aladev opened #4535 "Minor releases with seccomp whitelist changes"
Disabling seccomp is bad solution, unfortunately it is required today.

I've [found](https://bugs.gentoo.org/736904) that glibc 2.31+ can't be used with seccomp without `time64` syscalls whitelist. These syscalls was whitelisted in latest version of `containerd` `v1.4.0` only. But `1.4.0` version includes huge amount of changes. It can appear in `testing` branch in next 2 month and in `stable` bra

[2020-09-07 03:37] vsai9594 commented on #3847
Hi, i am facing similar issue. I added harbor as insecure registry in registries.conf , i am able to pull the images if i am using docker pull command but when i use the same image in kubernetes yaml file .. i am getting this "Failed to pull image "harbor.x.x.x.com/test/test-image:v1": rpc error: code = Unknown desc = failed to resolve image "harbor.x.x.x.com/test/test-image:v1": no available regi

[2020-09-07 04:22] vsai9594 opened #4536 "Not able to pull insecure harbor images"
Hi, i am facing an issue. I added harbor as insecure registry in registries.conf , i am able to pull the images if i am using docker pull command but when i use the same image in kubernetes yaml file .. i am getting this "Failed to pull image "harbor.x.x.x.com/test/test-image:v1": rpc error: code = Unknown desc = failed to resolve image "harbor.x.x.x.com/test/test-image:v1": no available registry

[2020-09-07 04:30] AkihiroSuda commented on #4536
Make sure to specify CA: https://github.com/containerd/cri/blob/master/docs/registry.md#configure-registry-tls-communication

[2020-09-07 04:34] vsai9594 commented on #4536
i added harbor as insecure registry and i was able to pull images with docker pull command...do i still need to add them? also harbor site doesn't have any certificates  it's insecure.

[2020-09-07 04:41] AkihiroSuda commented on #4536
Insecure registry can be enabled with `insecure_skip_verify = true`, but it is highly recommended to configure TLS.

[2020-09-07 04:42] vsai9594 commented on #4536
@AkihiroSuda okay thanks

[2020-09-07 04:48] AkihiroSuda commented on #4536
Let me move this to https://github.com/containerd/containerd/discussions

[2020-09-07 04:48] #4536 closed

[2020-09-07 08:10] xrmzju opened #4537 "[Help] test the performance of containerd and moby in kubernetes"
We have used moby in our production env for a long time, and recently we decided to explorer the possibility to replace docker(moby) with containerd for it's simplicity, and we have done some tests between containerd and moby.
     The first test we do is pod_start_up_latency. Theoretically, containerd should perform better in latency, and that is what we have got from a lot of blog or papers( lik

[2020-09-07 08:13] xrmzju commented on #4537
is there any clue or some config i need change? or anybody who have done comparison test between containerd and docker can you share your method ?

[2020-09-08 04:49] awprice opened #6643 "privileged_without_host_devices=true prevents privileged containers with DIND"
# Problem

I've noticed that when using `privileged_without_host_devices = true` and attempting to run a DIND (docker in docker) container inside a Kubernetes pod, it prevents the creation of privileged containers on the inside docker daemon.

We see the following error from the DIND daemon:

[code]

This is due to the privileged Kubernetes container not having `oci.WithAllDevicesAllowed`:

`privi

[2020-09-08 08:55] asafdl opened #4541 "Some cAdvisor metrics not finding any containerd containers"
**Description**

After adding containerd to a number of our containers we noticed that queries container_fs_** (other than container_fs_read_** and container_fs_write_**) do not find any pods with containerd on them

**Steps to reproduce the issue:**
1. create k8s cluster with prometheus and kubelet + cadvisor monitoring stack
2. create pod using containerd containers
3. try to query pod in promet

[2020-09-08 11:36] vmaurin commented on #4509
I have linked the same issue here https://github.com/moby/moby/issues/41410

With the test I did, it seems it is not related to the healthcheck system but to the docker exec command (you can run a container, then run a command with docker exec, after some point it will still "work" but never return/exit

[2020-09-08 13:57] kahootali commented on #3604
Seeing this on GKE with container 1.2.8 in a mixed way, where 2 nodes give this error and 1 doesn't
https://github.com/containerd/cri/issues/1565

[2020-09-08 14:09] #4537 closed

[2020-09-08 14:26] thaJeztah commented on #4541
Have you reported this in the cAdvisor issue tracker as well?

[2020-09-09 01:58] payall4u opened #6642 "[Feature] Support the configuration of cri to choose network interface for the pods."
Now cri only uses the default network interface 'eth0' to for creating pods.
But in some scenarios, we will use eth1 or others interface for this.
So can we support to choose the network interface on cri config.

I think this feature may need to modify the go-cni and cri. I have finished it.
May I pr this?

[2020-09-09 16:23] fuweid commented on #4509
Hi, @firecat53 and @nkukard , could you mind to add the following config for containerd?

[code]

The `shim_debug` is true, which means that containerd will handle shim-v1 output. Based on this, you can send `kill -s USR1 <shim pid>` to dump goroutine stack from shimv1.

If it is hard to reproduce it, you can try to check the fd of shim process, like:

[code]

The `/var/lib/containerd/io.container

[2020-09-09 22:26] cpuguy83 commented on #4509
If the issue is what I think it is, I don't think the error will reproduce with `ShimDebug` set.
In my experience, this is happening due to an unconsumed shim log (which is implemented as a fifo and eventually fills up).
Setting `ShimDebug` causes containerd to consume those logs.
The referenced commit adds a new log entry that wasn't there before, and it is logged every time docker performs an `e

[2020-09-09 23:50] cpuguy83 commented on #4509
Here's the fix https://github.com/containerd/containerd/pull/4546

[2020-09-10 04:28] tiny1990 opened #4547 "too many oom events"
**Description**
run containerd in kernel `Linux 4.18.0-2.2.1`
when the container oom , subscribe the events is too many oom event
[code]

[code]

**Steps to reproduce the issue:**
I don't no how to reproduce ,but i restart the containerd is not work.

1.
2.
3.

**Describe the results you received:**

**Describe the results you expected:**

**Output of `containerd --version`:**

[code]

**Any other

[2020-09-10 06:42] tiny1990 commented on #4547
now I check the oom container ,
[code]
the pid is 0
then inpsect and ps grep it
[code]
the pid is not exist

[2020-09-10 07:40] tiny1990 commented on #4547
update
Now I write a tmp code for  test.
The clean the event , it's works for me

[code]

so , i don't why the process is not exist, but the ctr status is running, and the event doesn't to clean.

[2020-09-10 08:38] ecoughlan commented on #4509
I can confirm that `shim_debug = true` is indeed another workaround, and additionally `cat /var/lib/containerd/io.containerd.runtime.v1.linux/moby/<id>/shim.stdout.log` is as well and also unblocks already "dead" containers, so thanks for that.

[2020-09-10 11:45] dequis commented on #4509
So was the golang version used to compile relevant to this issue in the end? What's the connection?

[2020-09-10 17:04] marwan-at-work commented on #3031
Any updates here?

Thanks!

[2020-09-10 17:19] cpuguy83 commented on #4509
The issue always existed, but was exacerbated by a new "info" log entry in the shim that gets logged for every exec request.

While investigating this problem I actually came across this log entry and was like "info level on this is silly..." and changed it to "debug" level (which is already merged https://github.com/containerd/containerd/pull/4519). Changing to debug level pretty much makes this

[2020-09-10 18:53] mikebrow commented on #3031
dims moved the streaming code... and we are merging cri into containerd... and https://github.com/containerd/cri/pull/1377#issuecomment-664136849

[2020-09-10 19:18] ryanclark opened #4551 "containerd pusher discards original error"
**Description**

Occasionally when using `moby/buildkit:latest`, the cache image fails to upload. There doesn't seem to be any correlation as to why, so we can't reproduce it.

**Steps to reproduce the issue:**
Unfortunately this isn't easily reproducible - the error message isn't helpful to know where the error is coming from.

I spoke with @tonistiigi and he pointed to it being an error with con

[2020-09-10 19:48] Foxboron commented on #4509
If there are still Arch users following this, please try this package:

https://pkgbuild.com/~foxboron/repos/containerd/containerd-1.4.0-2.5-x86_64.pkg.tar.zst

This package has the following patches applied

https://github.com/containerd/containerd/pull/4519
https://github.com/containerd/containerd/pull/4546

[2020-09-10 20:23] doy commented on #4297
for some additional context, this started happening to me when i upgraded to containerd 1.4.0, and downgrading back to 1.3.4 fixes it.

[2020-09-10 20:31] cpuguy83 commented on #4297
Sounds like you are hitting https://github.com/containerd/containerd/issues/4509#issuecomment-690532671

[2020-09-10 20:36] ryanclark commented on #4551
I do apologise for not providing a reproducible example. This happens so sporadically (maybe once or twice a day, out of 100s of runs) I can't put my finger on what could be different. I'll try and provide as much info as I can as it comes in.

[2020-09-11 00:37] choose27 commented on #4509
@Foxboron I installed that package 2 hours ago and enabled the health checks on my containers and they are still running.

[2020-09-11 04:12] tiny1990 commented on #4547
it's a kernel bug

[2020-09-11 12:30] lisael commented on #4547
@tiny1990 I've got the same issue with 5.8. Can you point to a relevant resource about this bug?

[2020-09-11 13:22] perosb commented on #4509
Yup, confirmed to work here now aswell! Thanks!

[2020-09-11 19:52] firecat53 commented on #4509
@Foxboron: bitwardenrs_server container running with health check enabled for about 5 hours now. Looking good!

[2020-09-11 21:05] ip6li commented on #4509
@perosb : Container are running for about 8h (containerd 1.4.0-2.5) on Arch Linux (Kernel 5.8.8), all in status "healty"

[2020-09-11 21:37] #4509 closed

[2020-09-13 17:07] tiny1990 commented on #4547
@lisael  will update soon, can you comment your host info or some logs?

[2020-09-14 15:31] TBBle commented on #1920
I forgot to follow-up at the time, but "Commit uses archive diff to turn writable layer into a read only parent layer" is PR #4415, and "Use SetVolumeMountPath to mount snapshots on target folder" is PR #4419, mostly based on #3693

These two PRs currently contain the commits for #4395 and #4399, as I built them as a series on top of each other to get to a working state. The probably should be rev

[2020-09-14 15:41] TBBle commented on #1681
Coming to this very late... hcsshim has a utility `wclayer` which perhaps could be leveraged here? If not, we'd end up with something very similar to wclayer's `import` and `export` commands anyway, which are pretty simple wrappers around library code we're already calling, or will be if-and-when #4395 and #4399 land.

[2020-09-14 16:08] danielfoehrKn opened #4562 "Possibility to define runtime dependencies"
**What is the problem you're trying to solve**
The proposal is to enhance containerd with a build-in functionality that installs dependencies defined in the `config.toml` at startup.
Dependencies are image references that contain binaries that should be installed on the host OS.

**Benefits**

Projects that integrate with containerd can have multiple dependencies in addition to containerd itself.

[2020-09-14 23:08] Nit123 commented on #2231
Hello, I am a student from the University of Texas at Austin. I wanted to know if a group of my colleagues and I could work on this issue as part of an assignment for my virtualization class as well as a recap of all the work that's been done on this issue so far since there's a long implementation history. Thanks in advance!

[2020-09-15 00:35] dims commented on #2231
@Nit123 go for it!

[2020-09-15 02:18] Sophichia opened #4565 "Does ctr cli support to configure default environment variables for all containers created by it?"
**What is the problem you're trying to solve**
Regarding the docker document here(https://docs.docker.com/network/proxy/), it supports way to inject default environment variables for all the containers created by docker. This feature is pretty useful especially when all the container egress traffic needs come thru a http proxy.

I didn't find anything can achieve this in containerd world. Wonderin

[2020-09-15 14:43] xrmzju opened #4567 "How to run build image job when use containerd as k8s runtime"
like docker in docker. is there any way or tools to do something like docker in docker ?

[2020-09-15 15:09] pravarag commented on #4426
@AkihiroSuda can I work on this issue if anybody else has not already started?

[2020-09-15 15:10] AkihiroSuda commented on #4426
Yes you can, thanks

[2020-09-15 16:27] AkihiroSuda commented on #4567
Use BuildKit: https://github.com/moby/buildkit/tree/master/examples/kubernetes

[2020-09-15 16:27] AkihiroSuda commented on #4567
Let me convert this from GitHub Issues to GitHub Discussions

[2020-09-15 16:27] #4567 closed

[2020-09-16 15:27] tonistiigi commented on #4551
This issue should be named: "containerd pusher discards original error" . After that is fixed there should be info about what actually causes the push failure that might be in registry, containerd or buildkit.

[2020-09-17 10:48] advancedwebdeveloper opened #4571 "Providing support for gollvm"
**What is the problem you're trying to solve**
Providing extensive support for [gollvm](https://go.googlesource.com/gollvm/) , which offers LLVM back-end - while the same front-end is used, for Golang.
Main repo, sub-projects.

**Describe the solution you'd like**
Regular building experiments, bug reports.

**Additional context**
@thanm @cherrymui could speak for gollvm project.

Ivan

[2020-09-17 11:24] thaJeztah opened #4572 "Update README and docs/website to mention built-in CRI support"
I noticed that the README makes no mention of Containerd now have CRI support out of the box. With the docker-shim being marked "deprecated" (https://github.com/kubernetes/kubernetes/pull/94624) and containerd being widely used as runtime for Kubernetes by major cloud providers, I think it would be good to add a section describing this feature to assist users that arrived in this repository lookin

[2020-09-17 18:28] mikebrow commented on #4572
Yes.. as a part of the containerd/cri merge need to:

- [ ] merge the readme

- [ ] merge the docs trees

- [ ] blog about it

- [ ] update containerd.io to include cri details

..
...

[2020-09-18 00:51] ryanclark commented on #4551
@tonistiigi thanks, I've updated the title

[2020-09-18 11:36] pohly opened #4574 "deprecated (?) systemd_cgroup still printed by "containerd config default""
**Description**

Apparently `systemd_cgroup = true` in plugins."io.containerd.grpc.v1.cri" is no longer supported by containerd 1.3.7. Enabling it causes containerd to skip loading the cri plugin:

[code]

**Steps to reproduce the issue:**
1. `containerd config default > /etc/containerd/config.toml`
2. `sed -i -e 's/systemd_cgroup = false/systemd_cgroup = true/' /etc/containerd/config.toml`
3. sta

[2020-09-18 11:41] pohly commented on #4574
BTW, it is not clear to me what replaces it.

https://github.com/containerd/containerd/releases/tag/v1.3.0 just says "use runtime options instead" - some pointer to documentation for those wouid be nice.

[2020-09-18 12:13] thaJeztah commented on #4513
@AkihiroSuda can you add https://github.com/containerd/containerd/pull/4573 to the list, and tick that checkbox?

[2020-09-18 12:15] thaJeztah commented on #4513
Aufs possibly as well (https://github.com/containerd/aufs/pull/21) not sure if it is vendored and already has been revendored though

[2020-09-18 12:20] AkihiroSuda commented on #4513
done

[2020-09-18 13:43] pohly commented on #4574
https://github.com/containerd/containerd/issues/4203 provides a documentation snippet in one of the comments, but I still haven't found some actual documentation about this.

[2020-09-18 21:44] #4513 closed

[2020-09-19 03:52] mxpv commented on #4571
Can you elaborate why is this needed?

[2020-09-19 08:37] advancedwebdeveloper commented on #4571
@mxpv , people might be interested in another compiler (not GCC).
Also there are some common package dependencies, between containerd and other CNCF/LF projects (including cri-o, k8s, docker) - so I am opening this issue to cross-reference against bugs, which are related to those packages/projects.

If you have are skeptic  - please explain yourself. And if you do not believe in that diversifying

[2020-09-19 08:39] advancedwebdeveloper commented on #4571
@haircommander , please join the review process

[2020-09-19 12:22] pohly commented on #4068
I also encountered "failed to create containerd task: failed to start io pipe copy: unable to copy pipes: containerd-shim: opening w/o fifo ...: context deadline exceeded" in the CI tests for the PMEM-CSI driver. FWIW, I only saw it shortly after updating to containerd 1.3.7 from 1.2.13.

[2020-09-19 17:07] sedflix commented on #4514
@AkihiroSuda this issue can be closed it. 😊

[2020-09-19 17:09] AkihiroSuda commented on #4514
Thanks

[2020-09-19 17:09] #4514 closed

[2020-09-20 20:50] dmcgowan commented on #4571
@advancedwebdeveloper as a community project, we rely on contributions from the community to add support for other tools and projects needed by the community. This sort of change would need to be broken down into the changes which are needed to get it supported. We cannot make a judgement as to whether those changes would be accepted without knowing what they are. I suggest when opening an issue l

[2020-09-21 05:27] scyto commented on #4551
Not sure if this useful, I just started using this approach for multiarch builds and hit this today in some of my first 4 or 5 runs as a new user.

I see this on exporting image, not cache
[code]
At the time it was happening in the day the length of build seemed to matter,  I would do a shorter build =fine, i would put one more architecture back in inflating the time - fail. It appeared i was togg

[2020-09-21 14:20] danielfoehrKn commented on #4562
Is there another way how features can be proposed to the containerd maintainers?
It would be a very helpful functionality for use and I am willing to contribute the code.

[2020-09-21 18:07] AkihiroSuda commented on #4574
`systemd_cgroup` is for `io.containerd.runtime.v1.linux` runtime, which is deprecated but still supported.

To enable systemd cgroup for the current default runtime `io.containerd.runc.v2`, please see https://github.com/containerd/containerd/issues/4203#issuecomment-651532765

[2020-09-22 16:12] fuweid commented on #4474
Hi @yylt The archive result from docker save by image ID doesn't contain any repo:tag information. containerd cann't do the assumption to use image ID as name in image service(one important component in containerd) when there is no image name/tag.

If there is requirement for this, I think containerd client API can help.

close it and please feel free to reopen it if necessary.  Thanks

[2020-09-22 16:12] #4474 closed

[2020-09-22 16:17] fuweid commented on #4482
@HirazawaUi could you provide information about `ls -al /sys/fs/cgroup/cpu/` ? thanks

[2020-09-22 20:11] ryanclark commented on #4551
We're still seeing this error when using DockerHub. As a faster alternative, we moved to importing/exporting a file cache and syncing that with S3 instead. As we're running our builds in EC2, this is almost instant to download and doesn't suffer from the unreliability from DockerHub.

I mentioned this issue in the Docker Slack channel, and whilst asking about other repo providers that support the

[2020-09-22 21:46] mxpv commented on #4562
IMO managing OS level dependencies should not be in scope of containerd daemon.
And the runtime dependency plugin will work for the given use case, but likely not flexible (like when we have to pull an image from non `docker.io` registry or pass credentials?).
I'd rather go with bundling `cri` (with each containerd release) or `crictl`, depending on how you bundle `containerd` itself (or even writ

[2020-09-23 07:30] danielfoehrKn commented on #4562
Thanks for your response!

Ok thanks, I was not aware that the configuration of registries and credentials is only part of the [config of the CRI plugin](https://github.com/containerd/cri/blob/master/docs/registry.md).

To my understand `containerd/cri` [is already a buildin plugin](https://github.com/containerd/containerd/blob/c7eec0c1786595b9aa4c31cf43c65acd2c204f8f/cmd/containerd/builtins_cri.g

[2020-09-23 18:19] mxpv commented on #4562
oh, sorry, I mistyped. Meant to be `ctr`.

[2020-09-23 18:54] danielfoehrKn commented on #4562
There is already a plugin with the `managed-opt` that extract binaries as dependencies to the OS to the `/opt` directory.
The `runtime dependency` plugin, standalone or as part of `containerd/cri` plugin, would only reuse existing functionality such as pulling from the registry and the `managed-opt` plugin.

To me it seems like `containerd` is already "managing OS level dependencies" - the propose

[2020-09-23 20:52] mikebrow commented on #4482
what version of runc

[2020-09-24 11:44] MaxRink commented on #4358
Unfortunately this is still present in 1.4.1

[2020-09-24 12:05] blinkiz opened #4581 "Kubeadm unknown service runtime.v1alpha2.RuntimeService"
**Problem**
Following [Kubernetes official installation](https://kubernetes.io/docs/setup/production-environment/container-runtimes/#containerd) instruction for containerd and ```kubeadm init``` will fail with **unknown service ```runtime.v1alpha2.RuntimeService```.**

[code]

**Solution:**
[code]

**Versions:**

- Ubuntu 20.04 (focal)
- containerd.io 1.3.7
- kubectl 1.19.2
- kubeadm 1.19.2
- kube

[2020-09-25 04:30] fuweid commented on #4581
@blinkiz could you please provide your containerd config.toml and command result of `ctr plugin ls`? thanks

[2020-09-25 06:11] blinkiz commented on #4581
Apparently it is all my fault this time. My ansible playbook did not override config.toml file as expected. Am sorry for taking up you time, default installation instructions work great.
Closing..

[2020-09-25 06:11] #4581 closed

[2020-09-25 13:41] mikebrow commented on #4581
Docker (by default) uses that config for the containerd they install via containerd.io packages.  Grr.  been causing similar ^ issues for k8s users for years. :-)

[2020-09-25 16:23] saswatac opened #4584 "exporting to image takes a lot of time"
**Description**

After an initial build, i am making changes in my code and doing a follow up build. The changes affects only the last couple of layers.
During build, the cache gets used as expected, and last two steps in the dockerfile are run which is quite fast.

But it takes extremely long to export the image, exporting the layers takes most of the time.

**Steps to reproduce the issue:**
1. E

[2020-09-25 16:27] saswatac commented on #4584
sorry wrong project.

[2020-09-25 16:27] #4584 closed

[2020-09-26 01:52] jsj commented on #2511
@stevvooe what would be the few other fixes that need to be done?
we are UT students taking virtualization and would like to take this on

[2020-09-26 09:39] #4301 closed

[2020-09-26 19:32] inductor opened #4587 "containerd config default brings old config that gives warning in daemon"
**Description**

Containerd have warning log with the default config schema is not correct

[code]

**Steps to reproduce the issue:**
1. Execute `containerd config default > /etc/containerd/config.toml`
2. Override `systemd_cgroup` from `false` to `true`
3. Start containerd

**Describe the results you received:**

[code]

**Describe the results you expected:**

containerd config default should ret

[2020-09-28 19:46] mikebrow commented on #4587
Please try:
[code]

[2020-09-29 04:58] AkihiroSuda commented on #4587
This issue title is confusing. The default config doesn't give any warning as long as systemd_cgroup is modified, right?

[2020-09-29 07:40] inductor commented on #4587
@AkihiroSuda It does not, by default, but my concern is that if `systemd_cgroup` does not work there, it should not be there as a default config field. WDYT?

[2020-09-29 07:48] AkihiroSuda commented on #4587
It still works for runtime v1, but I agree it is confusing. Maybe `containerd config default` should add comment lines for v1 stuff.

[2020-09-29 07:48] AkihiroSuda commented on #4587
BTW let me close this one, as this seems a duplicate of https://github.com/containerd/containerd/issues/4574

[2020-09-29 07:48] #4587 closed

[2020-09-29 07:53] inductor commented on #4587
Thank you for taking care of it!

[2020-09-29 16:25] abhijitherekar commented on #4370
@mikebrow I am also facing the same issues. Is there a other alernative to fix this?

I am trying to replace the runc with a custom runc path but its getting hard to do it.

I am trying to do the following.

[code]
Please, let me know if there are any other alternatives to create a custom runtime with a custom runc binary.

[2020-09-29 18:54] dmcgowan opened #4592 "Merge CRI into containerd"
Tracking of https://github.com/containerd/cri/issues/1479 on the containerd side

Steps identified to complete:
- [x] activate prow test bot for containerd/containerd
- [x] Setup containerd/containerd job in https://github.com/kubernetes/test-infra
- [x] build/push setup in prow tests
- [x] e2e prow scripts in containerd/containerd master
- [ ] e2e tests running from containerd/containerd master i

[2020-09-29 19:24] mikebrow commented on #4370
my bad on the original format I forgot that in converting to runc.options the naming of the fields changed

try `BinaryName = "my-custom-path"`

[2020-09-30 10:32] kabakaev opened #4594 "Terminate a process group grandchildren on exec timeout"
**TL/DR**
Would it be possible to send `SIGTERM` to all leaf (grandchildren) subprocesses in an exec process group before `SIGKILL`ing them?

**What is the problem you're trying to solve**
There are many popular k8s helm charts which use bash scripts for readinessProbe and livenessProbe. Unfortunately, some of those scripts start a potentially long-running operation in subshell. If such subshell c

[2020-10-01 19:07] mikebrow commented on #4574
https://github.com/containerd/cri/blob/master/docs/config.md

[2020-10-01 19:40] mikebrow commented on #4574
for runc runtimes under cri the docs are here:
https://github.com/containerd/cri/blob/master/docs/config.md

for kata runtime the docs are here:
https://github.com/kata-containers/documentation/blob/master/how-to/containerd-kata.md#kata-containers-as-a-runtimeclass

[2020-10-02 18:54] crosbymichael commented on #4180
This has been updated for 1.4 on CRI and we have validated this.

Please update update and you should be good to go with selinux support.

[2020-10-02 18:54] #4180 closed

[2020-10-07 08:53] khakunin opened #4603 "Containerd ( ctr ) does not pull the required image from local private insecure docker registry"
**Description**

I have a local private docker registry which is hosting few images.http://HOST1.example.com:5000
I need to configure this registry into Containerd so that it can pull the required images and spin up a pod
I have done this type of configuration in containerd.toml
   [plugins.cri.registry]
      [plugins.cri.registry.mirrors]
       [plugins.cri.registry.mirrors."HOST1.example.com:5

[2020-10-07 09:10] sadortun opened #4604 "'failed to reserve container name'"
**Description**

Hi!

We are running containerd on GKE with pretty much all defaults. A dozen nodes, and a few hundreds pods. Plenty of memory and disk free.

We started to have many pods fail due to `failed to reserve container name` error in the last week or so. I do not recall any specific changes to the cluster, or containers themselves.

Any help will be greatly appreciated!

**Steps to repro

[2020-10-09 09:33] deitch opened #4617 "zombie goroutines in client due to missing ClientStreams"
**Description**

Reading a large blob causes hanging goroutines of type `grpc.newClientStream` in the client.

Detail

It appears that each time we call `ReadAt()`, it creates a new stream, which is not marked as `ClientStreams: true`. This, in turn, makes it mark `lastSent: true` immediately, and never closes the client stream.

Each "ReadAt" chunk is 1MB, so you end up with one lingering gorouti

[2020-10-09 09:37] deitch commented on #4617
OK, here is the simplest way I have to reproduce it:

1. Load some large blob into containers. I did it by creating an arbitrary file using `dd if=/dev/random of=largefile bs=1M count=1024`, which gave me a 1GB file.
1. Run `ctr content get`
1. Find the `ctr` client process using `ps`
1. Run `kill -ABRT <ctr process>`
1. See hundreds to thousands of zombie goroutines, e.g.:

[code]

In my case:

[

[2020-10-09 22:48] sstabellini opened #4618 "config.toml: cannot set BinaryName"
Tested on containerd v1.4.1.

I am trying to select a different name for the runc command. It used to be possible with a config file like:

[code]

That doesn't work anymore. Use a modern version 2 style config, and runc.options, also doesn't work. For instance:

[code]

Still runs /usr/bin/runc. It looks like the runc.options don't get parsed correctly and the old options based on io.containerd.r

[2020-10-10 04:45] printfshen opened #4619 "containerd-1.3.7: undefined symbol: seccomp_api_set"
![image](https://user-images.githubusercontent.com/26736621/95645953-563cf480-0af6-11eb-805d-c404272dae28.png)
systemctl start docker
![image](https://user-images.githubusercontent.com/26736621/95645964-62c14d00-0af6-11eb-8e0a-31217b03f61e.png)

[2020-10-10 15:50] mickael-ange commented on #4619
Same here. Looks similar to https://github.com/containerd/containerd/issues/4349.

[2020-10-10 15:56] AkihiroSuda commented on #4619
Seems an issue of https://github.com/docker/containerd-packaging

[2020-10-10 15:59] AkihiroSuda commented on #4618
How did you test this? This config is only used by CRI, not by ctr and Docker

[2020-10-10 16:05] thaJeztah commented on #4619
What version of CentOS are you on? And what version of libseccomp do you have installed?

[2020-10-10 16:10] mickael-ange commented on #4619
Centos 8 for me.

[code]

[2020-10-10 16:14] thaJeztah commented on #4619
Can you try updating libseccomp to 2.4.x? https://centos.pkgs.org/8/centos-baseos-x86_64/libseccomp-2.4.1-1.el8.x86_64.rpm.html

[2020-10-10 16:37] mickael-ange commented on #4619
@thaJeztah Thanks a lot for your help. Containerd starts after upgrading libseccomp.

[2020-10-10 16:42] thaJeztah commented on #4619
thanks for confirming! So, the CentOS packages are built against the latest CentOS 7/8 versions and dependencies, as CentOS is a rolling release (i.e. CentOS 8.1 reaches EOL when 8.2 is released). Maybe we could set a minimum version for libseccomp in the packages to enforce that though 🤔

[2020-10-11 08:26] zhsj commented on #4562
Could you just use `ctr run --rm -t private.registry/crictl-image:latest --some-options some-args` ?

[2020-10-11 11:58] deitch commented on #4617
Looks like my analysis isn't complete. Calling `CloseSend()` is _not_ sufficient according to the comments on [NewStream](https://godoc.org/google.golang.org/grpc#ClientConn.NewStream):

[code]

So calling `CloseSend()`, while a good idea, will not do it. I just rant a test where I modified the code, rebuilt `ctr`, and still had the same issue.

It needs to do one of the above 4 things. I am guess

[2020-10-11 13:20] printfshen commented on #4619
··`
NAME="CentOS Linux"
VERSION="8 (Core)"
ID="centos"
ID_LIKE="rhel fedora"
VERSION_ID="8"
PLATFORM_ID="platform:el8"
PRETTY_NAME="CentOS Linux 8 (Core)"
ANSI_COLOR="0;31"
CPE_NAME="cpe:/o:centos:centos:8"
HOME_URL="https://www.centos.org/"
BUG_REPORT_URL="https://bugs.centos.org/"

CENTOS_MANTISBT_PROJECT="CentOS-8"
CENTOS_MANTISBT_PROJECT_VERSION="8"
REDHAT_SUPPORT_PRODUCT="centos"
REDHAT_SUPPO

[2020-10-12 04:04] AkihiroSuda commented on #4484
CRI was recently merged into this repo.

@dmcgowan WDYT about zfs and aufs?

[2020-10-12 05:00] #4603 closed

[2020-10-12 05:40] tonistiigi opened #4622 "pusher does not authenticate properly for gcr"
Pusher uses retries for the exists check https://github.com/containerd/containerd/blob/98a7355507700e801e6f4ccf92245b369c1148e5/remotes/docker/pusher.go#L88 and `POST` request https://github.com/containerd/containerd/blob/98a7355507700e801e6f4ccf92245b369c1148e5/remotes/docker/pusher.go#L155 so they can handle `401` and request a token. Rest of the requests do not do this. GCR does not require aut

[2020-10-12 08:12] danielfoehrKn commented on #4562
Hi, yes that would work for the meantime but:

[2020-10-12 09:07] vchrisb commented on #3974
Thank you so much! That helped also for me!
For reference, in k3s the folder is: `/var/lib/rancher/k3s/agent/containerd/io.containerd.content.v1.content/ingest`

[2020-10-12 18:24] sstabellini commented on #4618
I built containerd 1.4.1, and edited config.toml. I tried the version = 1 options too ([plugins.linux] and [plugins."io.containerd.runtime.v1.linux"]). Should I have done something differently?

[2020-10-12 20:39] mikebrow commented on #4618
When he asked how did you test it he meant.  What client are you using?  the cri plugin config only functions when you are using a client that is based on the container runtime interface (CRI), such as crictl and kubectl.

[2020-10-12 22:49] sstabellini commented on #4618
Thanks, I misunderstood the original question. I used "ctr" (Initially the one coming with the Alpine Linux containerd package, then "ctr" built by myself from the containerd repository. Both failed the same way.)

[2020-10-12 23:51] AkihiroSuda commented on #4618
ctr doesn't use CRI.

The binary name can be specified like `ctr run --runc-binary=/usr/bin/runc-alternative-name`
https://github.com/containerd/containerd/blob/caad53dba7dbedbb5cdb95c54ec46c2d751a53e6/cmd/ctr/commands/run/run_unix.go#L43

[2020-10-12 23:51] #4618 closed

[2020-10-13 00:51] sstabellini commented on #4618
I have just tested "ctr run --runc-binary=XXX" on 1.4.1 and it does not work either. I'd love for somebody else to confirm this, it should be easy for anybody to verify.

Also, even if --runc-binary= worked, shouldn't there be a config.toml option to change the binary name anyway?

[2020-10-13 01:23] sstabellini commented on #4618
[code]

[2020-10-13 07:00] pravarag commented on #4426
@AkihiroSuda @mikebrow apologies for delaying working on this issue. Since, I'm a beginner to start with, can you guide me on where I should look for updating the document apart from https://github.com/containerd/containerd/blob/v1.4.0-beta.2/docs/man/containerd-config.toml.5.md .

[2020-10-13 15:28] zeddii commented on #4618
I bumped into this when debugging a similar issue.

I maintain the Yocto project integration of containerd and associated container runtimes, and I just updated to:

~# containerd --version
containerd github.com/containerd/containerd v1.4.1-4-ge44e8ebea.m e44e8ebeaaa2d605f539dffa3788a53c92458c4d.m

The suggested:  --runc-binary=/usr/sbin/runc-alt, works here for specifying an alternate binary .. b

[2020-10-14 06:24] deitch commented on #4617
I just reread the comments on `grpc.ClientConn.NewStream()`:

[code]

Specifically: `ctx is used for the lifetime of the stream.`. I am going to open a PR to fix it for `Read()`, but it appears to be broader than that. We create a new stream in 6 places:

* [containers/v1.ListStream`](https://github.com/containerd/containerd/blob/master/api/services/containers/v1/containers.pb.go#L698)
* [content/

[2020-10-14 15:46] gcapizzi opened #4632 "LoadProcess does not error when the process does not exist in V2 runtime"
**Description**

When using `plugin.RuntimeRuncV2`, `LoadProcess` will not error if the process does not exist. Instead, it will return a process with status `unknown`. When using `plugin.RuntimeLinuxV1`, `LoadProcess` will return an error instead.

**Steps to reproduce the issue:**
1. Create a container and task.
2. Try to `LoadProcess` on the task with a process ID that does not exist.

**Descri

[2020-10-14 21:07] #4617 closed

[2020-10-15 04:40] magnate3 opened #4634 "ctr image import content digest XX not found"
root@ubuntu:~# ctr image import apiserver-1.18.1.tar.gz
unpacking k8s.gcr.io/kube-apiserver:v1.18.1 (sha256:4e6eac64d7f50e27153e3d8e893bcce905a8f703304cb98fc790c10235420cf5)...ctr: content digest sha256:9a8f4ffc528789f2802630c2590052623a6c915e046f619a1743e7a2aebcaa78: not found
root@ubuntu:~# containerd --version
containerd containerd.io 1.3.7 8fba4e9a7d01810a393d5d25a3621dc101981175
root@ubuntu:~

[2020-10-15 13:53] AkihiroSuda commented on #4426
Files in the docs directory

[2020-10-15 13:58] AkihiroSuda commented on #4426
This one also needs to be updated https://github.com/containerd/containerd.io/blob/master/content/docs/getting-started.md

[2020-10-16 09:34] ask-github opened #4638 "why does containerd not use go mod to mange vendor"
thanks

[2020-10-16 15:59] dmcgowan commented on #4638
See https://github.com/containerd/containerd/issues/3031

[2020-10-16 15:59] #4638 closed

[2020-10-20 09:25] nerzhul opened #4641 "containerd 1.4.0 opened thousands of pipes"
**Description**

Hello,
thanks for your great software.
We faced to a very annoying issue today on one of our kubernetes production node.
Linux system has reached max open files (65535). We couldn't connect to node due to that issue.
After evicting pods with the kube api we saw that containerd is responsible of this issue.

**Steps to reproduce the issue:**
We didn't succeed to reproduce this

**D

[2020-10-20 18:42] crosbymichael commented on #4641
Is there a way for you to get the paths of these fifos so we can see that the source is?

[2020-10-20 18:49] crosbymichael commented on #4632
Are you all looking to create a fix for this issue?

[2020-10-20 18:59] crosbymichael commented on #4641
@nerzhul also.  is your FD list at runtime or after these pods/containers have been drained?  Is this an issue of a leak after the container has exited or a runtime issue with too many open fds?

[2020-10-20 20:32] nerzhul commented on #4641
they are here after all pod except DS are drained
as we see here it's the runtime not the containers whcih seems to open it. I will try tomorrow to find if i can see what is that pipe, but it sounds quite hard to find :)

[2020-10-20 21:21] crosbymichael commented on #4641
Also one point, why does your system have such a low limit?

my fedora box has:

[code]

[2020-10-20 23:33] mikebrow commented on #4641
65536 does seem low.. @nerzhul could you also share some information about your node setup, version of k8s,..  I glanced over and saw you have another open issue regarding Prometheus monitoring.
[code]
[code]

[2020-10-21 08:01] nerzhul commented on #4641
@mikebrow thanks for your feedback
I can agree that our setuped max-file is a little bit low, we can increase it, but there was only 10 pods on this node on the failure.
I will add a reasonable factor based on minimum node size we can have in our setup (i think we can multiply by 5 or 10 safely)

But this doesn't explain the thousands of pipes opened by containerd, it's not files opened by contain

[2020-10-21 08:39] nerzhul commented on #4641
@crosbymichael fedora, and my arch as desktop has unlimited file descriptors, but it's not a good solution, too many filedescriptors can mean kernel resource exhaustion at a point :)

[2020-10-21 16:12] gcapizzi commented on #4632
Hi @crosbymichael! I've just opened https://github.com/containerd/containerd/pull/4645 🙂

[2020-10-21 16:16] crosbymichael commented on #4641
Thanks, yes I agree.  We need to see if we are leaking somewhere or what is going on, even if you have a really low max-file :)

Do you have health-checks enabled for these containers?  Just trying to drill down and see what area to look at first.  Most of the pipes should show up like:

[code]

[2020-10-21 16:16] crosbymichael commented on #4632
@gcapizzi thanks!

[2020-10-21 16:28] crosbymichael commented on #4641
I just tested 1.3.7 vs 1.4.0 and I don't see any different in the number of pipes that are open, it's actually less in 1.4.0.  I still want to look into this more to see if there are some duplicates that are not handled correctly, but I'm not sure this is a functionality change in 1.4.0.  Maybe your machines had a bad max-file configuration and that is why you see it on this server.

[2020-10-22 07:33] Sampson2016 opened #4646 "containerd restore container from checkpoint failed"
**Description**

**Steps to reproduce the issue:**
1. pull image: ctr -n demo i pull docker.io/library/redis:latest
2. create container: ctr -n demo c create docker.io/library/redis:latest redis
3. start container: ctr -n demo task start redis
4. container checkpoint: ctr -n demo c checkpoint --rw --image --task redis redis-checkpoint
5. container restore: ctr -n demo c restore --rw --live redis-c

[2020-10-22 14:25] #4632 closed

[2020-10-22 18:00] danielfoehrKn commented on #4562
@mikebrow sorry for pinging you directly - we talked about it in the containerd slack.

Is that  functionality that you would find useful in the CRI plugin?
If yes, this issue could be transferred.
If no, I would close this issue and the respective draft PR.

Thanks!

[2020-10-26 07:35] Davidrjx opened #4654 "[v1.1.2] docker-containerd task run hangs"
**Description**

Below command hangs

\# docker-containerd-ctr --namespace moby --address /var/run/docker/containerd/docker-containerd.sock task ls

in kubernetes node, where there is a orphan container. not sure whether the container will cause that

**Steps to reproduce the issue:**
1. there is a pod container left and its /pause container already exit(0) in kubernetes worker node
2. run the com

[2020-10-26 07:39] AkihiroSuda commented on #4654
containerd 1.1 and Docker 18.06 reached EOL.

Please try containerd 1.3 or 1.4 with Docker 19.03 or 20.10-beta.

[2020-10-26 07:40] Davidrjx commented on #4654
https://github.com/containerd/containerd/issues/4654#issue-729326822

front part of containerd stack trace dump like
[code]

[2020-10-26 07:45] Davidrjx commented on #4654
thanks for your answer, not sure that is a bug and as for production, upgradation is not preferred

[2020-10-26 09:52] zhuangqh opened #4655 "cri: cannot remove stopped container"
**Description**

crictl stop xxx successfully, but cannot remove it

ERRO[0000] removing container "ff62688307157" failed: rpc error: code = Unknown desc = failed to set removing state for container "ff62688307157152925177bad8608458b1513fa50408c8212cb9dd22959093f2": container state is unknown, to stop first
FATA[0000] unable to remove container(s)

containerd log
[code]

**Steps to reproduce the i

[2020-10-26 10:11] dims commented on #4654
@Davidrjx Sorry can't help you with your production scenarios as a open source project. If you can recreate the problem with supported versions, we can try to help (backports to whatever you support would be on your plate).

[2020-10-26 17:03] #4274 closed

[2020-10-26 18:36] estesp commented on #4622
This also is impacting quay.io as well using containerd pusher (in my case the context is `manifest-tool` using containerd pusher)

[2020-10-26 20:33] r0bj opened #4658 "Pull image error: not a directory: unknown"
**Description**

crictl pull image finished with error:
[code]

Dockerfile used to build image:
[code]

**Describe the results you received:**

[code]

**Describe the results you expected:**

Image is pulled successfully.

**Output of `containerd --version`:**

[code]

**Any other relevant information:**

Image is pulled using docker with success:
[code]

[2020-10-26 20:39] r0bj opened #4659 "Image pull error: not a directory: unknown"
**Description**

crictl pull finishes with error:
[code]

Dockerfile used to build image:
[code]

**Describe the results you received:**

[code]

**Describe the results you expected:**

Image is pulled withour error.

**Output of `containerd --version`:**

[code]

**Any other relevant information:**

Image is pulled successfully using docker:
[code]

[2020-10-27 01:20] Davidrjx commented on #4654
@dims thanks, very great but which versions are what you specified

[2020-10-27 07:51] AkihiroSuda commented on #4658
duplicate: https://github.com/containerd/containerd/issues/4659

[2020-10-27 07:51] #4658 closed

[2020-10-27 07:59] Sampson2016 opened #4663 "how can i restore container from the image path using ctr command"
**What is the problem you're trying to solve**
How can i restore container form the image path using ctr comamnd after i checkpoint the task into a special checkpoint directory.

**Describe the solution you'd like**
Restore a container using the ctr comamnd

[2020-10-27 12:54] #4655 closed

[2020-10-28 08:34] nerzhul commented on #4641
okay we had the same issue on another node today with dozen of thousands pipes, i miss some time to investigate more, will try to find what is that

[2020-10-28 08:45] nerzhul commented on #4641
i found some intesting things about the pipes, it seems pipes are coming from a running pod which cannot be killed due to open file limit exhaustion, containerd is unable to kill it in time whereas other pods are drained.

I run a counter on the process uid running under containerd process and i found this:
[code]

[2020-10-28 08:52] nerzhul commented on #4641
another interesting thing i note after this, is that containerd is unable to kill the containerd whereas it was terminated correctly.

See the following output:

[code]

As you can see the pod is marked as running, but no process is present on the machine

If we look at containerd logs we see that:

[code]

it seems containerd is lost after this outage and cannot stop the container, but continues

[2020-10-28 08:57] nerzhul commented on #4641
and @crosbymichael yes healthcheck are run on this pod, as you see in previous logs. I suspect it's the leak source because after the pod was not running, the FS continues to increase regarding the healthcheck part, i suspect the leak is something there

[2020-10-28 09:05] nerzhul commented on #4641
I looked more deeply in the containerd issues and it sounds like #4509

[2020-10-28 11:08] lbernail opened #4666 "Handle potential timeouts when attempting to get the CNI lock"
With two different CNI plugins (and for two very different problems with them) we have seen situations where a CNI operation never returns and hangs, never releasing the the CNI lock. I think it would be helpful to add a timeout to the tentatives to get the lock and surface meaningful errors to the kubelet.

Today when this happens the CRI status call from the kubelet will time out with this log:

[2020-10-28 11:31] AkihiroSuda commented on #4666
Transferred the issue from the old CRI repo github.com/containerd/cri

[2020-10-28 17:17] clarkbw commented on #4379
👋  We pushed out a fix for this today. If you could try this again and let us know I'd appreciate it.  Thanks!

[2020-10-29 01:01] rashidaga opened #4670 "Support for logging on windows platform"
Unless my team and I have missed something, there does not appear to be support for any logging in containerd for the windows platform. Is this accurate?
Since this is something we need and will be working on, it would be good to hear if anyone else in the community is also looking into this.

[2020-10-29 01:02] rashidaga opened #4671 "No logging support on the windows platform"
Unless my team and I have missed something, there does not appear to be support for any logging in containerd for the windows platform. Is this accurate?
Since this is something we need and will be working on, it would be good to hear if anyone else in the community is also looking into this.

[2020-10-29 01:37] #4671 closed

[2020-10-29 03:46] kevpar commented on #4670
Can you clarify your use case more? Is this about container stdio? containerd on Windows supports routing container stdio to named pipe.

Currently on Windows there is no support for "shim pluggable logging", such as where the shim directly invokes a binary that the stdio is sent to.

[2020-10-29 15:21] thaJeztah opened #4672 "DockerFetcher swallows non-JSON errors returned by registries"
**Description**

Docker Hub has introduced rate-limits, and now returns a `429` status code if those rate limits are reached, with details about the rate limits in the response body (as plain text).

However, it looks like the containerd "docker" fetcher code does not return the response body if it's not formatted as JSON.

**Steps to reproduce the issue:**

When using buildkit (which uses the con

[2020-10-29 15:22] thaJeztah commented on #4672
@estesp @crosbymichael @dmcgowan PTAL. Happy to work on this (mostly wanted to ask for the motivations for https://github.com/containerd/containerd/pull/3173, and if the `ioutil.ReadAll(resp.Body)` was the reason for that PR (and thus should be avoided)

/cc @chris-crone @tonistiigi

[2020-10-29 16:23] tonistiigi commented on #4672
cc @jonjohnsonjr Discussed related aspect of this https://github.com/docker/build-push-action/issues/171#issuecomment-714644376 (although actual error condition/request is different here)

[2020-10-29 17:21] ingshtrom commented on #4672
Well the endpoint does actually return a JSON response for the 429 status code. Here is an example that would be identical to running `docker pull ratelimitalways/test:latest`

[code]

[2020-10-29 17:26] cpuguy83 commented on #4672
Yes, the fetcher is looking for an array.

[2020-10-29 17:27] cpuguy83 commented on #4672
I opened #4674 with the assumption it would just be an unformatted string, but can update fix decoding the type.

[2020-10-29 17:30] thaJeztah commented on #4672
Thanks @ingshtrom ! Let me copy from our slack chat;

Looks like the expected format is;

[code]

So a top-level `"errors"` field with an array or errors, each with a `code`, `message` and `detail` field.

Reading the spec;

I'm not sure what the expectation is for "invalid formatted JSON" (fallback to print the content verbatim, as a "non-standard" JSON, or something else?)

[2020-10-29 17:51] cpuguy83 commented on #4672
So is it a DockerHub bug that it's not sending an array?

[2020-10-29 18:54] rashidaga commented on #4670
Thank you for the quick response Kevin. Is stdio routing to named pipes a recent addition? This scenario would suffice for our use case for now. we can look at shim logging later on.
Is there any information or samples you could point me to to validate and test the stdio routing to named pipes to write to a file in windows?

[2020-10-29 20:21] dmcgowan commented on #4672
If it is common for other registries to return JSON in that format, its not a big deal to support both formats. In this case, DockerHub should probably use the standard format.

I think not returning any detail text from non-JSON responses is the right approach though.

[2020-10-29 20:28] cpuguy83 commented on #4672
So the current error returns a `details` instead of `detail`.
So it still doesn't match if we try to only unmarshal a single error.

[2020-10-29 20:31] thaJeztah commented on #4672
Yes, for this case it's a bug on Docker Hub side; they're looking into that (also not sure where the format came from on their side; we'll have to check if the same incorrect format is used for other errors as well).

IIUC, this particular error message is not generated by the registry itself, but the proxy in front of it handling rate limits, so I _guess_ other registries would not return the sam

[2020-10-29 20:32] cpuguy83 commented on #4672
Sure enough, the dist registry client has this:

[code]

[2020-10-29 20:33] thaJeztah commented on #4672
Not sure about that; I think servers returning a plain text error message would be more common (and described by the distribution spec as "valid"), or is that not what you meant?

[2020-10-29 20:45] cpuguy83 commented on #4672
I also agree with the plain text approach. For something like 429 specifically the registry may be in a degraded state as it is and serving out plain text instead.

[2020-10-29 21:08] cpuguy83 commented on #4672
Looks like there's another bug in the unmarshaller and maybe why I never see error details from containerd.

From MarshalJSON:

https://github.com/containerd/containerd/blob/5184bccea3d2557ab2f1eca517642fa20e415cc9/remotes/docker/errcode.go#L219-L221

And UnmarshalJSON:

https://github.com/containerd/containerd/blob/5184bccea3d2557ab2f1eca517642fa20e415cc9/remotes/docker/errcode.go#L256-L258

The

[2020-10-29 21:39] cpuguy83 commented on #4672
Also doesn't really matter, because the error "details" are not part of the error string, only the code and the "message".

[2020-10-30 09:14] schrodit commented on #4379
@clarkbw is the fix already in master?
I checked the above script with `github.com/containerd/containerd v1.4.1-0.20201029224352-abe1807a131f` but the second call is still unauthorized?

[2020-10-30 13:23] clarkbw commented on #4379
Sorry, only in GHCR. Updated the wrong issue while watching both. 😬

[2020-11-02 07:40] hongli-my commented on #4498
It may be a bug in kernel overlayfs

I use kernel 5.8 pull  success,   failed in 3.10.

[2020-11-02 07:40] #4498 closed

[2020-11-02 08:42] Sampson2016 opened #4683 "Restore container loopback interface status down"
**Description**
Checkpoint the redis container into a chceckpoint dir, and restore the container from the checkpoint path, the container is running ,but the loopback interface status is down, and the redis process can not connect.

**Steps to reproduce the issue:**
1. ctr i pull docker.io/library/redis:latest
2. ctr run -d docker.io/library/redis:latest redis
3. ctr task checkpoint --checkpoint-di

[2020-11-02 19:49] brandond opened #4684 ""Label key and value greater than maximum size (4096 bytes)" error when pulling image with many layers"
**Description**

Originally reported at https://github.com/rancher/k3s/issues/2455

Pulling an image with many layers fails with a hard-to-trace error regarding label size:
[code]

The root cause of that is at https://github.com/containerd/containerd/blob/master/pkg/cri/server/image_pull.go#L493 where the layer digest list is placed into a label. With a 39 character key, and 72 characters per dige

[2020-11-02 20:07] estesp commented on #4684
Fixes are already in master from two PRs--one CRI, one default config: 1) https://github.com/containerd/cri/pull/1572 and 2) https://github.com/containerd/containerd/pull/4665

There is not a release yet with either of these fixes, but we will be putting out a 1.4.x point release which will contain these solutions. For now, you can manually turn off annotations in your containerd config as unless

[2020-11-02 20:11] brandond commented on #4684
Ah, thanks! I didn't find those by searching for the error, and wasn't aware that this was an experimental feature since it was on by default.

[2020-11-02 20:20] estesp commented on #4684
yeah, sadly not as searchable as would be valuable since the original "issue" was in a subproject (https://github.com/containerd/stargz-snapshotter/issues/144), the fix was in the CRI sub-project (right prior to the merge of the CRI into the main containerd repo), and then the PR for turning off the config feature wasn't associated with a bug in our main repo because of that meandering history!

[2020-11-02 20:31] estesp commented on #4684
This was a good reminder to get the config change back into `release/1.4`; I've opened #4685 to do that; I think we can close this now and hopefully this will help anyone else who is searching for the same issue an easy place to find the history and fix(es).

[2020-11-02 20:31] #4684 closed

[2020-11-03 14:54] bgaillard commented on #4551
Hi, I also encountered this problem today using export / import cache with Docker Hub.

We also would like to use AWS ECR instead but cannot do it because it does not support the new manifest format.

@ryanclark you explained you used a "file cache" and synced it with S3 at begining / end of your builds. Does it means you're using the [`local`](https://github.com/moby/buildkit#local-directory-1) c

[2020-11-05 07:10] AkihiroSuda opened #4691 "RFC: build-in fuse-overlayfs snapshotter"
[The fuse-overlayfs snapshotter](https://github.com/AkihiroSuda/containerd-fuse-overlayfs) provides overlayfs functionality for rootless containers with vanilla kernel, and yet provides shiftfs functionality for userns-remapped containers with vanilla kernel:
https://github.com/containerd/containerd/blob/c623d1b36f09f8ef6536a057bd658b3aa8632828/snapshotter_opts_unix.go#L27-L35

I suggest merging f

[2020-11-05 07:15] AkihiroSuda commented on #4691
More background: [The rootless KEP](https://github.com/kubernetes/enhancements/pull/1371) doesn't seem to be going to be approved soon, but OTOH [the UserNS KEP](https://github.com/kubernetes/enhancements/pull/2101) is under active review, and we need to be prepared for adding UserNS to our CRI plugin.  The fuse-overlayfs snapshotter will be beneficial for UserNS KEP as well as Rootless KEP.

[2020-11-05 12:12] arpitaashu commented on #4349
was facing the same issue.
Did "yum update libseccomp" and containerd service started running...

[2020-11-05 23:32] kzys commented on #4120
Right now, only DebugLevel is handled by passing `-debug`.

https://github.com/containerd/containerd/blob/0e08405433e3060ce6e1194e836cc7e71c80f9c6/runtime/v2/binary.go#L62

I think it is possible to have `-log-level` if we are okay to be backward-incompatible against old shims.

[2020-11-06 14:46] tillt opened #4694 "permission denied on /run in a container on a rhel7.8 selinux system."
**Description**

With SELinux enabled, containerd may fail mounting a subdirectory of the host's `/run` folder with a `permission denied: unknown`.

**Steps to reproduce the issue:**
I have not prepared a minimal reproduction setup, yet. The described problem is a fallout of an internal CI run.

1.
2.
3.

**Describe the results you received:**

[code]

**Describe the results you expected:**
contai

[2020-11-09 01:54] fuweid commented on #4666
@lbernail which version of cri plugin are you using right now? I changed the logic that the CRI will not load the CNI plugin during Status call. https://github.com/containerd/cri/pull/1405

[2020-11-09 13:28] lbernail commented on #4666
@fuweid I saw this on 1.2 but I'm pretty sure it also impacts master because we still have this call:
https://github.com/containerd/cri/pull/1405/files#diff-0e891fefd2ced5a74483c794afcf736fefd979417998a2848d6d84de254b196dR45
which tries to acquire the CNI lock

I'll reproduce with 1.4 to be sure

[2020-11-09 15:16] hsluoyz opened #4703 "undefined: "github.com/pkg/errors for containerd@v1.4.1"
Win 10 20H2 x64
Go 1.15

[code]

[2020-11-09 16:26] stffabi opened #4704 "Possible race between disable RestartManager and stopping a task"
**What is the problem you're trying to solve**
We would like to integrate some kind of restart policy in linuxkit for some services, similar like in docker run.
So the restart manager currently integrated in containerd would be really handy to solve this issue. To gracefully stop tasks, we also need to have the ability to stop them with a SIGTERM, waiting until the task has been stopped and probab

[2020-11-09 21:12] pavanfhw opened #4706 "Can't pull images from harbor proxy-cache registry"
**Description**

I have set up a proxy-cache harbor registry to access. It seems to be working fine.
Using `docker pull` I can pull any image in the target registry using my proxy registry prefix
But my k3s Kubernetes cluster can't pull images that never have been pulled by the proxy-registry.

Example (suppose a clean proxy registry):

1. Create deployment that uses `<proxy-cache-registry-server>

[2020-11-09 21:31] kzys commented on #1548
Right now, `docs/` doesn't have the web sites anymore (it is in https://github.com/containerd/containerd.io I think), but have CRI docs.

What do you think moving CRI docs from `docs/` to `docs/cri/`?

[2020-11-10 02:22] AkihiroSuda commented on #1548
SGTM

[2020-11-10 08:29] deitch opened #4714 "ctr support env var for default namespace"
**What is the problem you're trying to solve**

Run `ctr` and have it default to a different namespace based on env var.

For example, if I am going to run 50 commands, all in the namespace `foo`, it would be good to be able to do:

[code]

**Describe the solution you'd like**

Have ctr default to the value of `CTR_NAMESPACE` (or a different agreed env var) if set, then back to `default` if not. O

[2020-11-10 08:40] AkihiroSuda commented on #4714
We already have `$CONTAINERD_NAMESPACE`: https://github.com/containerd/containerd/blob/master/docs/namespaces.md

[2020-11-10 08:40] #4714 closed

[2020-11-10 08:44] deitch commented on #4714
Dang! Nice catch @AkihiroSuda . I couldn't find it in the `ctr` doc or in the bit of code that I checked.

Can we still add it to the `ctr` doc?

[2020-11-10 08:49] AkihiroSuda commented on #4714
Yes :+1:

[2020-11-10 14:03] deitch commented on #4714
Ah, never mind, it _is_ in the manage.

[2020-11-10 15:03] crosbymichael opened #4720 "Add containerd sha/revision to prometheus output"
**What is the problem you're trying to solve**
For large clusters, it would be good to query prometheus metrics to get the sha

**Describe the solution you'd like**
A simple counter metrics always == 1 that has the containerd version and revision (from the `version` package as labels to the metric.

**Additional context**

[2020-11-10 16:21] transhapHigsn commented on #4720
@crosbymichael can I do this? Also can you guide me as well on how to approach this.

[2020-11-10 19:51] kzys commented on #1548
Thanks! The pull request for moving CRI's documents is #4722.

[2020-11-11 07:24] #4683 closed

[2020-11-11 07:54] #4646 closed

[2020-11-11 11:36] fuweid commented on #4666
Any update? @lbernail

Both the `c.netPlugin.Status()` and `c.netPlugin.Setup` requires RLock. If there is no `c.netPlugin.Load` call, the RLock will not be impacted.

[2020-11-11 17:37] dmcgowan commented on #4484
I don't think zfs and aufs are anywhere close to being "first class" from a kernel perspective. I would love to see that change for zfs, but don't think that is a reason to push it back into 1.5.

I realize it can require some extra work to support new features across on snapshotters when we have some in other repositories. However, we make this recommendation when others want want to create new s

[2020-11-12 04:41] ianlewis opened #4727 "Options not passed to shim when run via ctr"
**Description**

`config.toml` looks like this.
[code]

**Steps to reproduce the issue:**
1. Run a container with `ctr run --rm --runtime io.containerd.runsc.v1 docker.io/library/alpine:latest foo echo bar`

**Describe the results you received:**
Options set in `config.toml` are not passed to shim. Shim receives nil Options in the CreateTaskRequest request.

**Describe the results you expected:**

[2020-11-12 17:05] lbernail commented on #4666
@fuweid Sorry for the delay. I just test with 1.4.1 and it works a lot better!

So the only potential problem now is that we can't reload the configuration if a RunPodSandbox call is holding a Rlock which is not a big deal I think.

Is this only available since 1.4?

Many thanks and sorry for the issue, I had misunderstood the locking logic here

[2020-11-13 13:36] YLonely opened #4731 "Can't mount container checkpoint image to target path"
**Description**
I want to use command `ctr i mount` to mount the layers of a image to target dir, but for images created by `ctr c checkpoint`, containerd failed to mount the layers.

**Steps to reproduce the issue:**
1. checkpoint a container
2. use `ctr i mount` to mount the checkpointed image

**Describe the results you received:**
![image](https://user-images.githubusercontent.com/18494838/990

[2020-11-13 13:39] Ruilkyu opened #4732 "can not compile"
# _/root/Desktop/containerd/cmd/ctr
cmd/ctr/main.go:36:23: cannot use pluginCmds (type []"github.com/urfave/cli".Command) as type []"github.com/containerd/containerd/vendor/github.com/urfave/cli".Command in append

[2020-11-13 16:13] #4732 closed

[2020-11-13 23:48] kzys commented on #4727
`ctr` command is calling containerd without using CRI. I'm unsure these `plugins.cri.*` options are supposed to be used.

[2020-11-13 23:49] kzys commented on #4703
I believe `go: downloading github.com/docker/docker v17.12.0-ce-rc1.0.20200916142827-bd33bbf0497b+incompatible` is the output from Go, not the input you typed.

What was the command you've tried here? `go get ...`?

[2020-11-14 00:44] kzys commented on #4634
How did you create/get `apiserver-1.18.1.tar.gz`?

[2020-11-14 16:29] zhsj commented on #3031
It looks like `go mod init github.com/containerd/containerd` is happy to run now.

<details>
<summary>go.mod</summary>

[code]

</details>

But I notice some dependencies are bumped. And it seems that the release-tool needs update too.

[2020-11-15 02:47] QFREEE commented on #4426
We updated the above 2 mentioned files at:
https://github.com/QFREEE/containerd/blob/master/docs/man/containerd-config.toml.5.md
https://github.com/QFREEE/containerd/blob/master/docs/getting-started.md

However, We are not sure where to find the exact config struct and descriptions for plugins and timeouts. Can you guide me on where to find descriptions apart from https://github.com/QFREEE/contain

[2020-11-15 22:09] transhapHigsn commented on #4720
Sorry won't be able to take it up. If someone else is interested, please go ahead with it.

[2020-11-16 01:48] ianlewis commented on #4727
That seems a bit odd given the the runtimes themselves are defined as a cri option: `plugins.cri.containerd.runtimes.runsc`

[2020-11-16 01:53] ianlewis commented on #4727
My thought it that the `--runtime` flag for ctr should either include the options when invoking the shim or not exist. As a shim author we can't really implement a shim to work properly in this case if not given the options. Users will be rightfully confused when it doesn't work.

[2020-11-16 04:46] dmcgowan commented on #4727
@ianlewis `ctr` is just a development tool which directly uses the containerd client, it does not utilize anything inside the `cri` plugin today. `crictl` is the only way to call into the `cri` plugin today and use anything configured via `plugins.cri.*`.

That being said, we have now merged `containerd/cri` codebase back into `containerd/containerd`. It is still a separate plugin today but our pl

[2020-11-16 05:01] ianlewis commented on #4727
I'm aware of cri being a plugin but I'm a bit confused. Given that the target of ctr's `--runtime` flag is (or can be) configured via `plugins.cri.*` and that it is supported in ctr, I would assume it would also pick up the options. i.e. If I add `plugins.cri.containerd.runtimes.myruntime` to my config and `ctr run --runtime=myruntime ...` works, I would assume that adding `plugins.cri.containerd.

[2020-11-16 05:10] dmcgowan commented on #3031
@zhsj thanks for testing out. I have tried to make updates in release-tool to better handle the difference representation in dependencies. If you are seeing issues please file it over there. I want to get those fixed early so we don't have that as a headache if we pull go mod into the next release.

[2020-11-16 08:21] mstrYoda opened #4737 "ctr image pull operation not permitted: failed to mount /var/lib/containerd/tmpmounts/containerd-mount895935883 & operation not permitted: unknown"
**Description**

When I try to pull an image inside docker container alpine with the following command `ctr images pull docker.io/library/redis:alpine` I got the following error:

![image](https://user-images.githubusercontent.com/12763626/99227509-65514980-27fc-11eb-9ceb-f0059676c200.png)

But also I can see the image after type `ctr images list`:

[code]

**Steps to reproduce the issue:**
1. doc

[2020-11-17 15:48] fenciu commented on #3347
Thanks, this works for me（centos 7.4）

[2020-11-17 16:19] #3281 closed

[2020-11-18 02:30] fuweid commented on #4666
@lbernail Yes. It is available since major release 1.4. :)

It is good to upgrade your containerd version ~

[2020-11-18 09:42] mrshengzyzy opened #4748 "default_runtime for kata-runtime not work"
This is part of the configuration of the `config.toml` file
[code]
Run `ctr`  with default runtime
[code]
In the `Host` exec `uname -a`
[code]
Run `ctr` with specified runtime
[code]
It  seems like that the `default_runtime` for `kata-runtime` is not in effect.
Reference documentation: https://github.com/kata-containers/documentation/blob/master/how-to/containerd-kata.md

[2020-11-18 10:13] AkihiroSuda commented on #4748
ctr doesn't use CRI. So this is expected behavior.

[2020-11-18 11:18] lbernail commented on #4666
We will soon!
Quick follow-up question: do you think we should add timeouts to Add/Del calls? It will avoid the situation where the kubelet CRI call times out with a misleading message.
We could surface a clearer error message from containerd such as "CNI invocation timed out")

[2020-11-18 15:33] mikebrow commented on #4748
you can try it with crictl

[2020-11-18 16:42] g41n commented on #4641
Same errors here but with docker.
Upgrading containerd from 1.3.2 to 1.4.0 fills syslog with errors about healthcheck and `OCI runtime exec failed`.
Errors reports container ids but if I try to inspect or something containers not exists.

Downgrading back to 1.3.2 solve for now but still digging for a future update.

Thanks @nerzhul for the detailed info, learnt a lot ;)

[2020-11-18 23:17] fuweid commented on #4666
@lbernail the timeout can be propagated by kubelet RunPodSandbox context actually, like https://github.com/kubernetes/kubernetes/blob/v1.19.0/pkg/kubelet/cri/remote/remote_runtime.go#L98.

And containerd 1.4 release has added the context into https://github.com/containerd/cri/blob/release/1.4/pkg/server/sandbox_run.go#L147 (cni call uses that ctx https://github.com/containerd/go-cni/blob/8fbf3637e

[2020-11-18 23:21] fuweid commented on #4737
@mstrYoda the mount is required some CAPs. You can add `--privileged` option to check.

[2020-11-19 03:11] salt-mountain commented on #4358
Is this happening when the registry value is too long or is there any idea what causes it to happen?

[2020-11-19 16:49] BenTheElder opened #4756 "[CRI] unable to pull dockerhub library image, reference for unknown type: application/octet-stream"
**Description**

When running a pod with a certain image under containerd-cri the image pull fails. It appears this is due to

**Steps to reproduce the issue:**
1. Create containerd based kubernetes cluster
(I used `git clone https://github.com/kubernetes-sigs/kind && cd kind && git checkout aebedcf8f4bf68a139b9572c0f18656cc1a9e429 && make build && bin/kind create cluster`)
2. Create a pod using `

[2020-11-20 00:49] fuweid commented on #4666
@lbernail I am going to close this issue. Please create new one if you have other questions. And thanks for reporting.

[2020-11-20 00:49] #4666 closed

[2020-11-20 01:36] windniw commented on #4604
It looks like there is a container with name [web_apps-abcd-6b6cb5876b-nn9md_default_3dc00fd6-0c5d-42be-bec8-e4f6cad616da_0] and id ["8b21a9870e3ecc09bbb92da2036bd3c9b35f5829873d80cfbd14dc1e1827923f"] in containerd. While kubelet want to create to a new one with name [web_apps-abcd-6b6cb5876b-nn9md_default_3dc00fd6-0c5d-42be-bec8-e4f6cad616da_0], cri plugin failed on it.

Could you show `docker ps

[2020-11-20 03:25] windniw commented on #4727
@ianlewis

I am confused in it.  You use `ctr run --runtime=io.containerd.myruntime.v1 ...`  instead of  `ctr run --runtime=myruntime ...`. It looks like `ctr` may not pick up the config in `plugins.cri.*` but directlly use `io.containerd.myruntime.v1` in command.

[2020-11-20 03:35] windniw commented on #4720
I would like to try it ~

[2020-11-20 06:34] yywing commented on #2483
[code]

This file  `/etc/containerd/config.toml` is not exist. What I do is
[code]

So why not use `/var/run/docker/containerd/containerd.toml` as default settting?

[2020-11-20 13:14] thaJeztah commented on #2483
Make sure to update to a currently maintained version of docker and containerd. Both Docker 18.06 and containerd 1.1.2 (containerd 1.2 and older) have reached EOL, and have known vulnerabilities. The problem discussed here should be addressed by current versions of both.

[2020-11-20 17:02] ktock commented on #4756
This seems to be cased by the containerd client's [`Pull` API](https://github.com/containerd/containerd/blob/af963cc2cfbcbadbf40d9802dc356b02db13d700/pkg/cri/server/image_pull.go#L137) logic rather than CRI.
`redis:2.8.23` has a legacy `application/octet-stream` config blob (unsupported by [Docker](https://github.com/docker/distribution/blob/551158e6008ece74eae699e2099984d8c47393a2/docs/spec/manif

[2020-11-21 15:37] knight42 commented on #4659
I tried unpacking `r0bj/test-image:0.1` locally, and I think this problem might be caused by the order of files in changeset.

The order of layers:
[code]

The changeset of the lower layer `be6cd...`:
[code]

The changeset of the upper layer `b88fb...`:
[code]

When containerd is applying the layer `b88fb...`, since `root/.gem/.wh.specs` is a whiteout file, the `root/.gem/specs` is a character dev

[2020-11-21 15:39] knight42 commented on #4659
@r0bj How did you build this image? I have tried building the same image but could not reproduce.

[2020-11-21 17:54] r0bj commented on #4659
@knight42 image was built with kaniko:
[code]

[2020-11-22 09:03] knight42 commented on #4659
@r0bj Thanks, I could reproduce the problem by running the command you provided.

I think this could be a containerd issue. As a workaround, you could combine the last two `RUN` instruction into a single one in your Dockerfile.

[2020-11-22 09:11] knight42 commented on #4659
@AkihiroSuda Hi, I think this is a bug of containerd as the image `r0bj/test-image:0.1` seems to be valid, and this is my analysis of the root cause https://github.com/containerd/containerd/issues/4659#issuecomment-731595115. I think this issue might be related to https://github.com/containerd/containerd/pull/3528.

I also have a fix for this problem:
[code]
@AkihiroSuda Is this change reasonable?

[2020-11-23 15:34] zhsj opened #4762 "Decoupling runc binary version with vendor one"
_Originally posted by @AkihiroSuda in https://github.com/containerd/containerd/pull/4760#discussion_r528773487_

If we don't sync runc binary version with vendor one. So I guess it should be the latest released version?

Then how about [RUNC.md](https://github.com/containerd/containerd/blob/master/RUNC.md)? Probably the entire doc is not needed anymore?

[2020-11-23 18:36] justinsb commented on #4756
Thanks for filing & investigating @BenTheElder & @ktock !

I agree we should update the redis image and I'll work on that - the whole example is very out of date.  I don't know whether this is could be a problem for containerd/crictl (i.e. whether similar problems exist in other images); we couldn't find an existing bug for this problem.

[2020-11-25 02:24] AkihiroSuda opened #4769 "`docker run busybox true` does not work with io.containerd.runc.v2 (regression in #4538)"
**Description**

`docker run busybox true` does not work with io.containerd.runc.v2.

Regression in  4b05d03 (#4538). This commit only exists in master and isn't cherry-picked to v1.4/v1.3 as of writing.

**Steps to reproduce the issue:**
1. Install Docker 20.10.0-rc1. This version uses `io.containerd.runc.v2` by default
2. Install containerd from master
3. Run ` docker run --name tmp busybox true

[2020-11-25 03:24] #4484 closed

[2020-11-25 05:14] quangkieu commented on #1920
First off, I am not big or frequent contributors to any open source community project.
But I wonder if there is a reason why those pull requests mentioned Not getting much attention, review or acknowledge feedback. Even as a feedback on just as hack to progress some downstream project like buildkit. As now more and more new features implemented, wcow is getting left behind like build-time only sec

[2020-11-25 06:22] mrshengzyzy commented on #4748
thx, close this issue now.

[2020-11-25 06:22] #4748 closed

[2020-11-25 06:59] fuweid commented on #4769
@AkihiroSuda

I checked it in my local and the #4538 did introduce the issue because containerd will send task exit event with 137.

[code]

Without #4538, containerd will not send task exit again because the record has been deleted.

[code]

If shim is running, it can send task.delete/exit events to docker. If it is killed by some reason, the events are handled by shim-connection-callback-on-clos

[2020-11-25 08:05] christian-korneck commented on #1920
jfwiw and to add to what @quangkieu wrote: I’m an enduser of containerd and @TBBle ’s Windows patches are the only reason why I’m running a custom build. It would be useful if they were merged some time.

[2020-11-25 08:31] TBBle commented on #1920
My understanding of the blocker is that the person who is the intersection of Windows Containers experts and containerd Maintainers is @jterry75, who is or was on leave last time #4395 (the first in the series) had any attention.

I'm unsure if there's a process I'm overlooking for getting containerd Maintainer attention to a pull request, or if we're all just waiting for each other to take a next

[2020-11-25 13:24] alexcpn commented on #4581
I followed the official instructions here https://kubernetes.io/docs/setup/production-environment/container-runtimes/

and I was getting similar error

[code]
I checked  /etc/containerd/config.toml  and saw  'disabled_plugins = []'

Note the only thing I changed in the config.toml was set  use systemd as true (forgot the exact keyword - but it was different from the docs
[code]

deleting this conf

[2020-11-25 14:06] alexcpn commented on #4581
This is definitely a bug. For the worker node I followed the docs exact and I was getting this error
[code]
till I deletes the config,toml restarted contained and kubelet, after which only the worker joined

[2020-11-26 05:22] Ruilkyu opened #4770 "How to generate files * pb.txt？"

[2020-11-26 06:03] AkihiroSuda commented on #4770
`make protos`

[2020-11-26 06:12] Missxiaoguo opened #4771 "Containerd reports image names as null for the images have no tag and digest"
**Description**
A container image is pulled with no tag and digest. "crictl image ls" shows `<none>:<none>`.   Kubernetes node status shows null as the `names` for the image.  If the status shows null for the name, it breaks compatibility with the spec and if you try to manually edit a node (kubectl edit), you will see an error that null is not an allowed value for names.

The `names` field in the

[2020-11-26 08:01] dmcgowan commented on #4771
The `<none>:<none>` is kind of a hack and existed in docker to satisfy the CLI output. Is this enshrined somewhere in the Kubernetes API? If this isn't explicit in the API, this seems more like an issue that should be fixed in k8s rather than inserting a fake `<none>` repository name to API output.

[2020-11-26 08:07] #4770 closed

[2020-11-26 11:24] fuweid commented on #4581
@alexcpn please open new issue to describe the case, thanks.

[2020-11-26 15:16] Missxiaoguo commented on #4771
@dmcgowan Yes, this is a workaround and can be removed after the bug is fixed in k8s. The bug https://github.com/kubernetes/kubernetes/pull/79018 was reported in k8s but it was closed without a fix yet.

[2020-11-27 06:16] jterry75 commented on #1920
@kevpar - PTAL. @TBBle - I am no longer working in the same area but Kevin or someone on the team should be able to help you out getting these reviews in. Sorry for any inconvenience.

[2020-11-27 17:27] mstrYoda commented on #4737
@fuweid I've run a container with the following Dockerfile. When I run the example code, it gives the output:

[code]

Dockerfile:

[code]

Code:

[code]

I pass privileged flag:

`docker run --privileged -it -v "$PWD":/go/containerd-test golang-containerd`

Do you have any idea why is that happening?

[2020-11-28 04:46] ravisantoshgudimetla opened #4773 "Add priority flag for containerd on Windows hosts"
**What is the problem you're trying to solve**

On Windows hosts, there is a chance that the containerd process won't get enough CPU cycles because of the default priority set for the Windows process.

xref: https://github.com/kubernetes/kubernetes/issues/95735#issuecomment-719083689

**Describe the solution you'd like**

Having an additional flag to containerd similar to what we did for [kubelet]

[2020-11-28 07:42] TBBle commented on #1920
I've rebased the first PR (#4395) but haven't rebased the rest of the series as they'll need to be rebased on #4395 anyway, and the changes themselves shouldn't be heavily affected, there are no conflicts showing except the vendor.conf conflict from #4395 before I rebased it.

[2020-11-30 04:31] AkihiroSuda commented on #4769
Thanks @fuweid , could you open a PR?

[2020-11-30 06:15] #4731 closed

[2020-11-30 18:11] jterry75 commented on #1920
@TBBle - I agree lets drive #4395 in with the help of @kevpar / @ambarve and I will sign off. Then we can do the others to unblock you.

[2020-11-30 18:38] marosset commented on #4773
cc @kevpar

[2020-11-30 18:59] inductor opened #4783 "gVisor not working with containerd 1.3.7"
**Description**

Hello. I've been trying to use gVisor with shim v2 on containerd but the doc(both on gVisor and containerd) does not seem to be up to date, or having problems with working together.

**Steps to reproduce the issue:**

Set the following config in /etc/containerd/config.toml
Ref. https://gvisor.dev/docs/user_guide/containerd/quick_start/

[code]

But the current containerd config sc

[2020-11-30 22:15] TBBle commented on #1920
Sounds good. ^_^

I've flicked the higher two PRs (#4415 and #4419) back over to Draft as I want to implement parentless snapshots as locally-created base OS layers, now that I've found a way to implement them in https://github.com/microsoft/hcsshim/issues/853.

Most of the interesting work will happen in hcsshim though, I hope, and then some minor changes to those PRs.

[2020-12-01 03:44] AkihiroSuda commented on #4783
The gVisor doc seems using v1 syntax. v1 syntax is still supported, but using v2 syntax is highly recommended.

v1 syntax:
[code]

v2 syntax:
[code]

[2020-12-01 07:19] fuweid commented on #4769
Sure. Will file pr today

[2020-12-01 08:18] yuanpengblog commented on #3871
why
/usr/bin/containerd: symbol lookup error: /usr/bin/containerd: undefined symbol: seccomp_api_set

[2020-12-01 13:11] at-wat commented on #4703
I got same error when I import `github.com/moby/moby/client` by `go get github.com/moby/moby@v19.03.13` (which seems be redirected to `v17.12.0-ce-rc1.0.20200916142827-bd33bbf0497b+incompatible`) and `go build` in my go-modules enabled project.
Go-modules seems fetching `github.com/pkg/errors@v0.8.1` for `github.com/moby/moby@v17.12.0-ce-rc1.0.20200916142827-bd33bbf0497b+incompatible` for some rea

[2020-12-01 13:23] thaJeztah commented on #4703
Make sure to use `github.com/docker/docker`, which is the name of the package (the github repository was renamed, but it should still be imported as docker/docker)

I suspect `go get` is pulling in some dependency that _does_ have a `go.mod`, and that specifies pkg/errors v0.8.1 as (minimal) version. Given that containerd and moby itself use vendoring and a vendor.conf file (no go.mod yet), go mod

[2020-12-01 20:43] crosbymichael commented on #4572
We should look into updating and resolving this issue now that kube 1.20 is out.

[2020-12-02 04:42] fuweid commented on #4737
please try with `image, err := client.Pull(ctx, "docker.io/library/redis:alpine", containerd.WithPullUnpac)`

[2020-12-02 06:26] zhijianli88 opened #4788 "any plan to upgrade grpc to v1.31.0 or later"
I noticed that [kubernetes issue 93320](https://github.com/kubernetes/kubernetes/issues/93320#issuecomment-685237947) relies on a newer grpc, while etcd and containerd still used a old gprc.
And the etcd upgrading is [on the go](https://github.com/etcd-io/etcd/issues/12124)

So want to know whether containerd has any plan to upgrade grpc.

thanks.

[2020-12-02 06:26] #4769 closed

[2020-12-02 12:53] jeromegn opened #4790 "devmapper gets in an unrecoverable state under certain conditions"
**Description**

After running some manual cleanup steps, I'm left with a setup that does not allow creating any snapshots.

I think our only option at this point is deleting all state held by the plugin and removing / recreating our thin volume.

**Steps to reproduce the issue:**

Things I changed over time that might have caused this:
- `lvrename`d the thin pool
- Manually deleted devices with `

[2020-12-02 18:15] legeyda opened #4792 "Unable to configure registry mirrors"
I have a self-installed k8s cluster configured mostly accoring to https://github.com/kelseyhightower/kubernetes-the-hard-way.
I am currently trying to configure containerd on worker nodes to pull images from the insecure local registry located at http://127.0.0.1:5000/ on each node. I idea is that every image starting with `local-registry/` should be downloaded from local registry, otherwise from

[2020-12-02 19:53] mxpv commented on #4790
Currently devmapper (snapshotter) doesn't expect any changes outside to the pool it manages. So it's quite possible to end up in broken state this way.

For instance devmapper tracks devices and device ids in it's own database, so when you do `dmsetup remove`, this is something not expected by the snapshotter. Cleanup via ctr / containerd / snapshotter should work find though (if that's the case,

[2020-12-02 22:04] jeromegn commented on #4790
I don't see any of these 2 on boot (with debug logging).

It makes sense that it wouldn't be handled if I de-synchronized the state between the DB and devicemapper. I thought maybe this was handled because of this PR (and related ones): https://github.com/containerd/containerd/pull/3436

[2020-12-02 22:46] tonistiigi opened #4795 "remote: header reuse may lead to panic in http calls"
Got this report of a panic in containerd codepath in Buildkit https://github.com/moby/buildkit/issues/1867

[code]

Afaics the possible reason is the header reuse in the container retry loop. https://github.com/containerd/containerd/blob/9561d9389d3dd87ff6030bf1da4e705bbc024130/remotes/docker/resolver.go#L524 that causes one request still in the roundtripper to read from map when it is changing.

[2020-12-03 00:05] dmcgowan commented on #4795
This should be easy to avoid by copy the header either at the spot you linked to or on request creation.

I am curious, did the stack also have the write stack as well? I wonder what was writing simultaneously to the header map while the request was in flight.

[2020-12-03 05:13] jbguerraz opened #4798 "[CRI] Logging plugins"
**What is the problem you're trying to solve**
Forward containers logs to journald.

**Describe the solution you'd like**
Configure CRI plugin to leverage containerd logging plugins (https://github.com/containerd/containerd/pull/3085).

**Additional context**
Already discussed here containerd/containerd#6639

[2020-12-03 06:06] xeniumlee commented on #3221
k8s pod sandbox is set unprivileged even when privileged container presents.
https://github.com/kubernetes/kubernetes/pull/96877

[2020-12-03 08:23] kevpar commented on #4798
It seems to me like proper support for this would need a KEP in Kubernetes. k8s needs to be aware that logs are handled by a plugin, and that operations like attaching or fetching logs (as implemented today) would not work.

[2020-12-03 09:31] c-goes opened #4800 "starting container process caused executable file not found in $PATH": unknown when running a bundle"
**Description**

Trying to run a container from bundle and it doesn't work.

**Steps to reproduce the issue:**
1. skopeo copy docker://python:latest oci:python:latest
2. umoci unpack --image python:latest bundle
3. ctr run --config bundle/config.json --tty py3

**Describe the results you received:**

`ctr: OCI runtime create failed: container_linux.go:349: starting container process caused "exec:

[2020-12-03 11:46] jbguerraz commented on #4798
@kevpar Good point.

containerd would still manage logging when it comes to running containers not from k8s. At first glance, it looks like container logging is, first of all, a job of the container runtime.

k8s needs logs especially for satisfying `kubectl logs` command, isn't it ? if so, maybe fetching a container log should be a job for the CRI ?

We could even imagine being able to register m

[2020-12-03 13:15] oldthreefeng opened #4801 "how containerd support arm64 ??"
Dockershim depreciation since kubernetes 1.20.0.
arm64 machine install kubernetes.  i may choose containerd for kubernetes.
but i found github action do not release arm64.

just build from source ???

[2020-12-03 13:23] thaJeztah commented on #4801
containerd itself does not (yet) have a package registry, but containerd is available as a separate package (`containerd.io`) on download.docker.com, eg https://download.docker.com/linux/ubuntu/dists/focal/pool/test/arm64/ and can be installed separately (you can follow the docker install instructions to add the repo, only at the last step skip installing `docker-ce` and `docker-ce-cli` and only i

[2020-12-03 13:32] oldthreefeng commented on #4801
thanks for your reply~

A binary release support seems to be necessary.  Add a github action release and release linux-arm64.   just use github package registry.  :)

using `.rpm or .deb `   installation is optional.

[2020-12-03 15:28] AkihiroSuda commented on #4801
This doesn't seem to support apt and dnf repos unfortunately

[2020-12-04 03:57] tonistiigi commented on #4795
@alienth ^

[2020-12-04 06:45] mozillazg opened #4805 "Fix CVE-2020-15257 for v1.2"
**What is the problem you're trying to solve**

Fix CVE-2020-15257 for v1.2

**Describe the solution you'd like**

Backport the soluction of fix CVE-2020-15257 to v1.2.x

**Additional context**

CVE-2020-15257: https://github.com/containerd/containerd/security/advisories/GHSA-36xw-fx78-c5r4
1.3 backport: https://github.com/containerd/containerd/commit/ea765aba0d05254012b0b9e595e995c09186427f
1.4 b

[2020-12-04 07:03] diyi0926 opened #4806 "Containerd 1.3.9 unable to use nvidia-container-runtime"
Hi there, I'm upgrading containerd from 1.2.6 to 1.3.9, and I cannot find the right way to config to use nvidia-container-runtime.
For 1.2.6, I just change [plugins.linux] "runtime" from "runc" to "nvidia-container-runtime", and it all works. For 1.3.9, I tried to follow the doc but still can't find the right way to config, following is my config for 1.3.9, can someone help with that?
[code]

[2020-12-04 07:56] oldthreefeng commented on #4801
I mean using apt and dnf repos  is optional of .   for all release I want to install by officail binaries.  like intall  docker or kubernetes.

[code]

[2020-12-04 08:30] TheDiveO opened #4807 "Can't compile Python modules from containerd API .proto files"
I'm trying to generate working Python modules from the containerd API .proto files as to be found here: `https://github.com/containerd/containerd/tree/release/1.3/api` (API version 1.3; same for API 1.2). These .proto files contain references to containerd API proto files, such as in `api/events/container.proto`:

    import weak "github.com/containerd/containerd/protobuf/plugin/fieldpath.proto";

[2020-12-04 12:10] AkihiroSuda commented on #4805
v1.2 reached EOL on October 15, 2020: https://github.com/containerd/containerd/blob/master/RELEASES.md

So, we are unlikely to ship a new v1.2.x release officially, but distro vendors may backport the patch to their v1.2.x packages.

[2020-12-05 01:31] #4805 closed

[2020-12-05 01:31] mozillazg commented on #4805
👌

[2020-12-05 11:55] thaJeztah commented on #4756
/cc @tianon

[2020-12-06 01:51] liangyuanpeng commented on #4792
I have the same problem  :confused:

[2020-12-06 04:32] liangyuanpeng opened #4810 "[Question] crictl cannot find ctr images"
**Description**

**Steps to reproduce the issue:**
1. docker save -o kube1.18.3.tar ...images...
2. ctr images import kube1.18.3.tar
3.  ctr images list
4.  crictl images list

[code]

[code]

**Describe the results you received:**

**Describe the results you expected:**
crictl  images working

**Output of `containerd --version`:**
[code]

[code]

**Any other relevant information:**

Thanks any he

[2020-12-06 04:36] liangyuanpeng commented on #4810
My bad,Should use`ctr cri load kube1.18.3.tar`

[2020-12-06 04:36] #4810 closed

[2020-12-06 09:08] alienth commented on #4795
[traceback.txt](https://github.com/containerd/containerd/files/5648519/traceback.txt)

Full traceback attached.

[2020-12-06 14:59] MadhavJivrajani commented on #2231
Hi! Is this issue still open to be worked on?

[2020-12-06 15:14] liangyuanpeng commented on #4792
@legeyda  You can try change `local-registry` to `local-registry.com` , It's working for me.

[2020-12-06 23:13] dmcgowan commented on #4805
There was a patch created and verified, we did pull that onto the 1.2 release branch https://github.com/containerd/containerd/commit/3b3e9d5f62a114153829f9fbe2781d27b0a2ddac

As Akihiro said, there will be no release with this code. You are welcome to build yourself or rely on vendor patched version.

[2020-12-06 23:18] mastermindg commented on #1881
@crosbymichael @AkihiroSuda What is the current status of containerd on OSX 3 years after this was closed?

[2020-12-07 13:06] ydcool opened #4812 "Request a new flag for ctr container ls subCommand to show labels"
**What is the problem you're trying to solve**
The output of `ctr c ls` command is lack of some readability information, like labels information. the `filter` flag is useful but not  convenience enough when listing all existing containers.

**Describe the solution you'd like**
add a flag for `container ls` subcommand like `--show-labels` to print all labels of one container

**Additional context**

[2020-12-07 13:15] tejasrao97 commented on #4141
Hi all,

Facing the same issue in managed Kubernetes clusters (IBM-IKS), we would not have access to ssh into the worker nodes in IBM Cloud to edit the containerd config.toml file, kindly please look into the issue and provide use a suitable solution for the same.

![image](https://user-images.githubusercontent.com/55922259/101355005-fd9e9380-38bb-11eb-9bc0-65c5f7056778.png)

We are not facing thi

[2020-12-07 13:16] fuweid commented on #4812
@ydcool could you help to file pr to support this? Thanks!

[2020-12-07 13:42] ydcool commented on #4812
Glad to help :)

/assign

[2020-12-07 14:22] dims commented on #4141
Please open an issue with IBM support. this is not the right forum for IBM-IKS @tejasrao97

[2020-12-07 14:52] tejasrao97 commented on #4141
@dims Yeah I have opened an issue with the IBM support team. We are not facing this issue only in IBM-IKS, all the Kubernetes cluster that's using containerd as it's container runtime are facing this issue.

Most of the kubernetes clusters in production (other than IBM-IKS) are using docker as it's container runtime, but in the upcoming kubernetes Version (v1.20) docker would be deprecated.

The k

[2020-12-07 14:56] dims commented on #4141
@tejasrao97 i believe your team mate started the same conversation in slack? see https://cloud-native.slack.com/archives/CGEQHPYF4/p1607343391141900

[2020-12-07 15:27] tejasrao97 commented on #4141
Ohh okay, will have a look at the thread, thank you! :)

[2020-12-07 15:30] estesp commented on #4756
There was fairly complete discussion on this in #2456. I think the net of it is:

- images built prior to Docker 1.11/mid-2016 *could* have the wrong media type encoded in the config; the bug was fixed in April 2016; released in Docker 1.11.
- While I understand it *might* be possible to depend on an image that is now over four years old, that flies pretty hard in the face of "cloud native" best p

[2020-12-07 15:45] yvespp opened #4813 "CRI wrong partial log line"
**Description**
When the last line of a container log doesn't container a newline at the end, cri containerd will log a partial log which will confuse log forwarding tools like fluentd.

**Steps to reproduce the issue:**

1. Create this pod in Kubernetes:
[code]

**Describe the results you received:**
The log of the init container will contain a partial (P) log line:
[code]

**Describe the results

[2020-12-07 17:45] yvespp commented on #4813
I also sometimes see `Timeout flush` errors when the pod wasn't stopped but I don't know how to reproduce it. Maybe it has to do with the kubelet log rotation?

[2020-12-07 18:50] tianon commented on #4756
Those old images were official images, but you are correct that they are no longer supported -- here's a standard reply we give to maintainers that I think might be helpful context:

(And just to be explicitly clear, official images have never been built any more esoterically than `docker build` + `docker push` at the lowest levels, so this being due to bugs in Docker 1.11 seems likely :disappoint

[2020-12-07 19:35] oldthreefeng commented on #4801
when i tried to build from source  code

my env
[code]
then I get this error.
[code]

@AkihiroSuda so. How can I build arm64 binary tarball ?

[2020-12-07 19:50] #4801 closed

[2020-12-07 19:53] mxpv commented on #1881
It's not a blocker on containerd side. In order to support containers natively -  OS X's kernel must provide various container isolation primitives (like cgroups and namespaces on Linux), which we don't have today.
However there are other variations possible like this one: https://github.com/containerd/containerd/pull/4526

[2020-12-07 19:57] BenTheElder commented on #4756
This issue cropped up because Kubernetes examples repo has very old sample deployments etc. that otherwise still function for demo purposes, so the images are not actively upgraded because nobody *truly* runs these. Of course we want them to work on containerd though.

Bumping seems reasonable, though I wonder what the impact of compat for this would be.

[2020-12-07 21:14] BenTheElder commented on #4756
To clarify:
- I think we clearly need someone in the Kubernetes space to patch up examples to current images.
- I wonder if more users will be surprised when migrating dockershim => containerd breaks running some image. I think a surprising amount of ""cloud native"" users are not necessarily keeping everything on the bleeding edge 🙃 .. If the compatibility patch would be small (I suspect it is, b

[2020-12-07 22:12] estesp commented on #4756
Yeah, it's a tough spot, but what makes me hope to hold the line here is:

- images with this "bug" should be extremely rare. If we were talking this is something that happened to a lot of images from 6 months or even a year ago, I get it. Given we are approaching year 5 (in a few months) since this was fixed, I'm thinking we can figure out how to do some better image hygiene, even in examples. I

[2020-12-07 22:59] thaJeztah commented on #4756
I generally agree; I don't see a direct need for containerd to carry backward compatibility code for images created before containerd 1.0 even existed.

That said; I asked in our internal slack if we have data on manifests still being pushed to Docker Hub with this mediatype in the last year or so

[2020-12-07 23:00] tianon commented on #4756
IMO the more interesting additional metric would be the frequency of users pulling them :innocent:

[2020-12-08 10:41] fuweid commented on #4800
@c-goes Could you mind to share you config? I think it is related about missing PATH env.

[2020-12-08 12:16] jeromegn commented on #4790
I've since wiped everything from the affected servers and started with a clean slate.

Unfortunately, the issue has re-appeared on one of our servers. After a redeploy of our firecracker orchestrator.

I wonder if my leases might be off?

We're manually managing leases for each VM we create. We assign the lease to the contexts used to pull an image, unpack an image and prepare a snapshot (this is

[2020-12-08 12:32] jeromegn commented on #3787
This is an old issue, but I'm also facing this using containerd 1.4.1 on linux:

[code]

The snapshot is prepared, then removed right before attempting to use.

[2020-12-09 00:42] cpuguy83 commented on #4792
Yes, it seems the reference parser looks at `local-registry` as a repository namespace and not a host.
It looks like "localhost" is special-cased.

https://github.com/containerd/containerd/blob/1e624fa3deb4024b13098c04b2847cc2fcb79d47/reference/docker/reference.go#L667-L681

I'm not sure this is worth fixing vs just not using it that way.

[2020-12-09 00:47] cpuguy83 commented on #4806
Are you still using the v1 shim?
That's the only one you have configured but I think the default in 1.3 is `io.containerd.runc.v1` (And 1.4 `io.container.runc.v2`).

[2020-12-09 03:11] fuweid commented on #3787
@jeromegn Will take a look today. Thanks for reporting

[2020-12-09 03:52] Jeffwan opened #4818 "Equivalent command of `docker commit`?"
**What is the problem you're trying to solve**
Trying to see if containerd supports similar command like `docker commit`? it might be helpful to generate a revised container image in some cases. I can not find any docs on this yet.

[2020-12-09 04:51] fuweid commented on #3787
@jeromegn could you mind to share more log before this line `time="2020-12-08T12:20:48.474220424Z" level=debug msg="prepare snapshot`? I was thinking it is something wrong at the devmapper backend data?

And if possible, could you share your `/var/lib/containerd/io.containerd.metadata.v1.bolt/meta.db` and `/var/lib/containerd/io.containerd.snapshotter.v1.devmapper/metadata.db`? thanks

[2020-12-09 06:24] AkihiroSuda opened #4819 "`ctr images pull` (including unpacking time) is slower than `docker pull`"
**Description**

`ctr images` pull (including unpacking time) is slower than `docker pull`, e.g. 50s vs 33s for pulling and unpacking `docker.io/library/python:3` image.

**Steps to reproduce the issue:**
[code]

[code]

**Describe the results you received:**

ctr is slower than Docker

**Describe the results you expected:**

ctr should be as fast as Docker

**Output of `containerd --version`:**

[2020-12-09 08:55] abel-von opened #4852 "[bug] cni conf dir watcher channel receives many many empty events after killing containerd"
Hi, I am testing containerd 1.4.1,  and start containerd with `--log-level debug`,  when I kill containerd with `kill <pid of containerd>`, the containerd log will repeatedly print the line `time="2020-12-09T16:25:12.243656953+08:00" level=debug msg="receiving change event from cni conf dir: \"\": "`. almost hundreds of mega bytes of logs will be printed before containerd quit.

I checked the code

[2020-12-09 08:59] pacoxu commented on #4818
Unfortunately no, refer to [comparison](https://www.openshift.com/blog/crictl-vs-podman) .

[2020-12-09 09:24] pacoxu commented on #4819
`cri  55.675s` vs `docker 46.681s`
`cri  1m7.334s` vs `docker 0m49.352s`
on my server.

It seems that docker pull do `download` and `extract` on parallel. However, cri downlad layers and unpack them after all download are finished. (I didn't read the code yet. Not quite sure about that)

![image](https://user-images.githubusercontent.com/2010320/101610467-3f0d7b00-3a43-11eb-829f-4d0800e6e216.png)

[2020-12-09 09:31] fuweid commented on #4818
@Jeffwan containerd provides the API to handle `commit` requirement, like PouchContainer provides commit action based on containerd API. Basically, the `ctr` is one debug tool for containerd. We can add commit into `ctr` or other good project like `https://github.com/AkihiroSuda/nerdctl`.

And we have community meeting at Thursday, December 10th at 7 AM (Pacific), you can join us. https://www.cncf

[2020-12-09 09:39] badrelmers commented on #3871
me too I have now this error when I run podman:
`podman: symbol lookup error: podman: undefined symbol: seccomp_api_get
`

before a month it was working fine in my amd64 server!

in my debian I used libseccomp2  (libseccomp does not exist!):
`apt-get install libseccomp2 libseccomp-dev
`
but still gave that error

[2020-12-09 09:51] badrelmers commented on #3871
I solve it by adding the backport source to **/etc/apt/source.list**
`deb http://deb.debian.org/debian buster-backports main contrib non-free
`
then
[code]
now it works :)

[2020-12-09 10:00] fuweid commented on #4819
@AkihiroSuda ctr image pull does unpack after fetching. containerd already supports fetching and unpacking in parallel for overlayfs and aufs. I think the testing should enable unpack during fetching ~

[2020-12-09 10:16] fuweid commented on #4819
I push the docker.io/library/python:3  into local, just in case the limitation of dockerhub.

[code]

And docker

[code]

It is close ~.

The containerd patch is here:

[code]

[2020-12-09 10:26] AkihiroSuda commented on #4819
Does this break multi-arch stuff?

[2020-12-09 12:48] mikejoh commented on #4798
@jbguerraz, as i understand the CRI-O flags (atleast the `--log-format` one) is that they're used to configure logging of the `crio` binary itself not containers running on-top of CRI-O:

https://github.com/cri-o/cri-o/issues/3181#issuecomment-581544380

[2020-12-09 13:19] jeromegn commented on #3787
@fuweid hmm, unfortunately I've had to wipe the state on this server and start over to get that capacity back. If it happens again, I'll try to procure these files.

I found the logs though:

[code]

I've replaced the image name with `<imagename>`, I don't think that bit is important.

We're first pulling the image and then unpacking it in separate steps so we can measure the time taken for both.

[2020-12-09 16:13] oldthreefeng opened #4823 "/usr/local/bin/containerd: error while loading shared libraries: libseccomp.so.2: cannot open shared object file: No such file or director"
**Description**

**Steps to reproduce the issue:**
[code]
the
3. `shared libraries: libseccomp.so.2`  not found

[code]

**Output of `containerd --version`:**

[code]

**Any other relevant information:**

[code]

solved by

[code]

[2020-12-09 16:15] oldthreefeng commented on #4823
/close

[2020-12-09 16:15] #4823 closed

[2020-12-09 16:41] fuweid commented on #4819
I just verified the performance result and didn't want to update the upstream. :p

I think it is good option for nerdctl.

[2020-12-09 16:47] jbguerraz commented on #4798
Thank you for the heads-up @mikejoh !
BTW, any point of view on the matter ? :)

[2020-12-09 20:16] lsm5 commented on #3871
Best to send podman issues to the podman github repo :) . But anyway, that has been handled now. Thanks a lot!

[2020-12-10 01:58] windniw commented on #4806
hi~ @diyi0926
Could you show the way running a container on your machine, like `ctr run ...` or `crictl create ...` or `kubectl ...`

[2020-12-10 06:31] tejasrao97 opened #4826 "[CRI] Containerd switching to HTTPS for TLS verification for a HTTP Image Registry on Localhost"
I tried creating a cluster using kubeadm and contianerd as the CRI, came across a new error!
conatainerd version which I have used is 1.4.3 and the kubeadm version is 1.19.4
I'm getting certificate error from the containerd runtime when the images that are hosted on gitlab tool running as a pod are being pulled using localhost(127.0.0.1) as the registry domain, the request is going through http at

[2020-12-10 06:42] hillbun opened #4827 "Whereis config.toml located?"
I install with

tar --no-overwrite-dir -C / -xzf cri-containerd-cni-1.3.4.linux-amd64.tar.gz

but /etc/containerd/config.toml does not exist, whereis is it located?

[2020-12-10 06:48] fuweid commented on #4826
@tejasrao97 Could you try to use `ctr image pull --skip-verify --plain-http -u` to try it? And for CRI-plugin, you can also check the doc https://github.com/containerd/containerd/blob/master/docs/cri/registry.md. Hope it can help.

[2020-12-10 06:58] fuweid commented on #4827
hey @hillbun , I am afraid that tarfile doesn't contain config file. For default config, you can generate default config by `containerd config default`. Hope it can help!

[2020-12-10 07:03] fuweid commented on #3787
Thanks! @jeromegn  One more question, you are using different disk for containerd storage? I had that issue before in https://github.com/containerd/containerd/issues/3671#issuecomment-539974858. Hope it can help.

[2020-12-10 07:16] tejasrao97 commented on #4826
@fuweid but, when we are using managed Kubernetes services we won't have access to add any fields into the config.toml of containerd, by doing an ssh into the nodes. We are not facing this issue in managed Kuberentes clusters which are using CRI-O and Docker as the container runtime interface and we haven't added any entry in the config files for CRI-O/Docker for the insecure registry that is host

[2020-12-10 07:20] puneethpk commented on #4826
Even i am facing the same issue in one of the kubernetes clusters provisioned with container runtime as containerd. We need to find a fix for this ASAP. All these days we had this setup in docker and weren't facing any issues as such.

[2020-12-10 07:31] fuweid commented on #4826
link to https://github.com/containerd/cri/pull/1328

[2020-12-10 07:42] tejasrao97 commented on #4826
@fuweid in 1.4.3 version of conatinerd, as of now if the cri is using http while pulling an image from localhost, but after that it's trying to verify the certificates. So if we skip the tls verification by default, when the image is being pulled by the CRI from localhost then I guess that would fix the issue.

[2020-12-10 08:02] fuweid commented on #4826
@tejasrao97 We can't skip the tls verification by default for security reason. But I think it sounds good to skip for localhost.

[2020-12-10 08:47] tejasrao97 commented on #4826
@fuweid yeah it would be good is we skip it only for localhost. Thank you! 🙂

[2020-12-10 09:49] mikejoh commented on #4798
@jbguerraz

Np!

I'm still reading up on this and i came here because i was looking for a way to transform logs from text to JSON using `containerd` as runtime in Kubernetes (via CRI). I figured (naively) that there was support for it after discussing this a bit with my colleagues. We basically thought that there would be support for this just like the JSON log driver in Docker.

When reading thro

[2020-12-10 11:48] jeromegn commented on #3787
I've often landed on that issue throughout my searches. However, our woes seemed to happen out of nowhere. Maybe after a containerd restart? Or maybe when we deployed our orchestration code that might've been in the middle of an operation? I would expect that to not be a problem.

Our snapshots are on a LVM thin pool which reside on 2 large nvme disks. We are creating the databases in `/var/lib/co

[2020-12-10 14:58] mikebrow commented on #4826
I wonder if it would make sense to have a listing ips for which tls verificaiton will be skipped.. and default that to localhost ipv4/6. Hmm.

[2020-12-10 21:14] Mohid-A opened #4828 "Issues in running containers on RAM file system using containerd v1.3.3? no_pivot doesn't work ?"
Hi there,

I am working on running containerd on the RAM files system. It can create containers, however, I am facing issues in running them on the file system. Below is the config.toml I have used also included the no_povit=false flag in the config file but has no change on the outcome. While executing the containers I ran into the errors related to the pivot, "ctr: OCI runtime create failed: con

[2020-12-10 21:21] Mohid-A commented on #4827
It won't come by default if you download the binary, I usually run this "/usr/bin/containerd config default > /etc/containerd/config.toml" pointing it to wherever the container binary is . It will produce a default config.toml @ /etc/containerd/config.toml

[2020-12-11 01:10] hillbun opened #4830 "How to config containerd log size limit and rotate?"
How to config containerd log size limit and rotate?

similar to docker daemon.json file

[code]