[2022-05-05 21:55] mitchellmaler commented on #6362
I am seeing this same thing running rke2 with containerd v1.5.10-k3s1. Restarting the rke2-agent service which restarts the kubelet seems to fix the issue but it does usually come back. Same symptoms where `crictl stats` hangs, memory rises (clears on restart of rke2-agent/kubelet), and `kubectl top nodes` show unknown for these nodes. Our current way to track it is when a kubectl top node starts

[2022-05-05 21:59] mitchellmaler commented on #6362
We are only seeing this on our cluster running v1.22 that has containerd v1.5.10-k3s1. A few other clusters running v1.21.6 with containerd v1.4.11-k3s1 don't seem to have the issue.

[2022-05-05 23:27] shuaichang commented on #6657
@kevpar @AkihiroSuda @mikebrow @fuweid

[2022-05-06 00:52] dcantah commented on #6896
Thanks for writing this up @TBBle :) fyi @kevpar. We've heard it pretty clear internally that manifesting is the right approach to not get 'lied' to about the build number. Funnily enough we actually got suggested the option of shelling out to some other binary that IS manifested as a solution which I thought would be cumbersome, but if that separate process unpack ever comes to fruition maybe it

[2022-05-06 02:13] dafu-wu commented on #6898
Thanks, does Containerd already have an API to do this？

[2022-05-06 03:18] DesistDaydream commented on #6209
Has the 1.1.1 release resolved this issue?

[code]

[2022-05-06 06:33] kevpar commented on #6862
One piece of this work is in #6901.

It would be nice to have a checklist in the issue for each piece of implementation that needs to be done, with links to the PRs as they are published.

[2022-05-06 06:36] dcantah commented on #6862
@kevpar  Yep, was going to edit this to be like https://github.com/containerd/containerd/issues/1920

[2022-05-06 11:35] HackerYunen commented on #6812
Same issue, have you find a way to avoid it?

[2022-05-06 11:39] planetA commented on #6812
You can try to use `docker checkpoint`, which does some tricks to work around this issue.

[2022-05-06 11:44] HackerYunen commented on #6812
But kubernetes had gave up the [Dockershim](https://kubernetes.io/blog/2020/12/02/dockershim-faq/) OCI Runtimes

[2022-05-06 13:40] fuweid commented on #6898
From https://github.com/containerd/containerd/blob/main/SCOPE.md#scope

**The API supports mounts, binds, etc where all volumes type systems can be built on top of containerd.**

Volumes manager should be build on containerd. For containerd, the volume is just a mount point.
You can build the volume manager and just share between multiple containers and use it as mount-point when you create contai

[2022-05-06 14:48] Joseph-Goergen commented on #5563
@dmcgowan  @aojea  @mikebrow Can I get the status of this?

[2022-05-06 15:45] psschwei opened #6903 "`HostIpc is true` test not skipped when run in parallel"
As part of #6894 , have noticed that with an updated `cri-tools` the `HostIpc is true` test is not skipped when running in parallel ([code in question](https://github.com/containerd/containerd/blob/459179360a6b37eefda1e5b682f3c5e33a39193a/Vagrantfile#L273)).

After discussing with @mikebrow , decided on removing parallel when using skip to get the update of cri-tools through.

However, once we fig

[2022-05-06 16:13] sbuckfelder commented on #3757
Would you be able to assign this to me?  I'll work with @estesp to get a rough plan together before moving forward.

[2022-05-06 16:51] estesp commented on #6640
I would like to close this as the containerd support for encrypt/decrypt of images is happening in nerdctl where the support is exposed to users directly. What do you think @mikebrow?

[2022-05-06 16:53] estesp commented on #4131
The initial Sandbox API PR is merged.

[2022-05-06 16:53] #4131 closed

[2022-05-06 18:11] swagatbora90 commented on #6240
If it is okay, I would like to work on this issue. cc @kzys

[2022-05-06 20:02] 42wim commented on #6700
Updated today to latest docker-ce-20.10.15 with containerd 1.6.4 and getting the same message.

[2022-05-06 20:50] kzys commented on #5705
A few updates;

- We have introduced api/ directory (#5716) but removed go.mod there (#6439).
- There is a "proof-of-concept" PR to extract cmd/ and pkg/cri/ (#6782).

I'm writing https://docs.google.com/document/d/1qD0XphQ9NtrQT934Qv38ebMRnD2VQ-CE85TfPPAbiZo/edit# to compare multiple options.

[2022-05-06 20:57] kzys commented on #5781
Note that oras-go doesn't consume containerd from the top-level module anymore, but https://github.com/oras-project/oras-go/tree/main/pkg consumes containerd and has this issue.

[2022-05-06 21:01] kzys commented on #4249
Resolving. With #4414, clients can opt-out default labels and let containerd clean artifacts.

[2022-05-06 21:01] #4249 closed

[2022-05-06 21:08] #6886 closed

[2022-05-06 22:42] 42wim commented on #6700
I can reproduce it consistently now, it only seems to happen when an OOM happens and the process gets killed.

[code]

When you now run docker stats, it'll show the 0 stats and will output the wrong wireType messages.

May 07 00:33:49 test dockerd[1868286]: time="2022-05-07T00:33:49.391323338+02:00" level=error msg="collecting stats for dd4533b066be88cb9b54c986c33d8abe3a13bc1d144c05faa030be7125f99

[2022-05-06 23:21] kzys commented on #6240
Sure. Assigned.

What would be a good way to pick the number? Is it trade-off between memory vs. performance?

[2022-05-07 04:32] qiutongs commented on #5768
@aojea An example to illustrate the problem here is the binary is missing for last plugin. There will be the "binary not found" error in both network setup and network teardown.

[2022-05-07 06:30] dafu-wu commented on #6898
Thank you for your help，I have solved our problem through your way.

[2022-05-07 14:19] fuweid commented on #6898
Thanks @dafu-wu for the follow-up.

[2022-05-07 14:19] #6898 closed

[2022-05-07 15:20] 42wim commented on #6700
Found the problem, moby is using an older version of containerd/cgroups which doesn't contain the correct protos.
I've fixed it by building moby with the recent version of https://github.com/containerd/cgroups/blob/main/stats/v1/metrics.pb.go

[2022-05-08 05:45] jiangliu opened #6908 "Enhance CRI workflow to support pod level user namespace"
### What is the problem you're trying to solve

There are ongoing works to enable pod level user namespace：
https://github.com/kubernetes/enhancements/issues/127
https://github.com/kubernetes/enhancements/pull/3275

User namespace (uid/gid remap) has already been supported by ctr, containerd core  and runC, but there are still some issues in the CRI subsystem.  When doing PoC for pod level user na

[2022-05-09 06:11] dhiman360 commented on #6852
Any update on this ticket ? or on https://github.com/containerd/containerd/issues/6662 ?

[2022-05-09 06:12] dhiman360 commented on #6662
@mikebrow Any update about this ticket ?

[2022-05-09 07:35] aojea commented on #5768
@squeed is this something the CNI spec leaves to the implementations or is there an scenarios that the spec considers?

[2022-05-09 11:00] rata commented on #6908
@jiangliu Hi! Please tag me in the userns containerd related issues, I'm actively working on the KEP and containerd patches, I would love to help with any related issue found.

I've done some PoC patches (based on some other PoC patches made by a coworker) and we hit this issue too but we chose a different solution IIUC.

Containerd CRI plugin now creates the netns and then calls the OCI runtime t

[2022-05-09 11:05] rata commented on #6908
Oh, sorry, now that I see the PR it seems you are doing mostly the same thing there, right? Sorry for the noise, I misunderstood the text description, then :D

[2022-05-09 13:24] mikebrow commented on #6908
:-)

[2022-05-09 15:57] jiangliu opened #6911 "Tune mount mode of /dev/shm for pause container to support user namespace"
### What is the problem you're trying to solve

When doing PoC to enable pod level user namespace, the containerd/CRI/runc fails to mount `/dev/shm` for the pause container with error message:
[code]

### Describe the solution you'd like

Another fact, there are two instance of /dev/shm mounted for pause container, one copy is created by the oci default configuration, the other is created by `sand

[2022-05-09 17:45] sbuckfelder commented on #3554
Looking at **Ensure interfaces with optional values use the options pattern** (Item 4).  TLDR : I didn't find anything that required changes.

-------
**Methodology**

To identify a list of types where this might be an issue I used the revive linter to identify functions with more then 5 arguments.

Added to .`golangci.yml` :
[code]

This identified 43 functions (just for context there are 101 fun

[2022-05-09 19:24] helsaawy opened #6914 "Race condition when checking `diff.(*binaryProcessor) Err()`"
### Description

When using a binary stream processor within a diff plugin, there is a race condition between when the `binaryProcessor.err` field is set to the underlying `exec.Cmd`'s exit status [by `(*binaryProcessor).wait()`](https://github.com/containerd/containerd/blob/68d9d462c934ac727ebafab1c6ebeae10716fbcc/diff/stream_windows.go#L128-L136) and when that [processor's err status is checked]

[2022-05-09 20:40] dmcgowan commented on #6914
It probably makes sense to add a `Wait(context.Context) error ` rather than just changing the behavior of `Err() error`. If the function now blocks it should be cancellable and have the possibility of timing out the context. It could check for both interfaces until 2.0 if we need backs compatibility for any plugins.

[2022-05-09 21:21] helsaawy commented on #6914
@dmcgowan Does PR #6916 look good?

[2022-05-09 22:36] dmcgowan commented on #6914
@helsaawy yes, exactly

[2022-05-09 23:00] swagatbora90 commented on #6240
Yes, with a bigger buffer we will need less number of IO sys calls( so can result in better CPU performance). But will be costly in terms of memory.

Looking into the `bufio` package, the default read buffer in the `bufio` package also uses [4Kb](https://github.com/swagatbora90/containerd/blob/50da6735923837519d7b8ec0ba997ce890b6de29/pkg/cri/io/logger.go#L40) as the default size and sets a min lim

[2022-05-09 23:11] padraigconnolly commented on #6009
The only way I was able to replicate this issue was with docker (20.10.12-0ubuntu4) + containerd (1.5.9-0ubuntu3) installed and I ran K8s 1.24 on top of it (1.24 will now by default use Containerd CRI not Dockershim). In this default state Containerd kept shutting down the K8s containers (Reporting `level=warning msg="cleaning up after shim disconnected"` and `level=info msg="cleaning up dead shim

[2022-05-10 07:23] jiangliu commented on #6908
That will be really great:) I have followed most discussion related to KEP127 and feel it's exciting to get IDMapping ready for use. But it takes time to wait for the IDMapping feature the field:)
On the other hand, we have some workloads depending on user namespace, to support some special capabilities requirements of sidecar containers. So our short-term solution is to enable user namespace with

[2022-05-10 11:17] rata commented on #6908
@jiangliu great, as I mentioned [here][link], I'm Rodrigo Campos/rata at CNCF slack or k8s slack. Please write me there, I couldn't find you with your github username. We can coordinate there so we don't duplicate our efforts with the PRs :)

Also, please note that the KEP is not tied to idmap mounts. In fact, phase 1 should work without idmap mounts (just chowning in containerd, plus adding the m

[2022-05-10 12:02] squeed commented on #5768
@aojea Good question. This is not something the CNI spec covers: what to do with a configuration where ADD succeeded but now DEL will fail?

As a general rule, the preference is for plugins to effect a delete if at all possible. But this presents us with an interesting quandary: what do we do if a particular plugin does not execute? It seems like there are three cases we need to consider:

1. The

[2022-05-10 15:11] j401124546 commented on #6812
I meet the same problem, so do you know how to solve it? Or Containerd can not checkpoint/restore a running container?

[2022-05-10 15:17] HackerYunen commented on #6812
Although containerd can create checkpoint to save a image, but this image can not export with multi image layer(bug report in this issue). So, we can not restore it at other node. And there is another question, Containerd can not save container write layer to generate a new image(base on origin image), so if you want to migrate the pod to other node, this method is not available.

[2022-05-10 15:23] HackerYunen commented on #6812
I want to migrate pod to another node in k8s, and I avoid this issue by change the OCI Runtimes from Containerd to docker. And then, I use the command `docker save` and `docker load` to move the pod write data to new pod, but there is a issue: the docker checkpoint function is also not quite good enough when I try to use the `docker checkpoint` to restore my new pod. So, for me there are not a eas

[2022-05-10 15:25] j401124546 commented on #6812
I also want to make it! And I tried to make it by Podman, maybe you can try it. But podman dont implement a CRI interface, so there has much work to do

[2022-05-10 15:31] HackerYunen commented on #6812
🤣 There are so many work to do in this area, the checkpoint function for container also exists a lot bug, so I am not want to complete it perfectly because it will cost a lot of time.

[2022-05-10 16:45] jpetazzo opened #6921 "containerd 1.6.4 breaks weave on Kubernetes"
### Description

Hi!

I noticed the following problem on my new Kubernetes clusters: all pods (except the ones using `hostNetwork`) remain in `ContainerCreating` status, and events (as shown by e.g. `kubectl describe pod`) indicate:
[code]

The kubelet logs (as shown by `journalctl -u kubelet -f`) indicate the same message (nothing more), and the containerd logs (as shown by `journalctl -u contain

[2022-05-10 19:47] dmcgowan commented on #6914
@helsaawy is there a second part to update the applier?

[2022-05-10 20:06] mikebrow commented on #6921
It means either the weave plugin did not give a result for your eth0 interface or it's result did not have an IPv4/6 address

crictl inspectp on that pod to get the full result.. it should have more detail

and/or run containerd in debug mode ```containerd -l debug``` that will output the result detail on attempt to run the pod

@MikeZappa87 FYI...

[2022-05-10 20:10] helsaawy commented on #6914
I ran into this issue when updating parts of the Windows and LCOW differs.
I didn't want to update the `walking` differ since we dont primarily use that on Windows and didn't want to break any functionality for Linux users.

[2022-05-10 20:11] MikeZappa87 commented on #6921
@mikebrow I was about to state the container -l debug as well. I want to see whats in the results. That will help us uncover why https://github.com/containerd/containerd/blob/6067aeb6fde8afb9357652c09330c7fec6515eab/pkg/cri/server/sandbox_run.go#L399 is failing

[2022-05-10 20:15] mikebrow commented on #6921
nod.. possible ipam defaults..?  but yes debug will help here.. Perhaps should modify that error message to add result out if debug is off since we need it here...

[2022-05-10 20:20] MikeZappa87 commented on #6921
I believe weave has its own ipam plugin? @jpetazzo can you do a ls /opt/cni/bin ? I think the weave-ipam isn't being called however I am not familiar with weave.

[2022-05-10 21:25] aarongoulet commented on #6678
I was about to prepare a PR for this, however I ran into a problem reproducing your issue.  Here is the change I was testing:
[aarongoulet/containerd@0ce1fe3](https://github.com/aarongoulet/containerd/commit/0ce1fe336d6870adff607048b937fac0a0987d3e)

This was the code I ran to test this change:
[code]

Instead of getting an error (the expected result), nor did it fail to read the `meta.db` content

[2022-05-10 22:56] dcantah commented on #6701
I should do a skim of open issues before opening one of my own 😆 I had the same thoughts and included this in this issue without seeing this already existed https://github.com/containerd/containerd/issues/6862

[2022-05-10 23:13] fuweid commented on #6921
duplicate of https://github.com/containerd/containerd/issues/6575 ?

[2022-05-10 23:43] olljanat opened #6924 "[2.0] Enable enable_unprivileged_icmp and enable_unprivileged_ports by default"
### What is the problem you're trying to solve

I noticed that version [2.0](https://github.com/containerd/containerd/milestone/35) milestone have been created so I propose that we enable enable_unprivileged_icmp and enable_unprivileged_ports by default on it like it was proposed on https://github.com/containerd/containerd/pull/6170#issuecomment-973242980

### Describe the solution you'd like

Des

[2022-05-11 06:32] TBBle commented on #6701
A quick reading of #6862 suggests that the CRI implementation won't use `oci.WithWindowsHyperV`, but will rely on the runtime setup passing config `Options.SandboxIsolation` directly to the shim (and then https://github.com/microsoft/hcsshim/pull/1388 is doing the same thing as `oci.WithWindowsHyperV` in response to that option).

So there might be value in implementing the tests as I described he

[2022-05-11 09:04] flavienbwk commented on #6203
On Ubuntu 18.04, I had to downgrade Docker to `20.10.7-0ubuntu1~18.04.1`

[2022-05-11 10:36] GerardoGR commented on #4478
This issue has been here for some time already and I haven't checked containerd's code for handling the signal but by trying at least sending `SIGHUP` to the `containerd` it restarted the process, which means that it worked. This was tested in a `kind` cluster though, which is similar to `k3d`. I just wanted to leave this note for future reference.

[2022-05-11 17:14] jterry75 commented on #6896
I think we should manifest them. Docker already does this as well and it doesnt require us to pull in any part of hcsshim for manifesting if we put it in the containerd repo. It also allows us to have a really cool default icon when containerd is running for the binary :). <-- Which is a huge plus.

[2022-05-11 23:32] ruiwen-zhao opened #6930 "Arbitrary image pinning support (i.e. to exclude from kubelet's image GC)"
### What is the problem you're trying to solve

Containerd users should be able to pin (i.e. to exclude from kubelet's image GC) arbitrary images.

There is an existing PR (https://github.com/containerd/containerd/pull/6456) pins sandbox image. However, we may want to generalize the functionality and allow users to pin arbitrary images.  Creating this issue to discuss and (hopefully) finalize the

[2022-05-11 23:51] ruiwen-zhao commented on #6930
cc @mikebrow @adisky

[2022-05-12 01:22] AkihiroSuda commented on #6930
Discussed in:
- https://github.com/opencontainers/distribution-spec/pull/320

[2022-05-12 07:17] dcantah commented on #6896
How could I forget the best part of manifesting 😆.

[2022-05-12 08:05] kangclzjc commented on #6522
@cardyok @fredkan It seems a good idea for user to specific upper path.

I think there are two options here:

1. Setting upper path in /etc/containerd/config.toml, like upper_path = "/tmp/containerd/overlayfs/snapshots", if we specific it, then all ther upper layers will be store on this path. But it only sperate lower layers with upper layers.
2. Use labels to indicate that each upper layer snaps

[2022-05-12 12:38] TBBle commented on #6896
As long as someone can hunt down a better source than https://containerd.io/favicon.png

[2022-05-12 19:13] dcantah commented on #6896
Where there's a will there's a way 😎

[2022-05-12 20:30] mikebrow commented on #6896
svg pls :-)

[2022-05-13 01:39] fuweid commented on #6903
close by #6938

[2022-05-13 01:40] #6903 closed

[2022-05-13 02:56] aqucy commented on #6876
i get this problem too,and my version also using 1.6.4.

containerd containerd.io 1.6.4 212e8b6fa2f44b9c21b2798135fc6fb7c53efc16

FATA[0000] failed to create shim task: OCI runtime create failed: runc create failed: unable to start container process: error during container init: error running hook #0: error running hook: exit status 1, stdout: , stderr: time="2022-05-13T10:50:18+08:00" level=fatal

[2022-05-13 03:00] hakman commented on #6876
@aqucy Looks like in your case it complains about `plugin type="bridge"` and this issue was about `plugin type="loopback"`. Maybe you should open a separate issue mentioning that it looks very similar to this one.

[2022-05-13 16:38] mikebrow commented on #6876
@aqucy.. with a 1.0.0 cni bridge config setting you need a version of your bridge cni plugin installed that supports the 1.0.0 config. From your error out it looks like you have an older 0.4.0 ish cni bridge type plugin... As an alternative.. you should be able to enter 0.4.0 for your config.  This probably happened by updating the config, but not the binary plugin(s).

Cheers, Mike

[2022-05-13 16:43] mikebrow commented on #6876
Would need to see your error log pls, with debug on would be great, or possibly also see your cni config? Alternatively, I would recommend looking into updating your cni config and cni plugin(s).. or you could stick with an older version of containerd such as 1.5.11 if you don't want to move up to the new version of cni.  Some of the cni network providers are still catching up.

[2022-05-13 18:42] estesp commented on #6700
Thanks!

[2022-05-13 18:42] #6700 closed

[2022-05-13 21:57] felipecrp commented on #4581
This comment saved my day 👍 . The default docker configuration remove CLI.

[2022-05-14 05:57] Iceber opened #6944 "The database schema for metadata is inaccurate, and the namespace name cannot be `version`"
### Description

The `version` key should actually be in the `v1` buckets.

https://github.com/containerd/containerd/blob/b9bffd1f38c7e85f433c22d0968cffb196ede000/metadata/buckets.go#L45-L55

**code**:
https://github.com/containerd/containerd/blob/b9bffd1f38c7e85f433c22d0968cffb196ede000/metadata/db.go#L194-L204

**use [bbolt cmd](https://github.com/etcd-io/bbolt/tree/master/cmd/bbolt)**
[code]

*

[2022-05-14 09:10] AkihiroSuda commented on #6944
It might be difficult to change the schema without breaking existing data. I'd suggest just mark this `wontfix` and add a document to explain that a namespace cannot be named "version".

[2022-05-14 09:42] rezneckuss commented on #6203
Hi, I have a similar problem, I have been fighting it for a week with no success. I have the same problem on every system image available for bananapi m5 that I have.

# sudo docker run --rm -it hello-world
Unable to find image 'hello-world:latest' locally
latest: Pulling from library/hello-world
7050e35b49f5: Pull complete
Digest: sha256:80f31da1ac7b312ba29d65080fddf797dd76acfb870e677f390d5acba97

[2022-05-14 10:02] AkihiroSuda commented on #6203
Seems irrelevant to the OP.
Please recompile your kernel with `CONFIG_CGROUP_BPF=y`. Perhaps you need `CONFIG_CGROUP_DEVICE=y` too.
Another workaround is to disable cgroup v2 by appending `systemd.unified_cgroup_hierarchy=0` to the kernel cmdline.

[2022-05-14 10:31] rezneckuss commented on #6203
problem is that I have CONFIG_CGROUP_BPF=y and
`# cat /boot/cmdline.txt
console=serial0,115200 console=tty1 root=PARTUUID=d97f5830-02 rootfstype=ext4 fsck.repair=yes rootwait quiet init=/usr/lib/raspi-config/init_resize.sh splash plymouth.ignore-serial-consoles systemd.unified_cgroup_hierarchy=0`
does not do anything :(

[2022-05-15 00:16] coreybx commented on #6009
Fixed for my vanilla F36 install. Same symptoms. `SystemdCgroup = true` actually solved the issue for me. Without it I had the same symptoms

[2022-05-15 11:23] TBBle commented on #6896
I put up a draft PR at #6945, basically an afternoon of poking at the issue. It's not _great_ (most of the PR description is a list of flaws) but I would welcome any early feedback on direction or choices, made or unmade.

I can't give go-winres an SVG file as an icon, but I did create the PNG _from_ the SVG (and it's then converted into a bitmap AFAIK), so I considered that to be close-enough. ^_

[2022-05-16 17:32] LuksJobs commented on #4581
Thanks! You help-me with this solution!!!

[2022-05-16 19:58] bmichaud commented on #2401
I am now getting what appears to be the same issue. I am on MacOS 12.3.1
I am working in a colima/lima environment, which is running this version of containerd:
`containerd github.com/containerd/containerd v1.5.8 1e5ef943eb76627a6d3b6de8cd1ef6537f393a71`

I am getting the following error while building a Docker image from a base node image (node:14.19.1 for building and node:14.19.1-alpine3.15 for

[2022-05-17 00:08] BuildAndDestroy commented on #4581
Heads up, this just happened to me on a clean install of Kubernetes v1.24.0 on Ubunutu 20.04.4 LTS. The original fix helped me as well.

Exception:
[code]

Corrected:
[code]

[2022-05-17 05:03] dhiman360 commented on #6662
Hi @mikebrow, if you have any progress on this, please let us know.

[2022-05-17 07:57] #6852 closed

[2022-05-17 08:14] mikebrow commented on #6662
| @mikebrow Splitted the issue and created another one -- https://github.com/containerd/containerd/issues/6852

I closed that one as it was written up as a duplicate pointing to this issue.

| @mikebrow Any update about this ticket ?

no update...

| Is there any estimate, when this might get fixed ?

no estimate..

...
Did you want to change the description of this issue? Or split it out into two

[2022-05-17 12:57] gnthibault commented on #4565
This feature seems particularly relevant, especially given the fact that docker runtime got deprecated in GKE 1.24.

[2022-05-17 22:30] shuaichang commented on #6657
Per discussion in https://github.com/containerd/containerd/pull/6899, the following is a list of open tasks for fully close this issue but are not blocker for the PR to merge:

- [ ] Add CI integration tests for the new feature
- [ ] A KEP to drive the collaboration between kubelet and CRI, this KEP includes details regarding passing runtime via PullImageRequest, snapshot usage aggregation and Kub

[2022-05-18 07:59] mimmus opened #6953 "Containerd service not restarting (and many pods stuck in Terminating status)"
### Discussed in https://github.com/containerd/containerd/discussions/6949

<div type='discussions-op-text'>

<sup>Originally posted by **mimmus** May 17, 2022</sup>
Hi,
we are tied to CentOS 7.9 and containerd.io-1.4.7-3.1.el7.x86_64, as these are currently the supported releases from our k8s distro.
We are experiencing many issues with containerd service not restarting (and, as a consequence, no

[2022-05-18 08:33] Iceber commented on #6944
Yes, it is difficult to change the schema used in the metadata, but the `metadata schema comment` is inaccurate and does the schema comment need to be changed to be consistent with the current implementation？

Or is it just necessary to explain in the [namespace doc](https://github.com/containerd/containerd/blob/main/docs/namespaces.md) that *namespce cannot be named ”version“*.

[2022-05-18 08:48] AkihiroSuda commented on #6944
Yes, the comment has to be updated

[2022-05-18 12:55] dcantah commented on #6694
This change adds support to use Mark's new field added to CRI https://github.com/containerd/containerd/pull/6918

[2022-05-18 14:56] mikebrow commented on #6953
I don't see the containerd CRI plugin being loaded in your log of the containerd service startup.. My guess would be your config.toml has disabled the CRI plugin.

[2022-05-18 15:41] mikebrow commented on #4565
ctr is not meant to be a replacement for docker.. but it does support passing in container env variables and from env-file(s). ctr c create --help

nerdctl is meant to be a replacement for docker and also has support for env flags:
- 🐳 🟦 --entrypoint: Overwrite the default ENTRYPOINT of the image
- 🐳 🟦 -w, --workdir: Working directory inside the container
- 🐳 🟦 -e, --env: Set environment variables

[2022-05-19 07:31] kangclzjc commented on #6522
@qiutongs , do you think this feature should be involved into containerd ?

[2022-05-19 07:48] mimmus commented on #6953
Hi, Mike!
In my environment, config.toml is not managed directly by me but it is created by config script of our k8s distro, "injecting" some pieces configured in a yaml file.
It's surely possible that I introduced some rubbish when I configured our Docker Hub account details but "containerd" service starts without issues at node reboot but, after some time, it becames unresponsive at service rest

[2022-05-19 07:58] mikebrow commented on #6953
injecting is fine... but if you don't have a config.toml in the first place.. containerd will startup using defaults at first.. then after the injections on restart containerd will not use the defaults because you have a config.toml made up of the injections. Let's see your config.toml.. here or over on slack is fine.. remove any secure information first :-)

[2022-05-19 08:00] mimmus commented on #6953
[code]

[2022-05-19 08:34] mimmus commented on #6953
do I need to:
- stop containerd service
- start from cli in debug mode
?

[2022-05-19 08:51] mikebrow commented on #6953
that works.. service containerd stop  ... sudo containerd -l debug

[2022-05-19 10:02] mimmus commented on #6953
Here is debug output:
[containerd-debug.log](https://github.com/containerd/containerd/files/8728077/containerd-debug.log)

I think that containerd never ended its startup process, I was unable to interrupt with CTRL-C, node was in NotReady status, then I rebooted it.

[2022-05-19 10:48] mikebrow commented on #6953
if you can't ctrl c you can kill it.. if it's not coming up that usually means another version is running on the same set of config paths

[2022-05-19 11:29] mikebrow commented on #6953
I'd let it finish cleaning up ...

[2022-05-19 11:46] mikebrow commented on #6953
basically on restart of containerd .. we don't know if containerd is being restarted.. or if the host was restarted..  containerd is attempting to reconnect with your shims that are managing the containers you had running at some point in the past.. it is taking a long time to do that because of a hard reboot without first stopping and removing those containers... possibly due to the issue you men

[2022-05-19 11:58] mikebrow commented on #6953
unfortunately it looks like that cleanup process 1.5min per shim? takes long enough to make it appear it will never come up and that is causing a third issue of systemd[1]: containerd.service start operation timed out. Terminating.

[2022-05-19 14:59] mikebrow commented on #6953
strat..
1) figurę out the initial problem, fix that...
2) consider if you want to wait for cleanup to finish.. or explore a different way to reset your node

[2022-05-19 16:18] kzys commented on #5670
It should be fixed by #6498. Thanks @jepio! I'm going to backport that to 1.5.x.

[2022-05-19 16:18] mimmus commented on #6953
problem is that our k8s distro’s management script (a mix of Terraform+Ansible) sometimes decides to restart containerd and dies.
in addition, I suspect that forcibly deleting pods in Terminating state leaves ‘zombies’ around in containerd and in the OS.

I will explore the chance to try a more recent version of containerd or a different OS.

[2022-05-19 16:37] kzys commented on #5670
#6961 will fix the issue in 1.5.x.

[2022-05-19 16:38] jterry75 commented on #6551
https://github.com/microsoft/hcsshim/pull/1399 - @helsaawy - Upstream is very interested in it :)

[2022-05-19 17:51] kzys commented on #6710
Resolving. Based on the discussion in #6869, we wouldn't have the option.

[2022-05-19 17:55] kzys commented on #6202
Resolving. As @estesp said, we cannot do much regarding this issue. The server is owned and maintained by GitHub.

[2022-05-19 17:55] #6202 closed

[2022-05-19 18:11] BenTheElder commented on #6710
There are scenarios where the images need to be unpacked before kubelet is ready anyhow, since e.g. CNI is often managed via an image. This is the case in https://kind.sigs.k8s.io/ at least, I'm struggling to identify where it wouldn't.

I don't think it's a very realistic scenario that there are lots of unpacked images that will take too long *and*  the node would have been ready without unpackin

[2022-05-19 20:56] kzys commented on #6710
Regarding your comment on #6869

Would it make time-no-node-ready faster than what it is? Regardless of whether we do the unpack during recovery or container launch, the cost of the operation should be the same.

[2022-05-19 21:07] BenTheElder commented on #6710
We should be able to unpack in the background on containerd startup while other blocking activities are performed (e.g. cert and kubeconfig generation), then we will likely already be done by the time kubelet/kubeadm schedule pods using the images.

[2022-05-19 21:19] kzys commented on #6710
I see. I believe #6869 was doing that in a blocking way, but we could have that in the background.

That being said, it may be better to see the whole latency profile of the recovery process rather than starting from this specific implementation. I'm not really sure this is the slowest operation.

[2022-05-19 21:29] BenTheElder commented on #6710
ACK -- also to clarify, in this case containerd as a process as a whole is sort of "in the background" since it's just one component of the CRI-ful environment and not blocking to early bootstrap steps. But then later image unpack will block starting containerized components.

I think it would also make sense to run the unpack async within containerd recovery, since it would have previously been d

[2022-05-20 00:08] mikebrow commented on #6710
would like to add runtime handler to the image services apis.... as an option probably open a KEP for it soon so we can have n-snapshotters one per runtime handler .. see discussion here: https://github.com/containerd/containerd/pull/6899

... the warn could be made a debug message

After seeing this message today "May 17 13:37:08 ip-10-161-14-214.eu-central-1.compute.internal systemd[1]: containe

[2022-05-20 01:49] shinebayar-g opened #6964 "[plugins."io.containerd.grpc.v1.cri".containerd.runtimes.runc] default configuration isn't working"
### Description

After migrating to containerd, kubernetes pods were failing to start with error
[code]

After investigating I noticed default configuration isn't consistent with runtime configuration. _(Is it correct to assume `containerd config dump` is a runtime configuration?)_

### Steps to reproduce the issue

1. Start containerd with following configuration
I changed only 2 values but decid

[2022-05-20 02:17] fuweid commented on #6964
the runtime_type is required field.

'runc' in config is runtime handler name, which is used with kubernetes runtime class. If the pod doesn't have runtimeClass, containerd will use default_runtime_name as default runtime handler.

[2022-05-20 02:37] shinebayar-g commented on #6964
Got it. If `runtime_type` is required, should it default to empty? Why it becomes empty if there is a default value?
`container config default` gives default value `runtime_type = "io.containerd.runc.v2"`.

Also this https://github.com/containerd/containerd/blob/main/docs/cri/config.md?plain=1#L278-L282

[2022-05-20 02:46] fuweid commented on #6964
it can't be empty. The user must set it with valid value. :p

[2022-05-20 07:36] mikebrow commented on #6964
The config default command outputs the containerd default config file. Use that config as a starting point to making a custom config.  ```containerd config default > /etc/containerd/config.toml```

If you don't have a config.toml containerd will presume you want the config default.  If you have a config.toml containerd will presume that config is what you want to use as the actual config.

Running

[2022-05-20 12:47] mimmus commented on #6953
It seems that our nodes are missing this kernel parameter:
`fs.may_detach_mounts`
Setting it to 1:
`echo 1 > /proc/sys/fs/may_detach_mounts`
released all containers in Terminating status and I'm confident that this will solve also the containerd restart issue.

[2022-05-21 06:19] TBBle commented on #6551
I the re-exec in Docker is used to isolate _taking_ privileges, rather than dropping them. Extracting WCOW container image operations require taking some subset of `SeSecurityPrivilege`, `SeBackupPrivilege`, and `SeRestorePrivilege` (See Docker [layer compare](https://github.com/moby/moby/blob/master/daemon/graphdriver/windows/windows.go#L568), [layer exporter](https://github.com/moby/moby/blob/ma

[2022-05-22 08:17] henry652341974 opened #6970 "kubeadm init failed:" list all containers using your preferred container runtimes CLI.""
kubeadm init --image-repository=registry.aliyuncs.com/google_containers
[init] Using Kubernetes version: v1.24.0
[preflight] Running pre-flight checks
	[WARNING FileExisting-tc]: tc not found in system path
[preflight] Pulling images required for setting up a Kubernetes cluster
[preflight] This might take a minute or two, depending on the speed of your internet connection
[preflight] You can also

[2022-05-22 08:56] henry652341974 commented on #6970
I suspect it has something to do with the Internet. Chinese networks cannot access "k8s. CGR. IO", so only kubeadn init plus "-- image repository = registry. Aliyuncs. COM / google_containers" parameter. Kubernetes officially recommends docker and others to use SYSTEMd as CGroup driver. I've tried and I can't.

[2022-05-22 09:11] henry652341974 commented on #6970
I've tried the same：
vim /etc/fstab
#UUID=659e6f89-71fa-463d-842e-ccdf2c06e0fe /                       ext4    defaults        1 1

echo "KUBELET_EXTRA_ARGS=--fail-swap-on=false" > /etc/sysconfig/kubelet
---
but its not work~!The error message is the same as above

[2022-05-22 09:17] henry652341974 commented on #6970
[root@VM-12-9-centos ~]# cat /proc/sys/net/bridge/bridge-nf-call-ip6tables
1
[root@VM-12-9-centos ~]# cat /proc/sys/net/bridge/bridge-nf-call-iptables
1

[2022-05-22 15:17] henry652341974 commented on #6970
Hello, everyone, the installation succeeded, but I still haven't solved the problem, but my inspiration should be that the latest version of "docker" is incompatible with "kubadm". If you install the latest version by default, there will be my problem. However, if "docker" and "kubedm" specify a historical version, it can be easily solved. I installed it like this:
#Environment, pure CentOS 7 six

[2022-05-22 15:45] henry652341974 commented on #6970
### 重复上面安装把docker安装成默认的最新版本，kubeadm安装1.17.0
yum -y install docker-ce
docker -v
Docker version 20.10.16, build aa7e414
...如上

### 成功！

### 重复上面安装把docker安装成docker-ce-18.06.1.ce-3.el7，kubeadm安装成默认的最新版本
yum -y install docker-ce-18.06.1.ce-3.el7
docker -v
Docker version 18.06.1-ce, build e68fc7a
...如上
yum install -y kubelet kubeadm kubectl
出错了
[root@VM-12-9-centos yum.repos.d]# kubeadm init --apiserver

[2022-05-22 19:59] #6964 closed

[2022-05-23 12:03] gjkim42 commented on #6095
I have the same issue here. How can I recover from this state?

Is there anyone working on this?

[2022-05-23 15:58] helsaawy commented on #6551
From what I can tell, we can use `winio.RunWithPrivileges` to disable `SeBackupPrivilege` and `SeRestorePrivilege` and other privileges after the function completes, but this does not remove them from the process. They are still added, just not enabled.
However, it does lock the OS thread, which might be an issue if other operations are happening in containerd, since it may increase load on other

[2022-05-23 19:11] selansen commented on #4984
@fuweid if we backport this into 1.6.x branch,  do we need to worry about any dependency?
Kindly advise.

[2022-05-23 20:44] ruiwen-zhao commented on #6930
Seems like https://github.com/kubernetes/kubernetes/issues/109936 and the corresponding PR https://github.com/kubernetes/kubernetes/issues/109936 are trying to achieve pinning arbitrary images by adding a new kubelet config, and therefore avoid relying on containerd to provide the list of images to be pinned.

[2022-05-23 21:35] mikebrow commented on #6930
we have a gc in kubelet, and one in containerd, and user/admins have tools ..

we definitely need to work together on this and other image services.

[2022-05-23 21:49] BenTheElder commented on #6930
https://github.com/kubernetes/kubernetes/issues/109936 brought up https://github.com/kubernetes/kubernetes/commit/d3ae0a381ac8d90d8a532bd502e685a2641ea9db#diff-583fcb2b2b9fed64e8ac45392565a924918b4a64a7d4b66df0d4bccd298e8769R1259

maybe it should be more than a recommendation ?

[2022-05-23 22:12] mikebrow commented on #6930
IMO there should be levels of priority for image retention in the gc process, beyond the least recently used/size metric used today. But that's a different issue than pinning.

IMO pin is a recommendation to not delete an image during gc, (last to remove in level if you have levels).

[2022-05-23 22:15] mikebrow commented on #6930
locking from removal for security or other administrative reasons.. that would be different than pin.. though it depends on the definition of pin? .. if the pin is locked to a security process that would be interesting.

[2022-05-23 22:28] ruiwen-zhao commented on #6930
Yep. But for the purpose of this issue, I am trying to limit the scope to only generalizing the `pinned` field to support arbitrary image. The only GC in scope is the one in kubelet.

[2022-05-23 22:29] ruiwen-zhao commented on #6930
I am ok with keeping it as a recommendation, if the contract around `pinned` field clearly says so.

[2022-05-23 23:50] BenTheElder commented on #6930
FWIW, in side-loaded image scenarios we desire to have 100% never-GCed images (consider pause) that may not have ever been pulled and may not be pullable (airgapped etc).

KIND preloads core images and so does GKE, wouldn't be surprised if others do as well. For those images GCing them is counter productive, and the kubelet GC is rather naive.

[2022-05-24 00:01] dmcgowan commented on #6930
In this scenario is the preloading for warming the cache or because the image may not otherwise be available to pull? From a cleanup perspective, if the space is needed, they should be collectible. Having a naive implementation when they should be prioritized or scored in some way makes that complicated.

For images not needed for running pods, the recommended way is not using `k8s.io` namespace.

[2022-05-24 00:39] BenTheElder commented on #6930
For kind the former, we may be running an unpushed development build of Kubernetes.
For GKE on GCP the latter, but I know other products also have the former.

Er - kubelet makes the selection today and kubelet's selection is naive. And kubelet is just trying to free up disk by any means, but doesn't have knobs for this (it has one deprecated knob for pause).

I don't think that's being discussed

[2022-05-24 04:40] harshanarayana commented on #6930
Here is my two cents from previous disasters we have had to deal with because of image GC

Indeed. However, there should still be a way to retain certain cluster critical images, that when missing can take the entire cluster down with it. Take the following example.

1. In our cluster, all of the DNS resolution goes via the `coredns`. i.e Host forwards all requests to the coreDNS which get forward

[2022-05-24 09:27] BrunoJuchli commented on #6300
Looks to me like this is a duplicate of https://github.com/containerd/containerd/issues/5067

[2022-05-24 09:33] ckruegerkpmg commented on #6300
@BrunoJuchli

ACK

[2022-05-24 15:49] jterry75 commented on #6551
We need to do both right? We want to a) run with lower priv's during extraction phase and b) run with minimal but enhanced (Backup) priv's for layer initialization phase. Containerd should not use service priv's when extracting the tar and also containerd should not inherit Backup privs long term. Arent both of these correct?

[2022-05-24 18:14] jonaskello commented on #6508
I'm also having this problem. Cannot use Windows Server 2022 with containerd because errors of missing image in manifest. Has there been any progress?

[2022-05-24 18:38] jsturtevant commented on #6508
@jonaskello this issue is for a slightly different reason.  WS2022 images will work on Windows Server 2022 in containerd.  In your shared code you are referencing the tag `1809` which is a 2019 image so the error is expected, please try the tag `ltsc2022`.  Like `crictl pull mcr.microsoft.com/windows/servercore:ltsc2022`

[2022-05-24 20:06] mikebrow commented on #6953
[do we need to add a spot check for this ](https://bugzilla.redhat.com/show_bug.cgi?id=1441737)

[2022-05-24 22:13] jonaskello commented on #6508
@jsturtevant Yes, my issue is more like #170 which talks about downward combability. However that issue was closed in favor of this issue which is why I ended up commenting here.

I tried with `ltsc2022` and it does work. However we have a lot of images built with previous versions. Are you saying these images (eg.  servercore:1809) will never be supported on Server 2022 with containderd?

[2022-05-25 01:42] hoony9x commented on #4581
I have a same issue with kubeadm `v1.24.0` in CentOS 7.9

[2022-05-25 01:45] RuoCJ commented on #4581
I use ubuntu 20.04 and kubeadm v1.24.0

[2022-05-25 03:48] shan100github opened #6984 "Error message received during crictl pull needs improvement."
### Description

To support a private registry made the following entry in TOML file.
[code]

While pulling the image with **crictl** below error is displayed.

DEBU[0000] get image connection
DEBU[0000] connect using endpoint 'unix:///run/k3s/containerd/containerd.sock' with '10s' timeout
DEBU[0000] connected successfully using endpoint: unix:///run/k3s/containerd/containerd.sock
DEBU[0000] PullI

[2022-05-25 04:53] lippertmarkus commented on #6508
@jonaskello As far as I understand https://techcommunity.microsoft.com/t5/containers/windows-server-2022-and-beyond-for-containers/ba-p/2712487 downward compatibility will be available *starting* with WS2022. So all hosts 21H2 or newer can run "old images" down to 21H2.

[2022-05-25 07:21] jonaskello commented on #6508
@lippertmarkus Aha, I was not aware of that, thank you! Now I can stop trying to make that work and rebuild our images for WS2022 instead :-)

[2022-05-25 09:40] ankitdbst commented on #6639
@Random-Liu Is this option provided in the CRI plugin? I am looking to have the kubernetes created containers use the logging plugin mentioned in #3085

[2022-05-25 11:05] TBBle commented on #6508
To run Windows Server 2019 (1809) containers on Windows LTSC 2022 (21H2), you must run them in Hyper-V isolation. As noted, that's not this ticket.

For CRI, see #6862, which hopefully will take care of `crictl pull` for non-version-matching container base images while taking care of support for Hyper-V in CRI. (Currently the plan is to punt it to "future", but that's the place to track this use-c

[2022-05-25 11:14] TBBle commented on #6862
Since it just came up in #6508, I thought I'd record a thought about the (punted to future) different platform-matcher use-case for Hyper-V isolation, from a question about using `crictl pull` for a LTSC 2019 image on LTSC 2022 host.

(Quoting myself because it's a bit out-of-context)

In the discussion of #6491, I think we had agreed that this would be done with a custom matcher. I don't recall a

[2022-05-25 17:44] brasmith-ms opened #6989 "Improve the error message when pulling images on incompatible Windows OS version"
### What is the problem you're trying to solve

Copied from https://github.com/microsoft/Windows-Containers/issues/223

When pulling a Windows Server 2022 image in Windows Server 2019 nodes, check the pod events:
[code]
Users are confused about it.

### Describe the solution you'd like

Users want to see a clearer message showing what happens and how to do it.
E.g., the current windows server 2019

[2022-05-25 17:45] brasmith-ms commented on #6989
Copied from https://github.com/microsoft/Windows-Containers/issues/223

@ShiqianTao

[2022-05-25 18:20] ibabou opened #6990 "panic.log on Windows is filled with containerd logging (with no panics) - causes disk overload"
### Description

OS: Windows Server 2019 - LTSC

panic.log file under:
[code]

Will show as 0 length, but when checking the actual size/content, it appears to be filled (even with some debug-level logs) although the containerd service is not panic-ing:
[code]

This is from a node that have been running for ~45 days, with no restarts to the service - and no much operations happening at all. Contain

[2022-05-25 22:01] mikebrow commented on #4581
there is no dockershim in kubernetes v1.24 you'll need to install and configure containerd or cri-o

[2022-05-25 22:02] mikebrow commented on #4581
what same issue?

[2022-05-25 22:04] marosset commented on #6990
/cc @dcantah

I saw the same behavior on v1.6.1

[2022-05-25 22:16] dcantah commented on #6990
Looking into this

[2022-05-26 00:59] RuoCJ commented on #4581
Thank you very much for your reply. I will try it.

[2022-05-26 04:53] zvier commented on #759
We set xfs quota to limit rw layer disk usage with use dockerd as container.
[code]
But when consider switch to containerd, this feature will lost. It seems that this feature is also needed for containerd.

[2022-05-26 17:32] steved opened #6991 "Unable to unpack a specific image using naive tar extraction - symlink already exists error"
### Description

Unpacking is failing for a very specific image and I think I've tracked it to an issue with containerd specifically. This is somewhat an edge case as I've only encountered it with the fuse-overlayfs snapshotter. I don't believe it's a problem with fuse-overlayfs itself, but rather the "naive" tar unpacking code path and potentially the whiteout handling within:
https://github.com/

[2022-05-26 18:06] ruiwen-zhao commented on #6930
I am also putting here our case and why we need to exclude images from GC:

We preload the GPU driver installer images on the nodes with GPUs attached, and more specifically we preload different driver installer images onto different nodes based on hardware types. To make it easier to use for our customers, we give the same name to all the driver installer images regardless of their versions, so t

[2022-05-26 21:58] kevpar commented on #6990
@dcantah Anything from the shim log pipe is redirected to stderr by containerd. So if the shim writes to its log pipe then it ends up in panic.log. This can be worked around with the runhcs shim by setting an option to not write logs to the pipe (they are still accessible via ETW). Maybe there should also be an option in containerd to not redirect in this way. It's been a while since I looked at i

[2022-05-26 22:00] dcantah commented on #6990
Yea I found this last night, so used to ETW. Been thinking on how best to handle this today

[2022-05-26 22:37] marosset commented on #6990
Why is stderr getting logged to panic.log?
I don't know that is the behavior we want here.

[2022-05-27 01:22] fuweid commented on #6921
After github.com/containernetworking/cni#985 has been fixed, I test it with the commit in my local. It can fix this issue.

REF: https://github.com/fuweid/containerd/commit/cfb4e22bc7f4475c736028299f09de584c58ac29

[2022-05-27 01:38] dcantah commented on #6989
Might be tricky given where this error is thrown but I'll try..

[2022-05-27 04:20] kevpar commented on #6990
Go doesn't provide any way to explicitly redirect panic output, so the only way to achieve this is to redirect the stderr handle to a file. Unfortunately this means anything else that ends up going to stderr is also redirected.

[2022-05-27 06:35] ibabou commented on #6990
Regarding the option of controlling this through an option for runhcs, is it something configurable today? or can be easily set while building the shim binary?

[2022-05-27 09:40] pratmeht commented on #4581
Hi,

I had this same error. "failed to pull images... rpc error ...unknown service...
I had raised a ticket and was redirected to this page.

Referring the steps given to top, it solve my problem for K8s 1.24 on RHEL 8.2
However same steps did not help me on  K8s 1.24 on CentOS 7.9. Here I continue to receive same error msg! :(

[code]

Can someone pls help.

[2022-05-29 07:42] fuweid commented on #6944
fixed by #6955

[2022-05-29 07:42] #6944 closed

[2022-05-31 19:54] MagicRB opened #7006 "Resolve symlinks before lstat on a device file"
### Description

When containerd goes to check whether a particular device listed in the Spec is an actual dev, char or fifo it doesn't first resolve symlinks, therefore it fails on stable device nodes created by udev and such.

### Steps to reproduce the issue

1. Start containerd
2. Start a container with a device pointing to `/dev/serial/by-id/...`
3. Error

### Describe the results you receive

[2022-06-01 09:03] hanamantagoudvk commented on #6662
I came across KEP and PR which was raised long ago , but many concerns were raised and people couldn't come to conclusion.

https://github.com/kubernetes/enhancements/pull/1224

https://github.com/kubernetes/kubernetes/pull/59092

[2022-06-01 18:19] shinebayar-g commented on #6953
Thanks @mimmus for the solution, looks like this setting was handled by Docker engine automatically, but on containerd it's missing.

I had some pods stuck at `Terminating` state and I found these logs in containerd.
[code]

I couldn't map the containerd taskID to kubernetes pod, but after running `echo 1 > /proc/sys/fs/may_detach_mounts`, terminating pods were gone.

[2022-06-02 04:29] MrHohn opened #7010 "Pods stuck on `ContainerCreating` after containerd is restarted"
### Description

We see a problem in production that some pods stuck on `ContainerCreating` after containerd is restarted.
[code]
Particularly the error was related to container veth creation:
[code]

### Steps to reproduce the issue

Here are the reproduction steps I have been using:
1. Create a one-node k8s cluster.
2. Create a nginx deployment with 10 replicas.
3. Once the pods get into the `Co

[2022-06-02 04:48] MrHohn commented on #7010
cc @aojea @squeed

[2022-06-03 14:39] Joseph-Goergen commented on #5563
Can we please get some kind of update or indicator that this is even being tracked at all?

[2022-06-03 17:55] AkihiroSuda opened #7020 "RELEASES.md: track experimental features"
https://github.com/containerd/containerd/blob/main/RELEASES.md should track experimental features as well as deprecated ones, e.g., overriding of CRI snapshotter https://github.com/containerd/containerd/pull/6899/files

[2022-06-03 17:57] mikebrow commented on #5563
Hello @aojea .. it makes sense to either
- have a keep alive pattern that works under the overarching streaming protocol with timeouts longer than the ping cycle (not sure what happened to your SPDY PR )
- or to have a higher level change to our shared CRI streaming api for the client to request a server side no progress timeout

[2022-06-03 23:47] kzys commented on #5824
Seems 1.15.15 works for me.

Dockerfile

[code]

Result

[code]

[2022-06-04 00:03] dcantah commented on #6990
So I think I might have a fix here, @ibabou want to confirm something however.

The log file you mention, is this a log file specified via the --log-file arg or you're just redirecting stderr somewhere yourself?

[2022-06-04 00:08] dcantah commented on #6990
And yes, the shims logging output is configurable via the containerd config file. There's three options, only two of which are functional  (NPIPE and ETW) https://github.com/microsoft/hcsshim/blob/master/cmd/containerd-shim-runhcs-v1/options/runhcs.proto#L16-L23.

An example of changing this would be:

[code]

This would emit the shims logging via ETW, where you'd have to have something ingesting

[2022-06-04 00:30] ibabou commented on #6990
Yeah, this the log file being set when registering the windows service (--register-service --log-file <the_path_to_log_file>).

For the change to emit the shims logs to ETW, would it mean that some logs won't be captured in the above log?

[2022-06-04 00:33] kzys commented on #5824
I clearly didn't read @tianon's message above. Non-PIE static build is totally possible.

Dockerfile

[code]

`docker build . -t foo --build-arg GO_VERSION=1.18 -f good.Dockerfile` worked for me.

[2022-06-04 00:47] dcantah commented on #6990
@ibabou Yes, it would miss the shims logging as far as I can tell.

[2022-06-04 00:47] dcantah commented on #6990
I have a change in mind to be able to send the shims logs to the same logfile (and avoid writing to panic.log as well).

[2022-06-04 00:52] ibabou commented on #6990
That would be awesome! As we don't lose the information and keep the panic.log for its actual use-case. Thanks Danny for looking into this!

[2022-06-04 02:09] fuweid commented on #6921
fixed by https://github.com/containerd/containerd/releases/tag/v1.6.5

[2022-06-04 02:09] #6921 closed

[2022-06-04 06:01] #6194 closed

[2022-06-04 20:23] ReillyBrogan commented on #6921
Not that it's not a good thing that this issue was fixed, but anyone still using Weave Net as their CNI plugin should seriously be planning their migration to a different CNI at this point. Weave Net is clearly unmaintained by its developers in favor of their other products and you should assume it to be fundamentally insecure at this point to keep using it. Just a quick glance shows that the curr

[2022-06-06 06:46] dcantah commented on #6990
Change I was thinking of here https://github.com/containerd/containerd/pull/7023

[2022-06-06 07:27] slhmy opened #7024 "`ctr` failed to mount host directory in container"
### Discussed in https://github.com/containerd/containerd/discussions/7015

<div type='discussions-op-text'>

<sup>Originally posted by **slhmy** June  2, 2022</sup>
I want to use `ctr` in an ubuntu pod to run special containers from `containerd` in the host.
So I have `containerd-sock` & `tmp` mounted for this pod and give `privileged` right to it.
[code]
But when I run `ctr run`, it return error

[2022-06-06 07:37] slhmy commented on #7024
I read the code in [containerd/mount/temp.go](https://github.com/containerd/containerd/blob/ee326447e5d38f1bb1ac1c6fda92b2e6b940336c/mount/temp.go).

It seems that the tempDir has been made, caught error while applying mount dir in line 61.

[2022-06-06 18:40] kzys commented on #5670
Resolving.

[2022-06-06 18:40] #5670 closed

[2022-06-06 19:17] mikebrow commented on #7024
ctr does not know what a pod is.. the CRI api that runs the pod does.. how are you running your pod? k8s?

[2022-06-07 03:16] slhmy commented on #7024
⚠️ Solution for this issue are marked in #7015.
Sorry for making a redundancy issue.

[2022-06-07 03:36] Huimintai commented on #6095
I also have the same issue with containerd v1.5.4 without restart containerd.There comes to when I update my deployment in k8s. And also when I use nerdctl run a sample nginx container,it also comes the same error:
Jun 06 20:45:29  containerd[5327]: time="2022-06-06T20:45:29.816213573+08:00" level=error msg="RunPodSandbox for &PodSandboxMetadata{Name:edge-56c86c995f-tqzz2,Uid:da70d1c2-0978-40c1-a9

[2022-06-07 03:59] gjkim42 commented on #6095
In my case, the incompatible configuration change of the containerd was the cause. Restarting the node did not work around the problem.

containerd has persistent data (/var/lib/containerd in my case).
If you are ok with removing all containers in that node,
1. drain the node and stop the containerd
2. remove persistent data of containerd (/var/lib/containerd)
3. restart the containerd

may work a

[2022-06-07 15:12] AlexAtkinson commented on #6707
Flushing all the docker components and reinstalling resolved the issue. (new containerd version released 22h ago)

[code]

Thanks!

[2022-06-07 18:15] SergeyKanzhelev commented on #7010
@qiutongs is working on fix https://github.com/containerd/containerd/pull/5904 that likely will fix this issue

cc: @Random-Liu

[2022-06-07 22:49] dcantah commented on #6989
I think for unix it probably gives enough info, on Windows the majority of the time it's just there's no 10.0.xyz present which is mostly a unique problem to windows and users would likely get more out of "no match for platform in manifest: host OS build of 10.0.17763 doesn't match any entries in sha:12345678". Problem is the platform match methods (or rather where this is complaining) doesn't hav

[2022-06-08 02:26] cardyok commented on #6522
Exactly, so the main idea is provide a method to optimize disk and IO usage on host machine, user can specify where to store upperDir with label (This path might be mounted on a device different from the root file system).

[2022-06-08 02:26] cardyok commented on #6522
Exactly, so the main idea is provide a method to optimize disk and IO usage on host machine, user can specify where to store upperDir with label (This path might be mounted on a device different from the root file system).

[2022-06-08 05:25] pacoxu commented on #6989
I don't think it is not confusing.
According the manifest spec about platform,https://docs.docker.com/registry/spec/manifest-v2-2/#manifest-list-field-descriptions, it does not mention windows host OS version compatibility.

$GOOS and $GOARCH don't include the difference between `Windows Server, version 2022` and `Windows Server, version 2019`

-- | $GOOS | $GOARCH
-- | -- | --
  | windows | 386
 

[2022-06-08 17:53] kevpar commented on #6989
The relevant documentation on the platform fields is here: https://github.com/opencontainers/image-spec/blob/main/image-index.md

This at least mentions that `os.version` could indicate compatibility based on the host OS version.

Regarding the containerd error message, I don't see a good way to make this more actionable. At the level where the error message is determined we have no way of knowing

[2022-06-08 18:07] dcantah commented on #6989
Right, this was what I was mentioning. Adding anything additional for Windows at the point where this error is returned was a bit challenging

[2022-06-09 01:59] steved commented on #6991
cc @AkihiroSuda curious what you think as it affects fuse-overlayfs.

[2022-06-09 02:57] carezkh commented on #6549
@MikeZappa87 Will PodSandboxStatus still return cached IP with your fix, if I change pod eth0 IP ?

[2022-06-09 03:00] yakir3 commented on #6876
I get a problem too, my version is
containerd  = 1.5.10
k8s = v1.23.2

ubuntu@master:~/tmp$ sudo nerdctl run --rm test
FATA[0000] failed to create shim: OCI runtime create failed: container_linux.go:380: starting container process caused: process_linux.go:545: container init caused: Running hook #0:: error running hook: exit status 1, stdout: , stderr: time="2022-06-09T10:54:34+08:00" level=fatal

[2022-06-09 06:45] ppt93 opened #7037 "reboot machine start containerd timeout"
### Description

containerd version=v1.5.10
I run 3 containerd-shim-runc-v2 in my machine。
when I reboot my machine without closing my containerd, the containerd service start faild timeout.
we can see the "journalctl -u containerd -f"
问

Jun 09 14:37:00 RainOS containerd[10720]: time="2022-06-09T14:37:00.451866130+08:00" level=info msg="loading plugin \"io.containerd.runtime.v2.task\"..." type=io

[2022-06-09 07:47] ppt93 commented on #7037
I solve with https://github.com/containerd/containerd/issues/5597。So I close this issue。

[2022-06-09 07:47] #7037 closed

[2022-06-09 09:51] yangyuliufeng opened #7039 "containerd cannot login harbor registry"
### Description

containerd cannot login harbor registry:

[code]
However, I can login with docker
[code]

### Steps to reproduce the issue

1.
2.
3.

### Describe the results you received and expected

I expect to login successfully with the correct username and passwork.

### What version of containerd are you using?

containerd github.com/containerd/containerd v1.5.8 1e5ef943eb76627a6d3b6de8cd1

[2022-06-09 15:27] EliaOnceAgain opened #7040 "Docker post upgrade (18.06->20.10) container process running but container id not recognized"
### Description

Upgraded docker engine from 18.06 to 20.10.
Docker configurations included [moby's default seccomp profile](https://github.com/moby/moby/blob/master/profiles/seccomp/default.json) as workaround for [Alpine3.14 enabled faccessat2 syscall](https://wiki.alpinelinux.org/wiki/Release_Notes_for_Alpine_3.14.0#faccessat2), and docker config `live-restore` is set to true (I know not suppor

[2022-06-10 04:59] zyfjeff commented on #5105
@ktock Is there any progress on this RFC? I'm interested in that.

[2022-06-10 07:27] wh-afra opened #7043 "how to config the private registry's authorization when using config_path in the config.toml"
### What is the problem you're trying to solve

I installed the containerd and  finished the configuarion ,It 's ok .
And  i tried  use the config_path   instead of   [plugins."io.containerd.grpc.v1.cri".registry.mirrors] and  [plugins."io.containerd.grpc.v1.cri".registry] ,since they will be deprecated .
Howerver, i met with a problem .That is ,I could not know how to set the authentication when

[2022-06-10 13:17] ktock commented on #5105
@zyfjeff  No progress yet but I think we can move this forward as this sees demands. What is your usecase? Of course contributions are welcome.

[2022-06-10 17:11] #5824 closed

[2022-06-10 17:35] kzys commented on #5467
Hmm, I cannot reproduce the issue by myself, as like @alakesh.

@fuweid @timmyyuan Is it still flaky? If not, I'd like to resolve this issue.

[2022-06-10 17:41] kzys commented on #6387
Closing? #6905 has upgraded our Kubernetes dependencies to v0.24.x.

[2022-06-10 18:08] kzys commented on #6694
@dcantah Merged the PR above. Can we close this issue now?

[2022-06-10 23:55] mikebrow commented on #6876
I believe your cni config got updated but the bridge plugin and containerd are not upgraded?  Check: ```cat /etc/cni/net.d/10-containerd-net.conflist ``` see if it says "cniVersion": "1.0.0",

[2022-06-11 08:32] stewart-yu opened #7048 "failed to create new thin device with devmapper snapshotter"
### Description

when run the command
$ sudo ctr run --snapshotter devmapper --runtime "io.containerd.kata.v2" --rm -t docker.io/library/busybox:latest test-kata uname -r in my machine A, i got the error as below:
ctr: failed to prepare extraction snapshot "extract-67xxxxx sha256:xxxxxxxxxxxxxxxx": failed to create new thin device "VolGroup01-LV_ebs-snap-1"(dev: 6): invalid argument

but snapshott

[2022-06-12 01:43] zyfjeff commented on #5105
@ktock Like the estargz snapshotter, nydus snapshotter also requires auth information to download data.

[2022-06-12 03:40] LetFu commented on #7048
I have also encountered this problem, did you change the size of baseImageSize in the containerd configuration file and the new baseImageSize is smaller than the original one.

I am using k8s and the error reported in the log is:
[code]
Then I get the log via the `dmesg` command as:
[code]
This seems to be related to the snapshot mechanism of thin-pool, where the snapshot device cannot be smaller

[2022-06-12 03:40] LetFu commented on #7048
I have also encountered this problem, did you change the size of baseImageSize in the containerd configuration file and the new baseImageSize is smaller than the original one.

I am using k8s and the error reported in the log is:
[code]
Then I get the log via the `dmesg` command as:
[code]
This seems to be related to the snapshot mechanism of thin-pool, where the snapshot device cannot be smaller

[2022-06-12 13:43] xujihui1985 opened #7049 "Fail fast if unix domain sock doesn't exists when dialer"
### What is the problem you're trying to solve

https://github.com/containerd/containerd/blob/main/pkg/dialer/dialer.go#L56

it will wait until timeout when unix domain sock doesn't exists, in some case it's better to fail fast and give the option of retry to caller, for example, in the scenario of remote snapshot, if the unix domain sock of snapshot does not yet creat, it will cause container cre

[2022-06-12 17:38] franznemeth commented on #6694
Thanks for taking care of this.

[2022-06-12 17:38] #6694 closed

[2022-06-13 01:21] Citrullin opened #7054 "[Native Snapshotter] copying of parent failed: unsupported mode prw-r--r--"
### Description

When I try to pull an imagine, I get the error
[code]
For example by using the following command:
`nerdctl pull docker.io/weaveworks/weave-npc:2.8.1`

### Steps to reproduce the issue

1.
2.
3.
I really have no clue how. It's a software RAID on Ubuntu.
IPv6 only nodes.

### Describe the results you received and expected

A fatal error. Expected would be a successfully downloaded i

[2022-06-13 12:40] bschaatsbergen commented on #5688
As this is still open, @karuppiah7890 am I able to pick this up?

[2022-06-13 14:45] yiya1989 opened #7053 "Can we support to transmit annotation from CNI to runtime?"
### What is the problem you're trying to solve

Some runtimes like clear containers or kata-containers, the runtimes may not directly use the net devices in the pod's network, so we need transmit some configs like annotations to runtimes which generated by the CNI.
For example, when the ovs-dpdk mode like kata-containers, we need to tell the kata-container runtime to use the specific vhost-user-so

[2022-06-13 15:20] fuweid commented on #7049
After check the metadata GC code, I agreed to make it fail fast because we don't want to block gc progress.
And I also check the code about proxy snapshotter client setting. The containerd already sets the backoffRetryMax=3s.
Does it fix your problem?

REF： https://github.com/containerd/containerd/blob/main/services/server/server.go#L556

[2022-06-13 15:24] fuweid commented on #7053
I think it should be handled in upstream first. https://github.com/containernetworking/cni/issues/582 :)

[2022-06-13 16:38] kzys opened #7055 "Extend Snapshotter and/or Mount to support cases where mount(2) cannot handle natively"
### What is the problem you're trying to solve

Right now containerd's snapshotter is returning Mount structs that will be passed to mount(2) as is. However it doesn't cover some use cases such as

- https://github.com/containerd/containerd/pull/5935
- https://github.com/containerd/containerd/pull/6746
- https://github.com/firecracker-microvm/firecracker-containerd/pull/573

This issue is the plac

[2022-06-13 18:14] kzys commented on #6387
Resolving. The `main` branch doesn't have the issue anymore and we wouldn't upgrade Kubernetes dependencies in 1.6 and/or 1.5.

[2022-06-13 18:14] #6387 closed

[2022-06-14 00:48] h4ghhh commented on #6549
That depands on how to change. If you bypass CRI interface and manually modify the eth0 IP, the cached IP will be return.
I found this issue because eth0 device was accidentally lost.

[2022-06-14 06:18] afbjorklund commented on #6387
containerd 1.6.4 doesn't have the issue, and was bumped in docker 20.10.15

[2022-06-14 11:11] #6911 closed

[2022-06-14 15:01] xujihui1985 commented on #7049
@fuweid thanks for reply, right, I saw the changes, as we have an old version of containerd, the dialDuration is default to 20s, so it will wait for 20s before timeout, I think it should relieve the problem in this case, I will have a try.

[2022-06-15 06:08] brandond commented on #4816
You can try starting K3s with environment variable `CONTAINERD_LOG_LEVEL=debug` and then grep the containerd logs for `cni`, since I suspect that's where your problem lies.

[2022-06-15 14:50] rata opened #7063 "Support user namespaces phase I in Kubernetes 1.25+"
### What is the problem you're trying to solve

Kubernetes 1.25 will have [support for user namespaces][kep-issue], the [phase I of the KEP][kep-phase1] will be implemented and I'm planning to write the containerd patches for that too (I have an early prototype already).

Please note that phase 1 as described in the KEP doesn't support volumes except for ephemeral ones that have the same lifecycle

[2022-06-15 16:11] EvanCarroll opened #7064 "Can not authenticate with DockerHub, but the same command works with crictl: pull access denied, repository does not exist or may require authorization: server message: insufficient_scope: authorization failed"
### Description

From this question https://devops.stackexchange.com/questions/16149/authentication-to-dockerhub-works-with-crictl-but-not-with-ctr

I can not get an authenticated pull from DockerHub. DockerHub authentication is supposed to raise the download quota. These are public images, but I need authentication to work.

### Steps to reproduce the issue

1. Create an account on DockerHub
2. C

[2022-06-15 16:14] EvanCarroll commented on #7064
Log with `--http-trace --http-debug`

[code]

[2022-06-15 16:58] EvanCarroll commented on #7064
this is solved.

https://devops.stackexchange.com/a/16150/18965

[2022-06-15 16:58] #7064 closed

[2022-06-15 20:48] kzys opened #7066 "Move fuzzers from cncf/cncf-fuzzing to this repository"
### What is the problem you're trying to solve

We have some fuzzers in https://github.com/cncf/cncf-fuzzing/tree/main/projects/containerd. However keeping them in-sync with containerd/containerd is hard.

### Describe the solution you'd like

We should move the fuzzers from cncf-fuzzing to containerd/containerd. Some of them could be rewritten with Go 1.18's native fuzzing support.

### Additiona

[2022-06-15 22:32] kzys commented on #7066
The latest version of https://github.com/AdaLogics/go-fuzz-headers brings github.com/google/go-containerregistry that has a lot of dependencies including github.com/docker/docker.

[2022-06-16 07:38] carezkh commented on #6549
So, why PodSandboxStatus in containerd returns cached results instead of actual situation like docker, Is this a bug?

[2022-06-16 09:54] rata commented on #7063
@AkihiroSuda I agree, (a) is very important. And added (c) now, thanks!

Do you know if fuse-overlayfs supports exposing the image with permissions changed without the storage overhead of a chown (nor the file nor the inodes usage, we can reduce the storage using metacopy but we use a lot of inodes) and without the latency startup of a chown too?

[2022-06-16 15:28] burkempers opened #7068 "Registry configuration with a trailing slash"
### Description

If the registry url for a custom registry is mistakenly configured with a trailing slash the endpoint replacement to add `v2` doesnt work.

example:
[code]

Kubernetes pods will get stuck in a image pull back off state and the crictl command will also fail.  For some reason the ctr command works.

### Steps to reproduce the issue

1. Install containerd
2. create a /etc/containerd/

[2022-06-16 21:27] tgkumarmca commented on #5130
I am facing the same issue originally stated in this post.

Cn someone summarize the fix to be made for the same?

Jun 16 14:26:29 containerd: time="2022-06-16T14:26:29.283084287-07:00" level=info msg="shim disconnected" id=3085a9d92c2c59b8b900c4016bfcc1fc81cdc91f9a0407b7c0112a0446913620
Jun 16 14:26:29 containerd: time="2022-06-16T14:26:29.283141119-07:00" level=error msg="copy shim log" error="r

[2022-06-17 05:14] yiya1989 commented on #7053
yes, you are right.  but that issue has none update two years, disappointing : (

[2022-06-17 06:36] fuweid commented on #7053
cc @MikeZappa87 should we consider this as CNI enhancements? 😄

[2022-06-17 19:35] AkihiroSuda commented on #6450
PR:
- https://github.com/containerd/containerd/pull/7074

[2022-06-17 21:41] liurupeng opened #7075 "Windows Nodes: Log Rotation Stopped after the first snapshot got created"
### Description

We received customer tickets to GCP saying that log file size keep increasing and didn't rotate. Then we created a pod to keep logging and see what's happening. In summary, the log rotation will stopped after the first log snapshot got created. And then the log file (0.log under var/logs/container/pod) will keep increasing and never get rotated. This happens with/without log agent

[2022-06-17 21:48] ibabou commented on #7075
@marosset Wondering if you saw any similar issues with kubelet failing to do any further rotations (for container logs)?

Thanks @liurupeng!, can you also specify which branch on OSS you used for the above tests?

[2022-06-17 22:43] marosset commented on #7075
@cpuguy83 Did you look into log rotation on Windows in the past?
@dcantah / @kevpar might also have seen this?

[2022-06-17 22:50] cpuguy83 commented on #7075
I looked at this for Docker only.

In Docker the issue was when there are log readers we can't complete a rotate.
What we ended up doing is making sure to use FILE_SHARE_DELETE when opening the file, which partially fixed it. We recently made a change that should have fixed it the rest of the way by  renaming the file before deleting it.

[2022-06-17 23:16] kennyqn opened #7076 "Stopping containerd does not stop container process with KillMode=mixed"
### Description

Running containerd 1.6.6 via systemd on Ubuntu 20.0.4 and seeing processes from containers still running after containerd has been shut down.

### Steps to reproduce the issue

1. Install containerd 1.6.6
2. Set `KillMode=mixed` in `/usr/lib/systemd/system/containerd.service`
3. `systemctl daemon-reload`
4. `systemctl restart containerd`
5. `ctr images pull k8s.gcr.io/pause:3.6`
6

[2022-06-20 04:43] TemaSM commented on #3347
Most often this problem occurred by file corruption.
Here's what I did to repair Docker+containerd:

- Stop Docker and containerd:
`systemctl stop docker containerd`
- Remove them from system (your data will me preserved, don't worry):
`apt remove -y docker-ce containerd.io`
- Cleanup containerd data directory (Docker will regenerate it at startup if needed):
`rm -rf /var/lib/containerd/`
- Find D

[2022-06-20 23:09] MikeZappa87 commented on #7053
@fuweid hey I will take a look at this tomorrow slipped through the cracks!

[2022-06-21 06:03] wangyysde commented on #7068
/assign

[2022-06-21 07:10] wangyysde commented on #7068
the form in*** registry.mirrors and registry.configs have been DEPRECATED now. As described in [in cri config](https://github.com/containerd/containerd/blob/main/docs/cri/config.md#registry-configuration) should now use the form .
[plugins."io.containerd.grpc.v1.cri".registry.mirrors."hb.bzhy.com"]
          endpoint = ["http://hb.bzhy.com"]

[2022-06-22 03:01] h4ghhh commented on #6549
Containerd

[2022-06-22 03:01] #6549 closed

[2022-06-22 14:54] QiuToo opened #7091 "ctr does not show the image pulled from Harbor registry"
### Description

`ctr images pull` image from harbor registry.

![image](https://user-images.githubusercontent.com/88759374/175060440-a9badb9a-39bf-4cbf-b4fb-02e73a6a2cd3.png)

[code]

But `ctr image ls` doesn't show it.

[code]

### Steps to reproduce the issue

1.
2.
3.

### Describe the results you received and expected

Hope the community can help me. thanks in advance

### What version of con

[2022-06-22 15:03] junnplus commented on #7048
You can follow the steps to check:
1. `sudo ctr plugin ls`, make sure the `devmapper` plugin status is ok
2. `sudo dmsetup ls` check devices exist.
3. check `/etc/containerd/config.yaml` configuration is OK

ref: https://github.com/containerd/containerd/blob/main/docs/snapshotters/devmapper.md

[2022-06-22 15:31] fuweid commented on #7091
@QiuToo

English: you are using namespace `-n harbor.lidabai` to pull image so that you should use `-n harbor.lidabai` to list images.

Chinese: containerd 使用了 namespace 做数据隔离，既然你用了  `-n harbor.lidabai`  下载镜像，那么你 list image 也需要指定 namespace.

[2022-06-22 15:35] fuweid commented on #7091
Hopefully you can use English to file issue. The issue can help other users or contributors. Thanks

[2022-06-22 15:35] #7091 closed

[2022-06-22 16:41] junnplus opened #7093 "Fail to extract layer due to `operation not permitted` error"
### Discussed in https://github.com/containerd/containerd/discussions/7083

<div type='discussions-op-text'>

<sup>Originally posted by **Ladicle** June 21, 2022</sup>
`ctr image pull quay.io/ansible/creator-ee:v0.5.0` failed to extract the layer due to `operation not permitted` error. I've tried it with containerd versions v1.4.4 and 1.6.4. This error did not occur in other images so far.
Also, t

[2022-06-23 08:10] cardyok opened #7097 "Streaming server autogenerated port conflict with apiserver generated nodePort"
### Description

As described in title, we occasionally encounter this issue, restart containerd and regenerate a random port can solve this issue, using a fixed port for streaming server can fix this issue as well, but this is still a potential bug.

I'm thinking about using net.ipv4.ip_local_reserved_ports to avoid generating ports conflicting with apiserver. Or adding a configurable reserved po

[2022-06-23 13:13] jeremymv2 commented on #6490
Bump - this has definitely impacted us.

[2022-06-23 13:28] nneul commented on #6490
We're definitely seeing it too. Any reboot of a control plane node in our setup is requiring manual intervention after restart to restart containerd.

[2022-06-24 02:23] fuweid commented on #7097
the default value of stream_server_port is zero, which means that the go runtime net.Listen will pick available port to use.

You can choose one port number not in the service-node-port-range. It will be fine.

[2022-06-24 03:12] fuweid commented on #7040
At the beginning, the docker-ce doesn't use containerd as systemd service. The dockerd will fork the containerd process which manages the data in /var/lib/docker/containerd. And you can see that the binary related to containerd has the docker- prefix.

Since docker-ce 18.09 (if my memory is correct), the dockerd connects to the containerd service managed by systemd instead of fork. The containerd

[2022-06-24 03:24] fuweid commented on #7076
The containerd is to manage the containers, but it doesn't mean that we should shutdown the running containers when containerd exits.

The container community did a lot of effort to make sure that manager daemon can upgrade and restart without impacting the running containers.

I don't think we should support to shutdown the running containers when containerd exits.

And dockerd doesn't shutdown t

[2022-06-24 03:24] #7076 closed

[2022-06-24 03:29] cardyok commented on #7097
Yea stream_server_port can perfectly solve the problem, but when 0 is used, port collision might happen which is not the expected behavior. net.Listen will pick a port which is not unused, since nodePort is written as a ipvs rule redirecting traffic, and ipvs rule has higher precedence. That means whenever ipvs rule is applied, port collision might happen.

[2022-06-24 07:39] fuweid commented on #6970
It seems the issue has been resolved. Closing

[2022-06-24 07:39] #6970 closed

[2022-06-24 07:45] fuweid commented on #6891
@2000yeshu please go ahead. Thanks

[2022-06-24 07:50] njucjc commented on #7097
Maybe the same with this issue: https://github.com/kubernetes/kops/issues/6342

[2022-06-24 09:09] #7040 closed

[2022-06-24 09:22] thaJeztah commented on #7040
Hm.. yes, using `live-restore` for major updates definitely won't work. In general it's also recommended to not skip major versions when upgrading, as there may be migration code between versions which gets removed at some point (and 18.06 to 20.10 is a big gap).

[2022-06-24 11:05] fuweid commented on #7097
It should be scheduled before launch k8s cluster. :) It is not containerd's issue. Closing

[2022-06-24 11:06] #7097 closed

[2022-06-24 11:13] fuweid commented on #6665
The error should be handled in shim plugin side. The runC shim has ignored such error. I think the Kata-Agent also should handle it.

And one more thing is that if there is ESRCH error, it means that the target process is dead and kata shim should return exit event from Wait API.

So I don't think it should be handled in containerd side.

[2022-06-24 11:14] fuweid commented on #6665
I saw it has been fixed in kata-container side https://github.com/kata-containers/kata-containers/pull/3875

Closing

[2022-06-24 11:14] #6665 closed

[2022-06-24 11:17] fuweid commented on #6198
Closed by #6373

[2022-06-24 11:17] #6198 closed

[2022-06-24 11:24] fuweid commented on #5079
ctr doesn't use containerd config.
And release 1.4 has been deprecated. Please try to use supported release and check it again.

@halacs  Feel free to reopen it if there is any issue with latest version.

Thanks

[2022-06-24 11:24] #5079 closed

[2022-06-24 11:37] fuweid commented on #4211
I think the #6150 feature can report the detail if you enable the trace level log.

Anyway, it is better to handle the case in CRI protocol, like https://github.com/kubernetes/enhancements/pull/1338.

Maybe we can enhance the metrics about pulling progress.

[2022-06-24 13:37] mimmus opened #7102 "False positive OOM events"
### Description

Hi,
we use a Kubernetes DaemonSet (a node agent) to monitor containerd EventBus and look for pods OOM events.
Recently, we started to notice several false positives, logs are always like these
`containerd[8442]: time="2022-06-24T12:59:17.225386941Z" level=info msg="TaskOOM event &TaskOOM{ContainerID:4c0b7bc1225d148f13492e3cd4061b28d803701404abddc3d80431ec92d91d93,XXX_unrecognized:

[2022-06-24 15:25] gianlucalucente-trn commented on #6589
Hello,
do you know when this bugfix will be included in the official released version?
Thank you

[2022-06-25 01:50] andyzhangx commented on #6589
the fix is also in Windows containerd v1.6.6

[2022-06-25 01:50] #6589 closed

[2022-06-25 05:11] #7093 closed

[2022-06-26 15:22] fuweid opened #7104 "flaky test case in windows: ThreadSanitizer failed to allocate 0x000003f29000 (66228224) bytes at 0x200dbdaa74000 (error code: 87)"
### Description

https://github.com/containerd/containerd/runs/7052774182?check_suite_focus=true

[code]

No sure what happen in pkg/cri/server in windows. The CI is unstable right now.

### Steps to reproduce the issue

No response

### Describe the results you received and expected

No response

### What version of containerd are you using?

No response

### Any other relevant information

_No r

[2022-06-27 15:32] estesp commented on #7104
The actual error comes from the `ThreadSanitizer` code from LLVM that handles Go data race detector: https://github.com/llvm/llvm-project/blob/1e29c3a12fa7bdf406e79d8c6e43aebbd2f724a7/compiler-rt/lib/sanitizer_common/sanitizer_win.cpp#L237-L257

I'm not sure if that helps, but seems this is why we are only seeing it on Windows; I wonder if this is a Go runtime issue exacerbated by recent changes t

[2022-06-27 21:40] #7104 closed

[2022-06-28 03:44] fuweid commented on #7102
hi, it depends on the kernel behavior.

In v3.10, kernel will notify subscriber (containerd) at first before kill [1](https://github.com/torvalds/linux/blob/8bb495e3f02401ee6f76d1b1d77f3ac9f079e376/mm/memcontrol.c#L2218)

And if the oom_kill has been disabled or the kernel doesn't find the task to kill [2](https://github.com/torvalds/linux/blob/8bb495e3f02401ee6f76d1b1d77f3ac9f079e376/mm/memcontro

[2022-06-28 15:52] fuweid opened #7109 "[test] use github action to test cgroupv2 instead of vagrant box"
### What is the problem you're trying to solve

Currently, there are only few Linux distributions which enable cgroupv2 setting by default.
And CI pipeline are vagrant box to run Fedora environments to test cgroupv2 related cases.
It introduces overhead to maintain testing setup scripts and meets some unknown failure.

[The ubuntu 21.04][1] has been enabled cgroupv2 by default and [ubuntu-22.04][2

[2022-06-28 17:36] jnummelin commented on #5895
Instead of using `--all-platforms` you can also "pull" only specific platform with `--platform linux/arm64` if you only care for single platform of exported image. For clarity, we ended up using specific `--platform` for both `ctr content fetch ...` && `ctr export ...` so it's clear for which platform we're exporting images for. For some multiarch images the download size is huge if you fetch all,

[2022-06-29 08:11] Vanient opened #7111 "container exit event sent to dockerd before start event, which caused container status wrong"
### Description

I started a container using docker as engine, the container process just do mkdir, so it finished quickly.
Met a case that exit event which sent by containerd sent to dockerd before start event, which caused container status is Up but process had already exited actually.

### Steps to reproduce the issue

Just met once yet

### Describe the results you received and expected

`dock

[2022-06-29 08:43] odidev commented on #4109
**containerd** arm test is not available in GIT HUB Actions.
I have tried to add the test for arm architecture but I am facing errors mentioned as following:

`time="2022-06-29T08:04:39Z" level=error msg="failure getting variant" error="getCPUInfo for pattern: Cpu architecture: not found"
``--- FAIL: TestCPUVariant (0.02s)  `
`cpuinfo_test.go:39: could not get valid variant as expected: [v8 v7 v6

[2022-06-29 12:13] chenk008 opened #7113 "Check the Systemd is alive when use SystemdCgroup"
### What is the problem you're trying to solve

Systemd cases:
https://access.redhat.com/solutions/6369201
https://bugzilla.redhat.com/show_bug.cgi?id=1985126

When the Systemd is hung, the kubelet will failed to create container.

### Describe the solution you'd like

Check the Systemd is alive in criService.Status

### Additional context

_No response_

[2022-06-29 16:19] lvii opened #7116 "pull failed from customed registry host with bypass TLS verification private registry endpoint"
Hi

I have configured a customed **registry host** `docker.io` with  a **private nexus docker hub proxy registry** endpoint.

referenced this doc :

<https://github.com/containerd/containerd/blob/main/docs/hosts.md#bypass-tls-verification-example>

[code]

If there was no `--hosts-dir "/etc/containerd/certs.d"` option, it would **NOT** try to pull from configured **private registry**:

[code]

[co

[2022-06-30 05:35] hanamantagoudvk commented on #6662
Held discussion with @mikebrow on 28th June.

We have explained the scenario and he acknowledged the issue, but as per him, this is behavior and they cant change default behavior of containerd. However, what they can do is introduce a switch to get the same behavior as docker. So now,  there are 2 plans,

Short term: To have a switch that can replicate the same behavior as docker.
Long Term: KEP t

[2022-06-30 14:39] pckroon opened #7118 "ca certificate configures in hosts.toml ignored, but works if hosts.toml is removed"
### Description

Hello world,

I'm setting up a private docker registry using a self-signed certificate, so I need to tell containerd that that certificate can be trusted.

### Steps to reproduce the issue

1. Create docker registry with sane self-signed SSL certs, with appropriate SANs
2. Put the public certificate in `/etc/containerd/certs.d/docker-registry.example.com/docker-registry.crt`
3. Se

[2022-06-30 14:44] pckroon commented on #7118
I think I might be going insane. It resolved itself. Apologies for the noise!

[2022-06-30 14:44] #7118 closed

[2022-07-01 01:39] champtar opened #7119 "discard_unpacked_layers=true doesn't work when using ctr"
### Description

I'm loading local images into containerd using `ctr images load` and trying to reduce disk usage
discard_unpacked_layers=true doesn't work when using `ctr`, only when using the CRI interface.

### Steps to reproduce the issue

1. Start with a containerd without any images
2. Set `discard_unpacked_layers = true`
3. Run `ctr images pull docker.io/library/busybox:latest` or `ctr imag

[2022-07-01 01:45] botieking98 commented on #7111
It seems to be an asynchronous event notification problem

[2022-07-01 05:39] AkihiroSuda commented on #7119
The CRI config does not affect ctr as ctr does not use the CRI API.
The CRI is used only by Kubernetes and crictl.

[2022-07-01 08:07] #7116 closed, assigned to nobody

[2022-07-01 18:56] kzys commented on #4109
@odidev Thank you for taking a look! I believe https://github.com/containerd/containerd/blob/77d53d2d230c3bcd3f02e6f493019a72905c875b/platforms/cpuinfo.go#L78 is making a wrong assumption regarding `/proc/cpuinfo`. Can you check the file in GitHub Actions? For example, you can add `cat /proc/cpuinfo` in GitHub Actions' YAML files.

[2022-07-01 19:53] champtar opened #7125 "Allow to "discard unpacked layers" when using ctr"
### What is the problem you're trying to solve

To reduce disk usage, I'm trying to use `discard_unpacked_layers`.
Today `discard_unpacked_layers` config is specific to the CRI interface, but I'm using `ctr images import --no-unpack`

### Describe the solution you'd like

Have a way to discard layers once unpacked, even when using `ctr`, and even when using `--no-unpack` (discard once unpacked / a

[2022-07-01 20:36] kzys commented on #6490
@srhb The change you proposed looks good! Would you interested to submit a PR?

[2022-07-01 20:38] kzys commented on #4379
Resolving since it has been fixed by Google side. Feel free to reopen if you still have the issue.

[2022-07-01 20:38] #4379 closed

[2022-07-01 22:34] #5467 closed

[2022-07-01 22:43] kzys commented on #7075
On Windows, is log rotation owned by containerd? It is not on Linux.

[2022-07-03 06:03] AssafKatz3 commented on #7054
Hi,
A lot of people use KubeSpray in production, using [Weave as CNI](https://github.com/kubernetes-sigs/kubespray/issues/8881) is less common but I believe that there are enough to assure the change.

[2022-07-03 07:18] xujihui1985 commented on #7049
[code]
I did some test on latest version of containerd, and found the time container create failure varied. it's much better compared with version 1.2, but I think it's better to just fail faster in the case of connect to remote plugin?

[2022-07-04 08:34] odidev commented on #4109
@ [kzys,](https://github.com/kzys) Thanks for the suggestion, but when I added  `cat /proc/cpuinfo` in GitHub Actions' YAML file.
For logs, please refer below:
https://github.com/odidev/containerd/runs/7175987577?check_suite_focus=true#step:5:783
Can you please provide your feedback regarding the same.

[2022-07-04 08:54] wader commented on #4109
As i understand it docker buildx only emulates user-land processes so /proc in the container will still be a proc filesystem from the host kernel.

[2022-07-05 16:17] kzys commented on #7054
@AssafKatz3 @AkihiroSuda Do you know why does Kubespary use Nerdctl with native snapshotter?

https://github.com/kubernetes-sigs/kubespray/blob/24c8ba832a88ac865d06bfe384c88cba58e529ed/roles/container-engine/nerdctl/templates/nerdctl.toml.j2#L5

[2022-07-05 16:56] kzys commented on #7066
This is still work-in-progress.

* https://github.com/containerd/containerd/pull/7123
* https://github.com/AdaLogics/go-fuzz-headers/pull/81

[2022-07-05 21:17] AkihiroSuda commented on #7054
Idk, perhaps misunderstanding of "native"

[2022-07-06 02:03] w7374520 commented on #4862
Version: containerd 1.6.4
The above configuration does not take effect, so the harbor private warehouse still needs to refer to the k8s documentation to add the key: https://kubernetes.io/docs/tasks/configure-pod-container/pull-image-private-registry/

[2022-07-06 17:33] #6846 closed

[2022-07-06 18:21] szihai commented on #7010
Any estimate on when the fix #5904 will be merged?

[2022-07-06 19:04] bplasmeijer commented on #6862
Hey,

Do we need to link this to https://github.com/Azure/AKS/issues/1792?

[2022-07-06 22:27] mikebrow commented on #6662
did some code skimming last week..

summary: looks to me that docker exec may work in a very different way than the container runtime exec implementations (creating a duplicate container with shared mounts?). I don't think the container runtimes / runc will call setsid() in the exec path.. rather if I'm reading it right it looked like setsid() was only being called in the container init code path.

[2022-07-06 22:28] mikebrow commented on #6662
did some code skimming last week..

summary: looks to me that docker exec may work in a very different way than the container runtime exec implementations (creating a duplicate container with shared mounts?). I don't think the container runtimes / runc will call setsid() in the exec path.. rather if I'm reading it right it looked like setsid() was only being called in the container init code path.

[2022-07-06 23:13] kevpar commented on #7075
On Windows k8s, the log rotation itself does not occur from containerd. Rather, something else (presumably the kubelet) rotates the logs, and then calls [CRI's `ReopenContainerLog`](https://github.com/kubernetes/cri-api/blob/master/pkg/apis/runtime/v1/api.proto#L89) function to tell the runtime to direct logs to the new file.

I don't know what would make this fail on Windows. Potentially this is

[2022-07-06 23:20] ibabou commented on #7075
Yeah, log rotation for container logs is handled by kubelet. What @liurupeng saw with the above case, is that rotation happens with no issues in case of docker as compared to containerd - hence it seemed that containerd is causing some kind of additional locking (for same k8s bits being utilized). @liurupeng can share more details on the tests and k8s version.

[2022-07-06 23:34] kevpar commented on #7075
In addition to kubelet or containerd logs, another thing that may help is to collect the output of [handle.exe](https://docs.microsoft.com/en-us/sysinternals/downloads/handle) for the log file in question when the problem occurs. This will show what has it open and what file sharing options have been set.

[2022-07-07 03:22] TianZong48 commented on #6876
modify `/etc/cni/net.d/nerdctl-bridge.conflist`, change `"cniVersion"` to "0.4.0" or any value in `plugin supports ["0.1.0" "0.2.0" "0.3.0" "0.3.1" "0.4.0"]"`  works for me @yakir3

[2022-07-07 08:02] chilicat opened #7139 "ctr: Disable color output via command line flag or/and variable"
### What is the problem you're trying to solve

It should be possible to disable the color (rich table) output via flag or/and environment variable.
This is particular useful for automation tools to keep the log output tidy.

### Describe the solution you'd like

A possible solution could look like:

[code]

### Additional context

_No response_

[2022-07-07 10:36] shivania2 opened #7140 "container process label is set to spc_t after setting selinux-enable=true in containerd-config.toml"
### Discussed in https://github.com/containerd/containerd/discussions/7137

<div type='discussions-op-text'>

<sup>Originally posted by **shivania2** July  6, 2022</sup>
K8s version: 1.23.8
Containerd version: 1.6.6

**Description**

I am trying to enable selinux for containerd.
I have build containerd package with BUILDTAGS='seccomp selinux apparmor' and set [enable_selinux = true] in /etc/contai

[2022-07-08 09:02] huzhou commented on #6203
I have the same problem on ubuntu 20.04 with docker version 20.10.12-0ubuntu2~20.04.1.
I tried to downgrade the version to 20.10.7-0ubuntu1~20.04.2 as suggested from this issue. However, this version can no longer be found.
`apt-get install docker.io=20.10.7-0ubuntu1~20.04.2
Reading package lists... Done
Building dependency tree
Reading state information... Done
E: Version '20.10.7-0ubuntu1~20.04.

[2022-07-08 11:21] mimmus commented on #7102
Hi, @fuweid , sorry for delay but I was on holiday.
Could you elaborate your suggestion?
What is the best strategy to monitor OOM events from Kubernetes?

Thanks again

[2022-07-08 15:40] zhaojizhuang opened #7147 "add ctr completion bash"
### What is the problem you're trying to solve

Usage: add source <(ctr completion bash) to ~/.bash_profile.

Similar to kubectl completion bash.

### Describe the solution you'd like

Make ctr easier to use

### Additional context

_No response_

[2022-07-10 14:54] fuweid commented on #7102
@mimmus Basically, the containerd will report the OOM_EVENT if there is any out of memory.
But it is related to kernel. I think you  can check the memory cgroup setting, like `memory.oom_control`,
and confirm the kernel behavior for your pod.

[code]

[2022-07-11 01:10] AkihiroSuda opened #7150 "seccomp: Docker incompatibility: containerd profile does not contain `get_mempolicy`, `mbind`, `set_mempolicy` even when `CAP_SYS_NICE` is granted"
https://github.com/moby/moby/blob/0910306bf970603ce787466a98e4294ba81af841/profiles/seccomp/default_linux.go#L753-L765

[code]

The containerd profile does not seem to contain the syscalls above.
https://github.com/containerd/containerd/blob/main/contrib/seccomp/seccomp_default.go

Not sure if this was accidental or on purpose.

[2022-07-11 09:41] cjlingZTE opened #7151 "let all containers in the same shimV2 use the same ttrpc client"
### What is the problem you're trying to solve

when containerd create a new contaienr in func github.com/containerd/containerd/runtime/v2.(*binary).Start

or contaienrd restart in func github.com/containerd/containerd/runtime/v2.loadShim

[code]

contaienrd just directly build a new connection to ttrpc server of a shimV2 proccess

I think contaienrd could just keep one connection to one shimV2 pr

[2022-07-11 16:35] M3t0r commented on #3910
@estesp still open FYI

[2022-07-11 16:52] thaJeztah commented on #7150
Yup; we should sync them; I had a reminder for myself for `clock_settime64`, but see that @AkihiroSuda did so in https://github.com/containerd/containerd/pull/7149. Didn't know of these (may have missed them).

I recall I also did some work in moby to make the seccomp package in there more self-contained, and closer to the containerd implementation (I think https://github.com/moby/moby/pull/42005

[2022-07-11 16:54] thaJeztah commented on #7150
`get_mempolicy`, `set_mempolicy` and `mbind` were added in https://github.com/moby/moby/pull/37242

[2022-07-11 16:55] estesp commented on #3910
Thanks; closing for now.

[2022-07-11 16:55] #3910 closed

[2022-07-11 17:14] mikebrow commented on #7150
we support with profile over here https://github.com/containerd/containerd/blob/de4e2e11d436c6b9c52c9de952b7081ef0676dc9/contrib/seccomp/seccomp.go#L30-L45  is at least used by the CRI implementation if optionally set in the pod spec..

[2022-07-11 17:35] kzys commented on #7139
It is just about colors or including formatting and progress bars? Please note that we generally don't keep ctr's output fully backward-compatible between major versions.

https://github.com/containerd/containerd/blob/main/RELEASES.md#public-api-stability

[2022-07-12 05:05] dcantah commented on #6862
@TBBle I completely forgot to reply here my apologies.. Your last train of thought is something we're thinking about as the work described in #6657 (and recently implemented as an experimental feature) is really exciting to think about applying for use cases like this. It'd need some k8s work to really fully be usable though, so that punts the usability quite some months out

[2022-07-12 05:05] dcantah commented on #6862
Yes, that'd make sense

[2022-07-12 07:23] dweomer commented on #7140
What is the pod/container spec for tomcat? Privileged by chance?

[2022-07-12 07:47] thaJeztah commented on #7150
Ah, yes; I need to check though; I think the code you linked to is only the "raw" seccomp profile. Docker's seccomp profiles (JSON) also allow for some conditionals (e.g. only applies to [Architecture X](https://github.com/moby/moby/blob/0910306bf970603ce787466a98e4294ba81af841/profiles/seccomp/default.json#L539-L551) or [Kernel version Y](https://github.com/moby/moby/blob/0910306bf970603ce787466a

[2022-07-12 08:27] cjlingZTE commented on #7151
please see #7154

In current containerd code implement, when a container task is created and started, the containerd would directly have a new ttrpc client to ttrpc sever of shimv2
so that, there are many ttrpc clients(and new connections) to one shimv2 proccess if many of containers under the same shim proccess

I think it should be one tttrpc connection to one shimv2 proccess , no matter there s

[2022-07-12 14:39] mikebrow commented on #7150
Thoughts: It seems flexible, possibly to much so, for each template to have it's own archMap (arch to sub-arch list). Adding the conditionals for x platform, is a nice feature, and also makes it more complicated. Are there tools for generating docker format seccomp templates from a raw profile?

We could add a WithSeccompTemplate to support docker's template format for x platform. Then on the CRI/

[2022-07-13 05:08] shivania2 commented on #7140
I am getting above results with both yaml files and didnot provide any privileged configuration to the pod
`apiVersion: apps/v1
kind: Deployment
metadata:
  labels:
    app: example
  name: tomcat
spec:
  replicas: 1
  selector:
    matchLabels:
      app: example
  template:
    metadata:
      labels:
        app: example
    spec:
      containers:
      - image: tomcat:latest
        name: tom

[2022-07-13 21:39] dweomer commented on #7140
@shivania2 well, no fun if it's easy I guess. If you could supply a Vagrantfile or an otherwise detailed description of how your installation has been (and/or is expected to be) provisioned it would give me more context to be of help. Please include the base OS and policy package(s) installed.

Please note that it is easy to bork an SELinux installation of containerd/cri if it has been run even on

[2022-07-14 08:14] akhilerm commented on #5978
@csweichel Is the image that you tried to push to gcr a publicly available image, so that I can test the changes that have been made in PR #6995 .  Just one final step so as to make sure all the images can now be pushed. I wanted to test the specific image because, was hitting this issue for one image manifest while not for the other, Just wanted to confirm that the fix works for all.

[2022-07-14 08:36] thaJeztah commented on #7150
Back to the original question; "why these weren't added to containerd's profile?"; looking at the history, I see that no sync had been done until "~ containerd 1.3" https://github.com/containerd/containerd/commits/v1.3.0/contrib/seccomp. I think before that, containerd's profile (being a "contrib") was mostly considered as an example (taking docker's profile as a starting point), and wasn't used b

[2022-07-14 08:43] thaJeztah commented on #7150
Opened https://github.com/containerd/containerd/pull/7167

[2022-07-14 12:14] shivania2 commented on #7140
Hi @dweomer
  I have redeployed the setup. First configured and labelled everything then started the containerd on the system for the first time. But getting similar results as earlier. Container process is set to spc_t.
  
  I am working on [Photon-OS](https://packages.vmware.com/photon/4.0/Rev2/iso/photon-4.0-c001795b8.iso)

And the installed policy-package(https://github.com/containers/containe

[2022-07-14 15:54] #7150 closed

[2022-07-19 09:50] floryut commented on #7054
Agree, the `native` value seems like a mistake and not really a needed thing.

[2022-07-19 22:38] jsturtevant opened #7184 "Windows cri container stats call doesn't return usageNanoCores"
### Description

While working on https://github.com/containerd/containerd/pull/7099 I noticed the CRI `ListContainerStats` doesn't return the calculated value for `usageNanoCores`.

The commit https://github.com/containerd/containerd/pull/7099/commits/77b74643f664a3e7450049dbce760a7288ace27f has a partial fix.  I will clean it up and submit a fix.

### Steps to reproduce the issue

with the follo

[2022-07-20 06:21] shivania2 commented on #7140
Issue resolved after adding version in config.toml
`version = 2`

[2022-07-20 06:21] #7140 closed

[2022-07-20 15:30] ghost opened #7190 "inconsistent `securityProfile` implementation for privileged containers"
### Description

According to the [cri-api](https://github.com/kubernetes/cri-api/blob/12790a4ab088c6093e24421f073c269c6c2c101a/pkg/apis/runtime/v1/api.proto#L773) code, for a privileged container the following rules apply:

[code]

Notably:
[code]

In practice, in code of containerd, seccomp and apparmor seem to be treated differently:
* in [generateSeccompSpecOpts](https://github.com/containerd/

[2022-07-20 22:43] NikolaBo opened #7193 "Unexpected media type when restoring checkpoint"
### Description

I'm writing a containerd client and having trouble restoring from a checkpoint. I have mostly been following [this example](https://github.com/containerd/containerd#checkpoint-and-restore).

The error on trying to create a container from the checkpoint is:
[code]

### Steps to reproduce the issue

1. Creating a container:
[code]
2. Checkpointing the container:
[code]
3. Try to res

[2022-07-21 01:02] fzyzcjy opened #7194 "Containerd does not create `containerd.sock` at all, possibly because of "failed to clean up after shim disconnected""
### Description

Hi thanks for the wonderful library! However, containerd does not create `containerd.sock` at all, possibly because of "failed to clean up after shim disconnected".

### Steps to reproduce the issue

I am using containerd inside a microk8s. So it is automatically started via:

[code]

### Describe the results you received and expected

should run normally. However, there is such f

[2022-07-21 02:24] fuweid commented on #7194
Since the containerd is reconnecting to the existing shim, the socket will show up after reload.

The 1.4.13 is EOL, please use supported releases which contains https://github.com/containerd/containerd/pull/6031.

[2022-07-21 02:31] fzyzcjy commented on #7194
Thank you for the reply!

I have tried restarting containerd, even restarting host machine, but sock still does not show up.

I will upgrade for it. Thanks for linking the issue

[2022-07-21 02:39] fuweid commented on #7194
The root cause is described in #5597

[2022-07-21 02:51] fzyzcjy commented on #7194
@fuweid Thank you for the information!

I post an issue at microk8s https://github.com/canonical/microk8s/issues/3336

[2022-07-21 04:43] fuweid commented on #7194
@fzyzcjy if the v1.6 release works for you, please help to close the issue~ thanks

[2022-07-21 05:30] fzyzcjy commented on #7194
Hi thanks for the reply, I have not tried the v1.6. I will close or report further once I tried it.

[2022-07-21 09:24] Windrow14 opened #7196 "lastCNILoadStatus (network status) not updated to OK after CNI plugin is installed in a kubernetes cluster"
### Description

I initialized a Kubernetes on my PC, the network status does not change to `Ready` after the CNI plugin is started.
As you know, after the deprecation of docker-shim of Kubernetes (from 1.24 on), the status is got from container runtime interface directly.
Restart `containerd` at this time can resolve this problem.

I did a bit more further investigation, please check the details

[2022-07-21 20:57] Jenkins-J opened #7197 "ppc64le - CRI Image Pull Timeout Tests Failing"
### Description

When the CRI Integration tests are run on a device with the ppc64 architecture, the `TestCRIImagePullTimeout/HoldingContentOpenWriter` and `TestCRIImagePullTimeout/NoDataTransferred` tests fail. The resulting error message states that the manifest should be locked, causing the call to `PullImage` to timeout or return a canceled context. Instead an error is returned, causing the te

[2022-07-21 22:33] NikolaBo commented on #7193
I think I've narrowed it down to [the switch statement here](https://github.com/containerd/containerd/blob/b5aab78dd10a1d1e2b3719adfc57274a1934f295/images/image.go#L150), where containerd is processing the checkpoint image, and expects a descriptor mediatype to be index or manifest, but it finds what looks like a CRIU checkpoint dump.

It's odd to me because containerd itself is generating the che

[2022-07-21 23:26] dcantah commented on #7193
Never used criu, but there's various examples in these integration tests that may be useful to play around with and see if they work on your system: https://github.com/containerd/containerd/blob/main/integration/client/container_checkpoint_test.go

[2022-07-22 01:48] fuweid commented on #7197
The root cause is that the image used in the test doesn't include ppc64le. I think it is easy to fix that by replacing new image.

[2022-07-22 02:10] fuweid commented on #7196
It is duplicated with #6490. The target /etc/cni/net.d folder will be created when containerd restarts and containerd will use fdnotify to watch the content change in the folder.

If we remove the folder, the fdnotify will not work. I am not sure why the folder are removed.

For the CNI installer, it can't just delete the system-level folder because it might contain other files. Just my two cents.

[2022-07-22 02:17] Windrow14 commented on #7196
Thanks for the info!

When we do `sudo kubeadm reset`, it always reminds us to remove the directory:
"The reset process does not clean CNI configuration. To do so, you must remove /etc/cni/net.d"
I bet I'm not the only one remove this folder XD

[2022-07-22 02:24] fuweid commented on #7196
OK. I use kubeadm init to setup single control-plane in my local. I didn't see that issue.

So, for your question, I think you can check your setup script and find it out which step will delete the folder. If it is kubeadm reset, please restart containerd as workaround. Currently, I don't want to introduce the complicated setup in containerd right now.

[2022-07-22 02:28] Windrow14 commented on #7196
OK, I see, thanks.

[2022-07-22 02:28] #7196 closed

[2022-07-22 02:30] fuweid commented on #7196
@Windrow14 Let's use #6490 to track the issue. Thanks!

[2022-07-22 03:09] Rouzip commented on #6174
Hi, I am interedted in containerd. Can I have a try to solve this problem?

[2022-07-22 13:46] Jenkins-J commented on #7197
Thank you, I will try replacing the image with something that includes the ppc64le architecture. In the error message though, it seemed like the manifest should not have been able to be read at all when trying to pull the image due to it being locked earlier in the test. Am I interpreting this correctly?
[code]

[2022-07-22 15:42] mikebrow commented on #7184
the pause container is a part of the pod.. not the container in the pod .. to get pod stats you should probably have to call the pod stats api..

[2022-07-22 16:22] mikebrow commented on #7184
was a bit confused that you are running a pause container in the pod.. thus two pause containers one for the pod the other the container..

[2022-07-22 16:26] #7184 closed

[2022-07-22 16:36] jsturtevant commented on #7184
ah that makes sense, it was an easy way to have container that doesn't exit. Sorry for the confusion

[2022-07-22 18:11] den-is commented on #6095
Weird...
This issues seems to be very critical, but i don't see any word about a workaround, or what versions and software combinations are causing it, or how to avoid it. Is it related to Debian-based systems?

Let me describe my case:

I'm running pure **k8s v1.24.2** on a pure **Debian 11 Buster** nodes.
_This my own reference setup that is working for years, without any external installers etc

[2022-07-22 18:15] ruiwen-zhao opened #7199 "Support rootfs WindowsContainerResources.rootfs_size_in_bytes in CRI API"
### What is the problem you're trying to solve

A new field rootfs_size_in_bytes is added to WindowsContainerResources in CRI. Containerd does not support it yet [2]. Creating this issue to track the effort of supporting rootfs_size_in_bytes.

[1] https://github.com/kubernetes/kubernetes/blob/df4ca2dd9e9fc072f68b1c7b9fd1efdb7a67f593/staging/src/k8s.io/cri-api/pkg/apis/runtime/v1/api.proto#L915

[2

[2022-07-22 19:51] Jenkins-J commented on #7197
Changing the pulled image fixed both tests. In the test, I had not noticed there was a variable for the name of the image in addition to the manifest index variable. Thank you again for the helpful feedback.

[2022-07-22 19:51] #7197 closed

[2022-07-23 02:52] xujihui1985 commented on #7049
@fuweid Hi fuwei, I think it's unnecessary to waiting for seconds when the unix domain sock of remote plugin not exists, anyway, maybe 3s' is good enough for now

[2022-07-23 07:25] cxz66666 opened #7202 "can we get task metrics concurrent?"
### What is the problem you're trying to solve

https://github.com/containerd/containerd/blob/294c61fbab99b255beeba55c934ab15f4f7853a0/services/tasks/local.go#L654-L684
In general situation, `task.Stats(ctx)` will communicate with shim binary by rpc. But some shims implement this interface have a very low performance(long time to response). So when kubelet/crictl give a ctx with timeout, ttrpc/grp

[2022-07-23 08:59] den-is commented on #7010
is not it similar to https://github.com/containerd/containerd/issues/6095?
I'm not getting `ContainerCreating` for all Pods, but definitely for many of them

[2022-07-23 09:00] den-is commented on #6095
**containerd 1.5.13** + debian 11 + k8s 1.24.2 - same issue

[2022-07-23 09:15] fuweid commented on #6095
Hi, we are working on this and will update the status after merge. Thanks

[2022-07-23 13:05] rishiporwal322 commented on #4581
Thanks for the reply, this is the only solution that worked for me.

rm /etc/containerd/config.toml
systemctl restart containerd
kubeadm init

[2022-07-23 15:15] amasam1 commented on #4581
Thank you somuch its working

[2022-07-25 04:14] #7049 closed

[2022-07-25 04:53] dhiman360 commented on #5325
We are seeing the similar issue with containerd version 1.6.6, during load test the disk access is slow, readiness and liveliness probes taking close to 30sec which is making the pod Unhealthy.

[14:01:24] - eccd@control-plane-dc309-3-mast-n9:~> kubectl get events -n kube-system
[14:01:24] - LAST SEEN   TYPE      REASON             OBJECT                                                     MESSAGE

[2022-07-25 16:42] olljanat commented on #6652
Looks to be same case with Docker+ containerd combination. Issue happens in here https://github.com/moby/moby/blob/98d8343aa28de0d499464b5529e6b8ccc92e9313/daemon/exec.go#L205-L211 and disappear on that specific test case if I add `defer time.Sleep(30 * time.Second)` between those other defer rows. Then container stops as expected when without this it gets stuck forever and cannot be killed withou

[2022-07-25 20:17] jterry75 commented on #7199
I'm sure @dcantah knows who will add this work for you

[2022-07-25 20:23] dcantah commented on #7199
Hey! We actually do make use of this field already, just in the snapshotter and not in the shim via checking the runtime spec field (we could do either afaict, don't think it matters too much). https://github.com/containerd/containerd/blob/main/pkg/cri/server/container_create_windows.go#L152

[2022-07-26 01:16] jterry75 commented on #7199
Sweet! @ruiwen-zhao - I'm going to close since its resolved but please comment if you need anything else.

[2022-07-26 01:16] #7199 closed

[2022-07-26 02:59] ruiwen-zhao commented on #7199
sounds good, thanks!

[2022-07-26 05:50] lsqtongxin commented on #6428
please follow  the config "Bypass TLS Verification Example", the links is  https://github.com/containerd/containerd/blob/release/1.5/docs/hosts.md

[2022-07-26 05:56] lsqtongxin commented on #4141
please follow Registry Configuration - Examples , https://github.com/containerd/containerd/blob/release/1.5/docs/hosts.md

[2022-07-26 11:48] mimmus commented on #7102
Perhaps these info aren't really applicable to my use case.
I think that a consolidated OS like CentOS already has OOM killer enabled.
I'm trying to understand if containerd events are reliable and, if not, why.

[2022-07-26 12:22] fuweid commented on #7102
I think it will be helpful if you can provide the cgroup status when you see OOM event and no OOM kill log.

[2022-07-26 14:21] zouyee commented on #7190
/assign

[2022-07-26 14:46] e-kmisk commented on #7190
By the way, an option that could be compatible with both the CRI spec and also support the increased security scenarios would be adding some sort of configuration flag to containerd to determine the behavior.

This option could be build time or runtime.

One idea is something like this (I am not familiar with how containerd is configured):
[code]

(^ and a similar option for Seccomp)

[2022-07-26 15:43] JBartscher commented on #3488
Just want to add to @zhangguanzhang 's answer that this also resolves the issue on ubuntu 22.04.

[2022-07-26 16:41] mikebrow commented on #7190
deja-vu :-) https://github.com/containerd/cri/pull/281#discussion_r140793069 ..

was done this way because of the way it was originally implemented in dockershim.

I also prefer the Alternative "consistent" Behavior.  Would require a KEP, I think, to change the behavior of seccomp to support privileged with confinement.

If the behavior is consistent with test buckets between crio and containerd,

[2022-07-26 16:48] mikebrow commented on #7190
same with the enum.. I like it.. and that would need to be done through a KEP before we could change CRI defaults.  If you like we could work together to draft a KEP for this.

[2022-07-27 05:34] den-is commented on #6095
**containerd 1.6.6 + RockyLinux 9.0** + k8s 1.24.3
After a couple of days of running and restarts - **no issues** so far!

[2022-07-27 08:39] kkbruce opened #7218 "[Windows]Unable to pull mcr.microsoft.com image through proxy server"
### Description

There is a different problem than [#6609](https://github.com/containerd/containerd/issues/6609).

Due to the company's network security restrictions, we cannot directly access Microsoft's MCR service(mcr.microsoft.com). Therefore, we use the [Reverse-Proxy](https://github.com/microsoft/reverse-proxy/blob/release/latest/samples/ReverseProxy.Direct.Sample/Startup.cs) package to set

[2022-07-27 09:38] JohnJAS opened #7219 "Failed to exec into the container due to permission issue after executing 'systemctl daemon-reload'"
### Description

I have met a weird probelm that after I executing 'systemctl daemon-reload' on any node inside my cluster, I can't exec into those pods on that node any more.

The error message shows that it is related to a permission issue.
`error: Internal error occurred: error executing command in container: failed to exec in container: failed to start exec "d54b2d2c946fd0295ac7551d4360a5c25f3

[2022-07-27 13:15] dohnto commented on #7102
We saw similar behavior in our GKE Kubernetes clusters:

[code]

We hit this during a rollout when containers were terminated. `kube_pod_container_status_terminated_reason` emitted by [kube-state-metrics](https://github.com/kubernetes/kube-state-metrics) shows that pod was `OOMKilled`. IIUC this is basically from `containerd`.

We cannot find any related even in kernel logs that would suggest that

[2022-07-27 16:02] syurevich commented on #7194
We also observed an issue with very similar symptoms although we use containerd version 1.5.11.
containerd.sock does not get created and the logs look very similar.
[code]
We noticed that both [1.4.13](https://github.com/containerd/containerd/releases/tag/v1.4.13) and [1.5.10](https://github.com/containerd/containerd/releases/tag/v1.5.10) containerd patch releases addressed the same [CVE-2022-2364

[2022-07-27 18:48] NikolaBo commented on #7193
I switched to using the WithCheckpointImagePath option on task.Checkpoint and no longer encounter this issue.

[2022-07-27 18:48] #7193 closed

[2022-07-27 23:49] liurupeng commented on #7075
Hi @kevpar, we confirmed that this only happens for Windows container, and the error we saw is from this part (https://github.com/kubernetes/kubernetes/blob/bdd2e476959070b1698ba91c2f6e0cf3688338fd/pkg/kubelet/logs/container_log_manager.go#L398), "Failed to rotate log for container" err="failed to compress log \"\\\\var\\\\log\\\\pods\\\\default_test4\\\\test5\\\\0.log.20220720-212745\": failed to

[2022-07-27 23:51] liurupeng commented on #7075
Then the log rotation will no longer happen, and the log file keeps increasing. So we are not sure why log rotation didn't happen and also why this happens on Windows OS and contanerd only.

[2022-07-28 01:13] fujitatomoya commented on #6490
We've had the same problem, anybody working on PR?

[2022-07-28 04:19] danespinosa commented on #5476
@Insvald I was able to make a PoC to talk to containerd on windows via named pipes. Please look at https://github.com/danespinosa/containerdclient/blob/main/Program.cs

It does work pretty well, although I am trying to talk to the .NET team to understand if this would be the best way :)
Please let me know your thoughts, I hope this helps.

[2022-07-28 07:08] Insvald commented on #5476
@danespinosa Great job! I absolutely must see how this work with my tests )).

[2022-07-28 10:55] markvai commented on #6645
Any update on this?
If anyone can help me understand, this issue in only for runc hooks or also for OCI hooks (podman hooks)?

[2022-07-28 12:45] mimmus commented on #7102
OOMkilled => Pod exited with code 137
(@dohnto strange to see this during a rollout)
But this is NOT true if container contains more than one process and the process with PID *not* 1 is killed.

Thus I was looking for a reliable way to monitor OOMs....

[2022-07-28 17:41] danespinosa commented on #5476
@Insvald I have updated the sample, hope it helps you :)

[2022-07-28 18:50] kevpar commented on #7075
It looks like Kubelet is taking an already rotated log file (`0.log.20220720-212745`), copying its contents into a gzipped temp file (`0.log.20220720-212745.tmp`), and then renaming the temp file to the final path (`0.log.20220720-212745.gz`). The final rename (`0.log.20220720-212745.tmp` -> `0.log.20220720-212745.gz`) is what is failing, presumably because the final path already exists and someth

[2022-07-29 05:29] dhiman360 commented on #5325
@mikebrow , could you please help. We can provide any test data may needed for analysis, please point us.

[2022-07-29 05:41] fuweid commented on #5325
@dhiman360 I don't think we can do anything here. The disk pressure will make system unpredictable and anything will be get slow, including exec probe.

[2022-07-29 05:43] fuweid commented on #7151
Good to know. Will take a look and thanks for the idea 💡!

[2022-07-29 07:23] dhiman360 commented on #5325
@fuweid, Actually it is not disk pressure. We had not consumed the entire disk. It is the disk IO pressure that is affecting exec time. What is the reason for exec probe taking this long time when there is disk IO in progress?

[2022-07-29 07:36] fuweid commented on #5325
Sorry for the typo. Yes, I means that it is IO pressure. Before fork runC exec command, containerd will read the container spec and send it to shim. There are steps about reading data from disk. If IO is running with heavy load, it will take long time.

[2022-07-29 09:00] fuweid commented on #7102
Thanks for the information. Will take a look and reproduce it.

[2022-07-29 09:15] dgibbard-cisco opened #7229 "Empty Entrypoint value - difference in behaviour"
### Description

I noted today whilst deploying some containers to docker and containerd, that containerd doesn't handle ENTRYPOINT in the same way, when the value is ```[""]```. I understand this isn't very typical, but it is a difference in behaviour when compared to the docker runtime (not sure if it's by choice or design).

When running a container image built with:
[code]
docker will run corr

[2022-07-29 12:11] ibabou commented on #7075
Thanks for the inputs @marosset!
As we discussed yesterday, it seems the error we're seeing in the compress step with the tmp file failing to be renamed might be related to the unclosed handles you pointed to in https://github.com/kubernetes/kubernetes/pull/110453/files# (they're being added there with the additional tests).

Looking now at the parent method, I guess it seems that if the compress

[2022-07-29 13:12] dims opened #7231 "Kubernetes is vendoring an out-of-support version of containerd"
Containerd 1.4.x has been EOL'ed in `March 3, 2022`, However Kubernetes and cadvisor continues to use this version of containerd. This is mainly because, containerd 1.5 introduced go module support which causes a circular dependency problem, so both project are not able to switch to newer releases.

In the past we have tried a few ways to help with this:
- https://github.com/containerd/containerd/

[2022-07-29 15:26] mikebrow commented on #6490
Not sure why the reboot of the control plane is causing/requiring removal of the CNI network configuration directory(s) of a running container runtime. The code as written intended to stop the CRI service if an error occurred in the netconfig monitoring service. On init if the directory configured does not already exist we create that directory then monitor it, waiting for the config files to be a

[2022-07-29 15:44] fuweid commented on #6490
at https://github.com/containerd/containerd/issues/7196#issuecomment-1192106644

Yeah. I think the setup script should be careful to handle system-level folder. I use `kubeadm init` in my local and don't see that CNI config folder have been removed after `reset`...

[2022-07-29 17:33] emaste commented on #5432
#7000 is now merged, should this be closed?

[2022-07-30 02:42] GodYao1995 opened #7233 "cri-containerd-cni-1.6.6-linux-arm64.tar.gz dont match nerdctl 0.22.0"
### Description

[root@g7 ~]# nerdctl run -d --name ng -p 80:80 docker.io/library/nginx:alpine
FATA[0000] failed to create shim task: OCI runtime create failed: runc create failed: unable to start container process: error during container init: error running hook #0: error running hook: exit status 1, stdout: , stderr: time="2022-07-30T10:01:21+08:00" level=fatal msg="failed to call cni.Setup: plu

[2022-07-30 02:43] GodYao1995 opened #7234 "cri-containerd-cni-1.6.6-linux-arm64.tar.gz dont match nerdctl 0.22.0"
### Description

[root@g7 ~]# nerdctl run -d --name ng -p 80:80 docker.io/library/nginx:alpine
FATA[0000] failed to create shim task: OCI runtime create failed: runc create failed: unable to start container process: error during container init: error running hook #0: error running hook: exit status 1, stdout: , stderr: time="2022-07-30T10:01:21+08:00" level=fatal msg="failed to call cni.Setup: plu

[2022-07-30 02:43] GodYao1995 opened #7235 "cri-containerd-cni-1.6.6-linux-arm64.tar.gz dont match nerdctl 0.22.0"
### Description

[root@g7 ~]# nerdctl run -d --name ng -p 80:80 docker.io/library/nginx:alpine
FATA[0000] failed to create shim task: OCI runtime create failed: runc create failed: unable to start container process: error during container init: error running hook #0: error running hook: exit status 1, stdout: , stderr: time="2022-07-30T10:01:21+08:00" level=fatal msg="failed to call cni.Setup: plu

[2022-07-30 05:05] #7235 closed

[2022-07-30 05:05] #7233 closed

[2022-07-30 05:06] #7234 closed

[2022-07-30 12:00] olemarkus commented on #7219
I see the exact same error running `kubectl exec` or `ctr task exec` against a container when Kubelet is using `cpuManagerPolicy: static`

[2022-07-30 12:35] JohnJAS commented on #7219
Some updates, I have downgraded runc version from 1.1.3 to 1.1.2. And it works on my cluster. Although containerd recommand to use a runc version >= 1.1.2 for containerd 1.6.6, it looks like some fixs in runc 1.1.3 had imported the current issue. I will update the current issue if I have a futher findings.

[2022-07-30 14:03] olemarkus commented on #7219
I can confirm runc 1.1.2 does not have this problem. Thanks for the tip.

[2022-07-31 11:23] yashsingh74 opened #7238 ""Containerd release" workflow of release version 1.5 not working for forked repo"
### Description

While running the containerd release worflow of release/1.5 with the forked repo is given the error as the actions is not properly fetching the tags.

### results you received

Error:
[code]

### Describe the solution you'd like
It should work if we use the jinja template to fetch the repository instead of hardcoding.

[2022-07-31 11:24] yashsingh74 commented on #7238
/assign

[2022-08-01 05:29] dhiman360 commented on #6662
@mikebrow, so what is the way forward for this? Could not understood the whole aspect of it, if the fix is possible or not. If possible when this will be available?

[2022-08-01 05:31] fuweid commented on #5325
since it is not related to containerd, I am going to close it.

[2022-08-01 05:31] #5325 closed

[2022-08-02 07:52] pacoxu opened #7241 "image pulling time metrics"
### What is the problem you're trying to solve

 It would be helpful to see metrics around pulling an image

inspired by https://github.com/kubernetes/kubernetes/issues/111259

### Describe the solution you'd like

* number of currently pulling images - gauge
 * time of pulling an image (maybe histogram) ?
 * total errors related to pulling - counter ?

### Additional context

I am not sure if thi

[2022-08-03 00:44] dcantah commented on #6990
https://github.com/containerd/containerd/pull/7023 has been merged and I've backported it to release/1.6 as well so the next 1.6 release should contain it. Granted this won't solve the disk overload, but the oddity of non-panic stacks going to panic.log should be alleviated. Should we keep this open to figure out a log rotation scheme for the log file?

[2022-08-03 02:19] bobbypage opened #7246 "CRI sandbox and container stats should be cached to avoid perf issues"
### Description

The [`ListContainerStats`](https://github.com/kubernetes/cri-api/blob/5b34dfa/pkg/apis/runtime/v1/api.proto#L110) and [`ListPodSandboxStats`](https://github.com/kubernetes/cri-api/blob/5b34dfa/pkg/apis/runtime/v1/api.proto#L110-L112)  as implemented in containerd CRI currently fetch all of the stats when the RPC is called and does not do any caching.

This can be quite expensive,

[2022-08-03 02:23] payall4u opened #7247 "Containerd restart failed with message "failed to recover state: failed to reserve container name xxx: name xxx is reserved for xxx""
### Description

We use kubelet and containerd. Restart containerd failed because cri found the same container name.

8月 02 22:56:05 VM-0-29-centos containerd[36948]: time="2022-08-02T22:56:05.989055410+08:00" level=fatal msg="Failed to run CRI service" error="failed to recover state: failed to reserve container name \"kube-proxy_kube-proxy-m28fw_kube-system_0df69e5f-4355-4f99-bfd0-d1c6b2f935aa_0\

[2022-08-03 17:44] ibabou commented on #6990
Thanks @dcantah for the update! I believe this should be fine to close, but agree that a proper rotation in future might be the best way.

[2022-08-03 20:35] dcantah commented on #6990
I'll close this out then, we can open an issue to track rotating the log file in some manner

[2022-08-03 20:35] #6990 closed

[2022-08-04 03:45] #7238 closed

[2022-08-04 06:08] moonek opened #7249 "As the conatiner stops, a failure log occurs in systemd "Failed to trim compat systemd cgroup /kubepods.slice/kubepods-burstable.slice/xxx: Device or resource busy""
### Description

As the conatiner stops, a failure log occurs in systemd
[code]

This is the full log.
[code]

### Steps to reproduce the issue

1.
2.
3.

### Describe the results you received and expected

Failed message does not occur.

### What version of containerd are you using?

1.5.2

### Any other relevant information

runc: 1.0.0-rc95
os: ubuntu 18.04.3 LTS
kernel: 4.15.0-55-generic

###

[2022-08-04 15:17] zouyee commented on #7246
/assign

[2022-08-05 02:18] funkypenguin opened #7255 "1.6.7 can't be run on Ubuntu LTS 20.04 (GLIBC_2.34 not found)"
### Description

Hey guys,

I've been unable to run the latest containerd (1.6.7) on my Ubuntu 20.04 fleet, but 1.6.6 works fine. The following illustrates the problem:

1.6.6:
[code]

1.6.7:
[code]

### Steps to reproduce the issue

1. Download and uncompress the latest 1.6.7 from https://github.com/containerd/containerd/releases/download/v1.6.7/containerd-1.6.7-linux-amd64.tar.gz
2. Attempt to r

[2022-08-05 04:33] tgaddair commented on #4659
Looks like this may have been fixed in https://github.com/GoogleContainerTools/kaniko/pull/2066. I was seeing the same issue, tried `gcr.io/kaniko-project/executor:aad03dc285fbfddd3d6d31637629d0423604129a` (which contains the fix), and everything seems to be pulling correctly.

[2022-08-05 04:49] olemarkus commented on #7219
Does this belong with runc project? Is there an issue filed there already?

[2022-08-05 05:29] ksankeerth commented on #7255
Observing the same issue on Ubuntu 20.04

[2022-08-05 05:46] thaJeztah commented on #7255
Those binaries were probably built on a newer version of ubuntu, and dynamically linked. As a workaround, you can probably use the binary that's included in the `docker.io` packages (they've not yet been published to download.docker.com, but are on the staging server currently; https://download-stage.docker.com/linux/ubuntu/dists/focal/pool/stable/amd64/)

[2022-08-05 07:46] invidian commented on #7255
It seems it also affects users of https://github.com/crazy-max/ghaction-setup-containerd: https://github.com/flexkube/libflexkube/runs/7687197619?check_suite_focus=true

[2022-08-05 08:57] Azertooth commented on #7219
Just [created](https://github.com/opencontainers/runc/issues/3551) one

[2022-08-05 10:53] thaJeztah commented on #7255
/cc @crazy-max FYI ^^

[2022-08-05 11:58] crazy-max commented on #7255
@invidian Enforce 1.6.6 in the meantime:

[code]

Or switch to `ubuntu-2204` in your workflow.

[2022-08-05 13:40] delfws commented on #7255
I have the same problem on CentOS 7

[2022-08-05 13:42] delfws commented on #7255
I have the same problem on CentOS 7

[2022-08-05 13:47] delfws commented on #7255
[code]

[code]

[2022-08-05 15:00] xtremerui commented on #7255
Just want to confirm if this considered a bug or breaking change that not gonna be fixed? If it will be fixed, would that be repushing all the assets in 1.6.7 release or 1.6.8? Thx.

[2022-08-05 15:04] thaJeztah commented on #7255
I don't think this is a bug in the source, only an issue with the binaries that were built.

This is a limitation of having a single binary to target all possible distros, instead of builds specific for each distribution.

[2022-08-05 15:36] AkihiroSuda commented on #7255
Regression in https://github.com/containerd/containerd/commit/0e56e4f9ff2925d0755908f227f2b5fc9a1c4c78 🙇

I guess we have to rollback Ubuntu to 18.04 except for RISC-V 64 (because Ubuntu 18.04 lacks RISC-V 64 support)

[2022-08-06 01:54] AkihiroSuda commented on #7255
Keeping open until releasing v1.6.8

[2022-08-06 10:54] fuweid commented on #7102
@mimmus @dohnto

Currently, containerd is using [cgroup memory event control](https://github.com/containerd/cgroups/blob/main/memory.go#L461) to receive event with epoll. There are two events to trigger epoll_wait: 1) OOM event from page_fault 2) the memory cgroup has been deleted.

For the first one, I tried to produce your cases but there is always OOM related log in `dmesg`, even if the killed

[2022-08-07 02:33] fuweid opened #7264 "[flaky test case | critest] runtime should support portforward [Conformance]"
### Description

Flaky test case happens several times in cirrus-ci.

https://cirrus-ci.com/task/5124184308187136?logs=cri_test#L228

[code]

### Steps to reproduce the issue

randomly

### Describe the results you received and expected

Should pass the case.

### What version of containerd are you using?

main branch

### Any other relevant information

_No response_

### Show configuration if it

[2022-08-07 11:31] icodeforyou-dot-net commented on #5432
Do I get this correctly that via #7000 we can now actually run Linux containers on FreeBSD via the linux compatibility layer? I was researching this topic when I found this issue here. I haven't found any documentation of this so far.

[2022-08-07 13:10] GounGG commented on #4659
The problem is not completely fixed.

[2022-08-07 18:52] rgl opened #7266 "ctr --cni on windows output debug messages"
### Description

`ctr --cni ...`  on Windows should not output debug messages by default.

### Steps to reproduce the issue

1.

[code]

### Describe the results you received and expected

I was expecting:

* No debug messages by default.
* A way to configure the debug level.

### What version of containerd are you using?

1.6.7

### Any other relevant information

_No response_

### Show configur

[2022-08-08 22:01] AkihiroSuda commented on #7255
v1.6.8 is now available

[2022-08-08 22:01] #7255 closed

[2022-08-09 07:36] deephon opened #7271 "error: unable to start container process: open /dev/pts/0 at version:1.6.7"
when i want to into docker container, and call:

docker exec -it container /bin/bash | /bin/sh | sh | bash

that result error: OCI runtime exec failed: exec failed: unable to start container process: open /dev/pts/0: operation not permitted: unknown

that error not at version1.6.6, so it return to normal when i rollback

Used OS: Almalinux 9

[2022-08-10 01:40] #7271 closed

[2022-08-10 03:28] llaoj opened #7276 "Why are all pods on this node restarted?"
### Description

First of all, this problem has been going on for a long time. I have analyzed some conclusions, but still can't find the root cause.
For a while, we had a collective restart of pods on many kubernetes nodes that powered by containerd as the runtime.
We didn't know why, so we took the nodes offline and started looking for the reason.
After a period of analysis, we found that:

####

[2022-08-10 04:29] meteoricfarm commented on #7219
For rocky linux user,

`sudo dnf downgrade containerd.io`

above command, should make behavior normal. (downgrade 1.6.7 to 1.6.6)

Sincerely,

[2022-08-10 09:44] ehthan1 commented on #6970
I missed same error. old version kubeadm maybe better

[2022-08-10 13:00] endocrimes commented on #7241
It would be nice to have this at the container runtime layer - Not everyone uses containerd through Kubernetes and it's useful for them too.

[2022-08-10 19:08] kolyshkin commented on #7219
One thing I don't understand is how exactly `systemctl daemon-reload` affects things.

[2022-08-10 19:15] olemarkus commented on #7219
Red herring, I'm thinking. You don't have to run that to reproduce.

[2022-08-11 14:58] pacoxu commented on #7241
- as pulling time is related to size,  histogram metrics of time/size can help us know the throughput of a registry.(we may group it by the registry)
- how about histogram metrics of image size and pulling duration? This can help us know if there are large images or slow pulling.

There is already a duration in `Image Pulled` event of Pod.

[2022-08-11 16:12] ghenry commented on #6203
Still getting this on Fedora 36.

[2022-08-11 19:12] arnaldo2792 commented on #4834
Hello folks, is the resolution for this issue document what @klueska mentioned a few comments above on how to use the projects they linked with containerd? If so, I would like you folks to consider the following proposal.

I think one way to solve this problem will be to allow the administrators the ability to add whatever hooks they want, and not limit the feature for NVIDIA GPUs. There are other

[2022-08-11 19:28] klueska commented on #4834
The nvidia wrapper around runc will become obsolete once the next version of congtainerd comes out, as CDI support landed in containerd about a month ago:
https://github.com/container-orchestrated-devices/container-device-interface

It allows arbitrary rewrites to the OCI runtime spec via a CDI configuration file.

[2022-08-12 09:06] bangzhuzhu commented on #6313
so how do you fix this problem?

[2022-08-13 07:47] Tim-0731-Hzt opened #7285 "runtime-rs: support persist file for linux container and wasm container"
support persist file for linux container and wasm container, and implement save, restore and cleanup

[2022-08-13 07:48] #7285 closed

[2022-08-13 09:26] zhouwencn commented on #7219
i meet the same issue, i install centos stream9 whth paraller desktop on m1 mac,then  i install docker and change the docker mirror,after that  i docker exec,this probem show

[2022-08-13 17:50] bob-rove commented on #7219
To add to this conversation - (probably) the same issue is also documented here: https://github.com/docker/desktop-linux/issues/59
Software versions I ran into this issue with:
[code]

[2022-08-14 12:14] xinhuang327 commented on #3347
This works! Thanks! You saved my day!

[2022-08-14 16:26] 1003n40 opened #7289 "Containerd stdout pipe being overfilled"
### Discussed in https://github.com/containerd/containerd/discussions/7273

<div type='discussions-op-text'>

<sup>Originally posted by **1003n40** August  9, 2022</sup>
In my case I have application that performs outputs from range 1~3 MB. What happens is when there are parallel containers running in my kubernetes cluster (in different pods) it cuts off the stdout of the container, this results i

[2022-08-15 08:18] lengrongfu commented on #4109
Is it possible to use the `lscpu` command or the `uname -m` command to obtain the Cpu architecture information after reading `/proc/cpuinfo` fails.

[2022-08-15 08:37] wader commented on #4109
This is from a docker desktop `docker run -ti --rm --platform linux/arm64 alpine:3.16.1` container:
[code]

[2022-08-15 08:39] lengrongfu commented on #6793
Hi, Is this issue still being worked on, if not I will try to fix it.
@dcantah

[2022-08-15 08:54] lengrongfu commented on #5642
Hi, I am willing to try to solve this problem. By looking at the [PR](https://github.com/containerd/containerd/pull/5657)  information, we can solve this problem by adding `-.` to the tag parser.

The following are the guidelines for Label Schema，[https://label-schema.org/rc1/](https://label-schema.org/rc1/)

Label Schema labels MUST comply with Docker’s guidelines:
- Keys should only consist of l

[2022-08-15 11:34] dcantah commented on #6793
@lengrongfu I haven't had time to look into this no, feel free!

[2022-08-15 12:03] lengrongfu commented on #4109
I think this is what we need, what do you think?

[2022-08-15 12:56] wader commented on #4109
Yeap `uname -m` seems to work, but i'm not sure that is the case for other container runtimes when doing emulation.

[2022-08-15 13:07] lengrongfu commented on #5642
We can't use `.` as Label Schema because it is already used for Separator；
[code]

[2022-08-15 14:55] lengrongfu commented on #4109
I think most of us still get it from `/proc/cpuinfo`, and only when it return `err` do we downgrade to `uname -m` or `lscpu` command; I'll try to deal with it if this is acceptable.

[2022-08-15 15:00] wader commented on #4109
Ok, but no sure i understand your use-case. Reading /proc/cpuinfo will not fail in the case you'r inside an emulated container, it will just return the host's cpu info.

[2022-08-15 20:41] zhsj commented on #7231
IIRC, go1.18 (or maybe go1.17) won't take transitive dependencies. It shouldn't be problem now since containerd/api doesn't import k8s.io/kubernetes.

[2022-08-16 00:43] lengrongfu commented on #6174
This issue we need to solve？

[2022-08-16 03:46] AkihiroSuda opened #7296 "Release: add static binaries"
### What is the problem you're trying to solve

The current dynamically linked binaries (built on Ubuntu 18.04) cannot be executed on musl-based distros and older versions of glibc-based distros

### Describe the solution you'd like

Add static binaries, or just replace the current dynamic ones with static ones

### Additional context

Static binaries are currently "discouraged" in https://github.

[2022-08-16 11:24] pramenku commented on #7219
wget  https://download.docker.com/linux/centos/8/x86_64/stable/Packages/containerd.io-1.6.4-3.1.el8.x86_64.rpm
rpm -ivh *.rpm

contianerd.io 1.6.4 is working.

[2022-08-16 11:31] AkihiroSuda opened #7297 "GHA: ubuntu-18.04 will be unsupported by 12/1/22"
- https://github.com/actions/runner-images/issues/6002

We have to migrate ubuntu-18.04 CI to 20.04 or 22.04:
https://github.com/containerd/containerd/blob/a04268132eaf764103b8d4d0672d19da6d88cbd7/.github/workflows/ci.yml#L388-L390

But we have to keep using (containerized) 18.04 for building the release binaries:
https://github.com/containerd/containerd/blob/a04268132eaf764103b8d4d0672d19da6d88cb

[2022-08-17 04:22] dnslin commented on #4581
Many thanks for working the same on 1.23.0

[2022-08-17 11:58] netikras commented on #6273
There are my findings about this issue: https://github.com/kubernetes/kubeadm/issues/2608#issuecomment-1217900824

Basically, nfs/overlayfs/probably other filesystems cannot support contained runtime as they don't support some attributes required for containerd to operate.

I saw this 6273 ticket before, but an answer "don't do that, do that instead" didn't satisfy me and I needed to figure out th

[2022-08-17 12:07] Trackhe commented on #6273
I posted a link to my solution in the other thread.
[code]

which is about the same solution as you find for you. Thats why the tickets closed. The reason is also mentioned on the site. But maybe if you don't saw the link, here again https://www.redhat.com/sysadmin/rootless-podman-nfs

[2022-08-17 12:19] netikras commented on #6273
Didn't see the `truncate` solution of yours. Probably some other thread I haven't come across yet.

As for the link and explanation - I saw the link, but my case has nothing to do with `podman`, so I figured it doesn't apply to me.

Anyways, I'm glad you found your solution. I found mine. It seemed related to this ticket, as the error is the same, so I decided to share my insights with the interne

[2022-08-17 14:21] akhilerm opened #7305 "documentation for `Ingester` interface in containerd"
Ingester is used to create and manage content before it is committed as a referenced data blob. The code comments and documentation does not describe in detail about the Ingester interface.

The current set of available information does not have details about the interface. [refer](https://github.com/containerd/containerd/blob/a04268132eaf764103b8d4d0672d19da6d88cbd7/content/content.go#L43).
Simil

[2022-08-17 21:19] gadgetwhiz opened #7307 "The jenkins/agent:jdk11-windowsservercore-ltsc2019 image succeessfully deploys on K8s docker node, and fails on K8s containerd node."
### Description

A Jenkins pipeline deploys the jenkins/agent:jdk11-windowsservercore-ltsc2019 image successfully on K8s windows docker node, but fails with errors on Windows containerd node.

## Sample snippet from log:
[code]
##  containerd versions:
[code]

### Steps to reproduce the issue

To remove Jenkins as a possible error source, the image was deployed as standalone container, and failed

[2022-08-17 21:20] gadgetwhiz commented on #7307
It is currently unclear whether there is an issue with the image and/or the containerd node. Any further debugging guidance is appreciated.

[2022-08-18 02:11] fuweid commented on #7264
Another flaky test case: https://api.cirrus-ci.com/v1/task/5579724511510528/logs/cri_test.log

[code]

[2022-08-18 05:00] paddy-hack commented on #7219
Just ran into this myself on an up-to-date Debian 11 (bullseye) server using the Docker.com packaged `containerd.io`, `docker-ce` and `docker-ce-cli` packages.

Rough timeline of events
- 2022-08-17 03:00 automatic server reboot (courtesy of `unattended-upgrades`)
- 2022-08-17 11:00 `sudo docker-compose exec`'d a container successfully
- 2022-08-17 11:10 logout
- 2022-08-18 07:50 login
- 2022-08-1

[2022-08-18 07:50] osfrickler commented on #7219
Maybe it's obvious, but I haven't seen it mentioned: If I leave out the `-t` option for the `exec` command, it works without error. Of course using a shell without tty attached isn't much fun, so not a real workaround, but might be helpful in some cases.

[2022-08-18 08:04] olemarkus commented on #7219
Yeah. This is worth mentioning.
This is also why this doens't show up in K8s e2e testing. They don't run with `-t`. And even if they did, `-t` wouldn't actually attach tty due to how the tests run.

[2022-08-18 15:04] pacoxu commented on #7241
To summarize, essential metrics would be
1. Guage: in-progress pulls counts
2. Counter: image pull error counts
3. Histogram: throughout(image size/image pull time = image pull size every second) group by the registry
- image throughout may be related to CPU/disk io/network.

Optional metrics:
1. Histogram:  [Need Discussion] image-pull time group by the registry(maybe not proper as size may be di

[2022-08-18 15:05] pacoxu commented on #7241
/assign

[2022-08-19 17:28] mxpv opened #7312 "Sandbox API work"
This is an umbrella issue to track sandbox API work / remaining work items for 1.7.

Proposal:
- [x] https://github.com/containerd/containerd/issues/4131
- [x] https://github.com/containerd/containerd/issues/5742

GRPC API:
- [x] https://github.com/containerd/containerd/pull/6703

Runtime:
- [x] https://github.com/containerd/containerd/pull/5813
- [x] https://github.com/containerd/containerd/pull/

[2022-08-22 10:19] abel-von commented on #7312
I have some idea about the design of Sandbox API, it follows the basic idea of the design currently, but it decouples the notion of sandbox and shim or container in a better way, Could you please take a look at it?

https://github.com/abel-von/containerd/commit/3866050fd76eb50332c793b07a170ac9165f6689

I wrote a doc about it.

https://docs.google.com/document/d/17_URs9UV3s_7xbaXCLYrCJf-0LhKLOD-NPK

[2022-08-23 15:19] porrascarlos802018 commented on #5067
Recommendation, get your container up and running first, with base image , public accessible, then exec into the container, and test the commands, parameters you want to use internally in the container, to confirm the right sintaxis accepted by your image, and or application.

[2022-08-23 16:40] PriamX commented on #7219
Same issue on Fedora 35

`Linux myserv 5.18.18-100.fc35.x86_64 #1 SMP PREEMPT_DYNAMIC Wed Aug 17 16:09:22 UTC 2022 x86_64 x86_64 x86_64 GNU/Linux`

[code]

Will try 1.1.4 when available in the repo, until then, will avoid `systemctl daemon-reload`

[2022-08-23 19:38] ethan-lowman-dd commented on #6691
Yes it is. I've been attending the containerd community meetings and the guidance has been to hold off on further work on the [WIP PR](https://github.com/containerd/containerd/pull/6994) since there might need to be some architectural changes to accommodate the planned "image transfer service" project.

[2022-08-23 20:58] ruiwen-zhao opened #7318 "[Evented PLEG support] Add multi-subscriber support to GetContainerEvents CRI API"
### What is the problem you're trying to solve

This is a follow up action item of supporting Kubernete's Evented PLEG feature [1].

In the current implementation [2], only one GetContainerEvents caller is supported. If there are multiple callers, then each caller can only get *some* events, because they all read from the same channel.

In most, if not all, cases, kubelet is the only one that call

[2022-08-24 00:35] #6441 closed

[2022-08-24 07:51] harridu opened #7319 "use cgroup driver "systemd" by default"
### What is the problem you're trying to solve

Using kubeadm 1.24.4 and containerd 1.6.8 I had a hard time setting up a k8s cluster "the hard way" via kubeadm, even though it was just one node. Apparently kubeadm v1.22+ uses the systemd cgroup driver by default. containerd 1.6.8 does not. There was no indication why k8s failed to start (AFAICS).

### Describe the solution you'd like

I would sugg

[2022-08-24 08:18] hansbogert commented on #7219
I'm not sure how this is really triggered though, some containers  I can still exec into fine, other not so much. What are the factors at play here in order to hit this issue?

[2022-08-24 09:28] subhashis2018 commented on #4581
How to edit config.toml file

[2022-08-25 09:34] balazs92117 opened #7321 "Fallback does not work with custom registry mirror/proxy"
### Description

We use AKS, and have a private docker registry mirror configured (mainly for cache and to avoid rate limiting),

We have set up the config below, to configure our private mirror, and - as a fallback - the original registry.

It works well, as long as the private registry (mirror) runs. But if we shut it down, Containerd does not fallback to the second host.

This issue is might be

[2022-08-25 15:08] tsaarni commented on #6691
@ethan-lowman-dd Great feature indeed :100:  ! Have you been experimenting with implementations as well, e.g. integrationg with Sigstore?

[2022-08-26 06:31] pacoxu commented on #7319
You can follow https://kubernetes.io/docs/tasks/administer-cluster/kubeadm/configure-cgroup-driver/#configuring-the-kubelet-cgroup-driver to config cgroup driver of kubelet with kubeadm.

The behavior of kubeadm is not changed since https://github.com/kubernetes/kubernetes/pull/99471, see the release note.

[2022-08-26 09:53] soulseen opened #7329 "can not inject CDI device to container"
### Description

I recompiled the latest containerd with PR https://github.com/containerd/containerd/pull/6654.
And I used containerd combination with k8s, after I applied k8s deployment as follows, used CDI annotation in the pod:
[code]
the CDI `annotation` defined in Pod can not pass through to underlay OCI(such as kata) by contained.
after the deep dig, I found there missing injecting the CDI a

[2022-08-26 13:40] #7219 closed

[2022-08-26 15:25] QiuToo commented on #4950
我也遇到了类似的问题，我在使用containerd 1.6.5的kuberentes集群中，无法拉取到Harbor中的镜像。
[root@kubeadm-master1 ~]# cat nginx-deployment.yaml
apiVersion: apps/v1
kind: Deployment
metadata:
  name: nginx
  namespace: default
spec:
  replicas: 1
  selector:
    matchLabels:
      app: nginx
  template:
    metadata:
      labels:
        app: nginx
    spec:
      imagePullSecrets:
      - name: harbor-auth
      containers:

[2022-08-26 15:26] QiuToo commented on #4950
我也遇到了类似的问题，我在使用containerd 1.6.5的kuberentes集群中，无法拉取到Harbor中的镜像。
[root@kubeadm-master1 ~]# cat nginx-deployment.yaml
apiVersion: apps/v1
kind: Deployment
metadata:
  name: nginx
  namespace: default
spec:
  replicas: 1
  selector:
    matchLabels:
      app: nginx
  template:
    metadata:
      labels:
        app: nginx
    spec:
      imagePullSecrets:
      - name: harbor-auth
      containers:

[2022-08-28 14:29] i-dipanshu commented on #7305
Hey @AkihiroSuda, I would like to work on this issue

[2022-08-29 04:18] i-dipanshu commented on #7305
Hey @akhilerm
I surfed the repository and respective golang documentation on `ingester and ingestermanager` interfaces.
Please correct me if i'm wrong
I have to provide a more detailed code comments on these.
But the resources are sufficient on the internet , It would be very helpful if you could provide some references to get started

[2022-08-29 15:29] Jenkins-J commented on #7229
By tracing the error message, it looks like the error stems from runc. I am not sure why the behavior is different from docker though.

[2022-08-30 02:54] lengrongfu commented on #7264
I found the `CreateContainer in sandbox from runtime service failed` error, so it should be that the container creation failed, causing the `portforward` to fail.

[2022-08-30 09:34] vewe-richard commented on #6313
Is this problem fixed? Can we run linux container without docker desktop but only containerd.io?

[2022-08-30 17:56] kzys commented on #7066
The only remaining fuzzer is https://github.com/cncf/cncf-fuzzing/blob/main/projects/containerd/containerd_import_structured_fuzzer.go

[2022-08-30 18:43] kzys commented on #7229
Because of this?

https://github.com/moby/moby/blob/ce550fa9c2e0f7b85a77e72a9596b2f92f1d0e32/daemon/create.go#L284-L287

I personally prefer to keep the current behavior since 1) Docker's handling seems too arbitrary and 2) most users wouldn't face this incompatibility.

[2022-08-30 18:50] kzys commented on #5432
@samuelkarp Can we close this one now?

[2022-08-31 05:51] cpuguy83 commented on #7229
Agreed with @kzys
That docker code is peculiar.

[2022-08-31 08:43] ericazhao-china commented on #4950
@mikebrow  use containerd mirror of version 1.4  or after  version 1.5 we configured using
[code]
does it support  mirrorring a private registry to another local private registry ?

[2022-08-31 19:11] kzys commented on #6678
Resolving. Feel free to reopen if the issue is reproducible.

[2022-08-31 19:11] #6678 closed

[2022-08-31 19:13] kzys commented on #5259
Resolving. We have some checks in Makefile now.

https://github.com/containerd/containerd/blob/1bb39b833e26a6dc7435fcec8ded44a04b3827f7/Makefile#L441-L456

[2022-08-31 19:13] #5259 closed

[2022-08-31 19:25] kzys commented on #4914
Resolving due to the lack of information and containerd 1.4 is being EOL. Feel free to open if you still can reproduce the issue.

[2022-08-31 19:25] #4914 closed

[2022-09-01 08:37] dgibbard-cisco commented on #7229
Understood all, I appreciate you taking time to look into this :)
Since this difference in behaviour isn't relevant and/or behaviour parity with docker isn't desirable in this case, I'll close this.

Thanks!

[2022-09-01 08:37] #7229 closed

[2022-09-01 14:29] amirad1 commented on #3847
I was looking for this problem for several days, but this worked for me, thanks !

[2022-09-01 17:39] reefland opened #7354 "ZFS Snapshotter - Excessive ZFS Snapshots?"
### Description

Seem to be having an issue with containerd ZFS snapshotter potentially not cleaning up snapshots?

Looking at systemd logs, I noticed message such as (not sure if related):
[code]

Containerd zfs dataset ranges between 34% to 80% capacity depending on when various cleanup and garbage collection happens.  It has never reached zero.

This number of snapshots seems high:
[code]

For

[2022-09-02 00:20] NikolaBo opened #7357 "Task delete fails after unsuccesful container restore."
### Description

After any unsuccessful container restore where containerd has invoked runc and the runc restore has failed, the task is left in a `created` state. In this state you cannot delete the task or the container.

### Steps to reproduce the issue

1. pull image: `ctr -n demo i pull docker.io/library/redis:latest`
2. create container: `ctr -n demo c create docker.io/library/redis:latest r

[2022-09-02 00:23] NikolaBo commented on #7357
Will try and find time to isolate a code change to resolve this, and potentially open a PR.

[2022-09-02 04:00] lengrongfu opened #7358 "Upgrade registry.k8s.io/pause version"
### What is the problem you're trying to solve

The current `[registry.k8s.io/pause](http://registry.k8s.io/pause)` has been upgraded to the `3.8` version.

### Describe the solution you'd like

Upgrade `containerd` use `registry.k8s.io/pause version` default version to `3.8`

### Additional context

_No response_

[2022-09-02 04:01] lengrongfu commented on #7358
/assign

[2022-09-02 16:38] oppshorer commented on #5895
[code]

[2022-09-02 17:09] oppshorer commented on #5895
maybe we can improve it for offline special platform image
we can use `pull` and `export` with `--all-platforms` to deal with this problem, but  if containerd extra miss layer to file, the final image file will be less

[2022-09-03 03:26] lengrongfu commented on #6984
From my analysis I think we can make enhancements to the code in this location.

[2022-09-03 05:03] lengrongfu commented on #6984
/assign

[2022-09-03 05:09] lengrongfu commented on #6984
when endpoint is `https://harbor.local.org/`, run `u,err := url.Parse(endpoint)` after `u.Path` is `/`, so not match this logic `if u.Path == ""{ u.Path = "/v2"} `, execution replace `u.Path="/v2" `.

[2022-09-03 05:17] kitarp29 commented on #6984
Is it done?
I am busy with some family issues for tge next two weeks. My Grandfather passed away, I am busy with the rituals. If this is still to be resolved, let me know.
I will get on it after 2 weeks.

[2022-09-03 06:43] lengrongfu commented on #6984
My condolences.
I tried to fix this issue, still welcome to continue to solve other issues.

[2022-09-03 09:38] lengrongfu opened #7363 "Upgrade CI ubuntu version"
### What is the problem you're trying to solve

The version of `ubuntu` used in the current `containerd` ci pipeline is `ubuntu-18.04`, according to the description of [`action/runtime image`](https://github.com/actions/runner-images/issues/6002), this version will be dropped on `8/8/22`, on `4/1` /2023` is no longer supported at all.

A warning has been issued in the PR pipeline.

<img width="103

[2022-09-03 09:38] lengrongfu commented on #7363
/assign

[2022-09-03 09:47] lengrongfu commented on #7363
https://github.com/containerd/containerd/actions/runs/2982848451

<img width="1359" alt="image" src="https://user-images.githubusercontent.com/15009201/188265280-15ef7772-8a7a-4784-a2d4-10959326cd44.png">

[2022-09-03 10:37] lengrongfu commented on #7363
https://github.com/containerd/containerd/issues/7255

[2022-09-03 13:55] AkihiroSuda commented on #7363
Closing as a duplicate of
- https://github.com/containerd/containerd/issues/7297

[2022-09-03 13:55] #7363 closed

[2022-09-03 13:56] AkihiroSuda commented on #7363
We can keep using ubuntu:18.04 containers on ubuntu-22.04 VMs

[2022-09-03 13:58] AkihiroSuda commented on #7319
Changing the default is a breaking change and isn't going to happen in containerd 1.7, but we can revisit this in containerd 2.0.

[2022-09-03 13:58] AkihiroSuda commented on #7319
Added this to the "2.0" milestone, but this doesn't mean this change is planned for 2.0. Just means that this change won't happen until 2.0.

[2022-09-03 14:14] thaJeztah commented on #7319
Somewhat relevant;

- https://lists.freedesktop.org/archives/systemd-devel/2022-July/048115.html
- https://github.com/systemd/systemd/pull/24086

[2022-09-04 12:43] root-ali commented on #6309
@kzys
can i assign this issue to myself and give it a try?

[2022-09-04 14:57] lengrongfu commented on #7321
@balazs92117 can you provide containerd config, eg: `config.toml` file

[2022-09-04 15:20] lengrongfu commented on #7296
I hope to solve this problem.
What is the solution to this problem? I suggest if it is possible to add static binaries for each platform (linux、windows、macos).
@AkihiroSuda

[2022-09-04 15:31] AkihiroSuda commented on #7296
No, static binaries are unpopular/unsupported on windows and macOS.

[2022-09-04 16:40] lengrongfu commented on #7296
Do you have a good way?  Or we statically compile the affected library to reduce the use of cgo.

[2022-09-04 16:43] AkihiroSuda commented on #7296
We already have `make STATIC=1`
https://github.com/containerd/containerd/blob/v1.6.7/BUILDING.md#static-binaries

[2022-09-05 00:27] lengrongfu commented on #7296
Yes, then I understand that this issue does not need to do other things

[2022-09-05 01:37] lengrongfu commented on #2980
@dmcgowan Is this issue currently being resolved? If not, I will follow up.

[2022-09-05 04:45] samuelkarp commented on #5432
@kzys I think so.  Closing.

[2022-09-05 04:45] #5432 closed

[2022-09-05 08:37] balazs92117 commented on #7321
Sure, here are all the configs:

cat /etc/containerd/config.toml
[code]
cat /etc/containerd/kubenet_template.conf
[code]
cat /etc/containerd/certs.d/docker.io/hosts.toml
[code]

cat /etc/containerd/certs.d/registry.gitlab.com/hosts.toml
[code]

[2022-09-06 09:34] Sunnatillo commented on #6662
Does it mean  it is not possible to implement switch which replicates docker behavior?

[2022-09-06 18:53] kzys commented on #6309
@root-ali You cannot but I can :)

[2022-09-06 21:38] buccella commented on #7247
Looks similar to #6095

[2022-09-07 08:43] narsimplyme opened #7375 "Windows Container memory leak with Calico Felix HostProcess container"
### Discussed in https://github.com/containerd/containerd/discussions/7365

<div type='discussions-op-text'>

<sup>Originally posted by **narsimplyme** September  4, 2022</sup>
Hi, I've been trying out HostProcess containers and with CNI, I choose Calico.
Because of the ease of installation on nodes, I used HostProcess installation method, but this is consuming the Host node's memory over the time

[2022-09-07 08:59] ehongping commented on #4810
crictl image list = ctr -n=k8s.io image list
so:
ctr  -n k8s.io images import kube1.18.3.tar

[2022-09-07 08:59] ehongping commented on #4810
crictl image list = ctr -n=k8s.io image list
so:
ctr  -n k8s.io images import kube1.18.3.tar

[2022-09-07 10:41] lengrongfu commented on #6984
@AkihiroSuda Hi, can you take a look at this PR? https://github.com/containerd/containerd/pull/7362

[2022-09-08 05:25] fuweid commented on #7358
close by #7359

[2022-09-08 05:25] #7358 closed

[2022-09-08 07:53] richshadman commented on #5067
This impacts the RUN instruction as well which also has both SHELL and EXEC forms.

https://docs.docker.com/engine/reference/builder/#run

[2022-09-08 14:01] sbuckfelder opened #7378 "Benchmarking Proposal"
## Problem Statement

There is not currently a consistent way to understand if commits are causing unexpected changes in containerd’s performance.  Adding a benchmarking framework and automation mechanisms would allow the project to understand the performance implications of new code commits.

## High Level Solution

### Benchmarking Framework
We want the framework to produce metrics concerning th

[2022-09-08 17:32] huangjiasingle commented on #3125
containerd 1.5.11 has same problem

[2022-09-08 18:01] dcantah commented on #7378
In my head, the last portion makes sense. Simple example being we can make a reasonable guess on if a given change will actually effect perf at all before hand, and skip using the compute if it'd be irrelevant (someone just fixed a spelling mistake or made doc changes).

I think benchmarking would make sense to run on the currently supported release branches and main.

[2022-09-08 19:39] dcantah commented on #7375
I'll take a look (dev on the windows side and for hostprocess). Something might not be getting garbage collected. I'll try and set up a minimal repro and get back

[2022-09-08 19:40] dcantah commented on #7375
I doubt this is a fault of containerd itself if containerd-shim-runhcs-v1.exe resident memory is growing, but I'll investigate

[2022-09-08 19:42] dcantah commented on #7375
Just to be clear btw, the actual process running in the container isn't appearing to grow without bound right, it's the shim process that keeps increasing?

[2022-09-09 00:11] gadgetwhiz commented on #7307
Based on feedback from Google, the GKE was updated to 1.23.9-gke.2100. The image now deploys successfully.

[2022-09-09 00:11] #7307 closed

[2022-09-09 12:09] narsimplyme commented on #7375
Yes. The shim process keeps growing.

the probes gets created and dies, so it doesn't grow. The shim process grows

For Calico hostprocess installation, at the YAML file (https://raw.githubusercontent.com/projectcalico/calico/v3.24.1/manifests/calico-windows-vxlan.yaml), if you set the Readiness and Liveness period seconds to lower than 10, you can see that the memory spikes for the shim, reduces

[2022-09-09 12:10] dcantah commented on #7375
Perfect that should be enough to go off of

[2022-09-09 15:49] smira opened #7384 "panic in snapshotter code"
### Description

containerd panicked after some time with the following:

[code]

other goroutines:

### Steps to reproduce the issue

not totally clear how to reproduce this issue, it happened randomly on one of the nodes

### Describe the results you received and expected

containerd not panicking

### What version of containerd are you using?

v1.6.8

### Any other relevant information

runc v1

[2022-09-09 15:52] smira commented on #7384
Full CRI log with full goroutine stack trace: https://dpaste.org/7FOHd

[2022-09-09 15:59] smira commented on #7384
This could be hardware issue, still checking...

[2022-09-09 16:19] smira commented on #7384
looks to be the problem with the hardware/environment

[2022-09-09 16:19] #7384 closed

[2022-09-09 19:27] braunsonm opened #7385 "Method for providing auth to registries"
### What is the problem you're trying to solve

In v1 (now deprecated) auth configs, you can provide a username, password or token which is provided to registries when pulling the image. This is important because it can handle the negotiation for auth tokens that can't be done with static headers in the new configuration.

This is required for registries that use auth tokens for authentication whi

[2022-09-11 02:29] yudaprama opened #7388 "RunContainerError: failed to create containerd task: failed to create shim task: OCI runtime create failed: runc create failed: unable to create new parent process"
### Description

Not sure this is bug or not. Feel free to close. This is related to my question from https://github.com/containerd/containerd/discussions/7387

I got error:

[code]

With full error log:

[code]

This is happen to following container creation:

[code]

### Steps to reproduce the issue

[code]

### Describe the results you received and expected

[code]

### What version of containe

[2022-09-11 02:41] yudaprama commented on #7388
Maybe related to https://github.com/containerd/containerd/issues/6009

But I already have `SystemdCgroup = true`

[2022-09-11 02:59] yudaprama commented on #7388
Same issue with crio https://github.com/cri-o/cri-o/issues/1927

[2022-09-11 06:38] harridu commented on #7319
@AkihiroSuda, I understand your concerns. Doing the switch for 2.0 would be perfect.

[2022-09-11 08:55] cleverhu commented on #7321
I tried and found that if the first mirror host is not available, containerd will try to connect the others host address. However, containerd only returns the first error, resulting in the second error being ignored. This might not be a bug. The reason for that might be:  1.all of the hosts can't be reachable. 2.there are some hosts are reachable but the image has not been pushed init the reachabl

[2022-09-11 11:28] lgalfaso opened #7390 "Pulling images uses Content-Type from the wrong response"
### Description

When pulling a manifest, there are two request/response. The first one is a `HEAD` in order to know whether the manifest exists, the second is a `GET` to retrieve it.
The spec mandates that the `GET` operation returns the `Content-Type` of the manifest, but there is no such requirement from the `HEAD` request.

https://github.com/distribution/distribution/blob/5cb406d511b7b9163bff

[2022-09-11 11:33] lgalfaso opened #7391 "Retrieving manifests uses uses path to retrieve blobs"
### Description

When pulling a manifest, the spec states that there should be two requests, a `HEAD` to `/v2/<name>/manifests/<reference>` and then a `GET` to `/v2/<name>/manifests/<reference>`.

https://github.com/distribution/distribution/blob/5cb406d511b7b9163bff9b6439072e4892e5ae3b/docs/spec/api.md#pulling-an-image-manifest

containerd does a `HEAD` to `/v2/<name>/manifests/<reference>` and t

[2022-09-11 11:51] yudaprama commented on #7388
Seems containerd issue. I failed to run any image with `ctr run`

[code]

[2022-09-11 15:18] thaJeztah commented on #7390
Perhaps the spec should call this out explicitly, but the HTTP spec expects a HEAD to return the same headers as GET, with the exception of some headers that may require calculation  (eg content length)

https://www.rfc-editor.org/rfc/rfc9110#name-head

Have you run into issues with a registy that doesn't return the same headers for HEAD as for GET?

[2022-09-11 17:16] h20200051 commented on #7391
@lgalfaso I would like to work under bug.Kindly assign me

[2022-09-11 17:18] h20200051 commented on #7385
@braunsonm I would like to work under this.Kindly assign me

[2022-09-11 19:44] lgalfaso commented on #7390
One more data point, both the `HEAD` and `GET` requests are made, at a later validation step, there is the check for `Content-Type` in the `HEAD` response.

[2022-09-11 20:12] yudaprama commented on #7388
The images is arm because I push the image to registry from my mac. Sorry to bother

[2022-09-12 03:49] yudaprama commented on #7388
Reopen. Same error still persist

[2022-09-12 18:05] rwhitworth commented on #6194
For other's searching for this information, I believe this issue relates to:
CVE-2021-43816
GHSA-mvff-h3cj-wj9c

[2022-09-12 23:12] kaovilai commented on #5781
as of f4095a6876c62dd4cd5e3749d2435b2daa9eaff8

still happening.

blocks https://github.com/microsoft/hcsshim/issues/1510

[2022-09-12 23:26] kaovilai commented on #5781
nri imported by containerd also import containerd :D
https://github.com/containerd/nri/issues/18

[2022-09-13 01:16] ibuildthecloud opened #7392 "Setting config_path for registry tls disables the "default localhost to http" behavior"
### Description

By default if you give CRI an image referencing localhost it will default to http.  This is legacy behavior from docker that is continued to be supported going forward.  In acorn.io we are exploiting this fact to run a registry on a node port bypassing the need to run TLS.  This failed on AKS because we found out that AKS by default adds "config_path" = "/etc/containerd/certs.d" w

[2022-09-13 06:16] fanlw0816 commented on #5538
I also encountered this problem,  when will this be resolved? Is there any way to avoid it.
containerd v1.5.5
CentOS Linux release 7.9

[2022-09-13 09:07] Iceber commented on #7392
After configuring config_path, the special case of localhost is not handled.
/assign

[2022-09-13 11:51] syurevich opened #7394 "New containerd process tries to connect to a non-existing socket after old containerd and shim processes got killed."
### Description

If `containerd` and `containerd-shim-runc-v2` processes get killed, new `containerd` process keeps trying to connect to a socket which does not exist.
containerd cannot recover from this state. It will not reach `active` running state (at least not within reasonable time).

### Steps to reproduce the issue

1. pkill containerd
2. New containerd process will keep trying to connect

[2022-09-14 06:44] xagent003 commented on #3258
Will this be fixed in nerdctl? I pulled images via nerdctl and noticed it created snapshots(and taking up more disk space), even though container was not being used.

[2022-09-14 06:47] BenTheElder commented on #3258
@xagent003 nerdctl issues are at https://github.com/containerd/nerdctl/issues, this change is specific to this tool (`ctr`) and is gated behind the `--no-unpack` flag. Containerd makes the relevant APIs available to tools like this.

[2022-09-14 07:38] balazs92117 commented on #7321
@cleverhu You are right. From raw containerd log, it turned out it tries to reach the next host, but it has auth error:

[code]

Thank you for your help, and your time!

[2022-09-14 07:38] #7321 closed

[2022-09-15 02:22] narsimplyme commented on #7375
Dear @dcantah,
Can you confirm if this bug happens the same to you also?

[2022-09-16 08:42] Mayzee commented on #3682
Still got this error in containerd 1.5.8, could you please help to check if there is anything need to apply ?
ctr -n=k8s.io images import xxx-xxx-container-ubuntu20.04-22.07.0-Rel-22-2.2.267-x86_64.tar
unpacking gitlab-master.nvidia.com:5005/gputelecom/container/cubb:xxx-xx-container-ubuntu20.04-22.07.0-Rel-22-2.2.267-x86_64 (sha256:01e7b89ebc5aabaef9fa591c949962f8560935fce71699bbea747bcba95078f7)

[2022-09-19 04:07] yrcs opened #7400 "registry with config_path could not work (failed to unpack image on snapshotter overlayfs: unexpected media type text/html)"
### Description

When running `nerdctl pull gotok8s/kube-apiserver:v1.25.1` after configuring registry with config_path, an error occurs:
WARN[0005] reference for unknown type: text/html
FATA[0005] failed to unpack image on snapshotter overlayfs: unexpected media type text/html for sha256:96309b6e36e1e6d3e8b1e44c009de2f93774e42b61db32ca662be490a1051f2f: not found

### Steps to reproduce the issue

[2022-09-19 11:12] lengrongfu commented on #6039
@kzys Is it possible to close this issue.

[2022-09-19 14:54] estesp commented on #7392
Fixed by #7393

[2022-09-19 14:54] #7392 closed

[2022-09-20 16:36] kzys commented on #7400
Thanks for reporting! Do you know the server implementation and its version. It shouldn't return `text/html` to be honest.

[2022-09-20 19:44] dmcgowan commented on #7400
The mirror ( is returning an html page rather than the expected content,

[2022-09-20 19:46] #7400 closed

[2022-09-20 20:11] kzys commented on #5039
@adelina-t @TBBle @kevpar Do you have specific areas you'd like to cover? With all the PRs above, we have better coverage regarding Windows and I'm comfortable closing the issue.

[2022-09-20 23:36] cbf123 opened #7412 "add the ability to use ctrl-p/ctrl-q (or better yet a configurable sequence) to detach after attaching to a container"
### What is the problem you're trying to solve

After running "crictl -i -t attach" to attach to a container there is no way to detach from the container from within that session.

### Describe the solution you'd like

It would be useful to have the ability to detach from an attached container without needing to log in to a second session, find the PID of the attached process, and kill the process

[2022-09-21 00:30] yrcs commented on #7400
You closed too quickly! Even though the mirror hasn't implemented `/v2/` yet, but i used `override_path = true` and it still doesn't work and still report **"failed to unpack image on snapshotter overlayfs: unexpected media type text/html"**.
**nerdctl version: v0.23.0** **containerd version: v1.6.8**

[2022-09-21 00:34] yrcs commented on #7400
You can try the following configuration first:
[code]
nerdctl version: **v0.23.0** containerd version: **v1.6.8**

[2022-09-21 04:56] lengrongfu commented on #6600
I think this can be solved by adding parameters to the ctr run command to specify the `cni path`.
@zhsj

[2022-09-21 09:31] lengrongfu commented on #5844
Does this issue still need to be addressed?  I will work for it if needed
@fuweid

[2022-09-21 16:38] dhiman360 opened #7415 "With ExecSync failures Containerd memory continuously increasing and retains, never recovers"
### Description

When ExecSync failures, the Containerd memory is increasing continuously and it retains the memory, does not get reduced with time even after the ExecSync failures stops.

Looks like the fix -- https://github.com/containerd/containerd/security/advisories/GHSA-5ffw-gxpp-mxpf did not fix it, OR it could be a new issue.

Containerd version 1.6.6 and runc version 1.1.2.

### Steps to

[2022-09-22 00:55] bobbypage commented on #7319
+1 on making this change by default in future for 2.0

[2022-09-22 15:17] Jenkins-J commented on #7125
If this feature is still wanted, I would be happy to work on it.

[2022-09-22 15:52] champtar commented on #7125
I still want this :)

[2022-09-22 19:15] #5786 closed

[2022-09-23 01:33] lengrongfu commented on #6550
@kzys Hi, can I work on this issue.

[2022-09-23 06:38] narsimplyme commented on #7375
Doing some research, I found out that Felix liveness/readiness checks create alot of zombie processes (Handle leak)

Using Process Explorer, or RAMMap, you can see alot of handles attached to containerd-shim-runhcs-v1.exe
Using the original way of using NSSM on the node (Not managed by K8s & Hostprocess) also leaks handles.
I suppose this is a bug mentioned on https://nssm.cc/bugs (Version 2.24: n

[2022-09-23 12:46] askervin opened #7422 "TestDaemonRestartWithRunningShim is flaky"
### Description

Hi, I'm suspecting flakiness in integration tests. PR #7418 (blockio fix/improvement), that does not affect containerd behavior in these tests, fails Linux integration 2.

### Steps to reproduce the issue

Trigger integration tests in CI.

### Describe the results you received and expected

Test fails on Linux Integration (io.containerd.runc.v1, runc), in set "Integration 2":

[co

[2022-09-23 15:31] kzys commented on #5039
Resolving.

[2022-09-23 16:54] kzys commented on #6567
The api package works for cAdvisor because of https://github.com/google/cadvisor/blob/master/container/containerd/client.go. But I don't want to ask other consumers to write mini clients like this.

I'm summarizing the situation in https://docs.google.com/document/d/1qD0XphQ9NtrQT934Qv38ebMRnD2VQ-CE85TfPPAbiZo/edit#. Please take a look!

[2022-09-23 18:14] kzys commented on #5781
I'm writing https://docs.google.com/document/d/1qD0XphQ9NtrQT934Qv38ebMRnD2VQ-CE85TfPPAbiZo/edit#heading=h.fac6k2wqg968. Can you take a look?

[2022-09-23 18:24] rtheis commented on #6647
+1 to previous comments.

[2022-09-23 18:47] Jenkins-J commented on #7125
I have opened a draft pull request (https://github.com/containerd/containerd/pull/7425) that implements discard unpacked layers as a ctr cli flag. The new option is **not** currently compatible with `--no-unpack`. I am looking to see if there is a way to get the desired behavior when using both `--discard-unpacked-layers` and `--no-unpack` (discarding layers after first use).

[2022-09-23 19:05] swagatbora90 commented on #6550
@lengrongfu I did some work on this already and can have a PR ready by next week. I think we can reduce some overlap here since I am mainly focusing on CRI and related go client methods. Do you have any particular area of interest or if you can wait for my PR, that will be even better.

[2022-09-24 00:26] kzys commented on #5549
Within the last 25 runs, 3 of them are red.

https://github.com/containerd/containerd/actions/workflows/windows-periodic-trigger.yml

[2022-09-24 00:49] lengrongfu commented on #6550
I can pay attention to the point of "HTTP calls around container image operations", mainly where it interacts with the `registry`. There are also interactions with the `registry` in the CRI. Have you already dealt with it?

[2022-09-24 02:55] swagatbora90 commented on #6550
Sure, I have not looked into that yet. Also you can take a look at GC operations as well.

[2022-09-26 03:39] Iceber commented on #7415
master :~> while true; do kubectl exec -n kube-system -it csi-cinder-nodeplugin-d8kpb -- /bin/gunziplklk test 2>/dev/null; sleep 1; done

The `kubectl exec` command seems to call the CRI's Exec method, not the ExecSync method

[2022-09-26 14:20] pugifat commented on #5854
Running into the same issue after dirty host reboot (power event).  this is my workaround currently:

[code]

Would love to identify a fix for this too!

[2022-09-26 15:43] fuweid commented on #5854
It looks like that dirty page weren't be flush into disk.

[2022-09-26 15:51] fuweid commented on #7415
What is gunziplklk？

@dhiman360

[2022-09-26 16:32] kpauljoseph commented on #7415
@fuweid the idea is to make the exec command fail by calling something which is not present (here, he just added random characters to gunzip). And that over time, keeps increasing containerd memory which eventually puts the node in NotReady state.

[2022-09-26 17:12] Jenkins-J commented on #7125
Discarding layers happens through setting/removing garbage collection labels. To my knowledge, there is no label or other way to notify the garbage collector if content has been unpacked or "used". So if you wanted to use the `--no-unpack` option and discard layers after their "first use" or "first unpack", there would have to be an additional option somewhere else (probably in the `run` command)

[2022-09-26 17:46] dhiman360 commented on #7415
Yes, exactly. Thanks @kpauljoseph

[2022-09-26 18:03] pugifat commented on #5854
I'm fairly certain the cached image was already present on that host before the power event.  Shouldn't the image be immutable?  Sorry if I am missing some context around this particular issue.

[2022-09-26 18:16] marosset opened #7431 "Windows platform matching logic does not allow for running HostProcess containers on any OS version when used in a manifest list"
### Description

Windows HostProcess containers do not inherit the same Windows OS version compactivity requirements as regular Windows Server containers. This means that a HostProcess container built can run on any Windows Server version.

The existing logic in the image [platform matching](https://github.com/containerd/containerd/blob/5018b6aa01cc30c2cd5128af38f8faa17599c6d6/platforms/defaults_w

[2022-09-27 04:30] jnan806 opened #7436 "[Feature request] does `/etc/containerd/certs.d/*/hosts.toml` can support namespace or contextPath"
### What is the problem you're trying to solve

Now host in /etc/containerd/certs.d/*/hosts.toml has not support namespace of image.
As we know, `k8s.gcr.io` is equals to `gcr.io/google_containers`, but when we config the `/etc/containerd/certs.d/k8s.gcr.io/hosts.toml`, it doesn't work by following
[code]

So is it possible to support namsespace or contextpath in the hosts.toml?

### Describe the

[2022-09-27 10:28] krotz-dieter opened #7439 "Cannot pull containers from mcr.microsoft.com due to platform matching"
### Description

On Windows 11 Version 10.0.22000.978

`docker pull  mcr.microsoft.com/windows/nanoserver:ltsc2022`

works fine, it pulls the image and
`docker run --isolation process -m 4G -it --rm --name test-run mcr.microsoft.com/windows/nanoserver:ltsc2022`
also works !
With containerd

`crictl pull mcr.microsoft.com/windows/nanoserver:ltsc2022`

we get the error:
[code]

The logs from contain

[2022-09-27 12:40] estesp commented on #7439
Looks like a platform matching issue with your Windows version and the data in the image? @dcantah or @jterry75 ?

[2022-09-27 14:39] SyngoPredevelopment commented on #7439
Why is it working then with the docker daemon ? The container is the same: mcr.microsoft.com/windows/nanoserver:ltsc2022, it should behave the same with containerd also.

[2022-09-27 14:58] estesp commented on #7439
The Docker daemon has its own implementation of the registry client interactions; our platform matching code is probably different because of this. It's possible we have a bug or tighter restriction than Docker engine on the Windows matching; we will have to dig into that and understand why; that's why I copied in our Windows experts :)

[2022-09-27 16:24] lengrongfu commented on #7436
I think namespace is the concept of local storage mirror, registry host is the address of remote storage mirror, these two are not equivalent, /etc/containerd/certs.d/*/hosts.toml is the address of read storage remote mirror  , so namespace cannot be used.

[2022-09-27 22:25] #6704 closed

[2022-09-28 00:19] jnan806 commented on #7436
em.....`https://k8s.gcr.io` is also an address of read storage remote mirror, why it does not work.

[2022-09-28 00:34] samuelkarp opened #7440 "Stricter ordering for resource creation/removal in CRI server"
### What is the problem you're trying to solve

The CRI `RunPodSandbox` and related APIs are large workflows responsible for creating and managing a number of distinct resources, where some depend on external plugins (such as CNI setup), and have differing failure modes.  Failures in creating resources are expected to cause a rollback, though a rollback itself may encounter failures.  The combinat

[2022-09-28 09:37] qiutongs opened #7441 "Follow-ups on PR #5904 - Setup pod network after creating the sandbox container"
There are non-blocking comments/discussions in https://github.com/containerd/containerd/pull/5904. Created this issue to track each of those.

1. When running integration test locally, I have to add two env variables `ENABLE_CRI_SANDBOXES="" CONTAINERD_RUNTIME=runc`. This shouldn't be necessary.
2. [container_update_resources.go](https://github.com/containerd/containerd/blob/v1.6.8/pkg/cri/server/

[2022-09-28 09:37] qiutongs commented on #7441
/assign

[2022-09-28 09:37] qiutongs commented on #7441
CC @fuweid @samuelkarp

[2022-09-28 11:02] rmohr opened #7442 "Blocking the socket syscall for AF_VSOCK in the default seccomp profile"
### What is the problem you're trying to solve

We want to use vsock for guest-host communication on KubeVirt (https://github.com/kubevirt/kubevirt). In KubeVirt we run VMs in pods.

However since anyone can just connect from any pod to any VM with the default seccomp settings, we cannot limit connection attempts to our privileged node-agent.

### Describe the solution you'd like

We want to deny

[2022-09-28 17:01] josh-ferrell opened #7444 "Add REGISTRY_USER environment variable option to ctr images pull"
### What is the problem you're trying to solve

Setting registry credentials for multiple `ctr images pull` commands

### Describe the solution you'd like

Enable the use of the REGISTRY_USER variable to set the credentials instead of a command line flag.

### Additional context

_No response_

[2022-09-28 17:36] #5978 closed

[2022-09-28 17:38] samuelkarp commented on #7444
Is there a specific reason you want this?

[2022-09-28 17:50] josh-ferrell commented on #7444
Caching container images from a private registry with ctr prior to building a node image with a tool like image-builder

[2022-09-28 18:25] samuelkarp commented on #7444
Why do you need an environment variable to do that?

Note that `ctr` is primarily a development tool for containerd; it is not intended as any part of a production workload and there are no guarantees around its behavior.  You may be better served using a client that has a stronger commitment around its interface, such as [crictl](https://github.com/kubernetes-sigs/cri-tools/blob/master/docs/crict

[2022-09-28 19:30] josh-ferrell commented on #7444
I pushed a similar [change to crictl](https://github.com/kubernetes-sigs/cri-tools/pull/904) a few months ago but was trying to duplicate it in ctr to avoid pulling in a second tool at build time. I understand your rational though.

[2022-09-28 19:30] #7444 closed

[2022-09-28 20:36] josh-ferrell commented on #7444
@samuelkarp if a tool like crictl can only pull images into the default namespace can a separate namespace use those cached container images?

Also is the ctr image tagging feature fairly stable? It doesn't seem to be implemented in crictl.

[2022-09-29 05:46] dmcgowan commented on #7436
Can you try
[code]

You may need to specify the host as `https://gcr.io/v2/google_containers` though, I'm curious if that would work here though

[2022-09-29 08:33] yajo commented on #7093
Is there any known workaround while the fix isn't released? Something that can be changed in the image itself?

[2022-09-29 08:52] estesp commented on #7093
@yajo if you want to modify the source container content, you could use a tool like `xattr` to remove the extended attributes from files in the image (more info from the Debian/Ubuntu manpage on a tool to manipulate extended atttributes: https://manpages.ubuntu.com/manpages/bionic/man1/xattr.1.html)

I have just cherry-picked the fix into our 1.5 and 1.6 release branches, so hopefully if other mai

[2022-09-29 12:19] lengrongfu commented on #7312
@mxpv I can implement `Controller.Status`, is anyone else doing it?

[2022-09-29 16:57] mxpv commented on #7312
@wllenyj are you doing any work for statuses? ^^^

[2022-09-30 01:40] qiutongs commented on #5768
https://github.com/containerd/containerd/pull/5904 is merged. I and @samuelkarp will work on backporting.

[2022-10-01 05:11] fuweid commented on #5854
@pugifat sorry for late reply.

Does the restart happen after pulling the image? If so, it might be caused by unflushed dirty page cache.

[2022-10-01 12:43] brentmjohnson commented on #5854
No problem. So these were the order of events I observed:

a. Before power event reboot (non-graceful shutdown):
image existed on host in cache with container running using image

b. Power event reboot (non-graceful shutdown) occurred

c. Upon host reboot single container doesn't successful re-start with a log message like:
exec /app/cmd/controller/controller: exec format error

d. Perform these 6

[2022-10-01 12:45] pugifat commented on #5854
No problem. So these were the order of events I observed:

a. Before power event reboot (non-graceful shutdown):
image existed on host in cache with container running using image

b. Power event reboot (non-graceful shutdown) occurred

c. Upon host reboot single container doesn't successful re-start with a log message like:
exec /app/cmd/controller/controller: exec format error

d. Perform these 6

[2022-10-03 13:26] fuweid commented on #5854
@pugifat I meet that issue before https://github.com/containerd/containerd/pull/3652#issuecomment-535452934. It is caused by unflushed dirty page. Basically, the system will sync dirty page in time. It rarely happens. If we fsync all the time, it will impact the running containers.

[2022-10-03 13:38] jcmcken opened #7465 "Native "porcelain" command for reverse-engineering pod owner of a snapshot directory"
### What is the problem you're trying to solve

See [this unanswered discussion](https://github.com/containerd/containerd/discussions/7420). From other sources, I've ascertained this isn't possible in a simple way. For example, there's a solution that involves stopping ``containerd`` and using something like ``boltbrowser`` to look up the information in ``metadata.db`` by tracking the parentage of

[2022-10-03 15:15] dg424 commented on #6520
Update: with latest rootless release, the exit is no longer happening. However, the startup time varies from 2 seconds to the longest I've seen now at 13 seconds. This is rootless running on an EKS worker node - maybe the networking under EKS/k8s is related to this ? Willing to perform any kind of debugging to help stabilize this.

[2022-10-03 21:20] sli720 opened #7468 "containerd sometimes crashes with `panic: runtime error: invalid memory address or nil pointer dereference`"
### Description

When starting jenkins/inbound-agent/3063.v26e24490f041-2-jdk11 the container sometimes crash with a memory error

### Steps to reproduce the issue

_No response_

### Describe the results you received and expected

[code]

### What version of containerd are you using?

containerd github.com/containecontainerd v1.6.8 9cd3357b7fd7218e4aec3eae239db1f68a5a6ec6

### Any other relevant

[2022-10-04 02:55] lengrongfu commented on #6550
@swagatbora90 Hi, i will be working around `The Go client's methods`, will this work be repeated?

[2022-10-04 09:07] SyngoPredevelopment commented on #7439
Thanks for the info, can you point me to the code of the platform matcher CRI ? Would like to try out myself to see if I can get it running.
Also, do you plan to incorporate such a change for Windows containers ?

[2022-10-04 12:52] lengrongfu opened #7471 "TestPusherErrClosedRetry test faild"
### Description

https://github.com/containerd/containerd/actions/runs/3178917535/jobs/5180917457#step:13:237
[code]

### Steps to reproduce the issue

1.
2.
3.

### Describe the results you received and expected

No failed.

### What version of containerd are you using?

main

### Any other relevant information

_No response_

### Show configuration if it is related to CRI plugin.

_No response_

[2022-10-04 14:00] lengrongfu commented on #7471
/assign

[2022-10-04 14:03] sparr opened #7472 "install-cni script refers to GOPATH/src which is deprecated"
### Description

`script/setup/install-cni`, which is called by `make install-deps` and a few other ways, expects `"$GOPATH"/src/github.com/containerd/containerd/go.mod` to exist and for that folder to be the location of the containerd source that is being built. It uses the contents of this file to determine the appropriate version of `https://github.com/containernetworking/plugins.git` to instal

[2022-10-04 14:56] akhilerm commented on #7471
@lengrongfu Which platform did this test fail?, and how can I reproduce this?

[2022-10-04 15:05] lengrongfu commented on #7471
This github action is in the `windows` platform flow error:   `https://github.com/containerd/containerd/actions/runs/3178917535/jobs/5180917457#step:13:237`

I am my `macos` debug `TestPusherErrClosedRetry` func  reproduce this issues. reproduce step:

1. use debug run `TestPusherErrClosedRetry`.
2. breakpoint at `func (pw *pushWriter) Close() error{} +411`, When running to a breakpoint, wait a fe

[2022-10-04 15:25] lengrongfu commented on #7472
`CNI_COMMIT` is in the `script/setup/install-cni` file.
I think `CNI_COMMIT` should be given default value `main` when `"$GOPATH"/src/github.com/containerd/containerd/go.mod` file cannot be read.

[2022-10-04 16:28] sparr commented on #7472
While that would be a good final fallback, I think a prior step should try to find the version that matches the containerd you're working on. `main` could easily be too new for most folks developing against an existing released version.

[2022-10-04 23:01] swagatbora90 commented on #6550
HI @lengrongfu yes I am making changes to CRI runtime apis and and also adding spans in the related client methods which mainly in `client.go`, `task.go`, `process.go`and `container.go`.