[2017-09-01 16:12] #1449 closed

[2017-09-01 17:26] crosbymichael commented on #796
@stevvooe ya, and if we use the `message Metric` it would look like:

[code]

So should we go for concrete types or a Metric type?

[2017-09-01 17:31] mlaventure commented on #796
My only issue with concrete type is that we're going to have to version either separately or as part of the normal releases so people can import the right one.

Maybe it's not an issue since I don't expect them to need frequent updating (aside maybe from moving to cgroup 2 one day)

[2017-09-01 17:48] crosbymichael commented on #796
I vote for concrete types.  We just need to use the typeurl package and handle versioning the type within the runtimes.

[2017-09-01 18:11] stevvooe commented on #796
Looking at https://github.com/prometheus/client_model/blob/086fe7ca28bde6cec2acd5223423c1475a362858/metrics.proto#L76-%20%20L81, I think the proposed prom-style metrics are missing a layer.

I'm fine with concrete types: the only issue is that different runtimes are going to use different types and we push that complexity to the client. We also have to plumb every single metric we support, but it

[2017-09-01 18:16] crosbymichael commented on #796
There shouldn't be much plumbing to do.  The runtimes would be expected to return an `interface{}` or an Any and the service will handle it fine

[2017-09-01 19:05] stevvooe commented on #796
@crosbymichael @mlaventure Ok, so, after consideration I am going to vote for concrete types.

@Random-Liu @yujuhong Any opinions here? I know CRI has a single, concrete metric set.

[2017-09-01 19:16] ijc opened #1461 "Cannot set container labels via "ctr c label""
From https://github.com/containerd/containerd/pull/1456#issuecomment-326660607 and now confirmed on latest master (7182085551f10f4f42beff5b55dfa3505e8652d3) `ctr c label` cannot set a label:
[code]

/cc @stevvooe

[2017-09-01 20:30] #1461 closed

[2017-09-01 21:15] Random-Liu commented on #796
Sorry, didn't notice there is a discussion going on here.

ContainerStats -> which includes cpu usage, memory and file system usage of a specific container.
ListContainerStats -> which includes the metrics for all the containers.
From the discussion, I understand that the immediate requirement is the list all container stats since thats being used by the kubelet currently.

Yeah, CRI does define b

[2017-09-01 21:25] Random-Liu commented on #796
Thanks for considering multiple platforms. Actually, one big plus of containerd is potential native Windows support. Sig-windows is trying to add windows support in Kubernetes now (running Kubernetes on windows, and run windows container). And one of the issues they hit till now is how to provide metrics to Kubelet.
Currently, they are collecting stats from `docker stats` directly, and provide tho

[2017-09-01 21:34] Random-Liu commented on #796
@yujuhong and I discussed. We also prefer concrete metric here. But please make sure we have a function to list all container stats all together, so as to avoid unnecessary multiple grpc calls. :)

[2017-09-01 21:35] stevvooe commented on #796
@Random-Liu The goal is to have a single listing function that can be efficiently filtered.

[2017-09-02 04:16] Random-Liu opened #1464 "Task.List returns different errors because of race condition."
During running node e2e test against cri-containerd, I frequently get following errors returned by `Task.List`:
* `rpc error: code = Unknown desc = transport is closing: unknown`
* `rpc error: code = Unknown desc = OCI runtime state failed: container "67f3997839142dbee63c615a11b2db23e512759638724ee6d887672773f6ba1b" does not exist: unknown`

I believe it's because we use one call [`Tasks`](https:/

[2017-09-04 04:17] AkihiroSuda commented on #1318
Yes, the issue was fixed, thank you.

However, `ctr` still does not work with GCR, as WWW-Authenticate header returned from GCR still lacks scope information.

I opened https://github.com/containerd/containerd/pull/1465

[2017-09-05 06:52] craig-sanders opened #1467 "containerd does not have any man pages"
Please provide man pages for at least the containerd, containerd-shim, and ctr executables.  Unix tools need man pages.  Markdown docs are great but they're not a substitute for man pages.  a man page gives you a quick reference to the command line tools and their options & arguments, config and other file formats, etc.

BTW, if the groff syntax seems archaic and off-putting and too much trouble t

[2017-09-05 14:29] #1368 closed

[2017-09-05 14:38] crosbymichael commented on #796
I'll work on implementing this, this week for the task service.

[2017-09-05 18:13] crosbymichael commented on #1467
@craig-sanders i added this to the beta milestone, thanks.

We are currently working on functionality and stability so man pages are not a priority yet but we will get to it, contributions are always welcome though.

[2017-09-05 19:24] mattmoor commented on #1318
Authentication is generally something that is performed once for a broader transaction than the point API interaction (e.g. a pull or a push).  You (the spec really) are suggesting that the registry should somehow understand the broader context of the user's intent from a point interaction with the registry.

Yes, we could return a scope that is suitable for that point interaction, but if an ambig

[2017-09-05 20:13] dmcgowan commented on #1318
@mattmoor I agree we should treat the `scope` as optional and accept the PR from @AkihiroSuda.

For the broader topic, I am OK discussing on a PR to update to the spec.

Right now we are in a position where 2 tokens are required on push to resolve this ambiguity. Although with Akihiro's change we may not need to anymore if we always request push scope when doing a push interaction. The registry sh

[2017-09-05 20:20] Random-Liu opened #1471 "Each containerd-shim has 10+ threads."
Ref https://github.com/kubernetes/kubernetes/issues/51903#issuecomment-327290332.

This is an issue for old containerd, but the new one may also have this problem.

We recently hit an issue in Kubernetes.

We added pids cgroup to docker, and set the limit to 4000. However, we found that the pids cgroup run out of pid very soon.

We figured out that each `containerd-shim` has more then 10 threads:

[2017-09-05 20:59] mlaventure commented on #1471
the shim explicitly starts 6 goroutines:
   - 3 for io
   - 1 for handling process exit
   - 1 to forward events
   - 1 to handle signals

The other persistent goroutines come from:
  - go runtime (signals)
  - grpc server/client

[2017-09-05 21:15] #1201 closed

[2017-09-05 21:21] Random-Liu commented on #1471
@mlaventure Most of the goroutines are waiting on signal/IO, seems that not so many threads are required.

[2017-09-05 21:37] mlaventure commented on #1471
@Random-Liu  the go runtime is the one deciding how many system threads that get created.

And, AFAIK, there's no way to limit how many threads the go runtime starts. each blocking go routine will generate a physical thread; for the rest, settings `GOMAXPROCS` may actually prevent go from creating more threads if none of the others thread are blocking.

/cc @stevvooe in case I got this wrong :)

[2017-09-05 21:55] stevvooe commented on #1471
There aren't many ways to reduce the number of threads. Are these results different in Go 1.9? They've added an IO Poller into the os package: https://golang.org/doc/go1.9#os.

[2017-09-05 22:14] crosbymichael commented on #1464
I think the proper fix for this would be to return state information on the list.  I'll have to look into it though.

[2017-09-06 00:38] Random-Liu commented on #1464
Yeah, that would fix the problem better but may need more change. :)

[2017-09-06 00:40] Random-Liu commented on #1412
Close this one for now, we agree that this should be done through configuration.

[2017-09-06 00:40] #1412 closed

[2017-09-06 01:12] Random-Liu commented on #1471
Seems no much difference:
Golang 1.8.3:
[code]

Golang 1.9:
[code]

[2017-09-06 01:13] craig-sanders commented on #1467
Thanks.  I'll see if I can distil the info from the markdown docs to create some man pages.

[2017-09-06 01:38] AkihiroSuda commented on #1467
@craig-sanders

Docker has been using md2man: https://github.com/cpuguy83/go-md2man

I think only `containerd` needs the man page, as shim is just an internal utility and ctr is just a dev tool.

[2017-09-06 02:14] craig-sanders commented on #1467
Thanks.  I'll take a look at that.

The description in the debian `go-md2man` package says:

[code]

Sounds perfect for the job.  Much better for a Makefile to depend on something small and simple like that to generate man pages than something huge like pandoc.

---

BTW, I disagree about only `containerd` needing a man page.   Every executable should have a corresponding man page so that someone

[2017-09-06 04:19] kunalkushwaha commented on #511
What does **snapshot-in-use** have meaning in snapshotter.
- If some files and folder are opened from that snapshot layer, Does it mean snapshot is in use?
or
- If snapshot have child layers (Prepare/View ), does that means snapshot is in use?
or
 something else?

Here with first condition, snapshot deletion is allowed  with current design.

cc @stevvooe @dmcgowan @AkihiroSuda

[2017-09-06 04:42] AkihiroSuda commented on #511
in-use == `mount(2)`-ed, IIUC

[2017-09-06 14:46] crosbymichael commented on #1467
I'm fine with a man page for `ctr` if its a simple description and that its not supported and is to only be used as a dev tool.

We may stabilize `ctr` in the future but we currently don't have the bandwidth to pour into it, I hope everyone understands that.  We are working on integrations right now as the main focus for containerd.

A simple man page stating that and that its currently unsupporte

[2017-09-06 17:29] mikebrow opened #1476 "seccomp docker/default profile needed"
Per discussion with @crosbymichael we will add a seccomp docker/default profile by following the pattern he used to add an apparmor default profile in PR #1438

For this exercise we'll derive the containerd seccomp helper code from here: https://github.com/moby/moby/blob/master/profiles/seccomp/seccomp_default.go

[2017-09-06 18:14] mikebrow commented on #1476
#dibs I can add this if no one else is chomping at the bit for it

[2017-09-06 18:19] estesp commented on #1476
sounds good, thanks @mikebrow

[2017-09-06 19:02] dmcgowan commented on #511
Yes, although not sure how much we want to commit this behavior to testing. We should ensure that Commit can occur while the snapshot is mounted. What we do not want to test is the behavior after that, since it is undefined and therefore snapshotter specific (aka should not be in test suite). `btrfs` will likely do the right thing there, `overlay` will have the changes be visible in the committed

[2017-09-06 19:03] #1422 closed

[2017-09-06 20:24] Random-Liu commented on #1471
[code]

It seems that there is no much we could do for this issue, if so I'm fine with leave it for now.
However, I think we still want to revisit this some time in the future.

[2017-09-06 21:59] #796 closed

[2017-09-06 23:00] #1041 closed

[2017-09-06 23:00] #1240 closed

[2017-09-07 00:47] AkihiroSuda commented on #745
Any roadmap on this?

[2017-09-07 04:41] Random-Liu opened #1482 "Add WithVolume helper in client."
Volumes in image spec is not defined very clearly, but I think the expected behavior will be similar with Docker image volume.

Docker image volume copy content from container rootfs into the host volume, and mount it back to the rootfs.

I could send a PR for this, but I'm not sure whether we want to `Mount` and `Unmount` rootfs again for this, since we've already been doing that in `WithUsername

[2017-09-07 05:13] kunalkushwaha commented on #511
Currently, the snapshot removal is successful, even if it is mounted.
Please see the testcase https://github.com/containerd/containerd/compare/master...kunalkushwaha:snapshot-inuse-removal

[2017-09-07 06:12] craig-sanders commented on #1467
I'm working on the man pages myself in my spare time....should have something worth reviewing in a few days.

I've started with the output of the various `containerd help` & `ctr help` & `ctr help subcommand help` commands and have been adding appropriate markdown.  `go-md2man` seems to be doing a good job of converting to man page (groff) format.

[2017-09-07 07:32] yanxuean opened #1483 "Cann't use the new created config in server.LoadConfig When arg v is nil"
A bug.
The v is a pointer, We cann't change it's value.
We should derectly throw a error.

[code]

[2017-09-07 07:33] yanxuean commented on #1483
I can help on this.

[2017-09-07 09:16] jongwu opened #1486 "go lint is not supported on arm64"
now, go lint is not supported on arm64, so make ci on arm64 will always fail. so we should disable the lint item in Makefile to let make ci on arm64 success.
I have a patch for fixing that bug. can I push it ? @calavera

[2017-09-07 17:51] cpuguy83 commented on #1482
What if there was a helper to export data from some given path?

Using `WithVolume` in this way seems a bit opinionated.

[2017-09-07 18:34] crosbymichael commented on #1464
@Random-Liu i submitted a PR to help fix this issue.  Its hard to verify that is actually fixes everything you are seeing.  If you can take a look and test that would be helpful.

[2017-09-07 19:39] Random-Liu commented on #1464
Will do. Thanks for fixing this!

[2017-09-08 15:26] ehazlett opened #1492 "Split typeurl into separate package"
The `typeurl` package is handy.  What are the thoughts on splitting it into a separate repo (i.e. `containerd/typeurl`)?  I think the only thing that should need to be changed to make it usable outside of containerd is the `Prefix` const.

[2017-09-08 15:28] crosbymichael commented on #1492
I was thinking about breaking this out as well.

When we added the cgroup stat proto to the cgroups package, external users will need to depend on the typeurl package to unmarshal anys that come from the api, etc...

[2017-09-08 15:28] crosbymichael commented on #1492
@dmcgowan @stevvooe what do you think?

[2017-09-08 17:18] dmcgowan commented on #1492
I think it is worthy of breaking out. We will need to break the `errdefs` dependency though.

[2017-09-08 17:46] Random-Liu commented on #1482
/cc @crosbymichael @stevvooe Any thoughts on this?

This is blocking @ijc 's demo I think. :)

[2017-09-08 17:48] crosbymichael commented on #1482
I wonder if we can use the `context` that all the Opts take to only mount the rootfs once?

[2017-09-08 17:51] ijc commented on #1482
I think lack of volumes support is the final thing stopping the [sock-shop demo](https://github.com/microservices-demo/microservices-demo) from working for me (although there might be further unknown unknowns ;-)).

I'd been thinking of introducing a helper to do the full snapshotter dance (which is a bit fiddly so we may as well get it right once) to mount a given image so that the caller can amo

[2017-09-08 17:55] ijc commented on #1482
I somehow missed @Random-Liu's note that we already do the mount umount dance for the userid stuff. Will have a look at that and a think, etc.

[2017-09-08 18:03] crosbymichael commented on #1482
I'm not sure how we do it with context, was the first thing I thought of though.

We can do remounts for not and optimize later when we find a way to handle holding the mount until the end.

[2017-09-08 18:05] ijc commented on #1482
I suppose all the layer unpacking just happens once anyway (depending on the snapshotter?) and it's just the actual stack of mounts, which is expensive but not super bad?

[2017-09-08 18:06] ijc commented on #1482
BTW https://github.com/containerd/containerd/pull/1425/files#r137853982 might be relevant to any reuse/refactoring of the `WithUserID` code.

[2017-09-08 18:32] stevvooe commented on #1492
As @ehazlett brought up, we need to ensure that one can parameterize the type namespace.

The other option is to revert to using the standard namespace (types.google.com or whatever), but we lose some flexibility to use json. (I don't like this option).

Do we see `errdefs` as broadly useful?

[2017-09-08 19:10] stevvooe commented on #745
@AkihiroSuda No. I am not sure that an end to end solution makes sense over hitting the use cases individually. For example, it is probably reasonable to have introspection on available snapshot drivers directly on the snapshot service that can maintain the data model abstraction and expose the necessary config.

[2017-09-08 19:16] stevvooe commented on #1482
Shouldn't a volume just be a mount in the runc spec? What does this have to do with the snapshotter? Do these mounts need to be performed in the shim?

[2017-09-08 19:17] crosbymichael commented on #1482
@stevvooe they are talking about the magic that docker does today and copies the image contents into the volume

[2017-09-08 19:18] ijc commented on #1482
yeah,  I think the proposed `WithVolume` would populate some backing storage somewhere from the image and then add the result to `spec.Mounts`. I'm hacking together a prototype to see how it looks.

[2017-09-08 19:34] estesp commented on #1486
Can you provide a bit more detail on problems with `go lint` and arm64/aarch64 architecture? I see other projects using `go lint` that apparently don't have an issue with `go lint`

Thanks

[2017-09-08 21:21] crosbymichael commented on #1492
We can either register the prefix at init time or just require everyone to pass a full url(prefix + parts ) when you register a type.

[2017-09-08 21:28] dmcgowan commented on #1492
Passing in prefix on registration probably makes the most sense

Normally I would say no, but these errdefs are already tied to an external process. I think it would take a little more thought to make it an independent repo rather than just an import dependency. Do we see no other way to return a not found error in the `typeurl` package that can be handled nicely by containerd?

[2017-09-08 22:19] ijc opened #1494 "Inclusion of /run tmpfs in default mounts breaks some images"
At least [docker.io/weaveworksdemos/catalogue-db](https://hub.docker.com/r/weaveworksdemos/catalogue-db/):0.3.0 is broken by this (when running with cri-containerd), it is unable to create `/var/run/mysqld/mysqld.sock.lock` because `/var/run` is a link to `/run` and `/run/mysqld` from the image is shadowed by the tmpfs. The entrypoint is not setup to handle this.

From inspection the image appears

[2017-09-09 03:14] Random-Liu opened #1495 "Mount failure on Snapshot View."
@ijc recently found that runc couldn't mount volumes inside snapshot view, if the destination path does not exist in the image. That's why we always create new snapshot for application container now https://github.com/kubernetes-incubator/cri-containerd/pull/221.

However, one thing I don't understand is that we are always using snapshot view for our sandbox container, which is using a pause image

[2017-09-09 03:23] AkihiroSuda commented on #1495
https://github.com/containerd/containerd/pull/1373 caused this, but it is not a regression. Prior to this PR, views were not read-only. Even worse, writing to a view caused corruption of the  parent committed snapshot.

So creating a writable snapshot and let runc remount it as RO via config.json seems the right approach.

[2017-09-09 03:27] Random-Liu commented on #1495
@AkihiroSuda Cool! Thanks a lot, that's the answer I need.

I'll fix cri-containerd correspondingly. And will close this issue after the fix is verified. :)

[2017-09-09 03:56] Random-Liu commented on #1495
OK. Even I get rid of all mounts, I still get this error:
`rpc error: code = 2 desc = failed to create task for sandbox "f958202408b956a05ccc899d4735f8b102ccc845532c975748c6e29028292266": OCI runtime create failed: container_linux.go:265: starting container process caused "process_linux.go:348: container init caused \"rootfs_linux.go:69: creating device nodes caused \\\"mkdir /run/containerd/io.co

[2017-09-09 10:27] justincormack commented on #1494
Given that `/run` generally has to be a tmpfs if you make a container read only, this seems a poor design for an official image cc @tianon

[2017-09-09 15:14] tianon commented on #1494
https://dockercommunity.slackarchive.io/containerd/page-39 has more discussion of this very point

[2017-09-09 15:23] tianon commented on #1494
To add a little more color, _all_ of the official images should account for their own defined volumes being empty.  Very few (possibly none) account for `/run` being empty if they require it to be otherwise (because `/run` has historically been just another directory in the image).

Our official stance for `--read-only` is that it being possible to run an arbitrary image via `--read-only` is encou

[2017-09-11 02:28] jongwu commented on #1486
@estesp I have a mistake with configuration, now golint works on arm64, but when I make lint in containerd a lot of log will print and make lint failed.

services/images/service.go:53:1: exported method Service.Get should have comment or be unexported
services/images/service.go:67:1: exported method Service.List should have comment or be unexported
services/images/service.go:81:1: exported method

[2017-09-11 15:29] crosbymichael commented on #1494
Really, since you generate and provide a spec to containerd there isn't really a "default".  We have a helper that will give you are default spec but you configure it however you want.

[2017-09-11 17:26] mlaventure commented on #1486
Golint is not yet enabled in CI for this reason :)

[2017-09-11 17:26] #1486 closed

[2017-09-11 19:11] stevvooe opened #1497 "Deleting of namespace shouldn't require namespace"
Looks like the namespace deletion fails on publishing an event for deleting the namespace:

[code]

[2017-09-11 20:24] crosbymichael commented on #1492
I'm going to go ahead and break this out.  I'll submit a PR for the changes after I copy over the code.

[2017-09-11 20:40] crosbymichael commented on #1492
Prefix changes:

https://github.com/containerd/typeurl/pull/1

[2017-09-11 23:31] dmcgowan commented on #1497
This seems to be just related to events, the operations appear to succeed

[2017-09-12 05:44] abhinandanpb opened #1498 "Image pull returning 'ctr: failed to resolve rootfs: could not resolve config'"
While trying out couple of kube network plugins hit an issue with image pull with docker.io/weaveworks/weave-npc:2.0.4 image.
Tried it manually with ctr and see the same issue.

**Output:**
[code]

docker image pull works fine for the same image.

cc @Random-Liu

[2017-09-12 05:44] abhinandanpb commented on #1498
ping @crosbymichael @stevvooe

[2017-09-12 05:58] estesp commented on #1498
This image is a manifest list with support for Linux on amd64, arm, and arm64 platforms. Output from `manifest-tool` is shown below to verify (also note that your download status shows 3 "config" objects..which is a telltale sign).

@stevvooe is in the middle of adding the proper filtering support that the Docker engine already has for selecting the matching platform content from a manifest list o

[2017-09-12 06:16] abhinandanpb commented on #1498
thank for the update @estesp ! can I workaround this in any way ? Pull the platform specific digest ?

[2017-09-12 06:23] estesp commented on #1498
By inspection, it looks like https://hub.docker.com/r/weaveworks/weave-npc-amd64/tags/ is the name used for the arch-specific image; so changing your image ref to:
[code]
should work. I verified that the sha256 of that arch-specific image *is* the one being referenced in the manifest list: `sha256:0dad21d6c...`

[2017-09-12 06:28] abhinandanpb commented on #1498
Thanks @estesp !

[2017-09-12 09:28] ijc commented on #1494
@tianon

Who is "the user" here (where "here" in this case is a kubernetes deployment from a yaml file)? Is it the user who authored the mysql image being used (who should have included a mkdir somewhere at runtime), or the author of the kube yaml file who should have known about this requirement of the mysql image (and created an explicit tmpfs for `/var/run/mysql`)? IOW where should the bug be r

[2017-09-12 12:35] justincormack opened #1499 "clean shutdown on SIGTERM"
Currently on sending SIGTERM I get

[code]

Expect a clean shutdown, as discussed on Slack.

[2017-09-12 13:50] tianon commented on #1494
The user is the person running the image, so in this example, it'd be the latter: the author of the kube yaml who should've known/tested the requirements of the image they're attempting to run. :+1:

[2017-09-13 03:20] Random-Liu commented on #1498
Can't even pull latest `busybox`, `nginx` and `redis` now...
[code]

Can we fix this any time soon? This is breaking many of our test now...

[2017-09-13 03:24] Random-Liu commented on #1498
Still arch related, this does work:
[code]

[2017-09-13 04:16] estesp commented on #1498
Yes..sorry, we didn't have much forewarning that all the official images were switching to multi-arch today on DockerHub.

Of course, as much as it isn't great that we didn't have `containerd` fully ready for this, it's very hard for me *personally* to be sad about this surprise development given I have been working towards full multi-arch/platform enablement and making tools (`manifest-tool`) to

[2017-09-13 19:00] #1476 closed

[2017-09-13 19:54] sevki opened #1505 "gRPC vendoring"
cannot use gRPC package when a vendored version exists in containerd. Here is a quick way to reproduce the problem

[code]
can't compile because
[code]

similar issues:
- https://github.com/dgraph-io/dgraphgoclient/issues/10

[2017-09-13 19:56] crosbymichael commented on #1505
@sevki If you vendor containerd with your code it should work.  I've ran into this as well.

[2017-09-13 20:19] #1505 closed

[2017-09-13 21:04] #1499 closed

[2017-09-14 05:05] jongwu commented on #1486
Hi Kenfe-Mickaël
Would you please let me know in which version lint disable from ci. As I pull the latest version code and make ci , the lint will run. Lint is not disable in Makefile. What do you mean by “Golint is not yet enabled in CI”

Best wishes
Jianyong wu

From: Kenfe-Mickaël Laventure [mailto:notifications@github.com]
Sent: Tuesday, September 12, 2017 1:26 AM
To: containerd/containerd <co

[2017-09-14 05:08] estesp commented on #1486
What @mlaventure means is that our current Travis configuration does not run any target that includes *go lint*. Even if the Makefile contains it; you can see the targets of the `Makefile` that are run here: https://github.com/containerd/containerd/blob/master/.travis.yml#L52-L66

[2017-09-14 06:34] allencloud opened #1507 "[question] how to install containerd independently without dockerd ?"
Hi, All,

When I do some work with containerd, I found that it is hard to install containerd independently. There is no detailed doc about containerd's independent installation.

Can anyone help to attach me some reference about this?

Thanks in advance.

[2017-09-14 07:49] wenjianhn commented on #1507
Installation is as simple as `make && make install`.

[2017-09-14 14:18] crosbymichael opened #1508 "Distro packages for containerd"
While we are working on the 1.0 milestone we need to start thinking about packaging.  We want to work with distro maintainers to produce and maintain containerd packages.

You should be able to `apt-get install containerd` or `dnf install containerd` without adding custom sources as a user.

Distro Checklist:

- [x] Debian
- [x] Ubuntu
- [x] Fedora
- [x] Arch
- [x] Alpine

@tianon Any help or reco

[2017-09-14 15:10] #1483 closed

[2017-09-14 18:48] estesp commented on #1498
This error case should no longer happen in master given the merge of #1506. Please let us know if there are still any issues.

[2017-09-14 18:48] #1498 closed

[2017-09-14 18:50] estesp commented on #1375
Fixed via #1403 and #1506

[2017-09-14 18:50] #1375 closed

[2017-09-14 19:34] #1497 closed

[2017-09-14 22:01] Random-Liu opened #1512 "Could not pull schema1 image with repo digest"
[code]

[2017-09-14 22:19] stevvooe commented on #1229
cc @Random-Liu

[2017-09-14 22:33] stevvooe opened #1513 "limit size of labels"
After #1378 is merged, we should limit the size of labels. Extensions can be used for large structured data. Limiting labels will prevent arbitrary sized memory usage and unnecessary metadata store bloat.

I suggest limiting it to 4096 bytes but am open to suggestions.

[2017-09-14 22:38] estesp commented on #1512
This is a v1 manifest:
[code]
I wonder if merging the multi-arch resolution (#1506) had an unintended consequence with that media type? @dmcgowan

[2017-09-14 23:06] dmcgowan commented on #1512
Possibly, we don't have any test coverage on schema1 right now and the gcr images I tested were not schema 1.

[2017-09-14 23:07] estesp opened #1514 "Verify image components are "ready"/available for use"
Per conversation at MobySummit with @stevvooe @Random-Liu :

Need an "ensure" or "verify" function in the client library to properly walk an image's components to verify all pulled/unpacked and in a "ready" state to be used, e.g., for a container start referenced against that image ref. Without this, it is possible today to rely on an image whose reference is in the content store but whose compone

[2017-09-15 14:49] mlaventure commented on #1513
If this is a per `label=data` limit, I'm fine with it.

[2017-09-15 15:10] crosbymichael commented on #1494
I think I'll close this.

Deleting elements from a slice is go is not as easy as other languages, `array.delete()` but its not hard.  If there is something from the default spec that you don't want then remove it.  `/run` should always be tmpfs because its the right thing to do.

[2017-09-15 15:10] #1494 closed

[2017-09-15 15:10] #1464 closed

[2017-09-15 15:11] crosbymichael commented on #1464
Fixed by #1489

[2017-09-15 15:28] crosbymichael commented on #1513
sgtm

[2017-09-15 15:30] ijc commented on #1513
SGTM, but please give heavy users of labels (e.g. cri-containers, /cc @Random-Liu) a reasonable time to cut over though.

[2017-09-15 15:33] crosbymichael commented on #1513
@ijc we are pre-1.0, lets not make it harder by trying to be backwards compatible when we are no even 1.0

[2017-09-15 15:35] mlaventure commented on #1513
@ijc we discussed with him at the moby summit, they're planning to move to extensions

[2017-09-15 15:49] #1441 closed

[2017-09-15 18:24] Random-Liu commented on #1512
Seems not schema 1 related.

It only fails when pulling schema1 image with digest.
Docker works for both:
[code]

containerd doesn't work for repo digest:
[code]

[2017-09-15 21:31] tianon commented on #1508
This is definitely something I'd love to see/help with! :heart:

Right now, the situation is somewhat complicated by the existence of containerd 0.2.x and its use by Docker (which for many/most distributions means they've already got a "containerd" package, but it's packaging the 0.2.x branch for use with their associated Docker package; ala https://packages.debian.org/sid/containerd, https://pack

[2017-09-16 19:02] rmkrjy opened #1520 "Starting containers using ctr failing with parse error"
I am trying to run containers on containerd and runc. But facing the following issue

I have `config.json` and `rootfs` in the running directory.

### Versions of the tools:
[code]
[code]
[code]

[code]

[2017-09-16 19:22] rutsky opened #1521 "Examples in Getting started guide outdated (won't compile with containerd 1.0.0-beta.0)"
Final example in [Getting started with containerd](https://github.com/containerd/containerd/blob/master/docs/getting-started.md) won't compile:

[code]

after fixing it with:

[code]

it fails at runtime with an error:

[code]

[2017-09-18 07:56] allencloud commented on #1507
Thanks a lot for your quick reply. @wenjianhn

Actually when I use branch master to `make`,  it works fine for me.

While I found that checkout the commit `2a5e70cbf65457815ee76b7e5dd2a01292d9eca8` which is used by docker-1.12.6. In the root directory of containerd, I execute `make`, it fails to show:
[code]
I know there is some code still located on `github.com/docker/containerd` not `github.com/

[2017-09-18 13:00] AkihiroSuda commented on #1507
@allencloud I _guess_ you tried to build containerd on macOS?
You need to use Linux.

[2017-09-18 13:22] allencloud commented on #1507
Yeah, you are exactly correct. OK, I will try Linux.
BTW, what is the problem with macOS? 😄 🍻

[2017-09-18 13:45] AkihiroSuda commented on #1507
Simply because it is for Linux.

GOOS=linux cross-compilation may work on macOS, but does not seem officially supported.

[2017-09-18 14:48] crosbymichael commented on #1508
@tianon why wouldn't they package it like we did, docker-containerd?

[2017-09-18 14:50] crosbymichael commented on #1508
Would we package 1.0 and have docker packages depend on the older tags?

[2017-09-18 15:05] tianon commented on #1508
Because it was created, published, and distributed as a separate project which Docker just happens to use.  The source for it isn't even vendored in Docker itself, although for packaging that doesn't matter as much since most distros require purging the vendoring anyhow (usually called "code copies" in distro policy, which are considered a security issue).

So, in many distros, you only get one ve

[2017-09-18 15:45] mlaventure opened #1523 "ListPids: allow for platform specific data"
On some platforms (e.g. windows), the pids returned are not enough to act upon.

In the docker case, the call is used for the `top` command allowing to list some generic info regarding the processes living within the container. On windows, this information can only be retrieved by the runtime.

[2017-09-18 16:02] crosbymichael commented on #1508
Do you know who works on the fedora packages?

[2017-09-18 16:21] tianon commented on #1508
I'm not sure, but I think @lsm5 and/or @maxamillion are either still involved or might be willing to redirect us to the correct folks. :smile: :pray:

[2017-09-18 17:39] Random-Liu commented on #1512
@dmcgowan @stevvooe Any thoughts on this?

This is blocking our test now. I'll temporarily change our test to skip test pulling this image, but we should fix this.

[2017-09-18 17:50] #1442 closed

[2017-09-18 19:19] stevvooe commented on #1521
@rutsky Thanks for the report!

Do you mind sending a long a PR?

[2017-09-18 19:23] stevvooe commented on #1520
`start` is not a subcommand of `containers:

[code]

The default action is to list containers. This will cause `.` and `start` to get parsed as filters, which matches nothing.

We should probably add this under `containers ls` to avoid this confusion. Right now, we don't have a way to just "start" a container via the cli, so you'll have to use `run` or the Go API client (which is the recommended w

[2017-09-18 22:02] rutsky commented on #1521
@stevvooe sure, I would like to do it, but I'm new to containerd and unsure how quick I will be able to properly fix this.
Looks like that those simple changes to fix compilation are not enough --- example fails at runtime with "failed to resolve rootfs: could not resolve config", and I haven't figure out how to fix this yet.

[2017-09-18 22:04] lsm5 commented on #1508
I'll get this going for fedora

[2017-09-18 22:32] stevvooe commented on #1521
@rutsky Just send a PR for the examples that you can fix. :)

The rootfs resolution issue is a bug we are working on, so don't worry about that.

[2017-09-18 23:18] lsm5 commented on #1508
what's the ETA for v1 GA? I'll try and get the fedora package approved before that

[2017-09-18 23:27] tpot commented on #1508
I don't mind going either way.  For Debian either using an ugly package name to have both docker-containerd and containerd is fine with me.  I'm a bit skeptical that Docker will move (and stick to) a released version of containerd but will be ecstatic if that happens. (-:

[2017-09-19 02:11] wenjianhn commented on #1507
@allencloud
You can build containerd 2a5e70c in docker/containerd.
[code]

[2017-09-19 15:03] #1492 closed

[2017-09-19 15:41] AkihiroSuda opened #1526 "download resumption broken"
proposed in https://github.com/moby/moby/pull/28348

not mandatory for v1.0

[2017-09-19 17:28] lsm5 commented on #1508
On second thoughts, I'd prefer if @maxamillion or maybe someone from containerd community could take the lead in packaging and maintaining this for Fedora. I could happily review and approve the package request and maybe co-maintain it, but it'll be hard for me to dedicate time for this, what with 4 distros on my back now. Apologies :(

[2017-09-19 18:19] jessvalarezo commented on #1513
Would we want to limit the size of labels throughout all the services?

[2017-09-19 18:23] stevvooe commented on #1513
@jessvalarezo yes, the validation should be consistent across services, if possible. I can't think of any exceptions but am open to suggestions.

[2017-09-19 18:47] Random-Liu opened #1527 "Sometimes fail to start container"
In our integration test, we sometimes fail to start container with following error:
[code]

In cri-containerd, we never use `Pause`, so I don't quite understand what is happening here. I've hit this 2 times since last night.

/cc @crosbymichael

[2017-09-19 18:51] Random-Liu commented on #1527
Ref https://github.com/kubernetes-incubator/cri-containerd/issues/259.

[2017-09-19 19:04] crosbymichael commented on #1527
Its probably coming from the killAll when a process exits.  It pauses everything in the cgroup and kills it.

https://github.com/containerd/containerd/blob/master/linux/shim/service.go#L398

This probably needs to be smarter or better synchronized ( both maybe ).

#1525 may actually fix this as I rewrote some of the locking code for process operations.

[2017-09-19 19:46] dmcgowan commented on #1512
The problem seems to be related to the GCR registry not properly handling the `Accept` header provided by containerd. It is neither handling "*" at the end nor a list.

[code]

Passing in multiple Accept headers seems to work as well, however that is not currently what containerd is doing. Did this used to work and is related to a recent GCR update?

[2017-09-19 20:54] crosbymichael commented on #1508
@lsm5 no problem.  Getting started is the hardest part for someone new like us.  If Max is not able to do it, any pointers would be appreciated.

[2017-09-19 21:33] Random-Liu commented on #1512
@dmcgowan This used to work until our multi-arch fix.

[2017-09-19 21:37] maxamillion commented on #1508
I can do an initial packaging but I don't know that I could commit to being the long term maintainer of the package. I'm spread pretty thin as it is.

[2017-09-19 21:41] carlwgeorge commented on #1508
I'm new to containerd.  Is the end goal to ship a `containerd` command to end users?  Should it be run as a service, such as via systemd?  Should the source code be shipped for other packages to build against?  From the README:

[2017-09-19 22:25] dmcgowan commented on #1512
@Random-Liu The containerd fix? I tried older versions as well and still had the issue. Given that the direct curl fails, there must have been a GCR change if it used to work before. Using multiple accept headers does not seem like the right solution, ideally we would never explicitly ask for schema 1, it would only be included by "*".

[2017-09-19 23:03] Random-Liu commented on #1512
@dmcgowan OK. Because it didn't fail before the multi-arch issue, maybe GCR also made some change around the same time.
Let me try with older version first to double check.

[2017-09-19 23:32] stevvooe commented on #1526
Containerd already does this by default. Just calculate a common key for a layer pull and it works itself out. This was in the design of the content store from the beginning.

[2017-09-20 02:03] lsm5 commented on #1508
@crosbymichael no problem, if you know of someone willing to volunteer, I can work with them toward seeing this through.

[2017-09-20 09:14] AkihiroSuda commented on #1526
@stevvooe IIUC, the original PR proposed resuming partially pulled blob, and it doesn't seem implemented in the current containerd.
At least, it is not functional with Docker Hub.

(cc @vikstrous)

[code]

[code]

The second run is expected to resume downloading `layer-sha256:f5e8251b894350dd431d405ba10d18ad69f483861bc4b50e35e6451448485122` from 33.4MiB offset.

[2017-09-20 18:17] Random-Liu opened #1530 "Should not pull image for all architectures"
Remember we discussed in the moby summit, but there is no issue tracking this. Feel free to close this if there is one.

@dmcgowan @stevvooe

[2017-09-20 18:18] Random-Liu opened #1531 "Can't pull docker.io/library/mongo:latest"
Can't pull `docker.io/library/mongo:latest` with latest containerd version.

[code]

[2017-09-20 18:21] Random-Liu commented on #1482
@crosbymichael We've added helper in cri-containerd ourselves. Feel free to close this one if we don't need this in containerd. :0

[2017-09-20 18:21] Random-Liu commented on #1064
This is fixed. Close this one.

[2017-09-20 18:21] #1064 closed

[2017-09-20 19:07] stevvooe commented on #1526
@AkihiroSuda This was working with the content store the day it was checked in. I think we've had to do a few fixes to keep it working but these downloads can be resumed.

Here are the partial downloads after cancelling the pull:

[code]

Is it possible the UI in ctr is broken?

[2017-09-20 19:17] estesp commented on #1530
Thanks @Random-Liu ; @dmcgowan was going to work on that.

[2017-09-20 19:34] #1482 closed

[2017-09-20 19:35] crosbymichael commented on #1482
We could move it into `contrib/volumes` if Docker and CRI need to share the same code.  Does not matter to me, we can always add it later if its general useful for people.

[2017-09-20 19:41] crosbymichael commented on #1508
@carlwgeorge It would run as a systemd service on systems that support systemd.

Even if it is not a user facing service, other packages that depend on containerd will need a containerd package in their dependencies that gets installed.

Having a package also allows containerd to be updated independently of software that depends on it.

[2017-09-21 00:17] stevvooe commented on #1531
@Random-Liu I have a PR out with a fix.

[2017-09-21 00:32] stevvooe commented on #1482
So, this volume behavior is kind of an OCI thing, as well, so I see no reason this shouldn't be in containerd. https://github.com/kubernetes-incubator/cri-containerd/pull/247 could totally be apart of containerd. However, that toolkit may grow, so having it elsewhere might be useful (containerd/volumes).

[2017-09-21 07:14] allencloud commented on #1507
Thanks a lot for the help, my friends.
Closing this.

[2017-09-21 07:14] #1507 closed

[2017-09-21 09:03] ijc commented on #1482
I'd be happy to make a PR to simply take the `WithVolume` from https://github.com/kubernetes-incubator/cri-containerd/pull/247 and move it here but I think we would also want to have https://github.com/kubernetes-incubator/cri-containerd/pull/261 which then implies being happy with the additional vendorings that brings in which is the transitive set required by `github.com/docker/docker/pkg/chroot

[2017-09-21 14:07] #1531 closed

[2017-09-21 15:34] caniszczyk opened #1539 "Get CII Badge for containerd"
Hey @stevvooe, per graduation requirements in CNCF, we expect all projects to adhere to the CII Best Practices, would be great if you can fill this out: https://bestpractices.coreinfrastructure.org/

It should take no more than 10-15 minutes to get a fancy badge.

It's not a high priority but just wanted to put it on your list.

[2017-09-21 15:35] crosbymichael commented on #1539
I'll do this.

[2017-09-21 15:52] estesp commented on #1539
I'm in full support especially if it raises our score from "adequate": http://doyouevenbadge.com/report/github.com/containerd/containerd

😆

[2017-09-21 17:42] dmcgowan commented on #1530
Fixed by #1535

[2017-09-21 17:42] #1530 closed

[2017-09-21 19:48] #1399 closed

[2017-09-21 23:58] stevvooe commented on #1482
@ijc We really don't want to pull in the docker dependencies for either project (don't get me started on the promise package -- submitting a PR shortly to can it). If we need the chroot behavior, it would be best to bring those over carefully. I understand that is a much bigger task, but we need to do this to hit our quality goals.

Ideally, rather than a chroot, we should be doing this in a conta

[2017-09-22 00:03] cpuguy83 commented on #1482
Wait why is promise in there... omg...

[2017-09-22 00:09] stevvooe commented on #1482
@cpuguy83 Killing it...

[2017-09-22 01:00] stevvooe commented on #1482
@cpuguy83 @ijc moby/moby#34929

[2017-09-22 10:50] ijc commented on #1482
I _think_ (but I'm not certain) that the chroot is only because the same code is also used in Docker to  handle untrusted tar streams. In this case are handling a tar stream which we are creating locally, which I think rules out the attacks which the use of chroot is trying to combat (symlinks to `../../../` outside the root, maybe certain classes of hardlink attack etc). I _think_ (but again am n

[2017-09-22 15:42] estesp commented on #1520
I think this is resolved for now with @stevvooe detailing the `run` command and the fact that start is not a verb for `ctr`

[2017-09-22 15:42] #1520 closed

[2017-09-22 16:14] abhi opened #1545 "Image pull fails due to locked error"
During kube cluster bring up on a beta containerd codebase I was constantly seeing locked error when the kube infra pods were being created and run. Because of which cluster bring up was failing.
[code]
The last time we tried this with @dmcgowan it seems to recover from the failure because kubelet recreates the failed pods. Opening this issue here to track it.
I will test this again and see if I h

[2017-09-22 16:20] abhi opened #1546 "rootfs: no space left on device error on constant add remove of containers(pods)"
While playing with libnetwork daemonset which runs in priviliged mode in host network namespace , host pid and mounts netns directory I observed the following error. This could be an issue in cri-containerd. I will debug it and close this issue if thats the case.

[code]

[2017-09-22 17:21] cpuguy83 commented on #1482
Correct this is for handling untrusted tar streams, mainly when exploding a tar from an image.
However, I think it's wise to not trust even already existing images/container FS.

Providing a helper to do this in a container would be great, however this seems like it might be a bit hairy to do.

[2017-09-22 17:30] stevvooe commented on #1482
This is where we want this functionality to land.

The symlink attacks seem to be the main vector. With containerd, this all runs client-side, so dropping using an untrusted user would mitigate some of the risk but I am not sure how realistic that is for CRI and docker.

Besides `chroot`, is there something missing in the containerd helpers that prevents you from using those packages over the dock

[2017-09-22 17:31] stevvooe commented on #1520
@estesp I wonder if we should look into having a `start` verb. At this point, we haven't needed for demos, but it would better expose the API. We can revisit this post-1.0.

[2017-09-22 18:09] stevvooe opened #1548 "design: update documents to reflect current architecture"
While our design was followed fairly closely, there are some changes and clarifications that have cropped up over the development of containerd. Let's take the time to ensure that the design docs reflect the current architecture.

[2017-09-22 18:14] stevvooe commented on #1513
Closed by #1528.

[2017-09-22 18:14] #1513 closed

[2017-09-22 19:33] #1521 closed

[2017-09-22 20:20] thaJeztah commented on #1513
Should this be enforced in moby/moby as well to prepare for this change?

[2017-09-22 21:31] stevvooe commented on #1513
@thaJeztah No, moby's label system is separate from containerd's label system.

[2017-09-23 01:15] Random-Liu commented on #1512
@dmcgowan Yeah, confirmed that this should be a gcr issue. I tried an old containerd version which worked before, and still could not pull `gcr.io/google_containers/busybox@sha256:4bdd623e848417d96127e16037743f0cd8b528c026e9175e22a84f639eca58ff`.

[2017-09-24 00:30] Random-Liu commented on #1512
Confirmed that this is a bug in GCR. They are not handling space between mediatypes correctly. They are going to fix it.

@dmcgowan

[2017-09-25 03:31] mlaventure opened #1553 "client: Image api too restritive"
As the goal is for user to make use of the client API instead of reaching to the GRPC services directly, it would be beneficial to extend the surface of the client's image API.

At the moment the following is no doable via it:
 - [ ] Retrieve the Labels/CreatedAt/UpdatedAt fields
 - [ ] Update an image
 - [x] List an image using filters (#1554)

There's also some naming inconsistencies across the

[2017-09-25 12:46] ijc commented on #1482
Would that prevent it from doing any `chown` or `chmod` it might need to do (e.g. since the files need to end up being root owned)?

I thought `containerd` was entirely lacking functionality to copy one arbitrary subtree to somewhere else, have I missed something?

[2017-09-25 16:19] dmcgowan commented on #1512
@Random-Liu thanks for confirming and reaching out to them!

[2017-09-26 00:54] dmcgowan commented on #1398
Updated edge from image -> snapshot to content -> snapshot. It makes more sense for the image config to the point to the snapshot rather than the image reference itself. By cleaning up the image reference the manifest and config will get cleaned up and any corresponding snapshots.

[2017-09-26 01:19] qingyunha opened #1560 "grpc.WithTimeout not valid without grpc.WithBlock"
the grpc docs say:

but I find somewhere only has WithTimeout set in ctr.
https://github.com/containerd/containerd/blob/master/cmd/ctr/utils_unix.go#L82
https://github.com/containerd/containerd/blob/master/cmd/ctr/shim.go#L295

is this on purpose  or something I missed

[2017-09-26 04:52] AkihiroSuda opened #1561 "JSONify `containerd --version` output?"
Discussed in the Moby PR https://github.com/moby/moby/pull/34895#discussion_r139787050 (cc @mlaventure )

High-level engines such as Moby Core may need to parse the output of `containerd --version`.

I suggest JSONify `containerd --version` for machine readability.

before:
[code]

after:
[code]

In future, we could easily add other fields (e.g. built-in plugins, Go runtime version) to this JSON o

[2017-09-26 18:19] stevvooe commented on #1482
The goal here is to bring `containerd` to feature parity. If there is something that is missing, let's work to add it.

[2017-09-26 21:14] lukasz-opyrchal commented on #1512
We checked in a fix and it should roll out next week.

Thanks for reaching out.

[2017-09-27 00:38] tonistiigi opened #1564 "unpack doesn't support cancellation"
Unpack phase on image pull can take quite a long time and although it takes a context, canceling it doesn't seem to stop the function until it completes.

@dmcgowan

[2017-09-27 10:27] ijc commented on #1482
Sorry, I thought you were saying there was some (non-chroot based) file tree copying functionality somewhere in containerd which I had missed. That tree copy helper is the functionality which is required but not (AFAIK) already present. With that we can can use the existing functionality to mount a ro snapshot and copy the path underlying the volume to the backing store on the client side.

The co

[2017-09-27 17:10] stevvooe commented on #1482
@ijc Ok, that seems reasonable. Let's add that to containerd and avoid the moby dependencies before we get too far along.

[2017-09-28 00:07] stevvooe commented on #1561
No, this is hard for users to read. This should not example further. There is already an API to get the version of containerd with this information.

[2017-09-28 00:07] #1561 closed

[2017-09-28 00:09] stevvooe commented on #1553
The problem is that we are not exposing the image store properly. All of this is already possible with https://godoc.org/github.com/containerd/containerd/images#Store. We should not be repeating ourselves on the client, as it will become a mess.

[2017-09-28 02:15] ikaven1024 opened #1568 "certificate signed by unknown authority"
i have a local registry and try to pull image with ctr.
But failed with:
[code]
Both `-k` and `--plain-http` tryied, but failed yet.

it is a public image and can be pulled by `docker pull`

[2017-09-28 07:10] AkihiroSuda commented on #95
ctr is compilable on v1.0 branch.
I think we can close this issue. (cc @crosbymichael )

[2017-09-28 07:10] #95 closed

[2017-09-28 09:40] ijc commented on #1482
@stevvooe I was looking at continuity for this and was wondering what you think about adding a `Copyable` interface containing a `Copy(srcroot, dstroot string) error` type method (or just add such a method to `Resource`). The idea would be that each `Resource` can then implement the correct logic for duplicating that type of object (perhaps with a common helper for ownership/perms/xattrs).

With t

[2017-09-28 16:58] mlaventure opened #1572 "client: Add an helper to check if image is Unpacked"
Currently, there's no simple way in the client to check if an image was fully unpacked. #1567 adds a way to check if all necessary digests have been downloaded, it would be nice to extend it or add a new method to also check whether relevant one have been unpacked.

[2017-09-29 09:54] Weichen81 opened #1576 "Could not pull any images on ARM platforms"
Hi,
After PR https://github.com/containerd/containerd/pull/1535 had been merged, the containerd
has enabled the OCI platform string check. But the platform.variant field of OCI for ARM
hadn't been ready at that time, so all ARM images could not be pull successfully.

"ctr pull docker.io/library/hello-world:latest:
resolved |++++++++++++++++++++++++++++++++++++++|
index-sha256:3644c0788e3d3823f9e97

[2017-09-29 20:36] #1495 closed

[2017-09-29 20:49] stevvooe commented on #1482
@ijc Throw together a small proposal issue with the interface changes and we can work from there. On first pass, it looks reasonable.

[2017-10-02 07:08] kunalkushwaha opened #1578 "Suggestion: Move containerd.IO code as independent containerd repo"
By  ``containerd.IO`` I mean [``io.go``](https://github.com/containerd/containerd/blob/master/io.go), [``io_unix.go``](https://github.com/containerd/containerd/blob/master/io_unix.go) & [``io_windows.go``](https://github.com/containerd/containerd/blob/master/io_windows.go).

Implementation of [``IO interface``](https://github.com/containerd/containerd/blob/master/io.go#L24) for containerd is compl

[2017-10-02 11:27] ijc commented on #1482
@stevvooe: https://github.com/containerd/continuity/issues/95

[2017-10-02 14:11] crosbymichael commented on #1578
I'm not sure the code is meaningful enough outside of the context of containerd to warrant a separate repo.  It would have to be used by multiple projects before we did something like this I think.

Could you explain more why you think this code should be separate?

[2017-10-02 18:53] dmcgowan commented on #1568
Looks like the `-k` flag is not being properly handled by ctr, I will make a PR to fix this

[2017-10-03 04:51] kunalkushwaha commented on #1578
~~I am writing one testing tool which can runs same test cases on multiple container runtime. Am thinking to resue this code for other runtimes like `cri-o`.~~

I think, I concluded too early for reusing this code. Will implement this first and if required will open this issue.

Sorry for false alarm.
Closing this issue as of now.

[2017-10-03 04:51] #1578 closed

[2017-10-03 20:49] carlwgeorge commented on #1508
Not sure if this justifies it's own issue or not, but since it's directly related to packaging I'll ask here first: would it be possible to add a manifest file in the vendor directory that lists the vendored dependencies and their revision ([example](https://github.com/mholt/caddy/blob/v0.10.9/vendor/manifest))?

[2017-10-03 21:02] crosbymichael commented on #1508
@carlwgeorge is that type of manifest read by packaging programs?  I only ask because we have the `vendor.conf` file and want to make sure that things don't get out of sync with what is actually vendored.

[2017-10-03 21:11] carlwgeorge commented on #1508
@crosbymichael Oh, I didn't notice that file before; that will work fine.  AFAIK there isn't a standard packaging tool that reads the manifest file, I just wanted something I can programatically query with a python one-liner or awk to generate the info needed to comply with packaging guidelines for bundled libraries ([example](https://src.fedoraproject.org/rpms/reg/blob/8f25730b2d4b2cc16c573ee5024

[2017-10-03 21:13] crosbymichael commented on #1508
Perfect!

[2017-10-03 21:22] crosbymichael commented on #1508
@carlwgeorge here is the code for parsing the vendor.conf files:

https://github.com/LK4D4/vndr/blob/master/clone.go#L24

Just incase its helpful to anyone.

[2017-10-04 00:31] Random-Liu commented on #1229
@stevvooe Can we prioritize this? We'll need this very soon.

We need to integrate cri-containerd with `kube-up.sh` upstream, and this will be a blocker. :)

[2017-10-04 00:54] stevvooe commented on #1229
@Random-Liu Specifically, you need docker save/load support? Do you need both?

[2017-10-04 01:33] Random-Liu commented on #1229
I think load is more important now.

On Oct 3, 2017 5:54 PM, "Stephen Day" <notifications@github.com> wrote:

[2017-10-04 02:00] lsm5 commented on #1508
@carlwgeorge thanks for picking this up, please assign me as reviewer once you put up an rpm spec for review!

[2017-10-04 02:25] AkihiroSuda opened #1591 "ref resolution over the set of names in the image store"
https://github.com/containerd/containerd/pull/1574#issuecomment-334011389

[code]

@stevvooe When is the milestone of this? (1.0? 1.1? unplanned?)

[2017-10-04 07:05] AkihiroSuda commented on #1548
Additionally, I think we need to reorganize the `docs` directory, which is currently mixed up of Web site contents and guide documents

[2017-10-04 18:40] stevvooe commented on #1548
@AkihiroSuda Could you file an issue?

[2017-10-04 18:42] stevvooe commented on #1591
@AkihiroSuda This is client-side behevior, so its not critical for 1.0. Do you need it?

It would really be great if you could help us out with the open 1.0 items. If we keep adding stuff that is not already there, we'll never get a release out.

[2017-10-04 22:50] AkihiroSuda commented on #1591
Not needed for v1.0. Just wanted to know your plan.😄

[2017-10-04 22:51] Random-Liu opened #1596 "`ctr` could not start container with work directory in image volume."
Could not use `ctr` to run `quay.io/coreos/prometheus:v1.1.1`.

The image sets its working directory to the image volume, which does not exist in the rootfs. https://github.com/prometheus/prometheus/blob/master/Dockerfile#L13-L14

This will be fixed after we add image volume support in `ctr`.

This is not high priority.

[2017-10-04 22:52] Random-Liu commented on #1512
Will close this issue after the gcr fix rolls out. Tried yesterday, still doesn't work yet.

[2017-10-05 02:16] SvenDowideit opened #1599 "ctr t attach <comething> results in `/dev` being emptied"
I was noodling around with my RancherOS/Linuxkit runc&containerd hack, and this happened.

I'lll update my "thing" to beta.1 and see if its the same.# /host/usr/bin/runc -v
runc version 1.0.0-rc4
commit: 2e7cfe036e2c6dc51ccca6eb7fa3ee6b63976dcd
spec: 1.0.0

could just as easily be something I'm doing wrong, but :)

[code]

[2017-10-05 02:17] carlwgeorge commented on #1508
I've got some RPMs available in a [COPR repo](https://copr.fedorainfracloud.org/coprs/carlwgeorge/containerd/) for initial testing.  I hit up @crosbymichael on IRC and he clarified that the main goal is to ship the following files:

* /usr/bin/containerd
* /usr/bin/containerd-shim
* /usr/lib/systemd/system/containerd.service

The repo has packages for EL7, Fedora 26, Fedora 27, and Fedora Rawhide.

[2017-10-05 06:18] AkihiroSuda opened #1601 "Flaky test: TestContainerOutput (Windows)"
Found in https://github.com/containerd/containerd/pull/1600

[code]
https://ci.appveyor.com/project/mlaventure/containerd-3g73f/build/975#L388

[2017-10-05 07:20] AkihiroSuda commented on #1596
https://github.com/opencontainers/runc/pull/1604 should fix this

[2017-10-05 07:22] AkihiroSuda commented on #1318
@dmcgowan
I checked the checkbox for `403 returned on non /v2/ endpoints...`

[2017-10-05 07:25] AkihiroSuda commented on #1471
Is there any task left for 1.0.0?

I think @dmcgowan and I discussed reimplementing shim in Rust, but it won't happen in 1.0.0. (Also, it should be another repo probably)

[2017-10-05 08:00] AkihiroSuda commented on #1229
#dibs

[2017-10-05 11:17] AkihiroSuda commented on #1229
opened https://github.com/containerd/containerd/pull/1602

[2017-10-05 14:56] mlaventure commented on #1601
All test that wait on the container are actually flaky on windows. There seem to be an issue with the windows implementation since we move `Wait()` server side, haven't figured out why it'd be so. Fresh eyes are welcome

[2017-10-05 20:07] crosbymichael commented on #1508
@carlwgeorge thanks!  I'll check these out today

[2017-10-05 23:39] Random-Liu commented on #1512
Just tried out, this has been fixed. Close.

[2017-10-05 23:39] #1512 closed

[2017-10-05 23:52] stevvooe commented on #1599
@SvenDowideit Howdy, stranger! Thanks for the bug report!

Could you also give this a try with the version of runc called out in https://github.com/containerd/containerd/blob/master/RUNC.md? That might be problem, as well.

[2017-10-06 00:00] stevvooe commented on #1512
:fireworks:

Thanks to the GCR team!

[2017-10-06 00:58] SvenDowideit commented on #1599
oh interesting, @justincormack - do you guys have a mapping from the versions used for containerd beta1 and the linuxkit/containerd & linuxkit/runc images?

[2017-10-06 01:54] SvenDowideit commented on #1599
@stevvooe I can confirm that moving up to the 2 beta.1 versions doesn't resolve the issue

[code]

[2017-10-06 01:57] SvenDowideit opened #1606 "Add the runc version/hash to the containerd release notes"
otherwise the user has to goto the release, then find the matching commit of https://github.com/containerd/containerd/blob/master/RUNC.md - which will become a bit messy in future :)

see the discussion in #1599

[2017-10-06 03:05] SvenDowideit opened #1607 "ctr exec error: `ctr: failed to open stdin fifo`"
in updating from the containerd and runc versions in the linuxkit repo to the "right" combination, running `ctr exec` now fails.

[code]

I havn't changed any of the code, or setup, so it could also be something that wasn't necessary in the older version of containerd beta.0.

[2017-10-06 18:37] stevvooe commented on #1599
@SvenDowideit Thanks for trying out the newer versions! We'll definitely have to investigate further.

[2017-10-06 18:43] crosbymichael commented on #1607
Are you running containers in containers bind mounting an external containerd socket?

[2017-10-06 20:30] tonistiigi opened #1608 "extracting archive shouldn't reset umask"
Current archive pkg sets umask during extraction. That is not safe for multiple extractions happening in parallel and changes the outcome of other filesystem operations done by other packages. Archive pkg shouldn't do that and instead `chmod` files after creation if needed.

@dmcgowan

[2017-10-06 21:28] crosbymichael commented on #1508
@carlwgeorge Awesome!

I just tested this on f26 and it worked flawlessly.  I was able to enable the service and run containers without anything else being installed.  Really good work and thanks so much.

The only thing I'm considering is if we should add `ctr` or not.  @stevvooe @dmcgowan what do you think?  Should we keep it out of packages for now until we can support it or include it as a dev

[2017-10-06 21:38] mlaventure opened #1610 "userns is broken if mapping size > 65534"
If using userns with the default `Stdio` (i.e. fifo), the container fails to start with:
[code]

This only occurs if the host id is different from `0` **and** the mapping size is greater than `65534` (unmapped gid default value?).

I haven't been able to pinpoint what's causing this to occur yet.

[2017-10-06 21:39] stevvooe commented on #1508
@crosbymichael There is some diagnostic functionality in `ctr` that helps a lot. Having it in place seems important. I don't know if we can put a banner on it that prints out a big warning message every time. We can also place a warning in the manpages. If we ship it, there is a 100% chance _someone_ will rely on the behavior of `ctr`, if with those measures.

I am really not sure if unstable or m

[2017-10-06 21:40] crosbymichael commented on #1508
@stevvooe we can always have the binary on our release page that people could download

[2017-10-07 23:47] SvenDowideit commented on #1607
yup

[2017-10-08 01:26] AkihiroSuda commented on #1607
Bind-mounting /tmp/containerd works for me.

Should we move this dir to under /run/containerd?

[2017-10-09 03:23] yekaifeng opened #1614 "Create new release for docker v1.13.x"
Docker v1.13.x is using containerd v0.2.3 which was released on 2016Aug. There are 70+ changes since then up till now. Branch docker-v1.13.x is about to kept those new changes.

As there is no compatibility guarantees with upgrades from two minor releases. i.e. 1.0.0 to 1.2.0, we are not able use the latest v1.0.0 for docker 1.13.

Docker 1.13 is already stable enough and good for production. Upgr

[2017-10-09 03:46] allencloud commented on #1614
I think it is proper to address this in repo https://github.com/docker/containerd. @yekaifeng
Making containerd bind with docker is not proper.

[2017-10-09 08:33] AkihiroSuda commented on #1596
@random-liu Is this closable?

[2017-10-09 15:13] Ace-Tang opened #1616 "Supported runc version may not clearly"
I run with this command, and get error.
[code]

finnally, I found that the error exist because I use a old version of runc,
After I build runc follow this docs `https://github.com/containerd/containerd/blob/master/RUNC.md`,
I make `ctr run docker.io/library/busybox:latest dock4 echo 1` run successfully.

first, I feel sorry for not read docs carefuly，but the error takes me several hours to debug,

[2017-10-09 15:24] crosbymichael commented on #1614
I think we can do a 0.2.4 next time we bump the docker dependency

cc @mlaventure one of us can do this whenever we bump it again or just tag the current version

[2017-10-09 15:58] #1601 closed

[2017-10-09 16:14] carlwgeorge commented on #1508
I updated the packages in that COPR to include:

* a default config file using the output of `containerd config default`
* `/usr/bin/ctr`, with a conditional flag to disable it later if needed

If needed, it would be trivial for me to rename the `ctr` binary to `ctr-unstable` in the RPM spec file without any upstream changes.

[2017-10-09 17:00] allencloud commented on #1616
Yeah, I think version incompatibility between runC and containerd should be reported earlier when start of containerd. We can detect this in the start of containerd and fail fast to avoid further error.

[2017-10-10 00:05] stevvooe commented on #1616
Duplicate of #1308

@allencloud Do you have a suggestion of how to do this?

[2017-10-10 00:07] stevvooe commented on #1614
@crosbymichael Should we delete these docker tags? We aren't really going to maintain them going forward.

[2017-10-10 00:09] stevvooe commented on #1606
@SvenDowideit Should we repeat this same information every time? Or include a link to it each time? I fear repeated information that already has a canonical location.

[2017-10-10 02:03] jovizhangwei opened #1618 "containerd compilation failed"
I got below compilation errors when built latest source code of containerd.
[code]

[2017-10-10 02:11] #1618 closed

[2017-10-10 06:19] SvenDowideit commented on #1606
IMO, when there is a specific dependency for a release, then it would be better to call out in the release information. your canonical location is probably wrong for the containerd 1.0.0-alpha0 containerd release - so if someone's testing something with an older release, you've made it much more complicated...

[2017-10-10 09:28] jovizhangwei opened #1619 "Support more APIs: unpack image to rootfs, and create snapshot from rootfs"
Hi,

Currently we are investigating start container from distributed image store, the rootfs directory is NFS shared and mounted locally. In order to make this solution works, containerd requires two more APIs as below.

1. Unpack image to rootfs (then can share the rootfs directory to remote NFS client)
ctr have "rootfs" command now, but not implemented yet, any plans?
[See] (https://github.com/c

[2017-10-10 11:37] AkihiroSuda commented on #1508
How do we support installing multiple versions of containerd simultaneously? e.g. v1.0 and v1.1.

What would be binary names, socket paths, and config paths?

[2017-10-10 11:43] mrueg commented on #1614
@stevvooe please don't delete existing tags. downstream packagers rely on it to fetch the versions

[2017-10-10 13:31] carlwgeorge commented on #1508
@AkihiroSuda In the RPM ecosystem, in order to have multiple versions of an application installed, you need to use alternate package names (containerd11, docker-containerd) and file locations (`/usr/bin/containerd-1.1`, `/usr/bin/docker-containerd`).  But even when you do that, you can only have one package of an exact name installed at a time.

Here are the files in the package I created:
* `/etc

[2017-10-10 14:49] crosbymichael commented on #1508
@AkihiroSuda that is not a usecase or priority.  Packages just don't do that nor should they.  Its not a package concern.

[2017-10-10 14:55] crosbymichael commented on #1614
No leave the tags.  they are immutable

[2017-10-10 14:58] crosbymichael commented on #1606
We could include the runc build in our tarball that we use for now.  I can produce the build if that is what we want to do.

[2017-10-10 15:02] crosbymichael commented on #1508
@carlwgeorge both are good.

What happens after its approved on the official review?  Since we are still in beta and working towards the 1.0 RC then GA release, does the version in the package reflect this?

[2017-10-10 15:22] mlaventure commented on #1614
Yes, no messing up with releases.

We could delete the branches though, the tags should ensure that the needed code doesn't go away (well, we would need to tag the current branch tip as I think it has diverged since last tag).

[2017-10-10 15:27] lsm5 commented on #1508
On Tue, Oct 10, 2017 at 03:02:18PM +0000, Michael Crosby wrote:

Yup, the release string will have "rc" in it.

--
Lokesh
IRC: lsm5
GPG: 0xC7C3A0DD
https://keybase.io/lsm5

[2017-10-10 15:48] AkihiroSuda commented on #1508
@carlwgeorge

ok

Btw, please add runc version constraint to http://copr-dist-git.fedorainfracloud.org/cgit/carlwgeorge/containerd/containerd.git/tree/containerd.spec ?

[2017-10-10 17:04] carlwgeorge commented on #1508
@crosbymichael After the official review, it will be added to the main repos, so users don't have to add the additional COPR repository.  As @lsm5 mentioned, pre-release versions are annontated with a unique release field.  Currently the package is `containerd-1.0.0-0.2.beta.1`, which is a version of `1.0.0` and a release of `0.2.beta.1`.  I'll increment the release as needed for future betas and

[2017-10-10 17:08] AkihiroSuda commented on #1508
Currently https://github.com/containerd/containerd/blob/master/RUNC.md , but will be runc 1.0 GA in containerd 1.0 GA

[2017-10-10 17:29] stevvooe commented on #1619
We are already doing all of this today, so you'll have to be specific if you're having trouble. From your description, it seems like you are leaning `ctr` for support, which is not yet fully supported. It usually has incomplete implementations. Clients using `containerd` should integrate with the GRPC API directly or with the [Go API](https://godoc.org/github.com/containerd/containerd). We'll add

[2017-10-10 18:17] stevvooe commented on #1527
@Random-Liu @crosbymichael Still having problems?

[2017-10-10 18:31] carlwgeorge commented on #1508
@AkihiroSuda Targeting a specific commit requirement is not tenable within the spec file.  The RPM dependency resolver has no way to know the relationship between the commits.  The only way to do it would be to maintain a mapping of all the RPM releases to their respective commits, then manually researching where the required commit falls in that commit history, and requiring the RPM release that

[2017-10-10 19:04] lsm5 commented on #1508
On Tue, Oct 10, 2017 at 06:32:08PM +0000, Carl George wrote:

I'd suggest sending CentOS Virt SIG instead of EPEL because you have a
lot more freedom over there RE: dep bumps v/s EPEL, but your call :)

--
Lokesh
IRC: lsm5
GPG: 0xC7C3A0DD
https://keybase.io/lsm5

[2017-10-10 19:06] lsm5 commented on #1508
On Tue, Oct 10, 2017 at 07:04:25PM +0000, Lokesh Mandvekar wrote:

In fact, you can get containerd into Virt SIG right away without waiting for
fedora review.

--
Lokesh
IRC: lsm5
GPG: 0xC7C3A0DD
https://keybase.io/lsm5

[2017-10-10 19:08] crosbymichael commented on #1508
We will depend on versioned releases of runc in the future post 1.0.

However, what is the best way to notify package maintainers when we release a new version of containerd with a runc bump? 1.0->1.1?  Is adding a note in our release notes good enough?

[2017-10-10 21:01] stevvooe commented on #634
@gianarb Referencing https://github.com/cncf/cluster/issues/40 here.

Let's get this description updated with the current plan and a support table. We should also come with a process for new architectures and operating systems.

[2017-10-10 21:28] carlwgeorge commented on #1508
Yes, mentioning changes in the minimum required version of runc in the releases notes would be ideal.  Additionally, it would be useful to maintain a list of the minimum versions of dependencies in a well known location, such as the project README.  Your README already points out the minimum golang version required ([1.8](https://github.com/containerd/containerd/blob/master/README.md#developer-qui

[2017-10-10 21:33] crosbymichael commented on #1508
@carlwgeorge thanks.  I'm sure we can get something setup to generate the release docs with this info.

cc @stevvooe @dmcgowan

[2017-10-10 22:48] jessvalarezo opened #1622 "Rename hcsshimopts to hcsshimtypes"
Update package `hcsshimopts` to `hcsshimtypes` to better reflect contents.

[2017-10-11 04:39] jovizhangwei commented on #1619
Hi @stevvooe ,

Thanks for your patent reply.

Our situation is container and its vm host can be destroyed at any time, so we cannot pull image to local host, so we want to start a container from a image shared by NFS, then container can be started faster without pull image every time. To implement this solution, here requires two steps.

1. Server side: unpack(flatten) image to rootfs and image c

[2017-10-11 07:08] jovizhangwei commented on #1619
Maybe `client.Export` and `client.Import` fit my requirement? does these APIs take image metadata?

Tried with ctr, but not works.

[code]

[2017-10-11 08:29] jovizhangwei opened #1624 "ctr-import is not working"
ctr-import is not working as following.

[code]

[2017-10-11 10:39] AkihiroSuda commented on #1624
This behavior is expected.
You need to set object.( "baz" of "foo/bar:baz")

[2017-10-11 12:13] Ace-Tang opened #1625 "How to support multiple runtimes"
I have runc, runv and other runtimes on the machine,  I need to change config file when I want to use another runtime
[code]

how to support multiple runtimes as moby do.

moby get runtime config in the config.json, can containerd do the same, thanks
[code]

[2017-10-11 14:59] mlaventure commented on #1625
You would have to start 2 `containerd` with a different `Runtime` set under the `plugin.linux` options.

There's no equivalent of `runtimeArgs` in containerd, so you would have to make it a script. e.g.:
[code]

Not that the linux runtime assume that the runtime binary cli is compatible with the runc, if not, then a new runtime plugin would need to be developed for containerd.

[2017-10-11 15:07] Ace-Tang commented on #1625
thanks for your answer @mlaventure

[2017-10-11 15:52] #1625 closed

[2017-10-11 15:53] crosbymichael commented on #1624
Closing as @AkihiroSuda comment about including the tag for the import of an image.

[2017-10-11 15:53] #1624 closed

[2017-10-11 16:16] AkihiroSuda commented on #1625
@mlaventure Can we let daemon instantiate multiple linux runtime plugins? (Probably v1.1)

[2017-10-11 16:30] mlaventure commented on #1625
Probably after 1.0 yes, as there's a fairly easy (if a tad inconvenient) workaround atm.

@Ace-Tang , actually, I've just realized. There's `RuncOptions.Runtime` that actually overrides the one in the config if set, you can specify it with the `WithRuntime()` construct when creating a task. There's still no `runtimeArgs` equivalent, but you don't need to start a different instance of containerd an

[2017-10-11 18:13] Random-Liu commented on #1527
@stevvooe Not till now. I'm working on enabling more integration test with cri-containerd. That may expose this issue again. If not, I think it's fine to close.

[2017-10-11 18:14] Random-Liu commented on #1471
@AkihiroSuda I think thread number is fine for now.

The more important thing is the resource usage of containerd and containerd-shim. We may need some data.

[2017-10-11 18:14] Random-Liu commented on #678
Close this one. Since this is already provided today.

[2017-10-11 18:14] #678 closed

[2017-10-11 18:16] Random-Liu commented on #1596
@AkihiroSuda I think we could close after runc is updated to include your fix. :)

[2017-10-11 19:09] #1622 closed

[2017-10-11 22:04] stevvooe commented on #1619
@jovizhangwei What have you actually tried?

I'd recommend taking some time to go through the [Getting Started](https://github.com/containerd/containerd/blob/master/docs/getting-started.md) guide to better understand how containerd works. Once you have a better handle on the components, you can decide where to put which components to achieve your goal.

Most of the Go API already supports what you

[2017-10-11 23:15] #1606 closed

[2017-10-12 08:34] #1619 closed

[2017-10-12 13:58] ijc opened #1632 "Is go 1.9 required or is go 1.8 supported?"
containerd v1.0.0-beta.2 builds ok with go 1.8 and appears to work, but one of the tests fails to build because it uses new 1.9 only `pprof` methods:
[code]
I see that because of #1215 the CI has been bumped to 1.9.

In LinuxKit we use alpine 3.6 and hence go 1.8. If go 1.9 is a requirement then we could switch to Alpine Edge but we'd obviously rather not do that if we don't have to.

I couldn't f

[2017-10-12 13:59] crosbymichael commented on #1632
required

[2017-10-12 13:59] #1632 closed

[2017-10-12 14:16] #1608 closed

[2017-10-12 15:49] carlwgeorge commented on #1632
Can this be revisited?  Go 1.9 is not widely available in Linux distributions, and forcing it as a requirement will be hinder the progress of #1508 significantly.  I'm not a go developer, but is it possible to conditionally skip the test that require 1.9 when run with 1.8?

[2017-10-12 15:53] crosbymichael commented on #1632
@carlwgeorge there are bugs in 1.8 that are fixed in 1.9.  And its not just test code but the binary code as well that needs it.  1.9 has been out for a while now.

[2017-10-12 16:23] carlwgeorge commented on #1508
I updated the COPR with 1.0.0-beta.2.  Unfortunately due to #1632 I won't be able to submit it to EPEL for RHEL/CentOS consumption.  In fact, I can't submit it to Fedora 26 either (current release).  It will only be for Fedora 27 (currently in beta) and up.

[2017-10-12 16:28] crosbymichael commented on #1508
@carlwgeorge why don't they have go 1.9 packaged already?

[2017-10-12 16:31] carlwgeorge commented on #1632
[Go 1.9 was released on 2017-08-24](https://blog.golang.org/go1.9).  That was 1 month and 18 days ago.  I'm not trying to be argumentative, just adding context for anyone that reads this later.

[2017-10-12 16:48] crosbymichael commented on #1508
@carlwgeorge i mean, you can always try to build with it but there is a race in IO until the distros can update to 1.9

[2017-10-12 17:02] carlwgeorge commented on #1508
Fedora has an [updates policy](https://fedoraproject.org/wiki/Updates_Policy#Stable_Releases) dictating what is acceptable within a stable release.

RHEL has a [compatibility policy](https://access.redhat.com/articles/rhel-abi-compatibility) as well as an extensive QA process.  Go is in the optional channel, which the policy doesn't apply to, so it _can_ be updated, but there is still a long QA pr

[2017-10-12 17:04] crosbymichael commented on #1508
@carlwgeorge i could live with that.  Lets see what @stevvooe and @dmcgowan think

[2017-10-12 17:21] lsm5 commented on #1632
@carlwgeorge no worries if 1.9 is required. I vaguely remember the fedora golang maintainer not keen on bumping f26 to 1.9, but since f27 is gonna be released soon anyway, you can just build for rawhide and f27.

[2017-10-12 17:35] dmcgowan opened #1635 "Garbage Collection policy plugin"
## Proposal for Garbage Collector plugin

This plugin is responsible for implementing garbage collection, handling scheduling of the garbage collection as well as configuration. It will not implement any garbage collection algorithm, but rather be responsible for querying the state of the metadatastore, calling garbage collection on the metadatastore, and tracking garbage collection failures.

Thi

[2017-10-12 17:36] dmcgowan commented on #1398
Superseded by policy proposal

[2017-10-12 17:36] #1398 closed

[2017-10-12 21:15] Random-Liu commented on #1545
Very easy to reproduce:
[code]
Output:
[code]

[2017-10-12 23:08] dmcgowan commented on #1545
@Random-Liu we should fix, we do expect to support that

[2017-10-13 02:33] kunalkushwaha opened #1639 "parallel image pulls reports error "already exist""
This is similar to earlier reported bug #1041 #1240 which was fixed with #1480.

#### Issue
When same image in pulled concurrently, there is conflict while  extraction and it reports, ``already exist``.
I am able to reproduce this condition in 2 out of 5 runs using [ctr-powertest](https://github.com/kunalkushwaha/ctr-powertest).

I am not able to reproduce it with only ``containerd``, but it repro

[2017-10-13 05:44] Random-Liu commented on #1639
Filed #1640 for this.

Actually I found another problem. I keep getting `failed to resolve rootfs: could not resolve config` from containerd when pulling `docker.io/library/golang:latest` with cri-containerd.

The error is returned by containerd client. I'll try to figure out what is wrong.

[2017-10-13 06:21] Random-Liu commented on #1639
Hm `failed to resolve rootfs: could not resolve config` went away itself. And #1640 does fix this issue for me.

[2017-10-13 06:26] kunalkushwaha commented on #1639
I am able to reproduce it.

[code]

[code]

[2017-10-13 06:28] kunalkushwaha commented on #1639
I forgot to mention one thing in step, I reset the containerd folders before every run. ``/var/lib/containerd`` & ``/run/containerd/``

[2017-10-13 06:41] Random-Liu commented on #1639
@kunalkushwaha I've tried 5 times with my fix, and could not reproduce. I did remove `/var/lib/containerd` and `/var/run/containerd`.
[code]
[code]

After I remove my commit, I could reproduce it 3rd try:
[code]

I may need to verify it more.

[2017-10-13 07:13] kunalkushwaha commented on #1639
@Random-Liu  I am easily able to reproduce it now.

One thing I see difference in git log.
My git log is with your fix is as below, which looks different then yours.
I fetch upstream and rebased with your fix (branch).

[code]

[2017-10-16 21:54] #1639 closed

[2017-10-17 11:11] ernoaapa opened #1651 ""failed to get capabilities xattr" with archive.WriteDiff"
Hi,
I'm trying to create OCI style diff tar file on OS X, but I get error:
` failed to create diff tar stream: failed to get capabilities xattr: attribute not found`

Looks like it's failing [in here](https://github.com/containerd/containerd/blob/master/archive/tar.go#L383) because there is no `security.capability` xattr in file(s).

If I change that line to following, it works:
[code]

Not sure h

[2017-10-18 14:26] crosbymichael commented on #1610
that is an runc error so we should grab the spec, and test with runc to see if we can reproduce.

[2017-10-18 14:27] crosbymichael commented on #1607
@AkihiroSuda i think that is fine to move the fifo locations under run.  do you want to look into that PR?

[2017-10-18 14:32] mlaventure commented on #1610
Sorry, this was fixed by https://github.com/containerd/containerd/pull/1620

[2017-10-18 14:32] #1610 closed

[2017-10-18 14:32] mlaventure commented on #1610
I forgot to link them together, it just happen that from that number, runc tries to `chown` the fds

[2017-10-18 14:32] crosbymichael commented on #1546
@abhi are you still seeing this issue?

[2017-10-19 01:39] qingyunha commented on #1607
Hi. I want to make a PR for this. Is it right to replace  `os.TempDir()` with a string const like `/run/containerd/filo`?

[2017-10-19 08:05] stevvooe opened #1659 "docs: generate GRPC api docs from protobuf"
We should have the practice of meticulously documented the GRPC api directly in the protobuf files. Given this, generating documentation directly from the protobuf defitions will provide an excellent complement to the godoc for users of containerd.

This can be done by defining a new generator, similar to `protoc-gen-gogoctrd` to generate the docs as part of the protobuf compilation process.

[2017-10-19 13:58] crosbymichael commented on #1659
Yes, everyone that created/worked on a service should go though and update documentation over the next week.

[2017-10-19 14:06] crosbymichael commented on #1607
@qingyunha you still need to use `ioutil.TempDir` but with the runtime state dir as the base dir

[2017-10-19 20:06] lsm5 commented on #1508
containerd approved on fedora, @carlwgeorge will handle the rest. Enjoy!!

[2017-10-19 20:19] crosbymichael commented on #1508
Nice.  Thanks @carlwgeorge && @lsm5

[2017-10-19 23:06] qingyunha commented on #1607
@crosbymichael Thank you,  PTAL #1664

[2017-10-20 14:41] estesp commented on #1607
Fixed by #1664

[2017-10-20 14:41] #1607 closed

[2017-10-21 21:29] abhi commented on #1546
@crosbymichael yes I did see once again on a 2 week old code base before I got injured. I will follow this up once I get back in a couple of days.  Can I get some pointers on what the "device" here is ?

[2017-10-22 00:25] qingyunha commented on #1560
this will also cause inconsistent error messages
[code]

[2017-10-23 05:46] kunalkushwaha opened #1671 "On deletion of container, GC cleanup leads to inconsistency."
This looks one of corner case, if container is deleted with option ``containerd.WithSnapshotCleanup`` , apart from r/w snapshot layer, some extra layer is also deleted.

This results into inconsistency and Image content is not found but  ``GetImage()``, returns image is present.

This bug is easily reproducable  by [ctr-powertest](https://github.com/kunalkushwaha/ctr-powertest)

Steps
- Run the co

[2017-10-23 08:15] stevvooe commented on #1659
@crosbymichael Would outputting a bunch of markdown reference suffice here?

[2017-10-23 08:22] stevvooe opened #1672 "docs: running the gh-pages site fails"
Running example from https://github.com/containerd/containerd/tree/master/docs, I get the following:

[code]

[2017-10-23 15:52] ijc opened #1674 "content store corrupted by gc on restart"
A user reported in (https://github.com/linuxkit/linuxkit/issues/2632) that rebooting a `cri-containerd` based LinuxKit/Kube system did not work.

I booted a kube system with a fresh persistent disk and ran `kubeadm-init.sh`, waited until `kubectl --namespace=kube-system get -o wide pods` reports all pods were running then recorded the current state with `find /var/lib/containerd/ > /var/lib/contai

[2017-10-23 15:56] ijc commented on #1674
FTR the cri-containerd errors I get after resoling the `ctr -n k8s.io images ls` issue by manually pulling them all is:
[code]

[2017-10-23 15:58] AkihiroSuda commented on #1659
there seems some tool, but havent tested

https://github.com/sourcegraph/prototools/blob/master/README.doc.md

[2017-10-23 16:58] w9n commented on #1674
The database entries for the blobs in ```io.containerd.metadata.v1.bolt/meta.db``` ```v1/k8s.io/content/blob/* ``` are there after first shutdown but disappear after second boot.

[2017-10-23 17:36] Random-Liu commented on #1674
@ijc Thanks for filing the issue. Does happen to containerd without cri-containerd?

[2017-10-23 17:40] Random-Liu commented on #1674
And this looks related to #1671.

[2017-10-23 18:12] dmcgowan commented on #1671
Looks like the vendored client needs to be updated in order to add the labels used for garbage collection.

[2017-10-23 18:24] dmcgowan commented on #1674
Which version of containerd is used by the client and which version of the daemon? If the client is older than the GC change or the data was pulled before the change, and the daemon has the GC update, then the content will be missing the root markers and reference labels and GC will remove it.

[2017-10-23 18:25] dmcgowan commented on #1674
@Random-Liu is there a specific version of containerd right now which is expected for cri-containerd alpha?

[2017-10-23 18:35] w9n commented on #1674
@Random-Liu i can create a containerd only image and create namespaces, pull images, create container and reboot without problems. not sure how to properly autostart tasks with ctr.

@dmcgowan its github.com/containerd/containerd v1.0.0-beta.2
and cri-containerd v1.0.0-alpha.0

[2017-10-23 19:09] w9n commented on #1674
here are some containerd debug outputs

first start (doesnt seem interesting)
<details>

[code]

</details>

second boot where the content gets deleted
<details>

[code]

</details>

[2017-10-23 19:27] w9n commented on #1674
https://github.com/linuxkit/linuxkit/blob/master/pkg/init/cmd/service/system_init.go#L122

this seems to delete every container on reboot and trigger gc. will test without it.

[2017-10-23 19:29] Random-Liu commented on #1674
I think it's container delete triggers the garbage collection. This should be #1671.

I think it's because you didn't delete container.

[2017-10-23 19:49] Random-Liu commented on #1674
OK. I think that might be the cause. cri-containerd v1.0.0-alpha.0 is using an older version of containerd client, garbage collection was not added yet at that time.

I'm on the plane, sorry for replying late.

[2017-10-23 20:26] w9n commented on #1674
@Random-Liu cri-containerd HEAD is not working either but also still missing this [commit](https://github.com/containerd/containerd/commit/f2ae8a020a985a8d9862c9eb5ab66902c2888361). I also tried  the containerd v1.0.0-beta.2 only disk with removing/adding containers, images, tasks and couldnt reproduce.

[2017-10-23 21:58] darstahl opened #1678 "Windows use of Archive package"
In order for https://github.com/containerd/containerd/pull/1613 to use the Archiver, the Archiver needs to have the context of all layer parents in `Apply`, `Diff` and `WriteDiff`.

I propose changing the interface of these from:
[code]
to:
[code]

etc for `Diff` and `WriteDiff`

@dmcgowan @crosbymichael @stevvooe

I can do this in #1613 or it can be done separately and I can rebase on it.

Slight

[2017-10-23 23:06] Random-Liu commented on #1674
@w9n even CRI-containerd HEAD is not updated to beta.2 yet, so it wouldn't work. Well update it today or tomorrow.

[2017-10-24 03:17] #768 closed

[2017-10-24 03:31] kunalkushwaha commented on #1671
Thanks :). It was client version error.

[2017-10-24 03:31] #1671 closed

[2017-10-24 06:34] #1560 closed

[2017-10-24 09:12] ijc commented on #1674
`cri-containerd` `HEAD` is vendoring `containerd` `12c79cc0d9a38f74420ee669e44d551fda664fd4`, which is `v1.0.0-beta.1-83-g12c79cc0`, which is new enough to have GC support but perhaps is missing some fixes?

LinuxKit has containerd beta.2 and cri-containerd alpha.0 but I've also reproduced with HEADs of both (simultaneously and independently).

[2017-10-24 09:21] ijc commented on #1674
By "independently" I mean I tested (containerd beta.2, cri HEAD), (containerd HEAD, cri alpha.0) and (container HEAD, cri HEAD), not that I have been able to repro with containerd without cri-containerd (which I haven't really tried to do beyond the most basic of smoke tests).

[2017-10-24 12:42] w9n commented on #1674
I vendored cri-containerd's containerd version with ```v1.0.0-beta.2``` and ```04659d94051126f4fe4fcddf068550db447ff5a0``` rebuild the linuxkit package (changed to an appropriate repo) and image (with the new package) and still have the same problem.

[2017-10-24 13:58] ijc commented on #1674
I just tested with https://github.com/containerd/containerd/commit/04659d94051126f4fe4fcddf068550db447ff5a0 (current master) and https://github.com/kubernetes-incubator/cri-containerd/commit/698f0ea2ae099887d59dfad3ecff0650c743cbc7 (current master) with `vendor.conf` updated to pull in https://github.com/containerd/containerd/commit/04659d94051126f4fe4fcddf068550db447ff5a0 (and `vndr` run, of cour

[2017-10-24 14:30] w9n commented on #1674
confirmed! forgot to vndr......

[2017-10-24 18:05] crosbymichael commented on #1523
This was resolved by @jessvalarezo

[2017-10-24 18:05] #1523 closed

[2017-10-24 18:07] crosbymichael commented on #1397
I think we have resolved this a while ago.  The shims are killed and any bundles/resources  are cleaned up

[2017-10-24 18:07] #1397 closed

[2017-10-24 20:47] darstahl opened #1681 "Isolating tar extraction in a separate process"
Windows requires tar extraction to happen in a separate process, as manipulating layers requires a process wide escalation of privilege. Discussing offline with @dmcgowan, we were wondering if it made sense to do this isolation on Linux as well.

This issue is to discuss the following:
1. Does it make sense to isolate the tar extraction on Linux too?
2. If so, what would the interface be?
3. The m

[2017-10-24 20:53] darrenstahlmsft commented on #1678
Per discussion with @dmcgowan, extending the mounts into the Archiver breaks the model and prevents potentially separating the Archiver from containerd in the future. I'm instead going to attempt to change the Archiver interface to split the Apply from a single call to a series of calls that allow as much shared code as possible.

[2017-10-25 04:47] Random-Liu opened #1682 "Will `gc.root` be eventually garbage collected?"
I found that we temporarily mark some content as `gc.root` to avoid them being garbage collected before image reference is created.

However, if pulling image is stopped by either error or containerd restart, it seems that the temporary `gc.root` content will never be garbage collected unless we re-pull the image until success.

Is that the case? How should we handle this?

@dmcgowan

[2017-10-25 15:47] crosbymichael commented on #1681
Binary start time is slow on reexec because the daemon binary is larger than a dedicated binary.

[2017-10-25 16:50] Random-Liu commented on #1674
@w9n #355 has been merged, does that fix this issue?

[2017-10-25 17:49] dmcgowan commented on #1682
The behavior is not defined by the daemon and we probably cannot fully define it on the client. We should have something similar to `docker prune` which is able to remove the root labels from objects. I made the value of the label a timestamp to make any future prune operation easier for removing old labels. I am OK offering an opinionated implementation of prune on the client though if we think i

[2017-10-25 19:09] crosbymichael commented on #1546
Device is probably the tmpfs for `/run`.  It could be inodes or actual space. I'd guess that some networking mounts/files are not being cleaned up as I have not run into this during stress testing

[2017-10-25 19:10] crosbymichael commented on #1514
@estesp did #1567 resolve this issue?

[2017-10-25 19:49] gianarb commented on #1672
I tried and it works for me (I am using current upstream version)
[code]

[2017-10-25 19:56] gianarb commented on #1568
I tried on upstream and this is working now. @crosbymichael I think it can be closed

[2017-10-25 20:01] gianarb commented on #1616
do we know the minimal runc's version required?

[2017-10-25 20:01] #1568 closed

[2017-10-25 20:01] crosbymichael commented on #1568
@gianarb thanks for verifying

[2017-10-25 20:01] crosbymichael commented on #1616
in the RUNC_COMMIT file is what is required at the moment

[2017-10-25 20:10] estesp commented on #1514
Let's just verify with @Random-Liu, but it was definitely meant to. I just didn't follow whether the commentary between @stevvooe and Lantau was incorporated into that PR or whether there was anything else outside of cri-containerd to add.

[2017-10-25 20:36] gianarb commented on #1616
The Runc client has a method called `Version` it contains commit, spec version, runc version.
@crosbymichael do you think is it possible to check it during the `plugin.linux` loading?

[2017-10-25 20:40] crosbymichael commented on #1616
after runc hits 1.0 we will depend on that and won't have this problem as it will be stable. most of these issues are just because people have a really old version, like 6mo old.

[2017-10-25 20:47] #578 closed

[2017-10-25 21:10] w9n commented on #1674
@Random-Liu yes this one can be closed. @ijc is off till wednesday. There is still an open issue on linuxkit to update the packages which i will close with a PR.

[2017-10-25 21:23] #1674 closed

[2017-10-25 21:51] gianarb commented on #1616
:+1: ok good.

[2017-10-26 17:07] Random-Liu commented on #1596
I think https://github.com/opencontainers/runc/pull/1604 should have been included. Close this one.

[2017-10-26 17:08] #1596 closed

[2017-10-27 07:17] Random-Liu opened #1691 "Downloading a content takes forever."
I could pull `calico/node:v2.5.1` with `ctr`.
[code]
But in my cluster, one content takes forever to download.
[code]

I'll try multiple times to see whether it keeps happening. File the issue here so that if we hit this again in the future, we could debug it.

[2017-10-27 17:23] Random-Liu commented on #1691
It's still there over the night:
[code]

[2017-10-27 19:06] dnephin commented on #1672
It's working for me as well. Should the docs use a tag for the image instead of latest?

[code]

[2017-10-27 21:06] Random-Liu opened #1694 "Unpack stuck forever"
In this state, even `ctr snapshot ls` will stuck.

Here is the core dump.
[code]

[2017-10-27 22:57] Random-Liu commented on #1694
Another occurrence. Here is a huge dump, this is only part of it:
[code]

[2017-10-27 22:58] Random-Liu commented on #1694
All the test failures https://k8s-testgrid.appspot.com/sig-node-containerd#node-e2e&width=20 are caused by this.

@dmcgowan @stevvooe This happens in our test

[2017-10-30 14:54] crosbymichael opened #1696 "Pull in two namespaces redownloads everything"
[code]

This is not concurrent.  Its a pull in the top terminal and then after it completes I pull in the lower terminal and it does everything again.

[2017-10-30 17:56] dmcgowan commented on #1696
This is currently expected behavior, the content is being shared on the backend but the namespace must first write data before it can access this. This is the way the registry works and was done to prevent namespaces from accessing data it may not otherwise have access to simply by knowing the hash of the content. I want this to be configurable on the metadata store though. We can discuss what the

[2017-10-30 20:07] rom-stratoscale opened #1699 "Docker daemon fails to start if events.log is corrupted"
Duplicating https://github.com/moby/moby/issues/35331

Hey,

Running node crash scenarios with docker daemon version 17.03.2-ce.
The crash is performed using 'echo c > /proc/sysrq-trigger' command.

Sometimes, after the node reboots, docker daemon fails to start.
Tried to run it manually and got the following error:

[root@stratonode1 ~]# strace -s 2000 -o ./docker.log /usr/bin/dockerd
INFO[0000]

[2017-10-30 20:40] caniszczyk opened #1700 "Update doc license to CC-BY-4.0"
The LICENSE.docs should be updated to CC-BY-4.0 per CNCF rules.

[2017-10-30 20:41] caniszczyk commented on #1700
In the README:

You point to the CC-BY-4.0 but mention CC-BY-SA-4.0, we should just state CC-BY-4.0

[2017-10-30 21:12] stevvooe commented on #1696
@dmcgowan I am not sure if we want to carry this model over for containerd. While namespaces are interesting for logical separation, I am not sure if they are capable of keeping security contexts separate. The chief benefit here is to prevent downloads of the same content across namespaces, so I don't see a good for not taking this.

To be clear, the change here would be to allow the "expected" va

[2017-10-30 21:12] crosbymichael commented on #1700
Feel free to submit a PR so that it is correct ;)

[2017-10-30 21:16] estesp commented on #1700
I was going to help @caniszczyk out with a PR. :)

[2017-10-30 21:32] stevvooe commented on #1699
@rom-stratoscale Thanks for the report!

Looks like the write had space allocated in the file but failed to flush the actual values through when the node went down.

You didn't happen to save the corrupted file? If we had it, we could use it as a test case.

@crosbymichael At this point, do we have the event log in the new version, at all?

[2017-10-30 21:35] dmcgowan commented on #1696
@stevvooe sgtm, I will create add an option to allow sharing or proof of ownership (possibly add isolated storage in the future), but make sharing the default since it will be what most users wants.

[2017-10-30 21:59] mlaventure commented on #1699
No event logs on 1.x, it's a 0.2.x mechanics only

On Mon, Oct 30, 2017, 2:32 PM Stephen Day <notifications@github.com> wrote:

--

Sent from my phone.

[2017-10-30 23:03] stevvooe commented on #1691
@Random-Liu I've seen similar behavior when tethering on mobile. Should we timeout the pullers and let them restart (hopefully from the same spot)?

[2017-10-30 23:07] stevvooe commented on #1357
Closed with #1583.

[2017-10-30 23:07] #1357 closed

[2017-10-30 23:44] stevvooe commented on #1526
Resumable download is driven by [`seekReader` as part of `content.Copy`](https://github.com/containerd/containerd/blob/master/content/helpers.go#L79). If seek is not working on the reader for whatever reason, the download gets truncated and it returns to the beginning.

After looking into this in detail, there are a few reasons this has broken:

1. [`Docker.Fetcher`](https://github.com/containerd/

[2017-10-31 00:13] Random-Liu commented on #1691
We don't know how long a image download takes.

In today's docker implementation. We check image pulling progress, if no progress is made in a period of time, we abort the pull.

We may be able to do similar thing.

[2017-10-31 08:21] rom-stratoscale commented on #1699
@stevvooe the events log is attached. Just use xxd on it and you'll see that the last bytes are 00.
Anyhow, adding here a copy paste of the last bytes..

000052e0: 3762 6635 3135 3833 3635 6635 6561 6636  7bf5158365f5eaf6
000052f0: 3064 3166 3462 3739 3133 6133 3563 3932  0d1f4b7913a35c92
00005300: 3165 222c 2274 7970 6522 3a22 7374 6172  1e","type":"star
00005310: 742d 636f 6e74 6169 6e65 7222 2c

[2017-10-31 14:23] #1572 closed

[2017-10-31 14:47] #1700 closed

[2017-10-31 18:05] stevvooe commented on #1672
Still getting the same error with the 147 image.

[2017-10-31 18:26] stevvooe commented on #1699
@rom-stratoscale Thanks!

Have you seen this happen more than once? We think this is a fairly rare write corruption problem. Are you able to produce this on every crash or does it happen rarely?

[2017-10-31 18:33] crosbymichael commented on #1699
Its an append only log, I'm not sure we can make writes atomic if the log line is over the buffer size.  We could maybe look into direct_io but i'm not sure.

Isn't there a reason why we shutdown machines correctly? Oh ya, file corruption ;P  `echo c` is extreme as its forces a kernel crash/panic so its kinda expected that something is going to get corrupted if you are doing this repeatedly as a t

[2017-10-31 18:39] stevvooe commented on #1699
@dsheets suggested opening the WAL with `O_DSYNC` but I am not sure if we need to fix this.

[2017-10-31 18:45] stevvooe commented on #1527
@Random-Liu Closing this for now. If we see the issue again, we'll reopen.

[2017-10-31 18:45] #1527 closed

[2017-10-31 18:46] stevvooe commented on #1619
@jovizhangwei Did you get the answer you were looking for? Let us know if you have more questions.

[2017-10-31 18:58] stevvooe commented on #1659
@AkihiroSuda Gave it a try and it doesn't work. Look like the [project is no longer supported](https://github.com/sourcegraph/prototools/issues/13#issuecomment-263610636).

[2017-10-31 19:07] rom-stratoscale commented on #1699
@stevvooe it's pretty easy to reproduce (at least with centos7, ext4, ssd - you have more info above). Manage to do it about 20%. At Stratoscale, we're building a super resilient and flexible system, hence we should be able to overcome an accidental crash.
@crosbymichael the best practice is to write the file to a temporary location, and then perform a mv which is atomic.
In my opinion, if the log

[2017-10-31 19:24] crosbymichael commented on #1699
Its an append only log, you cannot write temp and mv.

[2017-10-31 20:21] rom-stratoscale commented on #1699
@crosbymichael  I guess you can copy the whole log, append, and mv it back. But I must to admit that I'm not very familiar with containerd logic, so not sure that my advice is worth :)

Regrading my question  above - is it fine to delete this file in systemd preexec start? What will it affect except from logging?

[2017-10-31 20:24] crosbymichael commented on #1699
@rom-stratoscale i'd rather make a patch to containerd to log the error and continue.

See:
https://github.com/containerd/containerd/blob/v0.2.x/supervisor/supervisor.go#L136

If you want to make a PR to the 0.2.x branch to make the change let me know.  It should be straight forward and you can verify your fix.  If not, I can push a PR with the change.

[2017-10-31 20:29] rom-stratoscale commented on #1699
@crosbymichael sure, I can. Will take me few days to get familiar with the process though.
BTW, who relies on those events?
Regarding the systemd deletion workaround (we're using official docker version) - will it affect anything?

[2017-10-31 20:37] crosbymichael commented on #1699
The events are used when docker comes back online.  I keeps its last known event and then asks containerd, give me every event from X till now.  The log persists the events incase containerd goes down as well.  For a reboot it shouldn't matter, but if you are just restarting services I'm not sure if it would cause any issues or not.  I think docker is start enough when it reconciles the state that

[2017-11-01 04:55] Random-Liu commented on #1694
This happens so frequently...
This time I get both client and server side stack dump.

cri-containerd stack dump:
[code]

containerd stack dump:
[code]

[2017-11-02 21:43] stevvooe opened #1713 "metadata: add content sharing policy configuration"
Please see #1709 for context.

The PR above allowed namespaces to share content easily, reducing overall bandwidth. It had a configuration option to use an "isolated" content sharing policy. If we find this useful in the future, we may want to include this option in a future release.

The documentation describes roughly how the feature would work:

### Bolt Metadata Plugin

The bolt metadata plugi

[2017-11-02 23:32] Random-Liu commented on #1694
We've updated containerd to include the db change. Ideally, this should not happen again.
I'll observe our integration test for a few more days. If this doesn't happen again, I'll close this.

[2017-11-02 23:49] stevvooe commented on #1682
The whole point of `gc.root` is that it is not collected. We can use the timestamp as an expiry. I think the lease PR will address the issues here.

[2017-11-02 23:56] stevvooe commented on #1651
@ernoaapa Those are for selinux xattrs, which won't be available on darwin. If they are missing, the not found error should be ignored. Can you send a PR with the change we can discuss approaches? Thank you!

[2017-11-03 00:33] Random-Liu commented on #1682
@stevvooe Thanks!

So we'll have expiration policy for lease in the future?

[2017-11-03 18:20] Random-Liu commented on #1694
Our test become pretty much green after we update containerd version yesterday. https://k8s-testgrid.appspot.com/sig-node-containerd#node-e2e&width=5

I think we could close this one.

[2017-11-03 18:20] #1694 closed

[2017-11-04 20:19] rom-stratoscale commented on #1699
@crosbymichael https://github.com/containerd/containerd/pull/1720

Thanks!

[2017-11-05 23:56] 0xC0D3D00D opened #1722 "Containerd becomes irresponsible when NFS host goes unreachable"
Hi,

I find out that containerd will become irresponsible when a NFS volume is mounted on a container and the NFS server goes unreachable (It could be for many reasons like NFS server down times, network partitions, or DNS server down time when the volume is mounted by a hostname). It seems a kernel issue since other user applications like `df` or listing the mounted directory with `ls` will hung

[2017-11-06 14:20] cpuguy83 commented on #1722
@0xC0D3D00D Can you provide the goroutine stack dump from the stuck daemon?
On dockerd you can get this either by hitting /debug/pprof/goroutine?debug=2 or sending SIGUSR1 to the daemon process and collecting the dump file mentioned in the logs.

For containerd you can just use `SIGSUR1` and it will output the stack in the dockerd logs.

[2017-11-06 20:00] dmcgowan opened #1723 "archive: create parent directory records for diffed files in tar output"
Currently the diff tars produced by the archive package do not include the parent directories with a file has changed. When these tars are imported into `AUFS` or `overlay2` in Docker, the parent directories end up with the default permissions due to direct extraction not allowing copy up of the parent to the occur.

The OCI specification is incomplete in defining this behavior https://github.com/

[2017-11-06 20:42] Random-Liu opened #1724 "Another deadlock during unpacking image."
This seems to be a different one.

containerd side:
[code]

cri-containerd side:
[code]

[2017-11-06 20:42] Random-Liu commented on #1724
@dmcgowan @stevvooe

[2017-11-06 21:41] dmcgowan commented on #1724
For the containerd side is there another goroutines that were truncated out? I see 2 runtime_Semacquire, but not the goroutine which actually has the lock.

[2017-11-06 22:37] Random-Liu commented on #1724
@dmcgowan No, there is not. Here is the full stack dump on containerd side:
[code]

[2017-11-06 22:42] Random-Liu commented on #1724
Might be related https://github.com/boltdb/bolt/pull/472.

[2017-11-07 21:22] rom-stratoscale commented on #1699
The fix is pushed. Closing.

[2017-11-07 21:22] #1699 closed

[2017-11-07 22:11] stevvooe commented on #1724
@Random-Liu That looks like it has already been fixed in bolt and we have that patch. The deadlock seems to be happening due to a snapshot commit and snapshot list happening concurrently. There is a possibility that the one is taking a lock too soon and causing the operation to block on either end.

[2017-11-07 22:13] stevvooe commented on #1724
That's not to say this isn't a bolt bug...

[2017-11-07 22:20] stevvooe commented on #1691
@Random-Liu So, I looked into how this could happen and this definitely seems like a networking issue. Should we add idle timeouts to connections? I'm not sure how easy this is in practice.

[2017-11-08 01:19] dmcgowan commented on #1724
The bug looks like it is caused by a thread which has a read lock going away without freeing the lock. The write lock was able to acquire the lock to block other writers, but it is waiting for a read lock to release. The read lock is waiting for the write lock.

@tonistiigi found one such case in calling Usage on overlay, if Usage is called on a snapshot which does not exist this case could be hit

[2017-11-08 02:41] mataneja commented on #1508
@carlwgeorge/@lsm5 when will the Fedora package db reflect the inclusion of containerd? Currently, I am not seeing anything..

[2017-11-08 06:36] wenjianhn opened #1731 "Experimental implementation: live migration with Phaul"
Containerd now supports checkpointing and restoring a container. The
downtime is too long for some applications.

Phaul[1] is a Go library for live migration. We can use this library to
migrate a container to another server with less downtime.

[1] https://criu.org/P.Haul

[2017-11-08 08:33] pa-332323 opened #1733 "make peer failed with error with "cannot find context & plugin" . pls help"
build/bin/peer
CGO_CFLAGS=" " GOBIN=/opt/gopath/src/github.com/hyperledger/fabric/build/bin go install -tags "experimental" -ldflags "-X github.com/hyperledger/fabric/common/metadata.Version=1.1.0-alpha-snapshot-7619dce -X github.com/hyperledger/fabric/common/metadata.BaseVersion=0.4.2 -X github.com/hyperledger/fabric/common/metadata.BaseDockerLabel=org.hyperledger.fabric -X github.com/hyperledger

[2017-11-08 14:28] estesp commented on #1733
Looks like you meant to open this in the hyperledger GH issue repository? There is nothing related to containerd in this error or build log.

[2017-11-08 14:28] #1733 closed

[2017-11-08 15:51] mikebrow opened #6645 "Add support for runc hook specs"
The issue is the OCI runtime spec has support for specifying hooks that are called during the container lifecycle events. runc has implemented these hooks.  CRI does not currently provide a way to specify these hooks for inclusion into the container config.json.  We should consider adding support for hook config to cri-containerd.

See cri-o support for specifying runc hooks here:
https://github.c

[2017-11-08 16:35] AkihiroSuda commented on #745
Now we have plugin introspection Api.
Is this closable?

[2017-11-08 18:34] #1724 closed

[2017-11-08 19:59] carlwgeorge commented on #1508
@mataneja PackageDB was deprecated.  containerd is [distgit](https://src.fedoraproject.org/rpms/containerd), and packages have been published for [Rawhide](https://dl.fedoraproject.org/pub/fedora/linux/development/rawhide/Everything/x86_64/os/Packages/c/containerd-1.0.0-0.4.beta.2.fc28.x86_64.rpm) and [F27](https://dl.fedoraproject.org/pub/fedora/linux/updates/testing/27/x86_64/Packages/c/containe

[2017-11-09 00:49] #745 closed

[2017-11-09 21:01] Random-Liu commented on #1724
I got this deadlock again, but we haven't updated to newest containerd yet.

The problem is that in our log, I didn't see any error returned from `Usage`, it means that we have successfully roll back the transaction.

Anyway, I'll update containerd version and see whether this will happen again.

[2017-11-09 21:08] dmcgowan opened #1738 "Proposal: synchronous remove image option"
Currently the plan with garbage collection is move away from automatic triggering on delete to run as a background task. This would remove any way to trigger the garbage collector over the API. Another idea as implemented in the gc policy PR (#1638) involves an option to automatically trigger GC on deletion. However this option does not provide a way to distinguish between calls which may need the

[2017-11-10 22:15] Random-Liu commented on #1738
@dmcgowan SGTM.

[2017-11-12 07:50] Random-Liu opened #1743 "exec .pid file leakage."
I found that everytime we exec into a container, a pid file will be genernated under `/var/run/containerd/io.containerd.runtime.v1.linux/k8s.io/${CONTAINER_ID}/`.

It seems that we don't clean it up after exec is deleted:
[code]

Is this expected behavior?

[2017-11-13 00:54] EddieBedder opened #1744 "Change in behavior in checkpointing?"
I found that when checkpointing containers in the moby dev container the checkpoint dir does not contain a config.json file. This file seems to be used by moby when listing checkpoints and appears to be placed there by containerd.

On my host (ie not moby dev container) using docker-ce 17.09 with containerd from commit 06b9cb35161009dcb7123345749fef02f7cea8e0 there is a file. This commit is newer

[2017-11-13 15:44] crosbymichael commented on #1743
It should be cleaned up when the exec is deleted.

[2017-11-13 16:31] leberknecht opened #1749 "[feature-request] option to set umask"
Hi!
As discussed [here](https://github.com/moby/moby/issues/19189) and [here](https://github.com/opencontainers/runc/issues/1650), it would be nice to have an option to specify the umask of a process.
I hope this is the right place to request this feature..?

[2017-11-13 16:32] mlaventure commented on #1743
`runc` doesn't remove the file and we don't either. I'd say `runc` ought to do it upon exec exit, no?

[2017-11-13 16:44] mlaventure commented on #1743
Opened a PR to fix it in our side meanwhile since it's a fairly easy change on our side, and have more implications on `runc`'s

[2017-11-13 17:32] #1743 closed

[2017-11-13 19:30] stevvooe commented on #1749
`containerd` directly passes through configuration to `runc`, so there would need to be support there.

As a workaround, you could set it as part of an entry point script. The other possibility is to set it for the user and then change to that user, but there may be other implications to that.

[2017-11-13 21:09] dmcgowan commented on #1738
@Random-Liu this will wait for an ongoing GC to complete before scheduling to ensure that it is guaranteeing a GC has run after the database transaction with the deletion is committed. The implementation will likely still allow for a case where GC is blocked on the remove transaction, starts right after the remove transaction, then this sync ends up waiting for that GC and triggering another. I ha

[2017-11-14 00:49] Random-Liu opened #1752 "Container create race."
In our integration test, when we create many containers at the same time, their metadata may be messed up.

For example, for one container, the spec we passed in is:
`
I1114 00:42:33.947939    9342 container_create.go:150] Container "c2de2ad0f78c4786e60f12ebf7c9a73f80357d60d16096b96c57e08ecf7eed00" spec: (*specs.Spec)(0xc42033a7e0){Version:(string)1.0.0 Process:(*specs.Process)(0xc4202a8820){Termi

[2017-11-14 00:51] Random-Liu commented on #1752
This is causing many test flakes in our integration test.

This could either be a bug in client or server. Since the client side code seems pretty simple to me, this looks more like a server side metadata store race.

@crosbymichael @mlaventure

[2017-11-14 01:43] Random-Liu commented on #1752
This seems to be a race on our side. Close.

[2017-11-14 01:43] #1752 closed

[2017-11-14 02:04] AkihiroSuda opened #1753 "[nit] ctr: plural vs singular (e.g. "ctr images" vs "ctr snapshot")"
Either is fine, but I think we should make them consistent.

[2017-11-14 02:10] AkihiroSuda commented on #1753
same may apply for pkg names as well

[2017-11-14 14:48] carlwgeorge commented on #1508
I have pushed [containerd-1.0.0-0.5.beta.3.fc27](https://bodhi.fedoraproject.org/updates/FEDORA-2017-5752708e4a) (1.0.0-beta.3) to the Fedora 27 testing repo, if anyone wants to help test it.

[2017-11-14 17:24] dnephin opened #1756 "[testing/ci] Tracking issue for testing issues"
* [x] ~the uploaded coverage report is wrong~ (#1757)
* [x] ~tests are segmented in two different ways which makes it difficult to run the full test suite, and also leads to a bunch of unnecessary makefile targets~ (#1773, PR was closed, moved to issue #1781)
* [x] ~unit tests are not run on appveyor (windows)~ (#1760)
* [x] `integration` and `integration-parallel` are separate targets but do not

[2017-11-15 01:22] AkihiroSuda opened #1762 "test: remove testify dependency"
Discussed on slack.

- should we just use go standard `testing.T`? (increases LOC and may decrease readability)
- should we invent our own assertion library?

[2017-11-15 01:29] dmcgowan commented on #1762
We should just start making use of [`t.Helper()`](https://golang.org/pkg/testing/#T.Helper) and write our own assertions. I do not believe this decreases readability and LOC is negligible.

[2017-11-15 02:17] darstahl opened #1763 "Windows: Hook up dumpStacks"
dumpStacks is not currently hooked up on Windows. It's an invaluable debugging tool in Moby, and should be hooked up in a similar fashion for containerd.

[2017-11-15 20:52] dnephin commented on #1762
What are the major problems with `testify/assert` that would force us to write a completely new library from scratch? If `testify/assert` has problems why not evaluate other assertion libraries before writing yet another one from scratch?

`t.Helper()` does not really replace the value provided by `testify/assert`.

My arguments for using an assertion library instead of `if x { t.Fatal(...) }` are

[2017-11-16 02:26] stevvooe commented on #1762
The main problem with `testify/assert` is that they aren't actually assertions. When they fail, the test keeps on going. An assertion, classically, means that things stop. Use `require`, you say? Well, no, because now every new contributor needs to do this and we need to check on every PR.

The other problem their notion of equality differs from the standard language definitions. Most of the time,

[2017-11-16 02:28] stevvooe commented on #1756
@dnephin Thanks for putting this list together!

We should probably move these to a subpackage.

[2017-11-16 02:29] stevvooe commented on #1753
I vote for both. Let's have an aliases!

For the packages, we can move `snapshots` to plural, since all the other packages are plural.

[2017-11-16 02:36] AkihiroSuda commented on #1753
archive, content, design, dialer, diff, mount, plugin, reaper, reference, runtime, and server seem singular && countable. (excluding abbrevs such as api)

I understand ctr is not replacement of Docker CLI, but given that Docker CLI adopts singular form, I think we can use singular form as the recommended form. (and we can introduce plural alias)

[2017-11-16 18:11] dnephin commented on #1762
Is this really a big problem? I would argue the two most important properties are:
1. the test fails if the assertion is wrong
2. when the assertion fails the error message provides enough information for a user to understand the failure

I agree that there are definitely cases where it's not ideal for the test to continue running, primarily because it will result in a panic which clutters the tes

[2017-11-16 21:57] #1526 closed

[2017-11-16 23:06] tonistiigi opened #1771 "Pushing different tag with same content doesn't work"
[code]

^ Only `v1` tag is actually in registry.

@dmcgowan

[2017-11-16 23:10] tonistiigi opened #1772 "Error on pushing manifest list"
[code]

Pushing images that are not manifest lists doesn't seem to have issues. Registry was `docker.io/library/registry@sha256:d837de65fd9bdb81d74055f1dc9cc9154ad5d8d5328f42f57f273000c402c76d`

@dmcgowan

[2017-11-17 00:48] stevvooe commented on #1722
@0xC0D3D00D Is this containerd running under moby? What version of containerd?

[2017-11-17 03:02] AkihiroSuda commented on #1753
@jessvalarezo Are you interested in working on this?

[2017-11-17 08:03] alexellis commented on #1771
Thanks for the help with this

[2017-11-17 13:21] #1771 closed

[2017-11-17 15:57] dnephin opened #1781 "[testing] `make test` does not run all unit tests"
The help text for `make test` claims:

I expect `make test` to run all unit tests that don't require root, however it does not. It will not run tests in any package that contains a test that requires root (ex: the `fs` package has 2 tests that require root, so the entire package is omitted from `make test`). These packages are instead run by `make root`.

I expect that contributors want to run one

[2017-11-17 16:13] crosbymichael commented on #1781
What is the benefit to not running root test?

[2017-11-17 16:15] dnephin commented on #1781
I have the same question. This is how it was setup, so I'm trying to preserve that behaviour as requested by @stevvooe

Personally I would be fine with just 1 (run all unit tests).

[2017-11-17 16:18] crosbymichael commented on #1781
Personally, if I'm working on unit tests( most likely not requiring root ) I just cd into that package, do my coding, run `go test`, iterate, and then, after I'm done, I run `make test` to test the project as a whole.

[2017-11-17 17:14] dnephin commented on #1781
I have a very similar workflow, the only difference being I run in a container so I have root, and I use [filewatcher](https://github.com/dnephin/filewatcher) `filewatcher go test -v './{dir}'` to automatically run the package tests when the file is saved.

I think an ideal solution to this issue would be to remove the `-test.root` flag and change the implementation of `RequiresRoot` to:

[code]
T

[2017-11-17 18:05] crosbymichael commented on #1781
When we first started off we made the decision not to have things like `RequireRoot` because ppl forget and the test writer shouldn't have to annotate everything.

[2017-11-17 18:22] dnephin commented on #1756
The `spec_*.go` files in the root package are another similar case (to `io`). They have significant logic, and unit tests, but right now those tests are run as part of the integration test suite.

I think moving them to new packages sounds appropriate so that the root package can remain the client. Any suggestions for the names of these packages? The most obvious seems to be `io`, and `spec`, so I

[2017-11-17 18:25] crosbymichael commented on #1756
I think `spec` is fine, or `oci`, or `oci/runtime` `oci/image`.  Just some ideas.

[2017-11-17 18:34] jessvalarezo commented on #1753
yes I can pick it up! @AkihiroSuda

[2017-11-17 19:18] mlaventure commented on #1756
I'd prefer `oci` over `spec`

[2017-11-17 19:37] dnephin commented on #1756
Ok, I tried moving `spec*.go` to an `oci` package, but I immediately ran into circular imports. The `SpecOpts` interface includes a `Client` parameter which is part of the `containerd` package.

`SepcOpts` could use an interface like this instead of `Client`

[code]

WDYT?

[2017-11-17 22:20] AkihiroSuda commented on #1578
see #1782 @kunalkushwaha

[2017-11-20 03:10] Random-Liu opened #1785 "Fail to start container, rootfs seems not ready."
Our e2e test is still fairly flaky, many of them are caused by similar runc errors:
[code]

[code]

[code]

[code]

[code]
It seems that rootfs is not complete. Do you know what could cause this? Have you ever seen this? Do you have any suggestion on how to debug this?
/cc @stevvooe @crosbymichael @dmcgowan

[2017-11-20 03:12] Random-Liu commented on #1785
/cc @stevvooe @crosbymichael @dmcgowan

[2017-11-20 05:58] wenjianhn commented on #1731
Demo: https://asciinema.org/a/oKiIQkuH9KQ4qZ8fGrrd12QJy

[2017-11-20 15:03] crosbymichael commented on #1785
The exec error is coming from runc from exec'ing the process.

The other passwd error probably comes from parsing the passwd file to get the uid/gid.

Are these two separate errors or for the same container during a start?

[2017-11-20 15:56] crosbymichael commented on #1229
Removing from the 1.0 milestone as this is not a core aspect of the containerd runtime and not required for a 1.0 release.

[2017-11-20 15:58] crosbymichael commented on #1514
@Random-Liu can you verify if this issue is resolved or if there are still aspects that need to be address?

[2017-11-20 16:19] #1336 closed

[2017-11-20 16:39] crosbymichael commented on #1659
I think for now, we can document the `.proto` files and provide links in a document to these files for the API.  For grpc and proto users this is still a valid form for api documentation and how they generate clients for alternate languages.

[2017-11-20 18:41] crosbymichael commented on #1546
@abhi have you had time to check this out?

[2017-11-20 18:52] Random-Liu commented on #1785
@crosbymichael Yeah, these are different failures, and in different test builds.

[2017-11-20 18:58] Random-Liu commented on #1785
I've got more failures, such as:
[code]
[code]

I'm not sure what is happening, will look into our code to make sure it's not a race on ourside. Although it's hard to imagine that this is a race on ourside, because we don't create the rootfs ourselves.

[2017-11-20 19:06] Random-Liu commented on #1514
@estesp @crosbymichael We've added this.

We use `IsUnpacked` to check whether an image is unpacked, and unpack it again if not before creating each container:
* https://github.com/kubernetes-incubator/cri-containerd/blob/6d4e41e4e414e16a527ea710e67328d99da97a45/pkg/server/container_create.go#L155
* https://github.com/kubernetes-incubator/cri-containerd/blob/master/pkg/containerd/opts/container.go

[2017-11-20 19:40] crosbymichael commented on #1553
This has been resolved by #1777

[2017-11-20 19:40] #1553 closed

[2017-11-20 19:52] crosbymichael commented on #1785
Are these new errors or existing?

[2017-11-20 20:12] Random-Liu commented on #1785
I'm not one hundred percent sure, because our e2e test flakes since the first day, we are trying to stabilize it, and it become better now.

I checked all our old builds, we updated containerd from 564600ee79aefb0f24cbcecc90d4388bd0ea59de to 1.0.0-beta.3 on Nov. 9th.
Before that we have 1.5 days test results, and I don't see the `no such file` failure.
Right after that, I start to see some failure

[2017-11-20 20:17] Random-Liu commented on #1785
I checked more builds, this really looks like a recent regression, after 564600e.

[2017-11-20 20:20] crosbymichael commented on #1785
Thanks

[2017-11-20 21:25] Random-Liu commented on #1785
https://github.com/containerd/containerd/compare/564600ee79aefb0f24cbcecc90d4388bd0ea59de...v1.0.0-beta.3

The only thing looks related is the lease change. However, I'm not sure how that could cause this failure. Since our build is red since the first day, so I can't 100% sure say this is a regression in v1.0.0-beta.3.

However, I did check most builds before we switched to containerd 1.0.0-beta.

[2017-11-20 21:48] dmcgowan commented on #1785
I did have one fix since then related to remapped snapshots https://github.com/containerd/containerd/pull/1732, a regression caused by leases. I would want to look at how the snapshot is being managed to make sure there is not another similar regression caused by it.

[2017-11-20 22:22] Random-Liu commented on #1785
@dmcgowan Do you know how GC could cause this?

If a snapshot is GCed before rootfs is mounted, won't any error be returned?
If a snapshot is GCed after rootfs is mounted, what will happen?

[2017-11-21 01:11] stevvooe commented on #1756
@dnephin Just call it `Client` and define it close the usage. Its nice that it will make the set of methods minimal based on what is actually used!

[2017-11-21 01:13] stevvooe commented on #1753
SGTM

I don't see any reason for adopting this rule. Let's go with the status quo in containerd (`images`, `containers`, etc.).

[2017-11-21 18:58] stevvooe commented on #1781
I'd be in favor of having `make test` run all tests, regardless of whether or not they require root.

The only way I'd see removing the `-test.root` flag is to change `RequireRoot` to fail the test, rather than skip the test. However, its nice to be able to walk into the project and type `go test ./...` without worrying about what they may do to the system.

[2017-11-21 22:38] tonistiigi opened #1791 "schema1 image fails to pull"
[code]

No issues on pulling same image with `docker`.

@dmcgowan

[2017-11-21 23:13] dmcgowan commented on #1791
Bisected and found the bug was introduced with this commit https://github.com/containerd/containerd/commit/682151b166d55892de9adc99e0c66f6b2ef09391

[2017-11-22 12:48] yanxuean commented on #1785
Maybe be this:
https://github.com/containerd/containerd/pull/1690#discussion_r151159449

[2017-11-22 18:15] dnephin commented on #1781
Fail the test if the user isn't root, or some other condition? Why is it better to fail the test instead of skip the test?

[2017-11-22 18:41] Random-Liu commented on #1785
@dmcgowan Do we have new findings on this?
This is still the main cause of our test flake. Is there anything I could do to help on this?

[2017-11-22 23:35] stevvooe commented on #1564
@dmcgowan Status on this one?

[2017-11-22 23:35] stevvooe commented on #1564
Closed by https://github.com/containerd/containerd/pull/1631

[2017-11-22 23:36] #1564 closed

[2017-11-22 23:39] stevvooe commented on #1318
@dmcgowan What is the current status here?

[2017-11-22 23:44] stevvooe commented on #1723
Filed https://github.com/opencontainers/image-spec/issues/737

[2017-11-22 23:46] stevvooe commented on #1450
@Random-Liu I'm a little hesitant to modify the syntax allowed in unquoted fieldpaths, as there is already some what of a standard defined in protobuf.

In your opinion, is quoting sufficient?

[2017-11-22 23:59] stevvooe commented on #1471
There are 8 with #1767:

[code]

I can get it down to 6 if set `GOMAXPROCS` to 1, which is fine, as it doesn't need a bunch of threads.

[2017-11-23 00:29] mlaventure commented on #1471
`GOMAXPROCS=1` only limit how many threads can execute code concurrently, which, if a process write to both stdout and stderr at the same time will limit the throughput for instance (if I'm not mistaken).

Otherwise 6 is the minimum number of threads possible given that all the goroutines I've listed in my previous comment will be blocked on a syscall

[2017-11-23 01:19] stevvooe commented on #1471
2 then?

[2017-11-23 01:35] mlaventure commented on #1471
SGTM it should avoid slowing down containers doing stdin -> stdout translations

[2017-11-23 01:38] stevvooe commented on #1471
Updated the PR.

[2017-11-23 02:35] #1791 closed

[2017-11-23 06:27] AkihiroSuda opened #1801 "implement btrfs.Usage"
https://github.com/containerd/containerd/blob/4af5f657526a8aa5eedef734f5f29152031b1d3a/snapshot/btrfs/btrfs.go#L129-L143

@stevvooe Do we plan to implement this in v1.0 or in post-v1.0?
(tentatively setting milestone of this to v1.0.0)

At least it should return errdefs.ErrNotImplemented than panic

[2017-11-23 09:40] yanxuean commented on #1785
There is a new bug. ref https://github.com/containerd/containerd/pull/1802
@Random-Liu @dmcgowan

[2017-11-24 01:24] qingyunha opened #1804 "ctr events error"
I try the events command, but it failed every time when I start a container.

[code]

[2017-11-24 09:22] yanxuean opened #1805 "figure out if add lease for docker/schema1/convert?"
docker/schema1/converter.go

The Convert() has not been protected by lease.  There are some risk.
Now it only be called by client.Pull, the Pull has been protected by lease, so there is no problem.
Do we provide it to user in future?
My suggestion is adding lease.
@dmcgowan @Random-Liu @crosbymichael

[2017-11-24 19:27] dnephin commented on #1804
I believe this was caused by #1769. The types were moved into a different package. That package is not imported by `cmd/ctr`, so the types are never registered.  I'll open up a PR with a possible fix.

[2017-11-26 20:26] Random-Liu commented on #1450
@stevvooe SGTM. We may want to document the syntax somewhere.
Close this one.

[2017-11-26 20:26] #1450 closed

[2017-11-27 14:35] #1804 closed

[2017-11-27 15:49] dnephin commented on #1781
There are already a bunch of cases in the `containerd` test suite where tests are skipped if some dependency is missing. I believe this is the correct behaviour. Examples include:

* `requireTar()` skips some tests if `tar` is not found in path
* `supportsCriu` skips some tests if criu is not installed
* `testSupportsDType` skips some tests if `mkfs` or `mount` fails

Why are these different from

[2017-11-27 17:51] Random-Liu commented on #1805
I feel like on the client side, we should create a lease in the context we use. And pass the same lease to `Pull` and `Unpack`.

In that way, all functions should've been protected by lease.

[2017-11-27 20:05] Random-Liu commented on #1785
I believe https://github.com/containerd/containerd/pull/1802 should be able to fix this.
I've updated containerd version in cri-containerd. Once I verify that the issue is fixed, I'll close this.

[2017-11-27 20:55] crosbymichael commented on #1801
Feel free to implement it ;)

[2017-11-27 20:57] crosbymichael commented on #1723
Could this lead to an `EPERM`?

We were seeing some errors on ARM around copy_file_range and didn't know if this would be related or not.

[code]

[2017-11-27 21:02] crosbymichael commented on #1546
I'm going to close this for now.  Feel free to reopen if you see it is still an issue.

I've ran about 500k containers today and containerd is cleaning up `/run` without leaving anything behind.

[2017-11-27 21:02] #1546 closed

[2017-11-27 21:15] stevvooe commented on #1801
@AkihiroSuda I'd like to see an approach to dealing with those limitations covered in the comment. Basically, there is a shared and unshared usage cost for the snapshot. The problem is that at a "fork" in the graph, that usage should be accounted to the snapshot, but it still might be "shared" from a btrfs perspective.

Right now, overlay returns the size of the snapshot, which is nearly perfect b

[2017-11-27 21:26] #1756 closed

[2017-11-27 23:48] Random-Liu opened #1813 "containerd-shim context deadline exceed"
containerd log:
[code]

cri-containerd log:
[code]

I believe this is a regression between v1.0.0-beta.3 and 70e0c8443ff15dcbd2ad8e0d07ed087fc2a83e05. This starts happening after we update containerd version to 70e0c8443ff15dcbd2ad8e0d07ed087fc2a83e05.

[2017-11-28 00:08] Random-Liu commented on #1785
Still see this with #1802.
https://k8s-gubernator.appspot.com/build/kubernetes-jenkins/logs/ci-cri-containerd-e2e-ubuntu-gce/477
[code]

[2017-11-28 00:43] Random-Liu commented on #1813
/cc @crosbymichael

[2017-11-28 01:34] stevvooe commented on #1781
Because, as you mentioned, it is better that the user be notified that the full test suite can't be run. I don't think skips are reported on a clean run.

I guess we can just have `make test` run everything, but I'd really like to disable `-v`, as it is annoying to parse that output on the CI.

[2017-11-28 01:38] stevvooe commented on #1450
I agree on that point. I don't think the Go docs discuss the techniques for getting around various error messages, such as quoting.

[2017-11-28 01:44] stevvooe commented on #1723
@crosbymichael Possibly.

The other possibility is a user namespace issue.

[2017-11-28 01:59] czm4514 opened #1815 ""ctr containers ls" get nothing"
When i use the command "ctr containers ls" to get the running containers,i can get nothing.
[code]
however ,When i use the command "systemctl status containers" to get some info about containerd. i found that there are lots of containers .such as
[code]
is there something wrong about "ctr containers ls"？please give me some helps .

[2017-11-28 02:01] czm4514 opened #1816 "ctr images import : no descriptor found for reference object"
when i use the command "ctr images import xxx/calico-node:v1.1.3 XXX_calico-node.tar" ,i got the error "ctr: no descriptor found for reference object "v1.1.3""
is this a bug for containerd or my error ?

[2017-11-28 02:02] dnephin commented on #1815
`containerd` has namespaces: https://github.com/containerd/containerd/blob/master/README.md#namespaces

[code]

[2017-11-28 02:04] Random-Liu commented on #1813
Stack dump of one shim:
[code]

[2017-11-28 02:06] czm4514 opened #1817 ""kubectl exec" "Timeout occured ""
Kubernetes + cri-containerd+containerd setup successfully. and I created the pod using the follow pom.xml
[code]
after the pod is running,when i use the command "kubectl exec" i got the error
[code]
please give me some helps.

[2017-11-28 02:40] yanxuean commented on #1785
Maybe there are another problem yet.  Today I will review it again.

[2017-11-28 03:23] jintingying commented on #1815
I can use the command `ctr --namespace k8s.io containers `  to get some info about container ，but i  get nothing info  when i use the command `ctr --namespace k8s.io containers ls  `
`# ctr containers ls
CONTAINER    IMAGE    RUNTIME
# ctr --namespace k8s.io containers
CONTAINER                                                           IMAGE                                                      RUN

[2017-11-28 06:30] czm4514 commented on #1624
I don't know how to do it clearly.please tell me more details

[2017-11-28 06:45] AkihiroSuda commented on #1624
@czm4514
You need to specify the part that follows the colon `:` symbol. i.e. `ctr images import foo/bar/nginx:baz 2.tar`.

Note that GC may not work well with imported images, but it is being tracked in #1602

[2017-11-28 08:47] AkihiroSuda commented on #1817
kubelet log might be helpful

[2017-11-28 08:49] AkihiroSuda commented on #1816
I guess this is because your `index.json` does not contain `v1.1.3` reference.
You might need to specify `--ref-object sha256:deadbeef..` in such a case.

[2017-11-28 08:51] AkihiroSuda commented on #1815
In older versions of CLI, there was no `ctr containers ls` but `ctr containers <filter>`.
So `ctr containers ls` had shown containers that match the `ls` filter string.

[2017-11-28 08:51] #1815 closed

[2017-11-28 08:57] czm4514 commented on #1624
@AkihiroSuda
Now, i want to import an image (such as abc.tar) i use the command
[code]
but ,i got the error
[code]
do you have any ideas?

[2017-11-28 09:04] czm4514 commented on #1815
@AkihiroSuda
thank you very much

[2017-11-28 09:31] zzchun opened #1818 "failed to pull image, missing parent bucket"
ctr pull docker.io/ibmcom/pause:3.0, got an error as follows:
[code]

[2017-11-28 10:27] ijc commented on #1817
Seems to be a dup of https://github.com/kubernetes-incubator/cri-containerd/issues/439 which in turn is a dup of https://github.com/kubernetes-incubator/cri-containerd/issues/417.

@czm4514 if reporting to multiple places it would be best to at least cross reference them.

[2017-11-28 14:34] dnephin commented on #1818
Please include `ctr version`.

I tried `ctr images pull  docker.io/ibmcom/pause:3.0` with current master and got a different error

[code]

[2017-11-28 14:55] #1471 closed

[2017-11-28 15:40] crosbymichael commented on #1813
Ok, i'll try to reproduce first and see if I can cause it

[2017-11-28 16:52] dnephin opened #1819 "Proposal: Developer/Contributor Docs"
Originally requested in https://github.com/containerd/containerd/pull/1811#issuecomment-347338979

Currently there are the following docs:
* `CONTRIBUTING.md` - documents the github contribution process (PR process, git commit, etc)
* `README.md` "Developer Quick-Start" - some basics about how to setup an environment to build binaries, run tests, and other perform other "project tasks"
* `BUILDING

[2017-11-28 16:52] crosbymichael commented on #1813
I can get a hang with execs but its not due to the 128 buffer on the events.  Its some exec failure causing this.  Do you have any failed execs in your logs?

[2017-11-28 16:57] mlaventure commented on #1819
SGTM, would make it easier to have one single location for this.

[2017-11-28 17:19] Random-Liu commented on #1816
Are you using cri-containerd? If yes, you may want to use cri-containerd load instead.

[2017-11-28 17:34] AkihiroSuda commented on #1624
@czm4514 can you try https://github.com/containerd/containerd/pull/1602 ?

[2017-11-28 18:39] estesp commented on #1772
The filtering on `pull` to only get matching content means that on `push` the blobs (and additional manifests, for that matter) referenced by the index are unavailable in the target registry. If we support manifest list push out of the box, it will require logic to test/pull missing alternative OS/arch content and push to the target before finalizing with the index push.

Verified this is the case

[2017-11-28 19:57] #1813 closed

[2017-11-28 20:07] estesp commented on #1817
Might be fixed by #1820?

[2017-11-28 22:46] dnephin commented on #1818
My error is probably unrelated. I think it's failing because my kernel doesn't support multiple `lowerdir` for overlayfs. I'll see if I can reproduce with a newer kernel.

[2017-11-28 23:42] mlaventure opened #1823 "FAIL: TestContentClient/Resume (0.03s)"
The build resulting from me merging https://github.com/containerd/containerd/pull/1822 failed with the following:

[code]
Travis: https://travis-ci.org/containerd/containerd/jobs/308695150

/cc @dmcgowan

[2017-11-28 23:48] dmcgowan commented on #1818
@zzchun Can you please include `containerd --version`

[2017-11-29 00:03] stevvooe commented on #1817
This should be addressed over in kubernetes-incubator/cri-containerd until a proper containerd issue is identified.

[2017-11-29 02:06] Random-Liu opened #1826 "Can't exec a long command."
In our integration test, we have a test to exec into a container and `echo` a very long string.
It started failing since I updated containerd to HEAD.
[code]

I guess this is related to the new ttrpc change.
Do we have any buffer limit or something inside the shim? @stevvooe

[2017-11-29 02:11] dnephin commented on #1826
This is after I updated to 9e04cff8e9e3a1bf13c088cb3db1c368e93b33ea right?

Most likely #1767

[2017-11-29 02:15] czm4514 commented on #1817
I have addessed over  in kubernetes-incubator/cri-containerd .and i got the answer from
[#417](https://github.com/kubernetes-incubator/cri-containerd/issues/417)

[2017-11-29 02:31] AkihiroSuda commented on #1817
@czm4514

I'm closing this issue now, but let us know if any additional task is needed on containerd side.

[2017-11-29 02:31] #1817 closed

[2017-11-29 02:35] zzchun commented on #1818
@dnephin @dmcgowan
`
[root@node1 ~]# ctr --version
ctr github.com/containerd/containerd v1.0.0-beta.1

[root@node1 ~]# containerd --version
containerd github.com/containerd/containerd v1.0.0-beta.1

[root@node1 ~]# runc --version
runc version 1.0.0-rc4
spec: 1.0.0

[root@node1 ~]# uname -sr
Linux 3.19.1
`

Currently, my kernel is 3.19.1, I tried to update kernel to ' Linux 4.14.1-1.el7.elrepo.x86_

[2017-11-29 02:51] czm4514 commented on #1816
@Random-Liu
Thanks very much. you solved my question.

[2017-11-29 03:11] AkihiroSuda commented on #1816
So, you were trying to import a Docker image rather than an OCI image?

It is not supported in `ctr images import` now. (PR: #1602)

[2017-11-29 03:11] #1816 closed

[2017-11-29 04:02] Ace-Tang opened #1827 "containerd fails to run on 2.6 kernel"
containerd fails to run on host with 2.6 kernel, I get the following log
[code]
detail kernel version `2.6.32-504.16.2.el6.x86_64`

my containerd config
[code]

[2017-11-29 04:26] AkihiroSuda commented on #1801
@stevvooe

Can we modify the interface as follows, so that we can change the model in future without breaking compatibility?

[code]

[2017-11-29 04:54] estesp commented on #1827
It is highly unlikely for a modern container runtime to happily work on a 2.6 kernel; I believe even Red Hat stipulates RHEL7 for container features, even though I understand RHEL6 2.6 kernel has significant level of backported features from 3.x and maybe 4.x kernel series.

I don't believe we have made claims about minimum kernel version, but given Docker engine is only supporting CentOS 7 as a m

[2017-11-29 04:57] mlaventure commented on #1827
Subreaper was added in 3.4, probably what is failing at that stage.

And, indeed, containerd will not support such ancient kernels.

On Tue, Nov 28, 2017, 8:54 PM Phil Estes <notifications@github.com> wrote:

--

Sent from my phone.

[2017-11-29 05:10] AkihiroSuda commented on #1827
Can we officially declare "we only support 3.10 and later"?

[2017-11-29 05:11] Ace-Tang commented on #1827
@estesp @mlaventure  thanks for your quickly feedback,  I want to find the lowest kernel version for containerd.
I found containerd fail to run because the syscall `unix.Prctl(unix.PR_SET_CHILD_SUBREAPER, uintptr(i), 0, 0, 0)` fails

[2017-11-29 05:46] AkihiroSuda commented on #1801
@stevvooe For btrfs, do you think the following definition makes sense?

[code]

[2017-11-29 06:21] Ace-Tang commented on #1827
@AkihiroSuda  it will be helpful to declare the lowest kernel version

[2017-11-29 10:03] zzchun commented on #1818
@dnephin

 unpacking sha256:3b3a29e3c90ae7762bdf587d19302e62485b6bef46e114b741f7d75dba023bd3...
INFO[0002] Apply failure, attempting cleanup             error="rpc error: code = Unknown desc = failed to mount: invalid argument" key="extract-804605809-X16u sha256:666604249ff52593858b7716232097daa6d721b7b4825aac8bf8a3f45dfba1ce"
ctr: failed to extract layer sha256:5f70bf18a086007016e948b04aed3b82103

[2017-11-29 15:07] dnephin commented on #1818
I'm using `3.19.0-33-generic #38` (ubuntu) on this host.

I tracked down the issue to mount using overlay. `containerd` uses `lowerdir=first:second` (separated by a colon). In `dmesg` I see:

[code]

From what I was reading, the error is because 3.19 may not support multiple lowerdir directories in a mount call.

Do you still get the ` missing parent bucket` error if you use containerd beta3?

[2017-11-29 15:31] zzchun commented on #1818
With kernel 4.14 containerd beta1 can extract image layers successfully,while 3.19 can’t. So I think containerd is irrelevant.

[2017-11-29 18:59] stevvooe commented on #1826
I'm going to fix this today.

The problem is that to keep performance, we pre-allocate the buffer to the max size when the connection happens, ensuring that every incoming request doesn't require _any_ allocation. This keeps memory usage _very_ consistent and invariant of the workload on a given connection. Unfortunately, this requires that you balance the max message size with the keeping the RSS

[2017-11-29 22:22] stevvooe commented on #1801
@AkihiroSuda I don't think that solves the problem. There should be a single method for accounting usage to a snapshot. There is absolutely no reason to make it wildly complicated.

[2017-11-29 23:33] dmcgowan commented on #1801
I see 2 possibilities...

1) We trust the quota on writable layers, we capture that value on commit to represent the size of the committed layer. After committed we cannot trust the value since snapshots may be committed from it, changing the unshared value. My main concern with this approach is that I am not convinced the quota value is accurate enough or consistent enough that it should be persi

[2017-11-30 00:50] AkihiroSuda commented on #1801
@dmcgowan

Does the pseudocode in https://github.com/containerd/containerd/issues/1801#issuecomment-347759562 work as your proposal 1?

[2017-11-30 00:56] Random-Liu commented on #1785
Another occurrence:
[code]

[2017-11-30 03:02] Random-Liu commented on #1785
https://k8s-gubernator.appspot.com/build/kubernetes-jenkins/logs/ci-cri-containerd-e2e-gci-gce/505
[code]

The fix seems not helping much. We still need to figure out this. :(

[2017-11-30 03:03] Random-Liu commented on #1785
One weird thing is that it usually only happens to a group of fixed image.

[2017-11-30 05:05] AkihiroSuda commented on #1753
#1797 addressed this

[2017-11-30 05:05] #1753 closed

[2017-11-30 07:35] zzchun commented on #1818
By deleting /var/lib/containerd fixed the 4.14 issue.
@estesp I know containerd support overlay and snapshot sanpshotters, but I failed change to snapshot. Can you tell me how to configure containerd to use other sanapshotters ?

[2017-11-30 08:01] AkihiroSuda commented on #1801
opened #1836 ( implements @dmcgowan 's proposal 1 )

[2017-11-30 15:19] crosbymichael commented on #1827
Going to close this one, 2.6 is ancient and a rhel 2.6 is worse. No one supports 2.6 kernels, Docker and others have much higher minimums that that.

[2017-11-30 15:19] #1827 closed

[2017-11-30 15:33] #1826 closed

[2017-11-30 15:35] crosbymichael commented on #1785
@Random-Liu what images? I'm still unable to reproduce and have been running stress tests with 256 exec's per containers and I'm unable to reproduce

[2017-11-30 16:53] crosbymichael commented on #1805
Is this related to #1785?  Are the images that are failing schema1 images?

[2017-11-30 17:03] dnephin commented on #1818
I believe you can pass `--snapshotter` to any command which would use one: https://github.com/containerd/containerd/blob/master/cmd/ctr/commands/commands.go#L15-L22

When `containerd` starts it will tell you which snapshotters were successfully configured.

[2017-11-30 18:15] Random-Liu commented on #1785
@crosbymichael Not just schema1 image.
[code]

I'll try to debug it again today.

[2017-11-30 18:18] crosbymichael commented on #1785
@Random-Liu if you can find a way to reproduce outside of the kube test CI that would help ;)

[2017-11-30 18:26] Random-Liu commented on #1785
@dmcgowan To help you debug the issue. Here is log links for the failures mentioned in https://github.com/containerd/containerd/issues/1785#issuecomment-348047489.

build log: https://storage.googleapis.com/kubernetes-jenkins/logs/ci-cri-containerd-e2e-gci-gce/527/build-log.txt
daemon logs: http://gcsweb.k8s.io/gcs/kubernetes-jenkins/logs/ci-cri-containerd-e2e-gci-gce/527/artifacts/bootstrap-e2e-m

[2017-11-30 22:51] Random-Liu opened #1843 "Possible fd leakage."
See https://github.com/kubernetes-incubator/cri-containerd/issues/448.

cri-containerd also leaks fds in this case, because fifos are not closed when fail to start container. Thus our log redirection goroutines are still running, keeping fifos/logs open and trying to direct container outputs.

I'll try to fix this.

However, we still need to fix the socket leakage.

[2017-11-30 23:42] dmcgowan commented on #1843
Closed by #1844 or was there a second part?

[2017-11-30 23:43] crosbymichael commented on #1843
Second part, but I verified this is fixed in master by the new ttrpc changes implementing shutdown.

[2017-11-30 23:43] #1843 closed

[2017-11-30 23:46] Random-Liu commented on #1843
@crosbymichael OK I'll update containerd and have another try.

[2017-12-01 00:04] Random-Liu commented on #1826
FYI. This did fix the test failure. :)

[2017-12-01 00:05] crosbymichael commented on #1826
@Random-Liu good ;)

I also added the test on our side to make sure we don't regress. https://github.com/containerd/containerd/pull/1839

[2017-12-01 00:30] Random-Liu commented on #1785
Another:
https://k8s-gubernator.appspot.com/build/kubernetes-jenkins/logs/ci-cri-containerd-e2e-ubuntu-gce/547?log#log
[code]

[2017-12-01 00:34] crosbymichael commented on #1785
@dmcgowan that last failure is coming from https://github.com/containerd/containerd/blob/master/oci/spec_opts_unix.go#L262

if that helps give you any ideas.  Its nothing with runtime, etc, its pretty confined to snapshotters.

[2017-12-01 01:51] dmcgowan commented on #1785
Looking at the logs...
[code]
... is failing for the `gcr.io/google_containers/pause:3.0` image which only has `/pause` in it and no `/etc/passwd`. I am not sure why this is working sometimes and not others or why it is trying to resolve a username at all.

Note: we need to add image references to the log somewhere. To find the image I had to look at the parent snapshot id and pull the images unti

[2017-12-01 02:01] Random-Liu commented on #1785
@dmcgowan It could be a race or bug in cri-containerd. How do you identify that we are doing this for pause imgae?

[2017-12-01 02:24] dmcgowan opened #1851 "Improve debug logging"
The logs are currently inconsistent, the messages use different casing and tenses, and some include valuable fields and others do not. There is some information we should always be able to figure out looking at the debug logs...

- image name for a snapshot after a pull happens
- snapshot operation failures
- metadata operation failures

Likewise there is probably some logs being logged at the err

[2017-12-01 02:58] Random-Liu commented on #1785
I checked https://k8s-gubernator.appspot.com/build/kubernetes-jenkins/logs/ci-cri-containerd-e2e-gci-gce/552?log#log.

I'm sure that we are using the correct parent snapshot id. However, it still failed.

Please also note that it still likely that this happens after update to containerd 1.0.0-beta.3 https://github.com/containerd/containerd/issues/1785#issuecomment-345836717.

So it's still likely

[2017-12-01 03:12] yanxuean commented on #1785
I think we can try some cases one by one:
1. close gc(by modifying containerd ).  we can verify if it is related to gc.
 if it is gc, the reason really is that the lease is insufficient. then we will find the right place.
2. add lease In PullImage
If the lease is insufficient.

[2017-12-01 03:24] Random-Liu commented on #1785
@yanxuean I think `gc.root` still works. /cc @dmcgowan Is that correct?

I'll add all `gc.root` related code back to check whether it can fix the issue. If yes, then it's caused by the lease change. If not, we could at least eliminate the possibility.

[2017-12-01 03:39] yanxuean commented on #1785
It is a bit more:)

[2017-12-01 03:44] Random-Liu commented on #1785
@yanxuean We can only guess now. :P

[2017-12-01 03:45] yanxuean commented on #1785
The gc.root really still works.

https://github.com/containerd/containerd/pull/1690#discussion_r149480734

Yes, we will continue to support the gc.root label, it just doesn't need to be part of the normal client flows. Client's can still use these labels to retain content not otherwise referenced

[2017-12-01 04:41] Random-Liu commented on #1785
@yanxuean Filed https://github.com/kubernetes-incubator/cri-containerd/pull/453.

[2017-12-01 07:53] Random-Liu commented on #1785
Seems not related.
Got another one with gc root: https://storage.googleapis.com/kubernetes-jenkins/logs/ci-cri-containerd-e2e-ubuntu-gce/556/build-log.txt
[code]

I'll debug more today.

[2017-12-01 08:32] yanxuean commented on #1851
ref #1852

[2017-12-01 21:59] stevvooe commented on #1851
And we need to get rid of those pesky capitalized letters... :p

[2017-12-01 23:02] stevvooe commented on #1823
@mlaventure Have you ever seen this locally?

[2017-12-01 23:04] dmcgowan commented on #1851
also #1859

[2017-12-01 23:06] stevvooe commented on #1823
@mlaventure Actually, I think we can just ignore the not found error here, as the goal is to make the content "not found". PR incoming.

[2017-12-01 23:15] stevvooe commented on #1818
You can also set `CONTAINERD_SNAPSHOTTER` in the environment of `ctr`. That is now available in rc.0. You can see which snapshotters are available via the `ctr plugins` command:

[code]

From the above, we can see that btrfs isn't working, because I don't have a working btrfs partition and overlay is good to go.

[2017-12-01 23:16] stevvooe commented on #1818
@dmcgowan @dnephin @cpuguy83 @estesp Another question: should be checking the kernel version in the overlay driver and report errors in the introspection api?

[2017-12-01 23:32] stevvooe commented on #511
Closing this as we now have a fairly comprehensive snapshot suite and the list here is a bit out of date, since is was made before some model changes. If we want to revisit, we can address individual clarifications as they come.

[2017-12-01 23:32] #511 closed

[2017-12-01 23:33] #1823 closed

[2017-12-01 23:34] tonistiigi opened #1862 "[feature-request] Provide unique ID for containerd state in introspection API"
It could be useful for containerd clients(eg buildkit) to detect if the containerd they are talking to is the same that was used in previous requests and for what they already have some internal state. For example, if someone clears their state directory it could detect that and clear the associated build state as well. Ideally, this could be an extra UUID field in the plugin properties in the int

[2017-12-02 00:07] stevvooe commented on #584
As of 1.0-rc.0, the runtime is selectable and required to be provided in the client, giving full control of the higher level orchestrator. In that sense, the default runtime would be set in the agent driver for containerd (kubelet/cri-containerd, docker, or swarmkit).

[2017-12-02 00:07] #584 closed

[2017-12-02 00:08] stevvooe commented on #600
Most of this was set in https://github.com/containerd/containerd/blob/master/RELEASES.md.

Please open an issue if there are gaps or a policy change is required to meet your needs.

[2017-12-02 00:08] #600 closed

[2017-12-02 00:09] mcastelino commented on #584
@stevvooe thank you. I will try this out and let you know if we run into any issues.

[2017-12-02 00:12] stevvooe commented on #603
Is this still relevant today? Right now, the shim writes container stdio back into fifos that can be consumed directly. Chunk-based or newline based should be supported with the current functionality.

I think we could bolster the existing functionality with tools make this more accessible, but it seems like needs can be easily met with the existing feature set.

[2017-12-02 00:14] stevvooe commented on #781
@samuelkarp @AkihiroSuda I think the intent here was pretty much covered with the introspection api. If there is more discussion to be had, let me know and I'll reopen.

[2017-12-02 00:14] #781 closed

[2017-12-02 00:17] dnephin commented on #1818
I think it would be helpful if we could at least warn (but maybe error) if we know the kernel is unlikely to work.  In the case of 3.19 it appears to work for some images, but not others, which was confusing to me at first.

[2017-12-02 00:29] Random-Liu commented on #603
@stevvooe Today we start a goroutine in cri-containerd to redirect and decorate container output. But actually we still don't know what is the overhead now.

If it turns out the overhead is negligible, I think we are good. If not, we may still need to think about this. But I do agree it's not a priority for now.

Given so, can we keep this issue open for now?

[2017-12-02 00:50] stevvooe commented on #1691
@Random-Liu Are you still seeing these issues?

[2017-12-02 00:52] stevvooe commented on #1682
@Random-Liu The current leasing system defers this to the client. The client can expire old leases as they see fit.

[2017-12-02 00:52] #1682 closed

[2017-12-02 00:56] stevvooe commented on #1722
@0xC0D3D00D I'm closing this since we haven't heard back. Let us know if you have more information so we can investigate further.

[2017-12-02 00:56] #1722 closed

[2017-12-02 01:03] dmcgowan commented on #1805
The `Convert()` function is not necessarily something that we expect users to use directly. It is not something we want to pass in more context, such as giving it a lease manager. I think it is fair to document the behavior of `Convert` in regards to the content that is created and the expectation that a lease is provided, we could even go as far as to fail the function if a lease is not given. I

[2017-12-02 01:08] Random-Liu commented on #1785
I tried a stress test locally:
[code]

I run it multiple times and still could not reproduce. It's possible that this issue is related to the mount namespace, thus I could not reproduce.

Let's see whether #1856 fixes it.

[2017-12-02 01:11] dmcgowan commented on #1818
@stevvooe I am not a fan of doing these checks on startup as doing them correctly requires probing for the functionality, this can greatly affect startup time since it would require performing a mount. This is what the overlay2 driver does today (as well as many other checks which we don't need since we have a better differ). A warning is fine, but I think we will end up having options to disable

[2017-12-02 01:12] dmcgowan commented on #1738
Added with gc scheduler

[2017-12-02 01:12] #1738 closed

[2017-12-02 01:13] #1635 closed

[2017-12-02 01:32] dmcgowan commented on #1219
The fork has been updated to use go1.10 version, once we update to go 1.10 we can completely remove use of the fork. I am going to keep this open but rename it.

[2017-12-02 02:36] chanezon commented on #1218
@caniszczyk now that the LF has control over containerd.io DNS, maybe you should setup Github Pages for the project and point DNS to it so that it autopublishes automatically from the source repo. It seems right now DNS still points to my CloudFront and container based deployment.

[2017-12-02 03:05] caniszczyk commented on #1218
We can do netlify, I just need to reach out and set things up with the
maintainers

On Fri, Dec 1, 2017 at 8:36 PM Patrick Chanezon <notifications@github.com>
wrote:

--
Cheers,

Chris Aniszczyk
http://aniszczyk.org
+1 512 961 6719

[2017-12-02 03:28] yanxuean commented on #1805
ok. Thanks @dmcgowan

[2017-12-02 03:49] stevvooe commented on #603
@Random-Liu that’s fine. How can we measure that?

[2017-12-02 08:38] Random-Liu commented on #1785
Still failing. I'll add some log to dump root directory on each step tomorrow.

[2017-12-02 09:09] yanxuean commented on #1785
Can we close gc?

[2017-12-02 15:05] yanxuean commented on #1851
ref #1864

[2017-12-02 17:38] dmcgowan commented on #1785
We can try building with the garbage collection completely removed. How is the containerd daemon that is used for the tests selected, since this just changing the vendor won't have an effect.

[2017-12-03 21:11] Random-Liu opened #1865 "containerd crash."
Log on cri-containerd side:
[code]

Log on containerd side:
[code]
containerd.log: https://storage.googleapis.com/kubernetes-jenkins/logs/ci-cri-containerd-e2e-gci-gce/628/build-log.txt
cri-containerd.log: https://storage.googleapis.com/kubernetes-jenkins/logs/ci-cri-containerd-e2e-gci-gce/628/artifacts/bootstrap-e2e-minion-group-xnmw/cri-containerd.log

[2017-12-03 21:34] Random-Liu commented on #1785
Debug PR: https://github.com/kubernetes-incubator/cri-containerd/pull/463

The rootfs is empty since pulled/unpacked.

After pull/unpack, create a snapshot ourselves:
[code]

After `WithNewSnapshot`, check container snapshot directly:
[code]

Check container snapshot and image after start failure:
[code]

[2017-12-04 02:44] czm4514 opened #1867 "How to use the btrfs file system?"
containerd support snapshotter and btrfs two file system. Among them, the default is to use snapshotter. Now I want to use btrfs, but I can not find the documentation to change the configuration. Anyone know?

[2017-12-04 04:01] AkihiroSuda commented on #1867
`ctr images pull --snapshotter=btrfs ...; ctr run --snapshotter=btrfs ...`

[2017-12-04 04:02] #1865 closed

[2017-12-04 06:47] czm4514 commented on #1867
@AkihiroSuda
If i want to run a pod with a yam file，what should i do to use the btrfs file system?

[2017-12-04 06:50] czm4514 commented on #1624
#1816
it solved my problem.

[2017-12-04 07:03] czm4514 commented on #1816
@AkihiroSuda
How do I tell the dock image or oci image? i can just get info from the site [
https://github.com/opencontainers/image-spec](https://github.com/opencontainers/image-spec).

[2017-12-04 07:13] AkihiroSuda commented on #1816
If the archive content is conformant to https://github.com/opencontainers/image-spec , the archive is an OCI image.
Otherwise it is likely a Docker v1 image.

[2017-12-04 07:14] AkihiroSuda commented on #1867
`cri-containerd --containerd-snapshotter btrfs`

[2017-12-04 07:14] #1867 closed

[2017-12-04 08:15] yanxuean commented on #1785
The image have only a layer.
In snapshot.Prepare and snapshot.Mounts we will read its parent snapshot, so its parent snapshot should be exist.
I don't understand why rootfs is empty after pullImage and after NewContainer. but it is not empty after NewTask.

[2017-12-04 08:18] yanxuean commented on #1785
If the lease don't work, There is a window its parent snapshot maybe be GCed.  Then Subsequent snapshot.Mounts will fail

[2017-12-04 08:25] dmcgowan commented on #1785
The files that are showing up later on are temporary files needed to run the container.

I see nothing in the logs that would indicate that GC is removing the snapshot.  The snapshot deletion is happening after the container has already been deleted. I don't know of anything else that would delete the directory. The fact that the rootfs is empty after unpack makes me think that the image was never

[2017-12-04 08:30] dmcgowan commented on #1785
I think this could cause it if unmount failed, the remove all would get triggered on the data. https://github.com/containerd/containerd/blob/master/diff/walking/differ.go#L97

This should probably just be a remove dir and log the errors. @yanxuean wdyt?

[2017-12-04 08:52] yanxuean commented on #1785
@dmcgowan  Yeah.  I agree with you.  we can log for unmount fail

[2017-12-04 08:56] yanxuean commented on #1785
I think we can print the mounts gotten from snapshotter.Mounts  in checkSnapshot.
It will verify if the parent snapshot is exist.
and we also can list the dir in mount.  It will verify if there are content unpacked by diff.

[2017-12-04 09:02] yanxuean commented on #1785
[code]

[2017-12-04 13:25] zzchun commented on #1818
@dnephin @Random-Liu
I passed  --snapshotter=btrfs to ctr as follows, still got an error

`
$ ctr pull docker.io/ibmcom/pause:3.0 --snapshotter=btrfs
docker.io/ibmcom/pause:3.0:                                                       resolved       |++++++++++++++++++++++++++++++++++++++|
manifest-sha256:3b3a29e3c90ae7762bdf587d19302e62485b6bef46e114b741f7d75dba023bd3: done           |++++++++++++++

[2017-12-04 15:44] crosbymichael commented on #1785
@dmcgowan Ya, i think that is it.  I looked at the code for those spec functions and they are using the snapshot key of the container so if unmount does fail, the remove all will delete everything in the snapshot.

I thought about this but initially blew it off because I thought we were using a temp snapshot key and it was not the original snapshot for the container.

I'm going to work on a patch

[2017-12-04 16:35] crosbymichael commented on #1785
Did you all add cadvisor support around the same time as the last containerd version bump on the CI?

[2017-12-04 17:56] Random-Liu commented on #1785
Looks likely. Hope this time we could fix it. :)

In current integration, Cadvisor doesn't monitor containerd rootfs. We still get rootfs stats from containerd. However, could containerd snapshot usage blocks unmount?

[2017-12-04 19:42] Random-Liu commented on #1691
Not for a long time. I think we can close it and reopen if we see it again.

[2017-12-04 20:09] #1691 closed

[2017-12-04 22:25] #1851 closed

[2017-12-04 22:59] estesp commented on #1772
Note that #1872 isn't the solution, but should mitigate total confusion about why that doesn't work for now until we have a clearer implementation for index/manifest list push as it relates to missing content references (blobs or child manifests)

[2017-12-04 23:02] stevvooe commented on #1772
@estesp I think we should have a fix for 1.0.1, if possible, but I don't have a suggestion for a fix, quite yet.

[2017-12-05 01:44] stevvooe commented on #1801
Closed by #1871

[2017-12-05 01:44] #1801 closed

[2017-12-05 01:49] stevvooe commented on #1785
Since we think this is fixed in the current master, I am going to move to the 1.0.1 milestone for confirmation.

[2017-12-05 02:09] stevvooe commented on #1772
Moving to 1.0.1 for a better fix.

[2017-12-05 03:44] #1723 closed

[2017-12-05 04:38] #1233 closed

[2017-12-05 06:18] allencloud opened #1881 "[question] can containerd be run on OSX?"
Hi, All,

I found that in the released 1.0.0 containerd, we can download containerd-1.0.0.darwin-amd64.tar.gz which is for OSX operating system.

![image](https://user-images.githubusercontent.com/9465626/33592688-2aed3da2-d9c7-11e7-9a19-e1b09abf6232.png)

At my first glance, it is fun. Just double check if this is true.

Thanks

/cc @stevvooe

[2017-12-05 06:43] AkihiroSuda commented on #1881
containerd itself should work, but no functional runtime plugin

[2017-12-05 07:17] Random-Liu commented on #1785
I think this has been fixed. Doesn't see this failure any more.

[2017-12-05 08:37] Random-Liu opened #1882 "containerd hangs"
https://k8s-gubernator.appspot.com/build/kubernetes-jenkins/logs/ci-cri-containerd-e2e-ubuntu-gce/653

cri-containerd.log:
[code]

containerd.log:
[code]

I've seen this twice today. Will update more information if I saw it once more.

[2017-12-05 08:46] yanxuean commented on #1785
@random-liu
It is not the end.
We don't know why the unmount is fail.
When we sync #1877, the PullImage will fail. In #1877 we output the error of unmount.

[2017-12-05 08:49] allencloud opened #1883 "`ctr images pull` fails with error `failed to mount: no such device`"
Hi,

I experienced the newly released containerd 1.0.0, and I met an issue. It stops me from pulling an image from the very beginning before I experience more other operations.

I pull an image like this :

[code]

And here is my environment:
[code]

Do I need to add more patch to my system?

[2017-12-05 09:36] AkihiroSuda commented on #1883
Kernel 3.13 is not supported atm https://github.com/containerd/containerd#runtime-requirements

AUFS snapshotter (https://github.com/containerd/aufs) may work, but no one has tested, I think

[code]

[2017-12-05 09:39] AkihiroSuda commented on #1883
Either way, 3.13.0-65-generic (2015) should not be used, as it has some vulnerabilities including dirtycow

[2017-12-05 10:11] allencloud commented on #1883
Yeah, DirtyCow is severe and we have patched that.

I am not sure if my understanding is correct. Linux 3.18- cannot experience containerd 1.0.0+ in the future? I think it is really amazing.

How about the industry? They are much more legecy data centers which has a long way to upgrade kernel.

[2017-12-05 14:27] crosbymichael commented on #1881
No, the client code compiles but its not functional for OSX

[2017-12-05 14:27] #1881 closed

[2017-12-05 14:33] crosbymichael commented on #1785
@yanxuean i think this bug can be closed.  The specific errors in this issue are addressed.

I think remaining issues could be split between containerd and cri-containerd.  After watching the tests on cri-containerd, they are still pretty flakey and those need resolved to get accurate results.  It feels like there could be some races in the code in the usage.  Our CI is very stable and its very ra

[2017-12-05 14:33] #1785 closed

[2017-12-05 20:42] stevvooe commented on #1883
@allencloud The best approach here is for you to figure out the root cause of the mount failure (probably missing overlay) and make a case for supporting the changes required to support a specific kernel.

Even for Ubuntu 14.04.5, the kernel in use is 4.4, so that should support what is required.

For older kernels like this, we should probably looking adding full support for the naive snapshotter

[2017-12-05 20:52] KeyJoo opened #1884 "What about version 1.0.0?"
Roadmap is true? Today December 5, 2017. New version is started?
[milestones](https://github.com/containerd/containerd/milestones) is outdate?

label:roadmap

[2017-12-05 20:55] crosbymichael commented on #1884
What is your specific question here? I don't understand, sorry.

[2017-12-05 21:33] stevvooe commented on #1884
[1.0.0 has been released!](https://github.com/containerd/containerd/releases/tag/v1.0.0)

You can see _closed_ milestones at https://github.com/containerd/containerd/milestones?state=closed. 1.0.0 was in https://github.com/containerd/containerd/milestone/13.

[2017-12-05 23:50] yanxuean commented on #1785
@crosbymichael
make sense.:)

[2017-12-06 04:37] AkihiroSuda commented on #1883
should we reopen https://github.com/containerd/containerd/issues/830 ?

[2017-12-06 06:04] Random-Liu commented on #1882
Another one. https://k8s-gubernator.appspot.com/build/kubernetes-jenkins/logs/ci-cri-containerd-e2e-ubuntu-gce/679

Till now this only happens on ubuntu. I haven't seen this kind of issue on GCI (COS) now.

[2017-12-06 07:11] KeyJoo commented on #1884
Ok. No information about it in official website: [containerd.io](https://containerd.io/) Thanks for answer.

[2017-12-06 07:11] #1884 closed

[2017-12-06 20:37] crosbymichael commented on #1882
Whats the ubuntu version that you are running on ?

[2017-12-06 20:44] crosbymichael commented on #1882
I see from the builder it looks like a 16.04 edition of ubuntu

`ubuntu-gke-1604-xenial-v20171108-1`

[2017-12-06 22:03] tonistiigi commented on #1723
Please reopen as #1876 does not fix the issue. https://github.com/moby/buildkit/pull/191

Also, let me express again that I don't think the solution in #1876 is the right approach for this problem. Having stream of "Unmodified" events with undefined behavior makes the changestream interface hacky and not useful for reuse. There is no need to modify the changestream because the issue isn't that som

[2017-12-07 03:43] Random-Liu opened #1893 "Failed to pull image."
Test log:
[code]

Mixed containerd/cri-containerd log:
[code]

I've only seen this once till now. Will update if I see this a second time.
https://k8s-gubernator.appspot.com/build/kubernetes-jenkins/pr-logs/pull-cri-containerd-node-e2e/261

[2017-12-07 08:09] #1731 closed

[2017-12-08 01:59] AkihiroSuda opened #1896 "archive: support parallel decompression (pigz)"
ref: https://github.com/moby/moby/pull/35697

Note that we should not parallelize compression, as it breaks determinism

[2017-12-08 02:08] sargun commented on #1896
@AkihiroSuda What's wrong with non-deterministic compression?

[2017-12-08 02:12] AkihiroSuda commented on #1896
https://github.com/moby/moby/pull/30852#issuecomment-307913663

[2017-12-08 07:01] AkihiroSuda opened #1898 "Makefile & travis: validate vendored files"
Surprised to know we aren't checking them yet :sweat_smile:

[2017-12-08 15:27] dnephin commented on #1898
Yes, I was surprised as well.

I think we need something like #1811 to pin the version of `vndr` otherwise things can break when `vndr` changes.

[2017-12-08 17:23] Random-Liu commented on #1882
Another one https://k8s-gubernator.appspot.com/build/kubernetes-jenkins/logs/ci-cri-containerd-e2e-ubuntu-gce/742.

[2017-12-11 19:16] stevvooe commented on #1896
I'd prefer we track Go's implementation rather than fork.

Because compression is mostly done on the client-side, you can use whatever compression you want.

[2017-12-11 20:23] schomatis opened #1905 "Proposal: Add an option to the Makefile for installing package dependencies"
The [`go build`](https://golang.org/cmd/go/#hdr-Compile_packages_and_dependencies) command by default discards all built package dependencies for the current target. In a development iteration where `containerd` is modified and rebuilt many times this means that all the packages are rebuilt, whether they were modified or not.

The `-i` option allows to install built packages that were dependencies

[2017-12-11 20:59] crosbymichael commented on #1905
I thought we had `-i` in there.  @dnephin did you add or remove this in the last refactoring of the loops that you did in the makefile?

[2017-12-11 21:01] dnephin commented on #1905
Nope, it was removed before that: f72e97dbf8a580d7747f851ce101790f694ea2ab #1179

(I did change the `go test -i` to happen before the loop, instead of in the loop, but didn't touch `go build`)

[2017-12-11 21:25] mlaventure commented on #1905
Note: this won't be necessary from 1.10 (https://tip.golang.org/doc/go1.10#build)

[2017-12-11 23:31] schomatis commented on #1819
In line with this proposal I think it would be useful to extend the "Developer Guide" beyond just the building instructions. Maybe this should be discussed in a separate issue but I leave here a basic idea.

The [Building](https://github.com/containerd/containerd/blob/v1.0.0/BUILDING.md) and the [Getting started](https://github.com/containerd/containerd/blob/v1.0.0/docs/getting-started.md) seem to

[2017-12-12 01:44] stevvooe commented on #1905
Per #1179, it seems like that only be omitted for cross-platform builds, where the stdlib packages aren't available in `GOROOT`.

[2017-12-12 02:36] schomatis commented on #1905
A [comment](https://github.com/containerd/containerd/pull/1179/files#diff-354f30a63fb0907d4ad57269548329e3R53) added in that PR would seem to indicate that the `-i` flag was removed from the Makefile because it would imply writing to `GOROOT`, but as I understand the dependencies are stored in `GOPATH/pkg` (I might be missing something).

[2017-12-12 19:00] avagin commented on #1731
@wenjianhn Why do you close this issue?

[2017-12-12 19:34] stevvooe commented on #1905
@schomatis Yes, so `-i` can be added when building against the native platform and in no other cases.

[2017-12-12 21:57] stevvooe commented on #1218
@caniszczyk Could we use something that the maintainers can easily update? In this case, we didn't have the ability to update with the 1.0 release. If we go with something like netlify, will there be someone in charge of managing content and updates?

[2017-12-12 22:01] clnperez opened #1911 "Possible Flaky Test: TestPauseThreshold"
In the past week this test (and no other) has failed a handful of times on our internal (ppc64le) CI. We've got an internal Jenkins that runs on a VM (qemu/kvm) once daily.

Instead of the 3 or 4 times, the test fails because the gc only runs 1 or 2 times during the specified duration on a loaded or small system:

[code]

I added some debug output to recreate locally:

[code]

[code]

Passing outp

[2017-12-12 22:52] chanezon commented on #1218
@stevvooe my understanding is that once netlify is in place and connected to containerd.io dns, you just merge PRs in containerd codebase under /docs and the website will be refreshed. But @caniszczyk or someone in LF infra team need to set that up.

[2017-12-12 23:42] Random-Liu commented on #1893
See this again with a different image:
[code]
https://storage.googleapis.com/kubernetes-jenkins/logs/ci-cri-containerd-node-e2e/1374/artifacts/tmp-node-e2e-ebc772ab-cos-stable-60-9592-84-0-system.log

[2017-12-13 18:22] dnephin commented on #1893
I started looking into this and something I noticed was:

(forth commit size) - (third commit size) = 13804441 (expected)
(third commit size) - (second commit size) = 13804441 (expected)
(second commit size) - (first commit size) = 13804441 (expected)
(first commit size) - (expected) = 47998

So my guess is that something is doing a partial read, writing it, then starting from offset 0 instead of

[2017-12-13 19:02] #1222 closed

[2017-12-13 19:05] crosbymichael commented on #789
@ichekrygin it does look like that coreos/bugs bug.  A newer go version should help as that is what most containerd's are built on.  I'll close this issue here and you can keep tracking on the coreos issue.  Looks to be build and configuration related.

Thanks!

[2017-12-13 19:05] #789 closed

[2017-12-13 19:09] crosbymichael commented on #386
This can be configured with KillMode in systemd and the shims should run without containerd.  That is the whole purpose of the shim and decoupling the lifecycle of the shim from the daemon.

[2017-12-13 19:09] #386 closed

[2017-12-13 19:09] #350 closed

[2017-12-13 19:10] crosbymichael commented on #262
The newer shims have much more information than previously.  I think we can call this one resolved. :)

[2017-12-13 19:10] #262 closed

[2017-12-13 19:12] crosbymichael commented on #309
This would have to be fixed in runc

[2017-12-13 19:12] #309 closed

[2017-12-13 19:13] crosbymichael commented on #124
This has been resolved in the 1.0 and how we handle parsing errors from runc.

[2017-12-13 19:13] #124 closed

[2017-12-13 19:14] crosbymichael commented on #466
This was resolved with the logrus update.

[2017-12-13 19:14] #466 closed

[2017-12-13 19:15] crosbymichael commented on #173
The supervisor has been removed in the 1.0 containerd release.  This should not be an issue anymore.

Thanks!

[2017-12-13 19:15] #173 closed

[2017-12-13 19:17] crosbymichael commented on #291
There is really a no good way to know, that the application can report back.  It would have to perform an operation and then take a guess why that syscall resulted in an EPERM.

We don't have the information at the application level to figure this out.  Its just part of setting up applications in containers and finding the minimal set of caps that each one needs.

[2017-12-13 19:17] #291 closed

[2017-12-13 19:19] crosbymichael commented on #757
The 1.0 version of containerd does not use `runc events` and collects cgroup metrics on its own, in process , which makes this much more light weight.

[2017-12-13 19:19] #757 closed

[2017-12-13 19:20] crosbymichael commented on #389
Going to close this because I doubt its still an issue after all this time and with 1.0 released.

[2017-12-13 19:20] #389 closed

[2017-12-13 19:22] crosbymichael commented on #346
The current 1.0 branch compiles statically with -fno-PIC and with buildmode pie.  Static is not the default compile for containerd but we provide Makefile extensions to make it work were you can pass in these flags.

`make BUILDTAGS='static_build' EXTRA_FLAGS="-buildmode pie" EXTRA_LDFLAGS='-extldflags "-fno-PIC -static"'`

[2017-12-13 19:22] #346 closed

[2017-12-13 19:25] crosbymichael commented on #814
This would be from the event log that is persisted to disk.  We had changes merged in to skip when this happens so it should not be an issue anymore:

https://github.com/containerd/containerd/commit/3b3a98cca1d0023a2005141948508cd610d72485

[2017-12-13 19:25] #814 closed

[2017-12-13 19:27] crosbymichael commented on #407
Going to close this one as its old and there are many changes in the latest containerd and docker releases from 1.12x

[2017-12-13 19:27] #407 closed

[2017-12-13 19:49] stevvooe opened #1915 "gc: make tool to debug active references for a piece of content"
It may be hard to tell why certain resources are still held when interacting `ctr`. Make a tool that lists references for a given piece of content.

[2017-12-14 16:51] dnephin commented on #1911
If  this is testing behaviour that depends on clock time then https://github.com/jonboulle/clockwork could be used to make the test a lot more reliable.

[2017-12-14 19:54] crosbymichael commented on #925
I'm remove the 2x tag as I think we can improve on the error messages in master as well.

[2017-12-14 23:11] darrenstahlmsft opened #1919 "ctr: Expose a way to use rootfs.Diff on a stopped container"
As far as I can tell, the only way to get the diff on a container's rootfs from ctr is via `ctr task checkpoint` which, due to the nature of tasks, is only possible to do on a running container. This is a problem for Windows containers, as a diff on a running container is not currently possible in the platform.

This can be worked around by using the Diff service directly, using the snapshot of th

[2017-12-14 23:45] darstahl opened #1920 "Windows: Roadmap to WCOW"
This is a list of open PRs and issues required for containerd to run Windows Containers. Completion of this is targeted for 1.1

- [x] archive apply is implemented for Windows layers https://github.com/containerd/containerd/pull/1903

- [x] snapshotter and differ implemented to use archive apply https://github.com/containerd/containerd/pull/1613

- [x] Windows runtime is updated to use `[]mount.Mo

[2017-12-15 00:05] adamdaugherty opened #1921 "rpc error: code = Unimplemented desc = unknown service containerd.services.leases.v1.Leases"
OS: CentOS Linux release 7.4.1708 (Core)
go version: go1.8.3 linux/amd64
containerd release/1.0

Attempting to pull an image from a remote:

[code]

results in:
[code]

I am able to successfully pull the image into a different namespace using `ctr`, and had been using an older version of containerd without issue. Could I have somehow broken something when installing 1.0?

Please let me know if you

[2017-12-15 00:28] adamdaugherty commented on #1921
This was completely user error. I forgot to make and install containerd to replace the old version I was running.

[2017-12-15 00:28] #1921 closed

[2017-12-15 01:42] wenjianhn commented on #1731
@avagin I am no longer working on container related projects.

[2017-12-15 23:55] darstahl opened #1927 "Windows: Roadmap to LCOW"
This is a list of open PRs and issues required for containerd to run Linux Containers on Windows. Completion of this is targeted for 1.1

- [ ] Clients can use a `--platform` flag to select LCOW or WCOW. https://github.com/containerd/containerd/pull/1426

- [ ] snapshotter and differ implemented for LCOW. Much of logic is already in https://github.com/Microsoft/opengcs. The main open issue here is

[2017-12-16 00:27] stevvooe commented on #1919
This is probably not going to be a `container commit` command because that is a docker concept. In containerd, one does not commit containers, they commit snapshots.

This seems like it would a `snapshot diff` command or something like that. I am not sure that we've added any diff functionality on the cli, so this may need more design work.

[2017-12-16 00:31] stevvooe commented on #1893
There still might be something wrong here with remote seek. Usually, truncate should never be called: it should seek the remote writer and resume with the existing data. With this fix, the existing data is being thrown away.

[2017-12-16 00:32] stevvooe commented on #1893
#1893 is still a required fix, but the seeking on the remote needs to investigated.

[2017-12-16 00:40] darrenstahlmsft commented on #1919
`snapshot diff` sounds good to me.

[2017-12-16 00:43] dnephin commented on #1893
Right, these failures are definitely not the "usual" case. They both occurred after unexpected failures (the first was a 404 on an image blob, the second some internal failure with golang http2). In these cases it can't resume because it doesn't have a record of where it ended, so it has to truncate. I guess it could assume the existing bytes are correct and use the existing size as an offset, but

[2017-12-18 19:39] avagin commented on #1731
@wenjianhn It is sad to here this. Maybe you could share your drafts?

[2017-12-18 20:28] crosbymichael commented on #1418
This has been resolved for the 1.0 release.  If there are more that do not have cleanup, please open specific issues for other ones.

[2017-12-18 20:28] #1418 closed

[2017-12-18 20:30] crosbymichael commented on #924
I believe this has been resolved.  Let me know if not.

[2017-12-18 20:30] #924 closed

[2017-12-18 20:32] crosbymichael commented on #897
Has this been resolved with all the new error codes and error work that was done?

[2017-12-18 20:42] stevvooe commented on #897
@crosbymichael I think we correctly handle a few missing cases here.

@Random-Liu Can you confirm?

[2017-12-18 22:08] stevvooe commented on #1219
@dmcgowan Since this will be part of the "next" release, I am going to move this to 1.1. If 1.1 comes out before 1.10, we'll punt to the next release.

[2017-12-18 22:23] stevvooe commented on #1893
@dnephin The content service has a recorded of committed bytes, which can be used to seek the remote to the right location. If it is not working this way, it is a bug.

[2017-12-18 22:37] dnephin commented on #1893
The record is the local `Worker.Status.Offset`, or the `store` (backed by metadata/content.go`)?

Neither of these work in this case. The Worker.Status.Offset is correctly set to the number of bytes on disk, but the request.Offset is 0, so it overrides. The metadata was never committed because the previous write failed before completing the transaction, so it reports 0 bytes).

Or is the record so

[2017-12-19 00:08] stevvooe commented on #1893
This doesn't seem right.

metadata gets committed on each write. Is that not getting propagated correctly? The transaction should not be held open between requests.

[2017-12-19 02:04] wenjianhn commented on #1731
@avagin Here you go.
https://github.com/containerd/containerd/pull/1786

[2017-12-19 12:06] ijc opened #1932 "containers with shared `cgroupsPath` all killed if one exits"
In https://github.com/linuxkit/kubernetes/issues/23 I observed that with a set of containers all sharing the same `cgroupsPath` setting when the first one exits `containerd` calls `runc kill --all 9` on it which has the effect of killing the processes in the other containers too.

I wasn't sure if sharing `cgroupsPath` in this way was supported and asked in https://github.com/opencontainers/runtim

[2017-12-19 15:30] crosbymichael commented on #1932
Its "supported" but there are side effects.  Just don't do it.  The default cgroups config for containerd is to place each container in its own cgroup, under a namespace.  There is no reason to put containers in the same cgroup and many more things at the runc level expect separate cgroups as well as most other container systems.

[2017-12-19 15:30] #1932 closed

[2017-12-19 15:44] crosbymichael commented on #1911
Fixed by #1912

[2017-12-19 15:44] #1911 closed

[2017-12-19 15:57] dnephin commented on #1893
Yes, on a successful write it would be committed. In this case the first write does not complete successfully, it errors, so the transaction is rolled back. But it errored after bytes were already written to disk.

[2017-12-19 16:25] dnephin commented on #1508
The Arch package (https://www.archlinux.org/packages/community/x86_64/containerd/) was updated shortly after the official release. cc @seblu who seems to be the primary maintainer (hope you don't mind the ping).

We may be able to check that one off the list.

[2017-12-19 20:35] schomatis commented on #1905
@stevvooe I'm not sure I follow, why only in native platform? Could a PR be submitted to add it back again in the Makefile? Or should another check be added so `-i` only applies to a native platform build?

[2017-12-19 22:51] stevvooe commented on #1905
@schomatis Look at the reason it was removed: the issue is that `-i` works when on the native platform but fails when cross-building:

[code]

`-i` should only be included when the os on which you are building matches GOOS.

[2017-12-19 23:15] stevvooe commented on #1819
@schomatis How would we keep something like this up to date? What is the advantage over godoc? I think we can probably start adding more end user focused re-hashes of the design documents, but "documenting the code" seems like an error prone task when we can make it its own documentation through godoc.

[2017-12-20 00:00] seblu commented on #1508
Hi,

Yes, the job is done on Arch Linux. You can do `pacman -S containerd` without adding external sources.

Cheers,

[2017-12-20 01:47] stevvooe opened #1935 "shim: leaked EOF on shutdown"
A few erroneous errors were encountered in the log when shutting down a pod:

[code]

This looks mostly superficial but it would be good to hunt down the cause.

This is on some post-1.0 version:

[code]

Seems like a possible race on the process status.

[2017-12-20 17:42] dnephin commented on #1819
My 2 cents for solving the "big leap to understanding [the] architecture and source code organization" problem:

* keep most of the documentation in the `godoc`. `godoc` is great for understanding the details of the internals, but it doesn't provide any "map" when you first start out to find what you need.
* under "Developer Docs" have a section about the high-level architecture called "Understand

[2017-12-20 18:04] crosbymichael commented on #1882
Just an update.  I've been working on reproducing this locally, no luck yet but still investigating.

[2017-12-20 18:05] crosbymichael commented on #1935
Could be related to #1882 and https://github.com/moby/moby/issues/35825

[2017-12-20 18:57] dnephin commented on #1508
Alpine also looks to be updated in edge: https://pkgs.alpinelinux.org/package/edge/testing/x86/containerd

cc @ncopa

[2017-12-20 21:43] crosbymichael commented on #868
Checkpoints are now represented as an image so you can use the same tooling for signing images to sign checkpoints.

Going to close this as we don't implement signing in the core but we have all the requirements met for this to work with checkpoints.

[2017-12-20 21:43] #868 closed

[2017-12-20 21:44] crosbymichael commented on #897
Will close this for now, if we don't have everything met, we can reopen.

[2017-12-20 21:44] #897 closed

[2017-12-20 21:48] crosbymichael commented on #1148
I think the way infrastructure is going right now logging systems are to handle this. You don't see applications very often at all building in smtp and mailing support to forward error messages.  Things like fluentd and other loggers aggregate and forward logs to central locations.

I think its best to go that route instead of making containerd specific hooks for this type of thing.

[2017-12-20 21:48] #1148 closed

[2017-12-20 21:48] crosbymichael commented on #1172
Should we do this or is this not how field paths work and why its not currently supported?

[2017-12-20 21:50] crosbymichael commented on #1614
The docker maintenance and tags will be addressed in https://github.com/docker/containerd for the EOL 0.2.x branch that older docker versions currently use.

We won't be working on any 0.2.x features in this repository now that containerd 1.0 is out.

[2017-12-20 21:50] #1614 closed

[2017-12-20 21:52] crosbymichael commented on #1616
Any of the recent runc RC releases work fine with containerd.  The bug here is from a really old version.  We currently have packages for containerd on many different distos, still working on debian ones, but they all bundle proper runc versions with the containerd package.

I don't think there are any code changes we need within containerd to handle this.  We don't want to have code checking for

[2017-12-20 21:52] #1616 closed

[2017-12-20 21:54] crosbymichael commented on #1599
This is from running containers in containers and not properly mounting the right directories, `/run` with all the fifos that the client and daemon coordinate on to run containers.  Have testing docker in docker using the 1.0 version of containerd and have not had any issues.

[2017-12-20 21:54] #1599 closed

[2017-12-20 21:54] crosbymichael commented on #1409
@tophj-ibm is this still an issue?

[2017-12-20 21:58] crosbymichael commented on #1340
I think we have solved a lot of this with the apparmor and seccomp packages as well as the oci spec package.

I don't think this should be address in the containerd core for many of these docker specific options, we will just have to wait and see how Docker refactors some of these in the repo to take advantage of them.

[2017-12-20 21:58] #1340 closed

[2017-12-21 00:18] Random-Liu commented on #1882
@crosbymichael I haven't got time to look into this yet.

In our CI, currently most group test failures are caused by another Kubernetes test issue https://github.com/kubernetes/kubernetes/pull/57474. I'm going to fix that soon.

After that is fixed, once we see group of test failures on ubuntu image, it's likely to be this issue.

[2017-12-21 04:39] estesp opened #1938 "Reminder: remove `-i` only on native limitation after go1.10 upgrade"
This is a placeholder issue to use as a reminder for when we update CI/Makefile to use go 1.10 post that upcoming release of the Go runtime.

Per #1937, this `-i` limitation will be removed in go 1.10 and we should remove the extra complexity from the `Makefile` setup.

[2017-12-21 04:40] #1905 closed

[2017-12-21 22:01] Random-Liu opened #1942 "Proposal: Moving cri-containerd into containerd organization"
We, the [maintainers](https://github.com/orgs/kubernetes-incubator/teams/maintainers-cri-containerd) of [`cri-containerd`](https://github.com/kubernetes-incubator/cri-containerd), propose to:
* Move cri-containerd from [kubernetes-incubator](https://github.com/kubernetes-incubator) organization to [containerd](https://github.com/containerd/containerd) organization.
* Make cri-containerd a containe

[2017-12-21 23:04] AkihiroSuda commented on #1942
SGTM

[2017-12-22 00:01] mlaventure commented on #1942
SGTM, but I'd like for the technical details of this move to be clearly detailed before we move forward.

Out of my head a few questions to be answered:
  - will containerd maintainers get access to the kubernetes test-infra? Should an instance be moved over the containerd organization so it can be dedicated to cri-containerd testing?
  - the proposal doesn't make it clear if the `containerd/conta