[2019-12-02 01:49] AkihiroSuda commented on #3862
Seems issue of runc binary with containerd rpm (by Docker inc, not by us)?

What's the version of runc?

[2019-12-02 02:53] cpuguy83 commented on #3862
Make sure the container-selinux package is up to date.

[2019-12-02 14:10] riker09 commented on #3291
I believe I see this error as well:

[code]

[2019-12-02 18:25] dmcgowan commented on #3850
@awprice Looking at the type of errors, I think it makes sense to always try the next host when `doWithRetries` returns an error. The errors mostly fall into the category of connection related or input related, in both cases the next host may be able to resolve that. When each of the hosts errors out, I think it is always best to use the first error (sorting the errors in any other way is too much

[2019-12-02 18:37] dmcgowan commented on #3849
Is the hashing portable across machines? I am wondering if this is something the snapshotters should use on commit.

[2019-12-02 23:58] awprice opened #3865 "Dependency missing in docker build instructions"
**Description**

Running `make` results in the following:
[code]

It appears that btrfs/ioctl.h is in libbtrfs-dev instead of btrfs-tools. Change the Dockerfile in BUILDING.md in the "Build containerd and runc" section to include libbtrfs-dev instead of btrfs-tools.

**Steps to reproduce the issue:**
1. Follow the `Via Docker container` -> `Build containerd and runc` instructions in BUILDING.md
2.

[2019-12-03 02:07] #3865 closed

[2019-12-03 04:46] paulgear commented on #3862
@AkihiroSuda Apologies for the noise. I didn't look into the original provenance of the source but assumed that whatever was packaged in the containerd.io package was part of containerd.  Any ideas where I can submit this bug so that it will get looked at appropriately?  Their Open Source page (https://www.docker.com/community/open-source) just points here for containerd.

@cpuguy83 container-seli

[2019-12-03 04:54] paulgear commented on #3862
@AkihiroSuda Here are the runc versions from those packages.  Non-working:
[code]

Working:
[code]

[2019-12-04 05:16] khs1994 opened #3871 "run containerd on arm64, get error undefined symbol: seccomp_api_get"
download containerd from actions, run on arm64, get error

[code]

[2019-12-04 06:19] belegent commented on #3847
Hi,
I followed the instructions [](url)https://github.com/containerd/cri/blob/master/docs/registry.md, to configure an insecure registry. I found the configuration of insecure registry did not work. Here is my containerd configuration.
[code]
I restarted containerd after configuration. But it seemed not work with ` insecure_skip_verify = true`, because I got the following output when I run `contai

[2019-12-04 11:01] sofat1989 opened #3873 "Multiple containers exist for one pod"
we have the container in the node which createAt equals 0
[code]
I think it can be reproduced by these steps
1. the containerd was restarted. It met some issues when loading one container during executing this function https://github.com/containerd/cri/blob/master/pkg/server/restart.go#L185
[code]
2. so the containerd will mark this container unknown. createAt, startAt, FinishAt will be set to 0,

[2019-12-04 12:30] jblomer commented on #3731
This is really fantastic, many thanks!

I'd have two questions:

- How do you see the remote file system plugins of the remote snapshotter ([CernVM-FS](https://github.com/cvmfs/cvmfs), NFS, etc.) being deployed? Can this be a plugin container, bundling the file system client and whatever else is required?

- Can multiple remote file system plugins be active concurrently, and if so, can we decide w

[2019-12-05 07:44] ktock commented on #3731
@jblomer Thank you for your great questions! So far, there hasn't been enough discussion about these topics so I would like to hear other's opinion as well, but my opinion is the following.

Remote snapshotter sees filesystem plugins which [are plugged](https://github.com/containerd/containerd/blob/ca714847936372d257dddbbabf79f9131da923d7/PLUGINS.md) into containerd. [A current example implementat

[2019-12-05 09:07] hakman opened #3875 "Release 1.2.11 is missing the binaries"
**Description**
Release 1.2.11 has only the source code without the binaries and hash files.

**Steps to reproduce the issue:**
1. Go to https://github.com/containerd/containerd/releases/tag/v1.2.11
2. Check the asset list

**Describe the results you received:**
Source code (zip)
Source code (tar.gz)

**Describe the results you expected:**
containerd-1.2.11.linux-amd64.tar.gz

[2019-12-05 15:04] AkihiroSuda commented on #3849
IIUC the usecase is to verify that a file in the local `blobs` directory is not contaminated.

`content.Ingester` would call `ioctl(FS_IOC_ENABLE_VERITY)` with `FS_VERITY_HASH_ALG_SHA256` and `content.Provider` would call `ioctl(FS_IOC_MEASURE_VERITY)`.

[2019-12-05 19:12] mxpv commented on #3871
Can you double check that you have `libseccomp` installed as described [here](https://github.com/containerd/containerd/blob/master/BUILDING.md#build-the-development-environment). I just checked latest nightly build of ARM containerd on EC2 Amazon Linux 2, it runs fine.

[2019-12-05 21:13] mfriedenhagen commented on #3556
@dmcgowan, late to the show but citing https://tools.ietf.org/html/rfc6750#section-3:

For me it is unclear whether `scope` is required in the answer of the server or not.

[2019-12-05 22:35] Random-Liu commented on #3873
This is a known issue https://github.com/containerd/cri/issues/1039.

We can't simply set `CreatedAt`. Some logic needs to be changed to represent container state.

[2019-12-05 22:51] liaojh1998 opened #3876 "Separate WithUserNamespace for different uid and gid mapping"
**What is the problem you're trying to solve**
`oci.WithUserNamespace()` in
https://github.com/containerd/containerd/blob/master/oci/spec_opts.go#L442
creates both mapping of uid and gid in host for container. We would like to separate this into cases of different uid and gid mapping.

**Describe the solution you'd like**
Split `oci.WithUserNamespace` into `oci.WithUserUIDNamespace` and `oci.WithU

[2019-12-06 05:50] AkihiroSuda commented on #3876
This should be like ` WithUserNamespace(uidMap, gidMap []specs.LinuxIDMapping)`.
You can break compatibility, probably no project is using this.

[2019-12-06 09:49] belegent commented on #3847
Hi,
I followed the [https://github.com/containerd/cri/blob/master/docs/registry.md](url) to configure an insecure registry for my Harbor. I have set the insecure_skip_verify option. But it still failed to pull images from my Harbor registry.
Here is my containerd configuration.
[code]
When pulling image, it outputs:

crictl pull harbor.io/redis-test/nginx:latest
`FATA[0000] pulling image failed: r

[2019-12-06 11:33] khs1994 commented on #3871
[code]

[2019-12-07 10:36] timogriese opened #3879 "image pull fails with "failed to resolve reference [...] could not resolve digest for [...]""
Can not pull an image from registry.access.redhat.com, even though it works with standard docker.

**Steps to reproduce the issue:**
1. Install microk8s
`snap install microk8s --classic --channel=1.16/stable`
2. Install docker
`snap install docker`
3. Pull image with containerd
`microk8s.ctr --debug image pull registry.access.redhat.com/ubi8-minimal:8.0-213`
4. Pull image with docker
`docker pull

[2019-12-07 17:25] relyt0925 commented on #3871
We see this on RHEL 7 as well. Containerd 1.3.2 does not have this problem but 1.2.11 does whereas 1.2.10 does not

[2019-12-07 17:26] relyt0925 commented on #3871
1.2.11 does work on Ubuntu 18.04 and 16.04 though

[2019-12-07 17:36] relyt0925 commented on #3871
[code]

[2019-12-07 17:37] relyt0925 commented on #3871
[code]

[2019-12-08 09:05] ktock commented on #3879
This seems to be related to https://github.com/containerd/containerd/issues/3238 (the patch is https://github.com/containerd/containerd/pull/3245 which is available since [v1.2.9](https://github.com/containerd/containerd/releases/tag/v1.2.9)).

[2019-12-08 21:44] relyt0925 commented on #3871
For containerd 1.3.2 that works
[code]

[code]

[2019-12-09 01:09] belegent commented on #3847
The containerd has been already updated to v1.3.2.

[2019-12-09 23:31] dmcgowan commented on #3879
@ktock thanks for linking the fix.

Tested that it does work, closing this since it already resolved in supported versions.

[2019-12-09 23:31] #3879 closed

[2019-12-10 00:12] dmcgowan opened #3880 "Optimize pull to remove extra HEAD request when cache provided"
The current pull/fetch flow in containerd today when using a tag looks like...
1. HEAD manifest with tag -- Handles initial auth 401, can get digest from `Docker-Content-Digest`
2. GET manifest with digest -- repeated for each child manifest if index
3. GET layer with digest

When pulling with a tag, the first head request could be replaced with a GET request if the content is easily cached. This

[2019-12-10 02:54] liaojh1998 commented on #3876
I added the PR at #3881

[2019-12-10 03:07] belegent opened #3882 "Failed to pull images from private registry using insecure_skip_verify option with v1.3.2 containerd"
**Description**

I deployed a Kubernetes cluster which uses containerd as container runtime.  The containerd version is v1.3.2. And I set up a private registry (Harbor, https://xyz-harbor.com:7443) for my Kubernetes cluster and pushed an image (xyz-harbor.com:7443/redis-test/nginx:latest) into it. Then I follewed the instructoins [](https://github.com/containerd/cri/blob/master/docs/registry.md) a

[2019-12-10 10:19] mfriedenhagen commented on #3556
Another observation:
* Artifactory will return the `scope` when you try to `GET` something.
* Why does `containerd` do a `HEAD` request before doing a `GET` (which it does lateron anyways).
* When trying a `GET`, Artifactory IMO correctly requires a scope of `pull`. When trying a `PUT`, `pull,push` is requested.

# GET
[code]

# HEAD
[code]

[2019-12-10 10:51] AkihiroSuda commented on #3727
CI failure log: https://github.com/containerd/containerd/pull/3883

[2019-12-10 19:49] Random-Liu commented on #3882
You should use `xyz-harbor.com:7443` for the registry config.

Mirror: namespace -> {registry endpoint}
Configs: registry endpoint -> config

[2019-12-10 20:19] Zyqsempai commented on #3880
I will take this one!

[2019-12-10 22:12] dmcgowan commented on #3556
It shouldn't be required and that is update we will make. However I have avoided having that as a solution here because the correct way to handle it would mean no scope gets sent to the authorization server. In most implementations, including this one, that just doesn't make any sense.

In terms of HEAD vs GET, thanks for finding that. That seems to be the root of their bug since those headers sho

[2019-12-10 23:29] mfriedenhagen commented on #3556
Hello @dmcgowan, thanks for the explanation. However I do not understand what kind of scope Artifactory should ask for when doing a HEAD request. As you said, it is mostly about the Digest-Header and this is purely metadata, so one could argue it is neither pull nor push. I do not know the token specification by heart but have read it twice and only saw pull/push. A SHA256 does not reveal much inf

[2019-12-11 07:25] belegent commented on #3882
Sorry, did you mean that modify the configuration like this:
[code]
It still failed:
[code]

[2019-12-11 09:13] belegent commented on #3882
I also tried as follows:

[code]
And the error is the same.
[code]
When adding the username and password, it outputs:
[code]

[2019-12-11 18:26] liaojh1998 commented on #3876
Merged at #3881. Thanks for the merge!

[2019-12-11 18:26] #3876 closed

[2019-12-11 20:52] mfriedenhagen commented on #3556
Some more output :-)

# Initial HEAD-Request

[code]

# "Authenticate" (as anonymous)

[code]

# Retrieve Digest via HEAD

[code]

[2019-12-11 21:57] mxpv commented on #3871
`seccomp_api_get` was introduced in [2.4.0 release](https://github.com/seccomp/libseccomp/commit/e89d18205c7dcd7582f41051cd6389c9b12dfccf). Can you check `libseccomp` version on your env (and try updated version if needed)?

[2019-12-11 22:11] relyt0925 commented on #3871
@mxpv The latest version available for RHEL7 machines is still a 2.3 release
https://access.redhat.com/downloads/content/libseccomp/2.3.1-3.el7/x86_64/fd431d51/package-changelog

That's why this is broken on RHEL 7 machines

[2019-12-11 23:13] thaJeztah commented on #3871
related to the discussion on https://github.com/containerd/containerd/pull/3538#issuecomment-521727516

[2019-12-11 23:41] mxpv commented on #3664
We have nightly builds from `master` branch available [here](https://github.com/containerd/containerd/actions?query=workflow%3ANightly) for download.

ref: https://github.com/containerd/containerd/pull/3829

[2019-12-12 01:24] khs1994 commented on #3871
@mxpv Debian 10 libseccomp2 version is [2.3.3](https://packages.debian.org/search?suite=buster&searchon=names&keywords=libseccomp2)

[2019-12-12 01:35] khs1994 commented on #3871
@mxpv  Update to [2.4.0](https://packages.debian.org/search?suite=bullseye&searchon=names&keywords=libseccomp2),now work

[2019-12-12 01:35] #3871 closed

[2019-12-12 06:22] liaojh1998 commented on #3841
I added PRs https://github.com/AkihiroSuda/containerd-fuse-overlayfs/pull/5 and #3885 but without tests for adding support for FUSE-OverlayFS.

[2019-12-12 14:26] fuweid opened #3888 "snapshotter: verify data is correct"
**What is the problem you're trying to solve**

When filesystem is busy, the snapshotter commit action is ok but the data is still in kernel not flushed into disk. If the machine shutdowns before data flushing, the snapshotter is invalid. To make debug easier, need tool to verify data in snapshotter is correct.

**Describe the solution you'd like**
No idea right now.

**Additional context**
More c

[2019-12-12 19:15] dmcgowan commented on #3556
The headers for HEAD request should be the same as the headers for a GET. Using HEAD is a normal way to check whether a resource exists or check with a locally cached version. This is a bug in Artifactory that needs to be fixed.

https://www.w3.org/Protocols/rfc2616/rfc2616-sec9.html
[code]

Also, I opened up #3889 if you want to test it against your registry. If it is accepting scopeless tokens t

[2019-12-12 19:34] AkihiroSuda commented on #3726
The base parts are merged now.

We need to add CPU/Memory/IO metrics and OOM handler.
Help wanted.

[2019-12-12 19:36] crosbymichael commented on #3726
But i think the prometheus stats should use the same metrics names as v1.  there shouldn't be a reason to have the `_v2` suffix on the metrics.

[2019-12-12 19:38] AkihiroSuda commented on #3726
CPU/Memory/IO fields are very different from v1

[2019-12-12 19:41] crosbymichael commented on #3726
true but no need to have suffixes on the metrics.  its just a metric and it either has a value or not.

[2019-12-12 19:43] crosbymichael commented on #3726
suffixes just break existing dashboards when there can be some overlap between the metrics.  no reason to break pids dashboards when current/limit are EXACTLY the same

[2019-12-12 19:44] fahedouch commented on #3880
Why making a GET to get descriptor if this one is cached ?

[2019-12-12 19:46] dmcgowan commented on #3880
We don't know if we have the most up to date version of an image until the initial HEAD request (or GET request in this case)

[2019-12-12 19:47] AkihiroSuda commented on #3726
Yes, I'm fine for removing `_v2` suffix for PID fields.
Maybe memory stuff should have v2 suffix for clarification, but I don't have any strong opinion about this.
If there are fields with same name but different meanings, probably such v2 field should have v2 suffix.

[2019-12-12 19:55] crosbymichael commented on #3726
agree.  lets reserve the _v2 suffix for same field names but different meanings.  Other than that, I think we can keep them the same

[2019-12-12 22:10] Random-Liu commented on #3882
@belegent It seems to be working.

Can you pull the image with Docker with the same username and password?

Can you paste the related containerd logs?

[2019-12-13 01:20] belegent commented on #3882
It works with Docker with the same username and password.

Containerd logs:
[code]

[2019-12-13 06:20] AkihiroSuda commented on #3726
Seems we can't remove the prefix :cry:

[code]

[2019-12-13 06:42] AkihiroSuda commented on #3726
Seems we need to unified the monitor plugin as well. PR: https://github.com/containerd/containerd/pull/3891

[2019-12-13 07:46] adamcohen commented on #3031
Any update on this? I'm still affected using go 1.13.4.

[2019-12-13 08:20] AkihiroSuda commented on #3031
Added check list to the top comment of this issue for tracking the progress across github.com/containerd repos. Help wanted.

[2019-12-13 09:57] thaJeztah commented on #3031
Still wondering how we'll deal with versioning. While this repository has SemVer tags, those tags apply to the binary releases, not to the Go API. The Go client API [is explicitly called out as "unstable"](https://github.com/containerd/containerd/blob/f593efdf0c160037c9f831983f62537285739b03/RELEASES.md#public-api-stability), and therefore many projects use a specific version from _master_ (which

[2019-12-13 10:01] AkihiroSuda commented on #3031
I think we have never broken Go API in patch releases (correct me if wrong).

[2019-12-13 10:07] thaJeztah commented on #3031
Agreed, I don't think patch releases (vX.Y.**Z**) broke compatibility, but _minor_ releases may definitely not have been _minor_ from the API perspective (at least, I'm not sure if that has been carefully looked at with each change).
With Go (afaik) requiring _major_ releases to be [included in the import path](https://blog.golang.org/v2-go-modules), any breaking change in the Go client API should

[2019-12-13 19:43] Random-Liu commented on #3882
containerd seems to be doing the right thing.

This just seems to be an authorization issue. @dmcgowan

[2019-12-14 00:06] lumjjb commented on #3031
Seems like it may be good to agree of a certain major & minor version of golang we should use with all projects to be consistent?

[2019-12-14 12:13] AkihiroSuda commented on #3554
related discussion in https://github.com/containerd/containerd/issues/3031

[2019-12-14 12:17] AkihiroSuda commented on #3031
It is ["recommended strategy"](https://blog.golang.org/v2-go-modules), but we don't need strictly adhere to?
IIUC,  a bunch of projects including Kubernetes adopted go.mod without strictly obeying that rule.

Anyway, we are trying to do our best to establish Go API stability in 1.4 (#3531).

[2019-12-16 18:53] Random-Liu commented on #3873
@sofat1989 What kubernetes version are you using?

Since 1.14 we should always stop containers in unknown state before starting new one, the 2 running case shouldn't happen. https://github.com/kubernetes/kubernetes/pull/73802

[2019-12-17 01:40] sofat1989 commented on #3873
@Random-Liu our k8s version is 1.12.3. But we cherry-picked this PR. kubernetes/kubernetes#73802 I think our kubelet should kill the unknown containers

[2019-12-17 05:43] #3850 closed

[2019-12-17 19:26] Random-Liu opened #3894 "Containerd distributions should contain v2 shim binaries"
Since containerd 1.3, the cri plugin started using the shim v2 binary `containerd-shim-runc-v1` by default.

Since containerd 1.4, it started using the shim v2 binary `containerd-shim-runc-v2` by default. https://github.com/containerd/cri/pull/1359

Containerd distributions should make sure that they contain the 2 new shim binaries in the package.

[2019-12-17 20:46] sipsma opened #3895 "runtime: runc v2 shim closes platform prematurely and multiple times"
This was found and debugged in firecracker-containerd, [the issue there has more details+logs](https://github.com/firecracker-microvm/firecracker-containerd/issues/363). We are currently using the 1.3 branch but it appears to be present in master and older versions that support the runc v2 multishim too.

The runc v2 shim seems to have an issue that makes it possible for `platform.Close()` to be c

[2019-12-17 21:53] PatrickLang opened #3897 "Cannot map a file over an existing one on Windows"
**Description**

This is already known, but I need to cross-link it to the Kubernetes repo.

If you try to map a file over an existing one such as `c:\windows\system32\drivers\etc\hosts` in the container, then it will not start. This still reproduces on the master build of containerd.

**Any other relevant information:**

- Tracked internal to MS as 24234313
- Related to https://github.com/microso

[2019-12-17 23:26] jterry75 commented on #3897
@PatrickLang - containerd isn't at fault here. Do we really need a bug open on them?

[2019-12-18 02:51] xuguozhen commented on #3800
@hillbun
How to update tls file resolved?

[2019-12-18 02:57] hillbun commented on #3800
Just update a valid tls file for registry

[2019-12-18 06:48] xuguozhen commented on #3847
@qianzhangxa
Have your issue been resolved?
If so, what is the solution?

[2019-12-18 18:25] AkihiroSuda commented on #3894
Why `kind/bug`?

[2019-12-18 23:13] Random-Liu commented on #3894
@AkihiroSuda Hm, I didn't add that...

[2019-12-19 07:06] vitality411 opened #3901 "oom_score default"
**Description**

According to [1] and the output of `containerd config default` the default for oom_score is 0.
In [2] and [3] it is recommendet to set `oom_score = -999`.
Why not set an oom_score of -999 per default?

In an OOM situation containerd migth be killed, stop docker and kubelet due to systemd dependency and won't auto-restart (restart is fixed in #3297).

[code]

[1]: https://github.co

[2019-12-19 16:46] crosbymichael commented on #3901
I think this should be left to packagers and admins.

[2019-12-19 16:54] #3895 closed

[2019-12-20 12:11] alexellis commented on #3031
I seem to be getting an error with `dep`:

[code]

[code]

[2019-12-20 13:06] thaJeztah commented on #3031
@alexellis it currently depends on a version of docker/distribution from master having this commit: https://github.com/docker/distribution/commit/0ac367fd6bee057d404c405a298b4b7aedf301ec (the 1.3.2 branch is using this commit: https://github.com/containerd/containerd/blob/v1.3.2/vendor.conf#L59).

`dep` probably picks the latest tag ([`v2.7.1`](https://github.com/docker/distribution/tree/v2.7.1)),

[2019-12-21 14:09] alexellis opened #3910 "Issue with containerd client/socket inside a container"
**Description**

I have an issue with the client/socket used from within container. The socket is bound-mounted and the pull works, but the container create fails.

[code]

When running on the host as sudo, this line works and creates a container as per the request

https://github.com/alexellis/faas-containerd/blob/master/main.go#L227

Running via a container:

https://github.com/alexellis/faasd/b

[2019-12-21 14:37] alexellis commented on #3910
I get the same issue if I try to run faas-containerd within Docker:

[code]

cc @Waterdrips who is also helping to test

[2019-12-21 22:15] estesp commented on #3910
Yes, definitely the Go client is a "fat client" in that, unlike the Docker client<-->server experience, the client does work on its own with an expectation of "seeing" the same content as the server. It is not simply a "dumb" client that just needs the containerd API socket. Therefore, similar to how LinuxKit set up containerd, there are a set of mountpoints you need to share between the client an

[2019-12-23 02:44] #3882 closed

[2019-12-23 03:11] ktock commented on #3731
I posted a new patch #3911 about image information propagation to snapshotters, which is indispensable for remote snapshotter to search proper layers on the remote store(registry, etc.). Could you give comments on it?

[2019-12-31 21:36] eric-silverman commented on #3291
Any known workarounds?

[2020-01-01 13:18] pathcl commented on #3291
Im having the same issues and tried passing --auth and --creds:

``
$ crictl -D pull --auth 'somebase64hash' registry.domain.tld/image:latest
DEBU[0000] PullImageRequest: &PullImageRequest{Image:&ImageSpec{Image:registry.domain.tld/image:latest,},Auth:&AuthConfig{Username:,Password:,Auth:somebase64hash,ServerAddress:,IdentityToken:,RegistryToken:,},SandboxConfig:nil,}
DEBU[0000] PullImageResponse:

[2020-01-02 02:16] renzhengeek opened #3923 "snapshots GC: one snapshot removing failed stops the whole GC"
**Description**

devmapper snapshotter leaves over lots of snapshots which is not used anymore and should be garbage collected.

The reason is, the snapshot GC will stop traveling and collects other snapshots if failed to collect one snapshot, even though those snapshots have no children. I'm sure this is the behavior of containerd v1.2, but don't know if it's changed in recent versions.

**Steps

[2020-01-02 02:50] renzhengeek commented on #3923
The snapshot GC seems more complicated, so we try to workaround in devmapper with this PR:
#3924

[2020-01-03 09:07] olljanat commented on #1920
@darstahl I wonder that is roadmap up to date? There have been some discussions about buildkit implementation for Windows containers ( https://github.com/moby/buildkit/issues/616 )  but afaiu these needs to be implemented first ?

[2020-01-05 15:26] TBBle commented on #1920
This should be `SetVolumeMountPoint`. It took me a little while to work out why I couldn't find anything useful by searching with Google or on the project itself.

It looks like this was #2287, but that was closed in favour of #2366, itself closed with "not needed", but no clear link to what's actually being done to implement this.

[2020-01-05 16:46] #3875 closed

[2020-01-05 18:24] narqo commented on #3291
@Phanatic did you have any luck reproducing it inside a github's lab? I have the same results as https://github.com/containerd/containerd/issues/3291#issuecomment-560412099 when trying to use github regustry with k3s.

[2020-01-05 19:11] pathcl commented on #3291
@narqo the way I solved was setting up a docker registry in front of the main registry acting as a proxy. Now I can pull/images using containerd.

[2020-01-05 19:13] pathcl commented on #3291
ref: https://docs.docker.com/registry/recipes/mirror/

[2020-01-06 08:23] narqo commented on #3291
For my testing use cases, I have "solved" it by moving the images from a private github registry to the one provided by gitlab. But I'm curious to know if GitHub folks are able to solve this for real

[2020-01-06 16:05] estesp commented on #3556
JFrog has marked this issue as resolved on their end: https://www.jfrog.com/jira/browse/RTFACT-20170

[2020-01-06 16:08] estesp commented on #3556
@btashton let me know if this is sufficient for closing the issue or if you have a separate issue from the JFrog Artifactory implementation.

[2020-01-06 17:44] estesp opened #3930 "Reenable CRIU tests when kernel issue is resolved"
Tracking Ubuntu kernel issue (revealed in Travis CI update to 5.0.0 kernel): https://bugs.launchpad.net/ubuntu/+source/linux/+bug/1857257

When this is resolved either via Canonical or Travis changes, we will want to re-enable the test disable done under PR #3898 (and cherry-picked via other PRs to release branches).

Thanks to @adrianreber for the upstream report/status.

[2020-01-06 19:41] IRCody opened #3931 "snapshots: devmapper: Add an automated thinpool creation mode"
Since devmapper has been moved to containerd, this issue makes more sense here.

The original is [here](https://github.com/firecracker-microvm/firecracker-containerd/issues/104).
Original text from @sboeuf:

But for a user who wants to try out some block based device snapshotter, he does not want to run into pre-configuration steps such as creating thinpools on its own.
That's why I think having i

[2020-01-06 20:05] mxpv commented on #3931
My opinion on this is that there are too many different ways how you can configure device mapper pool depending on requirements, disk configuration, environment, etc and it would be challenging to support even major cases. I also wouldn't want to provide loop device based setup, as its slow and not suitable for production uses (though it's fine as an example to play on dev environment). For these

[2020-01-07 02:54] btashton commented on #3556
I'm at JFrog and have validated this against the release. Up to you if you want to leave it open until the release is out.

[2020-01-07 05:53] AkihiroSuda commented on #2767
https://github.com/containerd/containerd/blob/d5714702d1f78ad1149e78e204db0b53611ddb3c/runtime/v2/runc/v2/service.go#L273

https://github.com/containerd/containerd/blob/d5714702d1f78ad1149e78e204db0b53611ddb3c/pkg/process/utils.go#L41

We have still hard-coded `/run/containerd/runc` (`process.RuncRoot`). Reopening.

[2020-01-07 08:44] AkihiroSuda opened #3937 "Test flakes related to content store"
Recently CI often fails with ` failed to get reader from content store: content digest sha256:...: not found occurred` error.

e.g. https://travis-ci.org/containerd/containerd/jobs/633175052
[code]

[2020-01-07 08:50] AkihiroSuda commented on #3937
https://github.com/containerd/containerd/commit/8c7e6be290003a354fcf163dbd4c7f21f97a709f (#3870) might be related?

[2020-01-07 15:09] mantas-sidlauskas opened #3938 "ctr task list reports UKNOWN state for a running container when [runc] <defunct> process exists"
**Description**

`ctr -n moby t ls` reports state `UKNOWN` for container which is having `[runc] <defunct>` process. But `runc` command works as expected.

**Steps to reproduce the issue:**
Cannot reproduce. `runc` triggers a kernel bug which is described [https://github.com/opencontainers/runc/issues/2201](https://github.com/opencontainers/runc/issues/2201):

**Describe the results you received:*

[2020-01-07 22:28] rn opened #3940 "Unable to disable devmapper tests"
I'm trying to update `containerd` in LinuxKit to v1.3.2 but running into issues with the recently added devmapper snapshot support (probably a combination of Alpine utilities and kernel config, see https://github.com/linuxkit/linuxkit/pull/3426#issuecomment-571801117  for details).

For LinuxKit we are not really that interested in the devmapper snapshotter but would like to continue to run the co

[2020-01-07 23:24] dmcgowan commented on #3940
We normally try to avoid putting the build tags into the go packages themselves, but I can add a way to filter out specific tests run through the makefile.

[2020-01-07 23:43] rn commented on #3940
@dmcgowan thanks for the quick reply. The PR linked would work for us

[2020-01-08 01:57] vishiy commented on #3351
/watch

[2020-01-08 05:21] zhsj opened #3943 "openlab ci is broken"
In #3939, the openlab ci says "Build succeeded", https://github.com/containerd/containerd/pull/3939#issuecomment-571894318. But the test actually is failed.

https://logs.openlabtesting.org/logs/39/3939/e509f49fcb35d0c1e18e61493330c37a9af57a75/check/containerd-build-arm64/92867ca/logs/make_test.txt

[code]

[2020-01-08 14:44] #3940 closed

[2020-01-08 16:03] #3943 closed

[2020-01-08 16:16] crosbymichael commented on #3351
I'm going to close this.  There is zero code in containerd that handles logs at all.  @Random-Liu said this is more of a kubelet issue so it would be better served to have an issue like this on the kube side.

[2020-01-08 16:16] #3351 closed

[2020-01-09 00:26] sethp-nr opened #3949 "containerd 1.3.0+ leaks an eventfd on every exec"
**Description**

Whenever a process is exec'd inside an existing container, we see an eventfd file descriptor leak:

[code]

This issue is especially pronounced using containerd to run kubernetes pods that define an exec-based liveness or readiness probe. We have one such pod that has a probe with an interval of one second, meaning we leak a file descriptor per second on that machine.

**Steps to

[2020-01-09 00:45] thaJeztah commented on #3949
@crosbymichael ptal

[2020-01-09 00:49] rn commented on #3940
Thanks for the quick turnaround. I cherrypicked the fix into Linuxkit https://github.com/linuxkit/linuxkit/pull/3458 and it now works locally

[2020-01-09 05:46] AkihiroSuda commented on #3727
We added crun tests in #3883

[2020-01-09 05:46] #3727 closed

[2020-01-09 05:46] mwhittington21 commented on #3949
I was investigating FD leaks in our Kube clusters today and also narrowed it down to containerd after a little bit of investigation. All the clusters running versions of containerd prior to 1.3.0 do not exhibit this behaviour.

Certain containers accumulate FDs much faster than others, leading us to start by investigating the containers themselves.

[2020-01-09 06:59] AkihiroSuda opened #3951 "cgroup2: metrics fails after a few minutes"
**Description**
cgroup2: metrics fails after running several times

**Steps to reproduce the issue:**
1. Set up cgroup v2 host (Ubuntu 19.10)
2. Run `sudo ctr run -t --rm --runc-binary=crun docker.io/library/alpine:latest foo`
3. Run `sudo ctr t metrics foo` several times for a few minutes

**Describe the results you received:**
It succeeds for a while, but eventually it begin to fail with `collec

[2020-01-09 06:59] AkihiroSuda commented on #3951
@Zyqsempai PTAL?

[2020-01-09 07:22] AkihiroSuda commented on #3951
This happens when `io.stat` contains a like like `8:0 rbytes=0 wbytes=4096 rios=0 wios=1 dbytes=0 dios=0`.

Maybe this is already fixed on containerd/cgroup master, but haven't confirmed.

[2020-01-09 08:04] AkihiroSuda commented on #3031
Mixing up `vndr` and `go mod` is becoming harder (https://github.com/containerd/cgroups/issues/139).

Can we soon finish migrating the entire stuff to `go mod`?
Is there any blocker?

[2020-01-09 10:31] alexellis commented on #3031
Thanks @thaJeztah

[2020-01-09 14:07] estesp commented on #3031
Based on [this tweet](https://twitter.com/ibuildthecloud/status/1205137155904790533) from @ibuildthecloud, it looks like once CRI starts to vendor in k8s 1.17, it gets a lot less messy to use go mod. Maybe @Random-Liu can say when they are ready to move up the CRI project deps and then we can vendor that back in and move to 1.17 and be ready to fully switch to `go mod`?

[2020-01-10 04:10] AkihiroSuda commented on #3951
seems not fixed yet, as of containerd/cgroups@3f83850c48d225466698517ad34f4848d2ddaeeb

[2020-01-10 04:42] AkihiroSuda commented on #3951
should be fixed in https://github.com/containerd/cgroups/pull/141

[2020-01-10 18:32] jchampet opened #3955 "JSON format support for container logs"
**What is the problem you're trying to solve**
Currently containerd uses supports text format for logs.

For example for `/var/log/containers/coredns-*`, the text log output would typically be in the format:
`2020-01-10T18:10:40.01576219Z stdout F [INFO] plugin/reload: Running configuration MD5 = 4665410bf21c8b272fcfd562c482cb82`

**Describe the solution you'd like**
I'd like the ability to config

[2020-01-10 19:38] sethp-nr commented on #3949
@crosbymichael @thaJeztah I updated the title to hopefully better reflect the severity of the issue: I'm planning on trying to cobble together a PR, but I'm totally unfamiliar with the checkpoint/restore mechanism in containerd so I'm a little suspicious of my ability.

[2020-01-13 07:08] AkihiroSuda commented on #3951
reopening until revendoring

[2020-01-13 10:18] maciej-gol opened #3958 "SIGSEGV when starting containerd-shim"
**Description**

Very rarely somewhen between creating a container and starting it, the `containerd-shim` fails miserably with a segmentation fault error. When trying to start it, the clients will receive a `ttrpc: closed: unknown` error.

The difficulty with debugging this problem is that it is very difficult to reproduce. Once it appears on a machine, it doesn't reappear for 10-12 hours (or unle

[2020-01-13 13:48] #3951 closed

[2020-01-13 19:11] btashton commented on #3556
@estesp @towolf Artifactory 6.17 has been released which resolves this issue, I'll close this ticket.
https://www.jfrog.com/confluence/display/RTF/Release+Notes#ReleaseNotes-Artifactory6.17

[2020-01-13 19:11] #3556 closed

[2020-01-13 22:22] fahedouch commented on #3955
Hello,

With an [adapter pattern](https://matthewpalmer.net/kubernetes-app-developer/articles/multi-container-pod-design-patterns.html) you can achive this :

Using Regular Expression Parser of [fluentbit](https://fluentbit.io/documentation/0.13/parser/regular_expression.html) for example your can  convert your text logs on structured format that can be Consumed by ES very easy.

In most cases, th

[2020-01-13 22:29] fahedouch commented on #3888
@fuweid I think that should be closed :)

[2020-01-13 22:34] erikwilson commented on #3949
Thanks for filing the issue and creating the fix @sethp-nr! With some quick testing seemed to work, would be nice to see this backported to 1.3 if accepted :)

[2020-01-14 01:34] fuweid commented on #3888
@fahedouch why?

[2020-01-14 01:57] fuweid commented on #3958
It seems that shim handles `processExits` without locking the `s.bundle` which be updated by `Create` API.

https://github.com/containerd/containerd/blob/v1.2.10/runtime/v1/shim/service.go#L187
https://github.com/containerd/containerd/blob/v1.2.10/runtime/v1/shim/service.go#L514

It caused by string data-race.

[2020-01-15 11:25] AkihiroSuda commented on #3955
Also, pluggable logging is discussed here: https://github.com/containerd/cri/issues/1342

[2020-01-15 11:25] #3955 closed

[2020-01-15 18:35] mikebrow commented on #3930
"The root cause of this fail is a wrong mount ID which is reported for file mappings" ...
It seems to be overlayfs related" for a certain number of kernels. Disabling the test does not disable the feature. Should we have a support table for certain unstable features? IOW should we warn customers off of using features that will only work with certain kernels / patches. Sigh

[2020-01-15 20:50] fahedouch commented on #3888
@fuweid as you told me after lower the dirty page ratio, the issue is gone! Also I think if we cannot guarantee the system can be shutdown gracefully it is difficult to be guarantee that data is correct.

[2020-01-16 16:33] sethp-nr commented on #3949
@dmcgowan sorry to pester, is there any way I can help publish a 1.3.3 release with this fix? It would be convenient for us if that happened before kubernetes v1.15.8 drops.

[2020-01-17 06:36] adrianreber commented on #3930
Not commenting on if a support table is needed or not but this case is special as it seems Ubuntu only and caused by a patchset which only exists in Ubuntu.

[2020-01-18 22:00] andrew-s commented on #3291
I spent far too long on this to then discover this issue - having the same problem with the GitHub registry;

Events:
  Type     Reason     Age                From                             Message
  ----     ------     ----               ----                             -------
  Normal   Scheduled  <unknown>          default-scheduler                Successfully assigned openfaas-fn/profiles-f

[2020-01-19 07:19] wswfc opened #3971 "containerd cannot properly do "clean-up" with shim process during start up?"
**Description**

For v2 shim, during containerd start up, if there are left-overs tasks in the "task" folder, containerd would launch the shim with "delete" argument to do the clean up. But at that time, the containerd's ttrpc server isn't up and running, so the shim would exit with error as it cannot connect to the ttrpc server. This could result in the tasks in the `io.containerd.runtime.v2.task

[2020-01-20 04:07] AkihiroSuda commented on #3726
Anybody wants to work on implementing OOM handler?

This isn't difficult probably, but needs some work for deduplicating the codes across v1 and v2.

[2020-01-20 04:07] fuweid commented on #3958
ping @containerd/containerd-release , do we need to create new release for this?

[2020-01-20 13:28] thaJeztah commented on #3291
@clarkbw wondering if there's any progress on GitHub's side on this issue?

[2020-01-20 19:51] cpuguy83 commented on #3291
I spoke with a PM from GH, seems the issue is on their backlog but it is the number one issue they are seeing with their registry implementation.

[2020-01-21 17:19] andrew-s commented on #3291
@cpuguy83 How long has this been on the backlog? I'm concerned that this is a breaking bug, opened almost a year ago and we're still discussing this. It's putting me off a little to "commit" to GH.

Is there an ETA on this?

[2020-01-21 17:25] cpuguy83 commented on #3291
@andrew-s You have all the info I have. :(

[2020-01-21 17:45] alexellis commented on #3291
Just to be clear, this is being classed as an issue with GitHub's registry, rather than with containerd. Is there somewhere upstream that we can track it and link back to? Anybody have friends with GitHub engineering?

[2020-01-21 18:10] pathcl commented on #3291
I don’t think is only related to github registry I also faced it with
docker trusted registry.

On Tue, 21 Jan 2020 at 18:45 Alex Ellis <notifications@github.com> wrote:

[2020-01-21 19:04] dmcgowan commented on #3291
@pathcl We outlined the problem very clearly with what is not working with the Github registry, please read above before commenting. They are not implementing the distribution specification, so clients are having trouble.

[2020-01-21 19:07] alexellis commented on #3291
I was pointed to support@github.com, if someone wants to open a ticket?

[2020-01-21 19:07] alexellis commented on #3291
Containerd doesn't work with DTR? Can you log a separate issue with repro?

[2020-01-21 21:30] verdverm commented on #3291
Seeing this error with IBM IKS, containerd, and the docker registry deployed within IKS.

[2020-01-21 22:09] tamalsaha commented on #3291
I don't understand the details of the specification here. Just from layman's perspective, all these other docker registry's work with the `docker` command. Why can't containerd just do that docker is doing? I thought the recent Docker releases just uses containerd under the hood.

[2020-01-21 22:13] dimberman commented on #3291
@tamalsaha it's possible containerd is trying to be more open by allowing the user to determine whether it should create a bearer or basic token. In practice it's just a lost day of engineering productivity waiting to happen.

[2020-01-23 17:41] sethp-nr commented on #3949
Hello again! I've been looking through the release documentation in this repository, but I don't think I have the permissions necessary to create a git tag or Github release object.

Given the frequency and impact of this issue, I feel that it would warrant a patch release. Do you agree @estesp @dmcgowan ?

[2020-01-24 04:46] tapih opened #3974 "Failed to pull image (unexpected commit digest)"
**Description**

A container image sometimes fails to be pulled from a remote repository.

For example, when I made a k8s DaemonSet, 4 Pods were created successfully but 1 was not.
When I deleted the error Pod manually, the image was re-pulled successfully, but it's never re-pulled unless the Pod is deleted manually.

**Steps to reproduce the issue:**
1. Download [this manifest template](https://r

[2020-01-28 09:50] TBBle commented on #3031
For the release-branches issue, how about tagging 7f9530d95b6450f5045fcfd7f3602a1ff2331336 (I think that's the first commit after _release/1.3_ branched) as `v1.4.0-alpha.0`? If I understand correctly, that would mean "go modules" in 1.13 would generate psueudo-versions for subsequent commits on master as `v1.4.0-alpha.0-<date>-<commitref>`, which is SemVer-newer than any tag on the _release/1.3_

[2020-01-29 02:22] doanac opened #3990 "CPU Variant incorrect when doing armhf builds under aarch64 kernel"
**Description**
I apologize if I'm raising this bug in the wrong place. There are many layers to this issue, but the hack I found to fix it is in containerd:

I have an armv8 AWS gravitron instance that I use to build armhf containers. I've created a 32-bit armhf LXC container that runs docker. Things worked fined when using classic `docker build` commands. However, I've recently been trying out B

[2020-01-29 15:21] clarkbw commented on #3291
👋 Ability to pull images by digest is in our backlog for this quarter.  Apologies for the delay.

[2020-01-30 09:48] estesp commented on #3990
What does `uname -a` report when you are running a 32-bit userspace? I'm thinking maybe something like `setarch` which was used historically on PowerPC when running 32-bit userspace--it would affect the `uname` architecture so programs using that information would run properly. Maybe we need to check `uname` if that reports properly to handle the special 64-bit processor but 32-bit userspace case(

[2020-01-30 16:30] doanac commented on #3990
It shows armv8:
[code]

I poked around to see if I could trick LXC into doing something about that, but I didn't find anything obvious. My lxc config for this container has these two fields set properly:
[code]

I tried something like `setarch linux32 uname -va`, but it still showed armv8l. I'd never known of this tool until now, so its possible i'm not using it right.

I've been told this [new ru

[2020-01-30 18:57] #3937 closed

[2020-01-30 19:59] mxpv commented on #3682
I think the error you got is related to direct unpack: https://github.com/containerd/containerd/issues/3569
I'm going to close this, feel free to open a new issue if needed.

[2020-01-30 19:59] #3682 closed

[2020-01-31 11:03] dims commented on #3949
@sethp-nr there is no dependency with the kubernetes releases (for this specific change). When 1.3.3 drops you can use it with 1.15.8 even if 1.15.8 was released before 1.3.3 of containerd. This piece of code is not vendored into k8s. k8s uses CRI (grpc) to call contained.

[2020-01-31 13:09] dims commented on #3820
interesting problem @tedyu ...

[2020-01-31 13:32] pjbgf commented on #3820
@dims @tedyu this PR solves the problem: https://github.com/kubernetes/kubernetes/pull/85121

Looking forward for a review. :)

[2020-01-31 13:42] estesp commented on #3820
Do you mind if I transfer this issue to the `containerd/cri` repository? The code that starts pods using the containerd Go API is in that sub-project, so any changes to the implementation of seccomp/profiles, ordering/timing, etc. will be in that code. The issue # will change, but everything else should be preserved.

[2020-01-31 13:47] estesp commented on #3949
@sethp-nr we are working on 1.2 and 1.3 point releases; sorry for the delay, but they should be pulled together soon; we now have a runc fix and CVEs across some dependencies (including Golang) backported into `release/1.3` so we should be ready to release very soon.

[2020-01-31 13:50] Wordsgames opened #3994 "Failed to load plugin io.containerd and could not use snapshotter"
**Description**

I wanted to put the latest version of the docker

**Steps to reproduce the issue:**
1. ``` yum install docker-ce-19.03.5-3.e17 docker-ce-cli-19.03.5-3.e17 containerd.io ```
2. ``` sytemctl start containerd ```

**Describe the results you received:**
Command: ``` grep error /var/log/messages ```
[code]

**Describe the results you expected:**

I would expect containerd to works prop

[2020-01-31 13:53] pjbgf commented on #3820
@estesp sure, please go ahead.

[2020-01-31 16:30] sethp-nr commented on #3949
@dims Yes indeed – I'm just not sure how the rebuild process would got for the [capi image-bulder](https://github.com/kubernetes-sigs/image-builder/tree/master/images/capi/ansible/roles), and so it's convenient (if not necessary) to use the kubernetes version as shorthand to refer to the whole AMI.

@estesp Thanks for letting me know! I'm happy to help if there's anything I can do for the backport

[2020-01-31 17:58] dims commented on #3949
@sethp-nr when we get new containerd, we update https://github.com/kubernetes-sigs/image-builder/blob/master/images/capi/packer/config/containerd.json#L2-L3 and start using that. sounds good?

[2020-01-31 21:32] sethp-nr commented on #3949
It sounds very good! Would that trigger a rebuild of all the CAPA v1.16.x AMIs? I've been assuming it only applies to AMIs built for new kubernetes versions after the change is merged.

[2020-01-31 21:42] dims commented on #3949
@sethp-nr we can ask on their slack channel

[2020-02-01 01:31] ktock commented on #3731
FIY: New discussion thread is at containerd/project#43 . We are very welcome for your opinion/feedback!

[2020-02-01 02:24] dunderpate commented on #1920
Can someone provide an update on this, a revised release version, or update the check-boxes in the OP? Is there a different meta issue that we should be tracking if we are interested in containerd support for Windows? @darstahl

[2020-02-01 07:46] thaJeztah commented on #1920
/cc @jterry75

[2020-02-01 08:08] fuweid commented on #3994
Thanks for reporting this. @Wordsgames could you show the result of `ctr plugin ls`?

Basically, the warning log doesn't impact the whole system operating. The snapshotter is image storage and we can have a lot of choices.  Some works in your system and some doesn't. I saw the log and found that `native` and `overlayfs` are operating. Just need to make sure that the plugins which you need.

If you

[2020-02-01 22:43] jterry75 commented on #1920
This is still the current state of the containerd world WCOW. There is no build support but runtime support is roughly complete based on the Runtime V2 shim api. Build has not been a priority given that the storage system in Docker is still fully functional and it is unclear how through these set of api's we will do any type of hypervisor isolated WCOW or LCOW builds.

[2020-02-02 15:42] AkihiroSuda commented on #3994
To use ZFS, you need to mount ZFS on  /var/lib/containerd/io.containerd.snapshotter.v1.zfs .
Same applies to btrfs.
For aufs you need to modprobe it as explained in the error log.

[2020-02-02 15:42] #3994 closed

[2020-02-03 12:33] Zyqsempai commented on #3726
@AkihiroSuda I will work on OOM handler.

[2020-02-04 22:07] candlerb opened #4000 "insecure_skip_verify seems not to have been merged?"
**Description**

This looks like something strange, and it could be my misunderstanding.

Looking at [vendor/github.com/containerd/cri/pkg/server/image_pull.go](https://github.com/containerd/containerd/commits/master/vendor/github.com/containerd/cri/pkg/server/image_pull.go), the top commit says "update to latest containerd/cri (master)" on Jan 25 2020.

However it doesn't appear to include the co

[2020-02-05 07:21] candlerb commented on #4000
Sorry, I was being dense.  The repositories are synced using `cp` so the individual git commits aren't seen.  The change I wanted is in 53ced5ffe1d38dd407d18dfab752ab29623b3647

[2020-02-05 07:21] #4000 closed

[2020-02-05 18:19] bogn83 opened #4002 "Add container_name to prometheus metrics"
**Problem**
Putting useful per-container metrics on a dashboard through the containerd metrics endpoint is hindered by the fact that we can only use the label `container_id` to display per-container metrics which is not meaningful just looking at the dashboard itself.

**Proposed solution**
If `container_name` was included in the prometheus output this would be sufficient for a lot of use cases wh

[2020-02-07 10:08] towolf opened #4005 "Mirror config does not work with private registries"
**Description**

We set up two instances of Gitlab, which are replicated, but they are served under different hostnames:

- gitlab.example.com
- gitlab-secondary.example.com

The secondary instance is read-only but can be used for pulling images.
We wanted to add the secondary to the containerd mirror config, but it does not work.

The registry requires authentication, it's a private registry.

[c

[2020-02-07 10:14] towolf commented on #4005
More logs with --log-level debug:

[code]

[2020-02-07 16:41] ganga1980 opened #4006 "containerd http apis doesnt work"
**Description**
Currently, I am hitting docker.sock to get the  inventory of the containers and images on k8s cluster where docker is container run time.  I am extending this support for the containerd runtime engine for the K8s.  I am trying to hit the containerd.sock to get this info but none of the APIs work.

**Steps to reproduce the issue:**
1. curl -v --unix-socket /run/containerd/containerd

[2020-02-07 16:43] thaJeztah commented on #4006
containerd uses a grpc API, which it's different than docker's remote API

[2020-02-07 16:49] ganga1980 commented on #4006
Here are few follow up questions ...

1.   Does grpc API way, can I talk to container runtime  (containerd, CRIO etc..) from container?

2. is same grpc API supported for docker as well, is just CRI compatiable runtimes (containerd, CRIO etc)?

[2020-02-07 16:55] thaJeztah commented on #4006
Docker provides the http JSON API, and in itself connects to the containerd gRPC API

Connecting from within a container should be possible if there's a containerd client inside the container. The containerd API is a more "low level" API than the docker API, and information may be presented different (or not available, as the docker daemon adds it's own information)

[2020-02-07 18:24] sethp-nr commented on #3949
Looks like containerd 1.3.3 is released, thank you all!

[2020-02-07 18:24] #3949 closed

[2020-02-07 20:19] cpuguy83 commented on #4006
Note that kubelet has an API for getting the pods assigned to the node.
I'm not sure if this is sufficient for your needs.

Should be able to `curl <node IP>:10255/pods`

[2020-02-07 20:50] ganga1980 commented on #4006
Hi, @cpuguy83 , thanks for the response. This is approach, "http(s)://<node IP>:10255(10250)/pods"  I am considering but this lacks container specific environment variables though it returns the Kubernetes environment variable. I have explored all the options to get the container environment variables in which we we are getting via Docker REST APIs. This is breaking change with regards our monitor

[2020-02-07 20:53] cpuguy83 commented on #4006
Absolutely you can get anything you need from the GRPC API.
Really there are 2 API's, the main containerd API, and the CRI API, both served over GRPC.

[2020-02-10 18:26] cpuguy83 commented on #4006
I believe CRI's API is served over the normal containerd socket.

[2020-02-10 19:24] rmb938 opened #4008 "container 1.2.x versions > 1.2.10 error with undefined symbol"
**Description**

When installing containerd versions in the 1.2.x release That are > 1.2.10 I receive the following error

I am running RHEL 7.7

**Steps to reproduce the issue:**
1. Install containerd 1.2.11 or 1.2.12
2. Run `containerd --version`

**Describe the results you received:**

[code]

**Describe the results you expected:**

**Output of `containerd --version`:**

[code]

[2020-02-10 19:40] thaJeztah commented on #4008
Where did you get the containerd package from that you installed? I believe this issue can occur if the version of `libseccomp` that's installed on the machine where containerd was compiled doesn't match the version of `libseccomp` that's installed on the host where it's run.

What version of `libseccomp` is installed on your machine?

[2020-02-10 19:44] rmb938 commented on #4008
The version of libseccomp installed is `libseccomp-2.3.1-3.el7.x86_64`.

I am downloading containerd from here `https://storage.googleapis.com/cri-containerd-release/cri-containerd-1.2.11.linux-amd64.tar.gz`

[2020-02-10 19:58] thaJeztah commented on #4008
Yes, that probably is the issue; libseccomp 2.4.0 introduced `seccomp_api_set` (in https://github.com/seccomp/libseccomp/commit/e89d18205c7dcd7582f41051cd6389c9b12dfccf), which is used if containerd was compiled on a machine with that version installed, but will break if it's run on any other version.

I think the only way to support that situation is to have separate binaries for each distro (ins

[2020-02-10 19:59] thaJeztah commented on #4008
@Random-Liu @mikebrow ptal

[2020-02-10 20:01] rmb938 commented on #4008
Ok great. I tried the latest release 1.3.3 and that worked fine. So I'm wondering if there's a difference between how 1.2 is now built vs 1.3.

[2020-02-10 20:08] thaJeztah commented on #4008
Hm. good question. Not sure exactly how the packages on `storage.googleapis.com` are built. The libseccomp-golang package for both look to be the same (https://github.com/containerd/containerd/blob/v1.3.3/vendor.conf#L68 and https://github.com/containerd/containerd/blob/v1.2.12/vendor.conf#L66), so no difference there 🤔

[2020-02-10 22:03] hligit opened #4009 "Creating task failed with "failed to find pid""
**Description**
Sometimes (about 1 in 100 pods) containerd fails to create task and logs error `failed to mountat: failed to find pid=12345 process: no child processes: unknown`. Usually the problem goes away when re-creating the pod.

Not able to reproduce but the error has been observed in one of our production clusters.

**Output of `containerd --version`:**
[code]
**Extra info**
OS: CoreOS 224

[2020-02-11 08:14] hakman commented on #4008
I've been working on adding containerd support to [kubernetes/kops](https://github.com/kubernetes/kops) and just noticed this while testing the new packages.
Same thing happens on Debian Stretch (libseccomp2-2.3.1-2.1+deb9u1). containerd v1.3.3 works just fine, but v1.2.12 exits with the `seccomp_api_set` error.

[2020-02-11 12:41] Cellebyte opened #4011 "[Mirror Issue] Overwrite Default Mirror is not possible. Docker.io is used."
**Description**

When i define a mirror in my config for `docker.io`.
It gets overwritten by containerd.
This is a bad behaviour when you deploy an airgapped cluster with a mirror for `docker.io`.
[code]

**Steps to reproduce the issue:**
1. configure above
2. run a default image with containerd without a registry prefix `crictl`
3. Error Message shows cannot pull from docker.io. Cannot find image

[2020-02-11 12:50] obeyler opened #4012 "StopPodSandbox for \"3...a\" failed" error="failed to destroy network for sandbox"
**Description**
I've got this kind of information on the K8S dashboard
![image](https://user-images.githubusercontent.com/23224162/74237972-0858be00-4cd5-11ea-8aff-d7f9fdebb5a9.png)
but it's not on all pods some are working well.

**Steps to reproduce the issue:**
I replace docker by containerd to use it inside a k8s. I use bosh installer and so on I've got some contraints. The containerd  binary

[2020-02-11 16:26] zhsj commented on #4008
Because v1.2.x is built with libseccomp-dev 2.4.1, while v1.3.x is built with 2.3.3.

packages on storage.googleapis.com are built and deployed in travis ci job.

v1.2.x, libseccomp is installed via

https://github.com/containerd/containerd/blob/35bd7a5f69c13e1563af8a93431411cd9ecf5021/.travis.yml#L23-L37

This installs libseccomp from ubuntu xenial archive. The version is [2.4.1](https://packages

[2020-02-11 16:35] zhsj commented on #4008
Though the ubuntu libseccomp is update on 2019-05-03(before v1.2.10 release). But containerd-cri tarball was built from travis since v1.2.11.

cherry pick b5f03eacd34c7beffe5c8cc2a5cfee852335f681 to release/1.2 and create a new release can help.

[2020-02-11 18:29] vielmetti commented on #3990
When this is ready to test I'd like to give it a spin on the Ampere eMag processor as well (Packet's c2.large.arm) which also supports both 32 bit and 64 bit execution.

Generally speaking several people I've seen trying to do all-32-bit builds on this system have run into similar kinds of issues where the 32-bit environment leaks out some 64-bit-ness. So looking forward to seeing this addressed h

[2020-02-11 19:19] estesp commented on #3990
Based on the fact that it appears in 32-bit mode that `runtime.GOARCH` == `arm`, can we effectively add that special case when assigning variant? In that case we would ignore `v8` coming from a read of `/proc/cpuinfo` and fall back to `v7` as the variant, leaving the platform as **linux/arm/v7**? Is that what you are setting in your override variable?

[2020-02-11 19:51] doanac commented on #3990
yes, v7 is what I use

[2020-02-12 13:53] JulienBalestra opened #4016 "Pod is stuck in terminating: runc did not terminate sucessfully: container does not exist"
**Description**

A kubernetes pod is stuck in terminating:

[code]

[code]
[code]

On the host:

[code]

[code]

[code]

Process tree of the `containerd-shim`, without any children:
[code]

[code]

[code]

[code]

[code]

[code]

**Output of `containerd --version`:**

[code]

[code]

[code]

**Any other relevant information:**

SIGKILL the `containerd-shim` unblock this situation.

Interesting pro

[2020-02-13 09:09] deitch opened #4019 "starting a task with /dev/null for stdin, stdout or stderr causes entire /dev to be deleted"
**Description**

When deleting a task that was started with one of its three standard file descriptors (stdin, stdout, stderr) as `/dev/null` (or anything else in `/dev`), the entire `/dev` directory is wiped out.

**Steps to reproduce the issue:**

1. Create a container
2. Create a task with at least one of stdin/stdout/stderr as `/dev/null`. I was unable replicate the issue when started via `ctr

[2020-02-13 10:49] jcansdale commented on #3291
@clarkbw https://github.com/containerd/containerd/issues/3291#issuecomment-579804848, it would be great if we could get this working!

It appears users can be bitten by this issue even when they're not explicitly using digest form URLs.

For example, it looks like this user is simply trying to pull `latest`:

[code]

https://github.zendesk.com/agent/tickets/539658

[2020-02-13 15:02] fuweid commented on #4012
@obeyler thanks for reporting. It seems about your cni issue. could you check your cni config or binary log? thanks

[2020-02-13 15:37] thaJeztah commented on #4019
Looks like this was originally added by @Random-Liu in https://github.com/containerd/containerd/commit/73735c4dbafb01fc6b5cb4d373ef70d187e56012 (https://github.com/containerd/containerd/pull/1290), and later refactored in https://github.com/containerd/containerd/commit/f79ec5b55ffdc43672596ba126d51beb0aba5b84 (https://github.com/containerd/containerd/pull/1895) (keeping the same behaviour)

[2020-02-13 15:44] payall4u opened #4020 "Pod is stuck in terminating due to containerd-shim unmount error."
**Description**
We use kubernetes and containerd without docker. Pod is stuck in terminating, because containerd-shim umount error (device is busy). Restarting the kubelet or containerd has no effect. All we can do is find and kill the bad shim. Since it is a customer node, we do not know what will run on it, maybe wrong log collection.

**Steps to reproduce the issue:**
1. Create a pod
2. Find th

[2020-02-13 18:40] tonistiigi opened #4023 "[v1.2] regression in v1.2.12 leaves container/shim hanging"
reported in https://github.com/moby/moby/issues/40514

bisected to https://github.com/containerd/containerd/pull/3366/

[code]

Only seems to happen on some machines. The race could be performance-related and requires a slower machine. One known configuration where it reproduces is DigitalOcean $10 1cpu/2GB ram instance.

The container is left hanging with containerd-shim still running. Unknown if

[2020-02-14 04:42] fuweid commented on #4020
Hi @payall4u  I don't think it is good choice. As you saying, process are using file in the mount point, like sleep 1000. Maybe `sleep 365d`. Both the container writable layers and image readonly layers will not be gc correctly. It will have disk pressure issue.

[code]

Could you mind to show actually pod yaml example? It will be helpful. Thanks!

[2020-02-14 06:15] fuweid commented on #4009
Thank you @hligit for reporting! Could you mind to share the go version of the containerd and how many layers about image? Thanks!

[2020-02-14 09:31] zhsj commented on #3990
PS,  I may not corrent since I'm not expert at ARM.

I think the origin arm/v8 variant is corrent. You may run into situation that accidentally compile a program with armv8+32bit. Since the builder's cpu is armv8, it runs without problem. But if you distribute the image to others, they may has only armv7 cpu, then the program fails to run.

[2020-02-14 10:41] sharkyzz opened #4026 "Release 1.2.12 is not in the repositories for Linux Debian/Ubuntu"
When I run apt {dist-}upgrade I get the following error:

`Err:1 https://download.docker.com/linux/debian stretch/stable amd64 containerd.io amd64 1.2.12-1
  404  Not Found
E: Failed to fetch https://download.docker.com/linux/debian/dists/stretch/pool/stable/amd64/containerd.io_1.2.12-1_amd64.deb  404  Not Found
E: Unable to fetch some archives, maybe run apt-get update or try with --fix-missing?`

[2020-02-14 10:43] sharkyzz commented on #4026
Duplicate of #816

[2020-02-14 10:54] sharkyzz commented on #4026
"https://github.com/docker/for-linux/issues/816"

[2020-02-14 13:57] thaJeztah commented on #4026
We temporarily rolled back the containerd.io 1.2.12 package, related to https://github.com/containerd/containerd/issues/4023

Once that's fixed, and a 1.2.13 hot fix is released, those will be published again.

[2020-02-14 13:57] thaJeztah commented on #4026
@tiborvass @tonistiigi @arkodg PTAL

[2020-02-14 17:48] mgabeler-lee-6rs commented on #4026
The problem is, this rollback was not complete.  The `Packages` files still say it's there, even though it isn't, which causes system updates (`apt upgrade` or its equivalent) to fail for folks.

[2020-02-14 18:30] tonistiigi commented on #4026
@mgabeler-lee-6rs what `Packages` still has it? It should be removed from everywhere but you might need to update your cache. We put back the debs for people with updated cache but checking at it now it seems it was only done for ubuntu and not debian.

[2020-02-14 18:35] tonistiigi commented on #4026
eg.
https://download.docker.com/linux/debian/dists/stretch/pool/stable/amd64/containerd.io_1.2.12-1_amd64.deb is 404

https://download.docker.com/linux/ubuntu/dists/xenial/pool/stable/amd64/containerd.io_1.2.12-1_amd64.deb is 200

[code]

[2020-02-14 18:56] mgabeler-lee-6rs commented on #4026
It seems if I `curl` or `wget` the Packages files directly, it has been removed, but the timestamps haven't changed enough for `apt update` to decide it needs to download a Packages file.  Or looking at the apt update output more closely, it perhaps doesn't seem to like something about the new copy of `https://download.docker.com/linux/debian/dists/buster/InRelease`

Manually deleting files under

[2020-02-14 19:22] atannus commented on #4026
I got rid of this issue after removing all of docker and containerd.io.

[2020-02-14 19:48] #3990 closed

[2020-02-14 21:03] cpuguy83 commented on #4020
Cross posting from https://github.com/containerd/containerd/pull/4021#issuecomment-585876327

What typically happens in cases like this is you there is a mount marked as private that gets copied into a new mount namespace.
A new mount namespace is created for every container, for systemd services that have MountPropagation or PrivateTmp defined, and these types of things.
When those namespaces are

[2020-02-14 21:08] cpuguy83 commented on #4020
We fixed this in docker with a few changes, but all these were specific to how docker was configuring itself... nevertheless there's a bunch of detail into the reasoning behind the changes in those PR's.

https://github.com/moby/moby/pull/36055
https://github.com/moby/moby/pull/36096
https://github.com/moby/moby/pull/36047

[2020-02-14 21:25] tiborvass commented on #4026
This should be fixed by now. https://github.com/moby/moby/issues/40514#issuecomment-586054841
@ehazlett @dmcgowan feel free to close.

[2020-02-14 21:44] #4026 closed

[2020-02-16 14:04] fuweid commented on #4023
Thank you @tonistiigi for the information. I can reproduce this issue in my 1Cpu/2GB vagrant box.

The root cause is the change of pid after container stop. The containerd-shim does well but something wrong in containerd with single core.

All the hanging cases is about short-lived container init process, like `echo`, `ls` commands as entrypoint. When user run `docker run hello-world`, the dockerd

[2020-02-17 01:51] hligit commented on #4009
@fuweid thanks for looking at it. We're using the stock version released at https://github.com/containerd/containerd/releases/tag/v1.2.5. While the binary is stripped, `strings <bin> | grep go1` suggests it was built with Go 1.11.5.

[code]
As shown in the last line of the pasted error log, `lowerdir` has 55 directories.

Also pasted below is the whole containerd configuration file:
<details>
  <s

[2020-02-17 01:58] fuweid commented on #4009
@hligit thank you. will take a look at this.

[2020-02-17 09:27] #4006 closed

[2020-02-17 09:49] thaJeztah commented on #4023
https://github.com/containerd/containerd/pull/4025 (backport of https://github.com/containerd/containerd/pull/3857) should address this; that fix was already back ported to the 1.3 branch, but not yet to 1.2.

[2020-02-17 14:06] estesp commented on #3833
Now that this looks like it is headed for K8s v1.18, I'm going to move this issue to the `container/cri` repo so that it can be closed by a PR in that repo when implemented. // cc: @Random-Liu

[2020-02-17 15:50] payall4u commented on #4020
@cpuguy83   @fuweid
Pod is still stuck in terminating.

Thank you very much for your reply, although it took me a whole day to figure it out. You right. It's bad idea to use MNT_DETACH. But customer's problems still exist. I spend three days more on cri and containerd. I wonder why kubelet won't deleted on retry. I think I found it finally!!
I think function `checkKillError` in runtime/v1/linux/pr

[2020-02-17 21:15] estesp commented on #4019
I spent a bit more time tracking the changes through. I think there is a discrepancy between @Random-Liu's addition in #1290, which was a defer to only perform removal on the error path `if err != nil`, specifically during the creation of containerd-located FIFO files (in a containerd controlled directory), to the refactoring, which is now unrelated to error paths on FIFO, and indiscriminately app

[2020-02-17 21:41] thaJeztah commented on #4019
Hm, good one, I looked at the initial refactor, and thought it was still only done in the `err` case (https://github.com/containerd/containerd/commit/f79ec5b55ffdc43672596ba126d51beb0aba5b84#diff-59c30bfdf4b1a75610f6703b03f119baR109-R111)

[2020-02-18 01:31] fuweid commented on #4023
close by https://github.com/containerd/containerd/pull/4025

[2020-02-18 01:31] #4023 closed

[2020-02-18 02:21] kolyshkin commented on #3862
As far as I remember (reading https://github.com/opencontainers/selinux/pull/56 helps to refresh my memory) this is a combination of
1 a bug in RHEL7 kernel (which won't be fixed, see https://bugzilla.redhat.com/show_bug.cgi?id=1719067)
2 a mislabeled (runc?) binary

Maybe we should reopen the workaround PR (https://github.com/opencontainers/selinux/pull/56).

Let's at least check that SELinux lab

[2020-02-18 02:43] kolyshkin commented on #3862
@paulgear if you have a system to experiment with, can you please do a small experiment?

1. Start on a non-working system (i.e. container start gives the `write /proc/self/attr/keycreate: permission denied"` error)
2. Downgrade containerd (`yum downgrade containerd.io` or so). Check that it fixes the issue.
3. Upgrade containerd again (without a reboot).

If I remember right, it was working for m

[2020-02-18 04:14] deitch commented on #4019
Thanks for the track down @estesp and @thaJeztah . That would make sense. I couldn’t figure out why it would indiscriminately delete a parent die, and the first one it found.

[2020-02-18 20:39] hakman commented on #4008
Tested the new release 1.2.13 and works as expected. Thanks!
I think this can be closed.

[2020-02-18 20:40] #4008 closed

[2020-02-18 20:41] thaJeztah commented on #4008
Thanks!

[2020-02-19 05:49] paulgear commented on #3862
Hi @kolyshkin - thanks for checking this out.  In my case, I don't need any reboots to reproduce this behaviour.  Here's a session log:
[code]

[2020-02-19 11:52] AkihiroSuda opened #4043 "Support NOTIFY_SOCKET"
**What is the problem you're trying to solve**
Support `NOTIFY_SOCKET` to support notifying the daemon's readiness to systemd.
This proposal does not relate to container tasks' lifecycles.

**Describe the solution you'd like**
Use https://github.com/coreos/go-systemd

**Additional context**
Like this: https://github.com/moby/buildkit/commit/0dee033264fb9c08f8a77f57b6ec802aecedc3b6

[2020-02-19 12:46] ktock commented on #3731
I posted a new patch #4044 to enable using remote snapshotters without forcing snapshotter users to `import` snapshotter-specific handlers to the codebase.

The patch is indispensable for wide adoption of the remote snapshotter. Could you give comments on it?

[2020-02-19 16:23] obeyler commented on #4012
@fuweid
inside /etc/cni/net.d,  I've only 50-flannel.conflist  file with this content:
[code]

[2020-02-19 16:25] obeyler commented on #4012
the log of flannel seems to be correct:
[code]

[2020-02-19 20:03] k0da opened #4045 "support setting custom logpath"
**What is the problem you're trying to solve**
We want to move pod logs out of the root partition to not overflow it

**Describe the solution you'd like**
control LogDirectory of a SandBoxConfig through config.toml definition

**Additional context**
Add any other context about the feature request here.

[2020-02-20 13:47] kabakaev opened #6647 "[Feature request] [PoC] set default container sysctl via config"
I would like to set defaults for namespaced sysctl values in containers created by Containerd via CRI. I need it mainly for Kubernetes.

So far, I couldn't find a way to do it.

Neither `containerd` process nor linux host sysctls (/etc/sysctl.conf) are being propaged into the container namespaces. I know, not all sysctls are namespaced, thus an approach of setting all host sysctls inside container

[2020-02-20 20:22] estesp commented on #4019
So, empirically it looks like the "load task" -> load IOs/FIFOs path must set up a *closer* that performs cleanup or else the FIFO's created at task creation time (using the default path, not when a caller specifies their own locations for out, in, err) will persist on the filesystem.  I did some tests with detached tasks and non-detached tasks, and if you `ctr run --detach` and then kill the task

[2020-02-20 22:44] deitch commented on #4019
Is it possible to flag them, so that when you create the task, you can indicate, “clean these up when task is deleted”, vs not? Then containerd-created FIFOs can have the tag, while others might or might not.

[2020-02-21 14:41] obeyler commented on #4012
@fuweid  do you thionk that I do a configuration mistake ?

[2020-02-21 16:15] fuweid commented on #4012
@obeyler I am working on other stuff. Will take a look later. Sorry for late reply.

[2020-02-21 16:51] fuweid commented on #4012
@obeyler  Running with containerd v1.3.2, I can reproduce this issue with missing `cniVersion`.

[code]

Could you mind to add the `cniVersion` and retry it?  And also could you provide your result of `crictl -r unix:////var/vcap/sys/run/containerd/containerd.sock info`? Thanks

[2020-02-22 06:11] obeyler commented on #4012
@fuweid this is the log (before adding cniVersion)
./crictl -r unix:////var/vcap/sys/run/containerd/containerd.sock info
[code]

[2020-02-22 06:22] fuweid commented on #4012
@obeyler the problem is solved?  The validation is introduced in https://github.com/containernetworking/cni/pull/602. I think it is reasonable because both `ADD` and `DEL` action needs the same version of cni plugin. :)

[2020-02-22 06:44] obeyler commented on #4012
many thanks @fuweid !
I'm doing a PR inside the kubo project to solve it

[2020-02-22 06:44] #4012 closed

[2020-02-22 06:51] fuweid commented on #4012
@obeyler Thanks for your patience~ :)

[2020-02-22 07:08] obeyler commented on #4012
@fuwei I've got another question
https://github.com/cloudfoundry-incubator/kubo-release/blob/a9c50631d8a212c4c4bb8fe313eaaf5c7875e1be/packages/cni/packaging
It mention that the cniVersion is 0.7.1
but when I do ./crictl -r unix:////var/vcap/sys/run/containerd/containerd.sock info
I see 0.3.1
Is there a mistake or the cniVersion of plugin is not the real cniVersion ?

[2020-02-22 07:43] fuweid commented on #4012
[code]

more info can check here https://github.com/containerd/containerd/issues/3386#issuecomment-514389611

And I think `cniVersion` is required field :) https://github.com/containernetworking/cni/blob/master/SPEC.md#network-configuration. Sorry I didn't found the information about `required`.

[2020-02-24 14:27] amouat commented on #3071
This also applies to certificates signed by any non-trusted CA, not just self-signed ones. In my case (trow.io) it would be really nice to be able to add the k8s CA cert to containerd. I could then use the k8s CA to sign a certificate for the registry and have it automatically trusted.

[2020-02-24 16:47] fahedouch commented on #4043
Hello @AkihiroSuda ,

Can I take this task ?

Have a nice day.

[2020-02-24 22:52] AkihiroSuda commented on #4043
Yes, please

[2020-02-25 05:57] ZhongbaoShi commented on #3974
We encounter similar issues. Any suggestions?

[2020-02-25 15:17] fuweid commented on #4016
still investigating and @JulienBalestra could you mind to provide more log about the terminating pod and stack of containerd ? It looks like that cri was missing the event to update container status.

[2020-02-25 15:20] ashrayjain commented on #4016
We have also been hitting this fairly consistently on a k8s cluster with containerd 1.3.3

In our case, the container that appears to get "leaked" is an init container. I can provide a pod spec as well, if that would be helpful.

[2020-02-26 21:54] #3471 closed

[2020-02-27 11:12] thaJeztah commented on #3701
Previously tracked in https://github.com/containerd/containerd/issues/2835 (but was closed as "not seen in a while"), I just ran into this in the 1.2 branch (https://github.com/containerd/containerd/pull/4061), so perhaps it's fixed on master but not yet in that branch?

[2020-02-27 11:13] thaJeztah commented on #3701
This may be the fix; https://github.com/containerd/containerd/pull/3324

[2020-02-27 11:16] thaJeztah commented on #3701
opened a backport for the 1.2 branch; https://github.com/containerd/containerd/pull/4067

[2020-02-27 11:49] rtheis opened #4068 "failed to start or create containerd task"
**Description**

Running Kubernetes conformance testing against a cluster with containerd runtime sometimes fails due to a pod not starting during one of the test cases.  The general error is `failed to start containerd task` or `failed to create containerd task`.  More detailed errors include the following:
- `ttrpc: closed: unknown`
- `read: connection reset by peer: unknown`
- `failed to start

[2020-02-27 11:53] dims commented on #4068
@rtheis this smells like the one @liggitt fixed in https://github.com/opencontainers/runc/issues/2183 please use containerd 1.3.3 which uses runc v1.0.0-rc10 or just directly drop that version of runc in your environment and retry the tests.

thanks,
Dims

[2020-02-27 12:16] rtheis commented on #4068
@dims Thanks for the pointer.  Unfortunately, our latest failure from today used containerd 1.3.3.

[code]

[code]

[2020-02-27 14:30] dims commented on #4068
@rtheis i see it in upstream CI too - https://storage.googleapis.com/k8s-gubernator/triage/index.html?pr=1&text=opening%20w%2Fo%20fifo

cc @liggitt

[2020-02-27 15:08] dims commented on #4068
@rtheis one more thing to check ... can you please try 1.2.7? ( looks like this commit may be the one adding the 30 second timeout - https://github.com/containerd/containerd/commit/a2a4241979f615eb0a1084c7638c21f830f48ac5 and it is only in the 1.3.x AFAICT)

[2020-02-27 16:30] liggitt commented on #4068
I see that prior to our recent containerd/runc bump, so it appears to be an independent, pre-existing issue: https://storage.googleapis.com/k8s-gubernator/triage/index.html?date=2020-01-01&pr=1&text=opening%20w%2Fo%20fifo

[2020-02-27 17:28] tedyu opened #4070 "pInfo.Info field should be non-empty for service#Pids"
**Description**

In service#Pids, if typeurl.MarshalAny() call fails, we return error.
[code]
If there is no matching pid coming out of the loop, pInfo.Info would be left empty.
In this case, it seems we should return error as well.

**Steps to reproduce the issue:**
1.
2.
3.

**Describe the results you received:**

**Describe the results you expected:**
I would expect pInfo.Info field to be non-e

[2020-02-27 17:31] tedyu commented on #4070
I can send out a PR if there is agreement on the topic.

[2020-02-27 19:03] tedyu commented on #4020
@payall4u
Have you opened PR ?

[2020-02-27 20:43] rtheis commented on #4068
@dims Sorry, I don't have an environment running containerd 1.2.7 at this time.

[2020-02-27 22:40] tedyu commented on #4020
From runc:
[code]
Looks like there is no way for containerd to capture the error code (which is supposedly more robust compared to searching for text)

[2020-02-28 03:17] fuweid commented on #3701
Close it and feel free to reopen it

[2020-02-28 03:17] #3701 closed

[2020-02-28 10:48] tedyu commented on #4020
I looked at handleContainerExit in cri/pkg/server/events.go

status.FinishedAt is assigned.
Maybe there was a typo above.

[2020-02-28 16:58] mikebrow opened #6640 "Need some integration testing for container image decryption"
See containerd/cri#1340 and https://github.com/containerd/cri/blob/master/docs/decryption.md

We could use a bucket of decryption tests, exercising this feature at the integration level. Has been integration tested by hand only.

@lumjjb FYI

[2020-02-28 18:43] cpuguy83 commented on #3931
I would tend to agree with @mxpv.

[2020-02-28 21:39] LuckySB opened #4075 "[bug report] failed to export image which has manifest list on 1.2.xx containerd"
[code]
all same as in https://github.com/containerd/containerd/issues/2862 and https://github.com/containerd/containerd/issues/3103

can you backport this PR
https://github.com/containerd/containerd/pull/2622
https://github.com/containerd/containerd/pull/3108

to 1.2.xx releases ?

[2020-02-29 13:45] abdennour commented on #3291
stay tuned

[2020-02-29 18:06] manobi commented on #3291
I have the same problem in Oracle container registry.

[2020-03-01 00:56] ganeshmaharaj opened #4078 "image pull hangs with k8s (stuck in 'PodInitializing')"
**Description**
In the context of k8s, when massive number of machines(>100 machines) try to pull the same image from either an internal registry/docker registry, all the pods are stuck in "PodInitializing" and in "Pulling the Image" state but that never happens. Once containerd on the system is restarted the pull succeeds.

**Steps to reproduce the issue:**
1.  Setup k8s cluster with 100+ machine

[2020-03-01 11:29] purebluesong commented on #3974
I find a way to solve this temporarily.

Just clean the image layer cache folder in `${containerd folder}/io.containerd.content.v1.content/ingest`.

Containerd would not clean this cache automatically when some layer data broken.

[2020-03-01 11:41] AkihiroSuda commented on #3974
@tapih : Could you confirm that the issue you hit is same as @purebluesong ?

[2020-03-01 11:44] AkihiroSuda commented on #3974
@dmcgowan @stevvooe @fuweid
I guess the ingest cache is intentionally kept for supporting resuming? Can we disable the cache completely, or should we retry without cache after getting the cache digest error?

[2020-03-01 11:45] AkihiroSuda commented on #4078
Does `k get pod -o yaml` or `journalctl -u containerd` show an interesting message?

[2020-03-02 07:32] lugeng opened #4079 "containerd push image too slow"
I use buildkit to build and push image，and  I found the image push is much slower than docker push. After check the code of buildkit and containerd. I found the issuse meybe related with containerd push not implement the chunker upload.
(https://github.com/containerd/containerd/blob/ca66f3dd5d917694797a377b8ab9b8fb603b089b/remotes/docker/pusher.go#L219)

Do we have plan to implement the chunker up

[2020-03-02 07:35] lugeng commented on #4079
@AkihiroSuda
@fuweid
@dmcgowan
@tonistiigi

[2020-03-03 13:48] hazcod commented on #3291
@clarkbw do you have any details on planning?

[2020-03-04 07:44] AkihiroSuda commented on #3731
https://github.com/containerd/stargz-snapshotter :tada:

[2020-03-04 07:44] #3731 closed

[2020-03-04 07:44] AkihiroSuda commented on #2943
https://github.com/containerd/stargz-snapshotter :tada:

[2020-03-04 07:44] #2943 closed

[2020-03-05 16:33] memorais commented on #3369
I had this issue on one node environment. Any idea on why this happens? It can scale new pods due to this error...

[2020-03-05 17:14] kieron-pivotal opened #4082 "vendored golang.org/x/crypto needs a bump to address a CVE"
**Description**
golang.org/x/crypto is currently vendored at commit 1d94cc7ab1c630336ab82ccb9c9cda72a875c382. This should be bumped to at least bac4c82f69751a6dd76e702d54b3ceb88adab236 to take the fix for CVE-2020-9283.

[2020-03-05 21:11] thaJeztah commented on #4082
We updated the dependency in preparation of the security fix (the fix itself was not yet public at the time); https://github.com/containerd/containerd/pull/4042, but the fixed codepath is not used by containerd, so this repository is not affected.

I can open a PR to update the version, but that would only "for the form".

[2020-03-05 21:15] thaJeztah commented on #4082
opened https://github.com/containerd/containerd/pull/4085

[2020-03-05 22:58] MysticalMount commented on #3071
This would be awesome for my home setup, utilising a Docker registry with a self-signed cert.

[2020-03-06 00:36] #4082 closed

[2020-03-06 04:02] hongzhanchen opened #4086 "[issue] ctr failed to extract layer"
**Description**
ctr report "failed  to extract layer" when run " sudo -E ctr -n k8s.io i pull --snapshotter native docker.io/clearlinux/python:3.7" on ubuntu 18.04 with ctr version github.com/containerd/containerd v1.3.0-359-gca66f3dd.m
This container image works fine with runtime as docker or crio on k8s.

**Steps to reproduce the issue:**
1.sudo -E ctr -n k8s.io i pull --snapshotter native docke

[2020-03-06 16:47] crosbymichael commented on #3071
If someone contributes this feature i'm sure we will approve it.

[2020-03-06 17:08] estesp commented on #3071
#3522

[2020-03-07 20:13] SaiHarshaK opened #4090 "Btrfs dependencies in docs are outdated"
**Description**
I followed the steps in https://github.com/containerd/containerd/blob/master/BUILDING.md to build containerd, the steps given in "Build the development environment" are outdated.

**Steps to reproduce the issue:**
1.
2.
3.

**Describe the results you received:**
+ bin/ctr
+ bin/containerd
# github.com/containerd/containerd/vendor/github.com/containerd/btrfs
vendor/github.com/contai

[2020-03-08 03:26] fuweid commented on #3974
@tapih @purebluesong thanks for reporting. will have a look today.

[2020-03-08 03:27] fuweid commented on #4090
@SaiHarshaK could you mind to provide that system distribution information? and PR is always welcome. Thanks

[2020-03-08 04:07] SaiHarshaK commented on #4090
Ubuntu 19.10

[2020-03-08 13:21] SaiHarshaK commented on #4043
Is anyone still working on this? If not, can i pick this up?

[2020-03-08 13:23] AkihiroSuda commented on #4043
Addressed in https://github.com/containerd/containerd/pull/4088

[2020-03-08 13:23] #4043 closed

[2020-03-08 16:53] #3764 closed

[2020-03-08 16:54] AkihiroSuda commented on #3726
@Zyqsempai Are you still planning to work on OOM handler?

[2020-03-09 06:54] SaiHarshaK commented on #2231
is this issue still open to pick up? If so, i would like to do so.

[2020-03-09 12:48] estesp commented on #2231
@SaiHarshaK yes, go ahead--no one else is currently working on it

[2020-03-09 16:42] #4090 closed

[2020-03-09 19:56] AkihiroSuda commented on #3930
Seems fixed in https://github.com/opencontainers/runc/pull/2226 and appeared to be unrelated to kernel?

[2020-03-10 01:50] tapih commented on #3974
@AkihiroSuda I guess it's the same issue as I had, but not sure because this error has never occurred recently and I cannot try the solution actually.

[2020-03-10 01:59] bluefriday commented on #3880
I think so. (Docker's first image pull request is GET too)

[2020-03-10 10:21] hongzhanchen commented on #4086
After further debug , I found that function Stat of file metadata/snapshot.go report " snapshot sha256:baa90903a66df167bb3f28a20e040afe5c7cde54de5824ccf74032270d200778 does not exist: not found" when it execute  sbkt := bkt.Bucket([]byte(key)).
But I use docker inspect to check our image ,the layer sha256:baa90903a66df167bb3f28a20e040afe5c7cde54de5824ccf74032270d200778 do exist int the image.

[2020-03-10 18:01] SaiHarshaK commented on #2231
Can anyone give an example where fieldmask path has strings like "labels.", etc?

[2020-03-10 21:02] crosbymichael commented on #2533
Going through issues.  because containerd's new c/r system persists checkpoints as an image this is fixed now.  we also did work on the media types and how the images are handled for compant between versions of containerd.

[2020-03-10 21:02] #2533 closed

[2020-03-10 21:03] crosbymichael commented on #2406
Because of the way we handle checkpoints now, as an image, this option is not supported anymore.  you could still persist that image to disk, like any other image and load it that way, we just don't have dir support.

[2020-03-10 21:03] #2406 closed

[2020-03-11 01:02] hongzhanchen commented on #4086
4099 can fix this issue. let me close it.

[2020-03-11 01:02] #4086 closed

[2020-03-11 01:47] kunalkushwaha commented on #2231
Hi @SaiHarshaK  you may take a look at test case [container_test.ho](https://github.com/containerd/containerd/compare/master...kunalkushwaha:filed-mask#diff-80b94ff9a9d56a9492f043f938353acbR1438)

Also, possible field masks that were implemented in initial implementation for possible values are here [container.go](https://github.com/containerd/containerd/compare/master...kunalkushwaha:filed-mask#d

[2020-03-11 03:07] bluefriday commented on #3062
+1 for this too.

[2020-03-11 03:27] egernst commented on #2901
I see the issue still open -- anyone driving this forward? Is this still gated by HW for the builder?

[2020-03-11 06:34] jeffwubj commented on #3971
i met this issue as well

[2020-03-11 10:19] SaiHarshaK commented on #2231
@dmcgowan @estesp @stevvooe  Could you please reiterate what is required since it's been a long time and why the previous implementation was not valid for that case?

[2020-03-11 14:28] pierreozoux commented on #3511
Would is be possible to even deactivate this feature?

My problem is that I'd like to use upstream images, like [Wordpress](https://github.com/docker-library/wordpress/issues/232#issuecomment-420767663) or [Nextcloud](https://github.com/nextcloud/docker/pull/968), but they have this VOLUME directive.

If I could deactivate this feature at containerd level, I'd be equally happy actually :)

[2020-03-11 15:16] crosbymichael commented on #3511
@pierreozoux are you talking about disable this in the context of using CRI?

[2020-03-11 19:34] liggitt commented on #4068
tracking on the Kubernetes side in https://github.com/kubernetes/kubernetes/issues/89064

[2020-03-11 19:49] liggitt commented on #4068
comes from https://github.com/containerd/containerd/blob/c6851ace61864f8018d476d84fc82093e25db233/pkg/process/exec.go#L217-L230

[2020-03-11 20:12] pierreozoux commented on #3511
I'm using kubernetes, so in my case yes, but I guess it can be helpful for anybody.

Before asking, I actually checked the doc of containerd and runc, didn't see such option.
Now you responded, I checked CRI part and google, still no luck :)

Is there a way?

[2020-03-11 21:00] crosbymichael commented on #3511
Not that I know of.  This would have to be a CRI setting because generating the config happens in the CRI code, we couldn't make this a setting on the containerd daemon, it has to be up to the clients of containerd.

[2020-03-11 21:41] liggitt commented on #4068
it's unclear from the error whether the deadline that was exceeded was the 30 second one or a deadline inherited from the wrapped context

[2020-03-12 02:38] bluefriday opened #4101 "Failed to ctr push with non latest tag"
**What is the problem you're trying to solve**
I've tried to push/pull test for using ctr in my custom registry service.
Even though success to push/pull with latest tag, I failed to push with 'non-latest' tag
(I think ctr doesn't support docker's tag command)

**Describe the solution you'd like**
Can I change the tag name using 'ctr command' or push it to a 'non-latest' tag?

**Additional context

[2020-03-12 13:17] fuweid commented on #4101
thanks for reporting. could you mind to show the result `ctr image ls | grep 5001` ? I am not sure that you pulled the image into your local ..... docker doesn't have used containerd to manage image store yet.

[2020-03-13 02:02] bluefriday commented on #4101
Thanks a lot! I didn't know if containerd and docker use different local storage.
My containerd local storage didn't have that image, so it wasn't being pushed.
But I couldn't change the tag with ctr command, so I used the docker client.
Is there any way to change the ctr image tag?

[2020-03-13 02:16] fuweid commented on #4101
Hi @bluefriday . I think you are using v1.2.x containerd version. You use containerd v1.3.x or master, which provides tag functionality.

[code]

[2020-03-13 02:19] fuweid commented on #4079
Maybe we should add max concurrent goroutine limitation for push. 🤔

[2020-03-13 02:22] bluefriday commented on #4101
Great. Thanks for your reply for me.
I'll close this issue.

[2020-03-13 02:22] #4101 closed

[2020-03-13 02:28] #3923 closed

[2020-03-13 17:23] danail-branekov opened #4107 "Long process output is truncated when TTY is enabled and stdin is closed"
Hello,

After bumping containerd to 1.3.3 our CF Garden CI produced a failure on one of our tests.

The test would start a container process that prints the numbers to 1 million separated by a space and would expect the output to end with `999999 1000000` (i.e. it is complete). The test would also run the process with TTY enabled and would close the process `stdin` once it is started. Unfortunatel

[2020-03-13 20:08] niedbalski opened #4108 "[Regression] unsupported protocol scheme"
[Environment]

Kubernetes 1.16.17
Containerd 1.3.3
Ubuntu Bionic

[Description]

The following endpoint description works with containerd 1.2.X without defining
a protocol scheme. (/etc/containerd/config.toml).

        [plugins."io.containerd.grpc.v1.cri".registry.mirrors."niedbalski-bastion.cloud.sts:5000"]
          endpoint = ["niedbalski-bastion.cloud.sts:5000"]

This stopped working on 1.3.X

[2020-03-13 21:25] niedbalski commented on #4108
@dmcgowan or @crosbymichael let me know if you need any additional detail.

[2020-03-13 22:40] niedbalski commented on #4108
Reported in Ubuntu https://bugs.launchpad.net/bugs/1867398

[2020-03-14 01:39] robbieknuth opened #4109 "Error printed during "CPU Architecture" detection"
(searched for duplicates, couldn't find one).

**Description**
Original issue from https://github.com/docker/buildx/issues/238.

Looking to build images on my amd64 system for my aarch64 raspberry pi systems. When containerd is detecting my system arch, it is looking for a label in /proc/cpuinfo that does not exist.

**Steps to reproduce the issue:**
1. Install docker and buildx (https://github.co

[2020-03-14 02:10] estesp commented on #4109
Is there any step here you are doing with Golang re: cross-compiling that isn't stated above? You said: *Looking to build images on my amd64 system for my aarch64 raspberry pi systems* and the code you are linking to only runs if the Golang runtime thinks it is on an ARM system (`runtime.GOARCH == ..arm..`), so I'm curious what I'm missing as that code [should not run](https://github.com/container

[2020-03-14 02:28] robbieknuth commented on #4109
I am not an expert in all things go, so its possible I'm missing something. What I've just checked wrt xcompiling:

1. No GOARCH env variable set.
2. Just re-downloaded the linux-amd64 version of buildx again to make sure I hadn't mistakenly gotten the arm64 binary.
3. Tried explicitly setting the --platform arg on buildx to linux/amd64
4. Rebooted machine, just in case.

Still get this error.

I

[2020-03-14 03:04] estesp commented on #4109
Ah; yes so the [qemu based buildx feature](https://docs.docker.com/buildx/working-with-buildx/#build-multi-platform-images) very well could be running this check in an emulated environment? @tonistiigi is there anything new here to worry about or is this error always spit out? I guess a cleaner way would be to add some support for sensing qemu emulation and setting some default variant appropriate

[2020-03-14 22:19] #3971 closed

[2020-03-16 10:58] jinnko opened #4112 "Segmentation fault on startup on armhf"
**Description**

Fresh install on Raspbian 10 Buster and it's not possible to start containerd as it always exits with a segfault.

**Steps to reproduce the issue:**
1. Follow [docker-ce installation instructions](https://docs.docker.com/install/linux/docker-ce/debian/)
2. During installation docker fails to start, but in fact that's because dependency containerd failed to start

**Describe the re

[2020-03-16 11:34] thaJeztah commented on #4112
@tiborvass @tonistiigi @ehazlett ptal

[2020-03-16 14:04] payall4u commented on #4020
@tedyu
Sorry for replying so late. I met the same situation many times. And I repainted that picture.
![image](https://user-images.githubusercontent.com/8684541/76765086-d4d7ea80-67d0-11ea-9283-109ceea19238.png)
It's look like this. When delete task cri will call `task.Delete(ctx, containerd.WithProcessKill)`, and WithProcessKill will call runc to kill container again. It will ignore some errors,

[2020-03-18 04:55] stevenj opened #4117 "Containerd preventing zfs from mounting /opt"
Containerd is populating /opt before zfs mounts my /opt during boot.  This prevents zfs from mounting /opt because there is already data created by containerd in there.  How do i stop this from happening?  How do i delay containerd creating files until after the filesystem is fully mounted.

The only workaround i have is forcibly delete anything containerd creates in opt and issue zfs mount -a fro

[2020-03-18 05:36] #3931 closed

[2020-03-18 09:52] AkihiroSuda commented on #4117
Probably you need to add `zfs.target` in the `After=` line https://github.com/containerd/containerd/blob/2899cb231a60e8f3ead9894285b89fb272f07597/containerd.service#L4

[2020-03-18 16:37] cpuguy83 commented on #4020
cri-containerd is already ignoring `IsNotFound` errors on `task.Delete`.
It looks like, especially based on the error message, that the shim is not converting the runc error to a containerd `NotFound` error.

[2020-03-18 16:41] cpuguy83 commented on #4020
It looks like this is totally different on master.

[2020-03-19 01:26] payall4u commented on #4020
It looks like, especially based on the error message, that the shim is not converting the runc error to a containerd NotFound error.

Yeah, I think modifying the function to the following format will work.
[code]

[2020-03-19 05:33] lugeng opened #4118 "image push occurs 400 bad request"
I build and push image with buildkit, and  sometimes meet such error while push image (with containerd):

And I found this type of error was point out at
https://github.com/containerd/containerd/blob/2899cb231a60e8f3ead9894285b89fb272f07597/remotes/handlers.go#L218

But I'm not clear about what it means, and how to avoid such error；

@estesp

[2020-03-19 05:35] lugeng commented on #4118
@AkihiroSuda
@fuweid
@tonistiigi

[2020-03-19 05:59] lugeng commented on #4118
#1772

[2020-03-19 06:00] lugeng commented on #4118
[Error on pushing manifest list #1772](https://github.com/containerd/containerd/issues/1772)

[2020-03-19 06:00] #4118 closed

[2020-03-19 13:48] fuweid commented on #4068
Will take a look on this. Thanks for reporting this !

[2020-03-19 15:32] crosbymichael commented on #4117
Yes, this needs to be updated in your init scripts to correct the order.

[2020-03-19 15:32] #4117 closed

[2020-03-19 20:34] cpuguy83 commented on #3894
For docker's packaging: https://github.com/docker/containerd-packaging/pull/141

[2020-03-20 14:13] stevenj commented on #4117
Adding `zfs.target` to the `After` didn't fix the issue.

[code]

[2020-03-20 20:00] crosbymichael commented on #4117
did you clear out those directories first before rebooting the system?

[2020-03-21 06:48] stevenj commented on #4117
Yes I did.  I clear them out after every reboot because I can't use my system without /opt being mounted.

After every boot all i have in `/opt` is `/opt/containerd` and it has been freshly created.

I `sudo rm -rf /opt/containerd` and `sudo zpool mount -a` and that properly mounts /opt after every boot.  But when I reboot, i have to repeat this process.

[2020-03-21 11:24] rgl opened #4119 "Windows binaries missing from the release page"
**Description**

At the https://containerd.io/ homepage there's this paragraph:

But at the release page (e.g. https://github.com/containerd/containerd/releases/tag/v1.3.3) there is only the linux binaries (e.g. containerd-1.3.3.linux-amd64.tar.gz).

**Describe the results you expected:**

A windows binary in the release page.

[2020-03-21 14:05] ustiugov opened #4120 "Pass log-level argument to shims"
**What is the problem you're trying to solve**
Currently, containerd does not pass the log-level argument to shims (see [1](https://github.com/containerd/containerd/blob/97ca1be06752cf220f1fa91ae8ececa0461dc284/runtime/v2/shim/shim.go#L100), [2](https://github.com/containerd/containerd/blob/97ca1be06752cf220f1fa91ae8ececa0461dc284/runtime/v2/shim/shim.go#L128) and [3](https://github.com/containerd

[2020-03-23 08:34] deitch commented on #4019
Hi folks. Any update on this, or any good suggested workarounds? It is rather brutal, as you can imagine, when `/dev` gets blown away. :-)

[2020-03-23 15:23] ganeshmaharaj commented on #4078
@AkihiroSuda Unfortunately do not have the cluster in the same state anymore but if memory serves me right, I did not see anything interesting in the logs. Just said that is trying to pull the container image and just stays there. I will try to see if i can get a cluster back in that state to gather more logs.

[2020-03-23 16:01] crosbymichael commented on #4117
then that does not sound like the zfs dataset is being mounted before containerd starts and creates `/opt/containerd`  i'm running zfs on alpine so i'm not sure about systemd system, but is there a separate zfs-mount service?

[2020-03-23 18:28] TheDiveO commented on #3473
@crosbymichael is there some way to tell the client to downgrade to the version of the containerd daemon? The rationale is that the containerd installation might come from the OS packages, which usually lack behind. But in order to get the containerd client compiling at all, atm we need to use github.com/containerd/containerd@master. So there's plainly a catch-22 here...! :(

[2020-03-24 15:21] estesp commented on #4112
This seems like another report of https://github.com/moby/moby/issues/38175, although it appears if this is still happening for some subset of rPi's that there is still an issue that wasn't solved by 1.2.10 (from the moby/moby issue).

We don't build or package the containerd.io package--that's part of Docker's packaging--so unless there is a coding change that can better accommodate `armv6l` I'm

[2020-03-24 15:22] estesp commented on #4119
Who is building and/or releasing containerd for Windows? @Random-Liu or @jterry75 do you all know?

[2020-03-24 16:36] jinnko commented on #4112
Thanks @estesp - I've raised a ticket on moby/moby.  Happy for this ticket to be closed if you think that's appropriate.

[2020-03-25 00:05] gun1x commented on #3031
Running a basic app still fails:
[code]

with the following error:
[code]

[2020-03-25 00:23] dims commented on #3031
@gun1x try the following require(s) in your go.mod

[code]

[2020-03-25 00:27] gun1x commented on #3031
That worked. it would help to have stuff like this in the docs here: https://github.com/containerd/containerd/blob/master/docs/getting-started.md

[2020-03-25 01:52] AkihiroSuda commented on #3726
ping @Zyqsempai

[2020-03-25 05:54] stevenj commented on #4117
Yes there is.  My system has been running zfs for a long time, through many system upgrades.  I suspect there may be an issue because I am mounting using the original mount systems of zfs which are handled with zfs-mount.service   BUT i just read there is a new way using zfs-mount-generator which SEEMS to run earlier in the boot process.

When I get a chance, I will migrate my system to use zfs-mo

[2020-03-25 14:43] crosbymichael commented on #4117
Could always try `After=zfs-mount` to see see if that fixes it

[2020-03-25 15:20] Zyqsempai commented on #3726
@AkihiroSuda Yes, but unfortunately I will be able to work on it only on the next week.

[2020-03-25 16:05] fuweid commented on #4068
In my vagrant box with 4cpu4GB and high load with`resource-consumer`, I didn't reproduce it :joy: @rtheis Do you have any history metrics data about IO?

[2020-03-25 16:58] rtheis commented on #4068
@fuweid I don't have any I/O metrics data for these failures.

[2020-03-26 04:56] awprice opened #4127 "EBUSY on overlayfs when pulling images"
**Description**

We've recently upgraded from 1.2.5 to 1.2.13 and we've noticed the occasional error when pulling images through CRI/kubernetes. We've had great difficulty trying to replicate this, but reverting back to 1.2.5 seems to solve the issue.

There are a large number of versions between 1.2.5 and 1.2.13, so we aren't sure which version it was introduced in.

We don't think it it's limite

[2020-03-26 05:00] fuweid commented on #4127
could you mind to use `lsof | grep /var/lib/containerd/tmpmounts` to check who using it? might be some pods are using the `/var/lib` folder.

[2020-03-26 05:02] awprice commented on #4127
@fuweid Should this be run when the error occurs?

[2020-03-26 05:11] fuweid commented on #4127
Yea.

[2020-03-26 05:15] awprice commented on #4127
`lsof | grep /var/lib/containerd/tmpmounts` didn't seem to pick anything up.

The paths are still present however:
[code]
and mounts still present:
[code]

Hope this helps

[2020-03-26 05:38] fuweid commented on #4127
[code]

what is mount point identified by `182`? and does it still fail to umount `/var/lib/containerd/tmpmounts/containerd-mount888152505` manually?

[2020-03-26 06:22] cgxu519 opened #4128 "Storage size limitation"
**What is the problem you're trying to solve**
Storage size/inode limitation for containers to prevent storage resource exhaustion on host.

[2020-03-26 06:42] awprice commented on #4127
The mount at ID `182` is raid volume for `/var`:
[code]

I was able to remove it manually successfully:
[code]
Maybe it is a race condition when the image is being pulled?

[2020-03-26 07:15] fuweid commented on #4127
I meet the issue before: some pods mounted host rootfs into container and watched file change event, like mount, remove and so on. When containerd umount it, and process in container still reads file in the mount point, the umount actions will fail.

If you can umount it manually after error and there is not error related to overlayfs in kernel message, I think there are some processes using it in

[2020-03-26 22:42] niedbalski commented on #4108
This commit fixes the issue https://github.com/containerd/containerd/commit/a022c218194c05449ad69b69c48fc6cac9d6f0b3

[2020-03-27 00:37] awprice commented on #4127
We do have pods with `hostPath` for paths inside `/var/lib`, e.g. `/var/lib/calico`, but not for `/var/lib/containerd`.

See above in the issue post - `but reverting back to 1.2.5 seems to solve the issue.` This suggests it's a change in containerd and not a pod/process on the host causing the issue.

[2020-03-27 00:49] awprice commented on #4127
We are going to work on trying to determine which containerd release introduced this issue. I'll update this ticket with our findings.

[2020-03-27 05:13] fuweid commented on #4127
https://github.com/containerd/containerd/compare/v1.2.5...v1.2.13 might I miss something, but I didn't see any change related to this one. the mount point name is unique and used during applying one layer into snapshotter.

You can umount it manually after error and it is not like fd leak like https://github.com/golang/go/issues/33405.

Hope that it can help

[2020-03-27 06:29] mxpv opened #4131 "Proposal: Sandbox API"
I’d like to bring up a discussion about Sandbox API in containerd.

Apparently we can not deny growth of popularity of containers with various flavors, such as Pods (e.g. a group of containers with shared namespace) or secure environments (aka micro VMs), like
fircracker-containerd, EKS on Fargate, or Kata containers.

On the other hand we need a path forward for higher level entities (container m

[2020-03-27 19:38] AkihiroSuda commented on #4128
duplicate: https://github.com/containerd/containerd/issues/759

[2020-03-27 19:38] #4128 closed

[2020-03-30 03:48] yylt opened #4133 "container can not create for reason `OCI runtime create failed: container with id exists`"
**Description**
There is a registry container,

[code]

it will  failed to run again after  run below commands

[code]

**Steps to reproduce the issue:**
1.  create container by ctr `ctr -n k8s.io -d --log-uri /tmp/img/t.log --net-host --mount type=bind,src=/var/lib/registry,dst=/var/lib/registry,options=rbind:rw registry:v2 registry`
2. kill container by sub commands `task` and `container`
3. run

[2020-03-30 03:55] yylt commented on #4133
Now , I have to add command like `rm -rf /run/containerd/runc/k8s.io/$container_name` after remove container, thus will solve this bug

maybe I omit some steps in remove container, have any other suggestion?

[2020-03-30 04:08] stevenj commented on #4117
Ok, adding `After=zfs-mount` has resolved the issue and now `containerd` is not preventing `/opt` from mounting.

Thankyou for the help.

[2020-03-30 10:58] #4019 closed

[2020-03-30 11:05] deitch commented on #4019
Huzzah!

[2020-03-30 14:40] crosbymichael commented on #4117
@stevenj yah!  thanks for working with me.

[2020-03-30 14:47] stevenj commented on #4117
@crosbymichael You are more than welcome. :smiley:

[2020-03-30 19:28] crosbymichael commented on #4131
Seems like it should fit into containerd.

Is sandbox going to be the official name/term for what this is?

[2020-03-30 20:29] mxpv commented on #4131
`Sandbox` sounds good to me unless there are other proposals to discuss.

[2020-03-30 20:34] crosbymichael commented on #4131
so with this API, do you need a way to `Add` something to the sandbox?  how would you associate resources with it?

[2020-03-30 20:43] AkihiroSuda commented on #4131
Is this expected to be in v1.4 or in v1.5?

[2020-03-30 20:53] mxpv commented on #4131
@crosbymichael  Generally we'd want to have sandbox implementations to be responsible for resource allocations and clients just specify desired state.

Due to variety of resource types that might be needed for different sandbox implementations, it might be challenging to define a generic API for that. So containerd doesn't manage resources directly. It rather manages sandbox instances, that manage

[2020-03-30 20:57] mxpv commented on #4131
@AkihiroSuda  1.4 looks feature complete and close to betas. I'd prefer to have this in 1.5, so we have more time on polishing.

[2020-03-30 21:03] AkihiroSuda commented on #3958
should be fixed in v1.2.12

[2020-03-30 21:03] #3958 closed

[2020-03-30 21:04] clarkbw commented on #3291
Yes, we're actively working on a solution.  Give my team until the end of April and we'll have something for you all to test.

[2020-03-31 08:03] bergwolf commented on #4131
@mxpv Excellent proposal! This is going to be very useful for kata containers as well. I have one question, how is the `Update` sandbox API going to be called? Is there any plan to wire it up to the CRI interface (which has `UpdateContainer` but no `UpdateSandbox`)?

[2020-03-31 17:46] mxpv commented on #4131
Since CRI was designed more around containers, so there is no right place to put `Sandbox.Update` yet, but this API is a good place to start.

Specifically `UpdateContainerResourcesRequest` targets container instances, not Pods, so it's unlikely we can apply it on sandbox level (since it's optional we can't just sum it up for all containers).

In longer perspective, with better support from CRI, `

[2020-03-31 18:55] crosbymichael commented on #4131
do you have an idea on how higher levels will interact with this new api?  with cri-containerd need to be updated to take advantage of these APIs to replace that pause container?

[2020-03-31 19:18] mxpv commented on #4131
Right, `cri-containerd` would need to be updated to utilize sandbox API. Whereas "pause" containers logic moves to a "sandbox" plugin (becomes a variant of sandbox implementation). Sandbox plugins can replace one another or used side by side (so we specify "name" similarly to snapshotters). This way we have all sandbox implementations work with Kubernetes (see "Proposed" diagram above).

[2020-03-31 19:31] crosbymichael commented on #4131
Sounds good to me.  thanks

[2020-04-01 01:45] yylt commented on #4127
Hi, @awprice  maybe you can use `systemtap` tool to watch which process use this directory

[2020-04-01 02:14] hligit commented on #4009
The theory is since signals are blocked during forking, the child process might finish before the parent unblocking signals, signal SIGCHLD would not be delivered. After that, parent wait4(child) would fail because the child process was already reaped.

After applying below change, I managed to reproduce the issue easily.
[code]

I think a pipe may better suited for communicating status from child

[2020-04-01 06:32] adarsh-zededa commented on #4127
I have been working on integrating containerd in https://github.com/lf-edge/eve and faced this issue when we called `Image.Unpack()` API.
We were using `containerd v1.1.1`.
So far I have seen this issue only once. Now we upgraded contained to v1.3.0 and haven't seen this issue so far.

[2020-04-01 22:59] awprice commented on #4127
We've managed to narrow down the version of containerd that introduces this issue for us: **1.2.11**.

After upgrading from 1.2.10 to 1.2.11, the issue started occurring again. Here you can find the changes between the two versions: https://github.com/containerd/containerd/compare/v1.2.10...v1.2.11

There's a handful of things we'd like to try next:
 - We noticed the Go version used changed betwee

[2020-04-02 08:25] #4133 closed

[2020-04-03 05:09] AkihiroSuda commented on #4108
@dmcgowan @estesp Can we release v1.3.4 soon?

[2020-04-03 09:47] candlerb opened #4141 "containerd switching to HTTPS for HTTP registry after failed HEAD request"
**Description**

*(I am seeing this problem with containerd 1.2.5 bundled with microk8s 1.17 snap. I realise this is not latest code, but I'm reporting it here as I can't find a github issue mentioning it before. I'm also not 100% sure if this is containerd or microk8s issue.)*

The problem: when k8s+containerd is configured to use HTTP to a repository, and you try to fetch an image where the tag

[2020-04-03 14:10] mariuskiessling opened #4142 "Image pull stuck when using a registry endpoint list"
This could be a duplicate of #4078. I however still think that we are hitting a different issue.

**Description**
We are running containerd v1.3.3 as the container runtime for k8s. While introducing `Kraken` as a peer-to-peer image distribution layer, we started experiencing random appearances of Pods being stuck in `PodInitializing` or `Init` state. The k8s event for which this is happening is al

[2020-04-03 15:21] errordeveloper commented on #3762
In case anyone else reads this, I faced same issue with containerd 1.3.3 running in kata pod, turned out it was to do with `/var/lib` being on a 9p filesystem, which doesn't support `mknod`. For my use-case It was sufficient for to set `root = /run/containerd/root` and `state = /run/containerd/state` in the containerd config file, as `/run` is a `tmpfs` and I also got some performance improvements

[2020-04-04 02:52] mxpv opened #4154 "Ocasional containerd crashes on CI"
I started seeing this while migrating integration tests on Github actions ([1](https://github.com/mxpv/containerd/runs/559730091?check_suite_focus=true)), but then noticed that it's quite often happens on Travis as well ([1](https://travis-ci.org/github/containerd/containerd/jobs/670725782), [2](https://travis-ci.org/github/containerd/containerd/jobs/670613704), [3](https://travis-ci.org/github/co

[2020-04-04 09:47] fuweid commented on #4009
@hligit I used golang1.11.5 to build v1.2.5 and tried to reproduce this issue with your patch but still don't see this issue.

[code]

The `beforeFork` will block all the signals and `afterFork` will unblock the original signal set. If `SIGCHLD` acts during the window, the parent thread will receive the signal after `afterFork`.

Just curiosity, when you see that error, is there any zombie contain

[2020-04-04 10:08] fuweid commented on #4141
Hey, the cri-containerd will use your mirror settings to retrieve data first. For your case, if the tag is NONEXISTENT, it means that your mirror settings is wrong and cri-containerd will fallback to use default setting which uses https for request.

I don't think it is bug and just please make sure your image is correct. :)

[2020-04-04 12:30] candlerb commented on #4141
OK, I think I understand: "mirrors" doesn't configure the URL for a repository, but a *different* URL to try first.

Is there a better way to tell containerd "127.0.0.1:32000 is the authoritative source, and by the way, it always uses http?"

I note that containerd 1.3.0+ has per-registry [tls settings](https://github.com/containerd/cri/blob/master/docs/registry.md#configure-registry-tls-communica

[2020-04-04 22:09] ibuildthecloud commented on #4131
What's the fundamental difference from CRI? Would it make sense to just enhance CRI? CRI does not need to be k8s specific, I personally would love to see CRI expanded beyond only the needs of k8s.

[2020-04-05 00:30] mxpv commented on #4131
@ibuildthecloud  Let's start from high level requirement here: "we're looking for a way to run microVM based containers on Kubernetes (1) and/or via containerd (2). We can do it together (via `cri-containerd` which implements CRI and uses containerd) if we want containerd runtime or these can be used independetly (like firecracker-containerd does today, it's purely containerd extensions).

This re

[2020-04-05 05:46] mxpv commented on #4154
A bit more info with `GODEBUG=gccheckmark=1`. This should be something related to unsafe and/or raw pointers.
[code]

[2020-04-05 05:59] mxpv commented on #4154
I was able to track down the faulty commit, it looks like that this problem started appearing on a83927d5f13a2f90365a340382795a3de89e9cd3

[2020-04-05 06:12] mxpv commented on #4154
Confirmed: https://github.com/etcd-io/bbolt/issues/214

[2020-04-05 14:33] #4154 closed

[2020-04-06 00:01] hligit commented on #4009
SIGCHLD is not blocked by other threads, which may have processed it. Especially since `runtime.LockOSThread` is executed before `forkAndMountat`, the reaper is guaranteed to be executed in another thread.

This is demonstrated in the strace log below.
[code]
And no zombie has been observed.

<details>
  <summary>Full strace log</summary>

[code]

</details>

[2020-04-06 02:53] fuweid commented on #4009
@hligit thanks! I am still trying to reproduce it. Still no idea who is reaper. The os/exec package is waitpid for the specific pid and wait4 for pid. In go runtime, the sigHandler is to send SIGCHLD for notify, but not as a reaper.

[2020-04-06 04:22] hligit commented on #4009
The trace in my last comment was captured last week and it might be confusing. Just reproduced the issue again and with signal traces enabled. SIGCHLD of pid 6979 was delivered to the shim(6969) and wait4-ed by 6978(reaper?).

The only other `unix.Wait4` is in package sys.reaper.

[code]

<details>
  <summary>Full strace log</summary>

[code]
</details>

[2020-04-06 04:46] fuweid commented on #4009
Yeah. I reproduced it! I repeat to run job container per second and at the meantime, I unpack image. Will update it later. Thanks @hligit

[2020-04-06 05:28] fuweid commented on #4009
The shim acts like systemd and watches `SIGCHLD` signal.

https://github.com/containerd/containerd/blob/v1.2.5/runtime/v1/shim/client/client.go#L134-L139
[code]

And The shim will mount rootfs. If the mount is overlayfs and there are too many layers out there, the SIGCHLD signal might be received by shim first. That is root cause.

I was trying to reproduce it with multiple pulling image and faile

[2020-04-06 05:39] hligit commented on #4009
Since the shim has [set the child subreaper attribute](https://github.com/containerd/containerd/blob/v1.2.10/sys/reaper_linux.go#L40), all descendents of the shim will be reaped. I don't think zombie is an issue here.

The pipe is mainly for passing the `chdir`/`mount` results back and reporting errors if necessary.

BTW, I'm testing a [patch](https://github.com/hligit/containerd/commit/4eb6a53531

[2020-04-06 05:48] fuweid commented on #4009
@hligit Thanks. I think you can bring pipe back 😂 I handled it at the beginning https://github.com/containerd/containerd/pull/2502#discussion_r206579087.

[2020-04-06 05:49] fuweid commented on #4009
I added some comments and welcome to file patch!

[2020-04-06 09:18] hligit commented on #4009
Thanks for the link, @fuweid ! Interesting that pipe was your initial implementation. I guess child subreaper wasn't in place when you were working on the feature.

I'll raise a PR tomorrow.

[2020-04-06 09:27] fuweid commented on #4141
@candlerb https is by default for registry. The mirror setting is to allow user to setting up insecure request (http).

[code]

For your case, it is just non-found image which makes cri-containerd to file other request to fetch image. It might confuse us when we read the error. But I think it is acceptable :P

[2020-04-06 11:38] candlerb commented on #4141
I don't think this behaviour is very good.

Containerd treats a 404 as "contact the origin again using HTTPS".  Therefore, instead of simply returning "this image does not exist", it returns an error about a HTTPS server returning a HTTP result, which is confusing, and makes a simple problem hard to debug.

Suppose the registry returned some other 4xx or 5xx error, like a permissions problem.  Wou

[2020-04-06 14:02] amouat commented on #3071
I see this #3522 closed via #4110. Is there work on-going here? Is there anything I can do to help?

[2020-04-06 14:15] estesp commented on #3071
@dmcgowan wrote an implementation that included those other ideas that was recently merged into master; definitely worth having someone doing some more testing to validate but would require using a nightly until we have some early 1.4 builds; see the initial impl here: #4138

[2020-04-06 14:19] thaJeztah commented on #4141
Perhaps I don't understand, but if you're referring the image as `127.0.0.1:32000/kafka:xxx`, should it be configured as a mirror? Wouldn't a mirror only be configured if you (e.g.) want to pull `docker.io/library/foo` but are mirroring the content on a local registry? So when pulling `docker.io/library/foo:latest`, instead it should try to pull `127.0.0.1:32000/library/foo:latest` ?

[2020-04-06 14:59] candlerb commented on #4141
Is there another way?

The Kubernetes deployment contains:

[code]

but if I *don't* configure a mirror, I can't see a way to tell containerd to use HTTP rather than HTTPS.

[2020-04-06 17:46] amouat commented on #3071
Thanks, Phil was just checking it was still being worked on really. I'll test it out when 1.4 is released.

[2020-04-06 22:29] aaithal opened #4159 "shim logger processes never gets a SIGTERM"
**Description**
Because [shim logger processes are created](https://github.com/containerd/containerd/blob/89f9b300d80350c337d3ecf50cc5cc5a9f3157d0/pkg/process/io.go#L258) with `exec.CommandContext`, they never receive the [`SIGTERM` signal](https://github.com/containerd/containerd/blob/9ed2c0aa021948d405b54e1d6ea7fde63bd8cd60/runtime/v2/logging/logging.go#L56) when they are killed by the shim proc

[2020-04-07 08:19] ydcool opened #4161 "Crashed with 'fatal error: unexpected signal during runtime execution'"
**Description**

containerd crashed with fatal error: unexpected signal during runtime execution

**Steps to reproduce the issue:**
Not clear for now.

**Describe the results you received:**
crash logs:
<details>
<pre>
Mar 21 05:33:39 mgt13 containerd[1076]: fatal error: unexpected signal during runtime execution
Mar 21 05:33:39 mgt13 containerd[1076]: [signal SIGSEGV: segmentation violation code=

[2020-04-07 14:19] crosbymichael commented on #4159
Makes sense as something we should do for these processes.  Thanks

[2020-04-07 19:29] gggeek commented on #3347
Hello.
I seem to be having the same problem - after a system crash, docker service refuses to start (containerd does start though).

the error seems to start with:
[code]

I have manually moved a few containers away from /var/lib/conatinerd - the ones which were explicitly mentioned in the log, but still the problem persists.

Is there a way to find out which corrupted contaniers are preventing do

[2020-04-08 02:04] hligit commented on #4009
@fuweid The patch works good in our production cluster. We haven't observed the same container task failure since.

Cloud you help review the https://github.com/containerd/containerd/pull/4160 again? Thanks!

[2020-04-08 10:41] AkihiroSuda commented on #4161
Go runtime version?

[2020-04-08 14:14] yulianedyalkova commented on #4107
Hey! Is there any progress on this? It's actually blocking us from bumping containerd in Garden (Cloud Foundry).

[2020-04-08 15:41] fuweid commented on #4009
@hligit sorry for late reply. Updated my comment, PTAL. Thanks!

[2020-04-08 17:14] #4159 closed

[2020-04-09 03:14] hligit commented on #4127
Things @awprice and I have tried since the last update:
* v1.2.12: over 100 occurrences in 24 hours
* v1.2.11: only 2 occurrences of the error were observed in 30 hours
* v1.2.11 built with go1.12.10, no occurrence

Then we deployed containerd v1.2.12 with below patch in one of our production cluster. For the last 3 days, we haven't observed the error.
[code]

Traces collected by `bpftrace` (on no

[2020-04-09 03:59] ydcool commented on #4161
go 1.11.8

[2020-04-09 04:22] AkihiroSuda commented on #4161
Can you try go 1.13?
1.11 already reached EOL.

[2020-04-09 04:31] ydcool commented on #4161
Well I'll try it, thank you

[2020-04-09 04:54] fuweid commented on #4127
@awprice @hligit which version of go you were using before? it is related to golang/go#33405?

[2020-04-09 05:13] hligit commented on #4127
We use off-the-shelf containerd v1.2.12, which should be built with Go 1.12.16. Go1.12.16 has the bug fix you mentioned [backported](https://github.com/golang/go/blob/go1.12.16/src/os/removeall_at.go#L160).

[2020-04-09 08:59] vimekala commented on #3667
I am always able to reproduce it on my environment.

[2020-04-09 15:50] fuweid commented on #4127
I still am thinking that the fd is leaking to some short-life exec commands, like cniAdd/Delete :(

As you said @hligit , `v1.2.11 built with go1.12.10, no occurrence` which go version will raise the error? < go1.12.9 version?

[2020-04-09 15:54] #4009 closed

[2020-04-09 16:03] fuweid commented on #4009
@hligit finally close it. Thanks for your patience

[2020-04-10 01:12] Vanient opened #4177 "shim will stuck if go-runc stucks because runtime not return"
**Description**

If runtime.Create(or other commands) process stuck and not return, shim will wait for runtime process return, any other command to the container will stuck and can not execute successfully any more.

How about add timeout for command invoke in go-runc?

[2020-04-10 11:14] hligit commented on #4127
@fuweid  We have seen errors by Containerd 1.2.12 (go1.12.16) and Containerd 1.2.11 (go1.12.13). No such error is observed by previous containerd versions 1.2.5(go1.11.x) to 1.2.10(1.12.10).

The close-on-exec flag issue was [fixed by go1.12.9](https://github.com/golang/go/compare/go1.12.8...go1.12.9).

[2020-04-11 05:46] fuweid commented on #4127
@hligit well. I found the out-the-shelf container v1.2.12 was build by `go1.12.7` 😂

[code]

and this is 1.2.5 build by `go1.11.5`
[code]

and this is 1.2.10 build by `go1.12.10`

[code]

[2020-04-11 05:53] fuweid commented on #4127
@awprice @hligit I am not sure that which version is used in your v1.2.11 containerd. I still think it is wrong golang version to cause fd leak to cni binary call.

https://github.com/containerd/cri/blob/release/1.2/pkg/netns/netns.go#L93

But cni binary call will not read the tmpmount dir but it holds that fd. Since it is short life call, you can umount tmpmount manually after error. And it is mo

[2020-04-11 15:01] better0332 commented on #3726
@Zyqsempai +1

[2020-04-12 12:33] cyron opened #4180 "selinux not working under containerd with selinux-enable=true"
**Description**

I have two k8s cluster, one using docker and another using containerd directly, both with selinux enabled. but I found selinux not actually working on the containerd one, although this two cluster have the same version of containerd and runc.

did i miss some setting with containerd?

**Steps to reproduce the issue:**
1. enable selinux by setting [enable_selinux = true] in /etc/co

[2020-04-12 14:58] dims commented on #4180
@cyron this is possibly a problem already fixed in kubernetes https://github.com/kubernetes/kubernetes/pull/87658 https://github.com/kubernetes/kubernetes/pull/86027

[2020-04-13 00:22] cyron commented on #4180
@dims
I noticed the message show in containerd systemd status, looks like rpm from centos didn't build with selinux support.

[code]
and I checked the Makefile, no selinux support. So should I compile containerd by myself with selinux support?

[code]

[2020-04-13 01:09] dims commented on #4180
@cyron i'd say give it a shot as `selinux` tag is needed ( https://github.com/containerd/cri/blob/master/vendor/github.com/opencontainers/selinux/go-selinux/selinux_linux.go#L1 )

[2020-04-13 04:39] r0bj opened #4182 "[Google COS] standard_init_linux.go:211: exec user process caused "permission denied""
**Description**

Executing command on GKE cluster with containerd image types (Container-Optimized OS with Containerd cos_containerd) failed:
[code]

The same command works fine on GKE with docker images (Container-Optimized OS cos):
[code]

**Output of `containerd --version`:**

[code]

**Any other relevant information:**
GKE version: 1.15.11-gke.1

[2020-04-13 05:44] cyron commented on #4180
@dims
I compiled the release/1.3 branch with **BUILD_TAGS := seccomp apparmor selinux** , it seems the "Selinux is not supported" gone.

[code]
but selinux still doesn't work as before.

[code]
any suggestion about this?

[2020-04-13 10:20] dims commented on #4180
@cyron as shown earlier make sure kubelet is compiled with selinux tag too

[2020-04-13 11:55] cyron commented on #4180
@dims
thanks for your reply.
I tested it again under k8s v1.18.1, it included the pr you summited,but same problems.
https://github.com/kubernetes/kubernetes/blob/v1.18.1/hack/lib/golang.sh

and I have a question, why selinux works fine under docker and cri-o with the same kubelet,
but containerd doesn't.
even docker using the same version of containerd, maybe docerk implements selinux itself, not

[2020-04-13 12:30] dims commented on #4180
good question, i don't know the answer to ... can you check your runc as well? `grep 'selinux_stub\.go' runc` (if it contains the _stub, it was not built with selinux support)

Looks like docker-ce repo has standardized on all 3 switched on `seccomp apparmor selinux`:
https://github.com/docker/docker-ce/search?p=1&q=RUNC_BUILDTAGS&unscoped_q=RUNC_BUILDTAGS

[2020-04-13 19:07] minxuancao opened #4186 "Configure log to JSON format for container logs using shim logging plugin"
I have the exact issue as mentioned in https://github.com/containerd/containerd/issues/3955.

I copied problem statement here for reader's convenience.

What is the problem you're trying to solve
[code]

Describe the solution you'd like

[code]

I would like to try to use pluggable logging as discussed in https://github.com/containerd/cri/issues/1342, which points to the shim pluggable logging her

[2020-04-13 19:28] crosbymichael commented on #4186
Are you using containerd via cri or standalone?

[2020-04-13 19:41] minxuancao commented on #4186
via cri

[2020-04-13 19:47] chimeworld commented on #2231
I'd like to work on this if no one else is.

[2020-04-13 23:28] hligit commented on #4127
@fuweid Indeed Containerd v1.2.12 was built from golang 1.2.7. Thanks for tracking down that. I'll deploy a containerd v1.2.12 built with newer golang in our clusters and see if this fixed the issue.

[2020-04-14 02:30] AkihiroSuda commented on #3221
This is problematic because `/sys/class/net` entries are network-namespaced. Is there other workaround?

[2020-04-15 10:38] cyron commented on #4180
@dims
just some update.
I saw you submit #4184, and git it a try, but nothing changed.

1. build containerd using release/1.3 tag, add selinux to build tag in Makefile
GO_BUILDTAGS ?= seccomp apparmor selinux
[code]

2. build runc with selinux support
make BUILDTAGS='seccomp apparmor selinux'
[code]

3. enable selinux in config.toml

4. create k8s cluster using k8s 1.18.1
[code]

[2020-04-15 10:52] dims commented on #4180
@cyron we still need to get to the underlying issue, i am trying to make sure we fix known problems in build at the moment. we'll need someone who knows selinux well to debug. (cc @gnufied)

[2020-04-15 10:57] dims commented on #4180
@cyron as @gnufied mentions in https://github.com/kubernetes/kubernetes/issues/86080#issuecomment-597962097 as a sanity check, can you `kubectl exec` into one of the containers to check `cat /sys/fs/selinux/enforce`?

[2020-04-15 12:00] cyron commented on #4180
@dims
yes, the same result, no such file

[code]

[2020-04-15 13:05] cpuguy83 commented on #4180
What's the labels on the shim being used and runc?

[2020-04-15 14:23] cyron commented on #4180
@cpuguy83 @dims
Good catch!
I noticed that I forgot restorecon after compilation.
and now things back to first day.

[code]

and I got one answer from so, containerd doesn't fully support selinux.
https://github.com/containerd/cri/issues/1195

[2020-04-15 14:39] dims commented on #4180
@cyron Can you please leave some notes here on what you did for the next person who comes along? (or in our docs)

[2020-04-15 16:57] bountin commented on #3879
Hey @dmcgowan! I'm having the same problem, just with github packages.
Did you only verify it with containerd directly, or did you also manage to get it working in microk8s?

[2020-04-16 00:43] cyron commented on #4180
@dims
I built and installed runc and containerd, and found the destination directory is not **/usr/bin**,
but **/usr/local/sbin** and **/usr/local/bin**. so I moved them to /usr/bin, and forgot to run restorecon to restore file label.
so I should specify the path while running **make install**

[code]

[2020-04-16 01:09] dims commented on #4180
@cyron sounds like when setting [enable_selinux = true] in /etc/containerd/config.toml and start `containerd`, we can check `/proc/self/attr/current` to see if the process is confined/unconfined and labels as well. So we can warn or bailout early with a clear message. WDYT?

https://serverfault.com/questions/895946/cant-read-from-proc-self-attr-current-but-permissions-are-0666

[2020-04-16 06:06] cyron commented on #4180
@dims
It works IMHO.

[code]

[2020-04-16 10:09] dims commented on #4180
@cyron not talking about the workloads running in containers. you ended up with all this debugging because containerd did not warn that it was running as an unconfined process i was trying to figure out how to add a warning (or even quit) when containerd is unconfined when `enable_selinux` was true.

[2020-04-16 11:01] cyron commented on #4180
@dims
sorry for my misunderstanding.
read the link again, I assume you want to check weather security attributes of containerd  is **system_u:system_r:container_runtime_t:s0** or not by `/proc/containerd_pid/attr/current`.
I made mistakes on moving the compiled binary, it doesn't happen usually.

So if you want to add some check, something like `make selinux-test`, or add some hint to BUILDING.md.

[2020-04-16 17:00] marosset commented on #3897
/close
This isn't related to containerd and we're tracking the issue with https://github.com/kubernetes/kubernetes/issues/70189

[2020-04-16 22:42] hligit commented on #4127
@fuweid Confirm that the issue stopped occurring after deployed containerd v1.2.13 built with golang 1.12.17 in our production clusters. Thanks for the insight and help!

This issue can be closed.

[2020-04-17 01:20] awprice commented on #4127
Nice work @hligit! Thanks for the help @fuweid! Closing this out.

[2020-04-17 01:20] #4127 closed

[2020-04-17 02:28] fuweid commented on #4127
Thanks @awprice @hligit for your reporting. Good to hear that. And I will rebuild the release binary to replace it.

[2020-04-17 11:54] thaJeztah commented on #4112
Closing this ticket; we were able to resolve the problem: it turned out the `debian` packages were installed on a `raspbian` machine; https://github.com/moby/moby/issues/40733#issuecomment-615193596

I opened a ticket in docker's documentation repository to improve the installation docs to prevent this confusion; https://github.com/docker/docker.github.io/issues/10648

[2020-04-17 11:54] #4112 closed

[2020-04-18 20:09] arpitjindal97 opened #4196 "Not able to build on Darwin"
I want to start contributing to this project. I have MacBook and I'm unable to build the project.

Using Docker image It's building but then I'm unable to do `make test`

I tried to execute `make` from Darwin

[code]

This is the output I get.

`runc` is also not building on darwin

[2020-04-18 20:12] AkihiroSuda commented on #4196
export GOOS=linux

[2020-04-18 20:56] arpitjindal97 commented on #4196
binaries got build, but again `make test` is failing

[2020-04-18 21:33] AkihiroSuda commented on #4196
You need Linux for `make test`

[2020-04-18 21:33] #4196 closed

[2020-04-18 22:07] arpitjindal97 commented on #4196
So, I have installed Ubuntu on VMware Fusion. `make test` is failing.

Can you tell me what am I missing from below output ?

[code]

[2020-04-18 22:09] AkihiroSuda commented on #4196
You need Go 1.13. Go 1.14 is unsupported.

[2020-04-18 22:10] estesp commented on #4196
Work is still ongoing to resolve issues with Go 1.14 changes: #4050 has more information.

[2020-04-18 22:15] arpitjindal97 commented on #4196
Okay, I will use 1.13

[2020-04-19 16:19] arpitjindal97 commented on #4107
I tried to run your test with this modification and it executed successfully

[code]

Are you sure `CloseIO` should come after `Start` ?

[2020-04-20 11:46] arpitjindal97 commented on #4182
I tried running the image with this command:

    sudo ctr run gcr.io/kaniko-project/executor:debug-v0.19.0 test /busybox/sh

I faced no issue.

Output of **containerd -version**

    containerd github.com/containerd/containerd v1.3.0-504-g4f6c594d.m 4f6c594de32bfafea7defa62d6474955c7907c2f.m

Maybe updating the containerd version will fix the issue

[2020-04-20 13:13] arpitjindal97 commented on #4177
can u give any example to reproduce the issue ?

[2020-04-20 13:55] htfy96 commented on #2202
We also encountered similar issue on 19.03.8-ce on Fedora 31. For fellow subscribers, some issues at moby have the same error message at https://github.com/moby/moby/issues?q=is%3Aissue+is%3Aopen+shim+reaped . Maybe it's worth to take a look.

[2020-04-20 16:57] towolf commented on #4005
Works with 1.3.4, closing.

[2020-04-20 16:57] #4005 closed

[2020-04-20 18:05] krishnan-ramkumar opened #4200 "[Question] How to get enhanced metadata for container events ?"
Hi I am working with events and subscribe to the events using gRPC. Let us take an example event. TastExit.
It is defined as:
[code]
in api/events/task.proto

What I am looking for is more container metadata information. For example along with `container_id`, I would like the `container_name` as well. Is there any way to do that today ? Am I missing something ? Is there another way to get this met

[2020-04-20 18:17] cpuguy83 commented on #4200
Containers only have an ID which is defined by clients of containerd (or the cri plugin).
This is not like Docker which supports both a generated ID and a user-defined (or auto-generated) name.

You can use the id to look up the container in the container service.

[2020-04-20 18:26] krishnan-ramkumar commented on #4200
That is what I was suspecting. I wanted to see if I could get away with something simpler without the overhead of the lookup.
Thanks @cpuguy83  !

[2020-04-20 18:26] #4200 closed

[2020-04-21 20:32] joedborg opened #4202 "Native nvidia support"
Seeing https://github.com/NVIDIA/nvidia-docker#quickstart

I was wondering if this is coming to containerd, assuming this is an implementation in runc?  Or will we continue to need to add `nvidia-container-runtime` to the config.toml?

[2020-04-22 12:27] ArchiFleKs opened #4203 "how to configure systemd cgroup with 1.3.X"
**Description**

Trying to configure systemd cgroup in `config.toml`, I tried several configurations found [here](https://github.com/containerd/containerd/blob/v1.3.2/runtime/v2/runc/options/oci.pb.go#L26) and [here](https://github.com/containerd/cri/blob/master/docs/config.md):

[code]

[code]

[code]

When I run `containerd config dump` I can see a line ` [plugins."io.containerd.grpc.v1.cri".con

[2020-04-22 15:00] joedborg commented on #4202
Thanks @cpuguy83, are there any docs with how to use that?

[2020-04-22 15:44] cpuguy83 commented on #4202
`WithGPUs` is an `oci.SpecOpts`.
You can pass this into `WithNewSpec`: https://godoc.org/github.com/containerd/containerd#WithNewSpec
This is done when creating a container.

So something like:

[code]

[2020-04-22 16:34] thejettanderson commented on #3879
+1 for microk8s not being able to pull github packages with docker. It can't seem to resolve the digest

[2020-04-23 02:00] hairyhenderson commented on #2706
I seem to be hitting this occasionally running a `buildx build` like:

[code]

A sample failure log is here: https://github.com/hairyhenderson/gomplate/runs/610612798?check_suite_focus=true

This isn't consistent, but happens roughly 25-30% of the time. Usually triggering a new build will resolve it.

(@tonistiigi pointed me to this [in Slack](https://dockercommunity.slack.com/archives/C7S7A40MP/p

[2020-04-23 02:06] hairyhenderson commented on #2706
There is definitely an identical layer between the `arm/v6` and `arm/v7` variant of the image:

[code]

The common layer here is `sha256:263e0689b0e87ec3c01c7efae5f3efca0495d430a883d9ccff5ca7b549f5db61`, and I suspect it's the `/etc/ssl/certs/ca-certificates.crt` file that I [copy from a common stage](https://github.com/hairyhenderson/gomplate/blob/master/Dockerfile#L89).

[2020-04-23 07:47] BenTheElder commented on #3756
The workaround here is a problem https://github.com/mesosphere-backup/kubeaddons-configs/pull/285

https://github.com/kubernetes/k8s.io/blob/master/k8s.gcr.io/Vanity-Domain-Flip.md
https://groups.google.com/forum/m/#!topic/kubernetes-dev/MkXnkTSJ_vs/discussion
https://github.com/kubernetes/k8s.io/issues/157

TLDR google_containers is deprecated, everything should be using k8s.gcr.io which will mov

[2020-04-23 15:26] estesp commented on #3930
Kernel fix is now in progress; should come out in Ubuntu updates in May: https://bugs.launchpad.net/ubuntu/+source/linux/+bug/1857257/comments/22

[2020-04-23 18:20] arpitjindal97 commented on #4142
Try with version 1.3.4

It seems this issue is fixed in https://github.com/containerd/containerd/pull/4007

[2020-04-23 18:32] mariuskiessling commented on #4142
Thanks @arpitjindal97 for the feedback. I didn't notice the newer version because there wasn't a build in our package repo. Let me try it with v1.3.4 and get back to you!

[2020-04-24 14:11] mariuskiessling commented on #4142
I can confirm that v1.3.4 of containerd solves this issue. Thank you!

[2020-04-24 14:11] #4142 closed

[2020-04-24 16:23] ibuildthecloud commented on #3031
@Random-Liu One of the significant issues of moving to go.mod is that CRI uses the streaming server from k8s.io/kubernetes. Is there any effort to move the streaming server to k8s.io/streaming-server or something similar?  Until this happens go.mod in containerd will be a real headache.

[2020-04-24 16:50] arpitjindal97 commented on #4078
@ganeshmaharaj  can u give a try with version 1.3.4 ?

[2020-04-25 19:52] arpitjindal97 commented on #4203
Try this once `[plugins."io.containerd.grpc.v1.cri".containerd.default_runtime_name]`

[2020-04-26 10:21] fahedouch commented on #4182
Hello @r0bj

can you run `kubectl` with more verbosity to see traffic logs

[2020-04-26 11:14] vespian opened #4211 "No information in the logs on the dowload progress while pulling images"
**What is the problem you're trying to solve**
We launch some of our hosts on Azure where we sometimes see failed deployments with containerd having in the logs only:
[code]
and this is it. We *suspect* that the Azure networking is having issues, but we do not have any proof for it as containerd does not give any warnings whatsoever that the download is still in progress e.g. every 3-5 minutes. In

[2020-04-26 19:08] r0bj commented on #4182
It's really easy to reproduce eg. on newest (1.15.11-gke.9) GKE cluster:
[code]

[2020-04-27 04:06] fuweid commented on #4079
This is issue fixed by https://github.com/moby/buildkit/pull/1420. closing

[2020-04-27 04:06] #4079 closed

[2020-04-27 22:22] ArchiFleKs commented on #4203
@arpitjindal97 I thought the `io.containerd.runtime.v1.linux` was legacy, I found that [here](https://github.com/containerd/cri/blob/master/docs/config.md) :

[code]

[2020-04-28 07:57] yylt opened #4215 "ctr push image which saved by docker will failed: unexpected status: 400 Bad Request"
**Steps to reproduce the issue:**
1. use docker save image , `docker save -o b.tar hub.my.io/foo:foo`
2. copy image into other node which containerd running
3. use `ctr i import` and `ctr i push`

**Describe the results you received:**
push failed for reason `400 Bad Request`
[code]
registry log info :
[code]

and i test use image which export by `ctr` , it's ok, something different
[code]

I am n

[2020-04-28 08:00] thaJeztah commented on #4215
@tonistiigi @dmcgowan ptal

[2020-04-28 10:53] vespian commented on #4211
More information on the matter:
* the issue was fixed in the systemd >=228, commit https://github.com/systemd/systemd/commit/9c8d1e1a712
* basing on the https://distrowatch.com webpage, some of the major distributions that still use systemds older than 228:
  * Ubuntu 14.04 LTS (204) - until 04.2022 with Canonical's extended support, standard support ended on 04.2019
  * Centos 7.8 (219) full upda

[2020-04-28 11:09] vespian commented on #4211
<removed a comment, pasted text into the wrong window :(>

[2020-04-28 14:53] ganeshmaharaj commented on #4078
Unfortunately I do not have a cluster with the size to re-create the issue that i initially saw. Kindly go ahead and close this bug and i will test out version 1.3.4 on my next chance. If the issue persists, i will re-open the bug.

[2020-04-28 18:44] arpitjindal97 commented on #4215
Relevant Issue: https://github.com/docker/distribution/issues/1662

[2020-04-28 23:47] mar-kolya opened #4217 "BTRFS plugin causes high CPU consumption"
When running with btrfs plugin containerd consumes a lot of CPU.

**Steps to reproduce the issue:**
1. enable btrfs
2. run with a few containers (tried on mictok8s)

**Describe the results you received:**

Observe CPU between 100% and 200%

With debugging enabled these appear in logs:

[code]

And same line (i.e. for same snapshots) appears multiple times within a few minutes.

**Describe the resu

[2020-04-29 06:46] lolin9 commented on #3291
@clarkbw Any news?

[2020-04-29 07:44] clarkbw commented on #3291
Thanks for checking in!

Dates slipped a little due to extenuating circumstances.

I’ll send a message to the maintainer group in mid May with the details for access and feedback.

Should be a public announcement by end of May.

[2020-04-29 16:50] arpitjindal97 commented on #4215
I tried with 1.3.4 also and was able to reproduce the error. Then I tried to compile the `master` branch, push worked but the digest of the Image changes.

There is size difference in few layers, to make sure it remains low I used below command

    sudo ctr image import --compress-blobs image.tar

[2020-04-29 21:56] dmcgowan commented on #4215
[root@node-1 tmp]# ctr i ls
REF                      TYPE
hub.easystack.io/foo:foo application/vnd.oci.image.manifest.v1+json

This is unexpected, I don't know where `application/vnd.oci.image.manifest.v1+json` is coming from in this case. Which version of Docker is exporting this?

[2020-04-30 01:43] yylt commented on #4215
@dmcgowan

there are two docker version
[code]

I also try uncompress image before import and after exported, it may helpful.
[code]

maybe it caused by this line?
https://github.com/containerd/containerd/blob/4be98fa28b62e8a012491d655a4d6818ef87b080/images/archive/importer.go#L222

[2020-04-30 11:54] ryanmjacobs commented on #3974
@purebluesong Purging `${containerd folder}/io.containerd.content.v1.content/ingest` fixed this issue for me

[2020-04-30 13:44] arpitjindal97 commented on #4215
If you try to compile containerd from master branch, then manifest will be `application/vnd.docker.distribution.manifest.v2+json`

[2020-04-30 15:14] ddgenome commented on #4182
The issue here is that the version of containerd running on GKE is mounting the `/busybox` file system using the `noexec` option, which results in the kernel refusing to run executables under that mount point.

This behavior seems to be specific to the version on containerd that GKE is running, as I cannot reproduce locally with a minikube cluster using containerd, i.e., `minikube start --containe

[2020-04-30 17:23] dmcgowan commented on #4217
Can you help us understand if this may be a bug in the calculation or a lack of optimization in the BTRFS snapshotter. The logs show the calculation for 9 different containers, are there considerable mutations on those container filesystems that would cause it do these content comparisons? If there is no changes in the filesystem, it shouldn't be doing these.

 That snapshotter could definitely us

[2020-04-30 17:29] mar-kolya commented on #4217
Thanks @dmcgowan for getting back to me.

Unfortunately I do not really understand what triggers those measurements for disk usage since I'm not very familiar with the code.

As far as I can see the result of that computation is not stored/cached - so maybe that is part of the problem (or maybe I'm missing something).

I think in either case this is not precise calculation. As far as I can see quo

[2020-04-30 17:36] dmcgowan commented on #4217
Yes, agreed, the quotas are not precise. The needs of the client would have to be better understood though. In most cases, getting the size of ephemeral storage (such as container filesystems) is intended to make higher level decisions around disk pressure and eviction, which do not necessarily need precise calculation. The calculation happens to be precise but very expensive in this case.

In ter

[2020-04-30 18:34] mar-kolya commented on #4217
I'm not sure I know how to answer that.

I observice this behaviour on literally empty cluster that was created with `microk8s`. Does this mean there should be no massive amounts mutations? Is there a good tooling to check this?

[2020-04-30 18:38] dmcgowan commented on #4215
That line just returns a list of the imported manifest, to match the expected archive behavior of OCI. The manifest which gets created and linked to will have the media type `application/vnd.docker.distribution.manifest.v2+json`.

[root@node-1 tmp]# ctr i ls
REF                      TYPE
hub.easystack.io/foo:foo application/vnd.oci.image.manifest.v1+json

This is what I am having trouble reproduci

[2020-05-01 07:04] yylt commented on #4215
@dmcgowan
[code]

[2020-05-01 10:07] skamenetskiy commented on #3291
Is there at least some workaround to make it work at the moment?

[2020-05-01 23:34] xsresearch commented on #3473
@TheDiveO This can be resolved by adding the line
`containerd.WithRuntime("io.containerd.runtime.v1.linux", nil),`
to the client.NewContainer call in the example which will allow it to run against earlier daemon versions.

[2020-05-04 18:04] lutzmi opened #4231 "Can't pull image because "no such host" / host can not be resolved."
This is probably more of a question than a bug report, but I could not figure out how to tag it appropriately :-(

**Description**

containerd can't pull an image from a local repository, stating that there is "no such host", even though the host is resolvable on that machine.
I am using containerd as part of a k3s installation on a Raspberry Pi.

**Steps to reproduce the issue:**
1. sudo ctr --de

[2020-05-04 19:08] AkihiroSuda commented on #4231
Via "plain old DNS", or via other resolvers like mDNS/LLMNR?

[2020-05-04 20:35] marosset commented on #4119
@kevpar Can you help look into this?

[2020-05-04 22:53] kevpar commented on #4119
We (Microsoft) don't currently release containerd for Windows. @estesp what would be needed to add a Windows build to the containerd release process?

[2020-05-04 22:59] marosset commented on #4119
I noticed there are windows binaries nightly builds of containerd at https://github.com/containerd/containerd/actions/runs/94784795
It would be good to include them in for releases as well.

[2020-05-05 07:29] lutzmi commented on #4231
I would think "plain old DNS". Is there a way I can find out for sure, or provide you with additional information?

Thank you!

[2020-05-05 07:46] AkihiroSuda commented on #4231
If `nslookup comp.local <IP address of your DNS>` works, you are using "plain old DNS"

[2020-05-05 07:47] AkihiroSuda commented on #4231
`resolvectl query --legend=true comp.local` may also produce interesting information if your host is configured to use systemd-resolved.

[2020-05-05 07:57] lutzmi commented on #4231
Yes nslookup works:
[code]
resolvectl gives:
[code]

[2020-05-06 07:44] zqzzq opened #4233 "ctr images pull failed: EOF"
**Description**
I have an image which can pull by docker:
[code]
but can't pull by ctr:
[code]
is there something I need to config?

**Describe the results you received:**

**Describe the results you expected:**
ctr pull image success

**Output of `containerd --version`:**

[code]

**Any other relevant information:**

[2020-05-06 09:02] chestack commented on #4133
I have encountered this as well occasionally

[2020-05-06 09:04] chestack commented on #4133
open

[2020-05-06 09:26] chestack commented on #4133
maybe caused by https://github.com/containerd/containerd/issues/3971

[2020-05-06 16:09] renzhengeek opened #4234 "[snapshots/devmapper] race window causing process IO hang"
**Description**

The issue beblow happens several times beforing the root
cause found:

      1. A `fdisk -l` process has being hung up for a long time;
      2. A image layer snapshot device is visiable to dmsetup, which
           should *not* happen because it should be deactivated after
           `Commit()`;
 The backtrace of `fdisk` is always the same over time:

[code]

**Steps to reproduce

[2020-05-06 16:32] renzhengeek commented on #4234
Some steps to narrow down:

# the fdisk process

- which device is waiting on?
[code]

- the stack
[code]
- the code
[code]
# the device state
- no inflight io
[code]

- but there is IO on deferred list
[code]
- why the IO cannot complete?
the device is suspened:
[code]

The responding flags are:
[code]

[2020-05-07 06:29] yylt commented on #4215
master branch had fixed

[2020-05-07 06:29] #4215 closed

[2020-05-07 06:42] yylt opened #4236 "can't run container in container for reason 'failed to mount /tmp/containerd-mount: read-only file system'"
mount ctr and containerd sock file into container, and try `ctr run` in container, but it failed

**Steps to reproduce the issue:**
1. in host terminal, `ctr run --privileged -t --mount type=bind,src=/home/xxx/gopath/bin,dst=/usr/local/bin,options=rbind:ro --mount type=bind,src=/run,dst=/run,options=rbind:ro kubernetes-entrypoint:v0.3.1 foo bash`
2. in container `foo`, try run another container, `

[2020-05-07 12:55] #4234 closed

[2020-05-08 09:24] milkwine opened #4240 "Code in "README.md" out of date"
https://github.com/containerd/containerd/blob/990076b731ec9446437972b41176a6b0f3b7bcbf/README.md#L157

https://github.com/containerd/containerd/blob/990076b731ec9446437972b41176a6b0f3b7bcbf/README.md#L187

`cio.Stdio` maybe out of date.

[2020-05-08 23:54] ajft commented on #4117
Affected by the same issue.  Home Ubuntu system that has been through many revisions and updates and has had zfs filesystems on it for many years.  As per recommendation above, adding `After=zfs-mount` has resolved the issue

[2020-05-09 00:04] AkihiroSuda commented on #4117
Could you open PR?

[2020-05-09 09:31] ShuYingya commented on #3667
check your iproute rpm package. maybe related to https://patchwork.ozlabs.org/patch/796300/

[2020-05-11 04:20] fuweid commented on #4240
Thanks @milkwine for reporting. Could you help us to file pr to this issue? thanks!

FYI, the containerd.io page has better guide for this. https://containerd.io/docs/getting-started/#creating-a-running-task

[2020-05-11 08:37] #4233 closed

[2020-05-11 14:50] fuweid commented on #4020
fixed by #4214 closing it

[2020-05-11 14:50] #4020 closed

[2020-05-12 06:53] haikuoliu opened #4249 "Containerd image layer cleanup during unpacking"
**Description**

Hi,

Our team uses containerd as our container runtime to run containers, we use overlayfs as our snapshotter, and recently we found an issue about unpacking image. Our storage is limited to 20GB, if we are pulling 12GB image with 3 x 4GB layers, docker can pull the image successfully, but containerd will fail with `apply failure, attempting cleanup\" error=\"failed to extract lay

[2020-05-12 12:00] haosdent commented on #4016
looks because due to could not find the state.json. happen in our env as well.

[2020-05-12 12:05] #4240 closed

[2020-05-12 12:31] haosdent commented on #4016
[code]

looks runc failed, but containerd still think it is created success.

[2020-05-12 20:10] marosset commented on #4119
/cc @cpuguy83

[2020-05-12 22:11] cpuguy83 commented on #4119
Should we build hcs shim along with it?

[2020-05-13 07:40] milkwine commented on #4236
I think you can't run a container in container directly by `ctr`.
`ctr` will mount snapshot layers to setup `rootfs`,  can't do these things in a container.

[2020-05-13 08:30] tsu1980 commented on #2202
In my case, this is caused by stackoverflow problem.

[2020-05-13 11:18] andreikom opened #4252 "Pushing with ctr 1.2.13 (only) to the docker registry - a 400 with "manifest invalid" will fail the deploy"
**Description**

ctr version 1.2.13 appears to be sending wrong header with a manifest deploy (PUT) which fails an image deploy with the below error:

`ctr: failed commit on ref "manifest-sha256:4c144ac2333af5526dfe7f53cc0ceb31f89aae78583fcba33fd743ef95fc9e3d": unexpected status: 400 Bad Request`

This **does not** happen with neither **1.2.12** nor with the **1.3.4** versions.

This is the captur

[2020-05-13 13:40] dmcgowan commented on #4252
Thanks for the report, something is definitely not right here. I'll look into it. Did you see this error with other images as well?

[2020-05-13 13:46] andreikom commented on #4252
thanks for replying this fast @dmcgowan. Yes, this happens for every image as it seems. For simplicity's sake, I've used here an older tag of busybox (1.27.0 is a non-manifest list/multi-arch image).

I'm not sure how to push a specific platform/tag without pulling with the --all-platforms first, and then pushing all of the platforms - but it reproduces with this case as well.

Will be happy to sh

[2020-05-13 13:49] dmcgowan commented on #4252
That is helpful. That's the difference I was curious about, I'll try with the same image.

[2020-05-14 16:32] cpuguy83 commented on #4236
Seems like you've mounted `/run` into the container, which means `ctr` will be trying to talk to containerd on the host.
This doesn't work without very careful setup.

In docker, the docker daemon is responsible for setting up the container.
With containerd, this responsibility is on the client (or `ctr` in this case).

[2020-05-15 00:57] seemethere commented on #4119
I can help with this, how are assets uploaded to the release in the first place?

I couldn't find any references in https://github.com/containerd/release-tool

[2020-05-15 01:14] keyingliu opened #4255 "exec leaves many defunct/zombie processes"
**Description**

**Steps to reproduce the issue:**
Not alway reproducible but happened frequently

**Describe the results you received:**
Here is the list of processes in container:
[code]
I run crictl exec <container-id> -it bash, and we can see the parent of bash is 0.
There are some defunct processes, the rprobe.sh is a script executed every 10 seconds by kubelet as we configured readiness prob

[2020-05-15 02:23] fuweid commented on #4255
Thanks for reporting. Could you mind to provide more information about pod description? Thanks

[2020-05-15 02:28] keyingliu commented on #4255
[code]
@fuweid it is a sidecar container.

[2020-05-15 04:28] dmcgowan commented on #4119
The `release-tool` just generates the tag and release notes. Travis doing the builds today. Since Travis is broken I have been building locally and pushing up. We hope to get these moved over to Github actions by 1.4 final. Hopefully ideally building windows and linux, and arm64 but that is a stretch goal right now.

[2020-05-15 06:36] johannesfrey opened #4257 "Containerd cannot create containers that mount paths containing double quotes"
**Description**

Containers running on Kubernetes that mount the `/var/lib/kubelet/pods` directory via `hostPath` are not able to be started if another container happens to mount a path via `mountPath` that contains double quotes.
The container with the `hostPath` transitions into `CreateContainerError` phase with following error:

[code]

The error comes from parsing the mountInfo: https://github

[2020-05-15 08:35] sofat1989 commented on #4255
if the script `/opt/rprobe.sh` are executed longer than `timeoutSeconds` and the script will fork child processes, it can cause this issue.
for example, create a script like this below and set the `timeoutSeconds`  to 1s
[code]
it will spawn two processes.
[code]
when the readiness probe timeout, it will kill the bash directly. and the bash have no duty to collect the children processes.  the slee

[2020-05-15 08:52] keyingliu commented on #4255
Thanks for pointing out, so it's not a bug, but misuse.

[2020-05-15 08:52] #4255 closed

[2020-05-16 20:10] fahedouch commented on #2402
@AkihiroSuda is it a desired state that the `overlay` snapshotter can't make this Operation inside a an  already `overlay` file system.  I belivive that is possible with priviligied userns but sometime this shouldn't be the need.

[2020-05-17 19:51] tonistiigi opened #4263 "Stream processors not supported by differ"
Despite the fact that stream processors are defined in the `diff` package they are not supported by the differ and only by implementations of `Apply()` function.

The differ continues to use hardcoded compression step, only supporting uncompressed and gzip. From the docs and the design intention, it seems quite logical that stream processors should be supported on both sides.

Looking at the code,

[2020-05-18 03:58] jwongz commented on #2202
Hi,all:
I resolve it by disable Transparent Huge Pages.It's Ok now

[2020-05-18 14:46] fuweid commented on #4263
SGTM

[2020-05-18 21:50] fahedouch opened #4267 "Pull default tag"
**What is the problem you're trying to solve**
What I want to expose with this ticket is to active default tag  if no `reference` ( `tag` + `digest`) exist when pulling image.

example :
`ctr i pull docker/libray/busybox`   ==>  `ctr i pull docker/libray/busybox:latest`

I checked the `moby` project and I found that docker implements this option using `TagNameOnly` function : [here](https://github

[2020-05-18 22:26] dmcgowan commented on #4267
Since `ctr` is not a supported tool and is not intended for delivering an end user experience, adding these sort of features is out of scope. The goal of the `ctr` tool is to exercise containerd internals for developers or those wanting to understand how containerd works. As such, containerd has no opinion about default tags and does not alter reference input. There are efforts to build end user t

[2020-05-18 22:26] #4267 closed

[2020-05-19 10:38] yylt commented on #4236
In fact, failed in this function:

https://github.com/containerd/containerd/blob/d7c4bda3b199b0db590a2762ba95275943a07551/oci/spec_opts.go#L699

if  `containerd daemon` check valid about user and group which writed in image,  `ctr run` will succeed

@cpuguy83  should it be implemented  in feature ?

[2020-05-19 15:46] estesp commented on #3491
No longer using TravisCI

[2020-05-19 15:46] #3491 closed

[2020-05-19 15:47] estesp commented on #3697
I don't think we have seen this issue for a very long time. Please re-open if there is still something to work on here.

[2020-05-19 15:47] #3697 closed

[2020-05-19 17:37] dmcgowan commented on #4252
We fixed this in the 1.2 branch, however since it only effects `ctr` which is not supported, we are not going to do a special release for it. I recommend using a new version of `ctr` from 1.3 or asking to carry the patch into Docker's shipped build of containerd.

[2020-05-19 17:37] #4252 closed

[2020-05-19 17:44] dmcgowan commented on #4249
It's hard to give a rule here that can apply universally based on size, but it is accurate to say that containerd will hold onto the compressed artifacts and unpacked layers for at least the length of the pull process and by default the lifespan of the image. The compressed blobs may be removed simply by pointing the image reference at the image configuration, rather than the image manifest. By de

[2020-05-19 18:07] cpuguy83 commented on #4236
@yylt The design of containerd is that clients should be local to the daemon. Running a client in a container is effectively non-local without some very specific configuration (which will vary depending on what you are trying to do).

Also, please note that `ctr` exists for debugging/trying things out, it is considered a non-stable interface.

[2020-05-19 19:08] dmcgowan commented on #4231
I'm going to close this one since there doesn't seem to be anything actionable here in containerd. Please feel free to continue to conversation here or on Slack related to the resolution issue.

[2020-05-19 19:08] #4231 closed

[2020-05-19 19:11] dmcgowan commented on #4236
The question here seems to be solved. Please feel free to follow up on Slack related running clients not directly on the host.

[2020-05-19 19:11] #4236 closed

[2020-05-19 19:14] dmcgowan commented on #4108
1.3.4 has since been released

[2020-05-19 19:14] #4108 closed

[2020-05-20 05:27] lolin9 commented on #3291
@clarkbw any news? I really think you're underestimating the seriousness of this issue. Simply nobody who's using Kubernetes with containerd (which is an uncontrollable combination in many cases) can use Github container repositories.

[2020-05-20 09:11] AkihiroSuda opened #4274 "panic in shim is not logged"
**Description**

panic in shim is not logged

**Steps to reproduce the issue:**
* Checkout containerd/containerd@4e08c2de67ec514b5602eea47804d41dfeabdc72
* Add the following changes:
[code]

* `sudo containerd -l debug`
* `sudo ctr run -t --rm docker.io/library/alpine:latest foo`
* Wait for 3 seconds

**Describe the results you received:**

Client log:
[code]

Daemon log:

[code]

`panic("test2020

[2020-05-20 09:37] 1player commented on #3291
It actually affects Docker Swarm as well (docker stack deploy doesn't like Github images)

[2020-05-20 12:35] johannesfrey commented on #4257
Example patch that would allow using double quotes:

[code]

[2020-05-20 14:55] thaJeztah commented on #3291
I got informed by @clarkbw that this is moving on GitHub's side (but I don't have an ETA).

@1player very likely the same cause; `docker service` resolves (and pulls) images by digest, which is what isn't supported currently by GitHub's registry

[2020-05-20 15:01] somdoron commented on #3291
Same problem with buildkit and cache-from, I haven't check it without the buildkit.

[2020-05-20 21:52] clarkbw commented on #3291
We'll be opening up to the [maintainers](https://github.com/maintainers/) group very soon and then we'll have a Beta to share more broadly.  Sorry for the delays, I appreciate your patience here.

[2020-05-21 17:40] jterry75 commented on #4274
@kevpar - We should make our shim adhere to what happens here. We currently write out a file but that file is in the task's dir that gets auto cleaned up. Likely the containerd side needs to look for this file from a shim and return it as an error before cleaning the task dir but lets just make sure we do the same.

[2020-05-22 20:14] EricTendian commented on #3347
For anyone else seeing similar things about `bbolt` in their stacktraces, removing the following file allowed containerd to start for me:

[code]

A system crash seems to have caused that file to get corrupted, it will just be regenerated after being removed when you start the Docker daemon again.

(I'm on Ubuntu 16.04 with Docker 19.03.9)

[2020-05-25 18:10] gimlichael commented on #4016
My Windows worker nodes are being flooded with these:

E0524 17:24:38.357894    4028 remote_runtime.go:495] ListContainerStats with filter &ContainerStatsFilter{Id:,PodSandboxId:,LabelSelector:map[string]string{},} from runtime service failed: rpc error: code = Unknown desc = hcsshim::OpenComputeSystem f76dd003c4f827c36bb10d24d08e9f14f6e68be728b727126741fd77c6185ac3: A virtual machine or container

[2020-05-27 07:05] LinShuicheng opened #4285 "containerd fail to mount /proc/self/ns/net into container"
**Description**
Containerd fail to map  /proc/self/ns/net in host into container.
Here is the error message:
"
Error: failed to generate container "9198d86f7c6a1e1cff90d9db0862b1843e7aec260fd6ac86af6fec4cc63df8a8" spec: failed to resolve symlink "": lstat /proc/24434/ns/net:[4026531992]: no such file or directory
"

**Steps to reproduce the issue:**
1.  Run "kubectl apply -f test.yaml" with below

[2020-05-27 09:41] AkihiroSuda commented on #4285
I'm not sure we want to support this.  Does `/proc/1` instead of `/proc/self` work for you?

[2020-05-27 14:57] bluca opened #4286 "RFE: common interface to expose host's os-release to container-like runtimes"
**What is the problem you're trying to solve**

The following was the start of a discussion regarding the possibility of establishing a common interface for exposing the host's os-release via ~container runtimes:

**Describe the solution you'd like**

The desired goal is to establish a common interface to provide this information, so that applications can rely on it without having to infer what ru

[2020-05-27 20:51] gurleensethi commented on #3291
@clarkbw any news when this will be fixed?

I had this problem and spent 3 days on it, finally stumbled upon this thread that it was is an issue on GitHub's end.

[2020-05-27 21:53] clarkbw commented on #3291
Sorry you got stuck. We are working on a solution and will have news soon.

[2020-05-28 00:51] LinShuicheng commented on #4285
No. "/proc/1" doesn't work also.
If it is not supported, any suggestion if I want to use host's network namespace, but I don't want use "hostNetwork: true"?
Thanks.

[2020-05-28 01:50] fuweid commented on #4285
Just curiosity, `hostNetwork` is interface for user, why do you have to hack it?

[2020-05-28 06:17] AkihiroSuda commented on #4286
containerized (specifically as portable services, although this issue
is general) need to either find information about the host, or alter
their behaviour depending on the host's flavour.

Please provide detailed examples.

[2020-05-28 06:39] jaschaio commented on #3291
For anybody having issues with running outdated images with docker swarm, a workaround for me was the Following:

Instead of using a moving tag like `:latest`, tagging images with the commit sha instead, so for example `:latest-5716e43` and then pulling that image. As there is only one image that has the tag I don't encounter any issues of outdated images on different nodes.

[2020-05-28 07:06] gurleensethi commented on #3291
@jaschaio clever!

[2020-05-28 17:42] gurleensethi commented on #3291
@jaschaio I tried it with GitHub sha, but it still doesn't work, once the stack deploy has run, it doesn't change and gives the same error.

[2020-05-28 17:45] cpuguy83 commented on #3291
`stack deploy` pins to the digest of the image (There may be an option to disable pinning, I can't remembesr).
The pinning is the problem here because the GH registry doesn't support fetch by digest.

[2020-05-28 18:11] jaschaio commented on #3291
@gurleensethi yes as I said, its a workaround not a solution. Error messages is still being displayed. But at least it works. What are you using to clean up outdated images from the registry with Github Actions?

[2020-05-28 18:24] gurleensethi commented on #3291
@jaschaio Take a look at this [Delete package version action](https://github.com/actions/delete-package-versions). It is from GitHub itself.

[2020-05-29 11:37] strigazi commented on #3351
For future searches,
kubelet has `--container-log-max-files` and `--container-log-max-size` implemented by Random-Liu (https://github.com/kubernetes/kubernetes/pull/59898) , so logrotation should work pretty well. At least for me, the defaults were fine per my testing (5 files, max 10Mi each).

I haven't found something for json-file in kubelet so far. I'm having a look.

[code]

[2020-05-29 16:43] bluca commented on #4286
We have a couple dozen applications running in production that are responsible for various tasks affecting the host - updating the host os image, firmwares, monitoring the hardware and other processes, exporting logs and statistics, profiling, and more.

These applications run containerized for dependency handling purposes, and for isolation purposes - although they require some level of access to

[2020-05-29 17:36] zhouhaibing089 commented on #3667
Thanks @ShuYingya , that saved my day.

[2020-05-30 03:23] AkihiroSuda commented on #4286
The only reliable solution is to just mount the host filesystem (optionally with AppArmor or SELinux to reduce permission).

[2020-05-31 02:19] maxux opened #4294 "Plugin restart doesn't follow log-uri tasks"
**Description**

With change introduced by #3085, we can now specify an external binary to execute to handle logs. When a container is restarted by restart plugin, this is lost.

If any `binary://` URI is specified for logs, this is lost when the container restart. Is there any way to keep that alive ?

**Steps to reproduce the issue:**
1. Set a task via `container.NewTask(ctx, cio.LogURI(uri))`
2

[2020-05-31 20:23] lorenz commented on #3145
This is still happening on 1.3.3, I'm pretty sure it is caused by duplicate image pulls (I see one duplicate ImageUpdate for every kernel warning). Still have no idea where the actual problem is.

[2020-06-01 10:32] luckyl3 opened #4295 "No space on device error using gitlab runner"
**Description**
I am using docker with gitlab runner and have encountered a problem where contanerd cannot create a container. The error output from gitlab runner is as follows:
[code]
People wrote that such an error can occur when using the ex4 file system, which is used on my system. In order to solve this problem, a separate place was allocated for temporary containerd files using the xfs file

[2020-06-01 12:58] bluca commented on #4286
Yes that is always possible and in fact it's how this problem is solved right now. I counted at least 4 different ways of doing that.

os-release was created, as an interface, to gather in one place with a machine-readable format information that was de-facto already present on every Linux image, just in many different formats and ways to express them depending on the distro, flavour, etc.

Right

[2020-06-01 16:38] milkwine commented on #4274
Maybe we can bind shim stderr to log fifo when it is ready to serve ttrpc request.
The panic message will be logged into deamon log.
I try to dup2(log_fifo, stderr), it seems worked.

[2020-06-02 00:53] roycaihw commented on #4182
I tested `sudo ctr run gcr.io/kaniko-project/executor:debug-v0.19.0 test /busybox/sh` with 1.2.8, 1.2.10 and 1.3.2 containerd and faced no issue. However `kubectl run -it --image gcr.io/kaniko-project/executor:debug-v0.19.0 test --restart Never --rm --command /busybox/sh` failed with both 1.2.8 and 1.3.2 containerd (in GKE). The hash values suggest those versions are the same as OSS.

Reading http

[2020-06-02 01:37] dmcgowan commented on #4295
The `no space left on device` is coming from the system, not from containerd. You confirmed that containerd is using expected directory, but if the error persists, there may be a system configuration issue. You would need to provide more information related to mounted filesystem at /docker-disk/var/lib/containerd and reported usage.

[2020-06-02 02:21] AkihiroSuda commented on #4274
@milkwine Would you mind opening a PR?

[2020-06-02 02:26] AkihiroSuda commented on #4286
I don't think that is in-scope of containerd, maybe you want to look into osquery: https://osquery.io/

[2020-06-02 03:22] milkwine commented on #4274
Sure, I will do it.

[2020-06-02 08:57] luckyl3 commented on #4295
This is mine df -hT and df -i comands output:
[code]
[code]

[2020-06-02 15:20] fuweid commented on #4285
@LinShuicheng I changed the label from bug to question. And I don't know why we need to hack it here. If you can provide more information, it will be helpful. Thanks

[2020-06-02 15:22] fuweid commented on #4294
@maxux could you mind to provide the reproduce code for this issue? Thanks

[2020-06-02 15:24] fuweid commented on #4295
the gitlab runner is in container? If so, could you provide the `df` result inside the container? thanks

[2020-06-02 23:24] maxux commented on #4294
[code]

Then kill the process inside the container, process will restart but `external-logs` will be lost. Ideally, restart plugin should also restart tasks attached.

[2020-06-02 23:51] cpuguy83 commented on #4119
Releases are now triggered by GH action, and Windows builds are included.
Currently this is only on 1.4 beta1.

[2020-06-03 02:10] qiuhui opened #4297 "containerd-shim process leak?"
I found that on one of my machine, there are 795 containerd-shim processes，but the count of docker container is only 270,like below:
![image](https://user-images.githubusercontent.com/3477024/83587223-20549600-a581-11ea-9456-66e3a4e5dc96.png).
Many containerd-shim process  have no child process，I pick up one of them:
![image](https://user-images.githubusercontent.com/3477024/83587455-b8eb1600-a581

[2020-06-03 09:15] luckyl3 commented on #4295
Yes, gitlab runner does the job in the container, this is output of df from it
[code]
I also add the output of the ```systemctl status containerd``` command, maybe it will give additional information for you
[code]

[2020-06-03 16:15] fuweid commented on #4294
Will file pr to fix it. Thanks for the reporting

[2020-06-03 16:22] fuweid commented on #4295
[code]

Interesting that the root dir of containerd has been changed.
The device of `/var/lib/containerd/io.containerd.runtime.v1.linux/moby/f947041d64b7df21483d9dc1f6daba0f2a4822c802b98e58e3550c6bc75599fa` is the same to host?

[2020-06-03 21:28] kevpar opened #4301 "Slow Windows container start time when using servercore image"
We are seeing slower launch times of Windows containers using servercore images (or images derived from servercore). Upon investigation, this appears to be due to the C:\Windows\System32\CatRoot directory modification timestamp being different from the value in the container. This causes the Windows catdb to be rebuilt on container launch, which impacts container startup time.

We have root caused

[2020-06-04 12:44] luckyl3 commented on #4295
I solved my problem, it was not containerd problem, but it was gitlab problem, as it turned out. Thanks for trying to help me. I close the issue.

[2020-06-04 12:44] #4295 closed

[2020-06-04 16:48] parthasl opened #4304 "image stored in both sys-root and devicemapper volume"
**Description**

When I do crictl pull image it stores image in both `/var/lib/containerd/io.containerd.content.v1.content/blobs` directory under sys-root volume and under `devicemapper` volume.  Is there a way to store the image in only 1 volume?

**Steps to reproduce the issue:**
[code]

**Describe the results you received:**
Image available in both sys-root and devmapper-pool.

**Describe the r

[2020-06-04 17:05] cpuguy83 commented on #4304
As discussed on Slack, it seems like it'd be helpful to have a knob in the cri plugin to allow the layer blobs to be GC'd after they have been extracted to the snapshotter.

[2020-06-05 06:31] LinShuicheng commented on #4285
@fuweid  I want to mount it because I just need the net namespace info, and don't want to touch or affected by other host network info.
The yaml file is used for docker first, and it works. So I expect it could work with containerd also.
Anyway, I could use hostNetwork if it is the only way. :-)

Another question here is, it seems containerd cannot handle symbol link correctly. I try to use "ln -s

[2020-06-07 17:34] pitscher commented on #3291
@clarkbw is there any update from the folks at GH?
This is still a *serious* issue.....

[2020-06-07 17:38] clarkbw commented on #3291
We are beginning a private beta this week. Email me, clarkbw@github.com to gain access. We had planned to be in a public beta by this point but 2020, oh she had other plans.

[2020-06-07 21:55] sudomaxime commented on #3291
Here's a nasty little workaround for thoses who:
- Don't mind _loosing_ blue/green deploys until this is resolved
- Don't mind 10-15 secs app start-up time
- Use docker swarm / docker stack deploys
- Use CI scripts for deployment

In your CI scripts call:
[code]
Basically you ask Docker scheduler to stop all the services under {{ your_stack_name }} orchestrator. A little knack of docker swarm is t

[2020-06-08 12:20] AkihiroSuda opened #4312 "[cgroup2+rootless] silence ToggleControllers EACCES log"
**Description**

An extra log is printed on cgroup2+rootless.
Does not affect the actual behavior.

**Steps to reproduce the issue:**

1. Start `dockerd-rootless.sh` on a cgroup v2 host (needs git master for everything. Prebuilt binaries are here: https://github.com/AkihiroSuda/moby-snapshot)
2. Run some container: `docker run --rm hello-world`
3. Observe the daemon log

**Describe the results you

[2020-06-10 02:55] fuweid commented on #4294
ping @maxux sorry for late reply. The pr #4315 is ready and waiting for review.

[2020-06-10 12:39] ZhizhouTian opened #4316 "containerd make protos failed"
**Description**

make protos target failed

**Steps to reproduce the issue:**
1. go get github.com/containerd/containerd
2. go get -u github.com/stevvooe/protobuild
3. cd $GOPATH/src/github.com/containerd/containerd
4. make protos

**Describe the results you received:**
[code]

**Describe the results you expected:**

**Output of `containerd --version`:**

[code]

**Any other relevant information:*

[2020-06-11 03:56] ZhizhouTian commented on #4177
I encountered this issue, too. And this is my step:
[code]
then, `crictl stopp` will stuck and no return

I do some change for working around this issue:
in `containerd-shim-v2/wait.go`:
[code]

[2020-06-11 03:58] #4070 closed

[2020-06-11 08:04] ZhizhouTian commented on #4316
`make generate` failed with this issue, too

[2020-06-11 10:50] thaJeztah commented on #4316
Does it work if you do a `git clone` of the repository? I suspect the problem is that `go get` may not use the correct version of the dependencies that are used (this project does not yet use go modules).

(For the correct version of the dependencies, look at the `vendor.conf` file at the root of the repository). If you `git clone` the repository, you should get the vendor directory, which contain

[2020-06-11 10:52] thaJeztah commented on #4316
Probably the steps in https://github.com/containerd/containerd/blob/master/BUILDING.md#build-the-development-environment should help as well 🤔

[2020-06-12 12:01] estesp commented on #4316
See this commit as we hit the same problem in containerd when an upstream dependency changed: https://github.com/containerd/containerd/commit/041545cd6ad53bd8a5279c3ea0ede101865cdc83#diff-d98e74ce745850ffad46c65422462751

Most importantly you cannot pass `-u` to `go get` when retrieving protobuild as it will look for latest tagged releases and pull mismatched versions than in the `go.mod` (which a

[2020-06-12 16:44] marosset opened #4320 "Add support for named pipe mounts for Windows"
**What is the problem you're trying to solve**
Windows containers do not support named pipe mounts.

When scheduling Windows containers in Kubernetes that use named pipe mounts container creation failed
`Warning Failed 14s kubelet, 3336k8s00000000 Error: failed to generate container "fa55d3efa900b24520fa7a528e61dece7b7694dbf444a2654d846b2b3840a30f" spec: failed to generate spec: failed to resolve

[2020-06-12 22:39] BenTheElder commented on #4107
cc @aojea

[2020-06-13 19:47] janosi opened #4321 "Enable SCTP in host port mapping"
**What is the problem you're trying to solve**
https://github.com/containerd/cri/pull/911 disabled the HostPort handling for those HostPorts of which protocol is not TCP or UDP. The main reason was to skip SCTP handling in order to prevent the loading of the SCTP kernel module on the nodes of the cluster because that would prevent the usage of such applications that use a user space SCTP stack.
We

[2020-06-14 03:06] BenTheElder commented on #4321
This confusion seems to date back to a comment from the original SCTP KEP per https://github.com/containerd/cri/pull/911

https://github.com/kubernetes/enhancements/blob/master/keps/sig-network/0015-20180614-SCTP-support.md#interworking-with-applications-that-use-a-user-space-sctp-stack

This should be a pretty simple change right?

[2020-06-14 11:15] janosi commented on #4321
A small update on this one.

So, the exact logic in kubelet/dockershim is, that SCTP ports are skipped when the ports are opened on the host by listening on those, but the actual iptables chains are created.

[2020-06-14 12:06] janosi commented on #4321
As I can see, containerd itself does not listen on the host port. It delegates the relevant chain setup to the CNI plugin via sending the portMappings set to the CNI plugin. Of course, it is up to the actual CNI plugin with the "portMappings" capability whether that starts listening on the host port or not, but as I can see e.g. `portmap` does not do so.
If I am right about these then we can remov

[2020-06-14 15:41] sgielen commented on #4016
I seem to have encountered this exact issue on k3s, a lightweight Kubernetes implementation, as well: https://github.com/rancher/k3s/issues/1901

Trying to stop the container manually using `crictl` gave the same error as the Kubelets (k3s agent):

[code]

However, deletion did work via `ctr`:

[code]

I don't think it was initContainers in my case, just regular containers. I could still retrieve

[2020-06-15 14:44] fuweid commented on #4285
@LinShuicheng could you provide the script to produce this issue? Thanks

[2020-06-15 14:50] fuweid commented on #4016
It seems like https://github.com/containerd/containerd/pull/4214 has fixed the issue. @sgielen @JulienBalestra could you please try the latest version? Thanks

[2020-06-15 19:24] #4294 closed

[2020-06-15 19:57] crosbymichael commented on #4257
I think this is a good patch to accept.  Feel free to open a PR if you can.

[2020-06-15 20:00] crosbymichael commented on #4202
I'm also looking into better ways to handle this in CRI.

But right now, I tested this the other day on my ubuntu system and the WithGPUs works great still.  You can also use `ctr run --gpus 0 ...` to test this.

[2020-06-15 20:00] #4202 closed

[2020-06-16 01:41] CrackerHax commented on #2202
Had this same problem. You can try (like jwongz suggested above) disabling hugepages.

https://docs.mongodb.com/manual/tutorial/transparent-huge-pages/

[2020-06-16 02:18] ZhizhouTian commented on #4316
@estesp problem solved, thanks a lot ;) @thaJeztah thank you all the same~

[2020-06-16 02:19] ZhizhouTian commented on #4316
So, the step is:

[2020-06-16 02:22] ZhizhouTian commented on #4316
So, this is the right step:
[code]

[2020-06-16 02:46] #4316 closed

[2020-06-16 07:02] johannesfrey commented on #4257
Thanks. Sure, I will prepare a PR.

[2020-06-16 08:02] gojoy commented on #4203
how can I configure systemd cgroup with runc v2 ?

[2020-06-16 08:12] AkihiroSuda opened #4326 "shim v2 doesn't pass Moby test `TestContainerStartOnDaemonRestart` (because shim v2 uses hard-coded RuncRoot)"
**Description**

shim v2 `io.containerd.runc.v2` doesn't pass Moby test `TestContainerStartOnDaemonRestart`: https://github.com/moby/moby/blob/88241b99893cce78a7734a19b38d468d0dcb6156/integration/container/daemon_linux_test.go#L20-L68 (https://github.com/moby/moby/issues/36145)

**Steps to reproduce the issue:**
1. Checkout moby/moby@88241b99893cce78a7734a19b38d468d0dcb6156
2. Apply the following

[2020-06-16 13:49] sgielen commented on #4016
This would be in containerd 1.4.0+, then, right? k3s is still using 1.3.3-k3s2, so I don't know how to try the latest version. But, I also don't know how to reproduce this issue, just know that it occurred for me. I can only report back if it happens again...

[2020-06-16 19:30] shake76 commented on #3291
Hi @clarkbw Im still keeping an eye on this issue...just was wondering if is there any ETA for the fix?

[2020-06-16 21:24] clarkbw commented on #3291
The private beta is rolling out to a number of users.  This is a phased rollout over time so you may only get your instructions over the next couple weeks.  Thanks!

[2020-06-17 09:43] AkihiroSuda commented on #4326
Analyzed the cause of the issue:

https://github.com/containerd/containerd/blob/49b0743c1c07500a062a6996c8afba2dafc8c64e/runtime/v2/runc/v2/service.go#L280
`*service.Cleanup()` is invoking `runc delete` with hard-coded root `/run/containerd`, which isn't correct for Docker.
The actual root value (`/run/docker/runtime-runc`) should be propagated from Docker.

[2020-06-17 10:08] AkihiroSuda commented on #4326
PR: https://github.com/containerd/containerd/pull/4327

[2020-06-17 13:23] #2767 closed

[2020-06-17 13:23] #4326 closed

[2020-06-18 12:08] mvgijssel commented on #3291
Can also confirm this is the case for me, when running a docker command like

[code]

it results into the following error in the logs:
[code]

even thought the docker image with the associated tag actually exists.

[2020-06-19 18:07] ddgenome commented on #4182
Google Cloud support has informed me this is an issue with COS, not containerd. COS only allows paths under `/var/lib/docker` to be mounted with the `exec` option. Since containerd layers are mounted from `/var/lib/containerd`, they are mounted with the `noexec` option. So it seems like the fix needs to be made in COS, adding `/var/lib/containerd` to the list of paths that can be mounted with the

[2020-06-19 22:29] BenTheElder commented on #4068
we still see this in kubernetes sometimes. it seems to happen more with certain testcases
https://storage.googleapis.com/k8s-gubernator/triage/index.html?pr=1&text=failed%20to%20start%20io%20pipe%20copy%3A%20unable%20to%20copy%20pipes%3A%20containerd-shim%3A%20opening%20w%2Fo%20fifo%20

oddly specific `EmptyDir volumes should support (non-root,0666,default) [LinuxOnly] [NodeConformance] [Conforman

[2020-06-22 09:36] yichengliu58 commented on #759
Hi, I'm facing this problem at the moment, that I need to set the size of container's roofs but haven't found a way, so are there any update? Is there a config item can be used to set rootfs size now?

[2020-06-23 06:14] LinShuicheng commented on #4285
Please ignore the symbol link error. I tried again today, containerd could handle symbol link correctly. So this issue is for /proc/1/ns/net only, I will leave you to decide how to handle it. Thanks.

[2020-06-24 14:56] gcapizzi opened #4342 "Executing a process with a TTY (WithTerminal) leaks FIFO and goroutines"
**Description**

When executing a process with a TTY (by using the [`WithTerminal`](https://github.com/containerd/containerd/blob/ae2f3fdfd1a435fe83fb083e4db9fa63a9e0a13e/cio/io.go#L112) opt), containerd will create a FIFO for stderr (see [here](https://github.com/containerd/containerd/blob/bf672cccee2a0baf4720ec534a738f6003c0e5a7/cio/io_unix.go#L136)), but it will not start the goroutine that cop

[2020-06-24 15:03] ddgenome commented on #4182
Here is an issue tracking the COS bug https://issuetracker.google.com/issues/159702288

[2020-06-24 19:45] #4312 closed

[2020-06-25 02:33] BenTheElder commented on #4321
this change should be in containerd @ HEAD now after https://github.com/containerd/containerd/commit/785f4c5cd98f4b9aa11401b229c33f53512ce08d

I believe this can be closed

[2020-06-25 16:50] zenbones opened #4344 "Failure to pull docker image that docker has no problem with"
I have a docker image constructed with packer (several really) that docker has no problem pulling in a number of environments (both win10 and ubuntu 18.0.4). However, under containerd 1.3.3-0ubuntu1~18.04.2, I get...

docker.forio.com/k8s/epicenter/desktop/epicenter-facade:2.9.0: resolving |--------------------------------------|
elapsed: 0.6 s total: 0.0 B (0.0 B/s)
ctr: no signatures

...which i

[2020-06-25 18:05] estesp commented on #4344
I'm curious if you can tell us about the registry at docker.forio.com? I don't see any reason `packer` would create schema1 images, so I'm wondering if the registry only supports schema1 and did a translation when they were pushed after the `packer` build? Looking at packer, it just uses the Docker engine on the system to create/build the image, which should have in any modern Docker release been

[2020-06-25 19:24] #4321 closed

[2020-06-25 20:31] #4320 closed

[2020-06-26 08:03] zenbones commented on #4344
The version of docker creating the images is Docker version 19.03.4, build 9013bf583a. Sending a GET request to the registry for /v2/ returns a 200, indicating it is a v2 registry. The registry is about 4 years old if that makes a difference.

[2020-06-26 08:07] zenbones commented on #4344
From the docker documentation at https://docs.docker.com/registry/spec/manifest-v2-2/

This document outlines the format of the V2 image manifest, schema version 2. The original (and provisional) image manifest for V2 (schema 1), was introduced in the Docker daemon in the v1.3.0 release and is specified in the schema 1 manifest definition

It may be the registry is old enough to be using the origi

[2020-06-27 10:21] dims opened #4348 "Artifact download links are slightly different between 1.3.3 and 1.3.5"
https://github.com/containerd/containerd/releases/download/v1.3.5/containerd-1.3.5-linux-amd64.tar.gz
https://github.com/containerd/containerd/releases/download/v1.3.3/containerd-1.3.3.linux-amd64.tar.gz

Note the `-linux` and `.linux`.

Question is: Do we want to keep the new one or go back to the old one?

cc @dmcgowan @estesp

[2020-06-29 12:17] thepwagner commented on #4348
This was introduced by https://github.com/containerd/containerd/pull/4280

AFAICT travis used the Makefile, which used https://github.com/containerd/containerd/blob/master/Makefile#L67
New: https://github.com/containerd/containerd/blob/release/1.3/.github/workflows/release.yml#L115

[2020-06-29 12:44] thepwagner opened #4349 "containerd-1.3.5: undefined symbol: seccomp_api_set"
**Description**

Containerd switched to GitHub Actions for releases between release `1.3.4` and `1.3.5`. https://github.com/containerd/containerd/pull/4280
GitHub Actions uses `ubuntu:18.04` base images, which provide `libseccompdev-2.4.3-1ubuntu3.18.04.2` [source](https://packages.ubuntu.com/bionic/libseccomp-dev)
Per https://github.com/containerd/containerd/issues/4008 , `libseccomp > 2.4` intro

[2020-06-29 15:56] estesp commented on #4348
In discussing with @dims, while this change was not intentional with the switch in release artifact methods, we prefer the hyphen-separated filename for consistency. Given that, if downstream users can handle the change, we already know that we've released 1.4.0 betas with this model, and will attempt not to make any future changes to the filename pattern.

[2020-06-29 16:17] dims commented on #4348
Thanks @estesp

[2020-06-29 16:17] #4348 closed

[2020-06-29 16:25] bhabermaas opened #4350 "Unable to run containerd example inside a Docker container"
**Description**

I am trying to run the example code at https://containerd.io/docs/getting-started/ in a docker Oraclelinux7 container. It fails with a specific mount message

**Steps to reproduce the issue:**
1.  Copied example code from getting started page to example.go
2.  Run go build example.go
3.  sudo ./example

**Describe the results you received:**
[bihaber@docker-desktop ociwork]$ sudo

[2020-06-29 16:41] bhabermaas commented on #4350
Here is the complete run -

[2020-06-29 18:02] cpuguy83 commented on #4350
`invalid argument` is an error from the kernel.
Since this happened on mount, I'm going to assume it's due to trying to perform an overlay mount on top of another overlay.

What you'll need to do is either
1. Ensure that `/var/lib/containerd` is backed by an fs supported by overlayfs
i. Since you are running in docker this would be `-v /var/lib/containerd`, as an example.
2. Use the `native` snaps

[2020-06-29 18:28] cpuguy83 commented on #4002
This doesn't seem like an issue for containerd, containerd exposes metrics of the container but it has no knowledge of compose, services, replicas, etc.

[2020-06-29 18:38] bhabermaas commented on #4350
I tried 2nd suggestion - native snapshotter

[2020-06-29 19:58] bogn83 commented on #4002
Is it impossible for containerd to get the fully qualified container name `[COMPOSE_PROJECT_NAME]_[SERVICE_NAME]_[REPLICA/TASK_COUNTER]_[Task ID]`?

[2020-06-29 20:03] cpuguy83 commented on #4002
containerd only has a concept of an ID.
It is up to the project that consumes containerd to define this.

[2020-06-29 20:06] bogn83 commented on #4002
Is there a moby project then where I could file this issue? I'd also be thankful for a different project offering the container name.

[2020-06-29 21:17] cpuguy83 commented on #4349
Thanks for the report. This is being dealt with in #4352
Likely there will be a 1.3.6 release with the fixed binaries.

[2020-06-29 21:23] cpuguy83 commented on #4002
moby/moby would be the place.

[2020-06-29 21:53] #4002 closed

[2020-06-29 22:19] cpuguy83 commented on #4350
@bhabermaas Sorry the option is order dependent, it needs to go before `WithNewSnapshot`

[2020-06-29 22:19] cpuguy83 commented on #4350
And you may need to set a similar option on the `client.Pull`... so `WithPullSnapshotter("native")`