[2019-06-12 19:04] aryamsft commented on #3333
Nevermind, issue resolved :)

[2019-06-12 19:04] #3333 closed

[2019-06-13 13:42] #2964 closed

[2019-06-13 14:23] joedborg opened #3340 "ctr image export not working"
**Description**

[code]

**Steps to reproduce the issue:**
1. Pull image
2. Attempt to export it

**Describe the results you received:**

Error shown above.

**Describe the results you expected:**

Tar with image.

**Output of `containerd --version`:**

[code]

[2019-06-13 14:40] crosbymichael commented on #3340
I just tried this and it worked for me me but I'm running on master.  Maybe try re-pulling the image?

[2019-06-13 16:26] estesp commented on #1508
The original comment now has all 5 checkboxes marked; is there anything else we want to use this issue for, or should we close and handle any one-off discussions per distro (ongoing packaging or questions) as new issues? @crosbymichael

[2019-06-13 16:28] kfox1111 commented on #1508
Centos please? :)

[2019-06-13 16:31] estesp commented on #1508
@kfox1111

I think @carlwgeorge said in a prior comment EPEL would be the location for a containerd package, which should make it available to CentOS as well as RHEL. I'm not sure if there is any more status since then, but hopefully Carl can weigh in.

[2019-06-13 16:50] estesp commented on #2901
I'm not sure if it fully solves the issue, but now that we have the OpenLab CI running, is there any publish step happening there for easy access to binaries? The issue will be that at release time, I assume we won't have a consolidated way to deliver multiple architectures without some extra steps.

[2019-06-13 18:25] carlwgeorge commented on #1508
@kfox1111 EPEL already has containerd-1.2.1-1.el7.  I'm a little behind the latest 1.2.6, but I can take a look at getting that updated.  According to https://github.com/containerd/containerd/blob/v1.2.6/BUILDING.md the minimum golang version is still 1.10, so I don't forsee any issues. :crossed_fingers:

[2019-06-14 15:35] fuweid commented on #3340
@joedborg you can try to pull image with `--all-platforms`. the image has multiple platforms and you need to download all platforms.

[2019-06-14 15:59] joedborg commented on #3340
Thanks @fuweid, that worked.  Not sure if this is a bug or my mistake (as in, should CTR give better feedback)?

[2019-06-14 16:23] benileo opened #3347 "Containerd is crashing with panic: invalid page type: 4: 10"
Hello!
Containerd is crashing with panic: invalid page type: 4: 10

Containerd was installed and running on this machine for past 2 months.

Not sure why it started crashing all of the sudden.

Things I've tried:
uninstall both docker-ce and containerd, purge configuration files, remove /var/lib/docker directory. Tried re-install, same issue. Checked file system for errors using fsck, file system

[2019-06-14 17:04] fuweid commented on #3340
@joedborg it is not a bug and not your mistake. it just needs to know what is platform. I think we can show the warning message to let the user know about this. :)

[2019-06-14 17:55] benileo commented on #3347
woohoo, fixed by removed /var/lib/containerd (guessing that is where corrupted file was).

[2019-06-14 17:58] #3347 closed

[2019-06-15 01:00] fahedouch commented on #3340
@fuweid why is it an obligation to download all platforms if it is not a multi-platform image?  we use the flag to make a choice right ?
In the case of a multi-platform image why should we specify a flag to download it that should be made in the code right ? :)

if we have choice -> flag
if we haven't choice -> no need flag

[2019-06-16 15:01] fahedouch opened #3349 "centralize harded-code message"
Hello containerd people,

By browsing the client's code, i saw a harded coded message like
`errors.New("no grpc connection or services is available")`

My idea is to centralize hard coded messages in a logic like enum.

The advantage of doing that:
- To increase the code readability and the maintainability
- Constants consistently, expressively and type-safe
- Sharing common behavior
-  Easy to ma

[2019-06-17 01:10] wenlxie opened #3351 "Feature request: container log rotate and size limit"
## Feature request

We migrated our cluster from docker to containerd.  We are running k8s + containerd + overlayfs now.   We used to set the container log size limitation by following configuration of docker:

[code]

ref: [docker logging driver](https://docs.docker.com/config/containers/logging/json-file/)

Now running in this mode, kubelet is used to rotate the log.
We  met issues
1.  Kubelet w

[2019-06-17 11:52] fuweid commented on #3340
HI @fahedouch

containerd does provide the flag to choice for the platform. We cannot pull all the platforms data for one image because it is time-consuming job and consuming more disk space.
Therefore, ctr always downloads default platform.

In order to make the `export` image friendly, export action also exports data for default platform. It works in master branch. for @joedborg case, `not found

[2019-06-17 15:26] crosbymichael commented on #3351
containerd does not do anything with logs.  It provides the direct IO to clients (CRI, docker, etc) and they can rotate.  We shouldn't have any rotation or the notion of log drivers in the containerd core.

[2019-06-17 15:29] crosbymichael commented on #3349
PRs are welcome for these changes.  We already have an `errdefs` package that these can be placed in but don't do them as enums.  they should be `var ErrNoGRPC = errors.New("no grpc connection or services is available")`

[2019-06-17 18:05] #3312 closed

[2019-06-17 23:31] csantanapr commented on #3291
@Phanatic any updates on this?

[2019-06-18 19:37] crosbymichael commented on #3221
I looked into this some today and cannot find anything out of the ordinary to cause this.  this could be a kernel issue  or something else at that layer

[2019-06-18 22:40] hinshun opened #3354 "Supporting `mount.fuse` for container rootfs"
Hello, I'd like to use a read-only FUSE as the `lowerdir` to a overlayfs container rootfs. I wanted to discuss if containerd can support it generically, and thoughts about architecture; like who manages the lifecycle of the FUSE server.

## Context

Containerd snapshotters do not actually [`mount(2)`](http://man7.org/linux/man-pages/man2/mount.2.html), but instead produce a list of serialized `mou

[2019-06-19 13:09] crosbymichael commented on #3354
We have proxy snapshotters that you can implement your own snapshotter to do this.

You can see the documentation here: https://github.com/containerd/containerd/blob/ca714847936372d257dddbbabf79f9131da923d7/PLUGINS.md#proxy-plugins

[2019-06-19 14:09] crosbymichael commented on #3286
Thanks, i'll look into this today

[2019-06-19 14:22] crosbymichael commented on #3286
Cool, I can reproduce.  Thanks for the amazing test case!

[2019-06-19 14:34] Random-Liu commented on #3354
This is similar to https://github.com/containerd/containerd/issues/2968.

[2019-06-19 17:28] hinshun commented on #3354
Thank you for the references.

I'm happy to go off and implement a proxy snapshotter on my own, but I read this from your design documents: https://github.com/containerd/containerd/blob/v1.2.7/design/mounts.md#structure

Which led to me starting a conversation around containerd supporting mounts with helpers for `mount.fuse`. Curious if you had any additional thoughts on the topic?

[2019-06-19 18:54] #2907 closed

[2019-06-19 20:12] crosbymichael commented on #3286
So I'm thinking this is more of a docker issue, I'm still able to run additional processes with `ctr` but when I run them via docker, the exec hangs on the exit of the process.

To test this, you can run `sudo ctr -n moby t ls` to get the containerd is under containerd,  then you can exec a process via `ctr` like this:

[code]

[2019-06-20 05:49] xujihui1985 commented on #3354
@hinshun
this should be able to mitigate by reparent your fuse daemon to pid1 , so that restart or shutdown containerd will not have affect with rootfs

[2019-06-20 08:27] estesp commented on #2680
Looking at the 4xx HTTP responses, I think the only ones that apply for retry are:
- 429 Too Many Requests
- 408 Request Timeout

@knm3000 is going to look at making this change and adding a test.

[2019-06-20 14:56] crosbymichael commented on #3354
By using a proxy snapshotter you could run it as a separate systemd service, outside of the lifecycle of containerd to ensure that fuse stays running during a restart/upgrade of containerd.  I believe it is the most robust way to handle something like this.

[2019-06-20 15:44] alculquicondor commented on #1324
Does this decision still hold?
You could have an scenario where:
- processes running in the machine and remote clients are trusted
- the extra TCP/socket hop is undesired.

Tthe security decision could be up to the user.

[2019-06-20 21:10] ehotinger opened #3362 "Windows snapshotters: make utility functions public/refactor"
There are a few funcs to check if we're on NTFS. For example in LCOW:

https://github.com/containerd/containerd/blob/574bde08ba1a698d96fd4a294443ea90fd7bd213/snapshots/lcow/lcow.go#L410

https://github.com/containerd/containerd/blob/574bde08ba1a698d96fd4a294443ea90fd7bd213/snapshots/lcow/lcow.go#L433

And then in the Windows snapshotter:

https://github.com/containerd/containerd/blob/574bde08ba1a6

[2019-06-20 21:12] ehotinger commented on #3362
Basically since I'm writing my own Windows-based snapshotters now I'm stealin' all your codes and it'd be cool to refactor it slightly. Can make the PR for this if it makes sense to you.

[2019-06-20 22:38] jterry75 commented on #3362
We should put these in go-winio and vendor that change in.

[2019-06-21 05:35] fuweid commented on #3340
Hi @joedborg @fahedouch

I will close this issue. please feel free to reopen it if you still have question about this. Thanks

[2019-06-21 05:35] #3340 closed

[2019-06-21 15:57] Random-Liu commented on #3351
@wenlxie Kubelet should handle container log rotate. If it doesn't meet the requirement or has any issue, we should fix it.

[2019-06-21 15:59] Random-Liu commented on #3351
Can you provide more context? We should fix it.

We can make the rotate frequency configurable. However, I think every 10s is already very frequent. I think most log rotate solution has this limitation, e.g. logrotate is also periodically invoked? Doesn't Docker have similar problem? If not, how does Docker solve the problem?

[2019-06-21 18:28] #3286 closed

[2019-06-21 19:23] estesp commented on #3326
I believe we got to the bottom of this issue in the linked buildah issue; TL;DR: the image layer has the wrong media type--it is compressed but is labeled as uncompressed, causing containerd to treat it as an uncompressed tar.

[2019-06-21 19:23] #3326 closed

[2019-06-24 02:47] estesp opened #3367 "[governance] Clearer documentation of containerd maintenance processes"
*Discussed at Hangzhou Alibaba Group containerd meetup:*
Suggestions on topics where core containerd maintainers may have general ideas/workflow, but as the project grows we should be more specific on:

- clearer process and documentation for maintainers/contributors for backport to `release/1.x`
- how to decide about Golang upgrades on stable release branches? Issue: Golang lifecycle/support time

[2019-06-24 03:11] estesp commented on #1781
Closing as discussion has not happened for 18+ months. Please open a new issue if there are still items worth discussing here.

[2019-06-24 03:11] #1781 closed

[2019-06-24 10:16] xujihui1985 opened #3368 "Unable to create proxy snapshot plugin in separated project"
**What is the problem you're trying to solve**
A clear and concise description of what the problem is.

when create a proxy snapshot plugin according to document https://github.com/containerd/containerd/blob/master/PLUGINS.md

it's not possible to `RegisterSnapshotsServer` with NewGrpcServer

![image](https://user-images.githubusercontent.com/1619030/60011209-e362fc80-96ab-11e9-9ba0-3f9ded032919.p

[2019-06-24 10:17] sofat1989 opened #3369 "Cannot pull the image: */snapshots/112/fs: no such file or directory"
[code]
containerd: v1.2.4
kubelet: 1.12.3

The layer `sha256:c6d5b1be87babc93b410ae6b3277222290ca1269dad532524f8d66e6ad6eba87`'s parent `k8s.io/187/sha256:96042a7d8e056654a235735dc50e575ccd3af77b519e5992b4a229925e504808` still in the metadata.db

[code]

But the contents of this layer /var/lib/containerd/io.containerd.snapshotter.v1.overlayfs/snapshots/112 is deleted.

[code]

[2019-06-24 10:18] sofat1989 commented on #3369
@Random-Liu

[2019-06-24 18:17] mxpv commented on #3368
It seems like your problem can be easily fixed by using proper import.
`"google.golang.org/grpc"` instead of `github.com/containerd/containerd/vendor/google.golang.org/grpc`.
I'm not quite sure what are benefits of using an interface considering the amount of effort that needs to be done to achieve this.
First - `RegisterSnapshotsServer` is an auto-generated code by `protoc-gen-gogo`. This would r

[2019-06-24 20:21] crosbymichael commented on #3367
All sound good updates to make

[2019-06-25 01:23] #3368 closed

[2019-06-25 01:30] xujihui1985 commented on #3368
@mxpv thanks for reply, solved by vendor the dependency from containerd, seems a stupid question

[2019-06-25 19:27] crosbymichael commented on #1324
@alculquicondor for the containerd sock it does not make sense to be over tcp.  we expect clients using containerd to be root and containerd is designed around a smart client where they need to be on the same machine.  The containerd api over tcp is trivial but you will lose the majority of the functionality being on separate machines.

[2019-06-27 13:57] alculquicondor commented on #1324
Makes sense. #3162 should be enough for our needs. I missed that PR when I posted.

[2019-07-01 07:14] veezhang opened #3381 "[Question & help] Why some of the images disappeared?"
[code]
I use the command to import some images, and after a while I cannot find it.
[code]

[2019-07-01 13:26] fuweid commented on #3381
Hi @veezhang , could you please provide containerd log or kubelet log? It seems images has been gc. Thanks

[2019-07-01 17:07] estesp commented on #2680
Closed by #3382

[2019-07-01 17:07] #2680 closed

[2019-07-01 20:22] #3305 closed

[2019-07-02 02:22] chuanlei opened #3386 "[Question & Help] shall we restart containerd after installation of cni"
In my standalone setup, I have to restart my containerd so that it can recognize cni configuration. If I install cni using cni yaml file (for an example), shall we restart all the containerd processes?  If I do not have to restart containerd, why?

before restart standalone containerd, the error is as follow

![missing_cni](https://user-images.githubusercontent.com/9800408/60477817-f22f4d80-9c6f-1

[2019-07-02 02:27] veezhang commented on #3381
I have reset the k8s and containerd, and use docker to init again.
Before reset, I found that some images appeared again, but still some disappeared.
[code]
I will init with containerd again, and get the logs when it disappeared.

[2019-07-02 02:28] veezhang commented on #3381
And thanks for your reply.

[2019-07-02 02:46] fuweid commented on #3381
thanks @veezhang ! kubelet has image gc threshold and it will clean image if the disk is full.

[2019-07-02 03:41] veezhang commented on #3381
@fuweid Thanks, and can I stop the gc for images? I will deploy the k8s offline

[2019-07-02 03:58] veezhang commented on #3381
And seems that it does not trigger image garbage collection, when use the docker.

[2019-07-02 04:02] fuweid commented on #3381
@veezhang could you provide your log information? It will be more useful. Thanks

[2019-07-02 05:56] veezhang commented on #3381
[Uploading containerd.log…]()
This is the containerd logs

[2019-07-02 06:04] veezhang commented on #3381
The kubelet logs show that disk usage on image filesystem is at 85% which is over the high threshold (85%).
[code]

[2019-07-02 14:22] fuweid commented on #3381
@veezhang Thanks! Yeah. cri-containerd doesn't remove image by itself. Kubelet has monitored the disk space and remove unused images to get more free space. The policy depends your own use case. You can adjust the high threshold :)

[2019-07-02 14:54] #3362 closed

[2019-07-02 18:54] rkojedzinszky opened #3387 "Pulling busybox on arm fails"
**Description**

Installed containerd as CRI for k8s on arm, and actually containerd cannot download busybox image.

**Steps to reproduce the issue:**
1. Setup containerd / k8s as described in kubeadm setup guide on debian/ubuntu
2. Create a pod with image: busybox

**Describe the results you received:**

In the logs, I see:
[code]

**Describe the results you expected:**

I expect that a simple bu

[2019-07-02 23:43] zelahi commented on #2767
Could I take a stab at this?

[2019-07-03 00:03] thaJeztah commented on #2767
Sure, go ahead (doesn't look like someone started working on it yet)

[2019-07-03 08:25] chuanlei commented on #3386
@crosbymichael could you have a look for this problem?

[2019-07-03 15:16] carlosedp opened #3389 "[Risc-V] CPU at 100% on container deletion with crun+Docker"
Recently Containerd PR #3328 was upstreamed adding support for the Risc-V architecture.

The daemon is using _crun_ CRI (https://github.com/giuseppe/crun) as the runtime due to runc dependency on CGO which is still not available on the arch.

I saw a behavior where after deleting a container, containerd spins up the CPU to 100% and stays until restarted.

Here is a demonstration of the error:

[![

[2019-07-03 15:19] carlosedp commented on #3389
As an addition, I also have [Podman](https://github.com/containers/libpod) built on the platform using crun as the runtime and this high CPU usage does not happen.
Cc. @giuseppe

[2019-07-03 20:23] carlosedp commented on #3389
Below are the logs in debug:

Containerd:

[code]

Dockerd:

[code]

Maybe the last message has something to do with locks?

[2019-07-03 20:31] tonistiigi commented on #3389
It's possible this is coming from golang riscv port. When I sigquit containerd when it is 100% cpu it fails on printing the stack trace with runtime failures.

e.g.:
[code]
or
[code]

This is with my `tonistiigi/docker:riscv` that is bit older but should have the same patches that were merged later. And to me this starts right after successfully running a container, no `rm` needed.

[2019-07-03 20:38] carlosedp commented on #3389
I replicated it and got similar error:

<details>

[code]

</details>

@4a6f656c, @josharian can you help us out?

[2019-07-04 21:58] saamalik commented on #2531
@crosbymichael or others -- is there a keyboard shortcut to _detach_ once the container has already started? Docker started containers are detached using _Ctrl+P, Ctrl + Q_ but this doesn't work in containerd.

[2019-07-08 14:10] hinshun opened #3394 "Metadata content.Store calls Digest before Commit"
**Description**
Metadata `content.Store` calls `(content.Writer).Digest` before `(content.Writer).Commit` which `may return empty digest or panics until committed.`
https://github.com/containerd/containerd/blob/d80513ee8a6995bc7889c93e7858ddbbc51f063d/metadata/content.go#L640-L647

See `content.Writer`'s interface:
https://github.com/containerd/containerd/blob/d80513ee8a6995bc7889c93e7858ddbbc51f0

[2019-07-08 14:29] crosbymichael commented on #2531
@saamalik no, ctr does not have any of those key combos built in

[2019-07-08 15:12] crosbymichael commented on #3386
This can be easily fixed via watching for configuration file changes and reloading the config.  I would say that this is more of a feature request than a bug fix.

[2019-07-08 16:49] #3394 closed

[2019-07-09 07:41] ktsakalozos opened #3396 "Flannel subnet.env in non default location"
**Description**

**Steps to reproduce the issue:**
1.
2.
3.

**Describe the results you received:**

**Describe the results you expected:**

**Output of `containerd --version`:**

[code]

**Any other relevant information:**

[2019-07-09 09:43] #3284 closed

[2019-07-09 11:26] olegchorny commented on #3291
@Phanatic
The manifest fetch by digest doesn't seem to work for me too.
Is it because I'm missing something or this is a known issue/feature? Thanks.

[2019-07-09 17:06] crosbymichael commented on #3232
Try that buildkit feature referenced and see if that does it for you.  Going to close this one for now.  If you need more help on this feel free to ask.

[2019-07-09 17:06] #3232 closed

[2019-07-09 17:27] crosbymichael commented on #3167
Like @ehotinger said, I think the proxy snapshotters will fit for something like this.  We have a pretty robust plugin system because we cannot naively support everything.  If you try to implement support for CRFS and need more APIs from the containerd core, let us know.

[2019-07-09 17:27] #3167 closed

[2019-07-09 17:31] crosbymichael commented on #3126
This should be fine.  Only the layers for your current platform are fetched, the manifests and configs are minimal in size.  Are there any bugs coming from this default functionality?

[2019-07-09 17:36] dmcgowan commented on #3126
@crosbymichael if we can get the cross repository push logic to work without first downloading, we might be able to consider changing the default back. In that case the push logic will need to be able to read manifests from the registry during push, which is a permission the push flow should already have to accomplish that. I think we can keep this open for now.

[2019-07-09 17:39] crosbymichael commented on #3234
@martmists is this ip and configuration what you are seeing?

https://github.com/containerd/containerd/blob/master/script/setup/install-cni#L35

[2019-07-09 17:48] #3354 closed

[2019-07-09 17:50] crosbymichael commented on #3106
Going to close this for now.  Let us know if you need anything else.

[2019-07-09 17:50] #3106 closed

[2019-07-09 17:52] crosbymichael commented on #2204
This has been updated and documented with runtime v2 and how plugins are named.

[2019-07-09 17:52] #2204 closed

[2019-07-09 17:54] crosbymichael commented on #1999
Going to close this one for now.  This is from the 0.2.x branch that is no longer supported.  With 1.0 we have a prometheus api that can dump all the container stats at once.

[2019-07-09 17:54] #1999 closed

[2019-07-09 17:59] crosbymichael commented on #2821
Because of other services using namespaces we want to keep them flat and a user can use their own hierarchy to "nest" things.  I think we should close this and not add nesting of namespaces at this point in the project.

[2019-07-09 17:59] #2821 closed

[2019-07-09 18:00] crosbymichael commented on #2906
With runtime v2 and upcoming docker integration, this should be resolved.  Going to close for now.

[2019-07-09 18:00] #2906 closed

[2019-07-09 18:02] crosbymichael commented on #3019
I see in your stack that there was a pthread create failure, are you running out of resources on the system? memory/fds?

[2019-07-09 18:03] crosbymichael commented on #2983
I refactored a lot of the opts in moby recently and this isn't an issue.  The containers package is just metadata in containerd with types.  We also had a recent PR where we removed the runtime-tools dep in CRi so I think we should leave this as is.

[2019-07-09 18:03] #2983 closed

[2019-07-09 19:24] crosbymichael commented on #3234
@mikebrow do you know if this is created just for testing?

[2019-07-09 19:25] #3196 closed

[2019-07-09 20:09] mikebrow commented on #3234
no not just for testing..

[2019-07-09 20:13] crosbymichael commented on #3234
How is it used in CRI?

[2019-07-09 20:26] mikebrow commented on #3234
pods get an IP address... used for intra node communication with other pods... no NAT required.

[2019-07-09 20:27] mikebrow commented on #3234
there's also a cri api to modify the pod cidr.. I think it's being deprecated though

[2019-07-09 20:30] crosbymichael commented on #3234
is the cidr in that script the common one for kube?

[2019-07-09 20:37] mikebrow commented on #3234
is a good question... https://kubernetes.io/docs/setup/production-environment/tools/kubeadm/create-cluster-kubeadm/#initializing-your-control-plane-node

[2019-07-09 20:46] crosbymichael commented on #3234
It looks like it's the standard subnet for the pod bridge.

[2019-07-09 20:51] kfox1111 commented on #2901
Any updates?

[2019-07-09 21:02] wilmardo commented on #2901
In the meantime I found that the [Docker-CE repository](https://docs.docker.com/install/#supported-platforms) holds arm64 builds for the four most popular distros. The package is named containerd.io and can be installed separately from Docker.
The only downside is that the version in the repo seems to lack one version behind.

Not that related to this issue but might be useful for someone looking

[2019-07-09 21:10] kfox1111 commented on #2901
ah. that looks good. Thanks for the pointer. :)

[2019-07-09 21:14] martmists commented on #3234
For some reason it cuts off our server's main internet connection though

[2019-07-09 21:17] crosbymichael commented on #3234
@martmists that is your network's (LAN) ips?

[2019-07-09 21:19] crosbymichael commented on #3234
I think you can modify it anyways, there are some flags in kube or go into that file and change the range after install.  Should be in `/etc/cni/net.d`

[2019-07-10 07:38] sofat1989 opened #3401 "failed to create containerd container: error unpacking image: content digest sha256:16*: not found""
Due to a bug in docker https://github.com/moby/moby/issues/36789, when we repeat doing
[code]
. It will create the same image with different digests like this
[code]
For the pod with `imagePullPolicy: true`, it will pull the image every time

The flow will be like this, `image:v1 ` is not changed during this flow
![image](https://user-images.githubusercontent.com/12798796/60950365-92007180-a329-11

[2019-07-10 07:40] fuweid commented on #3401
@sofat1989 could you mind to provide containerd version and kube version? thanks

[2019-07-10 07:44] sofat1989 commented on #3401
@fuweid kubelet: v1.12.3    containerd: 1.2.4 thank you

[2019-07-10 17:10] raizoor commented on #3323
Team,

I have found the awnser: JFrog Artifactory have a bug. It compress the images and when we pull, it informs the manifest of compressed image, not the original size.
Ass @estesp said, containerd is more stringent than Docker client about verifying size matching of the manifest.

Thank you for all help!

[2019-07-10 17:10] #3323 closed

[2019-07-10 17:22] chewi commented on #3323
Any word if this will get fixed? Do you have a link to a bug report?
--
Sent from my Android device with K-9 Mail. Please excuse my brevity.

[2019-07-10 17:26] raizoor commented on #3323
See that:
https://github.com/containerd/containerd/issues/3110

[2019-07-11 01:28] 1032120121 commented on #1161
i do this command:
 ctr t exec --exec-id 268666 -t mycontainerid /bin/sh
/ # ls
bin   dev   etc   home  proc  root  run   sys   tmp   usr   var
/ # echo "abcd" > file
/ # cat file
abcd
/ # exit

but when i input command 'exit', can not return from console, it hangs

[2019-07-11 17:35] crosbymichael commented on #1161
@1032120121 I'm unable to reproduce your issue with the master version of containerd. Make sure you have an updated version of containerd that you are testing with.

[2019-07-12 01:32] fuweid commented on #3369
I did investigation about this case because I have this issue in our production. Just missing one layer snapshotter in few machine.  I still not find the way to reproduce this issue. It is environment issue probably. But we can keep eyes on this. Thanks for reporting.

@sofat1989

[2019-07-12 02:08] fuweid commented on #3387
Hi @rkojedzinszky , thanks for reporting. This issue has been fixed by https://github.com/containerd/containerd/pull/3270. The v1.2.6 doesn't handle well the variant. You can try the following script and it can download :joy: it is workaround.

[code]

anyway, you can use master branch to fix it in your env.

[2019-07-12 04:28] rkojedzinszky commented on #3387
Thanks for your reply.

Unfortunately, for me it seems that only ctr is fixed. When requesting containerd itself to pull the image using the CRI socket, it still fails:
[code]

Meanwhile, containerd produces these logs:
[code]

So kubernetes is still unable to start a busybox image, for example.

[2019-07-12 06:36] fuweid commented on #3387
Yeah @rkojedzinszky .

The master branch is ok right now. #3270 is bugfix and I think it is good reason to do backport. but I am not sure this is good reason to do release.

cc @containerd/containerd-release

[2019-07-12 08:59] rkojedzinszky commented on #3387
Hi @fuweid,

What do you mean that the master branch is ok? Actually I cannot download images based on latest master branch using kubernetes. `ctr` can, but containerd itself cannot.

Regards,

[2019-07-12 13:41] crosbymichael commented on #3387
@fuweid i think it's good to backport.  This change probably needs to hit the CRI repo as well for the client code change so that it works with kube

[2019-07-12 18:26] rn opened #3405 "overlayfs tests fail with Linux kernel v4.19.56 and newer"
Between Linux kernel v4.19.55 and v4.19.56 the containerd v1.2.7 overlayfs tests started failing with:

[code]

In the kernel changelog there were a number of changes, which seem relevant:
[code]

Discovered with LinuxKit during a kernel update: https://github.com/linuxkit/linuxkit/pull/3387

[2019-07-12 18:32] crosbymichael commented on #3405
I know i'm running on 5.0.x and it passes just fine.

[2019-07-12 18:43] kmjohansen commented on #3405
See also https://github.com/moby/moby/issues/39475

[2019-07-12 18:52] dmcgowan commented on #3405
Thanks @kmjohansen for the link

From that issue, it is related to https://git.kernel.org/pub/scm/linux/kernel/git/stable/linux.git/commit/?h=v4.19.56&id=f1c5aa5eda08710c2ba619d93126380881fa1114 and backported from 5.2.

I'll look into the tests more, it looks like an actual race we should fix as we shouldn't have mounts left over from previous layers after commit.

[2019-07-12 18:58] rn commented on #3405
5.0.x has been EOLed before the patches went in.

For 5.1.x between 5.1.14 and 5.1.15 a subset of the patches got applied:
[code]

5.1.15 also fails while 5.1.14 works.

[2019-07-12 19:07] crosbymichael commented on #3405
Ok, i have a 5.2 machine running and testing things out.  Hoping to reproduce

[2019-07-12 20:53] dmcgowan commented on #3405
This was fixed in master by #3262, but as this part of a new feature, the test didn't get backported to 1.2.  I think backporting that test fix is probably worth it though.

[2019-07-12 21:19] kmjohansen commented on #3405
It looks like @amir73il is working on a fix for this.  I've commented on his patch, letting him know about a few of the related issues that have run into this: https://github.com/amir73il/linux/commit/9995d3a5ee3851a6883b0627b703e64146291453#commitcomment-34287909

[2019-07-13 02:57] fuweid commented on #3387
Hi @rkojedzinszky , sorry for late reply. I found root cause and file pr to fix the issue. Thanks

https://github.com/containerd/cri/pull/1198

[2019-07-14 14:08] thaJeztah commented on #3387
@crosbymichael looks like this can be closed now that https://github.com/containerd/containerd/issues/3404 was merged (GitHub didn't close automatically)

[2019-07-14 14:22] fuweid commented on #3387
Hi @thaJeztah

#3404 only fixed the ctr pull issue at release/1.2. But the cri plugin still has the issue and I already filed pr for this. I think it should be closed after the cri issue has been fixed. WDYT?

[2019-07-14 21:49] fahedouch opened #3410 "make check failed in mac OS X"
**Description**

I tried to execute a make check under mac OS X but i had  error 1 output :
[code]

**Steps to reproduce the issue:**
1. brew install go
2. make check

**Describe the results you received:**
In mac OS X system ( --version go1.12.x) gometalinter will check in the GOROOT  which is /usr/local/Cellar/go/1.12.x/libexec/ by default in mac OS

**Describe the results you expected:**
make c

[2019-07-14 22:45] thaJeztah commented on #3387
Ah, right; I saw "closes #3387" in the pull request (but Github didn't pick it up) so that's why 🤗

[2019-07-15 12:19] sofat1989 opened #3412 "collected metric container_blkio_io_serviced_recursive_total: was collected before with the same name and label values"
When we get the metrics of containerd, we get this kind of error
[code]

After adding more logs, we find there are duplicated blkio entries returned by  the func https://github.com/containerd/containerd/blob/master/vendor/github.com/containerd/cgroups/blkio.go#L75

[code]

The root cause:
we have both `throttle.io_serviced` and `io_serviced_recursive`, so the IoServicedRecursive will be added twic

[2019-07-15 12:23] sofat1989 commented on #3412
https://github.com/containerd/cgroups/pull/93

[2019-07-15 14:58] #3060 closed

[2019-07-15 14:58] #3410 closed

[2019-07-15 18:50] stevvooe commented on #3349
These are unique errors. Centralizing them makes them really hard to track down. Centralizing errors should only be used if you want callers of your package to detect a certain error condition. In the case of containerd, this is typically one to one with GRPC. We can decorate those errdefs with more expressive error structs, if required. ErrUnknown plus detail might be an example of that.

Typical

[2019-07-15 18:50] #3349 closed

[2019-07-16 18:49] dmcgowan commented on #3405
Fix has been backported to 1.2 branch

[2019-07-16 19:57] crosbymichael commented on #3285
This was merged.  I think we can close now.

[2019-07-16 19:57] #3285 closed

[2019-07-16 20:26] crosbymichael commented on #3073
These changes have been merged to support both methods.  The managed Opt dir and still the primary supported usecase

[2019-07-16 20:26] #3073 closed

[2019-07-17 03:03] #3412 closed

[2019-07-17 15:24] fuweid commented on #3387
ping @rkojedzinszky , could you please try the release/1.2 branch in your testing env? I tested it in local with hacking code because I don't have arm env :joy: thanks.

[2019-07-17 20:43] crosbymichael commented on #2285
This has been merged.

[2019-07-17 20:43] #2285 closed

[2019-07-17 20:46] crosbymichael commented on #3051
I say we close this one for now.  If this still is a problem and we can repo, lets create again.

[2019-07-17 20:46] #3051 closed

[2019-07-17 23:19] stefanberger opened #3427 "Cannot push images to registry"
@dmcgowan : I am currently unable to push using `ctr images push` with git master tip (https://github.com/containerd/containerd/commit/c90a3d49323bf3d9c916afede87337cfafdd9319). The bad commit seems to be:

[code]

Output from `ctr`:
[code]

[2019-07-17 23:32] dmcgowan commented on #3427
Anything else you can share about the configuration of your local registry? I can't reproduce this locally just running open source registry with default configuration.

[2019-07-17 23:33] stefanberger commented on #3427
I am starting it like this here:
[code]

[2019-07-18 01:39] wenlxie commented on #3351
@crosbymichael  We used to use docker to do log rotate and overlayfs quota limitation. But we  move from docker to containerd, then these two features missed.  These two feature is very important feature for user who want to use containerd.  If there is no plan to add such feature to containerd. We should have a way to implemented these two features.

[2019-07-18 08:09] rkojedzinszky commented on #3387
Hi @fuweid,

I've compiled the binaries of commit 18100a35ebf3078df4947c45a50894091ecb60b1. I start containerd in a console, and from a different one, I issue:

[code]

Corresponding containerd logs:
[code]

Containerd version:
[code]

So right now it seems still to be broken.

[2019-07-18 14:30] estesp opened #3429 "Docs: label documentation (gc labels, snapshotter, any others?)"
We should add more documentation on specific labels and their impact to functions like GC, snapshotters, etc.

// cc: @dmcgowan

[2019-07-18 19:08] #3427 closed

[2019-07-19 02:27] fuweid commented on #3387
@rkojedzinszky thanks! I found the root cause. will update here.

[2019-07-19 21:41] dmcgowan commented on #3429
I am not sure we want a documentation that is directly related to these "functional" labels used by containerd (labels prefixed with `containerd.io`). Firstly, I think we should ensure these labels are documented next to the functionality which use them, then if we want to index them somewhere we can. Learning about a feature/functionality in containerd will rarely start from the label though.

[2019-07-20 01:45] wangpeng168 opened #3434 "Why does containerd not use the Update interface of the snapshotter plugin?"
When I use the third-party snapshotter plugin (for example: the snapshotter plugin in firecracker-containerd) needs to call the Update interface to change the label for the snapshot, containerd does not call the Update interface of the snapshotter plugin.

When the proposal needs to update the snapshot label, it hopes to update the data to the metadata.db of the third-party snapshotter plugin.

Ke

[2019-07-22 17:38] crosbymichael commented on #3320
The error is right in your output:

[code]
You just need to fix up your gopath

You can build using `make` from the repo or download the binaries off of the releases page if you need something.

[2019-07-22 17:38] #3320 closed

[2019-07-22 23:39] #3066 closed

[2019-07-23 10:02] sofat1989 opened #3440 "container runtime is down after kubelet is restarted"
From the kubelet goroutines, we found the routine is stuck in `initializeRuntimeDependentModules`
[code]
so we doubt the task service in the containerd went wrong. so we checked containerd's task service using
[code]
this command is hung. it cannot be responsed.
containerd's goroutine is stuck in
[code]
the error log
[code]

the containerd-shim of `904ccd129b84c8849d40f0b7f3e80a86098eb53c8705ab0f2

[2019-07-23 11:05] Ace-Tang commented on #3440
I think it is caused by shim self hang, I have a question, what operation you do to the shim.
And could you try this pr: https://github.com/containerd/containerd/pull/3355

[2019-07-23 18:31] crosbymichael opened #3442 "Remove GPG Prompt From Code"
The code here needs to be removed.  A package should not prompt the cli from input especially if it could be used within the daemon code. It's best to just remove the prompt support and force users to specificity the keys in the request.

https://github.com/containerd/containerd/blob/master/pkg/encryption/keywrap/pgp/keywrapper_gpg.go#L107

[2019-07-23 18:32] crosbymichael commented on #3442
cc @lumjjb

[2019-07-23 18:34] crosbymichael opened #3443 "Make encryption type explicit in ctr"
Right now there are just a ton of flags and I cannot follow the code to know what type of encryption is being used when I pass what flags.

These need to be explicit and will help the code be easier to read and follow.

[2019-07-23 18:34] crosbymichael commented on #3443
cc @lumjjb

[2019-07-23 18:36] dmcgowan commented on #3442
This also doesn't seem to make use of an agent.

[2019-07-23 18:36] crosbymichael commented on #3443
There is also the way `[]byte` are handled in the encryption code and how they are overloaded to mean different things, i.e. https://github.com/containerd/containerd/blob/master/pkg/encryption/encryption.go#L87 then it being something different here: https://github.com/containerd/containerd/blob/master/pkg/encryption/encryption.go#L100

Makes the code extremely hard to follow.  We need to clean th

[2019-07-23 18:39] lumjjb commented on #3442
SG, let me look into this.

[2019-07-23 18:41] lumjjb commented on #3443
Okay - we will add a flag for `--enc-protocol [openpgp/jwe/pkcs7]` and also add stronger typing to makes things clearer.

[2019-07-23 18:45] Random-Liu commented on #3440
Looks like the containerd shim hangs.

[2019-07-23 18:46] stefanberger commented on #3443
FYI: We currently choose the encryption scheme by the type of key being used.

[2019-07-23 18:46] lumjjb commented on #3442
@dmcgowan Sorry, not sure what agent is in this context.. Is it relevant if we remove the prompt entirely?

[2019-07-23 18:49] stefanberger commented on #3442
FYI: This prompt is not a prompt that appears on the command line but a prompt that automatically answers the query for a password via a function.

[2019-07-23 18:50] crosbymichael commented on #3443
Here is a patch that I started working on but got hungup on the CLI where its just mashed together and I don't know how it is routing.  For someone unfamiliar with the code, you really cant tell what encryption type is going to be used from those options:

https://github.com/containerd/containerd/compare/master...crosbymichael:set-types?expand=1

[2019-07-23 18:53] stefanberger commented on #3442
There's no agent involved in this case but it's the core GPG code from golang asking for a password to a key.

[2019-07-23 18:53] crosbymichael commented on #3442
Is there a better way to do it?  Just set the keys on the entity list?

[2019-07-23 18:55] stefanberger commented on #3442
This is the code that's calling this callback: https://github.com/golang/crypto/blob/master/openpgp/read.go#L188

[2019-07-23 18:56] Random-Liu commented on #3329
@wenlxie How does the project id work? For a given container, do we only need to set project id for the writable layer? Or we need to set the project id for all underlying layers?

Usually we only treat the writable layer as "belonging to the container", because underlying readonly layers are shared by containers.

[2019-07-23 18:56] crosbymichael commented on #3442
@stefanberger ok, i understand it now

[2019-07-23 18:56] #3442 closed

[2019-07-23 18:58] stefanberger commented on #3443
JWE 'responds' to plain RSA and EC keys, PKCS7 to storage key certificates, and OpenPGP to OpenPGP keys. They are all distinct and the option would be more or less redundant...

[2019-07-23 18:58] Random-Liu commented on #3351
@wenlxie For log rotate, we should improve kubelet log rotate to meet your requirement. I heard some issues about kubelet log rotate in KubeCon CN. Can you list those issues? Let's try to solve them.

[2019-07-23 19:04] crosbymichael commented on #3443
Then maybe the flags need better names, it just needs to be more explicit so I don't have to read though docs and know what flag goes to what wrapper

[2019-07-23 19:20] stefanberger commented on #3443
We allow to specify multiple recipients on the command line, such as in this command line here:

[code]

The first two are gpg recipients, the 2nd two will use JWE, and the last two use PKCS7. Since the encryption technologies take non-overlapping types of keys (see note above) there was no need to force using a certain encryption technology. PKCS7 in golang implementation requires a X509 certific

[2019-07-23 20:08] lumjjb commented on #3443
Yea we can add a flag with the encryption types, and provide more specific error messages as well..

[2019-07-23 20:11] crosbymichael commented on #3443
I would just like the code to be easier to follow because things like dcparameters [][]byte is super hard to follow and the way []byte are used in the code makes it very abstract.  It is not maintainable by people like me that did not develop the feature.  I would like this to be cleared up before we add more features

[2019-07-23 20:26] stefanberger commented on #3443
The issue with the `dcparameters` is that we need to pass them through the RPC to the applier. So rather than working with concrete data types like `RSA.PrivateKey` we parse them 'later' and the keys live as byte arrays. The guidance of what type of key a key has been detected to be is given by the key strings of the dcparameters map:

https://github.com/containerd/containerd/blob/master/cmd/ctr/c

[2019-07-23 20:44] lumjjb commented on #3443
I think we can have a nicer struct at the client side, and add a convert to/from function to [`config.CryptoConfig`](https://github.com/containerd/containerd/blob/master/pkg/encryption/config/config.go)...

So once it gets processed into a `CryptoConfig` the interface is no longer able to be introspected, and we just have an `Export(config.CryptoConfig) map[string][]byte`, and `Import(map[string]b

[2019-07-23 20:53] stefanberger commented on #3443
FYI: Here's the patch that passes the dcparameters through to the applier via the ApplyRequest:

https://github.com/containerd/containerd/pull/3426/commits/0bf78f8f2f38de9793d61a291b121f9775d16519

[2019-07-23 21:24] Random-Liu commented on #3386
@chuanlei Containerd or the cri plugin won't periodically load the cni config.

When using containerd with Kubernetes, the `Status` function will be periodically invoked by Kubelet, which will load the latest cni config. https://github.com/containerd/cri/blob/master/pkg/server/status.go#L47

If you are using standalone containerd + cri without kubelet, you can call `crictl info` to invoke `Status`

[2019-07-23 23:47] Random-Liu commented on #3401
@sofat1989 The fix makes sense to me.

[2019-07-24 02:12] Random-Liu commented on #3401
@sofat1989 I have another idea about how to fix this. See https://github.com/containerd/containerd/issues/3401

[2019-07-24 03:46] fuweid commented on #3440
We meet some hang issues caused by runC and kernel. When container exec inits, the delete(runC kill) request comes at the some time. The runC killall will try to freeze all the processes in the cgroup. If the runC init action cannot be frozen, the killall will enter infinite loop to freeze the process. In this case, the shim hangs and cannot response any request.

So I think we provide information

[2019-07-24 03:48] lumjjb commented on #3443
I've created a draft of how we can abstract `CryptoConfig` assembly into `KeyBundle`s. These are abstracted structures which are returned by calling constructors for each key type. These are part of the encryption library (which will be part of OCI). The public interfaces which the code base will interact with is as follows:

[code]

Sample patch: https://github.com/lumjjb/containerd/commit/960d75

[2019-07-24 04:31] chuanlei commented on #3386
@Random-Liu  thank you very mush

[2019-07-24 04:31] #3386 closed

[2019-07-24 11:41] stefanberger commented on #3443
Will the key types be auto-detected when parsing the parameters or do you force a type? Would a user always need to know the encryption technology being used when passing a key for decryption? What is the format for (K8s) going to be to pass in keys and passwords?

[2019-07-24 11:47] YLonely opened #3448 "ctr:Container can't be removed after deleting it's snapshot"
**Description**

Container can't be removed if snapshot is deleted first

**Steps to reproduce the issue:**
1. Run a container and it stops properly
![image](https://user-images.githubusercontent.com/18494838/61790586-32868380-ae4a-11e9-946c-b5dc5b071795.png)
2. Remove its snapshot
3. Try to remove this container : ctr c rm test

**Describe the results you received:**

![image](https://user-images

[2019-07-24 12:47] #3094 closed

[2019-07-24 13:33] lumjjb commented on #3443
Actually im going to change this to remove supported protocols, it seems redundant.. We can move the autodetect logic to the `encryption` package... If we add all the constructors to the `config` package technically we can also make private the fields of `Encrypt/DecryptConfig`.

[2019-07-24 13:46] stefanberger commented on #3443
It is redundant at the moment and would remain so if we accept that JWE will be used for RSA keys and there's no other choice coming up. Otherwise we could sort the key material under different keys of the parameters map(s), which IMO should be fine for as long as it's documented.

[2019-07-25 07:56] Random-Liu commented on #3401
@sofat1989 One thing I don't understand about your issue description:

Even though the digest for the 2 images are different, after pulling the new image, the old image should still be referenced by the old `RepoDigest`, why GC removes the manifest?

[2019-07-25 08:27] Random-Liu opened #3453 "Regression in `ctr images import`."
This is a serious regression introduced recently.

Old ctr only uses 6 seconds to import the kube-apiserver tarball.
[code]

`ctr` from containerd HEAD needs >50 seconds.
[code]

[2019-07-25 08:40] Random-Liu commented on #3453
I've verified that this is caused by https://github.com/containerd/containerd/commit/129942ca4d5764be1af04e03a30c841ddb452e11.

[2019-07-25 16:55] #3440 closed

[2019-07-25 18:57] #3401 closed

[2019-07-25 20:45] #3453 closed

[2019-07-26 08:47] sofat1989 opened #3457 "containerd-shim hung"
As mentioned in https://github.com/containerd/containerd/issues/3440, we catch the goroutines of containerd.
the goroutine is stuck in
[code]

This routine always is in a wait group.
`wg.Done()` is not executed  here
[code]

So when we delete the containerd-shim, delete will be stuck in
[code]

because delete goutine hold a lock of init, so new `state` request will be stuck in
[code]

[2019-07-26 09:52] fuweid commented on #3457
link to https://github.com/containerd/containerd/pull/3361

[2019-07-26 14:25] carlosedp commented on #3389
I checked out Strace on the 100% CPU process and it get's stuck on wait:

[code]

Any idea?

[2019-07-26 21:13] #2439 closed

[2019-07-27 08:59] fiws opened #3464 "update client-opts doc"
I followed the [docs here](https://github.com/containerd/containerd/blob/master/docs/client-opts.md):

This is the example code:

[code]

And ended up with the following error at compile time:

[code]

Then i tried to implement a basic Opts func "correctly" by scavenging the go docs and containerd source code, and ended up with:

[code]

which also does not work:
[code]

Would you kindly update th

[2019-07-27 09:30] fiws commented on #3464
I just realized that i passed `WithHtop` to the wrong function. My bad.

But one question remains. How do i get my `withNothingJustWorkPls` working?

[2019-07-27 12:50] fiws commented on #3464
I used the wrong import. Its `Container` from `github.com/containerd/containerd/containers` not from the core package (``github.com/containerd/containerd`)

:confused:

[2019-07-27 12:50] #3464 closed

[2019-07-29 11:46] sofat1989 commented on #3401
@Random-Liu  `the old image should still be referenced by the old RepoDigest`, this happens in cri cache. But in the containerd, all the repodigest are updated. Old image already has no refs.

[2019-07-29 14:49] #3448 closed

[2019-07-29 20:05] #3434 closed

[2019-07-29 23:10] kewu1992 opened #3466 "Allow client to connect to containerd remotely"
Can we please have the feature that allow client to connect to containerd remotely? This is similarly to dockerd remote API (https://success.docker.com/article/how-do-i-enable-the-remote-api-for-dockerd) but for containerd.

Thanks!

[2019-07-29 23:24] Random-Liu commented on #3466
@mikebrow @alculquicondor Here is the request for other containerd services. :)

We've supported this in the CRI plugin https://github.com/containerd/cri/pull/1187. I think we can support TCP endpoint for other services as well, which can make containerd even more powerful. :D

One thing needs further think is how to disable services on the tcp endpoint. I do believe that people don't want to have

[2019-07-29 23:52] dmcgowan commented on #3466
The TCP endpoint is already implemented and as @Random-Liu linked to, is already supported by the CRI plugin. By design, we do not support the core plugins registering on the TCP endpoint as these services are scoped to be used on a single host. However, there is nothing preventing users of containerd from creating plugins which use these internal services and providing your own API or exposing th

[2019-07-30 00:16] dmcgowan commented on #3307
Implemented by #3415

[2019-07-30 00:16] #3307 closed

[2019-07-30 00:36] rn commented on #3405
Thanks for the fix. Are you planning a new release of 1.2.x soon to pick up the fix?

[2019-07-30 18:08] dmcgowan commented on #3405
@rn we normally will schedule a release after we have higher priority fixes (or multiple lower priority fixes) on the 1.2 branch that affect the daemon. We don't normally do a point release for client or test fixes as those can be picked up directly from the branch.

[2019-07-30 18:25] justincormack commented on #3405
This is really inconvenient as we will have to change our build and release
scripts to build off a branch at which point you will do a release and we
will have to revert it. You should at least have a time bound on releasing
patches, and test failures do matter as many people test software before
using it.

On Tue, 30 Jul 2019 at 19:08, Derek McGowan <notifications@github.com>
wrote:

[2019-07-30 20:03] crosbymichael commented on #2985
It looks like this has been resolved in kube.

[2019-07-30 20:03] #2985 closed

[2019-07-30 20:04] crosbymichael commented on #2994
This should be resolved.  If it is not, please let us know so we can re-open the issue.

[2019-07-30 20:04] #2994 closed

[2019-07-30 20:12] dmcgowan commented on #3100
Closing this, it is using an unsupported media type. Track in the link given by Tonis

[2019-07-30 20:12] #3100 closed

[2019-07-30 22:36] #3163 closed

[2019-07-30 22:49] dmcgowan commented on #3405
Our releases have criteria around the process and we have criteria for merging into our release branches. However, when a release happens is only determined by opening a PR on the release branch with the release notes. Once it has been approved a maintainer will merge it and do a release. I use the word normally here because normally it is a maintainer who writes up the release notes and creates t

[2019-07-31 01:45] kevpar opened #3471 "Unify dialer implementations"
There are very similar or identical dialer implementations in (at least) `pkg/dialer`, `pkg/ttrpcutil`, and `runtime/v2/shim`. It looks like there is potential to unify these into set of dialer functionality (probably in `pkg/dialer`).

[2019-07-31 09:48] martynasb opened #3472 "Provide build scripts or debian/* files for containerd.io package"
Hi!

Looks like the latest available version of `containerd.io` package available for Debian jessie/stretch/buster is [`1.2.6-3`](https://download.docker.com/linux/debian/dists/jessie/pool/stable/amd64/). `containerd.io v1.2.7` contains important [bug fixes](https://github.com/containerd/containerd/releases/tag/v1.2.7) and it would be great to have it released soon.

In the meantime, could you pro

[2019-07-31 12:55] silenceshell commented on #3062
+1 for this

[2019-07-31 13:23] fuweid commented on #3062
Hi @Bevisy @silenceshell , `ctr tag` has been supported in master branch, more information is here https://github.com/containerd/containerd/pull/3388.

please reopen it if there is still any questions. Thanks!

[2019-07-31 13:23] #3062 closed

[2019-07-31 14:38] gabrik opened #3473 "Getting started example is not working"
**Description**

The getting started example of Go client API is not working

**Steps to reproduce the issue:**
1. wget https://github.com/containerd/containerd/releases/download/v1.2.7/containerd-1.2.7.linux-amd64.tar.gz
2. tar -zvf containerd-1.2.7.linux-amd64.tar.gz
3. creating the base configuration file
4. adding containerd/bin to PATH
5. go build main.go
6. sudo main

**Describe the results

[2019-07-31 15:00] gabrik commented on #3473
Just as a small update, if I create v2 just by copying v1 it works
`cp containerd-shim-runc-v1 containerd-shim-runc-v2`

[2019-07-31 17:38] crosbymichael commented on #3234
I'll close this one for now.  If you have any other issues let us know. Hopefully from the info above, you can change the subnet on the bridge to get your system working.

[2019-07-31 17:38] #3234 closed

[2019-07-31 22:31] dmcgowan commented on #1681
This possibly relevant to image encryption changes as well. Those changes could target a separate binary as well. Moving out of 1.3.

[2019-07-31 22:36] #1508 closed

[2019-08-01 00:17] dmcgowan commented on #1318
3 is the only remaining open, however there is currently no recorded issue with containerd regarding the location header as chunked upload is not yet implemented and the location header is used on upload. I am going to close this, if there is a specific issue then it should be opened up separately with instructions to reproduce.

[2019-08-01 00:17] #1318 closed

[2019-08-01 00:23] dmcgowan commented on #3472
This package is actually created by Docker and not the containerd maintainers. It is currently part of their internal release process but I am told they are spinning the open source parts out to make the scripts available. I couldn't find a better place to direct this issue to so I will just leave it open here, just not sure the maintainers of containerd can act further on it.

[2019-08-01 01:10] dmcgowan commented on #3236
The reproduction case seems to have a bug in it. There are changes being considered in CRI to allow fallbacks. Please see Random Liu's instructions for debugging and reproducing, if there is still an issue feel free to re-open.

[2019-08-01 01:10] #3236 closed

[2019-08-01 01:23] thaJeztah commented on #3472
/cc @seemethere

[2019-08-01 02:33] fuweid commented on #3387
Updated the root cause:

Assume that I am in arm platform :(

[code]

I try to use crictl pull busybox and get the result

[code]

check the manifest list and found that the missing one content is manifest for `linux/arm/v5/`

[code]

checked code and found that the CRI Plugin uses the `Pull` function with limitation of manifest number as one. The image can be fetched and unpacked. But when the CR

[2019-08-01 16:05] kfox1111 commented on #1508
1.2.1 is actually broken. See https://github.com/containerd/containerd/issues/2942 for details. It created quite a mess to fix.

1.2.4 would be a big help. 1.2.7 would be awesome. :)

Thanks,
Kevin

[2019-08-01 17:13] ibuildthecloud opened #3478 "containerd will don't die on sigint during bad initilization"
**Description**

If containerd is hung on start and you issue a SIGINT or TERM it will not die.  You must do a SIGKILL to terminate the process.

**Steps to reproduce the issue:**
1. Start containerd
2. Start a second instance of containerd so that the startup gets stuck
3. Hit ctrl+c or do kill PID

**Describe the results you received:**

The processes doesn't die.

**Describe the results you exp

[2019-08-01 17:20] crosbymichael commented on #3478
Would it be better to just exit out on the second daemon?

[2019-08-02 03:12] Ace-Tang opened #3481 "containerd leak fds to shim"
**Description**

First, I am not sure it's a bug report, the problem occur should satisfy this conditions:
1. put container rootfs on a remote disk
2. use golang 1.12 to compile containerd

generally, the fd leak won't get probelm, only use remote disk, this will make remote disk fail to umount.

Here is the detail description:

the remote disk cannot be deleted since file fd was hold by some shim

[2019-08-02 09:40] th3mis commented on #2202
I have the same output in journalctl my JNLP slave for Jenkins is dead spontaneously when many build are created and aborted in short period of time.

[2019-08-02 14:01] #2639 closed

[2019-08-02 15:02] wenlxie commented on #3351
@Random-Liu  Sorry for miss the message.

Docker checks the logs number and size before writes log to files.

Issues we met for log rotate:

1. Log rotate only check running versions of logs, but not care about previous logs.
If a container keeps running  and crash, then there will be lots of logs not cleaned.

This is the logs from one of the nodes we didn't fixed this issue.

[code]

2. We met i

[2019-08-02 15:55] lumjjb commented on #3443
Is this issue resolved with #3452 and #3460?

[2019-08-03 01:52] ibuildthecloud commented on #3387
@fuweid Your analysis is correct. k3s uses containerd v1.2.7 on arm and we apply the patch from https://github.com/containerd/containerd/pull/2992 to make it work that fixes what you found plus what you found in d643f1dc886cb7a4d984ab7ac132e2049571aaf6.  That PR is not the best, but it is what we've been running for quite some time now.  The proper fix for v1.2.x is to cherry pick your fix d643f1d

[2019-08-03 02:07] ibuildthecloud commented on #3478
One could kill the other daemon (you will end up with two dead daemons though).  Admittedly this isn't a big issue but just seems like something on startup is not respecting the ctx.

[2019-08-03 02:18] ibuildthecloud commented on #3478
I looked into why this happens.  It's the boltdb lock it's hung on.  Interesting though is if you make that startup fail when it can't get a hold of the boltdb lock containerd still boots into a borked state.  You will just get errors like below afterwards.

[code]

So currently wait forever for lock is the best behavior, because if you make it fail it just gets worse.

[2019-08-03 02:18] #3478 closed

[2019-08-05 10:03] gabrik opened #3487 "Creating Task with cio.LogFile fails with no such file or directory even if file exists"
**Description**

Starting a Task on a Container using Go Client and trying to log to file fails with:
[code]
Even if file esists
I'm using this code https://pastebin.com/5gkWEjaG

**Steps to reproduce the issue:**
1. curl -L -o example.go https://pastebin.com/raw/5gkWEjaG
2. go build example.go
3. sudo ./example

**Describe the results you received:**
[code]
But /tmp/redis.log exists, same error i

[2019-08-05 15:40] fahedouch opened #3488 "btrfs error on build"
Hello i am using CentOS Linux release 7.6.1810 (Core) . I am trying to make a build of containerd project but i'am facing this issue :

`
+ bin/ctr
+ bin/containerd
# github.com/containerd/containerd/vendor/github.com/containerd/btrfs
vendor/github.com/containerd/btrfs/btrfs.go:38:25: fatal error: btrfs/ioctl.h: No such file or directory
 #include <btrfs/ioctl.h>
                         ^
compila

[2019-08-05 16:08] praveensastry commented on #3471
I would like to contribute to this @kevpar

[2019-08-05 16:27] jterry75 commented on #3471
@praveensastry - Please do!

[2019-08-05 17:12] crosbymichael commented on #3487
Yes, it's up to the caller to create the file first.  You can add a simple:

[code]

to your code to resolve the issue.

[2019-08-05 17:15] crosbymichael commented on #3487
Also i just ran your code

[2019-08-05 17:18] Random-Liu commented on #3488
I keep getting same error recently.

Haven't got time to check what dependency was changed.

[2019-08-05 17:21] crosbymichael commented on #3488
You just have to install the btrfs headers and it should be fine.

[2019-08-05 17:26] Random-Liu commented on #3488
`sudo apt-get install libbtrfs-dev` on ubuntu.

I'm pretty sure that I only installed `btrfs-tools` before, and it worked.

[2019-08-05 18:28] fahedouch commented on #3488
@Random-Liu  `btrfs-progs-devel` does resolve the problem.

[2019-08-05 18:28] #3488 closed

[2019-08-05 19:45] crosbymichael commented on #3473
From this and your other issue about LogFile, you don't have the current daemon installed.  You are using a master containerd client running a 1.2.6 daemon do it has some discrepancies

[2019-08-05 19:45] #3473 closed

[2019-08-05 19:46] crosbymichael commented on #3487
This is because you have a 1.2.7 daemon and LogFile is not supported in that version ( you have the client from master which has that support.)  Update both client and server to master or the 1.3 beta and you will be good to go.

[2019-08-05 19:46] #3487 closed

[2019-08-05 20:04] nitkon commented on #2996
@estesp: With ppc64le arch now part of the Travis CI, will the next release of containerd include ppc64le binaries as well?

[2019-08-05 20:09] estesp commented on #2996
The binaries that are used for the GitHub release do not come from Travis, so having ppc64le enabled in Travis doesn't solve the problem of multi-arch distribution (we don't provide ARM64 either, even though there is Openlab CI running now, for example).

I think packaging and multi-platform is a separate issue. Most consumers of containerd are not using the GitHub binary release to my knowledge;

[2019-08-05 20:59] estesp opened #3491 "Investigate: TravisCI ppc64le enablement issues"
@nitkon

- ~We inadvertently lost `GOOS=darwin` runs on PRs and branches with the new config~ (Fixed by #3493)
- It looks like (disk?) perf. gets exceptionally bad when two runs happen simultaneously through similar code _(IBM team reaching out via TravisCI contacts)_

For the second case, the merge to master of #3272 has 2 variants of the matrix running through the `make root-coverage` at the sam

[2019-08-06 14:52] estesp commented on #3491
After 12+ hours of runs, it looks like this is a flaky test on ppc64le architecture only and needs someone to dig further:
[code]
(this is part of the integration test runs)

[2019-08-06 16:41] estesp commented on #3491
More of the same:
[code]

[2019-08-06 16:47] nitkon commented on #3491
@estesp : Oops! I will take a look at it ...

[2019-08-06 19:58] #1862 closed

[2019-08-06 20:34] estesp commented on #3491
Logging the performance issue here for easy reference:

#### containerd/containerd "root-coverage" tests are executed via this line in Travis config:
`if [ "$TRAVIS_GOOS" = "linux" ]; then sudo PATH=$PATH GOPATH=$GOPATH make root-coverage ; fi`

- **usual perf. of select snapshotter tests on ppc64le**
[code]

- **usual perf. of select snapshotter tests on amd64**
[code]

- **during "contention" (m

[2019-08-07 15:47] carlosedp commented on #3389
I traced it again comparing to containerd on another box (an ARM SBC that does not present the problem) and found this:

ARM:

[code]

RISC-V:

[code]

As can be seen, on the Risc-V built between the `clock_gettime` calls there are lots of `epoll_pwait` calls that might be causing the CPU spin-ups. On the ARM build this doesn't happen.

Maybe there is some Kernel feature missing on Risc-V?

[2019-08-08 01:51] estesp commented on #3491
Added data point: The `TestContentClient` failures looks to be related to the same contention issue with multiple concurrent runs. For example, if you see a `make root-coverage` that has the 5-9 minute runtime for snapshotters (and makes it through that section without a 10 min timeout), it will fail the `TestContentClient` tests with the "`locked: unavailable`" problem shown in earlier comments.

[2019-08-08 04:44] darfux opened #3504 "namespace.WithNamespace is not thread safe"
**Description**
If there are multiple goroutines calling `namespace.WithNamespace` on a ctx that already had namespace, there will be a data race like:
[code]
Maybe this is because `withTTRPCNamespaceHeader` sets the MD directly,
https://github.com/containerd/containerd/blob/0b7abc02b22309a648a8ba5ebe2a2d189c474cbe/namespaces/ttrpc.go#L30-L35
while `withGRPCNamespaceHeader` will take a copy of MD.

[2019-08-08 13:03] estesp commented on #3491
Another item to check with Travis: are these systems getting less resource than x86?
[code]
_from https://travis-ci.org/containerd/containerd/jobs/569199713_

[2019-08-08 14:29] crosbymichael commented on #3504
I think it's fine to handle this in containerd

[2019-08-08 15:36] estesp commented on #3491
Looks like the `TestContentClient` failures are due to this wait-for-lock retry giving up after 10 random sleeps when acquiring a writer in contentStore.Writer(): https://github.com/containerd/containerd/blob/1eb13fc2f008b069ea9cefb72f1ebdc0346dd6a1/content/local/store.go#L453-L469

Which makes sense that the performance issues seen during concurrent runs impacting the snapshotter runtimes are the

[2019-08-08 16:03] darfux commented on #3504
ok, I'll raise a PR for this 😃

[2019-08-08 17:14] crosbymichael opened #3507 "Bad test: CRI could not add IP address to \"cni0\": file exists"
[code]

[2019-08-09 01:30] wenlxie opened #3511 "docker volume isn't controlled"
**What is the problem you're trying to solve**
User's image have volume defined in dockerfile.
For containerd, it will create a dir host the host and mount to container.
PR:  https://github.com/containerd/cri/pull/247
But this dir is not controlled, user may writes lots of datas to that mounted dir inside container to abuse the system.

**Describe the solution you'd like**
1. User need to do resou

[2019-08-09 01:40] Random-Liu commented on #3511
The usage should be charged as part of pod ephemeral storage.

[2019-08-09 02:09] #3387 closed

[2019-08-09 02:29] wenlxie commented on #3511
@Random-Liu
If we make this like emptyDir, then the volume's lifecycle is along with the pod. But if not specific configured,  the VOLUME's lifecycle is along with container in contained. If container restart, then the VOLUME data will be lost.  When remove the container, it will remove all of the directories under  dir `io.containerd.grpc.v1.cri/containers/<container id>`.  Not sure whether there

[2019-08-09 05:17] wenlxie commented on #3329
@Random-Liu
1. No need to set the project id for all underlying layers, because underlying layers may shared by different containers, we can't set one dir belongs to different project id.
2. Upper layer and work layer need to be set with the same project id. Low layer is no need.

[2019-08-09 12:22] #3504 closed

[2019-08-09 15:29] fahedouch opened #3517 "adding --env-file flag to ctr"
**What is the problem you're trying to solve**
making multiple environnement variable with `ctr` command it's not very clean

**Describe the solution you'd like**
adding flag `--env-file`

**Additional context**
Add any other context about the feature request here.

[2019-08-09 23:34] Random-Liu commented on #3507
Talked with @koonwah from our networking team.

We believed that this is a bug in CNI bridge plugin.

When test starts up, multiple pods are started concurrently and containerd will setup their network with CNI.
Since the cni0 interface doesn't exist, several goroutines will try to create the bridge.

The bridge creation seems to be thread safe, because the `syscall.EEXIST` error is checked: https

[2019-08-10 00:15] Random-Liu commented on #3507
https://github.com/containernetworking/plugins/pull/366 should fix this. (If they accept that patch)

[2019-08-10 01:11] 1032120121 opened #3521 "Registry TLS Config usually no key file, only have crt file"
**What is the problem you're trying to solve**
In current master code, config.Registry.TLSConfig include field ca_file, key_file and cert_file, but client  have usually cert_file, like /etc/docker/cert.d/xxx.domain/xxx.crt in docker, it is not safe that key_file as private key remain in client, and client do not need it yet.

**Describe the solution you'd like**
like /etc/docker/cert.d/xxx.domain/

[2019-08-10 01:18] 1032120121 commented on #3521
create new file in directory remotes/client.go, the file abstract common function returned tls client with crt file by ref domain accessed.
func GetTLSClient(ref string, crtDir string) (*http.Client, error)

in func (c* criService) getResolver of /vendor/github.com/containerd/cri/pkg/server/image_pull.go
the code looks like this :
func (c *criService) getResolver(ctx context.Context, ref string, c

[2019-08-10 06:27] AkihiroSuda commented on #3521
IIUC the files are client cert & key, not server cert & key? Though not needed when TLS client auth is unused.

[2019-08-10 07:31] AkihiroSuda commented on #3521
The problem per se should be fixed in https://github.com/containerd/cri/pull/1233 , but anyway it would be good to have CertsDir :+1:

[2019-08-10 08:43] AkihiroSuda commented on #3521
https://github.com/containerd/containerd/pull/3522

[2019-08-10 17:22] Random-Liu commented on #3504
[code]

I think I'm hitting this in the CRI Plugin. It panics containerd. We have to properly fix it.

[2019-08-11 16:19] tonistiigi commented on #3389
this should be fixed by https://github.com/golang/sys/pull/40

[2019-08-11 17:31] tonistiigi commented on #3389
I still have some stability issues with occasional ttrpc errors but might be caused by `qemu-user` as I don't have real hardware to test on.

[2019-08-12 10:20] #3521 closed

[2019-08-12 16:01] #3389 closed

[2019-08-12 16:49] carlosedp commented on #3389
Fixed by #3526

[2019-08-13 17:59] crosbymichael commented on #3095
This has been resolved.

[2019-08-13 17:59] #3095 closed

[2019-08-13 18:00] crosbymichael commented on #3061
I believe this can be closed now that we had #3063 merged

[2019-08-13 18:00] #3061 closed

[2019-08-13 18:01] crosbymichael commented on #3019
When you have time and if this is still an issue with 1.2.7+, please update this issue with more information.

I'll close this for now and we can reopen if needed.

[2019-08-13 18:01] #3019 closed

[2019-08-13 18:12] crosbymichael commented on #2695
Is this still an issue?

[2019-08-13 18:13] #1659 closed

[2019-08-13 18:45] lumjjb commented on #2695
let me see if i can reproduce with the latest branch.

[2019-08-13 19:27] stefanberger commented on #2695
I was able to remove the `sleep 2` commands I previously had to add in between `ctr` commands in a script so that the errors could be prevented.

[2019-08-13 19:53] crosbymichael commented on #3507
To resolve this issue will it be a plugin bump in CRI?

[2019-08-13 19:56] lumjjb commented on #2695
We should be good then.

[2019-08-13 19:56] #2695 closed

[2019-08-13 22:58] Random-Liu commented on #3507
@crosbymichael Yeah. https://github.com/containerd/cri/pull/1237

[2019-08-14 04:54] CpuID commented on #3031
Go 1.12.x has been GA for a while. Can we get a resolution to this? Causing some dependency hell here, thx.

[2019-08-14 16:29] AkihiroSuda opened #3533 "push should support chunked upload (PATCH)"
**What is the problem you're trying to solve**

Currently containerd client's push API (consumed by BuildKit) doesn't support chunked upload (HTTP `PATCH`).

jFrog is known to require `PATCH`: https://github.com/moby/buildkit/issues/1130 https://www.jfrog.com/jira/browse/RTFACT-19344

**Describe the solution you'd like**
Extend the push API to support PATCH
https://github.com/containerd/containerd

[2019-08-15 15:49] #2991 closed

[2019-08-15 20:52] Random-Liu commented on #3507
Fixed by Update cni plugins to v0.7.6.

[2019-08-15 20:52] #3507 closed

[2019-08-16 07:43] michael2012z opened #3543 "make integration failed in container"
**Description**

I followed the guide here to build and install containerd in a container: https://github.com/containerd/containerd/blob/master/BUILDING.md#via-docker-container

Then I executed "make integration" to try the integration test but all cases failed. The error is:
+ integration
INFO[0000] running tests against containerd              revision=074b75907b1f6a753b26d24de93b3eeddb5d0d22 ru

[2019-08-16 16:31] fuweid commented on #3543
hi @michael2012z , could you provide all the log into file? and dmesg information? thanks

[2019-08-19 04:57] AkihiroSuda opened #3549 "support pulling manifest without Docker-Content-Digest header"
**What is the problem you're trying to solve**

Support pulling images from a registry which doesn't include `Docker-Content-Digest` header for manifests.

**Describe the solution you'd like**

Support pulling manifest without Docker-Content-Digest header

**Additional context**

Reported in https://github.com/genuinetools/img/issues/236

[2019-08-19 17:07] dmcgowan commented on #3549
Already fixed by #3245

[2019-08-19 17:07] #3549 closed

[2019-08-19 17:09] estesp commented on #3549
Should we bring #3245 back to `release/1.2`; seems like it could be perceived as a bug fix for working with a broader set of registry implementations?

[2019-08-19 17:21] dmcgowan commented on #3549
I would only suggest pulling in such a large client change if the fix is requested by the CRI plugin (ping @Random-Liu)

[2019-08-19 18:44] Random-Liu commented on #3549
@estesp @dmcgowan We haven't got issue report for this yet in either CRI plugin or Kubernetes.

But this does look like a bug to me, given that even the OCI distribution spec doesn't require it.

[2019-08-19 18:54] dmcgowan opened #3552 "Create reference labels with more meaningful names"
When reference labels are set for objects, use names which are meaningful to understand when listing object labels. For example, config references on a blob could all use the same key, to make it very easy to filter all of the config labels.

First attempted this in #3065 but a more configurable solution is desired. Add this issue for tracking

[2019-08-19 19:04] dmcgowan commented on #3533
Adding support for `PATCH` is fine, however, this will not necessarily fix their issue. We are not going to fallback to `PATCH` when the monolithic upload fails nor guarantee we will not do monolithic upload. We support the specification and registries must implement the specification to be supported. This may cause breakage with Docker in the future if they don't fully implement the spec.

[2019-08-19 19:09] jpreese opened #3553 "1.3 is currently a breaking change"
**Description**

When using containerd as a module, migrating from 1.2 to 1.3 is a breaking change.

**Steps to reproduce the issue:**
I highlighted the events in this issue
https://github.com/instrumenta/conftest/issues/8#issuecomment-522693289

Oras depends on containerd 1.2.6
Buildkit depends on containerd 1.3.0

Our application, which uses both, is forced to 1.3.0 which complains about a missi

[2019-08-19 19:14] crosbymichael commented on #3553
Is this just a compile time issue because the 1.2.x and 1.3.x API versions are backwards compatible.

[2019-08-19 19:17] jpreese commented on #3553
Yes, compile time.

When creating a project that uses a package that depends on containerd 1.2, and a package that depends on 1.3, the project (may) fail to compile because docker/docker/registry removed a public field in their ServiceOptions{} struct.

[2019-08-19 19:39] bcmills commented on #3553
As far as I can tell, `github.com/docker/docker` makes no compatibility guarantee for their Go APIs — not even the usual Go guarantee of compile-time compatibility (see https://github.com/moby/moby/issues/37281#issuecomment-399102635 and https://github.com/moby/moby/issues/39056#issuecomment-483438659).

From https://github.com/moby/moby/issues/31842, it seems that they intend to semantically-vers

[2019-08-19 19:40] bcmills commented on #3553
(CC @justincormack @cpuguy83 for Docker context.)

[2019-08-19 19:47] crosbymichael commented on #3553
Can you post the full build log for this? what code in containerd is return the error for the docker import?  I cannot find anything greping though

[2019-08-19 19:53] jpreese commented on #3553
The simplest example I can give would be:

1. Fork conftest https://github.com/instrumenta/conftest
1.1 (cd into cmd/ and run go build as a sanity check)

2. Update the containerd reference in `go.mod` to point to v1.3.0-0.20190507210959-7c1e88399ec0

3. run go build again

[code]

Alternatively you could add a reference to `github.com/asottile/dockerfile` in the project, even in `main.go` and imm

[2019-08-19 20:46] dmcgowan commented on #3553
This is the long term plan, right now it is the CRI plugin which utilizes it. We have already banned it from containerd core.

Related to the Go client support, we should track that in a separate issue. Today the Go client API is not stable, therefore breaking changes are allowed, although we try to avoid them when not necessary. We can consider to stabilize it in an upcoming release but we first

[2019-08-19 20:46] #3553 closed

[2019-08-19 20:51] dmcgowan opened #3554 "Stabilize Go client"
This is a tracking issue for Go client stabilization. Once the Go client has stabilized we will guarantee not to make breaking changes in minor releases, similar to the API.

This is a non-exhaustive list of items before stabilization
- [x] Move to go modules (All containerd repositories)
- [x] Audit and remove unstable upstream dependencies (moby/moby, docker/distribution, etc)
- [x] Audit incons

[2019-08-19 23:49] btashton opened #3556 "Auth flow should not require scope in auth header"
**Description**
containerd currently requires that a scope be returned in `WWW-Authenticate` header, it is unclear to me why this is required, especially as docker authenticates correctly without it.

This is returned by the registry in the Unauthorized response:
[code]

When the check for zero length scope https://github.com/containerd/containerd/blob/c6da899e2fd5ec5f0863d4be5ff683ee785d155c/remo

[2019-08-20 00:14] dmcgowan commented on #3556
Today this is following the specification as defined by https://docs.docker.com/registry/spec/auth/token/. The goal is to generalize the implementation as OAuth for the OCI distribution specification though, in that case no scope would be interpreted as the OAuth server not defining a scope (such as http://self-issued.info/docs/draft-ietf-oauth-v2-bearer.html#anchor4). We want to minimize the spec

[2019-08-20 09:50] yevgenypats opened #3558 "Continuous Fuzzing"
Hi, I'm Yevgeny Pats Founder of [Fuzzit](https://fuzzit.dev) - Continuous fuzzing as a service platform.

We have a free plan for OSS and I would be happy to contribute a PR if that's interesting.
The PR will include the following
- [go-fuzz](https://github.com/dvyukov/go-fuzz) fuzzers (This is generic step not-connected to fuzzit)
- Continuous Fuzzing of master branch which will generate new corp

[2019-08-20 10:05] AkihiroSuda commented on #3558
No spam please

https://github.com/issues?utf8=%E2%9C%93&q=is%3Aissue+author%3Ayevgenypats+

[2019-08-20 10:05] #3558 closed

[2019-08-21 04:11] estesp commented on #3481
I believe this is now solved by all supported releases moving to Golang 1.12.9 at this point. Please re-open if there is any remaining issue I'm not aware of.

[2019-08-21 04:11] #3481 closed

[2019-08-21 06:08] LinShuicheng opened #3566 "Multus + Calico cannot allocate IP with containerd"
**Description**
Multus + Calico as the CNI, it works well in K8S with Docker as the container runtime. After switch container runtime to containerd. Calico fail to allocate cluster IP for pod.
1. If I remove multus config in cni, calico could allocate IP successfully. Issue disappear.
2. If I change the cniVersion info in Multus config file from "0.3.0" to "0.2.0". Issue doesn't occur, but I don't

[2019-08-21 07:14] michael2012z commented on #3543
Came back so late, sorry.
In dmesg I saw:
[52334.509934] overlayfs: filesystem on '/var/lib/containerd-test/io.containerd.snapshotter.v1.overlayfs/snapshots/2/fs' not supported as upperdir
[52335.335926] overlayfs: filesystem on '/var/lib/containerd-test/io.containerd.snapshotter.v1.overlayfs/snapshots/3/fs' not supported as upperdir
[52335.370631] overlayfs: filesystem on '/var/lib/containerd-tes

[2019-08-21 07:18] fuweid commented on #3543
@michael2012z thanks! I suggest don't try to do overlayfs on overlayfs 😂

if problem has been solved, please close it. Thanks!

[2019-08-21 08:14] michael2012z commented on #3543
Thank you.

[2019-08-21 08:14] #3543 closed

[2019-08-21 15:37] tonistiigi opened #3568 "[1.3.0] concurrent map writes panic"
Panic on parallel requests using the same context.

https://travis-ci.org/moby/buildkit/jobs/574635383#L1892

[code]

related change should be https://github.com/containerd/containerd/commit/fa6a9f063586e30833bdb9842e84289f4ef11020

**Output of `containerd --version`:**

https://github.com/containerd/containerd/commits/f0821348b4a8 ~ 1.3.0-beta.0

@crosbymichael @tiborvass

[2019-08-21 15:43] fuweid commented on #3568
@tonistiigi this pr https://github.com/containerd/containerd/pull/3506 seems already to fix the issue

[2019-08-21 15:46] fuweid commented on #3568
duplicated with #3504 :)

[2019-08-21 16:01] tonistiigi commented on #3568
@fuweid thanks

[2019-08-21 16:01] #3568 closed

[2019-08-21 17:27] Random-Liu commented on #3566
@LinShuicheng It seems that you are trying to use multiple network interface in a pod?

Check this? https://github.com/containerd/cri/issues/1154

[2019-08-21 18:26] Random-Liu opened #3569 "Direct Unpack breaks Kubernetes containerd test."
Tests:
* https://k8s-testgrid.appspot.com/sig-node-containerd#containerd-e2e-ubuntu
* https://k8s-testgrid.appspot.com/sig-node-containerd#containerd-e2e-gci

Example error message:
[code]

The test failure started right after the direct unpack change was merged, so I believe it is correlated. https://github.com/containerd/containerd/pull/3528

[2019-08-21 20:07] #3569 closed

[2019-08-22 01:01] LinShuicheng commented on #3566
Hi Random, Thanks for the reply. So I need use containerd 1.3 version. Is it right?
Let me try it and update the result later.
Thanks very much for your quick support.

[2019-08-22 01:04] Random-Liu commented on #3566
@LinShuicheng I believe so.

[2019-08-22 05:37] LinShuicheng commented on #3566
@Random-Liu with latest containerd code, it works. But after reboot system, calico-kube-controllers/coredns pod will be in "Unknown" status. Do you know how to check it? Thanks.
controller-0:~$ kubectl get po -n kube-system -o wide
NAME                                       READY   STATUS      RESTARTS   AGE     IP              NODE           NOMINATED NODE   READINESS GATES
calico-kube-controller

[2019-08-22 12:24] martynasb commented on #3472
ping?

[2019-08-22 16:13] CarpathianUA opened #3572 "docker-containerd-shim hung"
One of a Docker containers on our host is hung forever. It's not reacting to any `docker` command.

Docker version:
[code]
Containerd version:
[code]
The only way to stop container is to kill the `docker-containerd-shim` process
[code]
[code]
Stacktrace is added (`curl --unix-socket /var/run/docker/containerd/docker-containerd-debug.sock http://./debug/pprof/goroutine?debug=2`)
https://gist.github

[2019-08-22 18:11] Random-Liu commented on #3566
[code]
@LinShuicheng It seems that your cni config doesn't have a version

[2019-08-22 18:57] estesp commented on #3572
Given the 1.1.x release line is almost out of service, and the fact that the version of Docker engine you are using is on an old version of that release line (latest is 1.1.6), this may not be something we can fix for that collection of dependencies. Is there a way you can try a more recent Docker release based on the containerd 1.2.x release line? These are still in support and, if the problem we

[2019-08-23 01:38] LinShuicheng commented on #3566
@Random-Liu , cni config file ( 05-multus.conf/10-calico.conflist) is attached in the 1st comment. Could you help me have a look whether it is correct or not? Thanks.

[2019-08-23 09:45] CarpathianUA commented on #3572
@estesp Thanks for your reply. Unfortunately, we provision our k8s clusters with `kops` and it's currently doesn't support a newer Docker version. May I kindly ask you to look into a stack trace and point me what is probably happen with this hung containerd process? Thanks in advance!

[2019-08-23 17:35] kfox1111 opened #3576 "404 on cri-containerd 1.2.8"
1.2.8 was released but https://storage.googleapis.com/cri-containerd-release/cri-containerd-1.2.8.linux-amd64.tar.gz is not found.

[2019-08-23 21:00] Random-Liu commented on #3576
Done

[2019-08-23 21:00] #3576 closed

[2019-08-23 21:04] kfox1111 commented on #3576
Looks good. Thank you!

[2019-08-24 01:00] fuweid commented on #3572
@CarpathianUA the shim is locked by kill request

[code]

you should check the shim process and its children process. maybe the runC command is waiting  to be reaped by shim. could you provide the information or try to get the stack dump of the hung shim? thanks

and new version of containerd roll out and please try it :P

[2019-08-24 09:37] CarpathianUA commented on #3572
Hi @fuweid, thanks,
I'll provide a stack trace for the hung shim in the near future, probably after weekend

[2019-08-26 14:11] sofat1989 opened #3580 "rootfs absolute path is required when running density test using containerd-stress"
[code]
The error is thrown by functions WithImageConfig (density.go) ---> WithAdditionalGIDs (spec_opts.go)
[code]
By default, this function populateDefaultUnixSpec will set the
[code]
`defaultRootfsPath = "rootfs" ` in spec.go

It is obviously not an absolute path

I am very confused about this:
1. density test should never pass
2. WithImageConfig function is called in many tests in same way, lik

[2019-08-27 12:51] fspaniol commented on #2758
Hi,

I'm also facing this currently,:

Extra info, I'm using [KinD](https://github.com/kubernetes-sigs/kind) and that is the node where I want to pull the images to.

System information:

[code]

[code]

I see that there's a discrepancy between the containerd version and ctr version, could this be the case?

[code]

[code]

I've tried not to use the port in the mirror, but it also wasn't working,

[2019-08-28 09:17] thaJeztah commented on #3291
Also see https://github.com/containerd/containerd/pull/3245 / https://github.com/containerd/containerd/pull/3591

[2019-08-28 18:36] luxas opened #3593 "Possible to create a container with both logs and attach support?"
**What is the problem you're trying to solve**

I want to run a normal container that I can both attach to and check the logs for using containerd's Go API. By looking at the cio package it looks to me that I can do either (actually I've been successful in implementing both features in isolation), but not both at the same time, easily using the Go API.

**Describe the solution you'd like**

I'd li

[2019-08-28 21:32] CarpathianUA commented on #3572
Hello @fuweid @estesp
I've tried to get `docker-containerd-shim` process stack dump, but looks it's hard to get it on a stuck `dockerd`. Killing a process with `SIGUSR1` actually doesn't produce any valuable trace.
I'm providing a stuck `dockerd` goroutines [there](https://gist.github.com/CarpathianUA/5292c58d92f3510e54944b14c224930c) and attaching `dockerd` logs from `journalctl` and syslog, pars

[2019-08-29 05:17] sfxworks commented on #2306
Hi!

This appears to happen with the one of ibm's images

[code]

[2019-08-29 08:54] Ecsy opened #3597 "executable file not found in $PATH"
**Description**

`executable file not found in $PATH` error message is displayed although the executable is in path. Only containerd 1.2.8 version is affected.

**Steps to reproduce the issue:**

[code]

**Describe the results you received:**

[code]

**Describe the results you expected:**
Expected to get the same result as with alpine:
[code]

**Output of `containerd --version`:**

[code]

**Any

[2019-08-29 13:24] estesp commented on #3597
Looks like some images have a "null" environment, and more specifically, no default `$PATH` until a shell is executed and creates a process environment with a default `$PATH`. PR #3565 (from master #3551) took out the default environment as it was overriding some image's specific environments.

It's possible to claim this is the expected behavior for images which do not set a path--you would need

[2019-08-29 15:08] #3597 closed

[2019-08-29 15:49] fooock opened #3603 "List snapshots using snapshotter option incorrect usage"
**Description**

I want to list all snapshots in the current address using the `--snapshotter` option.

**Steps to reproduce the issue:**

`sudo ctr --address /run/firecracker-containerd/containerd.sock snapshots list --snapshotter=firecracker-naive`

**Describe the results you received:**
[code]

**Describe the results you expected:**

List of snapshots, including info `KEY PARENT KIND`

**Output

[2019-08-29 17:12] r0bj opened #3604 "failed to unpack image on snapshotter overlayfs: content digest not found"
**Description**

Cannot pull some images from docker hub registry.

**Steps to reproduce the issue:**
[code]

[code]

Message from kubernetes kubelet:
[code]

**Describe the results you received:**

Error message is generated, eg:
[code]

**Describe the results you expected:**

Image is pulled locally.

**Output of `containerd --version`:**

[code]

**Any other relevant information:**
Tested on GK

[2019-08-29 18:19] Random-Liu commented on #3604
This is a multi-platform image issue.

Here is your image:
[code]

When pulling image, we only pull and unpack content for one of the matched image. (The `1` at https://github.com/containerd/containerd/blob/master/pull.go#L88).

When getting the image information, there is no such limitation, so it tries to match all images. However, because other images are not downloaded during pull, the "conten

[2019-08-29 18:27] Random-Liu commented on #3604
Hm, this should have been fixed in HEAD https://github.com/containerd/containerd/commit/1161409779f0275f5e65a697d587ff893f9f9188.

Let's cherry-pick the fix into 1.2?

[2019-08-29 18:29] estesp commented on #3604
It did end up in 1.2.8, and 1.2.9 will be out soon with some additional fixes (unrelated to that particular issue).

[2019-08-29 18:31] Random-Liu commented on #3604
@r0bj We'll update containerd in GKE soon. And this should be fixed in newer GKE versions.

[2019-08-29 19:17] r0bj commented on #3604
@Random-Liu thanks for info.

[2019-08-29 19:43] mxpv commented on #3603
I think `--snapshotter` flag should be between `snapshots` and `list`
Like this:
`sudo ctr --address /run/firecracker-containerd/containerd.sock snapshots --snapshotter=firecracker-naive list`

[2019-08-29 20:45] fooock commented on #3603
thanks, working 👍

[2019-08-29 20:45] #3603 closed

[2019-08-29 21:41] Random-Liu commented on #3604
The issue should have been fixed in containerd 1.2.8.

Vendors will update containerd to fix the issue, e.g. GKE.

Close this for now. Feel free to reopen if you still need anything. :)

[2019-08-29 21:41] #3604 closed

[2019-08-29 21:49] Random-Liu commented on #3593
@luxas We've handled that in the CRI plugin, you can take a look https://github.com/containerd/cri/blob/master/pkg/server/io/container_io.go

And I believe Docker also did similar thing.

[2019-08-31 09:42] luxas commented on #3593
Ok, thanks. We actually were able to do pretty crazy workarounds to do all of it client-side, upon executing the `logs` and/or `attach` without a long-running process like the CRI plugin.

Basically:
FIFO handling with attach and logs:
- Attach will read the stdout FIFO and in addition to writing to screen, copy the output to a file
- Logs will first read and print the file, then read the FIFO and

[2019-09-01 10:44] luxas commented on #3593
However, I think the question is here: Do you think it'd make sense to provide a multiwriter-type of functionality in containerd to allow writing stdout to a pipe, and a persistent log file, to avoid the above hacks you need to?

[2019-09-03 08:20] yowenter opened #3613 "failed to pull image from self hosted registry v2"
**Description**
ctr can't pull image from self host v2 registry

**Steps to reproduce the issue:**
1.docker run -d  --name registry -p 5000:5000 registry:2.2
2.ctr --debug i pull  localhost:5000/busybox:latest

**Describe the results you received:**
ctr --debug i pull  localhost:5000/busybox:latest
DEBU[0000] fetching                                      image="localhost:5000/busybox:latest"
DEBU[

[2019-09-04 02:27] rgulewich opened #3617 "containerd-shim hang"
**Description**

We're seeing `containerd-shim` processes hanging around after a container dies.  In the case I'm currently looking at, the process inside died of an OOM.

I was able to connect to the process, and dumped the stacks for the goroutines - output is here: https://gist.github.com/rgulewich/9b1ca88e25386f6166c0fda04328c10f

**Steps to reproduce the issue:**

Unsure - we see this happen

[2019-09-04 11:32] kjanshair commented on #3031
Also breaks with 1.2.8.

[2019-09-04 20:34] #3289 closed

[2019-09-05 10:02] fuweid commented on #3572
@CarpathianUA sorry for the late reply.

I cannot read useful information from the log 😂 . I have hack way to get the shim stack dump by `strace -y -f -e write=2 -p shim-pid` and you can send the `USR1` to shim process.

But I think there are several patches for shim hang issues:

* https://github.com/containerd/containerd/pull/2748
* https://github.com/containerd/containerd/pull/3540
* https://gi

[2019-09-05 10:12] alexellis commented on #3533
cc @ibuildthecloud - I believe Rancher are using containerd and Buildkit in their new Rio project, this will likely affect their customers too.

[2019-09-05 10:13] alexellis commented on #3533
@dmcgowan is right, but how do we deliver buildkit/containerd for these enterprise customers without switching to another combination of builder/runtime?

[2019-09-06 00:53] dmcgowan commented on #3613
We aren't supporting this version of the registry. I believe 2.3 would be the minimal version as that has schema 2 as well as content type support.

[2019-09-06 00:53] #3613 closed

[2019-09-06 05:49] vsxen commented on #3351
/watch

[2019-09-06 16:08] kfox1111 opened #3626 "404 on cri-containerd 1.2.9"
1.2.9 was released but https://storage.googleapis.com/cri-containerd-release/cri-containerd-1.2.9.linux-amd64.tar.gz is not found.

Could you please release one?

Also, maybe it could be automated so that when the other release is made, this tarball is also generated?

[2019-09-06 17:52] dmcgowan commented on #3617
The stacktrace looks like it could be this issue #3529 which was fixed in 1.2.8

Can you update containerd to see if your issue is fixed

[2019-09-06 18:09] Random-Liu commented on #3626
Done Done. :)

[2019-09-06 18:20] kfox1111 commented on #3626
Thank you! :)

[2019-09-06 18:22] #3626 closed

[2019-09-06 18:36] dmcgowan opened #3627 "Automate deployment of CRI containerd release"
CRI has a release package under `https://storage.googleapis.com/cri-containerd-release/...` which has users who rely on the packages existing after every containerd release. This can be done as part of the containerd release process in Travis. Update Travis to create and deploy this package.

[2019-09-06 18:48] dmcgowan commented on #3572
I am going to close this one as the shim hang issue has been fixed in the supported branch. Some recommendations on getting a build to use this fix.
- request kops update their docker version
- file an issue with docker to patch containerd on that branch or update their containerd version
- open a backport to 1.1, note this is out of support but we may accept as there are pending unreleased non-se

[2019-09-06 18:48] #3572 closed

[2019-09-06 20:26] dmcgowan commented on #3457
Please try with 1.2.8+ or 1.3 to see if the issue is resolved. We believe this was fixed by the linked to issue. Please re-open if it continues to occur.

[2019-09-06 20:26] #3457 closed

[2019-09-06 20:26] crosbymichael commented on #3554
What do you want us to do with distribution reference and errcode packages?  Just a straight port over?

[2019-09-06 20:27] dmcgowan commented on #3554
I think we can port over a simpler version of those packages

[2019-09-06 20:28] #3443 closed

[2019-09-06 20:30] crosbymichael commented on #3059
This should be resolved for these runtimes in shimv2.  I don't think this is something we want to fix in the v1 shims as most of the external runtimes have been ported over.

I'll close this one for now.

[2019-09-06 20:30] #3059 closed

[2019-09-06 20:31] #3076 closed

[2019-09-06 20:32] crosbymichael commented on #2767
V2 runtimes to have this support.  It is just not configured on the daemon but on a per container/runtime basis.

[2019-09-06 20:55] #3517 closed

[2019-09-06 21:48] CarpathianUA commented on #3572
Thank you all for the support, hope we’ll move to new a containerd version soon.

[2019-09-09 02:19] hligit opened #6648 "Feature request: Support pulling image from isolated network namespace"
Image pulling is currently done on host network. In services such as cloud based CI/CD, users can specify any images hosted by arbitrary registries. A malicious registry may abuse the network such as redirecting the image pulling client to otherwise inaccessible endpoints.

An isolated network namespace is desired to audit and control the network activities.

Update: Thanks @rhyselsmore for identi

[2019-09-09 06:31] cofyc opened #3631 "why 127.0.0.1:5000 is not treated as insecure registry?"
**Description**

I run a local registry, and pushed an image. At first, I try to pull with `127.0.0.1:5000`, it fails. However, it succeeds with `localhost:5000`.

**Steps to reproduce the issue:**
1. run a local registry at :5000
2. pull images with 127.0.0.1:5000

**Describe the results you received:**

[code]

**Describe the results you expected:**

I hope we can pull images with 127.0.0.1:5000

[2019-09-09 17:44] Random-Liu commented on #3631
This should have been fixed in containerd 1.2.8

https://github.com/containerd/cri/issues/1201

[2019-09-10 05:57] #3631 closed

[2019-09-11 14:45] #3466 closed

[2019-09-12 08:36] Yikun opened #3645 "ARM CI failed due to md2man package not found"
The arm CI failed after https://github.com/containerd/containerd/pull/3637 , which is introduce the `genman`:

[code]

Looks like we need add `./script/setup/install-dev-tools` in arm CI scriprt.

[2019-09-12 08:36] AkihiroSuda opened #3646 "missing vendor (go-md2man)"
#3637 caused vendoring issue. Not sure why not detected in CI.

[code]

[code]

[2019-09-13 13:11] #3645 closed

[2019-09-13 13:46] AkihiroSuda commented on #3646
fixed by https://github.com/containerd/containerd/pull/3650

[2019-09-13 13:46] #3646 closed

[2019-09-14 11:37] dbaskakov commented on #2628
same problem

[2019-09-16 08:54] abusaidm commented on #3291
Hello is this issue resolved?

I am getting `406 Not Acceptable` when trying to pull from `docker.pkg.github.com`

[2019-09-17 14:39] axelborja opened #3654 "/dev/shm default size should be configurable easily"
**What is the problem you're trying to solve**
The default size of `/dev/shm` is hardcoded which is annoying when you have a lot of similar containers that need more than 64MB, -> you will have to modify volume specs for each container you run.

Hardcoded here:
https://github.com/containerd/containerd/blob/c6da899e2fd5ec5f0863d4be5ff683ee785d155c/oci/spec.go#L187

**Describe the solution you'd lik

[2019-09-17 15:16] crosbymichael commented on #3654
I submitted a PR that is linked to this issue with an Opts to modify the shm size.  If k8s supports this option, it will be easy to configure in cri-containerd

[2019-09-17 15:18] repushko commented on #3471
Looks like no one's doing it with this issue. Can I try it?

[2019-09-17 15:25] crosbymichael commented on #3471
@repushko Sure!

[2019-09-17 20:37] kfox1111 commented on #3597
I just ran into this with a gitlab runner. 1.2.7 works fine. upgrading to 1.2.8 fails. This has worked in enough container runtimes over the ages that this should be reverted. This is a breaking change, even though it was undocumented behavior.

[2019-09-17 20:49] crosbymichael commented on #3597
@kfox1111 which change should be reverted?

[2019-09-17 20:49] estesp commented on #3597
I don't know what revert means at this point--a bug fix inadvertently broke the behavior and it was fixed and included in the latest supported release (1.2.9).

[2019-09-17 20:58] kfox1111 commented on #3597
I just tried 1.2.9. Same issue. :(

[2019-09-17 21:07] kfox1111 commented on #3597
If you want to test, this image for sure tickles it.
docker.io/gitlab/gitlab-runner-helper:x86_64-de7731dd

I launched a new pod, then tried to exec in without a path:
error: Internal error occurred: error executing command in container: failed to exec in container: failed to start exec "ad62ed990987fba56502eb63d63b00a4804f2b0c77feb1a2f8b92cd3bb98b1be": OCI runtime exec failed: exec failed: contai

[2019-09-17 21:10] crosbymichael commented on #3597
Ok, maybe this is a new issue tied to `exec`.  Did you exec with `ctr` ?

[2019-09-17 22:05] kfox1111 commented on #3597
Not particular to just exec. the gitlab runner was trying to start a pod with:
  - command:
    - sh
    - -c
    - "if [ -x /usr/local/bin/bash ]; then\n\texec /usr/local/bin/bash \nelif [ -x
      /usr/bin/bash ]; then\n\texec /usr/bin/bash \nelif [ -x /bin/bash ]; then\n\texec
      /bin/bash \nelif [ -x /usr/local/bin/sh ]; then\n\texec /usr/local/bin/sh \nelif
      [ -x /usr/bin/sh ]; then\n

[2019-09-17 22:36] kfox1111 commented on #3597
I figured out how to launch it with ctr.... its working there:
ctr -n k8s.io run -t --rm --env foo=bar gitlab/gitlab-runner-helper:x86_64-latest test sh

But it fails when being launched with a pod. So maybe the csi plugin route through the code isn't honouring path?

[2019-09-17 23:01] kfox1111 commented on #3597
Small reproducer
[code]

  Warning  Failed     93s (x4 over 2m18s)  kubelet, XXXXXX  Error: failed to create containerd task: OCI runtime create failed: container_linux.go:345: starting container process caused "exec: \"sh\": executable file not found in $PATH": unknown

[2019-09-17 23:08] kfox1111 commented on #3597
It does have something to do with the cri driver I think. I can reproduce it using crictl. Modifying the above to be '- /bin/sh' instead of '- sh'. Then launched on two clusters.

On 1.2.7:
crictl exec -it 9e0b97613a877 sh
/ # exit

on 1.2.9:
crictl exec -it c5e2122963086 sh
FATA[0000] execing command in container failed: Internal error occurred: error executing command in container: failed to exe

[2019-09-17 23:20] kfox1111 commented on #3597
Building a new container by doing the following and launching it with the above pod yaml works:
[code]
So, it is indeed the same issue.

[2019-09-18 07:44] axelborja commented on #3654
@crosbymichael thanks a lot for your reactivity and your contribution.

Do you know if there is any workaround while waiting this fix to be released?

[2019-09-18 13:19] #3580 closed

[2019-09-18 15:54] #3654 closed

[2019-09-18 16:23] crosbymichael commented on #3068
Are you all still seeing this issue.  It sounds more like overlay support issue with centos.

[2019-09-18 16:24] crosbymichael commented on #2835
I havn't see this in a while. I"m going to close for now.

[2019-09-18 16:24] #2835 closed

[2019-09-18 23:54] kfox1111 commented on #3597
Can we reopen this issue, or should I file a new issue?

[2019-09-19 00:07] crosbymichael commented on #3597
Can you file a new one with a simple reproduction case please?

Michael Crosby

[2019-09-19 00:25] kfox1111 opened #3663 "cri path issue"
Using containerd 1.2.8 or 1.2.9, containers fail to search the path if env PATH is not defined inside the container.

Simple reproducer
[code]
Much more detail in https://github.com/containerd/containerd/issues/3597

Containers fail like so:
"ad62ed990987fba56502eb63d63b00a4804f2b0c77feb1a2f8b92cd3bb98b1be": OCI runtime exec failed: exec failed: container_linux.go:345: starting container process c

[2019-09-19 02:19] huapox commented on #3068
Resoved when kernel updated. `5.2.8-1.el7.elrepo.x86_64`

[2019-09-19 02:38] fuweid commented on #3068
@huapox could you provide log from /var/log/messages about the error? thanks

[2019-09-19 04:55] Pea13 opened #3664 "Builds for arm"
**What is the problem you're trying to solve**
Trying to build containerd for ARM platform (like raspberry pi)

**Describe the solution you'd like**
It would be nice to have a prebuilt binary for ARM (like amd64 and maybe soon ARM64).
For example, alpine linux already provides such packages : https://pkgs.alpinelinux.org/packages?name=containerd&branch=v3.10

**Additional context**
Add any other c

[2019-09-19 23:31] kfox1111 opened #3667 "pod deletion failing on network namespace"
**Description**

Deleted a pod. stays terminating:
Sep 19 23:26:23 xx.yyyy containerd[245702]: time="2019-09-19T23:26:23.112627249Z" level=error msg="PodSandboxStatus for "004c4f886765769305f7e65a42c66ec95fda8fba9ddbf0d62fedae62e8873299" failed" error="failed to get sandbox ip: check network namespace closed: remove netns: unlinkat /var/run/netns/cni-45ff10e9-dcc1-b779-f1a1-3515a5d56e61: device or

[2019-09-20 02:41] huapox commented on #3068
Sorry, the log can't be reviewd in my env.
I can give the info: `kernel3.10.0-327` didn't work, `3.10.0-514` works.

I my memory the log just linke this(the top of this issue)

And the solution is to update the kernel.

[2019-09-20 06:22] fuweid commented on #3068
@huapox I think the kernel log message will help. Thanks anyway.

[2019-09-20 06:23] fuweid commented on #3068
@mg0432062 @huapox I am closing it. If you meet the issue again, please feel free to reopen it. Thanks for reporting.

[2019-09-20 06:23] #3068 closed

[2019-09-20 06:25] fuweid commented on #3667
@kfox1111 could you mind to provide more information about this? such as containerd log. Thanks

[2019-09-21 03:44] champtar commented on #3667
I think I have the same issue, will try to update my containerd, but here my investigation on 1.2.6

**Description**
Sometimes pod are stuck in Terminating, in the logs I have in loop
[code]

We cannot shutdown "rook-ceph-mon-a-59cbf85446-jwprv" because "/var/run/netns/cni-3276e31b-c2af-4840-abce-a9d3e8d061b4: device or resource busy"

looking at strace output
[code]

It fails when we try to unlin

[2019-09-21 19:08] towolf commented on #3556
@btashton is my problem with Artifactory the same as yours?

Today I've tried Containerd 1.3.0-rc3 and I'm getting this message: `no scope specified for token auth challenge`

Artifactory works in together with Containerd 1.2.8.

New debug log:

[code]

Old debug log:

[code]

[2019-09-21 19:08] towolf commented on #3556
So, do we have to open a support ticket with JFrog to fix this, or what do you mean, @dmcgowan?

[2019-09-21 23:27] champtar opened #3670 "New stable versions are not available as RPM (1.2.7-1.2.9)"
**Description**
Last containerd RPM that I can find is 1.2.6

https://download.docker.com/linux/centos/7/x86_64/stable/Packages/
https://pkgs.org/download/containerd

**Describe the results you expected:**
Stable version are packaged for CentOS 7/8, Fedora

Thanks a lot!

[2019-09-23 02:51] fuweid commented on #3667
@champtar is there any process opening the `/var/run/netns/cni-3276e31b-c2af-4840-abce-a9d3e8d061b4` file?

[2019-09-23 03:55] AkihiroSuda commented on #3670
The packages are maintained by Docker, Inc., not by containerd maintainers

cc @andrewhsu

[2019-09-23 03:55] #3670 closed

[2019-09-23 04:24] champtar commented on #3667
Hi @fuweid ,

From the host
[code]
But I'm not sure how to check with namespaces

[2019-09-23 05:37] fuweid commented on #3667
if there is no process using the file, since the containerd check the ns and the ns file doesn't contain the magic number,  this issue can help? @champtar

ref: https://github.com/containernetworking/plugins/issues/69

[2019-09-23 05:54] champtar commented on #3667
I'm not sure how much we can trust `lsof` with namespaces
Will have a look at your link on Monday (it's 11pm Sunday for me)

[2019-09-23 10:35] mcginne opened #3671 "Unable to recover corrupt image after unexpected host reboot"
We occasionally see hosts rebooting unexpectedly, and some times when this occurs certain containers are unable to start with the following errors:

[code]

Containerd logs report:
[code]

I have tried to delete and pull the image manually on the host using:
[code]
But this fails with a similar error:

<img width="1442" alt="image" src="https://user-images.githubusercontent.com/27362732/65419104-d

[2019-09-23 12:50] towolf commented on #3556
Got in touch with JFrog, they say they will look into it.

[2019-09-23 15:33] crosbymichael commented on #3671
Thanks for the report, we will look into it

[2019-09-23 23:40] champtar commented on #3667
@fuweid that might be it

[code]
The interresting part is what is not there: "shared:5"

[code]

Now looking at the definition of this pod (rook-ceph_csi-rbdplugin-b5z8n.yaml), `mountPropagation: Bidirectional` is not present for /rootfs

Please give me a bit more time before closing

Also @kfox1111 If you kept the cluster with the stuck container, can you run:
[code]

[2019-09-23 23:44] kfox1111 commented on #3667
I rebooted the node already to get it to clear. sorry.

[2019-09-23 23:50] champtar commented on #3667
@kfox1111 can you check if you have a container with a `hostPath` with `path: /`
[code]

[2019-09-23 23:59] kfox1111 commented on #3667
Yes. I do. I typically use this script to debug host problems:
https://github.com/pnnl-miscscripts/miscscripts/blob/master/bin/debug-host-pod
And it was running on the host in question.

[2019-09-24 00:08] champtar commented on #3667
Here some minimal repro steps (on a 1 node cluster)
[code]

0) look at the list of proc mounts
[code]
1) create test-sleep, from the host you see a new proc mountpoint
[code]

2) create test-rootfsmount, from the host you see that the new pod has all the proc mounts not shared
[code]

3) delete test-sleep
At this point k8s/containerd will umount `/run/netns/cni-ae95ca77-34c1-2e86-65e9-66f96340afe1

[2019-09-24 00:19] champtar commented on #3667
adding `mountPropagation: HostToContainer` is enough to fix the issue
@kfox1111 you might want to use `mountPropagation: Bidirectional`

[2019-09-24 00:27] champtar commented on #3667
@fuweid I'm not sure anything can be improved on containerd side, maybe a warning when creating a `hostPath: /` with `mountPropagation: none` (but it might be better in k8s)

[2019-09-24 00:39] kfox1111 commented on #3667
Hmm... I really would not have expected that behaviour. Thanks for the info. I'll switch to Bidirectional.

Want me to close the issue?

+1 to maybe some warning somewhere.

[2019-09-24 02:52] fuweid commented on #3667
thanks @champtar @kfox1111 for reporting and glad to see the problem solved by the configuration.

@champtar I can't reproduce it by your script 😂 . I think this issue is related to the mount propagation case and there is nothing we do in cri-containerd.

ping @Random-Liu

[2019-09-24 03:12] champtar commented on #3667
@fuweid I'm using up to date CentOS 7, can you describe your test cluster ?
@kfox1111 can you also describe your cluster ? Can you try to reproduce with my repro steps ?

[2019-09-24 05:06] fuweid commented on #3667
@champtar I am using vagrantfile to run ubuntu in box and there is only one node.

[code]

containerd version:

[code]

Apply your pod yaml:

[code]

make sure that it is running

[code]

and find the mount point:

[code]

And I can delete the pods successfully. Hope it can help

[2019-09-24 05:51] fuweid commented on #3671
I meet issue at [v1.0.3](https://github.com/containerd/containerd/issues/3051) and v1.2.5 before. The case is that when the machine crash unexpectedly, it seems that the metadata boltdb missing data so that the gc module removes the snapshot boltdb data. But when you restart the containerd, the missing data comes back...

The timeline is like:
* 1 machine crashed and reboot
* 2  containerd restart

[2019-09-24 05:57] Random-Liu opened #3676 "Flaky Test: TestBtrfs"
[code]

[2019-09-24 22:03] champtar commented on #3667
Launching an strace on containerd, I see that:
[code]
This is runc doing a "remount private", which is actually what I expect, because by default we have
`mountPropagation: none`

[code]

@fuweid can you change `mountPath: /rootfs` (too common) to `mountPath: /test3667`, deploy, and do `grep test3667 /proc/*/mountinfo`

Thanks

(I understand that runc is maintained somewhere else, but I want to ge

[2019-09-25 02:07] fuweid commented on #3667
@champtar the attachment is my grep log and we have slack channel and you can dm to me :)

[code]

[2019-09-25 02:22] fuweid commented on #3667
and @champtar there is only one mount action for the netns from containerd

[code]

[2019-09-25 04:30] champtar commented on #3667
I just tested with a CentOS 8 node, and I can't reproduce the issue, so might be a CentOS 7 only issue

[2019-09-25 04:44] fuweid commented on #3667
@champtar ok... I am closing this issue. If have any question for this, please reopen it or create new one. Thanks

Thanks @champtar @kfox1111 for reporting this.

[2019-09-25 04:51] champtar commented on #3667
I would say runc is using libc mount
[code]

@fuweid thanks for your testing !
@kfox1111 can you just confirm you are using CentOS 7 ?

[2019-09-25 05:00] LinShuicheng commented on #3566
@Random-Liu , Thanks very much for your great help.
There are two issues here.
1. Add cni version in 05-multus.conf.
2. Configure max_conf_num=1, to ensure only multus config file is used. Otherwise both multus and calico config file will be loaded. And due to multus config file already include a calico, there will be 2 calico co-exist, and cause pod has two different IP.

I will close the issue f

[2019-09-25 05:00] #3566 closed

[2019-09-25 07:08] hongli-my commented on #3329
@wenlxie
overlay         5.0G  5.0G     0 100% /data/test/vm2/merged
overlay         400G   30G  371G   8% /data/tt/cc/merged
[root@VM_72_127_centos /data/tt]#
[root@VM_72_127_centos /data/tt]# ls
cc  low  upper  work
[root@VM_72_127_centos /data/tt]# tree .
.
|-- cc
|   `-- merged
|       |-- t1
|       `-- t2
|-- low
|   |-- t1
|   `-- t2
|-- upper
`-- work
    `-- work

upper, work and merged d

[2019-09-25 07:11] champtar commented on #3667
I think libc mount is only used in https://github.com/opencontainers/runc/blob/6f714aa9288f2fde99721b54dd27231caa8d30d2/libcontainer/nsenter/cloned_binary.c#L376

[2019-09-25 09:33] filipsuk commented on #2202
I am facing the same issue in google cloud compute docker environment with high memory nodejs tasks. Have you guys found a solution?

[2019-09-25 15:34] kfox1111 commented on #3667
I am using CentOS7.

[2019-09-25 19:13] crosbymichael commented on #2202
For those of you who are still encountering this issue, can you please open a new issue with information for us to debug and reproduce what you are seeing?

[2019-09-25 19:42] crosbymichael commented on #3676
Submitted a PR to hopefully resolve this.  I have ran into issues like this where it required a sync before mounting.  I added an extra check to make sure we have a btrfs filesystem to give the code some time before checking itself.

[2019-09-25 20:47] #3676 closed

[2019-09-26 02:48] zhipengzuo opened #3682 "failed to unpack image on snapshotter devmapper: wrong diff id calculated on extraction"
**Description**
cannot pull images build by bazel

**Steps to reproduce the issue:**
1.crictl pull index.docker.io/kubevirt/virt-handler@sha256:74463ee0d468203d7319099650d8590bbbb8af4ab67315f7a27b205a2885e8c2
2.
3.

**Describe the results you received:**
FATA[0015] pulling image failed: rpc error: code = Unknown desc = failed to pull and unpack image "docker.io/kubevirt/virt-handler@sha256:74463ee

[2019-09-26 04:59] scottshotgg commented on #3031
Still broken with 1.2.9 - can confirm that changing to `1.2.3` (heh) fixes it.

[2019-09-26 09:28] wenlxie commented on #3329
@hongli-my Not fully understand what you description, can you add more detail infos?

I got your point that the merged dir is also need to be put into the same project, but all the operations at merged layer will be checked at the upper layer, so I think put the upper and work layer is enough, and no need to set merged dir, do I miss something?

[2019-09-26 21:13] tamalsaha commented on #3291
Hi, I am trying to use Kubernetes Kind and it seems I am hitting this issue, too . https://github.com/kubernetes-sigs/kind/issues/870

I tried both 1.2 and 1.3 latest released and I am still getting the same error.

[code]

[code]

We would like to see this issue resolved. This is blocking us from using Github registry.

[2019-09-26 21:19] kfox1111 opened #3694 "404 on cri-containerd 1.2.10"
1.2.10 was released but https://storage.googleapis.com/cri-containerd-release/cri-containerd-1.2.10.linux-amd64.tar.gz is not found. Could you please release one?

[2019-09-26 21:30] dmcgowan commented on #3291
It appears the 406 is a result of the `Accept` adding `*`, when I tried `*/*` the registry responded fine. We'll investigate this on our side as well.

[2019-09-26 21:52] Random-Liu commented on #3694
So fast...

I just pushed it. lol

[2019-09-26 21:57] Random-Liu opened #3697 "Flaky Test: TestSnapshotterSuite/RemoveIntermediateSnapshot"
[code]

Encountered several times, filed this issue to track.

[2019-09-26 23:38] tamalsaha commented on #3291
Thanks for the quick fix @dmcgowan ! Any idea when I can try it?

[2019-09-26 23:46] dmcgowan commented on #3291
@tamalsaha you can try it on master, it will also be part of 1.3.0. I am not closing this since I don't know if all the remainder of the issues have been figured out around pull by digest. Once we verify everything is working we can close this.

[2019-09-26 23:50] csantanapr commented on #3291
Thanks to everyone working getting this addressed

[2019-09-26 23:54] tamalsaha commented on #3291
Thanks @dmcgowan . Can this be backported to 1.2.x ?

[2019-09-26 23:59] #3694 closed

[2019-09-27 00:23] tamalsaha commented on #3291
@dmcgowan , the 406 issue is fixed but now there is a new issue. I built from master and this is what I got.

[code]

[code]

[2019-09-27 00:28] dmcgowan commented on #3291
@tamalsaha This is the same issue that was reported earlier and a registry side fix. @Phanatic for an update.

[2019-09-27 05:21] fuweid opened #3701 "Fail Case Track: TestContentClient/CommitErrorState"
Track for https://travis-ci.org/containerd/containerd/jobs/590212746

[code]

[2019-09-27 19:38] kfox1111 commented on #3694
Thanks. :)

Mostly cared about this one in particular as it had the bugfix for the PATH thingy we were experiencing. So was watching closer.

[2019-09-30 18:20] dmcgowan opened #3704 "Release script race on upload sha256sum"
The release script in Travis will attempt to upload the release multiple times. Each time will attempt to upload the tarball and checksum, which can lead to a race where the checksum is from a different packaging of containerd and mismatching the uploaded artifact.

Needs to be fixed for 1.3.1 as well.

[2019-09-30 21:21] Random-Liu commented on #3704
Just FYI. This is how we fixed it for the CRI release tarball. :) https://github.com/containerd/containerd/pull/3643

[2019-10-01 05:45] siwyd commented on #3704
I can confirm this for 1.3.0, the curren sha256 doesn't match the release artifact:
[code]

[2019-10-01 07:05] strainovic commented on #3351
Any update on this issue?

Thanks!

[2019-10-01 12:24] #3704 closed

[2019-10-01 13:35] danishprakash commented on #3701
@fuweid Is it okay if I pick this up? Any context I should be aware of beforehand?

[2019-10-01 14:25] fahedouch opened #3707 "ctr version is showing an empty value"
Hello containerd people,

ctr version is showing an empty value.
could you confirm this anomaly so that I can attack the correction of this bug

[code]

the containerd version should be the lastest

Cordially

[2019-10-01 14:32] fahedouch commented on #3697
@Random-Liu  is it ok if I work on this ticket ?

[2019-10-01 14:55] fuweid commented on #3701
@danishprakash please go ahead.

[2019-10-01 15:11] crosbymichael commented on #3707
Is this from a release or are you building yourself?

[2019-10-01 16:19] crosbymichael commented on #3593
I think that functionality can stay outside the core since it's purely client side.  Feel free to make a lib for this that can be used by others that we could reference to.

I'll close this issue for now.

[2019-10-01 16:19] #3593 closed

[2019-10-01 19:07] dmcgowan opened #3708 "Add filters to snapshot list"
Most API list requests can take in a filter. The filter is used to limit what is returned through the list. The filters all have a similar pattern and the supported fields is type specific. Currently the Snapshot API does not take a filter. Update the API to support filters and add filter to the walk interface.

[2019-10-02 08:52] Zyqsempai commented on #3708
I will take this one!

[2019-10-02 09:18] fahedouch commented on #3707
@crosbymichael  I am building myself.

[2019-10-02 16:24] craiglpeters commented on #3367
Agree that these 200 type issues should be addressed. But I think some 100 type issues like regular meetings, recordings, and meeting notes that are open to all would help too. Then some guidance for people new to the community who want to play different roles (e.g. reviewer, documenter, question answerer, contributor, and committer) could go a long way towards making it easier to grow the communi

[2019-10-02 17:49] estesp opened #3710 "Does the Snapshots API need to be listed in RELEASES.md"
Do we need to add the **Snapshots API** to the list of API stability guarantees?
https://github.com/containerd/containerd/blob/master/RELEASES.md#public-api-stability

Occurred to me as a question given the current API change via #3709 (from request to add it to the API in #3708). Even if gRPC can handle the parameter add backwards compat guarantee, given snapshotter implementations can (and are)

[2019-10-02 18:09] dmcgowan commented on #3710
These type of changes are always hard, but to be clear this only has an effect on aufs and btrfs which are out of tree and have the circular import weirdness in making these changes. Proxy snapshotters use the GRPC API and have no issue. Other implementations would just need to update as they update containerd.

I think this more related to the Go client stability. Once we do that, making these ch

[2019-10-02 20:10] fahedouch commented on #3707
oh yes I am building from git repo :p . But even doing that should get the latest as version ?

[2019-10-02 20:36] estesp commented on #3707
if you are using `make` then there are `git` commands near the top of the `Makefile` that set up the version/revision information which is then added to the executable through linker flags: https://github.com/containerd/containerd/blob/release/1.3/Makefile#L94

If you are using that method and it is empty, you should run those `git` commands in your local environment and find out why they aren't r

[2019-10-03 16:01] brandnew3773 opened #3714 "Layer caching by layer digest instead of chainId"
**What is the problem you're trying to solve**
Right now, I believe that containerd is using the chain ID in order to detect cache hits on layers. So, if we have the following situation with two images which have 4 shared layers in common (layers 1, 2, 4 and 5) like so:

Image A:
- layer1
- layer2
- layer3
- layer4
- layer5

ImageB:
- layer1
- layer2
- layer4
- layer5
- layer6

right now, I believ

[2019-10-04 10:56] fahedouch commented on #3707
hello,

the issue came from my environnement.

closed ticket.

[2019-10-04 10:56] #3707 closed

[2019-10-04 17:32] crosbymichael commented on #2267
Quick question, how is performance when you have remote block device for each layer? If i'm understanding this right?

[2019-10-04 18:49] Random-Liu commented on #2267
@crosbymichael IIUC, based on the talk they gave in Alibaba, the layers only exists in the remote storage, once the block device is attached to the node, it is a single block device with all the remote layers merged. They are not even using overlay IIRC.

[2019-10-04 19:04] crosbymichael commented on #2267
So a single block devices, is this mounted read-only on the systems?   Then is it separate block devices for the RW "layer" of the image?

[2019-10-04 19:51] Random-Liu commented on #2267
IIRC they supported something like rw layer in the device as well. @fuweid May be able to confirm this.

[2019-10-05 09:11] ayanamist commented on #2267
This remote block device is in fact, Cloud disk of Alibaba Cloud https://www.alibabacloud.com/help/doc-detail/25383.htm which is similar with AWS EBS https://aws.amazon.com/ebs/
It utilize [snapshot function](https://www.alibabacloud.com/help/doc-detail/25391.htm) of cloud disk to make all layers, every layer will be converted into a snapshot of disk(create disk from a snapshot, mount, extract lay

[2019-10-05 09:51] fuweid commented on #2267
@crosbymichael all the image layers are be *snapshotted* into one block device, like what the device mapper snapshotter does right now. It is mounted as read-only on the systems. We use overlay actually. The image block device is as one lower layer. For the upper layer, it is separate block device. It can be local storage or remote block device.

Thanks @ayanamist for the information about perform

[2019-10-07 01:16] ehotinger commented on #3714
Fetch/Pull will read a manifest, get all the layer SHAs that aren't already downloaded and cache them. You won't double download layers if they're shared or already on the system. Chain Ids are relevant to snapshots when you start 'overlaying' that content on top of each other. So containerd is already working how you want it to. It would defeat the purpose of something being 'content addressable'

[2019-10-07 16:56] crosbymichael opened #3726 "cgroups v2 Support"
Work needs to be done to the cgroups lib and containerd metrics interfaces to support cgroups v2 support.  With much of the work in 5.3 kernels this should be reasonable to start supporting as a first class feature and can be a replacement for v1 for some users.

runc recently gained support for v2 as well as crun.

---
(below are edited by maintainers)

## runc checklist
See https://github.com/op

[2019-10-07 16:58] crosbymichael opened #3727 "Full crun support"
[crun](https://github.com/containers/crun) is a runc replacement written fully in C.  It is lighter on the resources and should produce faster container operations.

In my initial tests, it works with running containers via ctr, there are a few edge cases in the tests that need to be updated for it to pass on the CI though.

[2019-10-07 18:25] mxpv commented on #3682
Can you try it on recently released `1.3.0` ?

[2019-10-08 07:30] wenlxie commented on #3351
https://github.com/kubernetes/kubernetes/issues/83608

[2019-10-08 11:08] ktock opened #3731 "Support remote snapshotter to speed up image pulling"
Among the container's lifecycle, pulling image is one of the biggest performance bottlenecks on container startup processes. One research shows that time for pulling accounts for 76% of container startup time[[FAST '16]](https://www.usenix.org/node/194431).

I know there is discussion on #2943, but it seems nobody got started the implementation? To make this progress, I implemented a patch based o

[2019-10-08 16:13] ehotinger commented on #3731
The tools have been there for a long time now. It's hard to find what makes sense to contribute and get people to agree to it here because there are so many different scenarios.

Seems OK. Ultimately the registry should tell whether or not it has something available as a decompressed/remote layer. In either case, it's up to the client to do this interaction and decision - there's not really a stan

[2019-10-08 16:19] estesp commented on #3731
Can you comment on the design/steps in #2968? I think that was the outcome of earlier discussions as the main core containerd change required to get this work moving.

I'll let @dmcgowan comment in case there was another issue I'm not finding. I know we tried to open up some issues to drive the work/todo list as we had a contributor interested, but that fell through.

[2019-10-08 16:46] ehotinger commented on #3731
I think the problem last time was finding what made sense to contribute for a framework. It's already possible to do it all, so what would you PR in? Just the client opts and a specific remote filesystem snapshotter?

The client interactions aren't a standard on any registry. Maybe adding some kind of filter options make sense, but they aren't totally usable on their own. You have to have some ext

[2019-10-08 17:20] ehotinger commented on #3727
Just to clarify: the proposal is interoperability, not replacement correct?

[2019-10-08 18:27] Random-Liu commented on #3731
@dmcgowan mentioned that the client interaction can make sense for reusing existing snapshots across different namespaces, which could be useful for buildkit.

[2019-10-08 18:39] dmcgowan commented on #3731
The idea was to minimize the new interactions which needed to take place between the client and the snapshotter. Generally this could be solved by attempting to `Prepare` a layer before attempting a fetch. The `Prepare` method could be used to pull "already existing" (from the backend remote snapshotter perspective) snapshots into the namespace, however this would still be a new interaction with s

[2019-10-08 20:19] crosbymichael commented on #3727
@ehotinger yes, just interop

[2019-10-08 23:17] dmcgowan opened #3734 "Add namespace query parameter for mirrors"
Mirrored registries are design to serve content from upstreams. However, the mirror hostname will usually not match the hostname of the upstream, requiring the mirror to only use a single upstream or use its own pattern matching to determine the upstream. To solve this issue, the client will pass along the namespace which is being used for the request, allowing mirrors to easily map to multiple up

[2019-10-09 04:04] hongli-my opened #3735 "why use state dir for rootfs"
**Description**
https://github.com/containerd/containerd/blob/master/runtime/v1/linux/runtime.go#L169
https://github.com/containerd/containerd/blob/master/runtime/v1/linux/bundle.go#L68

use `filepath.Join(r.state, namespace)` as cotainer rootfs dir
why not use  root (containerd.toml config) as  container rootfs dir?

**Steps to reproduce the issue:**
1.
2.
3.

**Describe the results you received:

[2019-10-09 06:54] fuweid commented on #3735
Hi @hongli-my

it is by design. The state dir is for transient data. The comment is here
https://github.com/containerd/containerd/blob/release/1.3/services/server/config/config.go#L38.

The state dir is ok for lost if the machine restart unexpectly. The data created by container will be persisted in the dir managed by snapshot. It is not a bug.

If you meet any question, please open it. Thanks for

[2019-10-09 06:54] #3735 closed

[2019-10-09 07:16] fuweid commented on #3714
@brandnew3773 For now, containerd client will download manifest for image first. The manifest looks like:

[code]

The client will download config and all layers described in the manifest. Each layer and config are indexed by the sha256 hash value. Before download the layer, the client will check the layer by sha256 hash value in containerd. If it exist, it skip it. If not, it will download it. Th

[2019-10-09 07:53] ktock commented on #3731
@ehotinger Thank you for your comments.

I don't intend to make the PR immediately. Before that, I thought that I need to hear mentainer's opinion based on the code above so I opened this issue. After that, I intend to make PRs:
- A new filter to skip downloading layers for which remote snapshotters say to do.
- The client options to turn on the filtering.
- The [remote snapshotter implementation]

[2019-10-09 08:00] ktock commented on #2968
@estesp @Random-Liu @dmcgowan Thank you for your comments on #3731

I agree with the idea proposed here and my implementation(#3731) is also partially based on it. The similar points are the following:
- [Client passes basic information of the layer to the remote snapshotter on Prepare().](https://github.com/ktock/containerd/commit/53110e516e5b4c0cd5b81f61c01fd5e33a25edef#diff-1f8f50646891fcfbf8d8

[2019-10-09 08:37] AkihiroSuda commented on #3731
I think we can just let the remote snapshotter plugin to deal with the credential (typically via `~/.docker/config.json`) and call it for a day.

In future, maybe we can consider porting over BuildKit session so that the daemon-side plugin can invoke gRPC requests against the client to fetch credential.

[2019-10-09 09:02] fuweid commented on #3671
ping @mcginne the issue comes out after reboot unexpectly? or running normal for a while and then issue comes out?

Could you provides more information about this? Thanks!

[2019-10-09 09:03] lukasheinrich commented on #3731
@ktock thanks a lot for putting this together. This is great! I have a question regarding the layer filter. Is there a technical reason why a layer can only be taken from remote when all lower layers are also remote?

[2019-10-09 11:25] ktock commented on #3731
@lukasheinrich Thank you for your question!
The reason is the following:

- To Prepare() a snapshot, [it requires the parent snapshot in advance](https://github.com/containerd/containerd/blob/772aaf127ad8b311c5db7baafb31b5a3bc0e3a9f/snapshots/snapshotter.go#L282).
- But [unpacking layers](https://github.com/containerd/containerd/blob/772aaf127ad8b311c5db7baafb31b5a3bc0e3a9f/image.go#L281) doesn't

[2019-10-09 12:17] fuweid commented on #3671
I think that we found that root cause. In my testing environment, rootfs is in the device `/dev/sda3` and the data dir for containerd is in the device `/dev/sda5`.

[code]

But the containerd doesn't wait for the `/dev/sda5` mount ready.

[code]

containerd will create meta.db for metadata plugin in the device `/dev/sda3`. That is why that the sequence seems reset to zero. Let's use `lsof` to chec

[2019-10-09 12:49] mcginne commented on #3671
@fuweid We only see the issue after the host unexpectedly reboots. However it doesn't always occur, sometimes we get the unexpected reboots and don't see the corruption.

And yes, we have the same setup with containerd data using a different device to the rootfs, so we could well fit your theory..

[2019-10-09 14:39] penglongli opened #3737 "crictl pull image from private self-signed registry failed: 401 Unauthorized."
## Version
crictl
[code]
containerd
[code]
registry
[code]

## Description

We have a private self-signed registry. And `Containerd 1.3.0` started support TLS, we used `1.3.0` to pull image from our registry.

We tested two authentication methods with registry.（https://docs.docker.com/registry/configuration/#auth）
- htpassword
- token

`crictl` pull image from `htpassword` registry is ok.

`crictl

[2019-10-09 14:57] danail-branekov opened #3738 "Large output of processes with TTY gets occasionally truncated"
**Description**

Hi containerd,

We (CF Garden) are experiencing occasional container process output being cut out in our CI environment. We managed to reproduce the issue via a [unit test](https://github.com/masters-of-cats/containerd/blob/7a437380569c71667517f7a17d9f431e218ab7e7/container_test.go#L236-L336)

The test loops 100 times exec'ing a process with TTY enabled in a container which prints

[2019-10-09 15:20] ehotinger commented on #3731
It's very exciting to see all the effort and ideas here. This is great.

Sounds totally reasonable to me. But, the reason I brought this up is containerd isn't standalone when you do this. You always need custom stuff on top of containerd on a per-project basis. For example, how will you integrate this with CRI? It would be nice if I could just use a remote snapshotter with stargz, CIFS, NFS, what

[2019-10-09 15:41] fuweid commented on #3671
@mcginne OK. If you can find the `io.containerd.metadata.v1.bolt/meta.db` in system default device, the theory mentioned above works. For example, in my case, I can find the boltdb data from `/dev/sda3` like

[code]

Mount the original device into dir and check `/tmp/issue/${containerd-root-dir}/io.containerd.metadata.v1.bolt/meta.db`. If it exists, we meets the same case.

However, I will remove

[2019-10-09 17:28] Random-Liu commented on #3737
It seems that you should configure the token in the authconfig.
https://github.com/containerd/cri/blob/master/vendor/k8s.io/cri-api/pkg/apis/runtime/v1alpha2/api.pb.go#L5164:6

Does the token correspond to any field in the `AuthConfig`?

[2019-10-09 20:50] crosbymichael commented on #3738
I'll take a look at this one and see if I can find anything

[2019-10-09 20:55] crosbymichael commented on #3731
I placed this issue in the 1.4 milestone as it's a large focus for us and the community. :)

[2019-10-09 21:57] RedbackThomson commented on #3472
Considering 1.2.10 has a CVE fix, and there have been no updates to the containerd.io debian packages since 1.2.6, will Docker creating and releasing new Debian packages? @seemethere @thaJeztah

[2019-10-10 01:14] dmcgowan commented on #3731
My WIP of this is here https://github.com/dmcgowan/containerd/tree/prepare-snapshot-target
Mostly just figuring out the metadata store side right now and making sure it is backwards compatible.

Basically it allows an `ErrAlreadyExists` to be returned when passing in `containerd.io/snapshot.ref`. The backend snapshotter may also return that and the metadata store will handle it by calling a stat t

[2019-10-10 01:44] penglongli commented on #3737
Yes, i had add `auth` field to containerd config.toml. But got the same error: 401 Unauthorized.

I used `docker login hub.test.com.cn` with user/pass, and copy `~/.docker/config.json`'s `auth` field to `/etc/containerd/config.toml`  .

After add `auth` field, the same error: 401 Unauthorized.

containerd config:
[code]

[2019-10-10 03:42] fuweid commented on #3671
Hi @mcginne

For this case, I suggest to use `After=` dependency in containerd.service if you use systemd to manage your containerd.

You can use `systemctl list-units --type=mount` to list your mount target. For example, in my testing env, I got the result like:

[code]

My service needs the `home.mount` so that I can add `After=home.mount` in the service. Hope it can help.

And thanks for report

[2019-10-10 03:42] #3671 closed

[2019-10-10 03:46] #3714 closed

[2019-10-10 03:55] ktock commented on #3731
@dmcgowan Thank you very much for your work on the metadata snapshotter.
This can reduce the complexty of the filter side because it can make a remote snapshot simply only by Prepare() without Commit().

One question:
- On filter side, it needs to check if a committed snapshotter is a remote snapsot or not. Can this be done by checking the label `containerd.io/snapshot.ref`?

[2019-10-10 04:01] ktock commented on #3731
@ehotinger Thank you for your comments.

Currently, this filter and snapshotter implementations don't require additional actions on cases except following:
- Source preparation: Setting up the remote store(NFS, CVMFS, etc...). Converting images on the registry(stargz, etc...).
- Setting an option to turn on the filter(but I think we can make the filter enable by default because it is backwards com

[2019-10-10 07:07] Random-Liu commented on #3737
The auth filed is supposed to be a base64 encoded `username:password`.

[2019-10-10 09:41] penglongli commented on #3737
Please see this func: https://github.com/containerd/containerd/blob/master/remotes/docker/authorizer.go#L249

If auth scheme is `basic`, auth will use base64; if scheme is `bearer`,  there need fetch a token for authrization.

[2019-10-10 10:10] mcginne commented on #3671
@fuweid Many thanks for your work on this! We will add in the `After=` dependency.

[2019-10-11 06:48] itzamnamx opened #3742 "Release 1.2.10 is not in the repositories for Linux Debian/Ubuntu"
When running apt-get upgrade I got this message in Linux Ubuntu 16.04

Err:1 https://download.docker.com/linux/ubuntu xenial/stable amd64 containerd.io amd64 1.2.10-2
  404  Not Found
E: Fallo al obtener https://download.docker.com/linux/ubuntu/dists/xenial/pool/stable/amd64/containerd.io_1.2.10-2_amd64.deb  404  Not Found

[2019-10-11 07:23] sharkyzz commented on #3742
Same here, Debian Stretch

[2019-10-11 08:23] ErrorProne commented on #3742
+1 Ubuntu Xenial

[2019-10-11 08:31] cchris-org commented on #3742
+1 Debian Stretch

[2019-10-11 08:45] GMarciales commented on #3742
Same here Ubuntu Xenial

[2019-10-11 08:48] AkihiroSuda commented on #3742
cc @andrewhsu

[2019-10-11 09:07] erzetpe commented on #3742
Same here for Ubuntu.

[2019-10-11 09:10] AkihiroSuda commented on #3742
Duplicate: https://github.com/docker/for-linux/issues/816

Let me lock this issue, because the packages are maintained by Docker, Inc., not by containerd maintainers.

[2019-10-11 14:33] fuweid commented on #3051
found the root cause #3671

[2019-10-11 20:21] #3738 closed

[2019-10-11 21:20] thaJeztah commented on #3472
containerd.io 1.2.1 packages are up

[2019-10-12 02:32] penglongli commented on #3737
Containerd pulled image use `Oauth2 Authorization` for registry auth.

Our self-developed registry-auth service not supportted `Oauth2 Authorization`：https://docs.docker.com/registry/spec/auth/jwt/.

After add compatibility support, containerd pulled image successful.

[2019-10-12 02:32] #3737 closed

[2019-10-12 03:08] AkihiroSuda commented on #3742
seems fixed
https://github.com/docker/for-linux/issues/816#issuecomment-541223195

[2019-10-12 03:08] #3742 closed

[2019-10-13 22:39] RedbackThomson commented on #3472
But 1.2.10?

[2019-10-14 15:11] imiric commented on #3031
Seems to still be broken with 1.3.0, if this error is related:

[code]

`go version go1.13.1 linux/amd64`

[2019-10-14 21:34] thaJeztah commented on #3472
sorry, meant `1.2.10` 😓 typo

[2019-10-15 05:15] rossedman commented on #3031
@imiric Not sure how you got this to work, but def broken for me. `replace` did not solve my problems.

[2019-10-15 08:24] thaJeztah commented on #3031
Go mod doesn't work well with repositories that use release branches; 1.3.0-beta.2 was the last beta tagged from master, after which the `release/1.3` branch got created, from which 1.3.0-rc.0 and up are released. I think there's a regression in go mod in go1.13, where that got worse

[2019-10-15 18:43] dnoliver commented on #3726
Fedora 31 ships with CGroups v2 by default, and Docker (moby-engine, docker-ce) does not work by default (you need to add this kernel command line arguments `systemd.unified_cgroup_hierarchy=0`)

Workaround seems to work fine (for now)

[2019-10-15 19:13] crosbymichael commented on #3726
The majority of the work will have to be done in runc to get v2 support working fully.  It as the start for cgroupv2 support but still lacks devices support via eBPF

[2019-10-15 19:15] crosbymichael commented on #3726
I'm looking into this today and trying to compile a list of all the tasks that need to be completed.

[2019-10-15 22:45] dnoliver commented on #3726
For reference, the Docker/CGroupV2 issue for Fedora 31 is tracked in https://bugzilla.redhat.com/show_bug.cgi?id=1746355

[2019-10-16 04:33] danopia commented on #3291
I don't think I've seen this error message in the thread, has anyone else seen it?

`ctr: failed to resolve reference "docker.pkg.github.com/danopia/reggie/reggie:097dbb9": could not resolve digest for docker.pkg.github.com/danopia/reggie/reggie:097dbb9`

I get it on the latest 'container-optimized' GKE version, and the image pulls fine from docker from the same box. `containerd://1.2.8`

[code]

[2019-10-16 11:02] fuweid commented on #3472
@thaJeztah @martynasb is it ok to close this?

[2019-10-16 11:25] martynasb commented on #3472
We still do not have a convenient way of building building `containerd.io` debs.

@seemethere is it in your roadmap to open source the packaging scripts?

[2019-10-17 07:06] AkihiroSuda commented on #3726
attempting to write eBPF device controller
https://github.com/AkihiroSuda/runc/commits/ebpf

[2019-10-17 14:15] dkoshkin opened #3756 "Crictl can't pull with mirror and image at top level of the registry"
**Description**

**Steps to reproduce the issue:**
1. Add `registry.mirror` option
[code]
2. Add `0.0.0.0  k8s.gcr.io` to `/etc/hosts` to force using the mirror
3. `crictl pull k8s.gcr.io/kubernetes-dashboard-amd64:v1.10.1`

**Describe the results you received:**
[code]

**Describe the results you expected:**
I have both `mirror/k8s.gcr.io/kubernetes-dashboard-amd64:v1.10.1` and `mirror/kubernetes

[2019-10-17 14:58] vryzhenkin commented on #3556
The same behaviour on release version v1.3.0

[2019-10-17 16:20] towolf commented on #3556
https://www.jfrog.com/jira/browse/RTFACT-20170

[2019-10-17 18:16] dmcgowan opened #3757 "Add binary upgrade tests"
Add a new test suite, possibly in `contrib`, which focuses on integration testing with the built binaries and capable of doing upgrade testing from previous releases. These tests may use `ctr` to do the integration testing, however only the latest version of `ctr` should be used even when upgrade testing (API is stable but `ctr` is not).

[2019-10-17 18:31] crosbymichael commented on #3757
To expand on this more, a few test points should be:

1. Upgrade from A -> B.
2. Upgrade from A -> B with running containers.
3. Upgrade and restart the daemon and try to manage existing containers.
4. Upgrade and try to manage existing containers without restarting the daemon.

We have a few internal APIs, such as the runtime shims that need upgrade testing to make sure compatibility is kept betw

[2019-10-18 11:18] #3710 closed

[2019-10-19 00:19] figo opened #3761 "crictl can not pull image from internal registry"
**Description**
pull image from internal registry failed with error ```failed to resolve reference  ###, no scope specified for token auth challenge ```
i guess it due to image name itself, but the same name works with containerd 1.2.9

**Steps to reproduce the issue:**
1.sudo crictl pull a-b-c.eng.companyname.com/staging/ccm/manager:v1.0.0

**Describe the results you received:**
[code]

**Describ

[2019-10-19 10:29] AkihiroSuda opened #3762 "support or disable direct unpack when running in userns"
**Description**

Direct unpack added in https://github.com/containerd/containerd/pull/3528 (v1.3.0) doesn't work well when running in user namespace:

[code]

The error happens because whiteout cannot be created with `mknod` in user namespace.

Moby implementation supports creating whiteout in a hacky alternative way:

https://github.com/moby/moby/blob/a8b04b17fd37ed797e34bea6534d307929c6337b/pkg/

[2019-10-19 10:50] AkihiroSuda commented on #3762
PR to disable direct unpack: https://github.com/containerd/containerd/pull/3763

[2019-10-19 13:41] AkihiroSuda opened #3764 "proxy_plugins: support spawning gRPC-over-stdio plugin processes"
**What is the problem you're trying to solve**
Managing `proxy_plugins` lifecycle is not easy.

**Describe the solution you'd like**
Support spawning plugin processes that speak gRPC over stdio.
These plugin processes will start up on the daemon start up and will die when the daemon dies.
If a plugin crashes, the daemon will try restarting with exponential backoff.

Example config:
[code]

**Addit

[2019-10-20 03:06] figo commented on #3761
i believe this is the same issue with https://github.com/containerd/containerd/issues/3556

[2019-10-20 03:06] #3761 closed

[2019-10-21 01:18] dims commented on #3556
cc @andreikom

[2019-10-21 10:45] adrianmester commented on #3291
I'm currently trying to pull an image from a private github registry as well, I'm getting this error:

`ctr: failed to copy: httpReaderSeeker: failed open: could not fetch content descriptor sha256:16a875db2e95a197a847dac777362417c977a2a8b347eee8366fdfae71ee248d (application/vnd.docker.distribution.manifest.v2+json) from remote: not found`

docker pull seems to work without any isses

[2019-10-21 11:26] ktock commented on #3731
@dmcgowan

How about your WIP on metadata snapshotter [mentioned here](https://github.com/containerd/containerd/issues/3731#issuecomment-540278372)?:smile:
Recently I integrated your metadata snapshotter with my filter implementation and remote snapshotter. It seems to work fine! Do you have any plan for your metadata snapshotter?
- The patch of containerd: [remote-snapshotter-target branch](https

[2019-10-23 11:30] surya474 opened #3774 "Accessibility updates"
**What is the problem you're trying to solve**
Improving accessibility of the website

**Describe the solution you'd like**
Adding alt tags for images

**Additional context**

-From [MDN](https://developer.mozilla.org/en-US/docs/Web/Accessibility)

[2019-10-23 11:31] surya474 commented on #3774
Will be adding this issue in website repo

[2019-10-23 11:31] #3774 closed

[2019-10-23 14:17] crosbymichael commented on #3764
Why not keep the spawning of the plugin but still use a unix socket?  It's kinda weird and not common to have "stdio" as a transport.

[2019-10-24 00:33] BenTheElder opened #3776 "config merge key behavior is surprising"
**Description**

When I do `containerd config dump` the CRI plugin entries show up under `plugins."io.containerd.grpc.v1.cri"`, however to get an import to work to these fields I must use `plugsin.cri` instead. xref https://github.com/containerd/containerd/pull/3574 which added this feature.

**Steps to reproduce the issue:**
1. create a trivial containerd config with an import
2. in an imported f

[2019-10-24 00:50] BenTheElder commented on #3776
I think the issue here is might not be config merge, but rather that `containerd config dump` will show keys under `plugins."io.containerd.grpc.v1.cri"` when in config _most_ of them need to be under `plugins.cri` except for `plugins."io.containerd.grpc.v1.cri".containerd` to set the default runtime name ?

Perhaps this is known, but I'm not seeing this documented anywhere.

cc @Random-Liu

[2019-10-24 01:13] BenTheElder commented on #3776
digging into this some more, it seems that the config import also causes the entire plugins.cri config to be clobbered? :disappointed:

[2019-10-24 05:22] Random-Liu commented on #3776
I read the code. The drop-in file also needs to be versioned.

You also need `version = 2` there. `version = 1` is still the default right now.

[2019-10-24 05:55] AkihiroSuda commented on #3764
Users don't want to manage the lifecycle of bunch of daemons. That's one of the reasons we initially attempted to support plugins as shared libraries?

gRPC over stdio transport might be kinda weird, but it has been already used in several places in BuildKit including LLBBridge.
https://github.com/moby/buildkit/blob/4f4e03067523b2fc5ca2f17514a5e75ad63e02fb/frontend/gateway/gateway.go#L320-L371

[2019-10-24 05:57] AkihiroSuda commented on #3764
(Can be custom FDs rather than stdio, of course)

[2019-10-24 06:41] jwongz commented on #2202
I am facing the same issue in centos 4.1.0-28.el7

[2019-10-24 06:53] BenTheElder commented on #3776
Thanks @Random-Liu!
This is significantly less confusing with `version = 2`

It is still unfortunate that plugin config (CRI in particular) must be in a single file, but this behavior isn't as surprising.

[2019-10-24 06:53] #3776 closed

[2019-10-24 15:31] edmorley commented on #3031
@thaJeztah It looks like this was an intentional change:
https://github.com/golang/go/commit/6bf2767cc87f9f6a1b85cdc18c656fade735f27f

[2019-10-24 16:25] kfox1111 commented on #3667
I just saw this on another cluster because it was using a csi driver. The csi driver had / mounted and  mountPropagation was not specified.

This really feels like a bug in containerd as it works on every other cri driver and seems to work on older versions of containerd.

How do we get this fixed?

[2019-10-24 17:29] Random-Liu commented on #3776
@BenTheElder That is because of some limitation of the toml library we use. Hope we can improve that in the future.

[2019-10-24 17:34] BenTheElder commented on #3776
I intend to experiment with an alternative approach outside of containerd
with json-patch similar to kubernetes unstructured apply.

On Thu, Oct 24, 2019 at 10:29 AM Lantao Liu <notifications@github.com>
wrote:

[2019-10-24 18:06] #3762 closed

[2019-10-24 19:02] rcash commented on #2980
Hi @dmcgowan I'm a student in UT Austin's virtualization class, are you still looking for people to contribute to this issue?

[2019-10-24 19:06] crosbymichael commented on #2980
@rcash yes, we are still looking for people interested in implementing this :)

[2019-10-24 20:55] crosbymichael commented on #3764
Why not anonymous unix sockets like we do from shims?

[2019-10-25 00:23] Random-Liu opened #6638 "Support portforward for kata and gVisor"
We recently added portforward support for windows https://github.com/containerd/cri/blob/master/pkg/server/sandbox_portforward_windows.go. It exec into the pause container, and runs `wincat.exe` to do the bidirectional data redirection.

We can generalize the solution, and use it to support kata and gVisor, and even replace the current runc support to get rid of the dependency of `socat` on the ho

[2019-10-25 02:52] #3708 closed

[2019-10-25 03:49] frankui opened #3781 "Docker container process becomes a Zombie process to make k8s pod not ready."
**Description**

Docker container process becomes a Zombie process to make k8s pod not ready.

**Steps to reproduce the issue:**
1. With k8s to deploy scaled docker based application
2. Keep the system running for 2-3 days, some k8s pods will stuck at not ready status due to the container process becomes a Zombie process.

**Describe the results you received:**

-  zookeeper-1 pod is not ready.
[c

[2019-10-25 06:06] AkihiroSuda commented on #3726
Do we support cgroup2 only for shim v2 runc v2?

If Moby cannot migrate to shim v2 (https://github.com/moby/moby/pull/38943) soon, we also need to support shim v1?

[2019-10-25 21:37] mparfan commented on #2511
Hi @dmcgowan and @stevvooe I'm a student in UT Austin's Virtualization class, are you still looking for people to contribute to this? If so, could I get some more info about this issue and the other fixes that may need to be done? Thanks!

[2019-10-26 14:33] AkihiroSuda commented on #3726
RFC for containerd/cgroups package: https://github.com/containerd/cgroups/pull/102

[2019-10-26 20:46] miranda0615 commented on #953
Hi @dmcgowan ,  I'm a student from UT Austin. I am taking a virtualization class that requires us to work on an open source project, so I was wondering if you are still looking for people to contribute to this. If so, can I get more information on this issue? Thank you very much!

[2019-10-26 23:30] Random-Liu commented on #3764
Shouldn't we run the proxy process as a systemd service, and use systemd to handle the dependency? Not sure whether containerd wants to handle the lifecycle of that process.

[2019-10-27 01:49] fuweid commented on #3764
What about the customize main.go file? Import the third party plugins in main.go and build it. There will be only one binary and let plugins package to handle dependency.

[2019-10-28 14:11] crosbymichael commented on #3726
I think v2 shims.  I'll work on docker to use the v2 shims by default as enough time has past and we are not supporting v1 shims as much anymore.

[2019-10-28 14:13] rcash commented on #2980
Awesome! Do you know if I (& my group) could get some more info about the design or relevant classes? Thanks!

[2019-10-28 22:02] dmcgowan commented on #2980
The summary above is the only outline we have of this work. To be more detailed, see the [current database structure](https://github.com/containerd/containerd/blob/master/metadata/buckets.go#L45). This work would involve updating the storage to have an `indexes` bucket under the namespace. Under this bucket would have a per type bucket -> per index bucket -> per value bucket -> list of type primar

[2019-10-29 03:12] rcash commented on #2511
I'm also interested (one of @mparfan 's collaborators)

[2019-10-29 04:22] AkihiroSuda commented on #3764
I feel stdio is better for plugins, because stdio is not visible to other processes.

For rootless containers, systemd management is not straightforward because the daemon and the all plugin processes need to be in the same mount namespace. If we can prepare some `nsenter`-like tool for systemd, it might be fine.

Yes, it is the current best solution.
I think we want to support plugins without rec

[2019-10-29 07:58] Random-Liu opened #3787 "Snapshot gets deleted when an image is being pulled."
[code]

The 2 images pulled/removed in parallel causing this are:
* `gcr.io/cri-tools/test-image-digest@sha256:9179135b4b4cc5a8721e09379244807553c318d92fa3111a65133241551ca343`
* `gcr.io/cri-tools/test-image-1:latest`

<details>
  <summary>related containerd log</summary>

[code]
</details>

[2019-10-29 12:51] AkihiroSuda commented on #3727
Is there CI failure logs?
https://github.com/containers/crun/pull/148#issuecomment-547386193

cc @giuseppe

[2019-10-29 17:34] QingenZhang opened #3788 "Containerd fails to collect container crash logs"
**Description**

**Steps to reproduce the issue:**
1. Build a container including a C++ crash program (performing a division by zero in my case, and tries to output the result to stdout)
2. Start the container
3. Executing a new task within the container with command: `ctr task exec  --exec-id task1 test-1 /bin/sh -c "./crash"`
4. Executing another task within the same container: `ctr task exec  -

[2019-10-29 17:34] QingenZhang commented on #3788
@Random-Liu

[2019-10-29 19:54] daniel5gh commented on #3068
Hi, I am running into the same error message, although in a different setup, so it could be a different issue.

Message:
[code]

I am using the version of `ctr` included with `microk8s` snap. One change I did make to the snap is `snapshotter = "zfs"` instead of the default `overlayfs` it comes with. I followed [this advice](https://github.com/ubuntu/microk8s/issues/401#issuecomment-480945986).

so

[2019-10-29 20:24] dmcgowan commented on #3068
@daniel5gh I think in your case `ctr` is still defaulting to overlayfs even though the daemon isn't. Try setting `CONTAINERD_SNAPSHOTTER` or with the `--snapshotter` option to see if that corrects it.

We should likely be disabling the overlay snapshotter on such a filesystem where it is unsupported, although I am not sure what is making that not work in this case. However, in your case, it seems

[2019-10-29 22:33] miranda0615 commented on #2231
Hi @dmcgowan , @stevvooe ,I'm a student from UT Austin. I am taking a virtualization class that requires us to work on an open source project, so I was wondering if you are still looking for people to contribute to this. If so, can I get more information on this issue? Thank you very much!

[2019-10-29 22:36] miranda0615 commented on #3471
Hi @crosbymichael , I'm a student from UT Austin. I am taking a virtualization class that requires us to work on an open source project, so I was wondering if you are still looking for people to contribute to this, I see there is no assignees yet. If so, can I get more information on this issue? Thank you very much!

[2019-10-30 02:24] tamalsaha commented on #3291
I got an email today saying that Github package registry is public. Is it working for anyone with containerd?

[2019-10-30 08:40] keyingliu commented on #1893
containerd github.com/containerd/containerd v1.2.7-10-g28d34be 28d34be6650cb60fac87a4b8a2132685867e0955

[code]

[2019-10-30 10:04] fuweid commented on #3788
@QingenZhang could you share your program in issue? thanks.

[2019-10-30 10:07] fuweid commented on #3781
Hi @frankui

I think the issue has been fixed by https://github.com/containerd/containerd/pull/3540. you can update your docker version to fix this issue. Thanks for reporting.

[2019-10-30 13:24] daniel5gh commented on #3068
@dmcgowan thanks for this information!

I had a suspicion `ctr` was not using the `zfs` snapshotter. I have almost no experience with `containerd` and I couldn't find why it wasn't using it. Because I had changed the configuration in `microk8s` `containerd-template.toml` I jumped to conclusions thinking its bundled `ctr` would also use it.

Also good to know that k8s uses another interface, that e

[2019-10-30 21:14] dprotaso commented on #3731
I have a few questions and I wonder what people's thoughts are:

#### 1) What types of remote snapshotters are we looking to support?

I'm imagining two classes:
1) read-only
2) read/write

What would be the scope of each type. ie. for r/w does a local commit propagate to the remote?

#### 2) For surfacing read-only data is using the snapshotter interface appropriate?

Looking at the remote-snapsh

[2019-10-30 21:38] dmcgowan commented on #3731
@ktock I am working on the unit tests now. I stopped to get the filters branch in so I could use that. Thank you for testing it out!

[2019-10-31 03:11] frankui commented on #3781
Thanks, Fu.
We are try to upgrade the docker-ce to 18.0.9 since that is the latest version claimed to be verified by k8s. I checked the docker-ce 18.0.9 and it seems that it still using containerd 1.2.6. So the issue is not fixed on docker-ce 18.0.9 and we need to wait for the new docker-ce published and verified by k8s team, right?

[2019-10-31 06:48] ktock commented on #3731
@dprotaso

I think the initial scope is "read-only" but it is possible to include the "write" support in future works.
The ways to propagate local changes to remote are very different among filesystems so I think it is [remote-snapshotter](https://github.com/ktock/remote-snapshotter)'s responsibility (rather than the core of containerd). And I think it isn't impossible for remote-snapshotter to en

[2019-10-31 06:56] lukasheinrich commented on #3731
just noting some developments from azure:

https://stevelasker.blog/2019/10/29/azure-container-registry-teleportation/
https://twitter.com/lukasheinrich_/status/1189794453365645312

@SteveLasker are there any plans to integrate that solution with what's discussed here?

[2019-10-31 16:04] SteveLasker commented on #3731
The Teleport work was initially started on Moby as we wanted to get this out last year. That became too problematic as there weren't enough extension points in moby to have a clean implementation, so engineering convinced us to move to a containerd solution.
That said, we're still refactoring some of the changes to align with the containerd snapshotter and we likely would have some PRs to do clean

[2019-11-01 01:35] dmcgowan commented on #3731
See #3793 for change to core. Client changes to leverage this will be next.

[2019-11-01 19:46] rgulewich commented on #3617
@dmcgowan - was finally able to test with containerd 1.2.9, but I still run into the issue.  This is the version I'm running:

[code]

I can post more debugger output if that helps.

[2019-11-02 00:56] VasiliyS commented on #3291
Looks like I have the same/similar issue (using drone cd pipeline in a k3s cluster):

```Warning  Failed     43s (x4 over 2m20s)  kubelet, k3s2      Failed to pull image "docker.pkg.github.com/vasiliys/drone/kubectl:v1.6.2": rpc error: code = NotFound desc = failed to pull and unpack image "docker.pkg.github.com/vasiliys/drone/kubectl:v1.6.2": failed to copy: httpReaderSeeker: failed open: could n

[2019-11-02 04:30] AkihiroSuda commented on #3787
which version of containerd?

Related to multi-arch?

[2019-11-04 05:23] fuweid commented on #3781
Hi @frankui , sorry for late reply. I don't think k8s community will do the check for this. It is about container runtime. I checked that moby code base and containerd vendor has been updated to v1.3.0. I think we just wait for docker-ce to update containerd version.

cc @thaJeztah

[2019-11-04 21:24] rcgoodfellow opened #3797 "Cannot follow hyphens or periods with numbers in namespaces"
**Description**
Namespace validation is oddly specific. The following pops up in error logs

[code]

So this means that `space47-a9` is legit, but `space47-9a` is somehow not? Same thing for periods, they must be followed by an alpha and then alphanumerics. is there are reason behind this? What is wrong with following a hyphen with a number?

**Steps to reproduce the issue:**
1. create a namespace

[2019-11-04 21:29] estesp commented on #3797
This comment explains the source of the rules (a specific RFC for domains): https://github.com/containerd/containerd/blob/master/namespaces/validate.go#L45-L46

Let us know if there is a specific use case where this is burdensome. I assume picking a standing RFC was simply a reasonable starting point for having some semblance of rules for namespace names.

[2019-11-04 22:12] rcgoodfellow commented on #3797
I do not believe what I am seeing is consistent with DNS naming. `space47-9a` is a perfectly legit DNS label.  The `label` regex [here](https://github.com/containerd/containerd/blob/master/namespaces/validate.go#L39) does not seem to be consistent with the BNF in

- https://tools.ietf.org/html/rfc1035#section-2.3.1

In particular about `alpha` having to strictly follow a hyphen.

Our use case is t

[2019-11-04 22:17] estesp commented on #3797
looks like you are correct that the regex has been simplified to disallow digits after `.` or `-`, whereas the RFC permits digits after hyphen. If that is corrected is that sufficient? Digits after `.` would still be disallowed.

[2019-11-04 22:20] rcgoodfellow commented on #3797
Yes, if this is corrected that would be great. Having digits after hyphens will be sufficient for our needs.

[2019-11-05 06:39] AkihiroSuda commented on #3726
PR https://github.com/containerd/containerd/pull/3799

[2019-11-05 07:39] frankui commented on #3781
Hi, Fu,

Here seems to be the k8s clarification about the docker version verified.
https://kubernetes.io/docs/setup/release/notes/
The list of validated docker versions remains unchanged.
The current list is 1.13.1, 17.03, 17.06, 17.09, 18.06, 18.09. (#72823, #72831)

We double checked the 18.09.9 docker-ce still using v1.2.6 containerd. We will try to upgrade the docker version to 19.03 with the

[2019-11-05 10:04] hillbun opened #3800 "How to pull image from private registry?"
I config config.toml.tmpl adding

[plugins.cri.registry.mirrors]
[plugins.cri.registry.mirrors."docker.xxx.cn"]
endpoint = ["http://docker.xxx.cn:5000"]

[plugins.cri.registry.configs."docker.xxx.cn".auth]
username = "xxxx"
password = "xxxxxxx"

when I pull

crictl pull docker.xxx.cn:5000/maxfaith/miop_ui:development

error returned:

FATA[2019-10-30T14:23:39.122757012+08:00] pulling image failed:

[2019-11-05 10:50] AkihiroSuda commented on #3800
You need to set up certs: https://github.com/containerd/cri/blob/master/docs/registry.md#configure-registry-tls-communication

Also make sure the certs are not expired.

[2019-11-05 12:08] #3797 closed

[2019-11-05 12:13] rcgoodfellow commented on #3797
Thanks @estesp!

[2019-11-06 01:28] fuweid commented on #3781
Hi @frankui , I checked that docker-ce 18.09.9 requires containerd version >=1.2.2. And the repository for packages has containerd 1.2.10 version. If you re-install docker-ce, I think the containerd will be 1.2.10.

https://download.docker.com/linux/centos/7/x86_64/stable/Packages/

[2019-11-06 02:12] hillbun commented on #3800
@AkihiroSuda

My private registry is insecure.

any similar configureation in docker to solve this problem?
"insecure-registries": ["docker.xxx.cn:5000"]

[2019-11-06 19:15] ArpithaDR commented on #3291
I am seeing the same issue with bintray registry:

ctr --debug images pull --user username docker-xxx.bintray.io/testimage:1.0.0

DEBU[2019-11-06T19:00:16.221444239Z] fetching                                      image="docker-xxx.bintray.io/testimage:1.0.0"
DEBU[2019-11-06T19:00:16.221597472Z] resolving
DEBU[2019-11-06T19:00:16.221619377Z] do request                                    request.hea

[2019-11-06 20:50] tamalsaha commented on #3291
@ArpithaDR , you are getting unauthorized error. You probably need to pass token/password.

`ctr --debug images pull --user username:token docker-xxx.bintray.io/testimage:1.0.0`

[2019-11-06 21:52] ArpithaDR commented on #3291
@tamalsaha , I am passing the password too when prompted.

Had also tried passing the password directly through CLI, both didn't work.
```ctr --debug images pull --user username:password docker-xxx.bintray.io/testimage:1.0.0```

[2019-11-06 21:58] dmcgowan commented on #3291
@ArpithaDR that is a separate issue and a different registry provider. JFrog's registry has a different set of issues that they also need to fix upstream, maybe related to #3556

[2019-11-06 22:02] ArpithaDR commented on #3291
Thanks @dmcgowan from pointing me to that issue.

[2019-11-06 22:48] Ilyes512 commented on #3291
Like I said, I am also hitting this problem but with https://hub.docker.com/_/registry + https://github.com/cesanta/docker_auth

[2019-11-07 03:11] fuweid commented on #3800
Hi @hillbun please check the doc https://github.com/containerd/cri/blob/master/docs/registry.md#configure-registry-endpoint hope it can help you

[2019-11-07 03:52] hillbun commented on #3800
@fuweid

yes,  I try this but failed

[plugins.cri.registry.mirrors]
[plugins.cri.registry.mirrors."docker.xxx.cn"]
endpoint = ["http://docker.xxx.cn:5000"]

[2019-11-07 04:05] fuweid commented on #3800
@hillbun I think you should add port, like [plugins.cri.registry.mirrors."docker.xxx.cn:5000"]

[2019-11-07 07:31] hillbun commented on #3800
@fuweid

[plugins.cri.registry.mirrors]
  [plugins.cri.registry.mirrors."docker.xxx.cn:5000"]
    endpoint = ["http://docker.xxx.cn:5000"]

[plugins.cri.registry.configs."docker.xxx.cn:5000".auth]
username = "myusername"
password = "mypassword"

crictl pull docker.xxx.cn:5000/maxfaith/miop_ui:development
FATA[2019-11-07T15:29:08.826492009+08:00] pulling image failed: rpc error: code = Unknown desc

[2019-11-07 07:41] fuweid commented on #3800
@hillbun I think it is not related to containerd side. maybe you didn't make proxy_pass or something right in nginx? please make sure your registry setting is correct.

[2019-11-07 07:43] hillbun commented on #3800
@fuweid

docker login with myusername and mypassword is correct.
and docker pull docker.xxx.cn:5000/maxfaith/miop_ui:development is correct

[2019-11-07 09:43] fuweid commented on #3800
@hillbun I still think it is configuration issue.

could you share your containerd configuration? and use `ctr --debug image pull -u {username}:{password} --plain-http docker.xxx.cn:5000/maxfaith/miop_ui:development` to check it?

Thanks

[2019-11-07 10:16] hillbun commented on #3800
[plugins.cri.registry.mirrors]
  [plugins.cri.registry.mirrors."docker.xxx.cn:5000"]
    endpoint = ["http://docker.xxx.cn:5000"]

[plugins.cri.registry.configs."docker.xxx:5000".auth]
username = "xxxxxx"
password = "xxxxxxxx"

[2019-11-07 17:06] PabstMatthew commented on #3757
Hi, I'm in a group of students at the University of Texas at Austin, and we're looking to build this feature over the next few weeks. Beyond basic functionality tests for the cases listed above, are there any specific situations that we should test for?

[2019-11-07 18:19] ArpithaDR commented on #3556
I am seeing the same issue too.

[2019-11-08 02:42] hillbun commented on #3800
@fuweid

DEBU[2019-11-08T10:42:10.053415944+08:00] ListImagesRequest: &ListImagesRequest{Filter:&ImageFilter{Image:&ImageSpec{Image:pull,},},}
DEBU[2019-11-08T10:42:10.055152624+08:00] ListImagesResponse: &ListImagesResponse{Images:[]*Image{&Image{Id:sha256:897ce3c5fc8ff8b1ad4fe1e74f725a0942e8e1dad0ee09096cfa7320da889a53,RepoTags:[docker.io/rancher/klipper-lb:v0.1.2],RepoDigests:[docker.io/rancher

[2019-11-08 02:55] tuananh170489 opened #3804 "Failed to connect to private registry with TLS config"
Hi guys,
I try to config containerd connect to private registry with TLS
My config
[code]
But when I using `crictl` to pull image from private registry, that encounter the following error:
[code]
I think my containerd config incorrectly, because I attempt with `docker pull` successfully.
Plz give me a advice.
Thank a lots!

[2019-11-08 03:24] tuananh170489 commented on #3804
So sorry, I'm still running containerd 1.2.9, which not supported TLS yet.
Update to 1.3.0 and work like a charm.

[2019-11-08 03:24] #3804 closed

[2019-11-08 03:32] fuweid commented on #3800
@hillbun ctr command is ok for you?

[2019-11-08 03:35] hillbun commented on #3800
ctr --debug image pull -u xxx:xxxx --plain-http docker.xxx.cn:5000/maxfaith/miop_ui:development
DEBU[0000] fetching                                      image="docker.xxx.cn:5000/maxfaith/miop_ui:development"
DEBU[0000] resolving
DEBU[0000] do request                                    request.headers=map[Accept:[application/vnd.docker.distribution.manifest.v2+json, application/vnd.docker.distribu

[2019-11-08 06:55] fuweid commented on #3800
@hillbun it is about your tls setting. I am not sure that what is your cert on server or client. docker cli can work because you set something in docker config.

please check it and I will close this issue.

[2019-11-08 07:02] hillbun commented on #3800
@fuweid

endpoint is http://docker.xxx.cn:5000/v2/maxfaith/miop_ui/manifests/development

not TLS.

[2019-11-08 07:12] fuweid commented on #3800
@hillbun if you don't mind, please join slack and dm https://dockr.ly/slack. Thanks

[2019-11-08 07:51] fuweid commented on #3800
@hillbun could you check your registry log? maybe it can provide some detail.

[2019-11-09 18:01] rll2396 opened #3813 "Dependency missing after following Docker build instructions"
**Description**

Running `make` results in `fatal error: btrfs/ioctl.h: No such file or directory`
**Steps to reproduce the issue:**
1. Follow Docker "Build containerd" instructions

**Describe the results you received:**
[code]

**Describe the results you expected:**
A successful build

**Output of `containerd --version`:**

[code]

**Proposed solution:**
It appears that `btrfs/ioctl.h` is in `li

[2019-11-09 22:39] mi-yu commented on #3552
Hi, I'm at student at UT Austin and am looking to contribute to container-related project as part of my [virtualization course](https://github.com/vijay03/cs378-f19). I'm interested in picking this issue up, and I've read through the code in #3065. In terms of a more configurable solution, are we looking to allow key patterns to be controlled via config?

[2019-11-10 14:23] fahedouch commented on #3800
Your issue is related to this [regitry specification](https://github.com/containerd/cri/issues/787#issuecomment-392846157)

can you try to make a head request plz :
[code]

[2019-11-10 23:04] ungureanuvladvictor opened #3816 "Deadlock in pulling/unpacking image with containerd 1.3.0"
**Description**

I'm running k8s 1.14.6 and recently upgraded to containerd 1.3.0 form 1.2.4. From time to time when pods get scheduled on a node I observe that the kubelet is waiting on containerd to pull an image. I took a goroutine dump (https://gist.github.com/ungureanuvladvictor/39a5e37754dc7969233288331232a258) when this is happening and you can observe that `goroutine 40397` is stuck on a `

[2019-11-11 02:19] hillbun commented on #3800
curl -I http://docker.xxx.cn:5000/maxfaith/miop_ui:development
curl: (8) Weird server reply

[2019-11-11 05:42] shizhMSFT opened #3817 "reference.Spec.Hostname() always panic if no "/" presents"
**Description**

`reference.Spec.Hostname()` always panic if no `/` presents in the Locator.

**Steps to reproduce the issue:**
[code]
Code available at [the Go playground](https://play.golang.org/p/8bFOGrdTmp5)

**Describe the results you received:**
[code]

**Describe the results you expected:**
It should print `test`.

**Output of `containerd --version`:**
Current `master` branch or tag `1.3.0`

[2019-11-11 06:13] #3813 closed

[2019-11-11 06:52] fuweid commented on #3800
@hillbun could you send your registry log about the request?

[2019-11-11 07:46] hillbun commented on #3800
2019-11-11T07:45:56.663313119Z 2019/11/11 07:45:56 http: TLS handshake error from 47.56.107.71:39462: tls: first record does not look like a TLS handshake

[2019-11-11 07:47] hillbun commented on #3800
@fuweid
2019-11-11T07:45:56.663313119Z 2019/11/11 07:45:56 http: TLS handshake error from 47.56.107.71:39462: tls: first record does not look like a TLS handshake

[2019-11-11 08:05] hillbun commented on #3800
@fuweid

I join slack now.

which channel to discuss?

[2019-11-11 10:09] fahedouch commented on #3800
@hillbun  in your registry server do you activate a A TLS termination proxy. Can you check you proxies in the server plz ?

By the way you can post your question in ```containerd```  channel

[2019-11-11 13:01] #3817 closed

[2019-11-11 14:55] ashrayjain commented on #3816
We have now observed this happening for other images as well

[2019-11-11 16:07] dmcgowan commented on #3816
I'll take a look, thanks for the report and analysis!

[2019-11-11 19:10] pjbgf opened #3820 "Seccomp at POD level always requires extra syscalls"
**Description**

For a single container pod with `AllowPrivilegeEscalation=false`, setting the seccomp profile at pod or container level results in vastly different syscalls to be whitelisted.

This is a copy of https://github.com/kubernetes/kubernetes/issues/84623.

**Steps to reproduce the issue:**
1. Spin up a kubernetes cluster with `hack/local-up-cluster.sh`
2. Place the contents of both `*.j

[2019-11-11 19:12] pjbgf commented on #3820
The table below shows what syscalls must be whitelisted to run a simple pod depending on whether the seccomp profile is set at pod or container level:

| Seccomp set at | Whitelisted syscalls |
|------------------------------------------------|------------------------------------------------------------------------------------------------------------------------------------------------------------

[2019-11-11 19:45] Random-Liu commented on #3816
I reviewed the code again, and the only ways for me that it could stuck at that `select` are:
1) A layer download stuck (not likely);
2) All layers are downloaded, but there is a state mismatch between the layer download update and the internal state inside the unpacker. I could be either a race condition, or a bad image. :/

@ungureanuvladvictor Do you have containerd log with debug level? We do

[2019-11-11 20:25] ungureanuvladvictor commented on #3816
I can enable debug logging and try to repro. The fact that I cannot repro easily is the deal breaker here. I can also run a custom build of containerd if you think more debug logs than the ones already present would be helpful.

[2019-11-11 20:33] dmcgowan commented on #3816
I think seeing the manifest would be helpful. I see a similar case that Lantao mentioned in the code, but with values in the manifest we wouldn't expect. Can you send the anonymized manifest (and at least rootfs section of config), you can send it here, slack, or email.

I think there is a fix for this we should get in to make this case harder to hit, but we need to verify if that is what we are s

[2019-11-11 22:18] ungureanuvladvictor commented on #3816
@Random-Liu @dmcgowan I sent you folks a manifest over DM on the containerd slack chan.

[2019-11-12 01:25] frankui commented on #3781
Hi @fuweid,
After we upgraded docker to 18.09.9 with containerd 1.2.10, we didn't observe zombine container process. But we still observed some other issues here.
The 1st issue is that zookeeper-0 container process seems to be still alive when container seems to be hang and can't be inspected and executed after kubelet health-probe detected the failure of "code = Unknown desc = operation timeout:

[2019-11-12 08:22] hillbun commented on #3800
@fuweid

solved.  thanks.

[2019-11-12 08:22] #3800 closed

[2019-11-12 08:45] hillbun commented on #3800
The reason cause this issue is that tls file in registry is expired.

update tls file resolved.

[2019-11-13 13:31] pierreozoux opened #3824 "missing dependency pigz"
**missing dependency to pigz**

[code]

**Steps to reproduce the issue:**
1. running on ubuntu Ubuntu 18.04.3 LTS with kubelet Kubernetes v1.15.3
2. try to run an a pod
3. get the error

**Output of `containerd --version`:**

[code]

**Any other relevant information:**

[code]

fixed the issue.

I'm wondering why this dependency is missing? Is it mandatory? If it is then I think it is missing from

[2019-11-13 14:37] crosbymichael commented on #3824
It shouldn't be a requirement.  This is the ubuntu pkg from ubutnu sources or somewhere else?

[2019-11-14 03:43] jizusun commented on #3556
k3s is also affected, since it's using `containerd`

[2019-11-14 07:25] stgarf commented on #3291
Is this supposed to work with public package repositories? I can't seem to pull a package that I built from a forked upstream repo (but recompiled for ARM).

My [fork is public](https://github.com/stgarf/podinfo) and the [package is seemingly public as well](https://github.com/stgarf/podinfo/packages/54731).

[code]
Error:
[code]

I'm running a `k3s` Kubernetes cluster `v0.9.1 (755bd1c6)` based on

[2019-11-14 09:29] Random-Liu commented on #3824
Containerd only uses unpigz when it finds it in the path, and this detection only happens once each time containerd runs.

Given your log, it seems that containerd has already found `unpigz` in `/usr/bin/unpigz`, and somehow the binary is gone. Did you delete the package after containerd started?

[2019-11-14 12:36] pierreozoux commented on #3824
Ah actualité, right after starting it, I ran `apt-get remove docker-ce && apt autoremove`

So I guess it was installed and removed :)

Happy that I discovered this little optimization I'll keep it now ;)

Thanks for your comments and help!

Just a quick question if you have time, this repo stays with docker or goes with Mirantis?
And you guys, is your new employer mirantis?

Just curious ;)

[2019-11-14 12:36] #3824 closed

[2019-11-14 14:28] estesp commented on #3824
And you guys, is your new employer mirantis?

@pierreozoux: containerd is a CNCF project, not a Docker project. It was created at Docker and donated to the CNCF in early 2017. Most of the maintainers do not work at Docker; a few of them do, but the project is not funded or directed by Docker in any way so is not impacted in any way by the financing or business decisions of Docker the company.

Doc

[2019-11-16 13:09] giuseppe commented on #3727
@crosbymichael if there is anything I can do to help with this issue, just let me know

[2019-11-18 18:00] AkihiroSuda commented on #3726
added the checklist to the top comment of this issue
cc @Zyqsempai

[2019-11-18 19:40] #3816 closed

[2019-11-18 22:18] Zyqsempai commented on #3726
I will take `CPU` and `Memory` metrics.

[2019-11-19 02:58] rtheis opened #3833 "Support image pull progress deadline for containerd"
Kubernetes `kubelet` provides an `--image-pull-progress-deadline` option that `If no pulling progress is made before this deadline, the image pulling will be cancelled. This docker-specific flag only works when container-runtime is set to docker. (default 1m0s)`, see https://kubernetes.io/docs/reference/command-line-tools-reference/kubelet/.  Unfortunately, this option is only available for the Do

[2019-11-19 02:58] rtheis opened #4984 "Support image pull progress deadline for containerd"
Kubernetes `kubelet` provides an `--image-pull-progress-deadline` option that `If no pulling progress is made before this deadline, the image pulling will be cancelled. This docker-specific flag only works when container-runtime is set to docker. (default 1m0s)`, see https://kubernetes.io/docs/reference/command-line-tools-reference/kubelet/.  Unfortunately, this option is only available for the Do

[2019-11-19 15:57] ungureanuvladvictor commented on #3833
Something like this could have helped in mitigating https://github.com/containerd/containerd/issues/3816. @Random-Liu for awareness.

[2019-11-20 12:56] yetanotherlogonfail opened #3835 "where has this bug gone?"
No status provided on response: unknown

was previously rasied below, followed the issue to this package and now whats the staus of this error?

https://github.com/docker/for-linux/issues/813

I have broken API and docker wont build in my env!

[2019-11-20 15:23] crosbymichael commented on #3835
@yetanotherlogonfail this should be resolved if you update your docker and containerd on your system.  Make sure you restart both daemons after the upgrade and let us know if that resolved the issue for you.

[2019-11-21 08:50] XiaodongLoong opened #3839 "Request update vendor (github.com/docker/docker/pkg/system)"
The type of the "s.Rdev" is 32bit on mip64el, and it cannot convert 'uint32' to 'uint64' implicitly with programming in GO language. As shown in the PR #3838 .

I found that the latest version of github.com/docker/docker/pkg/system pacakage source has fixed this problem. So, I request update vendor (github.com/docker/docker/pkg/system).

[2019-11-21 12:35] yetanotherlogonfail commented on #3835
Thanks crosbymichael, thats fixed it
I still have a concern that this issue was raised here docker/for-linux#813
and I lost track of it once it hit containerd, how can we prevent that happening again?

[2019-11-21 15:50] estesp commented on #3839
This would have to start with a change to the CRI vendoring as the dependencies are from the CRI plugin:
[code]

We can't change `vendor.conf` in containerd until that is first done in the CRI plugin and verified that moving up is possible. We can't change just the one file as that is part of the entire `docker/docker` vendoring being done.

[2019-11-22 09:59] XiaodongLoong commented on #3839
I found that the docker/docker vendor in the moby project has fixed the problem #3838 , so I request to update the vendor.
And the problem has existed for a long time, I highly recommend to update the vendor docker/docker.
 Thank you.

[2019-11-22 19:37] crosbymichael commented on #3835
I guess it was harder to track since the bug was opened in the docker repo and was related to packaging.

Hopefully going forward, the containerd project will handle packaging or atleast of the packaging scripts located inside this repo so that changes around this type of bug can be resolved with a pull request.

[2019-11-22 19:37] #3835 closed

[2019-11-22 21:10] liaojh1998 opened #3841 "Reduce chown overhead by adding support for FUSE-OverlayFS"
**What is the problem you're trying to solve**
Reduce chown overhead in user namespaces.

**Describe the solution you'd like**
Add support for mounting FUSE-OverlayFS without using chown in container_opts_unix.go

**Additional context**
We're students at the University of Texas at Austin working on this task currently, and we're quite new to the codebase. @AkihiroSuda has assigned us this task for

[2019-11-22 21:27] estesp commented on #3839
@XiaodongLoong I've opened containerd/cri#1341 to start the process.

[2019-11-23 11:14] balchua opened #3843 "Containerd 1.3.0 unable to use nvidia-container-runtime"
**Description**
After upgrading my containerd to 1.3.0 from 1.2.5.  suddenly `nvidia/k8s-device-plugin:1.11` couldnt find the driver.
I have to roll it back to containerd 1.2.5.

**Steps to reproduce the issue:**
1.  Gpu enabled server.
2. Upgrade containerd from 1.2.5 to 1.3.0
3. Deploy the `nvidia/k8s-device-plugin`

**Describe the results you received:**
It couldnt find the driver yo determine

[2019-11-24 05:33] balchua commented on #3843
Ive finally got this working with v1.3.1.  but i have to use the version 2 configuration.  anyone knows how to configure using the old configuration?

[2019-11-24 11:10] ktock commented on #3731
I posted idea of the client changes on #3846 to enable to skip downloading layers which can be provided by backend snapshotter. Could you give comments on it?
Further additional failure handling on client-side for better resiliency will be next.

[2019-11-25 01:29] XiaodongLoong commented on #3839
OK, Thanks.

[2019-11-25 01:51] qianzhangxa opened #3847 "Containerd cannot pull image from insecure registry"
**Description**
I deployed Harbor (172.17.1.201) in my Kubernetes cluster and pushed an image (`172.17.1.201/library/alpine`) into it. When I tried to manually pull the image from a worker node (it uses containerd as container runtime and there is no Docker on this node at all) of my Kubernetes cluster, it failed:
[code]
I have already setup 172.17.1.201 as an insecure registry of containerd, and

[2019-11-25 04:51] AkihiroSuda commented on #3841
* Add `oci.WithUserNamespace()` as well as `WithRemappedSnapshot` to `cOpts` in `NewContainer()`. Remapping only makes sense when the container is being created along with a user namespace.

https://github.com/containerd/containerd/blob/383f4a77eeb726e0b7da491c70ad22b10f3b2bff/cmd/ctr/commands/run/run_unix.go#L63

* Add `runctypes.CreateOptions` stuff to `getNewTaskOpts()` so that console I/IO stu

[2019-11-25 04:59] liaojh1998 commented on #3841
Thanks! What do you think of adding a StringFlag argument to `ctr run` which can pass in `host` and `size` for `oci.WithUserNamespace()` in `NewContainer()`.

Then, based on whether or not the flag was passed in, we'll change `WithNewSnapshot()` in
https://github.com/containerd/containerd/blob/383f4a77eeb726e0b7da491c70ad22b10f3b2bff/cmd/ctr/commands/run/run_unix.go#L116-L123
to `WithRemappedSnaps

[2019-11-25 05:02] AkihiroSuda commented on #3841
Yes, ctr flag could be like `--uidmap=0:1000:10000`.

[2019-11-25 06:00] liaojh1998 commented on #3841
Great! Given that
https://github.com/liaojh1998/containerd/blob/master/oci/spec_opts.go#L440-L442
Indicates that we can do multiple remappings, should we call `withRemappedSnapshot()` multiple times?

[2019-11-25 06:26] AkihiroSuda commented on #3841
We should not limit, but you can limit for the first implementation.

[2019-11-25 07:28] jmillikin-stripe opened #6639 "Support pluggable logging"
Containerd versions v1.3+ have support for log plugins, where a task is configured with the path to an external binary and the shim will invoke that binary to handle persisting log data. This functionality is roughly equivalent to Docker's logging drivers (https://docs.docker.com/config/containers/logging/plugins/).

The CRI plugin currently bypasses Containerd's log plugins, writing logs only to

[2019-11-25 07:54] liaojh1998 commented on #3841
I added the first implementation for `--uidmap=0:1000:10000`. Please let me know if there are concerns!

[2019-11-25 08:54] AkihiroSuda opened #3849 "content: support fs-verity (kernel 5.4)"
**What is the problem you're trying to solve**
Verifying contents digests is not efficient

**Describe the solution you'd like**
Use fs-verity to verify contents digests

**Additional context**
fs-verity was introduced in kernel 5.4 (for ext4 and f2fs): https://kernelnewbies.org/Linux_5.4#fs-verity.2C_for_detecting_file_modifications

[2019-11-25 11:23] fuweid commented on #3843
@balchua could you show your configuration? you can remove the first line to force containerd to use version 1. And you can check the configuration file like https://github.com/containerd/cri/blob/release/1.2/docs/config.md.

[2019-11-25 11:27] fuweid commented on #3847
@qianzhangxa thanks for reporting. Could you show your whole containerd configuration, please? And could you retry it with upgrading to last version of containerd?  Thanks

[2019-11-25 11:35] balchua commented on #3843
Hi thanks.

Here's what my config.toml looks like.

[code]
In 1.2.5 we change only the `$(RUNTIME)` value to `nvidia-container-runtime`.

The link you provided looks similar to v2.
Do you think its good to use v2 config instead of sticking to the v1 config?
Thanks again!!

[2019-11-25 13:34] qianzhangxa commented on #3847
@fuweid Here is the whole containerd configuration:
[code]

Do you mean there is no such issue with the latest version of containerd?

[2019-11-25 13:41] nustiueudinastea commented on #3847
I have the same issue with the latest version of containerd (1.3.1). I have the following config:

[code]

Further more, if I do `crictl info`, I can see the registry appearing in the output:

[code]

[2019-11-25 13:43] qianzhangxa commented on #3847
@nustiueudinastea I think they are different, what you are trying to pull from is a secure registry, right? But my issue is about insecure registry.

[2019-11-25 13:48] nustiueudinastea commented on #3847
Yes, the premise is slightly different, but I get the same error. Will delete my comment in a bit, if it turns out to be my problem.

[2019-11-25 14:38] fuweid commented on #3843
@balchua seems it is solved :)

Yes. The v1 config is using plugin id to locate plugin. But v2 config is using plugin URI, like `io.containerd.grpc.v1.cri`. It is reasonable. And in containerd v1.3 version, v2 config introduces import functions which support to automatically merge several configurations.

It is good to use v2 config. :P

More information is here:
* https://github.com/containerd/co

[2019-11-25 14:44] fuweid commented on #3847
@qianzhangxa it seems your registry has certificates and cri-containerd will check the certificate presented by the server. You can retry it with adding certificate in your client side.

[2019-11-25 14:52] qianzhangxa commented on #3847
@fuweid What I want to try is the insecure registry feature of containerd, that's why I did not add Harbor's certificate to containerd.

[2019-11-25 14:59] fuweid commented on #3847
ping @Random-Liu , @mikebrow and @dmcgowan

it is ok to set http.Client `InsecureSkipVerify` to true if mirror endpoint's scheme is http?
https://github.com/containerd/cri/blob/0dcaf6e98719b02ad9a1cf93aa3c7dcb4225f7fc/pkg/server/image_pull.go#L313

cc @qianzhangxa

[2019-11-25 19:25] dmcgowan opened #3850 "More robust mirror fallback"
Currently in 1.3 the mirror fetch logic will only try another mirror if a 404 response code is returned. This logic should be updated to either better handle "unavailable" errors  (such as connection refused or gateway errors) or always try the next mirror for any non-OK response.

[2019-11-25 21:01] dmcgowan commented on #3847
no, this should be an explicit configuration

[2019-11-25 21:28] balchua commented on #3843
Im closing this now.  Thanks for the help.

[2019-11-25 21:28] #3843 closed

[2019-11-26 00:34] Random-Liu commented on #3847
@fuweid @dmcgowan We can add an option for that.

Here is Docker's doc for `insecure-registries`:
[code]

Not sure whether we want that.

[2019-11-26 01:34] qianzhangxa commented on #3847
@fuweid @dmcgowan @Random-Liu So containerd does not support insecure registry yet? I just followed the instructions here: https://github.com/containerd/cri/blob/master/docs/registry.md#configure-registry-endpoint, and it clearly mentioned an example for insecure registry:
[code]
So such insecure registry configuration in containerd actually cannot work as expected?

[2019-11-26 01:40] Random-Liu commented on #3847
Yeah, I think we should fix it.

On Mon, Nov 25, 2019 at 5:34 PM Qian Zhang <notifications@github.com> wrote:

[2019-11-26 14:14] frankui commented on #3781
@fuweid. We found the trigger of our issue. The trigger is the thread leak in some of our micro-services. When the thread number reaches to the kernel pid_max limitation, the new thread or process can not be created that may cause the container to fail to be stopped by kuebelet. After we fixed the thread leak, the issue has never been observed even with docker-ce 18.06.
So please go ahead to close

[2019-11-26 14:32] #3781 closed

[2019-11-26 20:00] #3839 closed

[2019-11-26 21:28] Random-Liu commented on #3847
The fix: https://github.com/containerd/cri/pull/1345

[2019-11-26 21:33] fahedouch opened #3854 "Relaunch CI from the UI"
Hello folks,

it is very heavy to make git command (amend or else..) each time i have error in the CI pipeline. So would you please give the contributor the ability to relaunch the CI pipeline from the github UI which is a trivial operation in my opinion.

Thank you..

[2019-11-26 21:52] fahedouch commented on #3850
@dmcgowan
I would like to help on this.

[2019-11-26 22:34] #3847 closed

[2019-11-27 08:15] fuweid commented on #3781
@frankui thank you! The root cause information is helpful!

[2019-11-28 05:01] awprice commented on #3850
Thanks for raising this issue for me @dmcgowan!

I'm happy to assist on implementing this, but some guidance would be awesome on the desired approach.

[2019-11-29 00:49] awprice commented on #3850
So I've spent a little bit of time digging into the logic of the resolver/fetcher in the docker remote.

I've identified the locations in the resolver and fetcher that would require updating to improve the mirror fallback functionality.

**Resolver:**
https://github.com/containerd/containerd/blob/3a31ce267db4cb64e543bede342f59b2beedbeb8/remotes/docker/resolver.go#L285-L290

**Fetcher:**
https://gi

[2019-11-29 13:29] yelizariev commented on #3291
Any workarounds at containerd / k8s side?

[2019-12-01 23:15] paulgear opened #3862 "[Docker RPM] containerd.io > 1.2.5 breaks docker run/start on RHEL 7"
**Description**

Ever since containerd.io 1.2.6, I've been unable to launch or restart docker containers on RHEL 7.

**Steps to reproduce the issue:**
1. Install docker + containerd.io from https://download.docker.com/linux/centos/7/x86_64/stable/Packages/
2. docker run -ti ubuntu

**Describe the results you received:**

Error response from daemon: OCI runtime create failed: container_linux.go:346