[2018-12-03 21:11] ivan4th commented on #2744
Checked with containerd master (2175efcf99f548bb662d32a3b58cdaeab1375eac). `crictl stop` hangs there :(

[2018-12-03 21:11] Random-Liu commented on #2744
@ivan4th Let me try.

[2018-12-03 21:17] ivan4th commented on #2744
btw if you don't kill the `sleep` process, `crictl stop` fails with "stop timeout" error which is also visible in containerd log.

[2018-12-03 21:50] Random-Liu commented on #2744
@ivan4th It works for me. I just tried your steps on a newly created ubuntu 16.04 VM on GCE.

[2018-12-03 21:57] mikebrow commented on #2744
hmm https://github.com/containerd/cri/pull/885 should've fixed that problem odd

[2018-12-03 22:05] ivan4th commented on #2744
@Random-Liu
[code]

[2018-12-03 22:06] ivan4th commented on #2744
test script run: ```
root@ubuntu-vm:~# ./test-containerd.sh
Image is up to date for sha256:a51debf7e1eb2018400cef1e4b01f2e9f591f6c739de7b5d6c142f954f3715a7
99a97d5c709457dfd4b281869e7c40b15dcc6d86617628210b90c5054c9b6c33
pod id fac245b86a5e9683ba89a5910b0cc8595f15c738802615f17950ca0207300806 container 99a97d5c709457dfd4b281869e7c40b15dcc6d86617628210b90c5054c9b6c33
crictl stop will now hang. Kill

[2018-12-03 22:33] ivan4th commented on #2744
Here's stack trace (obtained via `kill -USR1`) from a hung containerd (master -- 2175efcf99f548bb662d32a3b58cdaeab1375eac ), if this helps:
[code]

[2018-12-03 22:50] Random-Liu commented on #2744
I guess the problem is this one:
[code]

`task.Delete` is blocked on io wait. I think the reason is that the `sh` process is killed:
[code]
but the `sleep 600` process is left running.
[code]

The reason is that since containerd 1.2, for non host pid container, we won't `KillAll` by default any more https://github.com/containerd/containerd/pull/2597

When `crictl stop` is called, the following thi

[2018-12-03 22:53] ivan4th commented on #2744
As a side note, I distilled the test case from Virtlet DaemonSet which uses `hostPID: true` and also suffers from the termination problem. I also tried this CRI pod sandbox config that uses host pid ns
[code]
and it also did hang (checked with 1.2.1-rc0) -- but you may recheck just in case

[2018-12-03 22:55] Random-Liu commented on #2744
@ivan4th I see. The reason is that `0` means `POD` level pid namespace https://github.com/kubernetes/kubernetes/blob/master/pkg/kubelet/apis/cri/runtime/v1alpha2/api.proto#L210.

So you are actually running a pod with shared pid namespace. In that case, even if init process dies, the child process will be left running. And we are not handling that case correctly after the default `KillAll` is remo

[2018-12-04 02:25] lifupan opened #2855 "The shim v2's child reaper will break kata's hypervisor's launching process"
**Description**

For Kata's shimv2, we found the shim's child reaper will always break kata's hypervisor's launching
process which involved the cmd.Run() method in system pkg exec, cause sometimes the child reaper
will reap the child process which should be reaped by cmd.Wait().

For those hypervisor based containers the container processes will run in the hypervisor, the child reaper is useless,

[2018-12-04 09:59] Random-Liu commented on #2855
1) IIUC, the reaper is in the shim implementation, you can choose not to use it in the kata implementation;
2) Actually you still be able to use the reaper, just don't use `cmd.Run` directly. Always use `Monitor.Start` and `Monitor.Wait`. See https://github.com/containerd/containerd/blob/master/runtime/v1/shim/reaper.go

[2018-12-04 11:51] ivan4th commented on #2744
Thanks folks! Will try containerd master with Virtlet when the changes land.

[2018-12-04 16:29] steven-sheehy opened #2858 "Unable to stop pod if init image is missing"
**Description**
If an init image is deleted after a pod is started, containerd is unable to stop the pod. Sometimes it works, sometimes it doesn't. So might have to try reproducing steps a few times.

**Steps to reproduce the issue:**
1. Create a test deployment with an init container
[code]
2. `crictl rmi docker.io/library/busybox:1.29.1`
3. `kubectl patch deploy test -p '{"spec":{"template":{"sp

[2018-12-04 16:31] crosbymichael commented on #2855
Let me see if I can refactor the shim client `main()` so that this can be easier to configure.

[2018-12-04 16:45] crosbymichael commented on #2855
I created #2859 as a solution for this, let me know what you all think

[2018-12-04 18:42] steven-sheehy commented on #2858
@Random-Liu My exact use case is with pruning unused images, as discussed in [cri-tools](https://github.com/kubernetes-sigs/cri-tools/issues/399). I've yet to figure out how to exclude init containers from pruning. Even if you don't recommend pruning, I would hope containerd could recover from such a scenario and achieve eventual consistency as you stated in that ticket:

[2018-12-04 21:22] Random-Liu commented on #2858
@steven-sheehy You can write a script to achieve that, and whether it is init container or not doesn't matter.

Just:
1) `crictl images -q` to list all images;
2) `crictl ps -a` to get images being used;
3) Remove unused images.

Note that this is racy in the following 2 cases:
1) A new image is pulled before `crictl images -q`, but container hasn't been created yet. In this case, the image will b

[2018-12-04 21:43] steven-sheehy commented on #2858
Thanks @Random-Liu. Based upon your suggestion, I think the following will work for me to reduce the likelihood of 'failed to get image' errors:

[code]

[2018-12-05 02:18] lifupan commented on #2855
Hi @Random-Liu,
Actually I had tried it by adding the following codes in kata shimv2:
sys.SetSubreaper(0)
signal.Reset(unix.SIGCHLD)

But there is another obstacle triggerd by it in event Publish method which also depends on SIGCHLD
signal to reap command's process.

Hmm, the 'cmd.Run' calling located in Intel's 'govmm' pkg where is out of kata's shimv2 control.

I think
 @crosbymichael
https://gi

[2018-12-05 02:32] lifupan commented on #2855
:-),  actually  I also tried it, but the "containerdBinary" path and "address" hasn't been exported/passed into New().

[2018-12-05 02:46] fuweid opened #2862 "[bug report] failed to export image which has manifest list"
**Description**

When we pull image by ctr, by default we only pull one platform. For example, the `docker.io/library/hello-world:linux` has several manifests.

[code]

If we use `sudo ctr image export /tmp/hello-world.tar docker.io/library/hello-world:linux`, the ctr will run into the error

[code]

The `sha256:b9f6fef28e70f4ece6e7f9329f417270b18b6fb2e6f29d7fe54fd64ae95218d1` is for the platform

[2018-12-05 21:31] dmcgowan commented on #2835
I keep getting this on #2852, at least 3 in a row https://ci.appveyor.com/project/mlaventure/containerd-3g73f/history

[2018-12-05 23:34] jterry75 commented on #2835
Looking into it

[2018-12-06 02:02] Random-Liu commented on #2858
@steven-sheehy I filed an issue https://github.com/containerd/cri/issues/990 for this. And I'm going to send a fix soon.

Other than that, do you still have issues? Or should we close this? :)

[2018-12-06 09:31] rudyfly opened #2863 "[bug] lose file capability when use ctr pull image"
**Description**
My Dockerfile
[code]
I have used setcap to change file `/usr/bin/ping` capability. When I use ctr to pull my image, the file `/usr/bin/ping` has lost these capabilities, but I use `docker pull`, it haven't lost.

**Steps to reproduce the issue:**
1. Use my Dockerfile to build image, and push it into registry
2. ctr pull image
[code]
3. use image to run container, and use `getcap /u

[2018-12-06 09:51] Ace-Tang commented on #2863
Just guess, I find `tar` can extended file attributes, https://www.gnu.org/software/tar/manual/html_node/Extended-File-Attributes.html , need more check to see if it is related with `tar`

[2018-12-06 11:30] Ace-Tang commented on #2863
since we build image use moby, and moby use `hdr.Xattr` to keep  extended file attributes, https://github.com/moby/moby/blob/master/pkg/archive/archive.go, and in containerd,  it use `hdr.PAXRecords` to judge whether file has extended file attributes,  https://github.com/containerd/containerd/blob/master/archive/tar.go#L410 , so containerd can not restore extended file attributes when image is bui

[2018-12-06 11:46] Ace-Tang commented on #2863
@dmcgowan , do containerd wiling to compatible this case，moby still use `hdr.Xattrs` to keep extended file attributes
/cc @rudyfly

[2018-12-06 11:52] rudyfly commented on #2863
@Ace-Tang Thank you for your help, moby use `Xattrs` to build image, but containerd use `PAXRecords`, so can containerd compatible with image that built by moby？

[2018-12-06 11:55] Ace-Tang commented on #2863
We can wait for @dmcgowan 's answer

[2018-12-06 12:11] HusterWan commented on #2863
@rudyfly @Ace-Tang Good Catch 👍

[2018-12-06 12:46] fuweid commented on #2862
I think we can try to export some options for V1Exporter to allow caller to make the decision. 😄

[2018-12-06 15:34] steven-sheehy commented on #2858
I think the containerd/cri#990 covers it. Thanks @Random-Liu for your help!

[2018-12-06 15:34] #2858 closed

[2018-12-06 20:07] ivan4th commented on #2744
I confirm that Virtlet works just fine after the changes with the pod terminating correctly when Virtlet is removed from a node. Verified with 1.2.1 release.

[2018-12-07 18:33] thaJeztah commented on #2744
@Random-Liu is this one resolved, now that  https://github.com/containerd/containerd/pull/2860 was merged? (I see GitHub didn't auto-close the ticket for some reason) or still changes needed for the 1.1 branch?

[2018-12-07 18:37] crosbymichael commented on #2744
I'm going to close this one for now.  Thanks for looking into it for us @ivan4th

[2018-12-07 18:37] #2744 closed

[2018-12-08 13:44] linxiulei opened #2865 "Question with multi-tenants sharing contents"
I don't know if it was by design that containerd was sharing all its contents, that is, only one copy of content was saved at containerd dir.

And by this design, users may have been isolated by namespaces who can't see others' containers/contents in view of metadata. however when pulling an image client opened a Writer for writing content, the writer was created ignoring namespace (checkout https

[2018-12-10 04:05] lifupan opened #2866 "vendor containerd/cri needs to be updated"
**Description**

Kata shimv2 needs this PR https://github.com/containerd/cri/pull/973 to run exec processes
in kata container, so the latest vendor containerd/cri is needed.

**Steps to reproduce the issue:**
1.
2.
3.

**Describe the results you received:**

**Describe the results you expected:**

**Output of `containerd --version`:**

[code]

[2018-12-10 04:41] Ace-Tang commented on #2865
@linxiulei , Different namespce share same image contents, but if user B want to pull user A's private image, this is impossible, check this, (I omit my password in the example)
user A pull a image with his password
[code]

user B want to pull user A 'private image
[code]
user B can not get image since he need the user:password, this only keep by user A. The image security provided by the registry

[2018-12-10 04:54] linxiulei commented on #2865
@Ace-Tang thanks for replying.

I wasn't talking about private images, but contents within images. For example, in your scenario, user B was trying to pull a self-made forged/fake image from his private registry, which contains digests of contents/layers as user A's private image. And that would lead to contents leakage.

It maybe an untrusted registry issue, however IMHO it'd be better if contain

[2018-12-10 05:17] Ace-Tang commented on #2865
Sorry for misunderstand your question. If you can describe more information about your user case, and how your fake your image(I know nothing about forged image), it will be more helpful.
/cc @dmcgowan

[2018-12-10 19:15] #2855 closed

[2018-12-10 23:06] dmcgowan commented on #2863
Anything created by moby should be supported. It is possible that some of the tar images were created with invalid tar values for PAX headers in the past since there have been many fixes in the tar package over the last few years. Are these newly created images with moby or older images?

Related to the use of the different keys, this is done in accordance with the Go deprecation recommendations
[

[2018-12-11 02:31] Ace-Tang commented on #2863
These images are created by `docker 1.12.6`, so all images used for production got the problem.
However, moby master code also use `derecated` Xattrs.

https://github.com/moby/moby/blob/master/pkg/archive/archive.go#L404-L412

[code]

Even this can be fixed in moby, but we got lots of online images, we can not all re-build them, since many users won't like do that. We want to create a PR in contai

[2018-12-11 02:35] AkihiroSuda commented on #2863
SGTM :+1:

[2018-12-11 06:58] linxiulei commented on #2865
@dmcgowan Great answer, thanks. I'd love to try to implement it if the community thinks it's a practical use case. I believe this is a required feature for multi-tenants in cloud environment.

[2018-12-11 08:51] fuweid commented on #2865
ping @linxiulei . could you mind to share how to make a manifest which contains the other user's private image's sha256 digest number? Thanks. 😄

[2018-12-11 09:48] georgethebeatle commented on #2421
Hit the same issue recently. We (Garden team at Cloud Foundry) are using containerd programmatically and were passing `nil` to `task.LoadProcess` resulting in leaked fifos. We did a similar fix in our code, but I was just curious why would `cio.Load` not be the default. Do you have any use cases for that?

[2018-12-11 12:04] fuweid commented on #2862
ping @AkihiroSuda ~

[2018-12-11 18:55] crosbymichael commented on #2421
@georgethebeatle probably just an oversight if its causing fifos to be leaked.  Feel free to submit a fix

[2018-12-11 21:45] AkihiroSuda commented on #2862
https://github.com/containerd/containerd/issues/2590 https://github.com/containerd/containerd/pull/2622

[2018-12-12 04:02] linxiulei opened #2870 "Authorization failure with unicode registry username"
**Description**

Ctr fails to pull image with unicode registry username. Docker hub is not allowed using unicode charset other than letters, however some registries support it.

**Steps to reproduce the issue:**

1. setup a registry account with unicode charset (e.g. chinese characters)
2. bin/ctr  images pull -u "世界:你好" registry.cn-shanghai.aliyuncs.com/fake/name:latest

**Describe the results yo

[2018-12-12 05:15] linxiulei commented on #2865
@fuweid I hadn't dug in setting up registry yet, so it was a technical thought

[2018-12-12 06:11] fuweid commented on #2862
@AkihiroSuda thank you!

[2018-12-12 08:30] Ace-Tang commented on #2863
Thanks for @fuweid 's remind, I will update the reason for the issue, and the issue should closed by #2873

 From golang 1.10 release note, https://golang.org/doc/go1.10#archive/tar
[code]
`Xattrs` and `PAX records` will keep same by golang

[2018-12-13 06:38] #2863 closed

[2018-12-13 19:56] #2870 closed

[2018-12-14 03:19] linxiulei commented on #2546
@Random-Liu any updates ：）

[2018-12-14 06:08] jterry75 commented on #2546
@Random-Liu - FYI I had to change this for Windows as well. We first tear down the POD and then tear down the network with the CNI call.

[2018-12-14 23:57] Random-Liu commented on #2546
Sorry for the delay. See https://github.com/containerd/cri/pull/1000

[2018-12-16 00:40] thaJeztah commented on #2850
@justincormack

[2018-12-17 08:14] linxiulei commented on #2865
With a fake registry wrote in golang (a few hundreds of lines), I have implemented a way to steal any layer existed in the same host by just knowing its sha256.

Since it's related with security, I guess I'd better not share the method until the issue was fixed

[2018-12-17 08:35] #2546 closed

[2018-12-17 18:20] justincormack commented on #2850
These are due to #2454 - I tend to think this was a bit of a red herring and should be reverted

cc @hairyhenderson

[2018-12-18 00:48] hairyhenderson commented on #2850
🤔 - @justincormack are you saying #2454 should be reverted? IIRC it fixed the hanging on my one system... But there were other patches around that time that may have mitigated it as well.

Reverting #2454 is an option (it may not affect me anymore as I have since procured a OneRNG for the system where I experienced that), but I'm personally not convinced that `crypto/rand` is strictly necessary fo

[2018-12-18 01:50] Random-Liu opened #2886 "Optimize Image Pull"
I recently did some benchmark to compare the pull image performance between containerd and docker.
* Test environment:
  * Machine Type: n1-standard-1
  * Disk Size: 50GB
* Image information:
  * k8s.gcr.io/kube-cross:v1.10.3-1
  * Uncompressed size: 2.08 GB
  * Compressed size: 728 MB
  * Largest layer compressed size: 184 MB
  * Layer count: 14

![image](https://user-images.githubusercontent.com

[2018-12-18 01:59] lifupan commented on #2866
Got it, thanks.

[2018-12-18 03:34] fuweid commented on #1713
hi @linxiulei , please go ahead and we will review that with real user case. 😄

[2018-12-18 07:14] fuweid opened #2888 "[proposal] add Add/Delete methods in PlatformRuntime interface"
## Proposal

The runtime v1/v2 can reload and manage existing tasks after containerd restart. These tasks will be loaded into Runtime Plugin. If the custom plugin which tries to load 0.2.x shim task and insert it into the existing `io.containerd.runtime.v1.linux` major plugin, there is no way to do that right now.

If the `PlatformRuntime` interface can provide the `Add/Delete` functionality, the

[2018-12-18 11:10] justincormack commented on #2850
Agree it is not strictly necessary as these don't appear to need to be collision resistant (time in nanosecs is not collision resistant as not all systems are guaranteed to actually return a timestamp that precise anyway). But there are other use cases that use crypto/rand so I don't think removing these ones helps. Also I think some of the kernel patches were adjusted after the original changes?

[2018-12-18 12:51] hairyhenderson commented on #2850
I seem to recall that those specific uses are involved early on when containerd starts up, which was causing the system start-up to pause, since none of the other LinuxKit services could start without containerd...

Oh? If they were, I missed it... Do you have a reference for that?

yeah, I misremembered that piece - my meaning was that it'd be _nice_ to have the option to use `/dev/urandom` from

[2018-12-18 16:01] crosbymichael commented on #2888
Is the usecase for this to migrate off of 0.2.x workloads?

[2018-12-18 16:10] mikebrow commented on #2886
When optimizing for a task with large resource requirements (memory, cpu, and disk)it may be important to consider what happens when more than one of these tasks are occurring in parallel. If we become cpu, memory, or disk io bound we could introduce resource thrashing where n parallel tasks are now slower because we have optimized for single task performance.

[2018-12-18 16:19] fuweid commented on #2888
Yes. custom plugin can load existing from other state folders. For example,
moby daemon runs at the /bar/run/docker/libcontainerd/ something like that.
Migratory plugin can load the task into v1 runtime plugin. Therefore, the
containerd can take over the existing 0.2.x workloads.

It sounds crazy. But it seems it also can allow developers to migrate from
one state folder into other folder, not jus

[2018-12-18 16:20] crosbymichael commented on #2888
Is this just an internal/plugin API, no GRPC changes?

[2018-12-18 16:34] crosbymichael commented on #2888
LGTM

[2018-12-18 19:33] kfox1111 opened #2890 "sleep blocking termination"
I've tried this with containerd 1.2.0 and 1.2.1. both have shown the issue.

We deployed a daemonset, then went and upgraded the daemonset. The pods got stuck during deletion. the main container did shutdown eventually. the other container never stopped and held up the rolling upgrade. I had to kill the sleep on the host before it exited. then the system shut down properly.

we have a daemonset li

[2018-12-18 20:06] kfox1111 commented on #2890
It doesn't always seem to happen. so there may be a race condition here.

[2018-12-18 20:09] Random-Liu commented on #2890
This is the same with https://github.com/containerd/containerd/issues/2744.

It should have been fixed in 1.2.1. Are you sure you see it in 1.2.1?

[2018-12-18 20:46] dmcgowan commented on #2886
I think we should start by having it on the client side. Option 1 is a non-starter as the mounts already return the needed information. I think we can probably abstract it behind the Apply interface though so that it could also be done by the diff service. We don't need to be looking at what the snapshotter is, but rather just the mounts. The apply logic is simple since it always just a single set

[2018-12-18 20:58] kfox1111 commented on #2890
I was pretty sure we rolled a couple times after upgrading to 1.2.1 and after containerd was restarted. I've rolled it again just now and it worked fine again. So my timing may have been off and it really is solved. Lets assume 1.2.1 really did fix it, and I'll reopen if it shows up again.

Sorry for the noise.

Thanks,
Kevin

[2018-12-18 20:58] #2890 closed

[2018-12-18 22:42] jterry75 commented on #2888
This breaks shim logic for determining where to place Tasks right? It seems like we would need a command:

`shim place id` -> `address`. Then connect `address` -> `Add()`

[2018-12-18 23:14] Random-Liu commented on #2886
Hm, sorry, I didn't notice that we still need special logic during unpack to handle whiteout files, then there has to be applier interface logic change. In this case, option 2 seems to be the only viable option.

[2018-12-19 05:13] fuweid commented on #2888
not fully understand this question. But I think this proposal doesn't break existing shim logic. The `PlatformRuntime` is used to manage the workloads. The `Add` interface allows custom plugins to add workload into the `PlatformRuntime`. For example,

[code]

we don't need the command. just follow the plugin design. does it make senses to you?

[2018-12-19 05:41] jterry75 commented on #2888
For v1 this is fine. What about for v2 as your proposal mentions?

[2018-12-19 09:57] fuweid commented on #2888
The `TaskManager` also implements `PlatformRuntime` interface. In this proposal, I will extend this like v1. Just export `Add` method. Is there any risk or concern, here? 😄

[2018-12-20 09:56] thaJeztah opened #2895 "RFC: license remaining docs and man-pages under Apache"
This project currently uses separate licenses for docs and code;

- code use the Apache license
- docs and man-pages (README and docs directory) are licensed CC-BY-4.0

Docs were originally using the Apache license, but changed to Creative Commons when containerd still lived in the `docker` org in https://github.com/containerd/containerd/commit/c58674286dbc5b86907e7abdd6ae29855fce407c (https://git

[2018-12-20 15:07] skolekonov commented on #1508
Hello,

Is there any repository where I can find debian files for containerd.io packages from here: https://download.docker.com/linux/ubuntu/dists/xenial/pool/stable/amd64/ ?

How are they built?
Thanks in advance.

[2018-12-20 18:24] #2822 closed

[2018-12-20 20:17] stefan79 opened #2898 "Error in responses for Create or Update Namespace (Java Client on grpc API)"
**Description**
Invoking Update or Create Namespace via grpc will actually execute (namespace gets updated or created) but the grpc command will fail due to a failed precondition:

`io.grpc.StatusRuntimeException: UNKNOWN: failed publishing event: namespace is required: failed precondition`

**Steps to reproduce the issue:**
1. Write a Java Client and invoke:

[code]

**Describe the results you re

[2018-12-21 15:20] stefan79 commented on #2898
I got closer to the issue: in namespaces/context.go I saw that it is looking for a key in the metadata from GPRC, seems to be a struct - I will see if and how I can set this from Java. Any guidance is appreciated!

[2018-12-21 16:10] stefan79 commented on #2898
Ok. Now I am actually sending the header and it works. my bad

[2018-12-21 16:10] #2898 closed

[2018-12-25 00:22] kfox1111 opened #2901 "containerd builds for arm64"
There are prebuilt binaries for amd64. As arm64 grows in popularity for building micro Kubernetes clusters, it would be nice to be able to pick arm64 builds of containerd instead of needing to install docker, or spend a lot of time building containerd on arm.

[2018-12-27 01:52] Random-Liu commented on #2886
I have a local direct unpack change. However, when running `tar_test.go`, I found the following 2 cases can't be handled:
* Layer without hard link target.
  * Test: [SymlinkOverrideDirectory](https://github.com/containerd/containerd/blob/master/archive/tar_test.go#L584) etc.
  * For naive unpack, because we mount the lower layers, during unpack the hard link can reference the file from the lower

[2018-12-27 03:40] liangxianlong opened #2906 "some problems when using "docker stats" with containerdv1.1.2"
**Description**
Hi, there are some questions when using "docker stats". As flow,the kata-container uses kata-runtime as its runtime,and the runc-container uses runc as its runtime. We can see the the two containers output is obviously diffrent. I found that the reason for this difference is that containerd uses cgroup to read the control group where the container process is located. This is approp

[2018-12-27 13:55] nrvnrvn commented on #2516
@crosbymichael does this mean that all `setcap`ed capabilities won't work until kubernetes/cri explicitly starts passing the new `WithAmbientCapabilities` option?

[2018-12-27 14:30] fuweid commented on #2888
Hi, @crosbymichael

I checked the #2434 and found that the `Delete` method has been moved from `PlatformRuntime`.
The `Task` will hold the `TaskList`. When caller calls the `Task.Delete` method, `Task` will call the `TaskList.Delete` to remove it from `PlatformRuntime`.

It seems reasonable if `TaskService` removes task from `PlatformRuntime`. Just curiosity, why remove the `Task` in the `Task`? 😄

[2018-12-28 06:19] linxiulei opened #2907 "Snapshotter didn't receive snapshot opts"
**Description**

Why didn't snapshot metadata pass snapshot opts to snapshotter https://github.com/containerd/containerd/blob/47b328aab79146a9e81e37704db60e7e04a09256/metadata/snapshot.go#L346

It seems metadata take charge of the info of the snapshot, and store them in its boltdb. There would be some confusion if a snapshotter want to checkout snapshot opts

[2018-12-28 12:57] thaJeztah commented on #2906
@crosbymichael PTAL

[2018-12-29 01:59] fuweid commented on #2907
sounds good to pass the snapshot option into specific snapshoter

ping @dmcgowan

[2018-12-29 03:45] tossmilestone commented on #1508
@carlwgeorge could you share your rpm spec for centos-7, since we have some our patches on `runc` and we want to package the `containerd` again? Thanks in advance! :smile:

[2018-12-29 23:18] liangxianlong commented on #2906
No response？？

[2018-12-31 22:20] BK1603 commented on #2728
@AkihiroSuda I'd like to work on this issue, though i might need some help in getting started since I am new to container technologies and to this codebase, can I work on this? I'd like to help!

[2019-01-01 00:12] AkihiroSuda commented on #2728
I suppose just doing `rm -rf vendor; vndr` with latest [vndr](https://github.com/LK4D4/vndr) should fix the issue, but haven't tested.

But note that v1.0 has already reached EOL last month.

[2019-01-01 05:35] BK1603 commented on #2728
@AkihiroSuda so should I fix it and make a PR? Or maybe I can help with something else?

[2019-01-02 03:04] tossmilestone commented on #1508
@carlwgeorge Thanks for your reply!

[2019-01-02 21:48] #2866 closed

[2019-01-02 21:59] carlwgeorge commented on #1508
Strangely enough, containerd seems to build fine on RHEL 7 with the older protobuf 2.5.  I even built it without protobuf installed in the buildroot.  [Protoc/protobuf 3.x is explicitly listed as a build requirement](https://github.com/containerd/containerd/blob/v1.2.1/BUILDING.md).  Am I missing something here?

[2019-01-02 23:31] carlwgeorge commented on #1508
@estesp Thanks for the clarification.  In distro packaging lingo, it sounds like protobuf is more of a development requirement rather than a build requirement.  Since I only care about going from a tagged tarball (with unmodified sources) to a distro package containing the binaries, I'll remove the protobuf `BuildRequires` in the Fedora spec file.  This should open things up for me to build contai

[2019-01-03 08:18] AkihiroSuda commented on #2728
I think we can accept PR but other maintainers may disagree.

[2019-01-03 08:18] AkihiroSuda commented on #2728
cc @dmcgowan

[2019-01-04 10:59] Marshalzxy commented on #2906
Containerd now read metrics data from host's cgroup, however Kata runtime which run containers with virtual machine will not reflect corrent container's statistic data from host’s cgroup.
I think Containerd should consider howto adapt various of runtimes.

[2019-01-05 01:31] wzf1943 opened #2915 "ctr command cannot add jwt token"
**Description**
Hi I'm new in containerd this software. This is what I face right now. We have an in house artifactory. And we use JWT to authenticate. If we under the docker environment we can use docker login -u jwt -p $(cat token) url to login. But I don't see any option that I can use crt to transfer jwt to containerd and then reach to our in house artifactory url. So I don't know if anybody k

[2019-01-07 23:06] dmcgowan commented on #2915
Usernames and passwords are opaque to containerd, the fact that the password is a jwt string doesn't mean anything to containerd, and not to docker either.

` docker login -u jwt -p $(cat token) ` would be
`ctr images pull -u jwt:$(cat token) <your image>` in ctr

[2019-01-07 23:06] #2915 closed

[2019-01-08 03:14] fuweid commented on #2888
ping @crosbymichael ~

[2019-01-08 20:20] BK1603 commented on #2737
I'd like to help with this feature, my take on this is:
All the clients can notify by sending the digests of the layers downloaded to a channel and at the backend there can be a go routine listening on the channel, it can then unpack the layers as soon as their channels are available in the channel. I'd like to try and implement this if no one else is working on this and if this is still a wanted

[2019-01-09 02:38] Random-Liu commented on #2886
With change #2913 and #2918, the image pull time of `k8s.gcr.io/kube-cross:v1.10.3-1` is reduced down to **\~32s**. However, this is still slower than the stable **27~28s** for Docker on my machine.
[code]

I checked one containerd log for a ~30.75s `crictl pull`, and found that image unpack only took `25.22s`:
[code]

One other issue I can think of is [[question] Can we set max concurrent downloa

[2019-01-09 21:49] Random-Liu commented on #2886
I sent a PR to make the pull image concurrency limit configurable https://github.com/containerd/containerd/pull/2920.

With it, we have almost the same image pull time with Docker now.

[2019-01-10 20:11] eyz commented on #2042
I've changed my mind on this. c8d (c-eight-d) sounds like "katie" or "cady" which sounds similar to containerd. I think I'm for the abbreviation now.

[2019-01-11 01:11] stevvooe commented on #2901
@kfox1111 There was an effort to spin up an arm64 builder but it got put on hold. If someone wants to pick that task, they're more than welcome.

cc @vielmetti

[2019-01-11 01:22] stevvooe commented on #2865
Adding the policy won't fix the issue. The problem is that you're using namespacing as a security boundary, which isn't really supported. Any client using containerd is privileged, so it can just go around containerd and get access or tamper with content.

To implement user separation, you'd have to design a trusted API that maintains that security boundary and prevents users from accessing contai

[2019-01-11 01:30] stevvooe commented on #2821
@linxiulei Could take a few of the objects through some use cases to see how this would work out? The complexity of making this change is very large. Would it be simple enough to use a separator character, like `/`, to denote a relationship?

[2019-01-11 01:32] #2785 closed

[2019-01-11 01:35] stevvooe commented on #2728
Is 1.0.x EOL yet?

[2019-01-11 01:59] fuweid commented on #2886
hi @Random-Liu ， thanks for the performance report. Could you mind to provide the cpu/memory usage during the pull(including unpack)? During downloading image, it might impact the running containers if it needs high load. Thanks!

[2019-01-11 02:07] Ace-Tang commented on #2906
Refer to https://github.com/containerd/containerd/issues/2722
containerd v2 shim support `Stat `  interface https://github.com/containerd/containerd/blob/master/runtime/v2/task/shim.proto#L33

kata containerd shim v2 also implement `stats` interface, which get cgroup information from vm,  https://github.com/kata-containers/runtime/blob/master/containerd-shim-v2/service.go#L679

if want to get vm s

[2019-01-11 02:20] liangxianlong commented on #2906
Yes, I have realized this.Does you mean i should make this change: replace ```io.containerd.runtime.v1``` to ```io.containerd.runc.v1``` in docker code?
[code]

[2019-01-11 02:34] liangxianlong commented on #2906
thinks, I think so.

[2019-01-11 02:41] linxiulei commented on #2865
To be clear, this policy, I think, would give a isolate feature, by which the client is able to setup a security boundary.

In k8s, the users couldn't access containerd directly, but the kubelet is the direct client to containerd. The kubelet would do lots of stuff to ensure users can only access their namespaces(k8s ns), but it don't have a good solution to maintain that security boundary with AP

[2019-01-11 05:31] vielmetti commented on #2901
@stevvooe - an accessible arm64 builder that I would like to try is to adapt the Travis build process to also run on the CI for Drone Cloud, which has arm64 support. Can't promise that I can do this quickly, but it seems like an attainable task. (I'll do this in a fork...)

[2019-01-11 14:59] andrewrynhard commented on #2744
I'm seeing this still for some reason. It would help if I gave a little bit of context because I think my scenario is a little unique and can cause some confusion. I'm building a linux distro designed to run Kubernetes. It uses containerd as the `CRI`. I did not see this issue until I started working on moving the distro from being based on `glibc` to being based on `musl`. I noticed the issue whe

[2019-01-11 17:34] kfox1111 commented on #2901
Just curious, Is an arm64 system/emulator actually needed? golang has cross compiling support.

[2019-01-11 18:35] Random-Liu commented on #2744
@andrewrynhard It may not be the same issue. Containerd and containerd-shim stacktrace would be helpful here.

You can get the stacktrace by sending `SIGUSR1` to `containerd` and `containerd-shim`, but please note that you need to enable `shim_debug` to see containerd-shim logs.

[2019-01-11 21:03] vielmetti commented on #2901
Go has cross-compile support, but containerd builds depend on cgo (linking against C libraries) which makes it somewhat less portable. I've seen projects use `xgo` from https://github.com/karalabe/xgo to cross-build Go binaries with embedded C. Given that added complexity it might be easier just to get an arm64 native environment.

[2019-01-12 01:14] andrewrynhard commented on #2744
@Random-Liu I will work on grabbing the stacktraces. In the mean time I am seeing this:

[code]

Notice `-containerd-binary /lib/libc.so`. That doesn't seem right. Looking at [the code](https://github.com/containerd/containerd/blob/3eae8b9c3faaf94570d3b98828a38b5a3d8c3e0a/cmd/containerd-shim/main_unix.go#L75), I'm not sure how it is `/lib/libc.so`.

[2019-01-12 04:50] andrewrynhard commented on #2744
@Random-Liu it looks like it was indeed due to the bad value `-containerd-binary`. I have opened #2922.

[2019-01-12 15:56] deitch commented on #2901
You also can try compiling with cgo for arm64 if you run the build in an `arm64` container running on `amd64` with `binfmt_misc`.

Even doing it straight on amd64 with cross-compiling, I think as long as you have the actual compiled `.a` libs for the target architecture in place, it should work anyways with cross-compiling. And even if you don't you can get those with gcc (if set up correctly, whi

[2019-01-12 19:49] andrewrynhard opened #2923 "Can't pull images from quay.io"
**Description**

I suddenly can't pull images from quay.io. Looking at the the quay.io [status page](http://status.quay.io/incidents/72jyq4322h85), they mention issues with pulls of older manifests (not sure that applies here), and that all services _should_ back to normal. I'm just wondering if they made a backwards incompatible change?

**Steps to reproduce the issue:**
1. Create a pod in Kubern

[2019-01-12 21:53] thaJeztah commented on #2923
Looks like something on their side;

[code]

Trying on an older version of Docker;

[code]

[2019-01-12 22:08] thaJeztah commented on #2923
Hm, wondering if it's something related to TLS

[code]

That seems like it's not able to get a secure connection. Trying on another machine, I'm able to pull.

[code]

[code]

[2019-01-12 22:53] andrewrynhard commented on #2923
Hmm. That definitely makes it seem like it is TLS related.

[2019-01-12 22:56] andrewrynhard commented on #2923
And it seems to be working on all my machines now.

[2019-01-12 22:56] #2923 closed

[2019-01-14 16:28] hharnisc opened #2924 "Can't Export Image With Client API"
**Description**

I'm not able to export the docker - hello-world example image with the Client API. Looking at other issues it seems this *might* be related to multi-arch but I'm not sure.

**Steps to reproduce the issue:**

Here's a small program to reproduce the issue

[code]

**Describe the results you received:**

`./tmp.tar` is empty

**Describe the results you expected:**

When I run `mkdir

[2019-01-14 18:17] estesp commented on #2924
I believe this is a duplicate of #2862 and in the process of being fixed by #2622

[2019-01-14 21:15] #1713 closed

[2019-01-14 21:15] #2865 closed

[2019-01-14 23:13] dmcgowan commented on #2907
This is only applying to labels right? I think we could consider a case where all or a subset of labels get passed down. Ideally labels are only stored in one place though and the metadata labels are what the user sees, the other labels could be used by the snapshotter to set snapshot specific properties.

[2019-01-14 23:15] dmcgowan commented on #2924
Closing as duplicate of #2862

[2019-01-14 23:15] #2924 closed

[2019-01-15 20:05] crosbymichael commented on #2888
Do you absolutely need delete?  Is there a reason why you cannot just get the task to call delete on it?

[2019-01-16 05:10] fuweid commented on #2888
the task to call delete on it?

Before v2 runtime, the v1 runtime task will be deleted by the task service.
But now, when we call the `Delete` function, the task will call the
`TaskList.Delete` to remove the reference from the list.

[code]

If we don't provide the `Delete` interface, we can't remove the task which
added by external plugin from the runtime.

[2019-01-16 17:59] #2590 closed

[2019-01-16 18:11] estesp commented on #2862
Should be handled by #2622; now merged

[2019-01-16 18:11] #2862 closed

[2019-01-16 21:10] estesp opened #2937 "flaky CRI test: [AfterEach] runtime should support attach [Conformance]"
Twice on PR #2936, I've had a failure with only the `TRAVIS_GOOS=linux TEST_RUNTIME=io.containerd.runtime.v1.linux TRAVIS_CGO_ENABLED=1` variant in Travis:

[code]

Complete test log from that streaming test:
[code]

Log from containerd surrounding the "task not found" issue:
[code]

If I'm reading it properly, then it looks like the container and task immediately exited at **19:17:00.645**?
[code

[2019-01-16 21:39] Random-Liu commented on #2937
The test container just runs `/bin/sh`, and wait for the test to attach and feed in input.

The only reason I can imagine is that the stdin of the container gets closed from outside. Either by containerd or the containerd-shim.

[2019-01-16 23:36] Random-Liu commented on #2267
Just saw this thread. I think this is the motivation, which is similar with CVMFS:
[code]

[2019-01-17 16:38] ehazlett commented on #2646
@crosbymichael packaging has been updated and this is no longer an issue correct?

[2019-01-17 21:58] Random-Liu opened #2938 "Containerd Kubernetes e2e test is broken"
Test failures:
* https://k8s-testgrid.appspot.com/sig-node-containerd#containerd-e2e-gci
* https://k8s-testgrid.appspot.com/sig-node-containerd#containerd-e2e-ubuntu

Suspicious PRs based on the fact the failure started after `1/15/2019 8:21am` before `1/15/2019 9:23am`:
* https://github.com/containerd/containerd/commit/804faeacdb2d6cacbe0ca13113c424f863739e12
* https://github.com/containerd/conta

[2019-01-18 02:35] fuweid commented on #2267
Hi @Random-Liu I would like to share some detail about this.

Each image layer is tarball which contains the real diff content. But for the RBD image, each layer only contains the meta json file which describes how to find remote block disk. For example, the meta json is like

[code]

![image](https://user-images.githubusercontent.com/17510957/51361392-8cf4ff00-1b0a-11e9-9f05-a24e3b48f487.png)

Ea

[2019-01-18 15:14] crosbymichael commented on #2888
ok, LGTM

[2019-01-18 15:32] crosbymichael commented on #2938
Ok, I'll take a look

[2019-01-18 16:21] crosbymichael commented on #2646
Yes, this should have been resolved with the release.

[2019-01-18 16:21] #2646 closed

[2019-01-18 17:24] cpuguy83 commented on #2938
@Random-Liu How do I get at the logs for these?

[2019-01-21 02:44] guofengzh opened #2940 "[question] Connecting to private registry with self-sign certificate"
How to configure containerd to use self-signed certificate to connect to a private registry? That is, are there options for containerd to define  ca cert,, private key and cert?

Thanks for your help!

[2019-01-21 18:15] mikebrow commented on #2938
https://gubernator.k8s.io/build/kubernetes-jenkins/pr-logs/pull/containerd_cri/1025/pull-cri-containerd-node-e2e/1100/

[2019-01-21 18:21] mikebrow commented on #2938
so somehow an extra carriage return is getting added.. I thought I heard someone say something about this being a GCE problem on the weekly Kubernetes community meeting.

[2019-01-21 19:46] mikebrow commented on #2938
https://github.com/kubernetes/kubernetes/commit/408b5dbf5912cdd951c8196386042a4bc4d32e71

[2019-01-21 19:49] mikebrow commented on #2938
https://github.com/kubernetes/kubernetes/pull/72793 seems to be merged..

[2019-01-22 10:35] ostenbom opened #2941 "Prepared empty snapshot being removed"
**Disappearing Empty Snapshot**

On preparing an empty snapshot, its directory is removed after 30-100ms.

**Steps to reproduce the issue:**
Using overlayfs snapshotter
[code]

**Describe the results you received:**
Directory becomes nil after 30-100ms

**Describe the results you expected:**
Directory should stay around for me to unpack layers until I commit the snapshot?

**Output of `containerd

[2019-01-22 14:36] ostenbom commented on #2941
I am using the suggested snapshot layer import method from [the docs](https://godoc.org/github.com/containerd/containerd/snapshots)

On further inspection it must be the garbage collector. Maybe I should be doing something differently, or I need to pause the garbage collector somehow?

[2019-01-22 15:13] ostenbom commented on #2941
Yeah it was the garbage collector, as the problem disappears when I disable the plugin. Are there alternatives to this approach?

[2019-01-22 17:58] ostenbom commented on #2941
Looks like I got it! Had to apply it in more places. Is it worth updating the snapshotter docs to include this? Or are there docs elsewhere to link to.

[2019-01-22 18:48] #2888 closed

[2019-01-22 20:08] kfox1111 opened #2942 "containerd stripping filesystem capabilities"
---------------------------------------------------
BUG REPORT INFORMATION
---------------------------------------------------

**Description**

We created an image using docker build, that contains a "USER daemon" line setting the default user.
This container functions properly in docker 1.13.

Under containerd xxxx running it:
[code]

it has its capabilities stripped off somehow. Doing the same

[2019-01-22 20:48] lukasheinrich opened #2943 "remote filesystem snapshotter"
This is an issue to track / follow up on a call re: file-level image distribution through remote filesystems.

Slides for CERN use-case shown during meeting: https://docs.google.com/presentation/d/1DJlRV9a445567EyRa265uemWv5zoDQ4o1CK-ZszpFLE/edit?usp=sharing

The goal is to support exploiting the existence of unpacked layers on remote filesystems (FUSE mounted, possibly read-only) to reduce the am

[2019-01-22 21:06] estesp commented on #2942
Can you check the discussion in issue #2863 for any difference?

[2019-01-22 21:49] Random-Liu commented on #2943
Some ideas about this: https://docs.google.com/document/d/1TmNWnmbx-fd2wUhujuUtAeSUuulWZyhggAKCSc1F3AE/edit?usp=sharing

[2019-01-22 23:22] Random-Liu commented on #2938
The issue is that the context is always cancelled in https://github.com/containerd/containerd/pull/2930.

However, we are still using the context after the request finishes. https://github.com/containerd/containerd/blob/12c877f57aa6a22823b2e7c94c3a7387c8d1a8cd/runtime/v1/linux/proc/io.go#L114

Note that `syscall.O_NONBLOCK` means a goroutine inside the `OpenFifo` function.

To fix it, we should us

[2019-01-23 00:53] Random-Liu opened #2945 "Lint is broken"
Our lint is broken by https://github.com/alecthomas/gometalinter/commit/96c7e2a871d86b852b5d76f76e365b3a63e7dcaa.

See more details at https://github.com/containerd/containerd/pull/2944#issuecomment-456620074 and https://github.com/containerd/containerd/pull/2944#issuecomment-456622527.

We should either fix our code, or `gometalinter`.
/cc @containerd/containerd-maintainers @containerd/containerd

[2019-01-23 01:04] estesp commented on #2945
Looks like `staticcheck` was updated significantly and is finding a lot of new potential issues/suggested changes.

Maybe we need to review the new output; could be straightforward to fix them all if they are reasonable and then move back to `HEAD`?

[2019-01-23 14:27] fuweid commented on #2945
@Random-Liu @estesp I make a pr for this. I think the most change is good.

[2019-01-23 15:58] #2945 closed

[2019-01-23 18:07] jterry75 commented on #2945
@crosbymichael - I don't think it really matters but I noticed that this change replaces words like `Windows` with `windows` in error strings. Why is this a lint failure? `Windows` and `Linux` is the proper casing?

[2019-01-23 18:11] ehotinger commented on #2945
@jterry75 errors must start with lowercase is the rule

[2019-01-23 18:51] #2937 closed

[2019-01-23 18:51] #2938 closed

[2019-01-23 23:02] Random-Liu commented on #2938
Just add one more thing. This is why we didn't block on stdin open. https://github.com/containerd/containerd/pull/2551

[2019-01-25 18:52] ehazlett commented on #2940
I don't believe there is a way to configure individual cert/key pairs for a registry.  However, you can use the `--skip-verify` option on pull if you trust your connection (internal, etc) or if you add it to your cert store on the host it should just work.

[2019-01-25 18:53] ehazlett commented on #2941
@ostenbom +1 for the docs addition -- I ran into this as well initially and meant to update the docs :(

[2019-01-25 18:54] ehazlett commented on #2013
@pauldotknopf I know this is outdated but is this still an issue on a newer version of containerd?

[2019-01-25 18:55] pauldotknopf commented on #2013
I didn't "fix" it, but it isn't doing it anymore. I've lost too much context on this issue to pick it up anymore. I'd close it, and I'll re-open if I experience it again.

[2019-01-25 19:16] #2013 closed

[2019-01-25 19:16] crosbymichael commented on #2013
Thanks Paul

[2019-01-29 18:55] dmcgowan opened #2964 "Cross Repository Push"
Support cross repository push by storing metadata on blobs which can be used to make pushing to other registries more efficient. This issue will track the issue, the initial PR was at  #2697

Design
 - Add label on fetch to manifest to describe source in format containerd.io/distribution.source.<host> = <repo>[,<repo>]
 - Store token by scope
 - Use source annotation to set cross repository query

[2019-01-29 20:05] #2195 closed

[2019-01-29 20:50] #2941 closed

[2019-01-30 17:37] kfox1111 commented on #2942
Is there any plans to do a 1.2.3 with the fix in it soon, or should I be looking at building from source?

[2019-01-30 18:50] ehazlett commented on #2940
@guofengzh any luck trying with the system level cert store?

[2019-01-31 00:51] dmcgowan opened #2968 "Support `Prepare` for existing snapshots in Snapshotter interface"
## Problem

Currently the snapshotter interface provides no way to either share existing snapshots across namespaces or have an underlying snapshotter expose snapshots which may already exist elsewhere. This is difficult in the interface because the creation of new read only snapshots are always done in 2 steps, the first is `Prepare`, then `Commit`. The `Prepare` is often followed by the client u

[2019-01-31 10:12] mman opened #2969 "[signal SIGSEGV: segmentation violation code=0x1 addr=0x78 pc=0x5ff488]"
**Description**

Running ``Docker version 18.09.1, build 4c52b90`` on ``Ubuntu 18.04.1 LTS (GNU/Linux 4.15.0-44-generic x86_64)``. My various containers, all running swift code based on official swift images from https://hub.docker.com/_/swift latest tag are crashing randomly every couple of days.

I only receive a message ``"shim reaped"`` and because my docker container restart policy is set to

[2019-01-31 19:42] ehotinger commented on #2943
@Random-Liu @dmcgowan @lukasheinrich would you and other folks like to have a call about this at some point? This is very similar to something I've been working on for quite some time so it would be nice to formalize the proposal to the point it can be agreed upon and consolidate efforts.

[2019-01-31 19:45] lukasheinrich commented on #2943
Absolutely, I‘m happy to have a call.

On Thu, Jan 31, 2019 at 8:43 PM Eric Hotinger <notifications@github.com>
wrote:

[2019-02-01 01:11] guofengzh commented on #2940
Thanks for your response. These days i have no change to test it.  After I done it, I will update it here.

[2019-02-01 02:34] Random-Liu commented on #2969
This looks like a race condition introduced in https://github.com/containerd/containerd/pull/2826

I don't understand why we can simply remove the lock for stopped state.

[2019-02-01 07:01] mman commented on #2969
You are correct that my crashing containers all use health check probes and health check  log message is the last one I see before the shim is reaped, thus your multi exec race seems valid.

[2019-02-01 21:08] #2969 closed

[2019-02-02 21:38] AkihiroSuda commented on #2728
v1.0.x is officially EOL now https://github.com/containerd/containerd/commit/946e4026632603004c7c87be83c19ad09ddb643d#diff-5cafcf46bfb947f8e58fa5c16d39018c

[2019-02-02 21:38] #2728 closed

[2019-02-04 09:40] ChristianKniep commented on #2943
@ehotinger @lukasheinrich would like to hop on that call as well

[2019-02-04 10:19] siscia commented on #2943
@ehotinger @lukasheinrich I would love to join as well.

[2019-02-04 10:48] lukasheinrich commented on #2943
@Random-Liu would you be able to join one as well?

[2019-02-05 14:46] estesp commented on #2942
#2974 is being used to prepare the 1.2.3 release for this week; a final bug is getting fixed and integrated and then the release should be ready to go.

[2019-02-05 16:11] kfox1111 commented on #2942
Thanks for the heads up.

[2019-02-05 19:14] Random-Liu commented on #2943
@lukasheinrich Sorry for the late reply. Yes, I would like to join. And I had a discussion with @dmcgowan last week.

He summarized that discussion in the issue https://github.com/containerd/containerd/issues/2968. :)

[2019-02-05 19:16] Random-Liu commented on #2968
Here is the public link of the doc: https://docs.google.com/document/d/1TmNWnmbx-fd2wUhujuUtAeSUuulWZyhggAKCSc1F3AE/edit?usp=sharing

[2019-02-05 19:42] dmcgowan opened #2980 "Add label indexing"
Currently all filtered lookups in containerd involve scanning all entries and filtering the output. This makes list inefficient and not usable for use cases which involve looking up by non-IDs as part of a larger operation. Clients have worked around this limitation by creating local index caches, however keeping these caches in sync is difficult and non-atomic.

This proposal is to add support fo

[2019-02-05 22:56] jhowardmsft opened #2983 "The `oci` package should not depend on `containers` package"
(IMO) The OCI package should be standalone just having the functions needed to generate an OCI spec. That way it can easily be consumed by another repo (eg moby/moby). Currently it takes a dependency on at least the `containers` package.

[2019-02-05 23:08] crosbymichael commented on #2983
I'll take a look at this tomorrow if you don't have time.  I noticed this as well

[2019-02-06 08:47] Protopopys commented on #2758
@Random-Liu
I get the same error,
**Output of `containerd --version`:**
`containerd github.com/containerd/containerd v1.2.2 9754871865f7fe2f4e74d43e2fc7ccd237edcbce`

**Output of `crictl --version`:**
`crictl version v1.13.0`

**Output of `ctr --version`:**
`ctr github.com/containerd/containerd v1.2.2`

**Output of `cat /etc/containerd/config.toml`:**
[code]

**Output of `crictl info`:**
[code]

*

[2019-02-06 15:44] shahaf600 opened #2985 "When curling for stats summary containerd node, data on exited init containers is returned with empty cpu,mem,time"
**Description**

When combining kubelet 1.11.3, with raw containerd v1.2.1 (running on CentOS with rpm[containerd-1.2.1-1.el7.x86_64]), there is a strange behavior, which is different from docker implementation.
when i curl 127.0.0.1:10255/stats/summary the data returned on an init container(exited container on node) i get back the following data:
[code]
and when that happens, metrics-server(K8S c

[2019-02-06 17:17] jterry75 commented on #2983
Any reason we cant just use: https://github.com/opencontainers/runtime-tools/tree/master/generate ? @Random-Liu - We use this already for CRI right? We don't use the custom CD one anywhere that I can tell but I didn't search that hard.

[2019-02-06 18:34] Random-Liu commented on #2985
@shahaf600 Do you expect no entries for init containers in the summary api? Or do you expect fake stats there?

[2019-02-07 06:54] shahaf600 commented on #2985
Hi @Random-Liu, thanks for the response,
Well, I think there should not be returned any stats from init-containers that have done their job, but let's say that they will return nil, fine, but actually, they return null, at least this is what I see from stats summary, as I mentioned above, and I don't know if metrics-server interpret it as nil or a string of 'null'.

And second, yes, it does get pa

[2019-02-07 13:12] rmoriz commented on #1508
Can we please get the source (and debian-specific files) of Docker's containerd debian package?
As @skolekonov correclty pointed out, they are not open source and there is currently no way to debug/rebuild their broken containerd package for ARMv6 devices (i.e. Rasperry Pi Zero).

related: https://github.com/moby/moby/issues/38175

[2019-02-07 14:46] shootkin opened #2987 "Shared storage with docker"
Hello! I want to make kubernetes cluster with architecture described here: [https://kubernetes.io/blog/2018/05/24/kubernetes-containerd-integration-goes-ga/](url)
I.e. I want to use such tools:
1. Containerd+cri-plugin as a runtime for kubernetes
2. Crictl as a debugging tool for kubernetes containers.
3. Docker as a tool for building containers.

For now I deployed containerd, docker, kubernetes,

[2019-02-07 18:30] mxpv opened #2988 "Device mapper snapshotter in containerd"
Hello containerd maintainers.

As you might have heard, AWS open sourced the [Firecracker](https://github.com/firecracker-microvm/firecracker) MicroVM recently, and since then we’ve been working on launching Firecracker VMs from within containerd. As part of this work, we've developed a new device mapper snapshotter and would like to understand whether the containerd project would be interested in

[2019-02-08 01:00] ibuildthecloud commented on #2988
The return of devicemapper.

![](https://i1.kym-cdn.com/entries/icons/facebook/000/008/913/sopranos.jpg)

[2019-02-08 01:13] ibuildthecloud opened #2991 "Misalignment between fetch platform.MatchComparer and other method"
**Description**

This issue pops up pretty easily when pulling images on a armv7 host and the manifest list has both arm v6 and v7 variants.

The default platform matcher is platform.Only() which has a specific check to pick any arm architecture with a compatible variant (v7 allows v7, v6, v5 for example).  During the fetch phase the best match of the manifest list will be chosen (due to the Limit

[2019-02-08 02:05] dmcgowan commented on #2988
Awesome! I am really glad to see this coming along

It looks like the instructions now has it as a proxy plugin. Is there a desire to have this built in? I am also curious what kind of state this snapshotter holds and whether there are advantages of having it remain as a separate process.

I am also curious about the device activation. It looks like devices are activated on creation. What is the c

[2019-02-08 08:10] mxpv commented on #2988
Absolutely :)

In our case it was easier to maintain plugin instead of `containerd` fork.

Though one convenient thing we have - we added compatibility with `container-storage-setup` tool,
so the generated command line flags can be consumed by dm snapshotter cmd (an example [here](https://github.com/firecracker-microvm/firecracker-containerd/tree/master/snapshotter/cmd/devmapper#using-container-st

[2019-02-08 09:29] shootkin commented on #2987
Thank you for reply, @estesp . OK, I will wait for moby/moby#38043 to be implemented, because to store image twice is not applicable.

[2019-02-08 14:06] Protopopys opened #2994 "crictl/kubernetes fails to pull images from insecure-registry."
I added a comment to https://github.com/containerd/containerd/issues/2758 but no one answered.

**Description**
I've set inscecure registry in /etc/containerd/config.toml like below:

**Output of `cat /etc/containerd/config.toml`:**
[code]

**Output of `crictl info`:**
[code]

**Steps to reproduce the issue:**
1. insecure-registry
2. restart containerd
3. pull image via crictl

**Describe the resu

[2019-02-08 17:55] Random-Liu commented on #2994
"Head https://registry.bc.**.**/v2/master/ui-incident/manifests/latest: dial tcp 10.1.131.3:443: connect: no route to host"

This is the issue. Is `10.1.131.3:443` the correct server? Why your node can't reach it?

[2019-02-08 18:14] Protopopys commented on #2994
Hi, yes, all nodes reach it.
**crictl info**
[code]

**curl -I registry.bc.**.****
[code]

[2019-02-11 02:21] jiangliu commented on #2988
Really glad to see this:)
According to our tests, device mapper thin provision is an attractive solution for Kata Container.
Hope it could be built into the containerd project.

[2019-02-11 03:42] fuweid commented on #2750
Hi @xfye , the `0.2.x` branch is end of life. Please update it to new version of moby. Thanks

Reference to support branch:

https://github.com/containerd/containerd/blob/master/RELEASES.md#support-horizon

[2019-02-11 06:49] samuelkarp commented on #2988
@jiangliu If you're interested in trying out this snapshotter with Kata Containers today, you can build it and run it as a proxy plugin.  If you're able to get that working, we'd love to hear feedback on what works well and where you could see improvements being made.

[2019-02-11 07:12] jiangliu commented on #2988
@samuelkarp Previous we feel the containerd community has no interests in DM thin provision based snapshotter so we have built a private version and have already done basic functional tests against it. The test results seems so far so good:)
So it would be great to cooperate to get DM thin provision based snapshotter built into the containerd project.

[2019-02-11 09:17] nitkon opened #2996 "Make release of containerd for ppc64le available"
**Steps to reproduce the issue:**
1. There is no release for ppc64le like there is release for amd64 https://github.com/containerd/containerd/releases/download/v1.2.3/containerd-1.2.3.linux-amd64.tar.gz

**Describe the results you expected:**

containerd release should be available for ppc64le as well.

[2019-02-11 10:00] nitkon commented on #2996
What would be the release process for non-amd64 arch? I would like to make containerd release available for ppc64le.
cc @estesp @Random-Liu

[2019-02-11 10:23] mman commented on #2969
Thanks for your great work guys, anything I can help do to speed up official push of the release 1.2.3 to the docker?

[2019-02-12 02:08] carlwgeorge opened #3005 "tests fail on ppc64le"
**Description**

The containerd builds in Fedora have started to fail on just the ppc64le architecture.

* https://koji.fedoraproject.org/koji/taskinfo?taskID=32749298
* https://kojipkgs.fedoraproject.org/work/tasks/9337/32749337/build.log

Back in January this same version of containerd (1.2.1) passed all the tests on all architectures, including ppc64le.

* https://koji.fedoraproject.org/koji/ta

[2019-02-12 02:13] thaJeztah commented on #3005
Yes, we were running into segfaults in moby CI as well on powerpc; see https://github.com/containerd/containerd/pull/2896#issuecomment-453788133

/cc @estesp

[2019-02-12 02:32] estesp commented on #3005
Thanks for the report. @tophj-ibm and @clnperez : any idea if there is a known issue with Golang 1.12 on ppc64le? if not, can we get someone to look into the above stack trace/issue?

[2019-02-12 03:08] kfox1111 opened #3006 "CVE-2019-5736"
Can we get an updated cri-containerd tarball with a fix for the runc issue please?

[2019-02-12 18:34] #2750 closed

[2019-02-12 18:34] crosbymichael commented on #2750
Closing this as @fuweid pointed out

[2019-02-12 19:12] Random-Liu commented on #3006
Working on that right now. Should be out today.

[2019-02-13 02:43] jhowardmsft opened #3011 "Windows (moby runtime integration) need a v1.2.4 release for CIO package"
moby/moby was just bumped to v1.2.3. But....

v1.2.3 is missing commit 90caf6f6a7356756c2595b7695af7b12b87cdf2e which is needed for the ongoing work to integrate containerd as the runtime for Windows. Unfortunately I can't bump moby to integrate containerd master easily as there's lots of other recent containerd changes I would need to unpick to get it to compile (eg buildkit).

Can we get a v1.2.

[2019-02-13 03:41] jhowardmsft commented on #3011
Also needs the following two commits which add/fix respectively the runtime/v2/runhcs/options package.

ec3dbd155ed1dc201b1686081ce49169992768b7
bc76e01a87ee58363a461c8c8da495d6e476c6dd

[2019-02-13 03:42] jhowardmsft commented on #3011
@jterry75 FYI

[2019-02-13 03:54] jhowardmsft commented on #3011
I think all the changes I need are in this branch: https://github.com/jhowardmsft/containerd/tree/v1.2.4

[2019-02-13 07:25] mxpv commented on #2988
I've got initial benchmark results, comparison between [Naive](https://github.com/firecracker-microvm/firecracker-containerd/tree/master/snapshotter/naive), [Overlay](https://github.com/containerd/containerd/tree/master/snapshots/overlay), and [DevMapper](https://github.com/firecracker-microvm/firecracker-containerd/tree/master/snapshotter/devmapper) snapshotters.

Test env used:
[code]

There are

[2019-02-13 10:51] thaJeztah commented on #3011
@jhowardmsft  @jterry75 https://github.com/containerd/containerd/commit/ec3dbd155ed1dc201b1686081ce49169992768b7 comes from this PR; https://github.com/containerd/containerd/pull/2756 - are the other commits needed (or desirable) as well?

[2019-02-13 11:05] thaJeztah commented on #3011
Also; WIP pull request in moby/moby to update to containerd 1.2.4 https://github.com/moby/moby/pull/38718

[2019-02-13 15:00] ehazlett commented on #2940
Ok let's go ahead and close this one.  If you run into it again please feel free to open a new issue.  Thanks!

[2019-02-13 15:00] #2940 closed

[2019-02-13 15:42] renzhengeek commented on #2988
Hi @mxpv,

We're also evaluating DM thin-pool as  storage solution for kata. We write a `devicemapper` snapshotter plugin, but use LVM tools to manage DM devices.

Apparently, using low-level dmsetup is a good idea to avoid dependency of LVM2 :-)
But LVM tool brings several benefits, IMHO:

1. easy to extend device size when thin pool gets full;
2. easy to use multiple physical devices to assemble

[2019-02-13 16:37] jhowardmsft commented on #3011
@thaJeztah Kind of a grey area - both yes, and no.

No, in as much as I've only identified the commits which are needed for moby to be able to both compile and use "a" containerd runtime, including current master. Obviously the minimum bar is that the version of containerd vendored into moby is able to use the latest iteration of containerd, and that it will compile on Windows.

However, with the

[2019-02-13 17:47] jterry75 commented on #3011
@jhowardmsft - Are all of these changes shim changes? The shim and opts pr in hcsshim will replace all of this so likely we dont need it. Were there changes in containerd itself?

[2019-02-13 17:57] jterry75 commented on #3011
I mean specifically: https://github.com/Microsoft/hcsshim/pull/472 will provide the opts you need so I think all you need is the `cio` fixes

[2019-02-13 18:02] estesp commented on #3011
Is this discussion about #3013? Can someone comment in there the explicit set of fixes (or none at all) that need to be in a 1.2.4, if any? We still haven't released a build with the runc CVE fix, and I think we must do it today.

[2019-02-13 18:26] jhowardmsft commented on #3011
@estesp. Yes, it is. I'm purely looking at this as to how to get moby to compile against a vendored released version of containerd.

@thaJeztah I spoke with @jterry75 offline and we both are agreed that only the cio fix (https://github.com/containerd/containerd/commit/90caf6f6a7356756c2595b7695af7b12b87cdf2e) is needed for Windows moby using the containerd runtime. I'll pick up the opts bit from h

[2019-02-13 20:28] crosbymichael commented on #2988
Looks good!

[2019-02-13 21:23] kfox1111 commented on #3006
any news?

[2019-02-13 22:25] vmorris commented on #2996
let's add s390x to the list while we're at it?

[2019-02-13 22:45] thaJeztah commented on #3011
@jhowardmsft I saw that CI failed with just that commit (this PR: https://github.com/containerd/containerd/pull/3012); I'm not a "member" of this repository, so can't see the failed results (perhaps @ehazlett can see them, or perhaps you can)

[2019-02-13 22:58] ehazlett commented on #3011
@thaJeztah #3013 was merged.  I think we're good to rebase now right?

[2019-02-13 23:11] thaJeztah commented on #3011
@ehazlett yeah, but;

I interpret ^^ as "revert the other cherry-picks" (in which case we end up with what was in your PR); your PR failed, so I wondered if it failed because something else was missing (so: reverting those would cause CI to fail again)

[2019-02-13 23:26] ehazlett commented on #3011
Ah ok.  The error from CI was:

[code]

I think we had a few others like that recently so it may have just been CI.

@jhowardmsft @jterry75 do we need to revert the commits from #3013 except the CIO fix then?

[2019-02-14 00:01] jhowardmsft commented on #3011
I'm confused now? Where are you seeing that error? I'm looking at appveyor and travis from that PR and they both passed. What's been cherry-picked is OK and work for the moby Windows runtime case.

[2019-02-14 00:02] jhowardmsft commented on #3011
Oh I see, you saw it on #3012. There's absolutely no way that change and that test result have any relation - it must be a flaky test or CI

[2019-02-14 00:04] jhowardmsft commented on #3011
(Reason I say it's unrelated as there's no containerd code that calls that newly added function in that PR. It's only used as part of an external library called from moby.

[2019-02-14 02:24] Random-Liu opened #3017 "Containerd sets different file permission with docker for missing parent directories in image."
* containerd (0700): https://github.com/containerd/containerd/blob/master/archive/tar.go#L197
* docker (0777): https://github.com/moby/moby/blob/de640c9f4932d851316a0a72470c4d3446f6f5ac/pkg/archive/archive.go#L939.

This causes backward compatibility issues when the image actually doesn't include parent directories, e.g. the image `gcr.io/distroless/static`:
[code]

The behavior in this case is un

[2019-02-14 02:28] Random-Liu commented on #3017
We should cherrypick this into supported branches. :)

[2019-02-14 06:27] eryugey commented on #2988
Glad to see containerd getting devicemapper snapshotter support!

I did some tests using firecracker-dm-snapshotter and kata-containers, and it turns out that currently firecracker-dm-snapshotter doesn't work well with kata yet, as kata expects the dm snapshot device to contain a 'rootfs' directory, but the dm snapshot device firecracker-dm-snapshotter creates contains the container rootfs content

[2019-02-14 06:39] AkihiroSuda commented on #3006
v1.2.4 and v1.1.6 are available now

[2019-02-14 06:39] #3006 closed

[2019-02-14 13:17] ehazlett commented on #3011
Ok it's been included in the 1.2.4 release.  I think this is safe to close right?

[2019-02-14 13:59] stamm opened #3019 "Panic"
k8s version: 1.11.3
containerd version: 1.2.2

I wanted to change docker to containerd on 1 node.

First ~150 pods created without any issues, but after I have this error.
And after this error new containers couldn't created

[code]

[2019-02-14 15:10] jhowardmsft commented on #3011
@ehazlett. Yes.  Closing

[2019-02-14 15:10] #3011 closed

[2019-02-14 17:16] kfox1111 commented on #3006
Thank you! :)

[2019-02-14 17:55] kfox1111 commented on #3006
not seeing the csi-containerd tarball yet.
https://storage.googleapis.com/cri-containerd-release/cri-containerd-1.2.4.linux-amd64.tar.gz 404's.

[2019-02-14 18:05] estesp commented on #3006
I think @Random-Liu was working on publishing them; doesn't look like they are there yet, but I assume they will be today

[2019-02-14 18:07] Random-Liu commented on #3006
Done

[2019-02-14 18:12] kfox1111 commented on #3006
Yup. works for me. Thanks. :)

[2019-02-15 01:35] renzhengeek commented on #2988
After thinking about this a bit more, these features seem out of the scope of snapshotter, which should be considered within storage setup tools like `container-storage-setup tool`.

For instance, we can use LVM to create volume group, thin-pool and a base thin LV, but only provide snapshotter with the thin LV in device-mapper name as the first parent DM device:-)

[2019-02-15 03:43] jhowardmsft opened #3023 "v1.2.4 looks to have made some breaking change pulled in by docker/distribution dependency"
@dmcgowan @crosbymichael @thajeztah

You guys any idea what this could be? (I haven't done any debugging yet to figure out what's up). After pulling in containerd v1.2.4, and also bumping docker/distribution in moby to the same version pulled in in v1.2.4, I'm hitting this error starting the daemon on Windows. So it looks like either a breaking change to `distribution.RegisterManifestSchema`, or s

[2019-02-15 05:57] estesp commented on #3023
If you update moby's vendoring to include the version of the distribution project which includes built-in OCI image type support, you have to remove the registration of the OCI image media types from the moby codebase, as noted in this comment: https://github.com/moby/moby/blob/master/distribution/oci.go#L14

Once you do that, you should be fine.

[2019-02-15 06:36] jhowardmsft commented on #3023
@eatesp Phil - do you have a recommended commit to try? (IMO it’s bad practice to have a package which panics in its init regardless. Catastrophic for consumers. ).

[2019-02-15 07:14] clarklee92 commented on #2988
I faced the same case with you. I tried firecracker-dm-snapshotter with containerd externally and got the problem 'rootfs' in kata. I'm also happy to see dm support in containerd. Hope a handle with kata. :-D
  Best wishes!

[2019-02-15 07:15] afortiorama commented on #2943
I'd like to join too if possible.

[2019-02-15 07:16] samuelkarp commented on #2943
I'd be interested in joining a call as well.

[2019-02-15 09:03] thaJeztah commented on #3023
@jhowardmsft see https://github.com/moby/moby/pull/38718#discussion_r256157125

[2019-02-15 17:03] Random-Liu commented on #3019
@stamm It seems that someone sends a SIGABRT to containerd?

[2019-02-15 17:18] jhowardmsft commented on #3023
Great, and thanks! Closing out this issue pending moby 38718.

[2019-02-15 17:18] #3023 closed

[2019-02-16 14:42] mkumatag commented on #3005
@laboger any idea what is happening here?

[2019-02-16 16:16] mkumatag commented on #3005
I tried the steps mentioned and facing a problem only with build option `-buildmode pie`. If no option supplied then tests are going through.

Steps to reproduce this issues:

[code]

Test results without `-pie` option - https://gist.github.com/mkumatag/58736357913eb088323db52cd3bad647 - **PASSED**

[2019-02-16 23:09] thaJeztah commented on #3005
Should we open an issue upstream in the Golang issue tracker?

[2019-02-17 16:57] mkumatag commented on #3005
Reported issue in golang community - https://github.com/golang/go/issues/30283

[2019-02-18 16:00] pinacoelho opened #3027 "runc init goes into a loop with containerd.io 1.2.2-3.3"
---------------------------------------------------
BUG REPORT INFORMATION
---------------------------------------------------

After the last upgrade, docker hangs while starting containers.
htop shows the runc processes consuming 100% of the CPU time.

Environment:
RHEL 7.6 (up to date)
containerd.io-1.2.2-3.3.el7.x86_64.rpm                                                2019-02-11 16:03:53 22.1

[2019-02-18 16:08] pinacoelho commented on #3027
A sample strace of a looping "runc init"
[root@moykano ~]# strace -p  21643
strace: Process 21643 attached
mprotect(0x55991b8d7000, 3280896, PROT_READ) = 0
mprotect(0x7fe9ce659000, 4096, PROT_READ) = 0
munmap(0x7fe9ce622000, 221036)          = 0
set_tid_address(0x7fe9ce61ea10)         = 21643
set_robust_list(0x7fe9ce61ea20, 24)     = 0
rt_sigaction(SIGRTMIN, {0x7fe9ce222790, [], SA_RESTORER|SA_SIG

[2019-02-18 16:20] thaJeztah commented on #3027
That is correct; there was no update to containerd itself in that updated package; the `-3` and `-3.3` are packaging-only updates (in this case a patched version of runc was bundled)

[2019-02-18 16:29] justincormack commented on #3027
What kernel version are you running? The failure is in `fcntl(5, F_GET_SEALS) = -1 EINVAL (Invalid argument)` which is somewhat surprising. Note this is a `runc` issue (almost certainly), and it is probably best to open an issue on https://github.com/opencontainers/runc

[2019-02-18 16:41] pinacoelho commented on #3027
justincormack:
- Just blown a fuse on another issue.   I'll open the issue tomorrow.
- Kernel level: Linux moykano 3.10.0-957.5.1.el7.x86_64 #1 SMP Wed Dec 19 10:46:58 EST 2018 x86_64 x86_64 x86_64 GNU/Linux  (rpm: kernel-3.10.0-957.1.3.el7.x86_64)
- lsb_release -a
LSB Version:	:core-4.1-amd64:core-4.1-noarch:cxx-4.1-amd64:cxx-4.1-noarch:desktop-4.1-amd64:desktop-4.1-noarch:languages-4.1-amd64:lan

[2019-02-18 17:03] pinacoelho commented on #3027
Created issue on https://github.com/opencontainers/runc/issues/1988

[2019-02-18 19:14] laboger commented on #3005
I have identified the problem and put those details in the golang issue.

On Sun, Feb 17, 2019 at 10:57 AM Manjunath A Kumatagi <
notifications@github.com> wrote:

[2019-02-19 08:33] thaJeztah commented on #3027
You're welcome; it's a bit complicated yes: `96ec2177ae841256168fcf76954f7177af9446eb` is the upstream commit that was used by Docker 18.09.1. The runc CVE patch was applied to that version (i.e. to not ship other changes than the CVE fix itself in the update), and later was pushed to the  18.09 branch in the https://github.com/docker/runc repository (where we maintain some branches for older rele

[2019-02-19 15:05] rcgoodfellow opened #3031 "go mod friendly"
https://github.com/containerd Subproject checklist (**EDIT**: added by @AkihiroSuda )
- [x] [containerd](https://github.com/containerd/containerd)
- [x] [cri](https://github.com/containerd/cri): https://github.com/containerd/cri/pull/1377
- [x] [imgcrypt](https://github.com/containerd/imgcrypt): https://github.com/containerd/imgcrypt/pull/7
- [X] [cgroups](https://github.com/containerd/cgroups)
-

[2019-02-19 15:13] pinacoelho commented on #3027
Following instructions from @cyphar , I've compiled & tested https://github.com/opencontainers/runc/commit/89c07553177c66cfe07de11fcdc17b59621ead07
It works (for me).
Now, trying to figure out how it's going to be validated & propagated through the various repositories involved until it lands on https://download.docker.com/linux/centos/7/$basearch/stable

[2019-02-19 15:19] cyphar commented on #3027
As an update, @justincormack it looks like it's actually a RHEL bug with their backport of `memfd_create` and `F_GET_SEALS` (if you recall, we switched to `F_GET_SEALS` because it only works on memfds -- but apparently RHEL has a broken backport of that feature). However, the fix I have in opencontainers/runc#1984 has a fallback which checks that `st_nlink == 0` which is also true for memfds.

The

[2019-02-19 15:34] thaJeztah commented on #3027
Thanks @cyphar - I was following along on the issues in runc. Quite unfortunate (second time in a short period we're running into bugs in the RHEL kernel (first the kmem issue, now this 😞)

[2019-02-19 19:52] stamm commented on #3019
As I remember nope

[2019-02-20 04:22] linxiulei opened #3032 "Using abstract unix socket makes namespace length short"
**Description**

Current codes https://github.com/containerd/containerd/blob/58dc0677b43011d0a6b44f232e0c7e3e0e876412/runtime/v1/shim/client/client.go#L173 are using abstract unix socket to connect shim and shim would generate its socket path as format of "/containerd-shim/$namespace/$container_id/shim.sock", $container_id regularly is length of 64 bytes, therefore the namespace is limited to 14 b

[2019-02-20 15:54] AkihiroSuda commented on #3031
SGTM (but let's wait for Go 1.12 GA)

[2019-02-20 15:57] AkihiroSuda commented on #3032
+1 for switching to regular sockets.

Switching away from abstract sockets is also beneficial for protecting the sockets from containers running in the host network namespace.

[2019-02-20 17:20] mlaventure commented on #3032
Not necessarily opposed to it, but we would have to think through the consequences/side effects of moving to use relative paths for socket access first.

[2019-02-20 17:33] AkihiroSuda commented on #3032
I think we can migrate to the socket file without breaking compatibility:
* the new daemon invokes a shim v2 binary with `CONTAINERD_SHIM_V2_PREFER_SOCKET_FILE=1` env var
* If the shim supports the env var, the shim should print `file:///path/to/socket` to stdout. Otherwise the shim should print `/abstract/socket/name` (same as the current implementation)

The drawback is that the socket file need

[2019-02-20 17:41] AkihiroSuda commented on #3032
Can we also consider using `socketpair` instead?

[2019-02-21 01:43] linxiulei commented on #3032
socketpair is unnamed, isn't it? how does containerd connect to shim through a pure file description of the shim process

[2019-02-21 01:55] linxiulei commented on #3032
What if containerd restarted, how could containerd know which path to connect to the existed shim process ?

I guess creating socket file at shim's workdir could help as workdir's lifecycle is with shim process

Correct me if I'm wrong. It's containerd's duty (v1) decide what the socket path is and pass it to shim binary when executing shim. It seems as long as there is no existed shim process the

[2019-02-21 15:37] #3017 closed

[2019-02-22 09:49] owenhaynes opened #3042 "Content store to snapshotter performance"
Been doing some testing to see how to get more performance out of the content store to snapshotter path as its currently very slow on big layers.

Test data is a squashed image of 5.1GB in "application/vnd.oci.image.layer.v1.tar" format, using a n1-standard-4 with 2*local ssd in raid 0 sustained write throughput of 701MB/s and sustained read throughput of 1,327.50MB/s

using the content-store to s

[2019-02-22 16:12] estesp commented on #3042
See #2886 for what I believe is similar benchmarking work and proposed improvements; which are now open as PRs #2913 and #2918. Let us know if you think your issue will not be improved by this work or is a separate concern.

[2019-02-22 17:08] owenhaynes commented on #3042
I have seen #2886 before the posted. We are planning to use bit torrent to populate the content store, and can download 5GB in around 20 seconds with non-optimised seeds and could even get this quicker as our test seeds currently use slow pssd(max read of 240MB/s).

#2918 could help with multi layer images, but at the moment we squash to a single layer because of this, and would require a few chan

[2019-02-25 09:13] owenhaynes commented on #3042
Applied #2913 this morning. Still using the same 5GB image which is made of one layer

Full process pull and unpack for container registry 405 seconds. This is just an ordinary pull so I do not care about this use case but here for reference. 206 seconds of that was the download from Container Registry. Avg download speed 25.2MB/s.

The test like before

1. Content store to snapshotter 33 - 40.6~

[2019-02-25 16:00] fuweid commented on #3032
cc @crosbymichael ~

[2019-02-26 01:00] Random-Liu commented on #2985
Sorry for the late response, we are going to address this for Kubernetes 1.14.
See https://github.com/kubernetes/kubernetes/pull/74336.

[2019-02-26 01:23] Random-Liu commented on #2994
I tried with containerd 1.2.2.

My containerd config:
[code]

The containerd log for `crictl pull test.io/busybox`:
[code]

From the log we can tell that containerd does try pulling from `http://test.io/v2/busybox/manifests/latest` first. Because the image doesn't exist, it tries the default endpoint `https://test.io/v2/busybox/manifests/latest` with best effort [here](https://github.com/container

[2019-02-26 13:23] estesp commented on #2133
I noticed the end of discussion in this issue precedes the merging of #2414 and #2417, which improved default matching on ARM platforms/images. Is this still an issue or can we close based on those changes to ARM matching?

[2019-02-26 13:25] estesp commented on #2293
Was this addressed by #2414 and #2417? Or if not, what issue still remains for running ARM images via containerd?

[2019-02-26 13:27] estesp commented on #2693
This was solved in #2700

[2019-02-26 13:27] #2693 closed

[2019-02-26 13:45] estesp commented on #2901
We had been in discussions with using CNCF resources for other architectures (see #634) but seems like there were some hurdles with having to use gitlab to sync with our github repo so remote gitlab-runners on these other architectures could then run CI.

This is similar to the #2996 where we have the same issue for either ppc64 or s390x; to have official release binaries, we need actual hardware

[2019-02-26 18:45] estesp commented on #3005
I assume we can close this now that Go 1.12 is released, and the inlining issue is now fixed upstream?

[2019-02-27 11:58] shahaf600 commented on #2985
okay, thank you very much for the support! :) looking forward for the version!

[2019-02-27 16:13] sipsma opened #3049 "TTRPC-based EventClient and EventServer implementation for Runtime v2"
The [firecracker-containerd project](https://github.com/firecracker-microvm/firecracker-containerd) is creating a containerd shim using the v2 runtime model. We'd like to be able to use [the EventServer and EventClient implementations](https://github.com/containerd/containerd/blob/master/api/services/events/v1/events.proto) but those currently require GRPC.

Our use case involves forwarding events

[2019-02-27 16:19] crosbymichael commented on #3049
This is a good solution to prevent a re-exec for accessing the HTTP grpc server.

+1 to this idea

[2019-02-27 20:09] jterry75 commented on #3049
Yea I looked at this the other day. It turns out the re-exec pipeline already does this. Why dont we just use the EventsClient from a shim ourselves?

[2019-02-27 20:11] carlwgeorge commented on #3005
I haven't verified my Fedora builds work yet as I'm waiting for the Rawhide golang package to get updated to the final 1.12 version, but once that happens I'll report back here and close the issue.

[2019-02-27 20:41] crosbymichael commented on #3049
The re-exec pipeline does this via the HTTP grpc stuff.  We want to keep that stack out of the shim because of memory usage and size.

[2019-02-28 07:28] fuweid opened #3051 "[tag v1.0.3] gc module - snapshotter issue"
**Description**

When gc module tries to remove the snapshotters which have no reference, it will remove the record from the metadata module's boltdb and then remove the record from the specific snapshot's boltdb.
The specific snapshot's record has been removed, but the according record is still in the metadata's boltdb. It will fail to pull the image which contains the snapshots and show us

[cod

[2019-02-28 17:56] lukasheinrich commented on #2943
@afortiorama  @samuelkarp @Random-Liu @siscia @ehotinger should we try to schedule something (doodle?) can post a public link here

[2019-02-28 18:18] ehotinger commented on #2943
@dmcgowan should be there as well if possible.

[2019-02-28 20:14] carlwgeorge commented on #3005
Fedora rawhide has updated to golang 1.12 final, and now the containerd test suite passes on all architectures.  Thanks for getting this nailed down so quickly!

[2019-02-28 20:14] #3005 closed

[2019-03-01 01:57] fuweid opened #3057 "proposal: add tracing support"
## Proposal

There are many component systems here, such as `content`, `snapshotter`, `container` and `tasks`. And the containerd package provides `smart` client with powerful functionality, something like `Backend for frontend`. For instance, the `Client.Pull` is simple function call, but it already combines several calls to different components in there.

If we can add the tracing in ~~**`contai

[2019-03-01 03:40] cpuguy83 commented on #3057
I agree tracing would be helpful.
I am concerned about integrating with jaeger on the client. How data is exported should be left up to the consumer of the client.

It would be tremendously helpful to also propagate tracing over GRPC to the daemon.

[2019-03-01 03:56] fuweid commented on #3057
Hi @cpuguy83, thanks for comment.

Yes, absolutely. I agree. For client, I think it is always up to users.
But for the `ctr` command, in order to make it easier to use, we can create a option to use jaeger tracer. How do you think?

I was thinking that the containerd components don't call each other. It seems that the client is good enough. However, it is good to add that into daemon.

[2019-03-01 07:48] fuweid commented on #2942
Hi @kfox1111 , since containerd has released 1.2.4 which contains the fix, is it ok to close? thanks

[2019-03-01 10:18] justincormack commented on #3032
why not just shorten the name? You could just use a sha256 hash of the current name, or even do that if it is over 108 characters which keeps compatibility.

[2019-03-01 11:38] lukasheinrich commented on #2943
I create this doodle for next 3 wks (replies will not be public in case you're not comfortable sharing availability). Not sure what the TZ distribution is among the participants

https://doodle.com/poll/az6hcgymdqqka38h

[2019-03-01 11:42] linxiulei commented on #3032
The latter one seems able to fix this issue, but it lacks some readability maybe.

[2019-03-01 11:50] linxiulei opened #3059 "Shim failed to kill a stopped container"
This fragment is little runc-ish, I think.

https://github.com/containerd/containerd/blob/5840ecc3d80f2210b08a1963c788351c6cb7d018/runtime/v1/linux/proc/utils.go#L109

When runc is trying to kill a stopped container it outputs

`container not running`

while kata-runtime outputs

`Container xxx not ready, running or paused, cannot send a signal`

maybe we should consider revert b413e843ad484fdc64a

[2019-03-01 17:10] kfox1111 commented on #2942
I had previously upgraded to 1.2.4 but hadn't tried unprivileged pings until now. It does not seem to be working:
bash-4.2$ getcap /bin/ping
bash-4.2$
bash-4.2$ ping google.com
ping: socket: Operation not permitted

On the host, getting the version verifies it is the right version:
containerd github.com/containerd/containerd v1.2.4 e6b3f5632f50dbc4e9cb6288d911bf4f5e95b18e

So, something is still w

[2019-03-01 17:29] kfox1111 commented on #2942
A thought occurs... The images are still probably cached on the node. Does the fix only apply to newer downloaded/extracted layers?

[2019-03-01 17:31] fuweid commented on #2942
Hi @kfox1111 , could you mind to remove the image and repull it again？if
the image was pulled before, the containerd would not add the cap back.

kfox1111 <notifications@github.com>于2019年3月2日 周六01:10写道：

[2019-03-01 17:34] kfox1111 commented on #2942
Yeah. I'll test that.

[2019-03-01 17:45] ehotinger opened #3060 "Consider switching from gometalinter to golangci-lint"
Not a big deal for this project right now, but I hit a few oddities with Go 1.12 in other projects and had to dig into linter issues. Seems like gometalinter is EOL soon.

See also: https://github.com/alecthomas/gometalinter/issues/590

[2019-03-01 17:46] jterry75 commented on #3059
@crosbymichael - It was my understanding that a RuntimeV2 call to Kill (in the stopped state) MUST return success in all cases. Why are we even calling out here? Is there a different behavioral requirement for V1?

(Yes I understand this is V1 but for runc shims these are shared)

[2019-03-01 18:26] kfox1111 commented on #2942
Confirmed. Draining the node, removing all the images, then letting workload back on fixes the issue. Thanks!

[2019-03-01 18:26] #2942 closed

[2019-03-01 18:41] cpuguy83 commented on #3057
💯

Where this becomes useful is so a client can receive tracing data propagated from the daemon.

[2019-03-01 19:57] estesp commented on #3060
Thanks for the pointer. Definitely something we can look into.

[2019-03-01 20:22] jterry75 commented on #3057
@kevpar - FYI.

We have been looking into this for distributed tracing as well because the runtime v2 shim calls happen out of proc and it would be amazing to flow activity id's across the gRPC boundaries for logs correlation.

[2019-03-01 22:18] ehotinger commented on #3060
I have https://github.com/ehotinger/containerd/commit/db1288fc54c5b60793fb89ed8ee4fd0fb1946fcb laying around to fix a few tooling issues after updates for myself. I can PR it if people care about it this in the master branch. There's one minor issue with ctr's usage of the progress bar which I made an upstream issue for; didn't bother tracking it down yet.

[2019-03-02 00:13] Random-Liu commented on #3059
@linxiulei What? You can revert b413e84, it fixed an important bug https://github.com/containerd/containerd/issues/2744.

The reason we have shim v2 is to let different runtime handle this differently. See https://github.com/google/gvisor-containerd-shim/blob/master/pkg/v1/proc/init.go#L335

[2019-03-02 00:19] Random-Liu commented on #3057
/cc @dashpole

[2019-03-02 00:21] linxiulei commented on #3059
Then revert is not a good option. Problem here is why it depends on runtime output (v1), which lead to failure with kata (containerd release 1.2.4)

[2019-03-02 00:32] Random-Liu commented on #2968
@dmcgowan We need a way to handle authentication for this. Probably pass the token to the snapshotter.

[2019-03-02 00:35] Random-Liu commented on #3059
Is this an issue for the new kata runtime for shim v2? Or old kata containerd integration for shim v1?

[2019-03-02 00:37] linxiulei commented on #3059
Old one for shim v1. Just asking, is shim v1 gonna depriorities?

[2019-03-02 00:42] dashpole commented on #3057
I had an intern last fall who did a PoC of something similar.  His containerd code changes are here: https://github.com/containerd/containerd/compare/master...Monkeyanator:opencensus-tracing.

We ended up using OpenCensus instead of OpenTracing just because then we didn't need pick a tracing backend in open-source components, such as containerd.  Then you can run the "OC Agent" to handle pushing t

[2019-03-02 00:48] cpuguy83 commented on #3057
I've spent some time specifically thinking about how to propagate traces over ttrpc.
The GRPC way (through the metadata mechanism) is not great since it necessarily requires allocating, often unnecessary, objects on every request.

[2019-03-02 01:37] fuweid commented on #2942
thanks! @kfox1111

[2019-03-02 01:48] fuweid commented on #3057
Thanks for @dashpole and @cpuguy83 input.

I will update the proposal which includes the shim part and involved project. :)

[2019-03-02 01:51] samuelkarp commented on #2968
@Random-Liu It might make more sense to have the snapshot-sharing behavior be opt-in and explicitly controlled by the caller than to make containerd's API aware of authN/authZ; i.e., handle the authZ a layer above containerd.  (If you're thinking about CRI, this could be handled in the CRI plugin rather than implemented in containerd's GRPC API.)

[2019-03-02 01:55] fuweid commented on #2968
Hi @Random-Liu , I think we can use opt to pass the information down into the snapshotter so that the snapshotter can consume it.

REF: https://github.com/containerd/containerd/issues/2907

[2019-03-02 02:40] ehotinger commented on #2968
How about an actual credential service? Right now labels are an easy way to accidentally store credentials in plain text. Also, if someone makes a design for this, please discuss what the plan is for credentials at the namespace level and how they interact with shared components.

[2019-03-03 07:35] zhsj opened #3061 "Fail to build on mipsx"
Currently containerd has a hardcode signal map, and on mipsx(mips, mipsel, mips64el), it failed to build:
[code]

See the log on https://buildd.debian.org/status/logs.php?pkg=containerd&ver=1.2.4~ds1-1

I've submitted a patch to golang.org/x/sys, https://go-review.googlesource.com/c/sys/+/164778
to add a SignalNum func, so containerd no longer needs this hardcode signal map. Once it gets merged, I

[2019-03-03 13:03] Bevisy opened #3062 "How to change image name by using "ctr"?"
i need to change the name of an image. When we use docker,we can use "docker tag". So i want to know if there is a same cli.
Now i just use "ctr export" and "ctr import" to solve this situation

[2019-03-04 08:31] Pensu commented on #2943
@lukasheinrich I would love to join the call as well.

[2019-03-04 16:03] crosbymichael commented on #3057
Sounds good to me

[2019-03-04 17:25] crosbymichael commented on #3049
Does anyone want to take on the development for this?

[2019-03-04 18:34] Random-Liu commented on #3059
Shim v1 is mainly for runc I think. Actually we also have a shim v1 integration for gvisor in https://github.com/google/gvisor-containerd-shim.

We also have some behavior difference with runc, so we implemented our own shim. We use some trick to automatically switch between runc shim and gvisor shim.

[2019-03-05 01:46] Apokleos opened #3066 "Does containerd client-ctr support "Add host devices to container"?"
Hi, Maintainers.
I want to know if containerd client-ctr supports "Add host devices to container"?
Or if there're methods can help to add host devices to containers?

Thx.

[2019-03-05 10:17] mg0432062 commented on #1818
I met such issue also. the ctr version I am using v1.2.4, and my kernel is 4.9.93 on centos. When I tried to pull nginx image, the error below appeared. So how to solve this issue?

$sudo ctr images pull docker.io/library/nginx:latest --snapshotter overlayfs
docker.io/library/nginx:latest:                                                   resolved       |++++++++++++++++++++++++++++++++++++++|
ind

[2019-03-05 10:18] mg0432062 commented on #1818
BTW, the overlayfs plugin is installed ok in my side

[2019-03-05 10:23] fuweid commented on #1818
@mg0432062 could you mind to create an other issue, please? since it is unrelated to this issue.
Thanks

[2019-03-05 13:00] mg0432062 opened #3068 "failed to pull image (centos7 overlayfs) again"
Environment:
kernel: 4.9.93
OS: CenOS 7.2
Containerd Version: v1.2.4
Runc Version: 1.0.0-rc6

Description:
when I pull nginx image from docker.io， I met an error as showed in below:

[code]

[2019-03-05 19:10] jterry75 commented on #3049
I will do it

[2019-03-05 19:15] jterry75 commented on #3057
It seems the industry is moving toward `opencensus`. @kevpar - Did some investigations on our side and thought it was the likely candidate for us to move to as well. The one thing that we dislike about it is that it seems to only export `begin/end` at `end`. Which means that if you have a `panic` trace you loose all data because there was no entry logging. `opentracing` however did show the entry

[2019-03-05 21:40] kevpar commented on #3057
`opencensus` does have the momentum. However, the logging support in `opentracing` is better, and the API is much more flexible. `opencensus` is working on a logging API, but they seem to be leaning towards unstructured logging, which is unfortunate.

[2019-03-05 21:47] cpuguy83 commented on #3057
FYI, I created a rough tracing package here: https://github.com/virtual-kubelet/virtual-kubelet/blob/master/trace/trace.go

In VK we use opencensus and logrus... have interfaces for trace and logging... but these are primarily for the purposes of supporting logging through a span and not so much about providing multiple backing implementations of the tracing... but here is how it works:

[code]

I

[2019-03-05 21:48] cpuguy83 commented on #3057
I guess godoc would be better: https://godoc.org/github.com/virtual-kubelet/virtual-kubelet/trace

[2019-03-05 21:49] cpuguy83 commented on #3057
All this to say, I don't think we should be worried about what opencensus does wrt logging or not... use what's most convenient/has the most community support.

[2019-03-05 22:07] tswift242 commented on #2406
@crosbymichael  I managed to get as far as @erulabs

This is what I see in the logs leading up to the shim being reaped:

time="2019-02-26T21:03:00.091653521Z" level=debug msg="Calling POST /v1.30/containers/foo/start?checkpoint=test&checkpoint-dir=%2Fvar%2Flib%2Fdocker%2Fcheckpoints"
time="2019-02-26T21:03:00.093077093Z" level=debug msg="container mounted via layerStore: &{/var/lib/docker/overlay

[2019-03-06 08:45] Random-Liu commented on #2968
I don't think we should include authN/authZ in the containerd API. If we plan to pass the token down, it should be made opaque to the API.

As for the client side change, I'm fine with either implementing an image pull option in the containerd client, or have the logic completely in the CRI plugin. The former is preferred though. :)

[2019-03-06 09:17] linxiulei commented on #3032
Read codes in v2 shim, it seems if we store address at shim workdir then there wouldn't any compatible issue when we want to change address pattern

[2019-03-06 11:52] pinacoelho commented on #3027
I've managed to create a minimal testcase based on the F_SEAL test code, that shows the seals are lost on the pexecve syscall.

https://gist.github.com/pinacoelho/396ef3302ae60b17662e29fd57172953

[2019-03-06 13:03] Ace-Tang commented on #3066
ctr run not have flag like `--device`, I think it can be add, and add a function like `WithUnixDevices` in `oci/spec_opts.go`, then device can be pass to container through client-ctr. @crosbymichael , wdyt

And the other way, ctr run provide a flag `--config`, it specify a runc config.json, @Apokleos , you can use specified config.json which include device you need, it should satisfy your need.

[2019-03-06 14:17] mnitchev opened #3071 "Create a way to provide the CA of a self signed certificate to containerd without restarting it"
**Description**
Using a private registry which has a self-signed certificate cases a `x509: certificate signed by unknown authority` error when pulling an image. We have tried to add the certificate CA in `/usr/local/share/ca-certificates` like #2940 suggests but we cannot restart the containerd daemon as it is running on a Kubernetes node, to which we do not have access (it is running on the clou

[2019-03-06 18:49] egernst opened #3073 "shim v2 runtime: use binary name / qualified path instead of magic"
This is an enhancement/usability request for how v2-shim runtime implementations are configured for usage  by containerd.

In io.containerd.runtime.v1.linux, the binary name and path to runtime are utilized. As a user, this is straight forward and provides flexibility.

In v2, the shim name is inferred and assumed to be in the hosts' PATH.  This is pretty inflexible, and a bit confusing from a usa

[2019-03-06 18:50] egernst commented on #3073
/cc @Random-Liu @crosbymichael - would love your input here.  Thanks!

[2019-03-06 18:53] sudeeshjohn opened #3074 "Integration test inside a container is exiting with 1 even if all the test passes"
**Description**

integration test is exiting with 1 and error message `"failed to remove test root dir device or resource busy"` even though all the testcases passed.

**Steps to reproduce the issue:**
1. git clone https://github.com/containerd/containerd.git
2. cd containerd/contrib
3. docker build -t containerd-test -f Dockerfile.test ../
4. docker run -it -v /dev:/dev  --privileged -v /tmp:/tmp

[2019-03-06 19:02] egernst commented on #3073
Perhaps this can be further broken into two items:
1) The inferred name
2) assumption on the path

(2) is the bigger issue for me, and I see a couple of solutions on how we install (via something like a container image utilized by a daemonset in k8s, ala kata-deploy):
* we work with containerd to be able to specificy the path to the runtime's shim v2 binary (ideal from my perspective
* we need to

[2019-03-06 19:03] mcastelino commented on #3073
There does exist a way for containerd to install plugin dependencies as documented here

- https://github.com/containerd/containerd/blob/master/docs/managed-opt.md

So is it ok to directly add binaries to the location specified by
[code]
which are not managed by containerd.

[2019-03-06 19:14] jterry75 commented on #3073
https://github.com/containerd/containerd/blob/master/runtime/v2/shim/util.go#L58

The current code uses either `PATH` or uses a `side-by-side` approach. It then caches the result in `containerd` to make future lookup avoid the file system traversal. We could effectively have a config entry that pre-populates `runtimePaths` from config file if you want to be in a location other than these two.

Wou

[2019-03-06 19:20] mcastelino commented on #2988
@clarklee92 The issue has been root caused https://github.com/kata-containers/runtime/issues/1325 and fix is pending https://github.com/kata-containers/runtime/pull/1326

[2019-03-06 19:26] egernst commented on #3073
Hey @jterry75 thanks for the quick reply.  Being able to specify the root path for a given runtime/runtimeClass would be ideal, and would solve issue (2) that I specified.

The magic name is still a bit confusing, imo.

[2019-03-06 19:55] jterry75 commented on #3073
Seems like we could have both without a breaking change.

pseudocode
[code]

[2019-03-07 00:55] mg0432062 commented on #3068
anybody can have a look on this?

[2019-03-07 02:11] fuweid commented on #3068
Hi @mg0432062

sorry for the late reply. I am working on it. But I can't reproduce the issue in my vagrant box.

could you please to provide logs of containerd daemon side? including the containerd initialize log information.

thanks!

[2019-03-07 04:51] SvenDowideit commented on #3031
yup, using go v1.12  `go mod` with v1.2.4 breaks:
[code]

setting the `go.mod` requirements to use containerd v1.2.3 fixes it for me.

[2019-03-07 09:22] bainsy88 opened #3076 "Error messages returned from registries should be exposed to users."
**Description**
Error messages returned from Docker Registries are not exposed to users during the pull flow.

Registries sometimes return a body with an error which contains useful information, with containerd only the status code and sometimes the error from the challenge header are returned to the end user, but not the `.message` field of the error body.

The docker client, in contrast, does re

[2019-03-07 09:25] bainsy88 commented on #3076
I'm happy to do the work on this one.

My proposed solution having looked at the code would add code to the docker fetcher to check for a body that matches the errcode.Error object from the Distribution project and if it exists add the message field to the error returned to the user.

[2019-03-07 17:31] crosbymichael commented on #3071
Sound like a good idea, someone should work on this ;)

[2019-03-07 17:39] fuweid commented on #3057
Hi @cpuguy83 and @jterry75

I make a doc for proposal. please take a look. Thanks

https://docs.google.com/document/d/12l0dEa9W8OSZdUYUNZJZ7LengDlJvO5J2ZLategEdl4/edit?usp=sharing

/cc @containerd/containerd-reviewers @containerd/containerd-maintainers

[2019-03-07 17:41] crosbymichael commented on #3066
I'm fine with adding a `--device` flag that uses that opt

[2019-03-07 18:22] cpuguy83 commented on #3057
+1 doc looks good.

OC is very flexible and very nice that you can write exporters or even just use an agent exporter and not have to pull in a ton of dependencies in.

[2019-03-08 01:53] Apokleos commented on #3066
Thank you for your reply @Ace-Tang @crosbymichael
With the to be added flag "--device", host devices passed through to kata container which bases on kata with containerd is also OK ? Further more, can it(add host devices to kata container) work in k8s cluster with kata and containerd?

[2019-03-08 02:34] jterry75 commented on #3057
+1 for the doc. Thanks @fuweid

[2019-03-08 15:32] lukasheinrich commented on #2943
Hi all, March 20 / 21 seems to work for most people. Pinging @Random-Liu @dmcgowan to see if that would work for them.

[2019-03-11 01:38] fuweid commented on #3076
SGTM for the more useful error message. 👍

[2019-03-11 02:05] Pensu commented on #2943
Hi @lukasheinrich , I have been working on a similar problem to make cooperative pull support among multiple hosts. The proposed idea includes a remote snapshotter (like cvmfs) and a distributed key-value store as metadata.

Currently metadata is backed by local boltDB. The goal is to create a metadata plugin as well, that can be backed by distributed key-value store (like etcd) and is accessible

[2019-03-11 04:44] Ace-Tang commented on #3066
@Apokleos, `--device` only help running container with ctr, for k8s, if k8s support pass down device, containerd already support that.

[2019-03-12 05:37] sofat1989 opened #3089 "failed to pull and unpack image: failed reading status of resume write"
We use containerd of version v.12.4 for k8s. In one node of our cluster,  cannot pull one image. It throws out this error
[code]
We checked this data directory `/var/lib/containerd/io.containerd.content.v1.content/ingest/cddbab0c1f2bab91536889d3938a596ee7838e2db8c9f4e30bc6094216c8a02d/`. It is empty. We think it may be caused by the interrupted previous pulling

Pulling other images is OK

## How

[2019-03-12 14:13] fuweid commented on #3089
`data` file is opened at the last. If the containerd has been restarted before `OpenFile(data, ...`, the ingest will be dirty.

I think the proposal to empty the existing dir is no harmful, because there is no thing in here. It just takes time to re-download it.

Or we can make the creation atomic, which means that we create `startedat`, `updatedat`, `ref`, `total` and empty `data` in the tmpdir a

[2019-03-13 19:23] #603 closed

[2019-03-13 20:43] jterry75 opened #3094 "Fully remove Windows v1 Runtime"
This a tracking item to fully remove the Windows v1 Runtime in favor of supporting the `containerd-shim-ruhcs-v1.exe` Runtime V2 runtime.

[2019-03-13 20:45] jterry75 opened #3095 "Fully remove the Windows (in-tree) Runtime V2 runhcs shim"
This is a tracking item for fully removing the in-tree Runtime V2 runhcs shim for Windows. This shim has been fully re-implemented in the Microsoft/hcsshim repo in an in-proc style that significantly improves performance and reliability for standalone and POD level deployments.

[2019-03-15 14:10] #3032 closed

[2019-03-16 21:30] moikot opened #3100 "Unable to build golang:1.12.0-alpine for linux/arm64 platform"
**Description**

I'm trying to build golang:1.12.0-alpine for linux/arm64 platform using [buildkit](https://github.com/moby/buildkit) but my build fails. Initailly I thought it was an issue with golang:1.12.0-alpine manifest and I submitted an issue for [golang]() but now it seems like the manifest list was fixed since the result of `docker run --rm weshigbee/manifest-tool inspect golang:1.12-alpi

[2019-03-16 21:35] tonistiigi commented on #3100
ctr output:
[code]

@moikot `docker run --rm weshigbee/manifest-tool inspect golang:1.12-alpine` output is wrong. Excerpt from the manifest list for `docker.io/library/golang:1.12.0-alpine` (currently at sha256:6c143f415448f883ed034529162b3dc1c85bb2967fdd1579a873567b22bcb790 )

[code]

[2019-03-16 21:39] moikot commented on #3100
Wow! I thought `manifest-tool` is quite reliable, what should I use for examining manifests? Should I call API directly?

[2019-03-16 21:42] tonistiigi commented on #3100
@moikot I looks like the tool is correct but we are checking different images. `1.12.1-alpine` is out and `1.12.0-alpine` and `1.12-alpine` are not the same image anymore. `1.12.1-alpine` is correctly uploaded, so `1.12-alpine` should not cause issues in buildkit nor ctr. If you check `1.12.0-alpine` with that manifest-tool it will show v1.

[2019-03-16 21:44] moikot commented on #3100
Ah! Right, of cause! I guess this issue can be closed?

[2019-03-16 21:47] tonistiigi commented on #3100
It could be closed if we could be sure that no such images like `1.12.0-alpine` are uploaded again. Unfortunately I see this configuration documented as supported for some reason in https://github.com/docker/distribution/blob/master/docs/spec/manifest-v2-2.md#manifest-list-field-descriptions

[2019-03-16 21:51] moikot commented on #3100
Yes, I see, it is allowed to have such manifest lists 😿

[2019-03-16 22:08] tonistiigi commented on #3100
Actually, I see no way how containerd could ever support such manifest lists unless it rewrites it and replaces with a new one with a different digest that should never happen with v2 (the manifest list itself is a v2)

[2019-03-17 16:36] lygstate opened #3101 "unknown service api.v1.CRIPluginService"
**Description**

**Steps to reproduce the issue:**
1.
2.
3.

**Describe the results you received:**

**Describe the results you expected:**

**Output of `containerd --version`:**

[code]

[2019-03-18 01:07] fuweid commented on #3101
hi @lygstate , could you mind to provide more information here? Thanks

[2019-03-18 06:06] Random-Liu commented on #3101
Can you check your `/etc/containerd/config.toml`, and make sure `cri` plugin is not disabled?

[2019-03-18 06:37] lygstate commented on #3101
@Random-Liu Yeap, it's disabled, and I don't know how to open, I  am using rancheros + k3s.

[2019-03-18 07:53] carvendy commented on #2994
reslove?

[2019-03-18 21:10] alculquicondor opened #3103 "OCI import doesn't support partial multi-arch images"
**Description**

Import fails when the tarball doesn't contain all the architectures of a multi-arch image.

This is analogous to a previous issue with export #2590

**Steps to reproduce the issue:**
1. `ctr images pull docker.io/library/busybox:latest`
2. `ctr images export busybox.tar docker.io/library/busybox:latest`
3. `ctr images import --base-name docker.io/library/busybox busybox.tar`

**De

[2019-03-19 02:11] fuweid commented on #3103
Hi @alculquicondor , it seems that issue has been by https://github.com/containerd/containerd/pull/2622. Could you mind to test it by latest version? Thanks!

[2019-03-19 09:54] avikivity opened #3105 "io_pgetevents is blocked by the default seccomp filter"
**Description**

The `io_pgetevents` is a new Linux system call, similar to `io_getevents`. It has the same security implications as `io_getevents`, which is allowed by the filter

**Steps to reproduce the issue:**
1. Run an application that uses `io_pgetevents`

**Describe the results you received:**

Unexpected EPERM

**Describe the results you expected:**

No EPERM

[2019-03-19 09:56] jeffwubj opened #3106 "ctr cannot pull image at 1st time while host is up"
**Description**

**Steps to reproduce the issue:**
1. start a direct boot linux in virtual machine
2. /busybox udhcpc -i eth0 -s /usr/bin/simple.script to assign IP address
3. ping registry.docker-cn.com works well
4. containerd &
5. ctr image pull registry.docker-cn.com/library/nginx:alpine

**Describe the results you received:**
elapsed: 74.8s                               total:   0.0 B (0.0 B/

[2019-03-19 13:39] alculquicondor commented on #3103
@fuweid that PR fixes export, but not import. I'm working on a PR now.

[2019-03-19 14:53] estesp commented on #3106
Is there any specific period of time required before a re-pull works? Seems generally like a potential network stack issue in your VM, as 75s is the default TCP timeout for `connect()`. Do all pulls/network connectivity work until next time you restart the VM, or can you get another failure if you restart containerd? Would be interesting to wait longer to execute steps 4 and 5 and see if your pull

[2019-03-19 15:09] jeffwubj commented on #3106
Thanks for your reply.
After first pull failed, trigger another pull immediately can success. Ping and dnsloopup can always success at first time.
I will try restart containerd tomorrow, But I tried to wait 4 mins then execute step 5 where first pull succeed after around 30 seconds or 40 seconds.

Seems dns lookup works for pull but tcp connection failed, 2nd pull will have hello client handshake

[2019-03-19 15:55] #3105 closed

[2019-03-19 16:39] bainsy88 commented on #3076
https://github.com/containerd/containerd/pull/3109 PR for this issue

[2019-03-19 16:39] bainsy88 commented on #3076
Have locally tested my change and can confirm I now see the message returned as expected.

[2019-03-19 17:29] #3103 closed

[2019-03-19 19:20] estesp opened #3110 "error pulling image from bintray.io (JFrog Artifactory)"
Attempting to pull an image from bintray.io registry (JFrog Artifactory) results in a failure when using `ctr images pull`:

[code]

Apparently JFrog's registry does not set the `Content-Length` header, or in this case it is set to the empty string? This trips [this error](https://github.com/containerd/containerd/blob/master/remotes/docker/resolver.go#L240-L249) in `remotes/docker/fetcher.go`.

Fo

[2019-03-19 21:06] estesp commented on #3110
Interestingly, this is an issue with the difference in `Accept: ` header settings between containerd and Docker client.

For Docker, or if you use curl and don't set any Accept header (or set it explicitly to ` application/vnd.docker.distribution.manifest.v1+prettyjws`) you get a v1 manifest response with `Content-Length` set properly:
**curl -vvv -H "Accept: application/vnd.docker.distribution.ma

[2019-03-20 00:50] Random-Liu commented on #3101
@lygstate Remove `cri` from the `disabled_plugins`, and restart containerd. That should help you solve the issue.

[2019-03-20 04:38] #3101 closed

[2019-03-20 13:17] estesp commented on #3110
Just FYI; I have opened a ticket with JFrog: "Ticket Received - [#101270] Docker v2 API support missing feature"

[2019-03-20 16:26] dmcgowan commented on #3100
Was this issue opened up with maintainers of the official images? The most we can do here is document that containerd will treat schema1 manifests within manifest lists just like any other unrecognized media type, but we need to make sure we do that.

[2019-03-20 16:30] tonistiigi commented on #3100
@dmcgowan https://github.com/docker-library/golang/issues/269

[2019-03-20 16:42] dprotaso commented on #2968
@dmcgowan I'm curious about the scenario where a remote snapshot doesn't exist. Would it be possible to fallback to another snapshotter?

[2019-03-20 20:41] thepwagner opened #3118 "runtime/v1/linux/proc copyPipes with sameFile race"
**Description**

In https://github.com/containerd/containerd/blob/master/runtime/v1/linux/proc/io.go#L124 , the `sameFile` variable is shared if `stdout` and `stderr` are equal.

This causes a race where one goroutine may close the descriptor before the other has finished writing to it. The error is returned from `io.CopyBuffer()` and ignored, so this failure is silent. It can be confirmed by logg

[2019-03-21 01:38] thaJeztah commented on #3118
Thanks for reporting; just to check; were you considering opening a PR to fix this?

[2019-03-21 13:53] thepwagner commented on #3118
@thaJeztah nope, sorry.

[2019-03-22 18:23] estesp opened #3121 "add annotations support to filter adaptor for images"
Minor miss of PR #3000; annotations are now part of an image descriptor, so they need to be able to be used in the filter adapters for fieldpaths.

Code [here](https://github.com/containerd/containerd/blob/master/metadata/adaptors.go#L31-L56)

[2019-03-22 19:00] tiborvass commented on #2706
I just hit this one.

[2019-03-22 21:31] estesp commented on #3121
Fixed by #3122

[2019-03-22 21:31] #3121 closed

[2019-03-22 23:05] bradfitz commented on #2943
We would also like this for https://github.com/google/crfs

[2019-03-25 10:21] sofat1989 opened #3125 "Cannot stop the container: stop timeout"
Containerd: v1.2.4
Error Message:
[code]
The container is soon OOMKilled after it is up.  The command, `crictl ps ` shows the container is running. But the container is exited
 I checked the logs of containerd, here is an error message
[code]

Here is an error
[code]
I think here should have a TaskExit event.  We cannot get the reason why the event is failed to publish. We doubt that the container

[2019-03-25 13:51] erain opened #3126 "Manifests and configs downloaded for all platforms by default"
**Description**

**Steps to reproduce the issue:**
1. `ctr images pull docker.io/library/busybox:latest`

**Describe the results you received:**
[code]

**Describe the results you expected:**

Only menifest and config for the target platform. For example, the manifest `59db9e5cc365f2f493317d3cf4847f02671fd88e9164acfbf464467df8f4cfdc` is for `ppc64le` platform and has nothing to do with the layer w

[2019-03-25 16:43] estesp commented on #3125
I don't know about the failed event publish, but Q2 has at least one fairly easy answer; if we're talking about Linux (which I assume we are), then uninterruptible sleep (e.g. in-kernel I/O) is one reason for a container process to refuse to be killed, even after the 30s delay followed by `SIGKILL`. I have seen this with containerd and the use of NFS mounted filesystems in several cases--more deta

[2019-03-25 18:44] egernst commented on #3073
@jterry75 anything we need before moving forward with implementation?  Is this something you were thinking of owning?

[2019-03-26 01:19] keyingliu commented on #3125
@estesp the container process has been killed and gone, but the containerd-shim for this container is still there. From the `ctr c ls` or `crictl ps`, the container is still in running status.
After restart containerd, the containerd-shim process disappeared.

[2019-03-26 14:15] estesp commented on #3110
This has now been fixed in bintray.io:
[code]

[2019-03-26 14:15] #3110 closed

[2019-03-26 14:19] estesp commented on #3110
Validation that this solves the `ctr images pull` issue for bintray.io:
[code]

[2019-03-26 14:24] togoetha opened #3131 "Mount error when creating container from another container"
Containerd: v1.2.4

Pulling an image using containerd.sock from inside a worker container is successful and the image shows up properly in ctr images in the root container.
When attempting to create a new container from the worker container via containerd.sock, the following error occurs:

`failed to mount /tmp/containerd-mount720817510: no such file or directory
`

I have tried mounting /tmp into

[2019-03-26 14:31] estesp commented on #3131
You may find the example and discussion in moby/buildkit#192 helpful. That example uses Docker, but is the same basic issue of having a containerd client/consumer in a different set of namespaces than the containerd daemon and UNIX socket. The design of the Go API was meant for local node use, and while many things do work, you have hit on one of the problem areas when trying to separate the Go AP

[2019-03-26 23:43] relyt0925 opened #3133 "Custom cgroup path does not work in containerd 1.2.5"
The ability to set cgroup path does not work in containerd 1.2.5

`/etc/containerd/config.toml`
[code]

I would expect the containerd shims to be created in the `/podruntime/runtime` group per usual. However, they do not and instead live under `containerd.service`

[code]

[2019-03-26 23:45] relyt0925 commented on #3133
Steps to reproduce:

1) Setup containerd to use a custom cgroup path.
2) Run containers
3) Use systemd-cgls  to view the path setup. It should be `podruntime/runtime` and not containerd.service

[2019-03-26 23:48] relyt0925 commented on #3133
Extra notes:
This works in 1.1.6

[code]

[code]

[2019-03-27 08:08] Yikun commented on #2901
It seems there were some hurdles with finding a suitable ARM CI resource to build and test `contianerd`. I had also try to run build and test of `containerd` using `drone`, and then encountered the same problem with https://github.com/containerd/containerd/issues/2901#issuecomment-453782136 due to container privileged problem. So, I think maybe what we really need is an real arm64 resource.

Fortu

[2019-03-27 13:29] Ace-Tang commented on #3133
Caused by  change in this line https://github.com/containerd/cgroups/blob/master/cgroup.go#L100
[code]
It is expected to get an error after cgroup.Load, but after the change, if the cgroup path not exist, it won't return error , so new cgroup can not created

[2019-03-28 08:22] Random-Liu commented on #3133
@crosbymichael We should fix this.

[2019-03-28 08:31] Random-Liu commented on #3125
We need to figure this out. If event publishing failed, we may want to retry, especially for `TaskExit`, which is very important in the container lifecycle handling.

If containerd doesn't receive the `TaskExit` event, it won't know the container exited.

[2019-03-28 10:21] togoetha commented on #3131
Thanks! The above gave me a few ideas and I'm working through them, but running the program as a container isn't a hard requirement. If it doesn't work out I can always fall back to that.

[2019-03-28 10:21] #3131 closed

[2019-03-28 12:31] Ace-Tang commented on #3133
The cgroup change pr is  https://github.com/containerd/cgroups/pull/63 , but it is reasonable, I think we can fix in containerd,  add a check after `cgroup.Load()`,

[code]

does this make sense ?

[2019-03-28 12:39] estesp commented on #3133
@Ace-Tang I think that would be a reasonable workaround, but I think in the long-term, `Load` returning no subsystems is probably an error case that should be handled in `containerd/cgroups` in my opinions. The cgroups PR was meant to skip missing subgroups, and none at all was an edge case that wasn't considered.

[2019-03-28 17:40] rmb938 opened #3138 "Logs spammed with TaskOOM event and ps aux freezes"
**Description**

Sometimes I have a kubernetes node that seems to not be able to terminate pods, it just hangs on the terminating state.

To force the pod delete I would ssh into the node and manually kill the pod using `crictl` commands.

However after multiple times of this happening I dug into the problem some more and it seems like running a `ps aux` hangs, it lists some processes but then sto

[2019-03-28 17:52] rmb938 commented on #3138
I found this issue that may or may not be related https://github.com/containerd/cgroups/issues/74 per the last comment it was fixed in `4.20.2-1` however I am running `4.20.10-1`.

[2019-03-28 20:20] crosbymichael commented on #3133
Please review the fix here: https://github.com/containerd/cgroups/pull/79

[2019-03-29 01:12] chenliu1993 opened #3144 "'overlay2' is not supported over overlayfs" storage-driver=overlay2 while using containerd ctr to run dind"
**Description**

This is the error output of terminal
![image](https://user-images.githubusercontent.com/13761170/55202588-fd9f5280-5202-11e9-8ebc-e81535fc9791.png)
This is the cmd:
ctr --debug run --no-pivot --privileged --rm --net-host docker.io/library/docker:dind xxx

There is always one error "'overlay2' is not supported over overlayfs" storage-driver=overlay2 ". But I can run dind using dock

[2019-03-29 01:23] lorenz opened #3145 "Containerd overlayfs snapshot driver generates duplicate mounts"
**Description**
Linux kernel reports
[code]

Both within the same millisceond.

Containerd reports two containers starting (as part of a pod) at the same time, no abnormal entries in the containerd log.

**Steps to reproduce the issue:**
Currently unknown, happens on a rather busy Kubernetes node (containerd/CRI), very rare (node chews through 100s of containers per day, seen it once). At the time

[2019-03-29 01:44] thaJeztah commented on #3144
make sure you use a mount for `/var/lib/docker` for your container (not sure if containerd attaches one automatically)

[2019-03-29 01:50] chenliu1993 commented on #3144
I am sorry but I am new to containerd. I find one directory "containerd" under /var/lib/docker. In this directory I found some containerd runtime file. But they should be produced last time I run dind using docker.  It seems not related.
![image](https://user-images.githubusercontent.com/13761170/55203851-eadb4c80-5207-11e9-8bb8-6dfe71a556a8.png)

What do you mean use a mount for this? Could you p

[2019-03-29 02:38] #3133 closed

[2019-03-29 09:37] keyingliu commented on #3125
Agree with this, there might be conditions:
1. containerd get restarted on purpose: there is time window that containerd is not there, but container process get killed for some reason (such as OOM)
2. containerd is temporary unresponsive.

[2019-04-01 07:45] ktsakalozos opened #3150 "Is there a way to set the default-ulimits?"
When using dockerd there is a way to set the default-ulimits for the containers created (https://docs.docker.com/engine/reference/commandline/dockerd/) is there something equivalent for containerd?

Apologies if this is a "bugs only" issue tracker.

Thanks

[2019-04-01 13:14] joedborg opened #3151 "/run/nvidia-persistenced/socket: no such device or address"
**Description**
Cannot start containers using `nvidia-container-runtime`

[code]

**Steps to reproduce the issue:**
1. Install `nvidia-container-runtime`.
2. Configure containerd to use the runtime.
3. Start a container that needs the runtime.

**Describe the results you received:**

Failure output above.  I've tried with `--rootfs`, but then get an error saying the image cannot be found.  Not sur

[2019-04-01 13:15] joedborg commented on #3151
Possibly related to https://github.com/containerd/containerd/issues/2412

[2019-04-01 13:18] thaJeztah commented on #3151
/cc @renaudwastaken

[2019-04-01 15:06] crosbymichael commented on #3150
No there is not. In containerd, we don't really have daemon wide settings.  We keep things per container to keep it more flexible.  There are a few daemon wide "defaults" such as what snapshotter (overlay,btrfs) to use but other than that, it is based on the configuration you pass to each individual container.

I hope this helps!

[2019-04-01 15:06] #3150 closed

[2019-04-01 18:06] RenaudWasTaken commented on #3151
[code]

Is it possible you might be double calling in the nvidia-container-cli ?

You mention above that you've configured containerd to use the runtime, but containerd's `--gpu` implementation calls into `nvidia-container-cli` directly if it finds it, there is no configuration required.
Is it possible you've configured containerd to have its default runtime point to the nvidia runtime?
In which c

[2019-04-01 19:27] mxpv commented on #2988
Merged in https://github.com/containerd/containerd/commit/e7b6fea572badfceb0596c2cb5aad9c5728944ea

[2019-04-01 19:27] #2988 closed

[2019-04-01 20:01] joedborg commented on #3151
Hey @RenaudWasTaken

I've just tried with `runc` instead of `nvidia-container-runtime` and with and without the shim.  This is my current config:

[code]

I can give you access to a test node if it'll help to debug?

[2019-04-01 20:36] #3118 closed

[2019-04-01 22:17] RenaudWasTaken commented on #3151
Yep that would definitely help!

[2019-04-01 22:20] joedborg commented on #3151
@RenaudWasTaken assuming you're in Paris (I'm in Oxford), could we sync up tomorrow?  I'm in the containerd slack channel or could organise a google hangout?

Many thanks

[2019-04-01 23:37] RenaudWasTaken commented on #3151
Ah I forgot to update my profile! I moved to santa clara :)
Sure let's sync on the slack channel :)

[2019-04-02 03:33] chenliu1993 opened #3158 "docker-in-doicker mush run in docker? what if I don't install docker but install containerd and ctr?"

[2019-04-02 05:37] dweomer commented on #3158
See [linuxkit/examples/docker.yaml](https://github.com/linuxkit/linuxkit/blob/master/examples/docker.yml) for details on running docker-in-containerd. Also, currentish versions of dockerd launch containerd so docker-in-containerd is also containerd-in-containerd.

[2019-04-02 05:52] chenliu1993 commented on #3158
What fo you mean by docker-in-containerd? Is dind can't run without docker? I built containerd from source code. what is this linuxkit? Much appreciated with your help!

[2019-04-02 14:23] AkihiroSuda commented on #3158
@chenliu1993 `ctr run --privileged --mount type=bind,src=/somewhere,dst=/var/lib/docker --mount type=cgroup,dst=/sys/fs/cgroup docker.io/library/docker:dind foo`

[2019-04-02 15:16] jeffwubj commented on #3106
Probably it does not block on network things but on random entropy. I am investigating more on this.

[2019-04-02 15:47] thaJeztah commented on #3144
oh, sorry, missed your last comment, but I see you got a reply here; https://github.com/containerd/containerd/issues/3158#issuecomment-479020472

[2019-04-02 21:42] divoxx opened #3163 "Clarification on GRPC API and pb.txt format"
I apologize if this is not the best channel for this but I think it would be good to clarify in the README, or somewhere else, what exactly is the `*.pb.txt` format in the `api/` folder.

It states that it is inline version of the API, frozen in time for a specific release. It doesn't state where that format comes from and whether its a standard or something custom. It looks like `protobuild` gene

[2019-04-02 22:18] dmcgowan commented on #3163
We should add a section to discuss what the purpose of those files are. The format isn't actually that important in the end though, these files are intended to be more informational and diffable. They are intended to prevent unintentional changes to the API by generating a format which is obvious in any diff what the API change is. Likewise the history of these files is the record of changes to th

[2019-04-02 22:34] divoxx commented on #3163
@dmcgowan by the way, related to this, it looks like the proto definitions, as generated by protobuild, doesn't work out of the box with protoc because of how it handle imports.

https://github.com/stevvooe/protobuild/issues/25

I'm sure there is probably a way to get it working but it would be great if that was also documented somewhere. It could be a single example of code generation using `prot

[2019-04-03 00:52] chenliu1993 commented on #3144
Yes,you answer also helps me a lot.

[2019-04-03 00:52] #3144 closed

[2019-04-03 00:52] chenliu1993 commented on #3158
Much appreciated !

[2019-04-03 00:53] #3158 closed

[2019-04-03 02:42] ernoaapa opened #3167 "Support for other remote implementation addition to Docker"
I saw the [CRFS](https://github.com/google/crfs) project today, and I started to wonder, is there a possibility to implement native support for it into containerd? Does containerd support multiple different source implementations for the images?

I can see that there is an interface for the remotes but only Docker implementation and few direct references directly to it (ie no way to change the imp

[2019-04-03 11:11] joedborg commented on #3151
After talking with @RenaudWasTaken last night (thanks again for the time), we've sussed the issue.

If you're just using `ctr`, then you can use the default containerd config (and leave `runc` as the runtime).

From what I understand (someone please correct me if I'm incorrect), `ctr` sees that you need GPUs and implicitly sets something so that `nvidia-container-runtime` is selected rather than `

[2019-04-03 12:26] estesp commented on #3151
Any thoughts @flx42 ?

[2019-04-03 12:27] Ace-Tang commented on #3145
@lorenz , Could you post containerd log about duplicate mounts info, it will helpful

[2019-04-03 12:35] Ace-Tang commented on #3145
`upperdir=/var/lib/containerd/io.containerd.snapshotter.v1.overlayfs/snapshots/19/fs`
the id was count by boltdb, and keep increasing

[2019-04-03 15:04] joedborg commented on #3151
I've explained it from the nvidia device plug daemonset side here https://github.com/NVIDIA/k8s-device-plugin/issues/107

[2019-04-03 15:08] lorenz commented on #3145
Sorry, I totally forgot to add logs. This is from 500ms around the kernel event, so this most likely caused the issues:

[code]

[2019-04-03 17:29] RenaudWasTaken commented on #3151
So this works as intended

So runc doesn't change in this case, containerd will add a prestart hook in the OCI spec which will invoke the nvidia-container-cli. This is the intended path.

This also works as intended as kubernetes doesn't pass down the `--gpu` option, we'll be working on this pretty soon.
The problem here is that GPU support in kubernetes still relies on the "old" way to do things,

[2019-04-03 17:30] RenaudWasTaken commented on #3151
In any case, I think we can probably close this issue :)

[2019-04-03 17:49] joedborg commented on #3151
I agree, it'll be a good reference if anyone else falls into the gotcha.

Thanks for all the time you've spent helping with the issue.

[2019-04-03 17:49] #3151 closed

[2019-04-03 19:52] crosbymichael commented on #3106
I don't think the service file has the requires networking to be up.  we should add that and this should fix it I think

[2019-04-04 00:27] Random-Liu commented on #3073
@crosbymichael Are you OK with this?

When actually trying to config a v2 runtime in a containerd systemd service, I found that assuming shim in path not very convenient.

Using `Environment="PATH=xxx"` makes me worry that I may lose some system default PATH. I think explicitly config shim path in containerd config makes people more confortable.

[2019-04-04 01:43] Random-Liu commented on #3073
NVM, I found that we also support `side by side` as is mentioned in https://github.com/containerd/containerd/issues/3073#issuecomment-470237888, which seems good enough to me.

[2019-04-04 08:23] ehotinger commented on #3167
Check out https://github.com/containerd/containerd/issues/2943 and https://github.com/containerd/containerd/issues/2968 - probably more relevant to your interests than the remotes.

[2019-04-04 14:54] egernst commented on #3073
augmenting side by side as @jterry75 described would be a lot more useful to me, and is the request.  WDYT of his proposal, @Random-Liu @crosbymichael

[2019-04-04 17:36] crosbymichael commented on #3073
@jterry75 's approach works for me

[2019-04-04 21:34] Random-Liu opened #3177 "Containers can't be stopped because TaskExit event failed to be published for runc.v2."
In the cri plugin, we enabled per-pod shim this week. https://github.com/containerd/cri/pull/1116

After that we start seeing stop container timeout failure in all the high density benchmark test "105 pods per node". https://k8s-testgrid.appspot.com/sig-node-containerd#node-e2e-benchmark

Here is the containerd log for one for the containers `0c88fdd8abb9d3896544a8a2c453767845c1f6e5eede276cdff6c5c

[2019-04-05 14:10] ehotinger commented on #3060
Update: https://github.com/golangci/golangci-lint/issues/414 was fixed so containerd can be switched without any other issues.

[2019-04-05 19:39] crosbymichael commented on #3060
Go ahead and submit a PR for this

[2019-04-05 21:35] pinacoelho commented on #3027
yum upgrade brough the following along:
containerd.io.x86_64                   1.2.5-3.1.el7           @docker-ce-stable
docker-ce.x86_64                       3:18.09.4-3.el7         @docker-ce-stable
docker-ce-cli.x86_64                   1:18.09.4-3.el7         @docker-ce-stable
kernel.x86_64                          3.10.0-957.10.1.el7     @RHEL-76-x86_64-updates

The runc included in containe

[2019-04-05 21:41] divoxx commented on #3163
For reference, I was able to compile the proto files running protoc from this project's root folder and with the following options:

[code]

I also needed to have the necessary repositories in my GOPATH:

[code]

In case this is helpful to anyone else.

[2019-04-05 23:47] ehotinger commented on #3060
@crosbymichael go vet errors on master:

[code]

[2019-04-06 01:32] Random-Liu commented on #3177
There is no error output at all:
[code]

So it is most likely that the publish process is killed. However there is no oom kill event in the kernel log, so I think it is most likely that it just hits the timeout https://github.com/containerd/containerd/blob/master/runtime/v2/runc/v2/service.go#L695.

We don't have this issue before because we don't have this timeout in v1 shim https://github.com/co

[2019-04-08 06:45] nixun commented on #2988
Perfect job, well done

[2019-04-08 11:14] sofat1989 commented on #3125
@Random-Liu We reproduced this issue. The error message from stderr is
[code]
stdout is empty
the exit code is `1`

[2019-04-08 11:42] jeffwubj commented on #3106
I have changed rand.go from using random to urandom then there is no block. urandom is less secure but that's ok on my side for now.

[2019-04-08 14:18] pinacoelho commented on #3027
Given that there is a working fallback and that it's already pushed through to the repositories, I'm closing this issue.

Thanks!

[2019-04-08 14:18] #3027 closed

[2019-04-08 16:00] Random-Liu commented on #3125
@sofat1989 IIRC, If containerd is down at that time, it is fine, because when containerd restarts, it will recover the correct container state by querying the latest state from shims.

However, if containerd is runing, but event publish fails, containerd will never know the container exits, in this case we need to do something.

[2019-04-08 17:57] crosbymichael commented on #3177
I'm looking into this today

[2019-04-08 18:28] Random-Liu commented on #3177
@crosbymichael If you have an idea to reliably generate TaskExit event in all cases, I'll not add relist on the cri plugin side. However, I feel like that hard, because in some extreme cases, blocking or constantly retrying means filling the event channel and block the shim.

Maybe we can add some enhancement in the shim side, to avoid losing event as much as possible, e.g. limited retry, because

[2019-04-08 19:15] crosbymichael commented on #3177
@Random-Liu Events have always been best effort.  Most event systems don't have many guarantees because of the nature of events, especially requeue when it comes to event order.

I think for exits, you should rely on the Wait() api in containerd and then Delete() to get the exit status and time.

[2019-04-08 23:55] Random-Liu opened #3196 "Should we add Stability guarantee for config options in RELEASES.md?"
We planned to add something based on [Kubernetes deprecation
policy of "admin-facing CLI components"](https://kubernetes.io/docs/reference/using-api/deprecation-policy/#deprecating-a-flag-or-cli) in the CRI plugin. https://github.com/containerd/cri/blob/633ca7f619bb72c78e98365805e892b0f1b57327/docs/config.md#deprecation
[code]

We should probably add a similar policy in RELEASES.md, so that we can

[2019-04-09 04:34] #3089 closed

[2019-04-09 04:45] danishprakash commented on #2767
Is this stale?

[2019-04-09 04:47] AkihiroSuda commented on #2767
PR is always welcome

[2019-04-10 01:01] Random-Liu opened #3198 "runc.v1 and runc.v2 doesn't support `ShimCgroup`"
**Description**

runc.v1 and runc.v2 doesn't support `ShimCgroup` yet.

This is fine for the `CRI` plugin for now, because we haven't put shim into the pod cgroup yet https://github.com/containerd/cri/issues/217.

But it is still worth an issue to note this down.

[2019-04-10 02:03] Random-Liu opened #3199 "runc.v1 and runc.v2 doesn't cleanup containers after shim dies unexpectedly."
## Shim V1
[code]

And containerd log:
[code]

## Shim V2
[code]

In shim v1, we do cleanup after containerd-shim process exits https://github.com/containerd/containerd/blob/master/runtime/v1/shim/client/client.go#L98.

In shim v2, `shim start` is a short running process that we can't rely on. However, we can probably cleanup based on ttrpc connection, basically putting the cleanup logic in `clien

[2019-04-10 02:39] jmillikin-stripe opened #6637 "Please support dynamic AuthConfig (needed to pull sandbox from Amazon ECR)"
The static AuthConfig added in PR https://github.com/containerd/cri/pull/838 doesn't work well for Amazon ECR, which uses a short-lived token for registry authentication. We pull all containers from ECR to reduce the impact of bad network weather, so this missing feature is currently a blocker for migrating from dockershim to containerd-cri.

Docker's credential configuration supports running a se

[2019-04-10 07:42] Random-Liu opened #3200 "runc.v1 and runc.v2 are reparented to pid 1."
The actual runc.v1 and runc.v2 processes are spawned by `shim start` process (subreaper).

And after started, `shim start` exits, the actual shim process will be reparented to pid 1.

Is this what we want?

With runc.v1:
[code]

With shim v1:
[code]

[2019-04-10 07:42] Random-Liu commented on #3200
/cc @crosbymichael

[2019-04-10 08:12] Random-Liu commented on #3199
I'll work on a fix for this.

[2019-04-10 13:17] crosbymichael commented on #3200
Yes, this is how it should work.  We want to decouple and reparent as shims should survive when containerd goes down.

[2019-04-10 13:17] #3200 closed

[2019-04-10 13:17] crosbymichael commented on #3198
I'll fix this.

[2019-04-10 14:34] zaa opened #3201 "systemd's service unit should set LimitNOFILE to 1048576 like docker does"
**Description**

I've just checked the limit on the max number of opened files for the `containerd` process on recent version of Container Optimized OS and saw that the process has the limit set to 65536.
I believe it should be set to 1048576 like docker does right now: https://github.com/moby/moby/commit/428d7337e808ec5f4dba1b0aceda002f295cc320

**Steps to reproduce the issue:**

[code]

**Descri

[2019-04-10 14:42] zaa commented on #3201
I've solved the issue locally by creating a service override for now:

[code]

[2019-04-10 15:38] crosbymichael commented on #3201
Does `infinity` not work anymore?

[2019-04-10 16:00] zaa commented on #3201
Looks like nope, it does not. moby/moby@428d733  references https://stackoverflow.com/questions/1212925/on-linux-set-maximum-open-files-to-unlimited-possible/1213069#1213069 which has more info.

[2019-04-10 17:34] Random-Liu opened #3203 "No Event Published from runc.v1 and runc.v2"
This starts happening after https://github.com/containerd/containerd/pull/3195.

It seems that this completely broke the containerd Kubernetes e2e test:
* https://k8s-testgrid.appspot.com/sig-node-containerd#containerd-node-e2e
* https://k8s-testgrid.appspot.com/sig-node-containerd#containerd-node-e2e-features
* https://k8s-testgrid.appspot.com/sig-node-containerd#containerd-e2e-gci
* https://k8s-

[2019-04-11 18:46] #3203 closed

[2019-04-11 18:47] #3201 closed

[2019-04-11 21:00] dweomer commented on #2576
@dfawley I got around to testing containerd with the latest grpc last weekend and can verify that grpc/grpc-go#2276 does immediately return when you client does not have permissions to the socket but it still hangs if the socket doesn't exist.

[2019-04-11 21:46] dfawley commented on #2576
@dweomer - based on what you said, my guess is that the underlying `net.Dial` call is timing out when the socket does not exist.  Our connection logic considers timeouts as temporary errors.  To override this behavior, you could do the following:

In your custom dialer (I think you must be using a custom dialer via `grpc.WithDialer` to connect to unix sockets, right?): if you get a timeout error f

[2019-04-12 04:39] jcordasc opened #3210 "Plugin ID uniqueness not enforced at registration"
**Description**

Plugin registration does not enforce uniqueness of plugin IDs. This leads to an issue when attempting to disable plugins because when `plugin.Graph` loops through the registered plugins to match against the disabled list, it only removes the first plugin with a given ID (presumably on the assumption of uniqueness of plugin IDs).

I'm opening this issue to:
1. have a place to discu

[2019-04-12 05:01] jcordasc opened #3212 "Problem vendoring non-rc v1.2.x of containerd/services/server due to broken import path"
**Description**

When working to embed containerd as demonstrated in the initial post in #1615, the dependency resolution (admittedly, using `dep`) resolved v1.2.0-rc2 as the latest possible version. After further investigation this is due to the following import statement in `services/server/server_solaris.go`:

[code]

which should be:

[code]

The current statement is missing `services/`.

**St

[2019-04-12 07:43] Random-Liu commented on #3210
The plugin URI should be unique in this case https://github.com/containerd/containerd/blob/master/services/server/server.go#L130.

Maybe we should use plugin URI instead? We may want to keep the required plugin consistent https://github.com/containerd/containerd/pull/3197

[2019-04-12 08:10] Random-Liu commented on #3210
Hm, but we do [use ID to find plugin config](https://github.com/containerd/containerd/blob/master/services/server/config/config.go#L134), so it seems that we do assume ID is unique.

[2019-04-12 16:54] #3177 closed

[2019-04-13 12:05] chenliu1993 opened #3214 "ctr pull image failed"
**Description**

I was pulling kindest/base image from docker.io through ”ctr images pull docker.io/library/kindest/base:tags" But one error returned :"
![image](https://user-images.githubusercontent.com/13761170/56079421-d1045100-5e26-11e9-8833-7d527b68cec9.png)
I checked the code. This error was one ErrUnAuthorizationInvalid Exception.
I notice that kindest/base labeled "cummunity“ from the dock

[2019-04-15 02:14] chenliu1993 commented on #3214
command should be ctr images pull docker.io/kindest/base:tags

[2019-04-15 02:14] #3214 closed

[2019-04-16 19:32] #3212 closed

[2019-04-17 13:41] nmiculinic opened #3221 "sysfs mounted as ro in privileged container (( should be rw ))"
Containerd doesn't mount sysfs as rw despite container being privileged. In the inspect it's correctly specified as rw, yet I cannot see it when running `mount` command within the container.

**Steps to reproduce the issue:**
1. Apply pod yaml as specified later
2. See the container has sysfs mounted as read-only despite being privileged

**Describe the results you received:**

sysfs mounted as ro

[2019-04-17 23:08] tonistiigi opened #3225 "platforms.DefaultString does not return normalized value on arm64"
[code]

My thinking is that `Format` should just always call `Normalize` first. And `Parse` should also only return normalized values.

cc @chendave

[2019-04-18 05:32] AkihiroSuda commented on #3221
Is this a recent regression?

cc @Random-Liu @mikebrow

[2019-04-18 05:34] Random-Liu commented on #3221
No, this is a long standing issue, even in docker.

I don’t think we do anything wrong in containerd. It is likely a bug in kernel or runc.

[2019-04-18 06:10] nmiculinic commented on #3221
I see; I found bug reports mostly from 2015 thus I thought it was fixed by now. Are there any known workarounds?

[2019-04-18 06:26] AkihiroSuda commented on #3221
Is this specific to dockershim?
I don't think this had been an issue in non-kube docker in the last couple of years.

[2019-04-18 06:46] ffactory-ofcl commented on #2329
How did you update your iproute2 past 4.09? It's the most recent version available for my system without going to testing like here: https://packages.qa.debian.org/i/iproute2.html or building from `[source](https://mirrors.edge.kernel.org/pub/linux/utils/net/iproute2/)`.
Is there a safe and easy way to update to 4.13?

[2019-04-18 06:59] Random-Liu commented on #3221
I've only seen it in Kubernetes + docker indeed.
https://github.com/moby/moby/issues/24000 IIRC, it is a node condition, and once the node goes into this condition creating any privileged container will only have `ro` sysfs. See

If you take a look at the OCI runtime spec above, we actually set the sysfs mount correctly:
[code]

[2019-04-18 07:23] Random-Liu commented on #3210
I think we may want to finalize this in 1.3, or else it will be even harder to change in the future.

[2019-04-18 07:57] Ace-Tang opened #3227 "continuous-integration/appveyor/pr fails recently"
**Description**
![image](https://user-images.githubusercontent.com/10334997/56345477-64a49b80-61f2-11e9-9b83-d8dd50f00122.png)

I saw recent prs `continuous-integration/appveyor/pr`  ci  test all fails, and stuck in
[code]
test can not start

[2019-04-18 07:58] thaJeztah commented on #3227
See https://github.com/containerd/containerd/pull/3222

[2019-04-18 15:08] #3227 closed

[2019-04-18 18:17] Random-Liu commented on #3125
This should be fixed by containerd/cri#1133 and https://github.com/containerd/cri/pull/1136

Close for now. Feel free to reopen if you encounter this issue again after next containerd upgrade.

[2019-04-18 18:17] #3125 closed

[2019-04-19 05:23] andrewrynhard opened #3232 "Running containerd in a build container"
**Description**
I have a use case for running `containerd` in a build container for unit tests. In [talos](https://github.com/talos-systems/talos) we make use of `containerd` for creating containers. We would like to test this functionality, and we do so today by first building a container and then `docker run`ning  it. The reason we do this is because we get `operation not permitted` when attempt

[2019-04-19 05:43] AkihiroSuda commented on #3232
As you already noticed this will be possible with `security.unconfined` https://github.com/moby/buildkit/issues/950 , but I suggest using nested LLB instead

https://github.com/moby/buildkit/blob/master/examples/nested-llb/main.go

[2019-04-19 12:16] martmists opened #3234 "Prevent containerd from creating `cni0` device"
Currently we are using nginx on a server as reverse proxy, and k3s to manage one of many servers.

When running k3s, containerd creates a cni0 network device which overrides IPv4 access over nginx, which makes all web requests fail.

Please disable this feature, as this seems to be an unintended side effect.

[2019-04-19 17:45] jburks725 opened #3236 "Unable to pull DockerHub "library" images from Artifactory mirror with CRI plugin"
**Description**

We run an internal Artifactory 6.5.15 mirror for several Docker registries. We are able to successfully pull from these mirrors using the CRI plugin mirror configuration for everything except the DockerHub mirror for _library_ images. Other mirrors appear to work, as do DockerHub images that are outside the _library_.

I'd like some suggestions on how to effectively troubleshoot t

[2019-04-19 17:46] jburks725 commented on #3236
[containerd_log.txt](https://github.com/containerd/containerd/files/3098890/containerd_log.txt)

[2019-04-19 17:54] jburks725 commented on #3236
I also tried the direct image links with `ctr` and see similar results:

[code]

[code]

`docker pull` and `crictl` with CRI-O for the _library_ images seems to work fine, so this appears to be `containerd` specific.

[2019-04-19 18:11] estesp commented on #3234
I think this would be something to discuss with the k3s community, as containerd doesn't have a default CNI configuration--if you install it for Kubernetes, for example, it is up to the install/configure script/agent/person to determine the default CNI setup. Even when used with our CRI plugin enabled underneath Kubernetes, I don't think that code specifically creates a `cni0` unless the plugin co

[2019-04-23 08:00] wilmardo commented on #2901
@estesp @Yikun @stevvooe @vielmetti Is there some progress outside of this PR? I would love to redeploy my Rock64 cluster with containerd and provide feedback!

[2019-04-23 13:24] renzhengeek commented on #2988
@mxpv Hi,

Sorry to disturbing. Do you have trouble in running unit test?

go test -test.root -run "TestSnapshotterSuite" always failed with this error:
[code]

The problem seems caused by `go test` running the test in parallels.

After disabling the parallel, the testing can succeed without failures：

# go test -test.root -run "TestSnapshotterSuite" -parallel 1
[code]

Do you know this problem? I

[2019-04-23 17:26] mxpv commented on #2988
@renzhengeek hey, I just ran containerd's `master` and the tests are succeeded on Ubuntu 18. Can you share what environment are you running on? I'll try to reproduce this. Another option would be just to retry the command.

[2019-04-24 02:04] renzhengeek commented on #2988
Hi, thanks for your reply!

OS:
[code]

go:
[code]

code is containerd's `master`:
[code]

It can be reproduced every time as follows:
[code]

**Note**: the `/dev/loop0` is used as both metadata dev and data dev. My guess is, when running in parallel, losetup  doesn't not work as expected: one losetup is creating loopx, while another is about to destroy loopx, like that.

Another failure is like:

[2019-04-24 19:16] trumpetlicks commented on #2202
I have to admit, I wouldnt mind seeing this re-opened just as I am having the same problem, with exactly the same output from jounalctl

This problem seems intermittent, where sometimes the software within the docker runs for hours before being forcefully restarted, and others less than 1/2 hour.  @yohiram - did you ever find an answer, or any better understanding of what is going on?

[2019-04-24 19:21] trumpetlicks commented on #2202
I have to admit, I wouldnt mind seeing this re-opened just as I am having the same problem, with exactly the same output from jounalctl

This problem seems intermittent, where sometimes the software within the docker runs for hours before being forcefully restarted, and others less than 1/2 hour. @yohiram - did you ever find an answer, or any better understanding of what is going on?

[2019-04-25 05:23] msg555 opened #3238 "Resolver requires optional Docker-Content-Digest"
Referring to the code at https://github.com/containerd/containerd/blob/2d780a7a60eee7d4314ebc230927b1dc8295bc04/remotes/docker/resolver.go#L227

From my reading of the registry API spec (https://docs.docker.com/registry/spec/api/#content-digests) it appears that the Docker-Content-Digest header is optional.

Therefore it feels like this should not be required from the registry.

In particular the

[2019-04-25 07:03] Yikun commented on #2901
@wilmardo For now, The support for containerd arm64 build has been added the OpenLab, there are two way to trigger:

1. [**Periodic  job**](http://status.openlabtesting.org/builds?job_name=envoy-build-arm64): The periodic job had been enabled, now you can see the periodic `containerd-build-arm64` job for `containerd/containerd` in [OpenLab dashboard](http://status.openlabtesting.org/builds?job_nam

[2019-04-25 12:17] dims commented on #2901
@Yikun please add a WIP PR to show what the `move the job from theopenlab/containerd into containerd/containerd officially` would look like.

[2019-04-26 02:09] Yikun commented on #2901
@dims thanks for your suggestion. the WIP PR is here: https://github.com/containerd/containerd/pull/3242

[2019-04-26 23:47] Random-Liu commented on #3210
Given that we've been using plugin ID for `config`, `disabled_plugins` and `required_plugins`, I feel like enforcing uniqueness of plugin ID seems to be an easier solution to this problem.

We should probably:
1) Enforce the ID uniqueness during containerd start up;
2) Fix duplicated plugin ID `content`. #3211

[2019-04-27 02:41] msg555 commented on #3238
I looked into this and was able to make a patch that addressed the digest calculation issue. Unfortunately the redhat docker registry doesn't seem to support pulling the digest by its content hash rendering the manifest digest pretty useless for this registry. Either way I'll update put up a PR with the change.

This is the mitmproxy output I get when trying to use this registry from buildkit (wit

[2019-05-01 04:48] BenTheElder opened #3258 "feature request: import images without unpacking using ctr"
👋 First off, thanks for all the awesome work on containerd!

### Feature Request

I'd like to add the ability to call [Import](https://github.com/containerd/containerd/blob/master/import.go#L80) from the `ctr` command line **without** calling [Unpack](https://godoc.org/github.com/containerd/containerd#Image).
Specifically I'd like to add a `--no-unpack` option to `ctr images load`, in which case t

[2019-05-03 11:33] nmiculinic commented on #3221
I've not only restarted the node, but reinstalled everything from zero. For some reason, the issue persists.

Temp workaround is bind-mounting `/sys:/sys` via:

[code]

[2019-05-03 18:04] Random-Liu commented on #3258
I think this is a trivial change that will benefit several tools built on top of containerd, at least kind. :)

And it makes sense to only preload content, because people may later choose to use different snapshot.

[2019-05-06 18:54] jcordasc commented on #3210
If the approach is to simply enforce uniqueness, and if no one else is already working on this, I'd be happy to take a pass at a PR to do this.

@Random-Liu, @crosbymichael - should I move forward with this, or do we need more discussion on the approach?

[2019-05-07 17:08] crosbymichael commented on #3236
ping @AkihiroSuda @dmcgowan

[2019-05-07 21:10] #3238 closed

[2019-05-07 21:20] estesp commented on #3258
Fixed in #3259

[2019-05-07 21:20] #3258 closed

[2019-05-07 21:29] estesp commented on #3236
I wonder if there is a non-rooted regex match on `docker.io/library` somewhere because from the log it would appear it is not talking to artifactory mirror, but back to DockerHub itself:
[code]

specifically: **no available registry endpoint: failed to do request: Head https://registry-1.docker.io/v2/library/al...**

[2019-05-08 18:22] jcaamano commented on #2133
arm64 variant matching still not working correctly. #2417 normalizes it to an empty variant but when the manifest only specifies os or arch /https://github.com/containerd/containerd/blob/master/platforms/platforms.go#L182) or both (https://github.com/containerd/containerd/blob/master/platforms/platforms.go#L210) is not handled as when os, arch and variant are specified (https://github.com/containe

[2019-05-09 03:52] lifupan opened #3268 "file descriptor leaks in containerd"
**Description**

File descriptor leaks in containerd:

fupan@fupan:~/go/src/github.com/kata-containers/tests$ sudo ls /proc/88659/fd  -l | grep log
l--------- 1 root root 64 May  8 23:46 10 -> /run/containerd/io.containerd.runtime.v2.task/k8s.io/ae24f989962e14a2af7d4f1efb21a6f66c784335ce75fac1f19aac0ca67ba152/log
l--------- 1 root root 64 May  8 23:46 100 -> /run/containerd/io.containerd.runtime.v

[2019-05-09 05:58] #3268 closed

[2019-05-09 06:39] Random-Liu commented on #3236
It works for me with the following config:
[code]

I checked your containerd log. I think containerd does try to get the image from `artifactory-dockerhub.cloud.mycompany.com`, but got an `Unauthorized` error:
[code]

[2019-05-09 06:53] Random-Liu commented on #3236
In containerd, when pulling image, we try mirrors one by one in order, and if none of the mirrors works, we try to pull the image without mirror directly.

See the logic here. https://github.com/containerd/cri/blob/master/pkg/server/image_pull.go#L251

I think in you case, containerd should have tried `artifactory-dockerhub.cloud.mycompany.com`, but didn't get through. So it tried to pull `docker.

[2019-05-09 11:21] jcaamano commented on #2133
Ok I found my issue. I am running on an armv8 cpu & kernel with armhf user land which is probably uncommon (but I think it also happened at some point with raspbian on pi3). On top of that I am running an old kernel, 3.14 with quite some backports more than probably.

First of all, cpu info is reporting different values from cpu architecture if I run containerd in armhf (Cpu architecture: 8) vs ar

[2019-05-10 18:56] #3199 closed

[2019-05-11 20:55] towolf commented on #3236
For me it also works. We've been using this for a while. Similar config to Random-Liu.

[2019-05-13 03:48] Yikun opened #3277 "Enable the OpenLab CI in containerd"
The OpenLab CI configuration has been approved in https://github.com/containerd/containerd/pull/3242 [1], there is only one step to enable the OpenLab CI in containerd project.

Here is the link to install the OpenLab APP [2]:
https://github.com/apps/theopenlab-ci

Note that the OpenLab CI github APP only require basic permissions to update check status and commit test result log URL in PR comment

[2019-05-13 03:49] Yikun commented on #3277
cc @estesp @crosbymichael

[2019-05-13 15:31] estesp commented on #3277
Looks like we have it enabled; first run was not so great because it looks like the setup timed out trying to get the golang tarball :) See #3278 for [status output](https://logs.openlabtesting.org/logs/78/3278/a6a888cb5ec650de03781bbd8fcd7e67b5e124c7/check/containerd-build-arm64/5cd8fe2/).

Of course, not an issue as it's non-voting, and we have our own issues with Travis CI and temporary failure

[2019-05-13 16:03] estesp commented on #3277
Ok, I think we are in good shape: "containerd-build-arm64 : SUCCESS in 7m 56s (non-voting)"

Closing this issue as setup is complete and operating on all new PRs.

[2019-05-13 16:03] #3277 closed

[2019-05-13 22:19] jstarks opened #3281 "LCOW: should not hard code "amd64" architecture"
Docker on Windows supports arm, but various LCOW-related *_windows.go files in containerd hard code "amd64" instead of using runtime.GOARCH (or better, using DefaultSpec() and replacing the OS with "linux").

Related to this, it looks like devmapper also hardcodes "amd64" as the architecture.

@jterry75

[2019-05-14 07:34] ZeroMagic opened #3284 "Proposal: Add stability info of containerd and underlying runtimes"
## Motivations
Currently, containerd provides the resources stats. It does not provide the stability info of containerd and runtime. Maybe the operator can get them from the log and diagnose the troubles. But they are still unable to diagnose and handle it in time. After adding stability info, the stability and observability will be improved. What's more, it will help us to increase productivity a

[2019-05-14 13:20] rmb938 commented on #3138
Just an update. It seemed to be due to a bug in thanos https://github.com/improbable-eng/thanos I've since updated that and I haven't had this issue since.

[2019-05-14 13:20] #3138 closed

[2019-05-14 15:33] crosbymichael commented on #3284
This sounds like a good idea but I'm courious how you will determine the "stability" of a plugin, like the task service or shims?  What type of metrics will you collect to say that something is stable or healthy?

[2019-05-14 15:45] Ace-Tang opened #3285 "Refactor code in runtime v1/v2"
Current we get two version runtime in containerd, runtime v1 and v2, v2 also has two version, name them as v2-v1 and v2-v2.

Although runtime v1 will be deprecated, but it still need some time, I want say that many code in two version runtime is repeat,  like shim reaper part, `runtime/v1/shim/reaper.go` `runtime/v2/shim/reaper_unix.go`, they two just named different. And runtime v2 calls `proc` c

[2019-05-14 15:59] kkgahlot opened #3286 "docker exec hang if earlier docker exec left a zombie process"
---------------------------------------------------
BUG REPORT INFORMATION
---------------------------------------------------
**Description**

If a process is run inside a docker container via `docker exec` and that process leaves a zombie process then further `docker exec` commands to that container will hang. I believe the issue is in `containerd` based on reading about other issues in this rep

[2019-05-14 19:43] crosbymichael commented on #3285
I think we should atleast move the `linux/proc` code into the runtime root pkg and start organizing the code first before changing names of components

[2019-05-14 22:37] Random-Liu commented on #3284
1) How do you define a plugin is stable or health? Can you give an example?
2) Which part of this needs to be built-in containerd?
  * I feel like overall it is good to expose more metrics from containerd, which improves observability and debuggability.
  * But I'm not sure whether containerd itself could make a judgement that whether a plugin or itself is healthy or not. That seems to be the resp

[2019-05-15 03:40] allencloud commented on #3284
I am on the value of this proposal. While I am also have some questions on it.

* The goal is to provide high reliability of containerd. To achieve this, we have some ways. But here in your proposal, we may need to proven that adding stability info in containerd/runtime is a correct and better one.
* Like what Michael and Liu said, definition of stability is the first thing we make clear before ki

[2019-05-15 11:36] ZeroMagic commented on #3284
@crosbymichael @Random-Liu @allencloud

Maybe what I declared was not precise. The plugin is like plugin.TaskMonitorPlugin. It will collect stability information periodically. In addition, we just need to create a new plugin without changes in shim. So I delete the relevant description above.

For containerd, we can calculate the ratio of creating container successfully. If the ratio is lower than

[2019-05-15 16:43] huapox commented on #3068
SameIssue

[2019-05-16 07:41] chenliu1993 opened #3287 "Cgroup dir under /sys/fs/cgroup in container"
**Description**

Hi, I am using ctr to run kubernetes-in-docker(kindest/node) image. As long as the container is up, I need to setup some containers like apiserver and etcd inside the node container. But from the journal -xeu I can see there is one error message:"
**Error response from daemon: cgroups: cgroup deleted: unknown**
"
I notice that under the /sys/fs/cgroup in the node container, there

[2019-05-16 08:05] chenliu1993 commented on #3287
may not be a containerd issue. closing...

[2019-05-16 08:05] #3287 closed

[2019-05-16 20:33] crosbymichael commented on #3284
So I agree that we should export these metrics and status information via the metrics API but I'm not sure it's containerd's job to tell you if these things are "healthy" or not.  I have never been a fan of software that health-checks itself.  I believe it is the responsibility of a third party to health check containerd and it's services.  We should just provide the information.

[2019-05-16 20:35] Random-Liu commented on #3284
Same. :)

[2019-05-17 06:57] ZeroMagic commented on #3284
Ok. Thanks for your advice. I think you are right. We should just export the metrics. Then let another software health check containerd and its services, such as NPD.
Later I will list the metrics.

[2019-05-18 21:25] kfox1111 opened #3289 "config.d"
Please add a magic directory at /etc/containerd/config.d where you can put things like config.toml documents so that extra runtimes like kata or configuration management tools can dump in extra runtime configs without having to hack up the main config.toml.

[2019-05-20 07:58] ZeroMagic commented on #3284
Here are the metrics mentioned above. We will continue to add the useful metrics.

| Metrics Name                    | Description                                                  |
| ------------------------------- | ------------------------------------------------------------ |
| container_create_successfully   | the amount of creating containers successfully               |
| container_create_u

[2019-05-20 13:03] csantanapr opened #3291 "containerd can't pull image from Github Docker Package Registry"
Using the new [github docker registry](https://github.com/features/package-registry) containerd kubernetes can't pull image but using docker engine based k8s works fine.

**Steps to reproduce the issue:**
1. Create a secret with github docker registry token
Follow instructions here:
https://help.github.com/en/articles/configuring-docker-for-use-with-github-package-registry#authenticating-to-github

[2019-05-20 13:04] csantanapr commented on #3291
@estesp ^^ this is the issue I ping you today at KubeCon

[2019-05-20 14:31] AkihiroSuda commented on #3291
Does `ctr --debug pull` shows interesting log?

[2019-05-20 17:46] Random-Liu commented on #3289
This is a good idea, and this makes it much easier for vendors to reconfigure containerd.

[2019-05-20 17:52] crosbymichael commented on #3284
How do you determine if a container was  `create_successfully` ?  What about user errors?  process not found, mount not found because it does not exist?

[2019-05-20 17:53] crosbymichael commented on #3284
btw, we already have open FD, they are part of prometheus's default metrics

[2019-05-20 17:55] kfox1111 commented on #3289
I'd like to, but I currently do not have time for this I'm afraid.

[2019-05-20 17:57] Random-Liu commented on #3291
I initially thought that this might be because that you have 4 fields in the image name, but it turns out that containerd handles that fine:
[code]

Can you enable debug and paste the containerd log here?

[2019-05-20 18:36] dmcgowan commented on #3291
Figuring this out will likely require an HTTP capture. Often registries only implement the subset of the specification used by the Docker engine, not working with some other clients. Usually I need to see how the registry is responding to specific API endpoints to figure out what is not working correctly, this is common with many registries, especially newer implementations.

[2019-05-21 07:49] ZeroMagic commented on #3284
We can classify what you said as `create_unsuccessfully`. As long as the creating action failed, we will count. If there are many user errors, maybe someone is attacking us. Then we need to do some defense. Or maybe someone is inappropriate to use containerd. Then we need to alert him. If `process not found, mount not found because it does not exist` appears in large numbers, maybe there is a prob

[2019-05-21 15:13] csantanapr commented on #3291
I'm not very familiar on how to configure and run `ctr/crictl` on my osx to setup the auth and pull the image.
if you have a simple way to do it or I can share my github docker registry token and you can try pulling my image, I can send my credentials via email to you @Random-Liu  @dmcgowan

[2019-05-21 16:35] crosbymichael commented on #3284
I think you should look at the existing metrics as you can get a lot of this information from there as well as the grpc histogram data

https://gist.github.com/60245f0914291518b4f5e5ac72cd61b4

[2019-05-21 18:00] Random-Liu commented on #3291
@csantanapr If possible, that would be helpful for us to debug. :)

[2019-05-21 18:12] cpuguy83 commented on #3291
I'm pinging someone from github to see if they can help as well.

[2019-05-21 18:20] csantanapr commented on #3291
@Random-Liu sent you my registry auth via DM on Slack.

[2019-05-21 18:42] Phanatic commented on #3291
Hi, I'm the Engineering Lead on GitHub Package Registry and am investigating this.
From what I can tell, there's a request coming in for the `docker/knative-samples_helloworld-go:latest` Docker Image, but it doesn't have any credentials associated with it.
If you notice the `user` value in this logline 👇
[code]

Maybe the `regcred` secret in the kube config is not being used when pulling the image

[2019-05-21 18:45] dmcgowan commented on #3291
@Phanatic I would be happy to go over the registry API and how containerd client is using it.

The package registry is only returning 401 on the `/v2` "ping" endpoint. This endpoint will be removed from future version of Docker. The expected use of the API is that 401 is returned by any endpoint which requires authorization. When an endpoint returns 404 when no auth is provided, then the client wi

[2019-05-21 18:54] Phanatic commented on #3291
Interesting, thanks for the context @dmcgowan !

This behavior is consistent with DockerHub's registry APIs,

[code]

Is there a change required here for GitHub Docker Registry to work with containerd?

Re: 👇

I think I see the disconnect here, please correct me if I'm wrong, the containerd `image pull` flow doesn't provide credentials on first try, instead it tries first without credentials and i

[2019-05-21 18:59] dmcgowan commented on #3291
No credentials are provided until a 401 is received from a registry informing containerd what type of `Authorization` is expected. This could be `basic` or `bearer`.

`containerd` does not every contact `https://registry-1.docker.io/v2/` as this endpoint provides no purpose to the overall registry flow. This endpoint was originally put in place to distinguish a v2 registry from a v1 registry index

[2019-05-21 19:09] Phanatic commented on #3291
alright, that was the 🔑 , I know how to fix this in GitHub Docker Registry 😄

I'll start working on a fix and comment on this thread when I have the fix deployed to production.

Thank you so much for trying out GPR and giving us valuable feedback ❤️

[2019-05-21 19:32] csantanapr commented on #3291
Thanks @dmcgowan and @Phanatic for the quick follow up on this.

[2019-05-21 21:16] crosbymichael commented on #2133
@stevvooe @dmcgowan is this resolved?

[2019-05-21 21:27] dmcgowan commented on #2133
The first issue mentioned was resolved.

The second issue needs to resolved within OCI. We can probably just fix containerd to support the variant field within the Image config though, like the builders are doing now until the OCI image spec is fixed.

@jcaamano As for Arm64 matching, we have purposely kept the default logic simple. We aren't sure how that logic could generalized to create variant

[2019-05-21 22:21] Phanatic commented on #3291
@csantanapr, @dmcgowan, I just deployed a fix to the GitHub Docker Registry to return the right status code if the user is unauthenticated. Please try the kube deploy again.

We now return a `401-UnAuthorized` with the `WWW-Authenticate` header set to `Basic`.

[code]

[2019-05-21 22:32] dmcgowan commented on #3291
Thanks, the authentication seems to work now.

The manifest fetch by digest doesn't seem to work though.

Also I recommend returning the `Docker-Content-Digest` header on manifest requests to avoid making the client do an extra `GET` for digest computation.

More generally, fetching by tag is done to resolve to a digest. In this case the registry is used as a trusted source for what that named tag

[2019-05-21 22:40] Phanatic commented on #3291
awesome, thanks for the context! I'll read up on https://github.com/opencontainers/distribution-spec/blob/master/spec.md and try to setup a repro that I can use to debug this further. I'd love to get the gaps identified so we can tackle them all in one go.

[2019-05-21 23:42] dmcgowan opened #3295 "proposal: update lease manager to support explicitly managing resources"
# Summary

Currently the interface for operating on leases is focused entirely around create, listing, and deleting lease objects. From the client perspective, leases are immutable and can only be deleted when done. Internally, leases are mutated whenever provided by requests which create or remove resources (such as snapshots, content, ingests).

However, leases provide a powerful mechanism for d

[2019-05-21 23:45] tonistiigi commented on #3295
This would simplify tracking resources in buildkit a lot and possibly let BuildKit run in any containerd namespace. BuildKit currently needs to create root labels and therefore takes ownership of the whole namespace.

[2019-05-22 13:50] crosbymichael commented on #2033
These ids have been updated along the way and we are looking for revamping the registration and ids to avoid collisions in a newer issue.

[2019-05-22 13:50] #2033 closed

[2019-05-22 13:51] crosbymichael commented on #1949
This syntax is documented in the godoc for filters.

[2019-05-22 13:51] #1949 closed

[2019-05-22 13:53] crosbymichael commented on #1805
@AkihiroSuda is this resolved?

[2019-05-22 13:54] #1591 closed

[2019-05-22 13:55] #1229 closed

[2019-05-22 13:55] crosbymichael commented on #1065
ping @dmcgowan

[2019-05-22 17:29] dmcgowan commented on #1805
I'm going to close this one, the conversion code has been improved an stabilized.

[2019-05-22 17:29] #1805 closed

[2019-05-22 17:32] #3198 closed

[2019-05-22 18:00] crosbymichael commented on #2457
Going to close this as it's old now, if you still have or find such an problem, please open a new issue.

[2019-05-22 18:00] #2457 closed

[2019-05-22 18:03] crosbymichael commented on #2419
Going to close this as containerd is much lower level than docker and provides the tools to create symlinks like this at runtime vs auto populating these by itself.

[2019-05-22 18:03] #2419 closed

[2019-05-22 18:04] crosbymichael commented on #2392
Going to close this as it should be resolved now

[2019-05-22 18:04] #2392 closed

[2019-05-22 18:05] crosbymichael commented on #2394
Going to close this as containerd does not interact with networking or namespaces and alot of the implementation being discussed is how the netns code works in the kernel.

[2019-05-22 18:05] #2394 closed

[2019-05-22 18:06] crosbymichael commented on #2382
This can be closed now

[2019-05-22 18:06] #2382 closed

[2019-05-22 18:06] #2312 closed

[2019-05-22 18:08] #2230 closed

[2019-05-22 18:08] #2211 closed

[2019-05-22 18:08] crosbymichael commented on #2209
This seems to not be an issue anymore

[2019-05-22 18:08] #2209 closed

[2019-05-22 18:09] #2185 closed

[2019-05-22 18:10] #2134 closed

[2019-05-22 18:11] crosbymichael commented on #2459
This should be resolved now.

[2019-05-22 18:11] #2459 closed

[2019-05-22 18:11] #2451 closed

[2019-05-22 18:12] crosbymichael commented on #2438
This should be resolved now

[2019-05-22 18:12] #2438 closed

[2019-05-22 18:13] crosbymichael commented on #2850
Going to close as this is probably stale now adays.

[2019-05-22 18:13] #2850 closed

[2019-05-22 18:14] #2895 closed

[2019-05-22 18:15] crosbymichael commented on #2808
This can be done fairly easily on the client side, no one as written it yet though.

[2019-05-22 18:15] #2808 closed

[2019-05-22 18:15] #2806 closed

[2019-05-22 18:17] crosbymichael commented on #2679
Running in host pid is the reason for this because the container can see all the processes ;)

[2019-05-22 18:17] #2679 closed

[2019-05-22 18:17] #2602 closed

[2019-05-22 18:18] crosbymichael commented on #2578
We implemented this.

[2019-05-22 18:18] #2578 closed

[2019-05-22 18:19] #2660 closed

[2019-05-22 18:21] crosbymichael commented on #2763
This looks like more of a runc issue than containerd, I'll close for now, but if i'm wrong, please let me know.

[2019-05-22 18:21] #2763 closed

[2019-05-22 18:24] dmcgowan commented on #1065
I think this is a big premature. Once we have a design proposal or working implementation of an OCI image which doesn't use layers, we can figure out how that can be implemented in containerd. While there are many helpers around layers in containerd, none of our interfaces enforce it. Snapshots don't have to be layers, content doesn't have to be layers, and the runtime only cares about mounts. I a

[2019-05-22 18:24] #1065 closed

[2019-05-22 18:27] dmcgowan commented on #953
This could still be useful as a separate utility to checking validity or even introspection of containerd's root. Going to mark this as a help wanted.

[2019-05-22 18:27] dmcgowan commented on #1385
No longer valid

[2019-05-22 18:27] #1385 closed

[2019-05-22 18:30] dmcgowan commented on #2042
Import changing would be too costly with current adoption. This issue failed to get any consensus so I am going to go ahead and close.

[2019-05-22 18:30] #2042 closed

[2019-05-22 18:31] #1651 closed

[2019-05-22 18:33] dmcgowan commented on #934
If this still occurs, please open along with repro with newer containerd

[2019-05-22 18:33] #934 closed

[2019-05-22 18:44] dmcgowan commented on #2231
See initial implementation at https://github.com/kunalkushwaha/containerd/tree/filed-mask from #2298

[2019-05-25 00:40] fuweid commented on #3295
SGTM!!!

[2019-05-25 08:41] yylt commented on #3071
Hi, can I implement client cmds to  complete this feautre ?

[2019-05-25 08:42] yylt commented on #3071
Hi, can I implement client commands to complete this feature ?

[2019-05-25 14:40] yylt commented on #3289
I would like to do this, but i'm not sure what should be stored in directory , just config.toml ?
when daemon restart , config file in options should be use, or file in magic directory ?

[2019-05-25 22:12] thaJeztah commented on #3289
I think that'd be any toml file in that directory, and applied in alphabetical order. Merging those files (as in; in what granularity things are merged) might have to be defined though

[2019-05-26 19:41] rcgoodfellow opened #3305 "namespace top level cgroup folders leaking"
**Description**

When a container is created in a namespace, a top level cgroup directory is created for that namespace. When all resources are removed from a namespace, and the namespace is deleted, the corresponding top level cgroup directory remains.

**Steps to reproduce the issue:**
The following uses utilities from the `cgroup-tools` Debian package.

1. Create a namespace, pull an image and

[2019-05-28 23:07] dmcgowan opened #3307 "proposal: flat lease GC flag"
Add a GC flag for leases which allows the lease to define a single depth of references to be held by the lease. This covers the case where a longer term lease is being used to hold a set of objects, however another client adds more reference information. Currently this lease will end up with all those references even if the original client removes the object referring to them. For example, an imag

[2019-05-29 15:27] nikopen opened #3312 "panic / v1alpha2._RuntimeService / SIGSEGV code=0x1 addr=0x38 pc=0x55f266891275"
_bug report_

**Description**

on startup, after 'start streaming server' and a few operations, containerd crashloops _almost exactly every minute at same seconds_ and prints the following stacktrace

[code]

Important to notice that when the k8s node comes up, it first starts with containerd `1.2.5` which is the one installed by Docker, lives for about 90 seconds without doing anything (as shown

[2019-05-29 17:50] Random-Liu commented on #3312
It panics at:
https://github.com/containerd/containerd/blob/v1.2.6/container_opts.go#L144
[code]

I think it is most likely that the snapshotter is not available. Can you provide the full containerd log? Maybe the overlay snapshotter is not successfully initialized.

[2019-05-29 17:51] Random-Liu commented on #3312
Should containerd panic in this case? Or should we try to avoid panic?

[2019-05-29 18:16] nikopen commented on #3312
Yes, first run is with docker+containerd and aufs due to a race in bootstrap, possibly leaves some unwanted artifacts and WithSnapshotCleanup is not able to clean them up. This probably won't be happening after docker is completely removed for new nodes.

Should it be able to clean up better, have more pathways to do so? Otherwise panic and restart looks fine if it can't do it.

overlayfs seems to

[2019-05-29 18:27] Random-Liu commented on #3312
runc.v1 is similar with linux.v1, but newer. It is an implementation of the new shim v2 API https://github.com/containerd/containerd/issues/2426.

runc.v2 is better for Kubernetes integration, because it only starts one shim per pod.

No. Shim is required for shim v2 for now I think.

`ctr snapshots`?

[2019-05-30 01:36] Random-Liu commented on #3073
Hm, OK. This turns out to be a problem on [Container Optimized OS (COS)](https://cloud.google.com/container-optimized-os/docs/).

`/usr/bin/containerd` is on readonly partition, so it is not possible to install a containerd shim side by side.

[2019-05-30 04:10] Random-Liu commented on #3073
NVM.

As is mentioned in https://github.com/containerd/containerd/issues/3073#issuecomment-470233394, the opt directory works well, containerd ensures that it is in PATH https://github.com/containerd/containerd/blob/master/services/opt/service.go#L50

Using it also aligns with the expectation documented at https://github.com/containerd/containerd/blob/master/docs/managed-opt.md:

[2019-05-31 08:23] chenzhiwei opened #3315 "expose an API to get cgroup driver"
**Description**

Is there a way to get the containerd cgroup driver?

Or can you expose an API to get cgroup driver?

In docker, there is a `docker info` that can get the runtime info which include cgroup driver.

**Steps to reproduce the issue:**
1.
2.
3.

**Describe the results you received:**

**Describe the results you expected:**

**Output of `containerd --version`:**

[code]

[2019-05-31 22:14] hinshun opened #3317 "content.ReadBlob should ignore io.EOF"
**Description**

If a `(content.ReaderAt).ReadAt` returns `io.EOF`, `content.ReadBlob` should ignore the error:
https://github.com/containerd/containerd/blob/1c5b384b3062bd8f05a73b10043eaca4cae4da75/content/helpers.go#L46-L60

[code]

[2019-06-01 05:38] mxpv commented on #3315
Have you looked at https://github.com/containerd/cgroups ?

[2019-06-03 15:13] crosbymichael commented on #3315
We have an introspection API for this but could you explain what you mean by cgroup driver?  containerd does not have a concept of different cgroup drivers like docker does

[2019-06-03 15:16] chenzhiwei commented on #3315
for docker and crio, users can choose systemd or cgroupfs as cgroup driver,
does containerd has similar setting?

i cant find this.

On Mon, Jun 3, 2019, 23:13 Michael Crosby <notifications@github.com> wrote:

[2019-06-03 15:17] crosbymichael commented on #3305
Why do you think that this should be deleted?  I don't see any issues keeping the directory around so that it exists when more resources are ran inside that namespace.  I wouldn't call this a "leak"

[2019-06-03 15:20] crosbymichael commented on #3315
containerd does not have these at the daemon level.  They are left to be per container options when the container is created or started. You would configure and find this information on a per container basis

[2019-06-03 17:35] rcgoodfellow commented on #3305
On a server with lots of namespace and container churn, this behavior creates a lot of noise in the cgroup directories that does nothing but grow over time. This can make debugging and other administrative tasks difficult. From the perspective of a containerd user, I do not understand all the containerd internals. When I see something going sideways on a server that is running our software that us

[2019-06-03 18:08] crosbymichael commented on #3305
Ok, so the problem here is that namespaces and cgroups are not really aware of each other.  The namespace service does not know what type of resources are going to be attached in the namespace.  Anything from containers, tasks, snapshots,etc.

The task service that creates the cgroup when a container is run is also unaway when a namespace metadata object is removed.

[2019-06-03 20:43] #3295 closed

[2019-06-03 21:20] crosbymichael commented on #3196
Yes

[2019-06-04 01:57] fuweid commented on #3315
Hi @chenzhiwei ,

As @crosbymichael said, the config is [here](https://github.com/containerd/containerd/blob/master/runtime/linux/runctypes/runc.proto#L9-L14). Basically, we can pass the configure into the container when you create it.

[2019-06-04 01:59] chenzhiwei commented on #3315
Thank you all!

I think I get what I want to know now.

[2019-06-04 01:59] #3315 closed

[2019-06-04 14:52] AnitaNayak opened #3320 "containerd rpm build on RHEL s390x: Getting error"
Trying to build containerd rpm on RHEL s390x. Thought able to build binaries, but blocked to build the rpm. The spec file to build rpm is not available. Used https://src.fedoraproject.org/rpms/containerd/blob/master/f/containerd.spec file to build rpm. But getting below error.  Any immediate response would help a lot.

Followed below steps to build the rpm
[code]
2. Tried building
[code]

[2019-06-04 15:10] rptaylor commented on #2943
Currently we are using the CVMFS graph driver plugin but it would be very nice indeed to have upstream support that enables image distribution via a caching and deduplicating filesystem that pulls content on demand.

[2019-06-04 17:46] #3317 closed

[2019-06-04 18:55] raizoor opened #3323 "Fail to pull images from JFrog Artifactory (private registri)"
Hi Team,

I have created an issue about docker build fail with buildkit (https://github.com/moby/buildkit/issues/1011) with buildkit team. After talk more about that, @tonistiigi tell me to get help with containerd team. Resuming, utilizing containerd to pull some images in my JFrog Artifactory I have errors, like bellow:
`root@RzR:~# ctr image pull hub.docker.myRegistry.net/debian:latest ctr: fai

[2019-06-05 03:22] liqlin2015 commented on #2312
@justincormack @crosbymichael
So you mean this issue will not be fixed in `crictl`, right? For image build across arch with `docker build`, you still recommended to use `docker pull` instead?

[2019-06-05 04:36] nitkon commented on #2312
We are also facing this issue. `crictl pull` errors out when a ppc64le image, built on x86 arch, is pulled on ppc64le platform.

[2019-06-05 10:21] chewi commented on #3323
I haven't been able to reproduce this under CentOS 7 with containerd 1.2.1 when pulling from Artifactory. However, I have faced a different issue relating to BuildKit and Artifactory. See moby/buildkit#1039.

[2019-06-05 11:37] justincormack commented on #2312
The `docker buildx` plugin can correctly label cross built images, using buildkit, and this functionality will be in `docker build` in future.

[2019-06-05 14:35] estesp commented on #3323
do you know what tool was used to push the `hub.docker.myRegistry.net/debian:latest` image? containerd is more stringent than Docker client about verifying size matching of the manifest JSON and it looks like the actual size versus reported size of that JSON string doesn't match.

There was a problem with certain tools encoding the JSON differently and causing this problem, but it's been a little

[2019-06-05 14:42] SleepyBrett commented on #3221
I've seen this under cri-o as well.

[2019-06-05 17:05] raizoor commented on #3323
@estesp

Great question !
All images that i have tried to pull were remote repository (my Artifactory has a route to remote repositorys, like http://ubuntu.c3sl.ufpr.br/ , http://dl-cdn.alpinelinux.org/alpine/  ... ).
I tried to pull an image that i have made (with docker build default. It are local repository on artifactory) and it's works.

------------------------------------

@chewi
I have see

[2019-06-05 20:14] marshallford opened #3326 "invalid tar header: unknown (cross-post)"
**Description**

This issue is a cross-post to another issue: https://github.com/containers/buildah/issues/1589. Unless requested I won't try to keep the two issues insync and instead refer to the original.

TLDR: It looks like there might be a regression in containerd between v1.1.7 and v1.2.x. See [this comment](https://github.com/containers/buildah/issues/1589#issuecomment-495140892) in the ori

[2019-06-10 02:17] wenlxie opened #3329 "Feature request: overlayfs quota limitation"
## Feature request

We are now running xfs + overlayfs + containerd in k8s.
Container's root is not limited now , so when user writes lots data to container's root, it will cause the host's root disk full. This is dangerous for the host.

## why

It is a valuable feature for containerd users. In k8s cluster,  there will be many containers running on the same host, they belongs to different users.

[2019-06-10 02:17] wenlxie commented on #3329
@Random-Liu PTAL, thanks

[2019-06-11 00:55] Random-Liu commented on #3329
Kubernetes does support ephemeral storage limit today. The container writable layer is part of the ephemeral storage. If a container uses more than the limit, it will be killed or evicted. https://kubernetes.io/docs/concepts/configuration/manage-compute-resources-container/#how-pods-with-ephemeral-storage-limits-run

Although there seems to be a bug right now... https://github.com/kubernetes/kuber

[2019-06-11 00:55] aryamsft opened #3333 "Downloading images via tokens instead of username/pass error"
I'm trying to download an image from azure container registry using tokens instead of username/password combination.  I had a question about the AuthConfig object that I have to populate and why I'm getting an error.

I got a token from ACR and I called the function "set_registry_token" and passed in the token.  Is this the correct field to set?  What does is the identity token field used for?  Ar

[2019-06-11 01:33] wenlxie commented on #3329
@Random-Liu
1.  K8s use `du` to get the usage, which may cause high laod to the host.
2.  K8s pod need to have ` ephemeral storage` request and limit to enable this feature, but for some users like us, we already have lots of pods running in our env, it is a huge work for us to change the pod spec and recreate them.
3.  From containerd side, it is also better to set a default quota limitation for

[2019-06-11 01:47] Random-Liu commented on #3333
You may want to check GCR document.

For GCR, the token is usually used as password, and the username will be `oauth2accesstoken`. Check the "Access Token section` in https://cloud.google.com/container-registry/docs/advanced-authentication.

I believe there should be a similar document for ACR.

[2019-06-11 01:56] Random-Liu commented on #3333
Or you can use this https://github.com/Azure/acr-docker-credential-helper, and use the username and password returned by `acr-docker-credential-helper get`.

[2019-06-11 01:56] #3210 closed

[2019-06-11 06:47] sofat1989 opened #3334 "Some containerd-shim are left in the nodes but the containers are removed"
Containerd version 1.2.4

## Situation 1:  Failed to stop container: context deadline exceeded: unknown
[code]
the logs from containerd:
[code]
## Situation 2:  Similar with situation 1 : failed to handle container TaskExit event: failed to load task for container: context deadline exceeded: unknown
[code]

## Situation 3: containerd daemon is stopping. grpc connection is reset by containerd daemo

[2019-06-11 10:01] chenliu1993 commented on #3145
What is the use of /var/lib/containerd/io.containerd.snapshotter.v1.overlayfs? Every time I pull one image, run one container, it will become extremely big.

[2019-06-11 12:09] chewi commented on #3323
All local in my case although it would be interesting to try with remote. Unfortunately I don't dictate the priorities around here!

[2019-06-11 14:39] crosbymichael commented on #3329
I think this can be implemented with snapshot labels and then the snapshotters will have to be updated to support these things.  However, we still need higher layers like CRI and kube to pass these labels.

[2019-06-11 17:34] Random-Liu commented on #3329
Yeah. That's why we are moving to disk quota on some file systems, and the first step is to use disk quota to get monitoring stats, but it takes time. :)

[2019-06-11 17:47] Random-Liu commented on #3334
Both situation 1 and 2 seems fine to me.

The first few container stop for `5e1cdf132517df24402e476e0f3b25db9ca5514928d6b0028cd51fd40ea50fce` returns timeout error, but the CRI plugin will keep retrying with backoff until successfully cleanup the container.

It eventually succeeded, that's why you see `RemoveContainer` at the end. The CRI plugin can never remove a container when it is not fully cl

[2019-06-11 23:36] Random-Liu opened #3336 "Emphasize Config Change in the 1.3 Release Note."
https://github.com/containerd/containerd/pull/3322 is not a backward compatible change.

With an old containerd config, containerd can't even start:
[code]

This is somehow expected.

I thought about changing default to v1 https://github.com/Random-Liu/containerd/tree/default-to-v1, but on the other hand, I also think we need to move forward given the current release frequency, so let's at least d

[2019-06-11 23:40] Random-Liu commented on #3336
We'll address this in the CRI plugin soon https://github.com/containerd/cri/pull/1163

[2019-06-11 23:40] crosbymichael commented on #3336
Actually let me fix this.  It should be backwards compatible.  The issues is with the merging of the config in code and what is loaded from disk

[2019-06-11 23:45] Random-Liu commented on #3336
@crosbymichael Yeah. It seems that we have to change the `defaultConfig` https://github.com/Random-Liu/containerd/tree/default-to-v1, or maybe you can find a better solution. :)

[2019-06-12 01:08] #3336 closed

[2019-06-12 01:13] aryamsft commented on #3333
I checked, the username for ACR is a zero'ed out GUID:  00000000-0000-0000-0000-000000000000
and the password the token.  I tried this with docker and it worked.

Looking at the containerd/cri here:  https://github.com/containerd/cri/blob/master/vendor/k8s.io/kubernetes/pkg/kubelet/apis/cri/runtime/v1alpha2/api.proto#L124

I set AuthConfig username/password to the zero'ed guid and the password to

[2019-06-12 01:18] wenlxie commented on #3329
For us, a daemon level config option is preferred , so that is can be enabled/disabled by configuration of containerd.
Pod is created by user by not cluster admin in our case, so we'd like to make this at containerd level but not pod's annotation.
With quota limitation,  node can keep safe when user writes lots of data to its root.

[2019-06-12 01:19] Random-Liu commented on #3329
You can always run a admission webhook to apply default annotations.

[2019-06-12 01:26] wenlxie commented on #3329
I'd agree that admission webhook can help on this, it is more flexible to decide the quota size.

[2019-06-12 01:45] wenlxie commented on #3329
We can have a controller to detect the pod, after the container running, the controller will set the xfs_quota to upper layer and work layer, the issues is: 1) After the container running, when you set the quota to the upper/work layer path, you need to set the project id to all of the directory/files under the dir. 2) The work layer path should be have the same projectid of  upper layer dir, so t

[2019-06-12 15:24] raizoor commented on #3323
hmm..
In my case, these problems are occur on remote repositories, but I might it doesn't my case.
The manifest is my problem i think, but i don't know how resolve it, because this images are made to comunity