[2021-08-13 15:02] mill5james commented on #5860
ugh. That would suck.

Do you know of a quick test I can use to verify that it is the OCI distribution specification? Maybe curl an endpoint to check a value or something? I don't want to get in a infinite loop request situation between microk8s, containerd, and GitHub Enterprise trying to track down the root cause of this issue.

[2021-08-13 17:53] perezjasonr commented on #5864
Ok so I think I may have figured this out and can probably close the issue. I don't think the ball is in containerd's court in this case unless they want to handle this exception and possibly present it differently.

But I think its worth explaining for future users who run into this.

The error here appears to be misleading, because it LOOKS like the same from the issues I linked in the original

[2021-08-13 18:19] thaJeztah commented on #5864
Good to hear you found the cause!

As to the error message; all errors after `OCI Runtime create failed:` are coming from the OCI runtime (runc in this case), so this part is what containerd received from runc;

[code]

I agree those errors are quite verbose, but not really helpful either. Not sure if runc would have more information available to produce a better error, but if you have an easy way

[2021-08-13 18:20] thaJeztah commented on #5864
Let me close this ticket per the above, but feel free to continue the conversation

[2021-08-13 18:20] #5864 closed

[2021-08-13 20:53] alakesh commented on #5879
Can you please give an example and explain which content needs to be cleaned?

[2021-08-13 21:04] alakesh commented on #5862
Can you please post the details about the both systems(working vs non-working) to be able to compare? Also is docker killing the process or the process is crashing somewhere?  Is it possible to get /proc/interrupts from both systems and see anything is unusual? A complete dmesg output would be helpful too.

Last but not the least, you may be running into the same issue mentioned in this thread: ht

[2021-08-13 23:04] dmcgowan commented on #5879
For CRI you can use the `discard_unpacked_layers` option to remove content after it has been unpacked. We don't have this feature in `ctr`, however any other client can do this by stripping the reference labels on manifests to layers.

[2021-08-13 23:04] #5879 closed

[2021-08-13 23:32] dmcgowan commented on #5860
@mill5james in this case, if the image manifest with the digest `sha256:9ef783ec9780ec6c8ca12e0e9c1a2df3264f2abd1ffe3524062c3a7123f8fc34` is exists (which Docker seems to confirm) but it cannot be pulled by the digest endpoint, then the registry is not fully implementing the OCI distribution specification. You can curl this endpoint, but this line seems to confirm it since the previous registry ca

[2021-08-13 23:48] alakesh commented on #5824
Does changing "-fno-PIC -static"   to  "-fno-PIC -static-pie"  work?

[2021-08-14 01:22] #5877 closed

[2021-08-14 05:47] vivekanandpoojari commented on #4594
@kabakaev
@crosbymichael @AkihiroSuda  We are facing a similar issue.
We exec into a container and execute a curl command.
Due to network configuration , the curl command doesnt return any result
We then try to kill the `sh` and `curl` command using the group id of the sh process.
However only the `sh` process is being killed and curl becomes a defunct process.

Do you have any workarounds we can

[2021-08-15 02:55] jamiegau commented on #5862
ok, totally new position.
The Duel CPU issue, just didn't appear to be a viable cause to me.  So I decided to drop in a second CPU into the test r610.
And as I expected, all again was OK.  SO not CPU based issue.
I then decided to test on an system I had access to from a friend company I help out with, that has a R710, but fresh install like the R610.  It too is working as expected...

So what is

[2021-08-15 07:52] gomi-service commented on #4295
explanation please, same problem here

[2021-08-16 02:23] vsxen opened #5882 "Support disk usage stats for containerd"
https://github.com/google/cadvisor/blob/master/container/containerd/handler.go#L171-L181

https://github.com/google/cadvisor/issues/2666

container_fs_usage_bytes metrics don't report container fs usage.

[code]

[2021-08-16 06:46] timchenxiaoyu commented on #5879
tks, @dmcgowan ,
btw, after discard_unpacked_layers  , if download image again, containerd will download content again or use upacked snapshot directly ?

[2021-08-16 08:15] dadorf commented on #5880
Thanks a lot, it works.

[2021-08-16 08:15] #5880 closed

[2021-08-16 11:07] jamiegau commented on #5862
Ok, I'm stumped.
I have not been able to reproduce the error on a test box with exactly the same hardware and with ifupdown from a 18.04 install upgraded to 20.04 install to try and simulate why the units in the field will not work.
Suggestions on how to find out the cause of why the process is being killed has not discovered any log/error messages.

I am stumped.
I am at a loss as to why 3 older

[2021-08-16 11:13] RaSerge opened #5883 "Dracut warning cannot unmount /oldroot"
**Description**

Servers hang on reboot with error "Dracut warning cannot unmount /oldroot"

**Steps to reproduce the issue:**
0. K8s cluster 1.18.17 (containerd container runtime without docker) installed on baremetal RH 7.9 server
1. PV through NFS
2. try to reboot server

**Describe the results you received:**
In journaldd logs i see that systemd-shutdown are freezed on device detaching:
[code]

[2021-08-16 12:07] mraghu4 commented on #5854
In failed, node we are seeing this is the error message from containerd service

containerd[2233]: time="2021-08-16T13:12:39.822323363+02:00" level=error msg="add cg to OOM monitor" error="open /sys/fs/cgroup/memory/kubepods.slice/kubepods-burstable.slice/kubepods-burstable-podb2aa7c01_ed45_4985_af6e_0a57e2b126c1.slice/cri-containerd-06df8a6cdc54d546d4cc830361ac1452d2a7936b10e97bf75cedc2ef5745ec1d

[2021-08-16 14:35] AkihiroSuda commented on #759
Linking PR https://github.com/containerd/containerd/pull/5859

[2021-08-16 14:36] AkihiroSuda commented on #5882
Duplicate of https://github.com/containerd/containerd/issues/759

PR https://github.com/containerd/containerd/pull/5859

[2021-08-16 14:38] AkihiroSuda commented on #5882
We already have usage stat API https://github.com/containerd/containerd/blob/024804b1be8a67f85e06c7b2dcfd0af14ae6a569/api/services/snapshots/v1/snapshots.proto#L39

[2021-08-16 16:01] dmcgowan commented on #5879
@timchenxiaoyu it will use the unpacked snapshot

[2021-08-16 16:28] fuweid commented on #5854
[code]

The size of file is zero. It seems that the node was shutdown unexpected during pulling image.

@mraghu4 would you mind to check the `last` command in the non-working-node? Thanks

The workaround is to delete the image in non-working-node and repull it.

If it is about dirty pages, I think that comment will help. https://github.com/containerd/containerd/pull/3652#issuecomment-535452934

[2021-08-16 19:32] mill5james commented on #5860
@dmcgowan  Thanks for the help.

Even Docker Desktop on Windows thinks GitHub Enterprise needs a refresh.
[code]

Too bad docker on Ubuntu did not complain like that or I would have gotten a clue earlier.

[2021-08-16 19:33] #5860 closed

[2021-08-16 20:33] dcantah commented on #5177
@cnhuye Is the containers feature installed on your machine?

[2021-08-16 22:43] timchenxiaoyu commented on #5879
@dmcgowan ，as you said containerd will use  unpacked snapshot, why not set discard_unpacked_layers to true ? switch true can save disk space.

[2021-08-17 00:02] liyanhui1228 opened #5887 "Support pushing nondistributable layers of containers"
**What is the problem you're trying to solve**

Some images (e.g., Windows base images) contain artifacts whose distribution is restricted by license. When these images are pushed to a registry, restricted artifacts are not included.

Containerd is missing the feature for pushing the foreign layers of those container images.

**Additional context**
Windows container images have the foreign layer c

[2021-08-17 09:26] mraghu4 commented on #5854
From logs I don't see any reboot happened during the pull. and we tried deleting and re-pulling the image too. The issue remain same untill we clean all the images all the containers and then k8s bring them up again.

[2021-08-17 15:38] artqzn commented on #5075
Dear reviewers, could you please check PR #5888. This is updated support for idmapped mounts based on PR #4734.
Thank you in advance!

[2021-08-17 18:28] dmcgowan commented on #5879
We recommend setting it to true for most CRI use cases. The cases where you don't want to set it is when you are using the content after pull, such as for late unpacking, building, or redistributing.

[2021-08-18 00:48] jamiegau commented on #5862
Starting from scratch on this bug.
I have not been able to reproduce the bug on a test system...
So I decided to completely delete and reinstall docker.  (ie remove all files and start again) No effect.

However this time I have taken a full log of the run up to and restart of the container.  You can now see it in context with everything happeing.  Due to the large amount of log messages concernin

[2021-08-18 01:59] jamiegau commented on #5862
Ok, I am closing this as I decided to run the aria2 process on the native ubuntu OS..... (Not using Docker)
And you guessed it, it also gets killed off.

But get this
[code]
Its reliably killed of native or docker every 5 mins..
I'm heading to the aria2 repo to start the discussion there.

[2021-08-18 01:59] #5862 closed

[2021-08-18 03:29] jamiegau commented on #5862
Ok, the cause of this was rogue software from a service entity.  There software indiscriminately killed of certain processes with certain arguments.  Bad form...

[2021-08-18 06:18] timchenxiaoyu commented on #5879
@dmcgowan  thank you very much。 btw， what is  redistributing  ？

[2021-08-18 07:22] oldthreefeng commented on #5690
same error on arm64 ..  I compile arm64 myself from tag v1.5.5
export image error
[code]

but when return to v1.4.3 , it works ok.
[code]

[2021-08-18 07:25] vsxen commented on #5882
can you open a PR to fix this issue?

[2021-08-18 15:23] saurabrana opened #5892 "[Windows] Failed to create pod sandbox using containerd on EKS"
**Description**

We are trying to setup EKS cluster with containerd as CRI for windows nodes.
Following is our config.toml section for CNI plugin configuration

`

    [plugins."io.containerd.grpc.v1.cri".cni]
      bin_dir = "C:\\Program Files\\Amazon\\EKS\\cni"
      conf_dir = "C:\\ProgramData\\Amazon\\EKS\\cni\\config"
      conf_template = ""
      max_conf_num = 1

   `

Our Pods are failing

[2021-08-18 15:59] fuweid commented on #5882
@vsxen It is related to cadvisor and there is pr https://github.com/google/cadvisor/pull/2872. Thanks for reporting. Closing.

[2021-08-18 15:59] #5882 closed

[2021-08-18 21:05] mbtamuli commented on #3910
@alexellis Since this thread is not closed, did you manage to get your setup running by sharing the mountpoints mentioned above?

[2021-08-18 21:20] alexellis commented on #3910
I think it worked eventually but bypassed every security feature of Docker so for faasd we install on a Linux host. It uses the client as intended "the fat client approach" that assumes the server and client are on the same host.

[2021-08-19 16:05] morningspace opened #5895 "ctr images export doesn't work"
**Description**

When I try to export an image using `ctr`, it failed w/ below error message:
[code]

By running `ctr -n k8s.io images ls`, I can see the platform for the image is `linux/amd64`:
[code]

However, I see the same error even if I add `--platform`:
[code]

**What version of containerd are you using:**

[code]

**Any other relevant information (runC version, CRI configuration, OS/Kernel

[2021-08-20 05:41] sujithra-p opened #5898 "[SELinux] Private and shared host path mounts similar to docker and podman"
**What is the problem you're trying to solve**
Support for selinux relabeling of host path mounts

**Describe the solution you'd like**
It would be good if containerd supports ":Z/:z" mount flag similar to docker and podman.
https://docs.docker.com/storage/bind-mounts/#configure-the-selinux-label

[2021-08-20 10:37] Dentrax opened #5900 "could not pass label flag with ctr image pull"
**Description**

ctr could not set the image label with image pull command.

**Steps to reproduce the issue:**
1. `$ export CONTAINERD_NAMESPACE=k8s.io`
2. `$ ctr image pull docker.io/library/alpine:latest --label foo=bar`
3. `$ ctr image ls 'labels."foo"'`

**Describe the results you received:**

[code]

It could not set the label.

**Describe the results you expected:**

It should set label?

[c

[2021-08-20 12:34] dnwe commented on #5854
We're seeing a similar periodic issue on containerd v1.4.9 (Revision: e25210fe30a0a703442421b0f60afac609f950a3). After scaling up new nodes in an existing kube cluster (1.20.9), sometimes pods that are immediately scheduled onto that worker end up in CrashLoopBackoff with "exec format error" even though the identical image is running fine on other identical workers (platform and OS etc.)

It seems

[2021-08-20 13:40] TBBle commented on #5736
Ooops, just saw this, and yeah, that's an oversight on my part in #5133.

The `Atoi` is to sort the layers so we destroy them in reverse order... Any `rm-` layer cannot be the parent for another layer, or we wouldn't have been deleting it, so we could just call `hcsshim.DestroyLayer` on all the `rm-` layers first, and then `Atoi` and sort the remaining layers. It might be more-defensive to just `h

[2021-08-20 22:42] gbudge commented on #4011
Hey @oskapt,

Can you please confirm if this worked around this issue? If so, not ideal but at least a way to unblock.

Thx

[2021-08-20 22:53] gbudge commented on #4011
@oskapt did this work around the issue for you?

[2021-08-21 01:27] kuzhao opened #5901 "Containerd hangs at PullImage when pulling from reg svc at localhost:<nodePort>"
**Describe the results you received:**
After a node comes up either from a fresh init or reboot, we observed some pods in "ImagePullBackOff" or "ContainerCreating" like below:
[code]
A number of pods take their image from cluster-internal registry service which is exposed through a nodePort. The image ref inside the manifest yaml looks like: localhost:8000/foo/bar:latest
After the node enters this

[2021-08-23 07:59] iTaybb commented on #4908
This still happens on containerd 1.4.9, and also on public images:

[2021-08-23 07:59] iTaybb commented on #3974
This still happens on containerd 1.4.9:

[2021-08-23 09:51] RaSerge commented on #5883
any feedback, please?

[2021-08-23 11:33] singhbalr commented on #4982
How did you fix this?

[2021-08-23 13:48] #5090 closed

[2021-08-23 14:43] claudiubelu commented on #5188
I think we can close this issue. As seen in the previous comments, we haven't seen this anymore, and we have a test for it as well.

/close

[2021-08-23 14:43] #5188 closed

[2021-08-23 14:47] claudiubelu commented on #5169
A few updates:

This issue is being addressed here, where the plumbing for this is being added: https://github.com/containerd/containerd/pull/5778
Additionally, we also have a few new cri-integration tests to help validate this: https://github.com/containerd/containerd/pull/5485

[2021-08-23 15:57] alakesh commented on #5883
Can you please check if any processes are stuck with uninterruptible sleep state( the dreaded D state )? It seems some I/O is stuck for those processes and they cannot be killed in D state. The nfs server not responding is confusing, are you using nfs for your setup? If you have access to the system then you may be able to dump additional information by enabling sysrq and dumping process states. P

[2021-08-24 08:48] claudiubelu commented on #5168
Just a small side note here. The test in question here is currently only running on Linux, which is fine.

We have recently added Windows HostProcesses, which do support HostNetwork. I have added a few cri-integration tests regarding HostProcess, including with HostNetwork that asserts that the container's hostname is indeed the same as the node's. The PR is here: https://github.com/containerd/con

[2021-08-24 09:27] claudiubelu commented on #5690
Hm, this issue is regarding ctr image import, not export. But I think there might be some underlying issue somewhere in the Garbage Collector. From what I can tell, if some content is not "visible", then it's removed, including some things that shouldn't, like your ``sha256:94ee124c4b0ca7c1315c06c31532f78a929051ae8da7f122f905b2cbbfb1ecba``.

Question: after switching ctr versions, do you delete /

[2021-08-24 10:02] oldthreefeng commented on #5690
switch to old version 1.4.4. erverything is ok.  i have export and import many times..
switch to new version 1.5.5. i just to test the export cmd. and delete pull and others  are not. but i can test angin if you needed.

[2021-08-24 10:53] oldthreefeng commented on #5895
i meet same error . related https://github.com/containerd/containerd/issues/5690#issuecomment-900882878

[2021-08-24 11:34] chrispat commented on #5748
That might help track this down. I sent over a large update of IP ranges but they do change seemingly without notice.

[2021-08-24 11:52] mraghu4 commented on #5854
agreed with @dnwe. In our case, the image pull /export are showing correct size of layers. But if you run the container and check the entrypoint.sh or binary that supposed to run, they are zero in size. there is no architecture difference in the nodes we are using and the image architecture. All the nodes are identical and Its happening only in 1/10 nodes.

[2021-08-24 11:54] mraghu4 commented on #5854
let me know, If any info that we can fetch from our side to help more in investigating this issue.

[2021-08-24 12:09] adelina-t opened #5908 "[Windows CI] Add support for Windows Server 2022"
With Windows Server LTSC2022 being released we should add test passes for this as well in the periodic CI runs.

Current blocking issue is that the pause image currently does not support WS2022. There is a PR open in Kubernete to add WS2022 support ( https://github.com/kubernetes/kubernetes/pull/104455 ).

Work items:
- [x] Setup script support for WS2022
- [x] All necessary test images images pub

[2021-08-24 12:09] adelina-t commented on #5908
/assign @adelina-t

[2021-08-24 16:07] kieron-dev commented on #5741
Sorry - we didn't call Wait() on the IO. We had assumed IO would be flushed when the process exited. Closing.

[2021-08-24 16:07] #5741 closed

[2021-08-25 00:48] alakesh commented on #3074
Looks like an old issue. Do you still see it?

[2021-08-25 13:27] tianon commented on #5824
Finally got a chance to test, and it doesn't look like that fixed it -- I ran `make EXTRA_LDFLAGS='-extldflags "-fno-PIC -static-pie"' BUILDTAGS="static_build,no_btrfs,osusergo,netgo" bin/ctr` which ended up running `go build  -gcflags=-trimpath=/go/src -buildmode=pie  -o bin/ctr -ldflags '-X github.com/containerd/containerd/version.Version=v1.5.0-401-gebe8f8c6b.m -X github.com/containerd/containe

[2021-08-30 17:36] ride808 commented on #4908
I'm also hitting this error when pulling images for kube-prometheus-stack for monitoring.

RKE2 Version: 1.20.7-rke2r2
Containerd Version:  v1.4.4-k3s2

Error Message:

`Failed to pull image "myregistry.com/prometheus/prometheus:v2.18.2": rpc error: code = FailedPrecondition desc = failed to pull and unpack image "myregistry.com/prometheus/prometheus:v2.18.2": failed commit on ref "manifest-sha256

[2021-08-30 18:39] jieyu commented on #4379
This issue should be fixed in Google GCR and GAR. Please test!

[2021-08-30 19:41] Pigi-102 opened #5925 "containerd crash if running containers exists at reboot, on linux arm"
[docker.log.txt](https://github.com/containerd/containerd/files/7079163/docker.log.txt)
[docker.log.fail.txt](https://github.com/containerd/containerd/files/7079166/docker.log.fail.txt)
I have a slackware machine, running 14.2+ and when I reboot the machine and I have some containers running, after the machine has rebooted the dockerd does not run, complaining that
[code]
several time, until faile

[2021-08-30 19:42] Pigi-102 commented on #5925
Attached the docker.log from a good start and from a fail one.

[2021-08-30 20:26] Pigi-102 commented on #5925
I did a new test and found that seems to be a timing condition.

If I reboot the machine with the containers running, at restart containerd takes a huge time to open sock files thus avoiding dockerd to start as it ( dockerd ) kills containerd after few seconds:
[code]
After 10 seconds dockerd kill all his child ( and so does on containerd )

If instead I do run the contained command by hand and wa

[2021-08-30 20:38] claudiubelu commented on #5690
I've sent some updates here regarding what was the issue I was facing, and what the solution was: https://github.com/containerd/containerd/pull/5692#issuecomment-906788434

I'd say that ``ctr import --all-platforms`` might solve your issue for now, but it would still be useful to know that what PRs have been sent are useful for people.

There is one thing I didn't understand from your scenario: ar

[2021-08-31 03:51] ktock commented on #4908
@alexanderturner This is fixed by #5921. Now `ctr image pull docker-public.fluid.aseit.com.au/graphite:1.1.7-6` succeeds without errors.

Closing this.

[2021-08-31 03:51] #4908 closed

[2021-08-31 08:53] Pigi-102 commented on #5925
I managed to resolve my problems by downgrading to docker 19.03.15 and containerd 1.2.13, so I'm closing this bug.

[2021-08-31 08:53] #5925 closed

[2021-08-31 15:51] belovi commented on #4565
I'm interested in the same

[2021-09-01 01:17] jayunit100 opened #5930 "need documentation page on HostProcess container support"
**Description**

With windows 2022 arriving and HostProcess containers now becoming increasingly anticipated in the Kubernetes community, we'd love to have a doc page in Containerd on how HostProcess pods are launched .

cc @dcantah @perithompson

[2021-09-01 14:23] oldthreefeng commented on #5690
the image is already contains arm64  `k8s.gcr.io/pause:3.5`  ==> multi arch images is support for this repo.
so I think this is a right image .  and on the same time , i will try yours~

[2021-09-01 20:15] katiewasnothere opened #5931 "Support parsing signals based on container's platform"
**What is the problem you're trying to solve**
Containers run that rely on containerd and containerd's packages may be running a platform different than the host. For example, linux containers on windows, which run using a lightweight linux virtual machine. When sending signals to a container, we should use signals for the container's platform, not the host's.

**Describe the solution you'd like**

[2021-09-01 20:16] katiewasnothere commented on #5931
@thaJeztah and @kzys

[2021-09-01 20:24] katiewasnothere commented on #5931
I'm not really sure what makes sense to do here. I don't think it makes sense to implement something like this in moby/sys/signal but to implement it in containerd would mean that we'd need to hardcode signal values (since we couldn't use build constraints to use unix or windows official golang packages), which defeats the point of previous work https://github.com/containerd/containerd/pull/5693 @

[2021-09-02 09:31] zhucan commented on #4862
how to pull image from dockerhub (private repo) ? Who can help me？

[2021-09-02 17:58] katiewasnothere commented on #5931
Afaik, it doesn't know that LCOW runs using a VM. However, it does know what platform the pod is running, which was part of my previous solution to parse based on the container's platform (see my closed linked PR above). Moving signal parsing to the shim or runtime would break with the current agreement between containerd and shims though, right?

(side note: LCOW containers using containerd use r

[2021-09-02 19:52] thaJeztah commented on #5931
This one is tricky indeed. I know we used the string representation in Docker, so that a user can pass `--signal=SIGSOMETHING` from the CLI (which could be running Windows, Mac, or Linux), and have the runtime do the translation.

LCOW adds another "mismatch" in that respect, because the host platform doesn't match the container's platform. I know we had some discussions about that with LCOW in th

[2021-09-02 21:53] katiewasnothere commented on #5931
I agree, that seems like a reasonable mindset @thaJeztah.

In particular, CRI attempts to parse signals before calling `Process.Kill`, see [here](https://github.com/containerd/containerd/blob/1dfd8a279ef7699fee06d11d89a5d99e1429f313/pkg/cri/server/container_stop.go#L104). Snippet below:

[code]
Which I'm concerned about since even if we don't parse the signal to `syscall.Signal` using `ParseSignal

[2021-09-03 00:20] howardjohn commented on #5781
I don't think that is accurate. Here you depend on imgcrypt: https://github.com/containerd/containerd/blob/v1.5.5/go.mod#L16

You maybe `replace` it here https://github.com/containerd/containerd/blob/v1.5.5/go.mod#L75 but it doesn't matter - when you import `github.com/containerd/containerd` you don't "inherit" `replace` directives. So any importer gets the circular import issue.

It does, but do

[2021-09-03 08:34] ahmed-mez opened #5938 "Existing container labels defined in the Dockerfile are ignored by containerd"
**Description**

Containerd clears container labels defined in the `Dockerfile`. Perhaps because the container [run](https://github.com/containerd/containerd/blob/6fa958853197af31ffd1225a6c300589e5068667/cmd/ctr/commands/run/run_unix.go#L106) and [create](https://github.com/containerd/containerd/blob/cf600abecc27200a3c0e1415cd1f6c325eb05edf/pkg/cri/server/container_create.go#L242) commands call [W

[2021-09-03 13:01] thaJeztah commented on #5931
Yes, I'm wondering if it should be considered to make `Process.Kill()` accept a string instead of `syscall.Signal` (or drop the argument altogether and pass it as `KillOpt`)

[2021-09-03 17:37] katiewasnothere commented on #5931
Is that something that the community would be okay with?

[2021-09-03 20:33] kzys commented on #5931
Since syscall package is tied to the host platform, migrating to string or int makes sense for supporting cross-platform containers such as LCOW. But this may need to wait containerd 1.6.x or containerd 2.0.x.

BTW StopSignal is a string in OCI Image Spec.

Regarding LCOW, is the below diagram accurate? If so, would the shim responsible for Windows -> Linux signal conversion?
[code]

[2021-09-03 20:58] katiewasnothere commented on #5931
That's fine. We use a fork of containerd today so as long as the change is in upstream main we can just cherry pick it as needed until it's in a release.

@kzys Pretty much correct except that we use the same shim for LCOW and WCOW. Are you asking if today the shim is responsible for that conversion or suggesting to do that? The shim still runs on the host in the LCOW case but runc runs inside the

[2021-09-03 21:02] cpuguy83 commented on #5938
I don't think ctr is clearing anything out, it's just not propagating image labels to the container.

Note that ctr is not meant to be used as a production tool.

[2021-09-05 10:22] fuweid commented on #5854
@dnwe @mraghu4 sorry for later reply. Could you mind to provide how to reproduce it? It will be helpful, thanks.

[2021-09-05 10:29] fuweid commented on #5900
The `k8s.io` is managed by cri-plugin so that the label will be removed by the following code https://github.com/containerd/containerd/blob/61a46e9fdde52221a563e3f11fbd9fdd047a8ae8/pkg/cri/server/image_pull.go#L243.

https://github.com/containerd/containerd/blob/61a46e9fdde52221a563e3f11fbd9fdd047a8ae8/pkg/cri/server/image_pull.go#L236 I think we can use patch update here.

cc @mikebrow @dmcgowan

[2021-09-06 07:09] ahmed-mez commented on #5938
@cpuguy83 Thanks, but also I see the same behavior in Kubernetes, the containers are created by Kubelet.

[2021-09-06 08:11] mraghu4 commented on #5854
@fuweid In our case, Its just bring up a deamonset. nothing special. This issue is intermittent and not happening frequently. If it comes, whatever you do, clean image, container or redeploy it using kubectl commands the issue remains. Those specific  pods won't come up in specific nodes.

We observed io.containerd.snapshotter.v1.overlayfs/snapshots/xxx/fs/ directory is having empty binaries. and

[2021-09-06 12:31] claudiubelu commented on #5895
Hello.

Could you try a few things for me? Can you create / start a container using the same image? I would assume not, since you hit that issue you've mentioned in the bug report, but it would be great to confirm.

Now, my follow up question is how did you obtain that image? ctr image pull? ctr image import? Is it a publicly known image that we could try too? The only thing I can guess is that yo

[2021-09-06 14:27] cpuguy83 commented on #5895
Can you dump the containerd config?

[2021-09-07 03:33] scuzhanglei commented on #5053
Hi, any update to this issue? I submit a PR, but It might be ill-considered. If have any update or feedback, please let me know, thanks.

[2021-09-07 12:31] tavolodobela opened #5955 "[Nvidia GPU] Random "interrupted system call" issues"
**The problem is that when pods are running, we experience random "interrupted system call" issues.**

**Steps to reproduce the issue:**

For instance when an app running in the pod tries to create 16 MB shared memory, and during the process we get a "interrupted system call" error. Note that the problem occurs randomly, users report ~20% error rate which makes kubernetes quite an unstable environ

[2021-09-07 13:11] mikebrow commented on #5053
US holiday weekend.

[2021-09-07 19:10] cpuguy83 commented on #5955
@tavolodobela What is producing those errors? The application inside the container?

[2021-09-07 21:25] cpuguy83 commented on #5901
Is/was the registry running on the node that was rebooted and is now having issues?

[2021-09-07 23:36] kuzhao commented on #5901
Not really @cpuguy83. I have registry pods running on other long-running nodes, just exposed to the cluster via nodePort svc.

[2021-09-08 06:07] tavolodobela commented on #5955
@cpuguy83 Yes. An application is running inside the pod, in the above example it tried to create some shared memory, and failed.

[2021-09-08 13:07] harshanarayana opened #5959 "[v1.2] containerd-shim not reaped"
**Description**
When the docker container created to aid the `kube-scheduler` pod went down, it left behind the `containerd-shim` hierarchy that leads to port bind issues

**Steps to reproduce the issue:**
Unable to reproduce this consistently

**Describe the results you received:**
[code]

[code]

**Describe the results you expected:**
`containerd-shim` to be reaped properly when the container ge

[2021-09-08 13:09] harshanarayana commented on #5959
Unfortunately we haven't enabled logs with verbosity on either docker/containerd side on the system where this issue happened.

[code]

[2021-09-08 13:15] AkihiroSuda commented on #5959
Version 1.2 is too old, and `io.containerd.runtime.v1.linux` has been deprecated.

Could you try containerd 1.4 or 1.5?

Docker 20.10 is packaged with containerd 1.4, and uses `io.containerd.runc.v2` (`containerd-shim-runc-v2`) by default.

[2021-09-08 13:43] harshanarayana commented on #5959
@AkihiroSuda  Thanks for the quick response. For the time being we are stuck to using docker 19.03.9 (we are planning to upgrade the docker and containerd down the line) but for the cluster in question, we can't really upgrade things yet.

Any suggestion on what direction should I be looking for in terms of identifying what might be causing this behavior will be of great help.

[2021-09-08 16:00] cpuguy83 commented on #5955
Are you sure this has to do with the the container? I can't see how it would be.
Is this a go application compiled with >= go1.14?
As of go1.14, system calls may be interrupted. For the most part stdlib stuff (such as *os.File.Write) handle this internally so you shouldn't see it there.
But if you are making system calls directly then you may also hit this error condition and need to handle it.

[2021-09-08 16:14] #5900 closed

[2021-09-08 16:46] SergeyKanzhelev commented on #4984
//cc: @qiutongs FYI

[2021-09-08 18:41] cpuguy83 opened #5962 "cri: inject GPU's without changing runtimes"
**What is the problem you're trying to solve**

Currently, when using CRI, in order to add GPU's to a pod I need to configure the runtime to use the nvidia-container-runtime which just injects OCI hooks and executes runc anyway.

**Describe the solution you'd like**

I would like to be able to inject GPU's without having to change the runtime.

**Additional context**

I was hoping NRI might be a g

[2021-09-08 23:22] cpuguy83 commented on #5901
@kuzhao Can you share a repro for this?

[2021-09-09 00:20] katiewasnothere commented on #5931
Would it be acceptable to add a new field on the task API's [`KillRequest`](https://github.com/containerd/containerd/blob/b01cad3b56e0e150cdeff4f8b41a35c1b53bbdcd/api/services/tasks/v1/tasks.proto#L140) message named `signal_name` that takes a string representing the signal instead of trying to make a breaking change to the API?

[2021-09-09 09:45] fvigotti opened #5963 "SIGSTOP doesn't interrupt containerd process"
ctrl+c ( when process is in foreground )
or kill $PID

should stop the process ( with a safe shutdown )

instead I'm always forced to kill the process ( kill -9 $PID ) which should be unsafe  and rarely used instead

**What version of containerd are you using:**
containerd github.com/containerd/containerd v1.5.5 72cec4be58a9eb6b2910f5d10f1c01ca47d231c0

[2021-09-09 12:16] tavolodobela commented on #5955
Well, no, I'm not sure. Just to add some context to the story: there was a kubernetes upgrade (1.18.x to 1.22.0) recently when we switched from docker to containerd + nvidia gpu operator. While running on top of docker there was no such issue.

Note that I'm not blaming the container, I'm interested in finding and fixing the issue wherever it is :-)

Btw. it's a C++ application.

[2021-09-09 13:57] kuzhao commented on #5901
Sure @cpuguy83. First, please utilize [trow](https://trow.io/) to setup an internal registry. Start at [trow.yaml](https://github.com/ContainerSolutions/trow/blob/main/quick-install/trow.yaml), and add dockerhub proxy cfg flag to the trow container arg per https://github.com/ContainerSolutions/trow/blob/main/docs/USER_GUIDE.md#proxying-the-docker-hub.

I wrote a bash script just for repro: https:/

[2021-09-09 15:18] thaJeztah commented on #5931
..

Arf. I wanted to reply to this.

Yes, I was thinking along those lines as well; I think with that approach it should be possible to add this in a backward compatible way;

- the `Task.Kill()` would keep the same signature (keeping the `syscall.Signal` argument (for now at least)
- as you proposed; the `KillRequest` would get an extra field for the string representation (which can be set throug

[2021-09-09 15:47] cpuguy83 commented on #5963
Do you have more details?
What containerd process?
Repro steps?

[2021-09-09 16:03] fvigotti commented on #5963
the "containerd" process ,
repro :
[code]
the program doesn't terminate (and should instead soft-close ) ..

[2021-09-09 20:17] cpuguy83 commented on #5955
Where do you end up seeing the error occur?

[2021-09-09 21:47] #4720 closed

[2021-09-09 23:21] cpuguy83 commented on #5963
Ah right yes. This has annoyed me for a long time.
Potential fix here: https://github.com/containerd/containerd/pull/5970

[2021-09-10 01:42] katiewasnothere commented on #5931
I'm going to go ahead and start working on that implementation then unless there are any objections from anyone

[2021-09-10 09:07] tavolodobela commented on #5955
The application while running emits this error message by "translating" the errno.

[2021-09-10 13:02] thaJeztah commented on #5931
Thanks! Works for me :+1:

I see I didn't mention it in my reponses, but for completeness / consideration:

I think `SignalName` should accept both "names" and "numbers", similar to how [`github.com/moby/sys/signal.ParseSignal`](https://github.com/moby/sys/blob/1a1d2afe36340e8eac900548192ab7a43ac584c8/signal/signal.go#L36-L39) handles them. This allows for well-known named signals to be specified,

[2021-09-10 14:15] #5053 closed

[2021-09-12 04:36] akhilerm opened #5978 ""cannot reuse body, request must be retried" on `ctr images push`"
### Description

When trying to push multiplatform images using ctr , receiving the following error.
[code]

I find this issue is kind of flaky or due to a race condition as this does not happen always. The error message displayed is coming from #3431

### Steps to reproduce the issue

1.  Fetch the image using
```ctr content fetch --all-platforms docker.io/akhilerm/node-disk-manager:ci```
2. Push

[2021-09-13 16:09] lethargosapatheia commented on #386
I find it slightly funny how @jordimassaguerpla's comment is still very much relevant for this topic https://github.com/moby/moby/issues/41831 (hanging on reboot).
In my case, I use Ubuntu 20.04.3 with docker 20.10.7 a kubeadmin-based cluster (1.22.1). If you don't manually stop docker beforehand (`systemctl stop docker`), it will hang at reboot for around 90 seconds or so.
Does `KillMode=mixed` m

[2021-09-13 20:11] Joseph-Goergen commented on #5563
@dmcgowan @aojea Can we expect this fix implemented into 1.5?

[2021-09-13 22:14] Kern-- commented on #5978
Hi, I dug into this and that message appears when a registry responds with a redirect when pushing. I'm not sure why the registry would only sometimes respond with a redirect, though.

I think it's possible to argue that the registry is misbehaving, but it should be easy to allow ctr to follow the redirect, so I'm going to put a PR in for that and see what the maintainers think.

[2021-09-14 01:27] ningmingxiao opened #5994 "why this /opt/containerd/ is 711, why not 700 or 755 ?"
### Description

[root@localhost containerd]# ls -l /opt/containerd/
total 0
drwx--x--x. 2 root root 6 Sep  7 16:10 bin
drwx--x--x. 2 root root 6 Sep  7 16:10 lib
why not 700 or 755?

### Steps to reproduce the issue

1. ls -l /opt/containerd/

### Describe the results you received and expected

file  permissions is 755 or 700

### What version of containerd are you using?

1.4.3

### Any other re

[2021-09-14 03:53] Gsealy opened #5996 "using iproute2 assign host's segment IP and gateway for container can't access outside network"
### Description

Hi, we want to use `containerd+nerdctl` to replace `docker`, so make some test.

## our thinking

using [pipework](https://github.com/jpetazzo/pipework) assign a host's segment IP for the container (blow img). In docker, container can access outside network, like ping, curl, etc. so docker was fine, but in containerd with nerdctl (also ctr) occur some problem. container can't acce

[2021-09-14 09:15] #5963 closed

[2021-09-14 16:38] wuestkamp commented on #2994
same issue with containerd 1.5.2 and insecure registry.
podman and docker can pull without issues from it (after creating proper config).

k8s+containerd and crictl+containerd throw:

[code]

command:
[code]

[2021-09-15 10:17] david-forster10 commented on #5538
We're having this issue as well, Rhel 7.9, containerd v1.5.4

[2021-09-15 14:18] bmcentos opened #6009 "CrashLoopBackOff - After update to containerd 1.5.5"
Hi.

After update my binaries files with package containerd-1.5.5-linux-amd64.tar.gz, and restart services kubelet and containerd, all run fine, but after reboot the node, the pods kube-proxy-56k4n and kube-flannel-ds-95422 got CrashLoopBackOff error, ass:

Not running after rebot Containerd Version:
[code]

Running fine Containerd Version:
[code]

[code]

My node is:
[code]

After roll back binar

[2021-09-15 14:26] bmcentos commented on #6009
[code]

[2021-09-15 15:27] AkihiroSuda commented on #6009
Doesn’t seem related to containerd.
Maybe you updated flannel too?

[2021-09-15 15:30] #5621 closed

[2021-09-15 16:11] bmcentos commented on #6009
Hi, My flannel alwady updated by flannel:v0.14.0 Version
![image](https://user-images.githubusercontent.com/25855270/133469845-e2a8aed7-07d7-48ee-a09e-46f2664d835f.png)

[2021-09-15 16:16] david-forster10 commented on #5538
We've just been able to stop the error from happening by adding in MountFlags=private to the service file.

Our containerd.service file:

# Copyright The containerd Authors.
#
# Licensed under the Apache License, Version 2.0 (the "License");
# you may not use this file except in compliance with the License.
# You may obtain a copy of the License at
#
#     http://www.apache.org/licenses/LICENSE-2.

[2021-09-15 20:38] kzys commented on #5538
@MikaelSmith and @david-forster10 - Do you also have a scanner that look containerd's in-use directory?

[2021-09-16 06:08] zouyee commented on #6009
[code]

[2021-09-16 06:50] #5938 closed

[2021-09-16 07:28] fuweid commented on #6009
@bmcentos could you show the result of /proc/$(pidof containerd)/status? Thanks

[2021-09-16 10:57] thaJeztah opened #6016 "main branch is broken with GO111MODULE=off (using vendoring/gopath)"
### Description

The main branch is broken when trying to build using the vendor directory (with go modules disabled)

### Steps to reproduce the issue

1. Clone the repository in GOPATH (`/src/go/github.com/containerd/containerd`)
2. Build with `GO111MODULE=off` (to enforce the vendor directory to be used)

Using `GO111MODULE=auto` seems to work as a workaround (we're using `off` to allow using t

[2021-09-16 10:58] thaJeztah commented on #6016
Looks to have been introduced in https://github.com/containerd/containerd/commit/3c5424454b60e775829c2e9b56be53a6af42fa90 (https://github.com/containerd/containerd/pull/5731)

[2021-09-16 11:01] thaJeztah commented on #6016
I see a fix was merged already in https://github.com/open-telemetry/opentelemetry-go/pull/2224. Checking now if there's a release with that change

[2021-09-16 17:08] cpuguy83 commented on #5901
So for me, the hub proxying doesn't work at all.
Trow (specifically the http lib they use) is just throwing errors about corrupt messages, I've tried a few different things here.
The direct link to the trow.yaml doesn't work at all with the hub proxy (this is using amouat's image), I had to swap that out for the normal trow image.

Because of this the fail detection doesn't work at all because pul

[2021-09-16 17:09] cpuguy83 commented on #5901
That said, I doubt this bug belongs in containerd, but we can leave it here and I will convert to a GH "discussion".

[2021-09-16 17:09] #5901 closed

[2021-09-17 03:43] zhucan opened #6022 "why no need to delete container?"
https://github.com/containerd/containerd/blob/7ddf5e52ba738e868b70807797c79c8e54da3497/runtime/v2/manager.go#L180

Stop the containerd, after the node status become NotReady, the kube-controller-manager will crash, and the containerd will clean the dead shim and delete the task, but not delete the container.
![image](https://user-images.githubusercontent.com/13997135/133721006-d1d340c0-d131-413a-9

[2021-09-17 03:57] zhucan commented on #6022
I have an other question, only the kube-controller-manager's shim is deaded, but other pods is ok? @fuweid

[2021-09-17 06:46] zhucan commented on #667
@Random-Liu How to check the shim is active?

[2021-09-17 08:10] matti commented on #4604
same, switching back to docker

[2021-09-17 14:45] fuweid commented on #6022
The `containers` which you can see by `ctr -n k8s.io c ls` are deleted by kubelet container gc, not by containerd.
The shim will be clean up if the process in container exits, because the shim presents the ephemeral thing and the process in container.

And Please provide more information about that crash. Thanks

[2021-09-17 15:50] fuweid commented on #5994
The https://github.com/containerd/containerd/pull/2518 introduces 711.
The 711 is used to allow other to execute the binary, which opt plugin supports.

If `700`, no-one can read, write and execute, except the owner. The opt plugin is used to install the binary, the execute mode is required.
If `755`, the other can execute and read. But the read permission is not required.
So, `711` is reasonable

[2021-09-17 15:50] #5994 closed

[2021-09-17 16:06] fuweid commented on #5959
It seems that you changes the containerd config.

The existing kube-scheduler container is running in `/data/docker/containerd/daemon/io.containerd.runtime.v1.linux/moby/f11fe7725fe909db08fbdab602a515afdf60db2563a0a8886d329147e5707eb0`. But the `docker ps` doesn't see that. So I wonder you change the root or state dir of containerd.

Please provide more information about this. Thanks.

[2021-09-17 16:10] fuweid commented on #5955
It seems it is related to nvidia gpu issue, something like https://forums.developer.nvidia.com/t/nvmap-ioc-write-failed-interrupted-system-call/66081.

I am closing it. Please feel free to open it, if it is caused by containerd. Thanks.

[2021-09-17 16:10] #5955 closed

[2021-09-17 16:13] fuweid commented on #5898
ping @AkihiroSuda . Is it ok to transfer it to nerdctl?

[2021-09-17 16:28] AkihiroSuda commented on #5898
Yes

[2021-09-17 16:30] fuweid commented on #5797
Please provide more information, like containerd version or something. Thanks

[2021-09-17 17:03] kzys commented on #5931
Let me summarize my thoughts.  Here is what we have on LCOW

[code]

**Option 1: Pass string signals from 1 to 3**

Pros
- runc can handle SIGRTMIN+N signals since moby/sys can handle them.
- runc already handles string signals by calling `unix.SignalNum`. We don't have to have multiple different strings -> integers signal conversion logic in the container world, even the governance parties are di

[2021-09-17 17:11] thaJeztah commented on #5931
I think with the proposed change, they'd still be able to pass the signal as it is today (numeric value) and things continue to work.

Afaics, runc is already dealing with conversion of signal names to numbers (it gets the signal passed as a string (command line arguments are always strings), and accepts both names and numbers. The only difference would be that using "moby/signal" extends the list

[2021-09-17 18:34] kzys commented on #5931
moby/signal is slightly "opinionated" than runc or golang.org/x/sys regarding SIGRTMIN handling. The actual value is depending on libc (musl and glibc have the different numeric value). Pushing that to golang.org/x/sys may be hard.

Because of that, I'm bit hesitant to have the logic in runc. runc is the reference implementation and other implementations may need to do what runc does to be compati

[2021-09-17 18:40] cpuguy83 commented on #5931
That's the thing though. This is translating syscall numbers that the *container* will be handling.
We are just sending them. The string->syscall number conversion needs to be standardized and cannot depend on go vs musl vs glibc vs whatever.

The container author knows best here, we just need to send a consistent value.

[2021-09-17 19:54] kzys commented on #5931
Thanks. I've updated the pros/cons above to add the following;

Is this correct? It is bit different from what @thaJeztah said though.

We are going to clarify the conversion logic in the OCI Runtime Spec and other OCI runtimes would follow the change.

[2021-09-17 21:14] katiewasnothere commented on #5931
I'm not sure I understand what you mean by this. How would option two allow us to standardize behavior through OCI?

Clarify in what way?

[2021-09-17 21:22] kzys commented on #5931
Sorry, I meant Option 1 allows/enforces us to standardize the behavior through OCI. Right now, OCI Runtime Spec describes the behavior like below;

https://github.com/opencontainers/runtime-spec/blob/20a2d9782986ec2a7e0812ebe1515f73736c6a0c/runtime.md#kill

But Linux manpages describes real-time signals like below;

https://www.man7.org/linux/man-pages/man7/signal.7.html

[code]

Using moby/sys in

[2021-09-17 22:23] katiewasnothere commented on #5931
Don't we already pass SIGRTMIN+n signals as integers to CRI?

[2021-09-17 23:18] kzys commented on #5931
I'm unsure.

containerd's CRI plugin is calling ParseSignal. 4 files (including one test) in containerd are calling the function so far.

https://github.com/containerd/containerd/search?q=ParseSignal

I think, we need to remove these if runc is responsible for the conversion.

[2021-09-18 03:12] zhucan commented on #6022
Thansk.

"kubectl describe pods kube-controller-manager" output:
![image](https://user-images.githubusercontent.com/13997135/133870206-87b79681-2f33-4ea5-acd3-2449257ae3f3.png)

kube-controller-manager log:
[kube-controller-manager.log](https://github.com/containerd/containerd/files/7189108/kube-controller-manager.log)

@fuweid

[2021-09-18 03:21] zhucan commented on #6022
If the shim is deaded, when cleaning the shim, why not delete the conatiner proactive but deleted by kubelect gc?

[2021-09-18 07:10] caoxuexi commented on #5797
I can’t get more messages now, because I had deleted the vmware. But I still remember the problem was happened after a accidental power failure

[2021-09-18 07:43] fuweid commented on #5797
OK. I am closing this issue. Please feel free to reopen it if you can reproduce the issue. Thanks

[2021-09-18 07:43] #5797 closed

[2021-09-18 14:56] fuweid commented on #6022
The kube-controller-manager crashed automatically because there is other leader(kube-controller-manager) which running in other node.

The container is persistent data which should be deleted by the caller who created. But the lifecycle of shim is equal to container process. If the container process exits, there is no reason to keep it to release the resource. The shim is the temporary instance of

[2021-09-18 14:56] #6022 closed

[2021-09-19 06:56] cristicalin commented on #5524
@estesp @AkihiroSuda any chance we can get some traction on this? I'd be happy to try and lend a hand.

In kubespray we are considering to make containerd the default container manager and are in the process of moving from docker or distro provided binaries to using your build artifacts. While we have developers in favor of this change, it would remove our support for AArch64 in the default config

[2021-09-19 12:14] liiri commented on #3762
I don't think you should use root on a tmpfs -- your state won't get saved on machine restart and will cause unexpected behavior when trying to start containerd service

[2021-09-19 17:41] fahedouch opened #6030 "find an index-sha256 from config-sha256"
### What is the problem you're trying to solve

Hello,

Considering the spec schema below

![image](https://user-images.githubusercontent.com/11649303/133936540-ef1607c9-85e8-4b29-a650-8c83414f8014.png)

I have the `config-sha256` (sha256:9bd428) of image. my goal is to find `index-sha256`of this image.

what i noticed while looking at the code of containerd that we parse spec from top to bottom a

[2021-09-20 03:17] tomdee commented on #5797
I'm hitting the same problem, I'm not sure how feasible a nice repro is given I also hit it after a power outage. Can you offer any tips on how to get docker running again without losing all my containers?

[2021-09-20 23:52] cyphar commented on #5931
The only issue is this recommendation was made by glibc but doesn't handle the case where a glibc process sends a signal to a musl process. So if we wanted to handle this perfectly in runc we would need to try to detect which libc a program is using, which is going to be as close to impossible as you can get when you consider static linking as well as symbol stripping (maybe we could check whether

[2021-09-21 05:43] TBBle commented on #4884
I left a comment on #4883; it's actually visible in the default config when you dump it, and [the docs](https://github.com/containerd/cri/blob/master/docs/config.md) tell you what to look for. That particular name appears to come from the original [_Windows Kubernetes + CRI-ContainerD planning_ doc](https://docs.google.com/document/d/1NigFz1nxI9XOi6sGblp_1m-rG9Ne6ELUrNO0V_TJqhI/edit).

[2021-09-21 08:46] AkihiroSuda commented on #6030
Maybe we can add a label to the config blob?

cc @ktock @fuweid @dmcgowan WDYT?

[2021-09-21 11:46] bduclaux commented on #4604
Same issue here, with gke version 1.20.9-gke.701 .

[2021-09-21 15:42] mikebrow commented on #4604
@dims @feiskyer @Random-Liu @ehashman

FYI.. kubelet is trying to create the same container twice using with the same start count "0", and also does not respond to the "failed to reserve container name" error message.  Thoughts?

[2021-09-21 17:45] kzys commented on #2576
Since #4447 has been merged, containerd.New() doesn't swallow underlying errors. Let me know if it doesn't work.

[2021-09-21 17:45] #2576 closed

[2021-09-21 17:50] kzys commented on #5665
The change has been merged. The devmapper snapshotter will support xfs from the upcoming 1.6.x release.

[2021-09-21 17:50] #5665 closed

[2021-09-21 18:28] mikebrow commented on #5563
not following exactly what the ask is.. the behavior changed at the stream client and now all stream servers are expected to block the client change to fix the client?

[2021-09-21 18:45] donnyv12 commented on #4604
Having this issue as well with GKE. Appreciate the detailed research folks have posted here.

[2021-09-21 18:56] kzys commented on #5748
We are getting the issue again. So I'm adding `curl ...` as @thaJeztah suggested in #6035.

[2021-09-21 18:56] ehashman commented on #4604
Is there a reproducer? Can you please file an issue against k/k?

[2021-09-21 18:58] bduclaux commented on #4604
I confirm that moving back to docker solves the problem:

`gcloud container clusters upgrade mycluster --image-type cos --node-pool mynodepool --zone myzone`

[2021-09-21 19:39] macxs commented on #5538
same issue as @david-forster10 here; rhel 7.9, containerd v1.4.4, McAfee.
I'd be interested in your configuration of containerd MountFlags and how it looks like, as I couldn't follow your post.

[2021-09-21 20:32] david-forster10 commented on #5538
@macxs This is how we have our containerd.service file configured:

# Copyright The containerd Authors.
#
# Licensed under the Apache License, Version 2.0 (the "License");
# you may not use this file except in compliance with the License.
# You may obtain a copy of the License at
#
#     http://www.apache.org/licenses/LICENSE-2.0
#
# Unless required by applicable law or agreed to in writing, softw

[2021-09-21 20:52] macxs commented on #5538
thanks for the hint. I'll give it a shot

[2021-09-21 22:31] jsnouffer commented on #5155
I just encountered this issue today with neo4j and containerd. Has anybody found a successful workaround?

@AkihiroSuda I'm curious, why this is not considered a bug?

[2021-09-22 01:55] AkihiroSuda commented on #5155
Because it is likely an issue of JVM side, which probably doesn't support non-docker cgroup names

[2021-09-22 02:11] zhucan commented on #6022
@fuweid There is only one kube-controller-manager, if we stop the containerd, after the status of the node become 'NotReady' to start the containerd, is there affect to the kube-controlle-manager?

[2021-09-22 03:00] zhucan commented on #6022
I have a question, only kube-controller-manager crash, why kube-shceduler and kube-apiserver not crash?

[2021-09-22 03:03] fuweid commented on #6022
Please checkout the log about panic. Thanks

[2021-09-22 03:41] zhucan commented on #6022
no any info about panic and trace in the txt? I have no any way to debug this issue.

[2021-09-22 08:05] oldthreefeng opened #6037 "containerd v1.4.9 make build error"
### Description

make build error

### Steps to reproduce the issue

1.  git clone 	git@github.com:containerd/containerd.git

2.  git checkout  v1.4.9

3 . make build
go: cannot find main module, but found vendor.conf in /Users/louis/go/src/github.com/containerd/containerd
	to create a module there, run:
	go mod init
🇩 build
go: cannot find main module, but found vendor.conf in /Users/louis/go/src

[2021-09-22 08:35] AkihiroSuda commented on #6037
You may need `export GO111MODULE=off`

[2021-09-22 09:45] csweichel commented on #5978
Can I help somehow? What information is needed/could we provide that would help things along?
This issue is currently blocking our adoption of buildkit.

[2021-09-22 09:52] akhilerm commented on #5978
@fuweid What is the additional info needed on this bug?

[2021-09-22 10:52] survivant commented on #5155
@jsnouffer I filled a issue on neo4j that fixed my issue here : https://github.com/neo4j-contrib/neo4j-helm/issues/167

[2021-09-22 11:45] strideynet opened #6039 "`containerd.WithNewSpec` does not work with `containerd.WithDefaultNamespace`"
### Description

Creating a container with the WithNewSpec() option in combination with a client created with the WithDefaultNamespace() option does not work.

This appears to be caused by the fact that the WithDefaultNamespace() option functions by adding an interceptor, which adds the default namespace to the context on outgoing GRPC requests. However, the WithNewSpec() option is evaluated local

[2021-09-22 11:51] dnwe commented on #5854
@AkihiroSuda / @fuweid is there any more we can collect for you here? any debug or metrics from the snapshotter that would be useful?

[2021-09-22 11:58] strideynet commented on #6039
I'm split on potential resolutions for this bug. Theoretically, we could offer a `.DefaultNamespace()` or similar on the Client that `namespaces.Namespace(ctx)` could check. I imagine in most circumstances that where `namespaces.Namespace(ctx)` is called, the client would be available to pass in.

[2021-09-22 13:18] fuweid commented on #5854
The repull doesn't recreate the snapshotter. Only after delete the snapshotter, the containerd will create new one during repulling image.

With my understanding, when the snapshotter metadata is valid but the file in snapshotter is zero, it seems that the kernel doesn't flush the dirty page into disk. If you provides `/var/lib/containerd/io.containerd.metadata.v1.bolt/meta.db` data, it will be he

[2021-09-22 13:21] fuweid commented on #6022
The kube-controller-manager.log contains the panic information. please check it. Thanks

[2021-09-22 13:38] fuweid commented on #6030
Currently, the containerd does add the gc label in the blob.

* If the digest of config blob is `X`, we can get the manifest by filter option like `containerd.io/gc.ref.content.config=Y`.

* If the digest of manifest blob is `X` and Y is the order in the index-manifest-list blob, the target index-manifest-list blob will contains the label `containerd.io/gc.ref.content.m.Y=X`. Since the Y is unknow

[2021-09-22 14:30] fuweid commented on #6039
Thanks for reporting.

The default namespace option of containerd client is used to inject the namespace into grpc metadata so that the server side can read it from context. But the `containerd.WithNewSpec` is helper in client side, which means that we still need the namespace in context. I think it will cause potential bug if the spec used A namespace and client uses B namespace by default.

Mayb

[2021-09-22 14:55] ktock commented on #6030
Yes, I think so. And I believe this can be handled on the client side.

@fahedouch Doesn't it work to append a label that contains index digest to each config blob when storing it to the content store, on the client side?

[2021-09-22 15:06] strideynet commented on #6039
Yeah, the more I think about it, the more adding something to client along the lines of `DefaultNamespace()` or `Namespace()` seems to make sense.

[2021-09-22 15:16] xlejo opened #6040 "0711 permissions in containerd runtime"
Hi everyone!

It's necessary 0711 permission in the runtime folder? Because of this, unprivileged users may list (in some case write) folders in the root directory of the container.

In this case is solved by simply doing `chmod 0700 /run/k3s`.

More info: https://github.com/k3s-io/k3s/issues/4056

Thanks!

[2021-09-22 16:17] foamkeen commented on #3145
I'm seeing similar behavior which I can 100% reproduce with `ctr snapshot diff <container id>` command.
Basically doing a diff between an Active snapshot and its parent causes these messages in kern.log:
[code]
Which later causes weird issues with the rootfs of that container becoming partially not-writable.

containerd version is 1.4.8+azure.

[2021-09-23 02:16] zhucan commented on #6022
I did mention in the previous comment. There is **no** other leader which running in other node.

[2021-09-23 08:31] brauner commented on #5931
LXC uses real time signals only for systemd, i.e. when the container runs systemd and no specific signal has been specified we will send the relevant real-time signal to systemd. Since systemd doesn't build with musl we don't have issues with libc differences.

We do signal forwarding in e.g. LXD but it is restricted to well-defined signals such as SIGWINCH, SIGUSR{1,2}, SIGINT etc. not real-time

[2021-09-23 08:31] brauner commented on #5931
Because systemd's shutdown sequence is based on real-time signals I should add.

[2021-09-23 08:33] brauner commented on #5931
Also note that `SIGRT{MIN,MAX}` aren't constants but function calls.

[2021-09-23 08:45] brauner commented on #5931
The problem exists there too though in so far as it is possible that glibc inside and outside of a container could technically alter SIGRTMIN and differ. So one thing I talked to Lennart about was expressing it in terms of SIGRTMAX-<n> instead of SIGRTMIN+<n> because presumably SIGRTMAX is stable but it's not perfect either.

[2021-09-23 08:54] anaconda2196 opened #6042 "initialization error: nvml error: insufficient permissions: unknown"
### Description

GPU Machine

[code]

But when I run -

[code]

cat /etc/config.toml
[code]

rpm -qa | grep nvidia

[code]

[code]
[code]

[code]

Is there anything I am major missing with configuration ?
Thanks in advance.

### Steps to reproduce the issue

1.
2.
3.

### Describe the results you received and expected

Is there anything I am major missing with configuration ?
Thanks in advance.

#

[2021-09-23 19:07] #6016 closed

[2021-09-23 19:09] #5690 closed

[2021-09-23 20:44] kzys commented on #5748
This build is having the issue.

https://github.com/containerd/containerd/runs/3691795519#step:5:153

[code]

Then

[code]

[2021-09-24 15:37] fuweid commented on #6037
release 1.4 doesn't support go mod. As @AkihiroSuda mentioned, the `export GO111MODULE=off` will help. Thanks for reporting.

[2021-09-24 15:37] #6037 closed

[2021-09-24 17:30] fahedouch commented on #6030
@ktock in the client side we have  `containerd.WithPullLabels` but it is not possible to pass `index digest` because the fetiching logic is done on the containerd side. @fuweid can you show me the syntax of making a filter with `ctr` for example ?

[2021-09-25 01:47] ktock commented on #6030
@fahedouch

because the fetching logic is done on the containerd side.

Doesn't something like the following meet you needs? (very rough PoC and not tested well)

[code]

config.go:

[code]

[2021-09-25 07:50] morningspace commented on #5895
@claudiubelu, actually I was using [KIND](https://kind.sigs.k8s.io/) that wraps containerd and ctr, and the image that I referred to in this issue can be used to start the container w/o problem. So, it is KIND who pulls the image and launches the container for me. What I was trying to do is to export the image pulled by KIND from the KIND container node to the host machine, so that I can push it t

[2021-09-25 08:23] timchenxiaoyu opened #6048 "ctr support set ulimit"
### What is the problem you're trying to solve

ctr support set ulimit

### Describe the solution you'd like

set max open file

### Additional context

_No response_

[2021-09-25 14:08] zouyee opened #6049 "remove pkg/errors from vendor"
### What is the problem you're trying to solve

Remove all uses of pkg/errors, switching to native Go error (un)wrapping.
xref: https://github.com/opencontainers/runc/pull/3011

### Describe the solution you'd like

| Vendor  | PR | PR status | cut |
|  ----  | ---- | ---- | ---- |
| containerd/aufs  | https://github.com/containerd/aufs/pull/33 | Merged | |
| containerd/btrfs  | https://github.com

[2021-09-25 14:09] zouyee commented on #6049
/cc @estesp  @AkihiroSuda

[2021-09-27 07:26] timchenxiaoyu commented on #6048
no need, switch nerdctl

[2021-09-27 07:26] #6048 closed

[2021-09-27 07:32] timchenxiaoyu opened #6054 "MaxConcurrentDownloads not take effect"
### Description

download image , fetch  func be called 26 (image layer is 26) at some time

### Steps to reproduce the issue

1.
2.
3.

### Describe the results you received and expected

only MaxConcurrentDownloads count goroutine to download image layer

### What version of containerd are you using?

1.4.3

### Any other relevant information

_No response_

### Show configuration if it is relat

[2021-09-27 08:53] cyclinder commented on #6054
can you more description about this issue?

[2021-09-27 09:27] timchenxiaoyu commented on #6054
MaxConcurrentDownloads is not  fetch blob count

[2021-09-27 12:32] mcbenjemaa commented on #6049
[code]

[2021-09-27 19:36] BoardzMaster opened #6056 "Support Landlock LSM"
### What is the problem you're trying to solve

Adding Landlock support in **containerd**.
Landlock is a stackable LSM providing unprivileged access control for a set of processes.
It was merged in mainline Linux 5.13. Its author Mickaël Salaün @l0kod, https://landlock.io/.
I suppose Landlock will bring better sandboxing with unprivileged features and improve container security.

### Describe the

[2021-09-27 19:47] #5654 closed

[2021-09-28 09:48] jonyhy96 commented on #6054
`MaxConcurrentDownloads` controls the max number of goroutines which download layers concurrently, not the limit of total goroutine number

[2021-09-28 10:22] cmoulliard commented on #2994
Why does it fail when we add a certificate to the registry container ?
[code]
Log of the registry reports such an error
[code]
crictl pull generates the same error as mentioned within your comment
[code]

We can of course do a curl
[code]

[2021-09-28 17:40] Kern-- opened #6061 "The proxy snapshotter does not send the namespace in Context"
### Description

When an out-of-process snapshotter tires to retrieve the containerd namespace from context (using `namespaces.Namespace` or `namespace.NamespaceRequired`) the namespace is always empty.

Looking at how `namspaces.Namespace` works, it first tries to pull the namespace directly out of the context, and then if that fails, [it checks grpc and ttrpc headers](https://github.com/containe

[2021-09-28 21:23] zmrow opened #6063 "cri: Support configuration of process RLIMIT_NOFILE limits"
There was a [previous issue](https://github.com/containerd/cri/issues/515) open for configurable support of rlimits in `cri-containerd`, but it was closed without the support being added.

Currently containers started with `cri` inherit the limit from the default OCI spec or the `containerd` process.  I would like to be able to set these soft/hard limits via `cri` configuration; something like:

[

[2021-09-28 21:27] zmrow commented on #6063
[Bottlerocket](https://github.com/bottlerocket-os/bottlerocket) has received [a](https://github.com/bottlerocket-os/bottlerocket/issues/1703) [few](https://github.com/bottlerocket-os/bottlerocket/issues/1136) issues surrounding a configurable limit, and carries [a patch](https://github.com/bottlerocket-os/bottlerocket/pull/1180) with some hard coded values.

I've expanded on that patch and should

[2021-09-29 01:11] SaveTheRbtz opened #6067 "Excessive CPU usage during stat collection for BTRFS"
We are trying to switch from an `overlayfs` to `btrfs` but hitting a problem when `containerd` periodically consumes quite a lot of CPU (%sys) doing used space calculations here:

https://github.com/containerd/containerd/blob/0f27a423ef12110770382095024a852bd309606c/snapshots/btrfs/btrfs.go#L160-L164
(We have quite a lot of containers and files in each.)

Is it possible to have a way to either dis

[2021-09-29 01:49] bobbypage commented on #6063
Is it possible to set rlimits via `base_runtime_spec` which was introduced in https://github.com/containerd/cri/pull/1498 (xref: https://github.com/containerd/cri/issues/1488) instead?

The benefit there is by use `base_runtime_spec` it should be possible to override any OCI spec value. Otherwise for every value we want to override it will require exposing it/passing it down via CRI separately (as

[2021-09-29 07:00] timchenxiaoyu commented on #6054
yes, i konw this. but MaxConcurrentDownloads not  controls the max number of goroutines which download layers concurrently

[2021-09-29 07:03] timchenxiaoyu commented on #6054
[fetch func](https://github.com/containerd/containerd/blob/d132691f109389d986bb96a8fa903ba6272a2049/remotes/handlers.go#L109)  be called  more than MaxConcurrentDownloads  at same time

[2021-09-29 08:11] jonyhy96 commented on #6054
https://github.com/containerd/containerd/blob/main/images/handlers.go#L159-L187  please checkout this. it use semaphore to control max goroutine to  download concurently.
If this till don't help, pls post with more info like:
- the command you are using
- the pprof file
- the number of goroutines u expect and got

[2021-09-29 08:28] timchenxiaoyu commented on #6054
![image](https://user-images.githubusercontent.com/9782796/135231850-f0ca36c0-def5-41bd-94b1-e1740be78762.png)

time="2021-09-27T15:18:40+08:00" level=warning msg="************************copy{application/vnd.docker.image.rootfs.diff.tar.gzip sha256:632667d6b1659eafe300df43a237287054f65a91395e5de7d6bedc155b8c1640 200 [] map[] <nil>}" digest="sha256:632667d6b1659eafe300df43a237287054f65a91395e5de7d

[2021-09-29 21:33] jQrgen commented on #4295
+1

[2021-09-30 15:50] matti commented on #4604
This also happens with UBUNTU_CONTAINERD, not just COS_CONTAINERD

[2021-09-30 16:13] zmrow commented on #6063
@bobbypage I wasn't aware of that functionality, thanks for the suggestion!  I'll try it out and make sure it works for us.

[2021-09-30 16:30] fahedouch commented on #6030
thanks @ktock , yes it absolutely follows my need

[2021-09-30 16:42] thaJeztah commented on #6030
If I understand your issue correctly, you're trying to find the index that an image belongs to. I think the main reason that it doesn't work "in reverse" is that `index <--> image-manifest` is an `1:n` relation; an image can be referenced by multiple indexes, so there's no "single" index that the image is referenced by (there may be more)

[2021-09-30 22:54] dmcgowan commented on #6061
I wouldn't categorize this as a bug since snapshotter implementations are not designed to directly handle namespaces. The keys which are used by the implementations already have the namespaces applied.

I understand there may be use cases where the snapshot is trying to connect back through to containerd. I would like to better understand the specific use case here, there is likely a better (but p

[2021-10-01 02:47] cpuguy83 commented on #6061
I've found namespace to be missing from shims as well.

[2021-10-01 04:17] Natetronn commented on #386
I think I'm running into this issues as well on Manjaro (Pahvo 21.1.4 - 5.13.19-2-MANJARO), with 105 second shutdowns and restarts. I traced my logs to containerd-shim.

After uninstalling everything Docker related (and subsequently containerd) my PC restarts to grub menu in about 15 seconds. Reinstalled Docker and back to 105 seconds again.

[2021-10-01 13:55] foamkeen opened #6077 "Creating diff of a container running on overlayfs generates duplicate mounts"
### Description

When we try to create a diff of a container running on overlayfs with `ctr` utility, we immediately see the following in the kernel log:
[code]
And later for that container we observe this "undefined behavior" as the RootFS of that container becoming partially not-writable (an attempt to create a file results in "No such file or directory" error).

My understanding is that this ha

[2021-10-01 14:33] harshanarayana commented on #5959
@fuweid  Below are the information you have requested.

[code]

[code]
[code]
[code]

[2021-10-01 16:11] AkihiroSuda commented on #5659
We didn’t reach consensus on this

[2021-10-01 16:11] #5659 closed

[2021-10-02 10:43] haslersn opened #6080 "Containerd fails to stop containers"
### What is the problem you're trying to solve

When deleting Pods in my kubernetes cluster with containerd, one one node they are stuck in status Terminating. containerd shows the following logs that seem to be related:

[code]

### Describe the solution you'd like

containerd should successfully delete the container.

### Additional context

Kubernetes v1.19.15 via kubeadm on bare-metal

[code]

[2021-10-02 10:46] haslersn commented on #6080
Sorry, I chose the wrong template. This is a bug report. Can somebody change the label?

[2021-10-04 17:23] kzys opened #6083 "Follow-up changes for OpenTelemetry tracing support"
### What is the problem you're trying to solve

containerd's main branch is now having OpenTelemetry tracing support. While the code change is mostly completed, there are a few follow-up items which were discussed in #5731.

### Describe the solution you'd like

1. Documentation update
2. The path to OLTP over HTTP support or reasons to support only gRPC.
3. Address a concern regarding the executa

[2021-10-04 23:50] guodongli-google opened #6084 "Report coding issues that possibly leak memory due to unclosed resources"
### Description

The `Writer` is unclosed after usage, which may leak memory:

- https://github.com/containerd/containerd/blob/d193dc2b8afb1467255cea5326e9807514f94c0f/content/testsuite/testsuite.go#L939
- https://github.com/containerd/containerd/blob/d193dc2b8afb1467255cea5326e9807514f94c0f/content/testsuite/testsuite.go#L819
- https://github.com/containerd/containerd/blob/d193dc2b8afb1467255cea5

[2021-10-05 13:52] alcaitiff commented on #386
@Natetronn how you did that? What files I must change?

[2021-10-05 15:55] Natetronn commented on #386
I'm on Manjaro (Arch based) and edited docker.service like so (substitute nano with your editor of choice pico, vim etc.):

`sudo nano /lib/systemd/system/docker.service`

Then I just added `containerd.socket containerd.service` to the After and Requires lines, as suggested by @jordimassaguerpla (I left what was already there in place and appended the new values to the end of the line; for nano CT

[2021-10-05 16:08] dmcgowan commented on #6084
I took a look at those 3 examples, in each case it is fine to add a `defer w.Close()` after open

[2021-10-05 17:12] guodongli-google commented on #6084
Agreed. Something like:
[code]

[2021-10-06 03:59] dungdm93 opened #6087 "containerd listen on `--address=fd://`"
### What is the problem you're trying to solve

As Docker gradually moves to paid subscription, I'd like to use `continaerd` & [`nerdctl`](https://github.com/containerd/nerdctl) instead. However, `nerdctl` need to be run as root or require `containerd` run in `rootless mode`.
It's better if `nerdctl` provide the same experiment as docker client does.

### Describe the solution you'd like

Any non-

[2021-10-06 06:00] AkihiroSuda commented on #6087
Why not just use `sudo nerdctl`?

[2021-10-06 08:26] kimullaa opened #6091 "runc in containerd1.5.7 does not work on CentOS7"
### Description

runc in <https://github.com/containerd/containerd/releases/download/v1.5.7/cri-containerd-cni-1.5.7-linux-amd64.tar.gz> is statically linked file,so runc does not work on CentOS7.

https://github.com/containerd/containerd/issues/3871#issuecomment-564756403

### Steps to reproduce the issue

1.
2.
3.

### Describe the results you received and expected

The difference between <https

[2021-10-06 09:52] kimullaa commented on #6091
If the maintainer agrees, I would like to fix install_runc script(https://github.com/containerd/containerd/blob/79e35892c8d978d25f0f96f5f272d3364384e7ab/script/setup/install-runc#L23)

[2021-10-06 13:11] BDanyil commented on #4295
+1

[2021-10-07 11:11] Jille opened #6095 "containerd restart broke: failed to recover state: failed to reserve sandbox name"
### Description

We're running Kubernetes (`v1.22.1`) with containerd (`1.5.2-0ubuntu1~20.04.3`). We have an upgrade controller that automatically runs `apt get update && apt-get dist-upgrade`. Yesterday it updated containerd (`1.5.2-0ubuntu1~20.04.2` -> `1.5.2-0ubuntu1~20.04.3`), in the process restarting containerd and leaving the state in /var/lib/containerd broken. Rebooting did not resolve th

[2021-10-07 18:14] luizrojo opened #6097 "Pulling an invalid image from a private registry gives wrong error message"
### Description

We are switching to containerd and during the tests I found a strange behavior pulling images from our private registry.

When containerd tries to pull an image that does not exist, instead of giving the "image not found" type of error, it gives an TLS error `x509: certificate signed by unknown authority`

Error example:
[code]

Working example:
[code]

### Steps to reproduce the

[2021-10-08 07:57] timchenxiaoyu commented on #6054
but ctr download

![image](https://user-images.githubusercontent.com/9782796/136519545-fe153c66-3b0d-4dd5-a21c-ef4d5fe56dcc.png)

[2021-10-08 13:56] AkihiroSuda commented on #6097
Isn’t this an issue of the registry server implementation?

[2021-10-08 16:58] Kern-- commented on #6061
We’re actually exploring ways to support additional snapshotters in firecracker-containerd. We can’t directly use non-devmapper snapshotters because firecracker does not support sharing the host filesystem with the guest (https://github.com/firecracker-microvm/firecracker/issues/889#issuecomment-460043132).

One option is to move the content and snapshotter inside the VM. In this case each VM woul

[2021-10-08 21:31] kzys opened #6108 "Update documents regarding sched_core"
### What is the problem you're trying to solve

sched_core support will be in 1.6.0 (see #6011). But the option is not documented.

### Describe the solution you'd like

Update documents to explain the option.

### Additional context

_No response_

[2021-10-09 02:47] luizrojo commented on #6097
@dmcgowan I do not have access to the registry server (yet) to check the communication on its side.

I did a couple of tcpdump captures while pulling the image

While pulling the right image the TLS negotiation is handled smoothly and the image is tranfered, pulling the wrong image causes the client to give a `TLSv1.2 Record Layer: Alert (Level: Fatal, Description: Bad Certificate)`

The dumps are

[2021-10-10 08:30] comfuture commented on #5592
strongly agree.
cause of this, some software throws an error while launch.

for example k9s:

[code]

[2021-10-11 22:00] bobbypage opened #6112 "Add support for k8s v1.23 CRI Pod Sandbox and Container Stats"
### What is the problem you're trying to solve

K8s 1.23 added new CRI RPCs for pod sandbox and more detailed container stats. See https://github.com/kubernetes/enhancements/issues/2371 for the k8s upstream issue.

https://github.com/kubernetes/kubernetes/pull/102789 added the CRI fields namely `PodSandboxStats`, `ListPodSandboxStats` and some new fields for CPU and memory container stats.

### De

[2021-10-11 23:17] qiutongs commented on #4541
@cyrus-mc Please try the latest code of master. https://github.com/google/cadvisor/pull/2956
I believe the problem you encountered is fixed.

[2021-10-11 23:19] qiutongs commented on #4541
/assign

[2021-10-11 23:20] cyrus-mc commented on #4541
Latest of containerd or cadvisor? Not sure how cadvisor is in play anymore since my understanding is that with CRI the cadvisor functionality is now handled by runtime.

[2021-10-12 05:44] mraghu4 commented on #5854
@fuweid the meta.db is uploaded to my private repo and I invited you.

Snapshot ID:
{
"Kind": "Active",
"Name": "ba4ebee283a04b1762d257f58973e82e7736ab900a65e327405cae11c70b1140",
"Parent": "sha256:d05dd536d7452e3581f2c5269ae2766560a3b0546b684c5da9a56dcfa3553c5a",
"Created": "2021-10-11T12:37:07.572382971Z",
"Updated": "2021-10-11T12:37:07.572382971Z"
}

[2021-10-13 02:29] yuqitao opened #6119 "mkfs.ext4 is slow in devmapper"
### What is the problem you're trying to solve

`snapshotter` is `devmapper` and `base_image_size` is `20G`, pull one image, unpack the first layer, see https://github.com/containerd/containerd/blob/08557253700839e39760a0ee05670ea305f7a836/snapshots/devmapper/snapshotter.go#L415 `mkfs.ext4` takes about 9s on cloud volume, while it takes 1s on local volume.

### Describe the solution you'd like

I

[2021-10-13 02:30] yuqitao commented on #6119
@fuweid

[2021-10-13 02:33] yuqitao commented on #6119
see https://github.com/kubernetes/kubernetes/pull/38865/files

[2021-10-14 09:06] sambhav opened #6123 "Containerd unable to launch images created with buildpacks (`label key and value greater than maximum size (4096 bytes), key: io.buildpa: invalid argument`)"
### Description

https://buildpacks.io/ is a container building tool that relies on OCI image labels to store some configuration metadata in the container image in order to do various operations related to caching/rebuilding and storing provenance metadata about the built container. These labels can sometimes be larger than 4096B which is fine given that no limits are placed on the image label siz

[2021-10-15 03:07] ADustyOldMuffin commented on #5844
I'd be interested in taking this on if possible.

[2021-10-18 13:53] thaJeztah commented on #6087
Please _DON'T_ recommend this. Permissions on `/var/run/docker.sock` are like that for a reason; access to `/var/run/docker.sock` is equivalent to `root` access on the host. Changing the permissions of the socket to be accessible everyone means granting _all_ users `root`  access. See https://docs.docker.com/go/attack-surface/

[2021-10-18 21:49] SaveTheRbtz commented on #6067
(After talking with @estesp at KubeCon he suggested to ping @AkihiroSuda since he's been working on BTRFS.)

He also suggested that it may be possible to add an option to `containerd` for selectively disabling stat collectors in cases where they are too expensive.  Seems like CRI-O went this way:

(cc Dropboxer's: @veshij @euroelessar)

[2021-10-19 12:36] #6123 closed, assigned to nobody

[2021-10-19 15:02] claudiubelu opened #6135 "Windows: Cannot forcefully delete sandbox if HNS endpoint cannot be found"
### Description

If the HNS endpoints get deleted for any reason, the sandboxes cannot be removed anymore, even if ``--force`` was given.

### Steps to reproduce the issue

1. Create container
2. Remove HNS endpoint with: ``hnsdiag.exe delete endpoints endpoint_id``
3. ``crictl.exe  rmp --force pod_id``

### Describe the results you received and expected

The operation fails with:

[code]

The con

[2021-10-20 15:29] #6061 closed

[2021-10-21 05:43] hzhongl commented on #5464
I have encountered this problem now, how can I solve it

[2021-10-21 07:02] vireshas opened #6240 "Make default buffer size configurable"
defaultBufferSize is hardcoded and at times 4Kb is too restrictive. Can we make it configurable?

https://github.com/containerd/cri/blob/68b61297b59e38c1088db10fbd19807a4ffbad87/pkg/server/io/logger.go#L41

[2021-10-21 08:03] Ramprasad-28 opened #6141 "Containerd not able to pull images from gitlab registry via localhost in KOPS cluster"
### Description

Hi,

I am using containerd.io version v1.4.3 as container runtime in KOPS version 1.19 with Kubernetes version 1,19.

I am trying to run the pipeline by pulling the images from the gitlab registry (accessible via local host) in the kubernetes cluster.

I have tried making changes in the **config.toml** file in the worker nodes inorder to pull the images.

I tried adding the localh

[2021-10-21 08:31] sarbajitc commented on #5854
Here is the meta.db file

[meta.db.zip](https://github.com/containerd/containerd/files/7387380/meta.db.zip)

[2021-10-21 14:35] Nello-Angelo opened #6143 "failed to get sandbox ip: check network namespace closed: remove netns: unlinkat /var/run/netns/XXXX device or resource busy"
### Description

Hello, sometimes when i delete pods or daemonset or statefullset, i have this massage in events of pod - error determining status: rpc error: code = Unknown desc = failed to get sandbox ip: check network namespace closed: remove netns: unlinkat /var/run/netns/cni-b95837c6-ae48-a889-7760-84b91b7af749: device or resource busy
I use kubernetes 1.21.4 version with containerd

### Step

[2021-10-22 00:08] cpuguy83 commented on #6143
Are you mounting /run/nets (or any parent) into a container?
This sounds like the mount is being leaked to a container due to mounting the host path.

[2021-10-22 00:23] cpuguy83 commented on #6084
Fixed by #61115

[2021-10-22 00:23] #6084 closed

[2021-10-22 10:23] pvimalmec opened #6147 "ERROR: failed to copy: httpReadSeeker: failed open: content at nexus repo not found: not found"
Hi,

While jenkins build, we are seeing intermittent issue while pulling image from private repo. Could you please guide was where should be the issue resides(Whether at docker CE or at containerd or at nexus repo):

Here are some more information:
Docker CE Version:           20.10.8
containerd containerd.io 1.4.3
Nexus 3  **3.18.1-01*

Logs from Nexus server:
"GET /repository/docker/v2/library/o

[2021-10-22 11:35] robertauer opened #6148 "Bash test command in alpine container depends on containerd version"
### Description

When running the bash `test` command inside an alpine Docker container, it's exit code seems to depend on the containerd package version installed on the system. If I run the command `test -x /usr/lib; echo $?` and `containerd.io` package `1.4.3-1` (or older) is installed, it exits with `1`, but if `containerd.io` `1.4.3-1` (or newer) is installed, it exits with `0`.

My testing s

[2021-10-25 05:23] saurabh2253 opened #6151 "Export File System similar to docker export"
A way to export filesystem of a container once it is created without creating a task.

[2021-10-25 06:01] #6151 closed, assigned to nobody

[2021-10-26 08:15] prashilgupta opened #6157 "Resource temporarily unavailable: Due to logs filling up /run/k3s/containerd/io.containerd.runtime.v2.task/k8s.io #4327"
### Description

Environmental Info:
K3s Version:

kubectl version
Client Version: version.Info{Major:"1", Minor:"21", GitVersion:"v1.21.1+k3s1", GitCommit:"75dba57f9b1de3ec0403b148c52c348e1dee2a5e", GitTreeState:"clean", BuildDate:"2021-05-21T16:12:29Z", GoVersion:"go1.16.4", Compiler:"gc", Platform:"linux/amd64"}
Server Version: version.Info{Major:"1", Minor:"21", GitVersion:"v1.21.1+k3s1", GitC

[2021-10-26 08:21] AkihiroSuda opened #6158 "BUILDING.md: "Static binaries" section is broken"
### Description

The "Static binaries" section of BUILDING.md seems outdated.
https://github.com/containerd/containerd/blob/0d0fb6858971e5dd92cb044a744979ccb1e9635a/BUILDING.md#static-binaries

It results in creating broken binaries

[code]

### Steps to reproduce the issue

[code]

### Describe the results you received and expected

Received: broken binaries
Expected: functional binaries

### Wha

[2021-10-26 08:37] ralfv opened #6160 "containerd deletes pause image when running crictl rmi --prune even if pause is used by running Kubernetes Pod"
### Description

When running crictl rmi --prune against containerd -when it is used as container runtime for Kubernetes- deletes the pause image even if there are Pods scheduled to the node (which obviously use the pause image).

I initially opened this on crictl see https://github.com/kubernetes-sigs/cri-tools/issues/839 and got this reply https://github.com/kubernetes-sigs/cri-tools/issues/839#

[2021-10-27 13:53] #6135 closed, assigned to nobody

[2021-10-27 16:29] crazy-max opened #6168 "[v1.6.0-beta.1] platforms.Normalize should not alter platforms.DefaultSpec"
### Description

Since containerd 1.6.0-beta.0, default platform spec is now correct for Windows with `OSVersion` (#5914) but [`platforms.Normalize`](https://github.com/containerd/containerd/blob/45c5298700a81b4b50b73b2125d6f082998bfec7/platforms/platforms.go#L257-L266) [unsets `OSVersion` and `OSFeatures`](https://github.com/containerd/containerd/blob/45c5298700a81b4b50b73b2125d6f082998bfec7/plat

[2021-10-27 19:25] #6108 closed, assigned to crosbymichael

[2021-10-28 18:11] brycechesternewman opened #6172 "Randomly no log file being created in /var/log/containers."
### Description

I will start with a questions which may direct this issue elsewhere. Is containerd responsible for creating a log file in /var/log/containers/?

### Steps to reproduce the issue

1. Using EKS Kube 1.20 create a POD.
2. I can see the pod is running and working successfully since we call other services from within the POD. Sometimes the log file is created in /var/log/containers/ an

[2021-10-28 23:00] SebTardif opened #6173 "Would like a way to block unapproved registries"
### What is the problem you're trying to solve

It's common in pretty much all package dependencies system to block system to retrieve packages from unauthorized repositories. In this context, the same idea is that we should have a way to allow only to retrieve images from a specified list of registry like an enterprise approved registry.

### Describe the solution you'd like

So in etc/containerd

[2021-10-28 23:53] SebTardif opened #6174 "config.toml wildcard processing order not matching semantic of a map"
### Description

config.toml allow to define a list of registry, including a wildcard "*". The format of toml is a map, so by definition the order is not expected to be respected.

The doc at: https://github.com/containerd/containerd/blob/main/docs/cri/registry.md is saying:
`When pulling an image from a registry, containerd will try these endpoint URLs one by one, and use the first working one.`

[2021-10-29 16:03] claudiubelu opened #6181 "Windows: IPs might leak when azure-vnet-ipam is used"
### Description

If an HNS endpoint / namespace associated with a Windows Pod is removed, then the IP associated with it remains ``in use`` in the ``azure-vnet-ipam.json`` file even after the Pod has been deleted.

This has been observed in the Windows equivalent of the ``TestSandboxRemoveWithoutIPLeakage`` cri-integration test:  https://github.com/containerd/containerd/pull/6180

Sample output: h

[2021-10-29 16:36] claudiubelu opened #6183 "Windows: Containers cannot read mounted volumes"
### Description

If the ``ContainerUser`` user is used for a Windows container, then it might not be able to read its mounted volumes. This can also happen if the image has image-defined volumes, in which case containerd creates those volumes and mounts them inside the container (they are ``chmod``-ed, but that operation is not Windows-friendly). If ``ContainerAdministrator`` is used instead, this

[2021-10-29 18:23] thehh1974 commented on #5895
Any insights? We are encountering the same issue with KIND.

[2021-10-29 19:43] dmcgowan commented on #5895
@thehh1974 the pull command output shows that the layers did not exist locally. Make sure `discard_unpacked_layers` is set to false if you want to keep the layer content for exporting later. You can also verify this by doing `ctr content fetch --all-platforms docker.io/weaveworksdemos/queue-master:0.3.1` before doing `ctr images export`. The containerd export process will not attempt to recover an

[2021-11-01 05:41] zerkms opened #6190 "Ability to configure InitialConnWindowSize in the client"
### What is the problem you're trying to solve

[code]

There is no simple way to update the grpc client configuration options without copying half of the `containerd.New()` function.

### Describe the solution you'd like

A `ClientOpt` function that sets `InitialConnWindowSize` and `InitialWindowSize`

### Additional context

A similar problem & a fix from another project: https://github.com/eart

[2021-11-01 11:47] chenhengqi commented on #4834
Hello, any updates on this issue ? Does containerd support GPU configuration now ?

[2021-11-01 13:04] Shaked commented on #4834
@chenhengqi checkout https://github.com/k3s-io/k3s/discussions/3054#discussioncomment-1418713

[2021-11-01 14:23] fuweid commented on #6172
IIUC, the answer is no. It might be created by service like kubernetes.

REF: https://github.com/kubernetes/kubernetes/issues/53022.

[2021-11-01 14:26] fuweid commented on #6160
Well, containerd is allowed to delete the images which are used by running containers. For this case, the deletion is only to remove the metadata about image, not the real RootFS. If the pause image is deleted, it is fine and that containerd will repull it when RunPodSandbox.

[2021-11-01 14:34] fuweid commented on #6095
The issue is caused by RunPodSandbox rollback. I am trying to fix it in https://github.com/containerd/containerd/pull/5885/files.

[2021-11-01 17:43] jterry75 opened #6191 "[Windows] ctr.exe image pull - fetches layers that do not match the OS.Version"
### Description

I found an issue in `ctr.exe image pull` on Windows platforms where by default a command such as:

`ctr image pull mcr.microsoft.com/dotnet/framework/aspnet:4.8` which attempts to pull a multi-version image fetches the entire set of layers from all images. But then only unpacks the image that matches the given layer. This appears to be because different than `client.Pull` the `fet

[2021-11-02 00:02] yxxhero opened #6192 "containerd allow delete to image in use"
### Description

containerd allow delete to image in use.

### Steps to reproduce the issue

nerdctl remove a image in use. It will success.

### Describe the results you received and expected

when delete a image in use. containerd should return error.

### What version of containerd are you using?

1.4.11

### Any other relevant information

runc version 1.0.2
commit: v1.0.2-0-g52b36a2
spec: 1.0

[2021-11-02 00:03] yxxhero commented on #6192
kubernetes issue: https://github.com/kubernetes/kubernetes/issues/106037

[2021-11-02 00:39] dweomer opened #6194 "cri + selinux: /etc/hosts from hostPath mount getting relabeled"
### Description

When running rke2/k3s pointing at our bundled (or stock) containerd, one can apply an unprivileged pod that relabels `/etc/hosts` on the host by mounting a hostPath `/etc/hosts` volume at the same location in the container:
[code]

### Steps to reproduce the issue

1. Install RKE2 on CentOS 8.x with SELinux enabled (the default when installed via https://get.rke2.io)
2. Establish

[2021-11-02 00:41] dweomer commented on #6194
The `Vagrantfile` I used to reproduce:
[code]

[2021-11-02 00:44] dweomer commented on #6194
Hmm, suspecting that either the kubelet is incorrectly telling the CRI to relabel or that opencontainer/selinux has a bug

[2021-11-02 03:58] dmcgowan commented on #6192
Can you be more specific on the issue that is being encountered. Being able to delete an image in use is expected behavior in containerd, the image resources used by the container are kept and cleaned up after the container is deleted.

[2021-11-02 04:12] zouyee commented on #6192
ref: https://github.com/containerd/containerd/issues/6160

[2021-11-02 05:14] yxxhero commented on #6192
@zouyee Thanks very much.

[2021-11-02 05:14] #6192 closed

[2021-11-02 06:31] kerthcet commented on #6160
/assign

[2021-11-02 08:42] armsargis commented on #5155
Seems works for openjdk:11.0.13

[2021-11-02 11:40] dnwe commented on #5854
@fuweid did you get a chance to investigate any further on this?

In the interim, are there a simple set of crd/crictl commands that we can use to delete the snapshots that have been generated for a given container image and hence cause them to be re-created on next pull/create?

[2021-11-03 00:05] BenTheElder commented on #6160
That's not an ideal answer for airgapped clusters. I know tools other than [KIND](https://kind.sigs.k8s.io) leverage pre-loading / side-loading critical images like this ahead of time and expect to not have the pause image GCed (though also ideally expect users not to call this crictl command).

[2021-11-03 00:05] BenTheElder commented on #6160
xref: https://github.com/kubernetes/enhancements/pull/2694

[2021-11-03 00:46] bobbypage opened #6198 "[cri] ListContainerStats returns empty response if filter is nil"
### Description

xref: https://github.com/containerd/containerd/pull/6113#discussion_r741508499

Currently for the `ListContainerStats` RPC in CRI, if a nil filter is supplied, the response is empty. This is not consistent with other containerd CRI `List` calls which provide full list if nil filter is supplied.

 For `ListContainerStats`, in the current implementation is

1. We create a metrics re

[2021-11-03 00:46] bobbypage commented on #6198
/cc @mikebrow @qiutongs

[2021-11-03 03:24] kerthcet commented on #6160
support @BenTheElder  +1

[2021-11-03 14:47] fungusakafungus commented on #6063
I tried the `base_runtime_spec` functionality, but my rlimits still get deleted by, I believe, this line: https://github.com/containerd/containerd/blob/v1.6.0-beta.1/pkg/cri/opts/spec_linux.go#L89

[2021-11-03 23:21] SaveTheRbtz commented on #6067
@estesp @AkihiroSuda a friendly ping.  In the mean time we are considering using OverlayFS snapshotter on top of BTRFS if CPU usage becomes a bottleneck.  [It looks like it is supported since 4.7+](https://git.kernel.org/pub/scm/linux/kernel/git/torvalds/linux.git/commit/?id=cdd1fedf8261cd7a73c0596298902ff4f0f04492). (At least on the kernel level.)

[2021-11-04 01:12] LiamStorkey opened #6202 "Timeout on release download"
### Description

On Kubernetes (viaa kops) `1.21.2` the release `1.4.6` of containerd is trying to be downloaded and timesout while waiting for response headers from guthub causing issues with cluster nodes from spinning up. We can also observe this locally. When trying to download the following release from github `https://github.com/containerd/containerd/releases/download/v1.4.6/cri-containerd-c

[2021-11-04 02:16] pontaoski opened #6203 "issue creating containers due to seccomp failure (`error adding seccomp filter rule for syscall clone3: permission denied: unknown`, Docker 20.10.10)"
### Description

encountered when doing docker-compose; containerd fails to create a runtime because of seccomp failures.

[code]

### Steps to reproduce the issue

1. start a container, any container

### Describe the results you received and expected

received: failure to start container
expected: container starts

### What version of containerd are you using?

containerd containerd.io 1.4.11 5b

[2021-11-04 02:48] cpuguy83 commented on #6203
This looks like a docker issue due to using an out of date version of docker.

[2021-11-04 02:51] pontaoski commented on #6203
[code]

latest version AFAIK

[2021-11-04 03:01] relyt0925 commented on #6203
I see the same thing on the latest containerd 1.5.7 on RHEL 7

[code]

It has libseccomp-dev installed.

[2021-11-04 03:41] #6112 closed

[2021-11-04 05:27] AkihiroSuda commented on #6067
Do you have benchmark data?

There was a PR to implement btrfs-quota-based space usage calculation (https://github.com/containerd/containerd/pull/1836), but closed due to lack of proof of efficacy.

[2021-11-04 05:33] AkihiroSuda commented on #6203
@relyt0925

Unrelated to OP.
It seems that your runc binary is built for libseccomp >= 2.4, and you have to get a runc binary built for RHEL 7.

[2021-11-04 05:35] AkihiroSuda commented on #6203
@pontaoski

How did you install Docker/containerd/runc?
Docker 20.10.10 + containerd 1.4.11 is fine, but `runc version 1.0.0-rc10+dev` looks weird.
Maybe you have to uninstall the packages and reinstall them from https://download.docker.com/linux/fedora/35/x86_64/stable/Packages/ . (`containerd.io` RPM contains runc too)

[2021-11-04 19:44] rsmitty opened #6208 "Release SHAs Changing?"
### Description

Hi folks, we're packaging up containerd as part of our release of Talos Linux. As such, we have a packaging system setup that does some SHA validation when installing packages and whatnot.

I'm seeing an issue now that relates back to where we pulled the 1.5.7 release (released October 4th) into our pkgs repo on October 11th. This ran through CI and whatnot with the specified SHAs

[2021-11-04 19:56] Aartsie commented on #6203
I got the same error with the latest version of docker (20.10.10 build e2f740d) on ubuntu 18.04

`ERROR: for fpm_api  Cannot start service fpm_api: OCI runtime create failed: container_linux.go:348: starting container process caused "error adding seccomp filter rule for syscall clone3: permission denied": unknown

ERROR: for webpack  Cannot start service webpack: OCI runtime create failed: contain

[2021-11-04 20:01] rsmitty commented on #6208
Hrmm, spoke too soon. A slack message from another engineer here:

[code]

Will close this out now. Sorry for the noise.

[2021-11-04 20:01] #6208 closed

[2021-11-04 23:31] dcantah commented on #5812
Resolved with https://github.com/containerd/containerd/pull/5865

[2021-11-04 23:31] #5812 closed

[2021-11-04 23:36] dcantah commented on #5736
Should be fixed with the following https://github.com/containerd/containerd/pull/6126

[2021-11-04 23:36] #5736 closed

[2021-11-04 23:41] dcantah commented on #5476
This would be pretty cool, can look into this. iirc there were some issues/bugs with uds on some newer versions of windows. Have to remember what the issue(s) were first..

[2021-11-04 23:42] dcantah commented on #5476
@kzys Here's the original blog post for more info https://devblogs.microsoft.com/commandline/af_unix-comes-to-windows/

[2021-11-04 23:48] dcantah commented on #5187
Closing as this work was done in https://github.com/containerd/containerd/pull/5778/ as mentioned

[2021-11-04 23:48] #5187 closed

[2021-11-05 03:03] SaveTheRbtz commented on #6067
Ok, lets start unwrapping the benchmark data...

Containerd with `btrfs` snapshotter enabled server with a moderate number of containers submists a lot of syscalls to the VFS layer (~70,000 of `read(2)` calls per second per pod alone):
[code]

Based on traces we open files up in pairs in `snapshot` and `active` folders:
[code]

Looking at open/read patterns looks like we not only `stat(2)` files,

[2021-11-05 03:18] relyt0925 opened #6209 "RHEL 7 installation regression on 1.5.7: runc: symbol lookup error: runc: undefined symbol: seccomp_api_get"
When trying to install containerd using the published `linux` tars on RHEL 7 we get the following error
https://github.com/containerd/containerd/releases/tag/v1.5.7

[code]

It has libseccomp-dev installed.
[code]

What is the recommended and supported way to install containerd on RHEL 7? Not this dependency was not in existance on the previous containerd 1.5 release

[2021-11-05 03:19] relyt0925 commented on #6209
Opened new issue since it's unrelated to original post:

Note that containerd 1.4.11 does work from the tar install

[2021-11-05 03:43] qiutongs commented on #6063
Vote +1 for `base_runtime_spec`. This seems to be cleaner.

[2021-11-05 04:50] mikebrow commented on #6063
the initial default is in code..
setting base_runtime_spec replaces the initial default in code to the one loaded

all of the options set by with funcs are still applied thus all the current overrides to the spec are still in effect

setting rlimits would be a good plugin via nri, a good option from the pod/container spec from kubenernetes..
I'd also be fine with having these be config options. Th

[2021-11-05 04:51] mikebrow commented on #6063
i see the base_runtime_spec as more of a backup tool...?

[2021-11-05 08:17] nmtsousa commented on #6203
Same problem with ubuntu 20.04...

[2021-11-05 13:23] jeremyroy commented on #6203
Same problem here.  I updated `docker.io` and `containerd` in Ubuntu 18.04 via apt yesterday afternoon.
[code]
Downgrading docker, as suggested by @nmtsousa, fixed the issue.

[2021-11-05 13:30] thaJeztah commented on #6203
Are you seeing the same if you install the docker-ce, docker-ce-cli and containerd.io packages from https://download.docker.com ?

[2021-11-05 14:51] mxpv commented on #5352
Please free to reopen if you still need help

[2021-11-05 14:51] #5352 closed

[2021-11-05 20:13] Aartsie commented on #6203
Yes, i have installed docker with the instructions of the site.

When I search for an answer i found also this [blogpost](https://programmerah.com/error-response-from-daemon-oci-runtime-create-failed-container_linux-go380-41765/)

[2021-11-06 05:37] danpodeanu commented on #6203
This has fixed it for me as well on 20.04.3 LTS

[2021-11-06 05:54] danpodeanu commented on #6203
This has fixed it for me as well on 20.04.3 LTS

# Before the downgrade:

\# nvidia-docker run \<args\> ; echo $?
78cc8d1195126d9e40b087bc36e0608b7fd03a0722c50cb642a4df14699af566
docker: Error response from daemon: failed to create shim: OCI runtime create failed: container_linux.go:380: starting container process caused: error adding seccomp filter rule for syscall clone3: permission denied: unkn

[2021-11-08 03:14] zouyee commented on #6158
/assign

[2021-11-08 06:22] AkihiroSuda opened #6215 "Kubernetes E2E broken: ` The Dynamic Kubelet Configuration feature is not enabled. Pass --feature-gates=DynamicKubeletConfig=true to the Kubelet and API server to enable this feature.`"
### Description

`pull-containerd-node-e2e` seems to have been broken since a few days ago

https://prow.k8s.io/view/gs/kubernetes-jenkins/pr-logs/pull/containerd_containerd/6214/pull-containerd-node-e2e/1457582050902020096

[code]

### Steps to reproduce the issue

Trigger `pull-containerd-node-e2e`

### Describe the results you received and expected

6/369 tests failed with  `The Dynamic Kubelet

[2021-11-08 09:19] nmtsousa commented on #6203
I followed the instructions on the site, removing all existing versions and installing docker-ce, docker-ce-cli and conainerd.io packages, however the problem persists.

`$ docker run --rm -ti alpine
docker: Error response from daemon: failed to create shim: OCI runtime create failed: container_linux.go:348: starting container process caused "error adding seccomp filter rule for syscall clone3: pe

[2021-11-08 10:14] estahn commented on #6202
We experience the same.

[2021-11-08 10:23] estahn commented on #6202
@LiamStorkey There is no kops release `1.21.5`

[2021-11-08 11:58] claudiubelu commented on #5599
I think we can close this issue. I had an issue open for this as well: https://github.com/containerd/containerd/issues/5690 , which got resolved (see the fixes referenced there), and the tests mentioned above passed, and other tests related to image unpacking.

If there are any other problems, we can open up a new issue.

/close

[2021-11-08 15:03] dungdm93 commented on #4604
Hello @qiutongs, my k8s cluster used to run Spark jobs, and recently we got alot of `CreateContainerError`.
![image](https://user-images.githubusercontent.com/6848311/140763380-63458c75-c08b-49c7-a589-d458edffe71f.png)
As your report, I find out that in the first time request, containerd create container but it stuck on `Created` state.
![image](https://user-images.githubusercontent.com/6848311/14

[2021-11-08 16:57] endocrimes commented on #6215
@AkihiroSuda This should be fixed now by those two ^ - Feel free to ping me on any other failures you notice

[2021-11-08 17:13] estesp commented on #6202
Of course we don't control the GitHub download servers so even if I could replicate, there isn't anything we, the containerd authors, can do to fix this issue.. but as a single data point from the Eastern US, I can't replicate this issue at all:
[code]

There is a redirect from that initial URL to a signed download URL; not sure if there might have been a hiccup or a name lookup issue on that redi

[2021-11-08 18:50] bryantqo commented on #6203
Same problem with ubuntu 20.04 using docker.io but I do not have the ability to downgrade. Switching to docker-ce fixes the issue for me

[2021-11-08 19:39] kzys opened #6218 "Test containerd with youki"
### What is the problem you're trying to solve

containerd is testing itself with runc and crun. How about adding [youki](https://github.com/containers/youki) in addition to? While youki is still fairly young (no releases yet), I'd like to discuss the possibility of expanding OCI runtime implementations we could test with.

### Describe the solution you'd like

Run integration tests with youki, as

[2021-11-08 21:42] kzys opened #6219 "protoc-gen-gogoctrd wouldn't work without gogo/protobuf"
### What is the problem you're trying to solve

I've been upgrading protobuf in Protobuild and ttrpc to use Google's latest protobuf package instead of gogo/protobuf.

However protoc-gen-gogoctrd seems a blocker for the migration. It is replacing `Id` -> `ID` to better integrate with Go's idiomatic naming convention. There are few requests regarding the feature.

* https://github.com/golang/protob

[2021-11-08 22:00] kzys commented on #6219
Both Vitess and etcd are not having `Id -> ID` conversion.

* https://github.com/vitessio/vitess/blob/4f8993279c9dc75ec3fa658d79a060d509d10455/go/vt/proto/query/query.pb.go#L1468
* https://github.com/etcd-io/etcd/blob/873f3691f13fcd8746fd5bf066f6c9d62cf5b907/api/etcdserverpb/rpc.pb.go#L275

[2021-11-09 00:28] danpodeanu commented on #6203
I have reported this to Ubuntu as a bug in the [docker.io](https://bugs.launchpad.net/ubuntu/+source/docker.io/+bug/1950071) package.

[2021-11-09 01:27] ktock opened #6220 "remotes: containerd fails to pull OCI image with non-`http(s)://` urls"
### Description

containerd fails to pull OCI image with non-`http(s)://` urls.

### Steps to reproduce the issue

Containerd cannot pull the following image (but Docker can).

[code]

[code]

### Describe the results you received and expected

OCI-compliant image should be pulled successfully.

According to OCI Image Spec, non-`http(s)://` scheme is not prohibited.

(https://github.com/opencontai

[2021-11-09 02:08] tonistiigi commented on #5978
@dmcgowan What's the solution here? With the current logic of returning writer, there is no way to retry on failure. Or should the body be lazy-loaded on first `Read()` and hope that `Read()` never gets called before the header returns.

[2021-11-09 02:24] AkihiroSuda commented on #6215
thanks

[2021-11-09 02:24] #6215 closed

[2021-11-09 08:26] wsywsya119 commented on #6203
Same problem with Docker version 20.10.7, build 20.10.7-0ubuntu5~20.04.2

Fix by changing the runtime back to default
But I really need the nvidia runtime.

[code]

[2021-11-09 08:39] thaJeztah commented on #6203
Is everyone on this thread using the `nvidia` runtime?

[2021-11-09 09:03] nmtsousa commented on #6203
I'm not using the nvidia runtime. My machine is an intel CPU with its integrated graphics card.

[2021-11-09 09:52] danpodeanu commented on #6203
Most likely the root cause is a nvidia-container-toolkit problem affecting 1.5.1-1 with a proposed fix in 1.6.0~rc.2-1

https://issueexplorer.com/issue/NVIDIA/nvidia-container-runtime/157

[2021-11-09 10:02] jogonba2 commented on #6203
Same problem here, but my docker version is: Docker version 20.10.7, build 20.10.7-0ubuntu5~20.04.2 and I still have the problem.

[2021-11-09 10:02] Aartsie commented on #6203
No i'm on a intel CPU and AMD GPU.

[2021-11-09 10:39] sudhabindu1 commented on #2044
Hi @stevvooe
Could you tell me the commands to run to execute this:

I am new to containerd APIs and trying to emulate what docker cp does.

[2021-11-09 13:40] pontaoski commented on #6203
Not using Nvidia either.

[2021-11-09 14:43] danpodeanu commented on #6203
For folks who say they're not using the nvidia runtime, could you check:

[code]

If `nvidia` is set as default runtime when you are using it.

[code]

If the container has the runtime `nvidia` then you are using it.

[2021-11-09 15:14] cpuguy83 commented on #6203
Also you should be able to add your device without the runtime using --gpus flag.

[2021-11-09 21:48] champtar opened #6224 "Configuration not properly imported"
### Description

I only want to set `SystemdCgroup = true` but I need to copy many defaults to have `containerd config dump` show the expected results

### Steps to reproduce the issue

[code]

[code]

[code]

[code]

### Describe the results you received and expected

The mininmal conf1 should be enough, but I have to copy all runc options defaults and set the runtime type to have the expected co

[2021-11-10 02:06] alexk1028 commented on #6203
I changed the default runtime, it works

[2021-11-10 07:25] thejacer87 commented on #6203
so apparently i am using the nvidia runtime for some containers that definitely DONT need it.

but i would rather NOT change the default to `runc`, since i have containers that use it.

can i restart these containers with a different runtime? ie change the settings

[2021-11-10 07:27] nmtsousa commented on #6203
Updated to the latest version of docker-ce to run the test. I do not have the nvidia runtime, just runc.

[code]

Trying to run a container yelds:

[code]
I have to downgrade docker-ce to get it working again.

[2021-11-10 07:34] AkihiroSuda commented on #6203
@nmtsousa

Could you provide `docker info`, `dpkg -l | grep docker-ce`, `dpkg -l | grep containerd.io`

[2021-11-10 07:49] nmtsousa commented on #6203
[code]

[code]

[code]

[2021-11-10 22:44] LiamStorkey commented on #6202
Sorry I meant `kubernetes` version 1.21.5. Silly me!

Yeah seems like it may only be an issue in the asia pacific regions? @estahn is that where you are experiencing the issues?

Does anyone know where we can raise this issue with GitHub?

[2021-11-10 22:47] estahn commented on #6202
@LiamStorkey Yes, we are located in Australia. I've added https://kops.sigs.k8s.io/operations/asset-repository/ to our cluster, which reduces the need to pull from the internet.

Together with https://github.com/estahn/k8s-image-swapper we have most of our stuff in S3 or ECR.

[2021-11-10 23:20] dmcgowan commented on #5978
@tonistiigi and I discussed a solution yesterday which we think can work here. We can make the `pipe` used for the http `Read` call dynamic and have the `content.Copy` handle a write reset when the pipe changes. The readers used for push support seeking back to the beginning no problem. In the cast where the reader does not support it or the `Writer` is not handling the reset, then a write will be

[2021-11-11 04:47] bmmiller commented on #6203
I'm having a hard time finding a 20.10.7-0ubuntu1~20.04.02 deb location of docker.io to downgrade to.  Can anyone assist with a link?

[2021-11-11 08:06] nmtsousa commented on #6203
@bmmiller: I changed to the docker-ce because I couldn't find the previous version of docker.io to downgrade to. For docker.ce the previous versions are available.

[2021-11-11 08:22] stanguturi opened #6232 "Protoc failing due to weak imports used in the containers.proto"
### Description

Please check the https://github.com/protocolbuffers/protobuf/issues/9184 for the background. For one of my projects, I am doing a very simple operation with protoc to generate header files. Encountered an issue as mentioned below:

$ protoc --cpp_out=. -I/usr/share/gocode/src/github.com/containerd/containerd/api/services/containers/v1 -I/usr/share/gocode/src/github.com/gogo/protob

[2021-11-11 08:43] thaJeztah commented on #6232
@stevvooe @kzys PTAL

[2021-11-11 11:47] danpodeanu commented on #6203
You can download it from here:

https://www.dropbox.com/s/keo9i6hx51p5q4b/docker.io_20.10.7-0ubuntu1~20.04.2_amd64.deb?dl=0

The checksums can still be found in the Google cache:

https://webcache.googleusercontent.com/search?q=cache:sUZBwHThu7MJ:https://packages.ubuntu.com/focal/amd64/docker.io/download+&cd=1&hl=en&ct=clnk&gl=sg

[code]

[2021-11-11 14:49] gabriel-samfira opened #6235 "Windows: VolumeCopyUp fails due to ownership and ACLs not being preserved"
### Description

When creating a container with a non-empty volume, files that get copied over to the host mounted volume, lose ownership information and ACLs. This means that regardless of whether or not the ```USER``` stanza was set to a user other than ```ContainerAdministrator```, any files created will only be writable by the privileged user.

### Describe the results you received and expecte

[2021-11-11 20:50] bmmiller commented on #6203
@nmtsousa Research suggested to me that docker-ce wasn't the preferred package to use on Ubuntu/Debian so I wanted to stick with docker.io instead of creating an additional issue while I'm temporarily fixing this one.  Thanks though.

@danpodeanu Thanks for the link.  My local was gone.  I'm back up and running!

[2021-11-12 01:23] kzys commented on #6232
It was introduced by #1778 in 2017. @stevvooe, @crosbymichael and/or @mlaventure may have some context.

Removing weak import shouldn't affect any functionalities, but may affect the resource consumption, according to the PR description above.

We may need to remove them anyway to update our protobuf packages.

[2021-11-12 05:44] #6220 closed

[2021-11-12 11:27] rageebm commented on #6203
Keep in mind that the engine will autoupdate to the latest version so you'll have to keep that .deb file on hand.
Is there any ETA on a permanent fix from nvidia?

[2021-11-12 13:19] bmmiller commented on #6203
I have noticed something Nvidia auto updates without a manual apt upgrade and it's a bit frustrating.

What is responsible for that and can it be disabled?

[2021-11-12 13:41] danpodeanu commented on #6203
No ETA thus far, but it should be soon: "These will be promoted to stable in the coming days" as of 11/5, according to https://issueexplorer.com/issue/NVIDIA/nvidia-container-runtime/157

I will update this thread once I validate the fix.

In the meanwhile, if you want to **temporarily** disable Ubuntu's automated updates, this is how to turn them on and off. As automatic updates are generally a g

[2021-11-12 14:14] bmmiller commented on #6203
Thanks for that. Although, in a server situation, I'm not sure I agree with automatic updates being a good idea. Beat practice is regular updates of course, but automatic is just asking for issues....like this for example.

[2021-11-12 14:32] nmtsousa commented on #6203
I believe that me and others in this thread are not using nvidia Runtime. Will there be a fix for our issue?

[2021-11-12 14:34] bmmiller commented on #6203
Unless I'm misreading, I think nearly everyone here is using nvidia actually.

[2021-11-12 15:07] danpodeanu commented on #6203
Agreed, provided that updates are tested and automated through different means. It feels like most of us are home users though, where automatic updates are probably a good idea. YMMV.

If anyone wants to disable them via orchestration, this is what `dpkg-reconfigure unattended-upgrades` does:

[code]

[2021-11-12 18:58] ywattenberg commented on #6203
Just for completeness sake. I upgraded to the experimental version which fixed the issue for me, but I had to upgrade nvidia-container-toolkit as upgrading nvidia-docker as mentioned in the issueexplorer thread didn't work for me.

[2021-11-13 01:44] tonistiigi opened #6242 "pusher deadlocks on error"
### Description

Since containerd 1.5 (https://github.com/containerd/containerd/pull/5379 looks to be the regression point) push code checks if `Pusher` implements `Ingester` https://github.com/containerd/containerd/blob/5b09dc5eb0c671d87dc3482d5f63326a4416b74d/remotes/handlers.go#L172-L173 and if it does (default) then opens a writer. Should that push receive an error then next time when pusher (

[2021-11-13 11:07] kayamaty commented on #6203
I have the same problem with the latest docker.io and even on the latest docker-ce on Ubuntu 18.04 on ESXI. By the way I don´t have any nvidia things installed.

Maybe the following steps will help as long as there is no solution for this problem, I used the old version of docker.io. The official Ubuntu Repo didn´t provide it any longer, so i got it from:

http://repos.reduniv.edu.cu/UBUNTU/ubuntu

[2021-11-13 12:06] danpodeanu commented on #6203
What runtime are you using? Can you please post the output of `docker info 2>/dev/null | grep Runtime` and `docker inspect <container name> | grep Runtime` ?

[2021-11-13 13:57] ktock commented on #6242
@tonistiigi This will be fixed by #6243.

[2021-11-13 14:06] kayamaty commented on #6203
[code]

[code]

[2021-11-13 14:38] danpodeanu commented on #6203
The only repro I know is related to using the nvidia runtime; this might be something different.

Is this the error message you get when starting a container?

[code]

[2021-11-13 15:34] kayamaty commented on #6203
I get the same error response!

[code]

[2021-11-13 15:42] danpodeanu commented on #6203
Could you please post here https://bugs.launchpad.net/ubuntu/+source/docker.io/+bug/1950071, including the evidence that you are not using the `nvidia` runtime; let's get more info to the Ubuntu devs.

[2021-11-13 16:04] kayamaty commented on #6203
Done!

[2021-11-14 06:54] XDavidT commented on #6203
Same error here:
`docker: Error response from daemon: failed to create shim: OCI runtime create failed: container_linux.go:380: starting container process caused: error adding seccomp filter rule for syscall clone3: permission denied: unknown.`
Using Ubuntu 20.04.3 LTS (Focal Fossa) with nvidia-container-runtime

[2021-11-14 14:28] fuweid commented on #5854
@dnwe sorry for late reply. I had investigated this but no clue yet. There are two cases about regenerating the snapshots.

* The deleted image A is as base image for the using image B. Since the snapshot of image B is child of snapshots of image A, the deletion and re-pull will not work until you remove the image B.
* The deleted image A is still hold by the leases. Containerd uses lease to preve

[2021-11-14 14:33] fuweid commented on #6172
Since it is external issue, I am going to close it. Thanks for reporting this.

[2021-11-14 14:33] #6172 closed

[2021-11-14 15:10] dnwe commented on #5854
@fuweid in our case at least it is definitely not caused by a reboot, because it usually happens when a brand new machine is brought online as a replacement and the kubelet starts up, joins to the cluster and starts pulling image. It’s possible that containerd itself is restarted mid pull for some reason, so that option is possible

[2021-11-14 15:39] fuweid commented on #5854
@dnwe So before pulling image, the root dir (for example, `/var/lib/containerd`) is empty?.

Is there any log about the restart?

[2021-11-14 15:51] dnwe commented on #5854
Yeah I’ll need to grab some logs the next time it happens to see what the situation is with those two

[2021-11-15 03:13] arunshivaram commented on #6203
Downgrading to the previous version "5:20.10.9~3-0~ubuntu-bionic" seems to help in my case as well with the same issue (Ubuntu 18.05 with docker-ce installation).

[2021-11-15 13:35] cardyok opened #6247 "ttrpc buffer exceed max size error not properly handled"
### What is the problem you're trying to solve

When ttrpc recv content exceeding max buffer size, it may return status generated error which will be ignored by caller function and proceed to dereferencing returned pointer(which is nil), thus causing containerd to panic

### Describe the solution you'd like

adding null ptr checking in vendor/github.com/containerd/ttrpc/client.go

### Additional c

[2021-11-15 13:37] #6247 closed

[2021-11-15 13:43] cardyok opened #6248 "ttrpc buffer exceed max size error not properly handled"
### Description

When ttrpc recv content exceeding max buffer size, it may return status generated error which will be ignored by caller function and proceed to dereferencing returned pointer(which is nil), thus causing containerd to panic, specifically this line of code `p:             p[:mh.Length],`

### Steps to reproduce the issue

_No response_

### Describe the results you received and expe

[2021-11-15 17:44] cpuguy83 opened #6249 "TestTaskResize not testing anything"
### Description

The integration test `TestTaskResize` is not actually testing anything.

Since the test does not actually even allocate a terminal all it's really doing is ensuring that the shim doesn't return an error when there is no terminal.

### Steps to reproduce the issue

N/A

### Describe the results you received and expected

We should have a test that handles a couple of different scen

[2021-11-16 01:03] ruiwen-zhao opened #6251 "CRI Passes AuthConfig to snapshotters through snapshots.Info"
### What is the problem you're trying to solve

Currently CRI plugin pulls images from private registries using the credentials from kubelet.

However, these credentials are not passed to snapshotters, and therefore remote snapshotters like stargz snapshotter cannot use the credential to authorize the requests to remote registries.

There is a similar feature request https://github.com/containerd/

[2021-11-16 01:50] alakesh commented on #6251
With this feature, it seems outside of kubernetes, stargz should be able to get credentials from containerd and not depend on a credential helper. Is that correct?

[2021-11-16 02:05] #5601 closed

[2021-11-16 02:35] dmcgowan commented on #6251
I think the plugin approach from #5105 was proposed that way because we put auth info into any of our core interfaces and for good reason. The static auth config object inherited from Docker through CRI only exists today to support the CRI interface. In the client and remotes we have been encouraging the use of credential managers and limiting the scope of authorization. When authorization is need

[2021-11-16 02:41] ruiwen-zhao commented on #6251
yes, this will directly pass the credential to the snapshotters

[2021-11-16 03:27] ktock commented on #6251
Thanks for the suggestion. It would be great if CRI plugin can directly share auth info to remote snapshotters. I'm willing to work on #5105 if it gathers community demands.

FYI: stargz snapshotter has some other options to handle private images (CRI proxy, syncing k8s secrets, `~/.docker/config.json`) : https://github.com/containerd/stargz-snapshotter/blob/v0.10.0/docs/overview.md#authentication

[2021-11-16 04:23] ruiwen-zhao commented on #6251
As @dmcgowan commented, a helper plugin proposed in #5105 is more desirable.

[2021-11-16 04:30] ruiwen-zhao commented on #5105
Just trying to make sure my understanding is correct:
we are proposing a new helper plugin. And when CRI pulls an image, CRI calls this helper plugin and passes the credentials and the image name to it. The helper plugin, implemented by the remote snapshotter developers, receives the image name and credentials and passes them to the remote snapshotter, which uses them to authorize the image conten

[2021-11-16 05:03] ktock commented on #5105
Yes, you're correct.

[2021-11-16 06:17] navnitDevOps commented on #4604
does anyone has any other solution to the issue except
moving back to cos with docker
since eventually we have to upgrade our gke-cluster and we might again face this issue in future

[2021-11-16 08:34] bduclaux commented on #4604
Unfortunately, the only working solution is to move back to cos with docker.
Amazing to see that this critical bug has been opened more than one year go, and still no fix.

[2021-11-16 16:55] dancaugherty opened #6257 "[Mirantis] Private registry login succeeds, but authN to pull images fails (500 Internal Server Error)"
**For bugs, describe what you're seeing**
I can successfully log into a private registry with _nerdctl login_, but _nerdctl pull_ fails due to authorization issues.
The login succeeds with the access token as the password, but image pulls are failing with a "failed to fetch oauth token" message.

This is probably an authentication error, and nerdctl might not be the problem at all. But I have no w

[2021-11-16 16:59] sadortun commented on #4604
Have a look at how many containers are starting at the same time, and how much memory each of them take at startup. Make sure you have plenty left.

In our case, even if we were short on RAM, having more free RAM seems to help, but we still had to revert to COS.

[2021-11-16 18:07] alakesh commented on #5105
@ruiwen-zhao Do you think we should also have something similar for regular containerd case,  e.g. containerd being able to share credentials with remote snapshotter via similar mechanism?

[2021-11-16 18:12] ruiwen-zhao commented on #5105
Can you elaborate what you mean by "regular" containerd case? This plugin merely provides a mechanism to get credentials and should work for all kinds of snapshotters.

[2021-11-16 19:00] alakesh commented on #5105
By a "regular", I am referring to a usecase where containerd has remote snapshotter configured as default e.g. stargz.  Currently only way i can share credentials with stargz is by performing a docker login. This will cache the credentials into the credsStore configured in .docker/config.json. An image pull with stargz as snapshotter will use docker-credential-helper to read credentials or  it wil

[2021-11-16 20:48] gabriel-samfira commented on #6183
In the case of https://github.com/containerd/containerd/pull/6169 the cause for the failure, was that the host was enforcing the ACLs on the source volume, which did not include "Everyone" to read the contents. In order for the volume to be readable by a non administrative account, it needs to explicitly allow wither the User running inside the container to access it, or "Everyone".

This is addre

[2021-11-17 13:28] dancaugherty commented on #6257
The only access I have to the logs is through the (terrible) Mirantis UI. All I can see is that I did initiate some GETs in our repo for the image manifest and for the image itself based on the "latest" tag.

I can try to get our IT department to share some details. Maybe that will actually work.

[2021-11-17 19:24] BenTheElder opened #6262 "command to print default CRI base spec"
### What is the problem you're trying to solve

https://github.com/containerd/containerd/pull/4290 added `ctr oci spec` to print the base OCI spec, conceptually this is very useful since it allows easily starting from the base spec when making custom additions, however when using CRI containerd deviates from the OCI base spec. Currently I don't think there's a good way to obtain the base spec as u

[2021-11-17 19:31] BenTheElder commented on #6063
xref https://github.com/containerd/containerd/issues/6262, we attempt to make modifications to the base spec in CRI by starting from `ctr oci spec`, but it's missing the CRI defaulting logic (particularly around rlimits! https://github.com/kubernetes-sigs/kind/issues/2532).

If we could obtain the actual CRI base spec tweaking it and setting `base_runtime_spec` is fairly straight forward, currentl

[2021-11-18 04:46] saumyaborwankar commented on #6203
Hi @jogonba2 Could you tell me how you downgraded ? The commands and all

[2021-11-18 12:46] danpodeanu commented on #6203
I can confirm that Nvidia has released upgraded packages, which appear to be working fine with docker.io `20.10.7-0ubuntu5~20.04.2`. **My problem has now been resolved.**

[code]
[code]
[code]
[code]

[2021-11-18 13:31] jogonba2 commented on #6203
@danpodeanu confirms that Nviida has released upgraded packages, try it before. The steps I did were simply downloading the docker.io 20.10.7-0ubuntu1~20.04.2 source package for your distribution (https://launchpad.net/ubuntu/+source/docker.io/20.10.7-0ubuntu1~20.04.2) and run a dpkg -i on it.

[2021-11-18 15:07] OmriSteiner commented on #6203
Upgrading solved the issue for me as well.

Also, I managed to solve this issue by running the container in privileged mode (instead of downgrading). This is not recommended, though.

[2021-11-18 20:18] #4936 closed

[2021-11-20 20:50] qiutongs commented on #4541
Unfortunately, this way didn't work out. It means the embedded cadvisor in kubelet won't have the fix. You have to use cadvisor as daemonset by following this [instruction](https://github.com/google/cadvisor/tree/master/deploy/kubernetes) and select special cadvisor releases with the name pattern `vX.Y.Z-containerd-cri`

[2021-11-22 14:42] Trackhe opened #6273 "[NFS] failed to pull image; failed to convert; operation not supported: unknown"
### Description

I m want to run my cluster over pxe and using for that nfs. i guess this is the problem, after reading this: https://github.com/containerd/containerd/issues/3762#issuecomment-922464270
but i dont know how to fix it.

I cant pull images. (i only test the kubernetes image)
I created first a ticket on Kubernetes for addition info.
https://github.com/kubernetes/kubeadm/issues/2608

##

[2021-11-22 15:30] AkihiroSuda commented on #6273
At least the following directories have to be non-NFS:
- /var/lib/containerd
- /run/containerd
- /tmp

[2021-11-22 15:59] Trackhe commented on #6273
@AkihiroSuda thank you for the information but this is not really a solution for me ^^'
is there another way to ship arround that problem. i dont want to use a drive for every system.

[2021-11-22 18:50] howardjohn commented on #5781
This is still in issue with go 1.17's module pruning changes.

[2021-11-23 03:55] dkoshkin commented on #5837
I stumbled on this after running into a similar situation.
I've modified the config file for nvidia runtime and then added a runtime important for containerd mirrors.
It would be great to have a different merge strategy for the CRI plugin keys.

[2021-11-23 08:45] BSWANG commented on #4434
![image](https://user-images.githubusercontent.com/3598874/142993721-07f1b2cf-a895-4cc1-b6a0-25c71b492331.png)

same issue on containerd 1.2.10

[2021-11-23 12:48] Trackhe commented on #6273
now i not happy about the change to switch the container system from docker. hopfully it comes, or it comes a diffrent system.

[2021-11-23 12:48] #6273 closed

[2021-11-23 17:44] joejulian commented on #5837
I don't understand why there would be an import function if you can't merge the imported structures into the configuration. This seems like a logical expectation when importing directories, especially. I would argue that it's not actually working as intended, just that it's working as implemented making this a valid bug that could be fixed.

[2021-11-23 17:58] dlipovetsky commented on #5837
The merge code is from https://github.com/containerd/containerd/pull/3574. There is a conversation in that PR about getting the merge right, and it looks like this approach won out:

[2021-11-23 19:47] shbatm commented on #6203
Using the experimental Nvidia runtime repo (linked somewhere above) worked for me. Add repo, then apt update/upgrade.

[2021-11-24 02:43] andrewd-sysdig opened #6285 "config_path = "/etc/containerd/certs.d" not being used"
### Description

Trying to setup containerd to use a local pull through cache for docker.io. Using this documentation: https://github.com/containerd/containerd/blob/main/docs/hosts.md#specifying-the-configuration-directory

### Steps to reproduce the issue

1. apt-get install containerd
2. containerd config default > /etc/containerd/config.toml
3. Edit config.toml to set config_path = "/etc/contai

[2021-11-24 03:08] AkihiroSuda commented on #6285
ctr doesn't use CRI, so it doesn't read `plugins."io.containerd.grpc.v1.cri"` config

[2021-11-24 03:26] andrewd-sysdig commented on #6285
@AkihiroSuda 🤯  Sorry about that. Can close.

[2021-11-24 03:26] #6285 closed

[2021-11-24 15:49] Joseph-Goergen commented on #5563
@dmcgowan @aojea @mikebrow  Can we expect this fix implemented into 1.5?

[2021-11-24 17:37] somera commented on #6203
On Jetson Nano I get this error with

`Docker version 20.10.7, build 20.10.7-0ubuntu5~18.04.3`

[2021-11-24 18:55] CourchesneA commented on #6203
@somera I got confirmation that the fix will be ported to Jetsons in a few days:
https://github.com/NVIDIA/libnvidia-container/issues/148#issuecomment-976814781

[2021-11-24 18:58] somera commented on #6203
Thx.

[2021-11-29 09:32] payall4u opened #6294 "ctr: add snapshot prune to remove useless snapshot"
### What is the problem you're trying to solve

Restarting containerd while downloading image may cause some **committed** snapshot of the image leaks. It happends on when we restart containerd exactly unpacking a image. If the image never be pulled again, the snapshot will stay on the node forever.

### Describe the solution you'd like

Provide a way to clean up the useless snapshot, such as `ctr

[2021-11-29 16:17] cronolio commented on #5130
hi, is it possible to push this patch to 1.14.x versions? only 1.14.x https://download.docker.com/linux/debian/dists/bullseye/pool/stable/amd64/ currently available for debian  and i see a lot of such error while gitlab-runner do a job

[2021-11-29 17:27] dmcgowan commented on #6294
When an in-progress pull is interrupted by the process being killed, the lease being used does not have an opportunity to be cleaned up by the pull operation. By default, leases are created with a 24 hour expiration though to prevent the leaking of temporary resources. In the case you mentioned, the garbage collector is responsible for cleaning up the lease after the expiration. To clean it up soo

[2021-11-29 22:19] mxpv commented on #6262
CRI takes `OCI base spec` and applies a bunch of spec opts on top. These are available mostly at runtime.

[containerSpec](https://github.com/containerd/containerd/blob/8757b92c76479ca03a09ea5f4bc6cb549cec4374/pkg/cri/server/container_create_linux.go#L111) generates all opts to be applied, but it requires lots of metadata - information about created sandbox, image/pod/container config, etc.
Once g

[2021-11-29 22:36] BenTheElder commented on #6262
Off hand rlimits are always nil-ed (from the linked kubernetes-sigs/kind issue) versus the OCI base spec:

https://github.com/containerd/containerd/blob/8757b92c76479ca03a09ea5f4bc6cb549cec4374/pkg/cri/opts/spec_linux.go#L89

https://github.com/containerd/containerd/blob/8757b92c76479ca03a09ea5f4bc6cb549cec4374/oci/spec.go#L156-L161

It's possible to discover this by analyzing the code, but that s

[2021-11-29 22:38] BenTheElder commented on #6262
To clarify: Our goal is to automatically set some additional options on top of the base spec (with jq) ourselves and supply this to CRI, but if we use `ctr oci spec` as the starting point we introduce (at least) this rlimit difference.

https://github.com/kubernetes-sigs/kind/blob/ecd604e78108007b672e42a5dc6244a150e03950/images/base/Dockerfile#L152-L153

[2021-11-29 23:23] mxpv commented on #6262
hmm.. `containerSpec` shouldn't nil those fields (https://github.com/containerd/containerd/commit/3d358c9df35fd880ec75bb9b28c509d5b727c795) when base runtime spec specified.

[code]

[2021-11-30 03:55] rueian commented on #5768
We use 1.4.8 containerd on GKE with anetd(cilium), but the problem is not fixed yet.

[2021-11-30 07:21] payall4u commented on #6294
@dmcgowan Thanks for the reply. It's my fault. I didn’t understand how garbage collector works before. I've read it again. Thanks.

[2021-11-30 07:21] #6294 closed

[2021-11-30 11:16] ckrueger1979 opened #6300 "starting container fails with: The system cannot find the file specified.: unknown"
### Description

Hi,

I'm trying to run a container with containerd on windows server 2019.

I'm roughly using these guides:
https://blog.devgenius.io/gentle-containerd-on-windows-guide-for-you-50d4a46daccf
(link seems down right now, via archive.org
https://web.archive.org/web/20211007164324/https://blog.devgenius.io/gentle-containerd-on-windows-guide-for-you-50d4a46daccf?gi=1d353ea4a782
)
+
http

[2021-11-30 12:19] Dentrax commented on #3974
We're also affected by this. Tried with [containerd 1.5.8](https://github.com/containerd/containerd/releases/tag/v1.5.8) and fresh docker build. Total image size is `~3.2Gi`!

[code]

It seems stuck on the largest part, which is `1.8 GiB`.

Debug mode:

[code]

[code]

[code]

I think the error occurs in [this logic](https://github.com/containerd/containerd/blob/f0a32c66dad1e9de716c9960af806105d69

[2021-11-30 14:49] #6235 closed

[2021-11-30 15:33] fishpen0 commented on #1881
Keeping the thread here up to date.  The work for #4526 was split into #5395 and #5396.  #5396 was merged but #5395 appears to be stuck now.

We are really butting up on docker-desktop licensing killing productivity for mac users.  Solutions like rancher-desktop still need to run containerd inside a VM and it would be great to get away from that with native support.

[2021-11-30 17:38] eduardoaw commented on #4604
Same problem here

containerd github.com/containerd/containerd 1.4.6 d71fcd7d8303cbf684402823e425e9dd2e99285d

Amazon EKS 1.21

[2021-11-30 17:54] kzys commented on #6257
Mirantis Secure Registry was not supporting POST before, but it has been fixed in 2.9.0 according to #5288.

[2021-11-30 20:29] ehashman opened #6302 "Add support for setting swap memory limits via CRI MemorySwapLimitInBytes"
### What is the problem you're trying to solve

Containerd currently does not appear to have support for setting container swap memory limits via either cgroupsv1 or v2 with the CRI parameter `MemorySwapLimitInBytes`.

I would like this to be supported in order to have meaningful controls for swap on Kubernetes workloads.

### Describe the solution you'd like

See [KEP-2400: Node Swap#API Changes]

[2021-11-30 21:57] mxpv commented on #5742
Shim code is now decoupled into shim + task service. We'll iterate more in 1.7 depending on requirements. I think this proposal is fulfilled and the issue can be closed.

[2021-11-30 21:57] #5742 closed

[2021-12-01 09:07] adisky commented on #6302
wanted to understand CRI paths and containerd code more, I would like to work on this
/assign

[2021-12-01 10:18] lippertmarkus opened #6305 "ctr: Can't use CNI on Windows: panic: invalid GUID length"
### Description

Windows Containers started with `ctr` doesn't have networking by default:
[code]

With `crictl` however they do:
[code]

We found there is a `--cni` flag for Linux https://github.com/containerd/containerd/blob/af1a0908d06b4f7db4a11bfc67ecc2f34baeb04b/cmd/ctr/commands/run/run_unix.go#L82-L85

but not for Windows https://github.com/containerd/containerd/blob/af1a0908d06b4f7db4a11bfc

[2021-12-01 12:11] AkihiroSuda opened #6307 "`Import()` creates non-deterministic images"
### Description

`Import()` creates non-deterministic images.

Blocker for:
- https://github.com/containerd/nerdctl/pull/582

### Steps to reproduce the issue

[code]

The digest changes in the second iteration.

### Describe the results you received and expected

Received: non-reproducible digests
Expected: reproducible digests

### What version of containerd are you using?

containerd github.com

[2021-12-01 12:19] AkihiroSuda opened #6309 "`Import()` can't import a Docker v1 archive without `repositores` file (i.e., `docker save` with explicit digest)"
### Description

`Import()` can't import a Docker v1 archive without `repositores` file (i.e., `docker save` with explicit digest)

### Steps to reproduce the issue

[code]

[code]

The archive A (no `respositories` file) can't be imported to containerd, while the archive B can be successfully imported.

[code]

[code]

### Describe the results you received and expected

The both archives should b

[2021-12-01 13:04] artqzn opened #6310 "Metadata only copy up support for overlayfs snapshotter"
### What is the problem you're trying to solve

Overlayfs snapshotter use overlay filesystem in a way when in case of write access the full content of a file will be copied from lowerdir to upperdir. During container start the containerd performs GID/UID remapping using "chown" for whole content of container rootfs. This leads to copying of whole rootfs content from lowerdir to upperdir. As result

[2021-12-01 16:36] dmcgowan commented on #6309
This seems like a bug on the Docker side since it is not including the tag you provided in the archive. I took a look at what is inside such an archive and there is no repository name, so there is not much we can do automatically to recreate the image reference.

You can still get the import to succeed though by doing...
[code]
(Although not sure how to get back the `21.10` tag since it is missing

[2021-12-01 17:06] zhsj commented on #5130
1.14 branch only accepts security patches according to https://github.com/containerd/containerd/blob/main/RELEASES.md#support-horizon

[2021-12-01 20:28] lippertmarkus commented on #6305
Update: Seems the static Linux net namespace path is the cause of the problem:
https://github.com/containerd/containerd/blob/591d7097e737e321e5e1154e82d46e5744573f46/cmd/ctr/commands/run/run.go#L212

Without having any clue I tried using `netns.NewNetNS` on Windows to get a net namespace path:
https://github.com/lippertmarkus/containerd/commit/c4109591249fd968678cb2791756874b398b5fe1

With that a

[2021-12-01 20:40] kevpar commented on #6305
I think there are a few pieces needed to make this work on Windows:

- The network namespace must be created with HNS, and the GUID identifying it passed to CNI. This seems like what you've done above.
- Update the `go-cni` package to use appropriate paths for Windows. For example today it sets `DefaultNetDir` to `/etc/cni/net.d` and `DefaultCNIDir` to `/opt/cni/bin`. These should be set to approp

[2021-12-01 20:49] lippertmarkus commented on #6305
I also noticed that and moved my CNI bins and configs accordingly to make it work. Can we somehow get the CNI bin/conf dirs specified in containerd config?

I already did that and it seems to be correct as it works with crictl on the same machine (https://github.com/containerd/containerd/issues/6305#issue-1068220442) 😃

[2021-12-01 22:28] pungm2-mdt opened #6313 "Unable to run linux container on windows using ctr and lcow"
### Description

It seems that there is a bug preventing users from being able to run linux containers via ctr, on windows host using lcow. Discussion that led to discovery can be found on the [containerd slack](https://cloud-native.slack.com/archives/C4RJZ9Z6Y/p1638311743093500).

### Steps to reproduce the issue

On a windows host...

1. Pull alpine image ` . 'C:\Program Files\containerd\bin\ctr

[2021-12-01 23:57] dcantah commented on #6313
Thanks for this! I'll look into things, hopefully by EOW

[2021-12-02 08:10] lippertmarkus commented on #6305
Do you have another idea what I might be missing?

[2021-12-02 08:13] sudhabindu1 commented on #2044
NVM, [I figured it out](https://github.com/containerd/containerd/discussions/6299).

[2021-12-02 18:06] kevpar commented on #6305
Can you share the code for how you're setting up and passing the network namespace?

[2021-12-03 06:00] lippertmarkus commented on #6305
Sure, here: https://github.com/lippertmarkus/containerd/commit/c4109591249fd968678cb2791756874b398b5fe1

[2021-12-03 07:00] adisky commented on #6302
/assign @endocrimes

[2021-12-03 15:32] jepio commented on #5670
Hi, I tracked this issue down: it's not specific to k8s but any situation where a long-running containerd-shim
restarts containers. Every container restart is one more leaked inotify instance, because the goroutine does not currently detect container exits. This does not happen on cgroup1 because the associated eventfd is signalled when container exits and released here https://github.com/containe

[2021-12-03 15:50] rata commented on #6310
@artqzn in our early tests with @mauriciovasquezbernal it was also a problem the space it takes when you do the chown.

The kubelet runs 110 pods by default per node, when each container on each pod needs to chown the whole files to use userns, the storage overhead is _huge_ to the limit that doesn't seem reasonable to use in that way.

If we use the overlayfs param to only copy the inode, the sto

[2021-12-03 17:04] dmcgowan commented on #6310
The preferred way to handle this is always to configure your system to support this. Either by enabling this overlay configuration in your kernel or rely on reflink support from the underlying FS. It is understandable that not everyone has this level of control on the underlying system though. For this feature, it would be best to offer it as a configuration for the overlayfs snapshotter. I think

[2021-12-03 20:03] relyt0925 commented on #6209
this is also occuring in 1.5.8 for RHEL 7

[2021-12-04 15:41] cpuguy83 commented on #6209
The release tars are dynamically linked and built against Ubuntu 18.04.
In order to fix this we would need to build releases for each target distro+version.
We may be able to get away with distro+really old version (instead of every version).

[2021-12-04 18:01] elucidsoft commented on #4604
Just had this happen to me on GKE.

[2021-12-05 20:41] muvaf commented on #5524
@AkihiroSuda Those are only `containerd` binaries though. The releases in `containerd/containerd` include the full package that's referred in the installation guides, i.e. `cri-containerd-cni-1.5.8-linux-amd64.tar.gz`.

@estesp Any way I can help with re-integrating the release process? Would adding it to matrix [here](https://github.com/containerd/containerd/blob/release/1.5/.github/workflows/rel

[2021-12-05 22:25] muvaf commented on #5524
FWIW, I was able to get a release built in my fork with the related changes in `main`: https://github.com/muvaf/containerd/releases/tag/v1.5.8

[2021-12-06 12:00] bergwolf commented on #5105
What about passing them via annotations, like all the image refs/layers information? And IMO we should consider containerd auth configs as well, instead of passing the runtime auth directly to the snapshotter. I created #6336 to illustrate how it can be done. Please take a look!

[2021-12-06 17:38] dee-kryvenko commented on #2628
@kzys I still get the 401 (anonymous access is enabled for that repo):

[code]

I am also able to reproduce it this way (Artifactory is set as a mirror for `docker.io` system-wide):

[code]

I am perfectly able to `docker build` without `DOCKER_BUILDKIT=1` as well as I am perfectly able to do `docker pull`, `nerdctl pull` and `crictl pull`. I understand why an argument can be made that it is an Ar

[2021-12-06 18:11] dee-kryvenko commented on #2628
@dmcgowan this repo is anonymous - no login is necessary. Docker, nerdctl and crictl are not using any login either. I am not using ctr - all I am trying to do is build my images with the buildkit. Debugging that issue is what got me to ctr - my dind setup is based on k8s with containerd.

[2021-12-06 18:18] dmcgowan commented on #2628
@dee-kryvenko I'd suggest opening a Github discussion or new issue. The HTTP dump you sent is all expected interaction, we would need to see why the subsequent interaction to get the anonymous token failed. containerd and Docker do these interactions slightly differently which Artifactory has had problems with in the past. Opening up a separate issue is more helpful along with including containerd

[2021-12-06 19:20] dee-kryvenko opened #6339 "Pulling image from artifactory gives unexpected status: `401 Unauthorized`"
### Description

I am getting:

[code]

Here's what I see in debug mode:

[code]

Also, with `--http-dump`:

[code]

This particular repository in Artifactory is anonymous. I am perfectly able to fetch images without any credentials using `docker pull`, `nerdctl pull` and `crictl pull`. Kubernetes itself feeling just fine pulling images off of that repo too.

The reason I got to `ctr` is I was deb

[2021-12-06 19:43] znmeb commented on #6203
Just ran into this on a Jetson ... not fixed in the default repos as of this post.

[2021-12-06 19:46] somera commented on #6203
Right, you have to switch to: https://docs.nvidia.com/datacenter/cloud-native/container-toolkit/install-guide.html#docker

[2021-12-06 20:50] estesp commented on #5524
1.6 releases (in beta now) already have added ARM64 via another path--moving all release building inside a Dockerfile via #6196 ; so we are all set with the aarch64 support in 1.6.0 and above.

I'm not sure how tricky it might be (or whether we want to) add that to the 1.5.x release scripting. We now run full unit and integration testing on ARM64/aarch64 on each PR, so that gave us the confidence

[2021-12-07 07:04] epubreader opened #6342 "addrConn.createTransport failed to connect to {unix:///run/containerd/containerd.sock"
### Description

Manjaro shutdown take a long time, it is caused by docker

 containerd --version                                                                                                                                                                    INT ✘  3m 33s 
containerd github.com/containerd/containerd v1.5.7 8686ededfc90076914c5238eb96c883ea093a8ba.m

Error log:
░ remote-fs.tar

[2021-12-07 09:21] qqbuby commented on #6009
[code]

[2021-12-07 14:23] ckruegerkpmg commented on #6300
I found something.
The problem is related to escape character "backslash"
https://docs.docker.com/engine/reference/builder/

What'm not really getting is the following. If I run the container with docker there is no problem regarding the escaping, if I run it with containerd there is a problem

[2021-12-07 15:45] ckruegerkpmg commented on #6300
This is not working with containerd (but it's working with docker)
[code]
this is working:
[code]

Is this is bug in containerd or am I understanding something wrong?

[2021-12-07 23:33] dee-kryvenko commented on #6339
Tested with Artifactory v7.29.7 - still reproducible.

[2021-12-07 23:57] BenTheElder commented on #6262
Sorry I missed the notification here, was revisiting the linked issue today.

Precisely, I phrased this poorly in the post above -- the OCI base spec sets these fields and CRI doesn't nil them if you've set the base spec. But if you don't set the base spec, it nils them versus the normal OCI runtime default spec.

So if you specify the base runtime spec to be exactly the output of `ctr oci spec` t

[2021-12-08 01:27] minbaev commented on #6198
Hello, I would like to work on this issue in case the change is required

[2021-12-08 04:40] adisky opened #6352 "Implement Pinned image support"
### What is the problem you're trying to solve

With CRI API v1, Kubelet expects container runtime to specify if an image is `pinned` or not. Kubelet will exempt pinned images from garbage collection.

https://github.com/kubernetes/kubernetes/pull/103299
https://github.com/kubernetes/enhancements/tree/master/keps/sig-node/2040-kubelet-cri#pinned-images

### Describe the solution you'd like

This f

[2021-12-08 04:40] adisky commented on #6352
/assign

[2021-12-08 15:31] minbaev commented on #6198
Hey @bobbypage, are you working on this or do you think it is something I can start looking at? if yes, would like to quickly chat about it

[2021-12-09 02:17] hzde0128 commented on #6209
![image](https://user-images.githubusercontent.com/26091808/145322120-08db1078-1ea6-497d-a560-022f718fde49.png)
![image](https://user-images.githubusercontent.com/26091808/145322241-7cfe59be-d519-469e-929f-91c05e6fd9f0.png)

the same problem.

[2021-12-09 04:39] mikebrow commented on #6209
wave..

Lib libseccomp 2.4 added seccomp_api_get.

[2021-12-09 04:50] hyy0322 commented on #3974
Any update for this comment ?

[2021-12-09 05:34] hyy0322 commented on #3974
@fuweid

[2021-12-09 06:22] mikebrow opened #6359 "live updates are broken due to cni missing converter"
### Description

See: https://github.com/containerd/go-cni/issues/75

Also copied here.. for tracking.  go-cni moved up to an unsupported version of CNI that does not have converters.

note... until cni adds a converter (see below) for 1.0.1 we can't move up from the 1.0.0 version in containerd or we won't be able to do a live update of containerd.. because when you try to remove the pod and it go

[2021-12-09 06:35] mikebrow commented on #6359
confirming that the above error message validates the point here https://github.com/containernetworking/cni/pull/783 that  cni will "now fail attempts to read a cached PrevResult written by a previous version".. without in place converters.

[2021-12-09 07:22] hakman commented on #6209
We are starting to see this issue in the kOps periodic tests for Debian 10 too. Did not have time to dig deeper, but I assume there is some new package update for libseccomp.
https://testgrid.k8s.io/kops-distros#kops-aws-distro-imagedebian10

[2021-12-09 13:37] hyy0322 opened #6360 "Failed to pull big image"
### Description

https://github.com/containerd/containerd/issues/3974#issuecomment-982583129
Described in this comment. Pull issue still exist. Any could help ?

### Steps to reproduce the issue

1.
2.
3.

### Describe the results you received and expected

Successfully pull big image.

### What version of containerd are you using?

1.4.11 + patch(https://github.com/containerd/containerd/pull/592)

[2021-12-09 14:03] thaJeztah commented on #6209
IIRC, CentOS 7 and RHEL 7 don't have that version yet; see https://github.com/docker/containerd-packaging/pull/112 ((perhaps they did add it later though)

That said; if I'm not mistaken; when compiling against the older version, the new API isn't used, and it's possible to run it on a system that has a newer libseccomp installed (but I don't know if this has other consequences)

[2021-12-09 14:56] AkihiroSuda commented on #6360
Is there any public image to reproduce the issue?

[2021-12-09 16:42] dmcgowan opened #6361 "Explore removing go.mod from subpackages"
### What is the problem you're trying to solve

go.mod in subpackages is causing issues with updating API and some headaches with the integration tests

### Describe the solution you'd like

No go.mod

### Additional context

_No response_

[2021-12-09 18:05] schrej opened #6362 "Getting stuck on `crictl stats`"
### Description

While debugging very high memory consumption by kubelet we identified a possible bug within containerd. Analysing kubelet with`go pprof` showed that the cause of this high memory usage was it's metrics collection system (kubernetes/kubernetes#106919), which at some point calls the CRI to retrieve metrics from the container runtime, in this case containerd.

We then attempted to ru

[2021-12-09 18:30] cpuguy83 commented on #6209
Oh I see Ubuntu has added seccomp 2.5, which is possibly what we are compiling against (almost certainly on HEAD).

[2021-12-09 20:21] rata commented on #6310
@dmcgowan fully agreed.

Just curious, is there an estimated date for the 1.7 release? So we know in case we need to sync some feature of [the k8s KEP][link] with this feature

[link]: https://github.com/kubernetes/enhancements/pull/3065

[2021-12-10 02:28] jonyhy96 commented on #6362
By `cri stats`, do u mean ctictl stats?

[2021-12-10 06:31] artqzn commented on #6310
Thanks!

[2021-12-10 06:33] artqzn commented on #6310
@dmcgowan Yes, thanks, I've thought in the same way, will try to create a PoC and perform measurement.

[2021-12-10 08:13] schrej commented on #6362
yes, of course, sorry.

[2021-12-10 13:11] hyy0322 commented on #6360
@AkihiroSuda I build a image for test. ```docker pull huangyiyang499/big:v1```. Thank you for help.

[2021-12-10 17:42] estesp commented on #6307
[This media type](https://github.com/containerd/containerd/blob/v1.6.0-beta.3/images/archive/importer.go#L272) assumption is wrong; happens on second import when the blob is already in the store. This generates a slightly different manifest the second time which has the gzip layer media type rather than the non-gzip variant of the media type, which of course generates a new hash for the image.

[2021-12-10 19:19] dcantah commented on #6362
I don't want to get your hopes up if this is a new issue but this may have been solved in 1.5.8 with the ttrpc dependency bump that contained this fix https://github.com/containerd/ttrpc/pull/94 which was intended to solve this issue https://github.com/containerd/ttrpc/issues/72. We'd seen containerd hang on collecting metric on Windows as well, but I'd never heard of a report of this for Linux.

[2021-12-10 19:36] #6359 closed

[2021-12-10 19:41] mikebrow commented on #6359
not reproducible from release versions of containerd.. Somehow on my computer the cni config spec version was reporting as 1.0.1. So long as the reported spec version is 1.0.0 or less we can use cni version 1.0.1 without issue. Will reopen if I can find a path to reproduce how I got had an incorrect cni 1.0.1 network version.

[2021-12-10 21:39] kevpar commented on #6168
After looking into this a bit, it's not clear to me why these fields are marked as deprecated in `platforms.go`. The fields still exist on the [OCI image spec](https://github.com/opencontainers/image-spec/blob/main/image-index.md) under `os.version` and `os.features`. There was some discussion in opencontainers/image-spec#632 on marking them as "reserved and should not be used", but the [end resul

[2021-12-11 12:08] hey333 opened #6365 "Me"

[2021-12-11 12:45] fuweid commented on #6365
please use the system to report the real issue or feature request. thanks

[2021-12-11 12:45] #6365 closed

[2021-12-11 16:58] thaJeztah commented on #6365
Looks like a bogus/spam account; reported to GitHub for abuse

[2021-12-12 02:44] fuweid commented on #6362
@schrej Could you collect the goroutine stack of contained by `kill -USR1` next time? It will help us to find root cause. Thanks!

[2021-12-12 03:15] dcantah commented on #6362
Yea +1 the above, we can tell if it's the same ttrpc issue most likely.

[2021-12-12 07:49] fuweid commented on #6342
What does `pacman -S` mean? Is it like `systemctl stop`?

And what is your issue? Could you describe it with more detail? Thanks
It seems you use `8686ede.m` version which is not upstream versio.

[2021-12-12 14:18] thiwatx33 commented on #6361
#

[2021-12-13 09:16] fidencio opened #6371 "selinux: "container_kvm_t" label is not set for the VMM / virtiofsd processes"
### Description

When running kata-containers with containerd, regardless of having SELinux enabled, SELinux configured, container-selinux package with the `container_kvm_t` type provided, the VMM / virtiofsd processes are not confined by the `container_kvm_t` label, and run with the `container_runtime_t` instead.

### Steps to reproduce the issue

1. Have `kata-containers` set up to be used with

[2021-12-13 10:37] sowmiya1005 commented on #3369
Is there any solution for this?

[2021-12-13 10:40] schrej commented on #6362
Thanks, on the Kubernetes issue I got pointed in the same direction, so hopefully that really is a fix for that. If it ever comes up again I'll try to capture a goroutine stack.

[2021-12-14 02:50] payall4u opened #6374 "cri: Add a common cri-hook before start or remove container."
### What is the problem you're trying to solve

We use CNI or NRI to manage some resources before starting the container. We also have some requirements such as taking a snapshot of the file system or safety inspection before starting the container. They're not easy to achieve with NRI, because they need more info like sandbox config maybe. Can we support a common hook framework for cri.

### Desc

[2021-12-14 03:18] payall4u commented on #6374
It looks like https://github.com/containerd/nri/pull/16.

[2021-12-14 07:24] lippertmarkus commented on #6305
any way to bring this forward?

[2021-12-14 08:06] nmtsousa commented on #6203
I am still having the problem. I do not have any nvidia related software since this laptop does not have an nvidia card. I removed everything, ran apt purge on all docker and containerd packages. Installed docker-ce following the instructions on the site. Still, when running hello-world I get:

[code]

My docker version:
[code]

containerd -version:

[code]
runc --version:

[code]

Downgrading doc

[2021-12-14 14:07] shizhMSFT opened #6376 "Failed to parse `Www-Authenticate` if `auth-param` has empty value"
### Description

In [remotes/docker/auth/parse.go#L136-L139](https://github.com/containerd/containerd/blob/v1.6.0-beta.3/remotes/docker/auth/parse.go#L136-L139), empty value of `auth-param` is treated as error and returned. Rest params are not parsed. However, empty values are valid as defined by

- [RFC 7235 section 2.1](https://datatracker.ietf.org/doc/html/rfc7235#section-2.1): `auth-param

[2021-12-14 14:57] shizhMSFT opened #6377 "RegistryToken is not refreshed on the re-use of docker resolver"
### Description

The registry token sent to the registry is not automatically refreshed even if the credentials are provided.

Taking docker hub as an example, the access token / registry token for anonymous pull is around 300s (i.e. 5 mins). If a reference is resolved and then resolve it again after 5 mins, the docker resolver will report an error. Docker resolver should retry by itself and shoul

[2021-12-14 16:29] mikebrow commented on #6374
nod.. we need a decision on that PR and also to extend the places we call out to NRI in the CRI plugin code to cover CRI pod sandbox scenarios...

[2021-12-14 16:32] mikebrow commented on #6374
related https://github.com/containerd/containerd/pull/5934

[2021-12-14 17:35] ltagliamonte-dd commented on #4659
we are facing the same issue with one of our container build with kaniko as well.
is there any update on this?

[2021-12-14 17:40] kevpar commented on #6305
Sorry for the delay. I looked at this a little yesterday but didn't reach any conclusions yet.

[2021-12-14 20:02] estesp commented on #6302
Closed by #6320

[2021-12-14 20:02] #6302 closed

[2021-12-15 01:43] kevpar commented on #6305
I think I got it working. The netns has to be passed on the OCI spec as well so the container actually uses it. I have a commit here that fixed it, if you want to grab from it: https://github.com/kevpar/containerd/commit/4c24d507a56b55f3c73719d7faa6f36f1cc7194d

[2021-12-15 03:40] payall4u commented on #6362
@vukg

It looks like containerd hung on communicating with some containerd-shim. From the **same** shim pointer 0xc0024e6000, I guess that one of the containerd-shim is hung.
[code]
The script follow can find out the hung shim.

[code]

[2021-12-15 05:13] jonyhy96 commented on #6362
Have u enable debug.sock on containerd? `ctr pprof block` will be really helpful to locate the problems.

[2021-12-15 08:40] schrej commented on #6362
Unfortunately it did not help. In this case it also seems like all of the requests to `crictl stats $podid` freeze.

Unfortunately we don't have that enabled. Enabling it now would probably require a restart, which will likely unbreak it.

[2021-12-15 09:21] ningmingxiao opened #6380 "crictl can't start an exited container"
### Description

[code]
code is here
[code]
why can't start an exited container

### Steps to reproduce the issue

[code]

### Describe the results you received and expected

crictl can start exited container

### What version of containerd are you using?

1.4.11

### Any other relevant information

_No response_

### Show configuration if it is related to CRI plugin.

_No response_

[2021-12-15 10:03] jonyhy96 commented on #6380
Test locally with `nerdctl` with `containerd` and it works well, this maybe a bug of crictl.

[2021-12-15 10:22] payall4u commented on #6374
@mikebrow Thanks for your reply.
I have cherry-pick the whole **nri** to containerd 1.4 and build a nri binary to check the file in container rootfs. It works well, except that I have to conclude the path of rootfs by containerd version and config. It sounds strange to do this with **Node Resource Interface**, maybe it is more reasonable to use oci hook. But oci-hook can't be load anytime and we c

[2021-12-15 16:14] mikebrow commented on #6374
nod... even oci hooks are relative to the particular version of oci... I mentioned the above related PR not because I prefer using the oci hooks directly but just to point out a prior discussion. I prefer NRI as a solution.

| I have to conclude the path of rootfs by containerd version and config

We could add the container rootfs path.. Would need to look at your case, might be better to add an a

[2021-12-15 18:35] #6371 closed

[2021-12-17 01:58] fuweid commented on #6380
it is by design. But cri-api doesn't have comment or doc on StartContainer. In kubernetes scope, if the container exits, kubelet will recreate new one and delete the stopped one. Based on this, the CRI-plugin in containerd doesn't allow Restart😅 which aligned with kubelet. Non-kubernetes scopes allow restart.

[2021-12-17 09:23] euqen commented on #4604
Happened to me too on GKE

[2021-12-17 14:31] gjkloosterman commented on #5837
I'm running into this issue as well.

I wanted to use a separate file to configure the registry config path (touching `plugins."io.containerd.grpc.v1.cri".registry`) and another one to configure the NVIDIA container runtime (touching `plugins."io.containerd.grpc.v1.cri".containerd).

The documentation at https://github.com/containerd/containerd/blob/main/docs/man/containerd-config.toml.5.md sugges

[2021-12-17 19:16] kzys commented on #5781
@jterry75 Would it be able to extract low-level utilities from hcsshim? I believe that hcsshim has to depend containerd, but containerd doesn't have to depend hcsshim.

For example, from https://github.com/containerd/containerd/search?q=hcsshim, hcn doesn't have to be in hcsshim. Right?

https://github.com/containerd/containerd/blob/587fc092598791ab58bfa275958ce20cc5d80783/pkg/netns/netns_windows.

[2021-12-17 19:18] kzys commented on #5748
Looks good nowadays.

[2021-12-17 19:20] kzys commented on #5409
I believe we now have aarch64 images.

[2021-12-17 19:21] kzys commented on #4572
Moving to 1.6 milestone since we've released 1.5.

[2021-12-17 19:21] kzys commented on #4826
Moving to 1.6 milestone since we've released 1.5.

[2021-12-17 19:22] kzys commented on #5065
Resolving.

[2021-12-17 19:22] #5065 closed

[2021-12-18 05:22] fuweid commented on #6380
Since it is not bug here, I am going to close it.

[2021-12-18 05:22] #6380 closed

[2021-12-18 09:04] afbjorklund opened #6387 "including git attributes in "vendor" makes archive checksum change"
### Description

Due to including git attributes, the archive gets different checksums:

`vendor/k8s.io/client-go/pkg/version/.gitattributes`

This is because the amount of "significant digits" varies, in the git rev.

`vendor/k8s.io/client-go/pkg/version/base.go`

### Steps to reproduce the issue

1. https://github.com/containerd/containerd/archive/refs/tags/v1.5.8.tar.gz
2.
3.

### Describe the

[2021-12-18 09:07] afbjorklund commented on #6387
Previously seen in cri-o:
* https://github.com/cri-o/cri-o/issues/4820

[2021-12-19 02:59] payall4u commented on #6374
@mikebrow I have writen a nri hook demo [here](https://github.com/payall4u/nri-hook-demo) (Maybe this is the wrong usage).
I want to install nri-hook by a init container in daemonset and then notify the daemonset by nri-hook and unix socket when create or delete container. The daemonset will do something like recording some files in container/pod, and the files can be saved in rw-layer or volume.

[2021-12-19 15:02] lippertmarkus commented on #6305
@kevpar thanks a lot, that worked for me! I added to https://github.com/containerd/containerd/pull/6304

[2021-12-20 10:11] nneram opened #6389 "CRI not taken into account in config.toml"
### Description

In my cluster I add some private registries configured with an import in the config.toml. I also configured a new default CRI "nvidia" but it does not apply.
If I remove `imports = ["/etc/containerd/config.d/*.toml"]` from the file it works well.

[code]

### Steps to reproduce the issue

1. Add an import in config.toml : `imports = ["/etc/containerd/config.d/*.toml"]` with at lea

[2021-12-20 16:31] howardjohn commented on #5781
@kzys that sounds like it would definitely help, but is not sufficient to solve this IMO, as containerd still has a circular dependency on older versions of containerd which depend on hcsshim

[2021-12-20 19:22] afbjorklund commented on #6387
Also affects fedora and alpine etc

https://src.fedoraproject.org/rpms/containerd/blob/rawhide/f/sources

`SHA512 (containerd-1.5.8.tar.gz) = c769506ff6d98689c46ffee94d70ae00ef2f32e0daac1e631cbe8a587f67c7e4f83eb3895707362bdf46198b61823c99df1d8ca61095ab1415de5596f106fd07`

https://github.com/alpinelinux/aports/blob/master/community/containerd/APKBUILD

`c769506ff6d98689c46ffee94d70ae00ef2f32e0daac1

[2021-12-21 02:14] pontaoski commented on #6203
Still able to reproduce this issue.

Version information:
[code]

[code]

[2021-12-21 04:54] kimullaa commented on #6091
@cpuguy83 Could you give me some feedback?
https://github.com/containerd/containerd/issues/6091#issuecomment-954697568

thank you.

[2021-12-21 07:06] hyy0322 commented on #6360
@AkihiroSuda Hello, any update?

[2021-12-21 10:28] containerpope commented on #5854
@fuweid We are seeing the same issues with some of our iot devices. We set them up, pull containers with Skopeo and then sometimes a container fails at start in k3s and logs the exec format error. I have seen this error also for devices that where freshly installed and had no powercycle. Are there any ways to fix this issue at runtime? The only solution that worked for us is flashing the device ag

[2021-12-21 12:06] AkihiroSuda commented on #6360
Seems to work for me

[code]

[2021-12-21 23:20] medyagh commented on #6387
this issue will block minikube from releasing, I would appreciate any visibility for this issue

[2021-12-22 10:31] hyy0322 commented on #6360
Hello, It happened occasionally. But when it happens, the debug log can not help. Is there any suggestions for debug?

[2021-12-22 19:32] meln5674 commented on #4604
Ran into this on KinD (kindest/node:v1.21, single node) when disk IO was higher than expected during tests+, which I suspect was caused/exacerbated by creating too many pods at once. Creating fewer pods at once still didn't work at first, but restarting containerd and kubelet (in that order) caused those few pods to come up as expected. I was then able to slowly scale all of the test pods back up

[2021-12-23 08:59] matti commented on #4604
I only reproduce this issue (always) when scaling multiple heavy (both in terms of image size and the processes launched) pods.

[2021-12-26 09:30] stapelberg commented on #386
Instead of directly editing the systemd service files in /lib (which might not be writable depending on the Linux distribution), use `systemctl edit docker` and add:
[code]

This will create `/etc/systemd/system/docker.service.d/override.conf`, which you’ll also see listed in `systemctl status docker`.

[2021-12-26 11:04] lethargosapatheia commented on #386
If I make changes, I usually prefer to create a separate service myself in `/etc/systemd/system/docker.service`, but that's a neat solution nonetheless.

[2021-12-26 14:24] stapelberg commented on #386
The disadvantage of copying the whole service file to `/etc` is that you then won’t pick up any changes with your Linux distribution updates.

If you use a drop-in replacement instead, you often don’t need to maintain the file (or at least it’s easier to maintain the file) when you upgrade to a newer version :)

[2021-12-26 15:06] lethargosapatheia commented on #386
I think it's actually a matter of choice, rather than what's good practice or not. The disadvantage of using override is that the vendor might make some changes that can break your setup if you've made special changes that fit your setup (and these can be very diverse).
The changes can be the seen in `/lib/systemd/system` anyway, even if you're using `/etc/systemd`.

[2021-12-26 19:02] MikeZappa87 commented on #6143
"failed to get sandbox ip" That error message is unique to PodSandboxStatus function in the sandbox_status.go file however you are seeing this during the deletion of the pod. Does it make sense that the CRI executed the get pod status while you were deleting the pod? The "remove netns" is a hint that the deletion of the network namespace was not fully completed.

[2021-12-26 19:08] MikeZappa87 commented on #5225
Containerd has different handling of the .conflist and .conf file types. To best understand this situation I would need the file to look at. Addressing the other comment, it's completely fine to have multiple cni configs in the /etc/cni/net.d however one needs to understand that containerd will only utilize one of them picked alphabetically. The fact the file had to have the extension renamed leav

[2021-12-28 03:50] busyboy-ws opened #6398 "command `ctr task exec` is hold on, can't output nothing."
### Description

I use command `ctr task exec` but no tty.
[code]
There is no output, it looks like the card owner.

so,  I think the -t parameter may be required as a required parameter.

### Steps to reproduce the issue

1.
2.
3.

### Describe the results you received and expected

No output。
Expect to start a tty interaction.

### What version of containerd are you using?

v1.5.8

### Any other

[2021-12-28 08:19] fuweid commented on #6398
well. sh shell command is waiting for the command input. Obviously, no input, no output. Please type something and see what happens.

And it is not bug.

[2021-12-28 08:22] AkihiroSuda commented on #6158
duplicate of https://github.com/containerd/containerd/issues/5824

[2021-12-28 08:22] #6158 closed

[2021-12-28 09:10] Dentrax commented on #6360
Since it's an internal domain app, I don't know exactly how can I create a reproducible image for [this case](https://github.com/containerd/containerd/issues/3974#issuecomment-982583129) but, I tried again by compiling containerd on master branch but still no luck. Any suggestions, or thoughts here?

[2021-12-28 09:15] hyy0322 commented on #6360
@Dentrax Maybe you can use some machine learning image, like tensflow image. These images are very large.

[2021-12-28 09:52] OpenSourceToken opened #6399 "K8S pod “securityContext.privileged: true” unable to convert containerd "noNewPrivileges: true“"
### Description

K8S version: v1.18.8
pod yaml
` securityContext:
          privileged: true`

containerd
`--privileged=true`

According to the usual practice, the above two paragraphs should be equivalent.

### Describe the results you received and expected

When use K8S `privileged: true`,  Containerd gives an empty parameter.

When use `ctr run --privileged`,  Containerd gives "noNewPrivileges:

[2021-12-28 18:09] zonnie commented on #4604
Just happened on GKE...not the first time...
I'm running k8s `1.21` so I can't even go back to `cos`...
I also have no clear of "getting out" of this so this can wrack havoc in production - any ideas ?

[2021-12-30 03:56] busyboy-ws commented on #6398
yep, you are right.  I compared the command line of docker. looks same situation.  Thanks for your answer。

[2021-12-31 03:08] fuweid commented on #6398
Thanks for the reply. 😀

[2021-12-31 03:08] #6398 closed

[2022-01-02 14:16] vsxen commented on #4547
@tiny1990 ping

[2022-01-02 15:56] SauravMaheshkar commented on #4426
After #6125 should this issue be closed ?

[2022-01-02 16:02] AkihiroSuda commented on #4426
We still have v1 config in https://containerd.io/docs/getting-started/ (and possibly other places too)

[2022-01-03 04:01] zvier opened #6402 "containerd-shim-runc-v2 exit abnormally"
### Description

We cause an strange phenomenon that the container's containerd-shim-runc-v2 and process inside the container both exit, but docker ps can still list this container with Up state.

The containerd's log about it is:
[code]

And we can sure that the dockerd not stop or kill the container initiatively. It seems like that the shim exit first, but no more information about how it works

[2022-01-03 18:47] #6305 closed

[2022-01-03 20:35] HarshdeepGupta opened #6405 "Better Docs for CRI and ctr."
### What is the problem you're trying to solve

The current docs containerd/containerd/cri/crictl.md and similar are very lacking in information. Whatever content the docs have right now, that is well written, but there is so much more content that we can add around CRI and using CRICTL for example.

### Describe the solution you'd like

More comprehensive example of using CriCtl to create a pod,

[2022-01-04 01:08] cpuguy83 commented on #6203
This should be fixed by nvidia-container-toolkit v1.6.0 (1.7.0 for Jetson... based on the Nvidia issue tracker).

[2022-01-04 02:27] joeycumines commented on #6203
I am also _not_ using the nvidia runtime (runc, I checked), ubuntu 18.04, docker-ce.

I started getting `OCI runtime create failed: container_linux.go:345: starting container process caused "error adding seccomp filter rule for syscall clone3: permission denied": unknown` from `RUN` within `docker build`, after upgrading docker.

[code]

Resolved the issue by going back to 20.10.9 like `sudo apt-g

[2022-01-04 07:59] nmtsousa commented on #6203
I do not have anything related to nvidia installed: no driver, nor nvidia-container-toolkit. The computer I am using has only an intel graphics card.

[code]
It seems this issue is only being considered for those that have the nvidia toolkit, but there are some of us that only have runc...

[2022-01-04 08:49] AkihiroSuda commented on #6203
@pontaoski

Your runc seems too old.
Please try updating `containerd.io` package to 1.4.12-1, which contains runc v1.0.2

[2022-01-04 15:20] Joseph-Goergen commented on #5563
@dmcgowan  @aojea  @mikebrow  Can we expect this fix implemented into 1.5 or even 1.6?

[2022-01-04 15:31] tiny1990 commented on #4547
patch kernel for a test
[code]

[2022-01-04 16:37] cpuguy83 commented on #6203
I would ask that anyone not using nvidia that is experiencing this issue:

If you are using Docker please make sure to update the `containerd.io` package.
Otherwise please make sure you are using runc >= 1.0.

Please run your repro with `--runtime=io.containerd.runc.v2` to make extra care that we are using the expected runtime.

If it still reproduces, give us:
1. `docker info` (if applicable),
2.

[2022-01-04 23:16] IRCody commented on #5807
I believe there are some additional changes required for this feature to work as expected with all snapshotters. As implemented there seems to be a race between the garbage collector and the snapshotter. I noticed this when using device mapper, which seems to be slightly slower than overlay. When using device mapper to launch a container referencing an image from a shared namespace you get an erro

[2022-01-05 01:04] joeycumines commented on #6203
@cpuguy83 yeah sure, I can still reproduce it

1.
[code]
[code]

2.
[code]
[code]

3.
[code]

4. Literally anything that uses the runtime, e.g. `docker build`, or
[code]

5.
[code]

[2022-01-05 01:25] danpodeanu commented on #6203
Quick note, I CANNOT reproduce using the default Ubuntu 20.04.3 LTS Docker:

[code]

2.

[code]

3.

[code]

4. N/A, this runs fine:

[code]

5.

[code]

[2022-01-05 06:49] tiny1990 commented on #4547
@lisael @vsxen

[2022-01-05 07:27] cardyok opened #6406 "Overlayfs volatile functionality"
### What is the problem you're trying to solve

We have some stateless pods that have heavy load on rootfs, and when overlayfs syncing happens, ovl_sync_fs is called, down_read lock is acquired, if there's lot of data to sync, process take too long, hungtask panic might happen.

relevant doc: https://www.redhat.com/sysadmin/container-volatile-overlay-mounts

### Describe the solution you'd like

A

[2022-01-05 08:56] thaJeztah commented on #6203
@joeycumines from the output of your `docker info` and `runc --version`  on the Ubuntu 18.04 machine, I think there's a custom runc binary installed. The `runc` version does not have the expected output. Here's what I expect it to look like on an 18.04 machine with `containerd.io` 1.4.12 installed;

[code]

[code]

[2022-01-05 10:29] vsxen commented on #4547
Thanks.
https://github.com/torvalds/linux/commit/f9c645621a28e37813a1de96d9cbd89cde94a1e4

[2022-01-05 10:38] sachinar commented on #4604
Same issue we also got.

[code]

[2022-01-05 10:38] #4547 closed

[2022-01-05 12:03] nmtsousa commented on #6203
@cpuguy83, here are the details from my machine
1. docker info (if applicable)
[code]
2. runc --version
[code]
3. distro + version
[code]
4. command you are using that repros the issue
[code]
5. Version of libseccomp
[code]

My workaround has been to down downgrade docker with:

[code]

After that, running the hello-world works:
[code]

[2022-01-05 16:51] dmcgowan commented on #6406
I think giving this option when starting a container could make a lot of sense. Based on previous discussions, implementing this at the Snapshotter level likely is not the right solution. The problem being that the behavior here may be ideal for stateless container that expect to throw away the ephemeral layer, but not ideal for setting up the RO layers. Possibly passing along a label indicating a

[2022-01-05 19:26] qiutongs commented on #4604
Here is my current analaysis. I will keep updating this comment.

## Summary

"failed to reserve container name" error is returned by containerd CRI if there is an in-flight `CreateContainer` request reserving the same container name (like below).
T1: 1st CreateContainer(XYZ) request is sent. (Timeout on Kubelet side)
T2: 2nd CreateContainer(XYZ) request is sent (Kubelet retry)
T3: 2nd CreateConta

[2022-01-05 22:08] cpuguy83 commented on #6203
I was about to come on here and say the minimum version of runc supported should now be 1.0.2, however I see some people saying they have 1.0.2.

The reason I would say 1.0.2 is required is in order to un-break everyone due to a bad mix of clone3 now being used in glibc and elsewhere + the seccomp profile deaulting to EPERM (meaning glibc cannot fallback to older behavior before clone3) forced doc

[2022-01-05 22:36] joeycumines commented on #6203
[> I think there's a custom runc binary installed
](https://github.com/containerd/containerd/issues/6203#issuecomment-1005495766)

Thanks @thaJeztah ! I guess I must've compiled it myself then forgotten I'd done so, it was using `/usr/local/bin/runc`.

I am now on `v1.0.2-0-g52b36a2`, and no longer have the issue. Thanks @cpuguy83 as well.

[2022-01-06 13:49] xiaofan-linux opened #6408 "Containerd does not have a network card to start, and the running container does not have an IP address."
### What is the problem you're trying to solve

Containerd does not have a network card to start, and the running container does not have an IP address.
[code]

# System version

[code]

### Describe the solution you'd like

Guide to configure the containerd network

### Additional context

_No response_

[2022-01-06 16:12] cpuguy83 commented on #6203
Great news.

I'm going to go ahead and close this out.

In short, when using the default seccomp profile the OCI runtime needs to support the `errnoRet` option for seccomp rules added to the runtime-spec here https://github.com/opencontainers/runtime-spec/commit/3bfcde28eab5d7e107ddd3771fc92399332932a8 (fixed json tag here https://github.com/opencontainers/runtime-spec/commit/f9df045810150d856c84d

[2022-01-06 16:12] #6203 closed

[2022-01-07 07:41] nmtsousa commented on #6203
@cpuguy83: I still have the problem.

I never compiled runc or any ting else, just installed via apt.

I have runc is version 1.0.2 in my path:

[code]

It is also shown in docker info:

[code]

Even if I force the runtime, I still get the error:

[code]

This problem started for me with docker-ce=5:20.10.10~3-0~ubuntu-focal

[2022-01-07 18:30] cpuguy83 commented on #6408
Do you have an example repro?

containerd, except when used with Kubernetes/cri, does not handle networking *at all*.
The `ctr` command does have a `--cni` flag where `ctr` will setup cni for the container, but that's it.
Networking is expected to be setup by the containerd client (e.g. `ctr`). Note that `ctr` is more of a testing/debugging tool.

If you happen to be looking for a more docker-like

[2022-01-07 18:35] xiaofan-linux commented on #6408
# Thank you for your reply, The containerd-net network is set up. After containerd is started, there is no network card similar to docker0. Does containerd not support it?
[code]

[2022-01-07 23:05] dmcgowan commented on #6408
@xiaofan-linux it might be better to ask over on the nerdctl repo or slack. The containerd daemon is not responsible for creating the `cni0` bridge interface. I'm not sure if that is automatically created by cni plugins or normally created in some other way. It might be helpful to try to run your container using the network and capturing the error message. That might be easier to search for as wel

[2022-01-08 03:44] SCIF commented on #6203
I don't have nvidia runtime/sdk/whatever-related-to-it installed.
Debian Testing. Keep trying to update for 3-4 months in row and have to downgrade every time. Latest working version is: `5:20.10.9~3`

[code]

[2022-01-08 09:26] SCIF commented on #6203
Wow!!

I just read one more time the post by @cpuguy83 and in particular this part:

The runtime surely is not nvidia and none of containers have it, just double checked.
The $PATH surely has `runc` in it, as `runc -v ` shows the info quoted above however, I decided to run `whereis runc` and was quite amazed when saw next result:

[code]

WHAT? I haven't installed it into `/opt`. `/opt/containerd/

[2022-01-08 11:00] kayamaty commented on #6203
@SCIF You solved it. That´s exact the same problem on my installation. Deleting `/opt/containerd/bin/runc` is the right way. I also never have installed runc there. Never compiled runc myself. Just using `apt install` , `apt update` and `apt upgrade`.

THX

[2022-01-08 14:03] vsxen commented on #4547
https://github.com/containerd/cgroups/issues/74
https://github.com/torvalds/linux/commit/7056d3a37d2c6aaaab10c13e8e69adc67ec1fc65
@tiny1990 can you tell me how to reproduce it ?

[2022-01-10 07:30] nmtsousa commented on #6203
Thanks @SCIF, that also solve the problem for me.

I also never compiled anything or installed anything without using apt. I tryied running "dpkg -S ..." to get the package that installed those files held an empty result:

[code]

Don't know what package left that file there, but not I removed /opt/containerd completely (it also had a /opt/containerd/bin/containerd-shim-process-v1 file)

[2022-01-10 09:24] zwtop opened #6422 "🐛 ctr task attach failed to open stdout fifo start with file://"
### Description

When I exec `ctr task attach xxx`, got error `ctr: failed to open stdout fifo: error creating fifo file:///var/log/everoute/xxxxxx.log: no such file or directory`

### Steps to reproduce the issue

1. Exec `ctr task attach xxx`.

### Describe the results you received and expected

When exec `ctr task attach xxx`, attach IO to container xxx.

### What version of containerd are you

[2022-01-10 09:42] SCIF commented on #6203
Glad to see it helps not just me :) Yeah, I checked with `dpkg -S` prior deletion. And my assumption that this folder came from `docker.io` package which used to be installed until I migrated to recommended `docker-ce` (that happened a while ago, but apparently, the package legacy left on disk).

[2022-01-10 13:17] thaJeztah commented on #6203
Hmm.. interesting; yes, that could explain the issue.

hmm.. could be the case yes. I don't think the `docker-ce` or `containerd.io` packages ever used that location (did some searching in history, but at least couldn't find a reference to it installing inside `/opt/containerd/` 🤔)

[2022-01-10 14:21] kayamaty commented on #6203
To me it seems docker.io installed runc in this location (/opt/containerd/bin) in the past. I just use docker.io, never used docker-ce in the past on this machine.
I only tried docker-ce to find a solution for this problem and got the same problems with docker-ce. Now I know why.

[2022-01-10 15:21] thaJeztah commented on #6203
I suspect those may be related to https://github.com/containerd/containerd/blob/35b96f9b1c27c71607a9d038819c6c9a4223c96f/services/opt/service.go#L40 (part of https://github.com/containerd/containerd/pull/2518)

[2022-01-11 00:35] kzys commented on #6387
@thaJeztah @AkihiroSuda What do you think just removing the .gitattributes file?

[2022-01-11 03:48] jonyhy96 commented on #6387
could u please full-fill the steps to reproduce?

[2022-01-11 06:45] afbjorklund commented on #6387
Make a containerd package, wait some weeks, watch every build fail due to checksum mismatch (see above) ?

It would fail also in the other Linux distributions, if they hadn't cached the old archive (with a different checksum).
Having different archives makes it harder to compare for traceability reproduce builds, due to the extra "noise"

It also doesn't serve any purpose, because it will put the

[2022-01-11 06:57] afbjorklund commented on #6387
Having git commits and build dates in source code and in binary releases is mostly useless, except for causing confusion.

The commit is not really needed, when versions are [tagged](https://github.com/containerd/containerd/tree/v1.5.8). As seen by having a commit from the _wrong git repository_ ?

And the build date makes it hard to do [reproducible builds](https://reproducible-builds.org/). It i

[2022-01-11 07:05] jonyhy96 commented on #6387
IIUC, This problem is because of `vendor/k8s.io/client-go/pkg/version/base.go` will be changed during `git archive`.

[code]

I wonder where does sha256 hash `a41ab8d39393c9456941b477c33bb1b221a29b635f1c9a99523aab2f5e74f790` from ?
checksum of containerd's source code is not contains in it's release page, did i miss something?

[2022-01-11 07:06] afbjorklund commented on #6387
https://git-scm.com/docs/gitattributes#_export_subst

[2022-01-11 07:08] afbjorklund commented on #6387
The workarounds only last for "so long", until the number of signficants digits in the commit changes again:

https://github.com/kubernetes/minikube/pull/13194

They also flip back and forth, depending on which server the GitHub workloads  ends up on running on, etc.

Which lessens the confidence in _having_ checksums

[2022-01-11 07:42] jonyhy96 commented on #6387
@afbjorklund Thanks for explaining it. I agree this is an issue that should be fixed.

I do the follow steps:
1. wget https://github.com/containerd/containerd/archive/refs/tags/v1.5.8.tar.gz
2. shasum -a 256 v1.5.8.tar.gz
a41ab8d39393c9456941b477c33bb1b221a29b635f1c9a99523aab2f5e74f790  v1.5.8.tar.gz

Want to known more about how `0890f7b0ee8e20a279a617c60686874b3c7a99e064adb2b38d884499b5284c43` w

[2022-01-11 08:06] afbjorklund commented on #6387
It was calculated the same way, just some time ago (the contents vary, over time)

[2022-01-11 08:31] thaJeztah commented on #6387
I'm a bit concerned about making changes or "manually" excluding files in the vendor directories, as doing so would complicate validating the vendored files, and checksums.

Given that this is an issue with a dependency that we vendor, perhaps it should be reported with the k8s maintainers to see if an alternative solution would be possible for this; note that go 1.18 now also supports using versi

[2022-01-11 08:37] afbjorklund commented on #6387
Requiring the latest/greatest/bleeding version of Go is a problem in itself, but one that we have to live with.

Removing _all_ git attributes is probably overkill, this was specifically about `export-subst` in two .go files.

[2022-01-11 08:55] ray2211 opened #6428 "Unable to add insecure registry to containerd config"
### Description

Im using kubernetes+containerd1.5.8 to deploy harbor
and I try use other docker host to pull/push image from harbor is work
now I trying to add a private insecure registry to the containerd config but fail...

### Steps to reproduce the issue

1.using docker host to pull/push image from harbor (work)

![2022-01-11_16h36_02](https://user-images.githubusercontent.com/73368915/148911

[2022-01-11 09:49] mel1nn commented on #5837
Hi, I have the same problem, the configuration from the imports is not merged with the config.toml file.

[2022-01-11 10:13] thaJeztah commented on #6387
Yes, that would either require a transition period until older Go versions reach EOL

Right; but the issue is that we should avoid getting on a sliding slope where we "randomly" modify vendor code, as we may loose the benefit of being able to validate that vendored code matches what's expected. So if a generic solution is possible, or if the problem could be fixed at the source (in the k8s.io/clie

[2022-01-11 10:43] jonyhy96 commented on #6387
FYI, kubernetes also using this https://github.com/kubernetes/component-base/blob/master/version/base.go to fetch version for components.

[2022-01-11 10:57] AkihiroSuda commented on #6428
Please provide the error message.

`sudo journalctl -f -S "1 hour ago"` might be useful to show the error logs.

[2022-01-11 11:12] ray2211 commented on #6428
HI  @AkihiroSuda
very very very thanks you
use journalctl -f -S "1 hour ago" i found the reason
"duplicated tables"

i delete this part then i restart containerD...it work!!!!!!!!!!!!!!

----------------------------------------------------------------
[plugins."io.containerd.grpc.v1.cri".registry]
  config_path = ""

  [plugins."io.containerd.grpc.v1.cri".registry.auths]

  [plugins."io.containerd

[2022-01-11 11:27] thaJeztah commented on #6387
Looks like they changed to use the non-abbreviated commit recently, which may resolve the problem as well; https://github.com/kubernetes/component-base/commit/130dc3a0b99303e9be95ce9f8ed43c9635b16d50

[2022-01-11 11:34] thaJeztah commented on #6387
Looks like that change was made in https://github.com/kubernetes/kubernetes/pull/99377, which also updates `client-go`, but not sure why https://github.com/kubernetes/client-go/tree/master/pkg/version was not updated with that code (I thought that repository was also extracted from kubernetes/kubernetes?)

[2022-01-11 11:36] thaJeztah commented on #6387
Oh, ignore me; I was looking at the wrong commit; that PR was from February last year and client-go now also has that fix, so I guess the problem should be resolved on main / v1.6.x of containerd?

[2022-01-11 11:37] jonyhy96 commented on #6387
code from k/client-go is sync from k/k/staging
Seems they are not trying to deprecate the .gitattributes, k/k use build flags for these values https://github.com/kubernetes/kubernetes/blob/9d7d3eb820c5297b5fcd5ffa21399c8bf2da744a/hack/lib/version.sh#L151-L182

[2022-01-11 12:32] afbjorklund commented on #6387
As long as you can live with the commit coming from the wrong repository, at least it won't change over time...

i.e. in containerd it will show the containerd commit, in cri-o it will show the cri-o commit, and so on and so on.

[2022-01-11 13:54] thaJeztah opened #6429 "[v1.6.0-rc] Regression / change in behavior in exit code in containerd v1.6.0-rc.XX"
### Description

Relates to https://github.com/moby/moby/pull/42942 - we observed a regression / change in behavior in containerd v1.6.0

### Steps to reproduce the issue

## Preparations

To reproduce; first do a regular install of docker; I tried this on a Ubuntu 20.04 machine (but the issue reproduced running docker-in-docker on Docker Desktop as well);

[code]

Stop the service, and enable deb

[2022-01-11 13:55] thaJeztah commented on #6429
/cc @tianon @cpuguy83 @AkihiroSuda

[2022-01-11 14:10] thaJeztah commented on #6387
Yes, it's unclear to me what the intent is of that "feature"; even more so given that k/k itself isn't using it, so it's a bit odd. I'd prefer them to set a `unknown` (e.g.) version if the values are not set, instead of trying to automagically set those values (and set them incorrectly).

Perhaps @dims has some insight into what the expected use of it is, or if it's just an oversight (and should b

[2022-01-11 14:15] #6428 closed

[2022-01-11 14:20] dims commented on #6387
ugh! @thaJeztah thanks for tagging me. Can we please open a issue in kubernetes/kubernetes? i'll help track this down.

[2022-01-11 14:23] dims commented on #6387
let me read the full back scroll / history

[2022-01-11 14:48] afbjorklund commented on #6387
Confirmed, `v1.6.0-beta.5` uses the full hash and doesn't have this issue.

[2022-01-11 14:50] dims commented on #6387
@afbjorklund thanks for confirming

[2022-01-12 00:19] thaJeztah commented on #6429
Copying from a Slack conversation with @fuweid

That issue was before containerd v1.5.0 (https://github.com/containerd/containerd/commit/faec5d4ffd46997fda35e6808d230ab82b80e9e4 is in the 1.5 branch); the issue here does not reproduce on containerd v1.5, so perhaps there's a similar(ish) regression