[2020-12-11 06:04] pacoxu commented on #4828
same as https://github.com/moby/moby/issues/36120?

[2020-12-11 08:13] Mohid-A commented on #4828
my use case is specifically containerd, not using docker on top of it.  believe corrections are needed in my config.toml file mentioned above, thanks

[2020-12-11 19:11] #4827 closed

[2020-12-11 21:40] crosbymichael opened #4834 "Provide a way to configure the NVIDIA GPU hook inside the CRI config"
As more people come to use containerd as their default CRI, we should provide an easy path for those users coming from docker who are using GPUs

[2020-12-12 01:43] sober-wang commented on #4834
I know the NVIDIA is fork the Docker source code ,next build a new docker for NVIDIA GPUs . Now we change the container engine to containerd .if only NVIDIA team can build a new container engine for NVIDIA GPUs.

[2020-12-12 03:22] sober-wang commented on #4830
I think your question is How to config containerd log-driver and limit these container stdout log.
Because docker have multiple types  log-driver .eg: Fluentd , json-file, sys-log. But I'm not found the log-driver config about container stdou or stderr in contianerd config default.

[2020-12-12 10:18] TheDiveO commented on #4807
After some more work on automatically taking only the necessary .proto files for the API and a few dependencies, rewriting problematic import aliases in this process, and ensuring to strategically place dependency .protos taking into account which ones are satisfyable at runtime by PyPI packages, I got this finally working on Ubuntu arm64 as well as amd64.

- https://github.com/siemens/pycontainer

[2020-12-12 10:18] #4807 closed

[2020-12-13 03:35] hillbun commented on #4830
@sober-wang

Do you mean it is unlimited log size?

[2020-12-13 11:26] windniw commented on #4830
@hillbun yes.
If you run container with `crictl` or `kubelet`, it wiil be logged in json format. But there is no config for logrotate. You could add a cron job on the machine like `logrotate -v -f /etc/logrotate.conf` to support `max-log-size` and `max-log-file`

[2020-12-13 18:27] skaegi opened #4837 "failed to adjust OOM score for shim: invalid argument error -- for docker:dind in Kubernetes"
**Description**
We're running `docker:dind` in a Kubernetes pod for CI. With the Docker 20 version of dind (which now uses the v2 shim) this is now broken and errors with a message similar to...
[code]

The valid range for oom_score_adj is between -1000 and 1000. By default Kubernetes uses 1000 for [BestEffort](https://kubernetes.io/docs/tasks/administer-cluster/out-of-resource/#node-oom-behavior)

[2020-12-13 22:47] jar349 opened #4838 "No option to disable freelist synchronization in order to recover corrupted bolt meta.db"
After an unexpected power outage, my containerd service fails to start, thus:
[code]

Based on the commentary [here](https://github.com/etcd-io/bbolt/pull/66#issuecomment-344774178) I believe that by opening the bolt db with `NoFreelistSync: true`, the database will be recovered via a full re-sync, which should overcome the failure to recover shown above.  However, there is currently no configurat

[2020-12-14 01:31] jmcmeek commented on #4837
A clarification:
1) The dind:20-dind image uses containerd v1.4.3
2) The Kubernetes node is running containerd v1.3.9

[2020-12-14 08:45] lionelbeard commented on #4837
Hi,

I have tried to upgrade containerd to v1.4.3 on k8s nodes, with no success.

[2020-12-14 16:55] leandroscardua opened #4843 "Issue with Tag version on Github"
Hi ContainerdD Team,

I`m seeing an issue on the github API page, if you check the link below, instead to point to the latest one, it`s pointing to the version 1.3.9, however  the latest version on the time 1.4.3.

https://api.github.com/repos/containerd/containerd/releases/latest

looks like, the version 1.3.9 has the tag latest

[2020-12-14 22:15] kevpar commented on #4830
Here's a previous issue on this: #3351

As was mentioned there: containerd is lower level than Docker, and does not itself provide log plugins or container output log rotation functionality. containerd simply provides plumbing for the orchestrator to receive the container output, so it would be up to the orchestrator (e.g. kubelet) to do the right thing.

[2020-12-14 23:47] eriksywu opened #4846 "have SpecOpts WithLinuxDevice handle directory paths"
Sometimes the device path in ContainerConfig passed by a client (i.e kubelet) will be a directory holding multiple device mounts rather than a device path itself.  containerd is already doing so in a [similar](https://github.com/containerd/containerd/blob/5d147bdc42ba3199e39306be2a4a7e2431f61052/oci/spec_opts_linux.go#L33) code-path for adding/discovering all host devices to the container spec if

[2020-12-14 23:50] eriksywu commented on #4846
cc @cpuguy83

[2020-12-15 01:27] AkihiroSuda commented on #4843
I agree this is confusing, but this is actually correct because we released 1.3.9 after 1.4.3.

I don't think there is an action we can take, unless GitHub supports setting the latest version explicitly.

[2020-12-15 01:27] #4843 closed

[2020-12-15 16:46] ruicao93 opened #4851 "[Windows][Blocker] Windows CNI plugin has no chance to create and configure container VNIC"
**User story**

By CNI spec, a CNI need to setup container network correctly before replying result to CRI. Connect the container VNIC to a OVS port is part of Antrea tasks. If container VNIC is not created during CNI call. Antrea cannot guarantee when container network is ready.

One CNI return CNI call result. CRI would think the network is ready. But it's actually a fake result(we assume the ne

[2020-12-15 18:52] cpuguy83 commented on #4830
Yes, Kubelet is responsible for handling these logs: https://github.com/kubernetes/kubernetes/pull/59898

[2020-12-15 18:52] #4830 closed

[2020-12-16 03:06] ruicao93 commented on #4851
@Random-Liu , @abhi : Do you know who might could help on the issue?

[2020-12-16 03:30] kevpar commented on #4851
@JocelynBerrendonner @daschott Could one of you please weigh in on this or help redirect? It seems the question is about getting a CNI plugin that worked with Docker to work with containerd on Windows.

The core issue seems to be that it relies on the VNIC being present, but it will not be created yet in the containerd case (which is expected, as we invoke CNI before creating the sandbox container

[2020-12-16 03:32] kevpar commented on #4851
Related hcsshim issue: Microsoft/hcsshim#911

[2020-12-16 05:32] AkihiroSuda commented on #4852
Moved from containerd/cri#1612 to containerd/containerd

[2020-12-16 06:05] 4ss3g4f opened #4853 "kubernetes v1.19.5 container runtime docker-containerd error deploy coredns"
**Description**

With kubernetes v1.19.5 container runtime docker successfully deploy coredns latest, but with container runtime docker-containerd v1.4.3 failed deploy coredns latest

**Steps to reproduce the issue:**
1. Deploy coredns in kubernetes v1.19.5 with container runtime docker-containerd
2.
3.

**Describe the results you received:**
`coredns
[Dec 16, 2020 12:54:40 PM GMT+7]
E1216 05:54:4

[2020-12-16 11:32] fuweid commented on #4818
@Jeffwan nerdctl supports commit. please take a look.

and I close this. Please file other issue if the nerdctl doesn't help.

[2020-12-16 11:32] #4818 closed

[2020-12-16 13:35] #4622 closed

[2020-12-16 13:35] #4795 closed

[2020-12-16 15:25] ruicao93 opened #4856 "[Windows] Containerd should support Pod hostNetwork mode like Docker"
**Description**

Containerd Windows version should support Pod "hostNetwork" mode like Docker. We know that Windows has not yet support the real "hostNetwork" mode. This requirement is just needed by Windows Pod which don't want CNI plugin to configure it's network.

For example, it's a common way that CNI plugin provider usually provide a Pod/Daemonsets to be deployed in users' testbed. The Pod w

[2020-12-16 19:06] JocelynBerrendonner commented on #4851
There is a discussion on Slack about this at the moment. @Keith-Mange, heads up ^

[2020-12-16 19:10] JeremyR78 opened #4857 "Impossible to create or start a container after reboot (OCI runtime create failed: expected cgroupsPath to be of format \"slice:prefix:name\" for systemd cgroups, got \"/kubepods/burstable/...")"
**Description**
The containerd can't run or create pods.

**Steps to reproduce the issue:**
1. I launched the containerd with the following instructions here (https://kubernetes.io/docs/setup/production-environment/container-runtimes/#containerd)
2. Everything was ok, the pods system of kurbenetes were working perfectly
3. when i reboot the host, i have an error message, please see below :

**Vers

[2020-12-17 03:16] ruicao93 commented on #4851
Thanks @JocelynBerrendonner , may I know which slack worksapce/channel the discussion in? I'd like to join the discussion.

[2020-12-17 04:15] mxpv commented on #4572
merge the readme - done

[2020-12-17 06:27] AkihiroSuda commented on #4857
This error is happening because kubelet is configured to use cgroupfs cgroup driver while containerd is configured to use sytemd cgroup driver.

To let containerd use cgroupfs driver, you need to remove `SystemdCgroup = true` line from `/etc/containerd/config.toml`.

To let kubelet use systemd driver, you need to set `cgroupDriver` in `KubeletConfiguration` to "systemd".

[2020-12-17 16:11] AkihiroSuda commented on #4853
Likely to be CNI misconfiguration, not a containerd bug

[2020-12-17 16:16] ribbybibby opened #4861 "Pulls take a long time to complete when the repository mirror endpoint is timing out"
**Description**

When containerd doesn't receive a response from a repository mirror endpoint (the connection hangs), it can take a very long time to pull a new image from the upstream.

The same is not true when using Docker, which seems to wait ~7s before reverting to the upstream.

From examining the logs it seems to me that containerd makes a number of requests to the endpoint that is timing o

[2020-12-17 16:20] 4ss3g4f commented on #4853
@AkhiroSuda ,

Ok, i will check cni config and redeploy again tomorrow,

Thank you for your hint

[2020-12-17 17:19] JocelynBerrendonner commented on #4851
@ruicao93 : the discussion is happening on the sig-windows channel in the Kubernetes workspace on Slack

[2020-12-17 17:34] jeanluclariviere opened #4862 "Image pull fail unauthorized 401 with working credentials."
**Description**
Containerd is failing to pull k8s control plane images from a private repo even though crictl is working fine. Our clusters are all on bare-metal and point to a private repo as part of the kubeadm-config we're using. After configuring the auth plugin for the cri registry to point to our private repo, containerd complains that it isn't able to pull down any of those images with erro

[2020-12-17 18:04] cpuguy83 commented on #4862
@jeanluclariviere What does it mean that "containerd is failling to pull" but "crictl works"? "crilctl" would be calling the cri API in containerd to do a pull.

[2020-12-17 18:12] JeremyR78 commented on #4857
It's working thank you

[2020-12-17 18:12] #4857 closed

[2020-12-17 18:32] mikebrow commented on #4862
please add -D to crictl and let's see which container runtime it is connecting to.. if crictl is connecting via the containerd daemon.. then it is working as designed. If however you mean when using ctr it does not use the cri config.. that is expected.

[2020-12-17 18:48] jeanluclariviere commented on #4862
@cpuguy83 @mikebrow I only mention crictl to demonstrate that the credentials are working. I don't think we should get hung up on the fact that I used it to pull the images, I could just as easily have used `docker login` and `docker pull` but crictl is what I had handy.

[2020-12-17 18:57] jeanluclariviere commented on #4862
Containerd logs the image pull when I'm using crictl.
[code]

[2020-12-17 19:11] cpuguy83 commented on #4862
@jeanluclariviere Still trying to understand in what context containerd is failing, because `crictl` *is* calling containerd (assuming you've configured it to do so and not something else).

[2020-12-17 19:58] mikebrow commented on #4862
containerd's ctr client and other client service apis do not use the cri plugin registry config (as of yet). In order to access the CRI plugin config you have to use the CRI services in containerd... that happens when you use a CRI enabled client tool, like crictl, kubectl, rancher, ... yada yada.  We have plans to add move said cri registry config down into containerd's base config at some point,

[2020-12-17 19:58] jeanluclariviere commented on #4862
@cpuguy83 Ok, so I've configured a bare-metal kubeadm Kubernetes cluster with containerd as the runtime. I've configured this cluster to to pull it's control plane images from a private repo - I did this by updating the kubeadm config with the following `imageRepository: my.private.repo`.

Then, I configured the containerd registry and authentication (provided in my initial post) in the `/etc/cont

[2020-12-17 20:04] mikebrow commented on #4862
after modifying the config.toml you have to restart your containerd service

[2020-12-17 20:07] jeanluclariviere commented on #4862
@mikebrow Thanks for the update - so what you're saying is that a kubernetes cluster with containerd as its runtime environment will not leverage the `config.toml` to pull down its its control plane images?

I'm running ~12 clusters with Docke as the container runtime and Kubernetes will leverage the Docker cli to pull down its control plane images. All we have to do is perform a `docker login my.

[2020-12-17 20:08] jeanluclariviere commented on #4862
I restarted containerd each time I modified the `config.toml`

[2020-12-17 20:27] jeanluclariviere commented on #4862
Further to this, I just wanted to add that if I try to pull the images down directly with **kubeadm**, the images fail with an unauthorized - it's as if the `config.toml` is either completely ignored or it's being used and failing to pass the proper credentials.

[code]

[2020-12-17 20:35] mikebrow commented on #4862
https://github.com/kubernetes/kubeadm/blob/master/kinder/pkg/cri/nodes/containerd/alterhelper.go#L74

ok.. not a kubeadm expert but looks like at least some code paths are using ctr not crictl

[2020-12-17 20:49] jeanluclariviere commented on #4862
I'll raise an issue with the kubeadm team to see if they can't corroborate that. In the meantime, can you confirm if crictl should be able to pull images down from my private repo after configuring the `config.toml` with the repo credentials?

the only way I can get crictl to pull down images from the repo is by providing the --creds or --auth flag. If I try to pull the image without those setting

[2020-12-17 20:56] mikebrow commented on #4862
? you said it worked above using
[code]
crictl is a client tool that connects to the container runtime daemon and uses images as configured.

If you do not provide auth/creds you can't pull an image that requires auth/creds.

[2020-12-17 20:59] mikebrow commented on #4862
there may be a hole.. in the kubeadm upgrade process when moving from docker to containerd. Docker's image cache is different from containerd's image cache. Make sure to link your kubeadm issue to here. Will be interesting to here some about how kubeadm uses containerd. Cheers.

[2020-12-17 21:03] jeanluclariviere commented on #4862
Sorry if I'm not being clear - let me be more specific.

If I run either of the following commands, specifying the --creds or --auth **flags**, the image is pulled down successfully.
[code]

However, if I omit those flags in the command, the image pull fails.
[code]

Because I've configured the `config.toml` with the registry AND credentials, I'm expecting this last command to succeed. In fact, th

[2020-12-17 21:22] #4837 closed

[2020-12-17 22:00] mikebrow commented on #4862
My bad I read the above as it's working fine in crictl i missed that the formatting of your config.toml was off.

See: https://github.com/containerd/containerd/blob/master/docs/cri/registry.md#configure-registry-credentials

[2020-12-18 00:57] jeanluclariviere commented on #4862
@mikebrow Thanks a bunch for linking me to the official documentation, using it I was able to solve my problem. I'm guessing the syntax must have changed over the years, I was using out dated posts to try and put something together. It's a shame containerd doesn't throw an error with my existing configuration but I suppose I was just unlucky and put it in such a way it was still acceptable. Really

[2020-12-18 12:54] dims commented on #4851
cc @mikebrow @marosset

[2020-12-18 18:34] daschott commented on #4851
@ruicao93 I think it will take a bit more time to give a proper response here, many people are out of office on Winter holidays. But I can try to point you in the right direction for starters...

The steps for containerD will be different since it should leverage HNS/HCN namespace. In Dockershim v1 flow there was no support for namespaces yet, hence there was a infra container that was created fir

[2020-12-18 18:36] mikebrow commented on #4862
Your welcome, glad to help.

Yes, the old syntax was deprecated. There's some code there that .. failed to help you out let's see why.

[code]

So from my read it should've sent a warning message out to the containerd log about the deprecation. And it tried to copy over your auth to the new syntax, but that ^ code didn't work for some reason. Will leave this issue open to fix that.

[2020-12-18 19:51] nagiesek commented on #4851
I'll endorse David's answer here.

https://github.com/microsoft/windows-container-networking/blob/45dfaf42358c2710159a7df0bde4807bc4a13a52/network/manager.go#L120 shows this exact flow for endpoint creation and attach from the HNS/HCN perspective. The key thing to note is that you have to use the specific V2 attach call (hcn.AddNamespaceEndpoint) to add the endpoint to the namespace.

[2020-12-18 19:55] JocelynBerrendonner commented on #4851
@ruicao93, to build on top of what @daschott and @nagiesek mentioned, in HNS a simple switch is called a "transparent network". The way to proceed with this issue is to:
1. Create a *Transparent* HNS network (*Transparent* network is important here)
2. Modify the network to enable the OvS switch extension. If needs be, the hyper-v WMI can be used to fine-tune the vmswitch configuration
3. Create t

[2020-12-19 17:29] tharun208 commented on #4720
@crosbymichael I like to work on this. instead of counter can we use summary metrics ?

[2020-12-20 16:53] zhsj opened #4867 "Release tarball in GCS"
In README.md, we still metions ` cri-containerd-release storage bucket`, however it's not true since this bucket doesn't get updated since containerd 1.4+ and 1.3.5+

https://github.com/containerd/containerd/blob/ca292da14b8a4fbd81dc74e3cb29289d05ca3503/README.md#L236

What's the right expection? Should it be removed?

If it will be removed, what's the expection for https://github.com/containerd/c

[2020-12-21 01:16] ruicao93 commented on #4851
Thanks @daschott @nagiesek @JocelynBerrendonner for your guide.

Actually, we already follow the steps to create HNS Endpoint and attach the endpoint to namespace. The problem is the VNIC is not created immediately after we call `AddNamespaceEndpoint`. Instead, the VNIC is created after sandbox is realized.

Antrea needs to attach the VNIC to OVS before reply CNI call. But at the time the VNIC has

[2020-12-21 13:42] johnathanmdell opened #4868 "Cherry pick bug fix into 1.3 and 1.4 (Add bounds on max oom_score_adj value for AdjustOOMScore)"
Hi All

Would it be possible to cherry pick https://github.com/containerd/containerd/pull/4845 into the 1.4 and 1.3 branches for release?

This is to solve https://github.com/containerd/containerd/issues/4837

[2020-12-21 14:10] johnathanmdell commented on #4868
1.3 cherry picked pr https://github.com/containerd/containerd/pull/4869
1.4 cherry picked pr https://github.com/containerd/containerd/pull/4870

[2020-12-22 03:46] lvbo1115 opened #4873 "crictl failed pull a taged image while ctr & docker work"
**Description**

I have 2 private registry and moved an image from one to antoher, but when I try to pull the new image in the new repo got the following error.
![image](https://user-images.githubusercontent.com/26754489/102846202-59375800-444a-11eb-8bc0-12b44cb72ba7.png)
10.92.119.202 was my previous harbor while 192.168.138.32 is the new one.
Since the 2 networks  are separetely, I tranfered the

[2020-12-22 03:47] lvbo1115 commented on #4873
Not sure why the image not shown, paste the error msg below:

FATA[0030] pulling image failed: rpc error: code = Unknown desc = failed to pull and unpack image "192.168.138.32/google_containers/flannel:v0.12.0": failed to resolve reference "192.168.138.32/google_containers/flannel:v0.12.0": failed to do request: Head http://10.92.119.202:30002/v2/google_containers/flannel/manifests/v0.12.0?ns=192.

[2020-12-22 09:07] ycyxuehan opened #4876 "cannot pull private respostry image"
i have already config this :
[plugins."io.containerd.grpc.v1.cri".registry.configs]
  [plugins."io.containerd.grpc.v1.cri".registry.configs."registry.my.com".tls]
    insecure_skip_verify = true
and when i pull an image, response this:
ctr: failed to resolve reference "registry.my.com/kubernetes/pause:3.2": failed to do request: Head https://registry.my.com/v2/kubernetes/pause/manifests/3.2: x509:

[2020-12-22 11:55] RavikumarTulugu opened #4877 "how to get the network namespace of pod from inside ??"
how do we get the network namespace id of the pod from inside ?? we have some logic based on /var/run/netns which reads the inodes in the namespace file system , it is working in docker, but when we moved from docker to containerd , the namespace entry for the pod is missing under /var/run/netns directory on host.
 readlink /proc/1/ns/net
net:[**4026540220**]

when we read the inodes of all the en

[2020-12-22 12:35] estesp commented on #4868
Completed

[2020-12-22 12:35] #4868 closed

[2020-12-22 18:07] AkihiroSuda commented on #4876
ctr does not use CRI config.

For ctr, the corresponding flag is --skip-verify https://github.com/containerd/containerd/blob/dc207b654da07cdce1e9e2996810f46da3fb06d1/cmd/ctr/commands/commands.go#L47-L80

[2020-12-23 02:21] Binyang2014 opened #4878 "Support device mount for windows container"
**What is the problem you're trying to solve**
Mount device to windows container

**Describe the solution you'd like**
Windows container current support device mount for process isolation. Refer:  https://docs.microsoft.com/en-us/virtualization/windowscontainers/deploy-containers/hardware-devices-in-containers.
So hope we can add windows device mount feature.  OCI already  support windows containe

[2020-12-23 09:07] nerzhul commented on #4641
I'm closing this as it's fixed now

[2020-12-23 09:07] #4641 closed

[2020-12-24 06:57] mzzgaopeng opened #4880 "ctr image pull x509 error"
when i running the containerd, and to use ctr to pull image erroe whith x509 certificate singned by unknow authority

**Steps to reproduce the issue:**
1.containerd version v1.4.3
2.harbor with https and port use 30443
3.ctr version v1.4.3

**Describe the results you received:**
when i use the ctr --debug image pull xxxx:30443/k8s-deploy/busybox:latest
![image](https://user-images.githubuserconten

[2020-12-24 11:27] #4877 closed

[2020-12-24 11:27] RavikumarTulugu commented on #4877
this was a false alert.

[2020-12-24 13:23] consoleKEC commented on #4818
what is difference between containerd commit and docker commit

[2020-12-24 21:58] jayunit100 opened #4884 "No documentation on the runhcs-wcow-process runtime."
**Description**

It looks like the windows containerd default is `runhcs-wcow-process`, and if you do something like `windows` or `containerd` in a kubernetes runtimeClass, its thus not accepted and you get the dreaded "runtime not found" error in containerd.

So, I think this is a doc bug - we probably should have a doc to explain this somewhere, so that folks wanting to run containerd on windows

[2020-12-24 21:59] jayunit100 commented on #4884
Note that, running `ctr plugin list` also doesnt seem to hint at this as a runtime value.  Wondering wether there is a definitive way to use `ctr` to list out the default container runtime?

[2020-12-25 10:39] wnotbak opened #4886 "containerd is waked up frequently in system idle state for ubuntu18.04"
I'm a user of docker. I care about the power consuming in system idle state. The system is ubuntu18.04 LST.  In idle state, I use "top" to watch the activities of different daemons. I finds that containerd daemon is very active although no any container is run. Could any one give me some advice how to slow down the wake up frequency of containerd daemon in system idle state?  What factors in ubunt

[2020-12-25 17:02] AkihiroSuda commented on #4886
Probably because of GC? https://github.com/containerd/containerd/blob/master/docs/garbage-collection.md#garbage-collection-configuration

[2020-12-26 15:34] matrix-ops opened #4887 "The list of image output by ctr and crictl does not match"
Hello! I'm currently learning and using containerd and have run into a little problem and would appreciate any help.
Why the image list output of ctr and crictl are not consistent?
This image output from ctr is imported via image import.
The crictl image is pulled down by crictl pull busybox.
containerd version v1.3.0 36cf5b690dcc00ff0f34ff7799209050c3d0c59a
<img width="1114" alt="b5095bffe58fb92d

[2020-12-26 18:24] arianvp opened #4888 "systemd socket activated containerd always drops initial RPC call"
**Description**

https://github.com/containerd/containerd/issues/164 claims socket activation is supported.

And indeed it seems to sort of work; as the systemd unit gets started as soon as the first message comes in.
However;  anything talking to the socket-activated socket will always get a
[code]
on the first RPC call. It seems like containerd drops the messages that are on the socket before it

[2020-12-26 18:28] arianvp commented on #4888
Ah it seems it's not actually supported anymore: https://github.com/containerd/containerd/issues/164#issuecomment-657536515

I will close this issue again. I don't see any references to `LISTEN_FDS` in the codebase anymore so indeed sseems to have been removed again :(

[2020-12-26 18:28] #4888 closed

[2020-12-26 23:27] todaygood commented on #4887
crictl image list  =  ctr -n=k8s.io image list

[2020-12-27 07:07] matrix-ops commented on #4887
I imported a pasue container in ctr's default namespace with the ctr image import command, and now I want to create a Pod using ：
`crictl runp pod-config.json
`
But crictl doesn't recognize the image imported by ctr, so it still tries to get it from k8s.gcr. io to get the pause image, which is a bit difficult for my network environment, is there any other way?

[2020-12-27 07:15] matrix-ops commented on #4887
The problem is solved by using :）
[code]
Thanks again

[2020-12-27 21:47] pfuhrmann commented on #4604
Did you manage to resolve this issue @sadortun? We are experiencing the same. Also on GKE with containerd runtime.

[code]

We are deploying the same image to multiple deployments (30 - 40 pods) at the same time. No such issues with docker runtime.

[2020-12-28 01:51] JornShen opened #4889 "Net namespace no create"
**Description**
I use kubelet to call cri service of  containerd. But network create failed.

The  containerd log info as fellow:
[code]

[code]

cotainerd verision:
[code]

OS verison: CentOS 7

What's wrong ?
Is it refer to ones:
[code]

[2020-12-28 03:24] JornShen commented on #4889
Can anyone give me some guide? possible problem

[2020-12-28 03:24] sadortun commented on #4604
Hi @pfuhrmann

We did investigate this quite deeply with GKE Dev team and we were not able to reproduce it.

That said, We are pretty convince the issue comes from one of the two following issue:
- Disk IO is to high and containerd timeout because of that
- Starting 10-20+ pods at the same time on a single node cause a memory usage spike and at some point containerd process get killed.

Unfortunat

[2020-12-28 14:48] estesp commented on #4889
While containerd 1.2.x is unsupported and no longer serviced, your specific version (v1.2.2) is also extremely out of date--the final release of the 1.2.x service line was *v1.2.13*.

I'm not suggesting that is the only issue, but it would be important to attempt this on a supported containerd (either 1.3.x or 1.4.x) and see if you are still hitting an issue. My guess is that there is a CNI plugin

[2020-12-29 01:06] gsophy opened #4892 "Kubeadm init fails on raspberry pi/Ubuntu LTS 20.04"
**Description**

Working on setting up kubernetes on three raspberry pi devices running Ubuntu LTS 20.04 and latest kubernetes/containerd versions.  On initial setup, kubeadm init runs without any errors and kubectl get nodes returns the joined nodes.  After rebooting, all kubectl commands fail with the following error:  "The connection to the server 192.168.1.21:6443 was refused - did you specify

[2020-12-29 01:09] gsophy commented on #4892
Output of 'sudo ctr plugin ls' command is below: note the errors.
TYPE                            ID                       PLATFORMS         STATUS
io.containerd.content.v1        content                  -                 ok
io.containerd.snapshotter.v1    aufs                     linux/arm64/v8    ok
io.containerd.snapshotter.v1    btrfs                    linux/arm64/v8    error
io.containerd.s

[2020-12-29 01:10] gsophy commented on #4892
Contents of config.toml is below:
root = "/var/lib/containerd"
state = "/run/containerd"
plugin_dir = ""
disabled_plugins = []
required_plugins = []
oom_score = 0

[grpc]
  address = "/run/containerd/containerd.sock"
  tcp_address = ""
  tcp_tls_cert = ""
  tcp_tls_key = ""
  uid = 0
  gid = 0
  max_recv_message_size = 16777216
  max_send_message_size = 16777216

[ttrpc]
  address = ""
  uid = 0

[2020-12-31 00:54] #4892 closed

[2020-12-31 01:54] McDoit commented on #4509
@cpuguy83 Does/did this issue also affect docker on Windows?
Just found this issue and we are seeing something similar, on a long running container with a healthcheck

[2020-12-31 02:02] cpuguy83 commented on #4509
No, Docker on Windows does not use conrainerd, as far as I know.

[2020-12-31 02:06] cpuguy83 commented on #4509
Sorry...If you are running Linux containers on Windows using Docker Desktop... then possibly it could be related.

[2020-12-31 22:35] AkihiroSuda opened #4897 "flaky test: TestLosetup/RemoveLoopDevicesAssociatedWithImage"
[code]

saw in https://github.com/containerd/containerd/pull/4881#issuecomment-753218950

[2021-01-02 15:34] ceto33 commented on #4381
Format your config.toml file to ANSI or ASCII encoding and it should work fine. Happened to me too.

It's an encoding error when writing the default config to your filesystem. For some reason containerd seems to be write the file in the UCS-2 encoding.

[2021-01-04 10:17] cyent opened #4900 "config.toml SystemdCgroup not work"
**Description**

/etc/containerd/config.toml

[code]

the whole config.toml:

[code]

systemctl daemon-reload
systemctl restart containerd

**Describe the results you received:**
1. crictl info: "systemdCgroup": false,
2. containerd config dump | grep SystemdCgroup: not get any result about cgroup

**Describe the results you expected:**
1. crictl info: "systemdCgroup": true,
2. containerd config d

[2021-01-04 12:05] nqdrizzt commented on #4900
I have the same behavior running containerd v1.3.9 as container runtime for k8s

[2021-01-04 12:25] nqdrizzt opened #4901 ""RunPodSandbox for PodSandboxMetadata .... failed, error" error="failed to generate seccomp spec opts: seccomp is not supported"
**Description**
While trying to bootstrap a k8s cluster (v1.20.0) with kubeadm init and running containerd as container runtime the following error occurs for all container of the k8s control plane:

[code]

I am running debian 10
[code]

Seccomp is enabled:
[code]

**Output of `containerd --version`:**

[code]

**Any other relevant information:**

[2021-01-04 14:33] AkihiroSuda commented on #4901
For v1.3, you had to compile containerd with libseccomp. (Just run make)
Or just update to v1.4 which does not depend on libseccomp.

Probably you should make a contact to somebody who built containerd binary for you.

[2021-01-04 14:38] nqdrizzt commented on #4901
well, that guy would me myself ;)
I am not aware how to include the libseccomp in make process, or activate it if its not switched on by default.
Do you mean the Makefile of containerd or the make helper script in script/setup/install-seccomp ?
I also tried v1.4 but it seems its not compatible with k8s yet

[2021-01-04 16:27] AkihiroSuda commented on #4901
Should be compatible

[2021-01-04 22:52] #4867 closed

[2021-01-04 23:34] paulczar opened #4904 "[bug] `--hosts-dir` doesn't appear to work with a docker style hosts directory"
**Description**

I'm trying to use a docker style /etc/docker/certs.d/ directory via the new --hosts-dir and it doesn't appear to be working.

If I specify the ca cert file directly it does pull an image:

[code]

however using the hosts-dir cli option, it fails as described below.

**Steps to reproduce the issue:**

I create the directory as described in the [docker docs](https://docs.docker.com/

[2021-01-05 00:39] kevpar commented on #4878
Assuming we want this in k8s as well, this would require some support in the CRI API for passing Windows device info through to the container runtime. @marosset / @jsturtevant do you know if there are any proposals for this on the k8s side?

[2021-01-05 01:12] jsturtevant commented on #4878
The support for Devices was recently merged: https://github.com/kubernetes/kubernetes/pull/93285

The kubelet uses the device manager to map that info to the `ContainerConfig.Devices` https://github.com/kubernetes/cri-api/blob/master/pkg/apis/runtime/v1alpha2/api.pb.go#L3254

[2021-01-05 01:25] kevpar commented on #4878
`Device` was seemingly designed for Linux, so it looks like this:

[code]

Was there discussion on how device information would be passed for a Windows device? The OCI spec needs `ID` and `IDType`, so we need either a new struct defined for Windows, or some way to encode that into this `Device` struct.

[2021-01-05 01:26] kevpar commented on #4878
Internally we have used a format like `IDType://ID` to encode this into `host_path`, but we can certainly use some other way instead.

[2021-01-05 02:01] marosset commented on #4878
@kevpar do permissions make any sense for devices assigned to windows containers? If not then a new windows device  struct probably makes sense here.

[2021-01-05 02:51] Sidabw commented on #4423
so, is there any solution?
mac os is fine; centos 7.2 has failed!

[2021-01-05 03:33] payall4u opened #4905 "Some goroutine hang at syscall openat /run/containerd/io.containerd.runtime.v2.task/k8s.io/xxx/log"
**Description**
Some goroutine hang at syscall openat /run/containerd/io.containerd.runtime.v2.task/k8s.io/xxx/log.
[code]
257 => openat
0xffffffffffffff9c => AT_FDCWD

 We got 0xc0001eac40 /proc/14915/fd/12 by gdb, and /proc/14915/fd/12 is /run/containerd/io.containerd.runtime.v2.task/k8s.io/3bb94c1b96dd65e1dc3dc5f991a6ed158dbb697d88286cf5e682b0d501b1ca03/log.

**Steps to reproduce the issue:**
W

[2021-01-05 04:19] fuweid commented on #4905
I think it has been fixed by https://github.com/containerd/containerd/pull/4046

[2021-01-05 04:20] fuweid commented on #4905
BTW, you can use `ctr pprof goroutines` dump stack instead of gdb.

[2021-01-05 04:51] payall4u commented on #4905
Cancel the context can't interrupt the syscall openat. This PR #4046 didn't fix the real error.

Thanks, but I use gdb to check string in memory :)

[2021-01-05 05:05] fuweid commented on #4905
I think we can open fifo in write mode to let syscall exit when failed to start shim. WDYT?

[2021-01-05 05:08] payall4u commented on #4905
Sounds great, otherwise we have to modify containerd/fifo. May I fix it soon?

[2021-01-05 05:10] fuweid commented on #4905
What is your plan?

[2021-01-05 05:36] payall4u commented on #4905
I'm checking if it will cause other problems. Wait me please!

[2021-01-05 05:58] payall4u commented on #4905
Considering #3266, I think it's not a good idea. Let me figure out the current situation...

[2021-01-05 06:41] hillbun opened #5049 "How to config containerd runtime data dir？"
by default, is it /run/containerd

How to change to /data/containerd ?

[2021-01-05 10:29] AkihiroSuda commented on #4654
I'm closing this as v1.1 is outdated, but feel free to reopen if this is reproducible with v1.4.

[2021-01-05 10:29] #4654 closed

[2021-01-05 19:00] kevpar commented on #4381
@justurtevant can you confirm that you are using Windows PowerShell (e.g. PowerShell 5) when you are seeing this? I have only been able to repro with that. This does not seem to repro when using bash (WSL), PowerShell Core (e.g. PowerShell 6+), and cmd.

The issue seems to be that the TOML library expects UTF8 with no BOM. Windows PowerShell defaults to the `Unicode` encoding when redirecting to a

[2021-01-05 22:21] kevpar commented on #4878
We don't have any concept of permissions today, so I don't think we need anything like that. We can always add a new field later if the situation changes.

For hypervisor-isolated containers that is additional information needed, such as the location of drivers to install in the UVM, but that may be better handled as annotations anyways. Don't think we need to try to standardize this yet.

[2021-01-06 04:03] alexanderturner opened #4908 "Incorrect Layer SHA256 computation on large, self hosted containers"
**Description**
I have a larger container which I have self-hosted in a Docker registry running `registry:2`. When I pull a particular container running graphite the deployment failed in k3s with an unexpected commit digest error. This only appears to happen on a private repo.

**Steps to reproduce the issue:**

1. Deploy graphite.yaml below onto Kube running contained (k3s)
2. `kubectl describe p

[2021-01-06 04:04] alexanderturner commented on #4908
https://github.com/containerd/containerd/issues/3974

[2021-01-06 10:04] wnotbak commented on #4886
Hi, AkihiroSuda,
Thank you for your advice. Yes, the wakeup is caused by GC. I modified some configuration parameters in /etc/containerd/config.toml. The wakeup frequency becomes slow.  I think the power saving should be considered for GC design.

[2021-01-06 12:05] pothos opened #4910 "Use debug log level instead of info log level for CRI logs"
**Description**

Regular process execution or stdio produces `info` log entries which clutter the log.

**Steps to reproduce the issue:**
1. Run a K8s cluster based on the containerd CRI plugin with, e.g., Calico Pods running
2. Observe many `info` log entries related to process execution or stdout usage

**Describe the results you received:**

[code]

**Describe the results you expected:**

All t

[2021-01-06 21:28] PW999 commented on #3347
I'll be honest, I very likely unplugged the power too soon from my Raspberry Pi which probably caused some file corruption.
Removing the meta.db file didn't help and doing an `rm -rf /var/lib/docker && rm -rf /var/lib/containerd` wasn't really an option for me.
So I started renaming every folder in /var/lib/docker to figure out which file was corrupt and in _my case_ it was /var/lib/docker/network

[2021-01-07 07:23] povsister commented on #4900
See https://github.com/containerd/containerd/blob/18ad79d328ff6dd12cd6be4df97ad4a7fd1918cb/pkg/cri/config/config.go#L213-L216

I think this is not a bug. Because you are using `runc` as underlaying runtime.
If you wish to set `systemCgroup` for `runc`
Use
[code]

[2021-01-07 08:49] fsrajer opened #4914 "Docker build hangs with containerd.io==1.4.3 and BuildKit"
**Description**

The build hangs when using BuildKit in Docker build.

**Steps to reproduce the issue:**
1. Create a simple Dockerfile. My example:
[code]

2. Build the image with BuildKit enabled
https://docs.docker.com/develop/develop-images/build_enhancements/
`DOCKER_BUILDKIT=1 docker build -t "replicate-bug:latest" .`

You will observe that the build hangs in the installation step. I observe

[2021-01-07 11:35] cyent commented on #4900
I try, but both "containerd config dump" and "crictl info" can't find it.

[code]

In addition, how to set systemdcgroup when using other runtime?

[2021-01-07 12:24] povsister commented on #4900
@cyent
This config option can not be verfified by `crictl info` or `config dump`.
I am afraid currently there is no way to "directly see" it in live configuration.
Instead, you can verfiy it by the behaviour.

For example, once you have `systemd_cgroup = true` set in `[plugins."io.containerd.grpc.v1.cri".containerd.runtimes.runc.options]`
You could see Kubernetes pods spawn in the cgroup of contai

[2021-01-07 14:58] claudiubelu opened #4915 "Windows: Cannot run container with a mount containing a symlinked path"
**Description**

If a containerd container has been created on Windows with a mount that contains a symlink in its path, then that container cannot start due to an error:

    ctr run --rm --mount src=C:\Users\azureuser\temp\projected\somefile,dst=C:\test-volume docker.io/claudiubelu/agnhost:2.21 test-symlink2 cat C:\test-volume
    ctr: hcsshim::CreateComputeSystem test-symlink2: The filename, di

[2021-01-08 04:03] cyent commented on #4900
Thanks. Then I test detailed, include [cgroup] path + SystemdCgroup=true/false + 1.3.9/1.4.3

# when config.toml: [cgroup] path = ""

- default(SystemdCgroup = false)

   - 1.3.9【Result A】：/sys/fs/cgroup/memory/kubepods.slice/kubepods-besteffort.slice/kubepods-besteffort-pod${podID}.slice/cri-containerd-${containerID}.scope
   - 1.4.3【Result B】：/sys/fs/cgroup/memory/system.slice/containerd.service

[2021-01-08 04:50] povsister commented on #4900
@cyent
That's interesting. As far as I know, containerd changed the default runtime shim from v1(v1.3.9) to v2(v1.4.3).

Could please provide a full `config.toml` for both of your tests ? If you use the default config but only change the `systemdCgroup` options in runc options, that might be the reason.

[2021-01-08 05:09] cyent commented on #4900
yeah, The above test are default config(containerd config default > /etc/containerd/config.toml), only change SystemdCgroup and [cgroup] path. So I think this is a bug.

[2021-01-08 06:39] povsister commented on #4900
I agree. But you made a mistake in summary, see Result C - test case 2.

- Result A：kubepods.slice/kubepods-besteffort.slice/kubepods-besteffort-pod${podID}.slice/cri-containerd-${containerID}.scope
  -  path = "", SystemdCgroup=false 1.3.9    [**Might be a bug**]
  - path = "", SystemdCgroup=true, 1.4.3    [**OK**]
  - path = "hello", SystemdCgroup=true, 1.3.9    [**OK. SystemdCgroup takes priori

[2021-01-08 19:21] #4887 closed

[2021-01-08 19:52] Sh4d1 opened #4920 "Can't pull image while specifying user/pass in config"
**Description**

Here is (part of) my config:
[code]

**Steps to reproduce the issue:**
1. Fill the config
2. Pull an image

**Describe the results you received:**
[code]
But:

[code]

**Describe the results you expected:**
The pull to be okay

**Output of `containerd --version`:**

[code]

**Any other relevant information:**
I've seen https://github.com/containerd/cri/issues/1482 https://github.c

[2021-01-09 13:06] cyent commented on #4900
yeah, but I think Result A `path = "", SystemdCgroup=true, 1.4.3` is a bug, not `path = "", SystemdCgroup=false 1.3.9`, because I think `system.slice/containerd.service` represent SystemdCgroup.

So:

- Result A：kubepods.slice/kubepods-besteffort.slice/kubepods-besteffort-pod${podID}.slice/cri-containerd-${containerID}.scope

  - path = "", SystemdCgroup=false 1.3.9 [**OK**]
  - path = "", Systemd

[2021-01-09 13:30] povsister commented on #4900
but... you see, with path="hello" & SystemdCgroup=true, the behaviour of 1.3/1.4 is the same. If you insist there is a bug with 1.4, it doesn't explain the same behaviour referred above.

By default all sub-processes started by a systemd service will have its cgroup inherited in that service. That's to say: `system.slice/containerd.service/sub-processes`. It does not require any extra configuratio

[2021-01-09 13:40] cyent commented on #4900
Eh, your sound intuitively plausible, I will keep trying, Thanks very much.

[2021-01-09 14:33] AkihiroSuda commented on #4920
Needs to have `version=2` header

[2021-01-09 14:38] Sh4d1 commented on #4920
The header is here, here is the whole config:

[code]

[2021-01-09 14:42] Sh4d1 commented on #4920
Okay huge pebkac, sorry for the noise (I had `/etc/containerd/containerd.toml` instead of `/etc/containerd/config.toml` 🤦 )

[2021-01-09 14:42] #4920 closed

[2021-01-11 08:49] nqdrizzt commented on #4901
I tested also the 1.4 version now with k8s, and it seems to work. However, my alod config file was not working any more, but after fixing the syntax of the config.toml its up and running. But there seems to be a problem with the configuration of containerd to use systemd cgroups context. And also k8s needs the pause sandbox container of  a newer version to work properly

[2021-01-11 08:49] #4901 closed

[2021-01-11 15:12] fuweid commented on #4897
[code]

ping @mxpv

I see this error in CI and can reproduce in 32G Ubuntu 4.15 Kernel. But can't reproduce it in `Linux ubuntu-focal 5.4.0-60-generic`.

[2021-01-11 15:47] fuweid commented on #4908
I can reproduce it in my local

[code]

Will take a look. Thanks for the reporting.

[2021-01-11 17:45] mxpv commented on #4897
hmm, looking...
also maybe @bergwolf can help us with this (https://github.com/containerd/containerd/pull/4902)

[2021-01-11 17:50] mxpv opened #4924 "Flaky windows integration test"
Windows integration test fails from time to time with big crash dump.

Some recent ones:
https://github.com/containerd/containerd/pull/4916/checks?check_run_id=1666438986
https://github.com/containerd/containerd/pull/4912/checks?check_run_id=1666465275
https://github.com/containerd/containerd/runs/1675684511
https://github.com/containerd/containerd/runs/1675651301
https://github.com/containerd/con

[2021-01-12 02:33] fuweid opened #4927 "Flaky TestContentClient testing"
[code]

just feel weird about go 1.14.13 version in the stack

https://github.com/containerd/containerd/pull/4682/checks?check_run_id=1682303514

[2021-01-12 07:10] marosset opened #4928 "CNI logs getting written to c:\windows\system32 on Windows when containerd is run as a service"
**Description**

In Kubernetes clusters, when containerd is registered on a service on windows nodes with `containerd.exe --register-service` logs and other files generated by CNI binaries invoked by containerd end up in c:\windows\system32.

My guess is that this is happening because a working directory is not specified when invoking CNI binaries and most of the CNI binaries are not specifying a

[2021-01-12 08:43] dcantah commented on #4924
Looks like it's crashing on deleting the test root by calling an exported HCS method, which is odd as that hasn't changed in awhile afaik.

[2021-01-12 12:24] ZhizhouTian opened #4931 "container status value `FinishedAt` maybe a negative value"
**Description**

**Steps to reproduce the issue:**
1. run kata containers long time
2. execute `crictl inspect ${containerid}`
3. get a strange FinishedAt value

**Describe the results you received:**

**Describe the results you expected:**

**Output of `containerd --version`:**

[code]

we can see that, `finishedAt` is `-6795364578871345152`

[2021-01-12 12:24] fuweid commented on #4914
Could you mind to provide more information about containerd or runc? Thanks

[2021-01-12 12:26] fuweid commented on #4910
This issue has been fixed by #4911. Closing it.

[2021-01-12 12:26] #4910 closed

[2021-01-12 12:32] fuweid commented on #4886
@wnotbak I am closing this issue. Please feel free to reopen it if you need. Thanks

[2021-01-12 12:32] #4886 closed

[2021-01-12 12:36] fuweid commented on #4880
@mzzgaopeng The `insecure._skip._verify = true` is for CRI plugin and the `ctr image -k` is for image service plugin in containerd. `ctr image` doesn't touch any configuration about CRI plugin or `/etc/containerd/config.toml` and ctr is debug tooling~.

Hope it can help.

[2021-01-12 12:36] #4880 closed

[2021-01-12 21:15] crosbymichael commented on #4908
cc @dmcgowan

[2021-01-12 23:03] dmcgowan commented on #4908
There seems to be some misbehavior related to the registry. I get the same message that @fuweid is seeing but when curling the endpoints directly I see the connection will get closed during byte transfer. The 200 is returned which will allow containerd to start doing the transfer of the bytes into the content store, however, when the connection closes early that doesn't seem to be throwing a trans

[2021-01-13 00:58] jam01 commented on #2628
Just ran into this. Switched a kubernetes install from docker to containerd and it won't pull secured images from artifactory

[2021-01-13 15:08] wader commented on #4109
Hello, think i have the same or similar issue when i try to compile projects that relay on `/proc/cpuinfo` to detect  CPU features (for example https://github.com/georgmartius/vid.stab/blob/e851e7b11c482c116d22b247821f22862a207245/CMakeModules/FindSSE.cmake#L7).

Im using docker for mac 3.0.4
[code]

How to reproduce:
[code]

For some reason i do not see the `ERRO[0000] failure getting variant err

[2021-01-13 15:44] pothos opened #4935 "containerd-shim compiled with Go 1.15 forwards SIGURG to container"
**Description**
The Go runtime scheduling uses signal 23 (SIGURG) since Go 1.14 (https://go.googlesource.com/proposal/+/master/design/24543-non-cooperative-preemption.md). Because the Go runtime does not know if the process expects external SIGURG signals, the signal is not filtered out but reported to the process (https://github.com/golang/go/issues/37942). The process has to filter this signal o

[2021-01-13 17:20] cpuguy83 commented on #4935
I don't think the shim forwards signals except ones that are received from the API.
I think this is the docker CLI forwarding signals.

[2021-01-13 17:35] pothos commented on #4935
The linked issue https://github.com/kubernetes/kops/issues/10388 is about Kubernetes, not sure which docker CLI it would be in this case even if the CNI plugin is not used.

[2021-01-13 17:38] cpuguy83 commented on #4935
The fact that it is showing up in docker events means a docker client (could be anything, not just docker CLI) is calling the kill API with SIGURG.

In your example, if the CLI is compiled with go1.14+ the go runtime will issue SIGURG and indeed the CLI will forward it along, because that is the default behavior when attached to a container.

[2021-01-13 18:07] cpuguy83 commented on #4935
Opened a PR on the docker CLI for this: https://github.com/docker/cli/pull/2929

We already fixed `ctr` to not forward SIGURG.
I don't think there is any other issue in containerd.

[2021-01-13 19:02] pothos commented on #4935
Thanks for having a look! Yes, I guess that was it and we can close this issue here and hope there won't be any other places left :crossed_fingers:

[2021-01-13 19:43] cpuguy83 commented on #4935
Thanks!

[2021-01-13 19:43] #4935 closed

[2021-01-13 23:52] dims opened #4936 "Add default sysctls to allow ping sockets and privileged ports with no capabilities"
there was a PR in moby/moby for $TITLE. Do we need to do something similar for containerd?

context : https://twitter.com/justincormack/status/1333910249020022787

[2021-01-13 23:57] dims commented on #4936
A note from @samuelkarp

" I think it'd be nice to add to oci.WithDefaultSpec too: https://github.com/containerd/containerd/blob/master/oci/spec_opts.go#L121 "

[2021-01-14 01:15] samuelkarp commented on #4936
Since @dims wants me to write something here :laughing::

https://github.com/moby/moby/pull/41030 is a good guide for the changes that we could make to `oci.WithDefaultSpec`.  This comment from that PR is relevant to containerd as well:

[code]

Like with the moby PR, we should figure out how to only add these sysctls if the container has a private netns.

[2021-01-14 01:20] awprice opened #4937 "Poor parallel image pulling performance when cold"
**Description**

We've noticed that containerd has poor parallel image pull performance when multiple pods are started on a single node, all using the same image and when the image isn't already present on the node.

We compared this performance with Docker for the same pod spec, and received vastly better results.

**Steps to reproduce the issue:**

Using the following pod spec:
[code]

1. Replac

[2021-01-14 12:19] fuweid commented on #4937
Is there any log like this `level=error msg="(*service).Write failed" error="rpc error: code = Unavailable desc = ref default/1/
layer-sha256:14428a6d4bcdba49a64127900a0691fb00a3f329aced25eb77e3b65646638f8d locked: unavailable" expected="sha256:14428a6d4bcdba49a64127900a0691fb00a3f329aced25eb77e3b65646638f8d" ref="laye
r-sha256:14428a6d4bcdba49a64127900a0691fb00a3f329aced25eb77e3b65646638f8d" tota

[2021-01-14 13:12] sanjaymp18 opened #4938 "Unable to pull image from insecure registry, http: server gave HTTP response to HTTPS client"
Using the latest containerd version, trying to add a private insecure docker registry to the containerd config to pull images from it, but its failing with the below error:

[code]

**Steps to reproduce the issue:**
1. Install containerd
[code]

2. config file:

[code]

Running below ctr image pull with --plain-http works

` sudo ctr image pull --plain-http=true vlab048011.dom047600.lab:5000/myjen

[2021-01-14 16:44] bduffany commented on #2831
I'm getting this issue even if I do provide bind opts. But in my case I'm using

[code]

Meanwhile, the `ctr run` equivalent (?) `ctr run --mount src=/tmp/hostdir,dst=/tmp/mounteddir,options=rbind:ro $container_url $container_id` seems to work fine.

[2021-01-14 17:00] bduffany commented on #2831
Hmm, finally figured out that `Options: []string{"rbind:ro"}}` should be `Options: []string{"rbind", "ro"}}` (two separate string args). Not at all obvious!

[2021-01-14 17:01] mikebrow opened #4939 "Need to support CRI v1 and v1alpha2 at the same time"
See https://github.com/cri-o/cri-o/pull/4408

What type of PR is this?

/kind feature

What this PR does / why we need it:

This allows us to support both CRI implementations at the same time by using the internal types to glue the functionality together.

Which issue(s) this PR fixes:

None

Special notes for your reviewer:

None

Does this PR introduce a user-facing change?

Add support for CRI

[2021-01-14 22:30] awprice commented on #4937
@fuweid No, we don't see any logs like that.

[2021-01-15 02:12] fuweid commented on #4939
LGTM!

[2021-01-16 03:52] oldthreefeng commented on #4581
so is there any solution ??    how correctly to change contianerd Cgroup to systemd ?

[2021-01-16 05:36] oldthreefeng commented on #4857
@AkihiroSuda

Is there any General method to check `contianerd` or `cri-o `or `docker` cgroupDriver ?

for docker.
[code]

[2021-01-19 09:15] IBMRob opened #4950 "registry mirroring using auth on incorrect registry"
**Description**

We have configured registry-mirroring to first attempt to pull an image from dockerhub and if its not there pull from our private registry which requires credentials.

We now observe that containerd appears to be using the credentials for dockerhub as well on the initial pull.

**Steps to reproduce the issue:**
1. Update the config.toml to include
[code]
2.
Attempt to start a cont

[2021-01-19 13:01] IBMRob commented on #4950
It looks like it does fall back to the default location but still uses the auth set. Using the following
[code]
Results in `Failed to pull image "docker.io/library/alpine": rpc error: code = Unknown desc = failed to pull and unpack image "docker.io/library/alpine:latest": failed to resolve reference "docker.io/library/alpine:latest": failed to authorize: failed to fetch oauth token: unexpected sta

[2021-01-20 03:08] andyzhangx opened #4954 "similar tool of docker-cleanup"
**What is the problem you're trying to solve**
A clear and concise description of what the problem is.

**Describe the solution you'd like**
A clear and concise description of what you'd like to happen.

When using docker containers, we have a tool to cleanup docker containers running as daemonset on every node: https://hub.docker.com/r/meltwater/docker-cleanup/, do we have a similar tool for clea

[2021-01-20 09:18] IBMRob commented on #4950
After some further work with @mikebrow we have managed to get some interesting debug.

With the following configuration
[code]

what we found what when we make a request to `docker.io/operator/appconnect-operator:1.2.1-20210118-172556-amd64` it will attempt to find it on dockerhub but gets a 401 as expected because our account does not have acces to it but then it also gets a 401 from artifactory

[2021-01-20 15:41] SCLogo commented on #4783
@AkihiroSuda could you please share a working v1 config ? Thanks

[2021-01-20 17:45] oldthreefeng opened #4956 "Why not use a real containerd default config with yum to aviod ERROR: runtime failed: rpc error: code = Unimplemented desc = unknown service runtime.v1alpha2.RuntimeService"
**What is the problem you're trying to solve**
A clear and concise description of what the problem is.

with docker is deprecated 1.22+(kubernetes) . container is most popular cri which people will choose to Use.  the default containerd config by `yum install contianerd.io`  generate is like above .  it will cause the FAQ  like  https://github.com/containerd/containerd/issues/4581 , https://github

[2021-01-20 18:16] cpuguy83 commented on #4956
This is in the docker packaging.
This was originally added to address a security issues with the CRI implementation.
I believe this is fixed now and could be fixed in Docker's packaging.

/cc @tiborvass @thaJeztah

[2021-01-20 21:59] thaJeztah commented on #4956
Ah, yes, looks like that file is coming from here: https://github.com/docker/containerd-packaging/blob/master/common/containerd.toml

Do we actually need to package a default config file? Will containerd start without the file present, or will it refuse to start? (happy to remove it)

[2021-01-20 23:10] cpuguy83 commented on #4956
Yes, containerd will start without a config present.

[2021-01-21 04:10] oldthreefeng commented on #4956
Containerd start without a config and perform well.

[2021-01-21 12:06] IBMRob commented on #4950
I am guessing its in this section (https://github.com/containerd/containerd/blob/master/remotes/docker/resolver.go#L535)
[code]
but it doesn't appear to be logging which of these failures it is.

[2021-01-21 16:20] mikebrow commented on #4950
@dmcgowan fyi...

[2021-01-21 20:52] estesp commented on #4954
containerd already has garbage collection built-in but I'm not sure it is a perfect analog to some of the features I quickly read over in the overview of the "docker-cleanup" tool image linked in your report.

Obviously client tools (`ctr` and `crictl`) have the capability to perform similar operations against containerd (delete images, containers, etc.), but it would be up to the community to cre

[2021-01-21 21:25] thaJeztah commented on #4956
opened https://github.com/docker/containerd-packaging/pull/215 to remove the file from the packages

[2021-01-22 12:45] gaopeiliang opened #4961 "Runc init process step on DISK Sleep Status When Kill Container"
we upgrade docker-ce version to 20:10 from 19.3, And now docker component version:

[code]

when Kubernetes terminal POD , we found container process step into DISK Sleep status ,,,, docker inspect container hang forever ,, kubelet pleg not healthy , kubelet not ready ......

when we ps container process .... we found runc init process also DISK Sleep ....

[code]
runc init process step in "D" sta

[2021-01-22 12:45] gaopeiliang commented on #4961
runc init parent process maybe runc exec xxx yyy 15758 is in sleep status .....

there another process about runc update resource 15801 si in sleep status ......

we strace 15801 .... it is wait cgroup freezer change "FREEZING" to last status ....

[code]

[2021-01-22 12:49] ityuhui opened #4962 "Execute "make generate" failed, the error message is "protobuild: not found""
**Description**
Execute "make generate" failed, the error message is "protobuild: not found"

**Steps to reproduce the issue:**
1. Clone the repo
[code]
2. download and install protoc
[code]
3. Generate protos
[code]

**Describe the results you received:**
[code]

**Describe the results you expected:**
make generate successfully

**Output of `containerd --version`:**

[code]

**Any other relevant

[2021-01-22 13:38] AkihiroSuda commented on #4962
See https://github.com/stevvooe/protobuild

[2021-01-22 13:38] #4962 closed

[2021-01-22 16:22] IBMRob commented on #4950
We have some more information. it looks like it's the association of auth is that failing here. With the following configuration we are able to pull from our artifactory registry even though we have not provided the auth for it at all. We have set the dockerhub password to our artifactory credential

[code]

This shows that its always using the first auth object against all the endpoints. If we re

[2021-01-22 18:12] estesp commented on #4897
Are we still seeing these failures? I haven't seen one (I think?) since #4902 was merged, but I do know we've had a lot of flakes more recently and I may have missed it.

[2021-01-22 18:14] estesp opened #4965 "Flaky: TestSnapshotterSuite/DevMapperUsage"
This seems to be failing more regularly in our main branch CI test runs:
[code]

Haven't had a chance to dig deeper; any ideas? (cc: @mxpv)
Example run: https://github.com/containerd/containerd/pull/4964/checks?check_run_id=1750507042

Related: 2021-02-05 (#5007)
[code]

[2021-01-22 19:30] AkihiroSuda commented on #4897
Probably this has gone, but btw I've been frequently seeing "no space left on device" reported by @fuweid

[2021-01-22 19:30] #4897 closed

[2021-01-22 19:56] #4954 closed

[2021-01-23 00:10] mxpv commented on #4965
I'd honestly get rid of it, don't see too much value in it :)
Space usage depends on devmapper internals and is different across OSes. And we sort of don't care from containerd and snapshotter perspective.

[2021-01-24 05:59] #4535 closed

[2021-01-24 06:13] #4477 closed

[2021-01-25 02:18] fuweid opened #4969 "flaky test: TestRwLoop: no space left on device"
[code]

[2021-01-25 02:19] fuweid commented on #4897
I filed new issue to track the `no space left on device` in #4969

[2021-01-25 10:03] AkihiroSuda commented on #4131
Is this still planned for 1.5?

[2021-01-25 10:04] AkihiroSuda commented on #3031
Completed in https://github.com/containerd/containerd/pull/4760

[2021-01-25 10:04] #3031 closed

[2021-01-25 13:43] AkihiroSuda commented on #4378
runc is included in https://github.com/containerd/containerd/releases/download/v1.4.3/cri-containerd-cni-1.4.3-linux-amd64.tar.gz

[2021-01-25 13:43] #4378 closed

[2021-01-25 13:45] AkihiroSuda commented on #4182
This seems fixed. Closing.

[2021-01-25 13:45] #4182 closed

[2021-01-25 16:01] mxpv commented on #4131
For 1.6

[2021-01-26 16:22] amrmahdi commented on #2858
@Random-Liu @steven-sheehy Is there a way to also filter out the pause image? I'm trying to replace `docker prune` by `crictl`, so far I was able to not remove init containers and running containers as mentioned by @steven-sheehy, but I would like also not to cleanup the image used by the container runtime as the pause image. Note that I'd like to have this solution work for `docker` and `containe

[2021-01-26 21:12] kzys commented on #4884
We could scan PATH and list possible runtime shims.

[2021-01-27 09:04] xiaoding945 commented on #3882
you can try unuse -u selection . at leaset,i successed

[2021-01-27 12:41] c-goes commented on #4800
Hi fuweid, thanks for the response. I didn't configure anything special. It's just a normal Ubuntu 20.04 VM. I just downloaded containerd for linux amd64 from GitHub and copied the files to /usr/local/bin.

[2021-01-27 21:16] jayunit100 opened #4976 "ctr.exe tasks list missing some pods ?"
**Description**

Many containers are running, on a windows host, but i cant see them in `ctr tasks list` or `ctr containers list`...

## sanity check ...
[code]
Example of the running processes...
[code]

And these are the pods, we can confirm that theyre definetly the same host:
[code]

## problem

[code]

**Steps to reproduce the issue:**

1. run a windows cluster
2. run `ctr tasks list`

[code]

[2021-01-27 21:20] cpuguy83 commented on #4976
`ctr --namespace=k8s.io tasks list`

[2021-01-27 21:21] jayunit100 commented on #4976
ahhhhhh

[2021-01-27 21:23] jayunit100 commented on #4976
ctr --namespace=k8s.io tasks list...  i guess theres  no `default` namespace concept. ?   maybe we should make `ctr` fail *without* a namespace ? or require a `--all` parameter in the future @cpuguy83  ?

[2021-01-27 22:10] cpuguy83 commented on #4976
The default for `ctr` is the `default` namespace.
You can set the env var `$CONTAINERD_NAMESPACE` to change this.

[2021-01-28 01:45] daschott commented on #4851
@ruicao93 If you are asking if it's possible to move the "add endpoint" call to after the container was created, that will unfortunately break the flow :( (I may be misunderstanding something here though)

Would it be possible to start a separate routine in antrea agent or a component separate from CNI that monitors vNIC creation and does the proper setup as appropriate?

[2021-01-28 01:57] jayunit100 commented on #4851
User Story:
[code]
one idea, (probably a bad one, but just a thought... )
[code]

[2021-01-28 02:42] ruicao93 commented on #4851
@daschott , I add `User story` section in issue description without may tech details to make it easy understand.

@daschott , currently we use the "monitor" way asynchronously as you said as workaround. But it break the workflow of CNI.
Antrea would reply CNI reply when network is actuall not ready(vNic is not added to OVS bridge).

[2021-01-28 04:52] #4976 closed

[2021-01-28 06:50] lining2020x commented on #4938
It should be `vlab048011.dom047600.lab:5000` here.

TLS can't work with HTTP. So tls settings should be removed here.

[2021-01-28 06:58] sanjaymp18 commented on #4938
Thanks for your reply @lining2020x, even after making the above changes to remove the `plugins."io.containerd.grpc.v1.cri".registry.configs` section, the issue still remains.

sudo crictl -r unix:///var/run/containerd/containerd.sock pull vlab048011.dom047600.lab:5000/myjenkins:latest
FATA[0000] pulling image failed: rpc error: code = Unknown desc = failed to pull and unpack image "vlab048011.dom0

[2021-01-28 07:00] lining2020x commented on #4938
@sanjaymp18 Do you change this line `[plugin."io.containerd.grpc.v1.cri".registry.mirrors."vlab048011.dom047600.lab"]` to `[plugin."io.containerd.grpc.v1.cri".registry.mirrors."vlab048011.dom047600.lab:5000"]` ?

[2021-01-28 07:03] sanjaymp18 commented on #4938
yup i did !

[code]

[2021-01-28 07:14] lining2020x commented on #4938
@sanjaymp18 Did you restart containerd `systemctl restart containerd` ?  Your config about private registry mirror seems to be fine.

[2021-01-28 07:19] sanjaymp18 commented on #4938
Yes @lining2020x , I did after every change made to config. It still tries to connect to the registry with HTTPS.
Is there any other place I need to point it as the insecure registry ?

[2021-01-28 07:24] lining2020x commented on #4938
@sanjaymp18 There is a typo here. `[plugin."io.containerd.grpc.v1.cri".registry.mirrors."vlab048011.dom047600.lab"]` It should be `plugins`. I don't think there's a problem with the configuration .

[2021-01-28 07:29] sanjaymp18 commented on #4938
@lining2020x, my bad, urggghhh, Thanks a lot for pointing that !! It finally worked !!!!

[2021-01-28 07:29] #4938 closed

[2021-01-28 07:38] lining2020x commented on #4873
@lvbo1115  Could you paste your `/etc/containerd/config.toml`.

Maybe something wrong in your config about the private registry mirror.

[2021-01-28 07:50] lining2020x commented on #4876
It would help to read the documentation first. https://github.com/containerd/containerd/blob/master/docs/cri/registry.md

[2021-01-28 15:37] fuweid commented on #4876
ctr doesn't read any config from /etc/containerd/config.toml.

[2021-01-28 15:37] #4876 closed

[2021-01-28 22:37] jayunit100 commented on #4856
The concrete user story here is - being able to run antrea agents, so that they can tell `wins` to do stuff for us on the host  . i.e., use antrea-agents as pods :)

[2021-01-28 23:17] kevpar commented on #4856
If this was achieved in Docker by just adding the pod to a NAT network on the host, perhaps this could be done via a wincni NAT with appropriate configuration. Have you tried this out at all to see if it would serve your needs?

FYI: @keith-mange, @daschott, @JocelynBerrendonner

[2021-01-29 00:09] jayunit100 commented on #4851
possible workaround , enable a `cni check` call , underused API call, but might be a nice daemon to run in the background that could, and then have the CRI report , somehow that a container is unhealthy, so the kubelet would ecentually reschedule the pod

[2021-01-29 01:42] cpuguy83 commented on #4904
#4978 should fix this

[2021-01-29 03:20] jayunit100 opened #4979 "docs for ETWs and windows"
**What is the problem you're trying to solve**
@kevpar  gave us this in slack the other day, its probably worth formalizing in docs somewhere
[code]
wpr -start containerd.wprp
<do something involving containerd>
wpr -stop trace.etl
[code]
**Describe the solution you'd like**
a way to get this info into the containerd docs or  README or, some other community maintained place , as its very useful

[2021-01-29 03:20] jayunit100 commented on #4979
@jsturtevant

[2021-01-29 11:38] ruicao93 commented on #4856
@kevpar , I see the doc said that the "hostnetwork mode container" will run as a job on Windows. So I think it should be easy to share the hostnetwork for "hostnetwork mode cotainer", right? Just by skiping the CNI call for "hostnetwork container"

[2021-01-29 19:39] kzys commented on #4969
@mxpv As you might remember, firecracker-containerd has `losetup -D` to avoid this issue, but that is because we are using the same EC2 instance for multiple test runs. GitHub Actions should give containerd a fresh VM...

[2021-01-29 19:41] kzys commented on #4965
Shouldn't it be consistent assuming dmsetup, the distro and the kernel don't change much in GitHub Actions' VMs?

[2021-01-31 03:21] jayunit100 commented on #4976
okidoki, thanks ! agree we can close this

[2021-01-31 04:15] fuweid commented on #4969
I add 1.5 release milestone on this because it might be issue for devmapper plugin.

[2021-01-31 18:07] shayfisher commented on #2628
@neelashah Artifactory's API-KEY will be the same as long as you don't rotate it while the encrypted password would change if the user's password (plain) would change.
If for instance you use ldap as the security realm for Artifactory and the user's password was changed in LDAP, the encrypted password in Artifactory would change whereas the api key wouldn't.
It seema that it is better to use the a

[2021-02-01 06:29] povsister opened #4982 "Incompatible OAuth behavior with Docker's registry implementation"
**Description**
I am running a private Docker registry from https://github.com/docker/distribution
And I have the registry setup with a simple token authorizer on its own.

Docker daemon works fine, but containerd fails with the following error:
[code]

**Steps to reproduce the issue:**
1. Setup the Docker registry with the following key configuration
[code]
2. Run `docker login localhost:5000`, y

[2021-02-01 09:59] AkihiroSuda commented on #759
Moved to milestone 1.6

[2021-02-01 11:49] fuweid commented on #4984
The cri functionality is in containerd core repo. So move it back...

[2021-02-02 04:10] fuweid commented on #4905
close by #4906

[2021-02-02 04:10] #4905 closed

[2021-02-02 04:32] povsister commented on #4982
It's also confirmed that Harbor's registry respond 403 when OAuth POST request is not supported. It needs the client to fallback to GET request, too.
See  https://github.com/containerd/containerd/pull/3913

[2021-02-02 18:03] jeremyje opened #4989 "Containerd Image Pull Performance is Worse Than Docker"
**Description**
The image pull pull performance on Windows is significantly worse for containerd compared to dockerd. There's a few issues at play here:

1. Windows Defender CPU overhead.
1. Seems like containerd is missing some pull optimizations that docker has.
1. This is mostly observed in the extraction phase of the image pull.

Perf graphs coming soon.

**Steps to reproduce the issue:**
1. c

[2021-02-02 18:26] ibabou commented on #4989
Tests on GCE:

Here are the results from the initial test I did manually on ltsc2019 based VM, with containerd 1.4.3 installed:

The unpacking was consuming most of the time (even when unpigz is enabled, and so the unpacking is offloaded)

ctr image pull mcr.microsoft.com/windows/servercore:1809
Start: December 15, 2020 12:00:24 AM
Download completed: December 15, 2020 12:01:38 AM
Unpacking (unpig

[2021-02-02 18:39] ibabou commented on #4989
Here is the script I used for installing containerd:
[code]

[2021-02-02 23:02] kzys commented on #4969
(Copied from https://github.com/containerd/containerd/pull/4990#issuecomment-772069744)

https://github.com/containerd/containerd/blob/f07e1811ef1ae2d6c0fda7dd47537746381ba46d/mount/losetup_linux.go#L131-L145

This function's autoclear handling looks suspicious. The comment says that the caller should close the file handle, but it returns the file path. So all of the associated file handles would

[2021-02-03 09:34] gaopeiliang commented on #4961
https://github.com/opencontainers/runc/pull/2774

[2021-02-03 09:34] #4961 closed

[2021-02-03 15:06] felipecrs commented on #4837
I know this fix was implemented already, but it would be good if we could have a `patch` release for `containerd` 1.4 in case 1.5 isn't going to be released soon.

This is breaking all Docker in Docker use cases with Docker v20.01, which is especially used for CI/CD.

[2021-02-03 16:56] mikebrow commented on #4950
For the normal path the auth is passed in by kubernetes (kubelet) from secrets.

When auth is not present in the pullimage request we fall back to the matching config :
c.config.Registry.Configs[u.Host] (https://github.com/containerd/containerd/blob/master/pkg/cri/server/image_pull.go#L332)

where u.Host is the host name of the endpoint in your endpoint list.

I don't see any code that could be tr

[2021-02-03 21:35] jmcmeek commented on #4837
@felipecrs I believe you can work around this by creating a LimitRange with a **default** resource request.  That moves the pods from BestEffort to Burstable QoS and changes the oom_score_adj.  Don't set a **minimum** resource request; that can result in pods failing if their resource request isn't big enough.  That might keep you going till you get the containerd fix.

[2021-02-03 23:11] felipecrs commented on #4837
@jmcmeek

Thanks so much for the tip! In fact I downgraded Docker in the container to v19.03 for now to work around it, and I believe I'll be fine until the containerd release.

The only caveat is that I can't upgrade my Dockerfiles to use some enhancements from Docker 20.01.

[2021-02-03 23:16] felipecrs commented on #4837
Btw, my concern is that I won't be able to set this in the Jenkins Kubernetes Plugin UI configuration, it's very limited. I'll take a look, though.

[2021-02-04 00:13] nicoche commented on #4720
Hi @crosbymichael !
I pushed a little something. It should solve the initial problem although the implementation is a bit hacky for now. If you have time, it would really help if you could give me a few indications. Details are in #4995
Thanks!

[2021-02-04 06:26] system51 opened #4997 "The CTR import mirror crictl cannot be viewed"
1、ctr i import image is no longer viewable in crictl
2、Why not support deleting all closed containers such as `docker container prune -f`

[2021-02-04 06:49] jianzi123 opened #4998 "new g is not Gdead"
**Description**

**Steps to reproduce the issue:**
1.
2.
3.

**Describe the results you received:**

**Describe the results you expected:**

**Output of `containerd --version`:**

[code]

**Any other relevant information:**

[2021-02-04 07:21] fuweid commented on #4997
ctr -n k8s.o i import

In containerd, you need to remove the containers manually. containerd provides API for developer to handle `prune` so that you can add `prune` command by yourself. Basically, with kubelet, the stopped containers will be deleted after terminating pod.

[2021-02-04 07:21] fuweid commented on #4998
Sorry. Please provide more information, thanks. Feel free to reopen it.

[2021-02-04 07:21] #4998 closed

[2021-02-04 16:51] DavidBreuer commented on #4295
Hi @luckyl3, can you provide a link or explanation how you solved the GitLab problem? Thanks and best!

[2021-02-04 19:37] kevpar commented on #4915
I spent some time last night looking into this. There is an issue with how HCS is resolving the path that causes this to break when mapping a file that has a symlink in the path. We should be able to fix this by resolving the path before we pass it to HCS.

[2021-02-04 23:00] #4969 closed

[2021-02-05 12:32] fidencio opened #5006 "Allow shim v2 binary to also be loaded from an arbitrary path"
**What is the problem you're trying to solve**
When CRI-O* tries to start a container using shim v2, it may simply fail if the runtime specified is not part of the PATH (even if the full binary path is specified).

*: Yes, CRI-O, as CRI-O vendors this code. :-)

**Describe the solution you'd like**
I'd like to see the full binary path taken into consideration.

**Additional context**
Please, take

[2021-02-05 12:37] fidencio commented on #5006
Ouch, I just realised I've opened a feature request rather than a bug, and I don't think I have the rights to correct the label.

[2021-02-05 12:48] verb opened #5008 "Support for TARGET NamespaceMode in CRI implementation"
**What is the problem you're trying to solve**
I'm investigating https://github.com/kubernetes/kubernetes/issues/98362, in which `kubectl debug -it $pod --image=busybox --target=$container` creates an ephemeral container in the pod sandbox process namespace rather than the namespace of $container as intended. After a search of the containerd repo I suspect this might be because containerd doesn't

[2021-02-05 18:15] kevpar commented on #4915
Didn't mean for this to close. It is fixed in the shim now, but containerd needs to update vendoring.

[2021-02-05 22:38] mikebrow opened #5013 "time to move up the version of pause we use"
**What is the problem you're trying to solve**
When https://github.com/kubernetes/kubernetes/pull/98205 is merged we will need to move our pause image up to pause v3.4.1.

Example commit: https://github.com/containerd/containerd/commit/c9ed98462d9bfae7de19de257a523db1185d2619

[2021-02-06 09:04] Iceber commented on #5013
/assign

[2021-02-06 09:14] Iceber commented on #5013
/assign

[2021-02-06 11:52] Vanient opened #5015 "shim process residual when kill containerd during container start"
**Description**
sometimes shim process residual when kill containerd during container start.

**Steps to reproduce the issue:**
1. docker run -itd ubuntu bash
2. kill -15 $(pidof containerd)

**Describe the results you received:**
a shim process residual, container's status is Created. If you start container again, there will be two shim process belong to this container. (Of course only one works)

[2021-02-07 01:29] system51 commented on #4997
@fuweid
But it wasn't deleted

[code]

[2021-02-07 04:58] TBBle commented on #4928
Similarly to #4392, logs shouldn't be being written to the directory with containerd.exe or the CNI binaries either, as that defaults to `%PROGRAMFILES%\containerd` and [`%PROGRAMFILES%\containerd\cni\bin`](https://github.com/containerd/containerd/blob/cfa842c278694860a7e32917066f4a24978f80d0/pkg/cri/config/config_windows.go#L33) respectively.

I'd suggest the logs be written next to the _config f

[2021-02-07 05:32] fuweid commented on #4997
@system51 The garbage collector of exited containers is up to kubelet. And `flexvol-driver`, `install-cni` and `upgrade-ipam ` looks like init-containers. I think it is fine. If you are worry about this, please check the kubelet manual. Thanks

[2021-02-08 09:39] wzshiming opened #5020 "Repeated sending signal"
**Description**

xref https://github.com/kubernetes/kubernetes/pull/98507

**Steps to reproduce the issue:**
1.
2.
3.

**Describe the results you received:**

**Describe the results you expected:**

**Output of `containerd --version`:**

[code]

**Any other relevant information:**

[2021-02-08 12:56] jeromegn opened #5022 "failed to mount, input/output error: unknown"
**Description**

Sometimes, unpacking an image with the devmapper snapshotter will result in a "failed to mount" "input/output error: unknown"

**Steps to reproduce the issue:**

I can only reproduce reliably on specific servers, with a specific image (or layers, unclear). It works on different servers.

1. Setup devmapper with a LV thin pool
2. `ctr --debug i pull --snapshotter=devmapper <image>`

[2021-02-08 13:48] jeromegn commented on #5022
Looks like our LV was full.

I vaguely remember this happening on a server where the LV's data was not full. I'll close this for now and revive if it re-occurs on a non-full LV!

[2021-02-08 13:48] #5022 closed

[2021-02-08 16:55] puneethpk commented on #4826
Any Updates on this ?

[2021-02-08 22:32] yadzhang opened #5023 "env lost when call createcontainers for different pod with the same image for a high concurrency"
Env lost when call createcontainers for different pod with the same image by high concurrency

**Description**

**Steps to reproduce the issue:**
1. Create mutiple pods with the same image but different envs in container spec on the one node at the same time for high concurrency
2. (Maybe it is hard to reproduce, but if the scale of the cluster is too big, the probability of appearance is consider

[2021-02-10 03:57] fuweid commented on #4997
close this issue because it is about how to configure kubelet gc.

[2021-02-10 03:57] #4997 closed

[2021-02-10 15:01] choury opened #5029 ""procMount=unmasked" of pod doesn't work now"
As I said in containerd/cri#1208, containerd will get `nil` of readonlyPath from gRPC if "procMount=unmasked" set.
But containerd/cri#1570 make it do nothing, we should revert it.

[2021-02-10 15:12] nemethk commented on #1990
Check:
`cat /usr/lib/systemd/system/rke2-server.service`

[code]

Under 'service' there is
`EnvironmentFile=-/usr/lib/systemd/system/rke2-server.env`

Create this file
`/usr/lib/systemd/system/rke2-server.env`

with following content:
[code]

[2021-02-10 20:38] mikebrow commented on #5029
ok.. Missed the to empty part in @Random-Liu's comment https://github.com/containerd/cri/issues/1208#issuecomment-515588207: For Kubernetes 1.12 or later, empty MaskedPaths and ReadonlyPaths mean Kubelet wants to set masked path and readonly path **empty**

added emphasis for the to empty part

Agree to revert.

[2021-02-10 20:45] mikebrow commented on #5029
@thaJeztah @yoheiueda @dmcgowan

[2021-02-10 20:58] mikebrow commented on #5029
I can only discern from the discussion that there is not supposed to be support at the container runtime level for using defaultSpec.Linux.MaskedPaths, defaultSpec.Linux.ReadonlyPaths, ... As unintuitive as it seems nil, in this case, is to mean overwrite the default OCI spec at the CRI level. So there is no means for requesting default.

[2021-02-10 21:20] mikebrow commented on #5029
I can only discern from the discussion that there is not supposed to be support at the container runtime level for using defaultSpec.Linux.MaskedPaths, defaultSpec.Linux.ReadonlyPaths, ... As counter-intuitive as it seems (given the usual pattern) nil fields for masks in the security context received from kubelet over CRI, in this case, is viewed as meaning overwrite the defaultSpec at the CRI lev

[2021-02-10 21:29] mikebrow commented on #5029
I can only discern from the discussion that there is not supposed to be support at the container runtime level for using defaultSpec.Linux.MaskedPaths, defaultSpec.Linux.ReadonlyPaths, ... As counter-intuitive as it seems (given the usual pattern) nil fields for masks in the security context received from kubelet over CRI, in this case, is viewed as meaning overwrite the defaultSpec at the CRI lev

[2021-02-10 21:32] mikebrow commented on #5029
ideas?  a new flag to reject disabling the default masked and readonly paths?

[2021-02-10 22:33] thaJeztah commented on #5029
Reading from my phone, but (in tbe docker api) IIRC, "nil" / unset meant "use defaults" and empty slice `[]` could be used to explicitly disable the default masked/read only paths; was that your question?

[2021-02-11 22:19] chrisfregly opened #5032 "TestRuntimeHandler logging empty string in CRI Integration tests"
**Description**

The CRI Integration Test logs for the `TestRuntimeHandler` test are logging empty strings.

**Steps to reproduce the issue:**
1. Run the TestRuntimeHandler apart of the CRI integration tests
2. Check the output logs

**Describe the results you received:**
[code]

**Describe the results you expected:**
[code]

**Output of `containerd --version`:**

[code]

**Any other relevant info

[2021-02-11 22:23] mikebrow commented on #5032
Thanks for the chat @chrisfregly looking forward to your PR

[2021-02-12 02:02] yoheiueda commented on #5029
I have no objection to restore the original behavior.

I think, for the CRI plugin, the default masked/readonly paths should be set to empty slice to meet the meaning of "nil". It is nice to have an option to set masked/readonly paths to the ones defined in  [containerd/oci/spec.go](https://github.com/containerd/cri/blob/68b61297b59e38c1088db10fbd19807a4ffbad87/vendor/github.com/containerd/contain

[2021-02-12 03:49] centromere commented on #4203
@predakanga There are two `systemd_cgroup` values defined:

1. https://github.com/containerd/cri/blob/c8dba73eaefb1b9e91df0cb5f23dc3b275d85827/pkg/config/config.go#L213
2. https://github.com/containerd/containerd/blob/269548fa27e0089a8b8278fc4fc781d7f65a939b/runtime/v2/runc/options/oci.pb.go#L45

The `systemd_cgroup` value in `#1` is in the `[plugins."io.containerd.grpc.v1.cri"]` section. The valu

[2021-02-12 05:15] yoheiueda commented on #5029
If it is OK,  I will submit an PR to fix this issue.

https://github.com/yoheiueda/containerd/commit/537117b2868babeff07d33d6a200dd6dc3e1bd1a

[2021-02-12 10:28] Martin-Weiss opened #5047 "How to configure a "registry mirror" to point to a namspace of my private registry?"
I am struggling on how to configure the registry mirror properly and maybe someone here might be able to help?

I have the external image

"external-registry.example.com/namespace1/image:v1"

copied to

"internal-registry.internal.local:5000/external-registry.example.com/namespace1/image:v1".

How to I have to configure the config.toml properly for this mapping so that a
"pull external-registry.ex

[2021-02-15 10:01] halacs commented on #4876
I have kind of the same issue but with Talos instead of centos.

Based on the [documentation ](https://github.com/containerd/containerd/blob/master/docs/cri/registry.md) linked by @lining2020x, below config should be fine, however, I have the same error as the issue owner: x509: certificate signed by unknown authority

Can you please check my config? I found a related [git issue](https://github.co

[2021-02-15 23:17] chrisfregly opened #5038 "Add integration test(s) for multiple runtimes"
**What is the problem you're trying to solve**
Currently the integration tests only contain a [test](https://github.com/containerd/containerd/blob/master/integration/runtime_handler_test.go) for one runtime at a time. Also note that the `runtime-handler` [flag](https://github.com/containerd/containerd/blob/master/integration/main_test.go) is set to empty so as of now only the default runtime set i

[2021-02-16 15:22] adelina-t opened #5039 "Expand testing for Windows"
**Problem Definition**

Given the [deprecation](https://kubernetes.io/blog/2020/12/02/dockershim-faq/) of dockershim in Kubernetes  and the continuous work in supporting Kubernetes for Windows ( with containerd ), there is a clear need to improve coverage in validation for containerd on Windows.

 There are a number of areas that need attention both in terms of infrastructure & test coverage:

 1.

[2021-02-16 19:13] mikebrow commented on #5039
See also: https://github.com/kubernetes-sigs/cri-tools/pull/720/checks?check_run_id=1820483421 ... get that up and we should be able to add cri-integration for windows to the CI matrix here in container/containerd

[2021-02-17 09:58] qiutongs commented on #4813
/assign

[2021-02-17 12:18] jeromegn opened #5041 "Endless CNI config reload loop"
**Description**

We noticed our containerd wasn't responding anymore and looking at logs, we saw this:

[code]

We're not using CNI at all with containerd. We're only using it for managing Docker images and snapshots.

**Steps to reproduce the issue:**

I don't know how it got into that state.

**Describe the results you received:**

(mentioned in the description)

**Describe the results you expec

[2021-02-17 13:00] fuweid commented on #5041
@jeromegn could you mind to show the result of `containerd config dump` ? thanks

[2021-02-17 13:04] jeromegn commented on #5041
[code]

[2021-02-17 13:11] fuweid commented on #5041
@jeromegn It seems that it is related to this one https://github.com/containerd/containerd/issues/4852, when containerd receives SIGTERM signal. I don't think it is root cause. Is there more log about containerd?

[2021-02-17 13:16] jeromegn commented on #5041
@fuweid you're right! I missed the "good" logs after the 1.4 million logs (not kidding) containerd spewed after I tried restarting it (via a SIGTERM).

What made our containerd stuck was `"failed to deactivate device"` errors.

The config dump made me realize there's a `async_remove` option which would help us a lot. We're already detecting lingering VMs that use these devices and make it impossib

[2021-02-17 13:16] #5041 closed

[2021-02-17 13:18] fuweid commented on #5041
@jeromegn OK. We will fix the annoying log issue ASAP! Thanks for the reporting!

[2021-02-17 14:28] mikebrow commented on #4813
In case it helps your evaluation... Note: https://github.com/containerd/cri/pull/1027

[2021-02-17 18:44] dims commented on #4936
cc @adisky

[2021-02-17 20:36] jeremyje commented on #4989
We are also observing that containerd image extraction sizes are larger than docker's.

[2021-02-17 21:26] shysank opened #5042 "CRI plugin not picking up default runtime in v1 config"
**Description**

We are trying to use nvidia runtime instead of runc to enable gpu workloads. NVIDIA has it's own gpu operator which updates containerd `v1` config with nvidia's container runtime. But, containerd does not pick up the new runtime and defaults to runc which causes gpu workloads to fail.

When `default_runtime_name` was updated, it started working. But, since this was introduced only

[2021-02-17 22:00] dims commented on #5042
cc @mikebrow

[2021-02-18 04:13] qiutongs opened #5046 "ctr --device flag should support map host path to container path"
**What is the problem you're trying to solve**
Current ctr tool has --device flag to add host device to container, like `ctr run --device=/dev/sda1`. But it cannot map the host path to container path, like `ctr run --device=/dev/sda1:/dev/xyz`.

Ref: https://github.com/containerd/containerd/issues/3066

**Describe the solution you'd like**
`ctr run --device=/dev/sda1:/dev/xyz` will map the path /d

[2021-02-18 04:51] #5047 closed

[2021-02-18 04:52] #5049 closed

[2021-02-18 12:10] adisky commented on #5042
backward compatibility for default_runtime handled here.
https://github.com/containerd/containerd/blob/746cef0bc2afe8b8c4592fec3df966138bdcedff/pkg/cri/config/config.go#L313-L314

I tried updating container runtime in my local environment using old option `default_runtime` and containerd picks up. (I had not installed nvdia container runtime, just checking if containerd picks it or not). Not sure

[2021-02-18 15:22] #5032 closed

[2021-02-18 17:06] shysank commented on #5042
@adisky Thanks for testing it out. I noticed you're using `plugins."io.containerd.grpc.v1.cri".containerd.default_runtime` in place of `plugins.cri.containerd.default_runtime`. Do you think this will automatically be interpreted as `v2` spec eventhough the version field is not specified?

[2021-02-18 17:51] #5023 closed

[2021-02-18 19:28] qiutongs opened #5053 "Make device mapping work even if PrivilegedWithoutHostDevices is false"
In today's containerd cri, in the case of privileged container, cri adds all host devices and ignore the device mapping when [PrivilegedWithoutHostDevices](https://github.com/containerd/containerd/blob/master/docs/cri/config.md.) is false(default value). Otherwise, cri only adds configured device mapping.

https://github.com/containerd/containerd/blob/b3f2402062e9ea23cd8f7994982ffa77c4440e26/pkg/c

[2021-02-18 21:00] mikebrow commented on #5053
Interesting that we've never had a request to add mapped devices for privileged since the beginning. I suppose no one has complained because privileged just isn't used often in the CRI context.  Would you like to push a PR for this?

[2021-02-18 23:40] qiutongs commented on #5053
As containerd becomes the default runtime, we may see this issue more often. k8s customer will expect to see the mapped device even in privileged mode, because the pod doesn't even know about the device path on host .

Yes, I am happy to make a PR for this.

[2021-02-18 23:40] qiutongs commented on #5053
/assign

[2021-02-19 07:41] qiutongs commented on #5053
@mikebrow what does priority P1 indicate? Is it something we should do our best to release in next version?

[2021-02-19 09:46] adisky commented on #5042
not sure i guess this difference is because i was using containerd from master branch and now cri repo merged in it.
can you paste full configuration file somewhere?

[2021-02-19 11:13] edwardzjl commented on #4857
try
[code]

[2021-02-19 17:17] shysank commented on #5042
The configuration in the issue description is the full configuration that gets applied.

[2021-02-19 17:46] chrisfregly commented on #5038
@mikebrow could you assign this ticket to me? Thanks

[2021-02-20 02:14] fuweid commented on #5038
done

[2021-02-20 03:07] edwardzjl commented on #4900
I meet the same problem and ``` systemd-cgls ```  saved the day.

Its confusing that ``` crictl info ``` shows "systemdCgroup": false, is it a bug?

[2021-02-20 20:03] jimdigriz commented on #4886
`runc` (when running a container) is a needlessly a problem too and [unfortunately is not a new problem](https://github.com/docker/for-linux/issues/382) for Docker in general.

This shows up clearly when you inspect your system using [`powertop`](https://01.org/powertop/) and is the result of polling or with (typically static) short timeouts (on syscalls like `{poll/epoll_*/select}()`) only to che

[2021-02-22 06:15] AkihiroSuda opened #5060 "[kernel 5.11 + overlayfs + rootless] : apt-get fails with `Invalid cross-device link`"
**NOTE** : This issue is same as https://github.com/moby/moby/issues/42055 but not a "dupe" of the Moby issue, because Moby (still) does not use containerd's overlayfs snapshotter

**Description**

Kernel 5.11 added official support for rootless: https://github.com/torvalds/linux/commit/459c7c565ac36ba09ffbf24231147f408fde4203

But it does not work with rootless containerd yet.

**Steps to reprodu

[2021-02-22 07:52] NoviceZeng commented on #4141
hello I have the same issue when pull image from harbor use http. Even I configured insecure_skip_verify = true. containerd is 1.4.3.
some one can help?  thanks
![image](https://user-images.githubusercontent.com/33800153/108678322-ea4bad80-7525-11eb-953d-dcceaee91047.png)

[2021-02-22 15:41] mikebrow commented on #5029
Missed this... yes pls submit.

[2021-02-22 15:45] #5020 closed

[2021-02-22 18:00] mikebrow commented on #5053
Yes. Just labeling this as important for the next release.

[2021-02-22 18:57] mikebrow commented on #4141
the .cri config is only for CRI enabled clients .. CTR is not a CRI enabled client.  You should be able to use kubectl,  crictl, or other CRI enabled clients.  We may address this issue in upcoming releases. Cheers.

[2021-02-23 05:35] tejasrao97 commented on #4826
Hi @mikebrow @fuweid,
Can you please let us know if this issue would be fixed in the upcoming release of contianerd.

[2021-02-23 06:21] fuweid commented on #4826
I am not sure that I have time to work on this issue. Just mark it in 1.5 milestone and add help-issue label. :)

[2021-02-23 15:11] devfaz opened #5065 "mirror and tls configuration are mutually exclusive"
Hi,

just tried to configure a private registry with self-signed certs.

Im using containerd 1.5.beta.1

My config:

[plugins."io.containerd.grpc.v1.cri".registry.configs."private.fqdn.local:8443".tls]
insecure_skip_verify = true
[plugins."io.containerd.grpc.v1.cri".registry.mirrors."private.fqdn.local:8443"]
endpoint = ["https://some.other.private.fqdn.local"]

this will not redirect pull request

[2021-02-23 16:49] mikebrow commented on #5065
wip here: https://github.com/containerd/containerd/pull/4978

[2021-02-23 19:47] kevpar opened #5067 "CRI: Windows images created with "shell form" CMD in Dockerfile are broken"
# tl;dr

When Docker creates a Windows image with "shell form" `CMD`/`ENTRYPOINT` in the Dockerfile, the args in the image config are formatted differently than CRI expects. This breaks running the image with CRI since the process args in the generated OCI runtime spec are incorrect. Docker works around this by using a non-standard image config field `ArgsEscaped` to indicate that different handli

[2021-02-24 08:13] yoheiueda commented on #5029
@mikebrow  I created PR #5070.

[2021-02-24 08:21] Jonas-Heinrich opened #5072 "Get `diff` directory path in core"
I am new to the `containerd` project and therefore unfamiliar with the code base. Nevertheless, I am working on a custom modification of the checkpoint procedure.

My Question: What is the correct way to get the `diff` directory path (used by the overlay2 storage driver) for the given process [here](https://github.com/containerd/containerd/blob/757be0a0903a4ceb3280fc37b011818bb5937986/pkg/process/

[2021-02-24 08:36] AkihiroSuda opened #5075 "Support idmapped mounts (kernel 5.12)"
**What is the problem you're trying to solve**
Remove the chown overhead of UserNS-remap mode.
https://github.com/containerd/containerd/blob/v1.5.0-beta.1/container_opts_unix.go#L34-L38

**Describe the solution you'd like**
Use idmapped mounts that was recently merged in the kernel 5.12 tree https://github.com/torvalds/linux/commit/7d6beb71da3cc033649d641e1e608713b8220290

[2021-02-24 10:09] AkihiroSuda opened #5077 "CI is failing: "ls: cannot access '/etc/cni/net.d': Permission denied""
**Description**

GitHub Actions is broken.
The `cri-tools critest` step is failing with `ls: cannot access '/etc/cni/net.d': Permission denied`.

**Steps to reproduce the issue:**
Trigger CI

**Describe the results you received:**
https://github.com/containerd/containerd/pull/5069/checks?check_run_id=1968274994

![image](https://user-images.githubusercontent.com/9248427/108984758-a26a8900-76d3-11e

[2021-02-24 13:40] halacs opened #5079 "insecure_skip_verify does not working in containerd v1.4.3"
I am a Talos v0.8.0 user. Talos is a container oriented system based on containerd v1.4.3.

Based on the [documentation ](https://github.com/containerd/containerd/blob/master/docs/cri/registry.md), my below config should be fine, however, my kubernetes cannot download container images from repository defined as insecure error: `x509: certificate signed by unknown authority`

Can you please check m

[2021-02-24 14:01] #5077 closed

[2021-02-24 14:25] AkihiroSuda commented on #5075
This is being experimented in https://github.com/containerd/containerd/pull/4734 by @mauriciovasquezbernal

[2021-02-24 22:30] OllieGitHub opened #5081 "[Yocto] containerd, containerd-stress, and ctr not building for linux"
**Description**
The containerd, containerd-stress, and ctr binaries are missing / not build for linux when building with Yocto
The containerd, containerd-stress, and ctr targets always return with "nothing to do" when explicitly added to recipe
The issue can be "fixed" by reverting https://github.com/containerd/containerd/commit/3db1c3b8f406edf9e59714d0c65c2fdb37a18d65

**Steps to reproduce the is

[2021-02-25 02:41] fuweid commented on #5077
just wonder why the issue show up suddenly. We didn't pin the version of critest?

[2021-02-25 02:44] estesp commented on #5077
I think @AkihiroSuda is saying there was a change in the host virtual env; it definitely changes underneath us over time as GitHub makes changes/updates packages, etc.

[2021-02-25 03:52] AkihiroSuda commented on #5081
The yocto package is not maintained in this repo. Please report to the maintainers of the yocto package.

[2021-02-25 03:52] #5081 closed

[2021-02-25 05:31] awprice commented on #4989
Related: https://github.com/containerd/containerd/issues/4937

[2021-02-25 12:01] 1141330133 opened #5084 "ctr: failed to resolve reference : unexpected status code [manifests ]: 401 Unauthorized"
My system is ubuntu 20.04,    containerd.io-1.4.3,  I get an error when I download the private image from harbor , Please help me to solve this problem ，thanks

This is my configuration file

`   cat /etc/containerd/config.toml

version = 2
[plugins]
   [plugins."io.containerd.grpc.v1.cri"]
      sandbox_image = "registry.aliyuncs.com/google_containers/pause:3.2"
    [plugins."io.containerd.grpc.v

[2021-02-25 20:38] #5029 closed

[2021-02-25 22:04] dweomer commented on #4694
Since 2.144+ of container-selinux has landed on el8 (CentOS/RHEL) systems, containerd will work there. See https://github.com/containers/container-selinux/commits/v2.144.0.
The container-selinux looks to have not moved in years on el7 systems so I have made no attempt to backport containerd policy there.

[2021-02-25 22:06] baryluk opened #5089 "Uses a lot of CPU when idle"
After installing `containerd` Version: 1.4.3~ds1-2 on Debian testing from Debian, I noticed it is almost always at the top of the `top` output, sometimes using 10% CPU.

This is a fresh installation of `containerd` with nothing configured.

This is wasteful, and prevents CPU and system to go into deeper sleep mode, which is important on laptops, but also on desktop. It also interferes with very ac

[2021-02-25 22:10] baryluk commented on #5089
Here is a high resolution capture of CPU usage of `containerd` process in time:

[code]

[2021-02-25 22:46] dweomer opened #5090 "image volumes have incorrect selinux labels"
**Description**

_Full copy of image volume content, including extended attributes, on SELinux systems prevents containers from writing to the implicit volume(s) setup by CRI._

We've run into an issue preventing us from running Rancher 2.x on RKE2 v1.19 on SELinux=Enforcing systems (el 7/8). See rancher/rke2#690. I've traced it back to content in image volumes getting copied over (from layer stor

[2021-02-25 23:06] cpuguy83 commented on #5089
I think this is mostly all related to the go runtime.
Running this through pprof does not indicate anything abnormal or unexpected.

[2021-02-26 09:04] Iceber opened #5093 "testlog print error file info"
**Description**

https://github.com/containerd/containerd/runs/1984545869?check_suite_focus=true#step:8:296

**Steps to reproduce the issue:**
1.  use `logtest.WithT` to handle `testing.TB`
2. use `log.G(ctx)` print log

https://github.com/Iceber/containerd/blob/logtest/log/logtest/context_test.go
[code]
**Describe the results you received:**
https://github.com/containerd/containerd/blob/master/sn

[2021-02-26 16:34] Iceber commented on #5093
@dmcgowan  Hi, I feel that `logtest.WithT` is not very useful, `log.L` can also output detailed data.
And it's strange to use `log_hook.go:40` as the file info for log printing.

I would like to remove `logtest.WithT`，what do you think?

[2021-02-26 16:36] Iceber commented on #5093
/assign

[2021-02-26 17:24] claudiubelu opened #5094 "Windows: The same container cannot be recreated in the same Pod"
**Description**

If a container from a Pod is deleted, it can no longer be created with the same configuration on Windows due to this error:

[code]

This error can be observed while running the CRI integration test ``TestContainerRestart``. The steps executed by the test are the same as the ones below.

**Steps to reproduce the issue:**

[code]

pod.json:

[code]

container1.json:

[code]

**Desc

[2021-02-26 17:26] claudiubelu commented on #5094
/cc @kevpar

[2021-02-26 17:49] dmcgowan commented on #5093
@Iceber this was added here to prevent spewing of unordered logs to stderr during the test. In previous version of Go the log output would come out before the test logs, it seems they have fixed that though  (at least when `t.Parallel()` is not called). Also, turning off `WithT` won't necessarily give you the line number you want there.

[code]

Now with go 1.13.15
[code]

Back to 1.15 with parall

[2021-02-26 18:24] Iceber commented on #5093
@dmcgowan Thanks, It's useful to prevent spewing of unordered logs to stderr during the test.
Is it meaningful to add `l.SetReportCaller(true)`?

I think the lack of line numbers may be inconvenient when troubleshooting problems.
[code]
output:
[code]

[2021-02-26 19:08] dims commented on #4834
The NVIDIA Container Toolkit is getting updated to use newer containerd configuration

https://gitlab.com/nvidia/container-toolkit/container-config/-/merge_requests/63

cc @klueska @shivamerla @shysank

[2021-02-26 19:10] dims commented on #4826
cc @adisky

[2021-02-26 19:41] klueska commented on #4834
Hi @dims thanks for pulling us in here.

First, let me clear up some confusion. `nvidia-docker` has never been a fork of the docker source code. What is commonly referred to as `nvidia-docker` is actually a stack of 4 different components. Where only the very top one is docker specific, and hooking in at different layers of the stack let's you integrate with different technologies.

The four compo

[2021-02-27 01:26] samuelkarp opened #5096 "containerd still creates files in /run/containerd when `state` is set to a different value"
**What is the problem you're trying to solve**
When configuring containerd with the `state` directory set to a non-default value, containerd still creates files in `/run/containerd`.  This occurs because `/run/containerd` is hard-coded in [`utils.RuncRoot`](https://github.com/containerd/containerd/blob/10bbd1a462869c3ff9b6723fb3105b13fcd73a58/pkg/process/utils.go#L40-L41).

**Describe the solution

[2021-02-27 01:45] AkihiroSuda commented on #5096
We have hard-coded sockets under /run/containerd/s, so creating files under /run/containerd is inevitable even with #5097

[2021-02-27 01:50] samuelkarp commented on #5096
True.  The difference with the sockets at `/run/containerd/s` compared to the directories and files created for runc are that the socket paths incorporate the daemon socket address in the hash function while the runc path is strictly namespace + ID.  The effect of that means that if you run two containerd daemons with different `state` directories, you can still end up creating conflicts if you tr

[2021-02-27 11:04] umezawatakeshi opened #5098 "Make sure that the "Containerd Release" workflow works in forked repositories."
**What is the problem you're trying to solve**

If I fork the containerd repository and try to build my own release by using "Containerd Release" workflow in the forked repository, I have a problem.

[This part](https://github.com/containerd/containerd/blob/10bbd1a462869c3ff9b6723fb3105b13fcd73a58/.github/workflows/release.yml#L86) checks out the revision to be built, but since `containerd/contain

[2021-02-27 22:04] Prgrmman commented on #4426
Hi what is the status of this issue? I see the assignee has been removed.
Is this something that someone starting out with containerd could handle?

[2021-03-01 05:23] adisky commented on #4826
/assign

[2021-03-01 09:54] kevpar commented on #5039
Thanks for creating this issue @adelina-t! It looks like only Windows Server 2019 is supported for GitHub actions, does that match your understanding as well? It would be nice to have access to more OSes we can test on for Windows (at least LTSC + latest would be good).

Is there a good place I can learn more about Prow testing and how it works? I'm not very familiar with it currently.

[2021-03-01 10:54] adelina-t commented on #5039
WS2019 indeed, from what I understand as well.

As for prow testing, the docs here are the ones I guided myself by: https://github.com/kubernetes/test-infra . The main readme and then just down the rabbit whole of links :)

[2021-03-01 11:51] adisky commented on #4826
I tried to setup an insecure docker registry and using ctr/crictl to pull the images without any additional config in /etc/containerd/config.toml, I am able to pull images.

[2021-03-01 12:11] tejasrao97 commented on #4826
Hi @adisky, yeah we can pull images but we would have to explicitly pass the skip tls verification flag to ctr/crictl to pull the image from an insecure registry.
But, can we skip tls verification for localhost by default without passing any flags, similar to the way where we skip https check by default while pulling images from an insecure registry using localhost.

![image](https://user-images.g

[2021-03-01 12:48] adisky commented on #4826
@tejasrao97 I am not passing skip flag, still able to pull the images, can you check it this works https://github.com/containerd/containerd/pull/5100?

[2021-03-01 14:59] TBBle commented on #4924
I was just going to mention that I suspect I've seen this issue in #4419, but the two CI runs in the original ticket that aren't linked to a PR are both _from_ #4419.

Specifically, [one of the runs](https://github.com/containerd/containerd/runs/1675684511) was testing https://github.com/containerd/containerd/commit/0f80b21803c7072ed47f0a8de7f4c36aa623b7b5 (which still exists as https://github.com

[2021-03-01 22:52] #5006 closed

[2021-03-02 07:50] JornShen commented on #4889
@estesp  thanks
 /close

[2021-03-02 09:47] ktock opened #5105 "Enable remote snapshotter to receive creds from containerd CRI plugin"
https://github.com/containerd/stargz-snapshotter/issues/270
https://github.com/kubernetes-sigs/kind/pull/2076#pullrequestreview-591224262

## Issue

Though CRI plugin uses creds passed from kubelet (e.g. `kubernetes.io/dockerconfigjson` secrets) to pull images from the private registries, these creds aren't accessible from (remote) snapshotters.

So stargz snapshotter currently deals with private

[2021-03-02 10:34] qiutongs commented on #4813
I am able to reproduce this issue by following the issue description.

[code]

[2021-03-02 12:57] boratanrikulu commented on #4737
@mstrYoda Did you solve this issue? I'm getting similar error.

[2021-03-02 16:30] mikebrow commented on #4813
Right and my understanding from way back, is we are providing behavior the SIG-Node team expected.

https://github.com/containerd/cri/pull/1027#discussion_r250433982.

@Random-Liu

[2021-03-02 19:45] ctrlaltdel121 opened #5110 "Devmapper snapshotter not cleaning up after failed parent suspend"
I am seeing an issue with the devmapper snapshotter that causes the metadata db to be left in a seemingly corrupt state.

First, an image pull failed because the parent snapshot was not found. I think this is related to #3787:

[code]

The device that was trying to snapshot from 78199 was given ID 78200, and after it errored out [here](https://github.com/containerd/containerd/blob/master/snapshots

[2021-03-02 22:05] ElisaMeng opened #5113 "runc [2:init] eat all CPU power"
**Description**
k8s node run with containerd for some weeks, node become unresponsive
since runc eat up all processing power.

[code]

Node have many thousand of mount, when this happens

[code]
why there is actually around 10 containers on the node.

**Steps to reproduce the issue:**
1.
2.
3.

Not sure how to do, it take some time to happen, but it happened, it is never gone.

**Describe the resu

[2021-03-02 22:12] ElisaMeng commented on #5113
And the mounts just keep growing by time

[code]

[2021-03-03 03:52] qiutongs commented on #4813
After checking the code, the "last line not ending with \n" case is specifically handled:

https://github.com/containerd/containerd/blob/b22b6273002ed2d44936ed18798e46c5d48eb0c8/pkg/cri/io/logger.go#L181-L186

The change was introduced in https://github.com/containerd/cri/pull/1027 as Mike pointed out. So far, I am not sure why we want partial log in this case. Lantao can certainly provide more co

[2021-03-03 04:03] qiutongs commented on #4813
@yvespp Why fluentd got confused? Does fluentd always expect a full log entry on the last line?

[2021-03-03 06:51] tejasrao97 commented on #4826
@adisky I came across this issue few months ago when I tried to create a Kubernetes cluster using kubeadm(1.19.4) with containerd(1.4.3) as the CRI. I don't have the containerd config because I destroyed that cluster. But I remember not making any changes to the contianerd config file, it had the default values.

[2021-03-03 08:36] Iceber commented on #4931
/assign

[2021-03-03 10:09] Iceber commented on #4931
Make sure you are using `containerd` and not `dockershim`?

[2021-03-03 10:47] Iceber commented on #4931
The container state is exited, but the finishedAt is `-6795364578871345152`(`time.Time{}.UnixNano()`) is anomalous

[2021-03-03 15:17] dfateyev commented on #4857
It provides `systemdCgroup": false,` even if containerd configured with systemd cgroups support (at least, on 1.3.7)

[2021-03-03 15:41] TBBle commented on #4924
While looking into something unrelated, I found that I can reliably trigger the `0xc0000420` with `wclayer remove` if I call it on a layer that is the _parent_ of a layer that is currently mounted, while calling `wclayer remove` on the mounted layer (scratch layer, in this case) reports

So I think I was right that we need to clean up individual layers, not the parent directory, and that further t

[2021-03-03 22:52] #4915 closed

[2021-03-04 01:26] Random-Liu commented on #4813
I think this is intended. We need to differentiate whether a container output ends with/without `\n`.

In the CRI logging format, the solution is to use `P/F` to distinguish that.

On the other hand, it is hard for containerd to tell that a log line is the last one. The container may die after containerd properly print a log line. And that already printed log line becomes the last.

One potential

[2021-03-04 02:36] #4965 closed

[2021-03-04 02:37] fuweid commented on #4852
fixed by #5116

[2021-03-04 02:37] #4852 closed

[2021-03-04 03:10] fuweid commented on #5113
@ElisaMeng would you mind to show more information? like runC version, the leaking mount points. Thanks.

[2021-03-04 03:43] fuweid commented on #5089
@baryluk you can run `ctr pprof profile > cpu.profile` to dump the profile if you enable debug mode.

[2021-03-04 07:07] ElisaMeng commented on #5113
@fuweid Thanks for paying attention, runc is built embedded in containerd
`github.com/containerd/go-runc v0.0.0-20200220073739-7016d3ce2328`

I don't how to show it is version by cmd.  :(

I am not sure which one is leaking, I see a lot of mounts like these:

[code]
After running for a while, it eventually hit on something like these

`time="2021-02-26T05:29:25.432435224+08:00" level=error msg="St

[2021-03-04 07:29] fuweid commented on #5113
I think it is mount point leaking issue.

[code]

you can check which process or container hold leaky mount points. :)

[2021-03-04 08:09] ElisaMeng commented on #5113
@fuweid  Thanks a lot!  Can you command help with that? I have issued it, I am sure it will take a long time to see something happen. The node is almost not operational at the moment. I post outcome later.

[2021-03-04 08:27] fuweid commented on #5113
@ElisaMeng I meet that mount point leaky issue before and found the related issue https://github.com/moby/moby/pull/38993. Maybe it is caused by some unexpected configuration and Hope it can help.

[2021-03-04 10:12] amouat opened #5124 "Handle missing content-length header"
**Description**

When containerd tries to pull an image from a registry that does not return a "content-length" header it results in a hard to understand error.

**Steps to reproduce the issue:**

Reproduction is a little difficult as it requires an arguably broken or non-conformant registry. Perhaps a unit test with manually created HTTP headers would be enough. One way is to use an old build of

[2021-03-04 10:18] amouat commented on #5079
I had a similar problem with 1.4.3 but I did eventually manage to pull from an insecure registry. I *think* the problem was I had to remove the `.tls`. What happens if you just do:

[code]

[2021-03-04 18:05] ElisaMeng commented on #5113
@fuweid  I was trying hard get some output from your command, but it take forever to run. Eventually, I have to hardest the node and run your commands right after it starts.
[code]

[2021-03-04 20:49] oak-tree commented on #4834
Hey @klueska
great answer!!
I have one question regaring the Jetson ecosystem. In the x86/64 ecosystem the CUDA comes from the `image` of the`container`. So regardless the version of CUDA of the system. The user can choose to run different types of CUDAs in different containers. In the `Jetson` families the CUDA is shared from the main OS. i.e the `container` does not contain the CUDA anymore, the

[2021-03-04 20:58] Shaked commented on #4834
@klueska following what you wrote about config.toml, I have upgraded mine - which is a k3s config.toml.tmpl on a Jetson Xavier device:

[code]

Once set, I have ran `sudo service k3s restart`  and then:

[code]

When using docker with `runtime=nvidia`:
[code]

Together with @oak-tree's question, how could I make this work on my Jetson Xavier?

Thank you
Shaked

[2021-03-04 22:20] klueska commented on #4834
We should move this dicussion to https://github.com/NVIDIA/nvidia-docker/issues as it is no longer relevant to the original issue.

[2021-03-04 22:44] Shaked commented on #4834
Done https://github.com/NVIDIA/nvidia-docker/issues/1468

[2021-03-05 03:32] nlnjnj commented on #5079
got a similar on microk8s with containerd v1.4.3

[code]

sudo microk8s ctr images pull core.harbor.io/continuumio/anaconda:latest
ctr: failed to resolve reference "core.harbor.io/continuumio/anaconda:latest": failed to do request: Head "https://core.harbor.io/v2/continuumio/anaconda/manifests/latest": x509: certificate signed by unknown authority

[2021-03-05 06:25] fuweid commented on #5113
Hmm... it matches(after sum) that result of mount you mentioned before

[code]

@ElisaMeng would you mind to share strace result of the `R` runc init process?

[2021-03-05 07:48] AkihiroSuda opened #5128 "Add ocicrypt stream processor to the default config"
**What is the problem you're trying to solve**

ocicrypt cannot be used with the default config, though CRI plugins provides built-in support for ocicrypt.

**Describe the solution you'd like**

Add the following config to the default `/etc/containerd/config.toml`

[code]

**Additional context**
We should make sure that the daemon can start up when `ctd-decoder` is not present in the `$PATH`, or `

[2021-03-05 07:49] AkihiroSuda commented on #5128
cc @stefanberger @lumjjb WDYT?

[2021-03-05 09:47] AkihiroSuda opened #5129 "MatchLocalhost should match 127.12.34.56"
**Description**

`MatchLocalhost` should use `net.IP.IsLoopback` to match addresses like "127.12.34.56".

https://github.com/containerd/containerd/blob/v1.5.0-beta.3/remotes/docker/registry.go#L202-L212

[code]

**Describe the results you received:**
`MatchLocalhost` should match addresses like "127.12.34.56"

**Describe the results you expected:**
`MatchLocalhost` only matches "localhost", "127.0

[2021-03-05 12:11] Vivek-anand-jain commented on #5129
Hey, I am a newbie. Is it okay if I take this one?

[2021-03-05 12:21] stefanberger commented on #5128
@AkihiroSuda Looks good to me.

[2021-03-05 12:32] AkihiroSuda commented on #5129
Yes, thanks

[2021-03-05 14:24] lumjjb commented on #5128
@AkihiroSuda SGTM 👍

[2021-03-05 16:34] zhsj opened #5130 "Error in log: copy shim log read /proc/self/fd/15: file already closed"
**Description**

When upgrading 1.5.x and 1.4.4, I start to observe these errors in log:

ERRO[2021-03-06T00:14:53.131989960+08:00] copy shim log                                 error="read /proc/self/fd/15: file already closed"

It doesn't look like harm though.

**Steps to reproduce the issue:**

[code]

**Describe the results you received:**

[code]

**Describe the results you expected:**

[cod

[2021-03-05 16:43] zhsj commented on #5130
Also in CI log

https://github.com/containerd/containerd/runs/2037738941?check_suite_focus=true#step:5:1599

[2021-03-05 17:41] baryluk commented on #5089
[cpu-profile.zip](https://github.com/containerd/containerd/files/6092254/cpu-profile.zip)

[2021-03-05 20:14] dmcgowan commented on #5089
Watching my system while idle and containerd not running anything, I see it periodically doing something as well. The amount of CPU is likely runtime related as @cpuguy83 said, but when I ran the profile over a period of 5 minutes (of inactivity), 25% was to the dialer, about 70% to runtime, and 1% to some `snapshotsSyncer`.

That `snapshotsSyncer` is in the CRI plugin seems to run every 10 second

[2021-03-06 09:16] ElisaMeng commented on #5113
@fuweid I don't know how strace work, here is some out from it, not sure if it is helpful
[code]

[2021-03-06 14:13] kjenney commented on #1881
Where are we with https://github.com/containerd/containerd/pull/4526? There has been no movement since Jan 22. Is there something blocking this?

[2021-03-07 21:05] y-taka-23 commented on #5130
Hi, I also run into the same error message. Would you mind if I assign myself to this issue?

[2021-03-07 22:45] nicoche commented on #4862
Hi! I noticed the "help-wanted" label so I digged a bit into that. I found multiple references to "old syntaxes":

Syntax 1 (oldest? https://github.com/containerd/cri/issues/835#issuecomment-403652902):

[code]

Syntax 2 (mentioned by OP, https://github.com/containerd/containerd/commit/050e8c63c0501dfc712ec8fec389212c14c852f9):

[code]

Syntax 3 (currently used):

[code]

I replicated locally the

[2021-03-08 08:58] AkihiroSuda commented on #5128
I'm preparing a PR, can we also set keymodel by default?

[code]

[2021-03-08 09:11] AkihiroSuda commented on #5128
PR: https://github.com/containerd/containerd/pull/5135

[2021-03-08 10:09] fuweid commented on #5130
@y-taka-23 please go ahead. don't need assignee here and just send the patch. welcome!

[2021-03-08 10:22] yvespp commented on #4813
Because it waits for the next full line to send the log line to the logging system (Elastic, Splunk etc.). This then times out with this error `dump an error event: error_class=Fluent::Plugin::ConcatFilter::TimeoutError`

[2021-03-08 11:35] fuweid commented on #5113
@ElisaMeng could you mind to take a look about what the runC process read?

It looks like the runC read mountinfo like `/proc/self/mountinfo`. and would you mind to show the `mount` result? thanks

[2021-03-08 12:33] yvespp commented on #4813
@Random-Liu as far as I know, Docker doesn't need an extra tag and doesn't have this problem. Maybe I'll check how it behaves in this case...

If the log line is only written to the file if the buffer overflows or a newline is found, then a crash should not be a problem:
* Data is added but buffer doesn't overflow or doesn't contain a new line -> do nothing
* A new line is added to the buffer -> w

[2021-03-08 13:37] stefanberger commented on #5128
For keyprovider we need to set the to environment variable `OCICRYPT_KEYPROVIDER_CONFIG` to point to the key provider config file. It is system-dependent where this file is.

[2021-03-08 13:39] stefanberger commented on #5128
Reference for `OCICRYPT_KEYPROVIDER_CONFIG`: https://github.com/containers/ocicrypt/blob/master/config/keyprovider-config/config.go#L65

[2021-03-08 14:10] MadhavJivrajani commented on #5129
Hey @Vivek-anand-jain, if possible, could you ping here in case this issue becomes available to work on? I'd like to try it as well if it becomes available, thanks! 😄

[2021-03-08 15:09] AkihiroSuda commented on #5128
@stefanberger Thanks for the pointer, what do we need to do in PR #5135 ?

[2021-03-08 16:12] stefanberger commented on #5128
If you are referring to `OCICRYPT_KEYPROVIDER_CONFIG` then I would say it should be documented with a pointer to this document here: https://github.com/containers/ocicrypt/blob/master/docs/keyprovider.md . Users have to create such a config file knowing the names of the executables etc. and can then set this environment variable in the stream_processor config part pointing to their config file.

[2021-03-08 19:13] #5110 closed

[2021-03-08 19:46] agowdamsft commented on #4846
Any update on this issue? seems like more folks are running into this issue ref. https://github.com/MicrosoftDocs/azure-docs/issues/71783

[2021-03-08 20:34] cpuguy83 commented on #4846
@agowdamsft #4847 addresses this

[2021-03-08 20:38] ElisaMeng commented on #5113
@fuweid I don't really get you said, here is the mount and ps output. Warning, there is a lot of mount, even I have restart the node to reduce it a by half!  Since GitHub are not allow me to update tgz file, I have change its extension to .log. please untar to read it.

[mount+ps.log](https://github.com/containerd/containerd/files/6103991/mount%2Bps.log)

[2021-03-08 21:15] joedborg opened #5142 "Systemd unit fails to start when `Type=notify` and host is rebooted"
**Description**
Containerd sits in "activating" for >15m when Systemd unit type is set to "notify".

I noticed that, with 1.4, it's advised we set the Systemd unit type to "notify" from "simple".  I beleive this is in order to allow separation of Containerd and Containerd-shims during outages of Containerd.

The problem is that, on reboot of the system, Containerd then takes a long time to come ba

[2021-03-09 07:43] rameshb444 commented on #4006
Hi Ganga,

Is this issue resolved? Even I am facing the similar issue.

I was unable to hit the unix.socket url after kubernetes upgrade from 1.17 to 1.19.7 version.
Please let me know if this issue is resolved.

once check this url https://github.com/kubernetes/kubernetes/issues/99722

[2021-03-09 08:23] thaJeztah commented on #4006
If you specifically need the docker API, you'd have to run docker; also see https://www.mirantis.com/blog/mirantis-to-take-over-support-of-kubernetes-dockershim-2/

[2021-03-09 16:46] estesp opened #5146 "Flaky Test: TestRestartMonitor"
The new test `TestRestartMonitor` seems to fail somewhat regularly during our 'Cgroups v2 & SELinux' integration run, which is the only run that occurs via nested virt (Fedora on macos via vagrant).  Not claiming that is the culprit, but one data point about what might be different.

[code]

// cc: @AkihiroSuda

[2021-03-09 18:11] survivant opened #5159 "Ubuntu 20.04.2 LTS : installation step 2 : tar --no-overwrite-dir empty /bin folder"
I found a really nice issue.

I have a fresh Ubuntu 20.04.2 LTS installation.  I'm logged as root

In the guide : [Installation ](https://github.com/containerd/cri/blob/master/docs/installation.md)

at the step 2 : **Step 2: Install Containerd**

When I enter this command :
[code]

it will empty my /bin folder.

see the content after the command :
[code]

[code]

I downloaded the file from here :

[2021-03-10 14:51] survivant opened #5151 "Containerd 1.5.0-beta generated config still used : "io.containerd.grpc.v1.cri" instead of cri"
I installed containerd 1.5.0-beta from from this link : wget https://github.com/containerd/containerd/releases/download/v1.5.0-beta.3/cri-containerd-cni-1.5.0-beta.3-linux-amd64.tar.gz

untar it followed by : containerd config default | sudo tee /etc/containerd/config.toml

In this guide : https://github.com/containerd/containerd/blob/master/docs/cri/registry.md

it's written
[code]

here part of

[2021-03-10 14:57] survivant opened #5152 "configure systemd with kubeadm"
I'm following that guide to setup containerd with kubeadm using systemd : https://kubernetes.io/docs/setup/production-environment/container-runtimes/#containerd

There is a section :
[code]

I did this instead of editing config.toml

[code]

How can I be sure that systemd is used ?

[code]

[2021-03-10 15:56] survivant opened #5153 "Zombies with exec probes : Kubernetes 1.20-containerd 1.5.0-beta3"
I have zombies that are spawing each time that the exec probes are executed  with containerd (docker was never installed in my cluster) is running.  Should containerd handle that ?

There is a issue here where I added my details https://github.com/kubernetes/kubernetes/issues/81042

I'm using this command to find which process generate the zombies

[code]

Here I have few zombies from 2 of my appl

[2021-03-10 16:02] MadhavJivrajani commented on #5046
/assign

Hi! I'm a newbie here and I'd love to take this up:

From what I currently understand, the attached to-be-updated code section, gets a slice of specified `device` flags, and adds them to the spec. The mapped path maybe can be obtained by splitting each string element on `:`, if the resulting slice of such a split has just one element then that device can be assumed to be of the form that

[2021-03-10 18:17] survivant opened #5155 "Containerd and java doesn't return correctly the available RAM."
I created a new cluster with kubernetes 1.20 and containerd 1.5.0-beta3.  I'm trying to deploy neo4j helm chart on that cluster and I'll obtain a crashloop.    The same settings work on my another cluster using docker instead of containerd.

[code]

A created a file : values-test.yaml
[code]

helm install neo4j . -f values-test.yaml

I downloaded the Helm chart from here : https://github.com/neo4j

[2021-03-11 01:34] AkihiroSuda commented on #5151
"io.containerd.grpc.v1.cri" (v2) is the preferred form. What is the problem you are seeing?

[2021-03-11 06:35] AkihiroSuda commented on #5146
PR: https://github.com/containerd/containerd/pull/5157

[2021-03-11 06:37] AkihiroSuda commented on #5060
Fixed in https://github.com/containerd/containerd/pull/5076

[2021-03-11 06:37] #5060 closed

[2021-03-11 06:38] AkihiroSuda commented on #5129
@MadhavJivrajani (or anybody) Please feel free to open a PR whenever there is no existing PR.

[2021-03-11 06:42] MadhavJivrajani commented on #5129
/assign

[2021-03-11 06:48] AkihiroSuda opened #5158 "CI: /tmp/vagrant-install-runc: line 5: GOPATH: unbound variable"
[code]
Observed in https://github.com/containerd/containerd/pull/5157/checks?check_run_id=2083879992

[2021-03-11 07:47] fuweid commented on #5113
@ElisaMeng Sorry for late reply.

[code]

There are too many mount points. The runC needs to read all the mount point and do some check, which consumes more cpu request. That is why you see `runc [2:init]` eat more CPU. But I don't know what happen in your machine and how to make the mount point leaking like this.

[2021-03-11 08:50] bluefriday opened #5161 "Support for other gRPC socket on Windows node"
I am joining a Windows server using containerD as a runtime to a k8s cluster.

But for kubeadm, I got an error when the cri socket is not an absolute path.
[code]

Is it possible to provide the grpc value in containerd's configuration file in TCP or plain file format instead of pipe format?

It is my containerd configuration.

[code]

[2021-03-11 09:24] MihaelBercic commented on #2406
@crosbymichael , hello. I'm wondering how exactly am I supposed to restore a CRIU checkpoint stored in a custom directory? You mentioned persisting *that* image to disk. What image are you implying here? If you have some simple snippet, I'd really appreciate it.

Thank you!

[2021-03-11 11:56] ElisaMeng commented on #5113
@fuweid  it is not only on single machine. It is happening in many machines, from baremetal to VMs.  The problem keep coming to new machines.

[2021-03-11 11:59] survivant commented on #5155
I filled a issue also on neo4j repo
https://github.com/neo4j-contrib/neo4j-helm/issues/167

[2021-03-11 12:01] survivant commented on #5151
oups sorry.  I though it was changed to
[code]

[2021-03-11 12:30] AkihiroSuda commented on #5151
Opposite. The document seems to need to be revised for clarity.

[2021-03-11 14:04] #5146 closed

[2021-03-11 14:53] AkihiroSuda commented on #5158
Seems to have disappeared. Probably the CI disk image was temporarily unstable.

[2021-03-11 14:53] #5158 closed

[2021-03-11 15:24] survivant commented on #5155
Here how I setup my cluster (please follow the guide for kubeadm on kubernetes web site.. here a summary of my steps releated to containerd)  On a fresh Ubuntu 20.04 LTS  (docker was never installed)

[code]

[2021-03-11 16:36] hamid-elaosta commented on #3071
Am I right in thinking this didn't make it into 1.4? With Kubernetes 1.20 and the switch to containerd this has become even more important for those of us on managed providers who need to be able to drop a cert into a directory using a DaemonSet because we don't manage the boxes and can't restart containerd. Do we have a new target version for this feature?

[2021-03-11 19:00] claudiubelu opened #5168 "Windows: Container's hostname not set to compute node's hostname if Host Network is enabled"
**Description**

The test ``TestPodHostname/host_network_pod_without_custom_hostname`` [1] is expecting the Container's hostname to be the same as the host's hostname. This test fails on Windows. This test has Host Network enabled. The test ``TestPodHostname/regular_pod_with_custom_hostname`` already passes.

[1] https://github.com/containerd/containerd/blob/master/integration/pod_hostname_test.go

[2021-03-11 19:01] claudiubelu commented on #5168
/cc @kevpar

[2021-03-11 19:05] claudiubelu opened #5169 "Windows: Cannot Update Container Resources on Running Container."
**Description**

The test ``TestTruncIndex`` is expectting to be able to update a container's resources after it started [1], but an error is encountered on Windows instead:

[code]

[1] https://github.com/containerd/containerd/blob/master/integration/truncindex_test.go#L119

**Steps to reproduce the issue:**

Update the Container's resources after it started.

**Describe the results you received:

[2021-03-11 19:05] claudiubelu commented on #5169
/cc @kevpar

[2021-03-11 20:29] kevpar commented on #5168
I think this test should just be marked as Linux only. It uses [`WithHostNetwork`](https://github.com/containerd/containerd/blob/ce8e8e89077f3b2ffbbc4b77944d92bd5b96e703/integration/main_test.go#L111) to create the pod, which sets some Linux-specific fields on the CRI request. There is no equivalent way for a Windows pod to mark it as using host network, so this test doesn't seem to make sense for

[2021-03-11 23:01] kevpar commented on #5169
@claudiubelu are you updating the test to use a different image? I noticed it is set to `busybox` by default which I don't think would run on Windows. Just curious how the test is even getting this far currently.

[2021-03-12 03:45] fuweid opened #5173 "runtime: leaking shim socket files"
**Description**

With running short-life containers repeatedly, I found that the `/run/containerd/s` contains some leaking socket files.

**Steps to reproduce the issue:**
1. Init your kubernetes - a single control-plane cluster (by kubeadm/minikube etc)

2. apply the following yaml

<details><summary><code>cat containerd-test.yaml</code></summary><br><pre>
apiVersion: batch/v1
kind: Job
metadata:

[2021-03-12 04:19] #5161 closed

[2021-03-12 08:57] lining2020x commented on #759
Hello guys, will this feature be included in the future version of containerd?

[2021-03-12 09:30] vpetersson opened #5175 "Containerd 1.4.4 fails with INVALIDARGUMENT on ARM (possibly others)"
**Description**

This must have been introduced in a recent version of Containerd. I had the device up and running for a while and it broke recently in an upgrade. I've gone through steps and cleaned up everything (including wiping `/var/lib/docker`) and reinstalled everything from scratch, but still no joy.

**Steps to reproduce the issue:**
1. Install Docker CE

**Describe the results you receiv

[2021-03-12 13:42] cnhuye opened #5177 "ctr: failed to prepare extraction snapshot xxx failed to create sandbox layer xxx"
**Description**

**Steps to reproduce the issue:**
1. download from  https://github.com/containerd/containerd/releases/download/v1.4.4/cri-containerd-cni-1.4.4-windows-amd64.tar.gz
2. extract it
3. run containerd
4. run
[code]

**Describe the results you received:**

**Describe the results you expected:**

**What version of containerd are you using:**

[code]

**Any other relevant information (run

[2021-03-12 17:55] MadhavJivrajani commented on #5046
/unassign

[2021-03-12 18:02] kzys commented on #5175
FYI, similar issues have been reported on [bbolt itself](https://github.com/etcd-io/bbolt/issues/135), [bolt](https://github.com/boltdb/bolt/issues/348) and [Hashicorp's consul](https://github.com/hashicorp/consul/issues/3771) which uses bolt.

[2021-03-12 19:27] claudiubelu commented on #5169
Indeed, the tests are updated to use configurable images. In my case, it was configured to use Windows-based images. That is being done here: https://github.com/containerd/containerd/pull/5163

This issue is created based on that.

[2021-03-12 20:48] kevpar opened #5187 "[cri] Support UpdateContainerResources for Windows containers"
In kubernetes/kubernetes#95741, a `windows` field was added to `UpdateContainerResourcesRequest`. However, this has not yet been plumbed through containerd's CRI implementation.

[2021-03-12 20:49] kevpar commented on #5169
Thanks Claudiu. I was wrong about this already being supported, some plumbing work is needed. I have filed containerd/containerd#5187 to track the feature work for this.

[2021-03-12 20:56] kevpar commented on #5187
@katiewasnothere FYI as I think you are already doing some work in hcsshim related to this.

[2021-03-12 21:50] jsturtevant opened #5188 "Windows Containers are leaked when container fails to start"
**Description**
On Windows, when passing a command to a container to run, if the command isn't valid then containerd gives error and clean up its resources but HCS still shows a container is on the system.  If you re-run container with the same name you get an error.

**Steps to reproduce the issue:**

[code]

Containerd doesn't know about the container:
[code]

but hcs has the container in the li

[2021-03-12 21:51] jsturtevant commented on #5188
/cc @kevpar

[2021-03-13 02:49] TBBle commented on #4878
Since https://github.com/kubernetes/kubernetes/issues/97739 is sliding backwards, would it make sense for containerd CRI to _now_ support parsing `Device.host_path` as `IDType/ID` on Windows, and later, if-and-when the CRI API gains a `WindowsDevice` message or whatever comes out of https://github.com/kubernetes/kubernetes/issues/97739, supporting that as well/instead?

I'm not in a position to te

[2021-03-13 08:29] ydcool commented on #3351
Is it possible to introduce some basic (or fallback) mechanism in containerd to prevent the logs increasing without limit when the kubelet is not working?

[2021-03-13 10:40] cnhuye opened #5190 "ctr: no match for platform in manifest sha256:xxx: not found"
**Description**
On widnows 10 pro.

[code]

**Steps to reproduce the issue:**
1. download 1.4.4
2. start containerd
3. run the previous command

**Describe the results you received:**

**Describe the results you expected:**

**What version of containerd are you using:**

[code]

**Any other relevant information (runC version, CRI configuration, OS/Kernel version, etc.):**

<details><summary><code>

[2021-03-13 13:31] fuweid commented on #5190
Hello, the https://hub.docker.com/_/alpine doesn't support window platform. The result is expected. Please checkout the https://github.com/docker-library/official-images#architectures-other-than-amd64. Thanks for reporting.

[2021-03-13 13:31] #5190 closed

[2021-03-13 16:09] cnhuye commented on #5190
Thanks very much!
I'm not familiar with containd, but I want wrap contanind in a windows EXE application.
I tried docker-ce on same win10 machine, for the same image(alpine), it works fine.
What should I do to make containerd works like docker-ce ?
Any docs for that ?
Hope give a little points, thinks !

[2021-03-13 16:09] cnhuye commented on #5190
Thanks very much!
I'm not familiar with containd, but I want wrap contanind in a windows EXE application.
I tried docker-ce on same win10 machine, for the same image(alpine), it works fine.
What should I do to make containerd works like docker-ce ?
Any docs for that ?
Hope give a little points, thinks !

[2021-03-14 22:06] survivant commented on #5155
there is a more complete analysis here : https://github.com/neo4j-contrib/neo4j-helm/issues/167

I believe the cause of the neo4j error is the TotalPhysicalMemorySize reported by com.sun.management.OperatingSystemMXBean coming back as zero to neo4j.

You can see the methods neo4j is using to get the available memory from java here:
https://github.com/neo4j/neo4j/blob/2607e5cf54cbd896a7dc64ba20ec85

[2021-03-14 22:40] #5124 closed

[2021-03-15 01:35] aiaiai-czh opened #5193 "connect: connection refused: unknown"
### Description
on my ubuntu 20.04, when run the command
`$CTR run --rm docker.io/library/bash:latest test echo 'Hello World!'`
the terminal report a problem
`ctr: dial unix /run/containerd/s/93a997343d64b0d227f3d75dcd0ed893d2e6d255ab41c328a621128b206c54d8: connect: connection refused: unknown`
and the containerd process report that
`ERRO[2021-03-15T09:27:33.447574622+08:00] copy shim log

[2021-03-15 01:44] AkihiroSuda commented on #5193
Please fulfill the template https://raw.githubusercontent.com/containerd/containerd/master/.github/ISSUE_TEMPLATE/bug_report.md

[2021-03-15 04:22] runlevel5 opened #5194 "Q: Option to configure different runtime"
This is not a bug report but more of a question. I am trying to find a way to tell containerd to use the crun instead of runc

From the [doc](https://github.com/containerd/containerd/blob/master/docs/man/containerd-config.toml.5.md#example), it's said that configuring runtime inside `[plugins.linux]` which  i did:

[code]

then I restart the containerd daemon, and for my docker deamon, I make sure

[2021-03-15 04:55] fuweid commented on #5190
@cnhuye you can run the `docker run -it --rm busybox uname -a` to check the result~. I don't have windows env actually. But I think it is the same to the docker-on-mac which running in hyper(https://github.com/moby/hyperkit).

[2021-03-15 06:59] ElisaMeng commented on #5113
@fuweid  I think I address the process that holds the large number of mounts now:

[code]

It is a kubernetes started pause container.

[code]
It seems an empty pod with only pause container inside. Why its holds so many mount? you think it is a problem outside of containerd?

[2021-03-15 07:03] ElisaMeng commented on #5113
This process is actually doing nothing

[code]

[2021-03-15 11:36] fuweid commented on #5113
@ElisaMeng I don't know about the k3s. I think it might be related to volume propagation in your pod yaml. If it doesn't contain any confidential information, show the volume info will be helpful~

[2021-03-15 14:38] #5130 closed

[2021-03-15 14:50] ElisaMeng commented on #5113
@fuweid  In this example, It is empty pod I don't know how to identify which pods it is. :(

[2021-03-15 20:35] kevpar commented on #4878
That seems reasonable to me. It would at least give us compatibility with the way dockershim did devices.

[2021-03-15 20:47] #3071 closed

[2021-03-15 20:47] #4904 closed

[2021-03-16 02:05] AkihiroSuda commented on #3757
I don't think somebody is working on this toward v1.5, so moved to v1.6 milestone

[2021-03-16 02:18] fuweid commented on #5113
`crictl pods` to list the pods and check the id with mount point?

[2021-03-16 05:40] ElisaMeng commented on #5113
@fuweid thanks a lot!  I find it!  I was sloppy, putting a pod like this into the cluster for testing.

It restart all the time since the main container test-runner get a wrong command.  But I don't understand why it cause mount leakage!

[code]

[2021-03-16 09:45] TBBle commented on #4878
I haven't looked yet; is it feasible to implement this now, or should I wait until the CRI test suite is enabled for Windows: #5039, although this is also looking at testing multiple versions, which feels like it would take a while to land as it can't use GitHub Actions.

[2021-03-16 11:45] AkihiroSuda commented on #5193
Please try to use the same version of containerd, ctr, and containerd-shim-runc-v2.

[2021-03-16 11:52] lining2020x commented on #5152
I think this might help.
[code]
[code]

[2021-03-16 14:53] survivant commented on #5152
[code]

[code]

[2021-03-16 14:55] survivant commented on #5152
from my previous output, I think I'm not using systemd_cgroup ?

This command didn't work ?

[code]

[2021-03-16 15:09] survivant commented on #5152
I found this in my **/etc/containerd/config.toml**

[code]

Do I have to edit that file and do this ?

[code]

[2021-03-16 15:34] lining2020x commented on #5152
em..  I was misreading your description before. You didn't config the systemd cgroup in config.toml.
The `SystemdCgroup` in config.toml and `cgroupDriver: systemd` in kubeadm init yaml are both required when config using systemd cgroup driver.

Here is part of my config.toml
[code]

[2021-03-16 15:37] lining2020x commented on #5152
This means that compared with using docker as container runtime, it needs to be manually configured in kubedm when using containerd (or crio).

[2021-03-16 16:00] survivant commented on #5152
thanks I did that and restarted.  It works.

[2021-03-16 23:39] kevpar commented on #4381
@jsturtevant Realized I typo'd tagging you in my last response. I'm guessing this is just caused by PowerShell mucking with the encoding, and isn't the fault of containerd or `BurntSushi/toml`.

[2021-03-17 04:33] cnhuye commented on #5190
谢谢兄弟！ 我再研究研究～  BTW,  我也在北京，看到这么有前途的项目有咱自己的兄弟参与，很是开心 ～

[2021-03-17 05:01] fuweid commented on #5113
[code]

@ElisaMeng This part...I don't suggest to use the Bidirectional(`rshared`) mount propagation in production, especially mount in `/dev/` in container...

[code]

If you really need host `/dev/` , I suggest to run in `/host/dev/` in container. In kubernetes, the `/dev/termination-log` mount point is special. If you mount `/dev/:/dev/:rshared` in container, it will impact other container's cr

[2021-03-17 06:17] #5152 closed

[2021-03-17 06:18] #4703 closed

[2021-03-17 06:19] #4441 closed

[2021-03-17 08:47] ElisaMeng commented on #5113
@fuweid thanks so much!  I did find it is special when creating the pods, so I workaround it by do
[code]

I thought I was smart 👎

[2021-03-17 09:58] fuweid commented on #5113
@ElisaMeng Just be careful about `Bidirectional` :) hope it can help~

[2021-03-17 10:16] ElisaMeng commented on #5113
@fuweid You are absolutely doing great help, thanks a lot for your time!  I close this for now.

[2021-03-17 10:16] #5113 closed

[2021-03-17 13:33] #5173 closed

[2021-03-17 13:37] #5129 closed

[2021-03-17 13:41] #4846 closed

[2021-03-17 17:59] kzys commented on #5098
Sounds fine to me. @dmcgowan What do you think?

[2021-03-17 21:52] jayunit100 commented on #4381
one humble man's workaround to this perplexing issue
[code]

[2021-03-17 21:54] jayunit100 commented on #4381
seems like theres gotta be a way to make burntsushi/toml capable of handling this case, right ?

[2021-03-17 22:22] kevpar commented on #4381
It would need to be enhanced so instead of just casting from `[]byte` to `string` [here](https://github.com/BurntSushi/toml/blob/v0.3.1/decode.go#L133), they instead:
- Detect the UTF-16LE BOM at the start of the file (`0xFFFE`).
- Convert the little-endian `[]byte` read from the file (minus the BOM) into a `[]uint16`.
- Call `utf16.Decode` and cast the result to a `string`.

Given that this issue

[2021-03-18 23:10] mnaser commented on #3667
The solution for me was indicated here:

https://github.com/cri-o/cri-o/pull/4210

[code]

Good luck.

[2021-03-19 00:29] amarjothi opened #5225 "containerd not recognizing 10-calico.conflist - conflist extension file placed in /etc/cni/net.d"
1. Place default conflist file in /etc/cni/net.d/10-calico.conflist
2. crictl info - shows CNI plugin not initialized and error no network config found in /etc/cni/net.d

3. When rename the file from 10-calico.conflist to 10-calico.conf, and restarted containerd, it picked up the network configuration.

Error: error no network config found in /etc/cni/net.d
Error in crictl info: "cni config load f

[2021-03-19 01:26] ganlei333 opened #5226 "debian10 containerd1.4.4 Unable to adapt k8s 1.20.4"
operating system: debian10
k8s:1.20.4
containerd:1.4.4

Error: failed to create containerd task: OCI runtime create failed: container_linux.go:370: starting container process caused: process_linux.go:459: container init caused: process_linux.go:422: setting cgroup config for procHooks process caused: failed to write "1" to "/sys/fs/cgroup/memory/system.slice/containerd.service/kubepods-burstable-p

[2021-03-19 03:50] fuweid commented on #5225
hi @amarjothi , please make sure that `/etc/cni/net.d/` dir only have one config. If there is other cni config, the containerd might not pick `/etc/cni/net.d/10-calico.conflist`. And please fill the bug issue like `https://github.com/containerd/containerd/blob/master/.github/ISSUE_TEMPLATE/bug_report.md`. Thanks

[2021-03-19 18:23] #3930 closed

[2021-03-19 20:39] coderofsalvation commented on #4423
I was able to get it up and running by commenting the 2 lines in `/etc/sysctl.conf`:

[code]

[2021-03-20 09:19] pacoxu opened #5236 "if not add "version = 2" to the /etc/containerd/config.toml, some configuration will be ingored"
**Description**
As `containerd config default` shows, version 2 seems to be the default value.

**Steps to reproduce the issue:**
1. add a mirror config to /etc/containerd/config.toml
         [plugins."io.containerd.grpc.v1.cri".registry.mirrors."local.dce"]
          endpoint = ["http://10.6.151.61:80"]
2. not set version to 2.
3. restart containerd
4. run `containerd config dump` to see if the

[2021-03-20 09:21] pacoxu opened #5237 "if not add "version = 2" to the /etc/containerd/config.toml, some configuration will be ingored"
**Description**
As `containerd config default` shows, version 2 seems to be the default value.

**Steps to reproduce the issue:**
1. add a mirror config to /etc/containerd/config.toml
         [plugins."io.containerd.grpc.v1.cri".registry.mirrors."local"]
          endpoint = ["http://10.6.151.61:80"]
2. not set version to 2.
3. restart containerd
4. run `containerd config dump` to see if the conf

[2021-03-20 12:44] pacoxu commented on #5236
dup

[2021-03-20 12:44] #5236 closed

[2021-03-20 14:14] thaJeztah commented on #5236
-> https://github.com/containerd/containerd/issues/5237

[2021-03-20 14:17] AkihiroSuda commented on #5237
Expected behavior, but probably we should print some warning when v1 and v2 config are mixed up.

We can't do this, as it breaks compatibility.

[2021-03-21 21:07] aojea opened #5240 "Nightly builds are broken"
**Description**

Nigthly builds are broken since mar17,
https://github.com/containerd/containerd/actions/workflows/nightly.yml

The errors seems to be a dependency on btrfs

[code]

[2021-03-22 02:30] nyanpassu opened #5241 "Supporting remote plugin for tasks etc."
**[Problem encoutered]**
My teammate and I are implementing an container runtime which will start container by systemd. In order to make the container runtime cooperate with containerd(so that we can use our runtime in container orchestration platform) we do implemented our own containerd-shim binary, but we find out when containerd lost connection with shim(also when system rebooted) it will remo

[2021-03-22 08:26] pacoxu commented on #5240
The same error as #3488
Install btrfs-progs-devel before it

[2021-03-22 08:35] pacoxu commented on #5240
The ubuntu base image changed from 18 to 20.04 as https://github.com/actions/virtual-environments/issues/1816.

[2021-03-22 09:22] 4ss3g4f commented on #4853
Has been fixed, not issue with coredns but with authorization kube-apiserver secure port 6443.

[2021-03-22 09:22] #4853 closed

[2021-03-22 13:12] #5240 closed

[2021-03-22 14:15] mikebrow commented on #5177
I think to run windows containers on windows you will  need the right version of [hcshim](https://github.com/Microsoft/hcsshim) installed @kevpar

[2021-03-22 14:58] mikebrow commented on #5237
was hoping we could get away from toml.. and I agree a check for v2 config attempt when in v1 mode makes sense.

[2021-03-23 02:06] #5084 closed

[2021-03-23 02:12] 1141330133 opened #5246 "ctr: failed to resolve reference : unexpected status code [manifests ]: 401 Unauthorized"
#### My system is ubuntu 20.04, containerd.io-1.4.3, I get an error when I download the private image from harbor , Please help me to solve this problem ，thanks

#### This is my configuration file

` cat /etc/containerd/config.toml`
[code]

` ctr --debug i pull h.lbhyun.com/ceph/ceph-grafana:6.6.2`
[code]
#### But I successfully specified the account password through the command,

` ctr i pull h.l

[2021-03-23 02:14] fuweid commented on #5241
@nyanpassu Would you mind to share more details? containerd doesn't restart the container actually. So I want to see more detail here. Thanks

[2021-03-23 03:04] pacoxu opened #5247 "Some failure on Windows (could be flaky) timeout during destroy layers"
Some failure on Windows (could be flaky); posting the start of that dump, in case it's interesting (could be related to the Go 1.14+ changes??)

[code]

_Originally posted by @thaJeztah in https://github.com/containerd/containerd/pull/5209#issuecomment-800617747_

[2021-03-23 03:04] pacoxu commented on #5247
I meet this stack trace in last pr as well.

[2021-03-23 03:05] pacoxu commented on #5247
It seems to be dup with #4924

[2021-03-23 03:05] #5247 closed

[2021-03-23 03:30] pacoxu commented on #5246
`ctr image  pull --user user:password  --plain-http 10.6.150.60:30003/paco/nginx:2`
or
`ctr image  pull --user user:password --skip-verify  10.6.150.60:30004/paco/nginx:2c`

I have to skip verify for https.
But the containerd/kubelet failed to start the pod with the same error.

[2021-03-23 03:51] pacoxu opened #5248 "containerd cannot skip verify for my private registry"
30003 is the http port and 30004 is registry https port.
`ctr image  pull --user user:password  --plain-http 10.6.150.60:30003/paco/nginx:2`
or
`ctr image  pull --user user:password --skip-verify  10.6.150.60:30004/paco/nginx:2c`

I have to skip verify for https.
But the containerd/kubelet failed to start the pod with the same error.

_Originally posted by @pacoxu in https://github.com/containerd/

[2021-03-23 03:51] pacoxu commented on #5248
I find the reason. It may be different with #5246 , so I opened a new one.
I will try to fix it then.

[2021-03-23 05:15] fgendc opened #5249 "Failed to mount /var/lib/containerd/tmpmounts/containerd-mountXXXX: no such file or directory"
**Description**
I'm a Kubernetes cluster with containerd runtime. Due to lack of disk space I had to move the root and state folders to another location  with a softlink
/var/lib/containerd --> /opt/SP/test-user/var/lib/containerd
/run/containerd --> /opt/SP/test-user/run/containerd

After copying the content of those folders, some pods belonging to a DaemonSet are not created. Had to do the same

[2021-03-23 06:37] nyanpassu commented on #5241
Ok, our work is to implementing an low level OCI runtime(like runc), but it will start the container by systemd(also there will be a systemd unit file created) when OCI start is called. We want the runtime to cooperate with containerd(like kata-containers) so we can reuse docker and containerd as the endpoint for our container orchestration platform(for k8s it is containerd cri). A shim runtime is

[2021-03-23 07:35] pacoxu commented on #5248
BTW,  below works. As 10.6.150.60 will be taken as repository host.(adding to mirror lists)

[code]

[2021-03-23 07:48] AkihiroSuda commented on #5249
I don't think we support such usecase. If you use bind-mounts instead of symlinks , it may work.
https://serverfault.com/questions/613179/how-do-i-do-mount-bind-in-etc-fstab

[2021-03-23 09:01] fgendc commented on #5249
Symlinks are working on the other nodes. Maybe I didn't copy something essential inside the /var/lib/containerd folder?
Is there any way to get further details on the error? I've already got Containerd's log level on debug but I can't find anything useful.

[2021-03-23 15:06] mikebrow commented on #5241
the problem: "...failed to connect with shim" on restart of containerd
observation: container bundle is recycled because of the problem ^

desire: "The recycling of container resources is not what we want" even if you can't re-establish a shim to manage the container?

solution: "fork containerd to add support for a remote task plugin" and make it a binary plugin "because golang plugins are not re

[2021-03-23 15:26] mikebrow commented on #5246
the CRI config is only for the CRI enabled clients. ctr is not a CRI enabled client, so it is an expected result that it's not using the CRI config.

The reason crictl is failing is you need to run crictl as root.  Try `sudo crictl`

[2021-03-23 18:43] mikebrow commented on #5249
... not supported, or recommended

might be easier to resize

[2021-03-23 19:11] mikebrow commented on #5248
see comment in the other issue about CRI config not being supported by ctr.

[2021-03-23 21:11] #5151 closed

[2021-03-23 23:30] pacoxu commented on #5248
@mikebrow it is not ctr issue.

I encounted that kubelet cannnot pull image correctly.（ctr works well in this case）

Would you review the linked PR？

[2021-03-24 01:50] 1141330133 commented on #5246
oh,I don't know this configuration file is not applicable to ctr .
Can only use command line for ctr ?

[2021-03-24 02:11] nyanpassu commented on #5241
Because re-establish connection to shim will certainly fail on system reset/reboot, there is no shim process running and we will try to restart shim in our task service implementation.

[2021-03-24 06:54] luciferhs commented on #5079
[plugins."io.containerd.grpc.v1.cri".registry]
      [plugins."io.containerd.grpc.v1.cri".registry.mirrors]
        [plugins."io.containerd.grpc.v1.cri".registry.mirrors."docker.io"]
          endpoint = ["https://dockerhub.mirrors.nwafu.edu.cn"]
        [plugins."io.containerd.grpc.v1.cri".registry.mirrors."www.hsops.com"]
          endpoint = ["https://www.hsops.com"]
      [plugins."io.containe

[2021-03-24 07:08] luciferhs commented on #4950
[code]
Please tell me how to solve it。

containerd 1.4.4
Harbor with Self signed certificate

thanks！

[2021-03-24 09:16] fuweid opened #5259 "integration/client doesn't update go.mod with latest version of containerd"
**Description**

After #5101, the containerd core has two go.mod.
But the test go.mod doesn't update containerd version. After `go mod download/tidy`, the workspace will create change.

**Steps to reproduce the issue:**
1. make integration TESTFLAGS="-run TestCheckpointOnPauseStatus" > /dev/null
2. git --no-pager diff integration/client/go.mod
3.

**Describe the results you received:**

`git --no-

[2021-03-24 11:19] Alan01252 commented on #5246
I'm having a similar problem with containerd. Regardless of what configuration I use I cannot authorise against docker hub credentials.
`pull access denied, repository does not exist or may require authorization: server message: insufficient_scope: authorization failed`

Running crictl manually the image is pulled as expected

`crictl pull --creds my_user:my_pass myorg/my_app:latest`

I'm using k3

[2021-03-24 14:51] ansilh opened #5261 "Container startup with option no-new-privileges get stuck in containerd version 1.4.4"
**Description**
Docker run command with option `--security-opt=no-new-privileges` gets stuck

This issue is originated from k8s where kubelet reports PLEG unhealthy message when CoreDNS starts up.
While checking the spec of CoreDNS, we found that there is a security context set for the coredns container.
[code]
This option will add flag no_new_priv to the container.
When we remove the security con

[2021-03-24 14:55] mikebrow commented on #5079
ctr does not use the CRI config.

[2021-03-24 15:16] logoff commented on #5175
I have the same result on an already running RPi4 for months with Docker. Tried to purge and reinstall everything and experienced the same behaviour.

I tried to downgrade containerd to prior versions 1.3.x and 1.2.x and the error stills reproduces. I don't know how to proceed...

[2021-03-24 17:26] kzys commented on #5175
Ideally speaking we should fix the issue in bbolt itself. Realistically speaking adding bbolt's check command equivalent on containerd to help diagnose the issue is a possible workaround for now. It may not fix the issue though.

https://github.com/etcd-io/bbolt/blob/5082d3bbc22e385ea0f7ffa915cb8b2a4efceb59/cmd/bbolt/main.go#L208

[2021-03-24 17:57] Oats87 commented on #5261
https://github.com/opencontainers/runc/issues/2865 is possibly related to this

[2021-03-24 19:17] ansilh commented on #5261
Thanks @Oats87
I couldn’t repro the issue after replacing  runc `1.0.0-rc93` with `1.0.0-rc92`
https://github.com/opencontainers/runc/releases/tag/v1.0.0-rc92

[2021-03-24 19:26] jayunit100 commented on #5188
@claudiubelu

[2021-03-24 19:53] logoff commented on #5175
Hi @kzys ! Thnak you for your reply. I don't know the internals of containerd, but which Bolt key-value store is being used and may be corrupted? Is there any possibility to completely remove and regenerate it as a workaround? Is there any chance having containerd working again from that point?

Following the thread starting on the issue you mention it seems something quite old. Potentially from 2

[2021-03-24 20:03] #4924 closed

[2021-03-25 02:52] AkihiroSuda commented on #5261
Is this issue closable then?

[2021-03-25 04:15] fuweid commented on #5246
@Alan01252 @1141330133 @pacoxu thanks for reporting the error. As @mikebrow said, `ctr` doesn't read any configuration in `/etc/containerd/config.toml`. I would like to help but I also need your all help that please fill the issue report with the template https://github.com/containerd/containerd/blob/master/.github/ISSUE_TEMPLATE/bug_report.md. Thanks

[2021-03-25 04:21] ansilh commented on #5261
Bug is on runc, hence closing this issue.

[2021-03-25 04:21] #5261 closed

[2021-03-25 06:31] #5128 closed

[2021-03-25 06:36] AkihiroSuda opened #5265 "Add ctd-decoder to cri-containerd-cni-<VERSION>-<OS>-<ARCH>.tar.gz"
**What is the problem you're trying to solve**
imgcrypt config was added to the default `config.toml` in https://github.com/containerd/containerd/pull/5135, but `ctd-decoder` binary is not available in the `cri-containerd-cni-<VERSION>-<OS>-<ARCH>.tar.gz` distribution.

**Describe the solution you'd like**
Add  `ctd-decoder` binary to the `cri-containerd-cni-<VERSION>-<OS>-<ARCH>.tar.gz` distribut

[2021-03-25 07:54] #4691 closed

[2021-03-25 10:08] thaJeztah commented on #5259
@fuweid looks like this was fixed in https://github.com/containerd/containerd/pull/5133 ? https://github.com/containerd/containerd/commit/1fd3d12f93be72e593bc656f000f165bac670acd ?

[2021-03-25 11:39] TBBle commented on #5259
The "fix" is you have to run `go mod tidy` in the integration/client module manually, if a new tag has been added to the current branch or its dependencies have changed such that the resolved versions will be different.

I wasn't aware this was an actual problem, I fixed it because VSCode's Golang plugin flagged that `go.mod` was out-of-date, but it should make no practical difference if people fo

[2021-03-25 13:46] thaJeztah commented on #5259
I think it should be good to keep it up-to-date / in sync with the main `go.mod` (perhaps include in verify). Of course the integration/client module probably wont be used externally, but if it would, external consumers would be using a different version of containerd as was used in our CI.

That said; having multiple modules (especially if they depend on each other) in a single repository will al

[2021-03-25 14:16] TBBle commented on #5259
Yeah, I think the consuming sub-module approach _only_ makes sense for things like integration tests, where they're pulling in a bunch of dependencies that you don't want consumers of containerd or hcsshim (the two examples of this I deal with) to have to pull in as well.

The alternative, as I discovered in a pending go-winio PR, may be a circular dependency: go-winio gains a test (in the main mo

[2021-03-25 21:22] thaJeztah commented on #5259
Opened https://github.com/containerd/containerd/pull/5272 to add some clarification to the go.mod files, and to fix missing overrides in the `integration/client/go.mod`

[2021-03-25 21:24] kzys commented on #5175
The age of the issue mainly shows the difficulty of reproducing the issue, rather than the lack of development.

Regarding the corrupted file, could you share us the stacktrace (like @vpetersson did) and the version of your containerd? I may be able to figure out the file from the line number on the stacktrace.

[2021-03-26 04:12] fuweid commented on #5259
Thanks @TBBle and @thaJeztah for the reply! It is good to choice to check go mod tidy in CI. And I agree with that option. :)

[2021-03-26 08:28] pigletfly commented on #5015
I'm seeing the same issue.When deleting a Pod, the process in the container has exited, but the containerd-shim was still there, then kubelet keeps trying to kill the unwanted Pod.I'm using containerd v1.4.3.

[2021-03-26 09:30] vpetersson commented on #5175
@kzys Would it be possible to simply wipe the database? At least for me, I don't care about the state of the system. I would be happy to just wipe it and start a fresh.

[2021-03-26 11:24] logoff commented on #5175
@kzys you are right, let me give my scenario details.

- Raspberry Pi 4 Model B 4GB
[code]
- Raspberry Pi OS (Raspbian)
[code]

Trying to install Docker CE from official APT repositories for Raspbian Buster, Docker won't boot:
- Package info:
[code]

So, it depends on `containerd.io` package, coming from the same Docker APT repo:
- Package info:
[code]

Taking a look on containerd logs:
[code]
I h

[2021-03-26 16:52] grosser opened #5274 "upgrading from 1.4.3->1.4.4 causes kubernetes PLEG issues"
I know this is a terrible issue, just wanted to raise awareness that there is something going wrong in 1.4.4

we tried with docker `5:20.10.5~3-0~ubuntu-bionic` and `5:19.03.14~3-0~ubuntu-bionic`
both work when installed with older versions of containerd, but something in 1.4.4 causes us PLEG errors in kubernetes
I don't have any good logs to offer either just
[code]

our solution for now is naili

[2021-03-26 18:30] mikebrow commented on #5246
you have to restart containerd after editing the config to get it to load the changed config... there's a guide for configuring the registry config for CRI in the docs/cri directory https://github.com/containerd/containerd/blob/master/docs/cri/registry.md .  We are moving to the docker/moby config model for configuring registries in 1.5+. So hopefully the config difficulties will be reduced.

[2021-03-26 18:46] Alan01252 commented on #5246
hi @mikebrow yeah I was restarting every time and still no joy!
I'm sure it's something trivial I am missing but I have no idea what ;)

[2021-03-26 18:46] vpetersson commented on #5175
I worked around the issue by simply doing the following:

[code]

Not sure why I didn't think about that before. Clearly not an ideal solution but did get the trick done.

[2021-03-26 20:29] mikebrow commented on #5246
run containerd in debug mode.. `containerd -l debug`.. the output should make it fairly clear what the signing issue was..

[2021-03-26 20:29] #5246 closed

[2021-03-27 06:10] paulgmiller commented on #5274
ON 1.4.4 we're seeing pods hang in container creating with only context cancel

[code]

We're trying to get more info by killing container-shim to get a dump but hanve't managed so far. Not sureif this is related or not yet.

[2021-03-27 11:09] logoff commented on #5175
@vpetersson awesome. your workaround worked like a charm. I guess whatever corrupted bbolt store gets removed and the reinstallation re-creates it correctly. in any case it would be helpful investigating which store gets corrupted and why.

Thanks!

[2021-03-27 13:47] fuweid commented on #5274
@grosser Thanks fore reporting the issue. If possible, `kubectl describe node xyz` shows the event, which will be more helpful. If the containerd is hang on something, `ctr pprof goroutines` or `kill -SIGUSR1 $(pidof containerd)` will dump the goroutines of containerd. And Please fulfill the issue with template https://github.com/containerd/containerd/blob/master/.github/ISSUE_TEMPLATE/bug_report.

[2021-03-27 13:54] fuweid commented on #5246
@Alan01252 you can try to remove the `https://` from the config, like

[code]

The configs in toml is only for IP or domain which doesn't include scheme `http://` or `https://`. After you modify the configuration, please restart the containerd and use `crictl info` to check the config is loaded.

REF: https://github.com/containerd/containerd/pull/5251#discussion_r601040531

[2021-03-27 15:21] fuweid commented on #5241
@nyanpassu sorry for late reply. I try to understand this feature request.

I try to explain how the containerd works for container at first. :)

When we use containerd to manage lifecycle of container, we need to configure how to run container at first., like what container's rootFS is, entrypoint, CPU resource and so on. The configuration will be stored in metadata plugin which managed by [conta

[2021-03-27 21:06] paulgmiller commented on #5274
We;'re still trying to get a dump of the hung containerd-shim/runc but I do have goroutines from an instance with several hangs.
[goroutines.txt](https://github.com/containerd/containerd/files/6216399/goroutines.txt)

Seems like its hanging at (*Task).Start but still trying to get more.

[2021-03-29 02:10] fuweid commented on #5274
@paulgmiller The attachment seems like part of content, would you parse the full content? thanks

[2021-03-29 05:21] nyanpassu commented on #5241
@fuweid fu Thank you for your reply.

I've go through the code and understand how containerd works, and in our case we need to make the containerd task persistent as the real task process is managed by systemd. As long as the systemd unit exists the task exists(we will return paused status when the unit is failed). We can store the bundle file in persistent folder but still we must do the clean up

[2021-03-29 08:18] pacoxu commented on #5013
updated to #5211 3.5

kubernetes will update to 3.5 in 1.22
https://github.com/kubernetes/kubernetes/pull/100292

[2021-03-29 09:16] wu0407 opened #5280 "create container stuck by run init"
**Description**
docker cli stuck on create container on it had running many containers,  it cause by `runc init` still running.
total running 128 containers
I debug into `runc init`  find that hang on `filter.ExportBPF`
https://github.com/opencontainers/runc/blob/12644e614e25b05da6fd08a38ffa0cfe1903fdec/libcontainer/seccomp/patchbpf/enosys_linux.go#L117-L120

relate issue https://github.com/openco

[2021-03-29 09:43] fuweid commented on #5241
hi @nyanpassu

In your design, if the process dies, you will restart the task instead of recreate shim?

containerd allows to build your own binary, like https://github.com/AkihiroSuda/containerd-example-custom-daemon. You can build your own task plugin with containerd core vendor. But I am still trying to get your design into current containerd framework which make integration easier. :)

In cont

[2021-03-29 10:47] nyanpassu commented on #5241
Hi @fuweid .

In our design there is a shim runtime and oci runtime of our own, and our oci.create will create a systemd unit, oci.start will start it(systemctl start). The real process of container is the child of systemd process, but not shim process, the shim is just a dummy. The container will be restart by systemd when it encounter error, if it is failed, our oci.state will report its state a

[2021-03-29 14:23] okossuth opened #5281 "Updating containerd to 1.4.4 breaks docker run using sysctl flag?"
Hello

We have just found the ugly way that containers started with the sysctl flag are failing to start:

docker run --sysctl net.core.somaxconn=16384 --restart always -m $nginx_memory -v /var/log/nginx:/var/log/nginx -d --net=host XXXXXXXXXXXXXXXXX.dkr.ecr.$REGION.amazonaws.com/$nginx_image:$nginx_version

we get this error:

docker: Error response from daemon: OCI runtime create failed: sysctl

[2021-03-29 16:01] xabufr opened #5282 "Mixed/truncated log lines"
**Description**

Under high log volume, some of the logged lines seems to be truncated/mixed with other lines.

I get this bug in production under high load cirtumstances, but it seems easier to reproduce with minikube, with less available CPU. Sometimes lines logs are just truncated, sometimes they are mixed (I found this because of invalid JSON log lines / JSON log lines with unknown/forbidden k

[2021-03-29 20:41] okossuth commented on #5281
This can be closed, we found that the problem was in an update of the runc package, that contains a fix for https://github.com/opencontainers/runc/issues/2693

[2021-03-29 20:41] #5281 closed

[2021-03-29 20:57] FFMMM commented on #4120
Just wanted to get the conversation started around

IIUC from @kzys, any such change breaks existing shims, including 3p ones. It also puts the onus on the consumers (the shim writers) to update their code.

Kaz also mentioned that if breaking compatibility like this is a non starter but we still wanted to allow log level config, we could explore exposing the config as env variables.

Any thoughts

[2021-03-29 22:19] cpuguy83 commented on #5261
I can repro easily in an AKS cluster with rc93. rc92 works just fine. However I've only ever seen the issue with `io.containerd.runtime.linux.v1`, not `io.containerd.runc.v2`.

As soon as I `strace` the `runc init` it exits.

We do not use `no-new-privileges`.

[2021-03-29 22:25] cpuguy83 commented on #5261
@ansilh What version of Docker is that?

[2021-03-30 03:25] mxpv commented on #5093
The PR is merged in, closing.

[2021-03-30 03:25] #5093 closed

[2021-03-30 05:11] ansilh commented on #5261
@cpuguy83

Docker Version: `19.03.15`

<details><summary><code>docker info</code></summary>

[code]
</details>

[2021-03-30 05:12] fuweid commented on #5241
Hi @nyanpassu

ShimV2 is one of external plugins mentioned in https://github.com/containerd/containerd/blob/master/docs/PLUGINS.md. Currently, the task service is built-in plugin and runtime author can focus on the shimV2 API implementation. Though it isn't easy to adopt with your design, I hope you can bring more input and see how to fix this `problem` :).

The containerd is not just binary or da

[2021-03-30 05:33] cpuguy83 commented on #5261
Ok yeah that's the v1 shim as well.

[2021-03-30 07:27] nyanpassu commented on #5241
@fuweid

Yes the task service is built-in plugin, however I see that it will try to find a specific runtime platform for each container's shim runtime, and a remote runtime is reasonable to me(althrough there are some difficulties with method signature of current runtime platform). The best way of course is to fix golang plugin problems so as to allow binary plugin loaded dynamically, but I don't

[2021-03-30 12:29] payall4u opened #5285 "Optimize cri redirect logs to reduce the CPU usage."
**What is the problem you're trying to solve**
The data flow of stdout/stderr of container is as follows:
[container]  --pipe-> [containerd-shim] --fifo-> [containerd-cri] --file-> disk

We find the containerd uses a lot of cpu to format the log, so I try to optimize the function [redirectLogs](https://github.com/containerd/containerd/blob/f201b78b9065f167071bf472a9708b3921c3d5d1/pkg/cri/io/logger

[2021-03-30 14:48] claudiubelu commented on #5188
I've tried this as well with ``containerd v1.4.3``, and can confirm the issue. I've also tried something similar with ``crictl``, but that's not an issue there, the failed container still shows up when listing the containers (``crictl --runtime-endpoint=npipe://./pipe/containerd-containerd ps``), can be removed, and another can be created in its stead, which can then be started.

[2021-03-30 16:09] grosser commented on #5274
FYI someone posted reproduction steps in https://github.com/kubernetes/kubernetes/issues/45419

[2021-03-30 17:04] ansilh commented on #5274
Possible dup https://github.com/containerd/containerd/issues/5261

[2021-03-30 17:09] grosser commented on #5274
yeah, sounds like the same, can close and be tracked on runc

[2021-03-30 22:55] #5274 closed

[2021-03-30 23:11] cyrilcros opened #5290 "Support registry endpoints with a path in the URL"
## What is the problem you're trying to solve

 Docker V2 api (https://docs.docker.com/registry/spec/api/#overview), states that

An example use case is Harbor, which makes users do something like `docker pull registry.domain/project/REPOSITORY[:TAG]` instead of `docker pull registry.domain/REPOSITORY[:TAG]` ; each `project`  has different rules/users.

Well, I don't think you can a registry endpo

[2021-03-31 05:34] huisebug opened #5386 "How to log in to dockerhub"
This is my configuration：

    [plugins."io.containerd.grpc.v1.cri".registry]
      [plugins."io.containerd.grpc.v1.cri".registry.mirrors]
        [plugins."io.containerd.grpc.v1.cri".registry.mirrors."docker.io"]
          endpoint = ["https://registry-1.docker.io","https://fogjl973.mirror.aliyuncs.com"]
      [plugins."io.containerd.grpc.v1.cri".registry.configs]
        [plugins."io.containerd.

[2021-03-31 07:22] wzshiming opened #5294 "Support export Containerd's GRPC services as TCP"
**What is the problem you're trying to solve**
Use Containerd remotely. (e.g. In Windows, MacOS, VM)

**Describe the solution you'd like**
1. Containerd
 - Support export Containerd's GRPC services as TCP
2. [Ctr](https://github.com/containerd/containerd/tree/master/cmd/ctr)
 -  Support use TCP to connect to the Containerd
2. [nerdctl](https://github.com/containerd/nerdctl )
  - Support use TCP to

[2021-03-31 07:33] wzshiming commented on #5294
@mikebrow @fuweid @crosbymichael @AkihiroSuda
Can i implement this?

[2021-03-31 07:38] AkihiroSuda commented on #5294
Could you clarify the scope of this proposal more explicitly, e.g., adding remote gRPC services for pulling images and managing CNI conflists.

[2021-03-31 07:41] AkihiroSuda commented on #5294
If we want to support this, I think local nerdctl client should just execute `ssh USER@REMOTEHOST nerdctl` without directly talking to remote containerd. We may need some extra RPC for syncing `~/.docker/config.json` and build contexts, but these stuffs are unlikely to be in the scope of containerd daemon.

[2021-03-31 08:05] wzshiming commented on #5294
I hope this can be used to completely replace Docker.

[2021-03-31 08:10] wzshiming commented on #5294
Updated.

[2021-03-31 15:21] #5282 closed

[2021-03-31 16:16] fuweid commented on #5294
From https://github.com/containerd/containerd/blob/master/SCOPE.md#scope

Would you mind to provide more detail, not just `replacing docker`? Thanks

[2021-03-31 22:49] jsturtevant opened #5297 "ctr does not work with multi-arch images on Windows"
**Description**
While working on #5188 I found that ctr.exe doesn't work with multiple platform images when running on 20H2 host:

[code]

While the pause image does support 20h2:

[code]

**Steps to reproduce the issue:**
1.
2.
3.

**Describe the results you received:**
error when pulling image

**Describe the results you expected:**
To pull multi arch images via ctr

**What version of containerd

[2021-03-31 23:58] outworlder commented on #4547
Any info on this kernel bug?

[2021-04-01 02:01] cseufert commented on #5280
Have you tried running rc92 of runc? I have considered it but not that happy to do it on a production box.

You can get static binaries for runc here: https://github.com/opencontainers/runc/releases/tag/v1.0.0-rc92

[2021-04-01 02:43] wu0407 commented on #5280
not reproduce with runc rc92

[2021-04-01 05:18] wzshiming commented on #5294
@fuweid
Thanks, I didn't notice this, got it.

@AkihiroSuda
 I think about another plan, e.g. Implement this feature through ssh proxy the unixsocks
 Can I build support for Windows/MacOS binaries for nerdctl?

[2021-04-01 05:26] AkihiroSuda commented on #5294
If we could port Kata Containers (or krun, runq, whatever) to Windows/MacOS to run Linux containers on local
 containerd on Windows/MacOS hosts, we do not need to have ability to connect to remote containerd?

[2021-04-01 05:39] wzshiming commented on #5294
Of course, but by doing so, the complexity of the whole thing has increased a lot.
nerdctl builds support for Windows/MacOS, this is still going to be done.

[2021-04-01 05:43] AkihiroSuda commented on #5294
True, but adding new gRPC services might be more complex and hard to reach consensus..

[2021-04-01 05:48] wzshiming commented on #5294
Do not add new gRPC service, Just proxy remote unixsock to the local.

[2021-04-01 06:08] AkihiroSuda commented on #5294
How will it work with unpacking, volume management, and CNI management?

[2021-04-01 21:53] dmcgowan commented on #5265
Would this include a `/etc/containerd/ocicrypt/ocicrypt_keyprovider.conf` file as well?

[2021-04-02 02:34] wzshiming commented on #5294
I didn't think about it well.
I thought it was enough to connect to `containerd.sock`, later found out that it was not like this.
Later, I considered whether to start a daemon for `netctl` and use gRPC to provide services.  Isn't this `dockerd`?

So i gave up this plan!

@AkihiroSuda @fuweid  Thanks for your help

[2021-04-02 02:34] #5294 closed

[2021-04-02 03:05] AkihiroSuda commented on #5265
I guess not

[2021-04-02 04:24] #4370 closed

[2021-04-02 07:01] jacobcrawford commented on #4828
We are also having this problem specifically with containerd. Any updates?
What is docker doing since they fixed the problem?

[2021-04-02 12:21] cseufert commented on #5280
Good to know, thanks

[2021-04-02 13:00] lumjjb commented on #5265
I don't think it would, its an optional config, and will work fine if the file is omitted.

[2021-04-03 02:13] rolfedh commented on #4884
@jayunit100 is being modest. They have this more detailed writeup on the issue here: https://jayunit100.blogspot.com/2020/12/debugging-containerd-on-windows.html

[2021-04-03 04:18] khs1994 opened #5306 "[1.5] set plugins."io.containerd.grpc.v1.cri".registry.config_path value, containerd cri load failed"
**Description**

config.toml set `plugins."io.containerd.grpc.v1.cri".registry.config_path` value, containerd cri plugin load failed

exec `containerd --config ./config.toml config dump`, find containerd automatic add  `plugins."io.containerd.grpc.v1.cri".registry.mirrors`

[code]

this is reason?

**Steps to reproduce the issue:**
[code]
1. containerd --config ./config.toml

**Describe the result

[2021-04-03 04:19] khs1994 commented on #5306
@AkihiroSuda

[2021-04-05 10:04] AkihiroSuda commented on #5265
PR: https://github.com/containerd/containerd/pull/5308

[2021-04-05 17:21] alakesh commented on #3057
How far are we with the tracing support? Is anyone actively working on it. @kevpar? I would like to help/collaborate on tasks actively. Appreciate your comments!

[2021-04-05 17:33] kevpar commented on #3057
Previously it was unclear if we should really be using OpenTracing or OpenCensus, so we got bogged down in that. Now that they have merged into OpenTelemetry it's much clearer what we should use. I've been intending to work on this again once Go OpenTelemetry was production ready, but maybe we don't really need to wait for that.

[2021-04-05 18:18] alakesh commented on #3057
Thanks @kevpar.  I will spend some time this week to come up to speed on how we can use OpenTelemetry. I guess coming up with a detailed plan on how to implements is the next step?

[2021-04-05 18:36] kevpar commented on #3057
I think the first steps are:
- Hook up GRPC and TTRPC with hooks to auto-create/propagate spans
- Add code to create spans in important areas and add useful attributes to them (e.g. adding image name to the image pull span)
- Figure out what exporters should be supported (I think adding a simple Logrus exporter to start would be useful)

[2021-04-05 20:36] mikebrow commented on #5306
fix here:
https://github.com/containerd/containerd/pull/5304

[2021-04-05 23:28] cpuguy83 commented on #5280
This seems likely due to opencontainers/runc#2865

I don't think we have any actionable items here.
If people are hitting this you'll need to downgrade runc to rc92 or wait for rc94 (or use a build from HEAD which is fixed).

[2021-04-05 23:28] #5280 closed

[2021-04-06 13:46] adelina-t commented on #4878
@TBBle indeed this is targeting multiple win versions and will be achieved via AzureVM created by GithubAction job ( see: https://github.com/containerd/containerd/pull/5165 ). However, take a look at the work done here by @claudiubelu: https://github.com/containerd/containerd/pull/5163 . This enables CRI-integration tests for Windows and with this in the existing CI job can be easily adapted to ru

[2021-04-07 04:33] zzswang commented on #3974
Any update?

This error is happened very frequently in the production cluster, the pods are hanging there.

[2021-04-07 14:46] TBBle opened #5317 "There are no tests for WithMediaType in Comparer.Compare"
_Originally posted by @AkihiroSuda in https://github.com/containerd/containerd/pull/4399#discussion_r607549446_ discussing a new implementation of `Compare`.

Per that thread, it seems the only in-tree use-cases for `diff.WithMediaType` are `ctr snapshot diff --media-type`, and a `MediaType` field in `api/services/diff/v1.DiffRequest`, which itself is populated by applying that `diff.WithMediaType

[2021-04-07 19:43] #5265 closed

[2021-04-08 03:20] azuwis commented on #4950
I have a similar problem, it's reproducible even if the private registry is not accessible. Tested on containerd 1.4.4
[code]

[code]

[code]

Remove entire `[plugins.cri.registry.configs]` or change config.toml to, then it works:
[code]
[code]

[2021-04-08 03:21] muyi1024b commented on #825
@kongyibjcn @estesp @crosbymichael
I have met the same problem when i make containerd. I tried to install btrfs-progs-devel, but yum did not have btrfs-progs-devel. I have no idea how to solve this problem.

uname -r
5.4.60-v8.1.el8

[2021-04-08 12:15] ning1875 commented on #4434
same problem

[2021-04-08 15:27] mikebrow commented on #5290
`/project/REPOSITORY` are known as the path components..

It sounds like you want to map, insert, or omit certain path components when translating from the host registry domain to endpoint registry mirror domains in the config.

problem is there would have to be a set of maps.. and the rules would be complex

Typically path component 1 is the group domain.. and path component 2 is the repository o

[2021-04-08 17:07] cyrilcros commented on #5290
@mikebrow Thanks for your reply, I am closing this. I have now realized that this is overly complex/beyond `containerd`'s role.
Right now, the ways I have seen to maybe do that is:
- add a proxy to rewrite calls to various container repositories, which is tricky
- https://github.com/indeedeng-alpha/harbor-container-webhook . It is still pretty weird, and would likely mess up gitops style setups.

[2021-04-08 17:07] #5290 closed

[2021-04-08 23:21] qiutongs opened #5325 "How should containerd react when the local disk is slow?"
**Description**
We have seen a couple of problems in GKE that containerd is not responding and eventually makes the node unhealthy.

One category of the root causes is slow disk where the boot disk suffered heavy I/O and trigged disk throttle. When that happens, containerd will be kind of "stuck" and not responding. Then kubelet will complain "container runtime is down, PLEG is not healthy" and re

[2021-04-08 23:42] dmcgowan commented on #5325
Are there specific requests which aren't responding? It would help to understand what some of the errors are being seen. Most of the log messages you posted are expected and just the result of plugin auto-detection. It would be helpful to understand if there are specific fails on container startup, or if you can capture a stack trace when containerd is "stuck". It would be helpful to understand wh

[2021-04-08 23:54] cpuguy83 commented on #5325
Also are you sure this is not related to issues caused by runc v1.0.0-rc93?
https://github.com/opencontainers/runc/issues/2865

[2021-04-09 03:12] fuweid commented on #4900
fixed by #5302. release 1.5 is coming soon. stay tune.

Thanks for reporting!

[2021-04-09 03:12] #4900 closed

[2021-04-09 06:06] fuweid commented on #5325
The github issue guide provides some hints, for example, you can use `ctr pprof goroutines` to dump stack or `kill -USR1 $(pidof containerd)`. When the local disk works in heavy mode (`iostat -dmx 1` show the result), it will impact the processes in system.

I think it will be helpful if you can provide stack dump of containerd, iostat result and system load.

[2021-04-09 06:11] fuweid commented on #5306
closed by #5304

[2021-04-09 06:11] #5306 closed

[2021-04-09 06:12] fuweid commented on #5248
@pacoxu this issue can be closed?

[2021-04-09 06:19] pacoxu commented on #5248
of course.

close per https://github.com/containerd/containerd/pull/5251#issuecomment-814576688
https://github.com/containerd/containerd/pull/5309/files

[2021-04-09 06:19] #5248 closed

[2021-04-09 06:21] fuweid commented on #5248
Thanks @pacoxu !

[2021-04-09 07:29] dashjay commented on #759
When using the built-in storage control of K8S, the POD will be expelled when the disk usage of the POD exceeds the limit. This does not what we desired. but I things are difficult to handle:
- there are a lot of filesystem: xfs, nfs, overlayfs.....  we can not do the same thing for every fs.
- maybe k8s will do this, so we don't have to do it again (maybe)
- ...... a lot ...

[2021-04-11 04:42] yongxiu opened #5330 "Failed to pull from second or third registry mirror if registry mirrors have different auth"
**Description**

After specified multiple registry mirrors for one registry, and they have different username and password, I found that crictl is unable to pull from the second registry mirror or third one.
But if I moved the second registry mirror to first, then I'm able to pull from this new first registry mirror, but not the new second one.
It will be able to pull from second one only if the s

[2021-04-12 05:52] #5297 closed

[2021-04-12 14:05] dims opened #5340 "Kubernetes harness problems with config.toml version 1"
here's the story:
- We updated some CI jobs in kubernetes to use 1.5.0 rc0 of containerd [here](https://github.com/kubernetes/test-infra/pull/21735)
- This caused a bunch of jobs to fail in the weekend, see the red failures in 4/9 and 4/10 [here](https://testgrid.k8s.io/google-gce#gce-ubuntu-master-containerd&width=5)
- The problem was tracked to the following error message in containerd log
[code

[2021-04-12 16:49] #4394 closed

[2021-04-12 20:16] thaJeztah opened #5345 "[v1.5.0 GA] hygiene: tag github.com/containerd/x modules before GA"
During the v1.5.0 pre-release cycles, we updated some components to current
"master" / "main" branches. Some of those components already did releases.

While it's "ok" to temporarily depend on unreleased versions of dependencies
(in pre-releases), we should return to tagged versions of these modules before
v1.5.0 GA. For modules we maintain, we can tag new releases, for other modules,
we need to r

[2021-04-12 21:43] dims commented on #5345
as a maintainer of k8s, i'd appreciate if a release version of containerd uses as many tagged releases of dependencies (especially those from github.com/containerd/xyz).

[2021-04-12 21:49] mikebrow commented on #5345
sgtm

[2021-04-13 01:27] dims commented on #5340
we landed 3 PRs based on this:
- https://github.com/containerd/containerd/pull/5335
- https://github.com/containerd/containerd/pull/5342
- https://github.com/containerd/containerd/pull/5341

[2021-04-13 01:27] #5340 closed

[2021-04-13 02:11] zvier commented on #5015
Two shim, one was spawned by old containerd before killed, which ppid will change to 1. And the other was spawned the new containerd, which is the current work shim. This can also be reproduced by change contaienrd config's state.

[2021-04-13 02:16] zvier commented on #5015
If the containerd-shim's ppid is 1, need to be cure by devops I think.

[2021-04-13 14:48] codex70 opened #5347 "Check kubeadm version matches kubernetes version"
**Description**
Trying to create a new installation with 6 nodes, everything appears to work correctly and runs for several minutes until it gets to the task:
TASK [download : prep_kubeadm_images | Check kubeadm version matches kubernetes version]
with the following error:
 "The conditional check 'not kubeadm_version == downloads.kubeadm.version' failed

**Steps to reproduce the issue:**
1. Clean

[2021-04-13 15:20] mikebrow commented on #5347
Not sure what part of your setup is breaking kubeadm .. but please run crictl info and report results. This will pretty much tell us if you have a container runtime up and ready.

[2021-04-13 15:29] codex70 commented on #5347
Hi Mike,

crictl wasn't installed. After installing I get the following:
WARN[0000] runtime connect using default endpoints: [unix:///var/run/dockershim.sock unix:///run/containerd/containerd.sock unix:///run/crio/crio.sock]. As the default settings are now deprecated, you should set the endpoint instead.
ERRO[0002] connect endpoint 'unix:///var/run/dockershim.sock', make sure you are running as r

[2021-04-13 15:33] mikebrow commented on #5330
thank you for the careful and detailed description of your problem @yongxiu

Of note we have a brand new host configuration model in 1.5 (and have deprecated configs & mirrors from 1.4) see:
https://github.com/containerd/containerd/blob/master/docs/cri/config.md#registry-configuration
and this wip document that describes hosts.toml:
https://github.com/containerd/containerd/pull/5309/files

[2021-04-13 15:42] codex70 commented on #5347
After following: https://kubernetes.io/docs/setup/production-environment/container-runtimes/#containerd to install containerd as the runtime, I get the following output:
WARN[0000] runtime connect using default endpoints: [unix:///var/run/dockershim.sock unix:///run/containerd/containerd.sock unix:///run/crio/crio.sock]. As the default settings are now deprecated, you should set the endpoint inste

[2021-04-13 15:43] mikebrow commented on #5330
Second note.. most uses of CRI pull image come through kubelet which passes auth to use from image pull secrets.

[2021-04-13 16:17] nopa607 commented on #5193
i meet the same situation too. did u figure it out?

[2021-04-13 16:42] dmcgowan commented on #5345
go-cni has been tagged v1.0.2

[2021-04-13 18:18] codex70 commented on #5347
For context, these are newly set up VMs in a private data center running ubuntu 20.04. I didn't install anything extra, just followed the install instructions from https://github.com/kubernetes-sigs/kubespray, python3 and pip3 were already installed.

The only other thing to note is that docker was installed on the host machine. Is it possible there is a conflict with the version of docker that's

[2021-04-14 00:59] mikebrow commented on #5347
Looks pretty good with the exception of CNI.

I think you are missing your /etc/cni/net.d/10-containerd-net.conflist

you should be able to extract it from the release tar.. and cp to that path.. ^

https://github.com/containerd/containerd/blob/master/docs/cri/installation.md

[2021-04-14 05:09] dmitry-irtegov opened #5352 "ctr image check does not report the check result"
**ctr image check return code is always 0**

I am trying to implement a smart pull script that checks the image existence before pulling.  I tried to use `ctr image check` subcommand

**Steps to reproduce the issue:**
[code]

**Describe the results you received:**

As you can see, `ctr image check` return code is zero independent of the check result.

**Describe the results you expected:**

`ctr i

[2021-04-14 06:07] muyi1024b commented on #5193
@nopa607
Maybe it is an OOM problem. I increased the memory of the virtual machine, and it worked!

[2021-04-14 06:07] muyi1024b commented on #5193
@nopa607
Maybe it is an OOM problem. I increased the memory of the virtual machine, and it worked!

[2021-04-14 06:12] aiaiai-czh commented on #5193
@nopa607
I met this problem when i startd the containerd process with the config.toml, and i put this config.toml in the ~/, but when put it in the /etc/containerd/config.toml, i worked successful

[2021-04-14 06:46] nopa607 commented on #5193
could u show me the config.toml？i tried your method and it still not work，i suspect the problem may cause by the config.toml.

[2021-04-14 06:48] aiaiai-czh commented on #5193
@nopa607
[code]

[2021-04-14 07:20] nopa607 commented on #5193
i works for me!  I changed the virtual machine memory from 1GB to 4GB, i finally works! Thanks!

[2021-04-14 07:22] nopa607 commented on #5193
i figure this bug from @muyi1024b method, thanks for your help 谢谢!

[2021-04-14 07:27] codex70 commented on #5347
Hi Mike,

I've done a completely clean install, and had all the same issues. I've reinstalled crictl using your suggestion and now I get the following output (crictl now doesn't show any errors and appears to be working):
{
  "status": {
    "conditions": [
      {
        "type": "RuntimeReady",
        "status": true,
        "reason": "",
        "message": ""
      },
      {
        "type": "

[2021-04-14 07:37] codex70 commented on #5347
I have also tried different versions of kubernetes changing "kube_version:" in "inventory/mycluster/group_vars/k8s-cluster/k8s-cluster.yml"

I'm haven't changed anything else in the configuration after running:
declare -a IPS=(## MY IP LIST##)
CONFIG_FILE=inventory/mycluster/hosts.yaml python3 contrib/inventory_builder/inventory.py ${IPS[@]}

The only other interesting thing is that I see the foll

[2021-04-14 07:46] thxCode opened #5356 "[Windows] failed to enable debugging npipe"
**Description**

**Steps to reproduce the issue:**

1. Follow [sig-windows-tools/Install-Containerd.ps1](https://github.com/kubernetes-sigs/sig-windows-tools/blob/master/kubeadm/scripts/Install-Containerd.ps1) to configure ContainerD in Windows Server 2019 (10.0.17763.1817).
2. Enable debugging in `config.toml` as below.
[code]

**Describe the results you received:**

[code]

**Describe the result

[2021-04-14 09:28] codex70 commented on #5347
Hi Mike,

I just noticed it was very similar to the open issue: https://github.com/kubernetes-sigs/kubespray/issues/7497

and that there is a pull request open: https://github.com/kubernetes-sigs/kubespray/pull/7498

If I use the branch from that pull request, it seems to work properly, however I'm not sure where the issue is. If I just copy the latest changes from that branch to my copy of master