[2022-01-12 14:07] gabriel-samfira opened #6436 "Receiving an empty stats response will result in an error"
### Description

When querying the stats of a stopping container on Windows, an error will be returned:

[code]

On a fully stopped container, the shim will return a valid response, with unset values for metrics like CPU and memory, but a stopping container may return something similar to:

[code]

### Steps to reproduce the issue

The following test can reproduce this issue"

[code]

### Describe

[2022-01-12 14:11] gabriel-samfira commented on #6436
xref: https://github.com/kubernetes/kubernetes/issues/106278

[2022-01-12 15:32] thaJeztah commented on #6429
Also from slack; the exit code on the cli side remains the same

[code]

But I suspect this may be because there's this (kinda horrible) hack in the cli to deal with specific cases; https://github.com/docker/cli/blob/abc8c9b07fb92c2fde03504a33d6327dfde42bfb/cli/command/container/run.go#L283-L298

[code]

[2022-01-12 15:57] fuweid commented on #6429
Introduced by https://github.com/containerd/containerd/pull/5918/files#diff-6602428018deda68b93f34f57f1514b93588edb524a0ef9e343ca10a58e4b24dR238.

Before that change, the task.Create can be described by following steps:

[code]

If step 3 fails, runtimev2 manager will close the ttrpc connection and trigger the callback.
The callback will call shimv2.delete command to cleanup resource.

[code]

Sin

[2022-01-12 16:54] nneram commented on #6389
This seem related to https://github.com/containerd/containerd/issues/5837.

I think that this behavior, even if it was expected in the first place, can be considered as a bug.

[2022-01-12 18:27] fredcoq opened #6438 "Registry mirror configuration is not active / config_path set-up mode."
### Description

Registry mirrors set-up for a pull-through cache for docker.io.
Configuration was done following the guidelines from: https://github.com/containerd/containerd/blob/main/docs/hosts.md

### Steps to reproduce the issue
Containerd 1.5.9
Crictl 1.21.0

CRI configuration for registries (from /etc/containerd/config.toml) and host mirror configuration.
[code]
Registry certificates are up

[2022-01-13 13:22] luoch opened #6441 "`ctr image import` can not import specific platform image"
### Description

`ctr image import` command can not import an image which is created with `--platform` option.
It will report an error: `ctr: content digest sha256:xxx: not found`

### Steps to reproduce the issue

1. `$ ctr image pull --platform linux/amd64 docker.io/library/postgres:12`
2. `$ ctr image export --platform linux/amd64 postgres-12.tar docker.io/library/postgres:12`
3. `$ ctr image i

[2022-01-13 13:26] luoch commented on #6441
This issue is not exist at version: `ctr containerd.io 1.4.12`. Which is deliver with docker-ce `Docker version 19.03.13, build 4484c46d9d`

[2022-01-13 14:47] #6436 closed

[2022-01-13 17:13] alunsin opened #6442 "Test images needed for ppc64le"
### What is the problem you're trying to solve

I would like to make the containerd tests working on ppc64le.
Currently the test 'volume-copy-up' and 'volume-ownership' are missing for ppc64 on the GH's registry.

### Describe the solution you'd like

Could a maintainer trigger the GH's workflow [Build volume test images](https://github.com/containerd/containerd/actions/workflows/build-test-images

[2022-01-13 18:06] estesp commented on #6442
I ran it @alunsin; looks like it worked :)

[code]
(skipped the rest of the output, but this shows the ppc64 entry)

[2022-01-13 18:15] alunsin commented on #6442
Hi @estesp  that was quick :)
That's look  based on the run some quick 'docker run' checks . Thank you for your help on this

[2022-01-13 18:15] #6442 closed

[2022-01-13 19:19] cruzanstx commented on #4011
I am also running into this issue.

[2022-01-14 01:33] vsxen commented on #4547
ping @tiny1990

[2022-01-14 09:49] dungdm93 commented on #4604
@danielfoehrKn If the root cause is because of slow disk, I wonder why docker is not suffer from the same issue.

[2022-01-14 09:56] danielfoehrKn commented on #4604
At least for us, the disk was most likely the reason why the initial request to the CRI timed out.
After it timed out, then the pod could not be created because each subsequent API call by the kubelet ran into the `failed to reserve container name` problem.

We have not tested it on docker. However, if dockerd/docker-shim does not have the same problem due to keeping some false "state", then subse

[2022-01-14 16:23] mikebrow commented on #4604
Per CRI, containerd is receiving and processing requests in parallel. Kubelet has a couple bugs/issues in that it's making to many parallel requests even under disk pressure, then when a timeout occurs on it's side, it fails to recognize the problem was of it's own creation, presumes asking the CRI to do the same thing again will make it work this time even though it's still doing what was previou

[2022-01-14 16:57] jsturtevant commented on #4604
I have also seen something similiar with the Windows sandbox creation in the Windows e2e tests recently. I looked for an issue to track possible changes to kubelet and couldn't find one so created: https://github.com/kubernetes/kubernetes/issues/107561

[2022-01-14 17:20] relyt0925 commented on #6209
So it seems to me there is a regression:

@mikebrow @thaJeztah just to confirm because it seems like that issue has no movement is there a planned course of action to get containerd working with RHEL 7 or is the community saying they are dropping support for it?

[2022-01-14 23:08] cpuguy83 commented on #6209
This should fix it: https://github.com/containerd/containerd/pull/6447

I would personally advise people to use binaries targeted at their distro, though.

[2022-01-15 22:51] dnwe opened #6449 "periodically after host reboot containerd fails to startup containers with "no such device" for tmpmounts"
### Description

periodically after bringing up a kubernetes host, the containerd runtime seems to be a in a broken state whereby it cannot mount in tmpmounts

e.g.,

containerd[1232]: time="2022-01-15T17:20:51.006195517Z" level=error msg="RunPodSandbox for &PodSandboxMetadata{Name:example-pod-name,Uid:f4d624c6165219e40dcf06c98a3f6226,Namespace:kube-system,Attempt:1,} failed, error" error="failed

[2022-01-16 04:33] dcantah commented on #6313
Sorry for the delay here, I'll put in the relevant platform functionality soon for ctr, however there was another issue in the shim that you would have hit shortly after. That's being resolved here https://github.com/microsoft/hcsshim/pull/1270 (whenever we decide what approach to take haha). Hopefully we can get this in before 1.6. Question though, you'll need a rootfs with the guest agent inside

[2022-01-16 15:11] dnwe commented on #6449
[code]

[2022-01-16 15:17] dnwe commented on #6449
Hmm so it looks like the overlay kernel module hadn't been automatically loaded for some reason. Manually inserting it caused containerd to recover:
[code]

Any pointers on what might have caused that?

[2022-01-16 15:20] dnwe commented on #6449
An interesting, looks like the `modules.dep` and other files have been zero'ed/corrupted somehow:
[code]

[2022-01-16 15:30] dnwe commented on #6449
So with the empty `modules.dep` (i.e., a broken `depmod -a` seems to have happened at boot or something) `modprobe overlay` _fails_ because it can't find it from the modules index. The `insmod` I mentioned above worked because it had the absolute path to the module.

This problem is hidden by the change made under https://github.com/containerd/containerd/pull/2776 because the containerd service ap

[2022-01-16 20:35] dnwe commented on #6449
Is there any merit to having `ExecStartPre=-/sbin/depmod -a` the line before the modprobe one in the .service definition?

[2022-01-17 06:59] ckyoog commented on #6441
Run into this issue too. `export`, `push`, `pull`, the 3 subcommands all have option `--platform`. Why `import` doesn't?

[2022-01-17 10:54] RichardoC opened #6450 "Creating misleading tags via ctr pull"
### Description

It's possible to pull tags that don't exist if you provide a digest. This could be used to cause individuals to download a compromised image by misleading them about the origin

### Steps to reproduce the issue

1. sudo ctr images pull docker.io/library/alpine:fake@sha256:451eee8bedcb2f029756dc3e9d73bab0e7943c1ac55cff3a4861c52a0fdd3e98
docker.io/library/alpine:fake@sha256:451eee8b

[2022-01-17 14:03] nikhita commented on #6387
@thaJeztah @afbjorklund @jonyhy96 thanks for helping nail that down! I've created https://github.com/kubernetes/publishing-bot/pull/285 in Kubernetes to stop including `.gitattributes` files in k8s libraries. That should solve the issue for the future.

[2022-01-18 09:46] thaJeztah commented on #6387
Thanks @nikhita !

[2022-01-18 10:26] afbjorklund commented on #6387
The old files haven't flipped yet, so still holding up. It's a bit random, how many months pass between it happens.

[2022-01-18 18:02] anusha-ragunathan commented on #4798
+1 for CRI log plugins, so that a JSON containerd log plugin can be written. All of our Kubernetes clusters expect JSON style logs and migrating from docker-shim to to containerd breaks the JSON format. Today, we are using fluent's regex parsing as a workaround to extract fields out of the default text logs from containerd, but that has performance issues. Would be good to see a JSON plugin soluti

[2022-01-18 23:14] wiltonlcsj commented on #5502
Any news on this?

[2022-01-18 23:48] kzys commented on #5807
Punted to 1.7. We decided to revert the change due to the issue above.

[2022-01-18 23:58] kzys commented on #6083
I will work on the documentation update.

Regarding HTTP support, I have synced-up with some OpenTelemetry experts in AWS and they have mentioned https://github.com/open-telemetry/opentelemetry-specification/pull/1969.

Let me see whether it is possible or not.

Regarding the size concern, it is not really tied to OpenTelemetry. I will cut a new ticket for tracking.

[2022-01-19 02:45] chwetion opened #6454 "[containerd v1.2.x] meeting go-runtime gc error"
### Description

after the machine has been kept for a period of time, meet gc runtime error lead to containerd restart, it will affect dockerd and kubelet

message log as follow:
[code]

i think root cause may
[code]

btw, how to search go version from containerd binary, just download from github download web.

### Steps to reproduce the issue

no way

### Describe the results you received and ex

[2022-01-19 05:33] danishprakash commented on #2511
That being said, do you think someone new to the project can at least attempt this? I'd love to work on this.

[2022-01-19 18:08] kzys commented on #6083
The documentation update and considering OTLP/HTTP are in #6457.

[2022-01-19 19:26] estesp commented on #6454
containerd v1.2.x has been out of service for almost 18 months. v1.4.x is out of service in a few weeks, so would be best if you can try containerd 1.5.x and see if you can replicate this issue.

[2022-01-19 19:30] thpang commented on #6339
Wondering if there has been any activity here? Looking to help a client who is using containerd as their CRI in a kubernetes cluster. Thx.

[2022-01-20 05:42] stevvooe commented on #6219
I also gave [gopatch](https://github.com/uber-go/gopatch) a try. It was fairly tedious to get right, so I think it is likely to introduce problems. I did however have luck with `gorename`. You can just do something like this to rename the fields:

[code]

It's slower than it should be but I don't see why we couldn't add this to protobuild or have such a pass in the Makefile.

[2022-01-20 10:03] AkihiroSuda opened #6464 "ctr: make `--runtime=./relative/path/to/shim/binary` error less cryptic (`ctr: failed to start shim: start failed: : exec: "/": permission denied: unknown`)"
### What is the problem you're trying to solve

`ctr` produces a cryptic error when a relative path to a shim binary is specified as `--runtime=./relative/path/to/shim/binary`.

[code]

Probably ctr is attempting to parse the path string as an `<TLD>.<VENDOR>.<RUNTIME>.<VERSION>` format string.

An absolute path works as expected.

### Describe the solution you'd like

Make the error message less

[2022-01-20 18:19] fanminshi commented on #5502
I are also experiencing this issue where k8s termination last about 2 minutes. Do you know when will this be fixed?
Thanks!

[2022-01-20 21:57] ep4sh opened #6492 "Can't auth in the dockerhub with containerd"
Dear community,

I'm new in containerd. Could you please guide me how to properly configure auth for Dockerhub?

My config is as a following (generated by `containerd config default` command):
[code]

I've restarted contained multiple times after configured according to the docs:
https://github.com/containerd/cri/blob/master/docs/registry.md#configure-registry-credentials

but still getting 401 wh

[2022-01-21 02:24] chwetion commented on #6454
@estesp could you tell me what go version in 1.2.12 containerd or how to view it

[2022-01-21 05:24] codevski commented on #5502
Still a problem...

[2022-01-21 17:08] waynr commented on #4984
Not sure what the status of this issue is by now, but I thought it would be worth pointing out that it looks like kubernetes is deprecating `--image-pull-progress-deadline`:

* https://github.com/kubernetes/kubernetes/pull/106907/files#diff-5dd381e5c058ed2af7d72be5f6d1b540bdba3a5193eaa069214786f8bdf535cfL100

[2022-01-21 22:50] #6429 closed

[2022-01-22 00:49] SergeyKanzhelev commented on #4984
Should it be configured via kubelet and passed via CRI? I think this may be implemented as a containerd configuration setting.

BTW, is it still in 1.6 milestone?

[2022-01-22 00:53] fuweid commented on #4984
#6150 is not in milestone 1.6. Rescheduled in 1.7

[2022-01-22 02:52] lugangliang commented on #6454
go version /usr/bin/containerd

[2022-01-22 13:58] lugangliang commented on #6454
@chwetion   go version /usr/bin/containerd

[2022-01-24 05:26] qiutongs commented on #4604
@mikebrow Do you have more details to share? More specifically, in terms of the rate control container runtime requests, how dockershim and containerd CRI plugin behave differently?

[2022-01-24 06:45] chwetion commented on #6454
@lugangliang  /usr/bin/containerd: go version not found

[2022-01-24 06:48] fuweid commented on #6454
please try 'ctr version'

[2022-01-24 06:51] chwetion commented on #6454
just got this, and go version /usr/bin/ctr like go version /usr/bin/containerd
[code]

[2022-01-24 06:55] fuweid commented on #6454
Could you mind to try this? Thanks

strings /usr/bin/containerd | grep go1.

[2022-01-24 07:08] chwetion commented on #6454
seems like 1.12.17, right?
[code]

[2022-01-24 07:12] fuweid commented on #6454
yeah. So please use latest containerd version.

[2022-01-24 10:19] vividn commented on #5502
To fix this problem I ended up creating a systemd service:
kill-all-containers.sh:
[code]

kill-all-containers.service
[code]

Or if you are using nixos, put this in kill-all-docker-containers.nix, and import it in your configuration.nix file
[code]

[2022-01-24 11:46] vasiliy-ul opened #6471 "[CRI] image schema1 - Repo digest is not resolved"
### Description

Hello. I observe an issue with an image from `quay.io`. It gets pulled normally but the `repoDigest` appears to be empty. I tried to debug and dived a bit into the code. It looks like for `schema1` this is the expected behaviour (for this image quay.io returns `application/vnd.docker.distribution.manifest.v1+prettyjws`):

https://github.com/containerd/containerd/blob/f0afdea2ad8a6

[2022-01-24 13:17] kubino148 commented on #4604
Happened to me, it's really a serious bug when you are running your gitlab ci/cd runners in containerd based k8s because some pipelines are designed to run multiple containers in parallel and this bug happens very often. Is going back to docker really the only option here?

[2022-01-24 14:10] fuweid commented on #6454
@chwetion Since the 1.2.x version has been deprecated, I will close it in 3 days if there is no error in new version.

[2022-01-24 14:16] matti commented on #4604
yes, now it looks like it.

[2022-01-24 15:10] fuweid commented on #4604
Hi, @matti and @kubino148 and all subscribers, could you mind to provide the goroutine stack of containerd when you see the error? Thanks.

`kill -USR1 $(pidof containerd)` will trigger the dump and check containerd log to get stack.

[2022-01-24 15:21] fuweid commented on #6471
containerd currently supports OCI image spec and will convert docker image schema1 into OCI image schema, which means that the digest of shema1-like image will not equal to the `docker-content-digest` header. I think it is the reason that we don't show the digest in CRI.

The schema1 is deprecated. It is good to work with new schema. Just rebuild it and works.

REF: https://github.com/containerd/c

[2022-01-24 15:36] vasiliy-ul commented on #6471
I see. Thank you for clarification. The reason I raised the issue is that currently we use the digest in order to pull that exact image on another machine. Pulling by tag may not work here and also those images in common case are 'out of our control'. The old images are still around and they cause issues unfortunately :( . Currently the workaround is to pre-pull the image by digests and then assig

[2022-01-24 16:35] qiutongs commented on #4604
## Amended Theory 1

(See the original theory 1 in https://github.com/containerd/containerd/issues/4604#issuecomment-1006013231)

Docker has a similar mechanism of "reserving container name" to prevent conflict. However, dockershim handles it in a different way from containerd CRI implementation.

[code]

https://github.com/kubernetes/kubernetes/blob/release-1.19/pkg/kubelet/dockershim/helpers.go#

[2022-01-24 17:30] aarononeal opened #6472 "Error: cgroup v2 not implemented for Stats"
### Discussed in https://github.com/containerd/containerd/discussions/6446

<div type='discussions-op-text'>

<sup>Originally posted by **aarononeal** January 14, 2022</sup>
The error `cgroup v2 not implemented for Stats` is spamming my syslog. I'm confused because it looks like the [Stats task implementation](https://github.com/containerd/containerd/blob/140ecc9247386d3be21616fe285021c081f4ea08/r

[2022-01-24 17:39] AkihiroSuda commented on #6472
Answered in https://github.com/containerd/containerd/discussions/6446#discussioncomment-2036197

Please update from `io.containerd.runc.v1` to `io.containerd.runc.v2` .

[2022-01-24 17:39] #6472 closed

[2022-01-25 03:09] chrisroat commented on #4604
On GCP, only for a little while longer, though.  Just got an email:

[2022-01-25 03:31] jsoref commented on #4604
If I'm reading https://cloud.google.com/kubernetes-engine/docs/release-schedule and https://cloud.google.com/kubernetes-engine/versioning#lifecycle correctly, 1.23 will be supported through approximately 2023-06, which is a bit in the future. (This would require you to have created a static cluster as opposed to a regular upgrading cluster.)

Personally, I'd rather figure out what's wrong here and

[2022-01-25 05:33] matti commented on #4604
from GKE email:

How can we get someone from GKE on this thread?

[2022-01-25 06:00] AkihiroSuda opened #6474 "Remove containerd version from the User Agent string"
### What is the problem you're trying to solve

Anonymity is sacrificed, as the version number is leaked in the User Agent string, e.g., `containerd/v1.2.3`

https://github.com/containerd/containerd/blob/77d53d2d230c3bcd3f02e6f493019a72905c875b/remotes/docker/auth/fetch.go#L127

### Describe the solution you'd like

- Plan A: remove the `User-Agent` header completely
- Plan B: set a dummy version

[2022-01-25 06:09] jonyhy96 commented on #6474
I suggest we use planB for v1.6.0 release and mark it deprecated both in code and release note. Then totally remove it when v1.6.1 release. This way gives user a time buffer to notice this change

[2022-01-25 07:22] vasiliy-ul commented on #6471
Would it break any functionality if containerd returned the value from `docker-content-digest` header in `repoDigest` for schema1 images?  I assume that the conversion takes place internally and its hidden from the end-users. Why not exposing a pullable reference then?

[2022-01-25 07:55] qiutongs commented on #4604
Hi Matti, I am from GKE. We are fully aware of this issue and are prioritizing it.

[2022-01-25 10:05] akhilerm commented on #5978
@dmcgowan @tonistiigi I can take up this issue . Can you explain a bit more on the solution that you have proposed so that I can try implementing it.
- Is the pipe mentioned above the one in `push()` in `remotes/docker/pusher.go`

[2022-01-25 15:44] fuweid commented on #6471
I think the best solution is to rebuild it, described by the following line. Just one line FROM and build and repush it.

[code]

Yes, containerd only supports OCI image spec. The image functionality is based on OCI image spec. So in order to use schema1-like image, containerd has to convert it into OCI image spec with new digest.

[2022-01-25 15:58] fuweid commented on #6449
@dnwe before reboot, does the `modprobe overlay` work? I was thinking that it is related to the workload to change something, or kernel upgrade?

[2022-01-25 16:19] fuweid commented on #4604
@sadortun I was trying to reproduce it with high disk IO. But sorry, I didn't reproduce it. :(

If the CreateContainer doesn't return, it maybe hang in two syscalls:

* umount: CreateContainer will mount rootfs to get USER ID. If the rootfs is overlayfs, umount will sync the device where the rootfs are. Since the IO pressure is too high, umount overlayfs will make it worse.
* fsync: containerd use

[2022-01-25 16:49] dnwe commented on #6449
@fuweid yes host is working fine initially with containers working fine and then at some point in the future it reboots or crashes for whatever reason and the modules.dep file must have been zero’ed at some point between those two so when it reboots it can’t successfully modprobe anymore

[2022-01-25 17:52] aarononeal commented on #6472
@AkihiroSuda I am running `io.containerd.runc.v2`, else I would not have hit that code path saying it's not implemented for `v2`.

[2022-01-25 17:53] sadortun commented on #4604
@fuweid

Thanks for your time on this issue.

Unfortunately, I did stop using COS back in 2020 after we could not find a solution.

I'm 97% sure we were using `overlayfs` and as for the rest I have no way to find this historical data.

Sorry about that.

[2022-01-26 09:46] irozzo-1A opened #6477 "StopContainer silently ignored when container is in CONTAINER_CREATED state"
### Description

When a container is [CONTAINER_CREATED](https://github.com/kubernetes/cri-api/blob/897a1c6f320122f3f74e7a5bd9594a863210b016/pkg/apis/runtime/v1alpha2/api.proto#L1014) state a call to StopContainer  has no visible effect:

https://github.com/containerd/containerd/blob/3f5d789dfb30410df18d0cedbec94f519c480392/pkg/cri/server/container_stop.go#L63-L71

This seems to respect the [CRI A

[2022-01-27 11:23] avoidik commented on #4011
if I get it right the `registry.mirrors` and `registry.configs` parameters will be deprecated with v1.6.0 release and onward, I assume to be able to use new configuration I have to do something like

[code]

please correct me if I'm wrong

[2022-01-27 12:06] thaJeztah opened #6484 "[v1.6.0-xx] release binaries were built from "dirty" git state"
### Description

The v1.6.0-xxx releases were built from a dirty state

### Steps to reproduce the issue

Download and extract a release;

[code]

Checking the version output of various binaries (notice the `.m` at the end);

[code]

### Describe the results you received and expected

No `.m` in the commit

### What version of containerd are you using?

containerd github.com/containerd/containerd

[2022-01-27 12:08] thaJeztah commented on #6484
/cc @dmcgowan

[2022-01-27 16:43] MikeZappa87 commented on #5996
@Gsealy do you need a MASQ rule for 10.20.82.0/24? It would be useful to use tshark and determine where the traffic is dying.

[2022-01-27 20:04] evankanderson opened #6485 "Set `[plugins."io.containerd.grpc.v1.cri".registry].config_path` by default"
### What is the problem you're trying to solve

I'm trying to add a new private registry (with a self-signed CA) to an existing Kubernetes cluster, where I may not have ssh access (but I do have `cluster-admin`).

### Describe the solution you'd like

When using docker, [something like the following suffices to add a selfsigned CA](https://docs.docker.com/registry/insecure/#use-self-signed-certifi

[2022-01-27 20:18] dims commented on #6485
cc @adisky

[2022-01-27 20:32] cpuguy83 commented on #6485
This is not defaulted because it is a new option which is replacing older options.
We could see if the older options are set and set a default if they are not, maybe?
Alternatively, depending on your situation, ask your k8s provider to set a default value for new nodes.

[2022-01-27 20:56] evankanderson commented on #6485
Would it be reasonable to default it if older options are not set? I'd be happy to do a PR proposal if that would make it easier.

I'm trying to write up provider-independent directions and tutorials for an on-cluster or local build chain, so I'm hoping for a default that would work across providers. 😁

[2022-01-27 21:21] cpuguy83 commented on #6485
That seems reasonable to me.

[2022-01-28 01:34] dmcgowan commented on #5978
@akhilerm you can give it a try. I haven't had time to finish this one up in the last few weeks. You can take a look at my WIP branch to see the direction I was thinking https://github.com/containerd/containerd/compare/main...dmcgowan:content-writer-reset

[2022-01-28 02:00] benbuzbee opened #6489 "ConfigureHosts creates a new RegistryHost, Authorizor and HTTP client for every request"
### Description

In my experience when pulling from a registry, containerd will do a HEAD for the manifest, get 401, authenticate, then do a GET using the same Authorizor

Then it will do another GET, but this creates a brand new authorizor for the same host (because it calls `(*dockerResolver).base` which calls r.hosts, which does this: https://github.com/containerd/containerd/blob/main/remotes/d

[2022-01-28 02:40] Gsealy commented on #5996
thanks! I'll try this. btw, using iproute2 assign host ip method looks good on host machine, not valid for virtual machine. 😞

[2022-01-28 14:04] srhb opened #6490 "cni config is never reloaded after removal+recreation"
### Description

cni_conf_syncer fails to load a new configuration file once it's been deleted.

### Steps to reproduce the issue

1. delete cni config
2. recreate cni config

### Describe the results you received and expected

I expected containerd to reload the config. It did not.

### What version of containerd are you using?

v1.5.7

### Any other relevant information

I believe the problem is

[2022-01-28 16:13] fuweid commented on #4604
@sadortun I file pr to enhance this. https://github.com/containerd/containerd/pull/6478#issuecomment-1022799322

No sure that what different between docker and containerd in GKE. sorry about that.

[2022-01-28 17:51] dmcgowan commented on #6490
In the steps to reproduce, is that deleting a single conf file or the conf directory?

[2022-01-28 23:49] #6454 closed

[2022-01-29 18:47] sunnygoel87 commented on #4426
@AkihiroSuda , I'm new to Containerd and trying to start my learning journey by contributing towards open issue that will help improve the Documentation.  Do you need more help in context of this issue ? Please let me know. Thanks.

[2022-01-30 20:52] srhb commented on #6490
Sorry for that lack of detail. The directory.

[2022-01-31 04:37] marquiz commented on #6490
I we go this route, should we handle corner cases like deleting the conf dir's parent directory? Or handle renames etc?

[2022-01-31 11:29] thaJeztah commented on #6168
Yes, it was not clear to me either where the "deprecated" came from; I commented on https://github.com/containerd/containerd/pull/1403#discussion_r199289449 some time ago;

Perhaps @stevvooe has context on this (could've been mainly for the "os.features"?)

[2022-01-31 15:47] #5502 closed

[2022-01-31 16:47] #6307 closed

[2022-01-31 17:19] wiltonlcsj commented on #5502
That will be released as a minor fix change or it must goes public at 1.5?

[2022-01-31 18:35] #4604 closed

[2022-01-31 18:51] kzys commented on #5748
Resolving. I've checked some of the failed runs on master from https://github.com/containerd/containerd/commits/main, namely

* https://github.com/containerd/containerd/runs/5008454082?check_suite_focus=true
* https://github.com/containerd/containerd/runs/4942672936?check_suite_focus=true
* https://github.com/containerd/containerd/runs/4985874089?check_suite_focus=true
* https://github.com/contain

[2022-01-31 18:51] #5748 closed

[2022-01-31 18:54] kzys commented on #5599
Resolving.

[2022-01-31 18:54] #5599 closed

[2022-01-31 18:56] kzys commented on #5409
Resolving.

[2022-01-31 18:56] #5409 closed

[2022-01-31 19:09] kzys commented on #6141
Does `curl https://localhost:32121/` work on the host? Seems the certificate on the endpoint is invalid for `localhost` hostname.

[2022-01-31 19:20] kzys commented on #6119
The code change has been merged as #6119. Let me update docs.

[2022-01-31 19:30] kzys commented on #6049
Resolving.

[2022-01-31 19:35] kzys commented on #5908
Thanks @adelina-t! It seems all changes have been merged. Do you mind if I resolve this issue?

[2022-01-31 20:12] thaJeztah commented on #5748
Good news; happy to hear that 👍

[2022-01-31 22:21] derekperkins commented on #4604
We're on GKE 1.21.6-gke1500 and we've been seeing this problem for the last 1-2 months

[2022-01-31 23:53] cpuguy83 commented on #6091
@kimullaa We are discussing this in https://github.com/containerd/containerd/pull/6447

[2022-02-01 12:33] AInteriorB commented on #5502
Also waiting a long time for the fix in standard debian packages.

[2022-02-01 16:30] WilliamTambellini commented on #6067
Hi @SaveTheRbtz  do you know if containerd has added such an option ?

[2022-02-01 17:35] kzys commented on #4426
@sunnygoel87 The website's repository is https://github.com/containerd/containerd.io. So you may need to take a look the repository and use `version=2` on the config examples there.

[2022-02-01 17:38] kzys commented on #6361
@dmcgowan We have removed the api package in https://github.com/containerd/containerd/pull/6439. Do you want to remove https://github.com/containerd/containerd/blob/main/integration/client/go.mod as well?

[2022-02-01 20:46] qiutongs commented on #4604
I got some good results showing this patch improves the latency of "CreateContainer".

- Setup: GKE 1.20 ubuntu_containerd node with 10 GB boot disk
- Execution A
  - Add some disk IO `stress-ng --io 1 -d 1 --timeout 7200 --hdd-bytes 8M`
  - Create a deployment of `nginx` with 25 replicas
  - Check containerd log
- Execution B: repeat above steps with a newly built containerd with this patch
- Res

[2022-02-01 21:13] qiutongs commented on #4604
## Summary (2022/02)

"failed to reserve container name" error is returned by containerd CRI if there is an in-flight `CreateContainer` request reserving the same container name (like below).
T1: 1st CreateContainer(XYZ) request is sent. (Timeout on Kubelet side)
T2: 2nd CreateContainer(XYZ) request is sent (Kubelet retry)
T3: 2nd CreateContainer request returns "failed to reserve container name X

[2022-02-01 22:59] SaveTheRbtz commented on #6067
AFAIK, no.  Possible workaround is to use OverlayFS snapshotter with the underlying BTRFS filesystem.

[2022-02-02 00:50] dmcgowan commented on #6361
@kzys I can close this one. For now, I think it is best to keep it. It would be great to get rid of the extra vendoring step in CI if we can in the future. The only difference is the inclusion of the hcsshim test package, but that includes a shared object which we were trying to avoid vendoring.

[2022-02-02 00:50] #6361 closed

[2022-02-02 02:07] #6242 closed

[2022-02-02 10:31] nandakumarraghavan commented on #5854
@fuweid We are hitting the same issue again. When we try to pull the image from containerd registry we are seeing the size of the binaries with 0 bytes due to which the PODs does not come up. The only way to fix is to copy the binaries manually. Now this issue is happening quiet often for us.
We observed io.containerd.snapshotter.v1.overlayfs/snapshots/xxx/fs/ directory is having empty binaries.

[2022-02-02 17:43] #6119 closed

[2022-02-02 17:49] kzys opened #6499 "Update snapshots/devmapper/README.md to mention fs_type and fs_options"
### What is the problem you're trying to solve

The options are added in the implementation but they are not documented.

### Describe the solution you'd like

Update README.md to document the options.

### Additional context

_No response_

[2022-02-02 17:50] kzys commented on #6499
I'm going to assign the ticket to myself but may reassign that to other AWS folks later.

[2022-02-02 18:27] rohankmr414 commented on #6464
@AkihiroSuda I would like to work on it, could you please provide some information on how to proceed in the task and where the changes needed in the repo. Some code pointers would be really helpful.

[2022-02-02 20:06] #6168 closed

[2022-02-03 17:22] TBBle opened #6508 "Windows Platform Matcher needs to accept ltsc2022 images with later Windows host versions"
### What is the problem you're trying to solve

Windows Server LTSC 2022 kernel build 20348 offers a stable ABI for Windows releases up to (at least) the next Windows Server LTSC build.

As such, the current logic for matching Windows hosts and container images in a manifest list/image index by equality-testing the build version (currently being updated in #6491 but still the same behaviour as bef

[2022-02-03 23:07] jterry75 commented on #6508
@TBBle - If there is a multi-os image that contains 20348 and some 20348 + delta build, would you say that we should *always* take the highest container version? or should we match the hosting os if there is a direct match?

[2022-02-03 23:32] #6083 closed

[2022-02-04 03:09] relyt0925 commented on #6209
So it looks like that issue was closed @cpuguy83 and not merged: My larger point here is it seems like there's suggestions but no official statement on how to install containerd on an operating system like RHEL 7: We cannot use our own runc as the one included in the release tarball overwrites it.......

Are we now going to move to another tarball that doesn't include runc?

[2022-02-04 03:10] relyt0925 commented on #6209
I do think we need some kind of path for RHEL 7 going forward: it would be a problem from an IBM perspective at least if that support just got dropped without notification. We need to stay on current releases for security reasons and right now we are stuck at 1.4

[2022-02-04 04:55] TBBle commented on #6508
My understanding is that the container build version must still be less-than-or-equal to the host build version, so I would take the greatest build version that meets that. So an exact-match build version would be chosen if available on that basis.

In effect, (pretending LTSC2025 is the version after LTSC2022)
* on a Windows 11 host today, build ID is > LTSC2022 and < LTSC2025, so this will corre

[2022-02-04 07:55] srhb commented on #6490
That specific corner case shouldn't be an issue, as we should be notified of deletion of the conf dir whether or not it is a consequence of the deletion of its parent. Conceivably, one could rename the parent and we would be in trouble with this route.

[2022-02-04 09:04] #6499 closed

[2022-02-04 16:27] MikeZappa87 commented on #4816
@crosbymichael logging the inputs in containerd/go-cni would be very helpful. It looks like it might be easier to do this in go-cni. The next steps would be to find a good way to add logging to cni plugins and have that passed back to the containerd logger?

[2022-02-04 17:25] jterry75 commented on #6508
@TBBle - Your response here is perfect IMO all assumptions considered. I agree that this is the right approach if my 2 cents count for anything :). Thanks for details here so that in the future we can get this *right* (lol).

[2022-02-05 00:26] ginglis13 commented on #6464
Hi @AkihiroSuda , can I take this up ?

Should it be expected that your example above should fail with a message like this one?

https://github.com/containerd/containerd/blob/4f5ce5615adf81fcdf0e7c50e12b15d82b77e129/runtime/v2/manager.go#L249-L252

assuming relative paths to shim binaries are not supported based on this.

[2022-02-05 00:29] AkihiroSuda commented on #6464
Yes please

[2022-02-05 13:23] dg424 opened #6520 "Rootless Docker containerd fails to start at random times (`grpc: addrConn.createTransport failed to connect to {unix:///run/user/1000/docker/containerd/containerd.sock <nil> 0 <nil>}. Err :connection error: desc = \"transport: error while dialing: dial unix:///run/user/1000/docker/containerd/containerd.sock: timeout\". Reconnecting..." module=grpc`)"
Please see here - https://github.com/rootless-containers/rootlesskit/issues/284

I've tried multiple releases of the Rootless Docker image, but all eventually failed after a while of repeated testing.

[2022-02-06 02:53] sunnygoel87 commented on #4426
Hi @kzys , Thanks for the prompt response. I looked into the repository and updated the following files to reflect the latest version (version=2). I'll submit the PR shortly.

https://github.com/sunnygoel87/containerd.io/blob/main/config.toml
https://github.com/sunnygoel87/containerd.io/blob/main/content/docs/getting-started.md

[2022-02-06 15:06] dg424 commented on #6520
Thanks Akihiro. I've tried all releases from 20.10.12:

containerd github.com/containerd/containerd v1.4.12 7b11cfaabd73bb80907dd23182b9347b4245eb5d

down to 20.10.6:

containerd github.com/containerd/containerd v1.4.4 05f951a3781f4f2c1911b05e61c160e9c30eaa8e

and all failed.

Now, I just jumped straight to the initialize release of 20.10.0 with:

containerd github.com/containerd/containerd v1.4.3

[2022-02-07 05:01] DiptoChakrabarty commented on #6474
hello @jonyhy96 @AkihiroSuda I would like to work on this , as I understand the string set in the User Agent has to be just modified to have the dummy version until it is deprecated

[2022-02-07 10:36] OmidH commented on #4295
+1

[2022-02-07 11:02] cardyok opened #6522 "Need a method to specify path for upper layer in CreateContainer"
### What is the problem you're trying to solve

As describe in title, situation we encountered is that we wanna limit/monitor the usage of IO/disk space for upper layer, and want to migrate the pressure away from host machine

### Describe the solution you'd like

Need a way to put the upper layer(active snapshot) somewhere other than root/io.snapshotter.xxx/snapshots, is is reasonable to incorpor

[2022-02-07 11:18] cardyok commented on #6522
Probably modifications to snapshot api and snapshotter implementation are also needed.

[2022-02-07 14:43] dg424 commented on #6520
Looks like the entire 20x release has this issue. Moved on to testing 19.03-dind-rootless now with:

containerd github.com/containerd/containerd v1.3.9 ea765aba0d05254012b0b9e595e995c09186427f

[2022-02-07 18:44] kzys commented on #6474
I have a few questions/concerns regarding this change.

Freezing User-Agent was proposed in [Safari Technology Preview 46](https://webkit.org/blog/8042/release-notes-for-safari-technology-preview-46/) but it was [modifed later](https://developer.apple.com/library/archive/releasenotes/General/WhatsNewInSafari/Articles/Safari_11_1.html#//apple_ref/doc/uid/TP40014305-CH14-SW7) to include some informa

[2022-02-07 19:54] mikebrow commented on #4826
would like to see the containerd debug log (containerd -l debug) for this scenario

We added a bunch of interesting debug out and refactored this code around the time and after this was reported.. it is possible your scenario is failing for a non-obvious reason and then trying your configured mirror/default and showing the non-interesting error and thus you don't get to see the actual reason for f

[2022-02-07 20:59] samuelkarp commented on #6474
Not LGTM

I'd prefer not to do this. While there is some information exposed about the version, this is fairly minimal and generally helpful to the overall ecosystem.

Exposing the product (containerd) and version in the User-Agent string allows registries and registry operators to:

* Adapt and respond to differences in behavior (including bugs) between different clients and different versions.

[2022-02-07 21:17] #6484 closed

[2022-02-08 01:27] #6474 closed

[2022-02-08 08:03] zhaoxuat opened #6525 "containerd StartContainer error"
### Description

when I upgrade containerd from v.1.3.4 to v.1.5.8, create pod error and containerd log. The centos has no this error with same operator.
`Apr 13 10:55:24 bootstrap02 containerd[866302]: time="2022-04-13T10:55:24.454864410Z" level=info msg="CreateContainer within sandbox \"0284f7cdc82b1c026fa0010ea31b769bc59bae59c046748c16c797e82e45fa8c\" for &ContainerMetadata{Name:sla,Attempt:0,}

[2022-02-08 18:20] MikeZappa87 commented on #4851
@jayunit100 I have been working to get CHECK implemented. See https://github.com/containerd/go-cni/issues/77

The work involved would be:
Merge go-cni changes
Update containerd with latest go-cni
Add code to make use of the CHECK command
Add to nerdctl,CRI,K8s

It's not a small effort. If you want to set up a google meet/zoom to discuss this or how we can delegate the work that would be excellent.

[2022-02-08 21:23] estesp commented on #6067
I dug into this a bit more (sorry it's taken so long) mostly because I wasn't sure what kind of "stats" were doing anything related to disk usage in containerd as it didn't sound familiar. Now I see this is part of the CRI [API contract](https://github.com/kubernetes/cri-api/blob/master/pkg/apis/runtime/v1alpha2/api.proto#L616-L626) and implemented via the CRI plugin; not "core containerd" stats c

[2022-02-08 21:53] sunnygoel87 commented on #4426
@kzys @AkihiroSuda - Just FYI,  I've submitted the following PR to highlight the latest version (version=2) in the necessary files. Please take a look and let me know in case of any concerns.

https://github.com/containerd/containerd.io/pull/110

[2022-02-08 23:02] fvoznika opened #6530 "Per runtime default seccomp rules"
### What is the problem you're trying to solve

containerd defines default secomp rules that can be applied to all containers. Currently, this set of rules apply equally to all runtimes, even though runtimes may have different host isolation strategies that do not require container-level seccomp rules.

gVisor for example doesn't rely on container seccomp rules for isolation. In fact, there is lit

[2022-02-09 02:08] SaveTheRbtz commented on #6067
Modifying the `StatsCollectPeriod` is a possible workaround, but IIUC this would affect all stats, not only the BTRFS ones.
I'm not sure whether byte-by-byte file comparison would work for anyone.  Even for a small setup with a couple of multi-gigabyte containers this would greatly affect performance.  Maybe we should just remove the `fs.DiffUsage` codepath?

[2022-02-09 12:33] vteratipally opened #6534 "docker live-restore not working"
### Description

When a container is created with live-restore it is supposed to remain active even when the containerd daemon is stopped. But when the containerd is restarted with a container running in background with live-restore, the container is no longer active in the running process.

### Steps to reproduce the issue

1. mkdir /tmp/html
2. Ensure /etc/docker/daemon.json has live-restore: tr

[2022-02-09 13:41] fuweid commented on #6534
Please make sure that dockerd has enabled the live-restore. You can check the last line of output of `docker info`.

[2022-02-09 13:44] vteratipally commented on #6534
[code]

[2022-02-09 13:45] vteratipally commented on #6534
It is enabled. This is a part of our validation test suite.

[2022-02-09 13:48] fuweid commented on #6534
OK. Now it is enabled. And could you mind to re-test it again? I think you doesn't restart after apply the step 2 you mentioned

[2022-02-09 13:49] vteratipally commented on #6534
Retested still failed.

[2022-02-09 13:52] vteratipally commented on #6534
[code]

[2022-02-09 13:53] fuweid commented on #6534
[code]

Maybe you should check your container log or dockerd log.

[2022-02-09 13:58] vteratipally commented on #6534
still failing on my system. The last working version is 1.6.0_beta.3

[2022-02-09 14:02] fuweid commented on #6534
Alright. I reproduced it in my local. I am investigating it. Thank you!

[2022-02-09 14:14] fuweid commented on #6534
[code]

The runtime is runc and cause that `"failed to resolve runtime path" error="invalid runtime name runc, should be either format like `io.containerd.runc.v1` or a full path to the binary"`.

[2022-02-09 22:53] fuweid commented on #6534
Closed by #6536. Thanks for the report.

[2022-02-09 22:53] #6534 closed

[2022-02-09 23:04] kzys commented on #4426
I cannot edit the issue description (maybe @estesp can?) but seems we finally can close this issue. Thanks @QFREEE, @xens and @sunnygoel87!

[2022-02-10 01:18] #4426 closed

[2022-02-10 06:35] dangen-effy opened #6538 "ctr does not read /etc/containerd/config.toml credential settings when pull images from ghcr.io"
### Description

I added ghcr.io private registry auth config to `/etc/containerd/config.toml`

[code]

And restart containerd

[code]

And check containerd config settings whether it was updated

(printing my ghcr.io settings)

[code]

### Steps to reproduce the issue

_No response_

### Describe the results you received and expected

Problem is here when i pull some images from my github organiz

[2022-02-10 06:56] AkihiroSuda opened #6541 "`cri-containerd-cni-*.*.*-linux-*.tar.gz:` build runc as a static binary, or just remove runc binary"
The current `runc` binary in `cri-containerd-cni-*.*.*-linux-*.tar.gz` does not work on RHEL/CentOS 7, because it is linked with a newer version of libseccomp.
And we don't want to downgrade the libseccomp version, because we want to support the latest syscall table that is hardcoded in libseccomp.

So, we should do either one of:
- Build runc as a static binary
- Just remove the runc binary here,

[2022-02-10 07:20] AkihiroSuda opened #6542 "CI: add Rocky Linux 8 (with Cirrus CI, probably)"
The current CI only covers Ubuntu 18.04 and Fedora 35.

It would be nice to cover the EL 8 family too for helping adoption of containerd in the enterprise market.

Some enterprise users still want CentOS 7 too (so runc still has CentOS 7 CI), but probably we should prioritize the EL 8 family (EOL: circa 2029) over CentOS 7 (EOL: 2024).

## Implementation

We have been using Vagrant on macOS on GHA

[2022-02-10 08:25] AkihiroSuda commented on #6541
I guess we have to rush this before v1.6, because the current RC does not even work on Amazon Linux 2 and Debian 10 according to the comments in https://github.com/containerd/containerd/pull/6531

[2022-02-10 08:26] thaJeztah commented on #6542
/cc @nebuk89

[2022-02-10 12:10] nebuk89 commented on #6542
@AkihiroSuda do you know what aspect of the Mac build you are bottlenecking on? (CPU cores, clock speed, memory, IO?)

[2022-02-10 12:30] cardyok commented on #6522
Maybe have an extra label specifying a host path where (Active) snapshot is stored?

I am still new to containerd and dont get why label information is dropped when `snapshot.storage.bolt.CreateSnapshot` returns. if this info is preserved would make it easier to pass around snapshot info. #6528 can be done cleaner than the current commit.
Or we can include another field (or a label specifying host

[2022-02-10 12:32] gustavovalverde commented on #5978
Hi, I've been dealing with this invalidating my cache, so the previous pushed image and the new one are actually different, but we're losing a bunch of CI time because of this.

While this gets fixed, is there any workaround when using `Google Container Registry` or `Google Artifact Registry` with https://github.com/docker/build-push-action/ ?

[2022-02-10 12:57] cardyok commented on #6522
Can we include another field (or a label specifying host path info for snapshot, just like https://github.com/containerd/containerd/pull/5624 but with broader definition) when snapshots are created, manual assembling path to upper/lower step could be skipped.

PTAL with all due respect :):)

[2022-02-10 17:15] dmcgowan commented on #6541
The `cri-containerd-cni` package mostly still exists today for a few downstream projects who use it to do their own builds or packages. I think it is probably best to document the restrictions and just consider removing the package completely. We don't want more users to end up relying on it, especially if we want to get rid of it. Just removing runc doesn't make sense since that will also break t

[2022-02-11 06:16] fuweid commented on #6471
@vasiliy-ul nothing we can do in this case. I am going to close it. Thanks for the report and hope you can use oci schema shortly

[2022-02-11 06:16] #6471 closed

[2022-02-11 13:01] BDanyil commented on #4295
This happens sometimes on gitlab, it's not container problem. This error was resolved by itself on the next day for me

[2022-02-11 14:09] OmidH commented on #4295
I solved the issue by deleting old images `docker image prune -a --filter "until=24h"`

[2022-02-14 01:40] Gsealy commented on #5996
@MikeZappa87 I reproduced this last week on oracle linux 8.4, based on 5.4 kernel, disabled firewall also works fine. I think not about the MASQ, maybe need to upgrade the kernel version. now we choose 5.x version kernel working fine.

close this issue.

[2022-02-14 01:40] #5996 closed

[2022-02-14 06:53] h4ghhh opened #6549 "[cri] 'eth0' doesn't exists in containers, but 'IP' and 'AdditionalIps' still have values by calling 'PodSandboxStatus' returned"
### Description

Now I have a K8s cluster with containerd runtime.
For some reason, eth0 devices inside the containers on one node are abandoned. Type the 'ifconfig' command to verify:

_[root@controller-1:/home/pp]$ nsenter -t 17254 -n
[root@controller-1:/home/pp]$ ifconfig
lo: flags=73<UP,LOOPBACK,RUNNING>  mtu 65536
        inet 127.0.0.1  netmask 255.0.0.0
        inet6 ::1  prefixlen 128  sco

[2022-02-14 12:05] vio-f commented on #5538
This is still an issue with 1.4.4.  Has anybody encountered this with 1.5.9 or is it fixed in that one?

[2022-02-14 15:11] dg424 commented on #6520
Quick update from my side... Downgraded containerd to:

containerd github.com/containerd/containerd v1.2.9 d50db0a42053864a270f648048f9a8b4f24eced3

This has been running under stress since Friday. Typically, it would have failed by now, but it's still running. So, it looks like "something" was introduced in the 1.3x branch and upwards that is causing this issue sporadically. I may be speaking too

[2022-02-14 20:08] kzys opened #6550 "Adding OpenTelemetry spans on the Go client's methods, CRI, GC and HTTP calls"
### What is the problem you're trying to solve

containerd 1.6 will have OpenTelemetry spans, but they are added automatically around gRPC calls. There are a few areas we should have spans to make troubleshooting easier.

- The Go client's methods
- CRI
- GC operations
- HTTP calls around container image operations

### Describe the solution you'd like

We need to first define our naming conversio

[2022-02-14 20:43] jterry75 commented on #6550
Wahoo! My 2c is that spans should be on every entry/exit for tracing/debugging. So for example, CRI is all gRPC entry methods, it will automatically start a span. It does not need create internal sub-spans, (unless it wants to for some reason) but when it calls out to containerd via client (a new public API), or the task, or a windows/linux syscall, etc it may want to wrap that call in a span to s

[2022-02-14 20:45] jterry75 commented on #6550
Maybe another example since CRI is a "special" plugin. I think this idea holds for all of our services. Ex: We have a service api/local pattern. The span should be created at the service scope, once resolved to the local implementation we dont need a sub-span (most likely) but it is helpful for that service itself to have crated the child. This easily allows us to know when we have entered the "sn

[2022-02-14 20:58] kzys opened #6551 "Spawn a subprocess with lower priviledges when handling container images"
### What is the problem you're trying to solve

containerd is often running as `root` and tends to have multiple Linux capabilities for issuing privileged syscalls such as `mount(2)`. We could extract some parts of containerd to less-privileged subprocesses (like shims) to handle less-trusted inputs such as container images.[](url)

### Describe the solution you'd like

Define areas we'd like to r

[2022-02-14 21:26] jterry75 commented on #6551
+1. We have this in Docker for Windows extraction already and we never finished the port to containerd.

[2022-02-14 21:37] kzys commented on #6551
@jterry75 Do you know the place Docker is doing that? @estesp mentioned the same and I checked moby/moby but couldn't find that.

[2022-02-14 21:40] dg424 commented on #6520
And it finally failed with pretty much the same log messages .... Any ideas on troubleshooting more ? Willing to test patches etc.
[code]

[2022-02-14 21:44] jterry75 commented on #6551
https://github.com/moby/moby/blob/master/daemon/graphdriver/windows/windows.go#L803 you are looking for the `reexec` workflow associated with Docker. But for containerd I don't think it needs to be this complicated. It could simply be a binary we put in the middle for extraction always. I honestly can't imagine why we would ever want to do image extraction at root levels. It seems always safer (an

[2022-02-14 21:49] jterry75 commented on #6551
@lowenna - You would be proud :)

[2022-02-14 22:15] mnorrsken commented on #6067
I am having the same problem after switching to btrfs on my experimental k3s hosts. 120 MB/sec disk reads, and around 20% cpu usage on a 4-core system (load >3), and stats collection taking around 10 minutes. Bear in mind, this is with stats_collect_period set to 15 minutes. With stats collect set to 10 seconds I had constant 120-150MB/sec disk reads and 40% cpu usage. (normal cpu and disk usage s

[2022-02-15 03:42] MikeZappa87 commented on #6549
Can you send the output of ifconfig?

[2022-02-15 04:37] h4ghhh commented on #6549
I rewrite the description.
I guess the latest version still has the problem.

[2022-02-15 04:54] MikeZappa87 commented on #6549
PodSandboxStatus->containerd does not go to the container and reverify the network namespace. You will get the cached version of the results. I am guessing you would expect the IP,additionalIPs to return nothing? I am working on implementing the check command that would cause the pod to be rescheduled. Not sure if that answers your questions?

[2022-02-15 05:49] h4ghhh commented on #6549
Exactly!
Thanks.

[2022-02-16 00:09] vsxen commented on #4547
ping @tiny1990

[2022-02-16 05:27] SaveTheRbtz commented on #6067
I would propose to just disable `DiffUsage` codepath since it is impossible to turn it on in production it anyway. This will make stats not snapshot-aware but btrfs would be at least usable.  It would still, sadly produce quite a lot of stat/readdir calls on large filesystems (potentially millions), but it is order of magnitude cheaper than byte-by-byte comparing ALL filesystem data.

@estesp @Aki

[2022-02-16 13:28] lowenna commented on #6551
@jterry75 😂

[2022-02-16 15:50] Eric-Zaluzec-Vertiv opened #6557 "Unable to load the built-in plugins on a jffs2 filesystem"
### Description

#### [ Overview ] ####
On an embedded arm64 system with an mtdblock jffs2 filesystem partition, containerd fails to load the default built-in plugins. Error message only reports, `invalid argument`, when containerd starts with log-level set to debug/trace.

The version of containerd being used does not seem to be the problem since multiple versions fails. The `invalid argument` er

[2022-02-16 16:07] kzys commented on #6557
Could you share the logs from the beginning of containerd to `120946114Z] failed to load plugin io.containerd.metadata.v1.bolt  error="invalid argument"`? There must be something happening before the error.

[2022-02-16 16:07] AkihiroSuda commented on #6557
Could you strace

[2022-02-16 16:36] Eric-Zaluzec-Vertiv commented on #6557
Thank you for the prompt responses.

@kzys , here is logs from beginning:
[code]

@AkihiroSuda , attached is the strace.
[out.txt](https://github.com/containerd/containerd/files/8081646/out.txt)

[2022-02-16 17:41] kzys commented on #6557
Seems the issue is from https://github.com/containerd/containerd/blob/v1.5.5/services/server/server.go#L373-L393?

[2022-02-16 18:15] Eric-Zaluzec-Vertiv commented on #6557
Thank you for tracking this down @kzys . I was unable to do this. Closing issue.

[2022-02-16 18:15] #6557 closed

[2022-02-17 00:53] alexamy opened #6561 ""containerd": executable file not found in $PATH (Arch Linux)"
### Description

After updating system with `yay -Syu` I had `containerd-1.6.0-1` installed. Docker service was unable to start after this.
Command `sudo dockerd --debug` shows error `failed to start containerd: exec: "containerd": executable file not found in $PATH`.
I've tried to find `containerd` executable on my machine, and found this directory:
[code]
The part `/usr/usr/` looks suspicious. D

[2022-02-17 01:50] kzys commented on #6219
While the AST-based approach is definitely "sane", it cannot handle string literals such as

https://github.com/containerd/containerd/blob/39afc6fd47511e4a5b28dfe9f870b8bd5f75e394/api/events/container.pb.go#L635-L647

Also `sed` worked remarkably well so far. See #6560.

[2022-02-17 05:15] alexamy commented on #6561
Fixed in `containerd-1.6.0-2`,
Need to remove link before install:
[code]

[2022-02-17 05:15] #6561 closed

[2022-02-17 11:06] dcantah commented on #6508
+1, this sounds great.

[2022-02-17 16:38] dmcgowan commented on #6450
The digest always takes prevalence over a tag. In this case, containerd will never even see what the current tag value for `fake` is. The point of this syntax is use a tag at a specific version, the registry does not necessarily even keep this historical data. From the containerd client, any tag can be applied to any image. I think what you really are looking for here would be covered by notary or

[2022-02-17 17:41] kzys opened #6564 "Migrate off from github.com/gogo/protobuf"
### What is the problem you're trying to solve

We'd like to migrate off from github.com/gogo/protobuf. The package is looking for owners since 2020 and no longer compatible with https://go.dev/blog/protobuf-apiv2.

This is the master ticket to associate all PRs related to the migration.

### Describe the solution you'd like

Use google.golang.org/protobuf instead.

We have removed gogo/protobuf a

[2022-02-17 19:35] cristicalin opened #6565 "crictl stopp/rmp fails when CNI cannot complete taredown with containerd 1.6.0"
### Description

In the kubespray project we include a mechanism to erase the kubernetes cluster which we check in our CI.
Upgrading containerd from 1.5.9 to 1.6.0 seems to break this mechanism since contained tries to call the CNI (calico in our case) to tare down the networking but there is a race condition in the order containers are processed and the kube-api pods are no longer available for c

[2022-02-18 00:22] vsxen commented on #4547
ping @tiny1990

[2022-02-18 04:53] dhiman360 commented on #5854
Any work around is possible for this issue, we see containerd 1.6 is released now and there is no fix yet.

[2022-02-18 08:32] cristicalin commented on #6565
One more data point

[code]

[2022-02-18 13:37] dims opened #6567 "Publish `/api` directory to another repository"
### What is the problem you're trying to solve

In https://github.com/containerd/containerd/pull/6439, we decided that `it does make sense to import our API into a separate repository with generated bindings and tags`

### Describe the solution you'd like

Here's a gist that we can use to automate this step:
https://gist.github.com/dims/62ad31ba8e48ff0b4bcf63ae4365bd49

### Additional context

Can

[2022-02-18 13:37] dims commented on #6567
cc @dmcgowan

[2022-02-18 20:11] estesp commented on #633
This hasn't been in a milestone for a few releases; do we want to resurrect this and possibly see if there is interest in the community to work on it?

[2022-02-18 20:23] estesp commented on #953
Looks like `fs-verity` IOCTLs are in kernel since v5.4; some distros have the command line components. Not sure if that is the right approach, but just as a follow-up to a 2018 comment :).

[2022-02-18 20:31] estesp commented on #1548
I feel like this is probably too broad at this point to be useful anymore. We have the CRI docs in our repo; there has been some amount of update/re-organization in the past few years. The website is a separate repo with its own docs now (which definitely need updated, but have their own issue in that repo now).

Maybe we should close this and open more specific issues where needed?

[2022-02-18 20:33] estesp commented on #6551
Related: #1681

[2022-02-18 20:37] estesp commented on #6551
https://github.com/moby/moby/blob/master/pkg/chrootarchive/archive_unix.go#L25

This is using the "re-exec" pattern on the docker/moby engine binary (there is a re-exec registration method for different binary names); it actually only uses chroot and doesn't drop privilege; so if I suggested that, I was incorrect :)

[2022-02-18 20:39] estesp commented on #1920
Any status update here? Should we still maintain this roadmap item?

[2022-02-18 20:43] estesp commented on #2133
Looks like this is pretty stale; I think ARM(32 & 64) matching is working for the common cases; not sure if we ever worked out fallback to v7 for 32-bit userspace on ARM64(AArch64); @tianon may have had a discussion about this in an issue or PR at some point, IIRC?

[2022-02-18 21:03] estesp commented on #2267
Is this still something we need as an issue in the core containerd repo? Given we have a growing list of remote snapshotters, I assume this specific idea might be a future remote snapshotter like stargz, nydus, or overlaybd? Or do we want to keep this issue here as a placeholder for on-going work? @fuweid

[2022-02-18 22:38] TBBle commented on #1920
As far as I'm concerned, status is that #4419 is the next step, which depends on https://github.com/microsoft/hcsshim/pull/901 (and possibly a small amount of extra work for Windows Server 2022, I haven't tested) and then needs to be rebased and polished, particularly due to a bunch of test-suite changes which I think should be handled differently.

After that lands, the WCOW Snapshotter is functi

[2022-02-18 22:43] kzys commented on #6219
We are inclined to Option 2 so far, but instead of using gopatch, we would maintain our own small rewriter. See https://github.com/containerd/protobuild/pull/50 for the detail.

[2022-02-18 23:01] estesp commented on #2594
Would this make more sense to discuss formalization at the OCI layer? I know the HPC community has wanted to talk about this at the OCI level related to how containers on HPC usually have very specific requirements on MPI libraries or specific features and need to make image selection related to those on-host feature sets. So far it seems like nothing is really moving forward with how to define an

[2022-02-18 23:02] estesp commented on #2133
Great, so I think it makes sense to close this issue and open a new issue for any future issues that come up with ARM + variant matching.

[2022-02-18 23:02] #2133 closed

[2022-02-18 23:05] estesp commented on #2996
Going to close this for now; we now use GitHub Actions and have the framework to add any architecture to the release scripting that can be cross-built to in Go. However, given there is a notion of testing/support for our releases, we currently have open discussions about how to add architectures for testing in the current GH Actions framework. For arm64 we were able to add it formally because we a

[2022-02-18 23:05] #2996 closed

[2022-02-18 23:16] kzys commented on #6567
Could it be `github.com/containerd/api/`?

[2022-02-18 23:19] kzys commented on #6049
Resolving. It is up to gotest.tools/v3. No actions from our end.

[2022-02-18 23:19] #6049 closed

[2022-02-18 23:22] kzys commented on #5781
Hmm. right.

[code]

[2022-02-18 23:27] kzys commented on #5781
github.com/google/go-containerregistry is coming from hcssnim. github.com/containerd/nri and github.com/containerd/imgcrypt are coming from cri.

[2022-02-19 00:49] fuweid commented on #2267
@estesp I think we can close it😄

[2022-02-19 00:50] #2267 closed

[2022-02-19 01:25] dims commented on #6567
@kzys yep that works too

[2022-02-19 01:57] sipsma commented on #633
Just to chime in with some community interest, I just finished up a bunch of work for the upcoming Buildkit release that required extending the containerd snapshotter interface with [a method called `Merge`](https://github.com/moby/buildkit/blob/a1cfefeaeb66501a95a4d2f5858c939211f331ac/snapshot/merge.go#L39-L51). `Merge` is different than `Clone`, but has a lot of conceptual overlap with the `With

[2022-02-19 04:32] #1548 closed

[2022-02-19 12:37] Ram2322 commented on #2628
Hi Team i am getting below error while trying to deploy app from jfrog to ecs fargate. Anybody can assist on this?

CannotPullContainerError: inspect image has been retried 1 time(s): failed to resolve ref "myreceipts-docker-nonprod-virtual.us.artifactory.gcso.cbre.com/myreceipts-backend-service/aws2o:20220128.2": failed to authorize: failed to fetch anonymous token.

[2022-02-20 05:53] fuweid commented on #6402
closed by #6452

[2022-02-20 05:53] #6402 closed

[2022-02-20 12:18] tiny1990 commented on #4547
If you want to reproduce it, you need trigger a (GFP flag is GFP_NOFS ) oom event.
i can not reproduce it again.

[2022-02-20 19:57] zhsj opened #6573 "TestNormalize fails on armv8"
### Description

On armv8 system, I get:

[code]

After reading the code in TestNormalize, I'm just confused. Why it expects `DefaultSpec()` to equal ` Normalize(DefaultSpec())`

### Steps to reproduce the issue

1.
2.
3.

### Describe the results you received and expected

No error

### What version of containerd are you using?

v1.6.0

### Any other relevant information

_No response_

### Show

[2022-02-20 20:07] zhsj commented on #6573
Hmm, there's already a PR #6569 to fix this

[2022-02-21 00:16] vsxen commented on #4547
Thanks，I will try it.

[2022-02-21 04:11] tiny1990 commented on #4547
reply  it if you can repro it  plz, it' hard for me.

FYI
https://github.com/docker/for-linux/issues/670
https://github.com/docker/for-linux/issues/693

[2022-02-21 10:33] tiny1990 commented on #4547
@vsxen I can repro it !

step 1:
 build binary from leaker.c (https://lore.kernel.org/all/5659221C-3E9B-44AD-9BBF-F74DE09535CD@apple.com/#r)
[code]

step 2:
notice: /media/disk1 need xfs file system
[code]

step 3:
[code]

![Screen Shot 2022-02-21 at 18 31 26](https://user-images.githubusercontent.com/3408822/154937681-409ac135-dd2c-4658-82ed-647cd77c4055.png)

![Screen Shot 2022-02-21 at 18 30 56

[2022-02-21 11:39] bart0sh opened #6575 "Containerd fails to start coredns pods"
### Description

Containerd fails to start coredns pods on a fresh Kubernetes installation with the error "failed to find network info for sandbox"

### Steps to reproduce the issue

1. Build and install containerd:
[code]
2. init Kubernetes cluster:
[code]
3. see that coredns pods are not started:
[code]
$ see containerd error messages in the containerd log:
[code]

### Describe the results you r

[2022-02-21 12:39] marquiz commented on #6575
Have you tested with v1.6.0 or the latest `main`?

[2022-02-21 13:26] mjura opened #6576 "run containerd on amd64, get error undefined symbol: seccomp_notify_respond"
### Description

After containerd upgrade to latest upstream version v1.6.0 we get following error

[code]

Package which we have used https://github.com/containerd/containerd/releases/download/v1.6.0/cri-containerd-cni-1.6.0-linux-amd64.tar.gz

### Steps to reproduce the issue

1. Download https://github.com/containerd/containerd/releases/download/v1.6.0/cri-containerd-cni-1.6.0-linux-amd64.tar.g

[2022-02-21 14:53] bart0sh commented on #6575
I've tested it with the latest main (commit d128c3767b1a8e736b86101304b5583db862c73b)

[2022-02-21 15:19] bart0sh commented on #6575
@marquiz I've just reproduced this issue with v1.6.0-beta.1

[2022-02-22 03:16] fuweid commented on #6575
found root cause and update it later.

[2022-02-22 07:47] lining2020x commented on #759
Again, thanks.

[2022-02-22 11:47] rata commented on #6575
@fuweid what is the root cause?

[2022-02-22 12:59] robbie-coder commented on #5067
I ran into this issue today while testing kubernetes 1.23 on AKS. In my case I'm simply trying to launch a local PowerShell script inside the container which used to work fine but not with the containerd runtime. As mentioned before both the exec and shell forms don't work anymore with containerd.

Kubernetes is removing dockershim soon (in April in 1.24) this will probably affect a lot of Windows

[2022-02-22 15:11] lobeck opened #6581 "btrfs snapshotter slow / doesn't use snapshots properly?"
### Description

We're running a container that is very big (~250.000 files). We know, that this is not ideal, but we need to deal with it.

The default on AWS EKS is currently xfs with overlay2, which requires copies to be done, when a snapshot is created. Also from `lsof` and other observations, it looks like containerd is taking care of the file copy.

So in order to speed up the startup proces

[2022-02-22 15:49] boeboe commented on #3847
This worked for me FYI

    [plugins.cri.registry.mirrors."harbor.allbits.info"]
      endpoint = ["https://harbor.allbits.info"]
    [plugins.cri.registry.configs."harbor.allbits.info".tls]
      insecure_skip_verify = true

I changed `"io.containerd.grpc.v1.cri"` to `cri` only

[2022-02-22 16:10] fuweid commented on #6575
The root cause is that weave CNI doesn't return result with CNI version.

The following json is returned by weave CNI.

[code]

As the depedency of go-cni package, the containernetworking/cni will take default `v0.1.0`
for the missing-CNI-Version-result.

In containerd 1.5, the containernetworking/cni v0.8.0 will use the `Result` to parse any version <= `0.4.0`.

Since the `Result` supports slice

[2022-02-22 19:00] cpuguy83 opened #6583 "Image garbage collection policy"
### What is the problem you're trying to solve

Cleanup unused images on the node.

### Describe the solution you'd like

Today Kubernetes does have some garbage collection, but it is only triggered when storage is getting low.
Old images which may contain vulnerabilities may even be left on the node indefinitely without some manual cleanup (though access should generally be blocked by directory p

[2022-02-22 19:53] kevpar commented on #5067
I would expect this form to work. Is it possible you have another `CMD` or `ENTRYPOINT` elsewhere in your Dockerfile or base image which still uses shell form?

If you don't want to rebuild your image, you can also work around this by overriding the image `Entrypoint`/`Cmd` with a command set via the k8s pod spec.

[2022-02-23 01:09] kzys opened #6584 "Enable linters to catch issues like #6331"
### What is the problem you're trying to solve

We'd like to find issues like #6331 automatically.

### Describe the solution you'd like

golangci-lint was having scopelint which is replaced by looppointer and exportloopref by the author. We should be able to use either of them in our golangci-lint, if it doesn't result too much false positives.

### Additional context

_No response_

[2022-02-23 02:59] mikebrow commented on #6575
nod.. sounds like you are on the right track @fuweid

@MikeZappa87 heads up on a converter issue possibly coming to CNI

[2022-02-23 09:28] robbie-coder commented on #5067
Today after restarting the cluster I tried the workarounds again and `CMD ["powershell.exe", "c:\\test\\test.ps1"]` worked fine both in docker and in Kubernetes running containerd.

Somehow while testing my workarounds yesterday the cluster was in a weird state, it also gave different errors then the original issue did.

Thanks @kevpar for pointing this out and indeed you can also override the `En

[2022-02-23 09:59] lobeck commented on #6581
![perf](https://user-images.githubusercontent.com/424923/155296749-cb3b7f74-0f57-4644-89a6-7f99049aa58d.svg)

I had `perf` running, while the container was unpacked and started. There are excessive walks and a copy happening. I don't know too much about the containerd internals, but maybe this helps.

[2022-02-23 11:14] dogzzdogzz commented on #5630
Any update ? We are experiencing loopback interface down issue after we introduced KEDA and use jobs to frequently create many short-lived pods to consume msgs, the ugly workaround to ease this problem we are using now is deploying a daemonset to monitor the interface state and bring it up with command ```ifconfig lo up```.

[2022-02-23 11:42] survivant commented on #6565
Oh, I got those error messages too.  I upgraded from 1.5.9 to 1.6.0.  Should I downgrade to 1.5.9 ?

[2022-02-23 14:04] estesp commented on #3221
This should have been fixed by the kubernetes PR mentioned in the last comment. containerd itself has both the correct code via `ctr` and the CRI plugin to always set `rw` on sysfs when privileged and both paths are tested by testcases on every PR. Given the age and the reference to the K8s fix above I'm going to close this. Please open a new issue if there are new findings here.

[2022-02-23 14:04] #3221 closed

[2022-02-23 14:08] estesp commented on #3057
Now that basic OTEL support is in containerd (as of 1.6.0), should we close this general proposal and handle follow-ups via #6550? What do you think @fuweid

[2022-02-23 14:10] estesp commented on #3074
This is never seen in the multiple integration runs on every PR and release; maybe related to the underlying rootfs being overlay (is this a nested runtime?) Closing for now as I don't think there is anything in the codebase we can fix here.

[2022-02-23 14:10] #3074 closed

[2022-02-23 14:18] estesp commented on #3225
Seems we could use some help determining the various paths in which `Normalize` and `DefaultSpec` are used as they are still causing confusion today. See #6573 as one example from a recent test addition.

[2022-02-23 14:24] estesp commented on #3554
Seems the first two are complete. Do we want to find someone willing to take on the last 2, targeting the 1.7 release?

[2022-02-23 15:19] fuweid commented on #3057
@estesp sgtm. I removed the milestone and am closing it.

[2022-02-23 15:19] #3057 closed

[2022-02-23 15:33] fuweid commented on #6550
add 1.7 milestone here cc @estesp

[2022-02-23 18:51] mxpv commented on #3049
Yes, closing.

[2022-02-23 18:51] #3049 closed

[2022-02-23 18:53] estesp commented on #3369
@fuweid any reproduction scenarios here or ideas?

[2022-02-23 18:55] mxpv commented on #6567
Having an automated github actions job to take care of this would be great.

[2022-02-23 20:20] jterry75 commented on #6567
Forgive me as I have not followed the plot here. Why don't we just move it? We (containerd) can consume the api from another repository as well as other consumers. Theres need to treat it like a mirror right?

[2022-02-23 21:34] estesp commented on #3787
Looks like this is still happening in `main` PR CI runs:

https://github.com/containerd/containerd/runs/5310067812?check_suite_focus=true
[code]

[2022-02-23 21:56] estesp commented on #3788
Appears to be fixed sometime either in the containerd 1.4.x release line, and definitely by containerd 1.5.0:

[code]

[2022-02-23 21:56] #3788 closed

[2022-02-23 22:05] estesp commented on #3849
Related: #953

[2022-02-23 22:09] estesp commented on #3862
The core problem was solved in a different repo/package; I assume those packages are now updated for the distro(s) in question and we can close any tracking here (as none of the investigation ending up requiring changes to containerd)

[2022-02-23 22:09] #3862 closed

[2022-02-23 22:11] estesp commented on #3873
Per @Random-Liu comments this was fixed with the unknown state handling in CRI as well as with the k/k PR mentioned. Closing; please re-open if there is another issue still.

[2022-02-23 22:11] #3873 closed

[2022-02-23 22:13] estesp commented on #4011
@avoidik that looks correct and most of the docs are updated--I'm looking at cleaning up the doc flow a bit more so it's clearer, but that looks like the right configuration to "mirror" for docker.io.

I think we can close this issue, although those not able to use the new configuration (in 1.6.0) may have to upgrade to be able to do this.

[2022-02-23 22:20] estesp commented on #4107
I'm guessing that since #5741 was closed with "Sorry - we didn't call Wait() on the IO. We had assumed IO would be flushed when the process exited. Closing." and is from the same team as this issue, then this issue should be closed as well?

Closing, but please re-open if I am confusing 2 different issues.

[2022-02-23 22:20] #4107 closed

[2022-02-23 22:27] rtheis commented on #4068
@estesp things look good with containerd 1.4, 1.5 and 1.6.

[2022-02-23 22:47] cpuguy83 commented on #5887
Are we sure this is needed?

I'm pretty sure containerd does not skip anything when pushing (except as dictated by the client).
In 1.6 we did add support in `ctr` such that it *does* skip non-distributable layers by default with a flag to disable, but that was not the case prior to 1.6 (it just pushes everything).

[2022-02-24 01:49] BenTheElder commented on #4068
Kubernetes is [using 1.5.9 in KIND](https://github.com/kubernetes-sigs/kind/blob/ee6c4187e1a749ef60093ca1ffe51005b5a20c2b/images/base/Dockerfile#L30) currently and [1.6.0 most elsewhere](https://github.com/kubernetes/test-infra/pull/25298), we are not seeing this that I can find.

[2022-02-24 02:29] ritazh commented on #5887
This is great! would be good to add this to the 1.6 release note.

[2022-02-24 06:23] zhsj opened #6586 "Usage of go mod is not compatible with go1.18"
### Description

With go1.18, I get

[code]

Go upstream thinks it should be fixed in containerd instead. Ref https://github.com/golang/go/issues/51285

### Steps to reproduce the issue

1.
2.
3.

### Describe the results you received and expected

No error

### What version of containerd are you using?

main

### Any other relevant information

_No response_

### Show configuration if it is relat

[2022-02-24 06:39] cardyok commented on #6583
Currently we have two internal image garbage collecting plugins implemented, one is managing images at cri level while the other one works at containerd level. Since cri will update imagestore when handling image delete events data inconsistency wont be a problem. I am currently working on merging these two plugins, hopefully i can finish and raise a pr for reviews to take a look by next weekend.

[2022-02-24 13:24] lobeck opened #6587 "devmapper + xfs - "Filesystem has duplicate UUID - can't mount""
### Description

I've tried to run 1.6 with devmapper and xfs on EKS, but it seems, that no containers can start up. Unfortunately, the node is terminated before I can login, so maybe the first container is starting but no subsequent ones.

    XFS (dm-3): Filesystem has duplicate UUID 0686e31b-def5-45a1-a163-f22b1da6ec48 - can't mount

### Steps to reproduce the issue

1. Starting a Kubernetes no

[2022-02-24 16:09] estesp commented on #4068
Thanks for the feedback! Closing.

[2022-02-24 16:09] #4068 closed

[2022-02-24 16:13] estesp commented on #3938
I don't see any other reports of this. Given we are 4 major releases of containerd past 1.2.x, this might be handled given a range of fixes to unknown state and state management rework over that time period; not to mention the shim manager and implementation of 1.2.x era is deprecated.

[2022-02-24 17:25] dmcgowan commented on #6583
@cpuguy83 leases are an interesting way to handle this. Are you thinking this could have two changes, first to add image names as leasable objects, and second to support a gc flag on images to make them collectable? Obviously we could do this today by leasing the manifest, but then it will appear as gone in the image store and trigger a pull (although should only require head to the registry to ge

[2022-02-24 19:27] estesp commented on #5175
Related: #4838

[2022-02-24 19:41] estesp commented on #6581
since this is via the CRI (Kubernetes), is it possible that you are seeing the stats collection performance hit on btrfs? See #6067 and #4217 for more detail.

[2022-02-24 20:07] lobeck commented on #6581
I saw these but reports but didn't think they are the cause here, as this is an issue during the image unpacking and when a container is prepared for start.

Once it's running, I see the constant load of the stats collector which I didn't care about so far, as the container start time is my main concern for the moment

[2022-02-24 20:28] estesp commented on #3910
@alexellis are you ok with closing this as "working as designed"? Definitely could be clearer in the docs that the client API expects some level of host filesystem access and is not a "remote API" like the Docker client API.

[2022-02-24 20:34] estesp commented on #4120
Maybe we can do this for containerd 2.0 (accept it as a breaking change for shims used with containerd >= 2.0?)

[2022-02-24 21:17] jterry75 commented on #4120
We get around this by passing it as a shim opt on windows rather than as the cmdline invocation.

[2022-02-24 21:49] kzys commented on #4120
Adding flags breaks old shims but more consistent. Adding environment variables is less consistent, but doesn't break old shims.

Another meta question: What if we want to add another flags? Can we make this containerd-to-shim mechanism somewhat extensible? Would it be just YAGNI?

[2022-02-25 02:08] andyzhangx opened #6589 "mountPath behavior changed from docker to containerd on Windows"
### Description

now the following mountPath behavior changed from docker to containerd on Windows:
[code]

- docker on Windows

mount as a D drive

- containerd on Windows

mount as `c:\D\` folder

question is how can I mount as a new drive with containerd on Windows? is this a regression?

### Steps to reproduce the issue

1. n/a
2.
3.

### Describe the results you received and expected

I could

[2022-02-25 02:08] andyzhangx commented on #6589
cc @kevpar

[2022-02-25 03:08] kevpar commented on #6589
@ambarve was looking into this.

[2022-02-25 06:35] anfernee commented on #5768
Any plan to fix this issue? We still see this problem in GKE.

[2022-02-25 14:14] estesp commented on #4286
Given the broad array of shim implementations (some of them starting micro VMs.. so which "host" is being queried?) and platform support now, I don't think there is a common containerd-level implementation for this. I think this would be best handled via a custom plugin or runc/OCI hook as I don't see a path for this being in scope for containerd as @AkihiroSuda mentions above. If there has been p

[2022-02-25 14:19] bluca commented on #4286
So far we have implemented this as mentioned in nspawn and flatpak: /run/host/os-release is made available to the runtime payload.

[2022-02-25 18:04] austinvazquez commented on #6584
Easy to add exportloopref scan bc golangci-lint supports ootb. However, the linter's [doc](https://github.com/kyoh86/exportloopref#known-false-negatives) states it will not catch this issue.

Confirmed with the following test:

[code]

Linter results:
[code]

[2022-02-26 01:39] colobas opened #6592 "`docker.io` namespace has host hardcoded to `registry-1.docker.io`. Unclear how to add mirrors."
It looks like [these lines](https://github.com/containerd/containerd/blob/77d53d2d230c3bcd3f02e6f493019a72905c875b/remotes/docker/config/hosts.go#L99-L101) hard code `registry-1.docker.io` as the the host for the `docker.io` making it impossible (?) or unclear how to use a mirror for dockerhub.

[2022-02-26 01:42] henry118 commented on #6584
`gosec` could be the linter to use here?

[2022-02-26 15:50] mnorrsken commented on #6592
You can specify mirrors:
[plugins."io.containerd.grpc.v1.cri".registry.mirrors]
  [plugins."io.containerd.grpc.v1.cri".registry.mirrors."docker.io"]
    endpoint = ["https://registry-1.docker.io"]

Or in docker by editing daemon.json

[2022-02-27 18:37] Dean-Coakley commented on #6584
I took a look at fixing this however I don't see a good solution:

`$ git revert 54e95e6b880912e489529be120d4ecead80dbd90` (54e95e6b880912e489529be120d4ecead80dbd90)

1. `looppointer` finds the issue but is not available in golangi. It seems proposals to add it have been rejected due to having some false positives reported.
[code]
[code]

2. `exportloopref` finds nothing
[code]

3. `gosec` seems l

[2022-02-28 14:14] #6592 closed

[2022-02-28 14:47] dg424 commented on #6520
Hi @AkihiroSuda
Any tips on debugging this problem ? I'm willing to test/debug patches, configurations, etc.

[2022-02-28 17:16] kzys commented on #6584
Thanks folks. Seems it is more complicated than I initially thought. Updated the description and labels.

[2022-02-28 21:18] anusha-ragunathan opened #6598 "Volume's ownership and permissions changed when running containerd as Kubernetes CRI"
### Description

This bug reveals unexpected modifications to a directory's permissions made during the container's runtime. Refer to this [Dockerfile](https://github.com/anusha-ragunathan/cri_difference/blob/main/Dockerfile) that specifies a directory, which is symlinked, has it's ownership changed and mounted as a VOLUME during image build time.

- This image, when run as a container on dockerd

[2022-02-28 21:21] anusha-ragunathan commented on #6598
cc @dmcgowan

[2022-03-01 11:17] RichardoC commented on #6450
Thanks @dmcgowan , if we're going the direction of containerd not validating tags (which seems reasonable to me) could we require that a tag is *not* provided by that point? That way we have explicit behaviour at that point?

[2022-03-01 16:04] zhsj opened #6600 "Extend default CNI bin path"
### What is the problem you're trying to solve

Currently the default CNI bin path is `/opt/cni/bin`

Ref: https://github.com/containerd/go-cni/blob/e559bd8b26eeb6b23c92686b808c057225ec5cfb/types.go#L22

However for downstream distributions, we have put CNI binaries in `/usr/lib/cni`  (Debian), `/usr/libexec/cni` (Fedora).
The reason is official distribution packages are forbidden to ship files in

[2022-03-01 16:52] mikebrow commented on #6583
There is definitely a need for pod/container image caching policies to be specified by at the orchestration and/or fat client level. Leases sound good to me as a way to enable higher level policy management. We can do the higher level policies in our cri layer or expose leasing over CRI and let kubelet manage the leases.

[2022-03-01 17:49] cpuguy83 opened #6602 "Proposal: Respect non-distributable layers by default in client.Push"
### What is the problem you're trying to solve

In containerd 1.6, `ctr` now skips "foreign" (aka "non-distributable") layers by default.
With it came a push handler that other tools can use to also skip it.

In buildkit v0.10, propagating "foreign" layers to the output image is opt-in (due to implementation reasons, there is no 'parent' image to propagate from), but once opted in, pushes respect

[2022-03-01 21:40] #6232 closed

[2022-03-01 23:40] jterry75 commented on #6602
https://docs.microsoft.com/en-us/virtualization/windowscontainers/about/faq#how-do-i-make-my-container-images-available-on-air-gapped-machines-

This is already supported in Docker today so I don't see it as a huge issue. However, I do worry about the implications of the licensing of the Windows base layers. Do we have any requirement here or is it safe to say "users are responsible to keep these

[2022-03-02 10:17] misstick86 opened #6604 "`ctr run --cni` get failed"
### Description

I exec `ctr run -d --cni --cpu-quota 20000 docker.io/library/redis:6.0 redis-2` command, this ok.  but after I delete redis-2 container,   When I want to run the above command I get an error. this is bug?

[code]
You will see a container with *CREATED* state, may be *RUNNING*?

[code]

### Steps to reproduce the issue

[code]

### Describe the results you received and expected

I

[2022-03-02 11:27] bart0sh commented on #6575
@fuweid can you explain why containerd 1.5.7 works in the same setup?

[2022-03-02 15:14] fuweid commented on #6575
The root cause is that the weave-cni doesn't return version in the result and the new version of official libcni doesn't support that.

containerd has dependencies on `github.com/containernetworking/cni`.

containerd 1.5.x uses `github.com/containernetworking/cni@v0.8.1` which always uses version of configuration to choose the parser to parse the result. For instances, the weave-cni uses the follo

[2022-03-02 23:38] bart0sh commented on #6575
@fuweid  thank you for the detailed explanation!

[2022-03-03 01:04] jiefenghe opened #6609 "add -proxy input to configure containerd"
### What is the problem you're trying to solve

When trying to set up proxy for containerd service in windows, there's multiple options so far

1. set machine level environment variable
[code]
This is undesired because we might accidentally disclose credentials of the proxy.

2. set process level environment variable

Drive a new service class from `System.ServiceProcess.ServiceBase` in C#, and th

[2022-03-03 06:45] sfowl opened #6610 "Inode quota support"
### What is the problem you're trying to solve

Prevent containers from using a large number of inodes and exhausting system memory.

### Describe the solution you'd like

Allow for configurable inode quotas that prevent container images from using more than the inode limit.

### Additional context

Hostile processes in unprivileged containers can abuse the lack of inode quotas to by creating e.g.

[2022-03-03 07:09] utkarsh2102 opened #6611 "Test failure with 1.6.1 (`TestNonRootUserAndDevices`: `invalid memory address or nil pointer dereference`)"
### Description

Whilst building 1.6.1 in Ubuntu, I hit a SIGSEGV when running tests:
[code]

I've no clue why that's happening. :/

### Steps to reproduce the issue

1. build 1.6.1 in Ubuntu Jammy.
2. run the tests.
3. you'll get a SIGSEGV like posted above.

### Describe the results you received and expected

I expected the tests to simply pass. :)

### What version of containerd are you using?

[2022-03-03 11:25] zhsj commented on #6611
Should be fixed by https://github.com/containerd/containerd/pull/6596

[2022-03-03 12:12] franznemeth opened #6612 "`crictl pull` fails on windows because of unicode character in path"
### Description

We are using containerd on Windows Server 2019 (1809) for our CI as a CRI for rke2 kubernetes. We have images which have Visual Studio 2019 installed.

The installation of VS2019 has added some files with unicode characters in it's name.
[code]
These characters prevent containerd from successfully pulling the container from a registry.
[code]
Pulling the same image using another C

[2022-03-03 17:17] kzys commented on #6612
While the Unicode character is suspicious, the beginning (`\\?\C:\`) looks also wrong. The syntax is `\\[host name]\\[drive letter]:\[path]` I believe.

`\\?\C:\Windows\TEMP\hcs071695283\Files\Program Files (x86)\Microsoft Visual Studio\2019\BuildTools\Common7\IDE\CommonExtensions\Microsoft\TextMate\Starterkit\Extensions\cmake\Snippets\File(Glob �).tmSnippet`

[2022-03-03 17:31] franznemeth commented on #6612
The `\\?\C:\path` is the way windows parses a path that exceeds its max length.
Docs: https://docs.microsoft.com/en-us/windows/win32/fileio/maximum-file-path-limitation?tabs=cmd

[2022-03-03 17:51] jterry75 commented on #6612
Hey this is a known issue. Can you upgrade to containerd 1.6.0+?

[2022-03-03 17:52] jterry75 commented on #6612
@dcantah - FYI

[2022-03-04 05:40] franznemeth commented on #6612
Since containerd comes with rke2 and I cannot pick the version I will manually install the newer version and get back to you. Thanks for the quick replies!

[2022-03-04 08:04] franznemeth commented on #6612
Tested on 1.6.1 on ws19 and the issue is fixed. Thanks for your assistance. I have opened an issue with rke2 to upgrade to a newer containerd version.
[code]

[2022-03-04 08:04] #6612 closed

[2022-03-04 19:33] kzys commented on #6611
Thanks! The change will be backported to 1.6. See #6623.

[2022-03-04 19:36] kzys commented on #6610
https://www.kernel.org/doc/html/latest/admin-guide/cgroup-v2.html

Wouldn't it be covered by cgroups?

[2022-03-04 19:39] kzys commented on #6609
Setting the environment variable from containerd itself may break if containerd's dependencies make HTTP calls in Go's `init()`. They shouldn't do such a thing though.

[2022-03-04 19:49] kzys commented on #6490
I'm fine with the approach proposed here.

@fuweid Would you work on?

[2022-03-04 20:34] TBBle commented on #4878
I've posted #6618 to apply https://github.com/containerd/containerd/issues/4878#issuecomment-797853787 for now. If-and-when CRI gains a `WindowsDevice` structure or similar, that can be handled as part of the CRI API upgrade.

Feedback welcome, particularly on the non-CRI aspects and edge cases.

[2022-03-05 02:42] fuweid commented on #6490
Currently, I have plan to work on this. If you already has patch for it, feel free to assign to yourself. :)

[2022-03-06 06:39] TBBle commented on #4878
I have put this up for review in #6626, since I needed this functionality to build #6618.

[2022-03-07 11:21] EGuesnet opened #6627 "ppc64 - Change disk size value in devmapper test"
### Description

On some machine, the root test `testMakeFileSystem` (https://github.com/containerd/containerd/blob/main/snapshots/devmapper/pool_device_test.go#L240) fails with error

[code]

The reason behind is not a containerd bug itself, but the minimal size of a disk required for a partition is larger than the size of the disk created by the test. Current disk size is approximately 100KB and

[2022-03-07 20:09] relyt0925 commented on #6541
So if this was removed what is the expected way of installing containerd? It seems this is what the docs point to using

[2022-03-07 20:10] relyt0925 commented on #6541
Example docs:
https://containerd.io/docs/getting-started/#systemd-based-distributions

[2022-03-08 13:27] Lumrenion opened #6633 "Network issues since 1.4.12-1"
### Description

I have a server running Debian Buster. I have two (Docker) containers. First is an nginx container which accepts connections via port 465. Second calls on the command line `openssl s_client -connect example.com:465` (where example.com is the domain or IP pointing to the server). The openssl command runs into a timeout.

The issue only occurs if both containers run on the same host

[2022-03-08 15:36] estesp commented on #6633
You should open an issue in https://github.com/moby/moby as containerd has no network functionality by default. I don't see any commands listed above but the version numbers and the mentions of Docker provide the assumption you are using the Docker client+engine, which is the codebase providing you networking capabilities built on top of containerd (and runc).

The changelog of a small handful of

[2022-03-08 15:52] Lumrenion commented on #6633
Thanks for your reply. I have the following packages installed:
- docker-ce: 5:20.10.12~3-0~debian-buster
- docker-ce-cli: 5:20.10.12~3-0~debian-buster
- containerd.io: 1.4.11-1

I cannot say if it is really a network error. I might be on a false track here. I don't know the internals of containerd.io. But as soon as I upgrade to a higher version of containerd.io, I get the described error. So I a

[2022-03-08 15:56] cpuguy83 commented on #6633
What version of runc is in each containerd.io package?

[2022-03-08 15:56] himslm01 opened #6634 "Documentation of image registry mirrors is does not describe the requirements when there is a path to the mirror"
### Description

The deprecated but widely used method of configuring registry mirrors does not mention the requirements when a path is included.

In debugging this issue I had to use `tcpdump` and an http registry.

My containerd is behind a corporate firewall and cannot access the internet.
I have a Nexus instance which is acting as a registry proxy, which can access the internet.

As defined in

[2022-03-08 18:22] clnperez commented on #6627
@EGuesnet can you update the title of this issue to include the architecture? as we've hit differences before due to larger page sizes on Power, it will probably be more obvious to folks as to why we'd like a change in the test.

[2022-03-08 18:39] jterry75 commented on #6649
@dmcgowan - Do you have an idea how to fix this here? Problem is that (although unlikely) the image itself can have multiple unpacks. So it's not a simple "sum of snapshots" + content store. Do we need to solve that to be correct here?

[2022-03-08 18:42] jterry75 commented on #6648
Isn't it the client that is doing the pulling and not containerd? Why cant the client process run it the separate network namespace to accomplish this before writing to the containerd content store?

[2022-03-08 18:47] kzys commented on #6611
Resolving since we have fixed in `main` and 1.6.x.

[2022-03-08 18:47] #6611 closed

[2022-03-08 18:56] kzys commented on #6091
Resolving. While we haven't figured out the solution, the discussion is moved to #6541.

[2022-03-08 18:56] #6091 closed

[2022-03-08 18:58] kzys commented on #5908
Resolving. Seems all PRs have been merged.

[2022-03-08 18:58] #5908 closed

[2022-03-08 19:10] kzys commented on #5155
Resolving. OpeJDK should be "container aware" now. See https://bugs.openjdk.java.net/browse/JDK-8203357.

[2022-03-08 19:10] #5155 closed

[2022-03-08 19:26] dmcgowan commented on #6541
The containerd archive should be enough to cover what we ship, such as [containerd-1.6.1-linux-amd64.tar.gz](https://github.com/containerd/containerd/releases/download/v1.6.1/containerd-1.6.1-linux-amd64.tar.gz).  It's not really the best practice to ship tar archives with your software as well as a few dependencies and configurations which only target a few (but not documented which) Linux system

[2022-03-08 20:44] Kern-- commented on #6598
This is fixed by https://github.com/containerd/containerd/commit/8acbb276477c8353ddb7551b58cb3fdeb0b13caa and is fixed in containerd-1.4.6-8.amzn2

[2022-03-08 20:49] anusha-ragunathan commented on #6598
Thank you for confirming.

[2022-03-08 21:38] kzys commented on #6598
Thanks @Kern--! Resolving.

[2022-03-08 21:38] #6598 closed

[2022-03-09 15:54] TBBle commented on #4878
I've marked #6618 as fixing this issue, but on re-reading the original request, it wasn't CRI-specific.

#6618 implements `oci.WithWindowsDevice` which can be used by other front-ends for mounting devices in Windows, but I haven't plumbed it through into `ctr`. It'll be near-trivial to implement `--device` support in `ctr` on Windows, but I'm out of time for the evening to implement and test that.

[2022-03-09 16:04] TBBle opened #6652 "critest "runtime should support exec with tty=true and stdin=true" seems flaky on Windows Server 2022"
### Description

After #6626 enabled `critest` on GitHub Actions, I've seen the specific test below fail on `main` branch a lot, on Windows Server 2022. Looking at [the main branch CI builds](https://github.com/containerd/containerd/actions/workflows/ci.yml?query=branch%3Amain) it feels like it's a one-in-two failure rate, and I felt the same way during development of #6626.

<details>

<summary>

[2022-03-09 16:54] olljanat commented on #6652
Definitely sounds like same case and afaiu it is related to stdin. With quickly search on *hcsshim* I found this one and wonder if the case is that those 3 retries just are not enough? https://github.com/microsoft/hcsshim/commit/573c1375f5d664c52a589f3b910e126fb54b7e4d

[2022-03-09 16:58] mikebrow commented on #6652
haven't looked at this just remembering cr lf back on windows/dos... I'd be looking for any possible cr conversions to lf and if there were two line feeds because of that..

[2022-03-09 17:36] kzys opened #6653 "Better ppc64 support"
### What is the problem you're trying to solve

Our existing CI infrastructure doesn't have ppc64 (PowerPC). Due to that we have/had issues on the architecture;

- #6627
- #5436
- #3005

We are currently reactive regarding this architecture.

### Describe the solution you'd like

Continuously test containerd in ppc64. Apparently Oregon State University has https://powerci.osuosl.org/ which hosts s

[2022-03-09 17:46] jterry75 commented on #6652
@dcantah - Have you seen any issues like this in testing?

[2022-03-09 20:02] dcantah commented on #6652
We run critest internally as well and haven't seen this test (or any for that matter) fail. Our tests internally are on AZ machines so it's possible it may be a setup issue like @TBBle alludes to, but that's just pure guesswork on my part really. I don't think this patch would matter much unless Containerd restarted during the test, but even then I don't think we handled stdin reconnect https://gi

[2022-03-09 20:16] Joseph-Goergen commented on #5563
@dmcgowan @aojea @mikebrow I just tested this in 1.6 and it still does not kick me out after stream_idle_timeout time is up

[2022-03-09 22:01] ruiwen-zhao commented on #4659
We have a customer facing exactly the same issue as this one. More specifically, their Dockerfile has

[code]

where the first RUN whiteouts a certain directory and the second RUN tries to access files under it.

@knight42 Are you still planning to work on this?

[2022-03-09 23:54] xmcqueen opened #6655 "CTR: ctr shim socket path seems wrong"
### Description

I see this line of code in the ctr shim code, and it looks wrong:

[code]

I don't see any logic that makes it avoid that line, and the error I am debugging seems to be a consequence to this line, since the error message I saw is 20 lines below this line.

I see `containerd-shim` seems to be storing its sockets here per my instance:

`/run/containerd/s/`

[link to the code](https:

[2022-03-10 00:33] xmcqueen commented on #6655
I think this must be wrong. It looks more like an API call than the thing I was looking at.  Closing.  I'll reopen later if appropriate.

[2022-03-10 00:33] #6655 closed

[2022-03-10 01:06] ruiwen-zhao commented on #4659
IIUC, the error is triggered when:
a) a directory (dir A) is removed, and therefore marked as a whiteout character device, on lower layer, and
b) a file (file B) under the directory exist on upper layer.

In this case, mkparent throws error when calling `Lstat` on dir A on lower layer here: https://github.com/containerd/containerd/blob/77d53d2d230c3bcd3f02e6f493019a72905c875b/archive/tar.go#L448

[2022-03-10 03:48] luodw opened #6656 "Proposal: mount slice support extra options"
### What is the problem you're trying to solve

[Nydus](https://github.com/dragonflyoss/image-service) is a open source project which provide a new image format and bring lazyload ability to containers. It mainly consist of `nydus-snapshotter`([remote snapshotter](https://github.com/containerd/nydus-snapshotter)), nydusd(fuse/virtiofs daemon), nydusify(for build image) and so on. Runc and Kata Con

[2022-03-10 03:49] henry118 commented on #6584
Per my testing `gosec` seems able to identify issues like https://github.com/containerd/containerd/commit/54e95e6b880912e489529be120d4ecead80dbd90.

[code]

[2022-03-10 06:19] shuaichang opened #6657 "CRI support specify snapshotter during pod creation instead of a global config"
### What is the problem you're trying to solve

Our K8s has a mixed deployment of Kata and Runc containers, where Kata containers runs untrusted workloads and Runc for the trusted workloads. For the best performance and security reason, we use devmapper snapshotter for Kata containers.

However, with current containerd-cri implementation, snapshotter config is global, which means we cannot specify

[2022-03-10 09:22] AkihiroSuda commented on #6657
- Option 1: Extend the runtime class to support snapshotters
[code]

- Option 2: Use a pod [annotation](https://github.com/containerd/containerd/blob/v1.6.1/pkg/cri/annotations/annotations.go) like `io.kubernetes.cri.snapshotter`. The allowlist of the snapshotter should be defined in `/etc/containerd/config.toml` .

cc @ktock

[2022-03-10 10:19] ktock commented on #6657
SGTM

[2022-03-10 18:18] TBBle commented on #6652
Okay, with [more debugging logs](https://github.com/TBBle/containerd/actions/runs/1964587098), the 'race condition' idea looks like a red herring.

Success case:
* `TBBle: (he *hcsExec) waitForExit: before he.p.Process.Wait()`
* `TBBle: relayIO Cmd stdout, 231 bytes`
* `TBBle: (he *hcsExec) waitForExit: after he.p.Process.Wait()`
* `TBBle: (he *hcsExec) waitForExit: before he.p.Wait()`
* `TBBle: (

[2022-03-10 18:35] olljanat commented on #6652
@jterry75 any possibility to find someone who have access to Windows source codes to investigating this one?

It completely prevents Docker to start using containerd with Windows which would eventually allow it stop using deprecated HCS v1 https://github.com/moby/moby/issues/41455

[2022-03-10 18:39] dcantah commented on #6652
@helsaawy This makes me think some of your work may have fixed/will fix this (also confused how we don't seem to be hitting this internally or on the periodic tests). Let me setup some vms to try this on different builds in the meantime

[2022-03-10 18:40] dcantah commented on #6652
@olljanat @helsaawy and I would likely be the ones on the hook here :)

[2022-03-10 19:32] jterry75 commented on #6652
@olljanat - @dcantah / @helsaawy are those people :)

[2022-03-10 19:33] jterry75 commented on #6652
LOL. I completely missed your response Danny. I'm not great at reading...

[2022-03-10 19:55] tianon opened #6659 "1.6.x inside a Docker container fails to run containers (`cannot enter cgroupv2 "/sys/fs/cgroup/default" with domain controllers -- it is in an invalid state`)"
### Description

On 1.5.x (with either of `runc` 1.0.3 or 1.1.0) I can successfully run a Docker container with `--privileged` and `/var/lib/containerd` on a volume, run `containerd` inside, and run containers on that `containerd` instance without issue.

On 1.6.x (again, with either recent `runc` version) I get the following error when I try to run a container:

[code]

### Steps to reproduce the

[2022-03-10 19:55] tianon commented on #6659
Sorry, forgot to mention that this is on `cgroupsv2` (although I think that's probably clear from the error message).

[2022-03-10 22:18] mikebrow commented on #6657
option 1: SGTM.

cc @dmcgowan

[2022-03-11 03:54] TBBle commented on #6652
Okay, possible totally out of left field, but is there any way we might see issues with this if there were two builds of the shim around, and we sometimes ran the wrong one sometimes? I noticed we build the shim twice in the GitHub Actions workflow (once through `make binaries` and once output into `integration/client` for some reason), and while fixing that up, the problem stopped reproducing: ht

[2022-03-11 04:13] AkihiroSuda commented on #6659
Please provide Dockerfile, and also please make sure you have this https://github.com/moby/moby/blob/38805f20f9bcc5e87869d6c79d432b166e1c88b4/hack/dind#L28-L38

[code]

[2022-03-11 06:08] winkee01 commented on #3800
my registry server is `http://registry-server:5000` and I use Nginx as a proxy server to server HTTPS connection at "https://myreg.io", my config in `/etc/containerd/config.toml` is this:
[code]

But this doesn't work. So I changed to this:
[code]
Still not working.

What is the wrong here? help

[2022-03-11 06:23] tianon commented on #6659
Ahhhhhhh, now I feel silly -- that's exactly what I was missing.  Thank you, @AkihiroSuda!

Hopefully this can stand as a helpful reminder to the next poor sucker who tries to do this and fails with a similar error message. :smile: :innocent: :see_no_evil:

[2022-03-11 06:23] #6659 closed

[2022-03-11 07:10] afbjorklund commented on #6541
It seems that Kubernetes was planning to use this as part of the containerd installation, instead of installing "containerd.io"

You might want to coordinate with https://kubernetes.io/docs/setup/production-environment/container-runtimes/#containerd

The CRI documentation is being overhauled for Kubernetes 1.24

Since that release includes the removal of dockershim and kubenet

[2022-03-11 07:28] AkihiroSuda commented on #6541
We can consider extending the nerdctl-full tar gz to include CRI/CNI stuffs if it is useful.

Maybe want to create "nerdctl-almost-full" (poorly named, though) to maintain the current "nerdctl-full" too.

[2022-03-11 08:06] afbjorklund commented on #6541
Currently it is falling between the chairs...

Kubernetes wants the container runtime to document how to setup and configure CRI/CNI, but the runtimes/engines aren't really aware of that (except for CRI-O, but I guess the comment applies to Podman in that case)

So after the removal of "dockershim" and "kubenet", the user is left with - nothing.

[2022-03-11 11:06] dhiman360 opened #6662 "kubectl exec does not have a -user option"
### Description

Access bash of the container and switch to root user (sudo su -), user get the privilege access and become root without any password.

### Steps to reproduce the issue

1. Use the dockerfile as attached and make the docker image (docker build ...)
[Dockerfile_centos.txt](https://github.com/containerd/containerd/files/8231217/Dockerfile_centos.txt)

2. Use the deployment as attache

[2022-03-11 11:12] dhiman360 commented on #6662
Note that it is reproduced in ubuntu container also.

[code]

[2022-03-11 13:42] dims commented on #6541
@afbjorklund the transfer of responsibilities from k8s to the runtimes will take some time to settle down. This is the time for runtime folks to step up and take over the burden that was on k8s ecosystem for such a long time.

[2022-03-11 14:20] afbjorklund commented on #6541
It seems to be up to the "distributions"

[2022-03-11 17:41] kzys commented on #6587
This should be resolved by #6650.

[2022-03-11 18:35] fengwang666 opened #6665 "CRI server miss handling ESRCH error"
### Description

Currently, when the cri server [kills](https://github.com/containerd/containerd/blob/8b9498909dba6dda44fda26d95ef7dbcd1765995/pkg/cri/server/container_stop.go#L174) a task, it doesn't handle the `ESRCH` error. Instead, it expects the shim to [translate](https://github.com/containerd/containerd/blob/77d53d2d230c3bcd3f02e6f493019a72905c875b/pkg/process/utils.go#L135-L139) it to `IsN

[2022-03-11 22:48] kzys commented on #3225
Note that we have [arm64/v9](https://en.wikipedia.org/wiki/AArch64#ARMv9-A) now.

Right now `arm64/v8` is normalized as `arm64`, as like `amd64/v1` is normalized as `amd64`. On the other hand, `arm`'s normalized form always has its variant.

[2022-03-11 22:50] kzys commented on #6573
The test itself should be fixed by #6569. Well, we are just skipping the test in Linux though.

We would discuss about the correct behavior in #3225.

[2022-03-11 22:50] #6573 closed

[2022-03-11 22:53] #4878 closed

[2022-03-11 23:46] mikebrow commented on #3800
the debug tool "ctr" does not parse or use the cri config in any way.. the cri config is for crictl, rancher, kubernernetes, ...  You can pass your username and password at the ctr command line.

[2022-03-12 06:01] henry118 commented on #6584
Played a bit more around the linter. I noticed that `golangci-lint run -E gosec ./...` didn't list the issue but `golangci-lint run -E gosec .` did.

The reason is that `golangci-lint` has a default limit of listed items per the following configs:

[code]

I've created PR #6669 to address this.

[2022-03-12 08:40] codimiracle commented on #5895
Oh, I have similar problems, but I use `--all-platforms` flag to pull image and try export again, and then i exports image successfully, i guess my pulled image just using another platform image layer.

[2022-03-12 11:36] linxiulei opened #6671 "Failed to create container when containerd uses relative directories"
### Description

`ctr` reports error `ctr: failed to mount /tmp/containerd-mount410218473: no such file or directory` when `containerd` is started with relative directories

### Steps to reproduce the issue

1. containerd --root ./root
2. ctr -- run --rm  docker.io/library/busybox:latest new echo 123

ctr: failed to mount /tmp/containerd-mount410218473: no such file or directory

### Describe the

[2022-03-14 02:53] buddyadmin commented on #6662
@mikebrow : true, the changes to group membership wont have effect in the same session, but even when I invoke a new kubectl exec session, the changes still do not reflect. The last output in the description shows a new exec session wherein gpasswd was executed to remove user from wheel failed with error mmsuper not present in wheel group.

etester@master-0:~/test_dir> kubectl exec -i -t ubuntu1-6

[2022-03-14 03:31] buddyadmin commented on #6662
Just to add, the behavior isnt the same when using docker as container runtime. The docker is able to pick group memberships  from groups file inside the container everytime kubectl exec is used.

[2022-03-14 07:31] shuaichang commented on #6657
One limitation I can see with Option 1 is that the `RuntimeHandler` is not passed in from the PullImageRequest (`PodSandboxConfig`  does not have it, either). So seems to me there's not an easier way to do Option 1 without Kubelet support?

* IMO Option 2 is also a good way for such purpose and does not conflict with Option 1 in if the future  CRI client supports passing the `RuntimeHandler`, e.g.

[2022-03-14 07:55] kevpar commented on #6657
I agree with option 1 is a good long term goal. I am a fan of hanging more configuration off of runtime handler, then the user can set what runtime class to use on their pod spec. Regarding the runtime handler name not being passed on image pull, there was some discussion in [this KEP](https://github.com/kubernetes/enhancements/tree/master/keps/sig-windows/1301-windows-runtime-class) about setting

[2022-03-14 12:20] fanminshi opened #6678 "Return "unsupported digest algorithm" error when digest hash is not set"
### Description

I am trying to use https://github.com/containerd/containerd/blob/d4641e1ce1e07393115cd52bd71041ee8a99a180/metadata/content.go#L149 for my code to examine the content metadata. This isn't working the first place because I didn't
the hash function needed by go digest.
[code]

The error is swallowed by

https://github.com/containerd/containerd/blob/c523102b52cf4239d7c6a735bfe70a2bfb2

[2022-03-14 16:41] mikebrow commented on #6662
right we'd either have to "change" existing behavior of the CRI exec api, as we have implemented it, or extend the api to support the new desired behavior.. If this was four years ago it would be easier to change default behavior.   Here is the api:
[code]

[2022-03-14 16:42] mikebrow commented on #6662
as you can see there is no user option

[2022-03-14 16:52] avagin commented on #2398
I think this issue was indirectliy fixed by https://github.com/opencontainers/runc/commit/8187fb740c202f5d29f1717bb933143c10dae8a1

[2022-03-15 03:20] AkihiroSuda commented on #6640
Yes, https://github.com/containerd/nerdctl/blob/v0.17.1/cmd/nerdctl/image_encrypt_linux_test.go

[2022-03-15 04:16] dhiman360 commented on #6662
@mikebrow / @AkihiroSuda , can you please re-tag it as kind "bug" then?

[2022-03-15 04:23] #6584 closed

[2022-03-15 17:11] elchead opened #6682 "Can't generate proto"
### Description

I had the same problem executing `make proto` as mentioned here https://github.com/containerd/containerd/issues/4316.
I followed the steps but they did not work neither.

### Steps to reproduce the issue

1. bash script/setup/install-dev-tools
2. make generate
3.

### Describe the results you received and expected

#### Received
[code]

[code]

when trying to fix this by not delet

[2022-03-15 20:05] shuaichang commented on #5646
Hi @renzhengeek was this issue resolved with newer version of containerd? We've seen the same problem.

[2022-03-15 23:22] williamh commented on #6586
We are now hitting this in Gentoo Linux also. https://bugs.gentoo.org/835367

[2022-03-16 05:30] dmcgowan commented on #6564
What are we going to do about the use of `types.Any` from `"github.com/gogo/protobuf/types"` in some of out interfaces.  For example: https://github.com/containerd/containerd/blob/v1.6.1/runtime/runtime.go#L38

[2022-03-16 05:51] dmcgowan commented on #6682
Is `$GOPATH` in your case set to `~/go`? I just saw this after having a messed up GOPATH but after getting a clean checkout and fixing GOPATH it resolved. The protobuf does not make use go modules today so it relies on finding the definitions in GOPATH.

[2022-03-16 07:54] elchead commented on #6682
thanks @dmcgowan for your help! GOPATH is set
[code]

and I manually cloned the two dependencies in this path (git clone in gogo directory):
[code]

[2022-03-16 16:45] dcantah commented on #6652
Okay, peering back in after trying this quite extensively locally (over 200 iterations) with no failures.. It seems the Github actions machines are the minority here if things seems to go over well on a local vm and az machines, but what could possibly be different I'm not sure..

Thinking back a bit though, I'd added bindings for the [pseudo console API](https://github.com/microsoft/hcsshim/blob/

[2022-03-16 16:51] dcantah commented on #6652
I think we'd just re-run the CI if it failed so I don't have a lot of examples to show but here's one from after check-in that shows the same symptom as Paul had found, we don't seem to be getting any output: https://github.com/microsoft/hcsshim/runs/4598067706?check_suite_focus=true#step:4:527

This also only seemed to manifest on ws2022

[2022-03-16 19:21] termdew commented on #6653
I would like to work on this. Was there already a request sent to the OSU?
There is a form for this, but I don't know if I should do this or some maintainer of containerd.

https://osuosl.org/services/powerdev/request_powerci/

[2022-03-16 21:09] mikebrow commented on #6662
Thank you for bringing these issues to our attention.

As a temporary workaround, have you tried ssh or the kubectl ssh plugin..

I agree these need investigation and resolution, and that might require some number of new features and / or bug fixes in kubernetes and the container runtimes.

Note: kubernetes also supports exec probes, ... any change in behavior exec may cause un-intended consequenc

[2022-03-17 01:25] andyzhangx commented on #6589
any progress here?

[2022-03-17 08:31] cardyok opened #6685 "When shim process is unexpectedly killed container metadata leftover in monitor list"
### Description

When shim is killed (-9 for example), ttrpc onClose function is called, taskExit event is sent, but since event handler cannot get task status anymore task.Delete won't be invoked thus monitor.Stop is never called, leaving collector looking for a nonexist container and keeps throwing errors.

### Steps to reproduce the issue

1. start container
2. kill -9  shim process
3. collecto

[2022-03-17 09:22] TBBle commented on #6589
Looks like #6651 is the solution, and is progressing through review. The tests at https://github.com/containerd/containerd/pull/6651/files?diff=unified&w=0#diff-908e014f804871a6a2f00b97c0f88f378cfba56538f24cf0b8da4040d0d797e2 appear to cover this use-case.

[2022-03-17 09:40] TBBle commented on #6652
It might be worth trying to run up the [GitHub Actions VM image](https://github.com/actions/virtual-environments) for Server 2022, and see if the problem can reproduce there. Given that it seems to be tty-related, my guess is either something is odd in the VMs being created, or whatever is actually _running_ the actions is somehow interfering with TTY operation.

Thinking about it, my first suspic

[2022-03-17 12:17] dcantah commented on #6652
I don't want to throw off the trail just based off that non-container pty test as it might've been a fault of my own in the test, but it is a bit odd that they're both having issues on ws2022.. On RS5 it looks like Windows Server containers didn't make use of the pseudo console API either, so there's another tidbit of info for us to play with.

Does anyone think it'd be fruitful to skip this test

[2022-03-17 13:17] TBBle commented on #6652
Yeah, without more clarity on the problem than we have now, skipping the test is better overall.

I don't suppose there's an env-var that can detect the GitHub Actions VM/runner specifically? The test is passing on the Windows Periodic run AFAIK, so if we can avoid skipping it there, then really we have lost nothing compared to where we were in February. ^_^

[2022-03-17 16:22] dcantah commented on #6652
Given the periodic tests are in their own yaml, couldn't we get away with just -ginkgo.skip {regex} on the run in ci.yml?

[2022-03-17 22:47] ethan-lowman-dd opened #6691 "[transfer] plugin to transfer service for image verification"
### What is the problem you're trying to solve

We would like to be able to verify images after a digest is resolved and before image layers are pulled, using a customizable plugin.

A verifier would be a function or RPC that takes in an [`ocispec.Descriptor`](https://pkg.go.dev/github.com/opencontainers/image-spec/specs-go/v1#Descriptor) and returns a value indicating whether the image pull shoul

[2022-03-17 23:58] olljanat commented on #6652
Btw. https://github.com/moby/moby/pull/41479#discussion_r584795703 which was mentioned here earlier was possible to repro locally. I tried now with latest moby code which uses containerd 1.6.1 and it was not as clear anymore if I hit the same or other issue with it.

Anyway, I tried to re-enable this one again https://github.com/moby/moby/blob/085c6a98d54720e70b28354ccec6da9b1b9e7fcf/integration/c

[2022-03-18 00:38] dcantah commented on #6652
@olljanat I have not tried to repro the moby issue yet as I was trying to see if I could get the critest test case to barf (which to my demise didn't happen). Is there a simple repro/setup to follow there? They could very well be related. What host build were you getting the moby issue to appear on?

[2022-03-18 08:22] KritR commented on #5930
Leaving this here for anyone who stumbles across this issue.
https://kubernetes.io/blog/2021/08/16/windows-hostprocess-containers/

Seems like

[2022-03-18 09:46] pacoxu opened #6692 "denial of service if starting huge number of pods for parallel image pulling"
### Description

I copied the description from https://github.com/kubernetes/kubernetes/issues/108674 by @xhejtman

If starting a large number of new pods (100+) all from the same image that is not currently present on nodes, containerd is flooded with pull requests and I can see messages like this:
[code]
underlaying storage is SSD. I have max_concurrent_downloads = 3, but it does not seem to tak

[2022-03-18 09:54] fuweid commented on #6692
I think it has been fixed by #6478

[2022-03-18 10:07] fsiegmund opened #6693 "Multi-arch: Windows image pull does not pull best match"
### Description

If a multi-arch Windows image contains multiple Windows images with same build version but different Update Build Revisions(UBR), the first image listed in the manifest is pulled, even if an image is available that matches build and UBR of the host OS. This causes unexpected container startup delays of several minutes on Kubernetes nodes that already have Windows base images deplo

[2022-03-18 10:14] Champ-Goblem commented on #6080
We also seem to be experiencing this issue as well, it happens once in a while for us on containerd `1.5.9`.
[code]
This specific pod was running in kata cloud hypervisor and is stuck in `0/2 Terminating`.

@mxpv

[2022-03-18 10:35] franznemeth opened #6694 "Windows rootfs.size-gb label is not expanding volume to specified size"
### Description

We are using containerd 1.6.1 as a CRI for our windows kubernetes nodes (using RKE2).

Our workload needs a rather large C:\ drive and thus in the past when we used docker we used the storage-opts to increase the size to 100GB as described [here](https://docs.microsoft.com/en-us/virtualization/windowscontainers/manage-containers/container-storage#example).

With containerd the onl

[2022-03-18 17:16] kzys commented on #6692
And the fix has been backported to 1.5 branch. 1.5.10 should have the fix.

[2022-03-18 18:55] jterry75 commented on #6694
@dcantah - There are tests for no default storage size right? I'm surprised to see that this didn't work

[2022-03-18 19:10] dcantah commented on #6694
Afaik yes, won't be home for most of today but can verify later/Monday!

[2022-03-18 20:06] jterry75 commented on #5930
@rawahars - FYI

[2022-03-18 22:45] Destarianon opened #6700 "Containerd.io 1.5.10-1 causes "docker stats" to fail on ubuntu 20.04.4"
### Description

Referencing this external issue: [https://github.com/moby/moby/issues/43387](https://github.com/moby/moby/issues/43387)

Unsure what the actual mechanism at play is, but docker statistics fail with containerd.io version 1.5.10-1 on ubuntu 20.04.4.
CGroups v1 are all enabled and pseudo files return valid statistics.

### Steps to reproduce the issue

Setup:
1. Install ubuntu 20.04.

[2022-03-18 22:51] ruiwen-zhao commented on #4659
I did some experiments, and it looks like the error `lstat FILENAME: not a directory: unknown` is from: https://github.com/containerd/containerd/blob/77d53d2d230c3bcd3f02e6f493019a72905c875b/archive/tar.go#L443-L446

And I also tested the fix mentioned in above and it does fix the issue. It does the fix because `applyNaive` always handles the whiteout files first for each layer.  See https://githu

[2022-03-19 03:20] TBBle commented on #6693
I think the existing reproduction case was operating correctly. Although https://hub.docker.com/_/microsoft-windows-servercore does say

if you follow through to the linked pages, you can see that ["host OS version" is meant to be read as, e.g. Windows Server 2022](https://docs.microsoft.com/en-us/virtualization/windowscontainers/deploy-containers/version-compatibility?tabs=windows-server-2022%2Cw

[2022-03-19 04:53] fuweid commented on #6692
@pacoxu I am going to close it. If the latest 1.5 release doesn't fix this, please feel free to reopen it. Thanks

[2022-03-19 04:53] #6692 closed

[2022-03-19 05:43] TBBle opened #6701 "Windows Container test coverage for Hyper-V isolation"
### What is the problem you're trying to solve

There are no integration tests I can see that validate Hyper-V Isolation support. This means it's impossible to _add_ integration tests that are need to check both Process and Hyper-V isolation, because we have no baseline "does it run" test.

I noticed this in https://github.com/moby/moby/pull/43368 and realised that the lack of test coverage also a

[2022-03-19 08:02] pacoxu commented on #6692
Thanks.

[2022-03-20 02:13] qiutongs commented on #4659
Just put some notes to my investigation. I couldn't completely follow the root cause and bug fix yet. Need more investigation from local reproduction.

Here is the call stack:
- [pkg/cri/server/image_pull.go PullImage](https://github.com/containerd/containerd/blob/v1.6.0/pkg/cri/server/image_pull.go#L138)
  - [pull.go Pull](https://github.com/containerd/containerd/blob/v1.6.0/pull.go#L37)
    - [u

[2022-03-21 01:25] fuele commented on #4297
I'm experiencing the same problem on my kubernetes install on my raspberry pi. It just continually creates new processes. When I freshly reboot the machine I have between 10-20 `containerd-shim-runc-v2` processes, but after it runs for a week or so it will build up to about 800 and eat up all the memory. Killing the processes doesn't seem to help.

Here is a sample:
[code]

System information:
[co

[2022-03-21 04:50] vsxen opened #6704 "container stop without any reason"
### Description

container stop without any reason

### Steps to reproduce the issue

[code]

init k8s
[code]

containerd logs

INFO[2022-03-21T12:38:16.426566459+08:00] StopContainer for "9a87d9f85880223a33b8cd952c82a3279cff9ebecabd7e325a7bf0c4b05b4782" with timeout 30 (s)

[code]

[code]

### Describe the results you received and expected

container running

### What version of containerd are yo

[2022-03-21 12:14] fsiegmund commented on #6693
If as an image producer I went though the effort to create a multi arch image with e.g. 10.0.17763.2114 and 10.0.17763.2686, I obviously would expect that both can be used, not just 10.0.17763.2686. E.g. node with version 10.0.17763.2114 would prefer image 10.0.17763.2114. not 10.0.17763.2686.  The question why want someone do this is another issue, but as stated in #6508, "practically there's alm

[2022-03-21 16:05] kzys commented on #6564
Let me take a look. It would be better to have our own Any instead of taking Any from google.golang.org/protobuf.

[2022-03-21 17:16] C-Higgins opened #6707 "1.5.10 causes memory leak in mysql container; regression from 1.4.13"
### Description

I updated containerd.io on Fedora from 1.4.13 to 1.5.10. After this, all mysql docker containers across multiple projects began using 20+GB of memory where before they used <300MB. I restarted the computer and confirmed the problem persisted. I then rolled back to 1.4.13 and the problem was gone.

### Steps to reproduce the issue

1. Run a docker container with linux/amd64 arch wi

[2022-03-21 18:43] kzys commented on #6464
Resolving since we've merged #6519.

[2022-03-21 18:43] #6464 closed

[2022-03-21 18:53] dmcgowan commented on #6564
@kzys I was hoping https://github.com/containerd/typeurl/blob/main/types.go#L50 would be the best candidate. Since any use of `Any` should be registered with the `typeurl` package anyway.

[2022-03-22 00:53] AkihiroSuda commented on #6586
Reopening until we fix 1.6/1.5
https://github.com/containerd/containerd/pull/6605#issuecomment-1074565270

[2022-03-22 03:51] eggboy commented on #6438
I'm having exactly the same issue with containerd 1.5.9. @fredcoq , Have you managed to get it working by any chance?

[2022-03-22 04:05] TBBle commented on #6693
Another reason for the existence of a manifest-list with multiple UBRs for the same host version is new builds on the new UBR being _added_ to that manifest list over time. The `docker manifest` tool for example lets to add to an existing manifest, but not remove items from it, which we do from our CI pipeline.

And in this case, and in the general case of "manifest list" on any platform, _I perso

[2022-03-22 07:18] AkihiroSuda opened #6710 "cri: unpack images automatically"
https://github.com/containerd/containerd/blob/8b9498909dba6dda44fda26d95ef7dbcd1765995/pkg/cri/server/restart.go#L440-L449

I guess we can unpack the images automatically by default, but we can have a boolean in `config.toml` to toggle the behavior if there is a concern.

[2022-03-22 07:18] AkihiroSuda commented on #6710
cc @Random-Liu

[2022-03-22 07:24] franznemeth commented on #6694
Hi, thanks for the update.
Unfortunately it seems like this is not a valid annotation for a kubernetes pod:
[code]
I cant really find an issue with the annotation when reading the error message but according to k8s documentation https://kubernetes.io/docs/concepts/overview/working-with-objects/annotations/ the format of an annotation has to be `example.com/keyname: value` which the `containerd.io/

[2022-03-22 09:53] TBBle commented on #6508
Note for future implementer: Also get rid of the redundant ` && m.defaultMatcher.Match(p)` in `func (m windowsmatcher) Match(p specs.Platform) bool`, since entry to this block has already checked that. I imagine implement this will refactor that block anyway, but better to mention it than overlook it again.

[2022-03-22 10:44] fsiegmund commented on #6693
ok, this use case is of course a conflict. So how do you cleanup old images, if the images are locked in by the manifest? I suppose you also add a new tag to the manifest and change a deployment config to use the new version? Otherwise a cached version might still be used. I also assume you only target containerd deployments, since as you found out, moby's logic is different.

In our CI/CD all ima

[2022-03-22 10:53] dcantah commented on #6694
No I don't think you are.. This was probably an oversight of just expecting the looseness of containerds label format to "just work" for k8s annotations. Looking here if after splitting by a forward slash you end up with > 2 sections of the annotation (which in this case we'd end up with 3) it will fail validation https://github.com/kubernetes/kubernetes/blob/0b8a665d508a861713398d0480e4789802c706

[2022-03-22 11:14] dcantah commented on #6694
I think the problem here stems from how we test our cri interactions for this https://github.com/microsoft/hcsshim/blob/51aee6bd9e4da920dd6473137929370606402ad1/test/cri-containerd/runpodsandbox_test.go#L783. We just call the cri entry point to Containerd directly and don't go through k8s, so the annotation validation is skipped entirely.

[2022-03-22 11:16] dcantah commented on #6694
Truthfully, this might make sense as a new cri field on the [WindowsContainerConfig](https://github.com/kubernetes/cri-api/blob/d36222214dc349d012ff85a4584456d92b693c2c/pkg/apis/runtime/v1/api.proto#L864), but in the meantime we'll need to think about how we can get this to work here

[2022-03-22 16:29] TBBle commented on #6693
It wasn't until this discussion that I realised that the CI nodes might not be pulling the latest image from the manifest list. I haven't actually looked, (I don't actually maintain that system anymore, I just submit builds to the queue), but if anyone had asked, I'd have guessed it used the latest patch release as the 'obvious' behaviour. Supporting multiple patch releases wasn't my intention whe

[2022-03-22 19:16] jterry75 commented on #6693
In general I agree. This is a solvable problem but I don't think this is the right default globally. A custom matcher for k8s if they wish to solve this would make it possible and nothing is stopping that today. But as a best practice IMO the platform should always apply the highest patch number it can unless explicitly reference by sha/kb/version for a previous version. When someone says "pull lt

[2022-03-23 04:20] xiaoping8385 opened #6712 "volumeClaimTemplates in statefulset not work well in windows containerd runtime"
### Description

Check details in this report:  https://github.com/kubernetes/kubernetes/issues/108868#issue-1176624906

### Steps to reproduce the issue

1. see above
2.
3.

### Describe the results you received and expected

1. see above

### What version of containerd are you using?

containerd-v1.5.7

### Any other relevant information

_No response_

### Show configuration if it is related to

[2022-03-23 10:37] yogeek commented on #6637
@brandond Reading the doc you mentionned, there is an example with ECR but I do not get where we can get the "ecr" binary that is called to get the credentials. I found this repository : https://github.com/kubernetes/cloud-provider-aws#aws-credential-provider but the binary to get the credentials does not seem to be provided in the release assets...
To use the kubelet credential provider for ECR,

[2022-03-23 13:12] fsiegmund commented on #6693
Custom matcher sounds good! I did not know that this was supported. I will try to make a case for this in k8s and figure out where that change should be added (any hints welcome).

Note: I doubt that any public image has manifest list with same OSVersion and multiple UBRs. moby for example does not use latest.

[2022-03-23 13:37] khatrig commented on #6694
Facing the same issue, Is there a workaround available for this?

[2022-03-23 18:13] aarongoulet commented on #6602
It seems rational that the proposed behavior (respecting non-distributable layers on push) would be the default.  If this change is implemented, however, it will be important to communicate it clearly and prominently in the version notes on the next release, as this would be a breaking change for anyone currently using a client besides Docker for pushing distributable artifacts (whether validly or

[2022-03-23 18:22] brandond commented on #6637
yeah, it's not great. The feature is pretty immature still, with providers only barely supporting it if at all.

[2022-03-23 23:29] ssaaiidd commented on #6707
I have the same issue

[code]
I implemented a temp solution using ulimit like this comment. It's worked for me. https://github.com/docker-library/mysql/issues/579#issuecomment-1074069882

[2022-03-23 23:48] ssaaiidd commented on #6707
The difference may be due to this PR: https://github.com/containerd/containerd/pull/4475

[2022-03-23 23:56] C-Higgins commented on #6707
Yes, can confirm that this is a valid workaround. It seems very likely that the increase to infinity nofile size is the problem on some systems.

[2022-03-23 23:58] thaJeztah commented on #6707
That's .... interesting. If that's causing an issue, that feels like a bug in systemd 🤔  (as `infinity` should be equivalent to the old value)

[2022-03-24 00:01] C-Higgins commented on #6707
I will do a repro test later this week with 1.5 and 1.6, after modifying the service file, to see if the problem is isolated to just that line

[2022-03-24 00:07] thaJeztah commented on #6707
Thanks in advance for that!

Slightly orthogonal; I recall I once opened a ticket (more a "reminder"); to look into other options in this area; that ticket was related to the systemd unit for docker-ce, but the same applies to the one for containerd (which was originally based on what we had in docker); https://github.com/docker/for-linux/issues/73. If anyone arriving here is interested in doing s

[2022-03-24 03:16] liangxianlong commented on #6095
This error may not caused by RunPodSandbox rollback.[Jille] restarts the containerd,before cri start,the cri service can't work for k8s. It is important to find out how the same name coming in `r.nameToKey` when restart containerd.
@fuweid @Jille

[2022-03-24 03:25] zhaoxuat opened #6733 "containerd panic"
### Description

###  sometime containerd restart panic.
[code]

### Steps to reproduce the issue

1.upgrade containerd v.1.3.4 to containerd v.1.5.10
2.restart containerd

### Describe the results you received and expected

cant restart containerd successfully

### What version of containerd are you using?

containerd github.com/containerd/containerd v1.5.10.m 2a1d4dbdb2a1030dc5b01e96fb110a9d9f15

[2022-03-24 06:23] afbjorklund commented on #6387
After docker upgrading containerd to 1.5.10, this started happening again.

[code]

[2022-03-24 08:05] liangxianlong commented on #6095
I also meet the same problem when `systemclt restart containerd` .
[code]

[2022-03-24 12:58] couling opened #6736 "::1 localhost set in /etc/hosts but ::1 not added to the looback device"
### Description

Not sure if this is directly containerd or otherwise some other docker component?

Running containers as IPv4 only (default for docker) results in an `/etc/hosts` file being mounted into the container such as:
[code]

However the container's loopback device has no `::1`.

When software tries to open a listening socket, the `localhost` address will resolve `::1` and then fail to bi

[2022-03-24 14:24] dims commented on #6387
@afbjorklund this will be fixed for 1.24 kubernetes. (Fix in publishing-bot https://github.com/kubernetes/kubernetes/pull/108970).

[2022-03-24 14:35] afbjorklund commented on #6387
Not sure when it will be backported to containerd 1.5 though, or when docker-containerd will be upgraded to 1.6

[2022-03-24 16:25] cosmoer opened #6737 "don't cleanup after containerd-shim-v2 crash"
### What is the problem you're trying to solve

after containerd-shim crash, containerd will cleaning up all container resource.
I don't think it's very friendly to the fat container.

### Describe the solution you'd like

Maybe, instead of doing a cleanup, restart the shim process, and restore the previous state.

@mxpv

### Additional context

_No response_

[2022-03-24 18:18] C-Higgins commented on #6707
I installed 1.5 and confirmed problem still persisted. I then modified `/lib/systemd/system/containerd.service` to read `LimitNOFILE=1048576`. I then restarted the service and the daemon: `sudo systemctl restart service containerd` `sudo systemctl daemon-reload`. Problem still persisted. I then restarted the service once more, because I thought the daemon might have cached the service (so in total

[2022-03-24 19:56] ethan-lowman-dd commented on #6691
The input to the "verify" RPC will need the original image reference as well as the resolved descriptor. The descriptor alone does not include the registry/repository/tag.

[2022-03-24 19:59] ethan-lowman-dd commented on #6691
Feedback from today's community meeting: the [remotes.Resolver](https://pkg.go.dev/github.com/containerd/containerd/remotes#Resolver)'s `Resolve` method is likely a better place to verify than in the `Fetch` method.

[2022-03-24 21:18] kzys commented on #6733
The panic was coming from https://github.com/containerd/containerd/blob/main/pkg/cri/server/events.go#L245.

subscribe() is responsible for initializing the channels.

https://github.com/containerd/containerd/blob/e7cba85e1c133f5f78bfc8b9a8efeeead0a3148e/pkg/cri/server/events.go#L98-L106

[2022-03-24 23:32] mikebrow commented on #6733
nothing stands out... is it possible to run this with "containerd -l debug" on the off chance the additional detail will find something.. The only thing that comes to mind after going over the code is the event monitor context may have been cancelled.

[2022-03-25 03:16] luodw commented on #6656
Hi, Is there any ideas?

[2022-03-25 04:34] fuweid commented on #6733
It is not expected containerd v1.5.10. What did you modify?

[2022-03-25 04:37] fuweid commented on #6707
I think you should do daemon-reload first and then restart containerd. And it only makes sure that it works for new containers, not for existing ones.

[2022-03-25 04:39] fuweid commented on #6737
containerd-shim is deprecated and please use containerd-shim-v2 binary. ShimV2 will cleanup the resource after shim is dead

[2022-03-25 07:10] zhaoxuat commented on #6733
I add some function code. I review this code again, and find some problem. this `newEventMonitor` function has used repeatedly in my code, lead to `contained` panic.

[2022-03-25 07:10] #6733 closed

[2022-03-25 07:25] fuweid commented on #6733
thanks for the follow up

[2022-03-25 13:16] cosmoer commented on #6737
The suggestion I mentioned above is for the Shimv2 process,  maybe don't cleanup the resource,  container resource should be re-managed.

[2022-03-25 13:19] fuweid commented on #6737
sorry for misunderstanding. Just curious, what is the fat container?

[2022-03-25 13:22] cosmoer commented on #6737
yes, it's fat container.

[2022-03-25 14:17] fuweid commented on #6737
If you are using runC, I think there is solution like https://github.com/fuweid/embedshim which I am working on.
It is aimed to remove shim for runC.

[2022-03-25 15:19] cosmoer commented on #6737
Wow, this is what I want. I'll take a closer look.

[2022-03-25 15:19] #6737 closed

[2022-03-25 15:58] elchead commented on #6682
The proto i needed for CRI was actually generated through a script in the kubernetes repo.

[2022-03-25 15:58] #6682 closed

[2022-03-25 22:26] qiutongs commented on #4659
I can reproduce the problem in https://github.com/containerd/containerd/issues/4659#issue-729889551 with following steps.

Setup docker auth config
[code]

Build with kaniko
[code]

[2022-03-25 22:28] qiutongs commented on #4659
But if I build the image with normal `docker build`, the image can be pulled successfully. So I checked the **top layer** of images between these two cases.

Result from Kaniko.

[code]

Results from normal docker build
[code]

[2022-03-25 23:25] ruiwen-zhao commented on #4659
Thanks @qiutongs  for the investigation!

So what kaniko does that is a bit suspicous is that it constructs a container image with:

Lower layer:
[code]

Upper layer:

[code]

i.e. an upper layer has a file under a directory that's been deleted on lower layer, AND the file appears before the parent directories on upper layer.

In the example above, tar.go will complain `lstat: /root/dirA/dirB/ not

[2022-03-26 21:16] estesp commented on #6736
containerd has no logic to set up DNS resolvers, /etc/hosts configuration, etc. That is all part of the Docker engine's "libnetwork" implementation so you will have to open a bug in the [moby project](https://github.com/moby/moby) to get help for the issue.

[2022-03-26 21:25] thaJeztah commented on #6736
I recall there was a ticket for this; https://github.com/moby/moby/issues/37616

[2022-03-26 21:46] estesp commented on #6736
Wow, that was quick @thaJeztah; and quite the read 👀 ❗

@couling: I wish there were better news from that end, but it appears it is at least a known, reported issue. Given there is nothing we can do in containerd to solve the issue, I'm going to close the issue here. Thanks.

[2022-03-26 21:46] #6736 closed

[2022-03-26 21:54] thaJeztah commented on #6736
Yes, we should try to have some people give it another look. I recall the networking people at the time having some reasons for it, but must admit that I wasn't very closely involved in those discussions, so will also have to read up on it all ☺️😅

[2022-03-26 22:02] couling commented on #6736
From my end, it's just about having /etc/hosts match reality.

Thanks a lot for your attention.

[2022-03-27 15:26] tao12345666333 commented on #6600
SGTM.

[2022-03-27 19:01] brandonros commented on #1881
if https://github.com/containerd/containerd/pull/5935 gets merged, is there full support for containerd on OS X or not really?

[2022-03-28 03:09] dhiman360 commented on #6662
Is there any estimate, when this might get fixed ?

[2022-03-28 10:13] arpadmuller opened #6741 "yum install, transation freeze with containerd.io 1.5.10"
### Description

I got got a freeze when I am trying to build centos 7 image.
My containerd.io version is:

containerd.io-1.5.11-3.1.fc34.x86_64.rpm

OS: Fedora 34
Kernel:Linux  5.16.15-101.fc34.x86_64

When I am trying to install packages (for example mc) inside the runnning container, yum stuck on transations.
One of my cpu thread at this time is working on 100%

### Steps to reproduce the issue

[2022-03-28 15:15] mikebrow commented on #6662
no estimate..

Did you want to change the title and description of this issue? Or split it out into two issues? It seems like you had two issues here, one for 1) default user gains root access via `sudo su -` without password, the other 2) kubectl exec does not have a -user option and instead uses the current user (the one I've been discussing)

[2022-03-28 15:37] AkihiroSuda commented on #6741
Unlikely to be an issue of containerd.
What is your Moby storage driver? (Shown in `docker info`)
With BuildKit or without?

[2022-03-28 16:36] arpadmuller commented on #6741
My store driver is ZFS
After I downgrade the containerd to 1.4.9, the problem disappeared.

Docker info:
`Client:
 Context:    default
 Debug Mode: false
 Plugins:
  app: Docker App (Docker Inc., v0.9.1-beta3)
  buildx: Docker Buildx (Docker Inc., v0.8.1-docker)
  scan: Docker Scan (Docker Inc., v0.17.0)

Server:
 Containers: 3
  Running: 1
  Paused: 0
  Stopped: 2
 Images: 10
 Server Version: 20.

[2022-03-28 17:49] pnyheim commented on #6741
Same problem here.
Fedora 35 with containerd.io 1.5.11 (also tried 1.5.10)
downgrading to 1.4.13 solved the issue for me

Steps I used to reproduce:
[code]
and then inside container
[code]
the yum transaction takes almost 3 minutes to complete - whereas it usually is just a few seconds.

Strangely, I also tried the same with other images such as `almalinux:8` and `fedora:35` - but only experience

[2022-03-28 21:13] CryptoRodeo commented on #6707
I applied the same fix as @C-Higgins and also got rid of the issue on my machine.
(containerd version 1.5.11 )

[2022-03-29 10:03] anubisg1 opened #6745 "redis-server zombie process (owned by containerd-shim)"
### Description

i have a microk8s server in a cluster of 3.
On one of the nodes redis-server is always a zombie process owned as follows:

[code]

### Steps to reproduce the issue

install microk8s on ubuntu 20.04 ARM64

### Describe the results you received and expected

not to have a zombie process

### What version of containerd are you using?

containerd github.com/containerd/containerd 1.5.5

[2022-03-30 02:59] daveoy commented on #6575
Hi all, I'd like to add that this combination is still not working as of containerd 1.6.2.

Thank you so much for this thread, it unblocked me with a task I had been scratching my head on all day.

Do we know what the most recent 1.5 release that works with weave-kube:2.8.1 is?

[2022-03-30 08:44] mimmus commented on #3971
Lot of these with:
[code]

[2022-03-30 09:09] fuweid commented on #6575
ping @MikeZappa87 any update from CNI community?

[2022-03-30 09:11] fuweid commented on #6745
@anubisg1 the server pid=3440 forked redis-server, right? If so, the server should be reaper to clean the zombie

[2022-03-30 09:15] anubisg1 commented on #6745
Possibly, how can I check?

[2022-03-30 09:28] anubisg1 commented on #6745
@fuweid

i might need a bit of tutoring to give you what you need. Here you can see all pods running on the node where i get the zombie

[code]

deepstack is the only container running in a non system namespace, as looking at this:

https://hub.docker.com/layers/deepstack/deepquestai/deepstack/arm64-server/images/sha256-5850e5046e1fd2f7a7f0c2676e607a1a4857e31016b232b727728b6220d29233?context=explo

[2022-03-30 09:35] fuweid commented on #6745
@anubisg1 you should check the container log first to check why redid-sever exits. I think log can tell you the reason.

Container process is be pid 1 which should take responsibility to reap the zombie. Containerd will not handle this.

[2022-03-30 09:42] anubisg1 commented on #6745
@fuweid  ok, so i need to check with deepstack folks themselves, thank you!

the logs tell me nothing unfortunately, actually the are pretty clean if i look at logs via kubectl . when i check inside the container though i see this line repetead multiple times

[code]

but doesn't seem to indicate problems with redis.

thank you for your help, i will open a report to openstack

[2022-03-30 14:06] fuweid commented on #6745
That's alright. I am going to close it. If there is issue from containerd, please reopen it. Thanks

[2022-03-30 14:06] #6745 closed

[2022-03-30 14:46] abhishekbvs commented on #5538
Facing the same issue with containerd 1.4.4 on RedHat 7.9. I don't see any security tool running on the setup to  interrupt the un-mounting process. Adding MountFlags in containerd service file is also not helping as it is bringing down the other core pods like kube-proxy after a restart. Anybody with any workarounds to sort this issue?

[2022-03-30 15:42] mimmus commented on #5597
I'm experiencing this issue with:
`containerd containerd.io 1.4.7 3194fb46e8311ae0eeae5a7a5843573adfebb16d`
on CentOS 7 (containerd.io-1.4.7-3.1.el7.x86_64).

Cluster is powered off every night: could this be the root cause?
Any suggestion?

[2022-03-30 16:08] gjvoosten commented on #6741
Yup, same for me on Fedora 35 with containerd.io 1.5.11; any `yum install` in a CentOS 7 container takes seemingly forever. Based on @pnyheim's comment I downgraded to 1.4.13 (and rebooted just to be sure; didn't even bother with 1.5.10), and then it was again superfast.

[2022-03-30 16:27] MikeZappa87 commented on #6575
This is in the weave github now (https://github.com/weaveworks/weave/issues/3936) I wonder if they will address this?

[2022-03-31 03:58] ningmingxiao commented on #6380
but if somebody want to use cri-api but not use k8s,we want to restart(stop +start) it

[2022-03-31 12:19] #6542 closed

[2022-03-31 15:21] aleitao commented on #6741
Hi,
I think the change that is causing this issue is the value of LimitNOFILE:
cat /usr/lib/systemd/system/containerd.service | grep LimitNOFILE
changed between versions:
1.4.13: LimitNOFILE=1048576
1.5.11: LimitNOFILE=infinity

Changing the service file to the old value or alternatively creating a new file in /etc/systemd/system/containerd.service.d/override.conf with:
[Service]
LimitNOFILE=10485

[2022-03-31 23:20] mxpv commented on #6587
I think this can now be closed. Feel free to reopen if there are still issues.

[2022-03-31 23:20] #6587 closed

[2022-04-01 08:57] AkihiroSuda commented on #6542
Haven't analyzed the cause, but here is a benchmark result with Fedora 35 CI:

https://github.com/containerd/containerd/runs/5770838420?check_suite_focus=true took 11m15s for `Integration` tests
https://cirrus-ci.com/task/5110810069434368 (https://github.com/AkihiroSuda/containerd/commit/4acc5dfa63a42322a9d31315792e910f657a40b3) only took 4m42s.

[2022-04-01 16:52] dmcgowan commented on #6656
What type of config information?

[2022-04-01 19:10] Kern-- commented on #6634
This is possibly a fixable bug in the CRI plugin. When containerd loads from the config from a file, it appends /v2 to the existing path https://github.com/containerd/containerd/blob/1ba613e200104159dd2fdbbed613b27207223965/remotes/docker/config/hosts.go#L385-L389

The CRI plugin sets the path to /v2 only when path is empty: https://github.com/containerd/containerd/blob/1ba613e200104159dd2fdbbed61

[2022-04-01 21:07] aarongoulet commented on #6700
Hello,
     I attempted to reproduce your reported issue, but have so far I have been unsuccessful.  There were some minor differences (see **Differences** below) in our environments, as I was using the standard Ubuntu 20.04 LTS image from AWS, and ran it on an AWS VM; unfortunately, that's what I've got to work with.

It's worth noting that Docker has since bumped the required version of containe

[2022-04-01 21:48] aarongoulet commented on #6700
@Destarianon: Could I ask you to try something? In order to determine if the problem is within `containerd` or if it is a Docker client issue, I'd like to see if the `containerd` client is returning the expected metrics.  Please try the following and post the result:

### Step 1

Get a list of running tasks (containers in Docker parlance) using the following command:
`sudo ctr --namespace moby tas

[2022-04-01 22:11] ginglis13 commented on #6441
Looks like import does have a `--platform` option: https://github.com/containerd/containerd/blob/1ba613e200104159dd2fdbbed613b27207223965/cmd/ctr/commands/images/import.go#L124-L131

I was able to replicate this issue with `ctr github.com/containerd/containerd v1.6.0-rc.2-17-gca6bab020`.
However, I was able to successfully pull, export, import following the repro steps when using ctr @ HEAD: `ctr

[2022-04-01 22:25] shuaichang commented on #6657
@kevpar Option 1 SGTM, to overcome the runtime handled not passed in for PullImage API, I propose the following:
1. Snapshotter is specified in containerd config.toml for each runtime, e.g. kata-qemu-devmapper
2. Use experimental annotation for the runtimeClass, the annotation key is specified in containerd config.toml
3. For all CRI APIs, we check the existence of the annotation, and get/set corr

[2022-04-02 03:05] ningmingxiao opened #6764 "crictl can start exited container"
### What is the problem you're trying to solve

Here is my pr  ,crictl start exited container  work well,but crictl can't attach a container if I use crictl start exited container

https://github.com/containerd/containerd/pull/6763
but if I restart containerd crictl attach work well

I don't use k8s just use crictl to manage container,
I want to use crictl stop and then crictl start container, my

[2022-04-02 03:12] ningmingxiao commented on #6764
@Random-Liu @fuweid

[2022-04-02 14:19] gjvoosten commented on #6741
I can confirm that @aleitao's work-around works for me too. So contrary too [@AkihiroSuda's remark](#issuecomment-1080807645), it _does_ appear to be caused by changes in containerd.io.

[2022-04-02 14:37] thaJeztah commented on #6741
could someone check if there's a difference in output of `ulimit -a` (or `ulimit -n`) if `LimitNOFILE=1048576` is set or `LimitNOFILE= infinity` is set?

This change was made in https://github.com/containerd/containerd/pull/4475, but according to the systemd docs I referenced in that PR, `unlimited` _should_ have the same effect as the previously hardcoded value, but possibly newer versions of sys

[2022-04-02 14:39] thaJeztah commented on #6741
FWIW, I think it's fine to revert that change, but it'd be good if we knew what changed (this _could_ be a bug/regression in systemd, or a change in behaviour)

[2022-04-02 15:41] fuweid commented on #6764
@ningmingxiao could you mind to explain your case? Currently, the CRI design is for kubelet, which never restart exited container and always recreate. Thanks.

[2022-04-02 21:52] aleitao commented on #6741
[code]
Without overriding configuration:
[code]
Overriding configuration in /etc/systemd/system/containerd.service.d/override.conf
[code]

[2022-04-03 02:46] ningmingxiao commented on #6764
because we just want to use cri instead of docker api, containerd doesn't have  a friendly api like docker, and k8s is heavy for  a single  embedded  computer we have to maintain APIServer、Scheduler、Controller manager 、etcd and they will use uncessary resources。so we chose cri，but cri not support restart an exited container,but docker  api support it.

[2022-04-03 19:55] log1cb0mb opened #6767 "1.6.x: SElinux Relabelling broken for Kubernetes volume mounts"
### Description

The issue was originally reported here: https://github.com/coreos/fedora-coreos-tracker/issues/1138 suspecting issue between FCOS  `v35.20220213.3.0` and `35.20220227.3.0` where containerd version upgraded from `1.5.8` to `1.6.0` in the latter. Most of the investigation details available on linked issue but in short:

containerd `1.6.0/1.6.2` not relabelling volume mounts with con

[2022-04-04 06:49] qiutongs commented on #5768
Yeah, this likely leads to IP leaks. A previous issue about the timeout case of destroying network was fixed https://github.com/containerd/containerd/issues/5438. But other errors cases were not covered.

[2022-04-04 06:50] qiutongs commented on #5768
I am prioritizing it now. Will update my PR asap.

[2022-04-04 08:18] AkihiroSuda opened #6769 "main CI broken: `integration/client/go.sum differ`"
https://github.com/containerd/containerd/runs/5802178531?check_suite_focus=true

[code]

[2022-04-04 09:53] #6769 closed

[2022-04-04 10:30] phanhuy1502 opened #6771 "When container exits while containerd is not running, containerd-shim-runc-v2 process is leaked, containerd task stuck in STOPPED state"
### Description

If the `containerd` is not running, and the container exits due to the main process terminated, the `containerd-shim-runc-v2` process will not exit. Even when `containerd` started again, the `containerd-shim-runc-v2` is leaked (it keeps running although there is no processes under the container).

### Steps to reproduce the issue

1. launch a container

[code]

2. get the PID of t

[2022-04-04 21:02] alam0rt opened #6772 "containers stuck terminating / creating - many `runc init` processes"
# Description

Hi, I raised an issue https://github.com/opencontainers/runc/issues/3448 in the runc repo, but as you can see the issue appears to be that `containerd` (1.6.2) is not started the created containers.

* The issue affected basically every node as soon as they came up
* Have other clusters running the same setup which makes me think it is triggered by load or a certain type of workload

[2022-04-04 22:24] yongxiu opened #6773 "Failed to write in VOLUME of Dockerfile in rhel 8.4"
### Description

Write to VOLUME defined in Dockerfile will fail with permission denied error in rhel 8.4, which is blocked by SELinux

### Steps to reproduce the issue

1.
I have a docker image, the Dockerfile is like this
[code]

2.
I create this temporary pod in kubernetes which runs containerd 1.4.11 in rhel 8.4, when I shell into the pod and tries to run `echo "hello" > /tmp/a.txt`, it will g

[2022-04-04 23:11] alam0rt commented on #6772
wanted to node, am running both `docker` and `containerd` at the same time, both are configured to use the same socket path which I understand could cause contention with cgroup management.

Would this possibly cause the stated issue? Will reconfigure them regardless.

[2022-04-05 01:59] alam0rt commented on #6772
Okay, I think I've found a way to reproduce this which is simply create a large number of pods at once. Did a  `k scale deployment $some_largish_workload --replicas 1000`, and after about 5 minutes, scale back down.

Lots of pods stuck in `Terminating`.

`containerd` logs are filled with

[code]

and

[code]

[code]

[code]

barely any load
[code]

[2022-04-05 02:10] fuweid commented on #6772
Could you mind to fill the issue with the template, like containerd version, cri config etc.? Thanks

[2022-04-05 02:36] alam0rt commented on #6772
Have updated the OP

[2022-04-05 05:23] franco-caylent commented on #4011
Im having the same issue. There are no clear docs on how to configure it. I'm trying to use the internal registry as a cache. It works with docker, but microk8s ignores it.
I have the default config in containerd-template.toml

[plugins."io.containerd.grpc.v1.cri".registry]
    config_path = "${SNAP_DATA}/args/certs.d"
/var/snap/microk8s/current/args/certs.d/docker.io/hosts.toml

server = "https:/

[2022-04-05 05:40] qiutongs commented on #5768
The idea of fixing this bug is to have Kubelet see the failed-to-destroy-network sandbox and then Kubelet will call StopSandbox which should cleanup the IP leakage.

Here is how things work on Kubelet side.

PLET put pod status in cache
- [pkg/kubelet/pleg/generic.go updateCache](https://github.com/kubernetes/kubernetes/blob/v1.23.1/pkg/kubelet/pleg/generic.go#L407)
- [pkg/kubelet/kuberuntime/kube

[2022-04-05 05:41] qiutongs commented on #5768
Therefore, we want to two things here.

1. CRI PodSandboxStatus returned the failed-to-destroy-network sandbox
2. CRI StopPodSandbox can cleanup things properly

[2022-04-05 07:43] luodw commented on #6656
@dmcgowan  Config information is struct type, but it can be serialized to string, just like
[code]

[2022-04-06 03:22] alam0rt commented on #6772
So, did a little more digging after I reproduced again.

crictl pods listing pods as ready

[code]

kubectl is listing these all as `Terminating`.

All the pods are (critctl inspectp ...)
[code]

Trying to start one
[code]

Stop (hangs which probably explains everything stuck in terminating state)
[code]

crictl ps -a
[code]

[code]

using runc
[code]

[2022-04-06 04:28] #4937 closed

[2022-04-06 04:36] #4838 closed

[2022-04-06 05:34] fuweid commented on #4989
Closed by #6702

[2022-04-06 06:01] kevpar commented on #6657
This sounds good to me. I [posted on Slack](https://cloud-native.slack.com/archives/CGEQHPYF4/p1648675546488549) the other day about this proposal, and there didn't seem to be disagreement on the approach.

I was planning to take a look at implementation, but if you have a working PR already feel free to post and I'm be happy to take a look/collaborate.

[2022-04-06 07:07] alam0rt commented on #6095
Seems very similar to an issue I reported
https://github.com/containerd/containerd/issues/6772

I've had it trigger without restarting containerd though. Lots of errors about failing to reserve names.

[2022-04-06 10:15] AkihiroSuda commented on #6700
`docker stats` seems to work with the latest verson on Ubuntu 20.04

[code]

[2022-04-06 12:57] BBQigniter commented on #4798
we are switching too from docker to containerd on some of our kubernetes clusters, and it's a pity that container-logs cannot be similarly formatted like those written by docker in json-format

[2022-04-06 14:18] fuweid commented on #6772
@alam0rt is there too many  `runc init` processes? And could you mind to `kill -USR1 $(pidof containerd)` and `kill -USR1 ${unexpected-shim-pid}` to get the stack from containerd's log? Thanks.

[2022-04-06 14:33] timchenxiaoyu commented on #4659
kaniko as well , run remove directory before add

[2022-04-06 16:20] #6671 closed

[2022-04-06 16:22] kzys commented on #5175
This should be fixed by #6761. containerd no longer reads/writes the freelist.

[2022-04-06 16:22] #5175 closed

[2022-04-06 21:53] alam0rt commented on #6772
i will do this once i can trigger the issue again - thanks

[2022-04-06 23:41] doctorpangloss commented on #5618
This would be a nice to have because it lets you update `containerd` via Kubernetes.

[2022-04-07 00:49] alam0rt commented on #6772
[containerd-goroutines.gz](https://github.com/containerd/containerd/files/8438569/containerd-goroutines.gz)
[shims-goroutine-dump.gz](https://github.com/containerd/containerd/files/8438570/shims-goroutine-dump.gz) (contains _every_ shim goroutine output so be warned, most are "stuck" so lots of examples :) )

[2022-04-07 04:20] jterry75 commented on #5618
@dcantah - This is a known issue already but maybe you have an update if there are changes in the works to support this

[2022-04-07 09:08] fuweid commented on #6772
thanks. It is caused by dead lock in metrics so that there is no task.Start to kick runC-init. Seeking the solution to fix it.

[2022-04-07 13:30] planetA opened #6787 "A possible typo in naming checkpoint directory"
Hello,

I noticed that an old commit (539742881d) introduced an inconsistency in the naming of checkpoint directory when saving and when restoring:

https://github.com/containerd/containerd/blob/f033f6ff85ce397202ee69de22b4e3a4bf4093f5/services/tasks/local.go#L169

https://github.com/containerd/containerd/blob/f033f6ff85ce397202ee69de22b4e3a4bf4093f5/services/tasks/local.go#L556

I am not sure if

[2022-04-07 15:31] AkihiroSuda commented on #6787
Inconsistent, but doesn’t seem a “bug”

[2022-04-08 05:28] dcantah commented on #5618
@jterry75 This should be fixed in 1.6.x, could you give this a try on that version? It was a mix of:
1. https://github.com/containerd/containerd/commit/55faa5e93d7fdacc7d9b28ee79a0972ec18e3471 for containerd
2. https://github.com/microsoft/hcsshim/commit/573c1375f5d664c52a589f3b910e126fb54b7e4d for the shim

[2022-04-08 05:56] fuweid commented on #6771
@phanhuy1502 shim will be gone if the Task.Delete is called. Or the shim is killed unexpectedly.

It is expected behavior.

[2022-04-08 05:57] fuweid commented on #6771
Since it is not bug, I am closing it and feel free to reopen. Thanks

[2022-04-08 05:57] #6771 closed

[2022-04-08 10:34] phanhuy1502 commented on #6771
@fuweid Thank you for checking the issue.

(cmiiw on the part below. Sorry, I can't think of a way to summarise the issue better/shorter)

I understand it's expected behavior of the `containerd-shim-runc-v2` to only exits on Task.Delete, or receive an exit signal.  But when the main process in the container exits, through interaction between the `containerd` daemon and `containerd-shim-runc-v2`, T

[2022-04-08 14:17] jterry75 commented on #5618
Sweeeeeeeet! Thanks

[2022-04-08 14:18] jterry75 commented on #5618
Closing out the issue as it is now expected to work. Reopen if that is found to not be the case later.

[2022-04-08 14:18] #5618 closed

[2022-04-08 16:33] kzys commented on #6787
Yeah. It is inconsistent and doesn't have to be. They are temporary files and wouldn't cause anything bad though.

[2022-04-08 18:28] liyanhui1228 commented on #5887
We verified this again by following the steps below:

- Upload Windows/Linux container images to a private registry using containerd.
- Create a cluster in private network behind proxy and using the private registry to host the container images.
- Update the proxy gateway config and remove `mcr.microsoft.com`, `.data.mcr.microsoft.com` from the whitelist. Restarted the proxy gateway. This is to ma

[2022-04-08 18:29] liyanhui1228 commented on #5887
cc @Random-Liu @yujuhong

[2022-04-08 19:35] dcantah commented on #4989
@fuweid  I think this issue was referring to just single pull performance is worse than docker which your change wouldn't have solved, I haven't gotten a chance to benchmark this yet but I'm going to reopen for now

[2022-04-08 23:39] dcantah opened #6793 "Perf issues with `WithUnpackDuplicationSuppressor` remote opt + multiple namespaces"
cc @kevpar @fuweid I'd actually made a client of my own to test this before realizing you had linked one in your PR 😆.

I'm not sure if I'm missing something, but I see a noticeable increase in time to pull if you have a client that makes use of multiple namespaces, the `WithUnpackDuplicationSuppressor` option and a content_sharing_policy of "isolated". The issue is described in [this comment](htt

[2022-04-09 00:01] kevpar commented on #6793
Maybe in this case the client just needs to be smart enough to know to pass different suppressor instances for the different namespaces. Although the logic for when content will be shared (either due to `content_isolation_policy = shared` or a "shared namespace"), so it's kind of unfortunate the client has to understand that.

[2022-04-09 00:33] dmcgowan commented on #6793
The way the test is set up it makes sense it would be slower, one namespace is going wait on the other but it still needs to unpack into its own namespace. Do you observe the content being shared or fetched twice?

[2022-04-09 01:01] dcantah commented on #6793
Oh geez, the "shared" mode content_sharing_policy diff makes sense then and not sure how I didn't put two and two together, I'll chalk that up to Friday brain. Let me make sure my "isolated" testing is actually accurate then..

[2022-04-09 12:39] willzhang opened #6795 "support Official rpm and deb repo"
### What is the problem you're trying to solve

reference the getting-started:
https://github.com/containerd/containerd/blob/main/docs/getting-started.md

there have so many steps for containerd installtion，and docker-ce repo not for Official  containerd.

so Will containerd  launch it's own installation method for rpm and apt ?

### Describe the solution you'd like

1、step1
[code]
2、step2
[code]

[2022-04-09 13:11] willzhang commented on #6795
i find a great way, it resove all the thing!!!
[code]

[2022-04-09 13:11] #6795 closed

[2022-04-09 21:31] Menzorg commented on #1881
Wow! Waiting this bery much!

[2022-04-10 07:11] afbjorklund commented on #6387
Happened again, for v1.5.11

* https://github.com/kubernetes/minikube/pull/13933

[2022-04-10 12:55] shnmorimoto opened #6797 "Doc: The architecture image link is dead"
It seems this change was introduced by #6777

Are there any new image link? Or should we remove this link in README?

![Screenshot from 2022-04-10 21-41-49](https://user-images.githubusercontent.com/1239431/162619072-3b4b05cc-6c30-4adc-b3a5-691571586fd8.png)

[2022-04-11 01:00] #6772 closed

[2022-04-11 03:08] #6787 closed

[2022-04-11 03:33] forestuser commented on #6707
Not work for me/

https://github.com/docker-library/mysql/issues/840

[2022-04-11 05:36] AkihiroSuda commented on #6450
Maybe we can define the tag name convention to require verification of immutable tags.
e.g., tags with reserved suffixes like `-immutable`, `-permanent`.

Other tags remain mutable and cannot be verified. (Unless the OCI Distribution Spec provides an API to query tagging history)

[2022-04-11 08:41] Kry1702 opened #6799 "Running containerd as a non-root user configuration issue"
Running  as non-root user ：containerd-rootless-setuptool.sh install

[2022-04-11 09:11] zhangguanzhang commented on #4908
https://github.com/containerd/containerd/blob/v1.5.8/remotes/docker/httpreadseeker.go#L29

[2022-04-11 09:15] AkihiroSuda commented on #6450
Opened a distribution spec PR:
- https://github.com/opencontainers/distribution-spec/pull/320

[2022-04-11 09:44] #6797 closed

[2022-04-11 09:55] zhangguanzhang commented on #3488
ubuntu 20.04:
[code]

[2022-04-11 18:03] Deer-WarLord commented on #6700
[code]
it isn't, when you're running a container with `oom-kill-disable` option

[2022-04-12 02:02] fuweid commented on #6764
@ningmingxiao As Mike said, the CRI design doesn't allow to restart exited container. Is it good to close it? Thanks

REF: https://github.com/containerd/containerd/pull/6763#issuecomment-1095262725

[2022-04-12 03:25] forestuser commented on #6707
Hi, its work for me.

docker system prune -a
nano /lib/systemd/system/containerd.service
set LimitNOFILE=1048576
systemctl daemon-reload
systemctl restart containerd

[2022-04-12 04:25] AkihiroSuda opened #6802 "seccomp: ptrace(2) should be allowed by default for kernel >= 4.8"
### Description

Moby allows `ptrace(2)` by default for kernel >= 4.8:
https://github.com/moby/moby/blob/v20.10.14/profiles/seccomp/default_linux.go#L393-L399

containerd does not: https://github.com/containerd/containerd/blob/main/contrib/seccomp/seccomp_default.go

### Steps to reproduce the issue

1. See the code above

### Describe the results you received and expected

received: `ptrace(2)` i

[2022-04-12 05:28] patryk4815 commented on #6802
they allowing this because of CVE-2019-2054 or something like that.

[2022-04-12 05:50] AkihiroSuda commented on #6802
For this CVE we have to block `ptrace(2)` for kernel < 4.8, but `ptrace(2)` is considered to be safe for kernel >= 4.8.

[2022-04-12 08:42] xvzf commented on #5768
Any ETA for this?

[2022-04-12 10:26] AkihiroSuda commented on #6802
This has been already implemented in containerd too , and unrelated to the OP.
https://github.com/containerd/containerd/blob/eaf286224b0144dd11c0e68c131d5dd9ebf52a23/contrib/seccomp/seccomp_default.go#L592-L604

[2022-04-12 18:50] log1cb0mb commented on #6767
Any feedback on this, please?

[2022-04-13 02:12] timchenxiaoyu commented on #4068
containerd 1.6.1  also have this problem

8:00" level=error msg="collecting metrics for 00f39eb23e6de53f353385bf3adfc55c4e101f8cf5ace562a04dae02de867d02" error="ttrpc: closed: unknown"
time="2022-04-12T16:34:21+08:00" level=info msg="shim disconnected" id=00f39eb23e6de53f353385bf3adfc55c4e101f8cf5ace562a04dae02de867d02
time="2022-04-12T16:34:21+08:00" level=warning msg="cleaning up after shim disc

[2022-04-14 00:58] ginglis13 commented on #6441
I was looking into this further and was checking out the [postgres:12 image on DockerHub](https://hub.docker.com/layers/postgres/library/postgres/12/images/sha256-c177b0cb5016ea2b626658bedf0a1e4b2042df8704d76cca37bcedcf6e7676b8?context=explore) . In my case of reproducing this issue, the content that couldn’t be found message showed this sha when attemping to import:

`ctr: content digest sha256:1

[2022-04-14 10:05] giovannizotta opened #6808 "ctr --detach does not work when running with gvisor (runsc) as runtime"
### Description

When setting up the gvisor runtime (`runsc`) on containerd following the gvisor docs, the option `--detach` does not work. This works with other runtimes such as `kata`.

### Steps to reproduce the issue

1. Follow [gvisor's docs](https://gvisor.dev/docs/user_guide/containerd/quick_start/) to configure the `runsc` runtime on containerd
2. For example, run `ctr run --runtime io.con

[2022-04-14 18:34] ginglis13 commented on #6441
Should the image pull also be pulling content for 386 platform since it too matches using platforms.Only ? If so, an update could be made to fetch process of image pull. Did some digging and currently pull will fetch only content for the specified platform(s), in this case only content for amd64:

https://github.com/containerd/containerd/blob/e0abf62710ebfcadf77c5e34e625625702e54097/cmd/ctr/comman

[2022-04-15 08:08] #6525 closed

[2022-04-15 13:27] planetA opened #6812 "Ctr checkpoint export image failure"
### Description

Exporting a checkpoint fails with an error:

[code]

### Steps to reproduce the issue

1. Start a container in a separate console

[code]

2. Create a checkpoint

[code]

4. Export a checkpoint

[code]

### Describe the results you received and expected

I expected the archive with checkpoint to be created. The file is created, but it is empty.

### What version of containerd are

[2022-04-15 17:09] #6627 closed

[2022-04-18 14:54] dstufft opened #6818 "Add an API to Resolve a Blob from a reference."
### What is the problem you're trying to solve

This could also possibly be considered a bug report for ``Resolve``, but it's not clear from the implementation if ``Resolve`` is *ONLY* meant for resolving a manifest or not.

Essentially what I'd like is some way given a reference that includes a digest, to resolve that to an OCI Descriptor containing the Digest, Size, etc for that blob. Essentiall

[2022-04-18 23:50] kzys commented on #5096
Getting rid of the hardcoded /run would also help cleaning up https://github.com/containerd/containerd/blob/7cbde74432fa88576c50e73d1b485a5d698880e9/contrib/fuzz/oss_fuzz_build.sh#L30-L31.

[2022-04-19 00:03] cpuguy83 commented on #6700
Confirmed, seeing this error in the docker daemon logs when `--oom-kill-disable` is set.

[code]

[2022-04-19 03:17] whoreyou commented on #6707
Seems there is a bug in Systemd, if you need more than 65535 files, need to change the LimitNOFILE manually to a bigger number, such as 1048576

https://github.com/systemd/systemd/issues/6559

Maybe we need to revert this PR [4475](https://github.com/containerd/containerd/pull/4475)

[2022-04-19 12:26] fahedouch opened #6825 "containerd runtime v2 logging plugin args parsing refacto"
### What is the problem you're trying to solve

the containerd runtime v2 logging plugin args are not well formatted which makes their parsing quite difficult.

In this nerdctl PR https://github.com/containerd/nerdctl/pull/959  I am customizing the behavior of the logging plugin by passing some parameters in the `logURI` : `"binary://BIN?max-files=1&max-size=10"`

URI is parsed into Args {BIN, max

[2022-04-19 13:23] #6802 closed

[2022-04-20 02:58] fuweid commented on #6793
@kevpar sorry for late reply. At the beginning, I want to use namespace as prefix of key name. However, the end user may use client's default namespace instead of specific context with namespace name. In #6039, I mentioned that.

Maybe we can export interface to get default context from containerd.Client to improve this case. Otherwise, the locking key will be shared in diff namespaces

[2022-04-20 06:21] #5486 closed

[2022-04-20 06:35] AkihiroSuda opened #6831 "[Regression on main] Segfaults at `runtime/restart/monitor/monitor.go:226`"
### Description

The restart monitor segfaults during restarting the daemon.
Seems a regression in #6744

[code]

### Steps to reproduce the issue

[code]

### Describe the results you received and expected

Received: segfault
Expected: shout not segfault

### What version of containerd are you using?

containerd github.com/containerd/containerd v1.6.0-276-gfe7f0aeef fe7f0aeef42b9cd8c5b0c45f889bbb

[2022-04-20 07:56] #6831 closed

[2022-04-20 13:28] fuweid commented on #6793
@dcantah

[2022-04-20 14:57] fuweid opened #6834 "[CRI] container IO will be leaky if removing a created container"
### Description

After CRI-Test finish, I found that the containerd still hold file descriptors of deleted fifo.

### Steps to reproduce the issue

1. systemctl restart containerd
2. critest -runtime-endpoint /run/containerd/containerd.sock -ginkgo.focus 'runtime should support removing created container'
3. lsof -p $(pidof containerd)

### Describe the results you received and expected

[code]

T

[2022-04-20 15:13] fuweid commented on #6575
@MikeZappa87 sorry for late reply. I am not sure. It depends on the implementation. Since then, we just got this issue. I think it is fine currently. :)

and @bart0sh I am closing it because of external issue. Feel free to reopen it. Thanks for report

[2022-04-20 16:35] jterry75 commented on #6793
Forgive my ignorance here, ... Why do "isolated" namespaces actually have to be isolated at the snapshot layer? I totally understand why from a metadata perspective in the content store and image store perspective you would want this fork. However, if two namespaces share the same identical hash (Windows base images anyone?) why cant they just be tagged in both namespaces and unpacked once?

It se

[2022-04-20 18:52] estesp commented on #6653
/assign @termdew

[2022-04-21 07:25] Le-Zheng opened #6839 "can ctr or crictl run encrypted image?"
### What is the problem you're trying to solve

Hi guys, I referred to the repo https://github.com/containerd/imgcrypt to encrypt, decrypt and run an encrypted image successfully.

I saw another doc https://github.com/containerd/containerd/blob/main/docs/cri/decryption.md demonstrates that `decryption-keys-path` in `/etc/containerd/config.toml` can be used to configure decryption keys path. Does `

[2022-04-21 08:43] AkihiroSuda commented on #6825
Sounds like a breaking change.

[2022-04-22 05:03] sarbajitc commented on #5854
Hi, is anyone working on this issue?

[2022-04-22 08:20] #5605 closed

[2022-04-22 11:11] jonyhy96 commented on #5854
/cc

[2022-04-22 15:28] #6834 closed

[2022-04-24 10:55] zhanghe9702 opened #6846 "can't edit object in content store"
### Description

i am just generate an oci runtime config, and then ingest it to content store, after that i edit this object by reference, i found that any content i add in editor was lost, and output `ctr: commit failed: blob with expected digest sha256:a5d93b6db095ac1ddfcb976df7a6cebac94a3826d21dfefa42ad43b58b159916 exists: already exists`
i found that is because ctr can't catch editor process

[2022-04-24 18:36] fahedouch commented on #6825
makes sense

[2022-04-24 18:36] #6825 closed

[2022-04-25 10:33] dhiman360 opened #6852 "Security: User is able to get privilege access with sudo su -"
### Description

This issue is created after splitting the original issue https://github.com/containerd/containerd/issues/6662 as pointed out by [Mike Brown](https://github.com/mikebrow). All the steps how to reproduce it can can be found there in the original issue.

### Steps to reproduce the issue

The steps are provided in https://github.com/containerd/containerd/issues/6662

### Describe the

[2022-04-25 10:34] dhiman360 commented on #6662
@mikebrow Splitted the issue and created another one -- https://github.com/containerd/containerd/issues/6852

[2022-04-25 18:44] #5679 closed

[2022-04-25 22:12] #6564 closed

[2022-04-26 00:11] kevpar commented on #6793
I don't think you're missing anything. We're just limited by the current implementation. I was actually working on a prototype of how we might be able to share snapshots even with content isolation enabled, where the client indicates to the snapshotter that it already has the correct content, and then we just copy a reference to the snapshot into the other namespace.

[2022-04-26 05:31] afbjorklund commented on #6387
Still happening (it flipped back again)

[2022-04-26 08:16] dcantah commented on #5675
Closing as https://github.com/containerd/containerd/pull/6702 remedied this :)

[2022-04-26 08:16] #5675 closed

[2022-04-26 10:28] nikhita commented on #6387
@afbjorklund the fix for Kubernetes is in v1.24, so it'll reflect in client-go in `v0.24.x`

[2022-04-26 17:51] log1cb0mb commented on #6767
Or atleast can someone confirm if this feature/process was removed for a good reason? I cannot seem to find anything in changelogs.

[2022-04-26 18:38] log1cb0mb commented on #6767
Think i found the root cause. This https://github.com/opencontainers/selinux/issues/172 seems to match.

[2022-04-26 18:42] ambarve opened #6860 "Shim process is leaked when containerd crashes during container create"
### Description

If containerd process crashes for some reason while creating a new container then shim process is leaked and will never be cleaned up.
When containerd creates a new container it creates the shim process and then calls the `Create` method on the task service(`runtime/v2/runc/task/service.go`). If containerd crashes while the shim process is creating the container then containerd lo

[2022-04-26 18:43] ambarve commented on #6860
I would be more than happy to provide a fix for this but I would like to discuss this with the community first to see their thoughts on this.

[2022-04-26 19:15] #4984 closed

[2022-04-26 20:36] rtheis commented on #4984
Awesome!  Thank you all.

[2022-04-26 21:46] neoakris opened #6861 "trying to use ctr run to host registry:2 results in freezing"
### Description

[code]

I started up a registry like the above on a computer, populated it with ~20 images

I then imported the data on to an internet disconnected computer that only had containerd & ctr installed using RKE2 onto a x86_64 centos 7 VM
https://github.com/rancherfederal/rke2-ansible#tarball-installair-gap-install

RKE2 has ctr installed, but it's not in the path by default until I r

[2022-04-27 00:33] mehrankamal commented on #5317
Hi @kzys , I would like to take up testing on this issue. As I am relatively new to open source contributions, can you please guilde me on proceeding with this issue?

[2022-04-27 01:22] estesp commented on #6861
A couple points; containerd 1.2.x has been out of service for just over 18 months; it would be important to try and reproduce on a supported version of containerd for us to spend time trying to understand what might be the issue.

A more recent bug report about a freezing detached container was related to the fact that the binary being run was trying to handle I/O without any wiring up of stdin/ou

[2022-04-27 05:01] dcantah opened #6862 "Windows Hyper-V Container Support For CRI"
### What is the problem you're trying to solve

We'd like to support launching hypervisor isolated Windows containers through the CRI entry point to light up this scenario for K8s. There's support to launch Hyper-V containers present in Containerd itself via the [WithWindowsHyperV](https://github.com/containerd/containerd/blob/d4641e1ce1e07393115cd52bd71041ee8a99a180/oci/spec_opts.go#L1220) client

[2022-04-27 05:02] dcantah commented on #6862
cc @kevpar

[2022-04-27 10:21] bikrambox commented on #3473
I found that When Re-installing **docker** in AWS Amazon Linux 2 it just reinstalled Docker but when Installing Fresh Docker all Other dependencies Like **contained, runc** are installed with Docker, Therefore, Reinstallaling **containerd** resolved all the issues.

`sudo yum reinstall containerd docker -y`

This will resolve it. No need to Copy-Paste them ( i.e. `cp containerd-shim-runc-v1 contai

[2022-04-27 12:31] neoakris commented on #6861
The background context you provided is very appreciated :)

About getting stuck in I/O wait situation, it makes me think if I install nerdctl that might work as a workaround. Not sure if ctr is officially deprecated in favor of nerdctl, but I'll make a mental note in my head to consider it to be so even if it's not officially.

I'll take a few mins later today to spin up a vagrant box with a diffe

[2022-04-27 16:51] jterry75 commented on #6862
I feel like.... we already did this 😭 . Thanks for the detailed write up Danny! I'm in!

[2022-04-27 23:50] marosset commented on #6694
I added a new field with https://github.com/kubernetes/kubernetes/pull/108894 which will be in k8s v1.24.0 cri-api

[2022-04-28 07:42] log1cb0mb commented on #6767
Fixed with #6865

[2022-04-28 07:42] #6767 closed

[2022-04-28 07:45] jsalgado78 commented on #6707
It works fine on Ubuntu 18.04.6 but it fails on Fedora 35 running same containerd and runc version

  go1.16.15
  containerd: 1.5.11
  runc: 1.0.3

These commands crashes on Fedora 35 because of container use too much memory:
docker run -it --rm mysql:5.7.36
docker run -it --rm mysql:5.5.62

This command works fine on Fedora 35:
docker run -it --rm mysql:8.0.29

It works fine on Fedora 35 running

[2022-04-28 13:14] TBBle commented on #6652
I assume this was referring to https://github.com/microsoft/hcsshim/pull/1296 which I just came across.

[2022-04-28 18:40] smira opened #6876 "containerd 1.6.3 bumped CNI configuration version for loopback to 1.0.0 breaking some CNIs"
### Description

This at least breaks some not the most recent versions of Cilium and Calico CNIs we used for testing.

The error seen:

[code]

I suspect it might be the PR https://github.com/containerd/containerd/pull/6728 with the change from go-cni https://github.com/containerd/go-cni/pull/88.

### Steps to reproduce the issue

1. Run containerd 1.6.3 with Kubernetes.
2. Deploy a CNI e.g. via

[2022-04-28 21:38] mikebrow commented on #6876
Apologies.  We are working on a 1.6.4 fix for that. Should be available in a day or two, early next week at the latest. It's fixed in the main branch as of last night, and is being cherry picked to the 1.6 service branch right now.

[2022-04-28 22:23] dcantah commented on #6862
cc @marosset @jsturtevant as well

[2022-04-28 23:11] jsturtevant commented on #6862
When a user specifies a container (or the sum of containers) that has limits above or below  the default specified in the containerd configuration, what will the behavior be?

For example if the pod requests more CPU or memory than the default containerd configuration:

[code]

With a pod:

[code]

[2022-04-29 03:51] fredkan commented on #6522
this is a good idea in the production environment, which can avoid I/O impact among different pods in the same node.

[2022-04-29 08:27] cardyok commented on #6685
This problem is more severe than we first expected. When unary grpc requests come, stream data is included in context(streamKey) and passed along to be referenced by task. When task data is leaked in collector task list and remains in memory. When shim kill happens frequently (for some specific runtime like those using hyperv this is inevitable) this memory grows rapidly, during our stress testing

[2022-04-29 13:59] nesv commented on #6080
@haslersn I have been running into the same issue, and I noticed in your configuration file you have `disable_apparmor = false`. If you run `sudo apparmor_status` or `sudo aa-status`, do you see the `cri-containerd.apparmor.d` profile loaded and in "enforce" mode?

If you grep through your kernel logs with

[code]

do you see any lines that look like this?

[code]

@Champ-Goblem Could you check th

[2022-04-29 18:06] neoakris commented on #6861
actually I just discovered rancher has a tool named hauler that can spin up registry:2 using a go binary and it works w/o any dependencies, gonna close this.

[2022-04-29 18:06] #6861 closed

[2022-04-29 20:47] ReillyBrogan commented on #6876
For reference to anyone coming into this thread the affected versions of Cilium are 1.10.x and older. 1.11.x and newer are NOT affected by this issue in case you'd rather update the CNI plugin.

[2022-04-30 06:30] olemarkus commented on #6876
@ReillyBrogan I ran into this and neither Cilium 1.11.3 nor 1.11.4 works for me.

[2022-04-30 08:56] Tej-Singh-Rana commented on #6876
Hitting the same issue in **k8s installation**, Any lead?

<p>
  Warning  FailedCreatePodSandBox  66s   kubelet            Failed to create pod sandbox: rpc error: code = Unknown desc = failed to setup network for sandbox "8109bc9e341a5dcde18a1d561b1a82c0aa4c2c8127aa90c0ecb8db737c642261": plugin type="loopback" failed (add): incompatible CNI versions; config is "1.0.0", plugin supports ["0.1.0" "0

[2022-04-30 09:27] thaJeztah commented on #6876
see https://github.com/containerd/containerd/issues/6876#issuecomment-1112677396 a few comments up

[2022-04-30 10:57] haslersn commented on #6080
Yes

No. There aren't any lines that contain "audit".

[2022-04-30 11:11] haslersn commented on #6080
The problem is still present with containerd 1.5.11.

[code]

[2022-05-02 20:21] mikebrow opened #6886 "Upgrade to latest cri-tools for k8s v1.24"
### What is the problem you're trying to solve

on merge of https://github.com/kubernetes-sigs/cri-tools/pull/921 or subsequent.. and possibly release tag..

containerd should move up

### Describe the solution you'd like

containerd's cni release and install-deps for CRI tooling should upgrade

### Additional context

https://github.com/containerd/containerd/blob/main/script/setup/critools-versio

[2022-05-02 20:24] psschwei commented on #6886
/assign

[2022-05-02 20:37] mikebrow commented on #6886
part two of this would be to update our containerd k8s.io/cri-api to 1.24

[2022-05-02 20:45] helsaawy commented on #6652
Apologies for the belated response:
There is some weirdness/possible race conditions with how `Cmd` handles `stdin`, though microsoft/hcsshim#1296 really just attempts to smooth that out by suppressing `Close()` errors, rather than synchronize things.
The issue there is that we leak a goroutine thats copying from the upstream `stdin` and to the process's `stdin`.
But that blocks on reading from up

[2022-05-03 03:21] #6860 closed

[2022-05-03 04:56] qiutongs commented on #5768
Still working on it https://github.com/containerd/containerd/pull/5904. Hope I can merge it in next 2 weeks.

[2022-05-03 07:03] aojea commented on #5768
are you saying the cni plugin fails on a DEL command?
that doesn't seem to match the spec https://github.com/containernetworking/cni/blob/main/SPEC.md#del-remove-container-from-network-or-un-apply-modifications

[2022-05-03 07:12] aojea commented on #5768
the delete should not return an error, @mikebrow may this be related to the CNI bug we fixed recently?
https://github.com/containerd/go-cni/pull/98

[2022-05-03 09:55] 42wim commented on #6700
I'm seeing the same on various containers with containerd-1.5.11

dockerd[40461]: time="2022-05-03T11:47:18.279988005+02:00" level=error msg="collecting stats for ea86c11613ba879ab43bea7b989a5b35fcacfe8a8b1e4745fa4a32eadbf291a4: proto: wrong wireType = 0 for field CPU"

(and only field CPU, nothing about field Hugetlb)

This is happening without `--oom-kill-disable` though

[code]

[2022-05-03 15:01] mschumacher-syntellis commented on #6589
Any status updates on this?

[2022-05-03 16:04] TBBle commented on #6589
#6651 has merged into containerd and will be part of containerd 1.7. I guess that PR was supposed to close this ticket, but perhaps "Fixes" doesn't work [in comments](https://github.com/containerd/containerd/pull/6651#issuecomment-1062429495).

[2022-05-04 00:46] 2000yeshu opened #6891 "Minor issue in Getting Started doc"
### Description

In the Getting Started doc located at containerd/docs/getting-started.md, in this block `https://github.com/containerd/containerd/blob/main/docs/getting-started.md#creating-an-oci-spec-and-container`, its written that "use the runtime information in the spec that was just created" but have are actually not created a OCI spec instance instead creating it in the caller for `NewConta

[2022-05-04 00:47] 2000yeshu commented on #6891
Would be happy to make this small change

[2022-05-04 09:03] hanamantagoudvk commented on #6876
I see that v1.6.4 is released .. is this issue fixed in 1.6.4 ?

[2022-05-04 09:15] hakman commented on #6876
Yes, it is fixed.

[2022-05-04 09:31] hanamantagoudvk commented on #5854
I see that now v1.6.4 is released . Is this issue fixed in that ?

[2022-05-04 16:04] #6876 closed, assigned to nobody

[2022-05-04 18:41] kzys commented on #6586
We did 1.6 backport as https://github.com/containerd/containerd/pull/6717.

[2022-05-04 18:42] #6586 closed

[2022-05-04 22:15] kzys commented on #6219
Resolving. We don't have protoc-gen-gogoctrd anymore :)

[2022-05-04 22:15] #6219 closed

[2022-05-04 22:20] kzys commented on #5807
@henry118 @estesp Are the follow-up tasks still applicable for a new implementation?

[2022-05-05 00:15] henry118 commented on #5807
The requirement of the explicit label should be sufficient.

Metadata is not shared in the new implementation, only the content backing store is shared. So shared content is never altered.

Same, there is always a separate copy of metadata for the same content in each namespace. so `List` operation should work as expected.

In the new implementation, snapshots are not shared.

I guess there is no

[2022-05-05 12:15] TBBle opened #6896 "Manifesting the containerd.exe and (some) tests"
### What is the problem you're trying to solve

Per https://github.com/microsoft/hcsshim/issues/1375, the next minor release of hcsshim after 0.9 is going to require that the binary which uses it as a library be manifested so it can recognise the accurate version and build of Windows on which it is running.

At the moment, containerd.exe and its tests do not have a manifest, as none of the APIs us

[2022-05-05 12:48] dafu-wu opened #6898 "containerd mount volume from already exist container"
### What is the problem you're trying to solve

In the past we used docker volume-from to share the same storage volume from an existing container，such as make use of one emptyDir. Now how does containerd solve this scenario？

### Describe the solution you'd like

like docker volume-from。

### Additional context

_No response_

[2022-05-05 13:05] sbuckfelder commented on #6886
Mike and Paul, could you give a bit of background on where this version string is used in the k8s project?  I'm guessing that this string should be updated for each containerd release?  Or should it be updated whenever the source code related to the cri is updated?  Finally, the string appears to be a hash of some sort, is this generated deterministically in some way?

My apologies, I'm new to the

[2022-05-05 13:51] mikebrow commented on #6886
git project branches can be pulled based on commit `hash` and/or tags aka version tags.. it's a hash right now because there wasn't a version tag around the last time we moved up.

The branch we pull, build, run, test, and release with is the version of crictl/critest that will be used in our release binaries and ci/cd buckets.

Whether it should be updated "depends" on the state of crictl/critest

[2022-05-05 13:51] psschwei commented on #6886
It's the commit SHA from the [CRI tools repo](https://github.com/kubernetes-sigs/cri-tools/commit/f9710f792992ae7264d83cc894621174454d719c), used to get the proper version when building the CRI tools locally via `make install-deps`. So probably only needs to be updated whenever a new CRI tool version is released

[2022-05-05 14:24] estesp commented on #5807
Thanks for walking through those @henry118; closing based on lack of any follow-ups required.

[2022-05-05 14:30] mikebrow commented on #6886
@psschwei https://github.com/kubernetes-sigs/cri-tools/pull/921 is merged.. should be ready to move up now!

[2022-05-05 16:06] mg03 commented on #6876
hi i am using 1.6.4 version but still see the same issue for coredns pods

`containerd --version
containerd github.com/containerd/containerd v1.6.4 212e8b6fa2f44b9c21b2798135fc6fb7c53efc16`

[2022-05-05 16:27] junnplus commented on #6898
Maybe making [nerdctl](https://github.com/containerd/nerdctl) support `volume-from` is a good option.

[2022-05-05 17:19] shuaichang commented on #6657
@kevpar @AkihiroSuda @mikebrow @fuweid

Hi all, I submitted a PR https://github.com/containerd/containerd/pull/6899 to support this feature according to Option1 and related discussions. The high level ideas are listed o the PR description. Could you help review and feel free to give any feedback/comments. Thanks!