[2017-04-21 20:19] crosbymichael commented on #758
Sure, when the release gets cut we will make sure to cut a new tag for what is vendored.

Thanks for the heads up.

cc @mlaventure

[2017-04-23 14:29] AkihiroSuda commented on #759
Inevitably, image builder (e.g. `docker build`) requires RW rootfs.
So I'm +1 on quota (as in current docker `overlay2 on xfs` )

[2017-04-24 15:05] mlaventure commented on #757
Notes:
  - This will require to add a 'Stream' version of the stat endpoint in containerd (changing the type of the current endpoint would break backward capability)
  - It will require a refactoring on docker side to use the above

[2017-04-24 15:36] #629 closed

[2017-04-25 08:58] AkihiroSuda opened #767 "Proposal: testing snapshotter on specific version of kernel using Moby tool"
Reproducing snaphotter issues are hard when the issue depends on the specific version of kernel.

So I suggest creating a moby YAML that can run `make test` against specific version of kernel.

[code]

For a while, moby only supports linuxkit, but in the future it would support regular Ubuntu/RHEL/.. as well.

# Where should we work on this?

I think it is ok to add some files like `Dockerfile.tes

[2017-04-25 09:35] AkihiroSuda commented on #634
Related: #767 (Moby testing)

[2017-04-25 12:28] keloyang opened #768 "containerd-shim residue"
Some anomalies (e.g. containerd is killed by docker daemon), can lead to docker-containerd-shim residue. https://github.com/containerd/containerd/pull/763 gives two examples.
but another example can't be resolved by the pr above, this is  because of that root/id/init/pid (and others)has not been created.
[code]
with the case above, docker-container-shim will block at "os.OpenFile("exit", ...", shi

[2017-04-25 15:47] mlaventure commented on #768
The issue would be the same if `containerd` dies before it has the time to write the pid on disk.

I'm afraid there's not really a solution for this case. I don't want to assume that the running shim processes are ones that can be killed without issue by the new instance.

[2017-04-25 16:36] mlaventure commented on #758
I've tagged the commit used by 17.03.1 (v0.2.6) and 17.04.0 (v0.2.7).

v0.2.6 is marked as latest because it was made from a branch which last commit was pushed 15secs after the one from v0.2.7 :sweat_smile:

I'll try to make sure to tag v0.2.8 as soon as 17.05.0 is out.

[2017-04-25 16:36] #758 closed

[2017-04-26 01:33] keloyang commented on #768
@mlaventure thanks for your patience.
I have a workaround like this, do you think it make sense ?
[code]

[2017-04-26 01:45] keloyang commented on #768
@mlaventure  Maybe can write /root/id/shim in docker-containerd-shim process ,not docker-containerd. WDYT ?

[2017-04-26 08:46] gianarb commented on #767
@AkihiroSuda LinuxKit is probably the best place I presume. This implementation can also be used as another example to explain how `linuxkit` works.

[2017-04-26 17:38] MagnusS opened #770 "Output sometimes not captured"
Output is sometimes not shown when starting a container with `ctr run`. This is reproducible with hello-world:

[code]

Output from the run command seems to only appear about half the time.

[2017-04-26 21:12] crosbymichael commented on #770
Thanks, i'll take a look, hopefully just an issue in `ctr`

[2017-04-26 21:15] stevvooe opened #772 "project: expand the umbrella of containerd"
There are several projects that are dependencies of containerd that are without an official home. These tend to be critical but maintained under one of several personal github handles. We'd like these projects to be officially maintained as part of the containerd project so they get the attention needed to ensure a healthy dependency tree in containerd.

Under this proposal, the following projects

[2017-04-26 21:22] crosbymichael commented on #772
Our idea for maintaining these projects is that if you are a containerd maintainer, you are a maintainer of all projects in the org because they all fit together.

I think it is better to have a single group of maintainers that all share the same goals and think of the project and its dependencies as a whole verses individual maintainers for each repo.

What do you all think?  We can have the main

[2017-04-26 21:23] mlaventure commented on #772
Why `btrfs` and not `go-btrfs` after the move?

Otherwise, no objections on my side, @crosbymichael explanation makes sense to me.

[2017-04-26 21:31] stevvooe commented on #772
Just style. :sunglasses:

Also, we may want to add some tools in there for working with btrfs.

[2017-04-26 21:36] caniszczyk commented on #772
LGTM, I would recommend that new projects get approved by the existing set of MAINTAINERS, simply voting or building consensus in an issue like this should be sufficient.

I'd propose adding a "[Rules.adding-projects]" section to https://github.com/containerd/containerd/blob/master/MAINTAINERS that clarifies how new projects get added (or potentially archived down the road).

[2017-04-26 21:43] stevvooe commented on #772
LGTM

@containerd/containerd-maintainers Please LGTM this issue and I'll mark the check box accordingly.

@caniszczyk Do you mind proposing some language for addition into the MAINTAINERS file?

[2017-04-26 21:44] mlaventure commented on #772
LGTM

[2017-04-26 21:47] caniszczyk opened #773 "Formalize process of adding new projects"
In relation to: https://github.com/containerd/containerd/issues/772#issuecomment-297548391

We need to add a "[Rules.adding-projects]" section to https://github.com/containerd/containerd/blob/master/MAINTAINERS that clarifies how new projects get added (or potentially archived down the road).

I'll take care of this through a PR.

[2017-04-26 21:47] caniszczyk commented on #772
@stevvooe np, will put it on my queue https://github.com/containerd/containerd/issues/773

[2017-04-26 21:48] dmcgowan commented on #772
LGTM

[2017-04-26 21:50] estesp commented on #772
LGTM

[2017-04-26 22:15] crosbymichael commented on #772
There is no rush also, we can give this time to make sure the maintainers and community have a chance to look at this proposal.  I'll include this in Friday's dev report.

[2017-04-26 22:17] jhowardmsft commented on #772
LGTM

[2017-04-26 23:25] stevvooe commented on #772
Sounds reasonable. We can let this breath until next week.

[2017-04-27 01:44] hqhq commented on #772
LGTM

[2017-04-27 09:49] justincormack commented on #772
I guess the other option is to merge these into the main containerd/containerd repo. I have no preference, but consolidating SGTM.

[2017-04-27 10:02] ijc25 commented on #772
@stevvooe `go-runc` was carried over as is without dropping the `go-`. Not sure if that was intentional.

[2017-04-27 10:07] dqminh commented on #772
LGTM

[2017-04-27 16:35] crosbymichael commented on #772
@ijc25 ya, that is because there is already a `runc` project and I had to name the CLI bindings go-runc because I have an existing `runc` fork.  I guess with the new org, i don't think we will have any `runc` forks so we could change the name as well.

[2017-04-27 17:13] stevvooe commented on #772
At this point, we are pretty unanimous. We'll leave this open for community commentary and perform the moves next week!

Exciting!

[2017-04-27 22:59] ibuildthecloud commented on #772
Any thought on the `pkg` convention.  I'm not totally sure what the conventions really means, but I have always liked that in `github.com/docker/docker/pkg` that means that those things are pretty much isolated utilities and not really docker dependent code.

[2017-04-27 23:31] stevvooe commented on #772
I'm not a _huge_ fan of the `pkg` convention. In practice, the code coming out of there (in docker) wasn't  more stable or better for cross project reuse. We still had to do some refactoring to bring parts into containerd. There are also problems with vendoring the entirety of docker, which may not be a problem for containerd downstreams. Typically, the separate projects do allow for better separa

[2017-04-28 01:12] keloyang commented on #768
ping @mlaventure

[2017-04-28 07:18] AkihiroSuda commented on #767
cc @dmcgowan @stevvooe @justincormack @rneugeba

[2017-04-28 07:33] rneugeba commented on #767
@AkihiroSuda @gianarb very soon we'll have support in LinuxKit for mainline kernels. Currently, I'm thinking of adding support for 3.16.x as well as all of the 4.x.x series.

[2017-04-28 09:15] AkihiroSuda opened #781 "naming convention for plugins / capabilities"
Update:  capability seems better than plugins: https://github.com/containerd/containerd/issues/781#issuecomment-299623120

- - -
Available plugins in the daemon will be detectable via GRPC https://github.com/containerd/containerd/pull/776

It would be better to consider plugin naming convention now.

e.g.
- current: `content-grpc`
- proposal 1: `io.containerd.plugins.grpc.content`
- proposal 2: `i

[2017-04-28 11:56] justincormack commented on #767
We are happy to use the linuxkit CI for this if you like. I am also planning to use linuxkit for `runc` cross kernel testing soon.

[2017-04-28 20:47] stevvooe commented on #781
@AkihiroSuda I think either of these proposals will require us to do per service versioning, as opposed to versioning of the entire package, which is what we do now. I'd prefer we match these to the protobuf packages, if possible, but we'd have to add that `io` portion.

[2017-04-28 21:33] #773 closed

[2017-04-28 21:35] stevvooe opened #785 "api: converge events subsystem"
Currently, the [`ContainerService`](https://github.com/containerd/containerd/blob/master/api/services/execution/execution.proto#L19) has an `Events` method that emits events for container lifecycle operations. The intent of this issue is to bring that event system to the wider subsystems.

The current [`Event`](https://github.com/containerd/containerd/blob/master/api/types/container/container.prot

[2017-04-28 21:36] #720 closed

[2017-04-28 22:27] boucher opened #787 "Support Checkpoint & Restore in containerd 1.0"
The previous version of containerd has support for the checkpoint & restore feature exposed by runc (and implemented with CRIU). This is used in Docker currently as well (as an experimental feature). The 1.0 rewrite of containerd should also support this feature.

Based on actual usage and feedback we've gotten so far, there's been some discussion about reworking the interface. Right now, checkpoi

[2017-04-28 23:01] crosbymichael commented on #787
So I think the first thing we need to do is document all the atrifacts that will consist in a checkpoint.  Then we can come up with media types for this so that standard docker registries will support checkpoints being pushed and pulled.

We have the actual criu checkpoint data, "volumes"/host paths, RW layer, networking information.  Anything else?

You can see some of the defined media types in

[2017-04-29 07:44] AkihiroSuda commented on #781
How about non-grpc plugins?

[2017-04-29 09:18] krasi-georgiev commented on #744
I will take a look.

[2017-04-29 19:44] mlaventure commented on #785
We also need to define the event lifecycle:
  - Is it lost as soon as it is delivered?
  - Is it retained? If so, for how long? Across restarts?

[2017-04-30 15:23] boucher commented on #787
That list sounds about right to me. Are these media types formalized in more detail somewhere or is it more of just a general way of referring to things?

[2017-05-01 11:02] justincormack commented on #767
We now have support for Ubuntu, Centos, Debian and Fedora kernels with LinuxKit https://github.com/linuxkit/linuxkit/blob/master/docs/kernels.md

[2017-05-01 12:22] ericslandry commented on #768
What's the best way (command) to clean this up? One of these orphan shims has maxed out my /run inodes:
[code]

[2017-05-01 14:36] mlaventure commented on #768
@keloyang I'm not sure what this workaround is meant for. It's not up to the shim to ensure the pipes are open on the other side but to the containerd client.

[2017-05-01 14:37] mlaventure commented on #768
@ericslandry what are the files in your /run exactly? The shim is not the one creating the pipes, that is done by docker.

[2017-05-01 15:10] ericslandry commented on #768
@mlaventure I didn't mean to murky the waters. I know that the content of /run/docker/libcontainerd/4bae1... is irrelevant to this issue. It was just a different problem that led me here.

Unfortunately, 'docker system prune' doesn't clean the orphans in /run/docker/libcontainerd/ . I'm just looking for a clean way to remove these folders.

[2017-05-01 15:23] mlaventure commented on #768
@ericslandry no worries, I just can't direct you to a solution if I don't know what is left in your `/run` and what is the state of your system :)

But you should probably open an issue on `moby/moby` for this. Note: If you have a lot of running containers/execs the fact that those files are present is completely normal.

[2017-05-01 16:14] ericslandry commented on #768
@mlaventure My /run/docker/libcontainerd folder contains: 19 hash folders, a 'containerd' folder and a few files (docker-containerd.pid, docker-containerd.sock, event.ts). One of these hash folders (4bae1e91be17a3780c78a480eea8041734a48d9f9a48047aeb3dfcf343588873) contains 583324 files. Most of them are 0-byte files named like 026bbc585ccea230747213f1e25d8b1e15d2c95e1fe2503ff7ddc28922c7570e-stderr

[2017-05-01 16:24] krasi-georgiev commented on #770
@crosbymichael I will have a look if you don't mind.

[2017-05-01 16:28] mlaventure commented on #768
@ericslandry what version of docker are you running? Older version had a bug where they forgot to delete the exec's pipes once those were dead. It shouldn't happen in the current version.

[2017-05-01 16:30] ericslandry commented on #768
@mlaventure docker version:
[code]

[2017-05-01 18:17] #744 closed

[2017-05-01 18:19] stevvooe commented on #781
@AkihiroSuda `io.containerd.plugins.foo`?

[2017-05-01 18:23] crosbymichael commented on #787
Not formal in the spec, just a general way to refer to things and know how to handle them when we pull the contents.

[2017-05-01 18:23] mlaventure commented on #768
@ericslandry please open an issue on https://github.com/moby/moby with the information asked into the template and ping me on it.

If you have a way to reproduce it, it would be great too.

if you can provide the output of `ls -l -1` in the directory with all the files, I can try to match them up with the daemon logs (hoping yours was in debug mode).

[2017-05-01 21:48] ichekrygin opened #789 "containerd.service fails"
Host:
[code]

[code]

docker version
[code]

[code]

docker service:
[code]
Impact:
This results in `docker ps` hanging.

Work around:
Restarting containerd via `systemctl restart containerd` restarts docker and *ALL* running containers.

[2017-05-02 01:59] keloyang commented on #768
@mlaventure we can ignore the workaround.
It is really a problem that the abnormal shim don't exit, and we can write /root/id/shim(shim's pid) in docker-containerd-shim process ,not docker-containerd,then containerd restore, it can clean the shims.
WDYT ?

[2017-05-02 02:35] WIZARD-CXY opened #790 "containerd panic"
Hi, below is the log of docker showing containerd panic because close nil channel,
[code]
I am using containerd 0.2.3 and I go through the code supervisor/exit.go.
It is really a corner case that synCh is nil, then close(synCh) will panic for sure.
[code]
I'd like to fix it, but I can't find this file in the master branch, so is it obsolete?

[2017-05-02 08:36] krasi-georgiev commented on #790
docker is using the 0.2 branch
https://github.com/containerd/containerd/blob/v0.2.x/supervisor/exit.go

here are some guidelines for contributing
https://github.com/containerd/containerd/blob/master/CONTRIBUTING.md

[2017-05-02 08:36] coolljt0725 commented on #790
docker use the `v0.2.x` branch (https://github.com/containerd/containerd/tree/v0.2.x)

[2017-05-02 14:34] mlaventure commented on #789
We would need more of the logs for `containerd` to investigate this issue, the first 2 lines you provided hint towards a panic, but the rest of it is missing.

**Note**: There's no official `containerd` package hence no service file, this is probably provided to you by a 3rd party and the cause of the issue.

I would recommend switching to the official docker packages.

[2017-05-02 14:40] mlaventure commented on #790
@WIZARD-CXY I think this bug was already fixed, you may want to update to a newer version of the v0.2.x branch / docker

[2017-05-02 23:10] mlaventure opened #794 "execution: Pause/Resume are missing"
A way to Pause and Resume a container is missing from the execution service.

[2017-05-02 23:14] mlaventure opened #795 "execution: Kill should allowing targeting a specific pid"
On some platform the pid returned by the execution runtime may not match a pid on the host (this is actually the case on the windows implementation at the moment).

As such, we should add a `pid` field to the `KillRequest`. This will also allow for client to signal previously created `Execs`.

I guess we could use `oneof` to have either `all` or `pid` set within `KillRequest`.

Thinking of it, may

[2017-05-02 23:16] mlaventure opened #796 "stats: provide a package to ease the use of prometheus by a client"
Given that container stats are provided via a prometheus endpoint, it may be a good idea to provide a package that allow to easily scrap those data by a client (e.g. docker) so they don't have to all re-implement the same logic.

[2017-05-03 00:52] WIZARD-CXY commented on #790
@mlaventure https://github.com/containerd/containerd/blob/v0.2.x/supervisor/exit.go the code is still the same, or you mean somebody fixed in other place?

[2017-05-03 07:02] TomasTomecek opened #797 "bin/containerd won't compile against btrfs-progs 4.10"
[code]

Also reported at upstream [go-btrfs](https://github.com/stevvooe/go-btrfs/issues/8).

My current git master points to 92af03f193d6ef414f67be73de8a7a1ec9e04cb0.

[2017-05-03 14:51] mlaventure commented on #790
@WIZARD-CXY I believe you are seeing the panic on restore, which was fixed by #529

[2017-05-03 19:55] ichekrygin commented on #789
@mlaventure this is the same issue https://github.com/coreos/bugs/issues/1909

[2017-05-03 22:46] #736 closed

[2017-05-04 04:39] Random-Liu opened #802 "Race when delete bundle."
[code]

When `Delete` a container, it quite frequently fails to delete the bundle with error `device or resource busy`.
https://github.com/containerd/containerd/blob/master/linux/runtime.go#L140-L144

I'm using naive snapshot plugin. This is very easy to reproduce in my environment, not sure about others.

[2017-05-04 09:32] krasi-georgiev commented on #770
@MagnusS have you noticed when it happens?
it happened to me few times before as well , but now when I try to replicate, I can't

[2017-05-04 09:37] krasi-georgiev commented on #770
I triggered it , happens when you stop a  container and try to start the same container too fast

[2017-05-04 17:02] mlaventure opened #805 "execution: a mean to retrieve all running processes is needed"
We are missing a RPC to returns all the pids/name of the processes created by/within a container.

Since different runtime may have extra information to provide (which are not stats, e.g. full command line) I think we could also return an `Any` field along each pid to account for those.

[2017-05-04 17:55] estesp commented on #794
Any bike-shedding required to determine the runc names versus docker names for the API? :) Docker has pause/unpause, runc has pause/resume.

[2017-05-04 18:04] crosbymichael commented on #794
no

[2017-05-04 18:46] #772 closed

[2017-05-04 18:47] stevvooe commented on #772
@crosbymichael Was fifo transferred?

[2017-05-04 23:27] crosbymichael commented on #772
@stevvooe yes, what you talking about

[2017-05-05 12:41] justincormack commented on #770
Hmm, we were also getting it on first start. I will try updating though.

[2017-05-05 13:24] MagnusS commented on #770
When I tested it I was able to reproduce also after waiting a while between the `ctr run` commands. It sometimes seemed to work fine for a while, then it didn't work for several commands in a row... I can test again with latest master.

[2017-05-05 13:47] MagnusS commented on #770
Tested again now with master (ae93c23). I can still reproduce if I add a `sleep 30` before `ctr run`. I can also sometimes reproduce when restarting `containerd` and running `ctr run` right after start.

[2017-05-05 16:51] krasi-georgiev commented on #770
I don't think the issue is with the `ctr` tool.
When I reproduce it  and I do `echo "xx" > /tmp/ctr/foo-.../stdout` the `ctr` tool will display it fine so I it seems that containerd doesn't write to the pipe properly.

[2017-05-05 21:36] AkihiroSuda commented on #652
opened PR #809

[2017-05-06 03:26] miaoyq commented on #802
I have a similar issue.
Frequently create and exit containers, sometimes the "ctr run"  hangs with error printing `ERRO[0000] console resize                                error="rpc error: code = 2 desc = bad file descriptor`, as follow:
[code]
The status is `STOPPED`
[code]

[2017-05-06 07:53] samuelkarp commented on #781
Hey @AkihiroSuda, thanks for pinging me.  I've been thinking about this and I don't think this is the right abstraction for my needs.  Like I mentioned in https://github.com/containerd/containerd/pull/776#issuecomment-297877701, I think that higher level orchestrators really are going to care about what they can do with containerd (capabilities) rather than how it's implemented (specific plugins w

[2017-05-06 08:45] AkihiroSuda commented on #781
Makes sense, how about the following convention

Image Format (decoupled from distribution method):
- io.containerd.cap.image.docker.v2.2
- io.containerd.cap.image.oci.v1
- (com.example.containerd.cap.image.3rdpartyimage.v42)

Image Distribution:
- io.containerd.cap.registry.docker.v2 (when this is used as a map key, the map value may contain its supported image format caps)

Snapshotter:
- io.con

[2017-05-08 03:35] WIZARD-CXY opened #814 "containerd start fail after machine restart"
Hi,  my machine went down today. After reboot the containerd can't start up,
I'm using containerd 0.2.7 commit id 422e31ce907fd9c3833a38d7b8fdd023e5a76e73
[code]
It seems one of json config file is broken according to" time="2017-05-08T11:30:01.353146179+08:00" level=fatal msg="invalid character '\\x00' looking for beginning of value"

[2017-05-08 04:42] AkihiroSuda commented on #814
seems opened immaturely by mistake?

[2017-05-08 04:55] WIZARD-CXY commented on #814
I wonder which file is broken and how can we avoid this?

[2017-05-08 16:43] ehazlett commented on #795
#dibs

[2017-05-08 17:15] #794 closed

[2017-05-08 17:59] mlaventure opened #817 "Different set of options per runtime"
Currently docker has a feature allowing using to specify different option/binaries name for the runtime to be used on a per container basis. This is unfortunately currently not possible on the master branch.

We would need a mechanism that allow us to define different "flavor" for a given runtime (i.e. each one with a different set of option but using the same implementation code in the case of th

[2017-05-08 18:25] crosbymichael commented on #802
@Random-Liu you are using the shim right?

[2017-05-08 18:27] #790 closed

[2017-05-08 18:31] crosbymichael commented on #802
Also how did you run with naive? Are you on OSX or something?  Running on linux?

[2017-05-08 18:47] Random-Liu commented on #802
@crosbymichael Yeah, I'm using the shim. And running on linux:
$ uname -a
Linux XXXX 4.4.0-75-generic #96~14.04.1-Ubuntu SMP Thu Apr 20 11:06:30 UTC 2017 x86_64 x86_64 x86_64 GNU/Linux
[code]

[2017-05-08 18:58] crosbymichael commented on #781
We need to be careful how much policy we add to containerd.  We don't want a lot of validation for fulfilling system level things.  We just try to fulfill the users request.  Validation and policy should be handled above containerd.

It is a lot of code to check for these types of things and it adds a lot of complexity.

[2017-05-08 20:11] crosbymichael commented on #802
@miaoyq are you using naive also?

[2017-05-08 20:16] crosbymichael commented on #802
@Random-Liu outside of the naive issue that I'm looking into, how do you not have overlay working on a 4.4 ubuntu kernel? Without having devmapper in containerd, naive is basically the worst option you can pick, its not even compiled into containerd on linux and is no where close to anything that can or should be used in a production/dev setup.

[2017-05-08 22:45] crosbymichael commented on #781
The cap ideas look good but I think we need to start with a client side package that can be imported in the caller and do the checks client side.  If we feel confident in the implementation and that we have the use cases figured out, we can move it to a GRPC service.

We can design the package where we have some built in checks but also allow the client to register more.  If we start with host lev

[2017-05-08 22:52] crosbymichael commented on #781
Also we don't have a way to inspect the runtimes ( no API in OCI ) and i'm not sure this is something we want to expose either.  It makes me really nervous that you somehow need this type of information to run containers and you do these checks at runtime.  You have to have some type of compatibility of things that you support and what you don't.

Things like `io.containerd.cap.runtime.linux.pause

[2017-05-09 00:44] Random-Liu commented on #802
It's a google internal distribution, containerd with overlay doesn't work. We won't use naive in the production environment, this is only for my own trial.

Post the issue here because this may be a potential bug.

[2017-05-09 05:18] AkihiroSuda opened #823 "GRPC endpoint for posting events"
As discussed in #655, we need a generic endpoint for propagating service from outside containerd into containerd

Usecases:
- shim log (shim -> containerd) https://github.com/containerd/containerd/pull/655
- ??? (higher level engine -> containerd)

[2017-05-09 05:22] AkihiroSuda commented on #714
cc @Random-Liu @cpuguy83 WDYT?

[2017-05-09 07:30] miaoyq commented on #802
@crosbymichael  Yeah, I'm running `containerd` like this:
[code]
Running on linux also:
[code]

[2017-05-09 11:35] cpuguy83 commented on #714
I really like the fifo use here which gives us an automatic buffer and makes sure we can't lose output.

It seems like it'd be better to handle the extra complexity at the caller instead of in containerd itself.

Although multiple readers sounds interesting, how do you propose this will work?

[2017-05-09 16:35] crosbymichael commented on #714
Multiple readers can be handled outside containerd.  We don't want IO copy inside our daemon because `attach` is one of the worst things ever for memory and performance.  Its horrible and very complex.  If someone requires attach with multiple readers then they receive the pipes provided by containerd and  implement it.

Sockets are way too overkill for this stuff, pipes are simple and transfer da

[2017-05-09 21:52] kongyibjcn opened #825 "README missing dependencies on libdevmapper & btrfs"
When I Run the build on Centos, I met the build issue:
vendor/src/github.com/containers/storage/drivers/btrfs/btrfs.go:8:25: fatal error: btrfs/ioctl.h: No such file or directory
 #include <btrfs/ioctl.h>
                         ^
compilation terminated.
Makefile:55: recipe for target 'ocid' failed
make: *** [ocid] Error 2

The README don't mentioned there have dependence that need to install dev

[2017-05-09 22:52] estesp commented on #825
Did you open this issue against the right GitHub repo? It looks like you are building `ocid` which is not in `containerd` at all. The `containers/storage` project is also not vendored into `containerd`, so although we also have a (configurable) btrfs requirement, this does not appear to be about `containerd`.

[2017-05-10 01:12] Random-Liu commented on #802
@crosbymichael It's weird that I could not reproduce this anymore... Even with the version I was using...

@miaoyq Do you still have this issue?

[2017-05-10 01:45] miaoyq commented on #802
@Random-Liu  Yes, I still can reproduce this issue with the version #819

[2017-05-10 04:58] AkihiroSuda opened #830 "linux: build-in naive snapshotter"
naive snapshotter is still useful for a case where `overlay` does not work (e.g. opening RO fd and RW fd simultaneously for a single file https://github.com/moby/moby/issues/10180)

So I suggest build-in the naive snapshotter by default.

[2017-05-10 05:37] AkihiroSuda commented on #535
@stevvooe @dmcgowan
What's the current plan about this?

[2017-05-10 06:14] kongyibjcn commented on #825
Hi estesp

Sorry, the error I met when I build the containerd with Go1.8 on CentOS is

/usr/local/go/pkg/tool/linux_amd64/link: running gcc failed: exit status 1
/bin/ld: cannot find -lbtrfs
Collect2: Error: ld returned 1 as the end state

make: *** [bin/containerd] Error 2

After install btrfs-progs-devel the issue is gone.

[2017-05-10 09:23] AkihiroSuda opened #831 "Client API for importing/exporting OCI images"
I'd like to propose a new remote resolver named "filesystem", which allows pulling (and pushing) OCI images from a filesystem.

Filesystem is expected to be a local filesystem, but can be arbitrary network filesystems (e.g. NFS, S3 on FUSE, IPFS on FUSE...)

## PR

PR is almost ready, but didn't open yet because this seems to require technical discussion.
https://github.com/containerd/containerd/c

[2017-05-10 09:24] AkihiroSuda commented on #535
new resolver proposal ("filesystem"): https://github.com/containerd/containerd/issues/831

[2017-05-10 15:54] stevvooe commented on #831
Could you propose the reference syntax in the context of what is described in reference? For example, how is `localhost/foo/bar` broken down into remote and object? What if the "remote" is not localhost? What happens?

[2017-05-10 16:51] dmcgowan commented on #535
We have moved all this code to the client side. It doesn't make sense to define protos which define the protocol. We need to figure out what kind of "resolver resolver" we need though, which is figuring out the protocol to use based on user input. Right now though this is primarily the concern of the unsupported `dist` tool. We have some flexibility to figure this out right since right now the int

[2017-05-10 16:54] crosbymichael opened #833 "Add static builds for CI"
We need to add static build support for the CI because some users are building containerd as a static binary for use in minimal OSs like alpine and linuxkit.

[2017-05-10 17:00] crosbymichael commented on #825
Are you positive you are in the right repository?  `vendor/src/github.com/containers/storage/drivers/btrfs/btrfs.go:8:25` this is not our code and we do not vendor it.

[2017-05-10 17:05] crosbymichael commented on #802
@miaoyq your error message is totally different and is a separate issue that has to do with IO, not with an EBUSY on the filesystem.

[2017-05-10 17:06] crosbymichael commented on #830
I'm -1 on this.  naive is not good for use in any setting, its for debugging on testing

[2017-05-10 17:09] crosbymichael commented on #830
Naive is not the solution here and we don't want to promote this outside of debugging/testing.  It uses too much disk space and is slow by design.

[2017-05-10 17:09] #830 closed

[2017-05-10 17:13] AkihiroSuda commented on #831
reference spec is not changed at all.

If object is not specified `reference.Parse` returns ` ErrObjectRequired`

If hostname is not localhost `filesystemResolver.Resolve` returns "host must be localhost" error

[2017-05-10 17:17] AkihiroSuda commented on #831
It might be good to modify ref spec to make hostname optional.

It might be useful for other resolvers as well.
e.g. Native IPFS support `dist pull --resolver ipfs /ipfs/QmFooBar`

[2017-05-10 17:45] AkihiroSuda commented on #714
Ok closing now

[2017-05-10 17:45] #714 closed

[2017-05-10 18:38] stevvooe opened #834 "progress: remove non-standard format verb from progress package"
Currently, one can format a progress object with the custom format verb `r`. This causes `go vet` to make a huge stink. The verb is nice because it allows the format to set the width using the complete format. For example, one can do `%40r` to set the width to exactly 40 characters. We could also add custom handing to make sure that even when truncated, the output has the end `|`.

There are three

[2017-05-10 18:40] stevvooe commented on #834
I'm in favor of 3.

[2017-05-10 18:52] crosbymichael commented on #770
@MagnusS can you try the fix in https://github.com/containerd/containerd/pull/836

[2017-05-10 19:36] MagnusS commented on #770
@crosbymichael hm, applied the patch on master, but can still reproduce the issue

[2017-05-10 19:54] MagnusS commented on #770
Can confirm that the fix works after updating `containerd-shim` in `/usr/local/bin` manually :-)

(I only used `sudo make install` first, which didn't install the new `containerd-shim` in `/usr/local/bin`)

[2017-05-10 20:28] stevvooe commented on #831
Again, the hostname is not a hostname, it is a namespace. We need to think very hard before dropping that requirement.

[2017-05-10 21:22] krasi-georgiev commented on #770
I got caught up in this as well so now I have a symlink to skip the installation step
ln -s /go/src/github.com/containerd/containerd/bin/containerd-shim /usr/local/bin

[2017-05-10 22:54] #770 closed

[2017-05-11 00:50] miaoyq commented on #802
@crosbymichael  Indeed, I will create a new issue for it.

[2017-05-11 01:02] miaoyq opened #840 "`ctr run` hangs with the error of `pty request`"
Create and exit containers frequently , sometimes the `ctr run` hangs with error printing `ERRO[0000] console resize error="rpc error: code = 2 desc = bad file descriptor`, as follow:
[code]
The status is **STOPPED**
[code]

[2017-05-11 01:32] crosbymichael commented on #840
@miaoyq thanks for splitting this into a separate issue.  I'll take a look at it tomorrow and see if I can reproduce.  Do you have any tips for reproducing this bug?  I've yet to see it on my system.

[2017-05-11 08:12] AkihiroSuda commented on #376
Is this issue closable?

containerd itself seems not going to adopt containers/image, but higher-level engines can integrate containers/image to containerd, by just specifying `rootfs` string. (or implement a "glue" snapshotter plugin)

[2017-05-11 08:17] AkihiroSuda commented on #535
Could you please elaborate more?
Do you mean higher-level engines need to `import "github.com/containerd/containerd"` as a client library?

Also, why can't we have "resolver resolver" (https://github.com/containerd/containerd/issues/535#issuecomment-284923102) as grpc protobuf?

[2017-05-11 08:27] AkihiroSuda commented on #831
ok, and on second thought, `vfs/foo/bar` might be better than `localhost/foo/bar`.
WDYT?
Can I open PR?

[2017-05-11 13:40] mrueg commented on #758
@mlaventure @crosbymichael can you tag https://github.com/containerd/containerd/commit/9048e5e50717ea4497b757314bad98ea3763c145 for 17.05.0? Thanks!

[2017-05-11 15:14] mlaventure commented on #758
Done, thanks for the reminder!

On Thu, May 11, 2017 at 6:41 AM Manuel Rüger <notifications@github.com>
wrote:

--

Sent from my phone.

[2017-05-11 16:47] estesp commented on #825
There is no libdevmapper (driver) in containerd at all; but because @vbatts had already added a buildtag capability for turning on/off btrfs I have added #843 to use it and added a note to the README; that should solve this issue, even if it was possibly some confusion between containerd and crio.

[2017-05-11 17:01] vbatts commented on #825
heh. I would love to see the containers/storage code _not_ be a fork of the docker graphdriver, but it is a different project entirely.

[2017-05-11 17:31] crosbymichael commented on #376
yes, I think so. Thanks for the ping @AkihiroSuda

We are interested in consuming a devicemapper implementation for snapshotter that is located other places because we don't want to have it in tree as we cannot support it.

[2017-05-11 17:31] #376 closed

[2017-05-11 21:06] samuelkarp commented on #781
In general, an orchestrator is going to want to know these kinds of things upfront as it'll make a decision about whether to place a container on a given host based on things like this.  This becomes important in a heterogeneous fleet where hosts have different sets of capabilities or where a fleet is being upgraded to a new version of containerd (or new hosts are being added to the fleet with a d

[2017-05-11 21:28] crosbymichael commented on #781
@samuelkarp well you have an agent running on each server right?  Can you just let it do the checks and expose that information to the higher levels?

[2017-05-11 21:37] samuelkarp commented on #781
Yes, the agent would either be reading the capabilities from containerd via the API, or would need to perform the probes that I described.

[2017-05-11 21:41] crosbymichael commented on #781
ok.  my first suggestion is that we keep this out of the API and provide a client package that can handle these checks for you.

[2017-05-11 21:43] samuelkarp commented on #781
That's not an unreasonable place to start; that will at least reduce the amount of duplicated work for various orchestrators.  Long-term though I think it still makes sense for containerd to provide this information via the API once we've settled on exactly what it would look like.

[2017-05-11 23:51] stevvooe commented on #831
A WIP PR might be good. I am not sure if we should merge anything yet.

[2017-05-11 23:52] stevvooe commented on #831
`vfs` isn't really a namespace. Let's work on finding something more tasteful.

[2017-05-11 23:52] stevvooe commented on #535
@AkihiroSuda The problem with pushing the resolver server side is taht we need to push in all that configuration, as well. It is simply not needed in the service.

[2017-05-12 01:25] AkihiroSuda commented on #535
Moby is going to expose almost bare containerd GRPC, IIUC.

How `docker pull/push` against remote daemon can be implemented without distribution GRPC?

[2017-05-12 01:48] AkihiroSuda commented on #831
How about this (cc @jhowardmsft )

  containerd ref spec | Mapped path on Unix | on Windows
--- | --- | ---
`fs/foo/bar` | `/foo/bar` | :x:
`fs/c/foo/bar` | `/c/foo/bar` | `C:\foo\bar`
`unc/foo/bar` | :x: | `\\foo\bar`

[2017-05-12 02:18] stevvooe commented on #535
Who made this decision? These APIs are very different in breadth and scope.

That will be implemented in the docker daemon, using containerd client packages.

[2017-05-12 02:39] AkihiroSuda commented on #535
ok, it might be my misunderstanding.

Also, it would be good to confirm this across Moby maintainers at `#moby-project` slack stand-up

[2017-05-12 16:31] jhowardmsft commented on #831
This is very confusing to me, I don't know the back-story. Why not just have natural platform semantic syntax? `fs/c/foo/bar` is meaningless to any Windows user....

[2017-05-12 18:00] stevvooe commented on #831
@jhowardmsft I agree that this is confusing. He is proposing this because these are image references, not paths.

Frankly, this is why this idea is so insidious: we limit ourselves a layer of indirection, in the same way that docker does today.

This should really require a namespace configuration:

[code]

The mapping and data are up to the resolver. If the configuration chooses to use `fs/c/foo/

[2017-05-12 19:56] #825 closed

[2017-05-12 21:26] Random-Liu opened #851 "Support schema 1 image."
Now containerd only supports schema 2 manifest.

However, a lot of images are still using schema 1 manifest.

We should at least support pulling schema 1 image.

[2017-05-13 00:13] stevvooe commented on #851
@Random-Liu I just took a look at the code here and it looks more than doable. The only missing aspect is that schema1 has BlobSums instead of descriptors, but we can generate them.

[2017-05-13 00:18] Random-Liu commented on #851
@stevvooe Cool~ It would be very helpful if we could support schema 1 before 1.0, if it's not that complex. :)

But if we don't have bandwidth, it's also fine for us to leave it to next release. However, we need to do some work around on our side in that case.

[2017-05-13 01:51] AkihiroSuda commented on #831
I think just setting the root dir via resolver config would be enough.

[code]

[code]

[2017-05-15 07:36] justincormack opened #856 "ctr run -t intermittent failures"
I am getting intermittent loss of output with `ctr run -t`. If you run a shell not `ls` it will just exit. The containerd log just says `error="rpc error: code = 13 desc = transport is closing" module="containerd/runtime-linux"`

[code]

containerd is `7b2bf52` and `runc` is `c1287819af73a4408e089a358d28d18f6adb7dfc` ie both are current master.

[2017-05-15 10:55] justincormack commented on #856
I can't replicate on a new Fedora box, only on this Ubuntu 17.04 box.

[2017-05-16 22:22] #833 closed

[2017-05-16 22:23] crosbymichael opened #866 "Add Darwin Builds to CI"
We are needing to support OSX for linuxkit consuming the content store of containerd to produce images.  In order for us to support this during development we need to have a CI to cross compile the supported platforms to catch build errors.

[2017-05-16 22:42] crosbymichael commented on #856
I'm running on a 16.10 `Linux deathstar 4.4.0-77-generic #98-Ubuntu SMP Wed Apr 26 08:34:02 UTC 2017 x86_64 x86_64 x86_64 GNU/Linux` and cannot repo on master.

[2017-05-16 23:50] ijc25 opened #867 "consider providing (templates for) best practice container spec?"
In https://github.com/docker/swarmkit/pull/1965 I ended up copying chunks of [github.com/docker/docker/oci/DefaultSpec](https://github.com/moby/moby/blob/master/oci/defaults_linux.go#L33..L173) into [my containerd executor for swarmkit(https://github.com/ijc25/swarmkit/blob/4e1ce17f7f27e246298e9f78b61d6eb6fdb7d218/agent/exec/containerd/adapter.go#L345..L410), which makes me a touch uncomfortable.

[2017-05-16 23:51] endophage opened #868 "Signing checkpoints"
Related to #862, whether the work is here in containerd or elsewhere (and some of it will most definitely be elsewhere), we should plan to sign checkpoints. The primary use case as I understand it is for migrating containers from one node to another, or cloning a running container. In both cases these are expected to (in the great majority of cases) take part between 2 nodes in the same swarm, whi

[2017-05-17 00:02] dmcgowan commented on #868
If the checkpoint is being moved around within the swarm, why not just pin the checkpoint to the digest. I assume that the reference to the checkpoint has to be stored in swarm anyway, if that reference is already a digest where is there a need to validate a signature?

I think being able to push signed content in the swarm and manage the key is generally useful, just wondering why it would be nee

[2017-05-17 01:27] Random-Liu commented on #802
Close this issue based on:
* https://github.com/containerd/containerd/issues/802#issuecomment-300345505
* https://github.com/containerd/containerd/issues/802#issuecomment-300651928

[2017-05-17 01:27] #802 closed

[2017-05-17 03:00] miaoyq commented on #840
@crosbymichael  I'm sorry to reply so late.

Create and exit containers as follow:
[code]
Repeat the operation quickly. (Press the `↑` and `Enter` keys alternately)

[2017-05-17 15:18] rneugeba opened #869 "ctr exec hangs"
Running `ctr exec --id <foo> -t /bin/sh` hangs indefinitely.

We initially found this in LinuxKit: https://github.com/linuxkit/linuxkit/issues/1837 which currently uses commit `ac50e77bbb440dcab354a328c79754e2502b79ca` of `runc` and commit `b53105ed253b99f8b63809e704f23819dce9776e` of `containerd`, but I can reproduce with:
[code]

Steps to reproduce (after compiling from source as per README) exe

[2017-05-17 18:30] endophage commented on #868
@dmcgowan the most generic use case I can think of is offsite backups. Additionally though there are increasing use cases around /var/lib/docker being some kind of network filesystem such that we need independent trust over the content.

[2017-05-17 19:00] crosbymichael commented on #867
I think it is something that we can pull out into our client libs that will give a good default spec.  Docker has good defaults that have worked for the majority of use cases and is secure so we should use that as our base.  It should not go to OCI.

[2017-05-17 19:50] samuelkarp opened #871 "Proposal: Event and API object revisions"
I'd like to propose that we add monotonically-increasing revision numbers to each of the objects that is returned by the API and visible in the event stream.  A client can use revision numbers to more-reliably synchronize state between events received and results of API calls; using a revision number, a client can detect a duplicate event, a stale event, a missing event, or a stale API response an

[2017-05-18 17:02] crosbymichael commented on #379
I'm going to close this one as we have the snapshot api completed and working in containerd since this issue was created.

[2017-05-18 17:02] #379 closed

[2017-05-18 17:03] crosbymichael commented on #384
This has been resolved for both runtimes and shims

[2017-05-18 17:03] #384 closed

[2017-05-18 17:03] #387 closed

[2017-05-18 17:05] crosbymichael commented on #424
Since we removed nats we are still doing design work with events but they will end up being over grpc like the rest of the API.  Going to close this issue because its outdated and you can find more information in the events proposal.

[2017-05-18 17:05] #424 closed

[2017-05-18 17:06] crosbymichael commented on #690
The snapshot command has been added to ctr with the initial diff creation support

[2017-05-18 17:06] #690 closed

[2017-05-18 17:07] crosbymichael commented on #654
This has been fixed by #855

[2017-05-18 17:07] #654 closed

[2017-05-18 18:14] ehazlett commented on #856
This is due to the events.  After some debugging I found that the `EXIT` event is sometimes  sent before the `START` causing the `waitContainer` to return thus exiting.

Here are the events from a "good" session:

[code]

Here they are from a "bad" session:

[code]

I'm looking in the event service to get a fix.

[2017-05-18 18:33] ehazlett commented on #856
Actually after some more debugging the events are fine.  The process is actually exiting.

[2017-05-18 20:23] ehazlett commented on #689
I believe this can be closed as #733 was merged.

[2017-05-18 20:32] #689 closed

[2017-05-19 00:01] #795 closed

[2017-05-19 02:24] kunalkushwaha commented on #751
A related issue.

If the snapshot filesystem for image is deleted, there is no way to recreate it. Even (deleting image and content and fresh image pull too)

There need to be mechanism in snapshotter to check if snapshot actually exist on disk. I think Snapshotter's ``Stat`` interface should be right place to check on disk too, instead of completely relying on ``metadata`` store.

[2017-05-19 02:33] kunalkushwaha commented on #751
Also, I am not able to reproduce the issue of ``ctr run`` hang.
It fails with error
[code]
As while mounting, it could not find the filesystem.

[2017-05-19 03:30] samuelkarp commented on #856
I think https://github.com/containerd/containerd/issues/871 would help clients deal with events being emitted out of order.

[2017-05-19 15:33] justincormack commented on #866
We can probably use circleci to do native OSX builds, can look at setting that up; the cross build setup for osx (eg that moby/moby uses) is not very nice and there is some cgo so we can't do a straight Go cross build AFAIK.

[2017-05-19 19:02] stevvooe commented on #781
@AkihiroSuda Back to the original concern for the issue, I think we should use a slash syntax here:

[code]

The _convention_ for this would something like this:

[code]

In english, we say that `<driver>` provides an `<interface>`.

This would at least address the original concern around naming.

@samuelkarp Should we open up an issue about caps?

[2017-05-19 22:01] mlaventure commented on #856
@ehazlett I actually just got the events in the wrong order, I'll try to see if I can reproduce and figure out why

[2017-05-19 22:13] ehazlett commented on #856
@mlaventure did you get them out of order with my PR from #879?  I think the ordering is right as the container was actually exiting before since the stdout fd was closed.  With #879 I haven't seen them out of order.

[2017-05-19 22:19] mlaventure commented on #856
@ehazlett yes, it's kinda hard to reproduce, it's a scheduling issue with the goroutines sending the respecting events in the shim

You PR do indeed help a lot. But there's still the possibility of a tiny race

[2017-05-19 22:32] mlaventure commented on #856
created https://github.com/containerd/containerd/pull/882 to address that race

[2017-05-19 22:51] ehazlett commented on #856
Ah ok that makes sense. I'll try your PR as well. Thanks!!

On May 19, 2017 18:32, "Kenfe-Mickaël Laventure" <notifications@github.com>
wrote:

[2017-05-22 12:17] alexellis commented on #286
@boucher what's the easiest way to consume this functionality? Through containerd 1.0?

[2017-05-22 12:25] boucher commented on #286
@alexellis This issue is from an older version, but the functionality is currently available on Docker if you enable the experimental features. There's also an implementation targeting the new 1.0 containerd in this pull request: https://github.com/containerd/containerd/pull/862

[2017-05-22 14:08] ehazlett commented on #805
This can be closed as #824 was merged.

[2017-05-22 14:20] #805 closed

[2017-05-22 19:53] stevvooe commented on #871
@samuelkarp Do we need to have actual ordering or is it sufficient just to know that the item has changed based on a version number? I ask this because having total or partial ordering changes the requirements from the datastore, limiting the possible targets for future implementations. Total orderings also tempt one to be able to time travel any data structure, which is cool but expensive.

For t

[2017-05-22 22:51] #787 closed

[2017-05-23 03:46] AkihiroSuda commented on #781
SGTM, but `<interface>/<namespace>/<driver>` might be more logical, because `<interface>` is globally defined rather than `<namespace>`-local. WDYT?

[2017-05-23 04:01] stevvooe commented on #781
@AkihiroSuda The interface is part of the namespace.

[2017-05-23 04:10] AkihiroSuda commented on #781
So if I develop my own snapshot driver, will it be `containerd.io/snapshotter/foo` rather than `mydomain.example.com/snapshotter/foo`?
It might cause conflict if other people develop their own `containerd.io/snapshotter/foo` as well.

[2017-05-23 06:25] samuelkarp commented on #871
I think having an ordering here is useful to a client, as then the client can implement the logic as to whether to discard an old record or a new record.  What would it look like to know that an item changed based on the version number; would that mean that containerd would then be responsible for calculating if a diff exists?

I'm concerned about that too.  I think the risk here can be mitigated

[2017-05-23 21:47] #856 closed

[2017-05-24 01:48] Random-Liu opened #897 "We should make error returned by Dispatch more specific."
Forked from https://github.com/containerd/containerd/pull/885#discussion_r118132915.

Currently, when there is an on-going pulling hold the lock of a resource, [`Dispatch`](https://github.com/containerd/containerd/blob/e119f1dc0301796189bd8cdafd8fcaf37caf0d3b/images/handlers.go#L80) will return an error. The caller is expected to ignore this error and wait for the image pulling status.

However, t

[2017-05-24 01:48] ehazlett commented on #840
@miaoyq #893 was merged that addressed some other issues related to `-t`.  I cannot reproduce this error on current `master`.  Could you try again to see if you still get the error?

[2017-05-24 08:43] miaoyq commented on #840
@ehazlett  I could not reproduce this error also.  :+1:

[2017-05-24 12:21] ehazlett commented on #840
Thanks for checking!  I think this can be closed.

[2017-05-24 12:41] estesp commented on #840
Thanks all.. going to close for now

[2017-05-24 12:41] #840 closed

[2017-05-24 14:30] justincormack commented on #866
I am fixing the cross builds by removing some more cgo code that cant be cross compiled, that way we can not add a whole new CI...

[2017-05-24 16:46] justincormack commented on #866
#900 removes enough cgo to make cross compile for darwin work

[2017-05-24 17:21] #866 closed

[2017-05-24 21:09] stevvooe opened #903 "Create config section for snapshotter"
Currently, the snapshotter is just a string. This should probably take more configuration, such as the type and root.

@AkihiroSuda

[2017-05-25 00:44] Random-Liu commented on #753
Close this one since this is added. https://github.com/containerd/containerd/blob/master/api/services/snapshot/snapshots.proto

[2017-05-25 00:45] #753 closed

[2017-05-25 00:45] Random-Liu commented on #729
Close this one since this is added https://github.com/containerd/containerd/pull/783.

[2017-05-25 00:46] #729 closed

[2017-05-25 07:13] AkihiroSuda opened #905 "Proposal: restart policy"
It might be good to put `RestartPolicy` structure to `CreateContainerRequest` / `UpdateContainerRequest`:

[code]

I guess this is useful for linuxkit, cc linuxkit maintainers @ijc25 @justincormack @riyazdf @rneugeba

[2017-05-25 07:55] Random-Liu commented on #905
@AkihiroSuda Don't think we should do this in containerd. This could be done by the higher level system.

[2017-05-25 08:02] justincormack commented on #905
Not sure if we would use it in LinuxKit - either containers can define their own restarts, or possibly we might add external restart support. But generally I find restart fairly useless, as things that fail normally fail again, and restart rarely helps.

[2017-05-25 13:15] cpuguy83 commented on #905
-1 restart policy seems like a job of a higher level component.
Consider a cluster orchestrator that will just reschedule the container.

[2017-05-25 16:18] ehazlett opened #906 "Task info does not contain ContainerID"
When requesting tasks from the execution service, it is missing the `ContainerID` field.  This is causing the API to return the following (empty `ID` & `ContainerID`:

[code]

This also causes invalid `ctr list` output:

[code]

[2017-05-25 16:18] ehazlett commented on #906
#dibs

[2017-05-25 16:19] ehazlett opened #907 "No image specified in ctr list"
When listing containers with `ctr` there is no image shown:

[code]

[2017-05-25 16:20] ehazlett commented on #907
#dibs

[2017-05-25 16:40] crosbymichael commented on #905
No, this is part of the fundamental design of containerd that it does not handle things like this and provides events and other primitives for higher levels to implement restarts or rescheduling logic.

If you have any questions about overall design and where we positioned containerd in the stack please send me and email or on slack and I'll help you understand better.

[2017-05-25 16:40] #905 closed

[2017-05-25 18:40] #906 closed

[2017-05-25 18:40] #907 closed

[2017-05-25 18:53] stevvooe commented on #897
What error is returned?

[2017-05-25 22:15] stevvooe opened #912 "Add timestamp fields to container object"
Specifically, add "UpdatedAt" and "CreatedAt".

[2017-05-25 22:16] stevvooe commented on #897
@Random-Liu After looking at this, it seems like we need to filter out errors in the handler. For example, if we want to fetch something in the `FetchHandler` but it already exists, no error should be returned.

[2017-05-25 23:01] stevvooe opened #914 "Split ctr list into containers and tasks"
https://github.com/containerd/containerd/pull/894 introduced a split between tasks and containers. We need to update the cli to reflect this.

[2017-05-25 23:02] stevvooe commented on #869
@rneugeba Is this still happening the latest?

[2017-05-26 00:02] Random-Liu commented on #897
@stevvooe Yeah, I'm ignoring all errors in my current integration.

If the resource already exists, no error should be returned.
If the resource is being downloaded, I'm not sure whether an error should be returned or not.

If we always assume that `Dispatch` returns without error doesn't mean the image is fully downloaded, then I think it's fine to let it return no error.

[2017-05-26 00:40] stevvooe commented on #897
This is the wrong assumption: the assumption should be that if `Dispatch` returns without error, the image content is all available in the content store.

[2017-05-26 01:36] kunalkushwaha opened #916 "Avoid pulling image if already downloaded."
Since Containerd Client is expected to be consumed by external software, [Pull()](https://github.com/containerd/containerd/blob/master/client.go#L268) should avoid downloading already downloaded image.

Currently, It downloads the image and fails while write.

[2017-05-26 01:43] kunalkushwaha commented on #916
Ohh just found a PR https://github.com/containerd/containerd/pull/881 already made to fix this condition.

[2017-05-26 01:56] Random-Liu commented on #897
@stevvooe If so, the behavior should be:

* If the resource already exists, no error should be returned.
* If the resource is being downloaded, an in-progress error should be returned.

[2017-05-26 07:12] AkihiroSuda commented on #903
Implemented in #809

e.g.

[code]

[2017-05-26 08:46] coolljt0725 opened #917 "Question: does containerd requires go > 1.8 again?"
I know there is a line in https://github.com/containerd/containerd/blob/master/README.md#developer-quick-start says we must use go > 1.8 to build containerd, but after https://github.com/containerd/containerd/pull/608 and before https://github.com/containerd/containerd/pull/886, we are able to build containerd with go 1.7.x.  https://github.com/containerd/containerd/pull/886 use a field `http.Requ

[2017-05-26 09:21] AkihiroSuda commented on #767
opened https://github.com/linuxkit/linuxkit/pull/1906

[2017-05-26 09:37] runcom commented on #917
having the same issue compiling on Fedora:
[code]

[2017-05-26 10:29] AkihiroSuda commented on #831
opened #920

[2017-05-26 14:35] ijc25 opened #921 "events not delivered for containers recovered after a restart"
I seem to not be seeing events for containers which are recovered (i.e. reattached to) after `containerd` is killed and restarted, but they do appear in `ctr list` and can be killed etc.

If I run `containerd` and a `ctr events` process then start a container with:
[code]

The `ctr events` outputs:
[code]
and `ctr list`:
[code]

The if I `sudo ./bin/ctr delete test` delete then `ctr events` prints

[2017-05-26 14:56] ijc25 commented on #921
FWIW I originally saw this with 7b2bf52f6299c6f7e9c64c23aa82d70d7f6e141f before I updated to confirm it was still present in master, so this isn't a (very) new problem.

[2017-05-26 15:48] rneugeba commented on #869
I've tried with LinuxKit and commit `199544ea8009bf6988a81456c7dec66b2d3268e0` and it still hangs

[2017-05-26 17:09] Random-Liu commented on #851
@dmcgowan @stevvooe This becomes one of biggest blockers for our integration test.

Do we have plan to prioritize this? Does this need much effort? If not, maybe I could try it out. :)

[2017-05-26 17:25] Random-Liu commented on #851
@dmcgowan Thanks! Given that I've got no experience on the image format, it would be super great if you could get to this.

I'll work on the other 2 smaller blockers listed in https://github.com/kubernetes-incubator/cri-containerd/issues/35, so that we could have a better test result for the alpha integration.

[2017-05-26 22:46] stevvooe commented on #869
@rneugeba I wonder if it has something to do with the runc version. Could you try it with the commit in https://github.com/containerd/containerd/blob/master/RUNC.md?

[2017-05-26 22:51] Random-Liu opened #924 "Questions: about the resolvedImageName and ImageName."
Currently:
1) They are the same in docker resolver;
2) The `resolvedImageName` is expected to be put into image metadata store.

The problem is that:
* Will they be different in the future?
* If they are different, does it mean whenever a container wants to use a image already pulled on the node, it needs to resolve the image name again to get the `resolvedImageName` and then the image metadata?
*

[2017-05-26 23:05] stevvooe commented on #897
Idealy, it should block for you. I need more time to think about that case.

[2017-05-26 23:26] dmcgowan commented on #924
I see the code is currently putting the resolved image name as the image tag. My understanding is that it should use the passed in ref and if they differ possibly add the resolved ref. I don't think we should be relying on the resolver to do canonicalizing since we are trying to force the clients to define and enforce those outside the scope of remote resolution. If the resolved name does not matc

[2017-05-26 23:31] riyazdf opened #925 "validating OCI spec version: nicer error message?"
I mistakenly gave containerd-ctr 0.2.3 an out of date OCI `config.json`.
It would be nice if containerd could validate versions and provide an error/warning message if the versions don't align, instead of only the unmarshal error:

[code]

From talking with @crosbymichael, he suggests "unable to unmarshal, current supported runtime-spec is x.x.x but provided with x.x.o" and that would be very help

[2017-05-27 09:03] rneugeba commented on #869
Sorry, I should have also updated `runc`, alas it still hangs when booted in Linuxkit:
[code]
If tried this with HyperKit and Qemu (UI) to eliminate potential issues with terminal emulation

[2017-05-27 10:58] rneugeba commented on #869
got an `strace` from `ctr` if that helps:
[code]

[2017-05-27 11:02] rneugeba commented on #869
and from `containerd`:
[code]

[2017-05-27 14:59] AkihiroSuda commented on #869
I injected a logging hook to runc:
[code]

looking at the log, `runc create` was logged but `runc exec` was not.
So the issue seems happening before invoking `runc exec` from the shim.
(We need to find a better way to debug the shim 💦 )

[2017-05-29 04:06] kunalkushwaha opened #934 "Unable to recreate/correct snapshot filesystem for an image (In case of corruption)"
If a snapshot filesystem of one image gets corrupted, it cannot be recovered/recreated even image and content of image (content blobs) are also deleted and image is pulled again.

Steps to reproduce
1. Pull an image ``docker.io/library/hello-world:latest`` on fresh setup.
2. Create a container using ``ctr run``. it will be successful.
3. Delete file  ``/var/lib/containerd/snapshot/overlay/snapshot

[2017-05-30 10:25] jordimassaguerpla commented on #386
I've done some tests with the KillMode in systemd https://www.freedesktop.org/software/systemd/man/systemd.kill.html.

If we set in containerd.service, under the Service section:
 KillMode=process

running
  systemctl stop containerd
will stop containerd process but not containerd-shim processes. The good thing is that systemd will not get blocked.

If, instead, we set:
  KillMode=mixed
it will st

[2017-05-30 11:04] jordimassaguerpla commented on #386
Another way to fix it, is to make the docker service require containerd service, as in:

[Unit]
....
After=network.target containerd.socket containerd.service
Requires=containerd.socket containerd.service

[2017-05-30 16:43] crosbymichael commented on #917
@coolljt0725 ya, its required.  #608 wasn't motivated by having 1.7 support but that the plugin ABI is not stable.

[2017-05-30 16:43] #917 closed

[2017-05-30 16:45] crosbymichael commented on #823
So instead of the shim having an event endpoint, it would connect back to containerd and "push" events into it?

[2017-05-30 16:56] ijc25 commented on #921
I had a look at this this afternoon.

I think a `r.handleEvents` in `linux/runtime.go:Runtime.loadContainer` to restart the event pump is necessary but not sufficient.

After that the issue seems to be in `linux/shim/service.go:Service.Events` which does a `range s.events`. The issue seems to be that the first instance of this (from before `containerd` was killed) still existed and picks up the `E

[2017-05-30 18:21] Random-Liu opened #936 "`ExitedAt` in container `EXIT` event is not generated."
`ExitedAt` in container `EXIT` event is not generated.

[code]

Just file an issue to track this bug, this is not urgent.

[2017-05-30 23:03] stevvooe commented on #924
I see both as being targets for saving.

Let's say you do the following:

[code]

This allows the resolver, which is the image namespace controller, to canonicalize to a particular tag or qualified name. This could return `docker.io/library/ubuntu:17.04`. Both should be considered correct references for the image, and both can stored in the image store.

I actually thought of making this return a

[2017-05-31 00:57] AkihiroSuda commented on #823
I had once thought that, but the current grpc stream seems fine atm on second thought

[2017-05-31 00:57] #823 closed

[2017-05-31 00:57] AkihiroSuda commented on #781
@stevvooe PTAL?

[2017-05-31 11:59] hqhq commented on #580
Fixed by: https://github.com/containerd/containerd/pull/930

[2017-05-31 11:59] #580 closed

[2017-05-31 18:59] #869 closed

[2017-06-01 13:41] ehazlett commented on #936
Where are you noticing this?  I cannot seem to re-create on master:

[code]

[2017-06-01 16:52] #921 closed

[2017-06-01 17:04] Random-Liu commented on #936
I'm using 2562aca1a3c070bc9f571dec44bfb10993c326d6 which is a bit old. Maybe this is fixed in newer version.

Will have a try.

[2017-06-01 17:12] Random-Liu commented on #924
If we only put the resolved name into image store (current behavior), then we need to resolve the image name again whenever we use the pre-resolved image name to reference the image.

However, if as you said, we should put both into the store, then the problem is resolved.

[2017-06-01 21:39] stevvooe opened #947 "Allow arbitrary labeling of image metadata"
Currently, there is the ability to label an images descriptor but these have more bearing on the contained image, than in relation to what runtime labels in containerd provide. We allow labeling of containers for runtime purposes, so we should consider such a thing for the image type, as well.

[2017-06-01 23:00] crosbymichael commented on #916
The fix was merged for this.

[2017-06-01 23:00] #916 closed

[2017-06-02 00:20] AkihiroSuda commented on #831
Copy-pasting conversation at Slack today

[code]

[2017-06-02 00:30] crosbymichael commented on #831
We can probably handle all of this client side.

[2017-06-02 17:33] crosbymichael opened #952 "Store and return windows pipes for IO"
Windows needs support for attach so we have to persist the pipes that were used in task creation so that they can be returned on state calls in windows.

Reference: https://github.com/containerd/containerd/pull/948#discussion_r119911266

[2017-06-02 18:01] stevvooe opened #953 "Add Verify method to content store"
It would be good to add a method that can actively verify the integrity of the content store, in partial or completely. This would be good for recovery situations or periodic paranoia.

[2017-06-05 19:00] #912 closed

[2017-06-05 20:50] stevvooe opened #960 "Ensure we are using protobuf Any.TypeUrl correctly"
At this time, the usage of the typeUrl field on any is not following that prescribed in https://developers.google.com/protocol-buffers/docs/proto3#any. We should define a namespace for these typeUrls and ensure we are doing so in a manner that will work into the future.

[2017-06-06 00:34] kunalkushwaha commented on #953
May help in detecting data corruption issues like https://github.com/containerd/containerd/issues/934

I can work on this, if no one working on this.

[2017-06-06 17:49] crosbymichael commented on #378
I think we can close this one now.  We have `dist` and the client that was built is made so that pulls happen client side so that it can be done out of the main daemons process.

[2017-06-06 17:49] #378 closed

[2017-06-06 20:15] stevvooe commented on #953
@kunalkushwaha It doesn't look like this will do much for #934, as this will just verify on disk, packed content.

[2017-06-06 22:20] mlaventure opened #966 "Windows: update client library & ctr"
The client library lacks Windows testing and since `ctr` was ported to using it (#962), `ctr` is most likely broken on Windows now. Hence, both need to be updated.

[2017-06-06 22:36] Random-Liu commented on #851
@crosbymichael Thanks for including this in alpha release 1.

[2017-06-07 05:58] kunalkushwaha commented on #953
Understood, It will just verify the packed content, not at snapshot side.

[2017-06-07 17:08] crosbymichael opened #969 "Namespace Snapshots"
When trying to run two containers with the same id for the container and rootfs, we get a collision for the snapshot.

Here is the example:

[code]

[2017-06-07 20:39] stevvooe commented on #953
@kunalkushwaha Yes, but this is fairly low priority.

[2017-06-08 02:25] Random-Liu opened #973 "Potential memory leakage."
Containerd-shim maintains a slice of all [processes](https://github.com/containerd/containerd/blob/master/linux/shim/service.go#L44). Whenever a new process is started in the container, an entry is added.

In containerd-shim API, there is method to [delete a process inside the container and get the exit status](https://github.com/containerd/containerd/blob/master/linux/shim/service.go#L101). Howev

[2017-06-08 02:37] kunalkushwaha commented on #947
Does this mean, [Image ](https://github.com/containerd/containerd/blob/master/images/image.go#L15) needs ``Labels`` field, which can be set , stored in ImageStore and utilized by runtime?

Also, Proto file of [image service](https://github.com/containerd/containerd/blob/master/api/services/images/images.proto#L38) have ``labels `` field (not of ``repeated`` type), but it is looks like not yet used

[2017-06-08 10:05] 3XX0 opened #975 "[Q] Plugin integration between Create and Start"
Is there currently a way to have a plugin called synchronously between Create and Start without having to reimplement or overload a runtime?

I remember seeing @ehazlett at DockerCon do something similar for networking by leveraging the Event API, but from my understanding events are sent asynchronously and doing so might result in a race.

If it's not possible, is it something you envision implem

[2017-06-08 16:50] ijc25 commented on #867
I think this is covered more than adequately by `spec_unix.go:createDefaultSpec()` now. I'll close.

[2017-06-08 16:50] #867 closed

[2017-06-08 17:20] crosbymichael commented on #975
As the client you do what you need between the calls to create and start as they are split up in the API.  If you are not the caller you have to depend on them to provide hooks to inject yourself between the create/start calls.

If you want it for all callers of containerd, you need to make your own runtime.

[2017-06-08 17:24] crosbymichael commented on #973
Maybe `DeleteProcess` would work better for execs.  What do you think?

[2017-06-08 18:00] Random-Liu commented on #973
SGTM. I'm bad at naming, but agree that it should be a separate method. :)

[2017-06-08 19:57] stevvooe commented on #947
@kunalkushwaha Yes. It looks like the field on image service is slightly erroneous, as it should really be a map and isn't used.

[2017-06-08 20:04] 3XX0 commented on #975
Thanks, that's what I thought.

So there are no plans to have hooks in the shim runtime right?

[2017-06-08 20:27] crosbymichael commented on #975
Not that I know of.  We designed the API so that hooks would not be necessary for extending functionality.

[2017-06-08 20:34] #975 closed

[2017-06-08 20:37] #969 closed

[2017-06-08 21:52] samuelkarp commented on #871
@ehazlett Since you're working on https://github.com/containerd/containerd/pull/956, I'd appreciate your thoughts here too.

[2017-06-08 22:13] Random-Liu commented on #730
Close this one since I think it is fixed in https://github.com/containerd/containerd/pull/783.

[2017-06-08 22:13] #730 closed

[2017-06-09 09:29] ijc opened #981 "`ctr list` fails with `ctr: container is not based on an image`"
cf https://github.com/containerd/containerd/pull/962#discussion_r120931423

Running `ctr list` when there are containers which were created by something other than `ctr` itself (in my case it is https://github.com/docker/swarmkit/pull/1965, I expect anything which does not use `WithImage` when calling `client.NewContainer` will expose it) results in `ctr: container is not based on an image`.

[2017-06-09 14:38] ehazlett commented on #871
Revisions seem fine to me although I'm also concerned about the ordering and maintaining the revisions state internally.

[2017-06-09 16:24] estesp opened #982 "Loss of detail in gRPC error mapping in client"
Trying to run a container via `ctr` (or using the client library, now that both are using the same code) on an image that has not been pulled results in the simple output of:
[code]

Given that error could relate to namespace or other metadata controlled objects, it would be good for the user to understand that this means that **docker.io/library/alpine:latest** isn't in the content store. And act

[2017-06-09 18:17] dmcgowan opened #984 "Establish best practice for importing context"
We should unify the code base to always use the built in `context` package for our own interfaces or use. The following exceptions must apply...

- Implementing an interface defined in a vendor using `golang.org/x/net/context`
- Implementing an interface generated by 3rd party code using `golang.org/x/net/context`

This could also be called the grpc exception until we are using a version of grpc w

[2017-06-09 19:31] stevvooe commented on #982
@estesp We can wrap the rewrite in the original error string, such that the cause evaluates to `metadata.ErrNotFound`, but we get context on the error:

[code]

It looks wrong, but it might work.

The other, better option might be to define error interfaces, similar to `Cause` and `Temporary` to mark errors as `NotFound()` with an appropriate method. This will avoid some of the structural errors.

[2017-06-10 00:25] estesp opened #989 "Investigate gRPC conn timeout re: `WithBlock()`"
Placeholder so we remember to look into the timeout comment in `WithTimeout()` related to whether the connection is blocking or non-blocking. Reference #986

[2017-06-12 17:00] #973 closed

[2017-06-12 22:07] stevvooe commented on #989
@estesp Is this closeable?

[2017-06-12 22:16] stevvooe commented on #984
All new interfaces should use `context`. #983 is problematic in that it holds things back. Only generated code should use the old package to satisfy the grpc interfaces.

[2017-06-12 22:24] stevvooe commented on #981
@ijc Do you have a minimum example? This allows the case where you might delete an image without deleting any containers that are using it.

[2017-06-13 10:07] ijc commented on #981
I don't currently, but I was planning to replace LinuxKit's use of `ctr` with a customised client binary shortly, I shall build a reproducer for this issue as a prototype for that.

[2017-06-13 11:20] ijc commented on #981
https://gist.github.com/ijc/ee11fd5a90f5c27005bfcec63dbac4f5 reproduces the message and hopefully isn't too minimized (it creates only the container, no rootfs nor tasks).

In a `$GOPATH` with `github.com/containerd/containerd` in the appropriate place:
[code]

[2017-06-13 17:08] AkihiroSuda commented on #781
#994 is going to solve this issue

[2017-06-13 20:26] #981 closed

[2017-06-13 21:41] samuelkarp commented on #781
@stevvooe Apologies, I missed https://github.com/containerd/containerd/issues/781#issuecomment-302785253.  Do we need a separate issue for capabilities?  I thought that's what this issue was.

[2017-06-13 21:43] samuelkarp opened #998 "Discussion topics for Moby Summit on 2017-06-19"
@crosbymichael:

Suggest some topics to talk about at the summit.  Maybe try to keep it to one suggestion per comment so that others can vote with GitHub reactions.

[2017-06-13 22:53] Random-Liu opened #999 "Kill should return known "process not running" error if process does not exist."
When using `unix.Kill()` to kill a process, you know whether a process already exited or not by checking whether the returned error is `syscall.ESRCH`.

* Current behavior of containerd `Kill` api:
If we `Kill` a container twice in a short period (e.g. first for graceful deletion, second for sigkill), the second one may get `"os: process already finished"`, which the caller doesn't know whether it

[2017-06-14 10:17] roadrunner opened #1000 "generating protos fail when you delete previous generated pb files"
Hello guys,

if i delete previously generated protobuf files, make generate or protos doesn't generate pb files.

[code]

in the makefile packages are looked up by ``` PACKAGES=$(shell go list ./... | grep -v /vendor/)```

so we have to have at least one stub go file to generate them correctly.

`⇒  echo "package task" > api/types/task/task.pb.go && make generate
`

i think usage of go list for pa

[2017-06-14 16:08] estesp commented on #989
@stevvooe no; this issue is to follow up and decide if we should remove all the specifications of `WithTimeout()` across the containerd codebase, as based on inspection of the code and the comment noted in that code, they are actually useless (and maybe will generate confusion about timeout length) if we aren't using `WithBlock()` in our connection setup.

[2017-06-14 17:39] stevvooe commented on #989
@estesp Doesn't `WithTimeout` apply to request duration?

[2017-06-14 17:39] samuelkarp commented on #998
I'll start this off:

I'd like to talk about plans for a resolver-resolver and image reference namespacing.

[2017-06-14 17:41] samuelkarp commented on #998
I'd like to talk about how a client can reconcile between events returned by the event stream and synchronous API responses.  I have a proposal in https://github.com/containerd/containerd/issues/871 but that's not the only possible answer.

[2017-06-14 17:48] samuelkarp commented on #998
I'd like to talk about how clients can understand the capabilities of the specific containerd they're talking to.  Some previous discussion is in https://github.com/containerd/containerd/issues/781.

[2017-06-14 18:30] Random-Liu commented on #999
@crosbymichael This is relatively lower priority, we could work around it for now. :)

[2017-06-14 18:33] crosbymichael commented on #999
@Random-Liu it should be a quick fix that i'll work on today

[2017-06-14 18:51] estesp commented on #989
No, according to the comment and as much as I can understand the code (which turns into a bunch of defers and separate goroutines that are a bit hard to follow), it is **only** related to the initial connection setup: https://github.com/grpc/grpc-go/blob/master/clientconn.go#L224-L225
[code]
Several discussions can be found asking the grpc-go (and general gRPC development community cross-language)

[2017-06-14 18:58] stevvooe commented on #989
@estesp I think you got it right.

The main problem with _not_ using WithBlock+WithTimeout is that errors get deferred to call time.

Either way, let's leave this open and I'll watch out for the details to see what might work here.

[2017-06-14 20:15] tonistiigi opened #1004 "store.Writer does not check for existing blob"
fetcher expects `store.Writer` to return `ErrExisting`. `remotestore` implements it with stat call https://github.com/containerd/containerd/blob/master/services/content/store.go#L149 but `store` package itself https://github.com/containerd/containerd/blob/master/content/store.go#L229 doesn't implement it, creating an inconsistent behavior.

@dmcgowan

[2017-06-14 20:17] tonistiigi opened #1005 "pulling image should not request auth tokens twice"
Currently `Resolver` and `Fetcher` can not share the auth information meaning that they both need to do separate requests to fetch the tokens and retry.

[2017-06-14 21:53] dmcgowan commented on #1005
Yes, we need to fix this. When we added the push code the fetcher was separated out and created different instance. We could have the resolver cache the base instance created to be used when the fetcher is created, it is kind of a weird pattern though. Alternatively could create a token cache shared almost everything created through the resolver.

[2017-06-15 02:46] kunalkushwaha opened #1010 "Extra methods for Container Interface in client."
Extra methods like ``Size()`` & ``Runtime()`` should be added to client [container interface.](https://github.com/containerd/containerd/blob/master/container.go#L24).

These methods will be required for operations like ``ctr containers list`` and will be helpful orchestrators too.

[2017-06-15 10:41] AkihiroSuda commented on #831
opened #1013

[2017-06-15 13:15] #851 closed

[2017-06-15 22:54] stevvooe commented on #1010
We need to be careful not to pollute the interface with needless stuff. The larger the interface, the weaker the abstraction. Static values, like runtime, can be returned on a record type, like a protobuf or container.Container. Complex calculations can be facilitated by getting a container's rootfs and running DiskUsage on it.

[2017-06-15 23:01] stevvooe commented on #1005
These two processes need to remain separate. Ideally, they could use the same token, but it is extremely important that resolution and fetching of content remain decoupled.

[2017-06-15 23:04] stevvooe commented on #1000
I usually drop `doc.go` file in the package to bootstrap the generation process. This is only a problem on the first time, so really isn't a big deal.

Why are you deleting the previously generated files?

[2017-06-16 00:33] kunalkushwaha commented on #1010
Thanks for explaining, Understood the point.

Will update #935 accordingly.
Closing this issues.

[2017-06-16 00:33] #1010 closed

[2017-06-16 10:20] roadrunner commented on #1000
right, as you said, it's a problem when you intent to create new api/service.
when you do make generate, you are expecting to see generated files for newly added proto files.
for the starters, like me, could be time consuming to deal with it.

[2017-06-16 19:19] stevvooe commented on #1000
@roadrunner It should be extremely rare to add new services. In the makefile, we seed it with Go packages, but it might make more sense to do a find of proto files or modify `ctr-protobuild` to do the walk itself. Either way, it is extremely rare and the error messages are usually enough to figure out "Oh, its missing a package, so its no getting picked up". I'm not sure this is a high priority fi

[2017-06-16 20:29] #1004 closed

[2017-06-16 22:21] stevvooe opened #1026 "cmd/ctr: checkpoint should create an image"
Right now, `ctr checkpoint` will return a simple digest that can be used as a checkpoint reference. We should make it such that the created checkpoint is registered to the image metadata store, like any other image.

cc @crosbymichael

[2017-06-19 20:33] Random-Liu commented on #998
What is the plan for garbage collection?

[2017-06-19 20:34] tiborvass commented on #998
What will need to change in Docker wrt graphdrivers for accommodating the containerd snapshotters?

[2017-06-19 20:59] samuelkarp commented on #998
Are there plans to migrate all the existing Docker graphdrivers over to containerd snapshotters?

[2017-06-19 21:32] Random-Liu commented on #998
What is the roadmap after 1.0? Are there still changes or features we plan to add?
What is the release schedule after 1.0?

[2017-06-19 23:02] #998 closed

[2017-06-19 23:24] Random-Liu opened #1032 "Should be able to run containerd-shim inside a specified cgroup."
Orchestrator may want to run containerd-shim inside specified cgroup to charge the resource usage to a specific user/sandbox.

/cc @crosbymichael

[2017-06-20 18:32] stevvooe opened #1035 "Move image metadata service to update model"
Currently, the image metadata service uses a put based model to update image metadata. We should move to an update-based model to be in line with the container metadata service.

[2017-06-20 20:23] #785 closed

[2017-06-20 20:24] ehazlett opened #1037 "Organize Events Package"
Follow-up from https://github.com/containerd/containerd/pull/956#issuecomment-309853298

[2017-06-20 20:25] ehazlett opened #1038 "Use goevents for eventSink"
Follow-up for https://github.com/containerd/containerd/pull/956#pullrequestreview-45236049

[2017-06-21 07:28] Random-Liu opened #1041 "Concurrent Pull may return error `snapshot already exists`."
Concurrent `client.Pull` of the same image may return error `failed to prepare extraction layer:  snapshot already exists`.

This is caused by a known race. Need to address [TODO](https://github.com/containerd/containerd/blob/c45dae71db3337f4f23aa74a98fa2f341aa834c9/rootfs/apply.go#L29) to fix this.

To help prioritize:
This is not super urgent for us now, because we only pull image sequentially i

[2017-06-21 16:04] #989 closed

[2017-06-21 18:53] stevvooe opened #1044 "Move namespacing out of snapshot driver implementations"
While snapshot drivers should be namespaced via the service API, the individual drivers should be able to operate without namespaces. There are several use cases for independent, direct namespaces that the current model prevents.

This work would involve moving the namespacing of snapshots from the snapshot storage to the main metadata storage.

[2017-06-21 18:55] #982 closed

[2017-06-21 20:09] stevvooe opened #1046 "restrict character set of namespaces"
Namespaces are being used as filesystem paths (https://github.com/containerd/containerd/pull/993#discussion_r123351807) and that is a convenient model. Since the number of namespaces should be relatively low, and we don't need to encode much information in them (we have labels).

I propose we restrict them to DNS labels. See https://www.ietf.org/rfc/rfc1035.txt for details of that character set, b

[2017-06-21 20:26] Random-Liu commented on #1046
We using subdomain [`k8s.io`](https://github.com/kubernetes-incubator/cri-containerd/blob/master/pkg/server/service.go#L43)

I can get rid of the dot if we finalize to use dns label only. :)

[2017-06-21 20:37] stevvooe commented on #1046
This is why it is important to do this early. Perhaps, `<subdomain>` or `<domain>` would be acceptable. Those work as filesystem paths, are well-specified and can represent a lot of active identifiers.

[2017-06-21 22:48] stevvooe opened #1051 "RuntimeInfo of container should be spread across buckets"
https://github.com/containerd/containerd/blob/master/metadata/containers.go#L192 uses gob to encode runtime. We should avoid gob because it encodes too much type info in the binary representation.

[2017-06-21 22:54] stevvooe opened #1052 "typeUrl in Container set incorrectly"
If we dump a container, we can see we have the following information:

[code]

The value of `type_url` is set to 1.0.0-rc5. We should follow the typeUrl guidelines in protobuf and set it to something like this:

[code]

[2017-06-21 23:46] samuelkarp opened #1054 "`task.Wait` blocks when called multiple times after the task exits"
`task.Wait` blocks when called multiple times after the task exits

I would expect the following code to complete without errors:

[code]

However, I'm seeing `task.Wait` block the second time it's called after the task exits (the line indicated by "wait after kill 2").

[2017-06-21 23:59] estesp commented on #1054
I can reproduce without needing to have any duplicate waits; but it is somewhat random.

In my case the pid has fully exited (potentially without my explicit `task.Kill()` as it is a short-lived process), and the state shows stopped (using `ctr list`), but waiting on it hangs indefinitely. I can reproduce through bucketbench easily, or with a standalone single-threaded program with a higher number

[2017-06-22 00:11] estesp commented on #1054
Here's the call path stuck on the gRPC client side in my case:
[code]

Nothing on the server side trace reveals anything useful. The last line of the debug log would appear to match up to the event that should have been received/handled:
[code]

But hard to be sure given the log line has no data to correlate related to container ID/pid, etc.

[2017-06-22 00:33] stevvooe commented on #1051
Closed by #1053.

[2017-06-22 00:40] #1046 closed

[2017-06-22 00:41] stevvooe commented on #1046
@Random-Liu You can use your dots!

[2017-06-22 00:46] stevvooe opened #1061 "ContainerIDs and TaskIDs (not yet implemented) should follow namespace charset constraints"
#1046 added restrictions for namespaces. We should match these restrictions in container and task ids.

The naming logic in the `namespaces` package should be broken out and used across these packages.

Task IDs are not yet implemented.

[2017-06-22 01:22] Random-Liu commented on #1046
@stevvooe Thanks!

[2017-06-22 01:39] johntwei opened #1063 "does containerd support the --live-restore feature in docker engine?"

[2017-06-22 02:17] Random-Liu opened #1064 "GCR advanced authentication is not working"
"Using a JSON key file" in https://cloud.google.com/container-registry/docs/advanced-authentication doesn't work with containerd.

An example for testing (the service account has read only permission, which is enough to pull image):
[code]
I've also tried to hard code at https://github.com/containerd/containerd/blob/master/cmd/dist/common.go#L89, and also tried in cri-containerd. Neither works.

I

[2017-06-22 03:20] xiekeyang opened #1065 "Image and Layer implementation seems a little coupled"
Now Image and Layer seems to exist some coupled problem:
* `RootFS` includes `Layer` structure;
* `images/image.go` includes RootFS function;
* The functionality getting layers is implemented in `cmd`;
* `containerd/image.go` has image interface and its structure
* ...

Above is being implemented in both service and driver packages.

We might should set up individual interface and structure for im

[2017-06-22 15:02] ehazlett opened #1066 "Add filter support for events"
Support for filters was added in #995.  We should instrument the events service to support filtering.

[2017-06-22 15:06] mlaventure commented on #1063
Short answer: it depends on the runtime.

On linux: yes
On Windows: no

`live-restore` is a `dockerd` specific flag. That flag was added since we couldn't change the default behavior  which was for the engine to kill all outstanding containers on restart.

[2017-06-22 15:06] #1063 closed

[2017-06-22 18:25] crosbymichael commented on #1063
@johntwei it provides the underlying functionality to make the live restore feature possible in Docker.  It still retains the shim to keep containers running when containerd and/or docker goes down and the ability to reattach to the container's IO

[2017-06-22 19:30] mlaventure opened #1067 "runtime: add a way to update container constraints"
This would allow to update various value in cgroups on linux and some hcsshim constraints on windows for instance

[2017-06-22 20:51] ehazlett commented on #1066
#dibs

[2017-06-22 21:28] mlaventure opened #1068 "runtime: missing events"
At first glance we are missing the following events:
 - pause
 - resume
 - checkpoint

The task would need to hold a reference to its runtime to be able to emit those given the current design.

[2017-06-22 23:43] stevvooe opened #1071 "runtime events are awkwardly named"
Several events, such as `RuntimeCreate` actually create a task in the runtime. These should probably just be task events.

cc @ehazlett

[2017-06-23 14:57] ijc opened #1076 "Client library cannot reconnect after a failure."
Since #1007 added `grpc.FailOnNonTempDialError(true)` to the client's dial options I am finding with swarmd's containerd executor that if I glitch containerd (by restarting) it is never reconnecting and is always seeing the same error:
[code]
This persists even after containerd is fine again (i.e. a new `ctr` invocation works)

I patched `ctr event` to make it easier to demonstrate see https://git

[2017-06-23 20:05] stevvooe commented on #1076
Do we have a backoff maximum configured?

[2017-06-23 20:16] #914 closed

[2017-06-23 20:48] #999 closed

[2017-06-23 21:33] dmcgowan opened #1082 "Add snapshot operations to `ctr snapshot`"
We now have a `ctr snapshot` command which can list snapshots as well as create a tar archive from a snapshot. We should expand this sub-command for basic snapshot operations

- [x] `remove` snapshot
- [x] `prepare` snapshot (replacing `dist rootfs prepare`)
- [x] `mount` snapshot to return mount command
- [x] `commit` for creating a committed snapshot from an active snapshot
- [x] `tree` for show

[2017-06-24 03:35] xiekeyang commented on #1061
Anyone is working on this? If none, I'd like to implement.

[2017-06-25 12:37] xiekeyang commented on #1061
For restrictions rules, I think it maybe follow docker container name, as https://github.com/moby/moby/blob/master/api/names.go#L6, with 128 bytes of max length.

[2017-06-26 06:03] kunalkushwaha opened #1092 "ctr info dump incorrect output."
``ctr show <container-id>`` show invalid output. The JSON parsing of ``container`` struct is always empty.

[code]

[2017-06-26 09:53] ijc commented on #1076
We don't seem to. I'll play with that today.

[2017-06-26 10:12] AkihiroSuda commented on #767
This was merged to linuxkit in https://github.com/linuxkit/linuxkit/pull/2062
(thank you @rn @justincormack  @riyazdf)

[2017-06-26 10:12] #767 closed

[2017-06-26 10:13] AkihiroSuda commented on #831
updated #1013 to support `Import()` as well

[2017-06-26 11:00] xiekeyang opened #1094 "length of namespace string have no constrains"
Currently length of namespace string seems not to been constrained yet. That is defined in [rfc1035](https://www.ietf.org/rfc/rfc1035.txt) 2.3.4.

If it should really be limited, and no person are working on it, I'd like to fix it.

ping @stevvooe

[2017-06-26 13:13] ijc commented on #1076
I added `grpc.WithBackoffMaxDelay(20 * time.Second),`  to the `DialOption` slice with no change in behaviour after 300+ seconds. Not too surprising since the default is `120 * time.Second` and I left it running for longer than that previously.

[2017-06-26 16:59] crosbymichael commented on #1076
I think we need to extend the new client opts to allow for people specifying their own timeout and blocking grpc opts.  We still need a good default that works but a way to setup the connection for their use case.  I'll try to work something up

[2017-06-26 20:56] crosbymichael commented on #1076
Going to keep this open because I don't think my  PR solves the entire issues.  It just makes it more flexible for consumers of the client to specify different timeouts and options.

[2017-06-26 20:57] #1051 closed

[2017-06-26 20:58] crosbymichael commented on #1032
We can implement this by only providing a cgroup path that the shim should be placed in.

[2017-06-26 21:05] crosbymichael commented on #394
We have finished the events api in containerd.  Please take a look and see if the events we are providing are enough for you to implement what you need.

Feel free to open specific issues for things that are missing in the API.

[2017-06-26 21:05] #394 closed

[2017-06-26 21:06] crosbymichael commented on #444
For things like containers and images we have the metadata APIs complete.  They have CRUD like rpcs for modifying the values.

[2017-06-26 21:06] #444 closed

[2017-06-26 21:07] crosbymichael commented on #510
This has been completed.

[2017-06-26 21:07] #510 closed

[2017-06-26 21:09] crosbymichael commented on #535
I think this can be closed now. We have both push and pull implemented in the client with a few different resolvers to show how the functionality works client side.

[2017-06-26 21:09] #535 closed

[2017-06-26 21:10] crosbymichael commented on #633
This has been implemented as a subcommand in `ctr`

[2017-06-26 21:11] #703 closed

[2017-06-26 21:11] #686 closed

[2017-06-26 21:13] crosbymichael commented on #719
Namespaces have been implemented at this point.  We can close this.

[2017-06-26 21:13] #719 closed

[2017-06-26 21:14] dmcgowan commented on #395
Closing this, containerd now has everything to retrieve and verify manifests. The daemon's only responsibility is to maintain integrity of the content hashes, the content trust is left up to the client. We are exploring content labels which could hold signature information, but it will be opaque to containerd.

[2017-06-26 21:14] #395 closed

[2017-06-26 21:14] crosbymichael commented on #797
@TomasTomecek are you still running into this build issue?

[2017-06-26 21:16] crosbymichael commented on #834
I think this can be closed as we are pinned to go 1.8 now

[2017-06-26 21:16] #834 closed

[2017-06-26 21:17] crosbymichael commented on #871
@samuelkarp should this still be opened after the discussions at the summit?

[2017-06-26 21:18] dmcgowan commented on #633
Renaming this, it threw me off as well. This is about a potential function on the `Snapshotter` interface not `ctr snapshot`.

[2017-06-26 21:18] crosbymichael commented on #947
We fixed the Labels field on the Image proto.  Does anything else need to be updated for this?

[2017-06-26 21:22] samuelkarp commented on #871
@crosbymichael I'd like to validate that I can do without it before closing this; waiting on https://github.com/containerd/containerd/issues/1054 to be fixed first.

[2017-06-26 21:23] crosbymichael commented on #871
@samuelkarp no problem.  I'm just going through issues and seeing if there is anything that we need to get done.

[2017-06-27 05:59] TomasTomecek commented on #797
Haven't tried since, feel free to close.

[2017-06-27 12:28] estesp opened #1105 "Event broadcaster/emitter lockup"
An easily reproducible hang can be generated by performing random lifecycle actions in a multi-threaded environment. A separate client instance is created per goroutine and a simple setup, start, stop, teardown is performed in a loop. [This test program](https://gist.github.com/estesp/d7d0d01f9aaeaff91d1d3e2b9e2a1ed9) can be used to reproduce the failure by starting it with the argument "3".

The

[2017-06-27 12:56] ehazlett commented on #1105
I'll take a look

[2017-06-27 13:45] ehazlett commented on #1105
Can you share some more info about your environment?  I've tried with master and up to 100 go routines in your test app and I can't get it to hang.

[2017-06-27 14:04] estesp commented on #1105
Oh wow.. I should probably try on another system as well just to validate.

Fairly stock Linux system with Ubuntu 16.04 LTS, 4.4.0-79 kernel. Nothing special hardware-wise. I built containerd late yesterday; e2b5ef5f3deaa35fec74b788424b758a7cefdade to be exact. I don't see anything merged yesterday that would be significant.

I'll attempt on a cloud instance, but will also be 16.04 based.

[2017-06-27 16:26] estesp commented on #1105
@ehazlett I have replicated the error on 3 different systems, all with the same traces. So, it does seem to be potentially reproducible on master. All were Ubuntu 16.04 LTS, although one was a Linode with 4.9.x kernel built by Linode without hugetlb support :-/ (hence my cgroup's PR) :)

[2017-06-27 16:36] #797 closed

[2017-06-27 20:49] stevvooe commented on #1105
@estesp I think the code in `emitter` needs to handle a closed channel or a listener that has gone away.

[2017-06-27 20:59] mlaventure commented on #1052
@stevvooe actually, shouldn't that url somehow reference the underlying type (e.g. `Spec`) ? For update, it would be `LinuxResources` or `WindowsResources` instead for instance

[2017-06-27 21:01] crosbymichael commented on #1052
@mlaventure i don't think so.  There is still the overall spec type that wraps the platform information

[2017-06-27 21:02] crosbymichael commented on #1052
Oh, for update and exec they are using a subsection of the spec

[2017-06-27 21:39] #1067 closed

[2017-06-27 23:41] stevvooe commented on #947
@crosbymichael Needs to add storage and update semantics that match containers.

[2017-06-27 23:53] stevvooe commented on #1061
@xiekeyang Why? That is completely different from what has been proposed by containerd.

Rather than copy pasting something in here, let's look at the requirements to figure out what is needed. The first I can think of is safe filesystem names but there are others, like docker compatibility.

[2017-06-28 07:18] xiekeyang opened #1110 "Content: TestWalkBlobs consume too much time"
Test `TestWalkBlobs` under Content package lasts a little long time, as reporting as,
[code]

To notify that it loops 4M number of writing blobs.
I think it had better to use BeenchMark test, instead usual general `go test`.
If it should be done, and no one doing yet, I'd like to take it.

[2017-06-28 18:28] aaronlehmann commented on #1105
I think the problem is that there's no `Queue` involved. The broadcaster is just writing to a sink, so if the sink is blocking, the broadcaster will too. This means go-events isn't providing any benefit here.

In swarmkit we use this wrapper: https://github.com/docker/swarmkit/blob/master/watch/watch.go. It sets things up with a queue, filter, and channel sink, and handles removal from the broadca

[2017-06-28 18:37] ehazlett commented on #1105
Thanks @aaronlehmann.

(including the offline conversation I sent to aaron):

After some digging I found that in the current implementation, multiple concurrent calls to `Remove` in the emitter call the go-events broadcaster `Remove` which hangs in this `select` https://github.com/docker/go-events/blob/aa2e3b613fbbfdddbe055a7b9e3ce271cfd83eca/broadcast.go#L78.

I'll take a look at the swarmkit wra

[2017-06-28 20:01] stevvooe commented on #1105
@ehazlett The wrapper isn't necessary. Just follow the guidelines in the docs https://github.com/docker/go-events/blob/aa2e3b613fbbfdddbe055a7b9e3ce271cfd83eca/broadcast.go#L24. [`Queue`](https://godoc.org/github.com/docker/go-events#Queue) instances need to be added so the broadcaster does not block. [endpoints.go](https://github.com/docker/distribution/blob/df5327f76fb6468b84a87771e361762b8be23f

[2017-06-29 02:12] xiekeyang commented on #1061
@stevvooe Agree, I would search the similar stuff restriction to container and task ID.

[2017-06-29 02:56] xiekeyang commented on #1094
Close it by #1108

[2017-06-29 02:56] #1094 closed

[2017-06-29 04:44] stevvooe commented on #1110
For reference, here is the runtime on my local box:

[code]

The goal of this test is to ensure that the content store doesn't fall over when faced with a non-trivial amount of data.

I think @dmcgowan may be working moving over to a different storage mechanism, so maybe this test can be fast or go away.

[2017-06-29 10:35] miaoyq opened #1119 ""ctr run" parameter parsing error"
When I execute the command `ctr run` as follow, `-a` is parsed as a paramater of `ctr run`.
[code]

[2017-06-29 12:36] ijc commented on #1119
You need `ctr run -- docker.io/library/ubuntu:latest test ls -a` I think.

The `--` tells ctr that everything else is a non-option argument.

[2017-06-30 01:54] rfyiamcool commented on #1105
+1

[2017-06-30 15:46] #817 closed

[2017-06-30 22:59] ehazlett commented on #1105
#1124 adds the queue and retry sink for better event reliability.  There is still an issue I'm trying to track down in the example app where there appears to be a race when creating and killing tasks immediately where the task is stopped where `Wait` will hang waiting for the exit event that never comes.

[2017-07-02 22:32] mrueg opened #1125 "Create a release for docker-17.06"
@mlaventure can you tag a release corresponding to docker 17.06? Thanks!

[2017-07-03 07:04] mlaventure commented on #1125
https://github.com/containerd/containerd/releases/tag/v0.2.9

[2017-07-03 07:04] #1125 closed

[2017-07-05 07:17] xiekeyang commented on #1110
@stevvooe Thanks for your explain! And I will close it.

[2017-07-05 07:17] #1110 closed

[2017-07-05 08:09] ijc opened #1131 "no shim mode fails with "no such file or directory" for pid file"
As part of investigating https://github.com/linuxkit/linuxkit/issues/2131 I wanted to run without the shim. I added to my `config.toml`:
[code]
and then
[code]

This also happens with [LinuxKit's `service` client](https://github.com/linuxkit/linuxkit/blob/master/pkg/containerd/cmd/service/start.go).

[2017-07-05 08:57] ijc opened #1132 "Shim unconditionally mounts rootfs as MS_SLAVE"
https://github.com/linuxkit/linuxkit/issues/2131 is an issue with [LinuxKit's `projects/kubernetes`](https://github.com/linuxkit/linuxkit/tree/master/projects/kubernetes) where the `kubelet` container expects to create mount which will be visible in a `docker` container. Both of them have a `/var:/var:rshared,rbind` but the mounts made by `kubelet` are not appearing in the docker container.

I eve

[2017-07-05 08:59] justincormack commented on #1132
I think the propagation here needs to match `Linux.RootfsPropagation` in the spec for the container, else the container rootfs propagation will not be respected.

[2017-07-05 09:05] ijc commented on #1132
@justincormack is that different to the RootfsPropagation stuff done by `runc` already?

[2017-07-05 09:13] justincormack commented on #1132
runc sets the propagation of the root based on that flag, but that mount is under the shim mount, so although the root mount will be set to shared in this case, its only shared with the shim's slave mount not with the mount above that (usually the host root fs).

[2017-07-05 16:32] crosbymichael commented on #1132
We did this because of all the `EBUSY` errors that people get because buggy devmapper or other things poking around in `/var/lib/whatever` when they should not.

[2017-07-06 09:39] ijc commented on #1132
@crosbymichael making the shim obey the `rootfsPropogation` in the spec would be OK from that PoV though I guess?

[2017-07-06 12:18] ijc commented on #1132
So what is the best way to approach a fix here? We could either pass a new CLI option when launching the shim, or defer `setupRootfs` into the shim's `Create` handler by adding a field to `shim.CreateTaskRequest` (where it would be consumed by `newInitProcess` before `r.Rootfs` was loked at). Both options would appear to require the Linux runtime to parse the spec, which it currently treats as opa

[2017-07-06 16:42] crosbymichael commented on #1132
We can just remove it for now I guess

[2017-07-06 20:20] #1052 closed

[2017-07-07 08:36] kunalkushwaha opened #1138 "container do not exit, in case of no shim mode."
If container is created in "no shim" mode, while exiting from container it hangs. i.e. container stops but control is not returned to shell.

ctr needs handling of container exit event.

steps to reproduce.
- add following to ``config.toml``
[code]
-  create container ``sudo ctr run --tty docker.io/library/alpine:latest test``
- Type exit on shell
[code]
- This will hang the prompt.
- If you see o

[2017-07-07 08:38] kunalkushwaha commented on #1131
I tried to reproduce this bug, but unable to reproduce it.

But I found other issue with no shim mode #1138

[2017-07-07 09:02] ijc commented on #1131
I can't repro today either, with containerd 8e1a04ff9ee302ae3b37013c42e8486465372cd9 and runc 51b501dab1889ca609db9c536ac976f0f53e7021. I stupidly forgot to note or include the versions I was running when I reported, but I suppose this has either now been fixed or was fixed by me blowing away `/var/lib/containerd`, `/run/containerd` and `/run/runc`.

I do see #1138 now too though.

[2017-07-07 09:02] #1131 closed

[2017-07-07 10:20] ijc commented on #1132
I tried this, see https://github.com/ijc/containerd/commit/49020e1bede6bb75f8a05b66382ac17a12cba2e5, but:
[code]

I didn't notice this when I tried it before, but it is possible it was happening and I was oblivious.

How about just making it `MS_SHARED` for now?

[2017-07-10 11:14] xiekeyang opened #1148 "log hook"
~~To collect containerd daemon logs of `panic`, `fatal`, `err` and `warn` to os.Stderr, and `info` and `debug` to os.Stdout.~~

~~It helps to save logs leveled and permanently. Like my brief implementation https://github.com/xiekeyang/containerd/commit/bce21fcc347b962f2ab9238c8477df555469d0be.~~

Adding log hook to given levels by `logrus`, as to allow consumer to redirect log, or sending mail, et

[2017-07-10 17:08] #1092 closed

[2017-07-10 18:01] crosbymichael commented on #1148
@xiekeyang are there any other services that split the logs up like this?

[2017-07-10 23:17] crosbymichael commented on #960
This was completed by my pr adding a `typeurl` package for marshaling and unmarshaling of protobuf and non-protobuf types.

[2017-07-10 23:17] #960 closed

[2017-07-10 23:23] crosbymichael commented on #1044
This has been resolved.

[2017-07-10 23:23] #1044 closed

[2017-07-10 23:25] crosbymichael commented on #936
This has been resolved with the new events work.

[2017-07-10 23:25] #936 closed

[2017-07-10 23:43] dmcgowan commented on #579
This is proposed in #633, closing this issue

[2017-07-10 23:43] #579 closed

[2017-07-11 02:23] xiekeyang commented on #1148
@crosbymichael I assume you are considering outside service, instead containerd core code to split log. However as individual daemon, containerd should likely have ability to do that, to allow consumer monitor it easily, needn't deploying 3rd service.
And this covers full containerd daemon logs, with logger instance `L`.
If I catch your point?

[2017-07-11 03:09] crosbymichael commented on #1148
Sorry, I mean are there any other software projects that split logs based on level?  Would we be the only ones?

Log levels are pretty application specific and not well standardized across projects.  My fear would be that if we make a change like this, would it make it harder or easier on consumers of containerd to handle logs?   We consumers or additional logging utilities (systemd, upstart, supe

[2017-07-11 08:34] yastij commented on #1041
@Random-Liu - I'll try to work on this one next week.

[2017-07-11 09:36] xiekeyang commented on #1061
@stevvooe I find some name syntax, which might be reference for ContainerIDs and TaskIDs.

Portable Filename Character: http://pubs.opengroup.org/onlinepubs/9699919799/basedefs/V1_chap03.html#tag_03_282
This is for file name. syntax: A-Za-z0-9 . _ - {PATH_MAX}

hostname https://tools.ietf.org/html/rfc5890#section-2.3.1
This is for host or virtual machine name. The syntax is equal to RFC 1035, sect

[2017-07-11 13:10] justincormack commented on #1132
I think if it is always `MS_SHARED` it is not adding any value at all. I think a better fix is for the controlling program to make `/var/lib/whatever` private so it can't be poked around with, not sure this mount can be useful.

[2017-07-11 13:14] ijc commented on #1132
With the mounts cleaned up as mentioned by @crosbymichael in https://github.com/containerd/containerd/pull/1141#issuecomment-313732807 I think this can indeed be dropped and I was planning to update https://github.com/containerd/containerd/pull/1141 along those lines shortly (just making a few final adjustments/doing a few final tests)

[2017-07-11 13:37] ijc commented on #1132
Updated with a version which removes the mount completely and also cleans up the rootfs mount. PTAL.

[2017-07-11 17:55] stevvooe commented on #1061
@xiekeyang For the most part, we are meeting these restrictions for container ids, but we may add to allow underscores. While the portable filename character is probably pretty solid, we've added a few constraints on where characters can appear to increase likelihood of domain name compatibility.

[2017-07-11 20:05] crosbymichael commented on #1037
This was done when the event types were moved into the service

[2017-07-11 20:05] #1037 closed

[2017-07-11 22:30] #1068 closed

[2017-07-12 00:10] stevvooe commented on #1035
Closed by #1151

[2017-07-12 00:10] #1035 closed

[2017-07-12 00:10] stevvooe commented on #947
Closed by #1151

[2017-07-12 00:10] #947 closed

[2017-07-12 09:22] xiekeyang commented on #1148
@crosbymichael Understood. Nonadjustable log redirection is too unkindly to consumer. But we can add optional argument like,
[code]
(Hook is closed by default) Consumer may want mail hook, redirection hook... , and only open it when necessary case.
docker distribution has mail hook with adjustable level. It is mainly for sending warning message to operation engineer email box when error, panic...

[2017-07-12 14:25] xiekeyang commented on #1061
@stevvooe

Containerd constrains namespace becasue it allow multi clients access their own container resource. So it play as domain name. While task/container more like executable file, and they are under namespace. So I feel we may set task/container constraints seperately. That means namespace keep compliable to domain name (because consumer might check the URI of namespace according to domain n

[2017-07-12 15:41] ijc opened #1161 "`ctr exec --tty` hangs"
In one terminal:
[code]
and then in another
[code]
This hangs rather than producing the expected prompt.

`git bisect` has fingered f93bfb62337b645a2b3ad2a0f6b60e1d89f553a4. I expect there is a missing `s/id/container_id/` somewhere but I've not spotted it yet. /cc @crosbymichael

[2017-07-12 15:43] ijc commented on #1161
Bisect log:
[code]

[2017-07-12 15:45] ijc commented on #1161
`sudo ./bin/ctr exec --tty --exec-id foo test ash` does work, not sure if this is expected.

[2017-07-12 15:46] crosbymichael commented on #1161
Ya, you have to provide an exec id.  we should add an error check here when its empty

[2017-07-12 15:46] crosbymichael commented on #1161
I thought I had that added server side but idk, maybe a bad rebase removed it

[2017-07-12 15:50] ijc commented on #1161
An error message would be nice (not having to give the option at all would be better IMHO, but I suppose that would involve allocating one in a non-racy way)

[2017-07-12 15:51] crosbymichael commented on #1161
@ijc ya, we lean towards being explicit and not generating any ids at the moment

[2017-07-12 16:01] ijc opened #1162 "`ctr exec` hangs if given command does not exist in the container"
While debugging #1161 I noticed that with:
[code]
then in another window:
[code]
hangs (note that there is no `bash` in `alpine:latest`). I would expect and `ENOENT` type error of some sort.

There are no logs from the `containerd` process end.

I see this with current master (0600399b0d618a3d16cabc2af4f2f25d533cf1ed) but it appears to have been the case for quite a while (if not forever).

[2017-07-12 16:03] crosbymichael commented on #1162
Ya, i ran into this as well.  I think it has to do with `task.Delete()` or `process.Delete()` and the waiting of IO that was not closed on the other side

[2017-07-12 16:07] ijc commented on #1162
yes, `strace` did suggest it had hung opening one (or more) of the stdio FIFOs.

[2017-07-12 16:31] darkowlzz commented on #1082
I would like to know more about the `tree` subcommand. How it should work and how should the output be?

By "branches of snapshots", I think the command should collect the snapshots with same parents and show then in some visual form. Something like [`tree`](https://en.wikipedia.org/wiki/Tree_(Unix))? Is that correct?

[2017-07-12 17:00] dmcgowan commented on #1082
Yes, that is exactly what we are talking about. This would make it easier to see which are the "leaf" snapshots (have no children) and which are the roots (have no parents). I was thinking something similar to `ps fax` (which could be implemented as an option to `snapshot ls` as well).

[2017-07-12 18:01] stevvooe commented on #1061
@xiekeyang We'll probably move the current `identifiers` back to the namespace package and use it only for namespaces. The current identifiers package can then be used for the case of validating container ids, task ids and exec ids.

Hold off on opening a PR.

[2017-07-12 18:17] #1071 closed

[2017-07-12 18:58] #1161 closed

[2017-07-12 18:58] #1162 closed

[2017-07-12 20:34] #652 closed

[2017-07-12 22:15] #1061 closed

[2017-07-12 23:05] crosbymichael commented on #1148
I think hooks could be a good idea but we need to make sure that we can allow people to extend this in containerd without having to merge in every type of hook that people want/need.

[2017-07-12 23:31] dmcgowan opened #1172 "Allow quotes in field paths"
Currently field paths are treated as whole values (such as `labels` or `target), or prefixed values (such as `labels.mylabel`). However to represent a label `mylabel.io`, the label must be given as `labels.mylabel.io` which could be mistaken in the future for a path to `labels->mylabel->io` rather than `labels->mylabel.io`. If we allow quoting in fieldpaths as we do with filters, this will be much

[2017-07-13 03:15] rajasec opened #1176 "containers list gives incorrect images"
sudo dist images ls
REF                              TYPE                                                 DIGEST                                                                  SIZE
docker.io/library/busybox:latest application/vnd.docker.distribution.manifest.v2+json sha256:be3c11fdba7cfe299214e46edc642e09514dbb9bbefcd0d3836c05a1e0cd0642 684.8 KiB

I have only one image which I've pulled via dist

[2017-07-13 21:34] stevvooe commented on #1176
@rajasec Could you provide clear instructions for reproducing this? I don't quite understand. What are the exact commands that you ran, starting from a fresh containerd directory? Make sure to include the _exact_ output.

[2017-07-13 23:41] darrenstahlmsft opened #1185 "Proposal: LCOW Support"
# Linux Containers on Windows #

Announced at Dockercon 2017, LCOW (Linux Containers on Windows) allows Linux containers to run side-by-side with Windows containers on a Windows host using Hyper-V isolation technologies. See [this TechNet blog for more info](https://blogs.technet.microsoft.com/hybridcloud/2017/04/18/dockercon-2017-powering-new-linux-innovations-with-hyper-v-isolation-and-windows-s

[2017-07-13 23:53] darrenstahlmsft commented on #1185
cc @jhowardmsft @jstarks

[2017-07-14 15:39] rajasec commented on #1176
@stevvooe
I removed the images via the following command
sudo dist images rm <image ids>
sudo dist images ls

Listed as empty ( as expected)

Post that, I ran ctr command for listing the containers.
sudo ctr c ls
Where it listed as
ctr: image "docker.io/library/ubuntu:latest": not found

Expected output: Empty list

[2017-07-14 18:09] dmcgowan commented on #1185
I think we want #1017 or some equivalent here. The mounts returned by the snapshotters may not need to be understood by the client and could be snapshotter-specific. As long as the differ and runtime understand them, they can be used.

The main change I think will be to support multiple differs and allow configuring the differs in the configuration for a snapshot. We may even want to be able to de

[2017-07-14 18:36] stevvooe commented on #1176
@rajasec Did you create any containers? Please follow my instructions and describe the problem after starting with a _fresh_ containerd. That means, remove the contents of `/var/lib/containerd/` and then show me how it got there. Without that information, I cannot help you fix this this bug.

[2017-07-14 22:02] stevvooe commented on #1185
@darrenstahlmsft Thanks for submitting this!

We'll need to work out a few details, but the snapshotter/differ model is intended to be compatible with the service VM approach.

[2017-07-14 23:21] stevvooe commented on #1119
@miaoyq Was the help enough?

I am going to close this. If there are still issues, let me know and we can reopen this issue.

[2017-07-14 23:21] #1119 closed

[2017-07-14 23:48] rajasec commented on #1176
@stevvooe
Infact I've recovered from this problem by removing /var/lib/containerd contents.
After that I did not face that problem.
Let me reproduce this problem again

[2017-07-15 00:20] rajasec commented on #1176
@stevvooe
I could reproduce it again
Cleaned up /var/lib/containerd
Started the containerd freshly
sudo dist images ls gave empty ( expected)
sudo ctr c ls gave empty ( expected)
sudo dist pull docker.io/library/busybox:latest
sudo dist images ls  ( listed the pulled image). Expected

Started the container
sudo ctr run -t  docker.io/library/busybox:latest testing
exit the container using exit comm

[2017-07-15 00:59] darstahl opened #1191 "Spec bug: Root.Path on Windows must be populated"
The current version of the OCI runtime spec states that:

* **`path`** (string, REQUIRED) Specifies the path to the root filesystem for the container.

    * On Windows, `path` MUST be a [volume GUID path][naming-a-volume].

    * On POSIX platforms, `path` is either an absolute path or a relative path to the bundle.
        For example, with a bundle at `/to/bundle` and a root filesystem at `/to/

[2017-07-15 20:03] samuelkarp opened #1192 "Spurious warning on `dist images ls` for schema 1 images"
[code]

This is on e48ef84b20464732d0c0dd24b53897f3af4e12cb.  If you want to pull this image, you can use https://github.com/samuelkarp/amazon-ecr-containerd-resolver and pull it with `sudo ./bin/ecr-pull ecr.aws/arn:aws:ecr:us-west-2:137112412989:repository/amazonlinux:latest`.

cc @dmcgowan

[2017-07-16 14:38] AkihiroSuda opened #1193 "ROADMAP.md is outdated"
https://github.com/containerd/containerd/blob/4f2b443a27a43df5945ebf9c18b533e526afc614/ROADMAP.md

@crosbymichael
Could you please update the file so that people can easily understand the current status?
IIUC the current status is Phase 4?

[2017-07-17 18:16] stevvooe commented on #1192
@samuelkarp This just needs to be added to the switch statement in the ChildrenHandler for images and it will work. As it is now, this is behaving correctly, as there are no children of this type.

[2017-07-17 18:29] #1192 closed

[2017-07-17 18:33] stevvooe commented on #1176
Thanks for the reproduction!

Confirmed:

[code]

Looks like we try to lookup the image in the image store, which shouldn't be necessary. I'll try to hunt down the cause and get a fix together.

[2017-07-17 18:52] darrenstahlmsft commented on #1185
@dmcgowan Agreed. RE our conversation on Slack, the other big thing (that I'll edit into the initial issue soon) is to decide how layer filesystem access works from things like a builder. Since LCOW layers cannot be mounted on disk, either we need a package, most likely a containerd service, to expose filesystem primitives (see https://github.com/containerd/continuity/blob/master/driver/driver.go)

[2017-07-17 21:53] stevvooe commented on #1176
@rajasec I have a fix in #1200. Let me know if this achieves your expectations.

Thanks for the report!

[2017-07-17 23:07] stevvooe opened #1201 "linux: runtime error codes are lossy"
The grpc error code from the shim is being removed by the current error handling. Please see https://github.com/containerd/containerd/blob/master/linux/task.go#L97 for an example. The existing code removes the error code and takes only the error description. For this case specifically, we really need to return a `NotFound` error when killing a task that doesn't exist.

cc @mlaventure @crosbymichae

[2017-07-17 23:14] #1176 closed

[2017-07-18 04:27] samuelkarp commented on #1192
Thanks!

[2017-07-19 04:34] AkihiroSuda opened #1213 "Flaky test: TestCheckpointRestore"
[code]

cc @stevvooe
https://github.com/containerd/containerd/pull/1205#issuecomment-316160590

[2017-07-19 08:22] ijc commented on #1132
Is this now in good shape?

[2017-07-19 08:28] mlaventure opened #1215 "Data Race in go"
[code]

I've seen this one only once but logging it there.

I'd say it's a go issue though.

/cc @stevvooe

[2017-07-19 14:37] estesp commented on #1201
Your line reference is no longer a valid example as the code has shifted, I assume due to the merge of #1209. I'd be happy to take a deeper look but not sure I fully understand the issue yet.

[2017-07-19 18:18] stevvooe commented on #1215
I've seen this on failure of unit tests, fairly regularly. I am not sure about the root cause at this point.

I'm confused because it looks like `(*os.File).Read` and `(*os.File).Close` are not threadsafe, which is extremely surprisingly.

[2017-07-19 19:58] caniszczyk opened #1218 "Refresh website?"
It looks like the latest changes from say here: https://github.com/containerd/containerd/commit/16f04383ae741790c7e951e04618fc636bd91584

Aren't being picked up when I visit containerd.io

cc: @crosbymichael

[2017-07-19 20:36] stevvooe commented on #1201
@estesp #1209 knocked out a big part of this. If you want to take a deeper look, it would be best to verify that `services/tasks/services.go` is properly forwarding error codes where it matters.

[2017-07-19 22:33] stevvooe opened #1219 "Use standard archive/tar pkg after go 1.10 upgrade"
#1210 has forced us to use a forked version of `archive/tar` to deal with a bug in Go 1.8. We need to devise a long-term strategy to ensure that this fork is not "temporarily permanent".

cc @dmcgowan @tonistiigi

[2017-07-19 22:34] stevvooe commented on #1218
I'm unfamiliar with the publication process.

cc @chanezon

[2017-07-20 06:15] mlaventure commented on #1215
@stevvooe it does look like the `fd` field is not threadsafe, which was surprising to me too

[2017-07-20 12:35] yummypeng opened #1222 "Manually kill containerd-shim when container is paused causes other docker command block forever"
**Steps to reproduce the issue:**
Run the following script:
[code]

**Describe the results you received:**
The script gets block within 10 seconds, it blocks at L8.

**Describe the results you expected:**
No block.

**Additional information you deem important (e.g. issue happens only occasionally):**
After [containerd/containerd #1111](https://github.com/containerd/containerd/pull/1111), kill shim

[2017-07-20 13:12] yummypeng commented on #1222
Are the following codes essential?  @mlaventure
[code]

[2017-07-20 21:43] stevvooe commented on #1215
@mlaventure I agree.

Looks like https://github.com/golang/go/issues/7970 might be related, but they didn't fix the race.

[2017-07-20 23:28] epilatow opened #1225 "Add solaris build support"
since the last moby summit i've been working on porting containerd to
solaris.  at the summit i was asked to try and err on the side of having
multiple smaller changesets rather than one large changeset.  to that
end, the first step to supporting solaris would be enabling compilation
of containerd (and its vendored components) on solaris.

to that end, i've filed the following PRs
- [x] https://gi

[2017-07-21 06:23] AkihiroSuda opened #1229 "client: add more formats for Import/Export"
We are going to implement importing/exporting OCI v1 images in tar format (https://github.com/containerd/containerd/pull/1013)

There has been some proposals to add more formats in the PR:

- OCI v1 images in generic directory - by @AkihiroSuda
-- Can access `oci-layout` and detect the format without scanning whole the "tape"
-- Can only import really referenced blobs without scanning whole the "t

[2017-07-21 18:00] dmcgowan commented on #1082
Thank you @darkowlzz for driving this! I am closing this as completed.

[2017-07-21 18:00] #1082 closed

[2017-07-21 18:32] dmcgowan commented on #903
Now have support for this through multiple snapshotters, also each snapshotter can add its own custom configuration.

[2017-07-21 18:32] #903 closed

[2017-07-21 18:35] dmcgowan commented on #511
@kunalkushwaha @AkihiroSuda do either of you still have pending changes? We should try and fill out the snapshot test suite now. We should resync on the current state and desired set of tests. Let's use the checklist at the top as the definitive list.

[2017-07-21 19:02] dmcgowan opened #1231 "Error message on pull related to race in content status"
Sometimes an error is seen during pull related to requesting ingest data which has not yet been started. The content store should more gracefully handle this rather than returning an unknown error.

[code]

See https://asciinema.org/a/IJ1RtZmTfNLA4JxZ7K53idIOU

[2017-07-21 19:05] dmcgowan opened #1232 "content: cancelled pulls do not clean up ingests"
When a pull is cancelled, the ingests are not cancelled nor do subsequent pulls gracefully handle abandoned ingests. Interrupting the cli should cancel contexts, and cancelled contexts should clean up resources. Additionally, a method is needed to timeout abandoned ingests or detect and resume their work.

[code]

[2017-07-21 20:18] #1132 closed

[2017-07-21 20:34] stevvooe opened #1233 "filters: syntax for regexp requires quoting"
Currently, we allow using a value as a regexp. Unfortunately, the delimiter for values, `,`, overlaps with some regexp syntax, requiring quoting in certain instances.

Let's move to having a beginning delimiter that properly quotes values in a regexp with having to do full string quotes:

[code]

This should allow changing the quote character:

[code]

This can avoid cases where one needs to match

[2017-07-21 20:35] stevvooe commented on #1232
Working as intended. This allows download resumption.

What we need is later cleanup of abandoned ingests.

[2017-07-22 00:27] stevvooe opened #1235 "cmd/ctr: specs not getting properly registered"
When I run the following:

[code]

It seems that the `typeurl` registration is not getting imported. Adding the following solved the problem:

[code]

However, these should probably get registered consistently across platforms. We should also improve the error message to list the package, as well:

cc @dmcgowan @mlaventure

[2017-07-22 08:29] mlaventure commented on #1235
Ah, my bad, moved it to the runtime when I was fixing the integration test
for windows. But I wasn't using ctr anymore at that point.

On Sat, Jul 22, 2017 at 2:27 AM Stephen Day <notifications@github.com>
wrote:

--

Sent from my phone.

[2017-07-24 09:35] kunalkushwaha commented on #511
@dmcgowan Sorry for late reply. Please give me one more day to gothrough it.

[2017-07-24 18:11] tonistiigi opened #1240 "Parallel pulls fail on extraction step"
When 2 parallel pulls share some layers, one of them is likely to fail.

example:
[code]

gives:
[code]

@dmcgowan

[2017-07-24 18:12] tonistiigi commented on #1232
Just to make it more clear, this isn't just a data leak but blocks the content store so that the same blob can not be downloaded again.

[2017-07-24 18:19] stevvooe commented on #1232
@tonistiigi That behavior isn't correct, but the new blob should be resumed from the same key, or a different key prefix should be used to avoid collisions.

[2017-07-24 18:34] #1193 closed

[2017-07-24 18:49] #1235 closed

[2017-07-24 22:30] #1232 closed

[2017-07-24 23:57] dmcgowan opened #1244 "Clarify `With` names in clients for snapshots"
In the client we use the term "RootFS` when referring to snapshots. This is confusing terminology, we should refer to a rootfs as either a set of mounts to create a rootfs or a directory which can be used as a rootfs. In the client we should use the term snapshots to refer to any identifier which is to be used with a snapshotter.

Naming might look like...
 - `WithSnapshot` - would take in existin

[2017-07-25 00:01] stevvooe commented on #1244
SGTM

@AkihiroSuda PTAL

[2017-07-25 00:26] caniszczyk commented on #1218
friendly ping @chanezon, is there another publish step outside of just being part of gh-pages?

[2017-07-25 03:18] AkihiroSuda commented on #1244
SGTM, will address this in https://github.com/containerd/containerd/pull/1182

[2017-07-25 08:02] kunalkushwaha commented on #511
We need to have few more testcase w.r.t. ``Usage()`` & ``Walk()`` functions too.
- Also, `usage` is not implemented yet in ``btrfs snapshotter``

@dmcgowan I have doubt w.r.t  [Snapshot Model](https://github.com/containerd/containerd/blob/master/design/snapshot_model.png), I understand the concept , but this does not get translated to code.

  _B<sub>1<sub>_  <------------------------------ _B<sub

[2017-07-25 17:40] dmcgowan commented on #511
@kunalkushwaha we should remove multiple commit from this list as it is not currently supported. Let's focus on making tests which validate the guarantees currently made by the snapshot interface. If we have language in the description of that interface which differs from the actual behavior, we should update those descriptions.

[2017-07-25 20:37] crosbymichael commented on #1185
We are going to break this issue up into sub issues for each of the topics that need discussion and changes made.

@darrenstahlmsft can you close this one after you have the separate issues created? Thanks!

[2017-07-25 22:30] #1244 closed

[2017-07-25 23:14] stevvooe commented on #1185
I think we need a way to make things like the `DiffService` work for this case. The non-local performance for a continuity driver is going to be problematic. Effectively, we'd have to generate some "remote" mounts that can be performed by a diff service implementation that is proxied out to a utility VM. It would be good to have a close look at that and let us know what is missing for that to fill

[2017-07-26 00:05] darrenstahlmsft commented on #1185
The implementation of Diff and Apply is already able to be proxied to the GCS running in the utility VM in the form of Tar2Vhd and Vhd2Tar. Tar2Vhd takes a tarstream, and applies it into a new sandbox layer (VHD). Vhd2Tar takes the sandbox (VHD) and parent layers and creates a tarstream of the diff. I'm looking more into this, but it should be doable by creating an on demand utility VM that is con

[2017-07-26 01:32] kunalkushwaha commented on #511
Got it. Will make PR for updating description too.

[2017-07-26 22:31] stevvooe commented on #1231
When the status is no longer available, it should check if the target content is now available.

[2017-07-27 10:19] ijc commented on #1244
This one didn't happen, correct? Currently I'm just using [`spec.Root.Path = rootfs`](https://github.com/linuxkit/linuxkit/blob/master/pkg/containerd/cmd/service/start.go#L81), which seems ok to me, just checking that there isn't a better/more preffered way.

[2017-07-27 10:29] AkihiroSuda commented on #1244
@ijc added in https://github.com/containerd/containerd/pull/1182

I think it is good to have this helper function so as to clarify setting arbitrary path is officially supported

[2017-07-27 10:33] ijc commented on #1244
Thanks for the pointer, looking forward to using that with alpha3!

[2017-07-27 20:59] Random-Liu commented on #1240
Ref https://github.com/containerd/containerd/issues/1041.

[2017-07-27 21:07] estesp commented on #1105
@stevvooe here are 2 traces from what looks like the same `Queue.Close()` hang

[containerd-hang-traces.zip](https://github.com/containerd/containerd/files/1181259/containerd-hang-traces.zip)

[2017-07-27 21:19] stevvooe commented on #1105
The problem is that that close on the `queue` isn't being propagated to the `channel` because the queue is blocked on a `Write`. I have a patch that will close the channel explicitly.

[2017-07-27 22:36] estesp commented on #1105
With #1254 applied, seems problems shift to gRPC responses stuck on a `select` in `transport.wait`? There are only two containers running "officially" according to containerd; one is in the middle of being deleted, yet **54** goroutines are in this state. Maybe this needs to be a separate issue as we don't necessarily have an event hangup problem, at least specifically, anymore. (Note these are no

[2017-07-27 22:48] #1231 closed

[2017-07-27 23:09] #1032 closed

[2017-07-28 13:38] crosbymichael commented on #831
@AkihiroSuda can this be closed now?

[2017-07-28 14:13] AkihiroSuda commented on #831
yes

[2017-07-28 14:13] #831 closed

[2017-07-28 15:33] crosbymichael commented on #1066
@stevvooe this has been implemented correct?

[2017-07-28 16:01] estesp commented on #1105
Closing this as there are no remaining issues with event delivery/hangups that I can tell.

[2017-07-28 16:01] #1105 closed

[2017-07-28 17:52] stevvooe commented on #1105
@estesp What about the above traces?

Let's keep an eye on this. ;)

[2017-07-28 18:07] stevvooe commented on #1066
@crosbymichael No, I'm working on porting over @ehazlett's patch to the refactored events system.

[2017-07-28 18:23] estesp commented on #1105
@stevvooe yeah.. my main point is not to overload the original bug, which definitely seems fixed, with a new bug that is not related to events as far as I can tell.

I'm still gathering details/debug, but will open a new issue once I feel I have something valid to report. There is still something funky about concurrent tight loops of start, stop, delete that I can generate a client-side hang in gR

[2017-07-28 18:52] estesp opened #1261 "[Investigating] client-side gRPC hangs on concurrent container creation"
Issue placeholder while still debug/investigating client-side hangs during gRPC API calls when adding concurrency in a tight loop of container start, stop, delete operations.

The following test program can be used to recreate the issue against containerd master (as of today 7/28/2017); the program takes an integer argument for the number of concurrent threads. (E.g. `./go-containerd 4` to run 4 g

[2017-07-28 18:57] estesp commented on #1261
Output from a 4 goroutine run that ends in a hang:
[code]

[2017-07-28 18:59] estesp commented on #1261
client-side goroutine stack dump for the above hang:
[code]

[2017-07-28 19:40] stevvooe commented on #1038
Closed by #1246

[2017-07-28 19:40] #1038 closed

[2017-07-31 18:26] Random-Liu opened #1266 "Sirupsen/sirupsen is causing trouble."
containerd v1.0.0-alpha2 is using `sirupsen`, but the corresponding runc version (429a5387123625040bacfbb60d96b1cbd02293ab) is still using `Sirupsen`.

This caused trouble to us when we are using both containerd and runc libraries.

Can we update the runc version in containerd? Is there any breaking change in runc blocking us?

[2017-07-31 18:26] #1138 closed

[2017-07-31 18:28] crosbymichael commented on #1266
I'll update it right now, there should be no blocking issues.

[2017-07-31 18:34] Random-Liu commented on #1266
@crosbymichael Thanks! :)

[2017-07-31 18:43] #1266 closed

[2017-07-31 23:08] stevvooe opened #1270 "Makefile: use per-platform include file"
At this point, the `Makefile` is becoming littered with terse inlines and hacks to support multi-platform behavior. Let's move to having a platform include file per platform to separate out the platform-specific behavior. We would add something like this to the base `Makefile`:

[code]

If the file doesn't exist, we get a build error. If it does exist, it can set platform-specific items, such as t

[2017-08-01 03:20] kunalkushwaha commented on #1138
This bug is still not fixed.

Still the ctr hangs.

[code]

Server log
[code]

[2017-08-01 12:22] miaoyq opened #1272 "How to start a stopped container using "ctr" command?"
I create a container like this:
`ctr run -t docker.io/library/busybox:latest mytest sh`
and then exit, now I want to start this container again.
Could `ctr` be restarted in some way? Thanks!

containerd version:
[code]

[2017-08-01 19:12] Random-Liu opened #1274 "Add forcibly delete in Task client."
Currently, `Delete` in task grpc api only takes effect when task is in `stopped` state, and [Task client `Delete`](https://github.com/containerd/containerd/blob/master/task.go#L194) is using the grpc api directly.

However, it seems that we are not aware of this when using the client, e.g. [here](https://github.com/containerd/containerd/blob/master/cmd/ctr/run.go#L128).

It seems useful to add an

[2017-08-01 21:59] stevvooe commented on #984
@dmcgowan Is there anything we need to do here? For some reason, we seem to have avoided the main issues.

[2017-08-02 14:18] crosbymichael commented on #1272
Right now we don't have that supported in ctr.  Since `ctr` is unsupported and just a development tool we don't implement all the api commands, only what we are testing.

I think its fine if you want to implement this type of support in ctr.

[2017-08-02 17:59] #1054 closed

[2017-08-02 18:29] mlaventure commented on #952
Fixed in #1196

[2017-08-02 18:29] #952 closed

[2017-08-02 18:29] mlaventure commented on #1066
@stevvooe considered fixed by #1271?

[2017-08-02 18:33] mlaventure commented on #966
Fixed in #1196

[2017-08-02 18:33] #966 closed

[2017-08-02 19:03] crosbymichael commented on #1138
@kunalkushwaha it was fixed but a recent tty change caused this to happen again.

https://github.com/containerd/containerd/pull/1277 should fix this regression

[2017-08-02 20:09] #1066 closed

[2017-08-03 02:00] kunalkushwaha commented on #1138
This seems still not fixed. I tested against alpha3 code, still hangs.

[2017-08-03 02:01] miaoyq commented on #1272
@crosbymichael  OK, I will work for this.

[2017-08-03 14:52] crosbymichael commented on #1138
@kunalkushwaha I just built master and I an unable to reproduce this anymore, with both shim and no_shim

[2017-08-03 20:40] stevvooe opened #1286 "document directory layout"
It will be easier to make decisions about where new components write data if we have a common place where the directory layout is documented.

[2017-08-04 18:21] stevvooe commented on #751
@dmcgowan Is this still relevant? Seems like this should be an option but I am guessing the problem described here was fixed.

[2017-08-04 18:23] stevvooe commented on #1000
@roadrunner I've moved the protobuf generation tooling over to https://github.com/stevvooe/protobuild. Let's discuss a solution to this problem over there and see if we can't make this a little easier to work with!

[2017-08-04 18:23] #1000 closed

[2017-08-04 18:51] dmcgowan commented on #751
A "not found" message is currently returned, we should make this error more helpful in the future to indicate what was not found. That is a separate issue.

[2017-08-04 18:51] #751 closed

[2017-08-04 22:11] stevvooe opened #1297 "metadata: panic when reading container"
After running the following:

[code]

`containerd` crashed with a panic:

[code]

[2017-08-04 22:31] mlaventure commented on #1297
`Spec` is nil.

Looks like we're missing validation of the mandatory fields in
`services/containers.Create()`

On Fri, Aug 4, 2017 at 3:11 PM Stephen Day <notifications@github.com> wrote:

--

Sent from my phone.

[2017-08-07 14:37] mlaventure commented on #578
make lint still doesn't pass, and is not activated on the CI reopening

[2017-08-07 21:00] #1225 closed

[2017-08-08 03:30] Random-Liu opened #1304 "`View` succeeds on corrupted snapshot"
`View` succeeds on corrupted snapshot. The way to reproduce:
[code]

Run this, you'll get:
[code]

The first failure is because we try to delete before the task is killed.

However, I don't quite understand the second failure. It seems that we are reusing the corrupted snapshot. /cc @stevvooe @abhinandanpb @mikebrow

[2017-08-08 14:48] #1274 closed

[2017-08-08 19:35] tophj-ibm opened #1308 "Issues running make integration"
I'm seeing a lot of these failures when running `make integration` as root. `make test` passes. I'm testing off of master, but also saw this with alpha3.

[code]

I have go 1.8.3, and proto3. I've replicated this on amd64 as well as ppc64le. I'm also not using btrfs.

I found that the err is being returned from this call,
```grpc.Invoke(ctx, "/containerd.services.tasks.v1.Tasks/Create", in, out, c

[2017-08-08 19:41] crosbymichael commented on #1308
@tophj-ibm it looks like you have an old version of runc.  you can update to runc master or the commit in the `RUNC_COMMIT` file of this repo.

[2017-08-08 19:52] tophj-ibm commented on #1308
yep that was it, thanks @crosbymichael!

[2017-08-08 19:52] #1308 closed

[2017-08-08 19:53] crosbymichael commented on #1308
@tophj-ibm no problem, anytime

[2017-08-09 10:26] jongwu opened #1313 "ctr: type *specs.Spec: not found"
when I use ctr to run a container by type "ctr run docker.io/library/busybox:latest con " in terminal, I got the error:
"ctr: type *specs.Spec: not found"
so how to run a container by using ctr?

[2017-08-09 11:44] timchenxiaoyu opened #1314 "docker pull duplicated"
We know docker daemon has pull image feature,why contained duplicate this function?

[2017-08-09 14:21] estesp commented on #1314
containerd is a standalone container runtime that is meant to be usable outside the Docker ecosystem; therefore it needs to have support for registry interactions. One example is the expected use as a Kubernetes CRI implementation (https://github.com/kubernetes-incubator/cri-containerd), which requires image pull support.

As Docker integrates with the future 1.x releases of containerd I don't thi

[2017-08-09 14:23] #1314 closed

[2017-08-09 15:06] mlaventure commented on #1313
You are probably on a old version. It works perfectly fine on master,
please try to update

On Wed, Aug 9, 2017 at 3:26 AM jongwu <notifications@github.com> wrote:

--

Sent from my phone.

[2017-08-09 16:12] ijc opened #1317 "ctr: inconsistency between `snapshot commit and `snapshot prepare`"
`ctr snapshot prepare` insists that the first argument is a properly formatted digest, however `ctr snapshot commit` accepts any string as the id, and I don't see a command which helps to calculate a suitable digest.

I've just been using `sha256:00000000000000000000000000000000000000000000000000000000deadbeef`, but that doesn't feel right!

Have a missed something?

A concrete example of what I a

[2017-08-09 17:00] dmcgowan opened #1318 "GCR authenticated operation failures"
Currently access to GCR for non-public images and push is not working. This is due to a combination of containerd not supporting some aspects of the registry protocol yet and some differences in the GCR registry from the registry protocol. Creating this issue to track these differences and their resolution.

- [x] 403 returned on non `/v2/` endpoints (see #1205). This assumes a ping operation to d

[2017-08-09 17:55] Random-Liu commented on #1318
@dmcgowan Does https://github.com/containerd/containerd/issues/1064 fall into any of these?

[2017-08-09 18:17] dmcgowan commented on #1318
@Random-Liu I believe it is the first one

[2017-08-09 18:19] Random-Liu commented on #1318
@dmcgowan Thanks! Seems like a gcr problem, I'll try to reach them about this. :)

[2017-08-09 20:04] jonjohnsonjr commented on #1318
Thanks for reaching out!

@dmcgowan nice list, thanks :)

It seems like the first one is the only thing that _really_ needs to be fixed -- do I understand that correctly? How urgent is that change? We should be able to fix this, but I'm not sure how to prioritize the work. Is it blocking anything?

(The PATCH status code discrepancy is easy; we can update that whenever the docs get updated.)

[2017-08-09 21:36] stevvooe commented on #1317
Even worse, all these parameters are backwards.

[2017-08-09 22:35] dmcgowan commented on #1318
@jonjohnsonjr thanks for the response. Agreed about the first one being fixed. It is not blocking anything since we can work around it with a client-side work around. Right now private images are not working at all for GCR, so I think we have to put this hack in unless it can get fixed in the next few weeks. We would like to remove these workarounds ASAP though, getting in fixed in the next month

[2017-08-09 23:09] dmcgowan commented on #1314
@timchenxiaoyu we have no support for device mapper. The `overlay` snapshotter is equivalent to `overlay2` in Docker and is the default.

[2017-08-09 23:19] timchenxiaoyu commented on #1314
Sorry ,I don't understand still,if I run container use containerd ,which fs I used? how to set fs by myself?

[2017-08-10 03:24] jongwu commented on #1313
I update containerd by building latest source code and run "./ctr run docker.io/library/busybox:latest con
" but I get error:
ctr: failed to create active: parent is not committed snapshot: invalid argument
containerd version now is Version: v1.0.0-alpha3-23-ge8625bc.

[2017-08-10 05:19] ernoaapa opened #1324 "Expose gRPC API over TCP?"
I'm planning to create client what connects to `containerd` over tcp.

Is there any reason why `containerd` supports only socket file connection?
There might be good reason for this (for instance security) and happy to hear that. I can implement TCP support and provide pull request, but want to first stop by and ask is this something what you don't want to implement for good reason.

[2017-08-10 06:06] dmcgowan commented on #1324
The reason is security and configuration. The goal of containerd is to be a simple primitive that is used by other services and container runtimes. Having the containerd API exposed over TCP would be the responsibility of a privileged service which proxied to the containerd socket and had the responsibility for authenticating and securing the TCP connection. We could also envision services which m

[2017-08-10 06:06] #1324 closed

[2017-08-10 14:08] #1317 closed

[2017-08-10 14:49] mlaventure commented on #1313
You need to download the image first: `ctr pull
docker.io/library/busybox:latest`

On Wed, Aug 9, 2017 at 8:24 PM jongwu <notifications@github.com> wrote:

--

Sent from my phone.

[2017-08-10 18:49] stevvooe opened #1330 "content: package should not depend on OCI"
Somehow, the content package was intertwined with the OCI package in an awful manner:

https://github.com/containerd/containerd/blob/master/content/content.go#L86

This needs to be fixed.

[2017-08-10 20:57] crosbymichael commented on #1304
There was a race around removal and the fs still being mounted.

I fixed it here:

https://github.com/containerd/containerd/pull/1320/files#diff-64ec755cb249b1c49c9506054e6caff3R212

Would be interesting to try this gain with that patch and see if the outcome is any different.

[2017-08-10 21:00] crosbymichael commented on #1272
This was merged, closing now.

[2017-08-10 21:00] #1272 closed

[2017-08-10 21:36] flah00 opened #1334 "Copious logs from containerd"
## Issue

Every ten seconds containerd logs

[code]

I haven't been able to track down the source, but it happens in the two environments I run.

## Software

kube-aws: 0.9.7
docker: 1.12.6
containerd: 0.2.4
CoreOS: 1409
kubernetes: 1.6.3

[2017-08-10 22:06] stevvooe opened #1336 "RELEASES: add plugin stability guarantees"
Add plugin stability guarantees to release document.

See https://github.com/containerd/containerd/pull/1310#issuecomment-321577591.

[2017-08-10 22:17] stevvooe commented on #1286
@crosbymichael Was this done in the ops guide?

[2017-08-10 23:02] stevvooe opened #1337 "define security escalation process"
We need to have a proper security escalation process for containerd with a mailing list.

See https://github.com/containerd/containerd/pull/1310#discussion_r132078108 for an example of where we hint at responsible disclosure, but we don't yet have a mailing list.

[2017-08-11 00:20] stevvooe commented on #1334
This looks like https://github.com/moby/moby/issues/28336. This was fixed in https://github.com/containerd/containerd/pull/351, which was released as part of docker 1.13.

You'll have to upgrade docker to resolve this.

Let me know if you have further questions!

[2017-08-11 00:20] #1334 closed

[2017-08-11 01:38] jongwu commented on #1313
I pull image using ctr, I get error:
ctr: failed to commit snapshot : incompatible value: unknown, so I can't run this images.

[2017-08-11 01:52] mlaventure commented on #1313
You need to delete your /var/lib/containerd the format changed and is now
incompatible

On Thu, Aug 10, 2017, 6:38 PM jongwu <notifications@github.com> wrote:

--

Sent from my phone.

[2017-08-11 14:18] crosbymichael commented on #1286
Naw, i'm going to work on something today.  Or maybe add this as an update to the ops guide

[2017-08-11 15:57] AkihiroSuda commented on #1318
I guess other registry implementations might be affected as well, can we have a check list for some major implementations and call volunteers for testing?

[2017-08-11 18:13] Random-Liu opened #1340 "Docker compatible spec options."
Currently containerd default spec is mounting `/run` as tmpfs.
However, this may break the compatibility with docker, the newly mounted `/run` will probably overwrite the original content inside the image.

Forked from https://github.com/containerd/containerd/pull/1333#issuecomment-321833241.
We may want a group of docker compatible spec option settings, e.g.:
`GenerateSpec(dockercompat.WithDocker

[2017-08-11 18:15] crosbymichael commented on #1340
@mlaventure should we create a separate repo under the containerd org, for now, and move some of the compatibility `Opts` into it?

cc @stevvooe @dmcgowan

[2017-08-11 18:30] #1076 closed

[2017-08-11 20:18] mlaventure commented on #1340
@crosbymichael sgtm until Docker/moby can figure out where they want this to be

[2017-08-11 20:32] #1330 closed

[2017-08-11 23:21] #1286 closed

[2017-08-12 06:57] AkihiroSuda opened #1347 "RELEASES: add plugin API/ABI status"
e.g.
[code]

@crosbymichael @stevvooe PTAL?

[2017-08-12 07:11] AkihiroSuda commented on #1340
@crosbymichael @stevvooe

That new repo might be good to add importer for `docker save` as well? (https://github.com/containerd/containerd/issues/1229)

[2017-08-13 18:10] yvespp opened #1350 "ctr: exec gone?"
In alpha4 and head ctr exec is missing.
[code]

[2017-08-14 02:30] jessvalarezo commented on #1297
When reproducing this issue, I found that the container info was altered after running `ctr c label testing3`. Note `Image`,`Runtime`, `RootFS`

[code]

[2017-08-14 03:29] jongwu commented on #1313
please give an example of how to use ctr to run a container , thanks.

[2017-08-14 14:57] AkihiroSuda commented on #1318
@dmcgowan Please add a link to https://issuetracker.google.com/issues/64463951 to the issue description?

[2017-08-14 15:14] mlaventure commented on #1313
@jongwu like I said, you need to delete the content of `/var/lib/containerd` and `/run/containerd`

[2017-08-14 15:14] #1313 closed

[2017-08-14 15:16] crosbymichael commented on #1313
@jongwu we also have a getting started guide here: https://github.com/containerd/containerd/blob/master/docs/getting-started.md

It does not use `ctr` but will help you get setup.

[2017-08-14 15:16] mlaventure commented on #1313
`ctr` is a development tool, to use containerd you should write your own client. Please refer to the [starting guide](https://github.com/containerd/containerd/blob/master/docs/getting-started.md)

for ctr (and the syntax may change without notice):
[code]

[2017-08-14 15:57] dmcgowan opened #1353 "Flaky BTRFS test"
One of the BRTFS tests is failing in CI although passing locally

seen in #1352 and #1325

[code]

[2017-08-14 17:29] crosbymichael commented on #1340
Should we name the repo `github.com/containerd/compat` ? Then it could have subdirs with docker and other things like that?

[2017-08-14 17:34] crosbymichael commented on #1347
Its very weird saying "I don't know" in a document like this.

[2017-08-14 17:37] AkihiroSuda commented on #1347
It is a placeholder and I meant I need explanation from maintainers before opening a PR, sorry for causing confusion

[2017-08-14 17:39] crosbymichael commented on #1213
This should be fixed by #1320.

We can reopen if we see this again.

[2017-08-14 17:39] #1213 closed

[2017-08-14 17:43] crosbymichael commented on #1026
I'm looking into this.

Would this cause confusion if they start to show up in the `images ls` lists and other things?  Also this would require a user to name or create a ref for each checkpoint, right?

What are the benefits to doing this?

[2017-08-14 18:17] stevvooe commented on #1026
@crosbymichael They don't necessarily need to show up in `images ls`, but we should have some way to list them or understand what check points are present. While we shouldn't require that checkpoints have a name, we could allow a name to be assigned.

There is also no way to pin the lifecycle of a checkpoint. When do we garbage collect the content? Where it the reference held?

[2017-08-14 18:18] stevvooe commented on #1347
There is no plugin ABI because we don't support loadable plugins yet.

[2017-08-14 18:36] crosbymichael commented on #1026
I think we were going to reference checkpoints on the container for GC? Or atleast that could be an option.

An image would work as well.  I'll look into it more and see about filtering them out of the default `images ls`

[2017-08-14 18:53] darstahl opened #1355 "LCOW: runtime"
This issue is part of splitting https://github.com/containerd/containerd/issues/1185 for tracking purposes.

A new runtime should be created to manage LCOW containers. This new runtime shares a lot of code with the existing Windows runtime, so combining them should be considered. This is currently in progress and a PR with the initial revision with working LCOW containers should be ready in a few

[2017-08-14 18:58] darstahl opened #1356 "LCOW: snapshotter and differ"
This issue is part of splitting https://github.com/containerd/containerd/issues/1185 for tracking purposes.

Due to limitations of NTFS (valid character set, linux style ownership and permissions), it is not possible to store LCOW layers raw on disk. Instead, the files must be managed by a Linux Service Virtual Machine (Service VM from here on out) and stored on disk as a VHD. This means that the

[2017-08-14 19:21] stevvooe opened #1357 "metadata: add proper field validation"
The metadata store is a little lax around field validation for required fields. Let's identify required, updateable and mutable fields explicitly and ensure that these policies are enforced.

One example is `Container.Spec`. This field should never allow updates and should be considered required.

cc @jessvalarezo @crosbymichael

[2017-08-14 19:22] crosbymichael commented on #1357
Actually spec can be updated, i'll take a pass through the container object and add some annotations in this issue with what I think should and should not be allowed.  We can go from there.

[2017-08-14 19:29] crosbymichael commented on #1357
[code]

Added some notes on each of the container fields.

[2017-08-14 19:53] crosbymichael opened #1358 "boltdb: funlock error: bad file descriptor"
After running some stress tests the daemon panic today after getting errors on the `bolt.Close()` bad fd.  This is from the daemon logs collected before the crash.

[code]

[2017-08-14 20:06] darstahl opened #1359 "LCOW: container raw filesystem access (docker cp, builders, etc.)"
This issue is part of splitting #1185 for tracking purposes.

See https://github.com/containerd/containerd/issues/1356 for some context on the inability for LCOW filesystems to be expanded to disk like a traditional Linux container can be.

This issue is to discuss how to handle operations such as ADD in the builder, or `docker cp` etc. Anything that needs to access the filesystem of the container

[2017-08-14 20:06] darrenstahlmsft commented on #1185
Closing this issue as discussed above due to new split issues being created.

[2017-08-14 20:06] #1185 closed

[2017-08-14 20:27] stevvooe commented on #1357
@crosbymichael Woops. It is "required" but "mutable".

Updating runtime seems to be a little racy. For example, if one updates runtime while at the same time launching tasks. Also, these tasks would be "invisible" if the runtime changes during that update.

For spec, I was under the impression that picking it up on the "next run task" would be sufficient. Are there are items in the spec that are r

[2017-08-14 20:29] crosbymichael commented on #1357
Ya, i would be fine with everything being immutable ;)

That is how spec updates actually work.  you can update it live on the task and then it updates on the container as well so that next run it has the updated values.  I don't think anything should change there.

[2017-08-14 20:38] stevvooe commented on #1359
I would hope we could avoid a solution like this. Creating a correctly operating remote filesystem is a non-trivial task. It will reduce file system access to the lowest common denominator and make the interaction with it much more complex. All tools will have to be re-written to satisfy this interface, including archivers and differs. Kernel-oriented optimizations will be less accessible and requ

[2017-08-14 21:21] Random-Liu opened #1360 "WithUser and WithUID options"
`WithUser` and `WithUID` options are needed to run container as a specific user.

`WithUID` is simple, it's fine to leave users to do it themselves.
However, `WithUser` is a bit hard, it needs to mount container rootfs first, read `/etc/passwd` etc., which seems better to implement in containerd.

[2017-08-14 21:23] Random-Liu commented on #1360
@crosbymichael Is this something we want? Can we include this in containerd-beta?

[2017-08-14 21:29] stevvooe commented on #1358
@crosbymichael Is the panic related to `funlock`? Looks like the panic is related to some Go bug when it accesses `fd.laddr`, which has a `nil` byte at the start.

We might have some over-zealous closing on the boltdb, but I think there might be race or bad address on the socket when we try to listen.

[2017-08-14 21:30] crosbymichael commented on #1360
SGTM

[2017-08-14 21:30] crosbymichael commented on #1360
This is something we can solve in containerd as most users will need WithUser

[2017-08-14 21:32] Random-Liu commented on #1304
@crosbymichael Will try soon. Thanks!

[2017-08-14 23:37] darrenstahlmsft commented on #1359
If I understand this correctly, the container orchestrator would exec a process in the container which exposes an RPC endpoint (or whatever they wanted to use) for handling these operations?

[2017-08-14 23:42] stevvooe commented on #1359
@darrenstahlmsft Yes, or it could be a pre-configured, run to completion container.

[2017-08-15 02:22] stevvooe commented on #1357
We are updating the container object when we update the task spec? This seems odd. Where is this happening?

[2017-08-15 02:55] AkihiroSuda commented on #1347
@stevvooe

May I add "Loading plugins dynamically is experimentally implemented for AMD64 Linux but not officially supported. So there is no official plugin ABI." to the "Go Plugin API" section above?

[2017-08-15 03:20] stevvooe commented on #1357
Ok, so I have a branch with a few fixes here and some unit tests. I'll push a PR tomorrow with the full set of fixes.

@crosbymichael Let me know on the question above. We might want to make a few changes in this area if we too tightly coupled to allow updates around rootfs (or may just want to disallow it).

[2017-08-15 05:17] AkihiroSuda opened #1361 "`make install` overrides the well-known `stress(1)`"
`make install` overrides the well-known `stress` command: http://people.seas.harvard.edu/~apw/stress

@crosbymichael

May I open a PR to rename the containerd `stress` to `ctr-stress`? (`ctrd-stress`? `containerd-stress`?)

Or it might be better to just remove `stress` from the `install` target of `Makefile`?

[2017-08-15 14:24] crosbymichael commented on #1361
Ya, lets rename it to `containerd-stress` to match `containerd-shim`

[2017-08-15 14:38] crosbymichael commented on #1357
@stevvooe ok, no. we don't touch the container when we update the task.  If the user wants to persist the update they would have to write an `Opt` that also updates the container's spec

[2017-08-15 14:55] AkihiroSuda commented on #1361
opened https://github.com/containerd/containerd/pull/1365

[2017-08-15 15:03] #1361 closed

[2017-08-15 15:58] crosbymichael commented on #1358
I don't think so.  It just showed up in the logs before the panic.  It could be related to the root cause.

[2017-08-15 22:18] stevvooe commented on #1358
Ok, so it look like there are two fixes here:

1. Bad file descriptor (likely a double close) on one of the bolt instances:

    https://github.com/containerd/containerd/blob/master/vendor/github.com/boltdb/bolt/db.go#L426

    This is causing log message spam through the stdlib logger.

2. `nil` pointer panic on the unix address handed to `Listen`:

    https://github.com/containerd/containerd/bl

[2017-08-16 01:48] stevvooe commented on #1347
@AkihiroSuda That sounds reasonable, but it is covered by the "anything not called out here is not covered by any guarantee".

For all intents and purposes, this doesn't really exist, so it is weird to say something about it. :D

[2017-08-16 02:08] AkihiroSuda commented on #1347
I agree the specification doesn't exist, but the (broken?) implementation exists, no?
https://github.com/containerd/containerd/blob/6bd0710831cb0796e903b7e9e41ca33214913620/plugin/plugin_go18.go

[2017-08-16 04:41] kunalkushwaha opened #1367 "Does containerd contribution requires CLA?"
Though the [contributing](https://github.com/containerd/containerd/blob/master/CONTRIBUTING.md) guidelines do not mention anything about CLA, but it was last updated before containerd project was donated to CNCF.

Clarification on this will be helpful for companies considering to adopt and contribute to containerd project.

//cc : @caniszczyk @crosbymichael

[2017-08-16 08:08] AkihiroSuda opened #1368 "mount_linux: `MS_REC | MS_BIND | MS_RDONLY` does not mean "readonly""
`ctr run --readonly` creates `View` snapshot but it won't be mounted as "readonly":

[code]

## Analysis

The shim creates `mount.Mount{Type: "bind", Source: "/var/lib/containerd/io.containerd.snapshotter.v1.overlayfs/snapshots/1/fs", Options: ["ro", "rbind"]}` as expected.

The issue is that `mount_linux.go` translates this `Options` to `MS_REC | MS_BIND | MS_RDONLY`, which does not mean what is

[2017-08-16 08:25] AkihiroSuda commented on #1368
Maintainers let me know which of `mount` pkg or `snapshot/overlay` pkg should be fixed.

I think fixing `mount` pkg might be convenient, but `snapshot/overlay` might still makes sense.

[2017-08-16 09:01] AkihiroSuda commented on #953
This would be useful to find a bug like https://github.com/containerd/containerd/issues/1368 , which allows a committed snapshot to be modified unexpectedly.

[2017-08-16 13:48] crosbymichael commented on #1368
It should work because `runc` is the one making the rootfs readonly, not the shim or snapshotters.  If its not we need to double check

[2017-08-16 13:49] crosbymichael commented on #1368
Look at where and how the readonly flag is actually being applied in the `cmd/ctr/run_unix.go` file

[2017-08-16 17:25] AkihiroSuda commented on #1368
IIUC the snapshot aspect should be made separate from the runtime aspect, no?

The current code does not set the `readonly` flag of OCI Runtime `config.json`.
Even worse, the current code exposes the KindCommitted snapshot to a container and allows writing to that KindCommitted snapshot.

I agree the `readonly` flag of OCI Runtime `config.json` should be set because KindView snapshot is not guaran

[2017-08-16 17:36] crosbymichael commented on #1368
What? https://github.com/containerd/containerd/blob/master/cmd/ctr/run_unix.go#L87 -> https://github.com/containerd/containerd/blob/master/spec_opts_unix.go#L131

How do you figure its not getting set?

[2017-08-16 17:39] AkihiroSuda commented on #1368
`context.Bool("rootfs")` is false in this case and that function is not called: https://github.com/containerd/containerd/blob/master/cmd/ctr/run_unix.go#L88-L101

You can also verify that by executing `jq .root < /run/containerd/io.containerd.runtime.v1.linux/default/foo/config.json`.

[2017-08-16 17:40] crosbymichael commented on #1368
Then its just a small fix in ctr to set the field

[2017-08-17 03:44] AkihiroSuda commented on #1368
opened #1373

@crosbymichael

The issue is that the mount pkg accepts `ro` flag but does not treat as expected, and I regard the issue should be considered separate from the runtime aspect.
Actually, 3rd party projects such as image builders or vulnerability scanners might mount KindView snapshots without running a container.

[2017-08-17 04:14] AkihiroSuda commented on #511
@stevvooe #1373 is going to fill `make sure View() returns RO mounts`

[2017-08-17 13:44] crosbymichael commented on #1368
@AkihiroSuda sounds good, thanks!

[2017-08-17 16:43] mlaventure opened #1374 "go client: Task should provide a `LoadExec`"
Similar to the way one can load a currently running task for a container with `Task`, I think we should add a `LoadExec(s)` on the `Task` object.

[2017-08-17 16:50] estesp opened #1375 "Complete missing multi-arch image pull/run semantics"
Currently the `manifestList` and `oci.index` types are supported in the `pull` flow (as far as the layers/blobs are processed when an index/list is walked), but there are no platform selectors such that errors are emitted when attempting to run or pull these images after the resources are fetched.

@stevvooe and I will work on design and implementation of these platform selectors such that there i

[2017-08-17 17:22] crosbymichael commented on #1374
sgtm

[2017-08-17 18:05] dmcgowan commented on #1215
Just saw in #1366

Included stack trace since it looks like may be updated line numbers
[code]

[2017-08-17 18:44] Random-Liu opened #1376 "You can never delete a exec process before it's started."
Sometimes we need to delete a exec process when it's in created state, e.g. doing cleanup when start fails for some reason.

However, currently there is no way to delete a exec process in created state.

* If you use `process.Delete(ctx)`, it will tell you `process must be stopped before deletion`.
* Even if you `Kill` the process, because the pid is 0, it will return directly and the process will

[2017-08-17 18:44] Random-Liu commented on #1376
/cc @crosbymichael @mlaventure
/cc @abhinandanpb

[2017-08-17 18:50] Random-Liu commented on #1376
@crosbymichael Thanks!

I'm not sure whether we want to make process exactly the same with task, because created state of process doesn't have a corresponding process running, which is different from task.

I've not idea how to properly fix this yet, :p Wait for your PR then.

[2017-08-17 18:52] crosbymichael commented on #1376
@Random-Liu done.  Its just a validation issue for execs.

[2017-08-17 20:35] mlaventure opened #1380 "checkpoint: no way to retrieve them asynchronously"
If one create a checkpoint, it doesn't have the option to associate a label with it. This mean that it is not possible to easily retrieve/use that checkpoint unless the returned descriptor is stored on persistent storage by the user.

We should consider allowing settings labels on checkpoint creation.

cc @crosbymichael wdyt?

[2017-08-17 20:37] crosbymichael commented on #1380
Well if we make the checkpoints get registered as an "image" this would fix the issue, correct?

[2017-08-17 20:38] crosbymichael commented on #1380
ref: #1026

[2017-08-17 20:38] mlaventure commented on #1380
@crosbymichael hum, I think so yes.

Closing this one in favor of #1026

[2017-08-17 20:38] #1380 closed

[2017-08-17 20:41] mlaventure commented on #1026
It'd be nice to be able to list all checkpoint that are associated with a container too. But not sure how well that would play with the updateable fields within the `Container` struct

[2017-08-17 20:42] crosbymichael commented on #1026
I'm good with going down the route of checkpoints as an image.  I just haven't looked into implementing it yet and what all it will take.  I'm guessing its just a metadata change to write a new image and make sure we filter them out for `images ls` somehow.

[2017-08-17 21:08] mlaventure opened #1381 "go client: no way to get specific events"
The client doesn't currently allow receiving all or part of the event associated with its objects (i.e. client, container, task, process).

It would be useful to have such a facility added.

[2017-08-17 21:10] mlaventure commented on #1381
Note: one can use `client.EventService()` directly

[2017-08-17 21:32] stevvooe commented on #1381
@mlaventure Try a filter?

[2017-08-17 21:46] mlaventure commented on #1381
@stevvooe that's what I'm doing. Just thought it may be nice to add something on top of it.

It's the only case where I have to directly talk to the underlying service api directly via the go client atm.

[2017-08-17 22:14] stevvooe commented on #1381
@mlaventure Do you want a wrapper for the service? That seems reasonable.

[2017-08-17 22:19] stevvooe commented on #1347
@AkihiroSuda If it is not called out in the RELEASES.md doc, don't depend on it, as we make no guarantees that it will be there. This is is what is meant by "non-exhaustive list of components". It means "here are a few examples, but don't depend on things that aren't explicitly guaranteed".

It also makes little sense to mention a component specifically when we have no intent of stabilizing that p

[2017-08-17 22:28] dmcgowan opened #1384 "Support for multiple differs"
We need to support multiple differs in order to support snapshotters which do not directly expose the file system for doing a walking diff.

This is needed to enable the LCOW snapshotters.

[2017-08-17 22:30] dmcgowan commented on #1384
Required for #1356

[2017-08-17 22:37] dmcgowan opened #1385 "Refactor snapshot test suite to use continuity filesystem drivers"
Update the snapshot test suite to use to the continuity filesystem drivers. This will allow supporting remote access to LCOW mounts without requiring a different test suite. Additionally a mounter and driver will need to be provided to the test suite.

Related to #1356

[2017-08-17 23:21] mlaventure commented on #1381
@stevvooe basically, yes. I think it would make the go-client more consistent. Not a blocker though.

[2017-08-17 23:45] mlaventure commented on #1215
Looks like it'll be fixed with go1.9: https://talks.godoc.org/github.com/davecheney/go-1.9-release-party/presentation.slide#21

[2017-08-18 04:43] AkihiroSuda opened #1389 "`ctr run` hangs (seems regression in 06dc87ae59cca1536a3a98741a267af687b6dcdd)"
`sudo ctr run docker.io/library/alpine:latest foo echo hello` always hangs after printing `hello`

Always reproducible in 06dc87ae59cca1536a3a98741a267af687b6dcdd, but not in the previous commit

[2017-08-18 05:10] AkihiroSuda commented on #1384
And on media types? (e.g. for continuity layers)

Also, can we specify differ expliclitly in differ service gRPC?

[2017-08-18 13:31] crosbymichael commented on #1347
+1 to what @stevvooe said.

"anything not called out here is not covered by any guarantee" makes it very clear for readers and its a never ending battle to add everything that is not covered.  That is why these types of blanket statements exist.

[2017-08-18 13:31] #1347 closed

[2017-08-18 13:35] AkihiroSuda commented on #1347
OK but please add a documentation about API stability at least?

[2017-08-18 13:42] AkihiroSuda commented on #1347
Or if plugin API is just something "not called out here", please s/Go API/Go client API/ for clarity?

[2017-08-18 13:51] crosbymichael commented on #1389
Ya, i can reproduce on ctr

[2017-08-18 13:51] crosbymichael commented on #1389
I wonder why we don't reproduce on the tests but we can repo things types of bugs with `ctr`???....

[2017-08-18 14:41] #1389 closed

[2017-08-18 17:06] dmcgowan commented on #1384
My current plan is to give the differs the ability to return a not supported error, which can then be used to try the next. Since the number of differs is small and the criteria could be complex and highly dependent on the differ, I think this pattern makes sense. So a differ can look at both the mounts and media types to determine whether or not it is able to perform the operation. You could see

[2017-08-18 17:17] AkihiroSuda commented on #1384
SGTM

[2017-08-18 18:39] Random-Liu commented on #1360
/cc @abhinandanpb @mikebrow

[2017-08-18 21:10] stevvooe opened #1397 "testing: containerd-shim not being killed on test failure"
If a test fails, the corresponding shims are left running:

[code]

To re-run the tests, one needs to kill the shims and the test will run once again.

[2017-08-18 21:22] dmcgowan opened #1398 "Add garbage collection"
Resource garbage collection is used remove unreferenced data from containerd.

This should be considered a proposal with active work on the POC based on this description and incorporated feedback.

## GC Roles

The garbage collection process involves operating on a directed graph containing nodes and edges. A set of root pointers are used to seed the set of referenced nodes and each referenced nod

[2017-08-18 21:57] Random-Liu opened #1399 "Include metrics in the Versioning and Release document"
Based on previous discussion, metrics will also be an interface containerd provided to other system.
We may want to include it in our api versioning plan. :)

[2017-08-18 22:29] Random-Liu opened #1401 "Race between DeleteProcess and Start"
`DeleteProcess`:
1) grab lock and get process;
2) delete the process (which does nothing actually);
3) delete the process from the map.

`Start`:
1) get the process;
2) Start it.

It's possible that:
1) `Start` get the process first;
2) `DeleteProcess` deleted the process from map thought it successfully deleted the process;
3) The process is started, but containerd is not aware of that.

Forked f

[2017-08-18 22:52] mlaventure opened #1402 "Flaky Test: TestContainerAttach"
[code]

IO needs to be sync client side.

[2017-08-19 01:09] Random-Liu commented on #1398
@dmcgowan Several questions about this proposal:
1) Why do we want to do global garbage collection instead of what Docker is doing today? Is there any unsolvable bug or problem in Docker which forces us to do this? Just want to know why we make this decision. :)
2) It seems that garbage collection will be a heavy weight operation, is it possible to trigger gc every time we remove a image? If not,

[2017-08-19 03:36] AkihiroSuda commented on #1398
Which of the client library or the daemon sets edge labels?

Also, not directly related to GC, but I also want "snapshot->image ref" edge labels to be set, so as to implement a snapshotter plugin that can lazily pull image blobs with continuity layers.

[2017-08-21 20:50] crosbymichael commented on #1360
I'll work on the `WithUser` change tomorrow and see if we can come up with a clean way to handle this

[2017-08-21 21:01] Random-Liu commented on #1360
@crosbymichael Thanks a lot!

[2017-08-21 21:04] crosbymichael commented on #1360
Hopefully I'll be able to `View` the snapshot in RO mode to get the data that we need.  I hope it does not change the execution flow of spec generation, container and snapshot creation but I guess we will find out tomorrow.  I'll open a WIP PR if there are any large changes in the flow

[2017-08-21 22:17] dmcgowan commented on #1398
I see the garbage collection here more about adding performance flexibility. If you are to do deletion inline you must do a global lock on the data structures and count or walk those structures. The problem is more a general computer science problem, but Docker's approach is not the most optimal and in some cases incorrect. The 3 issues with Docker's deletion I see are 1) It locks some of its data

[2017-08-21 22:23] Random-Liu commented on #1398
Thanks a lot for your reply, a quick clarification about your question before digging into your other comments. :)

I mean in your timeline, there is `alpha`, `beta` and `future optimization`. In containerd 1.0, will GC be in alpha stage, or beta, or `We can further reduce the lock time during resource cleanup by deferring file system removals until after the cleanup phase has completed.`?

[2017-08-21 22:27] #1376 closed

[2017-08-21 22:41] stevvooe commented on #1026
Something like this is what I am thinking, along with something that makes it easy to tell what the different types of images are. We can totally mark this as post-1.0.

[2017-08-21 22:45] stevvooe commented on #511
@kunalkushwaha @AkihiroSuda Could you let me know which items i need to check off the list above?

[2017-08-21 23:05] dmcgowan commented on #1398
@Random-Liu my anticipation is beta stage, with the first optimizations coming in 1.0.x and so on. We can definitely set a containerd 1.0 milestone as well if we can define any must haves.

[2017-08-22 00:07] Random-Liu commented on #1398
We do hit issues that during image garbage collection in Kubernetes, we could not run new pod on the node because the whole image subsystem just locked up, new image could not be pulled, and even list images doesn't return. https://github.com/kubernetes/kubernetes/issues/37772

Probably related to the problems you are talking about here. :)

Architecturally the garbage collection model is better t

[2017-08-22 01:01] stevvooe commented on #1398
@dmcgowan How can an external client affect collection policy? Will labels used to influenced collection policy (assuming that it he mechanism), will callers be able to control time-bounds for collection policies?

Such a mechanism would allow for systems to "float" the resources an image pull (as in "floating a check"), by reserving pulled resources as roots for a given time bound, without pinnin

[2017-08-22 01:04] stevvooe commented on #1304
@Random-Liu Any update? Still seeing this?

[2017-08-22 01:07] stevvooe commented on #984
Closing this. We have a fairly consistent approach that minimizes use of `golang.org/x/net/context`. If there are other issues or we think we need to document this, let's re-open this issue.

[2017-08-22 01:07] #984 closed

[2017-08-22 01:08] stevvooe commented on #871
@samuelkarp Are there considerations we still need to make here?

[2017-08-22 01:09] stevvooe commented on #1041
@yastij Any luck?

[2017-08-22 02:23] kunalkushwaha opened #1408 "Unstable Integration and Stress test output."
With latest release containerd `integration` and `stress tests` gives unstable output .

This unstable test output is due to binary path not found in image.
[code]

This issue came after `Alpha5 ` release and runc version update.

Successful Test Log: https://gist.github.com/kunalkushwaha/a78a9de7b933c9589c59d92bc16c2d63#file-flakytests-normal-output-md
Failed  Test Log : https://gist.github.com/k

[2017-08-22 05:40] estesp commented on #1408
@kunalkushwaha so you are saying randomly you get either all pass or all fail (with the weird "binary not found" error) when running integration target? Any pattern or seemingly random?

[2017-08-22 05:51] kunalkushwaha commented on #1408
Yes, its either all pass or all fail(containers testcases).
Most of time it fails, But, I found in few iterations, it passed too, thus behavior is random.

[2017-08-22 14:33] #1270 closed

[2017-08-22 15:44] tophj-ibm opened #1409 "Root-test: TestOverlay invalid arguement"
When running root-test inside a container, I'm seeing most of the overlay tests failing because of an invalid argument error similar to this:
[code]

Tracing it a bit led me to the mount call in /x/sys, I'm on go 1.8.3, src containerd, runc 1.0.0-rc4, and can replicate this on my x86_64 machine.

Opening this in case someone has seen this before, as I did notice the CI is running this and passing.

[2017-08-22 18:35] Random-Liu opened #1412 "Can we get UUID / path of the content store and snapshotter?"
We need these information to monitor image filesystem usage, and properly remove images. :)

This may be related to https://github.com/containerd/containerd/issues/1398 in some way.

/cc @abhinandanpb Related to image filesystem metrics.

[2017-08-22 19:44] tophj-ibm commented on #1409
Something looks off on the mount call. The data param is an empty string, which gets mapped to nil and errors out in go's code. I'm not sure yet if data being an empty string is a bug in the mount options parser, or maybe this test isn't something I'm supposed to be able to do in a container.

[2017-08-22 22:52] #1402 closed

[2017-08-23 00:00] stevvooe commented on #1412
@Random-Liu We added `Usage` calls for this use case. We really don't want to expose these paths for the caller, because that becomes a leaky interface. If `Usage` is not sufficient, let us know why and we'll see if we can make it work.

#1398 should cover removal. Is there not a way to remove snapshots from the API?

[2017-08-23 00:02] stevvooe commented on #1367
No, they require you to sign off on the DCO, as is stated in the contributing guidelines.

@caniszczyk  PTAL

[2017-08-23 00:02] #1367 closed

[2017-08-23 04:25] kunalkushwaha commented on #511
Following items are completed and can marked off
- [x] make sure the content of parent appears in the child (#523)
- [x] Create a New Layer on top of base layer with Prepare, Stat on new layer, should return Active layer.
- [x] Commit a New Layer on top of base layer with Prepare & Commit , Stat on new layer, should return Committed layer.
- [x] Creating two layers with Prepare or View with same k

[2017-08-23 05:48] kunalkushwaha commented on #1408
With today's build, I am not able to reproduce this issue. Possibly https://github.com/containerd/containerd/commit/0e1f6c5da6fbf443481fc2e45504685c5323886d fixed it.

[2017-08-23 05:48] #1408 closed

[2017-08-23 13:17] crosbymichael commented on #1408
@kunalkushwaha thanks for testing and keeping these issues up-to-date.

[2017-08-23 17:21] abhi opened #1418 "Resources created using client opts are not cleaned up on failure"
Currently the resource created using opts like WithNewSnapshot are not cleaned up if the container/task creation fails. There needs to be be a deferred clean up on failure.

[2017-08-23 17:21] abhinandanpb commented on #1418
@Random-Liu @mikebrow this came up during the client integration for cli-containerd.

[2017-08-23 17:29] Random-Liu commented on #1418
@abhinandanpb Thanks for filing this issue!

[2017-08-23 18:57] crosbymichael commented on #1358
I havn't seen this in a while from the stress tests

[2017-08-23 18:57] #1358 closed

[2017-08-23 21:45] #1384 closed

[2017-08-23 22:54] darstahl opened #1421 "Clients can only create specs for the current platform (conditionally compiled client code)"
As per title, a Windows client cannot generate a Linux spec (or vice-versa) this is needed to be able to finish https://github.com/containerd/containerd/issues/1355 (or at least test/use it).

I can work around this with some client-side hacks for testing, but this effectively blocks usage of the LCOW runtime.

I've got a fix mostly ready, but doing it correctly is gated on https://github.com/cont

[2017-08-24 00:04] Random-Liu commented on #1304
@stevvooe I just tried this again, should have been fixed:
[code]

The second creation won't fail now.

[2017-08-24 00:04] #1304 closed

[2017-08-24 01:14] mlaventure commented on #1421
(fat fingers sorry)

[2017-08-24 08:36] kunalkushwaha opened #1422 "doesn't compile on FreeBSD."
On FreeBSD compilation fails for containerd due to following.
- ``unix.ENODATA`` is not defined in FreeBSD, instead it defined as ``ENOATTR``
- [Vendor-ed version](https://github.com/containerd/containerd/blob/master/vendor.conf#L30) of ``golang.org/x/sys/unix/syscall_bsd.go`` have no function definition of  ``UtimesNanoAt()``. Latest version do have this function, so need to update the version in

[2017-08-24 15:41] crosbymichael commented on #1297
This has been fixed

[2017-08-24 15:41] #1297 closed

[2017-08-24 15:55] crosbymichael commented on #1005
Are we going to resolve this or is this a do not fix? @dmcgowan

[2017-08-24 15:56] crosbymichael commented on #1353
This has been resolved with the latest btrfs changes

[2017-08-24 15:56] #1353 closed

[2017-08-24 18:49] crosbymichael commented on #1401
@Random-Liu should we handle this locking in the shim(daemon side) ?

[2017-08-24 18:49] #1360 closed

[2017-08-24 19:51] crosbymichael commented on #1401
I'm thinking about this more.  I think on the daemon side, we could benefit here by implementing the state pattern for processes.  Since many of the process actions and information are state based, we can implement process states.  This allow us to only have locks around state transitions and better code separation for what can happen with a process when it is in a specific state.

Thoughts?

[2017-08-24 20:22] crosbymichael commented on #1401
Quick little bit of code for what I'm thinking:

[code]

[2017-08-25 17:22] Random-Liu commented on #1412
@stevvooe Actually, we need to know the capacity of the partition the image filesystem is on, so that we know whether the partition is nearly full, and trigger eviction.

[2017-08-25 18:45] #1381 closed

[2017-08-25 18:50] #1374 closed

[2017-08-25 19:03] #1401 closed

[2017-08-25 21:05] crosbymichael commented on #796
ping @abhinandanpb @mlaventure

Have you all decided what you want to do in regards to stats?  We need to make a decision soon in case we have to add new APIs for stats collection if prometheus is not working out.

[2017-08-25 21:21] crosbymichael commented on #1261
@estesp you still hitting this issue? I've not experienced it with the stress test tool

[2017-08-25 21:49] estesp commented on #1261
Let's close.. I haven't been able to reproduce for a week or so.

[2017-08-25 21:49] #1261 closed

[2017-08-28 02:43] Random-Liu opened #1431 "No way to delete a multi-process container sharing pid namespace with others."
In cri-containerd, we usually launch a sandbox container to hold the pod namespace, and let the other application containers share the same namespace with it including pid namespace.

In one of our test, we run a `sh -c top` container (sharing pid namespace with the sandbox container), and expect to be able to kill and delete it.

* `task.Kill` doesn't kill all processes, for the `sh -c top` conta

[2017-08-28 03:15] Random-Liu commented on #1431
HostPid container also has this issue.

[2017-08-28 14:39] mlaventure commented on #1431
Maybe we should have a `task.Kill()` that sends a `SIGKILL` to all the process in the task and rename the current `task.Kill()` to `task.Signal()` and this one would just target the main process.

[2017-08-28 14:40] crosbymichael commented on #1431
I"m working on this now

[2017-08-28 14:44] mlaventure commented on #796
I like prometheus as it will integrate nicely with current ops workflow.

I haven't gotten the time to see if their user library is usable at all though. I'm planning to do so once the non stats related test on docker pass.

[2017-08-28 14:56] #1215 closed

[2017-08-28 15:21] vburenin commented on #1431
Is there any specific order in which signal should be sent to the running processes?

[2017-08-28 15:37] vburenin commented on #1356
There is a dependency between snapshotter and the differ on my side for VMware vSphere integration effort as well. Snapshotter makes vSphere calls to create delta disks and Differ calls remote API which can unpack image on top of delta VMDK (that is a little complex process, since everything has to be done remotely). So, to work around that my source mount points have specific format such as: img|

[2017-08-28 18:07] #1431 closed

[2017-08-28 23:18] chanezon commented on #1218
@caniszczyk someone with admin access on the repo must follow the steps at https://help.github.com/articles/configuring-a-publishing-source-for-github-pages/ to publish it as GH pages? @crosbymichael ? Then https://help.github.com/articles/using-a-custom-domain-with-github-pages/ I will do the DNS part.

[2017-08-29 00:40] Random-Liu commented on #1412
@stevvooe Any thoughts? :)

[2017-08-29 16:09] abhinandanpb commented on #796
From what I can see , prometheus should be good as long as we can filter out just the required container stats.
CRI needs to support the following :
1) ContainerStats -> which includes cpu usage, memory and file system usage of a specific container.
2) ListContainerStats -> which includes the metrics for all the containers.
From the discussion, I understand that the immediate requirement is the li

[2017-08-29 16:20] #1337 closed

[2017-08-29 16:49] mlaventure opened #1441 "Specify security reporting guideline"
Currently, the `README.md` reads as follow
[code]

Those `responsible disclosure guidelines` need to be define somewhere (either in this repo, or we can link to one we agree upon).

[2017-08-29 16:55] mlaventure opened #1442 "Add a readme to contrib directory"
#1438 created a new contrib directory for external contribution.

We need to add a README to that folder explaining that is it governed by different rules e.g.:
  - not covered by the release process?
  - not testing in this repository
   - etc.

[2017-08-29 18:10] ijc commented on #1441
Or perhaps we should just remove it and say "If you are reporting a security issue, please reach out discreetly at containerd-security@googlegroups.com".

[2017-08-29 18:17] mlaventure commented on #1441
That would work too :smile_cat:

[2017-08-29 18:42] crosbymichael commented on #796
Should this be a new service or should we add an RPC to the container or tasks service?  If it was on the container service then its easier to get filesystem info in one request but it makes things more coupled together.

[2017-08-29 19:04] mlaventure commented on #796
I'd say either a different service or otherwise an RPC to the tasks service. I don't think it makes sense to have it on the container one.

The client API would hide all of this for most users too.

[2017-08-29 19:05] crosbymichael commented on #796
@mlaventure what about fs metrics?  Place those separately on the content and snapshot services ?

[2017-08-29 19:07] mlaventure commented on #796
@crosbymichael I think it makes more sense, yes. Since they are actually the one creating the data.

[2017-08-29 20:11] abhinandanpb commented on #796
Does this mean the API will need to be queried per task ? So if we need to collect stats for all the running containers we need to query for each task/container ?

[2017-08-29 20:13] crosbymichael commented on #796
I was thinking

`Stats(filter string) ([]Stat, error)`

This way you can get all or filter a single container

[2017-08-30 14:41] abhinandanpb commented on #796
cooool ! SGTM

[2017-08-30 18:09] Random-Liu opened #1446 "We should eliminate or clearly define the dependencies between different ContainerOpts"
We should eliminate or explicitly define the dependencies between different ContainerOpts.

E.g.:
1) `WithSnapshotter` must be called before `WithNewSnapshot` to make it work.
2) `WithSnapshotter` or `WithNewSnapshot` must be called before `WithUserID` or `WithUsername` to make sure snapshotter is properly initialized.

In cri-containerd, we are using default snapshotter for now. And I just hit an

[2017-08-30 21:25] stevvooe commented on #1446
@Random-Liu As I've found these dependencies, I have been adding them to the godoc. Do you think we need something more sophisticated?

[2017-08-30 21:49] Random-Liu commented on #1446
@stevvooe Documentation is good enough. :)

[2017-08-30 22:04] stevvooe commented on #1412
@Random-Liu That configuration is passed to containerd in the config.toml file when specifying the snapshotter. It is going to depend on how containerd is setup and run.

[2017-08-30 22:07] mlaventure commented on #1446
@crosbymichael had an idea to handle it automatically, but in the interim godoc will do :)

[2017-08-30 22:24] stevvooe commented on #1446
@mlaventure I did add a few spots where we validate that the option has an effect by returning an error if the operation fails. Or do you have something more advanced in mind?

[2017-08-30 22:27] mlaventure commented on #1446
@stevvooe @crosbymichael idea was similar, return a special error, then retry the options once the others have been called

[2017-08-30 23:48] Random-Liu commented on #1412
@stevvooe Hm, for the first stage, we could make this a flag in `cri-containerd`, and user should make sure it corresponds to what `containerd` is using on the node.

If that is not enough, in the future, we may need to parse containerd config file, or probably containerd could return its current config in some way.

[2017-08-31 00:50] ijc opened #1449 "`ctr t exec -t` hangs when process exits"
Start a container:
[code]
and then in another window:
[code]
This will work and then hang/block. You can also use `ash -l` and then `Ctrl-C`, in that case I do not get the `resize pty` error, it just stops after the `Ctrl-C`.

Exiting the original shell (from `ctr run`) causes the exec to then exit correctly.

[2017-08-31 01:56] stevvooe commented on #796
I'm thinking something like this on each service:

[code]

The above would return concrete metrics values matching the filters __against the _object_ not the metric__. The metric set would be fixed which might be problematic for expensive metrics (we could address that by using field paths on the metric objects).

An example metric object, corresponding to each selected container:

[code]

Note th

[2017-08-31 02:04] cpuguy83 commented on #796
+1 to keep it in the same structure as prom. It's a little work on the client if it wants it in another format, but this seems fine.

[2017-08-31 04:10] Random-Liu commented on #1318
@dmcgowan Hi, what is the status for this? Can we add the client-side work around?

We do have test failing because of this.

[2017-08-31 04:32] AkihiroSuda commented on #1318
@Random-Liu

I pinged GCR team via https://issuetracker.google.com/issues/64463951#comment4

[2017-08-31 04:39] Random-Liu commented on #1318
@AkihiroSuda I also pinged them internally. Will comment here if there is any update.

But I guess we still need the client-side work around, or else this will be a regression, and there may be other registries affected.

[2017-08-31 05:20] AkihiroSuda commented on #1318
Then I'll reopen https://github.com/containerd/containerd/pull/1205#issuecomment-322204420 as a new resolver (should it be under contrib dir? cc @crosbymichael )

[2017-08-31 06:13] Random-Liu opened #1450 "`-` doesn't work in label filter."
If label is `io.cri-containerd.sandbox.metadata`:
[code]

If label is `io.cri.containerd.sandbox.metadata`, it works.

Based on https://github.com/containerd/containerd/blob/master/identifiers/validate.go or https://github.com/containerd/containerd/blob/master/namespaces/validate.go, `-` should work.

@stevvooe

[2017-08-31 14:02] crosbymichael commented on #796
One of the things i'm concerned about using the prom format is that these are domain specific metrics for container cgroups and snapshots.  Unless there is a specific goal to keeping the prom stats format what helps clients, it is a large burden on them to have to parse labels to figureout specific metrics.

You can see from a metrics dump like:

[code]

Clients **will** have to parse output to ma

[2017-08-31 14:12] cpuguy83 commented on #796
That's the text format, which generally there are parsers for in various languages (including go). Which we don't have to use the text format, though there is talk to ditching the protobuf format.

[2017-08-31 18:08] stevvooe commented on #796
@cpuguy83 @crosbymichael Let's decompose one of the "richer" metrics to see how that might look in the "concrete" format. Let's take the following prom metrics:

[code]

From the example above, we have the following structure:

[code]

[2017-08-31 20:32] stevvooe commented on #1450
@Random-Liu So, you should be able to quote this: `labels."io.cri-containerd.sandbox.metadata". Does that work? We can tweak this, but the identifiers are "protobuf field" compatible.

[2017-08-31 21:40] Random-Liu commented on #1450
With `ctr containers filter labels`:
* `labels.io.cri-containerd.sandbox.metadata`: doesn't work;
* `labels."io.cri-containerd.sandbox.metadata"`: doesn't work;
`'labels."io.cri-containerd.sandbox.metadata"'`: works.

[2017-08-31 22:59] abhinandanpb commented on #796
https://github.com/kubernetes/community/blob/master/contributors/devel/cri-container-stats.md#container-metrics

Dropping in the CRI metrics API to be satisfied. @stevvooe

[2017-08-31 23:59] stevvooe commented on #1450
This is due to shell escaping. `"` will be removed in the cli.

:+1:

The formal grammer for selectors is defined here: https://github.com/containerd/containerd/blob/master/filters/parser.go#L25.

Let me know if that works!

[2017-09-01 00:33] Random-Liu commented on #1318
FYI, the fix code has been merged in gcr, and will be rolled out this week.