[2018-05-16 19:03] dnephin commented on #2340
This can be closed now that #2342 merged.

[2018-05-16 19:18] #2340 closed

[2018-05-17 10:00] mcluseau commented on #2320
Hi there :-) I'm not sure increasing the message limit will be enough. In a Kubernetes cluster recreating a lot of pods without cleaning them fast enough, I reached the following situation:

[code]

It doesn't look reasonable to increase the message size to 1GB.

[2018-05-21 07:40] AkihiroSuda commented on #2129
I'll reopen PR this week.

[2018-05-21 15:16] t3hmrman opened #2348 "CRI plugin didn't start, possibly causing issue with kubelet"
**Description**
CRI plugin for `containerd` doesn't start while `containerd` itself seems to start just fine. `kubelet` is also displaying an error from the runtime service (`unknown service runtime.v1alpha2.RuntimeService`) which I believe is being caused by the CRI plugin not wrapping `containerd`, since the plugin did not start.

**Steps to reproduce the issue:**
1. Set up k8s 1.10.2 with `kube

[2018-05-21 15:59] t3hmrman commented on #2348
Closing this -- after restarting (`systemctl restart containerd`), `containerd` started up properly. I'm not sure what causes this, but it seems intermittent, and I'm not sure how to reproduce it perfectly.

[2018-05-21 15:59] #2348 closed

[2018-05-22 17:14] #2289 closed

[2018-05-23 12:57] ehazlett opened #2352 "Proposal: enhance shim for better runtime integration"
Refactor runtime and shim to enable integration at the shim level.  This would split some of the logic in the shim (process management, etc) to support more generic uses and enable other runtimes to integrate at the shim API level.

This would involve the following:

- Move `linux` to `runtime/linux` as it's part of the runtime
- Create a shim v2 API that removes some of the platform specific conf

[2018-05-23 13:45] ehazlett commented on #2250
@AkihiroSuda as @alexmavr stated this could be used to manage the lifecycle of components that do not fit in the container model such as processes on windows but still get the benefits of using a single management point.

[2018-05-23 17:00] dmcgowan commented on #2352
Do you have an example of what kind of stuff will be removed? My understanding is we will bump the GRPC version and try both versions of the API when connecting for containers created with previous versions of container

[2018-05-24 13:26] ehazlett commented on #2352
The only thing I see right now is the checkpoint (https://github.com/ehazlett/containerd/blob/2678c8d3db553b50e940bba851f9196e0781c45c/runtime/linux/shim/v1/shim.proto#L64).  Maybe split this into a generic Any for the underlying runtime?

[2018-05-24 20:19] vielmetti commented on #1576
PR 1575 has been merged, can this issue be closed?

[2018-05-24 20:34] crosbymichael commented on #1576
@vielmetti thanks for the reminder.

[2018-05-24 20:34] #1576 closed

[2018-05-25 09:57] ostenbom opened #2360 "PR Task CreateOptions for `NoNewKeyring`"
We've written a  function to pass in the `NoNewKeyring` option on task creation, as follows:

[code]

Currently this function lives in our [code base](https://github.com/cloudfoundry/guardian/blob/e37bf3d9c94fb1e7383234b898bdae431f7ba5d5/rundmc/runcontainerd/nerd/nerd.go#L26-L29), but we thought it could be valuable to have as part of the containerd task_opts. I.e. Similar to [these functions](htt

[2018-05-25 10:49] ostenbom commented on #2360
We have a suggested implementation [here](https://github.com/masters-of-cats/containerd/commit/9f0565a5e5fdc70a8d7c4e88d45853f332cb086d)

Other functions in the task_opts files simply overwrite the `Options` field. In this implementation we make sure to only *add* the option to its `CreateOptions`, which may be a more long term way of implementing such functions, especially given that `container.N

[2018-05-25 14:32] crosbymichael commented on #2360
@ostenbom ya, sounds good.  Maybe keep it in a task_opts_linux.go file and make sure when you cast the existing options to the type, you `opts, ok := c.Options.(&runctypes.RuncOptions)` and check `ok` so it does not panic.

[2018-05-26 08:02] mcluseau commented on #2306
same here after a failed pull attempt:
[code]

Clearing `/var/lib/containerd/io.containerd.content.v1.content/ingest` allowed me to resume download attemps. So there's a need to cleanup the bad images from here :)

[2018-05-27 23:57] mcluseau opened #2365 "CNI environnement not updated between trials (here K8S_TOKEN)"
After certificate change on a Kubernetes cluster using Calico CNI, the service accounts where recreated to generate valid tokens. After calico-node pods where recreated, with the right token put in the configuration, containerd (or the CRI plugin?) continued to use the previous and invalid token, resulting in "Unauthorized" errors (see logs below).

- Restarting the kubelet didn't resolve the prob

[2018-05-28 07:40] BSWANG commented on #2365
I just deployed a calico cluster using

[code]

The calico's cni config using `KUBECONFIG=/etc/cni/net.d/calico-kubeconfig` to configure k8s api authorization. This file path environment instead of `K8S_API_TOKEN` will not changed around your TLS changing.

[2018-05-28 17:18] mcluseau commented on #2365
@BSWANG yeah I'm on an aged cluster now :o What you describe is a good solution, but specific to calico, so I still think containerd should catch the change. I can be a low priority issue of course ;)

[2018-05-29 13:22] #2306 closed

[2018-05-30 02:57] t3hmrman opened #2371 "Add option to require stream server start"
**Description**

Early in the `systemd`-managed startup process when `containerd` starts up, it fails to start the streaming server, and I need to restart the unit.

If possible I'd like if `containerd` just crashed upon not being able to start the streaming server, when handed a certain option, maybe something like `--required_services`.

**Steps to reproduce the issue:**
1. Startup a Container L

[2018-05-30 10:21] AkihiroSuda commented on #2262
Reopened https://github.com/containerd/containerd/pull/2006

[2018-05-30 16:42] Random-Liu commented on #2371
This should be fixed in containerd/cri. Will fix it

[2018-05-31 08:08] Random-Liu opened #6636 "Make CRI plugin stop function synchronous."
Currently CRI plugin stop function https://github.com/containerd/cri/blob/master/pkg/server/service.go#L239 is not synchronous. It doesn't actually wait for components actually to be stopped. This is not desirable for graceful stop.

We should make it synchronous.

[2018-05-31 20:21] #2371 closed

[2018-05-31 23:54] mcluseau commented on #2365
@Random-Liu yes, it's put this way:
[code]

[2018-06-01 17:14] #2129 closed

[2018-06-01 20:30] Random-Liu commented on #2365
@mcluseau I see. That is the problem.

We don't allow cni config update intentionally, because some networking config update will just confuse the system. https://github.com/containerd/cri/issues/545

However, I don't know people are using cni config to do this kind of thing...

@abhi What do you think about this? Another "use case"...

[2018-06-01 22:18] mcluseau commented on #2365
@Random-Liu if it's intentional, and taken in account in Calico as noted by @BSWANG (Calico is not using the cni config to store the token anymore), then feel free to close this issue of course. Thanks!

[2018-06-04 19:27] northtyphoon opened #2381 "Question: basic auth flow is slightly different from docker cli"
**Description**

In current docker cli implementation, it tries to fetch refresh token from credentail store and fall back to basic auth if refresh token doesn't exist.

https://github.com/docker/distribution/blob/d9e0121fef243991812548303cfb1558b6efa029/registry/client/auth/session.go#L500

The fallback works with some registries which dont't support password grant in bearer_auth.

However, conta

[2018-06-04 23:21] dmcgowan commented on #2381
I see the linked issue, because a registry is not supporting password with the OAuth `POST` endpoint. There is a `GET` endpoint which was previously used by Docker for password and anonymous requests for tokens. This `GET` endpoint was non-standard and Docker specific. We added support for the `POST` endpoint which is based on the OAuth specification and supports password and refresh tokens. Howev

[2018-06-05 05:27] northtyphoon commented on #2381
Thanks @dmcgowan for the clarification. It's very helpful. Later I also noticed [the fallback condition](https://github.com/containerd/containerd/blob/b28aa0e071df7b2ec6665a8d8926c9ffe20fa480/remotes/docker/resolver.go#L524) you mentioned. It's a little bit hacky and only convers a few vendor's cases but I understand it's a tradeoff. We will update ACR to fullly support OAuth flow.

[2018-06-05 05:27] #2381 closed

[2018-06-05 07:07] Random-Liu opened #2382 "parent snapshot does not exist: not found"
I saw a CRI validation test failure:
[code]

The containerd log https://gist.github.com/Random-Liu/6b9e9f794861b69f36df2d7dd7916a5e.

From the log, it seems that the parent snapshot `4febd3792a1fb2153108b4fa50161c6ee5e3d16aa483a63215f936a113a88e9a ` is removed as part of other image `gcr.io/cri-tools/test-image-latest:latest` before image `gcr.io/cri-tools/test-image-tags:1` is unpacked. Shouldn't

[2018-06-05 07:08] Random-Liu commented on #2382
@dmcgowan

[2018-06-05 14:05] abhi commented on #2365
@Random-Liu Yeah I understand this use case. At this point this is a plugin implementation specific scenario. We can discuss.

[2018-06-05 17:48] dmcgowan commented on #2382
Hmm, this kind of looks like (2) from https://github.com/containerd/containerd/pull/2331. The current problem is leases are only used for newly created objects, not to gain reference of an existing object. I solved that in the PR by removing the reliance on stat during unpack to see if the parent exists.

[2018-06-05 18:41] Random-Liu commented on #2382
I saw this in a presubmit test yesterday in `cri`, and containerd has been updated to 84bebdd91d347c99069d1705b7d4e6d6f746160c which should have included #2331.

We can keep this issue open, and I'll update if I see this again.

[2018-06-05 18:57] northtyphoon opened #2385 "docker/pusher cannot push images to Azure Container Registry"
**Description**

For image push operation, Azure Container Registry returns the upload location in the format of `{path}?{query}`, eg, `/v2/img/test/blobs/uploads/e10c4f3b-c7a0-4dd1-806f-f79cff5b30a8?_nouploadcache=false&_state=y4CXAeAQ1WvtVnfSbDaawC4mzRHGTOvNe8S5DVAcug17Ik5hbWUiOiJpbWcvdGVzdCIsIlVVSUQiOiJlMTBjNGYzYi1jN2EwLTRkZDEtODA2Zi1mNzljZmY1YjMwYTgiLCJPZmZzZXQiOjAsIlN0YXJ0ZWRBdCI6IjIwMTgtMDYt

[2018-06-05 22:54] #2385 closed

[2018-06-07 08:04] AkihiroSuda opened #2389 "schema1 puller is not working (seems regression in #2135)"
**Description**

schema1 puller is not working (Seems regression in #2135, sorry)

**Steps to reproduce the issue:**

[code]

**Describe the results you received:**

Failing as above

**Describe the results you expected:**

Should work

**Output of `containerd --version`:**

[code]

[2018-06-07 15:48] lukasheinrich opened #2391 "question/feature: building rootfs from multiple sources (federated snapshotter?)"
This is mostly a issue to start a discussion based on common use-case we see in  high-energy physics / large scale scientific software that needs to be distributed globally, as I haven't yet understood the snapshotter code in detail. I'll describe the use-case first:

We have many images that build on top of base images that are curated by experts that provide a base software stack (data analysis

[2018-06-07 16:34] #2389 closed

[2018-06-07 17:50] harche opened #2392 "cri: not able to create a sandbox"
Not able to create a sandbox successfully.

Sandbox creation works fine but it stays in `SANDBOX_NOTREADY` state.

[code]

[code]

**Steps to reproduce the issue:**
https://github.com/kubernetes-incubator/cri-tools/blob/master/docs/crictl.md#examples

**Describe the results you received:**
Sandbox gets created but stays in SANDBOX_NOTREADY state

**Describe the results you expected:**
SANDBOX_READ

[2018-06-07 20:42] dmcgowan commented on #2391
Can you clarify this?

The snapshotter interface is very flexible, the more complicated aspect is distribution. It is certainly possible to create a snapshotter which leverages a shared read only filesystem, but right now the default client behavior for pull/unpacking image likely could not leverage that.

Would probably need to better understand the performance you are trying to optimize for (e.i

[2018-06-07 21:47] Random-Liu commented on #2392
Can you provide containerd log? There should be clue about why sandbox is not ready.

[2018-06-08 02:04] harche commented on #2392
I ran containerd with log level `trace`, all I see on console is this,

[code]
At this point, pod is in `SANDBOX_NOTREADY` state.

Of course the container creation in that pod fails,

[code]

[2018-06-08 05:55] harche commented on #2392
from syslog,

[code]

[2018-06-08 06:04] harche commented on #2392
From syslog,

[code]

[2018-06-11 09:14] pamelamei opened #2394 "<help>Ethernet device moves among network namespaces"
**Description**

There're 2 devices on docker host: eth0 and eth1.
There's 1 additional network namespace: 3rd.
There's container name test, its PID is 1222.
Move eth1 from 1 to netns 3rd, then rename it to eth0, move it from 3rd to 1222.
Use docker rm -f to remove container.
Expect that eth1 can move back to netns 3rd.
But actual result is that eth1 move back to docker host root netns 1.
I wonder

[2018-06-11 15:53] crosbymichael commented on #2394
What we have done in the past to not reuse veths, we let the kernel destroy it when the container is deleted and the references lost in that namespace.   If I'm not understanding the problem correctly, let me know.

We generally use the flow of:

1. generate veth pair with a unique id `veth1234-host` and `veth1234-peer`
2. Set the peer inside the namespace
3. Rename the peer to something common in

[2018-06-11 20:50] Random-Liu commented on #2392
@harche Are you using standard pause image?

It is weird that the pause image exit with exit code 1.

[2018-06-12 03:13] pamelamei commented on #2394
Thanks, Mike. I don't mean the veth.
I mean I set a network device directly into another network namespace or container's namespace.
eth1's network namespace moving path is: root netns 1 ->netns "3rd"-> container netns
I expect when stopping/removing container, the device will move back to last netns "3rd",
but test result is moves back to root netns 1.

[2018-06-12 04:48] harche commented on #2392
@Random-Liu I am using standard pause image,
[code]

However, I managed to get it working by cloning [cri](https://github.com/containerd/cri) and using `make install.deps` . That installs `containerd` and it worked fine with it. But if I use containerd from `master` I was facing that issue. Unfortunately I don't have that system to replicate the issue anymore.

[2018-06-12 04:59] harche opened #2396 "Incomplete instructions on building using docker"
**Description**

BUILDING.md file has incomplete instructions on how to build using docker

**Steps to reproduce the issue:**
1. NA

**Describe the results you received:**
Incorrect instructions leads to build process breaking

**Describe the results you expected:**
In order to build using docker, the image needs to have `btrfs-tools` and `libseccomp-dev`. Also, it should be `apt-get install -y`

[2018-06-12 07:13] siscia commented on #2391
Hi @dmcgowan

I am working on the same problem and I would like to clarify a little bit what is going on.

We solved the problem of distribution with a tool called CVMFS (http://cvmfs.readthedocs.io/en/stable/)

The scientific software is simply installed on a server and get distributed to each client in a smart way.

What happens under the hood is a fuse daemon running on the client, the client c

[2018-06-12 15:48] lukasheinrich commented on #2391
Hi,

sorry for the delay in reply (travel) and thanks @siscia for the detail. I think on a high level we would like to optimize (as far as these can be optimized simultaneously)

* time to process start (incl pull)
* incoming network bandwidth at container start
* efficient storage (e.g. file-level granularity caching backed by cvmfs), only use storage on host-disk for layers not available on read

[2018-06-12 20:42] Random-Liu commented on #2392
Hm, interesting... I tried to use `nginx` as sandbox container image, and get similar failure:
[code]
And the sandbox container log is:
[code]

[2018-06-12 22:28] tswift242 opened #2398 "Checkpoint/restore: add support for cloning processes with open sockets"
See https://github.com/checkpoint-restore/criu/issues/167 and https://github.com/moby/moby/issues/36433#issuecomment-369636540 (item #1).

The gist is that when you checkpoint a container which has an open socket, the source address of that socket is the container's address, which is stored in the checkpoint. When you then try to clone that container (restore multiple copies from the same checkpoi

[2018-06-13 13:10] lukasheinrich commented on #2391
also adding this slidedeck by @rochaporto on some earlier efforts to write a graph-driver backed by cvmfs

https://www.slideshare.net/RicardoRocha130/integrating-cern-software-with-docker

[2018-06-13 13:16] jblomer commented on #2391
@dmcgowan The main twist is on slide 11. For our custom Docker graph driver, we introduced "thin images". These are images that contain a single JSON file only.  The JSON file describes the sources of the layers, so that the graph driver can assemble the container's root file system from directories on a network mount.  While we didn't implement that yet, in principal layers sources for a single i

[2018-06-14 00:37] #2396 closed

[2018-06-14 21:27] dmcgowan opened #2399 "Support using either ttrpc or grpc for shim"
Currently the shim API uses ttrpc for communicating with the shim. This has performance advantages in the shim over using grpc. For some cases grpc may be easier to integrate with, so it should be configurable. ttrpc and grpc only differ by their wire protocol, they use the same proto definitions.

[2018-06-14 21:36] dmcgowan opened #2400 "Add GC support for content ingests"
Currently all ingests must be manually removed. Add support to have the GC clean these up, this could be a policy based on staleness.

[2018-06-15 10:33] NeilW opened #2401 "image pull fails to retrieve k8s.gcr.io/coredns:1.1.3"
**Output of `containerd --version`:**

[code]

[code]

The `k8s.gcr.io/coredns:1.1.3` image fails to pull

[code]

The image on docker is fine
[code]

And crictl can pull the docker version of core-dns ok too

[code]

[2018-06-15 10:54] lukasheinrich commented on #2391
@dmcgowan quick question to clarify: what part in containerd does the downloading / content fetching?

it it here:

https://github.com/containerd/containerd/blob/e63768ea09fe230216f57675ed06a8f1ef3f62b7/cmd/ctr/commands/content/fetch.go#L76

After discussion some more internally it seems that there are 2 different ideas here:

1) pulling required blobs into the content store -- this can be selecti

[2018-06-15 14:06] siscia opened #2402 "Unable to run containerd inside a folder already mounted with overlayfs"
---------------------------------------------------
BUG REPORT INFORMATION
---------------------------------------------------

**Description**

containerd isn't unable to pull images if root is under a directory already mounted with overlayfs.

**Steps to reproduce the issue:**
1. Create a directory using overlayfs

[code]

2. Run containerd using the merged directory as root

[code]

3. Try to p

[2018-06-15 21:55] AkihiroSuda commented on #2402
`--snapshotter` native should work

[2018-06-17 23:52] Random-Liu commented on #2401
This seems to be https://github.com/containerd/containerd/pull/2364. And it will be fixed in 1.1.1-rc.1

[2018-06-18 12:11] siscia commented on #2402
Yes it does work!

Just a note for whoever is reading this thread, the flag should be passed to the client `ctr`, not to the server `containerd`.

Assuming `containerd` is running the whole command is something like the following.

[code]

[2018-06-18 12:11] #2402 closed

[2018-06-18 23:21] dmcgowan commented on #2391
The download/content fetching is part of the containerd client code. The containerd daemon does no download or content fetching. The daemon does have code to unpack an individual layer, but this flow is controlled by the client, i.e. you could completely skip some layers or do the unpack on the client.

We have the handlers interfaces in `images` that allows walking manifests objects. You could fe

[2018-06-19 08:36] NeilW commented on #2401
Doesn't look like it is fixed in rc.1

[code]

[2018-06-19 08:45] sudeeshjohn opened #2404 "make test fails in building "metadata/content_test.go" and "cmd/containerd-release" with upstream golang"
**Description**
make test fails in building "metadata/content_test.go"

**Steps to reproduce the issue:**
1. setup upstream golang
2. clone and build containerd git
3. run 'make test'

**Describe the results you received:**
[code]
**Output of `containerd --version`:**

[code]

[2018-06-19 09:12] sudeeshjohn commented on #2404
when I debugged it further , I see that the build failure is due to improper function arguments . This is being checked in a recent commit in upstream golang (https://github.com/golang/go/commit/c00603607511701ecc9f56fd82ac528ecf6b8fc6#diff-8fa5b0d6191706747ef5773f895781c9)

[code]

below patch should fix the issue

[code]

[2018-06-19 19:36] ehazlett commented on #2404
I'm not seeing this on current master `c1e1f3d6d990e79cfc22317558571008536e0f6e`.  Could you try again with current?

[2018-06-19 20:48] tswift242 opened #2406 "Restoring containers from a custom checkpoint-dir is broken"
**Description**

This was first reported in https://github.com/moby/moby/pull/35694 but no issue was ever created for it.

Containerd 1.0 (I believe) broke the --checkpoint-dir option for restoring a container from a particular checkpoint location. This means this option is broken in docker releases 17.12 and up.

See https://github.com/moby/moby/commit/ddae20c032#diff-3cb140026df40998ea29c5bcb6bb

[2018-06-19 20:55] tswift242 opened #2407 "Checkpoint/Restore: add support for post-restore phase"
Taken from https://github.com/moby/moby/issues/36433#issuecomment-369636540 (item 3):

Something to consider is an officially supported post-restore hook or API. Right now after each restore we do via docker start, we run a command inside the container via docker exec in what we call our post-restore phase. You can imagine that when cloning containers, there's some action you need to take after ea

[2018-06-19 21:21] Random-Liu commented on #2401
I can reproduce this. @dmcgowan @abhi Any idea on this?

[2018-06-19 22:05] Random-Liu commented on #2401
If this is a containerd issue, we should fix it.
If this is a registry issue, we should at least understand it. :)

[2018-06-19 22:06] ehazlett commented on #2404
Ah sorry I missed the part about the upstream Golang.  What version are you using?  The `c00603607511701ecc9f56fd82ac528ecf6b8fc6` from the message above?

[2018-06-19 23:38] dmcgowan commented on #2401
It looks like the manifest list is invalid. It lists amd64 manifest (sha256:ab8aec91742937058f6b307efbd411ba8b49c5392a757431b00fda4bdd4fa588) as having a size of 756 bytes but when that manifest is downloaded 950 bytes are returned. I think this is the expected behavior when the size of an object in a manifest differs from the actual size.

[2018-06-19 23:46] Random-Liu commented on #2401
@dmcgowan Is this an image build problem or registry problem?

If it is the latter, I'll file issue to gcr.

[2018-06-19 23:48] dmcgowan commented on #2401
Should be a build problem, not a registry problem. The registry is returning the right content, the content is just wrong. I don't know what you are using to build the manifest list though.

You can see the problem with these curl commands
[code]

https://gist.github.com/dmcgowan/d59d6dba116b6ff42c24794dbb57687d

[2018-06-19 23:57] estesp commented on #2401
Hopefully not `manifest-tool`! 😅

[2018-06-20 00:07] Random-Liu commented on #2401
Filed issue to Kubernetes. And I think we can move the issue out of 1.1.1 milestone for now.

[2018-06-20 02:31] sudeeshjohn commented on #2404
I’m using the master

root@cc8eb89bd9bb:/go# go version                        
go version devel +c993002 Mon Jun 18 23:20:57 2018 +0000 linux/ppc64le           
root@cc8eb89bd9bb:/go#

[2018-06-20 14:31] chrisohaver commented on #2401
@estesp, yes CoreDNS uses `manifest-tool`.   Moving to `docker manifest` is on the to-do list, but since it's still in beta, it hasn't been a priority yet.

What are the possible issues with using `manifest-tool`?

[2018-06-20 15:10] estesp commented on #2401
@chrisohaver actually, I just realized the size mismatch/validation issue with containerd, as @dmcgowan pointed out, is with the actual entry in the manifest list for a particular architecture.

`manifest-tool` doesn't write those manifests; those are references to an existing (non-manifest list image) that was either created via a `docker build` -> `docker push` combination, or a custom image bui

[2018-06-20 15:17] chrisohaver commented on #2401
Thanks... see https://github.com/kubernetes/kubernetes/issues/65253#issuecomment-398779159 ... when we inspect the manifest list with `docker manifest`, we get a size of 950 for the amd5 manifest in the manifest list.  So, k8s.gcr.io seems to be reporting the sizes differently depending on the method of manifest list inspection?

[2018-06-20 15:18] estesp commented on #2401
Hmm; interesting. Using `manifest-tool` shows a (correct) size of **950** for the `amd64/linux` entry:
[code]

[2018-06-20 15:23] johnbelamaric commented on #2401
Using direct `curl` returns the wrong size, but using `docker manifest inspect` gives the correct values:

[code]

[2018-06-20 15:35] johnbelamaric commented on #2401
@estesp `manifest-tool` was used for the list on Docker hub, but `docker manifest` was used for the `grc.io` manifest list.

[2018-06-20 15:48] estesp commented on #2401
@johnbelamaric yeah; so we are getting the same experience, and containerd's way of talking to gcr.io seems to be getting the `curl`-like response (and therefore the size mismatch). Can we get someone from gcr (Jon Johnson) to look at the backend and see if there is a gcr.io interaction problem here that generates two different responses for the same image?

[2018-06-20 15:57] cpuguy83 commented on #2406
This is likely purely a moby issue. I believe required changes should be discussed there.

[2018-06-20 17:20] thockin commented on #2401
Just to confirm, I tried again, pushing to a different repo, and get the same size mismatch.  I don't know the guts of `docker manifest` - anyone?  Can we take that apart to see what it is doing differently?

[2018-06-20 17:22] thockin commented on #2401
what does "size" represent?  what is it the size of?

[2018-06-20 17:32] johnbelamaric commented on #2401
The size of the manifest - the manifest list points to manifests which describe the images. This is essentially the Content-Length header you would get if you pulled down the manifest via http: https://gist.github.com/dmcgowan/d59d6dba116b6ff42c24794dbb57687d#file-curl-sh-L128

[2018-06-20 17:36] thockin commented on #2401
The 950 number is the byte count of an individual image manifest in pretty-formatted JSON.

Removing all whitespace gets to the 756 number.

I can't find anything in the spec that says what the rules are for formatting.  That explains the difference in size between tools (one is counting after formatting the other is reporting what the API is holding).  it seems pretty wrong to take JSON, reformat

[2018-06-20 17:45] dmcgowan commented on #2401
@tonistiigi just let me know he has also experienced this, apparently the `docker manifest create` tool is completely broken. It should NEVER change the content of the manifests. Will file an issue and get this resolved, that is pretty bad.

[2018-06-20 17:46] Random-Liu commented on #2401
@dmcgowan How does `docker pull` work then? Does it do this kind of size validation?

[2018-06-20 17:50] thockin commented on #2401
I am a little wrong.

$ curl -s -H 'Accept:application/vnd.docker.distribution.manifest.list.v2+json, *' 'https://k8s.gcr.io/v2/coredns/manifests/1.1.3__amd64_linux' | wc -c
950

It looks like the API is holding formatted JSON and the manifest list is reporting the size of compacted JSON.

[2018-06-20 17:54] thockin commented on #2401
So I guess `docker manifest` is the culprit, compacting the JSON before sizing it?

[2018-06-20 20:12] tonistiigi opened #2409 "platforms pkg issues on matching arm"
Reporting some issues on the platforms matching that appear on arm platform.

- The unit tests for `platforms` pkg do not pass if run on arm. They seem to be related to the issues described below.

- Implicit arm variant should be handled during `Match()` in the platform struct the same way as it is in the string form (and as it is defined in the docs). Currently containerd can never match an exis

[2018-06-21 01:45] flx42 opened #2412 ""containerd oci-hook" does not pass the right rootfs"
While testing #2330 with a custom rootfs, I got the following:

[code]

This is not the right rootfs, I believe this path will only work with the containerd snapshotter:
https://github.com/containerd/containerd/blob/c1e1f3d6d990e79cfc22317558571008536e0f6e/cmd/containerd/command/oci-hook.go#L91-L93
Instead, the OCI runtime spec needs to be read to retrieve `root.path`. Unless we turn this `rootfs`

[2018-06-21 01:45] flx42 commented on #2412
cc @crosbymichael

[2018-06-21 16:08] luxas commented on #2401
I don't get it, is compacted or formatted JSON the right value for size here?
Is docker just ignoring the size validation as it works there :thinking:?

[2018-06-21 16:58] luxas commented on #1508
Ping on this, for Ubuntu, Debian, CentOS & RHEL.
Have you considered hosting your own repo?

[2018-06-21 17:47] dmcgowan commented on #2391
Are you using the overlay snapshotter or a custom one you are building?

[2018-06-21 18:16] carlwgeorge commented on #1508
Regarding RHEL/CentOS, the best place for this would be EPEL (I already package it in Fedora).  However, [containerd 1.1.0 bumped the minimum golang version to 1.10](6aa612dfc2725511c3ec76177304925748bff6ad), and RHEL7 only has golang 1.9.  EPEL packages aren't allowed to override/update stock RHEL packages, so we're stuck waiting on Red Hat to update golang.  To their credit, it's happened multip

[2018-06-21 21:02] carlwgeorge commented on #1632
Circling back since this is coming up again in #1508.  RHEL 7.5 was released on 2018-04-10 with golang 1.9.  [Containerd 1.1.0](https://github.com/containerd/containerd/releases/tag/v1.1.0) was released on 2018-04-23 and now [requires at least golang 1.10](https://github.com/containerd/containerd/commit/6aa612dfc2725511c3ec76177304925748bff6ad).  I can upgrade Fedora 28 to containerd 1.1.0, but th

[2018-06-21 22:55] flx42 commented on #2412
Ok, so the OCI runtime spec mandates that the `root.path` is in a directory **below** the bundle, which makes this use case not compliant to the spec. But this configuration is widely used, by Docker CE for instance.

[2018-06-22 15:17] abhi commented on #2365
Fixed by https://github.com/containerd/cri/pull/825

[2018-06-22 15:17] #2365 closed

[2018-06-22 19:07] flx42 commented on #2401
As far as I can tell, the `docker manifest` command is fine. The error comes from `docker/distribution`, package `schema2`:
https://github.com/docker/distribution/blob/749f6afb4572201e3c37325d0ffedb6f32be8950/manifest/schema2/manifest.go#L92-L93
And well, funny thing, it is **NOT** canonical, since it is blindly copied from a byte array which might store indented or non-indented JSON:
https://gith

[2018-06-22 20:15] #2409 closed

[2018-06-22 20:25] thockin commented on #2401
Hi all.  Are there any viable workarounds in the mean time?

On Fri, Jun 22, 2018 at 1:18 PM Tõnis Tiigi <notifications@github.com>
wrote:

[2018-06-22 20:34] tonistiigi commented on #2401
@flx42 This is getting offtopic (cli issue is tracked in https://github.com/docker/cli/issues/1135), but where does guarantee the canonical representation? I agree that variable names/comments could be improved in that code but there is only one public `Payload()` method with a comment "Payload returns the raw content of the manifest. The contents can be used to calculate the content identifier.".

[2018-06-22 21:48] fturib commented on #2401
from @thockin : `re-pushed with manifest-tool and it seems good - please confirm`

@NeilW , @Random-Liu : can you make a try now ?

[2018-06-22 22:05] Random-Liu commented on #2401
It works now!

[code]

[2018-06-23 01:35] stevvooe commented on #2406
Please file this in moby.

[2018-06-23 15:48] thaJeztah commented on #2406
I recall @mlaventure mentioning it was not possible with containerd 1.x, so could not be fixed on the Moby side - @mlaventure do you have more background on this?

[2018-06-23 15:50] thaJeztah commented on #2406
Looks like that was on the linked issue, which mentions changes were needed here;  https://github.com/moby/moby/pull/35694#issuecomment-353381145

[2018-06-25 13:35] tswift242 commented on #2406
@stevvooe See @thaJeztah's comments above. Can you re-open this?

[2018-06-25 15:48] mlaventure commented on #2406
@tswift242 the change that @thaJeztah linked to is needed within the moby codebase, not in containerd. It's an issue that need to be resolved in moby, there's nothing to do extra within containerd at that point (unless a bug is found)

[2018-06-25 17:00] crosbymichael commented on #2404
Should be easy fixes for someone that wants to resolve this.

[2018-06-25 20:03] crosbymichael commented on #2406
I wanna keep this open as we may need some type of export support client side to recreate the functionality.

[2018-06-25 20:49] stevvooe commented on #2406
@crosbymichael Are you still planning on supporting this format on the containerd side? It seems like it would be better to define the interface that it supports, rather than rely on containerd behavior (which is the current root cause of this issue).

[2018-06-25 20:51] stevvooe commented on #2404
This should be caught by the linter but that is pretty annoying they've made it a compile-time error.

[2018-06-25 22:39] LeoCavaille opened #2419 "`/proc/mounts -> /etc/mtab` symlink broken"
**Description**

While running a "base" image (in this case `debian:buster-slim`), it seems like the behavior of symlinking `/proc/mounts` to `/etc/mtab` has changed and I could not find anything related to it in documentation.

I found some reference to symlinking this in the rootFS [here](https://github.com/containerd/containerd/blob/1ac546b3c4a3331a9997427052d1cb9888a2f3ef/rootfs/init_linux.go#

[2018-06-26 08:44] konrad-ohms opened #2421 "Creation and removal of containers via ctr CLI does not release inodes in /run/containerd/fifo"
**Description**
Containerd does not release inodes in /run/containerd/fifo, if containers are created and removed in a loop via the ctr cli. This leads to 100% inode usage on the /run file system over time which prevents containerd to create new containers.

**Steps to reproduce the issue:**
1. The described behavior was noticed during a stress test which executed the following commands in a loop

[2018-06-26 14:33] alban commented on #2412
@flx42 I don't see that the OCI runtime spec mandates it should be below the bundle. I just see it can be either a relative path or an absolute path in [config.md#root](https://github.com/opencontainers/runtime-spec/blob/master/config.md#root).

I'd like `ctr --rootfs` / `oci.WithRootFSPath` to work as well with absolute paths. I am not sure relative paths are meaningful when the spec is passed ov

[2018-06-26 15:42] flx42 commented on #2412
@alban look at the bundle spec:
https://github.com/opencontainers/runtime-spec/blob/master/bundle.md

And in the bundle validation tool:
https://github.com/opencontainers/runtime-tools/blob/e2ffaf10d07335df3bfb0f81a4015d7ce780f032/specerror/bundle.go#L15-L16
https://github.com/opencontainers/runtime-tools/blob/25ae2f4e9a405e940bdd8f025a52558fccfd7158/validate/validate.go#L246

[2018-06-26 17:30] crosbymichael commented on #2406
@stevvooe ya, still working on the interface and getting new requirements from @tswift242.

I'll probably close this one after I create a tracking issue for c/r work.   We have a few things that we need/want before we move it out of experimental in docker.

[2018-06-27 09:41] fuweid commented on #2321
since I found the way to consume boltdb by ImageService, I close it.

[2018-06-27 09:41] #2321 closed

[2018-06-27 12:46] #2421 closed

[2018-06-27 13:05] konrad-ohms commented on #2421
Thanks for the fast fix :-)

[2018-06-27 14:55] crosbymichael commented on #2421
@konrad-ohms no problem

[2018-06-27 19:05] crosbymichael opened #2426 "[proposal] Shim API v2"
# Shim API for Runtimes

**Authors:**

* @crosbymichael
* @ehazlett

More VM based runtimes have internal state and more abstract actions.
A CLI approach introduces issues with state management.
This proposal introduces a shim API for solving these state issues at the shim layer in containerd.
The goals is to provide an API that various runtimes can implement to add support in containerd while
sti

[2018-06-27 20:10] jstarks commented on #2426
Right now I think the shim uses ttrpc. Would you expect this to move to standard gRPC?

[2018-06-27 20:12] Random-Liu commented on #2426
LGTM overall other than 3 questions:
1) Should we define events behavior? E.g. is publishing TaskExit required
2) For K8s, `rpc Stats(StatsRequest) returns (StatsResponse)` will be called every 10 seconds for each container. For 100 containers, but I'm not sure whether the rpc will introduce significant memory overhead. I'm less concern about the stats collection itself, because there is no much d

[2018-06-27 20:28] crosbymichael commented on #2426
@Random-Liu

1. Ya we'll keep updating this proposal with more details as we hit them.  There is only 1-2 events that the shim publishes today and I'll document all of them or change this if we find a better way.
2. Doing work cost cpu/memory
3. We are working on abstracting everything into the shim API.  There will be no split of responsibility between the shim and daemon.

[2018-06-27 20:47] jstarks commented on #2426
@crosbymichael @jterry75 already has named pipes working with ttrpc. I think he can prepare a PR soon.

[2018-06-27 20:59] crosbymichael commented on #2426
@jstarks perfect!

[2018-06-27 21:31] jterry75 commented on #2426
I like the proposal. A few questions:
1. Can we remove the use of unix signals as it doesn't make any sense when running these shims on Windows? Today the shim uses SIGCHLD, SIGTERM, SIGINT, SIGUSR1. It would be better if we could call a gRPC method that is intended to "signal" the shim itself.
2. Today the linux runtime is responsible for unmounting rootfs for example in `terminate`. It will be h

[2018-06-27 21:37] crosbymichael commented on #2426
1. If you are refering to signaling the shim itself, the only time we use that is for SIGKILL when its not working or other debug handlers.  I think for debugging we can add some debug apis, and @ehazlett and I already chatted about this some.  As for removing signals all together, we will need to nuke it if we cannot talk over grpc to a broken shim.
2. Ya, we are trying to abstract out anything t

[2018-06-28 14:57] lukasheinrich commented on #2391
Just commenting to link to @AkihiroSuda's `filegrain` project: https://github.com/AkihiroSuda/filegrain that seems relevant.

[2018-06-28 21:00] crosbymichael commented on #2426
We have an ongoing branch for this development here:
https://github.com/crosbymichael/containerd/tree/shimv2

[2018-06-28 21:20] crosbymichael commented on #2426
One thing we have to figureout is how to handle OOM events.  Should we use the events API for this or a grpc streaming endpoint for oom events? @Random-Liu @dmcgowan ?
Maybe:

[code]

[2018-06-28 21:39] Random-Liu commented on #2426
@crosbymichael It seems that ttrpc doesn't support streaming yet. https://github.com/containerd/ttrpc/blob/fa6c68143601db58b3636ee9948aad2fe08ed1ea/services.go#L36

The current event api + containerd binary approach works for me as well. At least we understand its performance better. :)

[2018-06-28 22:02] dmcgowan commented on #2426
@crosbymichael how many different event types are there?

I think streaming is always better, does the callback end up connection to containerd through grpc and sending the event? I wonder how expensive implementing streaming is... any ideas @stevvooe ?

[2018-06-29 15:21] crosbymichael commented on #2426
@dmcgowan the shim only does exit events right now, oom would be the second type the shim emits

[2018-06-29 18:18] crosbymichael commented on #2426
@jterry75 for your second question the other day.  I just worked on a solution for it: https://github.com/crosbymichael/containerd/commit/5c678b68052a09ea91bde6d002d06317df9b988b#diff-cd9adfde13a79bd4e2b11470dbabf55fR36

Basically we need the shim to have two commands as its binary.  One that serves the rpc api and one that can cleanup/delete when a previous shim died.  This way the runtime can un

[2018-07-04 01:50] sboeuf commented on #2426
Hi @crosbymichael, I have a few questions to clarify how this API is going to be used.
1. If we think about the `runc` case, does that mean we need to implement a daemon running a gRPC server, and this server would implement the `Task API` ? If yes, I guess this daemon will leverage directly libcontainer, right ?
2. Don't you think it might be nice to introduce the concept of pod at this API level

[2018-07-04 02:02] Random-Liu commented on #2426
@sboeuf The new `Task API` is just the new `Shim API` if I understand correctly. We can implement different shims for linux container, windows, kata-container and gvisor.

It doesn't matter. As long as the new shim api is implemented, containerd should be able to use it. In theory, it is possible to use libcontainer directly to implement the shim, but I guess for linux container, using `runc` is s

[2018-07-05 14:04] crosbymichael commented on #1990
@hmtai that should be a PR to `crictl` to honor the env var

[2018-07-05 14:54] lbernail opened #2438 "Inconsistent state on pod termination"
**Description**

We just had an issue with containerd: an application was killed several times by the oom killer because it reached its cgroup memory limit. Containers on the host are now in a really weird state:
- ok according to `crictl ps`
- `crictl exec` fails with `cannot exec in a stopped state: unknown`
- `ctr -n k8s.io t ls` hangs without any output
- `ps auxf` shows many containerd-shim w

[2018-07-05 14:59] BooleanCat opened #2439 "Execing a process blocks when stdin has content (most of the time)"
containerd version: 1.1.0

## Reproducing

Note that we demonstrate this with `ctr` for ease of use, but we first observed this when using the containerd Go API.

[code]

Next, exec a process with stdin in the container

[code]

Most of the time this will correctly echo "hi" but the process will hang.

## Expected behaviour

1. I see "hi" on stdout
2. The process exits successfully

## Details

Af

[2018-07-05 15:00] BooleanCat commented on #2439
A few suggestions on addressing this include

1. open the pipe on the server side in RDONLY mode (not sure of the impact of this)
2. Ensure the pipe is closed (or not opened at all) before `runc exec` is reached

[2018-07-05 15:08] xiechengsheng opened #2440 "[question]ctr push: failed commit on ref: unexpected status: 400 Bad Request"
**Description**
When I want to use `ctr` to push image to dockerhub, the push process always returns `400 Bad Request` Error. This is the same with issue #1772 , but this time the containerd version(v1.0.3) is newer than issue in #1772, and I don't see a user-guide to describe how to use `ctr images push` correctly in containerd project. Could anyone help me correct my push command? Thanks in adva

[2018-07-05 15:14] xiechengsheng commented on #2440
ping @tonistiigi Sorry to disturb you, how did you solve this problem at that time? Thanks in advance!

[2018-07-05 18:08] tonistiigi commented on #2440
@xiechengsheng https://github.com/containerd/containerd/pull/2200 . Based on that it should work if image is pulled with the new flag.

[2018-07-05 23:51] cpuguy83 commented on #2426
Forgive my ignorance here, but couldn't this be handled by `ExecProcess` which (I think?) can have an envelope describing things like the image to run the process with or other options? (just spitballing).

In the API definition, `ExecProcess` just uses a `google.protobuf.Any` so conceivably this can pass whatever is necessary.

[2018-07-06 01:10] hmtai commented on #1990
@crosbymichael yeah,I really need this feature.

[2018-07-06 02:35] xiechengsheng commented on #2440
Cool, after updating containerd version to v1.1.0, it works on my machine. Thanks for your help!

[2018-07-06 08:59] xiechengsheng commented on #2440
Hmmm, sorry to disturb you again, I found the `400 Bad Request` error will sometimes occur in containerd version `v1.0.3`. And the error message like this:
[code]
this error message shows that the **manifest list/index references to blobs and/or manifests** are needed in `ctr images push` command, I am wondering how to config these parameters according to my local images. Have you ever fixed this

[2018-07-06 09:05] xiechengsheng commented on #2440
And I found that the pr #2200 which you mentioned has been merged in [containerd v1.0.3](https://github.com/containerd/containerd/releases/tag/v1.0.3), so in my opinion, so I think this error occurs due to my wrong command configure.

[2018-07-06 15:29] varuntalus commented on #1990
I am trying to setup kubernetes cluster with containerd 1.1. But when I am running kubeadm init, the setup is failing because the required images are not getting pulled. I have proper proxy setting in place but still images are not getting pulled.

Please find below the logs:

### # kubeadm init --kubernetes-version=1.11.0 --token-ttl=0 --cri-socket=/var/run/containerd/containerd.sock
I0706 20:29:

[2018-07-06 18:48] Random-Liu commented on #2438
@lbernail I can't reproduce it.

Test pod I'm using:
[code]

The `kubectl ` output:
[code]

Containerd seems to be fine:
[code]

I'll leave it there running for a day, but I'm not able to reproduce it till now.

[2018-07-06 22:03] tonistiigi commented on #2440
#2200 is not in `v1.0.3`. Where did you see that it was?

[2018-07-07 01:49] mikebrow commented on #2438
@Random-Liu you on 1.1.0? may have been a delta or two in that code path.

[2018-07-07 01:50] Random-Liu commented on #2438
I’m using gke, which is using 1.1.0.

On Fri, Jul 6, 2018 at 6:49 PM Mike Brown <notifications@github.com> wrote:

[2018-07-07 01:53] mikebrow commented on #2438
ok according to crictl ps... ok means?   "crictl ps -all"?

[2018-07-07 06:53] xiechengsheng commented on #2440
I'm sorry I made a mistake, I just simplely think that PR's serial number presents the order when this pr was merged. Thanks for your help!

[2018-07-07 06:53] #2440 closed

[2018-07-07 20:44] rn opened #2447 "btrfs test fail btrfs-prog 4.17"
I'm seeing errors when running the containerd test on a alpine 3.8 system which uses btrfs-progs v4.17:
[code]

I see the same error for all `btrfs` tests. Basically the [`containerd test code`](https://github.com/containerd/containerd/blob/master/snapshots/btrfs/btrfs_test.go#L48) is creating a 100MB loop back device but the btrfs-progs v4.17 tools seem to expect at least a 114294784B (109MB) dev

[2018-07-09 09:17] hchenxa commented on #1990
add a environment variable in containerd can work fine in my environment, and the service file like below:

[code]

[2018-07-09 13:11] varuntalus commented on #1990
@hchenxa

I made the entries in service file and it worked. Thanks!

[2018-07-09 14:18] #2447 closed

[2018-07-09 14:22] sboeuf commented on #2426
@cpuguy83 `ExecProcess` handles a different use case. It will start a new process in an existing container, therefore, there is no such thing as the image description since the container is already running.

And even if we were able to pass any kind of information through `ExecProcess`, we would need `containerd` to be aware about the difference between pods and containers.

[2018-07-09 14:39] cpuguy83 commented on #2426
You haven't explained *why* containerd needs to be pod aware. In my mind saying containerd needs to be pod aware is akin to saying Linux needs to be pod aware.

A pod is a scheduling concept to ensure two workloads land on the same node and have certain API's between each member of a pod (primarily 127.0.0.1 being the same in each member of a pod).

cri(-containerd) is pod aware and can make use o

[2018-07-09 15:47] yulianedyalkova commented on #2439
We actually managed to track down the [PR](https://github.com/containerd/containerd/pull/661) that introduced that change and it looks like this is the desired behaviour. After going through the integration tests, we found the [CloseIO](https://github.com/containerd/containerd/blob/01d309e8f20647f0046c37ca3986faacf17f7588/container_linux_test.go#L724) method which solves our issue.

Still, is ctr

[2018-07-09 15:58] sboeuf commented on #2426
@cpuguy83 Ok let me try to be clearer (I hope I will be :)).
CRI-containerd is pod aware, yes. And it passes some annotations to the OCI runtime (`kata-runtime` for instance) in order to let it know what kind of container it is (regular container or pod). The difference being to create a VM (case of a pod) or a container inside an existing VM (case of regular container). Based on this, you underst

[2018-07-09 17:13] sboeuf commented on #2426
@crosbymichael to follow up after the discussion during the Kata Containers architecture committee meeting, here are a few thoughts:

__What would it take to make containerd "pod aware"?__
I think the important thing here would be to make sure that by default, if nothing is specified, `containerd` would behave exactly the way it does right now. But in case it finds some flags/annotations that coul

[2018-07-10 00:48] Random-Liu commented on #2426
@sboeuf It's part of the shim api https://github.com/containerd/containerd/blob/master/runtime/shim/v1/shim.proto#L60-L62.

From what I can see, the shim api is pretty generic, every request has a id associated. It means that from the api perspective, it doesn't matter whether it is a daemon, a per-container shim or a per-pod shim behind.

The only thing that matters is how the shim is started, st

[2018-07-10 01:30] sboeuf commented on #2426
@Random-Liu the scenarios you're describing looks perfectly good to me ! But I think containerd still needs to be aware at some point, otherwise how can it decide to start (or not) a new shim ?
The shim is not starting himself, meaning that containerd may have this information. But I agree once the shim has been started, it's the shim implementation responsibility to know what to do based on annot

[2018-07-10 01:46] Random-Liu commented on #2426
It is decided in the containerd-shim binary, in the `containerd-shim start` command. As for how `containerd-shim start` is implemented, it doesn't matter to containerd. (Think about how `runc create` vs. `kata create` works with containerd)

We are not getting rid of the pod notion from containerd. We just try to contain the pod notion in plugins, and actually other containerd features should also

[2018-07-10 02:10] sboeuf commented on #2426
Sorry, by "getting rid of", I meant "pod agnostic". I agree it's better if we can keep `containerd` pod agnostic.

I think I am misunderstanding something here, and that's why I need some clarification about the sequence. With this new API, what happens when `containerd` creates a new container, how does it start talking with the gRPC server implemented by `containerd-kata-shim` ?
Is it spawning t

[2018-07-10 02:14] hairyhenderson opened #2451 "containerd hangs on start in low-entropy situations"
**Description**

Based on discussion in linuxkit/linuxkit#3032 and linuxkit/linuxkit#3096, it seems that a call to `crypto/rand`'s `Read` function will block when running on Linux kernel versions 4.14.36 and up, due to a fix for [CVE-2018-1108](https://nvd.nist.gov/vuln/detail/CVE-2018-1108).

As I understand it, prior to the fix, `/dev/random` was usable before enough entropy was gathered to cons

[2018-07-10 02:35] Random-Liu commented on #2426
Is it spawning the binary first ? Or does it expect to find the gRPC already running somewhere ?

That is a missing piece in this api now, and that is also what I'm proposing in https://github.com/containerd/containerd/issues/2426#issuecomment-403663775.

Today when containerd creates a new container, it will call `containerd-shim` binary to start the shim process, and then talk with the grpc serv

[2018-07-10 02:44] sboeuf commented on #2426
@Random-Liu Now it all makes sense ! I haven't captured what you were proposing __vs__ what was already in the proposal :stuck_out_tongue_closed_eyes:

I agree what you're proposing could work and would not introduce the "pod awareness" at the containerd level. Let's wait for @crosbymichael input on this !

[2018-07-10 02:56] hairyhenderson commented on #2451
It looks like this patch allows containerd to start "enough" to not block other services in LinuxKit from starting:

[code]

_but_ containerd itself still hangs, presumably due to the other uses of `crypto/rand` - I'll continue hacking away at this...

[2018-07-10 14:57] crosbymichael commented on #2426
@Random-Liu you are so smart!  I like it.  The only worry that i have is this impacting start times.  Today, containerd passes the socket fd to the shim process and it makes start times faster than passing a path and the server opening it.  But may be it's ok when this is reversed, we just have another exec in the start flow.

[2018-07-10 15:17] sboeuf commented on #2426
Looks like we have an agreement here :smiley:

[2018-07-10 15:18] sboeuf commented on #2426
We'll just need to make sure we pass the appropriate info/arguments to the `start` subcommand to let the shim implementation decide what to do.

[2018-07-10 15:22] crosbymichael commented on #2426
One thing we need to figure out is reconnect when containerd boots.  Should we have a dir of bundles and the sockets in each one? Some of these sockets are symlinks to the same one?  Does that work?  Also is id and bundle path enough information for the `start` command?

[2018-07-10 15:52] sboeuf commented on #2426
From a containerd perspective, we'll have several bundles that might refer to the same pod, which leads the shim socket to be the same across several bundles. The thing with symlinks is that you need to make sure the hardlink they refer to will be here until the end of the pod, which means it has to be in the bundle referring to the pod.
I can see two options here:
- `containerd` always reference

[2018-07-10 16:06] mlaventure commented on #2426
What if we use hardlink instead? They will refer to the same inode, so deleting the initial pod bundle wouldn't cause the other one to fail.

Actually scratch that, if the initial shim has data it needs in the initial pod bundle we still won't be able to delete that bundle.

In that case, may it be better to have the shim error out during the `Delete()` call with an `EBUSY` equivalent so the bundl

[2018-07-10 17:16] crosbymichael commented on #2426
I'm trying to implement this now and I'll let you know how it goes.  I don't think we need a `stop` command because the new API already has a `Shutdown` rpc for doing this.

[2018-07-10 17:19] sboeuf commented on #2426
@crosbymichael thanks, and I agree the `Shutdown()` command should be enough because based on the ID, pod or container, the shim implementation should know if it's time to exit.

[2018-07-10 18:57] Random-Liu commented on #2426
I think the previous cleanup logic is to call `runc delete` when containerd-shim exits unexpectedly. https://github.com/containerd/containerd/blob/master/runtime/linux/runtime.go#L400

I believe `Shutdown` rpc still assumes the shim is running, which doesn't work in this case.

[2018-07-10 19:19] crosbymichael commented on #2426
@Random-Liu ya, we already have a `shim delete` command in v2 to replace that.

[2018-07-10 19:20] sboeuf commented on #2426
@Random-Liu ah yes good point, this would be an extra security.

[2018-07-10 19:32] sboeuf commented on #2426
@crosbymichael what's the full picture of this v2 ?

- `shim start`
- `shim delete`
- rpc calls for the rest of the lifecycle management

Is that it, or am I missing some parts ?

[2018-07-10 19:40] crosbymichael commented on #2426
@sboeuf yes, that is it

[2018-07-10 19:47] sboeuf commented on #2426
@crosbymichael thanks for the clarification :+1:

[2018-07-10 20:35] Random-Liu commented on #2426
Yeah, that is good enough. I don't know we have a `delete` command already. I just meant it. :)

[2018-07-11 16:01] crosbymichael commented on #2426
@Random-Liu @sboeuf please take a look at this commit:

https://github.com/containerd/containerd/pull/2434/commits/3c3b72c484a8976aadbfd52651e7c1ad096c1499

[2018-07-11 17:24] sboeuf commented on #2426
@crosbymichael 2 comments, but LGTM

[2018-07-11 18:59] dmcgowan commented on #2451
The hanging was not expected, the lease generator is intended to be designed that in low entropy situations, the ID generated is just less random rather than blocking or erroring. Looks like we need to re-address this assumption that `rand.Read` will error and not block when encountering low entropy.

[2018-07-11 19:01] dmcgowan commented on #2451
This assumption was based on previous experience here https://github.com/docker/distribution/blob/master/uuid/uuid.go#L56

[2018-07-11 20:14] hairyhenderson commented on #2451
Yeah, I think a lot of userspace code that makes the non-blocking assumption is going to start hanging in very hard-to-diagnose ways on early-boot when the newer kernel versions become more prevalent 😞.

Would you accept a PR to simply change `crypto/rand` to `math/rand`?

The `Read` method in both packages is effectively the same, just that `math/rand` will never block or error, but also isn't gu

[2018-07-11 20:31] dmcgowan commented on #2451
Yes, I agree cryptographically random is not necessary. We also add a nanosecond component, we could update this in the future to use UUID logic.

[2018-07-11 20:32] crosbymichael commented on #2451
We can also just implement a reader with `unix.GetRandom(bytes, unix.GRND_NONBLOCK)`

[2018-07-12 01:01] hairyhenderson commented on #2451
@crosbymichael I agree that it'd be useful to have a `GRND_NONBLOCK` version available (it's already available internally at https://github.com/golang/go/blob/master/src/internal/syscall/unix/getrandom_linux.go#L26..L49).

One thing to watch for is that `GRND_NONBLOCK` simply changes the behaviour in low-entropy situations from blocking to erroring. So, in this case, containerd would need to handl

[2018-07-12 01:24] hchenxa opened #2455 "failed to restart containerd due to tmpmounts did not free"
**Description**

**Steps to reproduce the issue:**
1. restart the containerd
2. check the containerd logs

**Describe the results you received:**
restart the containerd by service containerd restart, find the daemon can not started due to below issue:
[code]

**Describe the results you expected:**
the containerd should be started.

**Output of `containerd --version`:**

[code]

[2018-07-12 03:11] Random-Liu commented on #2426
/cc @resouer

[2018-07-12 03:58] bergwolf commented on #2426
@Random-Liu @sboeuf @crosbymichael With this `containerd-shim start/stop` design, it seems that the shim V2 grpc requests should also be extended to indicate each request is targeting which container, so that we can use the same grpc server to handle different containers of the same sandbox in kata-shim. WDYT?

Or do you expect the kata-shim to start a new grpc server with a new grpc address for e

[2018-07-12 04:59] Random-Liu commented on #2426
There is an id associated with each request. The id is the container id.

But it seems that we are missing a container id in the exec request.

On Wed, Jul 11, 2018 at 8:58 PM Peng Tao <notifications@github.com> wrote:

[2018-07-12 05:08] hchenxa opened #2457 "error messages throws in containerd due to get snapshot fs failed"
**Description**

**Steps to reproduce the issue:**
1. install containerd on ubuntu
2. start the service

**Describe the results you received:**

See the error logs below:
[code]

I seems the issue related to OS, I was using ubuntu 16.04.1 LTS and the kernel was 4.4.0-36.

**Describe the results you expected:**

**Output of `containerd --version`:**
[code]

[2018-07-12 09:41] bergwolf commented on #2426
@Random-Liu hmm, it already has a container id and an exec id in the exec request. The design looks good to me. Thanks!

BTW, one implication with the process related requests is that `exec_id` is unique within a sandbox, because we do not pass a container ID together. I checked containerd code and found that it is a random string w/o collision check but I guess the chance of collision is so small

[2018-07-12 13:23] xiechengsheng opened #2459 "[question] How to get pulled image's history in client side?"
**Description**
I am wondering whether containerd could support getting image's history in client side for now. And I found that there is already a function [`schema1ManifestHistory()`](https://github.com/containerd/containerd/blob/master/remotes/docker/schema1/converter.go#L345) which could get image's history information, but this function can be only called in [`converter.go`](https://github.co

[2018-07-12 15:12] crosbymichael commented on #2426
Its up to the runtime to error if there is a collision with an exec_id, especially with this model going forward.  Containerd keeps very minimal state about running containers and it's up to the shims to hold and validate state on the system.

[2018-07-12 15:13] crosbymichael commented on #2426
@Random-Liu I just added any missing IDs and the containerd id on Exec in my last commit for my branch

[2018-07-12 15:15] crosbymichael commented on #2451
@hairyhenderson ok, that makes sense.  Thanks!

[2018-07-12 15:15] crosbymichael commented on #2451
@hairyhenderson do you wanna work on a PR to update the usage?

[2018-07-12 15:17] crosbymichael commented on #2455
@hchenxa from this issue and your other one, did you have some type of event that caused things to get corrupt?  Trying to think of a good reproducible case to make this happen again.

[2018-07-12 15:24] sboeuf commented on #2426
As long as we get the `container_id` through `Exec()` (which seems to be the case), the `exec_id` will be unique per container, but does not need to be unique per sandbox. And I agree it is the shim implementation responsibility to enforce this.

[2018-07-12 15:33] bergwolf commented on #2426
Then would it make sense to let the shim create and return an exec id instead? Because in current API, by the time a shim finds out the collision, it can do nothing but fail the operation and containerd would have to retry with a different exec_id because the exec_id is created by containerd rather than passed by the upper layers. It's just a minor issue though. Mostly not worth the engineer effor

[2018-07-12 15:35] crosbymichael commented on #2426
exec_id's come from the user, not containerd so you have to fail if they collide.  The users usually have this figured out as they are for specific things, healthchecks, or random ids. Its not up to us.

@bergwolf I'll have to update those methods that work on exec'd processes to take both.

[2018-07-12 15:36] sboeuf commented on #2426
@bergwolf ah yes good point, they're tied to a process, so it'd be cool to have the `container_id` for those too.

[2018-07-12 15:53] bergwolf commented on #2426
@crosbymichael Ah, you are right. I was looking at the cri plugin code actually and `exec_id` is generated as a random string there.

[2018-07-12 16:55] hairyhenderson commented on #2451
#2454 got merged, which is great, and that'll solve the main blocking issue. But there appears to be _something else_ blocking - in my LinuxKit setup I get a shell from `getty` now, but the containerd logs don't start appearing until `crng_init` is done.

So I'm going to keep this issue open for now - I want to dig a little deeper and see if there's another blocking `getrandom` call (maybe in a de

[2018-07-12 18:41] dmcgowan commented on #2451
We really need to get rid of the `docker/docker` imports
https://github.com/containerd/containerd/blob/master/vendor/github.com/docker/docker/pkg/stringid/stringid.go#L85

This does raise an important issue which was not part of the PR, random should be seeded, but we should seed it in the binary command and not in the imports.

[2018-07-12 18:43] crosbymichael commented on #2426
Ok, i updated my PR fixing the last rpcs with exec and container ids

[2018-07-12 18:49] cpuguy83 commented on #2426
This looks great. Thanks for explaining the issue @sboeuf!

[2018-07-12 23:47] hairyhenderson commented on #2451
Yup, that'll do it. 😂

[2018-07-13 03:06] hchenxa commented on #2455
I config a http_proxy in containerd service file and pulled some images, then found the containerd started with about messages.

I seems this related to kernel, I was using ubuntu 16.04.1 LTS with kernel version 4.4.0-36.

After i upgrade the kernel on one of my host, the issue was gone.

[2018-07-13 09:00] hmtai opened #2462 "Create container failed"
When I create containers with containerd,it can't create container.
[code]
Debug info:
[code]
The OS info
[code]
[code]
contaienrd version
[code]
containerd --version
containerd github.com/containerd/containerd v1.1.0 209a7fc3e4a32ef71a8c7b50c68fc8398415badf

[2018-07-13 17:45] crosbymichael commented on #2462
Is there anything in the containerd logs that would signal that an error happened or something was stuck?

[2018-07-16 01:47] hmtai commented on #2462
@crosbymichael some logs for containerd but there is no error:
[code]
When I restart containerd now,it can't start now,the logs:
[code]

[2018-07-16 01:54] hmtai commented on #2462
When I reboot my host,containerd can run.

[2018-07-16 22:56] tonistiigi opened #2469 "Support windows layer blobs in linux applier/differ"
The windows layer blobs have a different layout than the ones used in linux. For example, linux blobs directly contain the rootfs for the container while windows blobs have a structure like `Files/*`, `Hives/*`, `UtilityVM` with the `Files` directory containing the actual rootfs. Additionally, the records in the windows layer tarball need to contain specific PAX headers that are required for the f

[2018-07-16 23:40] dmcgowan commented on #2469
My suggestion for implementing this. Add a label on the tar content which describes the layout `containerd.io/fs.layout=windows". The applier would see this label on Linux and set the Windows specific pax headers as an xattr and the differ would see the label on the content to be created and use this xattr if exists or generate a new one to set the pax header. The unknown here is how these paxhead

[2018-07-17 14:27] #2455 closed, assigned to nobody

[2018-07-17 15:17] fraenkel commented on #2399
I have attempted to work on this issue but I am hitting a major issue unless I missed some step along the way.
In order to support GRPC, I wanted to generate the client/server code for GRPC in addition to the ttrpc which is there already. As far as I can tell, I cannot generate for both since they step on each other unless I were to pick separate directories.
Is there some example which shows how

[2018-07-17 18:31] crosbymichael commented on #2399
So I looking into this and found the same thing.  For the server side implementation in containerd, its pretty simple to switch between the two different clients.  shim authors will probably choose one or the other and not build both servers.

I think we only want this done in the runcv2 work that is about to be merged in master.  You don't have to do it for the existing runtime and containerd-shi

[2018-07-17 19:09] fraenkel commented on #2399
So I switched over to the v2 codebase. But its still a similar issue if we want to generate GRPC bindings for the client. We need to keep ttrpc and grpc generated code in separate packages.

[2018-07-17 19:17] #2412 closed

[2018-07-17 19:53] crosbymichael commented on #2399
Ya, I think that is fine.  We can keep the `proto` in a directory and generate both in subdirs.

[code]

What do you think ?

[2018-07-17 19:54] fraenkel commented on #2399
Makes sense. Now to bend Protobuild to make it happen.

[2018-07-17 22:02] fraenkel commented on #2399
Long story short, between protobuild and the go_package option, the output is hardcoded.
Now I can probably generate and move the file but that would be the only way given how it is currently structured.

[2018-07-18 19:25] fraenkel commented on #2399
I played with every possible combination. There is no way to have the generation place the files as you describe above. It will always place it in github.com/containerd/containerd/runtime/v2/task/. I can change the directory where it is placed, e.g., ./grpc or ./ttrpc off of github.com/containerd/containerd. I can also change the package name so I could copy it to some other location like I mentio

[2018-07-18 20:14] #2426 closed

[2018-07-19 17:51] onlyjob opened #2478 "Update "json-iterator/go" dep with tag"
[json-iterator/go](https://github.com/json-iterator/go/releases) is a [semantically versioned](https://semver.org/) library yet is is [vendored by random commit](https://github.com/containerd/containerd/blob/master/vendor.conf#L61) instead of release tag.

Please consider vendoring by tag whenever possible.

Thanks.

[2018-07-19 18:42] dmcgowan commented on #2316
Static plugins implemented with #2415

Dynamic are not currently being considered at this time

[2018-07-19 18:42] #2316 closed

[2018-07-19 20:52] Random-Liu commented on #2478
I can do it.

[2018-07-19 22:39] Random-Liu commented on #2478
@onlyjob Actually we have `json-iterator/go` dependency because it is used by Kubernetes api. https://github.com/kubernetes/kubernetes/blob/master/Godeps/Godeps.json#L2010

And we are using the same commit version with Kubernetes to make sure we have the same behavior.

[2018-07-20 03:44] onlyjob commented on #2478
I see... Kubernetes is notorious for sloppy vendoring... Reported upstream: https://github.com/kubernetes/kubernetes/issues/66422

[2018-07-20 09:41] echokk11 opened #2481 "failed to start shim: exec: "containerd-shim": executable file not found in $PATH: unknown""
centos7.4

set proxy in /etc/systemd/system/containerd.service like this

[code]

[code]

[code]

[2018-07-20 09:52] echokk11 commented on #2481
I fixed it meself
[code]

[2018-07-20 09:52] #2481 closed

[2018-07-20 17:12] zerthimon opened #2483 "Why does docker-containerd listen on external interface ?"
I'm not sure this is a correct repo to post this question, but anyway...
I have a server with internal (private network) and external (direct internet connection) interfaces.

After I start docker.service I observe docker-containerd process listening on an external IP, and is directly accessible from the internet.
[code]

If I run another instance of docker-containerd it says:
[code]

So, how do I

[2018-07-20 17:32] zerthimon commented on #2483
P.S.
This is a freshly installed ubuntu server with a docker-ce from official repo.

[2018-07-20 17:49] crosbymichael commented on #2483
This is a CRI streaming server port for Kubernetes.

cc @Random-Liu

[2018-07-20 17:51] zerthimon commented on #2483
look like this is introduced in docker 18.06.0, 18.03.1 doesn't have this issue.

[2018-07-20 20:54] #2093 closed

[2018-07-21 00:15] kadisi commented on #2231
Whether this issue has been implemented ？ i see the latest code has filter , such as
[code]

[2018-07-21 00:17] kadisi commented on #2285
This issue has been implemented?
[code]
 Unfortunately， i am late ~~~

[2018-07-21 00:19] kadisi commented on #2400
still no one take this issue?  i want to try ~~~

[2018-07-21 05:31] AkihiroSuda commented on #2483
We should disable the CRI plugin by default for `docker-containerd`?

[2018-07-23 06:01] kunalkushwaha commented on #2457
This error normally comes if snapshots folders are removed manually and reference in metadata exist.
This is unlikely to appear on fresh containerd setup.

You may reset the containerd completely using following steps & install  containerd.
__NOTE__: *It will completely delete all data/container(s) managed by containerd*
[code]

[2018-07-23 08:14] kunalkushwaha commented on #2404
This issue can be closed now.
Fix is merged.

[2018-07-23 13:49] crosbymichael commented on #2483
@AkihiroSuda probably

[2018-07-23 13:49] #2404 closed

[2018-07-23 13:51] crosbymichael commented on #2285
@kadisi no, it has not been implemented yet

[2018-07-23 13:53] ijc commented on #2483
Given that CRI is only one use case for containerd (albiet an important one) perhaps this should be disabled by default more generally? Or at least the potentially unexpected network facing port should be locked off by default.

[2018-07-23 14:59] HusterWan commented on #2400
we have an urgent need for this feature, look forward for your PR 😆  @kadisi

[2018-07-23 16:14] dmcgowan commented on #2483
Being disabled by default more generally is a non-starter, we shouldn't include plugins if they can't be used by default. I think our method of disable on error could apply here though.

We should have an approach of plugins taking as few resources as possible before they are used. I think in this case the port could be more dynamic is 2 ways, firstly by not binding to a specific port by default,

[2018-07-23 16:45] Random-Liu commented on #2483
Sorry, I’m on vacation today. Will reply later. There are several options,
I’ll propose later.

On Mon, Jul 23, 2018 at 9:14 AM Derek McGowan <notifications@github.com>
wrote:

[2018-07-23 18:14] stevvooe commented on #2478
Using an explicit commit is not sloppy vendoring. Tags can be overwritten or changed. Quit going around to projects making this claim.

[2018-07-23 18:53] dmcgowan commented on #2400
@kadisi I am working on integrating the ingests with the lease, which will also involve the GC. If you are working on this feel free to reach out to me on community slack (`@dmcg`) and can sync up on it

[2018-07-24 03:40] HusterWan opened #2489 "[question] Does containerd will remove snapshot dir?"
**Description**
we have used containerd 1.0.3 in our production environment,  we encountered some containerd directory were missed suddenly with no logs.

normal node's directory:

[code]
abnormal node's directory:

[code]

**Steps to reproduce the issue:**
1.
2.
3.

**Describe the results you received:**

**Describe the results you expected:**

**Output of `containerd --version`:**

[code]

[2018-07-24 04:12] AkihiroSuda commented on #2489
Could you provide reproducer?

[2018-07-24 05:45] dmcgowan commented on #2489
@HusterWan thanks for reporting, I will do an audit to see if I can find a path which could result in such a removal. Could you share any of the containerd logs from the machine with the abnormal behavior so I can see what operations may have led up to this? Email or slack is fine if you prefer, thanks

[2018-07-24 06:52] kunalkushwaha commented on #2230
The current behaviour of code is same as expected behaviour in this issue.

- If more data is requested
   - It returns the available data and then return EOF
https://github.com/containerd/containerd/blob/master/content/proxy/content_reader.go#L50

I am using test program to verify [test-content-readat.go](https://gist.github.com/kunalkushwaha/7acb88cab7d2d1864fc1dac17b9c1aa9)

It there anything e

[2018-07-24 07:19] AkihiroSuda commented on #2483
FYI: Moby-side issue for tracking this: https://github.com/moby/moby/issues/37507

[2018-07-24 08:32] xiechengsheng commented on #2459
@dmcgowan Sorry to disturb you, could you give me a hand? Thanks in advance~

[2018-07-24 08:55] kadisi commented on #2285
@crosbymichael  the client is  ctr daemon client( `cmd/ctr/commands/run/run_unix.go` )  ?

[2018-07-24 09:54] alban opened #2491 "Get the OCI state of a container"
**Description**

The OCI runtime spec defines [the state of a container](https://github.com/opencontainers/runtime-spec/blob/master/runtime.md#state) in a specific JSON format. Example:
[code]

Although `ctr container info $CONTAINER` and `ctr task list` give some details about the container, we cannot get the same information unless we run directly something like `sudo runc --root=/run/containerd

[2018-07-24 13:10] Deshke commented on #2483
so that cri interface that has no authentication and listens per default on a public interface - who thought that would be a great idea?

[2018-07-24 14:34] crosbymichael commented on #2491
Testing this is valuable but containerd is not what OCI tests, runc is the level that compliance is tested.  Lets make sure we all understand what the OCI does and the scope of the OCI.

The proper way to validate containerd is to create a test harness.  containerd, CRI, etc consumes OCI runtimes, not implements one.

[2018-07-24 14:34] #2491 closed

[2018-07-24 14:42] crosbymichael commented on #2285
@kadisi the client is implemented in the root of the repo.

https://github.com/containerd/containerd/blob/master/namespaces.go

[2018-07-24 18:46] dmcgowan commented on #2483
There is a single use token that is required to make a request on the port. As for the public interface, Kubernetes is addressing this upstream and in the next release this will no longer be required.

This sort of unprofessional commentary is not welcome here

[2018-07-24 19:52] Random-Liu commented on #2483
There is a long history about this, which I don't think I should cover in this thread. Here are some materials:
* The [CRI container streaming design doc](https://docs.google.com/document/d/1OE_QoInPlVCK9rMAx9aybRmgFiVjHpJCHI9LrfdNM_s/edit#heading=h.4yfjiw58o8d3)).
* The [CRI container streaming authenticate issue](https://github.com/kubernetes/kubernetes/issues/36666)

TLDR:
* For Kubernetes 1.10

[2018-07-24 20:29] AkihiroSuda commented on #2483
I'm not sure `docker-containerd` should be used for non-Docker/non-Moby purpose, as its lifecycle is managed by `dockerd`.

I think people who want to use a single daemon for both `dockerd` and kube should use a separate `containerd`, and start `dockerd` with the `--containerd` address.

[2018-07-24 20:33] crosbymichael commented on #2483
@AkihiroSuda good point.  Maybe we should just push this as a docker configuration change and fix it there.

[2018-07-24 20:42] Random-Liu commented on #2483
@crosbymichael @AkihiroSuda I also discussed with @dmcgowan about this before. Given how `docker-containerd` works today, it seems impossible for users to configure `docker-containerd` arbitrarily. Given so, it seems hard for users to use `cri` in `docker-containerd` directly. Before that is changed, I think users should only use `--containerd`.

[2018-07-24 20:43] crosbymichael commented on #2483
Ok, let me update the issue on docker and recommend this as the fix.

[2018-07-24 20:47] zerthimon commented on #2483
As I'm just using docker, not kubernetes and I don't want any docker component listen on a public IP. Or I need a way to configure it / disable it.

[2018-07-24 20:48] crosbymichael commented on #2483
@zerthimon agreed.  We will fix this and get a patch release out ASAP.  Sorry if this caused issues for you.  We will fix this.

[2018-07-24 20:50] zerthimon commented on #2483
@crosbymichael :+1:

[2018-07-24 22:32] dmcgowan opened #2494 "Fix label parse error when `/` is used"
We use `/` in labels to deliminate between namespaces and label name, (i.e. `containerd.io/uncompressed`). However using `/` in a label filter seems to break today in `ctr`, disallowing using these labels to filter.

[code]

[2018-07-25 04:06] frezbo commented on #2262
@AkihiroSuda any progress?

[2018-07-25 04:46] AkihiroSuda commented on #2262
Still waiting for the PR to be merged.

[2018-07-25 07:52] fuweid opened #2497 "[bug & proposal] overlayfs support more-layers-image"
## Bug

### Description

The number of layers is limited by the max size of the mount option buffer in the kernel (1 page/4096bytes in general).  For now, containerd uses the absolute path of snapshoter. Basically, the `root` path is like `/var/lib/containerd/io.containerd.snapshotter.v1.overlayfs/snapshots`[68]. We cannot pull image which has almost 60 layers (~ 4096/68).

### Reproduce

[code]

[2018-07-25 08:18] AkihiroSuda commented on #2497
Ideally we should reexec+chdir but I fear it breaks API compatibility.

Can we keep the current API and add an overlayfs-specific chdir hack to https://github.com/containerd/containerd/blob/master/mount/mount_linux.go  ?

[2018-07-25 08:34] fuweid commented on #2497
Agree with the API compatibility point.

I think we can use `Type:overlay` and `Option:chdir opt` to hack the chdir, like:
[code]
Doable but hacker. 😄

[2018-07-25 08:46] AkihiroSuda commented on #2497
That would make containerd v1.1 client unaccessible to containerd v1.2 daemon.
Can we let `mount_linux.go` auto-detect chdir path from `options` values?

[2018-07-25 09:19] ijc commented on #2497
I guess it'll be a while before it is generally available enough for us to rely on, but it seems there is work afoot in kernel-land which would remove the 4k limit to mount options: [Six (or seven) new system calls for filesystem mounting](https://lwn.net/SubscriberLink/759499/c56da8169ae758a1).

[2018-07-25 09:42] fuweid commented on #2497
The client just sends the mount info into `diff.apply` service and the mount info comes from `snapshot` service. I think the lower-version client can access the higher-version daemon. Is that correct?

[2018-07-25 09:57] AkihiroSuda commented on #2497
That's true if the client just let the daemon `mount(2)`, but IIUC the client should be also allowed to `mount(2)` by itself.

[2018-07-25 14:16] crosbymichael commented on #2327
@ygnmhdtt it's all yours!  Thanks!

[2018-07-25 18:38] dmcgowan commented on #2497
Thanks for bringing this up, this was next on my 1.2 TODO of issues to look at

My plan was to implement this functionality entirely in the `mount` package, and preventing any API facing changes or changes to the snapshotters. Any snapshotter, not just the included overlay snapshotter should be able to return standard overlay mounts without having to add customized mount options. This puts the bur

[2018-07-26 05:53] miaoshixuan opened #2501 "[question] how to push image to a private registry without https access"
**Description**
    I want to push a image to my private registry with `ctr`. It returned `http: server gave HTTP response to HTTPS client`. In docker,we can fix it by config `insecure-registry`.It seems that there is no such configuration in `ctr` or `containerd`.

**Describe the results you received:**

**Describe the results you expected:**

**Output of `containerd --version`:**

[code]

[2018-07-26 09:47] kadisi commented on #2285
@crosbymichael  does it only append default labels for every namespaces when list namespaces ?    if we implement it in `contanerd/namespaces.go`,  maybe we need add another client field for `remoteNamespaces` struct to client cri service.  this client will get cri config . but we need change `github.com/containerd/cri/cri.go` code to let it provide Getconfg function  .    am i right?

[2018-07-26 10:44] fuweid commented on #2497
@dmcgowan Thank you for the detailed explanation!

 Both **Symlink** and **2 layer mount** are better than **re-exec**. But they also causes the burden about cleanup the tmpdir or symlinks after `mount`. In this point, I prefer to `re-exec`.

However, we don't need to chdir all the time. Skip the `compact lowerdir option` if the number of bytes of options doesn't hit the limitation. I make PR #250

[2018-07-26 15:19] kadisi commented on #2231
@dmcgowan thank you, and maybe we need change some `.proto` file in `api/services`. such as
[code]
is that right?

[2018-07-26 17:36] Random-Liu commented on #2438
@lbernail

Based on what you describe:
1) ok according to crictl ps - This means that cri plugin is working fine.
2) ctr -n k8s.io t ls hangs without any output - This is usually cased by a hanging containerd-shim. @crosbymichael We should probably add timeout to those calls. We shouldn't hang containerd for a single container.

Can you send `SIGUSR1` signal to containerd daemon and check the log?

[2018-07-26 17:38] Random-Liu commented on #2478
I'll unassign myself for now based on https://github.com/containerd/containerd/issues/2478#issuecomment-406435796.

[2018-07-26 18:02] onlyjob commented on #2478
You are missing the point, @stevvooe. It would be OK if commit match the release tag but it is not. Vendoring random commits instead of proper releases is the problem.

It is valid criticism.

[2018-07-26 18:42] #2320 closed

[2018-07-26 20:06] dmcgowan commented on #2497
@fuweid using Docker's re-exec is not an option. We don't pull in pkg from `docker/docker/pkg`. That being said, that re-exec approach is not really a good design and mostly working around a difficulty in Go around supporting fork. Gvisor seemed to accomplish this though in https://github.com/google/gvisor/tree/797cda301677abc8523d5a2a8d731312cc43bce4/pkg/sentry/platform.

The mount package would

[2018-07-27 01:38] fuweid commented on #2497
@dmcgowan I will try the Gvisor way. Thank you!

[2018-07-27 09:01] lbernail commented on #2438
The CRI plugin is working fine but the `crictl ps` answer is misleading (all containers are shown as `Running` but some are `stopped` according to runc

And yes I can see a containerd-shim without any child for all all stopped containers

[2018-07-27 09:36] lbernail commented on #2438
I looked at the stack trace on a server with the issue and it's definitely very different from servers without it:
- ok server: ~100 goroutines
- server with the issue: ~2500 goroutines

I attached the goroutine stack dump

[containerd_trace.log.gz](https://github.com/containerd/containerd/files/2235289/containerd_trace.log.gz)

[2018-07-27 09:53] ijc commented on #2497
Isn't the need for `rexec` pretty much eliminated by the changes to `runtime.LockOSThread` in GO v1.10? See second paragraph of [Runtime in the go1.10 release notes](https://golang.org/doc/go1.10#runtime).

It's now safe to `runtime.LockOSThtread` and then `Chdir` or flip namespace as much as you like, that OS thread is now tainted and will never be used for another goroutine after the current one

[2018-07-27 11:45] tholu commented on #2483
I just discovered this on a fresh installation of 18.06 on Debian 9 as well. Fortunately, it is an authenticated interface as @dmcgowan stated and thus there shouldn't be an immediate security issue with it. Are there any details how the interface works? It responds with a 404 when I issue an HTTP request on it.

I support disabling the listening on a public IP by default.

[2018-07-27 13:44] crosbymichael commented on #2483
The change in docker was merged to disable this by default.  It should come out in a patch release soon.

For containerd standalone usage you can add:

[code]

In the `config.toml` for containerd or manually configure the port in the cri options of the config.

[2018-07-27 13:44] #2483 closed

[2018-07-27 15:05] crosbymichael commented on #2438
Ya, i'll have to look into this

[2018-07-27 16:50] dmcgowan commented on #2497
There is still no way to prevent the `os.Chdir` from having an effect on the whole process. However if there is a way to call http://man7.org/linux/man-pages/man2/clone.2.html without `CLONE_FS`, that is probably the best option.

[2018-07-30 02:12] kadisi commented on #2501
containerd config file default is `/etc/containerd/config.toml`,

you need config [plugins] - [plugins.cri.registry] - [plugins.cri.registry.mirrors]

and restart containerd

[2018-07-30 02:57] miaoshixuan commented on #2501
sorry, I have configed this but it does not wort when i use `ctr` instead of 'crictl'

[2018-07-30 14:22] kadisi commented on #2501
can you show your config.toml and your `ctr image push` commond ?

[2018-07-30 18:03] stevvooe commented on #2285
@kadisi The labels exist on namespaces but using them to set defaults for certain items has not been implemented. Currently, defaults for the client are taken from the [root package](https://godoc.org/github.com/containerd/containerd) and the [defaults package](https://godoc.org/github.com/containerd/containerd/defaults). It would be good to consolidate these in a defaults package that could seed

[2018-07-30 20:11] stevvooe commented on #2494
With a slash in the filter key, you need to quote the value, as it is not supported in the field_mask identifier character set.

Furthermore, "containerd.io/uncompressed" isn't really a valid selector. It should declare the field on which it is operating, such as `labels."containerd.io/uncompressed"`, if I remember correctly.

[2018-07-30 21:09] dmcgowan commented on #2494
Is the same true for `.`? The client doesn't seem to be sending values as `labels."containerd.io/uncompressed"`

[2018-07-30 21:18] dmcgowan commented on #2494
The filter seems to work with including the specifier and adding quoting such as
[code]

I am going to close this as this isn't a filters parse issue, although maybe something we need to be clearer in our documentation or fix if we are constructing these filters somewhere without including the quotes.

[2018-07-30 21:18] #2494 closed

[2018-07-30 22:15] tonistiigi opened #2511 "filters: support more data types and operators"
Current filters only support matching string values and support a limited set of operators. This doesn't work well with some data types that use non-text values. Eg. in https://github.com/moby/buildkit/blob/a5f442f2f4a068ef26ba71a865892a4a05db7705/cache/manager.go#L703 the most useful filters would be based on time and usage counters.

It would be good to be able to match based on readable time di

[2018-07-30 22:25] stevvooe commented on #2511
@tonistiigi The existing filters are the simplest thing that would get us out the door.

I think this can be done with some refactoring of the [filter adapter](https://github.com/containerd/containerd/blob/master/filters/adaptor.go#L24) to return an interface, rather than just a string. There were a few other fixes that need to be done, as well. Its not a beginner task, but the engineering work is

[2018-07-31 00:37] dmcgowan commented on #633
Updated this with more details, considering this for 1.2 to support `BuildKit` cross namespace exporting

[2018-07-31 02:03] miaoshixuan commented on #2501
@dmcgowan It works,thanks a lot.

[2018-07-31 14:14] crosbymichael commented on #634
I think this can be closed now.  We have a stable api, testing various platforms and CRI tests running across both containerd and cri repos. Travis is working well for us.

[2018-07-31 14:14] #634 closed

[2018-07-31 15:05] justincormack commented on #2029
I don't think `containerd` should be in the business of policy, like scoring, it should just have a mechanism to specify an architecture to override `GOARCH`. The client layer can make value judgements on what the user wants.

[2018-07-31 15:27] #2400 closed

[2018-07-31 15:52] crosbymichael commented on #2438
Do you know of an easy way to reproduce outside of kub?

[2018-07-31 16:01] estesp commented on #2029
@justincormack can you specify what you mean by "client layer"? One issue that comes to mind: imagine a world where `crictl pull`, `docker pull`, and `ctr images pull` all implemented some sort of "scoring"/decision tree that operated slightly differently. You could end up with different behavior on an ARM platform for each against the same target image. Seems unlikely, as I assume all these layer

[2018-07-31 17:04] justincormack commented on #2029
It is way more complicated to "just get it right". eg for arm you need to probe the hardware to see what capabilities it has and even that is complicated eg Alpine arm32 images run on Raspberry Pi but Debian ones don't. It might be that someone is implementing via qemu emulation in which case you can try probing the `binfmt` config. I might not want i386 images running on my cluster for security r

[2018-07-31 19:56] crosbymichael commented on #2483
@sindarina with the docker change in https://github.com/moby/moby/pull/37519

They are working on getting an 18.06.1 release out with this fix.  Its an issue that we couldn't quickly fix in cri or containerd because, like you said, docker dynamically generates that config.

[2018-07-31 22:12] Random-Liu opened #2515 "CRI Test Failure is ignored."
CRI Validation Test failed, but travis still reported test is green. https://github.com/containerd/containerd/pull/2468

It seems that travis didn't catch exit code correctly. https://github.com/containerd/containerd/pull/2274

We should fix this to get CRI validation test signals.

[2018-08-01 00:14] stevvooe commented on #633
Mostly LGTM on this proposal. Glad its here.

Might want to detail this workflow a little more. How are the source and target namespaces specified?

[2018-08-01 01:37] #2501 closed

[2018-08-01 02:32] miaoshixuan opened #2516 "container using not root user can not bind 80 and 443 port"
**Description**
/kind bug

I used containerd as the remote runtime for my kubernetes cluster.

when I run a pod with the config.
[code]
It will work when I change port to other ports (like: 8080,8443) or change user to root.

**Steps to reproduce the issue:**
1.
2.
3.

**Describe the results you received:**
It returned CrashLoopBackOff with the log 'Port 80 is already in use'

**Describe the resul

[2018-08-01 08:30] miaoshixuan commented on #2516
https://github.com/kubernetes/ingress-nginx/issues/2781

[2018-08-01 08:34] miaoshixuan commented on #2516
https://github.com/kubernetes/ingress-nginx/issues/2781

[2018-08-01 14:28] crosbymichael commented on #2516
This has to do with ambient caps for non root users.

https://github.com/moby/moby/pull/26979

[2018-08-01 14:28] crosbymichael commented on #2516
Did this work before when using Docker with kube?

[2018-08-01 15:05] estesp commented on #2029
My perspective is that you are conflating "expected default behavior" with especially desired behavior. I think **by default** based on the number of issues/PRs around this topic, people expect the runtime to match a locally-inspected hardware architecture to the default known architecture image which best fits that hardware. There are many other variants and corner cases, and I believe those can

[2018-08-01 15:10] justincormack commented on #2029
containerd has always not had policy embedded, so yes the client, Docker or CRI should be doing the deciding. A library could be provided for a default "guess what the user might want". I don't think the current "first entry that matches in the list" policy is correct, the API should require an ordered list of preferences to be specified to make it deterministic.

[2018-08-01 18:50] #2515 closed

[2018-08-02 01:45] miaoshixuan commented on #2516
@crosbymichael I works with docker

[2018-08-02 05:58] lifubang opened #2521 "Help, could you please give a example about how to set up network for NewContainer with golang?"
Help, could you please give a example about how to set up network for NewContainer with golang?
When I use libnetwork.WithOverlayNetwork("cluster-master"), it raise some errors:
[code]

[2018-08-02 20:41] roboll commented on #2438
We haven't reproduced it outside of kube, no. (@lbernail  and I work together)

[2018-08-04 07:58] tnextday opened #2527 "containerd sets the wrong gid and groups permissions"
**Description**

When only USER is set in the Dockerfile, containerd also sets the values of gid and group.

relate issue: https://github.com/bitnami/bitnami-docker-redis/issues/100

**Steps to reproduce the issue:**
1. Run docker.io/bitnami/redis:4.0.10-debian-9 use containerd
2. Get uid and gid permissions in the container

**Describe the results you received:**

[code]

**Describe the results y

[2018-08-06 14:10] crosbymichael commented on #2516
@justincormack is this an ambient issue that makes docker work but other spec configurations not?

[2018-08-06 14:18] justincormack commented on #2516
This is not expected to work as it would require ambient capabilities, or setting `--sysctl net.ipv4.ip_unprivileged_port_start=0` and a recent kernel. But there have been some versions of cri that may have allowed this in the past - exactly what versions of software are you using with Docker where this works?

[2018-08-06 15:15] pjsg commented on #2483
Is this a security issue? There is one message above that says that a single use token is required to make anything happen -- but it is unclear whether that is authoritative.

[2018-08-06 19:11] crosbymichael commented on #2527
@tnextday i submitted a PR to fix this after thinking about it more and chatting with some ppl.  I think its still better for your images to set the group explicitly but we will match the docker implementation on this one.

[2018-08-06 21:27] lbernail commented on #2438
Yes, sorry I've been away for a few days. Today we see the issue regularly (but not too often) on kubernetes but I'll try and reproduce based on the ideas we have using crictl only

[2018-08-06 21:45] #2527 closed

[2018-08-07 09:31] kadisi opened #2531 "[question] ctr task start container , hung it ~~~"
**Description**
after create a container
[code]

i want to start this contaier, so i exec:
[code]
this commond will hung it,  does it exec like `docker start` exe in the background?
**Steps to reproduce the issue:**
1.
2.
3.

**Describe the results you received:**

**Describe the results you expected:**

**Output of `containerd --version`:**

[code]

[2018-08-07 14:36] crosbymichael commented on #2531
How do you know it hung and it's not running with nginx not outputting anything?

[2018-08-07 20:19] tswift242 opened #2533 "Container checkpoints are not always compatible between different versions of docker"
This is not a bug report, but rather something that possibly should be taken into account in the design of new checkpoint/restore work. Since, from my understanding, new C/R feature work is being done in containerd, I am posting this issue here rather than in the moby repository.

Context:
We use a build of docker 17.09.1 which includes https://github.com/moby/moby/pull/35694 so we can use the --c

[2018-08-08 02:32] kadisi commented on #2531
@crosbymichael ,  when i exec `ctr task start nginx`, and click the enter key, it would not return my command line, and would not outputting anything.

[2018-08-08 04:16] HusterWan commented on #2489
close the issue since it not a problem of containerd,

[2018-08-08 04:16] #2489 closed

[2018-08-08 15:16] crosbymichael commented on #2531
It's an nginx server, it most likely won't.  `ps aux  | grep nginx` to see if the process is running.

[2018-08-08 17:04] roboll commented on #2438
I don't know if any of this will be helpful but I've been digging a bunch today and here's what I've found.

On a node where this issue manifests, the `containerd-shim` processes never get killed. When I `crictl stop {ctr}` `containerd-shim` strace looks like this (and does not exit).

[code]

On a healthy node with the same interaction `containerd-shim` strace looks like this:

[code]

Seeing a l

[2018-08-09 04:38] #2521 closed

[2018-08-09 10:16] lifubang opened #2540 "help, no valid IP addresses."
When I use crictl runp, I get some errors:
[code]
The containerd's log is:
[code]

I start containerd with: sudo containerd

cni:
[code]

and, I hava post a issue in cri-tools:
https://github.com/kubernetes-incubator/cri-tools/issues/366

How to fix this problem, Thanks.

[2018-08-09 12:02] Ace-Tang opened #2541 "[question] why remove checkpoint workdir after checkpoint"
**Description**

Hi, I am using checkpoint function of containerd, and was curious about this code.
[code]
why containerd remove criu directory after checkpoint finish, I think criu log is important for debuging.
And I am also wondering if we can keep this directory?

**Steps to reproduce the issue:**
1.
2.
3.

**Describe the results you received:**

**Describe the results you expected:**

**Outpu

[2018-08-09 14:31] #2497 closed

[2018-08-09 15:12] crosbymichael commented on #2533
Interesting.  @kolyshkin @avagin any ideas on how to handle something like this? Do we need to inspect the spec to build up the external mounts on restore?

[2018-08-09 15:15] crosbymichael commented on #2541
Because we are checkpointing to an image now.  The debug logs should stay in the container bundle for inspecting, if they are not we can fix that.  But after an image is created, there is no reason to keep this dir around

[2018-08-09 16:22] #2352 closed

[2018-08-09 16:23] crosbymichael commented on #2250
This is being done in a separate project as it probably isn't a good fit for containerd mainline

[2018-08-09 16:23] #2250 closed

[2018-08-09 20:42] Random-Liu commented on #2540
@lifubang What cni version are you using? I remember too old cni doesn't work with containerd.

The current cni plugin version we are testing with is v0.6.0.

[2018-08-10 04:09] lifubang commented on #2540
@Random-Liu cni plugin is from https://github.com/containernetworking/plugins/releases/download/v0.6.0/cni-plugins-amd64-v0.6.0.tgz

and I test the cni with it's demo from "https://github.com/containernetworking/cni/tree/master/scripts", it can work. But containerd can't work.

root@iZ2ze8rkx46zyx6mojyeb5Z:~/gocode/src/github.com/containernetworking/cni/scripts# **ls**
[code]

root@iZ2ze8rkx46zyx6

[2018-08-10 05:17] abhi commented on #2540
@lifubang it looks to me that the bridge cni plugin is not returning "valid" result back on the ADD.  I can try it tomorrow and get back to you.

[2018-08-10 07:54] LeoCavaille commented on #2419
Just documenting here that this caused an issue again for us, software like elasticsearch (using old versions) used `/etc/mtab` via some C bindings (haven't checked thoroughly but I believe the Glibc uses `/etc/mtab`) to check for disk usage and trigger data reallocation.
In this case and the previous case when I reported the issue we had to manually create the symlink to restore functionality.

[2018-08-10 08:15] fuweid commented on #2497
Thanks @dmcgowan , @ijc and @AkihiroSuda for the help!

[2018-08-10 12:14] Ace-Tang commented on #2541
I can describe how we use the checkpoint. We used to use docker-ce 17.03 checkpoint funtion,
[code]
docker always keep the dump.log and restore.log under the workdir, since we need the dump.log and restore.log to debug `criu`.
Now we want to move to use containerd. So I think if containerd can keep the dump.log that will be good.

[2018-08-10 12:17] Ace-Tang commented on #2541
@crosbymichael , by the way, I find that every time containerd restore a container from a checkpoint, it will leave the tmp directory, since containerd always generate a tmp directory to store dump imgs. I think it can be fixed, can we remove the tmp directory after restore finish.

[2018-08-10 17:45] crosbymichael commented on #2533
@tswift242 I added all the checkpoint/restore issues and work to a containerd 1.3 milestone.  we are working though windows and runtime support right now and then I want to focus on this for 1.3

[2018-08-13 07:30] kadisi commented on #2531
@crosbymichael
i found that if the args command is running in foreground , ctr task start will hung it , and can not return my command line.
such as `ctr c create -t docker.io/library/nginx:latest nginx` and the spec config file is
[code]
or if the args changed to `"sleep", "50000"`, i also hung it when i exec `ctr task start nginx`
but , if i use runc commond to start container, it will ok, and r

[2018-08-13 10:39] lifubang commented on #2540
@abhi
It's the reason of ("cniVersion": "0.2.0") in 99-loopback.conf
Because cni interface have a bug when convertFrom020 when the type is loopback.

[2018-08-13 15:28] crosbymichael commented on #2540
Why not just fix the 99-loopback.conf?

[2018-08-13 17:30] Random-Liu commented on #2540
@lifubang Which sample conf are you talking about?

[2018-08-13 17:36] crosbymichael commented on #2540
I think the containernetworking/plugins readme shows loopback with 0.2.0 right @lifubang ?

[2018-08-13 17:39] crosbymichael commented on #2531
What runc command are you using?

[2018-08-13 17:41] crosbymichael commented on #2419
We could probably create an option that would create these symlinks when creating a snapshot.

[2018-08-13 18:09] abhi commented on #2540
I think any CNI plugin has to be conformant to the spec. If they are not then ^ the result you posted is expected. The supported loopback config is part of the go-cni options used by containerd. The ```99-loopback.conf``` is not really under the purview of containerd. If it doesnt return a valid IP address then loopback plugin must be fixed appropriately in containernetworking/plugins.

However I

[2018-08-13 19:06] crosbymichael commented on #2533
We should have like a town hall or something to discuss what all we want out of C/R in containerd 1.3 if everyone is interested

[2018-08-14 02:50] lifubang commented on #2540
@Random-Liu @crosbymichael The sample is from
https://github.com/containerd/containerd/blob/master/vendor/github.com/containernetworking/cni/README.md

[2018-08-14 09:41] lifubang commented on #2540
It's It's issue of https://github.com/containernetworking/plugins

[2018-08-14 09:41] #2540 closed

[2018-08-14 14:28] crosbymichael commented on #2531
If you want the same thing, just do `ctr run --detach --null-io`  Runc detaches and does not setup io

[2018-08-14 14:39] crosbymichael commented on #2531
I'm going to close this for now but we can keep chatting if you still have issues

[2018-08-14 14:39] #2531 closed

[2018-08-14 15:10] tswift242 commented on #2533
@crosbymichael Thanks for adding these issues to a milestone. I think some kind of sync up is a great idea and I would be happy to participate.

[2018-08-15 03:13] archmangler commented on #2483
Not being able to disable this feature easily results in great difficulty complying with the Docker CIS Security  Benchmark. Ideally, if exposing this network service is not required (and it is not unless we're using Swarm/Kubernetes) then it should be disabled in favour of the docker socket local to the host. The CIS _host_ security benchmark requires us to manage this listening port with firewal

[2018-08-15 07:15] linxiulei opened #2546 "Out of order at Creating/Destroy CNI and Sandbox"
---------------------------------------------------
BUG REPORT INFORMATION
---------------------------------------------------

**Description**

This is a potential bug (with k8s + cri/containerd + kata). I walk through the codes related to cri as followed.

1. https://github.com/containerd/containerd/blob/037fc5ed86c38b692474ca9fb41aa303e2c383e0/vendor/github.com/containerd/cri/pkg/server/sandbox

[2018-08-15 08:09] kadisi opened #2547 "set containerd-shim log output to a specific log file"
**Description**
containerd start a containerd-shim rrpc server for every container.

**Steps to reproduce the issue:**
1.
2.
3.

**Describe the results you received:**
containerd start a containerd-shim rrpc server for every container.
but i can not get containerd-shim output log.

**Describe the results you expected:**
i want set every containerd-shim output log to a specific file to check shim l

[2018-08-15 08:48] Random-Liu commented on #2546
This sounds reasonable to me. However, the sandbox/container lifecycle management logic is a little tricky, I need to take a look to see whether and how we could fix this.

[2018-08-15 14:05] crosbymichael commented on #2181
This is being phased out with runtimev2.  There really isn't any need for this functionality.

[2018-08-15 14:13] AkihiroSuda commented on #2181
Can we close this issue then?

[2018-08-15 14:15] crosbymichael commented on #2181
Ya, lets do it.

[2018-08-15 14:15] #2181 closed

[2018-08-15 14:45] crosbymichael commented on #2547
You mean the logs from the shim itself or logs of the container?

[2018-08-15 14:58] crosbymichael commented on #2541
Ok, with shimv2, we now send shim logs to the main containerd daemon.  I think we can forward the criu logs to the daemon and you can see them via journalctl -u containerd.  Would this work?

[2018-08-16 02:53] kadisi commented on #2547
@crosbymichael  the logs from the shim

[2018-08-16 08:46] kadisi commented on #2531
@crosbymichael thank you

[2018-08-16 12:56] fuweid opened #2552 "[question & help] history about default value of NoNewPrivileges"
**Description**

In our production env, the non-root user in container can't `sudo`. The shell will raise the error `sudo: must be setuid root`. I found the issue https://github.com/opencontainers/runc/issues/705 and the `sudo: must be setuid root` is solved by `NoNewPrivileges: false`. This sudo issue doesn't reproduce by steps. It just show up in one specific image which has 80+ layers.

Just in

[2018-08-16 16:28] crosbymichael commented on #2552
With containerd, when you use it via the api, you can set the spec to whatever you want.  Our default is minimal and has a lot of security settings applied.  It does not make sense to set it to false for the containerd default.  You can set this in your application when it generates specs.

[2018-08-16 16:28] #2552 closed

[2018-08-16 20:42] crosbymichael commented on #2547
Right now it's handled internally.  With runtime v2 coming out in containerd 1.2, they shims all send logs back to the daemon and you can see shim logs in the containerd logs.

If you build master and try this out:

[code]

Will start your container with the new runc shim under the runtime v2 work.  Its `runc.v1` because its' runc version 1 of the shim, just in case that and runtime v2 is confusin

[2018-08-16 20:42] #2547 closed

[2018-08-17 04:50] cyphar commented on #2483
To everyone suggesting the use of `--containerd` it should be noted that we have been shipping `--containerd` with openSUSE for a while, and recently switched to the more "supported" setup of making Docker spawn it as a subprocess.

The reason why we switched is that Docker has quite a few special-cases built around whether containerd was spawned by Docker -- and those special cases (as far as I c

[2018-08-17 12:04] lbernail commented on #2438
I enabled shim_debug on containerd and managed to get a stack trace of a blocked shim:
[shim_stackdump.txt](https://github.com/containerd/containerd/files/2297111/shim_stackdump.txt)

[2018-08-17 14:57] crosbymichael commented on #2392
Isn't this an issue running something other than the pause container as it's mounted as a read-only container?  Is it that simple?

[2018-08-17 15:14] lbernail commented on #2392
I had the same issue today. What happens is the pod gets in `Ready` for a second or two and then becomes `NotReady`. I can see the pause container running in the sandbox using `ctr`:
[code]
We are using containerd with the standard pause container, as shown above and in the config.toml:
[code]

[2018-08-17 20:37] Random-Liu commented on #2392
@lbernail The pod sandbox become not ready in `crictl pods`? Or the K8s pod readiness check failed?

[2018-08-17 20:45] Random-Liu commented on #2392
@lbernail Replied on slack.

[2018-08-18 08:59] lbernail commented on #2392
In my case it turns out the kubelet running on the same node was killing this unknown pod. After stopping the kubelet everything worked great

[2018-08-18 09:05] lbernail commented on #2438
Some additional info. The pod for which we see this issue most of the time (not sure if it is the only one but it is definitely the most common one by far) is running in the host pid namespace. In addition, we have readiness and liveness probes that exec into the container.

I have been trying to reproduce the issue based on this: create a container in Host pidns, exec a long-lived process in it a

[2018-08-20 01:44] kadisi commented on #2327
@crosbymichael  do you mean if any resources(such as bundle ,shim) removal failed,  the entire removal will rollback ?

[2018-08-20 03:56] Ace-Tang commented on #2541
I think it can fix my problem, would you please show me the change when you finish this work, @crosbymichael , thanks.

[2018-08-20 10:00] win-t commented on #2483
Hmm, I'm also curious about this. Why do we need to open the network port again? why not Unix socket?.
CMIIW, AFAIK, containerd is controlled by kubelet and both of them run on the same host.

[2018-08-20 14:02] crosbymichael commented on #2327
There is a bundle directory and working directory that should be removed atomically.  Usually it's as simple as `mv bundle tmpbundle && rm -r tmpbundle`

[2018-08-20 15:35] crosbymichael commented on #2483
@win-t good question.  Maybe @Random-Liu knows

[2018-08-20 16:52] crosbymichael commented on #2483
Docker 18.06.1 will be out tomorrow with this fix.  Sorry all

[2018-08-20 21:05] lbernail commented on #2438
I tried the following:
- pod in host pidns
- main container process does not quit on SIGTERM
- exec-ed a process that also does not quit on SIGTERM
- deleted the pod
=> Initial kill failed but after 30s all processes were properly killed

I'm going to continue looking

[2018-08-21 00:30] andrewhsu commented on #2029
This issue seems to me a lot like what the HTTP Accept headers try to accomplish: https://www.w3.org/Protocols/rfc2616/rfc2616-sec14.html

Has weights, the `q` value; and a list of suitable types that can be received.

[2018-08-21 02:29] erikh commented on #2483
<3 just FYI, this totally blows up a dind with --net host.

glad to find out it was fixed; just dropping this note here so anyone else with this issue knows to wait for the patch.

[2018-08-21 11:39] BooleanCat opened #2558 "Containerd's use of `runc kill --all` on `Task.Delete`"
Hi friends. I'm one of the developers building [Garden](https://github.com/cloudfoundry/guardian), CloudFoundry's container runtime interface. We've been experimentally using containerd as a backend rather than invoking runc directly for container creation, deletion and process management.

Our product supports creation of "sidecar" containers (that share some containery resources with another con

[2018-08-21 14:12] crosbymichael commented on #2558
I thought that we don't default to kill --all, its an Opt that you pass on Kill or Delete.  If you remove that Opt, it shouldn't happen.  If it does, it's probably a bug.

[2018-08-21 14:19] BooleanCat commented on #2558
@crosbymichael I'll work up a little reproduction.

[2018-08-21 14:39] crosbymichael commented on #2438
What was the initial kill failure?

[2018-08-21 15:16] lbernail commented on #2438
It failed because the containers were ignoring SIGTERM (on purpose). So after the timout period they were properly SIGKILL-ed

[2018-08-21 18:46] krsoninikhil commented on #2285
Can I start working on this?

[2018-08-21 19:30] crosbymichael commented on #2285
@krsoninikhil go for it unless @kadisi has already started

[2018-08-22 01:35] estesp commented on #2451
Is there anything else we still need to investigate here or are the 2 PRs already merged sufficient?

[2018-08-22 01:36] estesp commented on #2360
#2361 should have closed this issue.

[2018-08-22 01:36] #2360 closed

[2018-08-22 01:55] hairyhenderson commented on #2451
👋 @estesp 😁 TBH I'm not sure. I seem to recall that the patched containerd still had some entropy-related hanging. But my memory's fuzzy on exactly what combination of things I tried.

That particular project has been a bit on hold while I've enjoyed some summer vacation, but I'll try to get back to this in the next few days to see if the latest containerd still stalls.

[2018-08-22 15:20] BooleanCat commented on #2558
We've managed to come with a reproduction, we build this binary which creates containers and tasks but will ensure each container uses the same cgroupPath:

[code]

If we run

[code]

Then we kill one of the tasks:

[code]

As you can see, killing only one of the tasks resulted in both tasks stopping.

We can work on a PR to fix this.

cc @georgethebeatle

[2018-08-22 15:47] crosbymichael commented on #2558
@BooleanCat thanks for the repo. It does look like a bug to me ;)

[2018-08-22 17:32] Random-Liu opened #6649 "Manage content store disk usage"
Currently, kubelet only manages snapshot disk usage, `cri` plugin doesn't report content store disk usage to kubelet.

The main reason is that content store might be in a different disk partition with snapshot, while kubelet only manages one image filesystem partition.

We should think about how to manage this better.

/cc @yujuhong

[2018-08-23 12:50] kadisi opened #2569 "[Question] When to support overlay2 ?"
**Description**

**Steps to reproduce the issue:**
1.
2.
3.

**Describe the results you received:**
now containerd support overlay fs
[code]

**Describe the results you expected:**
does it support overlay2 ?  if not, when to support overlay2 , do we have plan?

thank you.
**Output of `containerd --version`:**

[code]

[2018-08-23 14:15] cpuguy83 commented on #2569
"overlay2" is a Docker monicker as the design of the driver was a breaking change from "overlay".
comtainerd's overlay driver is roughly equivelent to Docker's "overlay2".

[2018-08-23 15:27] crosbymichael commented on #2569
Yes, our overlay implementation uses the latest features and that is why we just have `overlayfs`

[2018-08-23 15:27] #2569 closed

[2018-08-23 16:16] gcapizzi commented on #2558
Hi @crosbymichael!

While working on this today, we've noticed that [`TestContainerKillInitPidHost`](https://github.com/containerd/containerd/blob/830363acac529947d794b50c3eec3bc47c59a183/container_linux_test.go#L1043) tests precisely for this behaviour: even then invoked without `WithKillAll`, `task.Kill` is expected to kill all the init process children.

If we believe this behaviour is a bug, w

[2018-08-23 16:45] crosbymichael commented on #2558
@gcapizzi Yep, that test will need to be updated.

Your bug is right here:
https://github.com/containerd/containerd/blob/master/runtime/v1/linux/proc/init.go#L252

[2018-08-23 16:52] crosbymichael commented on #2558
However, I believe the host pid stuff is a little different from what you are seeing.  I think `runc` will kill everything in the cgroup by default on host pid so things don't leak out after the main process exits.

[2018-08-24 15:31] crosbymichael commented on #2438
@lbernail what distro are you running?  And can you `ps aux | grep runc` to see if runc kill is stuck?

[2018-08-24 15:51] lbernail commented on #2438
We are running ubuntu 1804
On a box with the issue, one of the shim is completely unresponsive: when trying to exec into it with ctr it simply hangs.
There is no running runc process on the box, but I can see a stopped container with `runc list`

[2018-08-24 15:56] lbernail commented on #2438
@Random-Liu and I had a debugging session yesterday and we made some progress:

On a box with the issue:
- a single shim is completely unresponsive (we can `ctr exec` in the others)
- we can't start containers anymore because of the blocked shim (it looks like containerd is trying to get a state of all containers and since once of the shim hangs it also blocks)
- the stack dump of containerd I sha

[2018-08-24 16:58] dweomer opened #2576 "`grpc.WithBlock()` in `containerd.New()` swallows underlying issue when attempting to connect"
**Description**

@crosbymichael / [boss](https://github.com/crosbymichael/boss) is pretty awesome and has spurred my interest in developing something on top of ContainerD. However, right out of the gate, working with `ctr` and even `containerd.New()` is currently block-tastic and uninformative as to why.

**Steps to reproduce the issue:**
1. invoke `containerd.New()` via `ctr` (or a custom client)

[2018-08-24 18:00] dweomer commented on #2576
So, it appears that I didn't look closely enough at the `clientOpts.dialOptions` as setup by the `ClientOpt` vararg passed into `containerd.New()`. There is still a fix for `ctr` that I would like to submit at least, so I will work on that.

[2018-08-24 19:52] dweomer commented on #2576
@estesp yeah, I traced through the grpc code that is supposed to be honoring that opt and don’t see it working. It’s kind of a tangle but I did try mucking around with some changes in there but wasn’t successful.

[2018-08-24 20:40] lbernail commented on #2438
Here is a stack trace of a completely blocked shim
[hung-shim-stack.txt](https://github.com/containerd/containerd/files/2319803/hung-shim-stack.txt)

[2018-08-24 21:18] dweomer commented on #2576
This exchange on grpc/grpc-go#2031 would seem to suggest that `grpc.WithBlock()` is being used incorrectly in `containerd`.

https://github.com/grpc/grpc-go/issues/2031#issuecomment-387546794:

https://github.com/grpc/grpc-go/issues/2031#issuecomment-387552167

[2018-08-24 22:11] stevvooe commented on #2576
@dweomer This is an upstream issue with the way grpc has chosen to represent their connection logic. They don't differentiate correctly between a connection and a pool of connections and they don't correctly differentiate between transient and permanent errors.

To handle this correctly, we'd need some way to differentiate between these permanent errors and bail when they happen. I don't see a goo

[2018-08-24 23:51] dweomer commented on #2576
@stevvooe:

Agreed.

I was thinking something similar, and I think that refactoring `containerd.New()` to leverage `containerd.NewWithConn()` would sufficiently isolate the messes of such initial checks from connection setup.

While I agree, my current comfort level with the containerd code is significantly greater than with the grpc code. Further, I am aware of ttrpc and thought that there might

[2018-08-25 02:22] Random-Liu opened #2578 "Containerd should set a default timeout to containerd-shim operations."
No matter in shim v1 (https://github.com/containerd/containerd/blob/master/runtime/v1/shim/v1/shim.proto) or v2 (https://github.com/containerd/containerd/blob/master/runtime/v2/task/shim.proto), the only long running method is `Wait`. It makes sense to set a default timeout for all short running methods.

For `Wait`, we can leave the timeout to the caller, and it is intuitive for a `Wait` caller t

[2018-08-27 02:10] zerda commented on #2516
I have encountered same issue. I have created a kubernetes poc cluster with two workers, one is docker daemon, another is containerd. Same config is working at docker but not contained.

Pod configuration file
[code]

Container exception message
[code]

Kubernetes: v1.11.2
Docker: docker.io 17.03.2-0ubuntu2~16.04.1
Containerd: v1.1.2 & v1.2.0-beta.1

[2018-08-27 07:45] Random-Liu commented on #2516
@zerda I'm surprised that it works for docker. See https://github.com/kubernetes/kubernetes/issues/56374

[2018-08-27 09:13] zerda commented on #2516
@Random-Liu I'm not familiar with Linux capabilities, I may have misunderstood it.
Anyway here are some details about the node and pod.

Node Info
[code]

Docker Info
[code]

Pod Info
[code]

Process Status
[code]

[2018-08-27 18:51] Random-Liu commented on #2438
@crosbymichael @lbernail and I spent sometime to debug this issue last week, and we found the suspicious stack dump.

containerd stack dump:
[code]

containerd-shim stack dump:
[code]

Our current theory is that if an exec process forks another process, and the new process holds the IO open after the exec process dies, this may happen. I haven't reproduced this yet, but based on the use case descr

[2018-08-27 20:38] crosbymichael commented on #2516
I opened this for when kube supports ambient caps.  I think its the best we can do as a project because we require explicit settings.  I don't see how your docker works either ;)

[2018-08-27 22:45] #2516 closed

[2018-08-27 23:40] zerda commented on #2516
I have gone through the details again, and found  I have explicit set CAP_NET_BIND_SERVICE in the Dockerfile. Sorry for the misleading.

[code]

[2018-08-28 00:38] dmcgowan commented on #2153
Fixed by #2502

[2018-08-28 00:38] #2153 closed

[2018-08-28 16:01] georgethebeatle commented on #2558
We were digging into this problem a bit more and it seems that even though containerd provides a `WithKillAll` option to callers of `task.Kill`, implementation-wise killing all processes in the task's is already the default which renders the option useless and confusing. Here is why:

* There is `task.Kill` that can be specified the [WIthKillAll](https://github.com/containerd/containerd/blob/be42d

[2018-08-28 16:59] georgethebeatle commented on #2558
Even if we do so, when you kill the task the [goroutine](https://github.com/containerd/containerd/blob/master/runtime/v1/shim/service.go#L514) on the shim will perform a KillAll, so this is not sufficient. We have to also configure the shim when we create the task to not kill all when the init process finishes. And if we do so then we will potentially leak child processes. I am no longer sure this

[2018-08-28 17:02] crosbymichael commented on #2558
Well there are two use cases.  If a container is running in `pid host` then we need to kill all.  This is the default in runc and you cannot change it.

However, it is a bug in containerd that kill all is being used for non pid host containers.  When init dies in this case, the kernel will kill all processes in the pid namespace ( not the cgroup ) so your use case is safe and we still have guarant

[2018-08-28 17:19] AkihiroSuda opened #2590 "OCI exporter should support partial blob exportation of multi-arch images"
**Description**

Currently, OCI exporter fails when the image is multi-arch and foreign arch blobs are not present on the daemon content store.

We should allow skipping exportation of inexistent blobs.

**Steps to reproduce the issue:**
1. `sudo ctr images pull docker.io/library/alpine:latest` (without `--all-platforms`)
2. `sudo ctr images export a.tar docker.io/library/alpine:latest`

**Describ

[2018-08-28 17:20] AkihiroSuda commented on #2590
I'm not sure the issue should be labeled as `kind/bug` or `kind/enhancement`, but I'm adding `kind/bug` label because at least the test is not working as expected.

[2018-08-28 17:20] crosbymichael commented on #2590
I get the same type of error when doing a checkpoint and restore push

[2018-08-28 17:51] georgethebeatle commented on #2558
If I understand correctly the intent is to kill the whole cgroup only when we share the host's pid namespace so that we do not pollute it (because the host's init won't exit). In all other cases it is safe to not kill the cgroup, because we can count on the kernel cleaning up the pid namespace.

In this case I think we should both:
* remove the KillAll from https://github.com/containerd/containerd

[2018-08-28 17:54] crosbymichael commented on #2558
Ya, sounds good

[2018-08-28 17:56] AkihiroSuda commented on #953
memo: fsverity could be used for this purpose, although not available in the upstream kernel (yet)
https://schd.ws/hosted_files/lssna18/af/fs-verity%20slide%20deck.pdf

[2018-08-29 20:44] dfawley commented on #2576
FYI, https://github.com/grpc/grpc-go/pull/2276 was committed to fix `FailOnNonTempDialError` to work again (with a test added to make sure it doesn't happen again).  I'm not sure if that fully resolves this issue, but I wanted to let you know about the change.  Sorry for the bug.

From @stevvooe:

I'm not sure I understand this.  A `ClientConn` is a pool of connections.  We have this function unfo

[2018-08-29 22:56] dmcgowan opened #2594 "Utilize `os.features` for plugin images with linux library requirements"
## Background
Currently `ctr install` is limited to installing plugin images which are either statically compiled or contain `lib` dependencies. This is complicated when a plugin binary is not statically compiled because one of the lib dependencies is either `libc` or `libmusl`. Additionally there are library dependencies related to `selinux`, `apparmor`, and `devmapper` which may make distributin

[2018-08-30 09:31] hmtai opened #2596 "Containerd volume mount falied"
## Environment
* Operating System: Ubuntu 16.04 x86_64
* Container engine: cri-containerd 1.1.0 rc-1

## Install Logs
In  the auth-pdp daemonset,there are volume mount: `/certs,/certs/mongodb-ca,/certs/mongodb-client`
each volume mount we mount a secret and put the tls.crt tls.key into folder.
[code]

When auth-pdp pods running,the /certs/mongodb-ca mount failed, the  folder /certs/mongodb-ca is e

[2018-08-30 16:41] #2558 closed

[2018-08-30 23:02] rutsky commented on #2246
@AkihiroSuda shouldn't `image pull --snapshotter=naive` work without gid/uid remapping and mount syscalls? I thought that now called `native` snapshotter is supposed to work on unprivileged and old systems (from your PR description: https://github.com/containerd/containerd/pull/2261).

[2018-08-30 23:15] AkihiroSuda commented on #2246
No, especially for an image that contains files owned by non-default users.

Alternatively we could implement user.rootlesscontainers xattr as in umoci though

[2018-08-31 14:20] ehazlett opened #2602 "Proposal: Checkpoint / Restore Enhancements"
# Goal
Enhance checkpoint / restore to provide a way to checkpoint and restore containers on the same system to migrate across multiple systems via the standard image distribution infrastructure.

Use cases for checkpoint and restore:

- **Migration**: Move a single container from one system to another.  A migration should result in the same container id, snapshot, network information across syste

[2018-08-31 14:29] crosbymichael commented on #2602
ping @tswift242

[2018-08-31 20:11] tswift242 commented on #2602
@ehazlett Thanks for opening this issue and capturing these use cases. Very excited to see this work move forward. I'm not sure what exactly is the scope of this issue but a key enhancement tied to cloning is captured here: https://github.com/containerd/containerd/issues/2398. Is that worth capturing here as well? As you said, different network information is required for each clone, which is tric

[2018-09-03 16:13] danail-branekov opened #2606 "TestDaemonRestart hangs if shim_debug is enabled"
**Description**

While running containerd tests we wanted to capture the `containerd-shim` output to figure out how shim works. We found out that when doing so the tests started to hang when test runner waits for the containerd [here](https://github.com/containerd/containerd/blob/master/daemon_test.go#L117) (you can easily reproduce it via running `TestDaemonRestart`)

It turned out that tests han

[2018-09-04 18:09] Random-Liu commented on #2596
@hmtai We don't sort the mount in containerd cri plugin, and we assume the mount kubelet gives to us is in the right order.

However, obviously, kubelet doesn't sort the mount now.

This is a general CRI issue. I'll file an issue in Kubernetes.

[2018-09-04 18:14] ehazlett commented on #2602
@tswift242 ya we can capture #2398 here

We currently have two states (container and task).  I think we should probably keep them separate as they are for different purposes.

+1

[2018-09-04 22:30] Random-Liu commented on #2596
I filed https://github.com/kubernetes/kubernetes/issues/68249 in kubernetes upstream to clearly define the behavior.

And I'll fix containerd to have the same behavior with Docker for now.

[2018-09-05 01:31] hmtai commented on #2596
I got it.You explain it why docker can mount successfully in this situation.

[2018-09-06 21:44] #2596 closed

[2018-09-08 10:15] kadisi commented on #2590
@AkihiroSuda @crosbymichael i find that export operator  not match local platform when walk image.
beause you pull image use without --all-platform
`ctr images pull docker.io/library/alpine:latest (without --all-platforms)`
so containerd only fetch those image layers that match your platform, may be your platform is `linux , amd64`

`docker.io/library/alpine:latest` image index file is `7043076348

[2018-09-08 10:38] mootezbessifi commented on #2025
i have almost the same issue, can you tell me what is the fix

[2018-09-08 10:50] AkihiroSuda commented on #2590
yes, please

[2018-09-11 01:17] neelashah opened #2628 "Pulling image from artifactory gives `unexpected status: 401 Unauthorized`"
I have an image that I have been using with docker to do `image pull`. In my transition to move to containerd runtime, I am seeing an error when I try to pull this image with an error `failed to fetch anonymous token: unexpected status: 401 Unauthorized`.

I can pull other images with containerd from the docker.io repo just not artifactory. It seems like there is some authentication issue.

-->

*

[2018-09-11 08:55] kadisi opened #2629 "make check output WARNING: deadline exceeded by linter ** (try increasing --deadline)"
**Description**

**Steps to reproduce the issue:**
1.  when i exec `make check` to check my containerd code

**Describe the results you received:**

make check output this log:
[code]

**Describe the results you expected:**
does remove those `WARNING` ?

should we add `--deadline` options after `gometalinter --config .gometalinter.json ./... ` commond ???

but i find that the content of .gometalin

[2018-09-11 13:00] neelashah commented on #2628
@estesp Yes, the repo uses auth secrets and I verified that they are setup correctly in the format of `kubernetes.io/dockerconfigjson`

[2018-09-11 15:38] kadisi commented on #2578
@Random-Liu i found that in `containerd/client.go` , the grpc client has set `time out` option
[code]

Isn't that enough？

[2018-09-11 17:36] neelashah commented on #2628
@dmcgowan Sorry, I updated the description info and below is the revised output - I xx'ed out the sensitive info.

[code]

[2018-09-11 23:39] Random-Liu commented on #2578
@kadisi That is the containerd client timeout. Not the timeout between containerd and containerd-shim. :)

[2018-09-12 06:02] kadisi commented on #2578
@Random-Liu in `runtime/v1/shim/client/client.go`
i found the client has set time out 100s,
[code]
Is the timeout too long?

[2018-09-12 14:02] #2629 closed

[2018-09-12 21:04] estesp commented on #2628
Just realized we have #2148 that fixed a bug for pulling from Artifactory. Any chance this setup of Artifactory is different than mentioned in that issue? Similar 401 response. Maybe @neelashah can run with `--debug` and get similar output that is shown in that issue with more detail?

[2018-09-12 23:21] tonistiigi opened #2639 "containerd may temporarily push wrong manifest"
When pushing a manifest list all the submanifests are pushed to the final tag meaning that until the push has completed the tag may not point to a manifest list and if an old reference was being replaced it may become temporarily inaccessible to some platforms.

@dmcgowan

[2018-09-13 03:33] kadisi commented on #2578
@Random-Liu i found that shim client has set connect time out 100s.
[code]
is that to long ? i can not sure it is root problem.

[2018-09-13 14:36] neelashah commented on #2628
Some more experimenting reveals that if I use an API key (I generated one to try) for the same user then it works, but not with the encrypted pwd - so atleast there is a way to get to the image in artifcatory as long as I have an API key. @estesp fyi

[2018-09-13 14:44] estesp commented on #2628
So does that mean this is probably more Artifactory configuration related versus containerd? Does an encrypted password work in `docker pull`?

[2018-09-13 16:57] neelashah commented on #2628
@estesp The same user and encrypted pwd is being used to pull the same image from docker w/o any errors.

[2018-09-13 18:32] estesp opened #2643 "Allow simple use of `ctr run` with no new privs"
For simple testing a containers via `ctr run` there should be an easy way to run without "NoNewPrivileges: true" in the OCI spec. Right now it defaults to true in all containerd default configs on Linux, even though via Docker and via the CRI plugin it is set to false.

Either we should also default to false, or, if we want the additional default security, give a way for it to be turned off via fl

[2018-09-13 19:54] crosbymichael commented on #2643
don't touch my default.  its true because it's secure, add a flag

[2018-09-14 02:32] deft-code opened #2646 "Docker version 18.09 causes the shim to hang"
**Description**
Rapidly starting then stopping dockerd causes the shim to hang.

We're running some docker tests that install and test various docker versions. As part of the test we install, remove, start, and stop docker.

On a clean install the dockerd daemon comes up before containerd dockerd is up. Our script sees that the docker command is having issues and tries to restart dockerd is not re

[2018-09-14 15:55] ostenbom opened #2648 "Pain points in testing Containerd"
I am one of the developers on the open source Garden team, making the container runtime for Cloud Foundry. As we're moving to use containerd as our underlying runtime, we aim on giving back to Containerd through issues we have when testing containerd and running it in production ([mainly](https://github.com/containerd/containerd/pull/2361) [through](https://github.com/containerd/containerd/pull/25

[2018-09-14 16:17] crosbymichael commented on #2648
Maybe we can do a call on this.  I can better explain the V2 runtime and clear up some confusion on versioning.

[2018-09-15 09:31] jas99 opened #2652 "Q: Large port range"
Is it safe to expose large port range in containerd?

It not in docker because if creates entry for each port.

Thx

[2018-09-15 09:35] jas99 commented on #2652
@calavera

[2018-09-17 14:42] crosbymichael commented on #2652
containerd itself has no concept of networking.  That is left up to the caller, usually CNI or libnetwork.  I'll close this since it's not actionable for containerd but feel free to ask any questions or join the slack channel

[2018-09-17 14:42] #2652 closed

[2018-09-17 14:46] crosbymichael commented on #2646
We are working on fixing this in docker packaging for the beta 2 or 3.   Thanks for the report.

[2018-09-17 15:28] ostenbom commented on #2648
That would be really helpful. I pinged you on the containerd slack!

[2018-09-17 15:35] crosbymichael commented on #2648
Here? https://dockercommunity.slack.com/messages/C3ECRDQKD

[2018-09-17 15:58] ostenbom commented on #2648
Here: https://containerd.slack.com/messages/DCUJT03PE/ Don't have a dockercommunity account and can't find an invite link

[2018-09-17 16:49] crosbymichael commented on #2648
@ostenbom https://dockercommunity.slack.com/signup/  I'm not sure anyone is on that containerd slack

[2018-09-17 16:51] crosbymichael commented on #2648
Sorry, this one https://community.docker.com/registrations/groups/4316

[2018-09-17 16:57] ostenbom commented on #2648
Filled in the form, just waiting for a slack signup link

[2018-09-17 17:09] crosbymichael commented on #2648
I edited the comment with a direct invite.  I had no clue the signup was so difficult

[2018-09-18 04:45] avagin commented on #2602
I know one more thing, which has to be improved. We need to add support for criu notifications. ACT_POST_DUMP is the most interesting for us. It can be used to create a consistent snapshot of a container file system. Currently, we pause a container, execute "runc checkpoint" and then checkpoint a container file system and unpause the container. It is not ideal because "runc checkpoint" saves state

[2018-09-18 05:45] AkihiroSuda opened #2659 "`ctr exec` hangs on stdin EOF"
**Description**

`ctr exec` hangs on stdin EOF

**Steps to reproduce the issue:**
1. `ctr run -d docker.io/library/busybox:latest foo sleep 42d`
2. `echo hello | ctr t exec --exec-id foo-exec foo cat`

**Describe the results you received:**

[code]

**Describe the results you expected:**

`ctr` should exit after printing `hello`

**Output of `containerd --version`:**

[code]

---
* reproducible on

[2018-09-18 05:48] fuweid commented on #2659
link #2439

[2018-09-18 05:58] #2659 closed

[2018-09-18 14:12] estesp commented on #1763
This is now implemented in the shim: https://github.com/containerd/containerd/blob/master/runtime/v2/shim/shim_windows.go#L66-L93

Now that this exists, should the same capability be set up in `cmd/containerd/command/main_windows.go` like it is for the Linux startup handling?

[2018-09-18 14:48] crosbymichael opened #2660 "Create frozen test image that can be imported"
To break the dependency on an external registry for fetching an image, we should create an export and place it as a download or somewhere that the tests can import and reuse.

[2018-09-19 15:18] estesp opened #2662 "Flaky test: TestDaemonRuntimeRoot"
This has been causing CI errors for several weeks regularly; somehow usually more on master than in PR triggers.

Turns out it is a publish exit event timing problem, that, when it does fail with the `bind: address already in use` for the abstract socket for this specific test, it is always the 2nd run (the parallel run of `make integration`). This is because the first run has an event publisher h

[2018-09-19 17:51] #2662 closed

[2018-09-19 18:17] #2643 closed

[2018-09-20 17:52] Random-Liu commented on #2578
@kadisi The problem is that the shim side server doesn't support timeout yet.

[2018-09-24 09:55] Random-Liu opened #2678 "Image ID for the same image changes."
[code]

There are 2 problems:
1) **The image id (image config digest) for the same image shouldn't change if the image is not changed.** @dmcgowan
2) After https://github.com/containerd/cri/pull/865, `cri` plugin only generates repotag and repodigest for an image. The `repotag -> image` mapping can change (e.g. this issue, or the image tag used to tag another image), but we thought repodigest can

[2018-09-24 21:00] lbernail opened #2679 "Inconsistent access to unconfined process from the default apparmor profile"
**Description**

From a container with the default apparmor profile (`cri-containerd.apparmor.d` in our case, because we are using a CRI setup with a kubelet), I see a different behavior when trying to access an unconfined process on the host (not in a container) and an unconfined process in a container (started with the kubernetes `container.apparmor.security.beta.kubernetes.io/<container>=unconf

[2018-09-25 00:49] Random-Liu opened #2680 "Make content fetch retry more robust."
Currently, we only handle several error code, e.g. `http.StatusUnauthorized`, `http.StatusMethodNotAllowed`.

We should handle other transient errors properly to make the fetch more robust, e.g. `http.StatusTooManyRequests`.

This also covers the [TODO](https://github.com/containerd/containerd/blob/master/remotes/docker/resolver.go#L423).

[2018-09-25 19:07] yujuhong opened #2683 "Edge cases where containerd would fail to re-pull an image from a private GCR repository"
**Description**

I'm not sure whether this is considered a bug or working intended, but thought it might still be worth reporting.

When containerd (client) pulls an image, it tries to pull without authentication first. If the request fails with a 401 error, containerd retries the request with authentication information. This works fine in normal cases, but I can fabricate a case that would fail c

[2018-09-25 21:50] dmcgowan commented on #2683
Thanks for the detailed explanation of what happened here, it makes a lot more sense now.

My thoughts on your random ideas

1) try authenticating after receiving 403 -- we really need a 401 to get the `WWW-Authenticate` header
2) re-use the authentication information from the resolver -- YES, there is an open issue to fix this but we didn't get it into 1.2 so far. We should find a way to get this

[2018-09-26 00:02] yujuhong commented on #2683
According to their documentation, returning 401 also makes sense.
https://cloud.google.com/storage/docs/json_api/v1/status-codes#401_Unauthorized

But I can also see that returning 403 can make it easy to avoid acknowledging the existence of the resource. Anyway, I may try filing an internal bug to see whether this is intended.

[2018-09-26 14:50] #2648 closed

[2018-09-26 22:31] Random-Liu opened #6646 "Restart recovery and event handling shouldn't be blocked by bad containers."
Today, [restart recovery logic](https://github.com/containerd/cri/blob/master/pkg/server/restart.go) and [event handling](https://github.com/containerd/cri/blob/master/pkg/server/events.go) are serial.

If there is a bad containerd-shim, both of the logic will be blocked.

In https://github.com/containerd/cri/pull/924, we added timeout to improve this a little bit. However, it could still block fo

[2018-09-27 20:53] dvasilen opened #2689 "Pull an image from the private repository with the username/password programmatically"
I am trying to figure out how to pull the image from the private repository with the username/password programmatically.

The following code works for the public repo:

[code]

But I cannot figure out how to specify the credentials. Any pointers are appreciated.

[2018-09-28 01:53] fuweid commented on #2678
@Random-Liu the bug maybe be caused by https://github.com/containerd/containerd/pull/2595 . checking

[2018-09-28 14:16] fuweid commented on #2689
hi @dvasilen , you can try it like

[code]

more detail you can check here: https://github.com/containerd/containerd/blob/master/cmd/ctr/commands/resolver.go#L55

[2018-09-28 14:52] dvasilen commented on #2689
Thanks a lot @fuweid that works!

[code]

I do not see however that the image will end up in the image cache on the kubernetes node. But perhaps I am using the wrong namespace ("test") and k8s uses something else. Will try to figure it out.

[2018-09-28 15:11] fuweid commented on #2689
you list all the namespace to check

[code]
if you use containerd-cri, the namespace is `k8s.io`.

[2018-09-28 15:22] dvasilen commented on #2689
We do not have SSH access to the kubernetes nodes due to security restrictions and the idea was to use a daemon set and do image pre-pull programmatically in the init container of the daemon set for some images we need on the nodes.

I tried "k8s.io"

[code]
I do not see any errors during the code execution but but somehow the image still does not make it to that node image cache.... ;-[

[2018-09-28 15:44] dvasilen commented on #2689
Or maybe it is in the `containerd` cache but not in the node cache or not reflected in the node cache?

If I do

[code]
I can see 200 images and my pre-pulled image as well, but if I run

[code]

I cannot find it...

[2018-09-28 17:18] #2689 closed

[2018-09-28 17:45] dvasilen commented on #2689
I ended up with mounting `/hostroot` and executing

[code]
from the daemon set. That pre-pulls the image to the node cache.

[code]

[2018-09-29 00:55] jiria opened #2693 "getCPUVariant fails on Windows/ARM"
---------------------------------------------------
BUG REPORT INFORMATION
---------------------------------------------------
**Description**

We are working on enabling support for ARM on Windows. As part of that, we have hit an issue when getCPUVariant gets called. getCPUVariant calls into getCPUInfo which expects Linux OS and as such it fails for Windows

**Steps to reproduce the issue:**
1. B

[2018-09-29 00:56] jiria commented on #2693
I have prepared a possible fix, but as per contributing guidelines, opening an issue first.

https://github.com/jiria/containerd/commit/353fe3073ffef7cef338284daf1e74facb273dea

[2018-10-01 13:30] tswift242 commented on #2406
@crosbymichael My team is very interested in fixing this issue and getting C/R to work in docker master in the short term. We may have some bandwidth in the coming weeks to contribute a fix for this issue, if we got some pointers.

Is it perhaps as simple as changing the value of checkpointDir here: https://github.com/moby/moby/blob/master/daemon/start.go#L185 ?

@mlaventure previously left this c

[2018-10-01 14:19] crosbymichael commented on #2406
@tswift242 let me refresh my knowledge on the docker integration today and get back with ya.

[2018-10-01 14:43] mlaventure commented on #2406
@tswift242 I'd have to refresh my memory of too. But I believe it's still relevant. If one want to save the checkpoint in an external directory instead of having it stored in containerd's snapshotter, when wanting to restore from that external directory, creating the manifest/snapshot in containerd and passing those should do the trick (it's basically what the client is doing when creating the che

[2018-10-01 16:08] lumjjb opened #2695 "Missing image data with image removal and creation race."
**Description**

In development of image encryption functionality, @stefanberger noticed that when trying to perform tests utilizing `ctr images` CLI, that when performing deletions and addition of images (and their associated blobs), we've noticed that unless we add in some delay between invocations of the daemon (`sleep 5`), we see that some blobs are missing where expected - resulting in some e

[2018-10-03 07:58] #1005 closed

[2018-10-03 07:58] #2683 closed

[2018-10-04 20:27] jiria commented on #2693
Gentle ping.

[2018-10-04 20:32] estesp commented on #2693
Feel free to open a PR with your suggested fix. I'm curious if there are any other places where assumption is that ARM == Linux/arm CPU, given that has been the case until recently. Also, we currently have no way to CI this combination that I'm aware of (Windows + ARM), so that could be an inhibitor from having non-breaking support for that combination.

[2018-10-04 20:40] jiria commented on #2693
Thanks @estesp

We are working on upstreaming the relevant changes across golang and moby.

It is my understanding that we would need to revendor containerd into moby. Is that something you are doing on a regular basis?

[2018-10-05 05:27] colemickens opened #2701 ""io.containerd.runc.v1" is not usable via CRI?"
**Description**
Hello, I'm on the very latest revisions of `runc`, and `containerd` (and since my config includes it, the `hyperhq/shimv2` version of kata)
The CRI portion of my configuration file looks like this:

[code]

### ctr status

* works: `--runtime="io.containerd.runtime.v1.linux"` (legacy?)
* works: `--runtime="io.containerd.runc.v1"`
* works: `--runtime="io.containerd.kata.v2"`

### cr

[2018-10-05 22:31] Random-Liu commented on #2701
The reason is that shim v2 is using a different option https://github.com/containerd/containerd/blob/master/runtime/v2/runc/options/oci.pb.go#L39.

We should support passing in different options based on the runtime in cri plugin.

[2018-10-09 15:09] #2701 closed

[2018-10-09 15:14] Random-Liu commented on #2701
@colemickens This will be fixed in containerd 1.2. See https://github.com/containerd/cri/pull/943

[2018-10-10 01:20] tonistiigi opened #2706 "Parallel pushes fail with invalid written size"
**Description**

The push handler does not work properly if there are multiple pushes of the same blob running concurrently. It seems that both pushes write to the same place and one of them will fail with an error saying that twice as many bytes were written as are in the descriptor.

This is not only the case when two competing pushes are pushing same data to the same location but it is quite ea

[2018-10-10 01:21] tonistiigi opened #2707 "Differ may skip adding `uncompressed` label"
**Description**

When differ creates a blob that already exists it will hit `ErrAlreadyExists` on `Commit`. A side effect of that error is that there is no guarantee that the `containerd.io/uncompressed` label that the differ creates, exists for the blob that already existed. Even when all places that can create blobs(like pull) correctly set the `containerd.io/uncompressed` label there is still a

[2018-10-10 01:22] tonistiigi opened #2708 "Deadlock on refs on ErrAlreadyExists"
When differ creates a blob that already exists it will hit `ErrAlreadyExists` on `Commit` but return from `Compare` without an error. That means that the defer handler that is supposed to close the writer in case of an error is never called, leaving the ref locked forever and all the future accesses to fail.

Didn't confirm with actual code but there also seems to be at least another very similar

[2018-10-10 15:50] Ace-Tang opened #2709 "Exec process may cause shim hang"
**Description**

when dozens exec process simultaneously run in a shim, shim will get hang.

**Steps to reproduce the issue:**
1. a simple shell script can reproduce the problem
[code]
2.  shim will get hang, we can check `ctr t ls ` command will get hang, since shim.State never get shim lock which block at reaper.Wait
[code]

After check the code in shim, I found the last running exec process is

[2018-10-10 16:15] fuweid commented on #2709
The `shim.Default` does publish all the child process `runc.Exit` event to the `Subscriber`. For the service, service's `processExits` always receives all the `runc.Exit` events. As the @Ace-Tang mentions, if there are a lot of the exec exit-child processes, the channel will be filled up.

If there is `State` call which granted the lock and the `range Default.subscribers` doesn't pick up the `Stat

[2018-10-11 18:02] caniszczyk opened #2711 "Update Stephen's Day email in MAINTAINERS"

[2018-10-11 18:10] crosbymichael commented on #2711
Ya @stevvooe , update your email

[2018-10-11 18:11] estesp commented on #2711
Can we do it over in containerd/project. Need to submit the PR to remove this copy and add the pointer. 😇

[2018-10-12 01:39] fuweid commented on #2709
ping @crosbymichael any update for this issue?

[2018-10-12 20:50] crosbymichael commented on #2709
I have few things i'm working on right now.  If you two could look into this it would be very helpful.  If you have questions, i could answer.

[2018-10-14 04:07] fuweid commented on #2709
Thank you. Will try to fix this issue

[2018-10-15 19:16] #2707 closed

[2018-10-15 19:44] crosbymichael commented on #2678
Resolved by #2691

[2018-10-15 19:44] #2678 closed

[2018-10-15 21:59] dmcgowan opened #2719 "Add option to set UserAgent in docker resolver"
We should expose a resolver option to set the UserAgent used for interacting with the registry. This should by default use containerd + the version number.

To implement this, we should probably provide a custom headers option in the resolver and ensure that those headers are applied on every request.

[2018-10-16 01:17] #2708 closed

[2018-10-16 09:32] Ace-Tang opened #2722 "Some question about get container metric"
Since I am now working on how to get real metric from a vm container, I got some problem with showing vm real metric with containerd. I check the containerd with `runtime-v1` and `runime-v2`, and found that both runtime will get container metric through `cg.Stat` interface, the interface get container metric info through cgroup and /proc/stats file on host. But for vm container, this is not his re

[2018-10-16 13:58] crosbymichael commented on #2722
The v2 runtime code supports custom metrics from the shims(runtimes).  Kata would either use the same cgroup proto or define their own.  Computers would do a typeswitch to unmarshal the proto.Any into the correct protobuf for the runtime they are currently using.

https://github.com/containerd/containerd/blob/master/runtime/v2/task/shim.proto#L33

[2018-10-16 13:58] #2722 closed

[2018-10-18 06:17] HusterWan opened #2728 "v1.0.3 vendor validate failed"
**Description**

v1.0.3 execute `script/validate/vendor` failed

[code]

**Steps to reproduce the issue:**
1. `git clone https://github.com/containerd/containerd.git`
2.  `git co v1.0.3 -b v1.0.3`
3. `script/validate/vendor`

**Describe the results you received:**
execute `script/validate/vendor` logs:
[code]

**Describe the results you expected:**

**Output of `containerd --version`:**

[code]

[2018-10-19 03:34] relyt0925 commented on #2382
We've seen this as well in our offering
[code]

I have a job that I thought I could periodically run to detect and fix this using crictl
[code]

But it doesn't appear to detect when the image is in this state.

[2018-10-19 21:55] dmcgowan opened #2737 "Optimize unpacking on pulling"
Add support to client for unpacking layers as soon as they are available in the content store. This could first be done in `ctr` but a more generic way is needed for all clients. Currently `ctr` has its own progress tracking, if this was integrated with the client it could possibly be leveraged to trigger events such as layer download complete.

[2018-10-21 15:05] Ace-Tang opened #2739 "ctr shim not support runtime v1 shim"
**Description**

command `ctr shim --socket xx shim state` not support `runtime.v1` shim,  Can I add `runtime.v1` shim support into `ctr shim` command ?
[code]

**Describe the results you received:**

**Describe the results you expected:**

**Output of `containerd --version`:**

[code]

[2018-10-24 20:42] relyt0925 opened #2744 "Containers failing to terminate and complete in containerd 1.1.4 and 1.2"
The main issue is simply that containers will stay stuck in Terminating or in the case of `Init` containers in kubernetes complete but  just stay in the `Init` phase. What that causes is the pod will never transition to it's main container when that occurs (basically as if the init container ran forever). For the `Terminating` problem the pod just hangs around till it is force deleted.

An example

[2018-10-24 20:45] relyt0925 commented on #2744
We expected it to be fixed by these lines
https://github.com/containerd/cri/blob/0367114b46d71343451ec5ba53f0393a33e95691/pkg/server/container_stop.go#L118-L131

But the problem still is occurring in 1.1.4

[2018-10-24 20:48] relyt0925 commented on #2744
The version is containerd 1.1.4

The kube-version is: 1.11

[2018-10-24 22:07] estesp commented on #2744
Port 10010 is the (old) streaming server fixed port--for the kubelet to talk to the CRI plugin for various features (exec, attach, and port-forward I think); for k8s 1.11 it doesn't have to be a fixed port anymore (see https://github.com/containerd/cri/pull/858), but that is most likely unrelated to the issue.

The fact that this communication broke down *might* be part of the issue, but I don't k

[2018-10-25 03:11] Ace-Tang commented on #2709
The problem can be part fixed with #2743 , the other part is located at `shim.Monitor.Reap` and `shim.Monitor.Wait` will compete for monitor lock when chan is full.

goroutine for `shim.Monitor.Reap`
[code]

goroutine for `shim.Monitor.Wait`
[code]

So I this the implement in shim.Reap may need be changed.

[2018-10-25 16:00] mikebrow commented on #2744
I believe you need this fix:
https://github.com/kubernetes/kubernetes/pull/68041

[2018-10-25 17:33] pauldotknopf commented on #1508
Hey guys, I am working on the debian package for containerd (and runc).

https://github.com/godarch/debian-repo-source/tree/master/containerd/debian

I don't like the idea of my having ```debian/``` in an external repository. I think it should exist in containerd and runc.

What do you guys think? If I make a pull request, would you guys be receptive to me adding the required ```debian/*``` files?

[2018-10-25 18:10] nmeyerhans commented on #1508
@pauldotknopf Are you coordinating with the people already working on the containerd packaging? See e.g. https://salsa.debian.org/arnaudr-guest/containerd and https://salsa.debian.org/go-team/packages/runc

In general, I'd recommend against merging the debian/ subdirectory with the upstream project. The packages can and typically are updated on a different schedule from the upstream release schedu

[2018-10-29 15:25] #2739 closed

[2018-10-29 19:22] crosbymichael commented on #2709
Is this resolved with #2743

[2018-10-29 19:29] estesp commented on #2709
@crosbymichael I assumed no from this comment by @Ace-Tang: *The problem can be part fixed with #2743 , the other part is located at shim.Monitor.Reap and shim.Monitor.Wait will compete for monitor lock when chan is full.*

[2018-10-29 19:29] crosbymichael commented on #2709
Ahh, Do we know what chan is filling up?

[2018-10-29 19:35] estesp commented on #2709
From the above discussion, pretty sure it is this one: https://github.com/containerd/containerd/blob/master/runtime/v1/shim/reaper.go#L97 ; defaults to 32; both in v1 shim and v2. The PR fix for locking was only on v1, but I see the initial discussion here seems to be about v2, and it looks like the reaper implementation for runc is effectively the same, with this same exit channel used, and the `

[2018-10-29 19:38] crosbymichael commented on #2709
Ok, that buffer can be increased for sure.  Probably 2048 is safe.  We could also add a check on the send to see if 32 is actually just a poor choice or we are failing to drain the channel.  I feel like 32 is a poor choice that I probably made when not considering high number of exec commands.

[2018-10-29 20:24] Charliekenney23 commented on #2719
I can take this!

[2018-10-29 20:31] crosbymichael commented on #2478
I'm closing this for containerd as the vendored commit comes from the an upstream kube dep.  And this has been reported upstream.

[2018-10-29 20:31] #2478 closed

[2018-10-29 21:49] #2709 closed

[2018-10-30 01:56] fuweid commented on #2709
Thanks @crosbymichael and @estesp !!.

We also increased the buffer to 256 to reduce the odds case internally, because it just showed at several machines. I was thinking to publish the exit event to specific channel indexed by pid. If find it, send the event and close it. It seems that it is more reasonable to close channel by sender, not by receiver. If not, just send it to `processExits`. Someti

[2018-10-30 02:10] Ace-Tang commented on #2709
Great， also thanks for help, @crosbymichael @estesp .

[2018-10-30 02:14] #2541 closed

[2018-10-30 09:32] xfye opened #2750 "containerd hangs in processEvent while reading from OOM evenfd"
containerd hangs in processEvent while reading from OOM evenfd

**containerd hangs in processEvent while reading from OOM evenfd**

- Kubernetes: 1.9.2
- docker: 17.03.2-ce
- containerd: 0.2.3 commit 4ab9917febca54791c5f071a9d1f404867857fcc

It causes `docker ps` hangs and k8s node becomes NotReady.

**Steps to reproduce the issue:**

Sometimes.

**Describe the results you received:**

From contai

[2018-11-01 10:06] AkihiroSuda commented on #2711
Seems closable now https://github.com/containerd/project/blob/b1fc7755f1bfbae45b09dd8bd554f197c030f147/MAINTAINERS#L13

[2018-11-01 10:06] #2711 closed

[2018-11-02 08:21] Alvin-Lau opened #2758 "[Question] ctr fails to pull images from insecure-registry."
**Description**

I've set inscecure registry in /etc/containerd/config.toml like below:
[code]
Then restart containerd.
```systemctl stop containerd; systemctl start containerd```

But still fail when I try to pull image via ctr
ctr image pull registry.k8s.my.io:5000/coredns/coredns:1.2.2

[code]
What should I do to let ctr/kubernetes pull images from insecure-registry.

Completely containerd conf

[2018-11-02 12:39] fuweid commented on #2758
@Alvin-Lau please try this

[code]

[2018-11-02 18:30] Random-Liu commented on #2758
@Alvin-Lau Can you try `crictl pull registry.k8s.my.io:5000/coredns/coredns:1.2.2`?

`plugins.cri.registry` is a config for the `cri` plugin, and the `cri` plugin should use `http` if you specify that in the config.

If it doesn't work, we should fix it.

[2018-11-03 16:33] Alvin-Lau commented on #2758
It doesn't work. "crictl pull registry.k8s.my.io:5000/coredns/coredns:1.2.2"

[2018-11-04 14:12] Alvin-Lau commented on #2758
"crictl pull registry.k8s.my.io/coredns/coredns:1.2.2" doesn't work, neither.

[2018-11-04 14:34] fuweid commented on #2758
@Alvin-Lau the method, which is `ctr image pull --plain-http=true registry.k8s.my.io:5000/coredns/coredns:1.2.2` can work? could you try it? Thanks

[2018-11-04 15:30] Alvin-Lau commented on #2758
ctr image pull --plain-http=true registry.k8s.my.io:5000/coredns/coredns:1.2.2  works.

[2018-11-04 20:39] glefloch commented on #2680
@Random-Liu, I would like to work on this.

Regarding the solution, what do you think about?
We could change this [`if`](https://github.com/containerd/containerd/blob/f1a3a6fba616861b9f0d472b816ff70cf744307a/remotes/docker/resolver.go#L401) condition to handle more status code (e.g `last.StatusCode > 400`).
Would this be a correct solution?

[2018-11-05 07:09] HusterWan opened #2763 "[bug] create container on xfs failed "permission denied""
**Description**
When I test create container on xfs , it occurred an error:

[code]

logs printed:
[code]

Kernel version:
[code]

`xfs_info` printed:

[code]

`/home` mounts info:

[code]

**Steps to reproduce the issue:**
1.
2.
3.

**Describe the results you received:**
can't create a container on xfs

**Describe the results you expected:**
success create containers on xfs

**Output of `containe

[2018-11-05 07:31] alexellis commented on #2763
I thought it had more errors about the filesystem, but it could be. Thanks for pinging.

Alex

[2018-11-05 07:51] HusterWan commented on #2763
@AkihiroSuda i searched  the error message, it occurred when start parent process in runc.

If you have any progress, please let me know, thanks a lot.

[2018-11-05 08:46] HusterWan commented on #2763
Maybe relate to : https://github.com/opencontainers/runc/issues/1343

[2018-11-06 01:30] Random-Liu commented on #2758
This should work. Could you put the error message here?

[2018-11-06 08:09] AkihiroSuda commented on #2262
PR: https://github.com/containerd/containerd/pull/2766

[2018-11-06 08:17] AkihiroSuda opened #2767 "v2 runtime should support runtime_root"
**Description**

v2 runtime should support  custom `runtime_root` configuration like v1

[code]

[2018-11-07 09:07] Alvin-Lau commented on #2758
Only oneline output
FATA[0010] failed to connect: failed to connect: context deadline exceeded

[2018-11-07 15:03] #2262 closed

[2018-11-08 14:55] mimmus commented on #2483
Stll present on latest CoreOS with Docker  18.03.1-ce:
`tcp        0      0 10.57.0.236:10010       0.0.0.0:*               LISTEN      871/containerd`

Any idea?

[2018-11-08 14:58] thaJeztah commented on #2483
@mimmus best to open a ticket with CoreOS. This issue was not in the official 18.03.x packages, so possibly CoreOS is having some different configuration in their packages.

[2018-11-09 01:44] Alvin-Lau commented on #2758
crictl pull registry.k8s.my.io/coredns/coredns:1.2.2
Only oneline output:
FATA[0010] failed to connect: failed to connect: context deadline exceeded

[2018-11-09 02:03] fuweid commented on #2758
@Alvin-Lau could you mind to provide more detail from backend, not just client side?

[2018-11-09 02:05] Random-Liu commented on #2758
FATA[0010] failed to connect: failed to connect: context deadline exceeded

Hm, this just look like either of the following:
1) you containerd is not running
2) you didn't config `/etc/crictl.yaml` with `runtime-endpoint: unix:///run/containerd/containerd.sock`.
3) you are not running `crictl` with `sudo`.

[2018-11-09 02:15] Alvin-Lau commented on #2758
containerd is running.

I didn't config '/etc/crictl.yaml'. Let me try it.

I did run 'crictl' with 'sudo'

[2018-11-09 02:18] Alvin-Lau commented on #2758
I'm fresh with crictl. Would you mind to point me about how to get backend log?

[2018-11-09 02:40] Alvin-Lau commented on #2758
I'm sorry. I get right output after i restart containerd.

sudo crictl pull registry.k8s.my.io/coredns/coredns:1.2.2
DEBU[0000] PullImageRequest: &PullImageRequest{Image:&ImageSpec{Image:registry.k8s.my.io/coredns/coredns:1.2.2,},Auth:nil,SandboxConfig:nil,}
DEBU[0000] PullImageResponse: &PullImageResponse{ImageRef:sha256:367cdc8433a4581c3c9d01501b92ecd79666d23c41232013a7b11e5f7acb7eed,}
Image is

[2018-11-09 02:41] Random-Liu commented on #2758
Yeah, you need to restart containerd. Then at least we don't have a bug. :) Thanks!

[2018-11-09 02:42] Alvin-Lau commented on #2758
crictl works, but ctr does not work.

sudo ctr image pull  registry.k8s.my.io:5000/coredns/coredns:1.2.2
ctr: failed to resolve reference "registry.k8s.my.io:5000/coredns/coredns:1.2.2": failed to do request: Head https://registry.k8s.my.io:5000/v2/coredns/coredns/manifests/1.2.2: http: server gave HTTP response to HTTPS client

[2018-11-09 03:06] fuweid commented on #2758
ctr: failed to resolve reference "registry.k8s.my.io:5000/coredns/coredns:1.2.2": failed to do request: Head https://registry.k8s.my.io:5000/v2/coredns/coredns/manifests/1.2.2: http: server gave HTTP response to HTTPS client

add `--plain-http` and it will work~

[2018-11-09 03:18] Alvin-Lau commented on #2758
Yes, add '--plain-http' works. Does ctr use the registry config in /etc/containerd/config.toml .

[2018-11-09 03:19] fuweid commented on #2758
ctr is client side tools and it doesn't use the config from daemon. 😄

[2018-11-09 04:56] Alvin-Lau commented on #2758
OK. I got it. Thanks for your help.

[2018-11-09 04:57] Alvin-Lau commented on #2758
Thanks for your kindly replies. Let me close this.

[2018-11-09 04:57] #2758 closed

[2018-11-09 10:28] lbschenkel opened #2772 "ExecStartPre=/sbin/modprobe fails inside LXC"
**Description**

Running Debian 9.5 in a LXC container. Upgraded `docker-ce` to `5:18.09.0~3-0~debian-stretch`, which pulls `containerd.io` version `1.2.0-1`.

**Steps to reproduce the issue:**
1. `systemctl start containerd`

**Describe the results you received:**

containerd fails to start due to systemd being unable to execute `modprobe overlay` inside the container (module is already loaded in

[2018-11-09 14:08] thiagoabdo commented on #2772
I have the same problem, I have a kernel that has no support to modules, overlay is built-in.
In that case there is no way to check if the module is loaded(lsmod will fail).
Does not the kernel autoload a module when needed? If yes, containerd should not check for it.

For now I am stuck using docker-ce=18.06.1~ce~3-0~debian that has no containerd.

[2018-11-09 16:59] estesp commented on #2772
It looks like adding a `-` to the `ExecStartPre` command is something we can easily do it our service file in this repo, but that won't solve Docker's packaging and delivery of that file in deb packaging from docker-ce repos. I assume that will be tracked as a solution for docker/for-linux#475 unless @thaJeztah has another place users should look for a solution.

[2018-11-09 17:10] thaJeztah commented on #2772
The packaging for docker ce/ee would go into https://github.com/docker/containerd-packaging/blob/master/common/containerd.service#L7

Oh, TIL (https://bugzilla.redhat.com/show_bug.cgi?id=651797#c2)

That definitely looks like a good solution (at least for now). Also trying to figure out if this check is always needed (i.e., this doesn't seem needed if containerd uses a different snapshotter, such

[2018-11-09 18:05] thaJeztah commented on #2772
I think it's used for the `docker engine activate` feature (which allows upgrading the engine through containerd)

Does containerd require a specific snapshotter to be configured, or does it also have an automatic selection (if none is specified) (i.e., like the [storage driver loop that is in dockerd](https://github.com/moby/moby/blob/13ef0ebd2b444a45748b60e03d8f421a193d3d8c/daemon/graphdriver/dr

[2018-11-09 18:08] crosbymichael commented on #2772
no automatic

[2018-11-09 18:09] crosbymichael commented on #2772
ignoring the result seems like the best solution to me

[2018-11-09 23:50] davekaufman commented on #2772
just ran into this same issue with docker-ce on a linode instance.  The "ignore the modprobe result with hypen" workaround worked there too.

[2018-11-10 12:00] thaJeztah commented on #2772
Opened a pull request to fix the unit-file in this repository (https://github.com/containerd/containerd/pull/2776).

A similar pull request has been opened in the internal containerd packaging repository used to build docker's `containerd.io` packages.

[2018-11-10 19:09] #2772 closed

[2018-11-13 09:34] chensunny opened #2785 "panic and can`t restart"
**Description**

**Steps to reproduce the issue:**
1.
2.
3.

**Describe the results you received:**

**Describe the results you expected:**

**Output of `containerd --version`:**

containerd version 0.2.3 commit: 4ab9917febca54791c5f071a9d1f404867857fcc

[code]

[2018-11-13 18:58] relyt0925 commented on #2744
The problem is fully on containerds end nothing to do with kubernetes.

The issue is containerd after some time is not sending kill signals properly to the containerd-shim processes. What that results in is even when crictl stop <containerID> is called: it sits in and endless loop waiting for the container to terminate.

[code]
root@kube-dal13-cr7e2fe902cba8449bbdb4eae11738aafb-w3:~# crictl ps
CON

[2018-11-13 19:04] relyt0925 commented on #2744
[code]

^
Failed on that one. Note that the wait container fails

[code]
^
critctl ps still shows the daemonset pod running

[code]
^ Manually stop it with containerd.logs

[code]
^
repeatedly fails to stop the container

[code]
^have the containerd shim process around

Containerd-shim never sent the signal.

[2018-11-13 19:34] Random-Liu commented on #2744
This looks very much like https://github.com/containerd/containerd/issues/2438 and https://github.com/containerd/containerd/issues/2709.

I expect them to be fixed in the 1.1.5 release by:
* https://github.com/containerd/containerd/pull/2774
* https://github.com/containerd/containerd/pull/2765
* https://github.com/containerd/containerd/pull/2762
* https://github.com/containerd/containerd/pull/2757

[2018-11-13 19:43] relyt0925 commented on #2744
@Random-Liu is there a work around in the interim?

I tried setting the KillMode= of the systemd unit file to mixed and that works (basically has systemd send the signal properly to all the containerd-shim processes and everything gets cleaned up. But it also shuts down every container as well.

I am looking for some sort of process in the interim I can do to do the reaping properly overtime.

[2018-11-13 19:46] relyt0925 commented on #2744
But that sounds good about the fix I will look at the PRs...

[2018-11-13 19:47] relyt0925 commented on #2744
This is also happening in 1.2 as well (not sure if that matters or not).

[2018-11-15 21:37] bradrydzewski commented on #2029
Hi there, I am sorry to comment on old thread, but I am trying to solve a similar issue. I have a bunch of arm64 machines that are arm32 compatible, and I would like to force docker to always pull the arm32 image defined in the manifest. I realize this may not be the right issue (perhaps this was pushed upstream to docker) but was wondering if someone could kindly point me in the right direction t

[2018-11-15 22:57] relyt0925 commented on #2744
cc @estesp and @Random-Liu this issue is still occurring in
`containerd://1.2.0-6-g07b5d4dd`

Pod list
[code]

[2018-11-15 22:59] relyt0925 commented on #2744
[code]

Kubelet log snippit and full logs
[code]

[2018-11-15 23:01] relyt0925 commented on #2744
[KubeletLogs.txt](https://github.com/containerd/containerd/files/2587337/KubeletLogs.txt)

[2018-11-15 23:01] relyt0925 commented on #2744
So far I have not been able to replicate in 1.1.5

[2018-11-15 23:15] Random-Liu commented on #2744
I can't find a commit `07b5d4ddb32202f6f5d0488313d563e68c23360b` in upstream. And please note that event `containerd 1.2.0` doesn't have all required fixes, we need to cherrypick those fixes, and cut a `containerd 1.2.1` release.

Hope it is fixed in 1.1.5.

[2018-11-16 00:12] estesp commented on #2744
@Random-Liu I created a “potential” 1.2.1  for @relyt0925 to test by:
- backporting the v1/v2 PR (opened #2790 for this) to `release/1.2`, and
- adding #2773 (not merged in master yet) locally to a branch, assuming that is a strong potential for 1.2.1 as well.

[2018-11-16 00:12] estesp commented on #2744
There could be other post-1.2.0 GA fixes I missed, but I did try and look at the list of post-1.2.0 merged PRs and nothing else jumped out at me

[2018-11-16 01:29] Random-Liu commented on #2744
@estesp Have you cherry-picked https://github.com/containerd/containerd/pull/2743? That is one of the most important fixes.

[2018-11-16 02:08] estesp commented on #2744
@Random-Liu wow..that was a pretty important and embarrassing miss in my work :) @relyt0925 I can generate a new build with that included so you can test again.

[2018-11-16 17:04] relyt0925 commented on #2744
The new release looks good so far. I was able to get a node in a state where containers were failing to terminate:
[code]

Checked logs in the kubelet to ensure it was hitting the problem
`journalctl -u kubelet -r `
[code]

Then went in and shut containerd down and replaced the binaries with with the new test binaries @estesp gave me. I then rebooted the node and all the terminating containers wer

[2018-11-16 17:20] relyt0925 commented on #2744
Actually still seeing it in the 1.2.2 test release
[code]

[112_containerd_logs.txt](https://github.com/containerd/containerd/files/2590262/112_containerd_logs.txt)
[112_release_kubelet_logs.txt](https://github.com/containerd/containerd/files/2590263/112_release_kubelet_logs.txt)

[2018-11-16 17:20] relyt0925 commented on #2744
[code]

[2018-11-16 18:33] relyt0925 commented on #2744
[code]
That is the containerd version

[2018-11-16 18:35] Random-Liu commented on #2744
I’ll look into the log more today.

Does the pod need anything special in ibm cloud? Is it possible to make a
pod yaml we can test in OSS? It would be much easier if I can deploy the
pod and reproduce the issue. :)

On Fri, Nov 16, 2018 at 10:33 AM relyt0925 <notifications@github.com> wrote:

[2018-11-16 19:37] relyt0925 commented on #2744
It doesn't! The yamls are below
[code]

[code]

[2018-11-16 19:38] relyt0925 commented on #2744
[code]

[2018-11-16 19:38] relyt0925 commented on #2744
I mainly just scheduled a bunch of daemonsets and did deletions across all of them and then just wait to make sure they all delete

[2018-11-16 19:39] relyt0925 commented on #2744
[code]
@Random-Liu

[2018-11-16 20:07] jforman opened #2804 "when attempting to start a pod, "range set 0 overlaps with 1""
I've followed kelseyhightower's 'kubernetes the hard way' tutorial and have a k8s 1.12.10 cluster running on ubuntu 18.10 as VM's on a baremetal machine. I am trying to now start a pod and am receiving the following error:

`Nov 16 18:49:00 deva-controller0 containerd[347]: time="2018-11-16T18:49:00.792267817Z" level=error msg="RunPodSandbox for &PodSandboxMetadata{Name:kubernetes-dashboard-77fd78

[2018-11-16 20:29] abhi commented on #2804
@jforman can you post your CNI and IPAM config ? Its possible that the IP ranges might be overlapping.

[2018-11-16 20:40] jforman commented on #2804
@abhi

Looking on disk, the config is NOT the one I've deployed via my automated deployment script.

The version on disk in use by containerd:
[code]

The version I thought I had deployed:
{
    "cniVersion": "0.3.1",
    "name": "bridge",
    "type": "bridge",
    "bridge": "cnio0",
    "isGateway": true,
    "ipMasq": true,
    "ipam": {
        "type": "host-local",
        "ranges": [

[2018-11-16 21:54] Random-Liu commented on #2804
No, containerd doesn't do that. Containerd doesn't generate cni config, it only watches and load the config.

The only case that containerd may write a cni config itself is when you set `plugins.cri.cni.conf_template` in `/etc/containerd/config.toml`, but it doesn't seem to be your case.

This is most likely a problem in your cni config deployment tool.

[2018-11-16 22:57] Random-Liu commented on #2744
@relyt0925 How is the 1.1.5 test result?

[2018-11-17 00:47] relyt0925 commented on #2744
1.1.5 looks good but admittedly I have been on and off of vacation trying to debug this :). I can give you more detailed info on Sunday but I can easily reproduce in the 1.2 test build but when I was trying on 1.1.5 I couldn’t

It was as simple as deleting daemonsets across the board 3 times at max and waiting 30 minutes and seeing what still was in terminating state

[2018-11-17 00:56] Random-Liu opened #2805 "release 1.1: failed to start container with "OCI runtime state failed: invalid state transition from stopped to paused: unknown"."
One example test failure: https://gubernator.k8s.io/build/kubernetes-jenkins/logs/ci-containerd-e2e-gci-gce-1-1/3991

However, please note that we never call `Pause` in the `cri` plugin.

Error log:
[code]
Full containerd log: https://storage.googleapis.com/kubernetes-jenkins/logs/ci-containerd-e2e-gci-gce-1-1/3991/artifacts/bootstrap-e2e-minion-group-f8xx/containerd.log
Bad container: 9b729f8b645

[2018-11-17 01:09] Random-Liu commented on #2805
This seems to be a race condition somewhere.

There is no state transition from "stopped" to "paused" at all. https://github.com/containerd/containerd/blob/master/runtime/v1/linux/proc/init_state.go#L379

[2018-11-17 01:17] Random-Liu commented on #2805
I checked our test log, and this starts happening right after https://github.com/containerd/containerd/commit/b33743050f0b1c895932baebd9b117fa4d4e6faa is merged.

Apparently, the lock change introduced a race condition.

Given that we cherrypick-ed that commit to all branches, I feel like we should block all patch releases before figuring out the reason...

[2018-11-17 01:35] Random-Liu commented on #2805
I think the reason I haven't seen this in release 1.2 is because https://github.com/containerd/containerd/pull/2795 is not merged yet.

[2018-11-17 01:47] jforman commented on #2804
I can't explain it, but magically things work now. I blew away the cluster and rebuilt it, and redeployed k8s using my deployment script (https://github.com/jforman/kubify) and all is good now. I want to dig into why....But for now, sorry for the noise!

[2018-11-17 18:55] relyt0925 commented on #2744
[code]

@Random-Liu  this is the goroutine stack trace of one that is stuck in terminating state.

[2018-11-17 19:15] LEAFERx opened #2806 "Modprobe failure is not ignored when installing using apt"
**Description**
Containerd can not start because modprobe failure is not ignored when installing it using `sudo apt install containerd.io`.
Actually `containerd.io` package is automatically installed by docker-ce at first but I have also tried install containerd manually.
It seemed in containerd.service there was no hyphen before /sbin/modprobe, which should be fixed in #2776 .

**Steps to reprodu

[2018-11-18 04:38] pauldotknopf opened #2808 "Squashing images?"
Do you guys support it?

Maybe there is client tool out there that does this already?

[2018-11-19 08:38] Random-Liu commented on #2806
The fix was cherrypicked into the 1.2 branch after 1.2.0 release https://github.com/containerd/containerd/pull/2779

So it will only be available in 1.2.1.

[2018-11-19 09:46] Random-Liu commented on #2805
It seems that the error `invalid state transition from stopped to paused` is returned by `runc state` /blob/release/1.1/linux/proc/init.go#L275.

And `runc state` does have a case where it try to transit the container into `pause` state https://github.com/opencontainers/runc/blob/master/libcontainer/container_linux.go#L1643.

However, I still don't understand why that could happen, and why that st

[2018-11-19 10:15] lifubang commented on #2805
@Random-Liu

The state transition from "stopped" to "paused" can trigger by runc delete:
 https://github.com/opencontainers/runc/blob/master/delete.go#L23
 https://github.com/opencontainers/runc/blob/master/libcontainer/state_linux.go#L43
 https://github.com/opencontainers/runc/blob/master/libcontainer/init_linux.go#L474-L499

[2018-11-19 10:53] lifubang commented on #2805
because in
 https://github.com/containerd/containerd/blob/master/runtime/v1/linux/runtime.go#L190-L210
exitHandler can be triggered at the same time with `TaskStart`.

[2018-11-19 11:21] lifubang commented on #2805
I  think we may need a synchronization mechanism between TaskStart and TaskDelete.

[2018-11-20 00:57] Random-Liu commented on #2744
Another difference between release/1.1 and release/1.2 is how `KillAll` is handled. Not sure whether it is related https://github.com/containerd/containerd/blob/130d07edd2e003b48709c0f4d8769be2ac164c7c/runtime/v1/shim/service.go#L516

[2018-11-20 15:16] crosbymichael commented on #2805
Closing as #2811 has been merged

[2018-11-20 15:16] #2805 closed

[2018-11-20 18:51] #2719 closed

[2018-11-21 12:10] linxiulei opened #2821 "Support nested namespaces"
**Description**

Is it a good design that if we let namespaces refer to a namespace, in this way we can achieve nested namespace.

Use cases:
1) Two users A (using namespace A) and B (using namespace B) pull their private images separately, the pulling flow would check if images/layers exist from their parent namespace. So that it benefits traffic and storage saving.

2) In k8s cluster, every k8s

[2018-11-21 13:59] jforman commented on #2804
Seems this issue is back. I had to reboot the host containing my k8s VMs (ubuntu cloud images) and now some of the nodes are exhibiting the below behavior, and some aren't. The downstream effect of this is that no pods can start on those nodes. Status shows up as 'unknown'.

Nov 21 13:52:41 deva-controller0 containerd[318]: time="2018-11-21T13:52:41.905343973Z" level=error msg="RunPodSandbox for &

[2018-11-21 14:43] Ace-Tang opened #2822 "Proposal: support checkpoint/restore without image releated"
**Description**

## Goal

Support checkpoint/restore without committing a checkpoint dir into a checkpoint image.

## Use case

Our production provide a capacity that can running a process in millisecond level, we choose criu. First, we prepare a process, running a container and run the process we need, then we chechkpoint the container to keep the process memory status in checkpoint directory, co

[2018-11-21 15:31] crosbymichael commented on #2822
cc @ehazlett

[2018-11-21 15:47] crosbymichael commented on #2785
The 0.2.x branch is phased out and Docker and other containerd consumers are using the 1.1 or 1.2 releases of containerd.  I would highly recommend updating your docker version or version being used if you can.

[2018-11-21 16:05] #1355 closed

[2018-11-21 16:05] #1356 closed

[2018-11-21 16:05] #1359 closed

[2018-11-21 16:06] crosbymichael commented on #1218
This is done

[2018-11-21 16:06] #1218 closed

[2018-11-21 16:06] crosbymichael commented on #1191
This has been fixed

[2018-11-21 16:06] #1191 closed

[2018-11-21 16:10] #2299 closed

[2018-11-21 17:55] mikebrow commented on #2804
Is this a controller node or a worker node? Each worker node, where the pods will be run, should have a different pod CIDR range. ks the hard way shows setting up the control plane for high availability.

[2018-11-21 18:04] ehazlett commented on #2822
I think this sounds reasonable.  👍

[2018-11-21 19:08] jforman commented on #2804
Hi @mikebrow , both controller and worker nodes seem to exhibit the behavior. Note that not ALL of the nodes of each type exhibit it, but only some. To answer your question, I am running pods on both the controller and worker nodes, though I have a taint on the controller nodes that only some pods (kube-router for example) will schedule and run on there.

In terms of having pod CIDRs for each node

[2018-11-21 19:35] Random-Liu commented on #2804
@jforman Can you go to one of the bad node, and run `crictl info`? The `cni` setting there will be useful.

And the `range set 0 overlaps with 1` error comes from CNI IPAM plugin https://github.com/containernetworking/plugins/blob/696b1f9ab1022c34e1514e0e29bf84bb9179899f/plugins/ipam/host-local/backend/allocator/config.go#L151.

Somehow, your containerd seems to be using a different cni config. Do

[2018-11-21 19:54] jforman commented on #2804
Well this is obviously not good (though I will say, I ran that same command on another node and it also returned the same error).

[code]

I restarted containerd on one of the affected nodes (deva-controller1) , but that does not seem to resolve the issue.

[2018-11-21 19:56] Random-Liu commented on #2804
@jforman You need "sudo".

[2018-11-21 22:16] jterry75 commented on #2469
Do we actually need this? Currently we just fork the apply/diff code for Windows based builds to handle this and it is working fine. Am I missing something here?

[2018-11-21 22:17] jterry75 commented on #1927
All of these have been completed. Closing out.

[2018-11-21 22:17] jterry75 commented on #1927
Turns out I cant lol. @crosbymichael - Can you close this

[2018-11-21 22:20] jterry75 commented on #1763
@estesp - Can you assign this to me so I can track it. I will get this ported to the main containerd daemon as I did the work for the shim. Should be easy.

[2018-11-21 22:21] jterry75 commented on #1681
@jhowardmsft - Who is working on this. @crosbymichael - Can you assign me or John for tracking.

[2018-11-21 22:21] darstahl commented on #1927
Got it!

[2018-11-21 22:21] #1927 closed

[2018-11-21 22:30] dmcgowan commented on #1678
Let's close

[2018-11-21 22:30] #1678 closed

[2018-11-21 22:30] jterry75 commented on #1927
@darstahl - Thanks Darren!

[2018-11-21 22:31] #1421 closed

[2018-11-21 22:33] dmcgowan commented on #1681
I'm going to milestone this one for tracking, I can assign you as well. Is this still a requirement for Windows or did we already take care of this by calling out to runhcs?

[2018-11-21 22:35] jterry75 commented on #1681
No Tar extraction still takes place in Containerd by using hcsshim directly. @jhowardmsft  is working on an extension to runhcs will make this work though

[2018-11-21 22:51] jforman commented on #2804
@Random-Liu I dont have a /etc/crictl.yaml.

The only configuration I have is a config.toml, referenced as the value to the --config param to /bin/containerd

[code]
This is interesting, even though the containerd.sock exists, there is no output with your command:
[code]

[2018-11-21 22:53] Random-Liu commented on #2804
`crictl config runtime-endpoint unix:///var/run/containerd/containerd.sock` is only to configure the endpoint. Now you should have `/etc/crictl.yaml` correctly configured, and `sudo crictl info` should work.

[2018-11-21 22:58] jforman commented on #2804
@Random-Liu  Ah okay, my misunderstanding.

[code]

crictl info output:
[code]

Is this expected to have info on my pod CIDR?

[2018-11-21 23:38] tonistiigi commented on #2469
@jterry75 This issue is not only about windows support but making apply/diff work correctly in cross-platform cases where they don't really comply with the spec. For example, with this patched in buildkit(linked issue) it enables cross-compiled builds from linux that create windows container image. example: https://asciinema.org/a/GYOx4B88r272HWrLTyFwo156s

I'm pretty sure that there are still iss

[2018-11-21 23:55] Random-Liu commented on #2804
Your CNI config is wrong. Remove `"ranges":[[{"subnet":"10.244.0.0/24"}]]`, and it will work.

Where did you get the CNI config?

Look at [this line](https://github.com/containernetworking/plugins/blob/696b1f9ab1022c34e1514e0e29bf84bb9179899f/plugins/ipam/host-local/backend/allocator/config.go#L109), the `subnet` field and `ranges` field are merged, and then [check overlap](https://github.com/cont

[2018-11-22 00:04] mikebrow commented on #2804
he probably got the cni config from here:
https://github.com/kelseyhightower/kubernetes-the-hard-way/blob/master/docs/09-bootstrapping-kubernetes-workers.md#configure-cni-networking

[2018-11-22 00:05] Random-Liu commented on #2804
https://github.com/kelseyhightower/kubernetes-the-hard-way/blob/master/docs/09-bootstrapping-kubernetes-workers.md#configure-cni-networking

That one is correct. :)

[2018-11-22 00:11] mikebrow commented on #2804
silly unformatted I missed that subnet with the same CIDR was used twice...

[code]

[2018-11-22 00:13] #2804 closed

[2018-11-22 00:17] mikebrow commented on #2804
there should be a tool to create these cni configs

[2018-11-22 00:29] jforman commented on #2804
@Random-Liu I wrote the deployment tool myself (essentially a python wrapper around kelsey's steps):

Step that rsync's my locally generated file: https://github.com/jforman/kubify/blob/master/kubify.py#L1051

Which is just an rsync of the file I pasted above to /etc/cni/net.d/10-bridge.conf

[2018-11-22 00:37] mikebrow commented on #2804
random thought here did you update to a new docker on these broken machines.. wondering if they might be overlaying cni config when they package install containerd.io along with the docker install package.

[2018-11-22 00:42] jforman commented on #2804
If any package got installed/upgraded, it was automatic (as part of some cron job) and not anything I did purposely. I'm going to dig into this more, and see if I can find anything consistent that about those broken machines.

[2018-11-22 00:53] mikebrow commented on #2804
docker version 18.09.0 includes containerd.io package.. is the only thing I can think of that might be messing around with the CNI config..

[2018-11-22 02:56] jforman commented on #2804
For completeness, and curiosity's sake, I updated my CNI bridge config to match the 0.3.1 spec (https://github.com/containernetworking/cni/blob/spec-v0.3.1/SPEC.md) as opposed to what was mentioned in kelsey's hard way doc, and containerd now seems happy with it. A redeploy of the following config (with cidr's changed per node), and a restart of the node now shows all the pods Running!

For those

[2018-11-22 10:12] jodh-intel opened #2824 "containerd no longer calls kill and delete when user initiates container shutdown"
**Description**

containerd 1.2.0 changed its behaviour when stopping a running container where the shutdown is initiated by the user (by exiting the workload shell).

**Steps to reproduce the issue:**

Enviroment: docker 18.09 and containerd 1.2.0

1. Create a container:
[code]
2. User-initiated shutdown:
[code]

**Describe the results you received:**

1. `containerd` did not call `kata-runtime k

[2018-11-22 10:17] AkihiroSuda commented on #2246
I suppose this is closable now: https://github.com/containerd/containerd/blob/master/docs/rootless.md

[2018-11-22 10:17] #2246 closed

[2018-11-23 18:38] mikebrow opened #2827 "Windows run with isolation option shown for run command on linux"
Version:  v1.2.0-39-g130d07e

ctr shows --isolated option on linux build, but the option is only implemented for windows.

[2018-11-23 23:37] jterry75 commented on #2827
@mikebrow - I will fix this

[2018-11-25 06:16] hoshsadiq opened #2831 "ctr unable to find mounting location"
**Description**
I am unable to use ctr with a `--mount` flag. It continually fails saying `no such device` (in general it's got a very cryptic message) and fails.

**Steps to reproduce the issue:**
1. run ctr with `--mount type=bind,src=$PWD,dst=/context` flag within a working dir. In my case (below) I am trying to run Google's kaniko image.

**Describe the results you received:**
[code]

**Descri

[2018-11-25 14:58] lifubang commented on #2831
Oh, it is because you lost the `options` flag.
[code]
You should input like this:
[code]

Tomorrow I'll open a PR to check this.

[2018-11-25 15:32] hoshsadiq commented on #2831
Ah! My bad! Thanks!

[2018-11-26 09:33] fuweid opened #2835 "[windows] Flaky testcase in Appveyor CI"
**Description**

I see that one case related to content store failed because the test binary removes the file which hold by containerd process.

[code]

The case will [close](https://github.com/containerd/containerd/blob/master/content/testsuite/testsuite.go#L484) the grpc stream. However, the content service doesn't close file descriptor synchronously. Before the file is closed, the cleanup will

[2018-11-27 15:44] #2606 closed

[2018-11-28 11:38] #1763 closed

[2018-11-28 18:36] #2827 closed

[2018-11-29 02:12] fuweid opened #2840 "cannot fetch manifest by Docker-Content-Digest during pull"
**Description**

The `ctr` pulls some internal image, like

[code]

The resolver can fetch the manifest description by `https://acs-reg.alipay.com/v2/acs/networkplugins/manifests/2.0.0-243ddfb`. But it failed to fetch data by the manifest digest value. Is it the bug in registry?

[code]

**Steps to reproduce the issue:**

internal image, no open.

**Describe the results you received:**

failed to

[2018-11-29 06:12] dmcgowan commented on #2840
This is an issue with the `Accept` header. In containerd we moved to a single `Accept` header with comma separated values as defined by HTTP https://www.w3.org/Protocols/rfc2616/rfc2616-sec14.html while Docker used multiple Accept headers, one per media type. There were a few registries that needed to be fixed to properly support the header, but I am unaware of which version of the open source reg

[2018-11-29 06:16] dmcgowan commented on #2840
Looks like this was fixed in https://github.com/docker/distribution/pull/1782 which means registry 2.4 and earlier could run into this issue.

[2018-11-29 19:30] erulabs commented on #2406
Hello! I've made an attempt to get C/R working with Moby's master branch and containerd 1.2.0 - My work is here https://github.com/erulabs/docker-ce/tree/custom-checkpointDir and there is a discussion here https://github.com/moby/moby/issues/37344

So far checkpointing into the custom directory works well, but restoring fails (it seems like the container is reaped immediately after being created?)

[2018-11-30 02:14] fuweid commented on #2835
ping @jterry75 ~

[2018-11-30 17:23] Wayne-H-Ha opened #2850 "The gosec tool found issues in containerd pulled in by garden-runc-release-1.17.1"
Is it OK if the gosec tool is flagging the following 3 new high severity, medium confidence issues with details:

Use of weak random number generator (math/rand instead of crypto/rand)

[code]

[2018-12-01 04:39] jterry75 commented on #2835
I'm not sure what you are even asking to be honest. Is this test failing consistently or are you saying there is a race condition here?

[2018-12-01 06:13] fuweid commented on #2835
The case closes the grpc stream call. it doesn't mean that the file has been closed immediately. The cleanup action of case will call the `Abort` to remove the file. If the containerd doesn't close the file before remove, the case will fail by `The process cannot access the file because it is being used by another process`. I think it is OK. But the weird thing is that it only comes up in the wind

[2018-12-03 15:32] sboeuf commented on #2824
https://github.com/kata-containers/runtime/issues/926 has been fixed, this issue can be closed now.

[2018-12-03 15:36] estesp commented on #2824
Thanks @sboeuf

[2018-12-03 15:36] #2824 closed

[2018-12-03 19:59] ivan4th commented on #2744
Managed to make the following test case which doesn't require k8s setup for testing:

[code]

Tested on ```
root@ubuntu-vm:~# containerd --version
containerd github.com/containerd/containerd v1.2.1-rc.0 de1f167ab96338a9f5c2b17347abf84bdf1dd411
[code]

[2018-12-03 20:44] ivan4th commented on #2744
Confirming, `crictl stop` in the above script (`c stop`) hangs on 1.2.0-rc.0 but *not* on 1.1.5.
Full test setup for a blank ubuntu 16.04 VM, just in case:
[code]

[2018-12-03 20:48] mikebrow commented on #2744
check this out (ubuntu 16.04):
[code]